<div id="searchsuite-autocomplete" class="searchsuite-autocomplete search__panel js-panelAutocomplete 111111"
     data-bind="visible: showPopup()">

    <div data-bind="visible: anyResultCount()">
        <div class="suggest" data-bind="visible: result.suggest.data().length > 0">
            <ul id="suggest" class="search__list" role="listbox" data-bind="foreach: result.suggest.data">
                <li class="search__item">
                    <a data-bind="attr: { href: url, title: title }, text: title" class="search__link"></a>
                </li>
            </ul>
            <div class="suggest" data-bind="visible: result.product.data().length > 0">
                <h4 class="suggest__title"><!-- ko i18n: 'Te sugerimos'--><!-- /ko --></h4>
                <ul class="suggest__list" id="product" role="listbox" data-bind="foreach: result.product.data">
                    <!--ul id="product" role="listbox" data-bind="foreach: result.product.data"-->
                    <article class="product">
                        <figure class="product__photo" data-bind="visible: image">
                            <a data-bind="attr: { href: url, title: name }" class="product__action">
                                <img class="product__img" data-bind="attr: { src: image, title: name }"/>
                            </a>
                        </figure>
                        <div data-bind="css: {noimage: !image}">
                            <h4 class="product__name" data-bind="visible: name">
                                <a data-bind="attr: { href: url, title: name }, text: name"></a>
                            </h4>
                            <p class="product__prices" data-bind="html: price, visible: price"></p>
                        </div>
                    </article>
                </ul>
            </div>
        </div>

    </div>
</div>