
<?php
$blockObj = $block->getLayout()->createBlock('Vass\Reportes\Block\Main');
$_orders = $blockObj->getOrders();
$totalRecords = $blockObj->getTotalRecords();
$pageSize = $blockObj->getPageSize();
$page = $blockObj->getPageCurrent();
$totalPages = $blockObj->getTotalPages();
?>
<div class="row" >
    <div class="col-xs-3">
        <input class="admin__control-text data-grid-search-control" type="text" id="fulltext" placeholder="Search by keyword">
    </div>
</div>
<div class="row" >
    <div class="col-xs-3">
        <div class="admin__control-support-text">
            <?php echo $totalRecords; ?><span> records found</span>
        </div>
    </div>
    <style>
        .action-goTo { }
    </style>
    <div class="col-xs-9">
        <div class="admin__data-grid-pager-wrap">
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    jQuery('.action-goTo').click(function () {
                        var pageGoTo = jQuery(this).attr('goToPage');
                        var searchParams = window.location.href.split('/');
                        var indice = searchParams.indexOf('page');
                        if (indice >= 0) {
                            indice = indice + 1;
                        } else {
                            var tam = searchParams.length;
                            if (searchParams[tam - 1] == '') {
                                searchParams[tam - 1] = 'page';
                            } else {
                                searchParams[tam] = 'page';
                            }
                            indice = searchParams.length;
                        }
                        searchParams[indice] = pageGoTo;
                        window.location.href = searchParams.join('/');
                    });
                    jQuery('#page48').change(function () {
                        var pageGoTo = jQuery('#page48').val();
                        var searchParams = window.location.href.split('/');
                        var indice = searchParams.indexOf('page');
                        if (indice >= 0) {
                            indice = indice + 1;
                        } else {
                            var tam = searchParams.length;
                            if (searchParams[tam - 1] == '') {
                                searchParams[tam - 1] = 'page';
                            } else {
                                searchParams[tam] = 'page';
                            }
                            indice = searchParams.length;
                        }
                        searchParams[indice] = pageGoTo;
                        window.location.href = searchParams.join('/');
                    });
                    jQuery('#fulltext').change(function () {
                        var pageGoTo = jQuery('#fulltext').val();
                        var searchParams = window.location.href.split('/');
                        var indice = searchParams.indexOf('search');
                        if (indice >= 0) {
                            indice = indice + 1;
                        } else {
                            var tam = searchParams.length;
                            if (searchParams[tam - 1] == '') {
                                searchParams[tam - 1] = 'search';
                            } else {
                                searchParams[tam] = 'search';
                            }
                            indice = searchParams.length;
                        }
                        searchParams[indice] = pageGoTo;
                        window.location.href = searchParams.join('/');
                    });
                    jQuery('.selectmenu-item').click(function () {
                        var pageSizeWeb = jQuery(this).text();
                        pageSizeWeb = pageSizeWeb.trim();
                        jQuery('#sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes').val(pageSizeWeb);
                        var searchParams = window.location.href.split('/');
                        var indice = searchParams.indexOf('limit');
                        if (indice >= 0) {
                            indice = indice + 1;
                        } else {
                            var tam = searchParams.length;
                            if (searchParams[tam - 1] == '') {
                                searchParams[tam - 1] = 'limit';
                            } else {
                                searchParams[tam] = 'limit';
                            }
                            indice = searchParams.length;
                        }
                        searchParams[indice] = pageSizeWeb;
                        window.location.href = searchParams.join('/');
                    });
                });
            </script>

            <div class="selectmenu" data-bind="collapsible">
                <div class="selectmenu-value" data-bind="openCollapsible">
                    <input type="text"  id="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes" value="<?php echo $pageSize; ?>" >
                </div>
                <button class="selectmenu-toggle" type="button" data-bind="css: {_active: $collapsible.opened}, toggleCollapsible">
                    <span data-bind="i18n: 'Select'">Select</span>
                </button>
                <div class="selectmenu-items" data-bind="css: {_active: $collapsible.opened}">
                    <ul>
                        <li  data-repeat-index="0">
                            <div class="selectmenu-item">
                                <button class="selectmenu-item-action" type="button" >20</button>
                            </div>
                        </li><li  data-repeat-index="1">
                            <div class="selectmenu-item">
                                <button class="selectmenu-item-action" type="button" >30</button>
                            </div>
                        </li><li  data-repeat-index="2">
                            <div class="selectmenu-item">
                                <button class="selectmenu-item-action" type="button" >50</button>
                            </div>
                        </li><li  data-repeat-index="3">
                            <div class="selectmenu-item">
                                <button class="selectmenu-item-action" type="button" >100</button>
                            </div>
                        </li><li  data-repeat-index="4">
                            <div class="selectmenu-item">
                                <button class="selectmenu-item-action" type="button" >200</button>
                            </div>
                    </ul>
                </div>
            </div>
            <label class="admin__control-support-text" for="sales_order_grid.sales_order_grid.listing_top.listing_paging_sizes">per page</label>
            <div class="admin__data-grid-pager">
                <button class="action-previous action-goTo" type="button" title="Previous Page" <?php if ($page == 1): echo "disabled";
            endif; ?> goToPage="<?php echo ($page - 1); ?>"></button>
                <input class="admin__control-text" type="number" id="page48" value="<?php if ($page <= $totalPages) echo $page;
            else echo $totalPages ?>">
                <label class="admin__control-support-text" for="page48"> of <?= $totalPages; ?></label>
                <button class="action-next action-goTo" type="button"  title="Next Page" <?php if ($page >= $totalPages): echo "disabled";
            endif; ?> goToPage="<?php echo ($page + 1); ?>"></button>
            </div>

        </div>
    </div>
</div>
<div class="admin__data-grid-wrap" data-role="sticky-el-root">
    <table class="data-grid data-grid-draggable" style="width: 1530px; transform: translate(0px, 0px);">
        <thead>
            <tr>
                <th class="data-grid-th _sortable _draggable" width="111">
                    <span class="data-grid-cell-content" >ID</span>
                </th>
                <th class="data-grid-th _draggable"  width="173">
                    <span class="data-grid-cell-content" >Shipping Address</span>
                </th>
                <th class="data-grid-th _sortable _draggable"  width="198">
                    <span class="data-grid-cell-content" >Purchase Date</span>
                </th>
                <th class="data-grid-th _sortable _draggable"  width="211">
                    <span class="data-grid-cell-content" >Shipping Name</span>
                </th>
                <th class="data-grid-th _sortable _draggable" width="159">
                    <span class="data-grid-cell-content" >Grand Total (Base)</span>
                </th>
                <th class="data-grid-th _sortable _draggable" width="200">
                    <span class="data-grid-cell-content" >Grand Total (Purchased)</span>
                </th>
                <th class="data-grid-th _sortable _draggable"  width="143">
                    <span class="data-grid-cell-content" >Status</span>
                </th>
                <th class="data-grid-th"  width="70">
                    <span class="data-grid-cell-content" >Action</span>
                </th>
            </tr>
        </thead>
        <tbody>
                        <?php foreach ($_orders as $_order): ?>
                <tr class="data-row" data-repeat-index="4">
                    <td>
                        <div class="data-grid-cell-content" >
                            <?php echo $_order['increment_id']; ?>
                        </div>
                    </td><td >
                        <div class="data-grid-cell-content" >
                            <?php echo $_order['address']; ?>
                        </div>
                    </td><td >
                        <div class="data-grid-cell-content" >
                            <?php echo $_order['purchase_date']; ?>
                        </div>
                    </td><td >
                        <div class="data-grid-cell-content" >
                            <?php echo $_order['shipping_name']; ?>
                        </div>
                    </td><td >
                        <div class="data-grid-cell-content" >
                            $<?php echo $_order['grand_total']; ?>
                        </div>
                    </td><td >
                        <div class="data-grid-cell-content" >
                            $<?php echo $_order['grand_total']; ?>
                        </div>
                    </td><td >
                        <div class="data-grid-cell-content" >
    <?php echo $_order['status']; ?>
                        </div>
                    </td>
                    <td  class="data-grid-actions-cell">
                        <a class="action-menu-item" data-repeat-index="0" target="_self" href="<?= $block->getUrl('sales/order/view/'); ?>order_id/<?php echo $_order['order_id']; ?>">View</a>
                    </td>
                </tr>
<?php endforeach; ?>
        </tbody>
    </table>
</div>
