<?php
    $blockPlanes = $block->getLayout()->createBlock('Vass\PosCar\Block\Index');
    $blockTerminales = $block->getLayout()->createBlock('Entrepids\Renewals\Block\Product\Terminales');
    $arrProduct = $blockTerminales->getDataProduct();


    $mesesSinIntereses = 'No';
    $minimumCostMsi = 0;
    $idTerminal = 0;
    $idPlanes = 0;
    $idServicios = array();

    $terminales = 0;
    $planes = 0;

    $totalMensualTerminal = 0;
    $validaTerminales = 0;
    $validaPlanes = 0;
    $idTerminal = '';
    // PATH URLS
    $link_wysiwyg = $this->getUrl('pub/media/wysiwyg/');
    $link_recortes = $link_wysiwyg."recortes/";
    //
    $catalog_product = $this->getUrl('pub/media/catalog/');
    $catalog_product  = $catalog_product.'product';
    // Planes
    $img_sim = $link_recortes.'thumb-sim.png';
    
    for($i=0;$i<count($arrProduct);$i++){
        if(isset($arrProduct[$i]['terminales'])){
            $validaTerminales = 1;
            $idTerminal = $arrProduct[$i]['terminales'];
        }
        if(isset($arrProduct[$i]['planes'])){
            $validaPlanes = 1;
            $idPlanes = $arrProduct[$i]['planes'];
        }
        if(isset($arrProduct[$i]['servicios'])){
            $idServicios[] = $arrProduct[$i]['servicios'];
        }
    }
    $totalMensual = 0;
    $totalPagar = 0;
    $totalMensualidad = 0;

    $planes = $blockTerminales->getDataTerminales($idPlanes);
    if($validaTerminales){
        $terminales = $blockTerminales->getProduct($idTerminal);
        //$totalMensual += $terminales->getPrecioPlan();
        //$totalMensual += $terminales->getPrice() / 48;
        $totalMensualTerminal = ($terminales->getPrice() / 24); //($terminales->getPrice()/2) / 24;
        $totalPagar = 0; //+= $terminales->getPrice();

        //Meses sin intereses
        $totalTerminalHalf = $terminales->getPrice() / 2;
        $minimumCostMsi = $blockTerminales->getMinimumCostMsi();

        if( $blockTerminales->isMsiEnabled() ) $mesesSinIntereses =  (string) $terminales->getResource()->getAttribute('meses_sin_intereses')->getFrontend()->getValue($terminales);        
    }
    
    //$totalPagar += $planes->getPrice();
    $cmPlan = $planes->getPrice();
    $totalPagar = 0; //($totalPagar / 2) + $cmPlan;
    $planNombre = $planes->getName();    
    if($validaTerminales){
        $totalMensualidad = ($terminales->getPrice())/24 + $cmPlan;
    }
    
    $urlCambiarPlan = 'renovaciones/plan/servicio';
?>
<?php if($validaTerminales): ?>
<section class="layout_section">
    <div class="layout_inner">
        <header class="data__header-full">
            <h2 class="title_head"><?= __('Resumen de tu Plan'); ?></h2>
        </header>
        <div class="data">
            <section class="data__table">
                <div class="data__pullquote">
                    <h2 class="data__title">Smartphone</h2>
                    <small class="data__txt-small">Cargo mensual</small>
                </div>
                <!-- sección de Equipo-->
                <div class="data-section" id="section-equipo">
                    <?php if($validaTerminales){
                        // Caracteristicas del Terminal
                        $capacidad = $blockPlanes->getAttributeId($terminales->getCapacidad());
                        $color = $blockPlanes->getAttributeId($terminales->getColor());
                        ?>
                        <!-- Aside con imagen de terminal-->
                        <div class="data-section__aside"><img class="data-section__img" src="<?=$catalog_product.$terminales->getImage()?>" alt="Telefono"></div>
                        <!-- Contenido detallado de terminal-->
                        <div class="data-section__detail">
                            <div class="data-section__item">
                                <h3 class="data__title"><?=$terminales->getName()?></h3>
                                <ul class="data__group">
                                    <li class="list-thumb__boll data__thumb" style="background: <?=$color?>; color: aliceblue; -webkit-text-stroke-width: 0.6px; -webkit-text-stroke-color:black;">&nbsp;</li>
                                    <li class="list-thumb__boll data__thumb_brand"><?=$capacidad?></li>
                                </ul>
                            </div>
                            <div class="data-section__slice data-section__slice5">
                                <dl class="data-section__subitem">
                                    <dt class="data__txt-small">Cargo mensual </dt>
                                    <dd class="data__txt-big">
                                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(($terminales->getPrice())/24,true,false); ?>
                                    </dd>
                                </dl>
                            </div>
                            <div class="data-section__item"><a class="link link__brand cambiar_equipo" href="<?=$this->getUrl('terminales.html')?>" title="Cambiar equipo">Cambiar equipo</a></div>
                            <!-- <div class="data-section__item data-section__item_right"><a class="link link__brand" href="https://www.movistar.com.mx/web/guest/tienda/terminos" title="Términos y condiciones" target="_blank">Términos y condiciones</a>
                                <p class="data__txt">* Estos precios se actualizarán una vez realizada tu consulta de crédito</p>
                            </div> -->
                        </div>
                    <?php } ?>
                </div>
                <!-- Bloque Principal #2-->
                <div class="data__pullquote">
                    <h2 class="data__title">Planes</h2>
                </div>
                <!-- sección de Sim-->
                <div class="data-section data-section_wrap js-dataSectionParent">
                    <!-- Aside de Sim [#1]-->
                    <div class="data-section__aside">
                        <img class="data-section__img" src="<?=$img_sim?>" alt="Sim">
                        <!-- <a class="link link__brand" href="#" title="Eliminar">Eliminar</a> -->
                    </div>
                    <!-- Contenido detallado de SIM [#2]-->
                    <div class="data-section__detail data-section__underline">
                        <!-- Subitem #1-->
                        <div class="data-section__item">
                            <h3 class="data__title"><?=$planNombre?></h3>
                            <p class="data__txt"><?=$planes->getMovistarCloudPlan()?></p>
                        </div>
                        <!-- Subitem #2-->
                        <div class="data-section__slice data-section__slice5">
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small">Cargo mensual</dt>
                                <dd class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($planes->getPrice(),true,false); ?></dd>
                            </dl>
                        </div>
                    </div>
                    <!-- Subitem #4 [#3]-->
                    <div class="data-section_item js-dataItem data-section__underline">
                        <div class="data__tab js-dataTab">
                            <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button" style="border-bottom: none !important;">Ver detalle de plan</button>
                            <!-- Ej: ul.data__show.js-dataShow-->
                            <ul class="data__show js-dataCont">
                                <?php if($planes->getMinustosMexicoEuYCanadaIl()): ?>
                                    <li class="data__txt i-chat-comic">
                                        Minutos y SMS ilimitados a México, Estados Unidos y Canadá
                                    </li>
                                <?php endif; ?>
                                <?php
                                //$gb = (int)$planes->getMovistarCloudPlan();
                                //$gb = $gb * 1000;
                                $gb = $planes->getGigas();
                                ?>
                                <?php if($gb):?>
                                <li class="data__txt i-wifi"><?=$gb?></li>
                                <?php endif; ?>
                                <?php if($planes->getRedesSocialesIlimitadas()):?>
                                    <li class="data__txt i-chat">Redes sociales Ilimitadas</li>
                                <?php endif;?>
                                <?php if($planes->getRoamingText() != ""):?>
                                    <li class="data__txt i-cell-world"><?= $planes->getRoamingText(); ?></li>
                                <?php endif;?>
                            </ul>
                        </div><a class="link link__brand" href="<?=$this->getUrl($urlCambiarPlan)?>" title="Cambiar plan">Cambiar plan</a>
                    </div>
                    <!-- Subitem #5 [#4]-->
                    <div class="data-section_item js-dataItem">
                        <!-- Ej:  .data__tab.js-dataWidth-->
                        <div class="data__tab js-dataTab">
                            <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button" style="border-bottom: none !important;">Ver Servicios adicionales</button>
                            <!--Ej:  .data__show.js-dataShow-->
                            <div class="data__show js-dataCont">


                                <?php
                                $precioPlan = 0;
                                $precio = 0;


                                for($i=0;$i<count($idServicios);$i++){
                                    $servicios = $blockTerminales->getDataTerminales($idServicios[$i]);

                                    if(!$servicios->getObligatorio()){
                                        $precioPlan += 0;//$servicios[$i]['precio_plan'];
                                        $totalMensualidad +=  $servicios->getPrice(); //$servicios[$i]['precio_plan'];
                                        $precio += $servicios->getPrice();
                                    }
                                    if($servicios->getObligatorio()){ ?>
                                        <ul class="data__row data__row5"> 
                                            <li class="data__order-brand"><img class="data__order-img" src="<?php echo $link_recortes.$servicios->getUrlImagenServicio(); ?>" alt="Blim"></li>
                                            <li class="data-section__slice data-section__slice5">
                                                <p class="data__txt_tall">Incluido en tu plan</p>
                                            </li>
                                        </ul>
                                    <?php }else{

                                        if($servicios->getUrlImagenServicio()=='icon'){ ?>
                                            <ul class="data__row data__row5">
                                                <li class="data__ico  data__ico5 i-padlock new__size">
                                                    <!--<br>
                                                    <?=$servicios->getName()?>-->
                                                    <h6 class="service service6"><?=$servicios->getName()?></h6>
                                                    <button class="link link__brand eliminar-servicio" data-price="<?=$servicios->getPrice()?>" title="<?=$servicios->getEntityId()?>" data-sku="<?=$servicios->getSku()?>" type="button">Eliminar</button>
                                                </li>
                                                <li class="data-section__slice data-section__slice5">
                                        <span class="data-section__subitem">
                                            <span class="data__txt-big" data-price="<?= $servicios->getPrice() ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($servicios->getPrice(),true,false); ?></span>
                                        </span>
                                                </li>
                                            </ul>
                                        <?php }else{ ?>
                                            <ul class="data__row data__row5">
                                                <li class="data__order-brand">
                                                    <img class="data__order-img" src="<?php echo $link_recortes.$servicios->getUrlImagenServicio(); ?>" alt="Spotify">
                                                    <h6 class="service service5"><?=$servicios->getName()?></h6>
                                                    <button class="link link__brand eliminar-servicio" data-price="<?=$servicios->getPrice()?>" title="<?=$servicios->getEntityId()?>" data-sku="<?=$servicios->getSku()?>" type="button">Eliminar</button>
                                                </li>
                                                <li class="data-section__slice data-section__slice5">
                                          <span class="data-section__subitem">
                                              <span class="data__txt-big" data-price="<?= $servicios->getPrice() ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($servicios->getPrice(),true,false); ?></span>
                                          </span>
                                                </li>
                                            </ul>
                                        <?php } ?>
                                    <?php }
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php
                        if($validaTerminales){
                            $precioTerminal = $terminales->getPrice();
                            $totalMensual += $precio + $cmPlan;
                            $totalMensual = $totalMensual + ($precioTerminal/2/24);
                            $totalPagar = 0; //$precioTerminal/2;
                        }else{
                            $totalMensual += $precio + $cmPlan;
                        }
                    ?>
                    <!-- Subitem #6 [#5]-->
                    <!--Ej:   ul.data-section__slice data-section__slice5.data-section__slice data-section__slice5_full.js-dataRowShow-->
                    <div class="data-section_item-sm">
                        <ul class="data-section__slice js-dataSlice">
                            <li class="data-section__subitem data__txt-big" id="total-cargos-mensuales" data-price="<?=$totalMensualidad?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalMensualidad,true,false); ?></li>
                        </ul>
                    </div>
                </div>
                <!-- Bloque Principal #3-->
                <div class="data__pullquote">
                    <h2 class="data__title">Envío</h2>
                </div>
                <!-- Sección de envío-->
                <div class="data-section__excerpt"><span class="data__txt-big">Gratis</span>
                    <div class="data-section_item">
                        <p class="data__txt_bold">El costo del envío va por nuestra cuenta. Recibirás tu compra en un periodo de 48 a 72 hrs. después de que tu orden sea recibida.</p>
                    </div>
                </div>
                <div class="data__tab js-dataTab envios">
                    <button class="data__btn data__btn_inline i-a-arrow-down data__txt_bold js-dataSectionBtn no-underline" type="button">Ver tiempo de entrega</button>
                    <div class="data__show js-dataCont">
                      <p class="data__txt">La entrega del celular se puede envíar a domicilio o CAC. Los celulares premium se podrán entregar únicamente en ciertas ciudades a domicilio, para el resto del país la entrega se realizará en CACs.</p>
                      <table class="table-section">
                        <thead class="table-section__head">
                          <tr class="table-section__row">
                            <th class="table-section__head-item">Ciudades</th>
                            <th class="table-section__head-item">Velocidad de envío</th>
                            <th class="table-section__head-item">Tarifa</th>
                          </tr>
                        </thead>
                        <tbody class="table-section__content">
                          <tr class="table-section__row">
                            <td class="table-section__cell table-section__cell5">CDMX y área metropolitana</td>
                            <td class="table-section__cell table-section__cell5">Max. 48 hrs.</td>
                            <td class="table-section__cell table-section__cell5">Gratis</td>
                          </tr>
                          <tr class="table-section__row">
                            <td class="table-section__cell table-section__cell5">Ciudades principales foráneas (capitales)</td>
                            <td class="table-section__cell table-section__cell5">Max. 72 hrs.</td>
                            <td class="table-section__cell table-section__cell5">Gratis</td>
                          </tr>
                          <tr class="table-section__row">
                            <td class="table-section__cell table-section__cell5">Cobertura extendida</td>
                            <td class="table-section__cell table-section__cell5">Max. 7 días</td>
                            <td class="table-section__cell table-section__cell5">Gratis</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </section>
            <div class="data-aside js-asideFixed data-aside__sticky">
                <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
                    <span class="data__total" id="total-mobile" data-price="<?=$totalPagar?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?></span>
                    <span class="data-aside__txt-high">Total</span>
                </button>
                <div class="data-aside__wrap">
                    <div class="data-aside__content">
                        <div class="data__header">
                            <h2 class="data__title"><?= __('Resumen de tu compra'); ?></h2>
                            <span class="steps__head">
                                <small class="head__title head__title__summary steps__title4"><?= sprintf(__('Tu número a renovar: %s'),$block->getDN()); ?></small>
                            </span>
                        </div>
                        <dl class="data__list data__sub-summary">
                            <dt class="data__term"><?= __('Tu mensualidad') ?></dt>
                            <dd class="data__total" id="total-resumen-mensual" data-price="<?=$totalMensualidad?>">
                                <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalMensualidad,true,false)?><sup>*</sup>
                            </dd>
                        </dl>
                        <dl class="data__list data__summary">
                            <dt class="data__term">Total a pagar hoy</dt>
                            <dd class="data__total" id="total-resumen" data-price="<?=$totalPagar?>">
                                <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false)?>
                            </dd>
                        </dl>
                        <div class="data-aside__row data-aside__foot">
                            <button class="data-aside__link btn" type="button" onClick="location.href = '<?=$this->getUrl('renovaciones/checkout/index')?>'">Continuar con mi compra</button>
                        </div>
                    </div>
                    <div class="data__inner">
                        <!-- Hotfix INTPOSP-600 resuelto -->
                        <?php $tyc_url = $planes->getPlanTycUrl(); ?>
                        <?php if ($tyc_url) : ?>
                        <!--<p style="text-align: left; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;"><a href="<?php echo $block->escapeUrl($tyc_url); ?>" target="_blank">Ver Términos y Condiciones</a></p>-->
                        
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('term.cond.cart')->toHtml();?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="data__info">
            <p class="data__label">Protegemos tu compra</p><img class="data__info-img" src="<?=$link_recortes.'logos-compra_segura.png'?>" alt="">
        </div>
    </div>
</section>
<?php else: ?>
<section class="layout_section">
    <div class="layout_inner">
        <header class="data__header-full">
            <h2 class="title_head"><?= __('No hay productos en el carrito'); ?></h2>
        </header>
    </div>
</section>
<?php endif; ?>
<div id="res"></div>
<script>

    require([
        'jquery',
        'Magento_Customer/js/customer-data'
    ], function ($) {
        var arrayServicios = [];
        jQuery(window).on('load', function () {
            var products = [];
            var array = [];
            
            <?php $terminal = $block->getProduct($idTerminal);  ?>
            <?php $plan = $block->getProduct($idPlanes);  ?>

            <?php if ($idTerminal != "" || $idTerminal != null) : ?>
                array = {
                    'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                    'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                    'price': '<?php echo round(($terminal->getPrice()/24),2); ?>',            //Precio unitario
                    'brand' : '<?= $block->getLabelValue($terminal, 'marca') ?>',                   //Marca
                    'category': 'Celular',          //Categoría
                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                    'quantity': 1,                  //Cantidad
                    'dimension28':'Tienda Movistar',    //
                    'dimension29':'<?= $block->getLabelValue($terminal, 'color') ?>',
                    'dimension30':'<?= $block->getLabelValue($terminal, 'capacidad') ?>',
                    'dimension47':'Renovación'
                };
                products.push(array);
            <?php endif; ?>

            <?php if ($idPlanes != "" || $idPlanes != null) : ?>
                array = {
                    'name': "<?php echo $plan->getName(); ?>",     //Nombre del producto
                    'id': "<?php echo $plan->getSku(); ?>",                 //SKU
                    'price': '<?php echo $block->formatNumberGTM($plan->getPrice()); ?>',            //Precio unitario
                    'brand' : '<?= $block->getLabelValue($plan, 'marca') ?>',                   //Marca
                    'category': 'Plan',          //Categoría
                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                    'quantity': 1,                  //Cantidad
                    'dimension28':'Tienda Movistar',    //
                    'dimension29':'<?= $block->getLabelValue($plan, 'color') ?>',
                    'dimension30':'<?= $block->getLabelValue($plan, 'capacidad') ?>',
                    'dimension47':'Renovación'
                };
                products.push(array);
            <?php endif; ?>

            <?php
                for ($i=0; $i<count($idServicios); $i++) {
                    $servicio = $block->getProduct($idServicios[$i]);  ?>
                    array = {
                        'name': "<?php echo $servicio->getName(); ?>",     //Nombre del producto
                        'id': "<?php echo $servicio->getSku(); ?>",                 //SKU
                        'price': '<?php echo $block->formatNumberGTM($servicio->getPrice()); ?>',            //Precio unitario
                        'brand' : '<?= $block->getLabelValue($servicio, 'marca') ?>',                   //Marca
                        'category': 'Servicio',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension29':'<?= $block->getLabelValue($servicio, 'color') ?>',
                        'dimension30':'<?= $block->getLabelValue($servicio, 'capacidad') ?>',
                        'dimension47':'Renovación'
                    };

                    arrayRemove = {
                        'name': "<?php echo $servicio->getName(); ?>",     //Nombre del producto
                        'id': "<?php echo $servicio->getSku(); ?>",                 //SKU
                        'price': '<?php echo $block->formatNumberGTM($servicio->getPrice()); ?>',            //Precio unitario
                        'brand' : '<?= $block->getLabelValue($servicio, 'marca') ?>',                   //Marca
                        'category': 'Servicio',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension29':'<?= $block->getLabelValue($servicio, 'color') ?>',
                        'dimension30':'<?= $block->getLabelValue($servicio, 'capacidad') ?>',
                        'dimension47':'Renovación'
                    }
                    products.push(array);
                    arrayServicios.push(arrayRemove);
            <?php } ?>

            dataLayer.push({
                'event':'addToCart',
                'tipoFlujo':'Renovación',
                'ecommerce': {
                    'currencyCode' : 'MXN',
                    'add':{
                        'products':  products
                    }
                }
            });
            
            $('.data__tab.js-dataTab button').click();  
            
            //Eliminar Terminal
            $('.cambiar_equipo').bind('click', function(e){
                dataLayer.push({
                    'event':'removeFromCart',
                    'tipoFlujo':'Renovación',
                    'ecommerce': {
                        'remove':{
                            'products': {
                                'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                                'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                                'price': '<?php echo round(($terminal->getPrice()/24),2); ?>',            //Precio unitario
                                'brand' : '<?= $block->getLabelValue($terminal, 'marca') ?>',                   //Marca
                                'category': 'Celular',          //Categoría
                                'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                'quantity': 1,                  //Cantidad
                                'dimension28':'Tienda Movistar',    //
                                'dimension29':'<?= $block->getLabelValue($terminal, 'color') ?>',
                                'dimension30':'<?= $block->getLabelValue($terminal, 'capacidad') ?>',
                                'dimension47':'Renovación'
                            }
                        }
                    }
                });
            });
            
            
            //Eliminar Servicio
            $('.eliminar-servicio').bind('click', function(){
                var idProduct = $(this).attr("title");
                var sku = $(this).attr("data-sku");
                var subtractPrice = $(this).data('price');
                var totalserv = $('#total-cargos-mensuales').data('price');
                var newTotalBottom =  totalserv - subtractPrice;

                var formatTotalBottom = new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN', minimumFractionDigits: 2, minimumIntegerDigits: 1 }).format(newTotalBottom);
                $('#total-cargos-mensuales').html(formatTotalBottom);
                $('#total-cargos-mensuales').data('price',newTotalBottom);

                var totalDer = $('#total-resumen-mensual').data('price');
                var newTotalRight =  totalDer - subtractPrice;
                var formatTotalRight =new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN', minimumFractionDigits: 2, minimumIntegerDigits: 2 }).format(newTotalRight);

                $('#total-resumen-mensual').html(formatTotalRight + '*');
                $('#total-resumen-mensual').data('price',newTotalRight);

                $(this).parent().parent().fadeOut();

                $.ajax({
                    url: "<?php echo $this->getUrl().'pos-car/index/deleteterminal';?>",
                    type: 'POST',
                    showLoader: true,
                    data : {productId:idProduct},
                    success: function (res) {
                        for (var i=0; i<arrayServicios.length; i++) {                            
                            if (sku == arrayServicios[i]["id"]) {
                                dataLayer.push({
                                    'event':'removeFromCart',
                                    'tipoFlujo':'Renovación',
                                    'ecommerce': {
                                        'remove':{
                                            'products': {
                                                'name': arrayServicios[i]["name"],     //Nombre del producto
                                                'id': arrayServicios[i]["id"],                 //SKU
                                                'price': arrayServicios[i]["price"],            //Precio unitario
                                                'brand' :  arrayServicios[i]["brand"],                   //Marca
                                                'category': arrayServicios[i]["category"],          //Categoría
                                                'variant' : arrayServicios[i]["variant"],             //Variantes (color, memoria, etc)
                                                'quantity': arrayServicios[i]["quantity"],                  //Cantidad
                                                'dimension28':arrayServicios[i]["dimension28"],    //
                                                'dimension29':arrayServicios[i]["dimension29"],
                                                'dimension30':arrayServicios[i]["dimension30"],
                                                'dimension47':arrayServicios[i]["dimension47"]
                                            }
                                        }
                                    }
                                });
                                break;
                            }
                        }                   
                    }
                });
            });
            
            
            //Eliminar Servicio pero parece que este no se está utilizando
            $('.eliminarServicio').bind('click', function(){
                var dservice = $(this).data('servicio');
                var dprice = $(this).data('price');
                var dpricenow = $(this).data('pricenow');
                var newmonthlycharge = $('#monthlycharge').data('cargomensual') - dprice;
                $('#monthlycharge').data('cargomensual',newmonthlycharge);
                var newpaytoday = $('#paytoday').data('cargohoy') - dpricenow;
                $('#paytoday').data('cargohoy',newpaytoday);

                $('#monthlycharge').html('$'+newmonthlycharge);
                $('#paytoday').html('$'+newpaytoday);

                $('#'+dservice).prop('checked',false);
                $(this).parent().fadeOut("slow");
            });


            $('#continuar-check').bind('click', function(){
                $('#form-mi-seleccion').submit();
            });
        });

       
    });
</script>


