<?php
$msg = $block->getMsg();
?>
<!-- Login-INTPOSP-633 Recuperación de contraseña mensaje éxito -->
<?php if (isset($_POST['form_block']) && $_POST['form_block'] == 'register_form'): ?>
  <!-- Bloque de exito del registro -->
  <section class="layout_section">
    <div class="c-recover board">
        <header class="c-board__header">
            <h1 class="c-board__title i-check-ring">Bienvenido, tu cuenta se ha creado exitosamente con los siguientes datos:</h1>
        </header>
        <div class="c-board__main">
        <div class="c-board__information-wrapper">
            <p class="c-board__information">tucorreo@example.com</p>
            <p class="c-board__information">(55) 1234 5678</p>
        </div>
            <button class="btn" type="button">Continuar</button>
        </div>
    </div>
</section>
<?php endif; ?>

<?php if (isset($msg) && $msg == 'recovery_form'): ?>
  <!-- Bloque de exito de recuperacion -->
  <section class="layout_section">
    <div class="c-recover board">
        <header class="c-board__header">
            <h1 class="c-board__title i-check-ring">Recuperar contraseña</h1>
        </header>
        <div class="c-board__main">
        <div class="c-board__information-wrapper">
            <p class="c-board__headtext">Tu contraseña se cambió exitosamente</p>
        </div>
        <!-- <button class="btn" type="button">Continuar</button> -->
        <a href="/login" class="btn" style="text-decoration: none;">Continuar</a>
        </div>
    </div>
</section>
<?php endif; ?>

<?php if (isset($msg) && $msg == 'error'): ?>
<section class="layout_section">
    <div class="c-recover board">
        <div class="card-ico__warning">
            <header class="card-ico__warning">
                <h1 class="c-board__title i-x-ring" style="padding: 20px;">Error al recuperar contraseña</h1>
            </header>
        </div>
        <div class="c-board__main">
            <div class="c-board__information-wrapper">
                <p class="c-board__headtext">Tu contraseña no se cambió</p>
            </div>
            <!-- <button class="btn" type="button">Volver a Intentar</button> -->
            <a href="/restablecer-contrasena" class="btn" style="text-decoration: none;">Volver a Intentar</a>
        </div>
    </div>
</section>
<?php endif; ?>