<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend><br>
    <div class="field gst_number required">
        <label class="label" for="email"><span><?= $block->escapeHtml(__('GST Number')) ?></span></label>
        <div class="control">
            <input type="text" name="gst_number" id="gst_number" title="<?php /* @escapeNotVerified */ echo __('My Attribute') ?>" class="input-text" data-validate="{required:true}" autocomplete="off">
        </div>
    </div>
</fieldset>