<?php
$ruta_registro = $this->getUrl('registro');
$ruta_recuperar = $this->getUrl('restablecer-contrasena');
?>

<div class="o-layout-half o-layout-half_linear-gradient js-toggleBlock">
    <article class="o-layout-half__column o-layout-half__column_left-bg">
        <div class="o-layout-half__header">
            <h2 class="ui-title">Tengo un número Movistar</h2>
        </div>
        <div class="c-form__actions js-toLoginAction">
            <button class="form__btn btn" type="button">Iniciar sesión</button>
        </div>
        <div class="is-hidden" data-login="loginForm">
            <form class="form c-form_max-center js-formValidate js-login" id="form-login" action="<?= $block->getActionLogin() ?>" method="POST">

                <input type="hidden" name="legalId" value="<?=$block->legalId()?>" />


                <div class="form__row-sm js-validateItem">
                    <label class="c-form__label" for="telefono">Ingresa tu número Movistar</label>
                    <span class="is-form__status js-formStatus">
                        <input class="c-form__control" type="number" placeholder="551234567" min="0" max="9999999999" id="telefono" name="telefono" data-validate="numbercell">
                    </span>
                    <div class="form__row-sm form__row-sm_padding">
                        <small data-name="telefono" class="c-form__alert js-validateMsg" data-name="telefono"></small>
                    </div>
                </div>
                <div class="form__row">
                    <label class="c-form__label" for="contraseña">Contraseña</label>
                    <div class="form__signal js-validateItem">
                        <span class="is-form__status js-formStatus">
                            <input class="c-form__control" placeholder="Escribe tu contraseña" type="password" id="pw" name="contraseña" data-validate="password">
                        </span>
                        <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                    </div>
                    <div class="form__row-sm form__row-sm_padding">
                        <a class="link__brand form__row-align-right" href="<?= $ruta_recuperar; ?>" alt="olvidaste tu contraseña">No recuerdo mi contraseña</a>
                    </div>
                    <div class="form__row-sm form__row-sm_padding">
                        <small class="c-form__alert form__alert_max js-validateMsg" data-name="contraseña"></small>
                    </div>
                </div>
                <div class="c-form__actions">
                    <button class="form__btn btn ingresar-login" type="button">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="o-layout-half__footer">
            <p class="o-layout-half__footer_item">¿Aún no tienes cuenta? <a class="form__link link__brand" href="<?= $ruta_registro; ?>" alt="olvidaste tu contraseña">Regístrate aquí</a></p>
            <!-- <p class="o-layout-half__footer_item">¿Eres usuario de internet en casa? <a class="form__link link__brand" href="#" alt="Cambiar el correo">Haz click aquí</a></p> -->
        </div>
    </article>
    <article class="o-layout-half__column o-layout-half__column_right-bg">
        <div class="o-layout-half__header">
            <h2 class="ui-title">No tengo un número Movistar</h2>
        </div>
        <!--<form class="form c-form_max-center" action="" method="">-->
            <div class="c-form__actions">
                <button class="form__btn btn btn_blue" id="btn_continuar_sin_numero">Continuar</button>
            </div>
        <!-- </form> -->
    </article>
</div>
