<!--Mi movistar (eCare)-->
<?php if(!$this->validCustomerLogin()): ?>
<div class="menu-foot menu__item--align">
    <a class="menu-foot__ico mi-cell-prepago" title="Ir a recargar" href="/recarga-publica">Recarga</a>
    <a class="menu-foot__btn btn btn_blue" title="Ir a eCare" href="https://extranet.movistar.com.mx/extranet/Autogestion/registro/login.xhtml">Mi Movistar</a>
</div>
<?php else: ?>
    <?php if(!$block->getIsNullLogin()){ ?>
<div class="menu-foot menu__item--align">
    <a class="menu-foot__ico mi-cell-prepago" title="Ir a regargar" href="/recarga-publica">Recarga</a>
    <a class="menu-foot__btn btn btn_blue" title="Ir a eCare" href="https://extranet.movistar.com.mx/extranet/Autogestion/registro/login.xhtml">Mi Movistar</a>
</div>
    <?php }else{ ?>
<div class="c-menu-user__profile-wrapper js-dropdownAvatar">
    <div class="c-menu-user__profile">
        <figure class="c-menu-user__profile-img-wrapper ">
            <img class="c-menu-user__profile-img" src="<?= $this->getCustomerAvatar() ?>" alt="Name user" />
        </figure>
        <div class="c-menu-user__profile-content  i-arrow-down js-dropdownAvatarButton js-dropdownAvatarArrow">
            <p class="c-menu-user__profile-text"><?= $this->getName() ?></p>
            <p class="c-menu-user__profile-text"><?= $this->getDn() ?></p>
        </div>
    </div>
    <div class="c-menu-user__wrapper js-dropdownAvatarContent">
        <ul class="c-menu-user__list">
            <!--<li class="c-menu-user__item is-active-item">Mi Movistar</li>-->
            <li class="c-menu-user__item  is-close-sesion icon-power_settings_new">
                <a href="/customer/account/logout">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</div>
    <?php } ?>
<?php endif; ?>