<?php

$ruta_index = $this->getUrl('login');
$ruta_registro = $this->getUrl('registro');
$ruta_recuperar = $this->getUrl('restablecer-contrasena');
$ruta_confirmacion = $this->getUrl('login/confirmacion/index');

?>

<!-- Login-INTPOSP-633 Recuperar contraseña -->
<section class="layout_section">
    
    <div class="c-recover board js-toggleBlock">
        
        <header class="c-board__header">
            <h1 class="c-board__title i-check-ring">Recuperar contraseña</h1>
        </header>

        <div class="c-board__main">
        
            <form class="form c-form_code validate js-formValidate" id="form-reset" action="<?= $block->getActionReset() ?>" method="post" data-recovery="1">

                <fieldset class="js-toggleFieldset">

                    <legend class="c-form__headtext ui-description">Te enviaremos un código de acceso temporal, a tu número Movistar</legend>
                    
                    <div class="form__row">
                        <label class="c-form__label" for="passShow">Ingresa tu número Movistar</label>
                        <div class="form__signal js-validateItem">
                            <span class="is-form__status js-formStatus">
                                <input class="c-form__control" placeholder="5512345678" id="dn" type="number" name="numbercell" min="0" max="9999999999" data-validate="numbercell">
                            </span>
                        </div>
                        <small class="c-form__alert js-validateMsg" data-name="numbercell"></small>
                    </div>

                    <div class="form__row form__row_center">
                        <button class="form__btn btn enviar-dn" type="submit" data-btn="0">Enviar código</button>
                    </div>

                    <div class="form__row_center">
                        <a class="link__brand" href="<?= $ruta_index; ?>" title="Regresar">Regresar</a>
                    </div>

                </fieldset>

            </form>

            <form class="form c-form_code validate js-formValidate" id="form-code-reset" action="<?= $block->getActionResetCode() ?>" method="post" data-recovery="2">
                <fieldset class="is-hidden js-toggleFieldset">
                    <legend class="c-form__headtext ui-description">Te enviamos un código de acceso temporal a tu número Movistar</legend>

                    <div class="c-form__row form__row_center">
                        <label class="c-form__label c-form__label_title" for="codePassword">Ingresa el código enviado al número con terminación <span id="ultimos_digitos">----</span></label>
                        <div class="c-form__inline js-validateItem js-codeAccessTemporal">
                            <input class="c-form__input-code" type="number" name="codePassword1" min="0" max="9" data-validate="codePassword" autofocus maxlength="1" id="codePassword">
                            <input class="c-form__input-code" type="number" name="codePassword2" min="0" max="9" data-validate="codePassword" maxlength="1">
                            <input class="c-form__input-code" type="number" name="codePassword3" min="0" max="9" data-validate="codePassword" maxlength="1">
                            <input class="c-form__input-code" type="number" name="codePassword4" min="0" max="9" data-validate="codePassword" maxlength="1">
                            <input class="c-form__input-code" type="number" name="codePassword5" min="0" max="9" data-validate="codePassword" maxlength="1">
                            <input class="c-form__input-code" type="number" name="codePassword6" min="0" max="9" data-validate="codePassword" maxlength="1">
                        </div>
                        <small class="c-form__alert js-validateMsg" data-name="codePassword"></small>
                    </div>

                    <div class="form__row_center">
                        
                        <!--Login-INTPOSP-633 Recuperar (Flujo):Elemento de texto sin link -->
                        <p class="c-form__text js-codeAccessTemporal_textTime">Obtén uno nuevo en: <span id="clock_timer"></span>
                        </p>   
                        <p class="c-form__text is-hidden js-codeAccessTemporal_text">Si aún no has recibido tu código, 
                            <a class="link__brand" href="/restablecer-contrasena" title="confirmar al contraseña">haz click aquí</a>
                        </p>

                        <div class="c-form__group">
                            <button class="form__btn btn js-btnOpenCodeForm enviar-code" type="submit" data-btn="1">Continuar</button>
                            <div class="c-spinner js-spinner">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            
                        </div>
                    </div>
                
                </fieldset>

            </form>
            <?php // $ruta_confirmacion; ?>
            <form class="form c-form_code validate js-formValidate" action="<?= $block->getActionResetPass() ?>" id="enviar-contrasenas-reset" method="post" data-recovery="3">
                
                <fieldset class="c-form__section is-hidden js-toggleFieldset">

                    <div class="form__row-gral">
                        <label class="c-form__label" for="passShow">Contraseña</label>
                        <div class="form__signal js-validateItem">
                        <span class="is-form__status js-formStatus">
                            <input class="form__input" placeholder="Escribe tu contraseña" type="password" name="password" data-validate="password" data-validate-confirmpassword="">
                        </span>
                            <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                        </div>
                        <small class="c-form__alert js-validateMsg" data-name="password"></small>
                    </div>

                    <div class="form__row-gral">
                        <label class="c-form__label" for="passConfirm">Confirmar Contraseña</label>
                        <div class="form__signal js-validateItem">
                            <span class="is-form__status js-formStatus">
                                <input class="form__input" placeholder="Confirma tu contraseña" type="password" name="confirmPassword" data-validate="confirmPassword" id="passConfirm">
                            </span>
                            <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                        </div>
                        <small class="c-form__alert js-validateMsg" data-name="confirmPassword"></small>
                    </div>

                    <div class="form__row">
                        <span class="form__security-level js-securityLevel"></span>
                        <p class="form__security-label" data-level="Bajo">Nivel de Seguridad de Contraseña:</p>
                    </div>

                    <div class="c-form__actions">
                        <button class="form__btn btn js-btnCloseCodeForm js-recoverPasswordButton enviar-contrasena" type="submit">Recuperar contraseña</button>
                    </div>
                
                </fieldset>

                <input type="hidden" name="form_block" value="recovery_form">
            </form>
            
        </div>


    </div>
</section>