<?php

$ruta_index = $this->getUrl('login');
$ruta_registro = $this->getUrl('registro');
$ruta_recuperar = $this->getUrl('restablecer-contrasena');
$ruta_confirmacion = $this->getUrl('login/confirmacion/index');

/**
 * <a href="<?= $ruta_index; ?>">Ir a login</a>
 * <a href="<?= $ruta_registro; ?>">Ir a registro</a>
 * <a href="<?= $ruta_recuperar; ?>">Ir a recuperar contraseña</a>
 * <a href="<?= $ruta_confirmacion; ?>">Ir a confirmación</a>
 */

?>

<!-- Aqui va el contenido HTML -->
<div class="c-register js-toggleBlock">
  <div class="c-register__inner">
    
    <div class="c-register__block" data-block="accessForm">
      <h2 class="ui-title">Tengo un número Movistar</h2>
  
      <p class="ui-description">Te enviaremos un código de acceso temporal,
      a tu número Movistar</p>

      <form action="<?= $block->getActionRegister() ?>" id="form-registro" class='form validate js-formValidate' method='post'>
        <div class="form__row-high">
          <label class="c-form__label" for="phone_number">Ingresa tu número Movistar</label>
          <div class="form__signal js-validateItem">
            <span class="is-form__status js-formStatus">
              <input class="c-form__control" placeholder="5512345678" name="phone_number" id="phone_number" data-validate="numbercell" min="0" max="9999999999" type="number">
            </span>
          </div>
          <div class="form__row-sm form__row-sm_padding">
            <small class="c-form__alert js-validateMsg" data-name="phone_number"></small>
          </div>
        </div>
  
        <div class="form__row-high form__row_center">
          <button class="form__btn btn enviar-codigo" type="submit">Enviar código</button>
        </div>
        
        <div class="form__row form__row_center">
          <a  href="<?= $ruta_index; ?>" class="link ui-link" alt="Regresar">Regresar</a>
        </div>
      </form>
    </div>

    <div class="c-register__block is-hidden" data-block="codeForm">
      <form class="form c-form_code validate js-formValidate" id="form-codigo" action="<?= $block->getActionCode() ?>" method="post">
        <fieldset class="js-toggleFieldset">
            <legend class="c-form__headtext ui-description">Te enviamos un código de acceso temporal a tu número Movistar</legend>

            <div class="c-form__row form__row_center">
              <label class="c-form__label c-form__label_title" for="codePassword">Ingresa el código enviado al número con terminación <span id="ultimos_digitos">----</span></label>
              <div class="c-form__inline js-validateItem js-codeAccessTemporal">
                  <input class="c-form__input-code" type="number" name="codePassword1" min="0" max="9" data-validate="codePassword" maxlength="1">
                  <input class="c-form__input-code" type="number" name="codePassword2" min="0" max="9" data-validate="codePassword" maxlength="1">
                  <input class="c-form__input-code" type="number" name="codePassword3" min="0" max="9" data-validate="codePassword" maxlength="1">
                  <input class="c-form__input-code" type="number" name="codePassword4" min="0" max="9" data-validate="codePassword" maxlength="1">
                  <input class="c-form__input-code" type="number" name="codePassword5" min="0" max="9" data-validate="codePassword" maxlength="1">
                  <input class="c-form__input-code" type="number" name="codePassword6" min="0" max="9" data-validate="codePassword" maxlength="1">
              </div>
              <small class="c-form__alert js-validateMsg" data-name="codePassword"></small>
            </div>

            <div class="form__row_center">
  
              <p class="c-form__text">
                <a class="link__brand" href="/registro">¿No has recibido el código?</a>
              </p>

              <p class="c-form__text">Obtén uno nuevo en: <span id="clock_timer"></span></p>

              <div class="c-form__group">
                <button class="form__btn btn js-btnOpenCodeForm ingresar-codigo" type="submit" data-btn="1">Continuar</button>
                <div class="c-spinner js-spinner">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
          </div>
        
        </fieldset>
      </form>
    </div>

    <div class="c-register__block is-hidden" data-block="registerForm">
      <form action = '/vass_idbroker/index/registrarcuenta/' class='form validate js-formValidate' data-code='<?= $block->getActionCuenta() ?>' id="form-cuenta" method='post'>
        <div class="form__row-sm">
          <label class="c-form__label" for="email">Correo electrónico</label>
          <div class="form__signal js-validateItem">
              <input class="c-form__control" placeholder="tucorreo@example.com" name="email" id="email" data-validate="email" type="email">
          </div>
          <div class="form__row-sm_padding">
            <small class="c-form__alert js-validateMsg" data-name="email"></small>
          </div>
        </div>
        <div class="form__row-sm">
          <label class="c-form__label" for="password">Escribe tu contraseña</label>
          <div class="form__signal js-validateItem">
            <span class="is-form__status js-formStatus">
              <input class="c-form__control" placeholder="Escribe tu contraseña" name="password" id="password" data-validate="password" type="password">
            </span>
              <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
          </div>
          <div class="form__row-sm_padding">
            <small class="c-form__alert js-validateMsg" data-name="password"></small>
          </div>
        </div>
        <div class="form__row-sm">
          <label class="c-form__label" for="password2">Confirma tu contraseña</label>
          <div class="form__signal js-validateItem">
            <span class="is-form__status js-formStatus">
              <input class="c-form__control" placeholder="Confirma tu contraseña" name="password2" id="password2" data-validate="confirmPassword" type="password">
            </span>
              <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
          </div>
          <div class="form__row-sm_padding">
            <small class="c-form__alert js-validateMsg" data-name="password2"></small>
          </div>
        </div>
        <div class="form__row-sm"><span class="form__security-level js-securityLevel"></span>
          <p class="c-form__security-label" data-level="Bajo">Nivel de Seguridad de Contraseña:</p>
        </div>
        <div class="form__row-high form__row_center">
          <button class="form__btn btn crear-cuenta" type="button">Crear cuenta</button>
          <div id="load_button_create_cuenta" style="display: none">
            <img src="<?= $block->getViewFileUrl('images/loader-1.gif')?>" alt="Cargando..." height="42" width="42" />
          </div>
        </div>
        <input type="hidden" name="form_block" value="register_form">
      </form>
    </div>
  </div>
</div>