<?php
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media . "recortes/";
?>
<div class="reloj" id="totalsegundos" style="display: none;"></div>
<div class="modal modal_list js-listModalFour" style="overflow-y: hidden;">
    <div class="modal__box modal_list" style="overflow-y: hidden;">
        <button class="modal__close js-modal__close i-x">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">
        <h3 class="modal__title">Tu sesión está por expirar</h3>
        <p class="modal__txt_space">¿Deseas continuar con tu compra?</p>
        <button class="modal__btn btn js-modal__close btnPararTimer" type="button">Continuar</button>
    </div>
</div>
<script>
    window.valConfigActive = '<?php /* @escapeNotVerified */ echo $block->getDataConfig()['active']; ?>';
    window.valConfigTotalSegundos = '<?php /* @escapeNotVerified */ echo $block->getDataConfig()['total_segundos'];?>';
    window.valConfigTotalModal = '<?php /* @escapeNotVerified */ echo $block->getDataConfig()['total_modal'];?>';
    window.valConfigUrl = '<?php /* @escapeNotVerified */ echo $block->getDataConfig()['url']; ?>';
</script>