<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
$_helperVitrina = $this->helper('Entrepids\VitrinaManagement\Helper\Vitrina');
$_isVitrina = $_helperVitrina->isVitrina();
if($_isVitrina){
    return;
}
?>
<h3 class="search__title">Encuentra el smartphone que siempre has querido, el envío va por nuestra cuenta</h3>
<!--div class="menu-search js-menuSearchClose"-->
    <!--form class="menu-search__form" id="search_mini_form" action="<? /* @escapeNotVerified */ //$helper->getResultUrl() ?>" method="get"-->
    <form class="menu-search__form search__form" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
        <label for="search" class="visuallyhidden">Buscar en celulares</label>
        <input  id="search"
                data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?= /* @escapeNotVerified */ $helper->getSuggestUrl()?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                type="text"
                name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>"
                placeholder="<?= /* @escapeNotVerified */ __('Ej: iPhone 8 negro') ?>"
                class="search__input js-inputAutocomplete"
                maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>"
                role="combobox"
                aria-haspopup="false"
                aria-autocomplete="both"
                autocomplete="off"/>
        <button type="submit"
                title="<?= $block->escapeHtml(__('Search')) ?>"
                class="search__btn i-search search">
        </button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <?= $block->getChildHtml() ?>
    </form>
<!--/div-->