<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
?>
<!--div class="menu-search js-menuSearchClose"-->
    <!--form class="menu-search__form" id="search_mini_form" action="<? /* @escapeNotVerified */ //$helper->getResultUrl() ?>" method="get"-->

<!--/div-->

<div class="menu-search js-menuSearchParent">
    <div class="menu-search__actions">
        <a class="i-search menu-search__btn js-menuSearchBtn gtm-menu-1" title="Buscar" href="#">
            <span class="menu-search__hidden">Buscar</span>
        </a>
        <form class="menu-search__form search__form_top" id="search_mini_form_top" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get">
            <label for="search_top" class="visuallyhidden">Search</label>
            <input class="menu-search__input" id="search_top"
                    type="text"
                    name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>"
                    value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>"
                    placeholder="<?= /* @escapeNotVerified */ __('Busca en Movistar.com') ?>"
                    class="search__input js-inputAutocomplete"
                    maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>"
                    role="combobox"
                    aria-haspopup="false"
                    aria-autocomplete="both"
                    autocomplete="off"/>
            <button type="submit"
                    title="<?= $block->escapeHtml(__('Search')) ?>"
                    class="search__btn i-search">
            </button>
            <button type="button"
                    title="<?= $block->escapeHtml(__('Search')) ?>"
                    class="search__btn_complete"><?= $block->escapeHtml(__('Search')) ?></button>
            <!--div id="search_autocomplete" class="search-autocomplete"></div-->
            <!--?= $block->getChildHtml() ?-->
        </form>
        <!--input class="menu-search__input" type="text" placeholder="Busca en Movistar.com"-->
        <button class="menu-search__close js-menu-search__close" type="button">Cancelar</button>
    </div>
    <div class="menu-search__modal">
        <div class="menu-search__inner"><button class="menu-search__close i-x js-menu-search__close" type="button">Cerrar</button>
            <div class="menu-search__title">Section title</div>
            <ul class="menu-search__list">
                <li class="menu-search__item"><a class="menu-search__link" title="Ir a Cambiar nombre WiFi y contraseña" href="#">Cambiar nombre WiFi y contraseña</a></li>
                <li class="menu-search__item"><a class="menu-search__link" title="Ir a Coste adicional Roaming" href="#">Coste adicional Roaming</a></li>
                <li class="menu-search__item"><a class="menu-search__link" title="Bloquear el celular en caso de robo" href="#">Bloquear el celular en caso de robo</a></li>
            </ul>
        </div>
    </div>
</div>