<?php
/*
 * este bloque pinta la primer pantalla del checkout,
 * justo despues configurar mi pedido
 *
 */

/**
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 * @var \Vass\PosCarTer\block\Index $block
 */

    $blockPlanes = $block->getLayout()->createBlock('Vass\PosCarTer\Block\Index');
    
    /**
     *
     * @var \Vass\PosCar\Block\Terminales $blockTerminales
     */
    $blockTerminales = $block->getLayout()->createBlock('Vass\PosCarTer\Block\Terminales');
    $arrProduct = $blockTerminales->getDataProduct();
    $helper = $this->helper('Vass\PosCarStepsPre\Helper\Order');
    
    /**
     *
     * @var \Magento\Quote\Model\Quote $cart
     */
    $cart = $blockTerminales->getCartData();
    $blockPlanes->updateTypeOrden();

    $idTerminal = 0;
    $idPlanes = 0;
    $idServicios = array();

    $terminales = 0;
    $planes = 0;

    $validaTerminales = 0;
    $validaPlanes = 0;
    $validaChip = 0;
    $idTerminal = '';
    $totalMensual = 0;
    $totalPagar = 0;
    $totalDescuento = 0;
    $precioTerminal= 0;

    // PATH URLS
    $link_wysiwyg = $this->getUrl('pub/media/wysiwyg/');
    $link_recortes = $link_wysiwyg."recortes/";
    //
    $catalog_product = $this->getUrl('pub/media/catalog/');
    $catalog_product  = $catalog_product.'product';
    // Planes
    $img_sim = $link_recortes.'thumb-sim.png';
    $img_movistar = $link_recortes.'m-movistar-green.svg';

    for($i=0;$i<count($arrProduct);$i++){
        if(isset($arrProduct[$i]['terminales'])){
            $validaTerminales = 1;
            $idTerminal = $arrProduct[$i]['terminales'];
        }
    }

    if($validaTerminales){
        $terminales = $blockTerminales->getProduct($idTerminal);
        $item = $cart->getItemByProduct($terminales);
        
        $totalMensual += $terminales->getPricePrepago() / 48;
        $totalMensualTerminal = $terminales->getPricePrepago() / 48;
        $precioTerminal = $item->getPrice();
        $totalPagar += $precioTerminal;


        if ($helper->getConfigValue('enable')) {
            $hotsaleDiscount = $terminales->getHotsaleDiscount();
            $totalPagar *= (1 - $hotsaleDiscount);
        }
    }

    if ($cart->getCouponCode()) {
        $totalDescuento = $totalPagar - $cart->getSubtotalWithDiscount();
        $totalPagar = $cart->getSubtotalWithDiscount();
    }
?>

<section class="layout_section">
    <div class="layout_inner">
        <header class="data__header-full">
            <h2 class="title_head">Tu selección</h2>
        </header>
        <div class="data">
            <section class="data__table vsm-data__table">
                <div class="data__pullquote">
                    <h2 class="data__title">Equipo</h2>
                    <small class="data__txt-small"></small>
                    <small class="data__txt-small">A pagar</small>
                </div>
                

                <!-- PREPAGO-97: Equipo (quemado) -->
                <!-- sección de Equipo-->
                <div class="data-section" id="section-equipo">
                    <?php if($validaTerminales){
                        // Caracteristicas del Terminal
                        $capacidad = $blockPlanes->getAttributeId($terminales->getCapacidad());
                        $color = $blockPlanes->getAttributeId($terminales->getColor());
                        $colorFront = $blockPlanes->getAttributeIdFront($terminales->getColor());
                        ?>
                    <!-- Aside con imagen de celular-->
                    <div class="data-section__aside">
                        <img class="data-section__img" src="<?=$catalog_product.$terminales->getImage()?>" alt="Telefono">
                    </div>
                    <!-- Contenido detallado de celular-->
                    <div class="data-section__detail">
                         <div class="data-section__item">
                            <h3 class="data__title"><?=$terminales->getName()?></h3>
                            <ul class="data__group">
                                <li class="list-thumb__boll data__thumb" style="background: <?=$color?>;">Color</li>
                                <li class="list-thumb__boll data__thumb_brand"><?=$capacidad?></li>
                            </ul>
                        </div>
                        <div class="data-section__slice">
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small"></dt>
                                <dd class="data__txt-big"></dd>
                            </dl>
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small">Pagar hoy</dt>
                                <dd class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($precioTerminal,true,false); ?>*</dd>
                            </dl>
                        </div>
                        <div class="data-section__item"><a class="link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Cambiar equipo">Cambiar equipo</a></div>
                    </div>
                    <?php }else{?>
                        <div class="data-section__item" style="text-align: center; margin-top: -50px;">
                            <h2 class="status__title">Sin Equipo</h2>
                            <a class="link link__brand" href="/pos-redirect/index/index/step-pos-cart/true" title="Cambiar equipo">Agregar equipo</a>
                        </div>
                    <?php } ?>
                </div>

               <!-- Bloque Principal #3-->
                <div class="data__pullquote">
                    <h2 class="data__title">Envío</h2>
                </div>
                <!-- Sección de envío-->
                <div class="data-section__excerpt">
                    <p class="data__txt">El costo del envío va por nuestra cuenta. Recibirás tu compra en un período de 48 a 72 hrs. hábiles** Después de que tu orden sea recibida.</p>
                </div>
                <div class="data__tab js-dataTab">
                    <button class="data__btn data__btn_inline i-a-arrow-down data__txt_bold js-dataSectionBtn" type="button">Ver tiempo de entrega</button>
                    <div class="data__show js-dataCont">
                        <p class="data__txt">La entrega del celular se puede envíar a domicilio o CAC. Los celulares premium se podrán entregar únicamente en ciertas ciudades a domicilio, para el resto del país la entrega se realizará en CACs.</p>
                        <table class="table-section">
                            <thead class="table-section__head">
                                <tr class="table-section__row">
                                    <th class="table-section__head-item">Ciudades</th>
                                    <th class="table-section__head-item">Velocidad de envío</th>
                                    <th class="table-section__head-item">Tarifa</th>
                                </tr>
                            </thead>
                            <tbody class="table-section__content">
                                <tr class="table-section__row">
                                    <td class="table-section__cell">CDMX y área metropolitana</td>
                                    <td class="table-section__cell">Max. 48 hrs. hábiles</td>
                                    <td class="table-section__cell">Gratis</td>
                                </tr>
                                <tr class="table-section__row">
                                    <td class="table-section__cell">Ciudades principales foráneas (capitales)</td>
                                    <td class="table-section__cell">Max. 72 hrs. hábiles</td>
                                    <td class="table-section__cell">Gratis</td>
                                </tr>
                                <tr class="table-section__row">
                                    <td class="table-section__cell">Cobertura extendida</td>
                                    <td class="table-section__cell">Max. 7 días naturales</td>
                                    <td class="table-section__cell">Gratis</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>




            <div class="data-aside js-asideFixed data-aside__sticky vsm-data__aside">
                <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
                    <span class="data__total" id="total-mobile" data-price="<?=$totalPagar?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?></span>
                    <span class="data-aside__txt-high">Total</span>
                </button>
                <div class="data-aside__wrap">
                    <div class="data-aside__content">
                        <div class="data__header">
                            <h2 class="data__title">Resumen de tu compra</h2>
                        </div>
                        <table class="aside-table__table">
                            <thead>
                                <tr class="aside-table__heading aside-table__row_border">
                                    <th>&nbsp;</th>
                                    <th class="aside-table__cell"></th>
                                    <th class="aside-table__cell">Pagar hoy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if($validaTerminales){ ?>
                                <tr class="aside-table__row" id="terminal-resumen">
                                    <td class="aside-table__cell aside-table__cell_big"><?=$terminales->getName()?></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                        <span class="js-value">
                                            <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($precioTerminal,true,false); ?>
                                        </span>
                                    </td>
                                </tr>
                                <?php } ?>
        
                                <tr class="aside-table__row">
                                    <td class="aside-table__cell aside-table__cell_big">Envío</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">GRATIS</span></td>
                                </tr>
                                <tr class="aside-table__row" style="display: none;">
                                    <td class="aside-table__cell aside-table__cell_big">Impuestos</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">$1.583</span></td>
                                </tr>
                                <?php if ($cart->getCouponCode()) : ?>
                                    <tr class="aside-table__row" >
                                        <td class="aside-table__cell aside-table__cell_big">Descuentos (<?php echo $cart->getCouponCode() ?>)</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                        <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">-<?php echo $totalDescuento ?></span></td>
                                </tr>
                                <?php endif; ?>
                            </tbody>
                            <tfoot>
                                <tr class="aside-table__footer aside-table__heading">
                                    <td class="aside-table__cell aside-table__cell_total">Total</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de total cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_total"></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de total a pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_total" id="total-resumen-superior" data-price="<?= $totalPagar ?>">
                                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?>        
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="data__inner">

                        <div class="data-aside__row">
                            <div class="data__tab js-dataTab">
                                <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button">¿Tienes una promoción?</button>
                                <div class="data__form data__show js-dataCont">
                                    <div class="input-search">
                                        <form id="discount-coupon-form"
                                              action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/couponPost') ?>"
                                              method="post"
                                              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                                               "removeCouponSelector": "#remove-coupon",
                                                               "applyButton": "button.action.apply",
                                                               "cancelButton": "button.action.cancel"}}'>
                                            <div class="fieldset coupon<?= strlen($block->getCouponCode()) ? ' applied' : '' ?>">
                                                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                                                <input type="hidden" name="tipo_orden" id="type" value="ter"/>
                                                <?php if (!$cart->getCouponCode()) { ?>
                                                    <!-- insertar cupon -->
                                                    <label class="input-search__label">Escribe tu código de descuento</label>
                                                    <input type="text" class="input-search__input" id="coupon_code" name="coupon_code" value="<?= $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?= $block->escapeHtml(__('Enter discount code')) ?>" />
                        
                                                    <div class="primary">
                                                        <button class="action apply input-search__btn" type="button" value="<?= /* @escapeNotVerified */ __('Apply Discount') ?>">
                                                            <!--<span><?= /* @escapeNotVerified */ __('Apply Discount') ?></span>-->
                                                            Aplicar
                                                        </button>
                                                    </div>
                                                <?php }else{?>
                                                    <!-- eliminar cupon-->
                                                    <label class="input-search__label"><?php echo $cart->getCouponCode(); ?></label>
                                                    <button class="action apply input-search__btn" type="button" value="<?= /* @escapeNotVerified */ __('Cancel Coupon') ?>">
                                                        <!--<span><?= /* @escapeNotVerified */ __('Cancel Discount') ?></span>-->
                                                        Cancelar
                                                    </button>

                                                <?php } ?>

                                                <!--</div>-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <dl class="data__list data__summary">
                            <dt class="data__term">Total a pagar</dt>
                            <dd class="data__total" id="total-resumen" data-price="<?= $totalPagar; ?>">
                                <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?><sup>*</sup>
                            </dd>
                        </dl>
                        <div class="data-aside__row data-aside__foot">
                            <button class="data-aside__link btn" type="button" onClick="location.href = '<?= $this->getUrl('pos-login-ter/index'); ?>'">Continuar al check-out</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="data__info">
            <img class="data__info-img" src="<?=$link_recortes.'logos-compra_segura.jpg'?>" alt="compra segura">
        </div>
    </div>
</section>
<div id="res"></div>
<script>

    require([
        'jquery',
        'Magento_Customer/js/customer-data'
    ], function ($) {
        var arrayServicios = [];
        jQuery(window).on('load', function () {
            var products = [];
            var array = [];

            <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
            <?php $terminal = $objectManager->create('Magento\Catalog\Model\Product')->load($idTerminal);  ?>
            <?php $brandStr = $terminal->getResource()->getAttribute('marca')->getFrontend()->getValue($terminal); ?>
            var tipoFlujo = '<?php echo $objectManager->get('\Entrepids\Renewals\Helper\Servicio\Flujoscheckout')->getCheckoutFlowType($idTerminal,$idPlanes,2); ?>';

            <?php if ($idTerminal != "" || $idTerminal != null) : ?>
                array = {
                    'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                    'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                    'price': '<?php echo $totalPagar; ?>',            //Precio unitario
                    'brand' : '<?php echo $brandStr; ?>',                   //Marca
                    'category': 'Celular',          //Categoría
                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                    'quantity': 1,                  //Cantidad
                    'dimension28':'Tienda Movistar',    //
                    'dimension29':'<?=$colorFront?>',    //Color
                    'dimension30':'<?=$capacidad?>', //Capacidad
                    'dimension47': tipoFlujo /* fixed */
                };
                products.push(array);
            <?php endif; ?>

            dataLayer.push({
                'event':'addToCart',
                'tipoFlujo': tipoFlujo, /* fixed */
                'ecommerce': {
                    'currencyCode' : 'MXN',
                    'add':{
                        'products':  products 
                    }
                }
            });
        });

        $('.data__tab.js-dataTab button').click();
        
        $('#continuar-check').bind('click', function(){
            $('#form-mi-seleccion').submit();
        });

    });

    /*
        require([
            'Magento_Customer/js/customer-data'
        ], function (customerData) {
            var sections = ['cart'];
            customerData.invalidate(sections);
            customerData.reload(sections, true);
        });
        */
</script>
