<?php
//Variables PHP introducidas por VASS
?>
<!-- Sección a cambiar a conveniencia -->

<div class="band band_inner">
    <div class="head-callto i-phone">
        <div class="head-callto__link"><a class="btn btn_blue" href="#" title="Llamar para comprar">Llamarme para comprar</a></div>
    </div>
</div>
<main class="content">
    <section class="band_inner layout_section">
        <article class="board vsm-board">
            <header class="board__top-head card-top__caution">
                <p class="subtitle_gral">Pago pendiente</p>
                <div class="card-ico card-ico__caution">
                    <h1 class="card-ico__title i-hours">No olvides realizar tu pago</h1>
                    <p class="card-ico__txt">Recuerda que tienes 24 horas para hacer tu pago.</p>
                    <p class="card-ico__txt">De lo contrario, los productos serán liberados.</p>
                </div>
            </header>

            <div class="box-ico">
                <p class="box-ico__txt i-hand-money">
                    Imprime el recibo y ve al banco o a la tienda de conveniencia más cercana para realizar tu pago.
                </p>
                <a class="board__btn btn" href="#" title="Ir a la tienda">Descargar recibo</a>
            </div>

            <div class="board__inner">
                <h2 class="board__title title__main">Detalles de tu compra</h2>
                <section class="board__cont">
                    <div class="board-list">
                        <p class="title__gral"> Orden No. 14525</p>
                    </div>

                    <div class="board-list">
                        <p class="title__gral"> Comprobante No. 1625 3- 32726</p>
                    </div>

                    <dl class="board-list board-list_col3">
                        <dt class="board-list__title subtitle_gral">Datos Personales</dt>
                        <dd class="board-list__item">Juan Pérez Méndez</dd>
                        <dd class="board-list__item">correo@ejemplo.com</dd>
                        <dd class="board-list__item">(55) 12345678</dd>
                    </dl>

                    <dl class="board-list board-list_col3">
                        <dt class="board-list__title subtitle_gral">&nbsp;</dt>
                        <dd class="board-list__item">ABCD123456XYZ</dd>
                        <dd class="board-list__item">Mazatlán 123, Int. 456, Condesa.</dd>
                        <dd class="board-list__item">Cuauhtémoc</dd>
                        <dd class="board-list__item">Ciudad de México. 06140</dd>
                    </dl>

                    <div class="board-list board-list_col3">
                        <h3 class="board-list__title subtitle_gral no-margin">Datos de Envío</h3>
                        <address class="board-list__address">
                            Centro de Atención Movistar Centro Histórico<br>
                            06000, Calle de Motolina 34, Centro Histórico<br>
                            Teléfonos: 253 2736 374<br>
                            Horario de Atención: 10am a 9pm
                        </address>
                    </div>
                </section>

                <section class="pos-board__cont">
                    <div class="detail-board__header detail-board__header_twocols">
                        <h4 class="detail-board__subtitle">Resumen de la compra</h4>                                   
                        <h4 class="detail-board__subtitle detail-board__subtitle-price detail-board__subtitle-price--right">Pago inicial</h4>
                    </div>

                    <div class="detail-row-order">
                        <dl class="detail-row-order__row detail-row-order__row_twocols">
                            <dt class="detail-row-order__label">iPhoneX</dt>                              
                            <dd class="detail-row-order__value">$23,699</dd>
                        </dl>

                        <dl class="detail-row-order__row detail-row-order__row detail-row-order__row_twocols">
                            <dt class="detail-row-order__label">SIM Movistar</dt>                              
                            <dd class="detail-row-order__value">$0,01</dd>
                        </dl>

                        <dl class="detail-row-order__row detail-row-order__row detail-row-order__row_twocols">
                            <dt class="detail-row-order__label">Reccarga Movistar 3GB</dt>                              
                            <dd class="detail-row-order__value">$200</dd>
                        </dl>

                        <dl class="detail-row-order__row detail-row-order__row detail-row-order__row_twocols">
                            <dt class="detail-row-order__label">Envío</dt>                              
                            <dd class="detail-row-order__value">GRATIS</dd>
                        </dl>

                        <dl class="detail-row-order__row detail-row-order__row detail-row-order__row_twocols">
                            <dt class="detail-row-order__label subtitle_gral">SUB TOTAL</dt>  
                            <dd class="detail-row-order__value">$23,699.01</dd>
                        </dl>
                    </div>         
                </section>

                <div class="board__prefoot">
                    <div class="board__side">
                        <h3 class="board__txt subtitle_gral">Si solicitaste factura por tu compra</h3>
                        <p class="board__txt">La factura de compra será enviada al correo electrónico que ingresaste. Para cualquier duda o reclamo por favor escribe un correo a<a class="board__link link__brand" href="mailto:soporte-mx@telefonica.com" title="Escribir al correo">soporte-mx@telefonica.com</a></p>
                    </div>

                    <div class="list-order">
                        <dl class="list-order__row">
                            <dt class="list-order__label">Impuestos</dt>
                            <dd class="list-order__value">$3791.84</dd>
                        </dl>
                        <dl class="list-order__row">
                            <dt class="list-order__label">Descuento</dt>
                            <dd class="list-order__value"></dd>
                        </dl>
                        <dl class="list-order__row">
                            <dt class="list-order__label subtitle_gral">Total</dt>
                            <dd class="list-order__value">$27490.85</dd>
                        </dl>
                    </div>
                </div>
                <footer class="board__foot"><a class="board__btn btn" href="malla.html" title="Ir a la tienda">Volver a la tienda</a>
                </footer>
            </div>
        </article>
        <div class="data__info">
            <p class="data__label">Compra segura</p><img class="data__info-img" src="" alt="">
        </div>
    </section>
</main>
<!--Aquí termina la sección -->