/****
Images
 */

$imgPathMsmx                                  : '../images';


/**
Paginador
 */
$msmx-icon-size-paginator                     : 12px;
$msmx-icon-border-paginator                   : none;
$msmx-pager-icon__font-margin                 : 0 0 0 0px !default;
$msmx-pager-font-size                         : 18px !default;
$msmx-pager-item-padding                      : 0 7px !default;
$msmx_pager-current-font-weight               : normal !default;
$msmx-pager-action-color                      : inherit !default;
$msmx_pager-arrow-right-padding               : 0 15px 0 0 !default;



/**
Rating Listing
 */
$msmx-rating-icon__content                    : $i-star-comic !default;
$msmx-rating-icon__font                       : $movistar-icons-font !default;
$msmx-rating-icon__font-size                  : 16px !default;
$msmx-rating-icon__letter-spacing             : 5px !default;
$msmx-rating-icon__color                      : #DADADA !default;;
$msmx-rating-icon__active__color              : #FCD600 !default;




//
//  Links
//  ---------------------------------------------

$msmx-ln-link__color                                  : $c-default-1 !default;
$msmx-ln-link__text-decoration                        : none !default;

$msmx-ln-link__visited__color                         : $c-default-1 !default;
$msmx-ln-link__visited__text-decoration               : none !default;

$msmx-ln-link__hover__color                           : $c-default-1 !default;
$msmx-ln-link__hover__text-decoration                 : none !default;

$msmx-ln-link__active__color                          : $c-default-1 !default;
$msmx-ln-link__active__text-decoration                : none !default;