/***
main
 */
body{
  color: $grey-5 !important;
}

/********************************************************
override @media-query
*********************************************************/

.blocked{
  opacity: 0.4;
}

.add__bottom{
  margin-bottom: 20px !important;
}

.btn__help5{
  margin-left: -10px !important;
  margin-top: 32px !important;
}

@media screen and (min-width: 692px) {
  .layout_inner-d,
  .layout_panels {
    width: 100%;
  }
}


@include media-query(wide) {
  .panel-tab__top {
    border-bottom: 1px solid $c-default-3 !important;
  }
}


/***
Paginacion
 */

@mixin msmx-text-format-paginator{

  cursor: pointer;
  font-family: $f-regular;
  //color: $c-default;
  background: transparent;
  font-weight: normal;
  vertical-align: middle;

  &:hover {
    color: $c-brand-2;
  }

}

@mixin msmx-item-current-paginator{



  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $c-brand-2;

}

/**
Color Swatches
 */

.msmx-product-details {
  display: inline-flex;
  float: right;
  width: 100%;

  .msmx-product-details-reviews {
    float: left;
    width: 50%;
  }

  .msmx-product-details-atributes {
    float: right;
    width: 50%;

    .swatch-attribute {
      float: right;

      .swatch-attribute-options {
        margin-top: 14px;

      }

    }

  }

}

/*------------------------------------*\
  Transversal Elements
    #Styles links - appearance buttons
\*------------------------------------*/

@mixin msmx-lib-link-layered-nav(
  $_link-color                   : $msmx-ln-link__color,
  $_link-text-decoration         : $msmx-ln-link__text-decoration,
  $_link-color-visited           : $msmx-ln-link__visited__color,
  $_link-text-decoration-visited : $msmx-ln-link__visited__text-decoration,
  $_link-color-hover             : $msmx-ln-link__hover__color,
  $_link-text-decoration-hover   : $msmx-ln-link__hover__text-decoration,
  $_link-color-active            : $msmx-ln-link__active__color,
  $_link-text-decoration-active  : $msmx-ln-link__active__text-decoration
) {
  @include lib-css(color, $_link-color);
  @include lib-css(text-decoration, $_link-text-decoration);

  &:visited {
    @include lib-css(color, $_link-color-visited);
    @include lib-css(text-decoration, $_link-text-decoration-visited);
  }

  &:hover {
    @include lib-css(color, $_link-color-hover);
    @include lib-css(text-decoration, $_link-text-decoration-hover);
  }

  &:active {
    @include lib-css(color, $_link-color-active);
    @include lib-css(text-decoration, $_link-text-decoration-active);
  }
}

.display-inline{
  display: inline-block;
  vertical-align: top;
}

/* Fix Footer */
footer button{
  outline-width: 0;
  border: none;
  font-size: 16px;
  &:focus {
    outline-width: 0;
  }
}
.foot-ico__link {
  font-size: 0;
}
.foot-ico__link:before {
  font-size: 16px;
}
.foot-ico__item .foot-ico__link:before{
  font-size: 30px;
}
.foot__title button:hover,
.foot__title button:active,
.foot__title button:focus{
  background:none;
  border:none;
  box-shadow:none;
}
a.foot-ico__link:visited,
a.foot-ico__link:before{
  color: #50535A;
}
.foot-ico__link:hover{
  text-decoration: none;
}
.footer.content ul.foot__sublist{
  padding: 0 10px;
}
@media only screen and (min-width: 1180px) {
  .footer.content ul.foot__sublist.foot-ico__list,
  .footer.content ul.foot__sublist.foot-logos__list{
    padding: 20px 0 0 0;
  }
}
a.foot__link:visited {
  @extend .foot__link;
}
a.foot__link{
  &:hover{
    text-decoration: none;
  }

}
footer .foot{
  z-index: 0;
}

/*Fix header*/
header button {
  outline-width: 0;
  border: none;
  border-radius: 0;
  &:focus {
    outline-width: 0;
  }
}
.menu-tabs__item .menu-tabs__link {
  font-size: 14px;
  &:before{
    font-size: 22px;
  }
  &:after{
    font-size: 22px;
  }
  &:hover{
    text-decoration: none;
  }
}
.menu-tabs__link.i-a-arrow-back:after{
  font-size: 8px;
}
.menu__item .menu__link{
  font-size: 14px;
  &:visited{
    color:#86888C;
  }
  &:before{
    font-size: 17px;
  }
  &:after{
    font-size: 17px;
  }
}
.menu-gral__item .menu-gral__link {
  font-size: 18px;
  line-height: 18px;
  height: 40px;
}
ul.submenu-gral__list li.submenu-gral__item {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
.menu-gral__item{
  margin-bottom: 0;
}
.menu-brand__list,
.menu-brand__item,
.menu-tabs__list,
.menu-tabs__item,
.submenu-gral__item,
.submenu-tabs__item,
.menu__list,
.menu__item{
  margin-bottom: 0;
}
header .menu-gral__item .menu-gral__link:hover,
header .menu-gral__item .menu-gral__link:focus{
  background:#00A9E0;
  border:none;
  box-shadow:none;
}
.submenu-gral__link{
  color: #50535A;
  font-size: 16px;
  &:visited{
    color: #50535A;
  }
}
//$bp-medium 768px
@include media-query(medium) {
  header button:focus,
  header button:hover,
  header button:active,
  header button:focus{
    background:none;
    border:none;
    box-shadow:none;
  }
  header .menu-gral__item .menu-gral__link:hover,
  header .menu-gral__item .menu-gral__link:focus{
    background:none;
    border:none;
    box-shadow:none;
  }
  a.menu-brand__link:visited {
    color: $c-neutro;
  }
}
.menu__link:hover{
  text-decoration: none;
}
a.submenu-gral__link.link{
  &:hover{
    text-decoration: none;
    color: #00A9E0;
  }
}
.authentication-wrapper button{
  color: #FFF;
  background-color: $c-brand;
  font-family: "Telefonica-ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  border-radius: 4px !important;
  padding: 5px;
  &:hover{
    text-decoration: none;
    background-color: $c-brand;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:visited{
    text-decoration: none;
    color: #FFF;
    background-color: $c-brand;
  }
  &:active{
    text-decoration: none;
    color: #FFF;
    background-color: $c-brand;
  }
  &:focus{
    text-decoration: none;
    color: #FFF;
    background-color: $c-brand;
  }
}
.authentication-wrapper input{
  padding: 10px 20px;
  line-height: 1.4;
  font-family: $f-regular;
  color: $c-default-1;
  background-color: $c-default-5 !important;
  border-radius: 4px 0 0 4px;
}

/*Fix Home*/
body .page-footer{
  @include font-rem(16px);
  font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.tabs-box .tabs-box__link,
.banner_full .inner.banner__inner{
  color: $grey-5;
  text-decoration: none;
  &:visited{
    color: $grey-5;
    text-decoration: none;
  }
  &:hover{
    color: $grey-5;
    text-decoration: none;
  }
}
.tabs-box__form input[type="text"],
.tabs-box__form input[type="number"]{
  background-color: $grey-0;
}
.slider-single__item.slick-slide{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
}
.submenu-tabs__item .submenu-tabs__link{
  text-decoration: none;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
}
.banner__btn.btn.btn_small:hover,
.tabs-slider__box .btn.btn_small:hover{
  text-decoration: none;
}
button.slider__arrow,
button.menu-search__close {
  background-color: transparent !important;
  box-shadow: none !important;
  &:hover{
    background-color: transparent;
  }
  &:active{
    background-color: transparent;
  }
  &:focus{
    background-color: transparent;
  }
}
input[type="text"].menu-search__input {
  background-color: transparent;
  //color: $c-neutro;
}
.slider-single__item{
  position: relative;
}
.slider-single__item a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider__arrow.prev{
  display: block;
  position: absolute;
  top: 50%;
}
.slider__arrow.next{
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
h2.banner__title{
  margin: 0;
  line-height: .8;
}
a.banner__link.i-arrow-right{
  padding: 0;
}
li.banner-box__item.banner-box__column,
li.banner-box__item {
  margin-bottom: 0;
}
.banner-single {
  .grid__label{
    display: none;
  }
  .price-container .price{
    @include font-rem(18px);
  }
  .grid__blocks{
    display: block;
    .agu-grid__value{
      display: none;
    }
  }
  .banner-single__txt{
    margin-bottom: 0;
  }
}
.slick-initialized .slider-single__item.slick-slide{
  display: flex;
}
.menu-wrapper.js-menuWrapper ul,
.menu-wrapper.js-menuWrapper li,
ul.menu-brand{
  margin: 0;
}
.header-brand.inner a,
.js-sliderHome1 a{
  text-decoration: none !important;
  color:  $c-default !important;
}
@media screen and (max-width: 1023px){
  .header-brand.inner a.nav-site__link {
    color: $c-neutro !important;
  }
}
.menu-foot .menu-foot__btn.btn{
  color: $c-neutro !important;
}
header .menu-foot__btn.btn{
  font-family: $f-bold !important;
}
.menu-brand__img{
  height: inherit;
  widows: inherit;
  max-width: inherit;
}
.tabs_gradient__start .tabs-slider__tab{
  color: $c-default;
}
.banner-box__list a,
.banners-duo__item a{
  color: $c-neutro !important;
  text-decoration: none;
  &:visited{
    color: inherit;
  }
  &:hover{
    color: inherit;
    text-decoration: none;
  }
}
.tabs-slider a,
.banner.banner_full a{
  text-decoration: none !important;
  &:visited{
    color: inherit;
  }
  &:hover{
    color: inherit;
  }
}
.menu-foot{
  min-height: 64px;
}
@media only screen and (min-width: 1024px) {
  .menu-brand {
    margin-right: 20px !important;
  }
  input.menu-search__input{
    font-size: 30px;
    color: $c-default;
  }
}
header .menu-search__link{
  font-weight: 200;
}
input[type="text"].sended-code__input {
  background-color: $grey-0;
}
.js-menu.head__item .submenu__item{
  margin-bottom: 0;
  .submenu__link{
    color: $c-default-1;
    &:visited{
      color: $c-default-1;
    }
    &:active{
      color: $c-default-1;
    }
  }
}
.banner__mask {
  h2,h3{
    margin: 0;
  }
}
footer a.foot__link {
  color: $c-default-1;
  &:visited{
    color: $c-default-1;
  }
  &:hover{
    color: $c-default-1;
  }
}
.slider-single a.slider-single__item{
  color: $grey-5;
  &:visited{
    color: $grey-5;
  }
  &:hover{
    color: $grey-5;
  }
}

.menu-wrapper {
  .menu-search__form {
    display: none;
    button {
      display: none;
    }
  }
  &.menu-wrapper_search-open {
    .menu-search {
      @include media-query(large) {
        left: -60%;
      }
    }
    .menu-search__form {
      display: block;
    }
    button.search__btn_complete {
      display:block;
    }
    .nav-site {
      opacity: 0;
    }
  }
}

@include media-query(wide) {
  input[type="text"].menu-search__input {
    opacity: 1;
    width: 100%;
    padding: 0;
  }
}
.sticky-foot{
  display: none !important;
}
button.data-aside__btn{
  &:hover{
    background-color: $c-brand;
  }
}
.menu-search.js-menuSearchParent,
form.search__form,
form.search.advanced{
  /*display: none;*/
}
.cintillo{
  display: block;
  position: fixed;
  top: 18px;
  width: 100%;
  height: 70px;
  color: #FFF;
  line-height: 45px;
  font-weight: bold;
  padding: 12px 12px 12px 0;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
  font-size: 20px;
  z-index: 10000;
  background: red;
}
.cintillo.i-alert-circular-filling:before{
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  background: red;
  position: relative;
  z-index: 2;
  padding-left: 12px;
  -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
}
.marquee {
  height: 75px;
  overflow: hidden;
  position: fixed;
  background: red;
  display: inline-block;
  vertical-align: top;
}
.marquee h3 {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 50px;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
  width: calc(100% - 40px);
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
  0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
/* Tuning alert Nativa */
.tuning.messages{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 4;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  padding: $sp-xsmall $sp-small;
  color: $c-neutro;
  font-family:'Telefonica-Bold';

  a {
    text-decoration: none;
  }

  .close {
    color: $c-neutro;
  }
}
.tuning.messages .message.success,
.tuning.messages .message.error{
  color: $c-neutro;
  flex-basis: 98%;
  font-family: "Telefonica-ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  background-color: transparent;
}
.tuning.messages div {
  margin: 0;
}
.alert__actions {
  flex-basis: 2%;
  text-align: right;

  .close {
    background-color: transparent;
    &:active{
      box-shadow: none;
    }
  }
}

/*Tuning Minicar*/
.tuning-car.minicart-wrapper{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #E9EAE8;
  border-radius: 50%;
  margin-right: 10px;
}
.tuning-car.minicart-wrapper .action.showcart:before,
.tuning-car.minicart-wrapper .action.showcart.active:before {
  content: "\e921" !important;
  font-family: 'msmx-eshop' !important;
  font-size: 26px;
  color: #00A9E0;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 50px;
}
.tuning-car.minicart-wrapper a.action.showcart{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.tuning-car.minicart-wrapper .product{
  width: inherit;
  border: none;
}
.tuning-car.minicart-wrapper .mage-dropdown-dialog {
  width:270px;
  display: block !important;
}
.tuning-car.minicart-wrapper .block-minicart{
  min-width: inherit;
}
.tuning-car.minicart-wrapper .mage-dropdown-dialog .block.block-minicart{
  position: fixed;
  right: -270px;
  top: 0px;
  z-index: 3;
  width: 270px;
  background-color: $c-neutro;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 20px 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
}
.tuning-car.minicart-wrapper.active .mage-dropdown-dialog .block.block-minicart{
  right: 0;
}
.tuning-car.minicart-wrapper .block-minicart:before,
.tuning-car.minicart-wrapper .block-minicart:after{
  display: none;
}
.tuning-car.minicart-wrapper #mini-cart{
  max-height: 277px;
  overflow-y: scroll;
}
.tuning-car .minicart-items-wrapper.overflowed{
  height: inherit !important;
}
.tuning-car.minicart-wrapper .details-qty.qty label{
  display: block;
}
.tuning-car.minicart-wrapper button#top-cart-btn-checkout{
  margin-bottom: 0;
  height: 40px;
  line-height: 0px;
}
.tuning-car.minicart-wrapper .primary{
  margin-bottom: 6px;
}
a.btn.sticky-foot__btn{
  display: none;
}
@media only screen and (max-width: 767px) {
  .tuning-car.minicart-wrapper{
    position: fixed !important;
    top: -webkit-calc(100vh - 80px);
    top: calc(100vh - 80px);
    right: 10px;
    width: 60px;
    height: 60px;
    z-index: 4;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .tuning-car.minicart-wrapper .action.showcart:before,
  .tuning-car.minicart-wrapper .action.showcart.active:before{
    line-height: 60px;
  }
  a.btn.sticky-foot__btn{
    display: block;
  }
  .band_neutro .sticky-foot{
    z-index:2;
  }
  .data__txt-big{
    font-size: 15px !important;
  }
}

// La alerta siempre va encima: INTPOSP-585 resuelto
.alert.animated {
  z-index: 2147483647 !important;
}

//$bp-medium 768px
@include media-query(medium) {
  .tuning-car.minicart-wrapper .mage-dropdown-dialog .block.block-minicart{
    top: 24px;
  }
  .tuning-car.minicart-wrapper button#top-cart-btn-checkout{
    margin-bottom: 15px;
    height: 54px;
    line-height: 22px;
  }
  .tuning-car.minicart-wrapper .primary{
    margin-bottom: 15px;
  }
  .ban-square:first-child {
    margin-right: 20px;
  }
  .tuning-car.minicart-wrapper.fixed{
    position: fixed !important;
    top: -webkit-calc(100vh - 70px);
    top: calc(100vh - 70px);
    right: 30px;
    z-index: 1;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 2;
  }
  .tuning-car.minicart-wrapper.fixed .action.showcart:before,
  .tuning-car.minicart-wrapper.fixed .action.showcart.active:before{
    line-height: 60px;
  }
  .tuning-car.minicart-wrapper.fixed .mage-dropdown-dialog .block.block-minicart{
    top: -webkit-calc(80px - 100vh);
    top: calc(80px - 100vh);
    /*top: -webkit-calc(24px);
    top: calc(24px);*/
    right: -310px;
  }
  .tuning-car.minicart-wrapper.active.fixed .mage-dropdown-dialog .block.block-minicart{
    right: -12px;
  }
    
}
table.data{
  display: block;
}

.danger{
  color: #ec6839 !important;
  margin-top: -18px;
  position: absolute;
}


.flexed{
  display: flex !important;
}

.all__width{
  width: 100% !important
}

.width__3{
  width: 30% !important;
}


.top-up{
  padding-top: 20px !important;
}

.bottom-down{
  padding-bottom: 20px !important;
}

/*Refuerzo estilos formularios login*/

.data__even .form__input {
  display: block;
  width: 100%;
  height: inherit;
  padding: 10px 20px;
  line-height:22px;
  border: none;
  font-size: 16px;
  font-family: $f-regular;
  border-radius: 4px;
  background-color: $c-tag-5_l;
  &::placeholder {
    color: $c-default-3;
  }
}

.column:not(.sidebar-additional) form .actions-toolbar.left-login{
  margin-left: 0;
}

.data__even button.i-eye {
  outline-width: 0;
  border: none;
  &:hover{
    background-color: inherit;
  }
  &:focus{
     background-color: inherit;
  }
}

.ban-frame.data__even{
  margin-bottom: 40px;
}

.customer-account-login .page-title{
  margin-bottom: 0;
}
.customer-account-login .page-title-wrapper{
  text-align: center;
  border-bottom: 1px solid #D3D4D3;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.customer-account-login .footer.content{
  border-top: none;
}
.ban-frame__btn.btn{
  &:visited{
    color: $c-neutro;
  }
  &:hover{
    text-decoration: none;
  }
}
a.ban-band__link:visited{
  color: $c-neutro;
}

@media only screen and (max-width: 767px) {
  .customer-account-login #maincontent{
    padding: 0;
  }
}
.form-create-account{
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  input[type="datetime"],
  input[type="email"]{
    background-color: $c-tag-5_l;
  }
  .actions-toolbar .primary{
    margin: 0 auto;
    display: block;
    float: none;
    max-width: 150px;
  }
}

/*Estilos para layout compare products*/
.catalog-product-compare-index .page-wrapper{
  background-image: url('http://mi.movistar.com.mx/extranet/tienda/media/wysiwyg/recortes/header.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover; 
}
@media screen and (min-width: 692px){
  .catalog-product-compare-index .layout_inner-d, .layout_panels {
    width: 100%;
  }
}
.catalog-product-compare-index .data-pack__slot .product-image-container{
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .catalog-product-compare-index .page-wrapper{
    -webkit-background-size: 150% 150%;
    background-size: 150%; 
  }
}

@media only screen and (min-width: 1440px) {
  .catalog-product-compare-index .page-wrapper{
    background-position: top center;
    -webkit-background-size: contain;
    background-size: contain; 
  } 
}

.catalog-product-compare-index .page-title-wrapper,
.catalog-product-compare-index .head__txt{
  text-align: center;
}

.catalog-product-compare-index .data-pack__slot .price-container .price{
  font-size: 18px;
  color: #5BC500;
}

.data-pack__slot .action.towishlist:before{
  content: "\e600";
}

.data-pack__slot .action.delete:before{
  content:"\e616";
}


@include media-query(medium) {
  .catalog-product-compare-index{
    -webkit-background-size: 150% 150%;
    background-size: 150%;
  }
}

.search-comp input{
  background-color: $c-neutro !important;
  padding: 14px 20px !important;
  font-size: 16px !important;
}
.search-comp .search__btn:before{
  line-height: 35px;
}
.suggest__item h4.product__name{
  line-height: 1.4;
}
.search-comp input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #757575;
    opacity: 1; /* Firefox */
}

.search-comp input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #757575;
}

.search-comp input::-ms-input-placeholder { /* Microsoft Edge */
    color: #757575;
}
.full{
  width: 100%;
}
.no-underline{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

/* Estilos para Detalle de Producto */
.layout-form__row.layout-form__foot a.layout-form__btn.btn.js-car{
  text-decoration: none;
}
.band .band_inner .menu-links{
  display: none;
}
.band .band_inner .menu-links .menu-links__list{
  margin-bottom: 0;
}
.band.sticky .band_inner .menu-links{
  display: block;
}
.band.sticky .band_inner .menu-links .menu-links__link{
  color: #50535A;
  &:visited{
    color: #50535A;
  }
  &:hover{
    text-decoration: none;
  }
}
.box-banner__card:hover,
.preguntas-frecuentes a:hover{
  text-decoration: none;
}
.faq__list .faq__item{
  display: none;
}
.catalog-product-view .grid-box .product,
.catalog-product-view .breadcrumbs .product,
.catalog-product-view .tabs .product{
  border: none;
  padding: inherit;
  width: auto;
}
.img-detalle{
  position: relative;
  height: 100%;
  width:100%;
}
.slideImg .img-detalle img.main-slider__img{
  width: auto;
  max-width: 100%;
  position: relative;
  display:block;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 0); /* IE 9 */
  -webkit-transform: translate(-50%, 0); /* Safari */
  transform: translate(-50%, 0);
}
.grid-box__link {
  font-size: 16px;
} 
h1.grid-box__txt.title,
h2.subtitle_sm,
h3.faq__title,
h3.tabs__title,
ul.tabs__list,
.product-reviews-summary.empty{
  margin: 0;
}
li.tabs__item{
  margin-bottom: 0px;
  font-size: 16px;
}
.catalog-product-view .product.attribute.sku{
  padding: 0;
}
.swatch-option.text{
  height: auto;
  width: auto;
}
.faq__btn,
.tabs__btn,
.group-input__btn{
  border: none;
  &:hover{
    background: none;
    border: none;
  }
  &:focus{
    background: none;
    border: none;
  }
  &:active{
    background: none;
    border: none;
    box-shadow: none;
  }
}
.input-search .input-search__input{
  background-color: #F4F4F3;
  padding: 14px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "Telefonica-ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: lib-font-size-value(14px);
  height: auto;
  line-height: 1.15;
}
.review-form .input-text,
#review_field{
  background-color: #F4F4F3;
}
button.input-search__btn{
  color: $c-neutro;
  line-height: 1.15;
  &:hover{
    color: $c-neutro;
  }
  &:active{
    color: $c-neutro;
  }
}
.input-text.qty{
  background: #F4F4F3;
  border: none;
}
@include media-query(medium) {
  .hidden-y{
    /*overflow-y: hidden;*/
  }
}
@include min-screen($screen__s) {
  .catalog-product-view .review {
    &-form {
      max-width: 100%;
    }
  }
}
.catalog-product-view .capacidad .swatch-option.text{
  padding: 14px;
  margin: 0 4px;
  background-color: transparent;
  border:  1px solid #D3D4D3;
  font-size:  16px;
  min-width: 100px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  &:hover{
    border: 1px solid #1EC1F6;
  }
}
.catalog-product-view .capacidad .swatch-option.text.selected{
  background-color:#00A9E0 !important;
  color: $c-neutro;
  font-family: 'Telefonica-Bold';
  font-size: 16px;
  padding:  14px;
  width:  auto;
}
.catalog-product-view .swatch-attribute-label{
  font-size: 16px;
}
.catalog-product-view .swatch-option-tooltip .title {
    font-size: 24px;
}
.catalog-product-view .swatch-option.color{
  width: 30px;
  height: 30px;
}
.catalog-product-view .swatch-option.color.selected{
  width: 64px;
  height: 30px;
}
.btn.addTrigger{
  background-color: #5BC500;
  color: $c-neutro;
  border: none;
}
.list-sticky__img{
  max-height: 72px;
  width: auto;
}
.list-sticky__fig{
  display: inherit;
}
.list-sticky__img,
.list-sticky__caption{
  display: inline-block;
  vertical-align: middle;
} 
.list-sticky__img{
  max-width:20%;
}
.list-sticky__caption{
  max-width:80%;
}
.band .list-sticky,
.band .list-sticky__item{
  margin-bottom: 0;
}
.catalog-product-view .grid-box .price,
.catalog-product-view .layout-flex__item-large .price,
.layout-flex__aside .price-container .price{
  background-color: #00A9E0;
  color: $c-neutro;
  max-height: 50px;
  margin-bottom: 10px;
  min-width: 100px;
  padding: 14px;
  margin: 0 4px;
  text-align: center;
  border: 1px solid #D3D4D3;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  cursor: pointer;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.catalog-product-view .grid-box .price-box.price-final_price:before,
.catalog-product-view .layout-flex__item-large .price-box.price-final_price:before,
.catalog-product-view .layout-flex__aside .price-box.price-final_price:before {
  content: "Precio:";
  display: block;
  margin-bottom: 24px;
  font-weight: bold;
}
.product.attribute{
  border: none;
  width: 100%;
}
.catalog-product-view{
  h1{
    margin: 0;
  }
  h2{
    margin: 0;
  }
  @media (max-width: 768px) {
    .new__thumb.new__thumb6{
      margin-left: 0 !important;
    }
  }
}
#product-addtocart-button,
.tuning-car.minicart-wrapper,
.catalog-product-view  .price-box.price-final_price .grid__label{
  display: none !important;
}
.grid-box__row .price-final_price .grid__label{
  display: none;
}
.box-tocart .input-text.qty {
    height: 52px;
    text-align: center;
    width: 52px;
}
@include min-screen($screen__m) {
  .box-tocart {
    display: table;
    .field.qty {
      display: table-cell;
    }
    .actions {
      display: table-cell;
      padding-top: 25px;
      text-align: center;
      vertical-align: bottom;
    }
  }
}
.review-control-vote{
  &:before{
    font-family: "icomoon" !important;
  }
}
.review-control-vote label{
  &:before{
    font-family: "icomoon" !important;
    color: yellow !important;
  }
}
.layout_inner.steps .head__title{
  font-weight: 100;
}
.layout-flex__row_2{
  .product-reviews-summary{
    display: block;
  }
  .product-reviews-summary .rating-summary{
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .band_brand-1{
    z-index: 1;
  }
  .fieldset.review-fieldset{
    padding: 0 20px;
  }

  .btn__help5{
    margin-left: -10px !important;
    margin-top: 32px !important;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .btn__help5{
    margin-left: -20px !important;
    margin-top: 32px !important;
  }

  .tool5{
    margin: 0 30px !important;
  }

  #subcontent2{
    top: 132px !important;
  }

  .steps__list8{
    margin: 0 9% !important;
    display: flex !important;
  }
}

@supports (-ms-accelerator:true) {
  .btn__help5{
    margin-left: -10px !important;
    margin-top: 32px !important;
  }

  .tool5{
    margin: 0 30px !important;
  }

  #subcontent2{
    top: 132px !important;
  }

  .steps__list8{
    margin: 0 9% !important;
    display: flex !important;
  }
}
/* Estilos pos vitrina terminal */
.steps__cont button:not(.nc-color){
  border: none !important;
  background-color: transparent;
  &:hover{
    background-color: transparent;
    //color: $c-neutro;
  }
}
.steps__cont button.nc-color,
button.i-question-ball{
  border: none !important;
  background-color: transparent;
  &:hover{
    background-color: transparent;
  }
  &:active{
    background-color: transparent;
  }
}
.steps__cont button.js-btnFinalPlan:hover{
  background-color: #5BC500;
}
#planeshidden{
  .vsm-slider__card{
    .vsm-card{
      header.card__header{
        .card__header-item{
          .card__position{
            display: none !important;
          }
        }
      }
    }
  }
}
#valor-attacker{
  background: #F4F4F3;
  height: auto;
}
.txt-hand{
  margin: 0;
}
/* Estilos Panel Historico Notificaciones */
button.pager__btn,
button.pager__item-btn {
  box-shadow: none !important;
  &:hover{
    background-color: transparent;
  }
  &:active{
    background-color: transparent;
  }
  &:focus{
    background-color: transparent;
  }
}
.es-table-banner__btn{
  &:hover{
    text-decoration: none;
  }
}
/* Estilos pos vitrina terminal New */
.slider-detail__inner h2,
.slider-detail__inner p,
h4.card__title{
  margin: 0;
}

a.grid__inner{
  &:hover{
    text-decoration: none;
    color: $c-default;
  }
  &:active{
    text-decoration: none;
    color: $c-default;
  }
  &:visited{
    text-decoration: none;
    color: $c-default;
  }
  h2,p{
    color: $c-default;
  }
}
.grid__slot_no-edge .grid__btn{
  font-family: $f-bold !important;
}
.card__content button.steps__link,
button.js-listModalBtn,
button.js-listModalBtnTwo,
button.js-listModalBtnThree{
  background: none;
  font-family: 'Telefonica-ExtraLight' !important;
  &:hover{
    background: none;
    color: $c-brand-2-hover;
  }
  &:active{
    background: none;
    box-shadow: none;
  }
  &:focus{
    background: none;
  }
}
button.modal__close{
  background: none;
  &:hover{
    background: none;
  }
  &:active{
    background: none;
  }
  &:focus{
    background: none;
  }
}
p.card__success{
  margin: 0;
}
/* Estilos layout full width */
.page-layout-full-width .page-main{
  max-width: inherit;
  padding: 0;
}

.slick-dots button{
  font-size: 0;
}

/* Estilos para Pos Registro Pos Login */
.form.form_size button.form__tab-btn,
.form.form_size button.form__js-ico.i-eye,
.form button.form__js-ico.i-eye {
  background-color: transparent !important;
  box-shadow: none !important;
  &:hover{
    background-color: transparent;
  }
  &:active{
    background-color: transparent;
  }
  &:focus{
    background-color: transparent;
  }
}
.form.form_size input,
.form.form_size select{
  -webkit-border-radius: 4px;
  background-color: #F4F4F3;
  border-radius: 4px;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: auto;
  line-height: 1.4;
  padding: 10px 20px;
  width: 100%;
}
.data__header-full h1{
  margin: 0;
}
a.btn-share,
a.form__btn{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $c-neutro;
  }
  &:visited{
    text-decoration: none;
    color: $c-neutro;
  }
}
.steps__selected span.form-ico__label.i-cell{
  font-size: 14px;
}
.no-padding{
  padding-bottom: 0;
}


/* Estilos para malla categoría */
.catalog-category-view .page-main{
  width: 100%;
  max-width: inherit;
  padding: 0;
}
.catalog-category-view .hero-banner__svg,
.banner__mask:after,
.banner__crop .banner__img{
  max-width: initial !important;
}
.catalog-category-view .columns{
  width: 88%;
  max-width: 1280px;
  margin: 0 auto;
}
.catalog-category-view .search__input{
  padding: 14px 20px !important;
}
.category-view-custom .search__btn{
  padding: 7px 5px 0 5px;
}
.swatch-option-tooltip .title{
  font-size: 24px;
}
a.grid__action{
  color: $grey-5;
  position: relative;
  display: block;
  &:visited{
    color: $grey-5;
  }
  &:active{
    color: $grey-5;
  }
  &:hover{
    text-decoration: none;
  }
}
.grid__banner,
.grid__banner2{
  a{
    &:hover{
      text-decoration: none;
    }
  }
}
.grid__inner a.btn{
  font-weight: bold;
  &:hover{
    text-decoration: none;
  }
  &:visited{
    color: $c-neutro;
  }
}
.band.compare .block-reorder{
  display: none;
}
/* Estilos para el carrito de Compras */
.checkout-cart-index #maincontent{
  .page-title-wrapper{
    display: block !important;
    text-align: center;
    padding:50px 0 20px;
    border-bottom: 1px solid #D3D4D3;
    margin-bottom: 80px;
    h1{
      margin-bottom: 0;
    }
  }
}
.btn.btn_blue {
  background-color: $c-brand-2 !important;
  &:active{
    background-color: $c-brand-2-hover !important;
  }
  &:focus{
    background-color: $c-brand-2 !important;
  }
  &:hover{
    background-color: $c-brand-2-hover !important;
  }
}

  //- INTPOSP-611: Sección de boton logout mobile.
  .form__section {
    .form__row {
      @media only screen and (min-width: 768px) {
        .btn_center {
          display: none;
        }
      }
      @media only screen and (max-width: 767px) {
        text-align: center;
        .btn_center {
          width: 182px;
          padding: 9px 0px;
          font-size: 16px;
          line-height: 1.5;
          margin-top: 20px;
        }
      }
    }
  }

.cart-container .cart-summary .block > .title{
  font-size: 1.8rem;
}
.cart-container.data .cart-container .form-cart{
  width: 64%;
}
.cart-container.data .cart-summary{
  width: 36%;;
}
.cart-summary.js-asideFixed{
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.cart-summary.js-asideFixed input,
.cart-summary.js-asideFixed select{
  background: #F4F4F3;
}
.cart-summary.js-asideFixed .pos-data__aside-content{
  padding-bottom: 24px;
}
.fieldset.coupon .control{
  font-size: 0;
}
.fieldset.coupon .control input,
.fieldset.coupon .control .primary{
  display: inline-block;
  vertical-align: top;
}
.fieldset.coupon .control input{
  width: 80%;
}
.fieldset.coupon .control div.primary{
  width: 20%;
  button{
    height: 39px;
    padding: 0;
    min-width: inherit;
  }
}
th.pos-data__th{
  display: table-cell;
}
.checkout-cart-index{
  .price-including-tax .price,
  .price-excluding-tax .price{
    font-weight: 400;
  }
}
.pos-data__aside button.pos-data__aside-btn,
.cart-container button.pos-data__aside-btn {
  transition: all .3s linear;
  background-color: $c-brand;
  &:hover{
    background-color: $c-brand;
  }
  &:active{
    background-color: $c-brand;
  }
}

@media only screen and (max-width: 767px) {
  .cart-container.data .cart-summary{
    width: 100%;
  }
  .checkout-cart-index #maincontent{
    .page-title-wrapper{
      padding-top: 12px;
      margin-bottom: 24px;
    }
  }
}


/* Checkout */
.totals .title{
  font-size: 17px;
}

.column.main .block-cart-failed,
.column.main .cart-container .form-cart,
.column.main .cart-container .cart-gift-item{
  width: 70%;
}
.cart-container .cart-summary{
  width: 30%;
  padding: 28px 26px 0;
  background-color: $c-neutro;
  border: 1px solid $c-default-4;
}
#giftcard-form .primary button{
  background-color: $c-brand-2;
  color: $c-neutro;
  &:active{
    background-color: $c-brand-2-hover;
  }
  &:focus{
    background-color: $c-brand-2;
  }
  &:hover{
    background-color: $c-brand-2-hover;
  }
}
@media only screen and (max-width: 767px) {
  .column.main .block-cart-failed,
  .column.main .cart-container .form-cart,
  .column.main .cart-container .cart-gift-item,
  .cart-container .cart-summary{
    width: 100%;
  }
}
@include media-query(max-wide) {
  .cart-container .pos-data__aside-btn{
    top: inherit;
    bottom: 0;
  }
  .cart-container .pos-data__aside-btn.js-fixedActive{
    bottom: calc(100% - 40px);
  }
  .cart-summary{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    opacity: 1;
    transform: translateY(100%);
    transition: all .3s linear;
  }
  .cart-summary.js-fixedActive{
    transform: translateY(20px);
    overflow-y: scroll;
    top: 0 !important;
  }
}
strong.summary.title{
  @include font-rem(24px);
  font-family: $f-bold;
  margin: 0;
  line-height: 1.4;
}
.cart-container .cart-summary form input,
.cart-container .cart-summary form select,
.page-layout-checkout form input,
.page-layout-checkout form select{
  padding: 10px 20px;
  line-height: 1.4;
  font-family: $f-regular;
  color: $c-default-1;
  background-color: $c-default-5 !important;
  border-radius: 4px 0 0 4px;
  height: auto;
}
.opc-summary-wrapper .opc-block-summary{
  background: none;
  border: 1px solid $c-default-4;
  color:  $c-default;
  .block.items-in-cart.active{
    color: $c-default;
  }
  .product.options.active{
    color: $c-default !important;
      .item-options .values{
        border: 1px solid #D3D4D3;
        border-radius: 25px;
        text-align: center;
        display: block;
        width: min-content;
        padding: 0 10px;
      }
  }
}
.product-item .product{
  width: inherit;
  border: none;
}
.table.totals,
#shopping-cart-table.table{
  border: none;
}
.form__select{
  height: auto;
}
.js-step .search__btn.i-search{
  padding-top: 13px;
}
.form__row-gral input.form__input{
  background-color: $c-tag-5_l;
}
.search__form .easy-autocomplete{
  width: 100%;
}
.search__form .easy-autocomplete input.search__input{
  height: 50px !important;
}
.easy-autocomplete{
  width:100% !important
}
.easy-autocomplete input{
  width: 100%;
}
.easy-autocomplete-container ul > li{
  margin-bottom: 0;
}
.validateMsgForm{
  color: red;
  display:none;
}
#msmx-pospago{
  max-width: 1280px;
  margin: 0 auto;
  .data-aside__content.top {
    margin-bottom: 0px !important;
  }
  .step__set{
    margin-bottom:10px;
  }
}
.alert{
  display: none;
  left: 0;
}
.alert.animated{
  display: flex;
}
#search-store{
  display: none;
}

/* Preguntas Frecuentes */
h1.title__light,
li.faq__item{
  margin-bottom: 0;
}
.grid-squares__item .box{
  &:hover{
    color: $c-neutro;
    text-decoration: none;
  }
  &:active{
    color: $c-neutro;
    text-decoration: none;
  }
  &:visited{
    color: $c-neutro;
    text-decoration: none;
  }
}
.inner_canvas.head .search__btn.i-search{
  padding-top:13px;
  &:hover{
    color: $c-neutro;
  }
  &:active{
    color: $c-neutro;
    background-color: $c-brand-2;
  }
  &:focus{
    color: $c-neutro;
    background-color: $c-brand-2;
  }
}
a.head-callto__ico{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

/* Seguimiento de Orden */
button.tab__btn {
  background-color: transparent;
  box-shadow: none;
  &:hover{
    background-color: transparent;
  }
  &:active{
    background-color: transparent;
  }
  &:focus{
    background-color: transparent;
  }
}
button.tab__btn.js-tabOpen{
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.grid__action .grid__title{
  margin: 0;
}
.inner_line-bottom table.table{
  border: 1px solid $c-default-3 !important;
}
.btn.btn_neutro{
  font-family: $f-regular;
  background-color: $c-neutro !important;
  border: 2px solid $c-brand-2 !important;
  transition: all 0.2s linear;
  color:  $c-brand-2 !important;
  &:hover {
    background-color: $c-default-5 !important;
  }
}
.grid__label,
.grid__value{
  margin-bottom: 0;
}
.slider-detail__inner .slider-detail__list .slick-track{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.slick-initialized .grid__slot.slick-slide{
  display: flex;
}
.grid__slot_background{
  height: auto !important;
}

/* Perfil de Usuario */
a.menu-aside__link{
  &:hover{
    text-decoration: none;
  }
}
.js-btnDropdownParent input[type="text"],
.js-btnDropdownParent input[type="email"],
.js-btnDropdownParent input[type="password"],
.js-btnDropdownParent input[type="url"], 
.js-btnDropdownParent input[type="tel"], 
.js-btnDropdownParent input[type="search"], 
.js-btnDropdownParent input[type="number"], 
.js-btnDropdownParentinput[type="datetime"]{
  background-color: $c-tag-5_l;
}
button.profile__arrow{
  border-bottom: 1px solid #CBCBCB !important;
  &:hover{
    background-color: transparent;
    box-shadow: none;
  }
  &:active{
    background-color: transparent;
    box-shadow: none;
  }
  &:focus{
    background-color: transparent;
    box-shadow: none;
  }
}
.field.note.forgotpass{
  display: block;
  position: relative;
  clear: both;
}
.form.password.forget {
  input[type="text"],
  input[type="email"]{
    background-color: $grey-0;
  }
}
.form__ico.form__js-ico.i-eye{
  height: auto; 
}
/* Pos Car */
.data-aside__wrap{
  h2, dl, dt, dd{
    margin: 0;
  }
}
button.js-dataSectionBtn{
  border-bottom: 1px solid #CBCBCB !important;
  &:hover{
    background-color: transparent;
    box-shadow: none;
  }
  &:active{
    background-color: transparent;
    box-shadow: none;
  }
  &:focus{
    background-color: transparent;
    box-shadow: none;
  }
}
span.spinner{
  margin: 0 auto;
} 

/* Recarga Pública Planes */
.js-StepBoxSlide .form__input{
  background-color: $c-tag-5_l;
} 
#recarga{
  &:hover{
    text-decoration: none;
  }
} 
.radio-box__label.not-before:before{
  display: none;
}

/* Error 404 */
.banner__caption-neutro {
  .banner__list{
    z-index: 3;
    position: relative;
    a{
      color: $c-neutro;
      &:visited{
        color: $c-neutro;
      }
      &:hover{
        color: $c-neutro;
      }
    }
  }
}

/* Centrar Spinning */
.loading-spiner.tuning{
  background-color: rgba(255,255,255,0.7);
  bottom:0;
  display:none;
  height: 100%;
  position: fixed;
  width: 100%;
  .spinner{
    top: 50%;
    position: relative;
    transform: translate(0,-50%);
  }
}
.not-underline{
  &:hover{
    text-decoration: none;
  }
}
 
/* Loading especial FLAP */
.center_loading{
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 10000;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}
.loader_desktop,
.loader_mobile{
  /*display: none;*/
}
@media only screen and (max-width: 767px) {
  .loader_mobile{
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .loader_desktop{
    display: block;
  }
}
.new_loading{
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/*********************************************************
Customer Dashboard
*********************************************************/

#maincontent{

   .page-title-wrapper{

     display: none !important;

  }

}


.panel_bg {
  .panel__inner_s {
    .panel__top {
      .panel__avatar {
        img {
          max-width: none !important;
        }
      }
    }
  }
  &:before {
    background-image: url(#{$imgPathMsmx}/bg-m.png) !important;
  }
}


.panel__footer{
  .panel__link link__brand{
    color: $c-brand-2 !important;
  }
}



.layout-grid__aside{

  .panel{
    .panel__brand{
      color: $c-default;
      .panel__link{
        @include lib-font-size(1.6rem);
      }
      &:focus {
        outline-width: 0;
      }
      .panel__txt {
        color: $c-neutro;
      }
      .panel__link{
        color: $c-neutro;
      }
    }

    .panel-tab{
      //- Estructura
      .panel-tab__top {
        background-color: $c-neutro !important;
        /*&.i-arrow-right {*/
        &:before {
          font-family:  $movistar-icons-font !important;
          content: $i-arrow-back !important;
          transform: rotate(90deg);
        }
        /*}*/
      }
    }

    a {
      color: $c-default;
      &:focus {
        outline-width: 0;
      }
    }
  }
}



.panel__ico {
  @include lib-font-size(1.625rem);
  &:hover{
    text-decoration: none;
  }
}

.panel__bold{
  &:before{
    @include lib-font-size(26);
  }
}

button,
input,
optgroup,
select,
textarea {
  border: none !important;
}



//- Elemento
.panel-tab__input {
  display: block !important;
  width: 100% !important;
  padding: 10px 20px !important;
  line-height: 1.4 !important;
  @include font-rem(12px);
  font-family: $f-light !important;
  color: $c-default !important;
  border-radius: 4px !important;
  background-color: $c-default-4 !important;
  margin-bottom: $sp-small !important;
}


/**
 * @atom Botones
 * @section Navegación
 * @modifiers
 *  .btn Botón principal de fondo verde
 *  .btn_blue Botón Secundario de fondo azul
 * @markup
 *  <a class="btn" href="#" title="Go to Button">.btn</a>
 *  <a class="btn btn_blue" href="#" title="Go to Button">btn .btn_blue</a>
 */

.btn {
  color: $c-neutro !important;
  font-family: $f-bold !important;
  border-radius: 4px !important;
  background-color: $c-brand !important;
  &.i-shopping-car {
    &:before {
      @include font-rem(26px);
    }
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  }
  &:focus,
  &:active {
    background-color: $c-brand-hover !important;
  }
}


/*------------------------------------*\
  Searchs de productos
\*------------------------------------*/

.search__input {
  padding: 10px 20px !important;
  line-height: 1.4 !important;
  font-family: $f-regular !important;
  color: $c-default-1 !important;
  background-color: $c-default-5;
  border-radius: 4px 0 0 4px !important;
  height: auto !important;
  border: none !important;


  ::-webkit-input-placeholder { /* Chrome */
    color: red;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: red;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: red;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: red;
    opacity: 1;
  }

  /*::placeholder {
    color: $c-default-3 !important;
  }*/

}


._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
  box-shadow: none !important;
}

.ban-window__mask .ban-window__svg,
.ban-frame__mask .ban-frame__svg{
  max-width: inherit;
}

.filtro__level3 {
  display: block !important;
}

.menu-search.js-menuSearchClose{
  //display: none !important;
}



//Comparador de terminales

.catalog-product-compare-index {
  .page-main {
    background: $bg-gray;
    background: url('../images/compare/header.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: top center;
    @media only screen and (max-width: $bp-small-m) {
      background: $bg-gray;
    }
  }
  .layout_inner {
    @media only screen and (max-width: $bp-small-m) {
      width: 95%;
    }
  }
  .head__box {
    &:after {
      @media only screen and (max-width: $bp-small-m) {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 110%;
        height: 60px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #F4F4F3;
      }
    }
  }
  .js-changeBtn {
    color: $color-black;
  }
  .data-sheet {
    padding: 0;
    height: 100%;
    .btn {
      font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    &:last-child {
      @media only screen and (max-width: $bp-medium) {
        display: flex;
      }
    }
  }
  .data-sheet__title {
    &.empty {
      height: 90px;
      padding: 0 30px;
      @media only screen and (max-width: $bp-medium) {
        height: 109px;
      }
    }
  }
  .js-dataSheetParent {
    flex: 33%;
    &:last-of-type {
      @media only screen and (max-width: $bp-small-m) {
        display: none;
      }
    }
  }
  .data-sheet__img {
    width: 100%;
    max-width: 100%;
  }
  .data-sheet__info {
    padding: 0 30px;
  }
  .grid__img {
    max-width: 150px;
  }
  //Perdóname mamá, metemos important para sobreescribir background-color!important de .btn
  .btn_disable {
    background-color: $c-default-1 !important;
    transition: all 0.2s linear;
    margin: 0 30px;
    &:hover {
      background-color: $c-default-2;
    }
  }
  .data-sheet__row {
    text-align: left;
    font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    @media only screen and (max-width: $bp-small-m) {
      padding: 6px 10px 6px 30px;
    }
    &.empty {
      height: 49px;
    }
    p {
      margin: 0;
    }
  }
  .data-sheet__txt {
    margin: 0;
  }
  .data-sheet__table {
    margin: 40px 0;
    &.empty {
      margin: 41px 0;
    }
    .data-sheet__row {
      &:last-child {
        display: table-cell;
      }
    }
  }
}

//Hide plan detail in desktop
@include media-query(large) {
  .plan_detail_mobile {
    display: none;
  }
}



//Sugerencias de productos
.suggest {
  .suggest__list {
    @media only screen and (min-width: $bp-wide) {
      flex-wrap: nowrap;
    }
/*     .product {
      @media only screen and (min-width: $bp-wide) {
        margin: 10px 0;
      }
    } */
    .grid__blocks {
      @media only screen and (min-width: $bp-wide) {
        display: block;
      }
      .grid__price {
        @media only screen and (min-width: $bp-wide) {
          padding-left: 0;
        }
        &:last-child {
          @media only screen and (min-width: $bp-wide) {
            border-left: 0;
          }
        }
      }
    }
  }
}

// FIX IE11 marcas favoritas
@include media-query(large) {
  .layout__duo-box .layout__header{
    width:30%;
  }
}



/** Portability - JB */
#portaTerminalDetailBox{
  margin:45px 0 10px;
  &:hover{
    cursor:pointer;
  }
  #display-ptdb{
    font-weight:bold;
    margin-bottom: 5px;
  }
  .active{
    color:#50535A !important;
  }
  .i-a-arrow-back:after{
    color:#00A9E0;
    float: right;
    font-size: 25px;
    font-weight: bold;
  }
  .i-a-arrow-back.active:after{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out 0.5s;
    }
  .form__label{
    padding-top:10px;
    padding-bottom: 5px;
  }
  .form__input{
    background-color: #F4F4F3;
    color: #ccc;
    padding: 5px 20px !important;
    min-height: 35px;
    width: 50%;
    border-radius: 5px 0px 0px 5px;
    float: left;
    margin-bottom: 20px;
  }
  .btn.btn_blue{
    font-size:14px;
    height: 35px;
    padding:10px 5px;
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }
}
.tabs-box{
  .tabs-box__content{
    .tabs-box__pane.js-tabsBoxPane{
      padding:30px 0;
      @media (max-width: 1280px) and (min-width: 768px){
        .tabs-box__item-head{
          width: 50%;
        }
        .tabs-box__item-body{
          width: 50%;
        }
      }
    }
    ul.tabs-box__nav{
      li.tabs-box__nav-item{
        a.tabs-box__link{
          @media (max-width: 915.9px) and (min-width: 768px){
            font-size:15px;
          }
        }
      }
    }
  }
}
.catalog-product-view{
  .layout__padding{
  padding:20px 0 !important;
  }
  .layout-form__row{
    .grid-thumb{
      .grid-thumb__slot{
        display: inline-block;
        flex: none;
      }
    }
  }
  .layout-flex__row.layout-flex__row_5{
    text-align: justify;
  }
  .layout_inner{
    .layout-flex.layout-flex_wrap{
      .layout-flex__aside{
        @media (max-width: 767.9px){
          width:100%;
        }
      }
    }
  }
}
.portaR{
  width: 90%;
  margin:40px auto 20px;
}
#greenBox_PortaForm2.form__row-sm{
  @media (max-width: 1075px){
    .steps__item{
      width: 100%;
      float: left;
      .form-ico{
        max-width: 220px;
      }
      .form-ico.form-ico2{
        margin-right: 50px;
      }
    } 
  }
  @media (max-width: 1025px) and (min-width: 768px){
    .steps-item{
      -webkit-box-flex:unset;
      flex:none;
      display:inline-flex;
      .form-ico.form-ico2{
        margin-right: auto;
        margin-left:12%;
      }
    }
    ul.steps__list{
      display: contents;
    }
  }
}
#sc2-c2{
  @media (max-width: 1075px){
    .steps__item{
      /*width: 100%;
      float: left;*/
      .form-ico{
        max-width: 220px;
      }
      .form-ico.form-ico2{
        margin-right: 50px;
      }
    } 
  }
  @media (max-width: 1025px) and (min-width: 768px){
    .steps-item{
      -webkit-box-flex:unset;
      flex:none;
      display:inline-flex;
      .form-ico.form-ico2{
        margin-right: auto;
        margin-left:12%;
      }
    }
  }
  @media (max-width: 767.9px){
    .steps__list{
      text-align: center;
      margin-left: -7vw;
      .steps__item{
        display:inline-block;
        .form__radio_label{
          width:220px;
        }
        .form-ico.form-ico2{
          margin-right: auto;
        }
      }
    }
  }
  @media (max-width: 535px){
    .steps__list{
      .steps__item{
        .form__radio_label{
          .icon-nw-phone-movistar{
            &::before{
              min-width: 50px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
#sc2-c1{
  .tabs-box__form-btn{
    margin-top:0px !important;
  }
}

#subcontent2{
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  padding: 46px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;

  h3{
    margin-bottom: 30px;
  }
  label{
    font-family:'Telefonica-Regular';
    font-size:16px;
    max-width: 440px;
    margin:auto;
  }
  .form__row-sm{
    max-width: 440px;
    margin:auto;
    #sc2-dn{
      background:#F4F4F3;
      box-shadow:0px 2px 4px #ccc;
      height: 46px;
      float: left;
      width: 50% !important;
    }
    .tabs-box__form-btn.btn{
      width: 50%;
      float: left;
    }
  }
  @media (max-width:1024px){
      top:0px !important;
  }
}
.posvitrinaterminalpre-index-index{
  .layout .layout__padding{
    .head__title{
       margin:5px auto 10px;
    }
  }
  .thanks-message.steps__bottom2{
      margin-bottom:40px;
  }
  #elige{
      .steps__legend{padding-top:0; border-bottom:0;}
   }
  .steps__foot{
     .steps__foot_inner{
        .txt-small{
            font-size:12px;
        }
     }
  }
  .form__radio_label:after{
    left: -40px;
  }
}
.posvitrinaterminal02-index-index{
  .layout{
    padding-top:0px;
  }
  .layout__padding{
    padding-top: 50px;
  }
  .portaR{
    .tag-svg .tag_bg-green{
      margin-bottom: 0px;
    }
  }
  .tag-svg .tag_bg-green{
    background-color: transparent !important;
  }
  .module.inner{
    max-width: 650px;
  }
  #formPlanes{
    .layout_bg-col{
      .steps{
        .steps__foot{
          .steps__btn{
            min-width: 250px !important;
          }
        }
      }
    }
  }
  .layout_bg-col{
    .steps__list.steps__list_box{
      .steps__item>a{
        font-family: 'Telefonica-ExtraLight' !important;
      }
    }
  }
}
.alert_success.bounceOut{
  .message-success{
    .txt-end{
      font-size:25px;
      font-family: 'Telefonica-Bold'
    }
  }
}
.posvitrinaterminalpre-index-index{
  .layout .layout__padding{
    .head__title{
       margin:5px auto 10px;
    }
  }
  .thanks-message.steps__bottom2{
      margin-bottom:40px;
  }
  #elige{
      .steps__legend{padding-top:0; border-bottom:0;}
   }
  .steps__foot{
     .steps__foot_inner{
        .txt-small{
            font-size:12px;
        }
     }
  }
}
.hiddenSubmenu{
  opacity: 0;
  visibility: hidden;
  transform: translate(0px,-80px);
  transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  -webkit-transform: translate(0px,40px);
  -webkit-transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}
.hiddenSubmenu.active{
  visibility: visible;
  opacity: 1;
  transform: translate(0px,0px);
  transition: visibility 0s ease, opacity 0.5s, transform 0.5s ease;
  -webkit-transform: translate(0px,120px);
  -webkit-transition: visibility 0.5s ease, opacity 0.5s, transform 0.5s ease;
}
.subcontent2-content>div {
    width: 100%;
}
.subcontent2-content{
  margin: 0 auto;
  max-width: 600px;
  h3{
    text-align: center; 
    font-family: 'Telefonica-Light'; 
    font-size: 30px;
    color: #86888C;
  }
  label{
    color: #86888C;
  }
  .form__row-sm{
    input{
      width: 53%;
      display: inline-block;
    }
    button{
      width: 44%; 
      display: inline-block;
    }
  }
}
#sc2-form-portability #sc2-goToPortability  {
    width: 250px; 
    display: block;
    margin: 0 auto;
}
#sc2-form-portability #sc2-sc1>div {
    margin-bottom: 15px;
}
.posvitrinaterminal02-index-index{
  .layout{
    padding-top:0px;
    #oferta-attacker{
      .module__cont{
        .module__border{
          .module__slot-grid{
            @media (max-width: 1023px){
              margin:auto !important;
              width:180px !important;
            }
          }
        }
      }
    }
  }
  .layout__padding{
    padding-top: 50px;
  }
  .portaR{
    margin-bottom: 0px;
    .tag-svg .tag_bg-green{
      margin-bottom: 0px;
    }
  }
  .tag-svg .tag_bg-green{
    background-color: transparent !important;
  }
  .module.inner{
    max-width: 650px;
  }
  .steps__item{
    a{
      padding:18px 0;
      font-family: "Telefonica-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px !important;
      color: #00a9e0;
    }
  }
  .steps__legend{
    border:none;
  }
  small.txt-sm{
    display:none !important;
  }
  .expand-one, .expand-cero{
    font-family: 'Telefonica-Light' !important;
  }
  .layout_bg-col{
    .steps__list.steps__list_box{
      .steps__item>a{
        line-height: 1.6rem;
      }
    }
  }
}
.posvitrinaterminal-index-index{
  .layout{
    .form-gral{
      .steps__legend{
        border:none;
      }
    }
  }
  #elige{
    #plan_selected_vitrina{
      .form-ico{
        .form__radio_label{
          .form-ico__label{
            @media (max-width: 500px){
              max-width: 220px;
              text-align: left;
            }
          }
          .icon-minutos_movistar{
            &::before{
              margin-left: -5px;
              padding-right: 15px !important;
            }
          }
        }
      }
    }
  }
}
.posvitrinaterminal02pre-index-index{
  .vsm-form__fieldset{
    .steps__legend{
      border:none;
    }
  }
  .vsm-card .tag{
    background-color:transparent !important;
  }
  .vsm-card{
    .card__content{
      padding:0 20px 30px;
      .card__item{
        &:last-child{
          padding-top:28px;
        }
      }
    }
  }
  .slider__cards_item{
    .card__content{
      .card__item{
        .card__txt-high{
          color:#50535A !important;
        }
      }
    }
  }
}

.poscar-index-index{
  .data-aside__sticky{
    .data__inner{
      text-align: justify;
    }
    @media (max-width: 1023.9px){
      .js-btnAsideFixed{
        max-width: 96% !important;
        margin-right: 2% !important;
        transition: all 0.2s linear;
      }
    }
  }
  .js-fixedActive{
    @media (max-width: 767.9px){
      .js-btnAsideFixed{
        max-width: 100% !important;
      }
    }
  }
  .data__show.js-dataCont.js-dataShow{
    .data-section__slice5{
      .data-section__subitem:nth-child(2){
        span{
          color:white !important;
          display: none !important;
        }
      }
    }
  }
  #hotspot-service{
    button{
      font-family: 'Telefonica-ExtraLight' !important;
    }
  }
  .layout_section{
    .data{
      .data__table{
        .data-section{
          .data-section_item-sm{
            display:none;
          }
          a.link.link__brand{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
.poscarpre-index-index{
  .aside-table__table{
    tfoot{
      display: none;
    }
  }
  .data__list{
    margin-top:10px;
  }
  .vsm-data__table{
    .data__txt-big{
      font-size: 16px;
    }
  }
  .layout_section{
    .data{
      .data__table{
        .data-section{
          a.link.link__brand{
            margin-bottom:15px;
          }
        }
      }
    }
  }
  a#eliminar-product{
    display: none !important;
  }
}
.alert_success.bounceOut{
  .message-success{
    .txt-end{
      font-size:25px;
      font-family: 'Telefonica-Bold'
    }
  }
  .js-dataSectionParent{
    .data-section_item:nth-child(3){
      .link__brand{
        margin-bottom: 10px;
      }
    }
  }
}
#custrom-message-recarga{
  .modal__crop{
    color: #50535A;
    font-family: 'Telefonica-Light';
    font-size: 36px;
  }
}

/* Home */
.correction-width{max-width: 550px}
.txt-motorola {padding:15% 0 2% 0;}
@media only screen and (max-width: 414px) {
  .txt-motorola {
      padding: 3% 0;
      margin-top: -40%!important;
  }
}
@media only screen and (max-width: 320px) {
  .txt-motorola {
      padding: 3% 0;
      margin-top: -43%!important;
  }
}
@media only screen and (max-width: 600px) {
  .titulo-cuervos {
    margin-top: -29%!important;
  }
  .subtitulo-cuervos{
    margin-top: -5%!important; margin-bottom: -3%!important
  }
}
.header{
  z-index: 5;
  box-shadow:0px 2px 3px rgba(0,0,0,0.1);
}
.js-listModalThree3{
  h3#modal-text-container{
    text-align: center;
    font-family: 'Telefonica-ExtraLight';
    font-size: 1em;
    color: #4a4a4a;
  }
  button#cerrarSinRecarga{
    font-size: 1.3em;
    font-family: 'Telefonica-Bold';
  }
}

@media (max-width: 440px){
  .alert_success.bounceOut .message-success .txt-end{
    font-size:16px;
  }
}
.portabilidad-prepago-checkout{
  .txt_blue.i-star-fill{
    position:absolute;
    right: 0;
    top:0px;
    font-size: 1em;
  }
  .pos-data__content{
    @media (min-width: 1024px){
      width: 63% !important;
    }
  }
  .step__content.js-stepAccordion.step__content2{
    .form__row-gral{
      .step__txt{
        strong{
          font-family: 'Telefonica-Bold';
          font-size: 1.3em;
          color: #50535a;
        }
      }
      input.form__input{
        background-color: #f4f4f3;
        opacity:1;
      }
      input#stp4-curp, input#stp4-nip{
        margin-bottom: 2px !important;
      }
    }
    .form__row{
      label.form__label_check.i-check{
        display: inline-block;
      }
      .form__label_check:before{
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  #bloque-portabilidad-nip-validacion{
    a:visited{
      color: #1979c3 !important;
    }
    margin-bottom: 2px !important;
    .step__content2{
      width: 70%;
      margin: auto;
      padding-top:25px;
    }
    span.txt_blue.i-star-fill{
      top:100px;
    }
    .step__content{
      .form__row.form__row-high{
        padding-top:0 !important;
        padding-bottom:40px;
      }
      .form__row.form__row_center.form__row-none{
        padding: 20px 0 40px !important;
      }
    }
    #envio-nip{
      float: right;
      margin: 0;
      font-size: 12px;
    }
    #valid-nip{
      margin-bottom:0 !important;
    }
    #valid-curp{
      margin-bottom: 0 !important;
    }
    #encuentra-curp{
      float:right; margin:0; font-size:12px;
    }
  }
  #bloque-portabilidad-info-envio{
    .form__row-gral{
      padding-bottom:0px !important;
      label,.validateMsgForm{
        max-width: 500px;
        margin:auto;
      }
      .search__form{
        input{
          box-shadow: none;
          background-color: #f4f4f3;
          opacity: 1;
          color: black !important;
        }
        button{
          box-shadow: none;
          background: #00a9e0;
          color: white;
          max-height: 50px;
        }
      }
      .form__inner-select{
        margin-bottom: 15px !important;
      }
    }
    .form__radio_label.vsm-form__radio_label{
      font-family:'Telefonica-Regular';
    }
    .step__content{
      .form__box_under{
        border:none !important;
        padding:0;
        margin-bottom: 30px;
      }
      .form__row.form__row-high{
        padding:0 0 40px !important;
      }
    }
  }
  /*.data__list.data__summary{
    padding:0 24px;
  }*/
  #bloque-portabilidad-detalle{
    .js-fixedActive{
      max-width: 96% !important;
      margin-right: 2% !important;
      transition:all 0.2s linear;
    }
    @media (max-width:767.9px){
      .js-btnAsideFixed{
        max-width:100% !important;
      }
    }
  }
  #bloque-portabilidad-info-cliente{
    .step__content{
      .form__grid{
        .form__grid__item{
          @media (max-width: 640px){

          }
        }
      }
      .form__row-gral{
        padding-bottom:0;
      }
      .TELCONT-checkout{
        margin-bottom: 40px;
        @media (max-width: 400px){
          width: 100%;
        }
        label{
          &::before{
            content: "";
          }
          &::after{
            -webkit-box-ordinal-group: 3;
            -webkit-order: 2;
            -ms-flex-order: 2;
            order: 2;
            padding-right: 4px;
            color: #00a9e0;
            font-size: 8px;
            font-size: .8rem;
            content: "*";
          }
          @media (max-width: 400px){
            width: 90%;
            display: inline-block;
          }
        }
        span{
          display: inline-block;
          font-size: 10px;
          padding-left: 5px;
          padding-top: 4px;
        }
      }
    }
  }
  input::placeholder{
    color: black;
  }
  .boldLab{
    font-weight: bold !important;
  }
}
.portabilidad-plan-checkout{  
  .form__row-gral{
    input.form__input{
      background-color: #f4f4f3;
      opacity:1;
      &::placeholder{
        color:#111111;
      }
    }
  }
  .form__select{
    padding-left:9px;
    padding-right:9px;
    background-color: #f4f4f3;
    opacity:1;
  }
  .pospago-portabilidad{
    #msmx-pospago{
      .pos-data__content{
        @media (max-width: 1025px) and (min-width: 1024px){
          width: 63% !important;
        }
      }
    }
  }
  #pospago-portabilidad-score-crediticio{
    .form__row_divisor{
      border:none;
    }
    .step__content{
      .btnStepTwo{
        padding-bottom:0;
      }
    }
  }
  .pospago-portabilidad-score-crediticio{
    .js-stepAccordion{
      .form__row-gral{
        .form__grid{ 
          .form__grid__item:nth-child(1){
            padding-bottom:0px !important;
          }
        }
      }
    }
  }
  #bloque-portabilidad-nip-validacion{
    .step__content2{
      width: 70% !important;
      margin: 45px auto 0 !important;
      .form__row-gral{
        .center{
          margin:unset;
        }
        input{
          margin-bottom: 2px;
        }
        a{
          text-align: right !important;
          width: 100%;
          display: inline-block;
          font-size: 12px;
        }
      }
    }
    span.txt_blue.i-star-fill{
      top:100px;
    }
  }
  #bloque-portabilidad-detalle{
    .js-fixedActive{
      max-width: 96% !important;
      margin-right: 2% !important;
      transition:all 0.2s linear;
    }
    @media (max-width:767.9px){
      .data-aside__btn{
        max-width:100% !important;
      }
    }
  }
  .detalle-pospago-portabilidad{
    .data__txt{
      .link__brand{
        display: contents;
      }
    }
  }
  .portabilidad-pospago-contrato{
    .step__content2{
      width: 70%;
      margin: auto;
      .form__row-gral{
        .center{
          margin:unset;
          .i-check2{
            margin:unset;
          }
        }
      }
    }
  }
  #bloque-portabilidad-info-envio{
    .form__row-gral{
      padding-bottom:0px !important;
      label,.validateMsgForm{
        max-width: 500px;
        margin:auto;
      }
      .search__form{
        input{
          box-shadow: none;
          background-color: #f4f4f3;
          opacity: 1;
          color: black !important;
        }
        button{
          box-shadow: none;
          background: #00a9e0;
          color: white;
          max-height: 50px;
        }
      }
      .form__inner-select{
        margin-bottom: 15px !important;
      }
    }
    .form__radio_label.vsm-form__radio_label{
      font-family: 'Telefonica-Regular';
    }
    .step-content{
      .form__box_under{
        border:none;
      }
      .form__row.form__row-high{
        padding-bottom:40px;
      }
    }
  }
}
.portabilidad-plan-checkout{
  #bloque-portabilidad-info-cliente{
    .form__row-gral:last-child{
      float:left;
      width: 100%;
      .form__label_check.i-check{
        width: 100%;
        max-width: 320px;
        margin:auto;
      }
    }
    .step__content{
      .form__inner-select{
        opacity: 1 !important;
      }
      #colonia{
        color:black !important;
      }
      .form__select{
        color:black !important;
      }
      &.js-stepAccordion{
        .form__row-gral{
          .form__grid{
            padding-bottom:0px;
            .form__grid__item:nth-child(1){
              padding-bottom:20px !important;
            }
          }
        }
      }
    }
  }
  .form__inner-select{
    opacity: 1 !important;
  }
  .boldLab{
    font-weight: bold !important;
  }
}
.portabilidad-plan-confirmacion{
  .up-margin5{
    margin-top:0px !important;
  }
}
.portabilidad-plan-oferta,.portabilidad-prepago-oferta{
  .vsm-form__fieldset{
    .step-box{
      width: 320px;
      margin: auto;
      form{
        width:100% !important;
        @media (max-width: 500px){
          width: 80% !important;
          margin:auto;
        }
      }
    }
  }
}
#oferta-attacker{
  .module__inner{
    .attackFix{
      p{
        a{
          font-size: 16px;
          font-family: 'Telefonica-Light';
          color: #00a9e0;
          text-decoration: underline;
          &:hover{
            color:#1EC1F6;
          }
        }
      }
    }
  }
}
.tycPorta{
  a{
    font-size: 16px;
    font-family: 'Telefonica-Light';
    color: #00a9e0;
    text-decoration: underline;
    &:hover{
      color:#1EC1F6;
    }
  }
}
#section-equipo{
  .data-section__detail{
    .data-section__slice{
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      .data__txt-big{
        margin-top:12px;
      }
    }
  }
  .data-section__aside{
    .link{
      padding-top:3px;
    }
  }
  .data-section__item:first-child{
    @media (min-width:768px){
      max-height: 126px;
    }
  }
  .data-section__item:last-child{
    @media (min-width:768px){
      margin-top:17px;
    }
  }
}
.warming{
  width: 100% !important;
  max-width: 320px !important;
  margin:0 auto !important;
}
.pospago-portabilidad-contrato{
  .step__content2{
    width: 70%;
    margin:auto;
    .form__row-gral{
      .center{
        margin:unset;
        .i-check2{
          margin:unset;
        }
      }
    }
    .form__row-gral{
      padding-top:20px;
      padding-bottom:40px;
    }
  }
}
.steps__link.link__brand.js-listModalBtnTwo2,.steps__link.link__brand.js-listModalBtnTwo3{font-family: 'Telefonica-ExtraLight' !important;}
.vsm-card{
  .card__wrap{
    .card__content{
      position: relative;
      padding-bottom:20px;
      .card__item.card__item_no-border{
        padding-bottom:30px;
        .card__txt-high.js-pricePlan{
          position: absolute;
          bottom: 95px;
          margin: 0;
          display: block;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
.renovaciones-oferta-seleccion{
  .form-ico .form__radio_label:before {
    top: 31% !important;
    margin-left: 0.5% !important;
  }
  .data-section_item{
    .data-tab{
      .data__show{
        li.data-section__slice{
          span:nth-child(2){
            display: none !important;
          }
        }
      }
    }
  }
  .form__radio_label:after{
    left: -39px;
  }
}
.page-products{
  .sidebar{
    &.sidebar-main{
      @media (min-width: 768px){
        width: 100% !important;
        max-width: 240px;
      }
    }
  }
  #layered-filter-block{
    width: 100%;
    @media (max-width: 767.9px){
      max-width: unset !important;
    }
    @media (min-width: 768px){
      opacity: 1 !important;
      max-width: 240px !important;
    }
  }
}
.catalog-product-view{
  #portaTerminalDetailBox{
    .form__input {
      color:#4d4d4d;
    }
  }
}
button.btn-i.i-question-ball.js-btnTooltipData.nc-color:before{
  color: #e9426d !important;
}

/* IE Styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .btn__help5{
    margin-left: -20px !important;
    margin-top: 32px !important;
  }
  .tool5{
    margin: 0 30px !important;
  }
  #subcontent2{
    top: 132px !important;
  }
  .steps__list8{
    margin: 0 9% !important;
    display: flex !important;
  }
  .steps__list9{
    margin: 0 -40px !important;
  }
}

@supports (-ms-accelerator:true) {
  .btn__help5{
    margin-left: -10px !important;
    margin-top: 32px !important;
  }
  .tool5{
    margin: 0 30px !important;
  }
  #subcontent2{
    top: 132px !important;
  }
  .steps__list8{
    margin: 0 9% !important;
    display: flex !important;
  }
  .steps__list9{
    margin: 0 -40px !important;
  }
}
/* End IE Styles */

span.sadface{
  display:block;
  font-weight:900;
  text-align:center;
}
.tabs__btn.i-arrow-back.gtm-landing{
  span.counter {
    display: none;
  }
}
#modal-envio-nip{
  h3{
    font-family: 'Telefonica-Regular';
    font-size: 20px;
  }
  strong{
    font-family: 'Telefonica-Bold';
  }
  p{
    font-family: 'Telefonica-Light';
    font-size:15px !important;
  }
  #solicitarNipButton{
    padding:15px 40px;
  }
}
#slideBillAddr{
  .form__row-gral{
    input{
      max-width: 100%;
    }
    .validateMsgForm{
      max-width: 100%;
    }
  }
}
.renovaciones-cart-index{
  .layout_section{
    .layout_inner{
      .data{
        .data__table{
          .data-section{
            .data-section_item{
              .link.link__brand{
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.renovaciones-checkout-index{
  #msmx-pospago{
    .pos-data__content{
      .step__set{
        .step__content{
          .form__row-high{
            .form__row-gral{
              .js-validateMsg.js-validateMsgEmail.danger{
                margin-top:-8px !important;
              }
            }
          }
        }
      }
    }
    /*fieldset:nth-child(2){
      .step__content{
        > .form__row-high:nth-child(1){
          display: none !important;
        }
      }
    }*/ 
  }
  #sameDirAbove{
    margin-bottom:40px !important;
    .center2{
      padding-left:7px !important;
    }
  }
  #renoContract{
    .form__row-gral{
      .center{
        .i-check2{
          width: 100%;
          max-width: 400px;
          margin:auto;
          p{
            max-width: 360px;
            @media (max-width: 650px){
              white-space: initial;
            }
          }
        }
        .form__label_check.i-check{
          @media (max-width:425px){
            max-width: 360px;
            width:100%;
          }
        }
      }
    }
  }
  #renoPay{
    #payment_form_flap_token{
      .field.form__row-gral{
        margin-bottom: 15px !important;
        label{
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      .actions-toolbar{
        margin-left: calc(50% - 82.4px);
        margin-top: 15px;
        @media (max-width: 767.9px){
          margin-left: auto !important;
        }
      }
      .flexed{
        .control{
          .cvv{
            margin-top:-4px !important;
          }
        }
      }
    }
    #checkout{
      #metodo-pago-existente{
        margin-bottom: 15px;
      }
      .changePay{
        .flapTitleForm{
          /*position: absolute;*/
          right: 0;
          top: 25px;
          @media (max-width: 767.9px){
            top: 5px;
          }
        }
      }

    .payMeth{
        display:block;
        font-size: 18px;
        font-family:"Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 20px;
      }
      img,.cardNums{
        display: inline-block;
      }
      .cardNums{
        font-family: 'Telefonica-Regular';
        font-size: 18px;
        color: #aaaaaa;
        span{
          font-size: 14px;
        }
      }
      .imgNums{
        margin-left:-10px;
        vertical-align: middle;
      }
      .checkPayment,.changePay{
        display: block;
        margin-bottom: 20px;
      }
      .changePay{
        .actions-toolbar{
          margin: 50px auto 0 !important;
          text-align: center;
          .primary{
            float: none;
          }
        }
        #change-payment-button{
          margin-right: 10px;
        }
        .payment-method{
          .payment-method-content{
            fieldset{
              .flapTitleForm{
                margin-bottom: 20px;
                .titleFlapForm{
                  font-size: 18px;
                  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
                .backFlapForm{
                  float: right;
                }
              }
              .flexed{
                .labelFlapForm{
                  font-size: 16px;
                  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
              }
              .up9{
                font-size: 10px;
                margin-left: 5px;
                margin-top: -5px;
              }
            }
          }
        }
        #flap_token_cc_type_cvv_div .new__label5.false__space{
          position: relative;
          top: -5px !important;
        }
      }
    }
  }
  .pasoTest{
    display:block !important;
  }
  .step__content.js-stepAccordion.step__content2{
    .form__row-high.lineAr{
      border-bottom: 1px solid #cbcbcb;
    }
    .form__box_under{
      border:none;
    }
  }
  .boldLab{
    font-weight: bold !important;
  }
}
@media (max-width: 650px){
  .renovaciones-checkout-index{
    .center{
      margin: auto;
      display: block;
      width: 400px;
    }
    .form__label_check.i-check.i-check2,
    .form__label_check.i-check{
      padding-left: 40px;
      position: relative;
      width: 400px;
      margin: 0 !important;
      &:before{
        position: absolute;
        left: 0;
      }
    }
  }
}
@media (max-width: 400px){
  .renovaciones-checkout-index{
    .center{
      margin: auto;
      display: block;
      width: 300px;
    }
    .form__label_check.i-check.i-check2,
    .form__label_check.i-check{
      padding-left: 40px;
      position: relative;
      width: 300px;
      margin: 0 !important;
      &:before{
        position: absolute;
        left: 0;
      }
    }
  }
}
@media (max-width: 760px){
  .center{
    display: block;
    .i-check2{
      margin:0 !important;
    }
  }
}
.errorflap-index-index{
  .success-problem{
    .board{
      .board__top-head{
        padding: 0;
        .subtitle_gral{
          display: none;
        }
        .card-ico__warning{
          font-family: "Telefonica-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
      }
      .board-head{
        div{
          font-family: "Telefonica-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 1.8rem;
        }
        div:nth-child(2){
          display: none;
        }
      }
      .board-foot{
        .board-foot__box{
          .board__txt{
            font-weight: 100 !important;
          }
        }
      }
    }
  }
  .head-callto{
    display: none !important;
  }
}
#flap_token_cc_type_cvv_div .new__label5.false__space{
  position: relative;
  top: -15px;
}
.success-problem .board__inner5{
  padding: 0 !important;
  border:solid 2px #f5f4f2;
}
.success-problem .border-cont5 .board-list.border-list5{
  background: #f5f4f2;
  padding: 20px !important;
  width: 100%;
  font-size: 18px;
}
.success-problem .border-cont5 .all__width6{
  width: 50%;
  padding: 20px;
  float: left;
}
.success-problem .board__inner5 .board__foot{
  max-width: 420px;
  margin: 0 auto;
  margin-top: 0px;
  float: right;
  clear: none;
  margin-top: -150px;
  width: 100%;
}
.card-ico__warning .text-success-p{
    font-weight: 100;
    padding: 20px;
    display: block;
    font-size: 1.2rem;
    color: #fff;
}
div#form-numero{
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  display: none;
}
div#form-numero.show{
  opacity: 1;
  display: flex;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;

}
.catalogsearch-result-index{
    .column.main{
        dl{
            dt{
                font-size:30px;
                font-family: 'Telefonica-Light';
                color:#50535a !important;
            }
        }
        .message.notice{
            dl{
                height:0;
                dt{
                    position: relative;
                    top: 70px;
                    left: -30px;
                }
            }

        }
    }
}



.width-cincuenta{
  width:50%;
}

.width-veinticinco{
  width:25%;
}

.row-order__value{
  .width-veinticinco{
    text-align: right;
  }
}

@media only screen and (min-width: 768px){
  .width-cincuenta{
    width:50% !important;
  }

  .width-veinticinco{
    width:25% !important;
  }

  .row-order__value.width-veinticinco{
      text-align: right;
  }

}