//*----------------------------------------------------*\
    // Converter pixels (px) to (rem) with Fallback
//*----------------------------------------------------*/

// Font size: Convierte el valor de px a rem, agrega fallback
// en px para navegadores antiguos
// use: .foo {
//			  @include font-rem(32px);
//		  }

//Fix

//Sobrescribimos el de Aguayo. Con esto ya toma las medidas rem correctamente.

$font-size-unit : rem !default; // The unit to which most typography values will be converted by default

//  Rem font size  . Based of Magento UI app/design/frontend/Movistar/eshop/styles/vendor/magento-ui/_typography.scss
@function lib-font-size($sizeValue) {
  @if type-of($sizeValue) == number and unit($sizeValue) != '%' and $sizeValue != false {
    @if unit($sizeValue) == $font-size-unit or unit($sizeValue) == 'em' {
      @return $sizeValue;
    }
    @else {
      @return lib-font-size-value($sizeValue);
    }
  }
}

@mixin font-rem($size) {
  font-size: $size; //Fallback in px
  font-size: lib-font-size($size);
}

@mixin letter-spacing($size)  {
  letter-spacing: $size; //Fallback in px
  letter-spacing: lib-font-size($size);
}