<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
    // Set de atributos
    $objectManager          = \Magento\Framework\App\ObjectManager::getInstance();
    $attributeSet           = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
    $attributeSetRepository = $attributeSet->get($_product->getAttributeSetId());
    $attribute_set_name     = $attributeSetRepository->getAttributeSetName();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>


<?php
    $attributeSetId = $_product->getAttributeSetId();
    if ($attribute_set_name == 'Terminales') {
        $resolucion  = $_additional['resolucion'];
    }
?>


<div class="layout_inner">
    <div class="tabs-detail">
        <?php echo $block->getAttributeLabels() ?>
    </div>
</div>

<?php endif;?>
