<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$customerSession = $objectManager->get('Magento\Customer\Model\Session');
    $baseurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
    //echo $product->getId();
    $nameProduct = $product->getName();
    $priceProduct = $product->getFinalPrice();
    $priceProduct = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceProduct,true,false);
    $imageProduct = $this->helper('Magento\Catalog\Helper\Image')
            ->init($block->getProduct(), 'product_page_image_large')
            ->setImageFile($block->getImageFile())
            ->getUrl();

?>
<div class="band_inner">
    <div class="subnav">
        <!-- Site Breadcrumbs links-->
        <nav class="menu-links">
            <ul class="menu-links__list">
                <li class="menu-links__item i-a-arrow-left"><a class="menu-links__link" href="<?= $baseurl ?>" title="Ir a Inicio">Inicio</a></li>
                <li class="menu-links__item i-a-arrow-left"><a class="menu-links__link" href="<?= $baseurl ?>" title="Ir a Tienda">Tienda</a></li>
                <li class="menu-links__item">
                        <?= $nameProduct ?>
                </li>
            </ul>
        </nav>
        <!-- Menu detail Sticky-->
        <ul class="list-sticky">
            <li class="list-sticky__item">
                <figure class="list-sticky__fig">
                	<img class="list-sticky__img" src="<?= $imageProduct ?>" alt="<?= $nameProduct ?>">
                    <figcaption class="list-sticky__caption">
                    	<?= $nameProduct ?>
                    </figcaption>
                </figure>
            </li>
            <li class="list-sticky__item">
            	<small class="list-sticky__sm-txt">Precio:</small>
            	<span class="list-sticky__txt"><?= $priceProduct ?></span>
            </li>
            <li class="list-sticky__item">
            	<small class="list-sticky__sm-txt">Color:</small>
            	<span class="list-sticky__txt color">&nbsp;</span>
            </li>
            <li class="list-sticky__item">
            	<small class="list-sticky__sm-txt">Capacidad:</small>
            	<span class="list-sticky__txt capacidad">&nbsp;</span>
            </li>
            <li class="list-sticky__item">
            	<small class="list-sticky__sm-txt">Cantidad:</small>
            	<span class="list-sticky__txt" id="qtysticky">1</span>
            </li>
            <li class="list-sticky__item list-sticky__item_huge">
                <button class="list-sticky__btn btn i-shopping-car addTrigger">Agregar al carrito</button>
            </li>
        </ul>
    </div>
</div>