<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <?php
    $product = $block->getProduct();
    $altImg = $block->getProduct()->getName();

    $titulo01  = $product->getTituloDetalleProducto1();
    $titulo02  = $product->getTituloDetalleProducto2();
    $titulo03  = $product->getTituloDetalleProducto3();

    $Subtitulo01  = $product->getSubTituloDetalleProducto1();
    $Subtitulo02  = $product->getSubTituloDetalleProducto2();
    $Subtitulo03  = $product->getSubTituloDetalleProducto3();

    $descripcion1 = $product->getDescripcionDetalleProducto1();
    $descripcion2 = $product->getDescripcionDetalleProducto2();
    $descripcion3 = $product->getDescripcionDetalleProducto3();

    $media = $this->getUrl('media/catalog/product/');
    $imagen1 = $media.$product->getImagenDetalleProducto1();
    $imagen2 = $media.$product->getImagenDetalleProducto2();
    $imagen3 = $media.$product->getImagenDetalleProducto3();

    $validaArea = 0;
    $ecoratingIcon = '';
    $ecoratingLink = '';
    $ecoratingDescripcion = '';
    $ecoratingIcon = $product->getResource()->getAttribute('ecorating_icon')->getFrontend()->getValue($product);
    $ecoratingLink = $product->getEcoratingLink();
    $ecoratingDescripcion = $product->getEcoratingDescripcion();

    $imgEcorating = '';

    if($ecoratingIcon=='ECO Rating 1.0'){
        $imgEcorating = 'icono_eco_1.0.png';
    }else if($ecoratingIcon=='ECO Rating 2.0'){
        $imgEcorating = 'icono_eco_2.0.png';
    }else if($ecoratingIcon=='ECO Rating 3.0'){
        $imgEcorating = 'icono_eco_3.0.png';
    }else if($ecoratingIcon=='ECO Rating 4.0'){
        $imgEcorating = 'icono_eco_4.0.png';
    }else if($ecoratingIcon=='ECO Rating 5.0'){
        $imgEcorating = 'icono_eco_5.0.png';
    }
    
    //Alt img por default con el nombre del producto en general
    $altImg1 = $altImg;
    $altImg2 = $altImg;
    $altImg3 = $altImg;

    $images = $product->getMediaGallery();
    $cont = 1;
    $arrvalues = array();

    foreach($images as $child){ 
        $arr = array_values($child);
        if(!empty($arr))  array_push($arrvalues, $arr);
    }

    foreach ($arrvalues[0] as $value) {
        if($value['disabled_default'] == 1 || $value['disabled'] == 1){
            switch ($cont) {
                case 1:
                    $altImg1 = $value['label'];
                    break;
                case 2:
                    $altImg2 = $value['label'];
                    break;
                case 3:
                    $altImg3 = $value['label'];
                    break;
            } 
            $cont++;
        }
    }
    ?>

    <!--Hotfix: INTPOSP-462: #INICIO Estructura provisional-->
    <div class="layout_inner">
        <!-- Hotfix: INTPOSP-462 #INICIO Bloque msmx-note -->
        <div class="msmx-note">
            <figure class="msmx-note__block">
                <span class="msmx-note__fig">
                    <img class="msmx-note__img" src="/media/wysiwyg/recortes/<?=$imgEcorating ?>" title="EcoRating" alt="Rating Eco"/>
                </span>
                <figcaption class="msmx-note__txt"><?=$ecoratingDescripcion ?> 
                    <a href="<?=$ecoratingLink ?>" alt="<?=$ecoratingLink ?>" class="msmx-note__link link link_brand" target="_blank"><?=$ecoratingLink ?></a>
                </figcaption>
            </figure>
        </div>
        <!-- Hotfix: INTPOSP-462 #FIN Bloque msmx-note -->
    </div>
    <!--Hotfix: INTPOSP-462: #FIN Estructura provisional-->
    
    <!--Tabs malla-->
      <div class="tabs js-tabs">
        <div class="tabs__inner">
          <nav class="tabs__header">
            <div class="tabs__header-content">
              <h3 class="tabs__title" id="tabs-section"><?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getName(), 'name') ?></h3>
              <ul class="tabs__list">
                <?php $layout = $block->getLayout(); ?>
                <?php foreach ($detailedInfoGroup as $name):?>
                    <?php
                        $html = $layout->renderElement($name);
                        
                        if (!trim($html)) {
                            continue;
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                        $seccion = "";
                     
                        $pos = strpos($label, "Opiniones");
                        if ($pos === false) {
                            
                        } else {
                          $seccion = "review-form-tab";
                          $label ="Opiniones";
                        }
                    ?>

                    <li class="tabs__item js-tabs__item" id="<?= /* @escapeNotVerified */ $seccion ?>">
                        <button class="tabs__btn i-arrow-back gtm-landing"><?= /* @escapeNotVerified */ $label ?></button>
                        <div class="tabs__pane">
                            <?php if($label != "Detalles"){ ?>
                              <?= /* @escapeNotVerified */ $html?>
                  
                            <?php }else{ ?>
                                <?php if($titulo01!='' || $descripcion1 != '' || $Subtitulo01 != '' ){ ?>
                                    <article class="tabs__slot">
                                        <div class="tabs__slot-content">
                                            <div class="tabs-description">
                                                <p class="tabs-description__title"><?=$titulo01?></p>
                                                <p class="tabs-description__txt"><?=$descripcion1?></p>
                                            </div>

                                            <figure class="tabs__figure">
                                                <?php
                                                $filename = parse_url($imagen1);
                                                $ext = pathinfo($filename['path'], PATHINFO_EXTENSION);
                                                if($ext!=''){
                                                ?>
                                                <img class="tabs__img" src="<?=$imagen1?>" alt="<?php echo $altImg1; ?>" longdesc="<?php echo $altImg1; ?>" />
                                                <?php } ?>
                                                <figcaption class="tabs__caption tabs__caption_curve-1"><?=$Subtitulo01?></figcaption></figure></div>
                                    </article>
                                    <?php $validaArea = 1; }?>
                                <?php if($titulo02!='' || $Subtitulo02 != '' || $descripcion2 != '' ){ ?>
                                    <article class="tabs__slot tabs__slot_reverse">
                                        <div class="tabs__slot-content">
                                            <div class="tabs-description">
                                                <p class="tabs-description__title"><?=$titulo02?></p>
                                                <p class="tabs-description__txt"><?=$descripcion2?></p>
                                            </div>
                                            <figure class="tabs__figure">
                                                <?php
                                                $filename = parse_url($imagen2);
                                                $ext = pathinfo($filename['path'], PATHINFO_EXTENSION);
                                                if($ext!=''){
                                                ?>
                                                <img class="tabs__img" src="<?=$imagen2?>" alt="<?php echo $altImg2; ?>"   longdesc="<?php echo $altImg2; ?>"/>
                                                <?php } ?>
                                                <figcaption class="tabs__caption tabs__caption_curve-2"><?=$Subtitulo02?></figcaption></figure></div>
                                    </article>
                                    <?php $validaArea = 2; }?>
                                <?php if($titulo03!='' || $Subtitulo03 != '' || $descripcion3 != ''){ ?>
                                    <article class="tabs__slot">
                                        <div class="tabs__slot-content">
                                            <div class="tabs-description">
                                                <p class="tabs-description__title"><?=$titulo03?></p>
                                                <p class="tabs-description__txt"><?=$descripcion3?></p>
                                            </div>
                                            <figure class="tabs__figure">
                                                <?php
                                                $filename = parse_url($imagen3);
                                                $ext = pathinfo($filename['path'], PATHINFO_EXTENSION);
                                                if($ext!=''){
                                                ?>
                                                <img class="tabs__img" src="<?=$imagen3?>" alt="<?php echo $altImg3; ?>"  longdesc="<?php echo $altImg3; ?>" />
                                                <?php } ?>
                                                <figcaption class="tabs__caption tabs__caption_curve-3"><?=$Subtitulo03?></figcaption></figure></div>
                                    </article>
                                    <?php $validaArea = 3; }?>
                                    <?php if($validaArea == 0){ ?>
                                    <?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('detail-fake')->toHtml();?>
                                    <?php } ?>

                            <?php }?>
                        </div>
                    </li>
                <?php endforeach;                
                ?>
              </ul>
            </div>
          </nav>
        </div>
      </div>
<?php endif; ?>