<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php /* @escapeNotVerified */ $json=$block->getGalleryImagesJson();
$array = json_decode($json,true);
echo '<figure class="js-main-slider__item">';
foreach($array as $item)
{
    $imgurl = $item['full'];
    echo '<div class="img-detalle"><img class="main-slider__img" src="'.$imgurl.'" alt="Titulo"></div>';        
} 
echo '</figure>';
?>