<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php /* @escapeNotVerified */ $json=$block->getGalleryImagesJson();
$altImg = $block->getProduct()->getName();
//$name = $json=$block->getImageAttribute($idProduct,'name');
$array = json_decode($json,true);
echo '<div class="main-slider__item js-main-slider__item">';
	foreach($array as $item)
	{
		$imgurl = $item['slideBig'];
		if(isset($item['caption'])) $altImg = $item['caption'];
		else $altImg = $block->getProduct()->getName();
        echo '<img class="main-slider__img" src="'.$imgurl.'" alt="'.$altImg.'" longdesc="'.$imgurl.'">';
	}
echo '</div>';
echo '<div class="main-slider__thumbs js-main-slider__thumbs">';
	foreach($array as $item)
	{
		if(isset($item['caption'])) $altImg = $item['caption'];
		else $altImg = $block->getProduct()->getName();
		$imgurl = $item['slideSmall'];
		echo '<img class="main-slider__img" src="'.$imgurl.'" alt="'.$altImg.'" longdesc="'.$imgurl.'" >';
	}
echo '</div>';
?>