<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
$blockProd = $block->getLayout()->createBlock('Vass\PosCarSteps\Block\Index');
$idProduct = $block->getProduct()->getEntityId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
    <h1 class="title" itemprop="name">
        <?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getName(), 'name') ?>
    </h1>
    <h2 class="subtitle new__subtitle5" itemprop="brand"><b><?=$blockProd->marca($idProduct)?></b></h2>
    <script type="text/javascript">
         require([
            'jquery'
        ], function (
            $
        ) {

            $(window).load(function() {
                //console.log("Ready in product description");
                
                //window.dataLayer = window.dataLayer || [];                
                <?php $product = $block->getProduct(); ?>
                <?php if ($product->getTypeId() == 'simple'): ?>
                    var dl_category = 'Celular';
                    var dl_dim29    = '<?php echo $product->getResource()->getAttribute('color')->getFrontend()->getValue($product); ?>';
                    var dl_dim30    = '<?php echo $product->getResource()->getAttribute('capacidad')->getFrontend()->getValue($product); ?>';
                <?php endif; ?>
                <?php if ($product->getTypeId() == 'virtual'): ?>
                    <?php $attribute_set = $product->getAttributeSetId(); ?>
                    <?php if ($attribute_set == 19) : ?>
                    var dl_category = 'Plan Pospago';
                    <?php endif; ?>
                    <?php if ($attribute_set == 22) : ?>
                    var dl_category = 'Recarga';
                    <?php endif; ?>
                    <?php if ($attribute_set == 20) : ?>
                    var dl_category = 'Servicios';
                    <?php endif; ?>
                    <?php if ($attribute_set == 20) : ?>
                    var dl_category = 'Servicios';
                    <?php endif; ?>
                    var dl_dim29    = 'N/A';
                    var dl_dim30    = 'N/A';
                <?php endif; ?>

                function getParameterByName(name) {
                    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                }
                
                function setProductDetail(obj){
                    if(obj === null){//si el objeto es nulo, obtenemos el radio seleccionado
                        jQuery('.price-select').each(function(){
                            if($(this).is(':checked')){
                                obj = $(this);
                                return false;
                            }
                        });
                    }

                     <?php if($block->referrerIsRenewal()): ?>
                        var dl_dim47 = "Renovación";
                     <?php elseif(method_exists($block,'isPortability') && $block->isPortability()): ?>
                        if(obj.next().next().html().includes("prepago")){
                            var dl_dim47 = "Portabilidad Prepago";
                        }else if(obj.next().next().html().includes("plan")){
                            var dl_dim47 = "Portabilidad Pospago";
                        }else{
                            var dl_dim47 = "Terminal";
                        }
                    <?php else: ?>
                        if(obj.next().next().html().includes("prepago")){
                            var dl_dim47 = '<?php echo $objectManager->get('\Entrepids\Renewals\Helper\Servicio\Flujoscheckout')->getCheckoutFlowType(1,0,1); ?>';
                        }else if(obj.next().next().html().includes("plan")){
                            var dl_dim47 = '<?php echo $objectManager->get('\Entrepids\Renewals\Helper\Servicio\Flujoscheckout')->getCheckoutFlowType(1,0,3); ?>';
                        }else{
                            var dl_dim47 = '<?php echo $objectManager->get('\Entrepids\Renewals\Helper\Servicio\Flujoscheckout')->getCheckoutFlowType(1,0,2); ?>';
                        }
                    <?php endif; ?>
                    var metric3 = ($("#gtm-button-add-to-cart").length)? '1' : '0';
                    dataLayer.push({
                        'event':'productDetail',
                        'tipoFlujo': dl_dim47,
                        'ecommerce': {
                            'detail': {
                                'actionField' : {'list' : 'Encuentra el smartphone que quieres'},
                                'products': [
                                    {
                                        'name':         '<?php echo $product->getName(); ?>',
                                        'id':           '<?php echo $product->getSku(); ?>',
                                        <?php if(!$block->referrerIsRenewal()): ?>
                                            'price':        '<?php echo $product->getPrice(); ?>',
                                        <?php else: ?>
                                            'price':        '<?php echo round(($product->getPrice()/24),2);  ?>',
                                        <?php endif; ?>
                                        'brand':        '<?php echo $product->getResource()->getAttribute('marca')->getFrontend()->getValue($product);  ?>',
                                        'category':     dl_category,
                                        'variant':      'N/A',
                                        'dimension28':  'Tienda Movistar',
                                        'dimension29':  dl_dim29,
                                        'dimension30':  dl_dim30,
                                        'dimension47': dl_dim47,
                                        'metric3' : metric3,
                                    }
                                ]
                            }
                        }
                    });
                }

                setTimeout(function(){ setProductDetail(null); }, 3000);//se lanza el primer evento productDetail por default

                jQuery('.price-select').click(function(){//cada cambio de precio, se tiene que lanzar el evento productDetail
                    setProductDetail($(this));
                });
                });

                        });


    </script>