<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="Recarga Events">
            <div class="page-actions-buttons">
                
            </div>
        </div>
    </div>
</div>