<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var $block Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare */

$gtm_data = [
    'event'         => 'evBoton',
    'nameSection'   => $block->getProduct()->getName(),
    'btnSelect'     => $block->getProduct()->getName(),
];
?>
<a href="#"
    data-gtm-data='<?php echo json_encode($gtm_data); ?>'
    data-post='<?= /* @escapeNotVerified */ $block->getCompareHelper()->getPostDataParams($block->getProduct()) ?>'
    class='agu-grid-row gtm-product-add-to-compare'
    title='<?= $block->escapeHtml(__('Add to Compare')) ?>'
    aria-label='<?php echo $block->escapeHtml(__('Add to Compare')); ?>'
    role='button'><span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
</a>