<div class="opc-wrapper all__width">
    <ol class="opc" id="checkoutSteps">
    <!-- ko foreach: getRegion('payment-methods') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    </ol>
</div>