<div class="layout renovation">
    <fieldset class="layout_inner steps vsm-form__fieldset">
        <legend class="steps__legend steps__legend2 ">
            <span class="steps__head steps__head2">
                <small class="head__title head__title2"><?= __('¿Ya tienes número?') ?></small>
            </span>
        </legend>
        <legend class="steps__legend steps__legend2">
            <span class="steps__head">
                <small class="head__title head__subtitle2"><?= __('Valida tu número y descubre todo lo que tenemos para ti.') ?></small>
            </span>
        </legend>

        <div class="steps__selected steps__selected2">
            <ul class="steps__list">
                <li class="steps__item">
                    <div class="form-ico form-ico2">
                        <input class="form__radio" id="con_numero" name="valida_numero" value="1" type="radio">
                        <label class="form__radio_label" for="con_numero">
                            <span class="form-ico__label icon-nw-phone-in-out icon__width"><?= __('Quiero usar mi número') ?></span>
                        </label>
                    </div>
                </li>
                <li class="steps__item">
                    <div class="form-ico form-ico2">
                        <input class="form__radio" id="sin_numero" name="valida_numero" value="0"  type="radio">
                        <label class="form__radio_label" for="sin_numero">
                            <span class="form-ico__label icon-minuto_adicional icon__width"><?= __('Quiero un número nuevo') ?></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="step-box steps__list hide" id="form-numero">
            <form data-mage-init='{"validation": {}}' class="data__even form data__even2" action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>" id="porta-form-validate" method="post" data-hasrequired="* Required Fields">
                <div class="form__row-gral">
                    <label class="form__label form__label-ico i-star-fill" for="telefono-contacto"><?= __('Ingresa tu número'); ?></label>
                    <div class="form__signal js-validateItem">
                        <input class="form__input input" placeholder="5512345678" name="dn" id="dn" type="number" onkeyup="this.value = this.value.split('.').join('');" data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidatorsMts())) ?>" data-msg-maxlength='<?= __('No more than 10 numbers'); ?>' data-msg-minlength='<?= __('No less than 10 numbers'); ?>' data-msg-number='<?= __('Just type numbers'); ?>' maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                        <input type="hidden" value="<?= $this->getPortatype(); ?>" name="portability_option" id="portability_option" />
                    </div>
                </div>
            </form>
        </div>

        <div class="renovation__form">
            <div class="steps__cont">
                <button class="steps__btn btn" type="submit" onclick="goNextStep()"><?= __('Continuar') ?></button>
            </div>
        </div>
    </fieldset>
</div>

<script>
    function goNextStep(){
        requirejs(['jquery','mage/url'],function($,url){
            if(typeof $('input[name=valida_numero]:checked').val() !== 'undefined'){
                var value = parseInt($('input[name=valida_numero]:checked').val());
                var btnSelect = (window.location.pathname.indexOf("prepago") != -1)? 'Quiero comprar un prepago' : 'Quiero contratar un plan';

                dataLayer.push({
                    'event' : 'evPortabilidad', //Static data
                    'paso' : 'Plan', //Dynamic data
                    'btnSelect' : btnSelect
                });

                if(value){
                    $('#porta-form-validate').submit();
                }else{
                    <?php if($this->getPortatype() == 'plan'): ?>
                        window.location.href = url.build('/pos-vitrina-terminal').replace("//pos", "/pos");
                    <?php else: ?>
                        window.location.href = url.build('/pos-vitrina-terminal-pre').replace("//pos", "/pos") + '?cel=no';
                    <?php endif; ?>
                }
            }
        });
    }
    requirejs(['jquery'],function($){
        $(".<?= ($this->getPortatype() == 'plan') ? 'mi-nw-phone-movistar' : 'mi-cell-prepago'; ?>").addClass("active");

        $('input[name=valida_numero]').change(function(){
            console.log(this.value);
            if (this.checked && this.value === '1') {
                dataLayer.push({
                    'event' : 'evPortabilidad', //Static data
                    'paso' : 'Validar Número', //Dynamic data
                    'btnSelect' :  $("label[for='con_numero']").find('.form-ico__label').html()
                });
                $('#form-numero').addClass("show");
                $('#form-numero').removeClass("hide");
            }else{
                dataLayer.push({
                    'event' : 'evPortabilidad', //Static data
                    'paso' : 'Validar Número', //Dynamic data
                    'btnSelect' :  $("label[for='sin_numero']").find('.form-ico__label').html()
                });
                $('#form-numero').removeClass("show");
                $('#form-numero').addClass("hide");
            }
        });

    });
</script>