    .small-content{
        width:32%;
        float:left;
        margin-right:5px;
    }
    
    .small-content-medio{
        width:49%;
        float:left;
        margin-right:5px;
    }
    
    #imgTypePago.small-content{
        height: 60px;
        width: 170px;
        text-align: center; margin: 1em 0;
        padding-top: 4%;
    }
    
    #imgTypePago.small-content img{
        float:left;
        margin:0 5px;
        vertical-align: middle;
        
    }
    
    #imgTypePago.small-content img.noselected{
        opacity: 0.3;
        filter: alpha(opacity=30);
    }
    
    
    .previewCardContent{
        position: absolute;
        z-index: 1000;
        top: 60%;
        left: 40%;
    }
    
    .previewCardContent img{
        width: 50%;
    }
    
    
    @media only screen and (max-width: 2200px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 80%;
        left: 40%;
      }
      
      .previewCardContent img{
            width: 60%;
        }
    }   
    
    
    @media only screen and (max-width: 2000px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 40%;
      }
      
      .previewCardContent img{
            width: 70%;
        }
    }   
    
    @media only screen and (max-width: 1800px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 40%;
      }
      
      .previewCardContent img{
            width: 70%;
        }
    }
    
    @media only screen and (max-width: 1600px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 40%;
      }
      
      .previewCardContent img{
            width: 70%;
        }
    }
    
    
    @media only screen and (max-width: 1400px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 100%;
        left: 60%;
      }
      
      .previewCardContent img{
            width: 80%;
        }
    }
    
    @media only screen and (max-width: 1200px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 100%;
        left: 50%;
      }
      
      .previewCardContent img{
            width: 90%;
        }
    }
    
    @media only screen and (max-width: 1024px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 120%;
        left: 50%;
      }
      
      .previewCardContent img{
            width: 90%;
        }
    }

    @media only screen and (max-width: 768px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 125%;
        left: 50%;
      }
      
      .previewCardContent img{
            width: 90%;
        }
    }
    
    @media only screen and (max-width: 600px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 190%;
        left: 50%;
      }
      
      .previewCardContent img{
            width: 100%;
        }
    }
    
    .helpcard{
        
    }
    
    .icon_name{
        content:url('images/ayuda_gris_rojo.svg');
    }
    
    .icon_card{
        content:url('images/ayuda_gris_azul.svg');
    }
    
    .icon_expiration{
        content:url('images/ayuda_gris_verde.svg');
    }
    
    .icon_ccv{
        content:url('images/ayuda_gris_morado.svg');
    }
    
    .requieredStyle{
        color:blue;
    }