<!-- INTPOSP-706 Flujo devoluciones mensaje exito -->

<?php

$link_wysiwyg = $this->getUrl('pub/media/wysiwyg/');
$link_recortes = $link_wysiwyg."recortes/";

?>

<main class="content c-board__wrapper_not-border">
    <section class="band_inner layout_section">
        <article class="board c-board__wrapper ">
            <header class="board__top-head">
                <div class="card-ico card-ico__ok">
                    <h1 class="card-ico__title i-check-ring">Tu proceso de devolución ha <span class="is-block"> iniciado exitosamente</span></h1>
                    <p class="card-ico__txt o-card__text">Tu orden fue recibida y está siendo procesada.</p>
                    <p class="card-ico__txt o-card__text">Recibirás un correo con los detalles de tu recolección.</p>
                </div>
            </header>
            <div class="board__inner">
                <section class="board__cont">
                    <div class="board-list">
                        <p class="title__gral">Orden No. 14525</p>
                       <!--  <p class="title__gral"><?= __('Orden No. %1.', sprintf('<strong>%s</strong>', $block->escapeHtml($block->getOrderId()))) ?></p> -->
                    </div>
                    <div class="board-list">
                        <p class="title__gral u-board__align-text">Comprobante No. 1625 3- 32726</p>
                       <!--  <p class="title__gral u-board__align-text"><?= __('Comprobante No. <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p> -->
                    </div>
                    <div class="board-list o-column__size">
                        <div class="ui-column is-one step__product">
                            <div class="ui-media">
                                <figure>
                                    <img class="ui-media__img" src="<?= $link_recortes.'thumb-phone.png'; ?>" alt="Telefono">
                                </figure>
                                <div class="ui-media__body">
                                    <h4 class="ui-media__title">Apple iPhone X <span class="is-block">32GB Equipo libre</span></h4>
                                    <h5 class="ui-media__subtitle">Color y Características</h5>
                                    <ul class="data__group">
                                        <li class="list-thumb__boll data__thumb_red">Red Color</li>
                                        <li class="list-thumb__boll data__thumb_brand">32 GB</li>
                                    </ul>
                                    <p class="ui-media__description">IMEI: 
                                    <span class="ui-media__block-text"> #2000001398</span>
                                    </p> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-list o-board__list_padding">
                    <dl>
                        <dt class="board-list__title subtitle_gral o-title-md o-title-md_top-sm">Datos Personales</dt>
                        <dd class="board-list__item"> Jane Doe</dd>
                        <dd class="board-list__item"> Janedoe@ejemplo.com</dd>
                        <dd class="board-list__item"> (55) 1234 5678</dd>
                    </dl>
                    <dl class="o-text">
                        <dt class="board-list__title subtitle_gral o-title-md o-title-md_top">Dirección de Recolección</dt>
                        <dd class="board-list__item"> Mazatlán 123, Int. 456,</dd>
                        <dd class="board-list__item">  Condesa, Cuauhtémoc</dd>
                        <dd class="board-list__item"> Ciudad de México, 06140</dd>
                    </dl>             
                    </div>
                </section>
            </div>
        </article>
    </section>
 
<section class="inner_canvas head">
<h1 class="ui-header title_headline o-title_headline-bottom">Estatus de devoluciones</h1>
    <div class="c-status c-status_processing"><!-- Bloque de estado-->
        <div class="c-status__card">
        <!-- Línea de estados-->
            <ul class="c-status__line">
            <!-- Bloque #1-->
          
            <li class="c-status__item c-status__item_check">
                <div class="c-status__bullet">
                    <p class="c-status__label">Recolección</p>
                    <small class="c-status__small">Fecha estimada <span class="is-block"> 28 MAY. 19</span></small>
                </div>
            </li>
            <!-- Bloque #2-->
            <li class="c-status__item c-status__item_disabled">
                <div class="c-status__bullet">
                    <div class="c-tooltip">
                        <p class="c-status__label c-tooltip__btn i-a-question-ball js-btnTooltipData">Validación</p>
                        <!-- *** TOOLTIP DEVOLUCIONES-INTPOSP-701 *** -->
                        <div class="c-tooltip__box js-tooltipData js-tooltipData-close">
                            <p class="c-tooltip__txt">
                                Para solicitar una devolución, es necesario que primero recibas tu compra
                            </p>
                        </div>
                    </div>
                    <small class="c-status__small">28 MAY. 19</small>
                </div>
            </li>
            <!-- Bloque #3-->
            <li class="c-status__item c-status__item_disabled">
                <div class="c-status__bullet">
                <p class="c-status__label">Completado</p>
                    <small class="c-status__small">1 JUN. 19</small>
            </li>
            </ul>
        </div>
    </div>

    <div class="c-status c-status_validation"><!-- Bloque de estado-->
        <div class="c-status__card">
        <!-- Línea de estados-->
            <ul class="c-status__line">
            <!-- Bloque #1-->
            <li class="c-status__item">
                <div class="c-status__bullet">
                <p class="c-status__label">Recolección</p>
                    <small class="c-status__small">Fecha estimada <span class="is-block"> 28 MAY. 19</span></small>
                </div>
            </li>
            <!-- Bloque #2-->
            <li class="c-status__item c-status__item_check">
                <div class="c-status__bullet">
                    <div class="c-tooltip">
                        <p class="c-status__label c-tooltip__btn i-a-question-ball js-btnTooltipData">Validación</p>
                        <!-- *** TOOLTIP DEVOLUCIONES-INTPOSP-701 *** -->
                        <div class="c-tooltip__box js-tooltipData js-tooltipData-close">
                            <p class="c-tooltip__txt">
                                Para solicitar una devolución, es necesario que primero recibas tu compra
                            </p>
                        </div>
                    </div>
                    <small class="c-status__small">28 MAY. 19</small>
                </div>
            </li>
            <!-- Bloque #3-->
            <li class="c-status__item c-status__item_disabled">
                <div class="c-status__bullet">
                <p class="c-status__label">Completado</p>
                    <small class="c-status__small">1 JUN. 19</small>
            </li>
            </ul>
        </div>
    </div>

    <div class="c-status c-status_complete"><!-- Bloque de estado-->
        <div class="c-status__card">
        <!-- Línea de estados-->
            <ul class="c-status__line">
            <!-- Bloque #1-->
            <li class="c-status__item">
                <div class="c-status__bullet">
                    <p class="c-status__label">Recolección</p>
                    <small class="c-status__small">Fecha estimada <span class="is-block"> 28 MAY. 19</span></small>
                </div>
            </li>
            <!-- Bloque #2-->
            <li class="c-status__item">
                <div class="c-status__bullet">
                    <div class="c-tooltip">
                        <p class="c-status__label c-tooltip__btn i-a-question-ball js-btnTooltipData">Validación</p>
                        <!-- *** TOOLTIP DEVOLUCIONES-INTPOSP-701 *** -->
                        <div class="c-tooltip__box js-tooltipData js-tooltipData-close">
                            <p class="c-tooltip__txt">
                                Para solicitar una devolución, es necesario que primero recibas tu compra
                            </p>
                        </div>
                    </div>
                    <small class="c-status__small">28 MAY. 19</small>
                </div>
            </li>
            <!-- Bloque #3-->
            <li class="c-status__item c-status__item_check">
                <div class="c-status__bullet">
                <p class="c-status__label">Completado</p>
                    <small class="c-status__small">1 JUN. 19</small>
            </li>
            </ul>
        </div>
    </div>
    <div class="c-status c-status_sent"><!-- Bloque de estado-->
        <div class="c-status__card">
        <!-- Línea de estados-->
            <ul class="c-status__line">
            <!-- Bloque #1-->
            <li class="c-status__item">
                <div class="c-status__bullet">
                    <p class="c-status__label">Recolección</p>
                    <small class="c-status__small">Fecha estimada</small> 
                    <span class="is-block c-status__small"> 28 MAY. 19</span>
                </div>
            </li>
            <!-- Bloque #2-->
            <li class="c-status__item">
                <div class="c-status__bullet">
                    <div class="c-tooltip">
                        <p class="c-status__label c-tooltip__btn i-a-question-ball js-btnTooltipData">Validación</p>
                        <!-- *** TOOLTIP DEVOLUCIONES-INTPOSP-701 *** -->
                        <div class="c-tooltip__box js-tooltipData js-tooltipData-close">
                            <p class="c-tooltip__txt">
                                Para solicitar una devolución, es necesario que primero recibas tu compra
                            </p>
                        </div>
                    </div>
                    <small class="c-status__small">28 MAY. 19</small>
                </div>
            </li>
            <!-- Bloque #3-->
            <li class="c-status__item c-status__item_check">
                <div class="c-status__bullet">
                <p class="c-status__label">Completado</p>
                    <small class="c-status__small">1 JUN. 19</small>
            </li>
            </ul>
        </div>
    </div>

    
</section>
</main>