<!-- INTPOSP-705 Flujo devoluciones mensaje error -->
<main class="content ">
    <section class="band_inner layout_section">
        <article class="board c-board__wrapper">
            <header class="board__top-head card-top__warning">
                <div class="card-ico card-ico__warning">
                    <h1 class="card-ico__title i-x-ring">Tu proceso de devolución <span class="is-block">no se puede procesar</span></h1>
                    <p class="card-ico__txt o-card__text">Te recordamos que el proceso de devolución solo puede ser realizado <span class="is-block">dentro de los primeros 10 días posteriores a recibir tu compra</span></p>
                </div>
            </header>
    
            <div class="board__inner">
                <section class="board__cont">
                    <div class="board-list">
                        <p class="title__gral">Orden No. 14525</p>
                       <!--  <p class="title__gral"><?= __('Orden No. %1.', sprintf('<strong>%s</strong>', $block->escapeHtml($block->getOrderId()))) ?></p> -->
                    </div>
                    <div class="board-list u-board__align-text">
                        <p class="title__gral">Comprobante No. 1625 3- 32726</p>
                       <!--  <p class="title__gral"><?= __('Comprobante No. <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p> -->
                    </div>
                </section>
                <div class="board-foot board-foot_align">
                    <div class="board-foot__box">
                        <h4 class="board-foot__txt title__gral board-foot__txt_letter">¿Necesitas Ayuda?</h4>
                        <p class="board__txt ">Para cualquier duda o reclamo por favor escribe un correo a<a class="board__link link__brand" href="mailto:soporte.comprasonline.mx@telefonica.com" title="Escribir al correo">soporte-mx@telefonica.com.</a></p>
                        <a class="board__btn btn" href="<?=$block->getBaseUrl()?>telefonos.html" title="Ir a la tienda">Volver a la tienda</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
<main class="content">
    <section class="band_inner layout_section">
        <article class="board c-board__wrapper">
            <header class="board__top-head card-top__warning">
                <div class="card-ico card-ico__warning">
                    <h1 class="card-ico__title i-x-ring">Tu proceso de devolución <span class="is-block">no se puede procesar</span></h1>
                    <p class="card-ico__txt o-card__text">Debido a que ha existido un ciclo de facturación, el proceso de <span class="is-block">devolución de tu compra ya no es válido</span></p>
                </div>
            </header>
    
            <div class="board__inner">
                <section class="board__cont">
                    <div class="board-list">
                        <p class="title__gral">Orden No. 14525</p>
                       <!--  <p class="title__gral"><?= __('Orden No. %1.', sprintf('<strong>%s</strong>', $block->escapeHtml($block->getOrderId()))) ?></p> -->
                    </div>
                    <div class="board-list">
                        <p class="title__gral u-board__align-text">Comprobante No. 1625 3- 32726</p>
                       <!--  <p class="title__gral"><?= __('Comprobante No. <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p> -->
                    </div>
                </section>
                <div class="board-foot board-foot_align">
                    <div class="board-foot__box">
                        <h4 class="board-foot__txt title__gral board-foot__txt_letter">¿Necesitas Ayuda?</h4>
                        <p class="board__txt">Para cualquier duda o reclamo por favor escribe un correo a<a class="board__link link__brand" href="mailto:soporte.comprasonline.mx@telefonica.com" title="Escribir al correo">soporte-mx@telefonica.com.</a></p>
                        <a class="board__btn btn" href="<?=$block->getBaseUrl()?>telefonos.html" title="Ir a la tienda">Volver a la tienda</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>