<?php
$link_wysiwyg = $this->getUrl('pub/media/wysiwyg/');
$link_recortes = $link_wysiwyg."recortes/";
?>

<style>

</style>

<!-- Aqui va el contenido HTML -->
<div class="step__wrapper">
  <header class="data__header-full">
    <h3 class="title_head ui-title c-title">Devolver tu compra</h3>
  </header>  
  <!-- Paso 1-->
  <!-- Si se está activo: step__set_active. Si se pasó: step__set_succes-->
  <fieldset class="step__set i-check js-step step__set_active">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">1</span><span class="step__title">Razones de devolución</span></span></legend>
    <!-- Paso 1 checked -->
    <div class="step__lead success_show">
      <p class="step__txt js-headerMsgDevolucion">Descripción incorrecta en la página web</p>
    </div>
    <button class="link success_show js-stepReset" type="button" step='1'>Cambiar</button>
    <form class="data-step js-formDataStep js-formPrevent validate" action="#" novalidate="">
      <!-- Paso 1-->
      <div class="step__inner">
        <div class="ui-columns">
          <div class="ui-column is-one step__product">
            <div class="ui-media">
              <figure class="ui-media__figure">
                <img class="ui-media__img" src="<?= $link_recortes.'thumb-phone.png'; ?>" alt="Telefono">
              </figure>
              <div class="ui-media__body">
                <h4 class="ui-media__title">Apple iPhone X 32GB Equipo libre</h4>
                <h5 class="ui-media__subtitle">Color y Características</h5>
                <ul class="data__group">
                  <li class="list-thumb__boll data__thumb_red">Red Color</li>
                  <li class="list-thumb__boll data__thumb_brand">32 GB</li>
                </ul>
                <p class="ui-media__description">
                  IMEI: 
                  <span class="ui-media__block-text"> #2000001398</span>
                </p> 
              </div>
            </div>
          </div>
          <div class="ui-column is-two step__form">
            <div class="form__row-gral">
              <label class="form__label form__label_bold" for="options">¿Por qué quieres devolver tu compra?</label>
              <div class="form__inner-select i-a-arrow-down">
                <select class="form__select js-dropdownChangeMsg" name="options" id="options" data-validate="select" data-validateName="motivo de devolución">
                  <option value='' selected="selected" >Elige una respuesta</option>
                  <option value="Descripción incorrecta de la página" data-msg='0' nocomment>Descripción incorrecta de la página</option>
                  <option value="Defectuoso" data-msg='1'>Defectuoso</option>
                  <option value="No es el producto que pedí" data-msg='2'>No es el producto que pedí</option>
                  <option value="Ya no lo quiero / Ya no lo necesito" data-msg='3'>Ya no lo quiero / Ya no lo necesito</option>
                  <option value="El embalaje está dañado" data-msg='1'>El embalaje está dañado</option>
                  <option value="Se ha pasado la fecha de entrega" data-msg='3'>Se ha pasado la fecha de entrega</option>
                </select>                
              </div>
              <small class="c-form__alert js-validateMsg" data-name="options"></small>
            </div>
            <div class="form__row-gral">
              <label class="form__label form__label_bold">Comentarios <span class='js-comentarioDevolucion'></span></label>
              <textarea class="form__input js-chartsCount" maxlength="200" name="comments" placeholder="Escribe aquí tus comentarios" data-validate="required" data-validateName="comentario"></textarea>
              <div class="form__help js-charsCount"><span class='js-chartsCountNumber'>200</span> caractéres restantes.</div>
              <small class="c-form__alert js-validateMsg" data-name="comments"></small>
            </div>
            <div class="form__row-gral form__note is-hidden js-notaDevoluciones">
              <span class="form__note_bold">NOTA:</span>
              <span class='js-dropdownMsg'> Recuerda que para poder aceptar la devolución de tu compra, el empaque debe de estar sellado … etc</span>
            </div>
            <div class="form__row-gral form__row_center">
              <button class="form__btn btn" type="submit">Continuar</button>
            </div>
            <div class="form__row form__row_center"><a class="link link__brand" href="#">Términos y condiciones</a></div>
          </div>
        </div>
      </div>
    </form>
  </fieldset>
  
  <!-- Paso 2-->  
  <fieldset class="step__set i-check js-step">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title">Datos de recolección</span></span></legend>
    <form class="is-hidden data-step js-formDataStep js-formPrevent validate" action="#" novalidate="">
      <div class="step__inner">
        <div class="ui-columns">
          <div class="ui-column is-one">
            <div class="form__row-high step__form-radio-item">
              <input class="form__radio js-radioInfoBtn" id="harvest_data1" type="radio" name="harvest_data" data-radioinfo="harvest_data1">
              <label class="form__radio_label form__radio_label_bold" for="harvest_data1">Recoger domicilio</label>
            </div>
          </div>
          <div class="ui-column is-one">
            <div class="form__row-high step__form-radio-item">
              <input class="form__radio js-radioInfoBtn js-disableAccordionBtn" id="harvest_data2" type="radio" name="harvest_data" data-radioinfo="harvest_data2">
              <label class="form__radio_label form__radio_label_bold" for="harvest_data2">Devolver en Centro de Atención Movistar</label>
            </div>
          </div>
          <div class="ui-column is-one">
            <div class="form__row-high step__form-radio-item step__form-radio-item_border-none">
              <input class="form__radio js-radioInfoBtn js-disableAccordionBtn" id="harvest_data3" type="radio" name="harvest_data" data-radioinfo="harvest_data3">
              <label class="form__radio_label form__radio_label_bold" for="harvest_data3">Devolver en operador logístico</label>
            </div>
          </div>
        </div>
        <!-- Recoger d</form>omicilio (radio 1)-->
        <div class="step-block js-harvestBlock1 is-hidden js-radioInfoContent" data-radioinfo="harvest_data1">
          <h4 class="step-block__title">Selecciona una dirección de recolección o ingresa un nueva dirección.</h4>
          <div class="ui-columns">
            <!-- Datos de contacto-->
            <div class="ui-column is-half">
              <div class="step-block__info">
                <h5 class="step-block__info-title">Datos de contacto</h5>
                <div class="js-toggleInfoContent" data-toggleinfo="datosContacto">
                  <p>Jane Doe</p>
                  <p>janedoe@ejemplo.com</p>
                  <p>(55) 1234 5678</p>
                </div>
              </div>
              <!-- Formulario de datos de contacto-->
              <div class="step-block__info js-toggleInfoContent is-hidden" data-info="contact form" data-toggleinfo="datosContacto">
                <div class="form__row-gral">
                  <label class="form__label" for="name">Nombre de contacto</label>
                  <input class="form__input" id="name" name="name" placeholder="Ingresa el nombre de contacto" data-validate="required" data-validateName="nombre de contacto">
                  <small class="c-form__alert js-validateMsg" data-name="name"></small>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="surname">Apellidos</label>
                  <input class="form__input" id="surname" name="surname" placeholder="Ingresa tus apellidos" data-validate="required" data-validateName="apellido de contacto">
                  <small class="c-form__alert js-validateMsg" data-name="surname"></small>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="email">Correo electrónico</label>
                  <input class="form__input" id="email" name="email" type="email" placeholder="tucorreo@example.com" data-validate="email|required" data-validateName="correo válido">
                  <small class="c-form__alert js-validateMsg" data-name="email"></small>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="phone">Teléfono</label>
                  <input class="form__input" id="phone" name="phone" type="number" placeholder="5512345678" data-validate="numeric|required" data-validateName="teléfono válido">
                  <small class="c-form__alert js-validateMsg" data-name="phone"></small>
                </div>
              </div>
              <div class="form__row">
                <input class="form__check js-toggleInfoBtn js-disableAccordionBtn" data-toggleinfo="datosContacto" id="contactData" type="checkbox" name="contact_data" >
                <label class="form__label_check i-check" for="contactData">Deseo editar mis datos de contacto</label>
              </div>
            </div>
            <!-- Dirección de recolección-->
            <div class="ui-column is-half">
              <div class="step-block__info">
                <h5 class="step-block__info-title">Dirección de recolección</h5>
                <div class="js-toggleInfoContent" data-toggleinfo="datosRecoleccion">
                  <p>Mazatlán 123, Int. 456, Condesa, Cuauhtémoc</p>
                  <p>Ciudad de México, 06140</p>
                  <p>(55) 1234 5678</p>
                </div>
              </div>
              <!-- Formulario con dirección de recolección-->
              <div class="step-block__info js-toggleInfoContent is-hidden" data-toggleinfo="datosRecoleccion">
                <div class="form__row-gral">
                  <label class="form__label" for="street">Calle</label>
                  <input class="form__input" name="street" id="street" placeholder="Ingresa el nombre de tu calle" data-validate='required' data-validateName="nombre de la calle">
                  <small class="c-form__alert js-validateMsg" data-name="street"></small>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="colony">Colonia</label>
                  <input class="form__input" id="colony" name="colony" placeholder="Ingresa tu colonia" data-validate='required' data-validateName="nombre de la colonia">
                  <small class="c-form__alert js-validateMsg" data-name="colony"></small>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="state">Estado</label>
                  <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="state" name="state" data-validate='required' data-validateName="nombre del estado">
                      <option value="">Selecciona</option>
                      <option value="Aguascalientes">Aguascalientes</option>
                      <option value="Baja California Sur">Baja California Sur</option>
                      <option value="Campeche">Campeche</option>
                      <option value="Coahuilla">Coahuilla</option>
                      <option value="Colimas">Colimas</option>
                      <option value="Chiapas">Chiapas</option>
                    </select>
                  </div>
                  <small class="c-form__alert js-validateMsg" data-name="state"></small>
                </div>
                <div class="form__row-gral">
                  <div class="form__grid">
                    <div class="form__grid__item">
                      <label class="form__label" for="outer_number">Número exterior</label>
                      <input class="form__input" placeholder="123" id="outer_number" type="text" name="outer_number" data-validate='numeric|required' data-validateName="número exterior">
                      <small class="c-form__alert js-validateMsg" data-name="outer_number"></small>
                    </div>
                    <div class="form__grid__item">
                      <label class="form__label" for="inner_number">Número interior</label>
                      <input class="form__input" placeholder="123" id="inner_number" type="text" name="inner_number" data-validate='numeric|required' data-validateName="número interior">
                      <small class="c-form__alert js-validateMsg" data-name="inner_number"></small>
                    </div>
                  </div>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="municipality">Municipio</label>
                  <input class="form__input" name="municipality" id="municipality" placeholder="Ingresa tu municipio" data-validate='required' data-validateName="municipio">
                  <small class="c-form__alert js-validateMsg" data-name="municipality"></small>
                </div>
                <div class="form__row-gral">
                  <label class="form__label" for="schedule">Horario de recolección</label>
                  <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="schedule" name="schedule" data-validate='required' data-validateName="horario de recolección">
                      <option value="">Selecciona</option>
                      <option value="schedule-1">Por la mañana (De 9:00 a 15:00)</option>
                    </select>
                  </div>
                  <small class="c-form__alert js-validateMsg" data-name="schedule"></small>
                </div>
              </div>
              <div class="form__row">
                <input class="form__check js-toggleInfoBtn js-disableAccordionBtn" id="harvestData" type="checkbox" name="harvest_data"  data-toggleinfo="datosRecoleccion">
                <label class="form__label_check i-check" for="harvestData">Deseo editar mis datos de recolección</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Devolver en Centro de Atención Movistar (radio 2)-->
        <div class="step-block js-harvestBlock2 is-hidden js-radioInfoContent" data-radioinfo="harvest_data2">
          <h4 class="step-block__title">Selecciona el Centro de Atención Movistar cercano a tu domicilio</h4>
          <div class="step-block__inner">
            <div class="form__row-ral form__row_center">
              <div class="form__grid">
                <div class="form__grid__item">
                  <input class="form__radio js-changePlaceholder" type="radio" id="zip" name="search_option" checked="" data-changeplaceholder='Escribe un código postal' ispostal>
                  <label class="form__radio_label" for="zip">Código postal</label>
                </div>
                <div class="form__grid__item">
                  <input class="form__radio js-changePlaceholder" type="radio" id="home" name="search_option" data-changeplaceholder='Bellas artes'>
                  <label class="form__radio_label" for="home">Lugar cercano a mi domicilio</label>
                </div>
              </div>
            </div>
            <div class="form__row-xhigh">
              <div class="step__search">
                <input class="search__input js-changePlaceholder-element" type="text" data-validate="codePostal|required" placeholder="Ej: ¿Cómo seguir mi pedido?" name="postalDomicilio">
                <button class="search__btn i-search" type="submit"></button>
              </div>
              <small class="form__alert js-validateMsg" data-name="postalDomicilio"></small>
            </div>
          </div>
        </div>
        <!-- Devolver en operador logístico (radio 3)-->
        <div class="step-block js-harvestBlock3 is-hidden js-radioInfoContent" data-radioinfo="harvest_data3">
          <h4 class="step-block__title">Selecciona el Centro de Atención Movistar cercano a tu domicilio.</h4>
          <div class="ui-columns">
            <div class="ui-column is-half">
              <!-- Formulario de datos de contacto en Devolver en operador logístico-->
              <div class="form__row-gral">
                <label class="form__label" for="logistic_name">Nombre de contacto</label>
                <input class="form__input" id="logistic_name" name="logistic_name" placeholder="Ingresa el nombre de contacto" data-validate="required" data-validateName="nombre de contacto">
                <small class="c-form__alert js-validateMsg" data-name="logistic_name"></small>
              </div>
              <div class="form__row-gral">
                <label class="form__label" for="logistic_surname">Apellidos</label>
                <input class="form__input" id="logistic_surname" name="logistic_surname" placeholder="Ingresa tus apellidos" data-validate="required" data-validateName="apellido de contacto">
                <small class="c-form__alert js-validateMsg" data-name="logistic_surname"></small>
              </div>
              <div class="form__row-gral">
                <label class="form__label" for="logistic_email">Correo electrónico</label>
                <input class="form__input" id="logistic_email" name="logistic_email" type="email" placeholder="tucorreo@example.com" data-validate="email|required" data-validateName="correo válido">
                <small class="c-form__alert js-validateMsg" data-name="logistic_email"></small>
              </div>
              <div class="form__row-gral">
                <label class="form__label" for="logistic_phone">Teléfono</label>
                <input class="form__input" id="logistic_phone" name="logistic_phone" type="number" placeholder="5512345678" data-validate="numeric|required" data-validateName="teléfono válido">
                <small class="c-form__alert js-validateMsg" data-name="logistic_phone"></small>
              </div>
            </div>

            <div class="ui-column is-half">        
              <!-- Formulario con dirección de recolección en Devolver en Operador Logístico-->
              <div class="form__row-gral">
                <label class="form__label" for="logistic_street">Calle</label>
                <input class="form__input" id="logistic_street" name="logistic_street" placeholder="Ingresa el nombre de tu calle" data-validate="required" data-validateName="nombre de tu calle">
                <small class="c-form__alert js-validateMsg" data-name="logistic_street"></small>
              </div>
              <div class="form__row-gral">
                <label class="form__label" for="logistic_colony">Colonia</label>
                <input class="form__input" id="logistic_colony" name="logistic_colony" placeholder="Ingresa tu colonia" data-validate="required" data-validateName="nombre de tu colonia">
                <small class="c-form__alert js-validateMsg" data-name="logistic_colony"></small>
              </div>
              <div class="form__row-gral">
                <label class="form__label" for="logistic_state">Estado</label>
                <div class="form__inner-select i-a-arrow-down">
                  <select class="form__select" id="logistic_state" name="logistic_state" data-validate="required" data-validateName="estado">
                    <option value="">Selecciona</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Baja California Sur">Baja California Sur</option>
                    <option value="Campeche">Campeche</option>
                    <option value="Coahuilla">Coahuilla</option>
                    <option value="Colimas">Colimas</option>
                    <option value="Chiapas">Chiapas</option>
                  </select>
                </div>
                <small class="c-form__alert js-validateMsg" data-name="logistic_state"></small>
              </div>
              <div class="form__row-gral">
                <div class="form__grid">
                  <div class="form__grid__item">
                    <label class="form__label" for="logistic_outer_number">Número exterior</label>
                    <input class="form__input" id="logistic_outer_number" placeholder="123" type="text" name="logistic_outer_number" data-validate="numeric|required" data-validateName="número exterior">
                    <small class="c-form__alert js-validateMsg" data-name="logistic_outer_number"></small>
                  </div>
                  <div class="form__grid__item">
                    <label class="form__label" for="logistic_inner_number">Número interior</label>
                    <input class="form__input" id="logistic_inner_number" placeholder="123" type="text" name="logistic_inner_number" data-validate="numeric|required" data-validateName="número interior">
                    <small class="c-form__alert js-validateMsg" data-name="logistic_inner_number"></small>
                  </div>
                </div>
              </div>
              <div class="form__row-gral">
                <label class="form__label" for="logistic_municipality">Municipio</label>
                <input class="form__input" id="logistic_municipality" name="logistic_municipality" placeholder="Ingresa tu municipio" data-validate="required" data-validateName="municipio">
                <small class="c-form__alert js-validateMsg" data-name="logistic_municipality"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="form__row-xhigh form__row_center step__block_border">
          <input class="form__check js-toggleInfoBtn js-ableAccordionBtn" type="checkbox" id="terms1" name="terms" checked="" data-validate="checkTerms">
          <label class="form__label_check form__label_check-center i-check js-AccordionBtnFlex is-hidden" for="terms1">
            <a class="link link__brand" href="#" title="Términos y condiciones"> Acepto términos y condiciones</a>
          </label>
          <span class="js-validateMsg ec-form__msg_error" data-name="terms1"></span>
          <button class="form__btn btn js-AccordionBtn is-hidden" type="submit">Continuar</button>
        </div>
      </div>
      </form>
  </fieldset>  
</div>
