<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<main class="content">
    <section class="layout_section">
        <section class="layout_panels">
            <div class="panel">
                <div class="panel__head">
                    <h1 class="title_underline">Historial de compra</h1>
                </div>
                <div class="panel__inner">
                    <?= $block->getChildHtml('info') ?>
                    <?php if ($_orders && count($_orders)): ?>
                    <div class="panel__content">
                        <div class="panel__nav">
                            <div class="date-picker">
                                <p class="date-picker__txt">Buscar por fecha
                                    <time class="date-picker__date i-arrow-down js-date-picker">28 May - 6 Jun</time>
                                </p>
                            </div>
                            <div class="grid__select">
                                <label class="filter-select__label">Filtrar por</label>
                                <div class="filter-select__inner i-arrow-back">
                                    <select class="filter-select__btn">
                                        <option>Relevancia</option>
                                        <option>opcion2</option>
                                        <option>opcion3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table class="table-data table-data_slide">
                            <thead class="table-data__head">
                            <tr class="table-data__row">
                                <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                                <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                                <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Valor') ?></th>
                                <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Estatus') ?></th>
                                <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Date') ?></th>
                                <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Action') ?></th>
                            </tr>
                            </thead>
                            <tbody class="table-data__content">

                            <?php foreach ($_orders as $_order): ?>
                                <tr class="table-data__row">
                                    <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="table-data__cell table-data__cell_hide"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                                    <?php $extra = $block->getChildBlock('extra.container'); ?>
                                    <?php if ($extra): ?>
                                        <?php $extra->setOrder($_order); ?>
                                        <?= /* @noEscape */ $extra->getChildHtml() ?>
                                    <?php endif; ?>
                                    <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="table-data__cell table-data__cell_mb1"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                                    <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="table-data__cell table-data__cell_mb3"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                                    <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="table-data__cell table-data__cell_mb2"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                                    <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="table-data__cell table-data__cell_mb4"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt(),3) ?></td>
                                    <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="table-data__cell table-data__cell_center table-data__cell_occult" data-tableHead="<?= /* @escapeNotVerified */ __('View Order') ?>">
                                        <a id="<?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>" class="link__brand msmx-view-order" href="#" title="<?= /* @escapeNotVerified */ __('View Order') ?>"><?= /* @escapeNotVerified */ __('View Order') ?></a>
                                        <button id="<?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>" class="table-data__btn-arrow js-dataDetailBtn msmx-view-order" data-invoice="<?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>"></button>
                                    </td>
                                </tr>
                                <tr class="table-data__row table-data__slide-row js-dataDetail" data-invoice="<?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>" id="order-<?=$_order->getRealOrderId() ?>" style="display: none;">
                                    <td class="" colspan="6">
                                        <div id="content-<?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>">
                                        </div>
                                    </td>
                                </tr>


                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                    <?php
                      /*  <div class="panel__footer">
                        <div class="pager">
                            <button class="pager__btn pager__btn_back i-arrow-left">Atrás</button>
                            <ul class="pager__list">
                                <li class="pager__item pager__item_active">
                                    <button class="pager__item-btn">1</button>
                                </li>
                                <li class="pager__item">
                                    <button class="pager__item-btn">2</button>
                                </li>
                                <li class="pager__item">
                                    <button class="pager__item-btn">3</button>
                                </li>
                                <li class="pager__item">
                                    <button class="pager__item-btn">4</button>
                                </li>
                                <li class="pager__item">
                                    <button class="pager__item-btn">5</button>
                                </li>
                            </ul>
                            <button class="pager__btn i-arrow-left">Siguiente</button>
                        </div>
                    </div>
                      */
                    ?>

                    <?php if ($block->getPagerHtml()): ?>
                        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
                    <?php endif; ?>
                    <?php else: ?>
                        <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
                    <?php endif; ?>
                </div>
            </div>
        </section>
    </section>
</main>

<?php


$ajaxurl = $this->getBaseUrl()."vass_dataorder";
?>
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Sales/js/main": {
                    "AjaxUrl": "<?=$ajaxurl?>"
                }
            }
        }
</script>