<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php if ($_total->getBlockName()): ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php else:?>
    <tr class="<?= /* @escapeNotVerified */ $_code ?>">
        <th <?= /* @escapeNotVerified */ $block->getLabelProperties() ?> scope="row">
            <p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                <?php if ($_total->getStrong()):?>
                <strong><?= $block->escapeHtml($_total->getLabel()) ?></strong>
                <?php else:?>
                <?= $block->escapeHtml($_total->getLabel()) ?>
                <?php endif; ?>
            </p>
        </th>
        <td <?= /* @escapeNotVerified */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtml($_total->getLabel()) ?>">
            <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                <?php if ($_total->getStrong()):?>
                <?= /* @escapeNotVerified */ $block->formatValue($_total) ?>
                <?php else:?>
                <?= /* @escapeNotVerified */ $block->formatValue($_total) ?>
                <?php endif; ?>
            </p>
        </td>
    </tr>
    <?php endif; ?>
<?php endforeach?>
