<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                </td>
            </tr>
         </tbody>
        </table>
        <!-- End Content -->
        <table border="0" cellpadding="0" cellspacing="0" width="600px" align="center" style="background-color:#dcdcdc;">
         <tbody>
            <tr>
               <td width="18%">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                     <tbody>
                        <tr>
                           <td width="50%" style="text-align:center;"><a href="https://www.facebook.com/movistarmx/" target="_blank"><img src="{{view url='images/email/facebook.png'}}" /></a></td>
                           <td width="50%" style="text-align:center;"><a href="https://twitter.com/movistarMx" target="_blank"><img src="{{view url='images/email/twitter.png'}}" /></a></td>
                        </tr>
                     </tbody>
                  </table>
               </td>
               <td width="42%">
                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                     <tbody>
                        <tr>
                           <td width="20%"><img src="{{view url='images/email/candado.png'}}" /></td>
                           <td width="80%"><p style="text-align:left;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;">© 2018 Movistar Derechos<br />Reservados. Consulte legales.<br />No necesita responder este correo.</p>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
               <td width="40%">
                  <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;">Si tienes dudas respecto<br />a tu pedido, escríbenos a<br /><a href="mailto:comprasonline.mx@telefonica.com" >comprasonline.mx@telefonica.com</a></p>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- End Footer -->

      <map name="image-map" id="image-map">
         <area shape="rect"   coords="191,366,43,334"  href="https://recargamobile.movistar.com.mx/TelefonicaMXMobileWebUI/" target="-_blank" >
      </map>
      <map name="Map" id="Map">
         <area shape="circle" coords="273,33,11" href="https://www.facebook.com/movistarmx/" target="_blank"/>
         <area shape="circle" coords="298,33,11" href="https://twitter.com/movistarMx" target="_blank"/>
         <area shape="circle" coords="324,33,11" href="https://www.youtube.com/user/MovistarMX" target="_blank"/>
      </map>
      <map name="Map1" id="Map1">
         <area shape="rect" coords="215,751,383,798" href="{{store url="descubre/planes/movil"}}" target="_blank"/>
      </map>
   </body>
</html>
