<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <title>Movistar</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=no"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
   </head>
    <body style="margin: 0 auto; padding: 0; width:600px; background:#eee;">
      <!-- Header -->
    {{inlinecss file="css/email-inline.css"}}
    
    <table border="0" cellpadding="0" cellspacing="0" align="center" style="width:600px">
         <tr style="background-color: #fff;">
            <td style="background-color: #fff;" width="600px">
               <table border="0" cellpadding="0" cellspacing="0" width="600px">
                  <tr>
                     <td colspan="4" style="height:20px;"></td>
                  </tr>
                  <tr>
                     <td width="10px"></td>
                     <td width="140px">
                        <a href="{{store url=""}}" target="_blank">
                            <img
                                {{if logo_width}}
                                    width="{{var logo_width}}"
                                {{else}}
                                    width="101"
                                {{/if}}

                                {{if logo_height}}
                                    height="{{var logo_height}}"
                                {{else}}
                                    height="20"
                                {{/if}}

                                src="{{var logo_url}}"
                                alt="{{var logo_alt}}"
                                border="0" 
                                style="display:block;"
                            />
                        </a>
                     </td>
                     <td width="300px"></td>
                     <td width="100px" style="text-align:center;"><a href="#" style="color:#00a9e0;font-family:Arial, Helvetica, sans-serif;">Ver en línea</a></td>
                  </tr>
                  <tr>
                     <td colspan="4" style="height:20px;"></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <!-- End Header -->
      <!-- Content -->
      <table border="0" cellpadding="0" cellspacing="0" width="600px" align="center">
         <tbody>
            <tr>
               <td width="600" style="text-align:center;">
