<?php
?>

<html>


-----------------------------<<< CLEAN >>>-----------------------------

<form  id="clean" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="clean" >
    <button type="submit" ><<< CLEAN >>></button>
</form>

-----------------------------<<< TOKEN >>>-----------------------------
<form  id="TOKEN" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="token" >
    <button type="submit" ><<< TOKEN >>></button>
</form>

-----------------------------<<< LOGIN >>>-----------------------------

<form  id="login" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="login" >
    <label>username</label><input type="text" name="username" id="username" value="" style="border: 2px #0a6c9f !important" >
    <br/>
    <label>password</label><input type="text" name="password" id="password" value="" >
    <br/>
    <button type="submit" ><<< LOGIN >>></button>
</form>

-----------------------------<<< STEP 1 >>>-----------------------------
<form  id="STEP1" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="1" >
    <button type="submit" ><<< STEP 1 >>></button>
</form>

-----------------------------<<< STEP 2 >>>-----------------------------
<form  id="STEP2" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="2" >
    <label>DN CELL</label><input type="text" name="dn" id="dn" value="" style="border: 2px #0a6c9f !important" >
    <br/>
    <button type="submit" ><<< STEP 2 >>></button>
</form>


-----------------------------<<< STEP 3 >>>-----------------------------
<form  id="STEP3" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="3" >
    <label>otppswd</label><input type="text" name="otppswd" id="otppswd" value="" style="border: 2px #0a6c9f !important" >
    <br/>
    <label>otp.user.otp</label><input type="text" name="otpuserotp" id="otpuserotp" value="" >
    <br/>
    <button type="submit" ><<< STEP 3 >>></button>
</form>


-----------------------------<<< STEP 4 >>>-----------------------------
<form  id="STEP4" action="<?=$this->getBaseUrl()?>vass_idbroker" method="post"  >
    <input type="hidden" name="step" id="step" value="4" >
    <label>email</label><input type="text" name="email" id="email" value="" style="border: 2px #0a6c9f !important" >
    <br/>
    <label>password</label><input type="text" name="password" id="password" value="" >
    <br/>
    <label>passwordConfirm</label><input type="text" name="passwordConfirm" id="passwordConfirm" value="" >
    <br/>
    <button type="submit" ><<< STEP 4 >>></button>
</form>

</html>

<br/><br/><br/>
<style>
    input{
        width: 20% !important;
        background-color: aliceblue !important;
        margin-bottom: 20px;
    }
</style>