<!-- alerta nip -->
<?php
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media . "recortes/";
?>
<div id="custrom-message-recarga">
    <div role="alert" class="messages">
        <div class="message-success">
            <div class="modal modal_list messages js-listModalNip" style="overflow-y: hidden;">
                <div class="modal__box modal_list" style="overflow-y: hidden;">
                    <button class="modal__close js-modal__close i-x" name="cerrar-5" id="cerrarNipMsg">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">
                    <div id="modal-envio-nip" class="modal__crop" style="overflow-y: scroll;">
                        <button class="btn btn btn_blue" type="button" name="solicitarNipButton" id="solicitarNipButton" style="display:block; margin: 20px auto;">Solicita tu NIP</button>
                        <p style="display:none; text-align: center; color: #9da0a5; font-size:13px;" id="solicitarNipLabel"><strong>Recibirás un SMS con 4 dígitos</strong></p>
                        <hr>
                        <h3 class="modal__bold" id="modal-text-container" style="color: #8F9195; text-align: center;">
                            Llama o envía un mensaje de texto (SMS) con la palabra NIP al 051
                        </h3>
                        <p>El sistema te regresará la llamada o el mensaje con tu NIP de protabilidad.</p>
                        <p><strong>No olvides verificar:</strong></p>
                        <p>Que la llamada al 051 se realice del número que deseas portar.</p>
                        <p>Que tu número no aparezca como desconocido o privado.</p>
                        <p>Que tu  línea no este conectada a servicios "sígueme", contestadora automática o algún otro servicio que impida que contestes inmediatamente.</p>
                        <p>Que no tengas problemas para realizar o recibir llamadas y mensajes.</p>
                        <p>Por cada NIP generado el sistema permite 2 llamadas de regreso. Cada NIP tiene una vigencia de 15 días naturales, si no lo anotáste o lo perdiste
                        y ya hiciste tus dos llamadas debes esperar al vencimiento.</p>
                        <div class="buttons-mobile-call">
                            <a href="sms://+051" class="boton-sms-nip" alt="Solicita tu NIP">Enviar SMS</a>
                            <a href="tel:+051" class="boton-tel-nip" alt="Solicita tu NIP">Llamar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /alerta nip -->

<!-- alerta lead -->
<div id="custom-message-lead">
    <div role="alert" class="messages">
        <div class="message-success">
            <div class="modal modal_list messages js-listModalLead" style="overflow-y: hidden;">
                <div class="modal__box modal_list" style="overflow-y: hidden;">
                    <button class="modal__close js-modal__close i-x" name="cerrar-5" id="cerrarLeadButton">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">
                    <div id="modal-lead" class="modal__crop" style="overflow-y: scroll;">
                       <h3 class="modal__bold" id="modal-text-container" style="color: #8F9195; text-align: center;">
                            <?= ('&iexcl;Gracias por preferir Movistar!'); ?>
                        </h3>
                        <p><?= __('Necesitamos revisar unos datos contigo. Te llamaremos en un horario de 9 a 21 horas para concluir tu compra.'); ?></p>
                    </div>
                    <button class="modal__btn btn js-modal__close" type="button" name="cerrar" id="cerrarModalLead">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /alerta lead -->


<!-- alerta sesion -->
<div id="custom-message-sessionLost">
    <div role="alert" class="messages">
        <div class="message-success">
            <div class="modal modal_list messages js-listModalSessionLost" style="overflow-y: hidden;">
                <div class="modal__box modal_list" style="overflow-y: hidden;">
                    <button class="modal__close js-modal__close i-x" name="cerrar-5" id="cerrarModalSessionLostButton">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">
                    <div id="modal-lead" class="modal__crop" style="overflow-y: scroll;">
                        <h3 class="modal__bold" id="modal-text-container" style="color: #8F9195; text-align: center;">
                            <?= ('&iexcl;Gracias por preferir Movistar!'); ?>
                        </h3>
                        <p><?= __('Desafortunadamente ha ocurrido un error al intentar procesar tu petición. Porta favor, intentalo de nuevo más tarde.'); ?></p>
                    </div>
                    <button class="modal__btn btn js-modal__close" type="button" name="cerrar" id="cerrarModalSessionLost">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /alerta sesion -->


<style>
    #modal-envio-nip p { font-size: 13px; }
</style>

<script type="text/javascript">
    require(['jquery'], function ($) {

        $(document).ready(function () {
            window.dntoporta = '<?php echo $block->getDN(); ?>';
            $(document).on("click", "#envio-nip", function (e) {
                e.preventDefault();
                $('#custrom-message-recarga .messages.js-listModalNip').addClass('modal__view');
            });

            $(document).on("click", "#cerrarNipMsg", function (e) {
                e.preventDefault();
                $('#custrom-message-recarga .messages.js-listModalNip').removeClass('modal__view');
            });

            $(document).on("click", "#solicitarNipButton", function (e) {
                e.preventDefault();
                $('#solicitarNipButton').hide('slow');
                $('#solicitarNipLabel').show('slow');

                dataLayer.push({
                    'event': 'evPortabilidadNIP',//staticData
                    'bool': 'Éxito',
                    'tipo': 'SMS'
                });
            });

            $(document).on('click','#cerrarLeadButton',function(){
                document.location.href = '<?= $block->getUrlDestroysession(); ?>';
            });

            $(document).on('click','#cerrarModalLead',function(){
                document.location.href = '<?= $block->getUrlDestroysession(); ?>';
            });

            $(document).on('click','#cerrarModalSessionLostButton',function(){
                document.location.href = '<?= $block->getUrlDestroysession(); ?>';
            });

            $(document).on('click','#cerrarModalSessionLost',function(){
                document.location.href = '<?= $block->getUrlDestroysession(); ?>';
            });
        });
    });
</script>
