@charset "UTF-8";
@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }
@keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }

/** @color Amarillo Movistar */
/** @color Amarillo Movistar */
/** @color Amarillo Light Movistar */
/** @color Naranja Movistar */
/** @color Naranja Light Movistar */
/** @color Naranja Diseños Tags */
/** @color Magenta Movistar */
/** @color $alert */
/** @color Magenta Light Movistar */
/** @color Púrpura Movistar */
/** @color Púrpura light Movistar */
/**
 * $c-brand
 * @color
 * @section Brand
 */
/**
 * $c-brand_light
 * @color
 * @section Brand
 */
/**
 * $c-brand-hover
 * @color
 * @section Brand
 */
/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */
/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */
/**
 * $c-brand-2
 * @color
 * @section Brand
 */
/**
 * $c-brand-2_light
 * @color
 * @section Brand
 */
/**
 * $c-brand-2-hover
 * @color
 * @section Brand
 */
/**
 * $c-accesible-link (Enlaces accesibles nivel AA)
 * @color
 * @section Accesibilidad
 */
/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */
/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */
/**
 * $c-social-2 (Color Social Share Google)
 * @color
 * @section Social share
 */
/**
 * Blanco
 * @color
 * @section Neutros
 */
/**
 * Negro
 * @color
 * @section Neutros
 */
/**
 * Grey
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 1
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 2
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 3
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 4
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 5
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 6
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 7
 * @color
 * @section Escala de Grises
 */
/* INTPOSP-705 Flujo devoluciones mensaje error */
/* INTPOSP-706 Flujo devoluciones mensaje exito */
.c-board__wrapper .board__top-head {
  padding-top: 0; }
  .c-board__wrapper .board__top-head .card-ico__title, .c-board__wrapper .board__top-head .o-card__text {
    font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.c-board__wrapper .board__cont {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.c-board__wrapper .board-foot__txt_letter {
  text-transform: lowercase; }
  .c-board__wrapper .board-foot__txt_letter:first-letter {
    text-transform: uppercase; }

.c-board__wrapper .board__link {
  text-decoration: none; }

.c-board__wrapper .o-title-md {
  font-size: 16px;
  font-size: 1.6rem; }

.board-foot_align {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 10px;
  text-align: center; }
  .board-foot_align .board__txt {
    padding-bottom: 0; }
  .board-foot_align .board__btn {
    margin-top: 55px; }
  .board-foot_align .board__link {
    text-decoration: none; }

.board__txt_size {
  font-size: 16px;
  font-size: 1.6rem; }

.c-board__wrapper_not-border .c-board__wrapper {
  border: 0;
  margin-bottom: 0; }

.c-board__wrapper_not-border .o-title_headline-bottom {
  padding-bottom: 40px;
  margin-bottom: 0; }

/* Block phone*/
.o-column__size .ui-column.is-one {
  width: 100%;
  margin: 0;
  padding-left: 0; }

.o-column__size .ui-media__title {
  margin-top: 0;
  margin-bottom: 0; }

.o-column__size .ui-media__subtitle {
  margin-bottom: 0;
  margin-top: 5px; }

.o-column__size .ui-media__description .ui-media__title {
  margin-left: 0; }

.o-column__size .ui-media {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

/* Line status*/
.is-status-end .status__item {
  margin-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.is-status-end .status__bullet:before {
  font-size: 30px;
  width: 30px; }

@media only screen and (max-width: 768px) {
  .c-board__wrapper .board__top-head .card-ico__title {
    padding-bottom: 0; }
  .c-board__wrapper .board__top-head .card-ico__txt {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 0; }
  .c-board__wrapper .board__inner {
    padding: 20px; }
  .c-board__wrapper .card-ico__txt br {
    display: none; }
  .c-board__wrapper .board-list {
    padding-bottom: 0px; }
  .o-column__size {
    margin-top: 30px; }
  .board-foot_align {
    text-align: left;
    padding: 0; }
  .page-main {
    padding: 0; }
  /* Line status*/
  .is-status-end .status__item:nth-of-type(1) .status__bullet {
    padding-top: 0;
    padding-bottom: 0; }
    .is-status-end .status__item:nth-of-type(1) .status__bullet:before {
      top: 10px; }
  .is-status-end .status__item:nth-of-type(2) .status__bullet {
    padding-top: 35px; }
  .is-status-end .status__item:nth-of-type(3) .status__bullet:before {
    height: 60px; }
  .is-status-end .status__bullet:before {
    left: -15px; }
  .o-title-md_top-sm, .o-title-md_top {
    margin-top: 30px; }
  .c-board__wrapper_not-border .is-status-end {
    padding-top: 30px; }
    .c-board__wrapper_not-border .is-status-end .status__label {
      margin-bottom: 0; }
  .o-board__list_padding .o-text {
    margin-bottom: 0; } }

@media only screen and (min-width: 768px) {
  .c-board__wrapper .board__top-head .card-ico__title {
    margin-bottom: 0; }
  .c-board__wrapper .board__inner {
    padding: 60px 100px; }
  .u-board__align-text {
    text-align: right; }
  .o-board__list_padding {
    padding-left: 50px; }
  .o-title-md_top {
    margin-top: 50px; }
  /* Line status*/
  .is-status-end .status__item:nth-of-type(1) .status__bullet {
    max-width: 32%;
    left: 14%; }
  .is-status-end .status__bullet:before {
    top: -15px; } }

.c-status {
  padding: 40px 0; }

.c-status__card {
  text-align: center;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .c-status__card .c-status__bold {
    display: block;
    padding-bottom: 40px; }

.c-status__bullet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .c-status__bullet:before {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 4;
    content: unicode(\e86c);
    font-family: 'MaterialIcons-Regular' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    font-size: 3rem;
    color: #5BC500;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.c-status__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  list-style: none; }

.c-status__btn {
  display: block;
  max-width: 240px;
  margin: 0 auto; }

.c-status__item {
  position: relative;
  margin-bottom: 0; }

.c-status__label {
  color: #5BC500;
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 0; }

.c-status__title {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 0; }
  .c-status__title:before {
    display: block;
    font-size: 45px;
    font-size: 4.5rem;
    padding-bottom: 20px; }

.c-status__lead {
  color: #9B9B9B;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 0; }

.c-status__head,
.c-status__main {
  padding-bottom: 40px; }

.c-status__small {
  font-size: 16px;
  font-size: 1.6rem;
  color: #9B9B9B;
  line-height: 1.2; }

.c-status__bold {
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  padding-bottom: 30px; }

.c-status__link {
  display: block;
  color: #00A9E0; }

.c-status_processing .c-status__title {
  color: #00A9E0; }

.c-status_processing .c-status__item_check .c-status__bullet:before {
  content: unicode(\e86c);
  color: #00A9E0; }

.c-status_processing .c-status__item_check .c-status__bullet .c-status__label {
  color: #00A9E0; }

.c-status_validation .c-status__title {
  color: #00A9E0; }

.c-status_validation .c-status__item_check .c-status__bullet:before, .c-status_validation .c-status__item_check .c-status__bullet .c-status__label {
  color: #00A9E0; }

.c-status_complete .c-status__title {
  color: #00A9E0; }

.c-status_complete .c-status__item_check .c-status__bullet:before, .c-status_complete .c-status__item_check .c-status__bullet .c-status__label {
  color: #00A9E0; }

.c-status_sent .c-status__title {
  color: #5BC500; }

.c-status_sent .c-status__item_check .c-status__bullet:before {
  content: unicode(\e86c);
  color: #5BC500; }

.c-status_sent .c-status__item_check .c-status__bullet .c-status__label {
  color: #5BC500; }

.c-status__item_disabled .c-status__bullet:before {
  content: '';
  background-color: #9B9B9B;
  width: 20px;
  height: 20px;
  top: -12px; }

.c-status__item_disabled .c-status__label {
  color: #9B9B9B; }

@media only screen and (max-width: 767px) {
  .c-status__line {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto; }
    .c-status__line .c-status__item:first-child:after, .c-status__line .c-status__item:last-child:after {
      content: '';
      position: absolute;
      left: -webkit-calc(100% -  87%);
      left: calc(100% -  87%);
      display: block;
      height: 60%;
      width: 6px;
      background-color: #fff; }
    .c-status__line .c-status__item:first-child:after {
      top: 0; }
    .c-status__line .c-status__item:last-child:after {
      top: 50%; }
  .c-status__label {
    line-height: 1.2;
    padding: 0; }
  .c-status__bullet {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 86.6%;
    margin: 0 0 0 auto;
    border-left: 2px solid #9B9B9B;
    padding: 20px 0 20px 40px;
    text-align: left; }
    .c-status__bullet:before {
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: -15px; }
  .c-status__item_disabled .c-status__bullet:before {
    left: -10px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .c-status_validation .c-status__item:first-child .c-status__bullet:after {
    content: '';
    position: absolute;
    left: -2px;
    top: 50%;
    display: block;
    height: 100%;
    width: 2px;
    background-color: #5BC500;
    z-index: 2; }
  .c-status_complete .c-status__item:first-child .c-status__bullet:after, .c-status_complete .c-status__item:nth-child(n) .c-status__bullet:after,
  .c-status_sent .c-status__item:first-child .c-status__bullet:after,
  .c-status_sent .c-status__item:nth-child(n) .c-status__bullet:after {
    content: '';
    position: absolute;
    left: -2px;
    top: 50%;
    display: block;
    height: 100%;
    width: 2px;
    background-color: #5BC500;
    z-index: 2; }
  .c-status_complete .c-status__item:last-child .c-status__bullet:after,
  .c-status_sent .c-status__item:last-child .c-status__bullet:after {
    display: none; } }

@media only screen and (min-width: 768px) {
  .c-status__label {
    line-height: 1.2;
    padding: 24px 0 6px 0; }
  .c-status__head,
  .c-status__main {
    padding-bottom: 60px; }
  .c-status__bullet {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center; }
    .c-status__bullet:before {
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      top: -17px; }
  .c-status__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    border-top: 4px solid #9B9B9B; }
    .c-status__item:first-child:after, .c-status__item:last-child:after {
      content: ' ';
      display: block;
      width: 50%;
      height: 5px;
      position: absolute;
      top: -4px;
      background-color: #fff; }
    .c-status__item:first-child:after {
      left: 0; }
    .c-status__item:last-child:after {
      left: 50%; }
  .c-status__item_disabled:after {
    display: none; }
  .c-status__item_disabled .c-status__bullet .c-status__label {
    color: #9B9B9B; }
  .c-status_validation .c-status__item:first-child .c-status__bullet:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -4px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #5BC500;
    z-index: 3; }
  .c-status_complete .c-status__item:first-child .c-status__bullet:after, .c-status_complete .c-status__item:nth-child(n) .c-status__bullet:after,
  .c-status_sent .c-status__item:first-child .c-status__bullet:after,
  .c-status_sent .c-status__item:nth-child(n) .c-status__bullet:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -4px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #5BC500;
    z-index: 3; }
  .c-status_complete .c-status__item:last-child .c-status__bullet:after,
  .c-status_sent .c-status__item:last-child .c-status__bullet:after {
    display: none; } }

.c-status.c-status_complete .c-status__item_check .c-status__bullet:after {
  background-color: #9B9B9B; }

.c-inner_border {
  border: 1px solid #D3D4D3; }
  .c-inner_border .table {
    margin-bottom: 0; }
  .c-inner_border .table:not(.cart):not(.totals) tfoot > tr:first-child td.is-noborder {
    border: none; }

.c-requirement {
  color: #50535A;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 56px 15px; }

.c-requirement__title {
  margin: 0;
  margin-bottom: 10px; }

.c-requirement__list {
  list-style: none;
  list-style-position: inside; }
  .c-requirement__list:last-child {
    margin-bottom: 0; }

.c-requirement__list-item {
  line-height: 25px;
  margin-bottom: 30px; }
  .c-requirement__list-item::before {
    content: "•";
    color: #50535A;
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    padding-left: 10px; }
  .c-requirement__list-item:last-child {
    margin-bottom: 0; }

.c-content {
  border-top: 1px solid #CBCBCB; }
  .c-content .data_canvas {
    padding-top: 36px; }
  .c-content .data__title-section {
    margin-top: 0; }
  .c-content .data__crop {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0; }
  .c-content .data__title-lead {
    margin-top: 0;
    margin-bottom: 18px; }

.c-aside .data__title {
  margin-top: 0; }

@media only screen and (min-width: 480px) {
  .c-content .data__lead {
    padding-left: 28px; }
  .c-content .data__thumb_red {
    min-width: 55px; } }

@media only screen and (min-width: 768px) {
  .c-requirement {
    padding-left: 36px; }
  .c-content .data_canvas {
    padding-top: 80px; } }

/**
 * @molecule Tooltip
 * @section Bloques
 * @markup
 *    <div class="card__row_inline">
 *       <div class="tool-box">
 *         <button class="btn-i i-question-ball js-btnTooltipData" type="button" tabindex="0">Pregunta</button>
 *         <div class="tool i-tooltip js-tooltipData js-tooltipData-close" style="display: block; opacity: 1;">
 *           <p class="tool__txt">Podrás recargar saldo adicional cuando se acabe tu plan.</p>
 *         </div>
 *       </div>
 *    </div>
 */
/*------------------------------------*\
    Tooltip
\*------------------------------------*/
.c-tooltip {
  position: relative; }

.c-tooltip__box {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  max-width: 160px;
  border: 1px solid #D3D4D3;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
  z-index: 4;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .c-tooltip__box.js-tooltipData-open {
    opacity: 1; }

.c-tooltip__txt {
  position: relative;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.2;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9B9B9B;
  text-align: left;
  margin-bottom: 0; }
  .c-tooltip__txt:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-image: url("/media/wysiwyg/recortes/triangulo-2_rot.svg");
    background-repeat: no-repeat; }

.c-tooltip__btn {
  cursor: pointer; }
  .c-tooltip__btn:after {
    display: inline-block;
    text-decoration: none;
    padding-left: 4px;
    vertical-align: middle;
    padding-bottom: 4px;
    color: #B6B7B7;
    font-size: 16px;
    font-size: 1.6rem;
    cursor: pointer; }
  .c-tooltip__btn.has-color:after {
    color: #E9426D; }

@media only screen and (max-width: 767px) {
  .c-tooltip__box {
    left: -68px;
    top: -19px; }
  .c-tooltip__txt:before {
    top: 13px;
    right: -39px;
    background-image: url("/media/wysiwyg/recortes/triangulo-2_rot.svg"); }
  .c-tooltip_timeline .c-tooltip__box {
    left: 18px; } }

@media only screen and (min-width: 768px) {
  .c-tooltip__box {
    top: 55px;
    right: 8px; }
  .c-tooltip__txt:before {
    top: -29px;
    left: 50%;
    background-image: url("/media/wysiwyg/recortes/triangulo-2.svg"); }
  .c-tooltip_timeline .c-tooltip__box {
    top: 24px; } }

.ui-title {
  color: #86888C;
  font-family: "Telefonica-ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 24px; }

.ui-columns {
  padding: 20px; }

.ui-column {
  margin-bottom: 20px; }

.ui-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.ui-media__body {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding-left: 28px; }
  .ui-media__body .data__group {
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 18px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .ui-media__body .data__group .list-thumb__boll {
      margin-bottom: 20px; }
      .ui-media__body .data__group .list-thumb__boll:first-child {
        margin-left: 0; }

.ui-media__figure {
  max-width: 60px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  width: 100%; }

.ui-media__img {
  width: 100%; }

.ui-media__title,
.ui-media__subtitle {
  color: #50535A;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  line-height: 23px;
  margin-bottom: 14px;
  margin-top: 0; }

.ui-media__subtitle {
  line-height: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 8px; }

.ui-media__description {
  color: #50535A;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px; }
  .ui-media__description .ui-media__block-text {
    font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block; }

.is-hidden {
  display: none; }

.is-block {
  display: block; }

.ui-block__wrapper .ui-media__img {
  margin: 0 auto;
  width: auto; }

.ui-data .data__title-lead {
  padding-bottom: 0; }

.ui-data .data__th {
  margin: 0; }

@media only screen and (min-width: 980px) {
  .ui-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .ui-column {
    display: block;
    padding: 12px; }
  .ui-column.is-one {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 33.33%; }
  .ui-column.is-two {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 66.66%; }
  .ui-column.is-half {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 50%; }
  .ui-column__title {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #50535A;
    margin-bottom: 20px;
    text-align: center; }
  .ui-media {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (min-width: 768px) {
  .ui-header.o-title_headline-bottom {
    margin-bottom: 60px; } }

.step__wrapper {
  padding: 20px 10px; }

.c-title {
  font-family: "Telefonica-ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 40px;
  font-size: 32px;
  font-size: 3.2rem;
  color: #50535A; }

.step__inner {
  max-width: 900px;
  margin: auto; }

.step__set {
  width: 100%; }

.step__title {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px; }

.step__legend {
  padding: 10px 10px 6px 20px; }

.step-block__inner {
  max-width: 500px;
  margin: auto; }
  .step-block__inner .form__grid {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 20px; }
  .step-block__inner .form__grid__item {
    display: block;
    margin-bottom: 20px;
    text-align: left;
    width: 100%; }

.form__label_bold {
  color: #50535A;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-size: 21px;
  font-size: 2.1rem; }

.form__help {
  color: #6B6D72;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  text-align: right; }

.form__note {
  color: #6B6D72;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 16px;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: justify; }
  .form__note_bold {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.form__radio_label_bold {
  color: #50535A;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px; }

.step__form-radio-item {
  border-bottom: 1px solid #CBCBCB;
  padding-right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%; }
  .step__form-radio-item .form__radio_label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .step__form-radio-item .form__radio_label:before, .step__form-radio-item .form__radio_label:after {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      margin-top: -5px !important; }
  .step__form-radio-item .form__radio:checked + .form__radio_label:before,
  .step__form-radio-item .form__radio:checked + .form__radio_label:after {
    -webkit-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%); }

.step__form-radio-item_border-none {
  border-bottom: none; }

.step-block {
  border-top: 1px solid #CBCBCB;
  padding: 10px 0; }

.step__block_border {
  border-top: 1px solid #CBCBCB; }

.step-block__title {
  color: #6b6d72;
  font-family: "Telefonica-ExtraLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 20px; }

.step-block__info-title {
  color: #50535A;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  margin-bottom: 20px; }

.step__search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .step__search .search__input {
    background-color: #F4F4F3;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .step__search .search__btn {
    background-color: #00A9E0; }
    .step__search .search__btn:before {
      color: #fff; }

.form__label_check-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px; }

.step__set_success:before {
  font-size: 46px;
  font-size: 4.6rem; }

.c-form__alert {
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #E9426D;
  font-size: 14px;
  font-size: 1.4rem; }

.form__title_alert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__title_alert::before {
  color: #f49c00;
  margin-right: 5px; }

@supports (-moz-appearance: none) {
  .step__set_success:before {
    top: -30%; }
  .step__set_success .link {
    top: 0; } }

@media only screen and (min-width: 768px) {
  .c-title {
    line-height: 24px;
    font-size: 40px;
    font-size: 4rem; }
  .step__inner {
    padding: 0 20px; }
  .step-block__inner .form__grid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    padding: 0 20px; }
  .step-block__inner .form__grid__item {
    margin-bottom: 0;
    padding-left: 0;
    width: 50%; }
  @supports (-moz-appearance: none) {
    .step__set_success:before {
      top: 0; } } }

@media only screen and (min-width: 980px) {
  .data-step {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .step__product {
    padding-top: 5px; }
  .step__form {
    padding: 0 40px; }
  .step-block .form__row,
  .step-block .form__row-gral {
    min-height: 114px; }
  .step-block .form__grid {
    padding-top: 0; }
  .form__radio_label {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px; }
  .form__radio_label_bold {
    font-size: 24px;
    font-size: 2.4rem; }
  .step__form-radio-item {
    border-bottom: none; }
  .step-block__title {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center; } }

@media only screen and (min-width: 1180px) {
  .step__inner {
    max-width: 1200px;
    width: 100%; } }

/*# sourceMappingURL=features.css.map */
