<?php 
/**
 * @var \Entrepids\Portability\Block\Product\Detail $block 
 */

if (!$block->isVitrina()) : 

if($block->isVisible()): 
?>
<script type="text/javascript">
    require(['jquery'], function ($) {
        $( document ).ready(function() {
            let portaDom      = '<div id=\"portaTerminalDetailBox\">\n' +
                '                <span id=\"display-ptdb\" class=\"i-a-arrow-back\">¿Ya tienes número?</span>\n' +
                '                <div id=\"ptdb-content\" style=\"display: none;\">\n' +
                '                    <label class=\"form__label" for=\"ptdb-number\">Ingresa tu número</label>\n'+
                '                    <input class=\"form__input" type=\"text\" id=\"ptdb-number\" name=\"dn-ptdb-number\" placeholder=\"Ej:2368211439\" maxlength=\"10\" />\n' +
                '                    <button class=\"btn btn_blue\" id=\"goSubmit_ptdb\">Usar este número</button> \n' +
                '                </div></div>';
            let delimiterBox  = $('.price-box.price-final_price');

            //Print porta dn input by default
            delimiterBox.after(portaDom);

            $(document).on("click", "input[name='prices']", function() {
                let buttonDisplay = $(this).data('click');
                switch(buttonDisplay) {
                    <?php if($block->isEnablePrepaid()): ?>
                    case "price3":
                        $('body #portaTerminalDetailBox').remove();
                        break;
                    case "price1": case "price2":
                        if ($('body #portaTerminalDetailBox').length < 1) {
                            delimiterBox.after(portaDom);
                        }
                        break;
                    <?php else: ?>
                    case "price3": case "price2":
                        $('body #portaTerminalDetailBox').remove();
                        break;
                    case "price1":
                        if ($('body #portaTerminalDetailBox').length < 1) {
                            delimiterBox.after(portaDom);
                        }
                        break;
                    <?php endif; ?>
                }
            });

            $(document).on("click", "span#display-ptdb", function() {
                $('body #display-ptdb').toggleClass('active');
                $('body #ptdb-content').toggle("fast");
            });

            $(document).on("click", "button#goSubmit_ptdb", function(e) {

                //Validations of dn
                e.preventDefault();
                if ($('body #ptdb-number').val().length < 10) {
                    alert("El número ingresado no tiene un formato válido favor de verificarlo");

                } else {
                    let validateRadios = !!$('input[name=prices]:checked').val();
                    if (validateRadios) {
                        let params = $.param({
                            'portability_option': $('input[name=prices]:checked').data('click') == 'price1' ? 'plan' : 'prepaid',
                            'dn'                : $('body #ptdb-number').val(),
                            'url_to_refer'      : $(location).attr("href")
                        });

                        window.location = '/portabilidad/portability/accesspoint/?' + params;
                    } else {
                        alert("Por favor selecciona alguna opción en precio para continuar.");
                    }
                }
            });

            $(document).on("input", "input[name='dn-ptdb-number']", function(e) {
                if (!/^[ 0-9]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ 0-9]+/ig, "");
                }
            });

        });

    });
</script>
<?php else: ?>
<style>
    <?php if(!$block->isEnablePrepaid()): ?>
    .grid-thumb .grid-thumb__slot:nth-child(2) {display: none !important;}
    <?php endif; ?>
    .grid-thumb .grid-thumb__slot:nth-child(3) {display: none !important;}
</style>
<?php 
endif;
endif;
