<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div class="fieldset-wrapper order-information">
    <table class="admin__table-secondary" id="order-informationAddress">
        <tbody>
            <?php echo $block->getChildHtml(); ?>
            <?php $nameDn = ''; 
                $nameOnix = '';
            ?>
            <?php if($block->getTypeOrder() === 'portabilidad pospago' || $block->getTypeOrder() === 'portabilidad prepago'):?> 
            <?php $nameDn = __('DN a portar:'); 
                $nameOnix = __('Folio de Onix:'); ?> 
            <?php elseif($block->getTypeOrder()=='renovacion'): ?>
            <?php $nameDn = __('DN a Renovar:'); 
                $nameOnix = __('Orden de Onix:'); ?>
            <?php endif; ?>        
            <!--Renovaciones-->
            <tr id="colum_1">
                <th><b><?php /* @escapeNotVerified */
                    echo $nameDn; ?></b></th>
                <td><?php echo $block->getDnRenovation(); ?></td>
            </tr>
            <tr id="colum_2">
                <th><b><?php /* @escapeNotVerified */
                    echo $nameOnix; ?></b></th>
                <td><?php echo $block->getOrderOnixRen(); ?></td>
            </tr>
            <tr id="colum_3">
                <th><b><?php /* @escapeNotVerified */
                    echo __('Onix order status:') ?></b></th>
                <td><?php echo $block->getStatusOnix(); ?></td>
            </tr>
            <?php if($block->getTypeOrder() ==='renovacion' || $block->getTypeOrder() === 'portabilidad pospago'):?> 
            <tr id="colum_4">
                <th><b><?php /* @escapeNotVerified */
                    echo __('Contrato UUID:') ?></b></th>
                <td><?php echo $block->getOrderContractUuid(); ?></td>
            </tr>
            <tr id="colum_5">
                <th><b><?php /* @escapeNotVerified */
                    echo __('Datos del contrato UUID:') ?></b></th>
                <td><?php echo $block->getOrderContractDocUuid(); ?></td>
            </tr>
            <?php endif; ?> 
            <!-- Detalle Infomación Portabilidad Pospago -->
            <?php if($block->getTypeOrder() === 'portabilidad pospago' || $block->getTypeOrder() === 'portabilidad prepago'):?>    
                <script>
                require(['prototype'], function(){    
                    jQuery("#colum_3").remove(); 
                });
                </script>
                <tr id="colum_6">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Folio de SPN:') ?></b></th>
                    <td><?php echo $block->getOrderFolioidSpn(); ?></td>
                </tr>
                <tr id="colum_7">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Status de porta:') ?></b></th>
                    <td><?php echo $block->getOrderPortaStatus(); ?></td>
                </tr>
                <tr id="colum_07">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Porta estatus descripción:') ?></b></th>
                    <td><?php echo $block->getOrderPortaStatusDesc(); ?></td>
                </tr>
                <tr id="colum_8">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Teléfono de contacto :') ?></b></th>
                    <td><?php echo $block->getOrderTelephone(); ?></td>
                </tr>
                <tr id="colum_9">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Fecha de ventana de cambio:') ?></b></th>
                    <td><?php echo $block->getOrderDatePorta(); ?></td>
                </tr>           
            <?php endif; ?>
            <!-- Detalle Infomación Portabilidad Prepago -->
            <?php if($block->getTypeOrder() === 'portabilidad prepago' && ($block->getOrderTypeShipping() === '1' || $block->getOrderTypeShipping() === '2')): ?>
                <!--Si la orden tiene productos tipo terminal-->
                <tr id="colum_10">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Folio Onix para orden terminal:') ?></b></th>
                    <td><?php echo $block->getOrderFolioOnixTerminal(); ?></td>
                </tr>
                <tr id="colum_11">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Estado orden terminal:') ?></b></th>
                    <td><?php echo $block->getOrderStatusOnixTerminal(); ?></td>
                </tr>
                <!--Si la orden es con envío a domicilio-->
                <tr id="colum_12">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Estado reserva Sim:') ?></b></th>
                    <td><?php echo $block->getOrderResSimStatus(); ?></td>
                </tr> 
                <tr id="colum_13">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Folio reserva Sim:') ?></b></th>
                    <td><?php echo $block->getOrderFolioResSim(); ?></td>
                </tr> 
                <tr id="colum_14">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Estado confirmación reserva Sim:') ?></b></th>
                    <td><?php echo $block->getOrderStatusConfResSim(); ?></td>
                </tr>  
                <tr id="colum_15">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Folio confirmación reserva Sim:') ?></b></th>
                    <td><?php echo $block->getOrderConfResSimId(); ?></td>
                </tr>  
                <tr id="colum_16">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Número SIM asignado:') ?></b></th>
                    <td><?php echo $block->getOrderNumberSimAsig(); ?></td>
                </tr>  
                <tr id="colum_17">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Estado bloqueo Sim:') ?></b></th>
                    <td><?php echo $block->getOrderStatusBloqSim(); ?></td>
                </tr>    
                <tr id="colum_18">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Estado cambio Sim:') ?></b></th>
                    <td><?php echo $block->getOrderStatusChangeSim(); ?></td>
                </tr>
                <!-- Si el cliente compro recarga-->
                <tr id="colum_19">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Estado de la recarga:') ?></b></th>
                    <td><?php echo $block->getOrderStatusRecargaP(); ?></td>
                </tr> 
                <tr id="colum_20">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Folio recarga:') ?></b></th>
                    <td><?php echo $block->getOrderFolioRecargaP(); ?></td>
                </tr>    
                <!--Porta Prepago SIM +  Recarga  + Terminal + Envío a Domicilio-->
                <?php if($block->getOrderRecargaPortaPre() === true && $block->getOrderTypeShipping() === '1' && strtolower($block->getOrderTypeProductTerminal()) === 'terminales'): ?>
                                        
                <!--Porta Prepago SIM + Terminal + Envío a Domicilio-->
                 <?php elseif(strtolower($block->getOrderTypeProductTerminal()) === 'terminales' && $block->getOrderTypeShipping() === '1'): ?>
                    <script>
                    require(['prototype'], function(){ 
                        jQuery("#colum_19").remove();
                        jQuery("#colum_20").remove();
                    });
                    </script>
                <!--Porta Prepago SIM + Recarga + Envío a Domicilio-->
                    <?php elseif($block->getOrderRecargaPortaPre() === true && $block->getOrderTypeShipping() === '1'): ?>
                    <script>
                    require(['prototype'], function(){ 
                        jQuery("#colum_10").remove();
                        jQuery("#colum_11").remove();
                    });
                    </script>
                    <!--Porta Prepago SIM + Envío a Domicilio-->
                 <?php elseif($block->getOrderTypeShipping() === '1'): ?>
                    <script>
                    require(['prototype'], function(){ 
                        jQuery("#colum_10").remove();
                        jQuery("#colum_11").remove();
                        jQuery("#colum_19").remove();
                        jQuery("#colum_20").remove();
                    });
                    </script> 
                 <!--Porta Prepago SIM + Recarga  + Terminal + Envío a CAC-->
                 <?php elseif($block->getOrderRecargaPortaPre() === true && strtolower($block->getOrderTypeProductTerminal()) === 'terminales' && $block->getOrderTypeShipping() === '2' ): ?>
                    <script>
                    require(['prototype'], function(){    
                        jQuery("#colum_12").remove(); 
                        jQuery("#colum_13").remove();
                        jQuery("#colum_14").remove();
                        jQuery("#colum_15").remove();
                        jQuery("#colum_16").remove();
                        jQuery("#colum_17").remove();
                        jQuery("#colum_18").remove();
                    });
                    </script> 
                    <!--Porta Prepago SIM  + Terminal + Envío a CAC-->
                    <?php elseif(strtolower($block->getOrderTypeProductTerminal()) === 'terminales' && $block->getOrderTypeShipping() === '2'): ?>
                    <script>
                    require(['prototype'], function(){     
                        jQuery("#colum_12").remove(); 
                        jQuery("#colum_13").remove();
                        jQuery("#colum_14").remove();
                        jQuery("#colum_15").remove();
                        jQuery("#colum_16").remove();
                        jQuery("#colum_17").remove();
                        jQuery("#colum_18").remove();                            
                        jQuery("#colum_19").remove();
                        jQuery("#colum_20").remove();
                    });
                    </script>
                    <!--Porta Prepago SIM + Recarga  + Envío a CAC-->
                    <?php elseif($block->getOrderRecargaPortaPre() === true && $block->getOrderTypeShipping() === '2'): ?>
                    <script>
                    require(['prototype'], function(){
                        jQuery("#colum_10").remove();     
                        jQuery("#colum_11").remove(); 
                        jQuery("#colum_12").remove(); 
                        jQuery("#colum_13").remove();
                        jQuery("#colum_14").remove();
                        jQuery("#colum_15").remove();
                        jQuery("#colum_16").remove();
                        jQuery("#colum_17").remove();
                        jQuery("#colum_18").remove();
                    });
                    </script>  
                    <!--Porta Prepago SIM + Envío a CAC-->
                    <?php elseif($block->getOrderTypeShipping() === '2'): ?>
                    <script>
                    require(['prototype'], function(){
                        jQuery("#colum_10").remove();     
                        jQuery("#colum_11").remove(); 
                        jQuery("#colum_12").remove(); 
                        jQuery("#colum_13").remove();
                        jQuery("#colum_14").remove();
                        jQuery("#colum_15").remove();
                        jQuery("#colum_16").remove();
                        jQuery("#colum_17").remove();
                        jQuery("#colum_18").remove();
                        jQuery("#colum_19").remove();
                        jQuery("#colum_20").remove();
                    });
                    </script>
                <?php endif; ?>                               
            <?php endif; ?> 
            <?php if($vitrina_id = $block->getOrderVitrinaId()):?> 
                <tr id="colum_21">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Id vitrina:') ?></b></th>
                    <td><?php echo $vitrina_id; ?></td>
                </tr>
                <tr id="colum_22">
                    <th><b><?php /* @escapeNotVerified */
                        echo __('Name vitrina:') ?></b></th>
                    <td><?php echo $block->getOrderVitrinaName(); ?></td>
                </tr>
            <?php endif; ?> 
        </tbody>
    </table>
</div>
