.form {
  .c-form__control {
    display: block;
    width: 100%;
    min-height: 44px;
    padding: 10px 20px;
    line-height: 1.4;
    font-family: $f-regular;
    @include font-size-rem(16px);
    border-radius: 4px;
    background-color: $c-default-5;
  }
    

  //- C= Login \ O= Form \ E= input 
  .c-form__input-code {
    display: block;
    width: 26px;
    height: 26px;
    padding: 2px 0;
    line-height: 1.4;
    @include font-size-rem(18px);
    font-family: $f-regular;
    border-radius: 4px;
    background-color: $c-tag-5_l;
    margin-right: 2px;
    text-align: center;
    &::placeholder {
      color: $c-default-3;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.c-form__label {
  display: block;
  @include font-size-rem(16px);
  padding-bottom: 10px;
  &.c-form__label_title {
    padding-bottom: 20px;
  }
}

.c-form__security-label {
  @include font-size-rem(16px);
}

.is-form__status {
  position: relative;
  display: inline-block;
  width: 100%;
  &:before {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 20px;
    @include translateY(-50%);
    @include font-size-rem(24px);
  }
  &.i-alert-circular-filling {
    &:before {
      color: $c-alert;
      }
    }
  &.i-alert-circular-filling ~ .i-eye,
  &.icon-check_circle ~ .i-eye
   {
    display: none;
  }
  &.icon-check_circle {
    &:before {
      color: $c-brand;
    }
  }
}

//- C= Login \ O= Form 
.c-form__row {
  padding-bottom: 30px;
}

//- C= Login \ O= Form 
.c-form__group {
  position: relative;
  display: block;
  width: 240px;
  margin: 0 auto;
  .c-spinner {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

//- C= Login \ O= Form \ E= text 
.c-form__text-bold {
  font-family: $f-bold;
  @include font-size-rem(24px);
}

//- C= Login \ O= Form \ E= alert 
.c-form__alert {
  font-family: $f-regular;
  color: $c-alert;
  @include font-size-rem(14px);
}

//- C= Login \ O= Form 
.c-form__section {
  border-top: 1px solid $c-default-3;
  padding-top: 30px;
  margin-top: 10px;
}


//- C= Login \ O= Form 
.c-form__inline {
  @include flexbox;
  @include justify-content(space-between);
  max-width: 320px;
  margin: 0 auto;
}

//- C= Login \ O= Form 
.c-form_code {
  max-width: 480px;
  margin: 0 auto;
}

//- C= Login \ O= Form \ E= text
.c-form__headtext {
  padding-bottom: 30px;
  text-align: center;
}

//- C= Login \ O= Form \ E= text
.c-form__text {
  @include font-size-rem(16px);
  padding-bottom: 30px;
}
  
//- C= Login \ O= Form \ is= javascript
.is-hidden {
  display: none;
}



.c-form__label {
  display: block;
  @include font-size-rem(16px);
  padding-bottom: 10px;
}

.c-form_max-center {
  max-width: 460px;
  margin: 0 auto;
  text-align: left;
}

.c-form__actions {
  padding-bottom: 30px;
  text-align: center;
}
  

@include media-query(small-m) {
  .c-form__label {
    //- C= Login \ O= Form 
    &.c-form__label_title {
      padding-bottom: 4px;
    }
  }
}

@include media-query(medium) {
  .form {
    .c-form__inline {
      @include justify-content(center);
      max-width: initial;
      margin: 0 -4px;
    }
  
    .c-form__label {
      &.c-form__label_title {
        padding-bottom: 10px;
      }
    }
  
    .c-form__input-code {
      @include font-size-rem(30px);
      width: 40px;
      height: 40px;
      padding: 2px 0;
      margin: 0 4px;
      text-align: center;
    }
  }
}

@include media-query(wide) {
  .form {
    .c-form__control {
      @include font-size-rem(16px);
    }
  }
}

