.o-layout-half__column {
    text-align: center;
    padding: 15px;
}

.o-layout-half__header {
    padding-bottom: 28px;
}

.o-layout-half__footer {
    text-align: center;
    padding-bottom: 40px;
}

.o-layout-half__footer_item {
    margin-bottom: 0;
    padding-bottom: 60px;
}

.o-layout-half__footer_item:last-of-type {
    padding-bottom: 0;
}

.o-layout-half__column_left-bg {
    background-color: $c-neutro;
}

.o-layout-half__column_right-bg {
    background-color: $c-default-5;
}

.form__row-sm_padding {
    padding-left: 20px;
    padding-top: 8px;
}

.form__alert_max {
    display: inline-block;
    max-width: 130px;
}

.form__row-align-right {
    position: absolute;
    right: 0;
    @include font-size-rem(12px);
    font-family: $f-default;
}

.login-index-index {
    .page-main {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 75px;
        max-width: initial;
        .columns .column.main {
            padding-bottom: 0;
        }
    }    
    .footer .content {
        margin-top: 0;
        border: none;
    }
}

//- small-m: 480px
@include media-query(small-m) {
    .form__alert_max {
        max-width: initial;
    } 
}

//- wide: 1024px
@include media-query(wide) {

    .o-layout-half {
        @include flexbox;
        @include flex-wrap(wrap);
    }

    .o-layout-half_linear-gradient {
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, $c-neutro), color-stop(50%, $c-default-5));
        background: -webkit-linear-gradient( left, $c-neutro 50%, $c-default-5 50%);
        background:      -o-linear-gradient( left, $c-neutro 50%, $c-default-5 50%);
        background:         linear-gradient(90deg, $c-neutro 50%, $c-default-5 50%);
    }

    .o-layout-half__column {
        flex-basis: 50%;
        padding-top: 100px;
    }

}