// Login-INTPOSP-633 Recuperar contraseña
//- C= Login-recover
.c-recover {
    margin-top: 40px;
    .link__brand {
        display: block;
    }
    .btn {
        display: block;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
    }
    &.board {
        border: 1px solid $c-default-4; 
    }

}


//- C= Login-recover \ O= board
.c-board__header {
    text-align: center;
    background-color: $c-brand;
    padding: 30px 0;
}

//- C= Login-recover \ O= board
.c-board__main {
    padding: 30px 4px 30px 4px;
}
  
//- C= Login-recover \ O= board \ E= text
.c-board__title {
    color: $c-neutro;
    font-family: $f-regular;
    @include font-size-rem(24px);
    padding-bottom: 4px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    &:before {
        display: block;
        @include font-size-rem(40px);
    }
}

//- C= Login-recover \ O= board \ E= text
.c-board__headtext {
    font-family: $f-bold;
    @include font-size-rem(24px);
    line-height: 1.1;
    text-align: center;
    padding-bottom: 40px;
    color:$grey-4;
}

//- C= Login-recover \ O= spinner
.c-spinner {
    background-color: transparent;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    border-left: 5px solid rgba(255, 255, 255, .2);
    animation: lds-ring 1s infinite linear;
}

//- C= Login-recover \ O= board \ E= text
.c-board__information-wrapper{
    padding: 20px 0;
    .c-board__headtext{
        padding-bottom: 0;    }
}
.c-board__information{
    @include font-size-rem(24px);
    color:$grey-4;
    font-family: $f-regular;
    text-align: center;
    line-height: 24px;
}

//- Login-INTPOSP-633
@include media-query(medium) {
    //- C= Login-recover
    .c-recover {
        margin-top: 0;
    }
    
    //- C= Login-recover \ O= board
    .c-board__main {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .c-board__information {
        @include font-size-rem(40px);
        line-height: 41px;
    }

    //- C= Login-recover \ O= board \ E= text
    .c-board__title {
        @include font-size-rem(40px);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        text-align: left;
        &:before {
            @include font-size-rem(50px);
            display: inline-block;
            vertical-align: middle;
            padding: 0 20px 0 0;
        }
    }
    //- C= Login-recover \ O= board \ E= text
    .c-board__headtext {
        @include font-size-rem(20px);
    }

    //- C= Login-recover
    .c-recover {
        .link__brand {
            display: inline;
        }
    }
    //- C= Login-recover \ O= board \ E= text
.c-board__information-wrapper{
    padding-bottom: 40px;
    }
}