.c-register {
  color: $c-default-1;
  font-family: $f-regular;
}

.c-register__inner {
  max-width: 360px;
  margin: auto;
  padding: 0 14px 0 16px;
}

.c-register__block {
  padding: $sp-small 0;
}

@include media-query(medium) {
  .c-register__inner {
    max-width: 620px;
    padding: 0 80px;
  }
}
