.ui-title {
  color: $c-default-1;
  font-family: $f-regular;
  @include font-size-rem(24px);
  line-height: 36px;
  text-align: center;
}

.ui-description {
  @include font-size-rem(16px);
  line-height: 20px;
  text-align: center;
}

.ui-link {
  @include font-size-rem(18px);
}

@include media-query(medium) {
  .ui-title {
    @include font-size-rem(40px);
    line-height: 50px;
  }

  .ui-description {
    @include font-size-rem(20px);
    line-height: 25px;
  }
}