<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
$blockOrder   = $block->getLayout()->createBlock('Vass\Flappayment\Block\Index');
$order_id     = $blockOrder->getOrderIdFlap();
$dataProducts = $blockOrder->getDetalleItems($order_id);
$blockProd    = $block->getLayout()->createBlock('Vass\PosCar\Block\Success');
$dataShipping = $blockProd->getShippingOrder($order_id);
$grantTotal   = 0;
$arrItems     = array();
$_order = $block->getOrder();

?>
<?php
    $priceTotal = 0;
    $count_items = 0;

    if(count($dataProducts)>0){ ?>
     <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
        <thead>
            <tr>
                <th width="60%">
                  <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?= /* @escapeNotVerified */  __('RESUMEN DE LA COMPRA') ?></strong></p>
               </th>
               <th width="20%">
               <p style="text-align:center;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?= /* @escapeNotVerified */  __('Cargo mensual') ?></strong></p>
               </th>
               <th width="20%">
                  <p style="text-align:center;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?= /* @escapeNotVerified */  __('Pago inicial') ?></strong></p>
               </th>
            </tr>
        </thead>
         <?php for($i=0;$i<count($dataProducts);$i++){ ?>
            <tbody>
                <?php if(($count_items++)%2 == 0): ?>
                    <tr style="background:#f5f5f5;">
                <?php else: ?>
                    <tr>
                <?php endif; ?>
                <?php  if($dataProducts[$i]['sku'] != "99999" && $dataProducts[$i]['sku'] != "88888") { ?>
                        <?php if($dataProducts[$i]['sku'] == "0" && (int) $dataProducts[$i]['precio'] == 0 ){
                            continue;
                         }
                        else{?>
                            <?php $priceTotal += (float) $dataProducts[$i]['precio']; ?>
                            <td>
                                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                                    <?php echo $dataProducts[$i]['name']; ?>
                                </p>
                            </td>
                            <td>
                                 <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                                    1
                                </p>
                            </td>
                            <td>
                                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                                 <?php echo '$'.number_format($dataProducts[$i]['precio'], 2, '.',','); ?>
                                </p>
                            </td>
                       <?php } ?>

                    </tr>
                 <?php } ?>
            </tbody>
        <?php } ?>
            <tfoot class="order-totals">

                <tr>
                    <td>
                        <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                            <strong>Subtotal</strong>
                        </p>
                    </td>
                    <td></td>
                    <td>
                        <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                            <strong><?php echo '$'.number_format($priceTotal,2,'.',',');?></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                            <strong>Manejo y envío</strong>
                        </p>
                    </td>
                    <td></td>
                    <td>
                        <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                            <strong>$0.00</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                            <strong>Gran Total</strong>
                        </p>
                    </td>
                    <td></td>
                    <td>
                        <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">
                            <strong><?php echo '$'.number_format($priceTotal,2,'.',','); ?></strong>
                        </p>
                    </td>
                </tr>
            </tfoot>
         <?php }
         else{ ?>
         <?php if ($_order): ?>
         <?php $_items = $_order->getAllItems(); ?>
         <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
             <thead>
             <tr>
                 <th width="60%">
                     <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?= /* @escapeNotVerified */  __('RESUMEN DE LA COMPRA') ?></strong></p>
                 </th>
                 <th width="20%">
                     <p style="text-align:center;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?= /* @escapeNotVerified */  __('Cargo mensual') ?></strong></p>
                 </th>
                 <th width="20%">
                     <p style="text-align:center;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?= /* @escapeNotVerified */  __('Pago inicial') ?></strong></p>
                 </th>
             </tr>
             </thead>
             <?php $count_items = 0; ?>
             <?php foreach ($_items as $_item): ?>
             <?php
             if ($_item->getParentItem()) {
                 continue;
             }
             ?>
             <tbody>
             <?php if(($count_items++)%2 == 0): ?>
             <tr style="background:#f5f5f5;">
                 <?php else: ?>
             <tr>
                 <?php endif; ?>
                 <?= $block->getItemHtml($_item) ?>
             </tbody>
             <?php endforeach; ?>
             <tfoot class="order-totals">
             <?= $block->getChildHtml('order_totals') ?>
             </tfoot>

             <?php endif; ?>
             <?php } ?>
         </table>
         <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
             <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_order->getGiftMessageId()); ?>
             <?php if ($_giftMessage): ?>
                 <br />
                 <table class="message-gift">
                     <tr>
                         <td>
                             <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                             <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                             <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                             <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                             <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                         </td>
                     </tr>
                 </table>
             <?php endif; ?>
         <?php endif; ?>
