<style type="text/css">
    #valida-rfc{text-transform: uppercase;}
</style>
<?php
$objectManager      = \Magento\Framework\App\ObjectManager::getInstance();
$blockCustomer = $block->getLayout()->createBlock('Vass\PosCarStepsTer\Block\Index');
$dataCustomer = $blockCustomer->getDataCustomer();
/*
echo "<pre>";
var_dump($dataCustomer);
echo "</pre>";
*/
if(isset($_GET['iscac']) && $_GET['iscac'] == '1' ){
    $addressShowStep2  = $dataCustomer['shipping'];
}else{
    $addressShowStep2  = $dataCustomer['billing'];
}


$blockIneStatus = $blockCustomer->getIneStatus();
$cpAttaker = $blockCustomer->getCheckoutSession()->getCpAttaker();
$cartId = $blockCustomer->getAbandonedCartId();
$helper = $this->helper('Vass\PosCarStepsPre\Helper\Order');
$cart = $blockCustomer->getCartData();

$varEnviarDomicilio = $blockCustomer->getShippingDinamicTerDomicilio();
$varEnviarTienda = $blockCustomer->getShippingDinamicTerTienda();
$isRfcTerminalEnabled = $blockCustomer->isEnabledRFCTerminal();
$rfcDummy = $blockCustomer->getRfcDummy();

if ($cpAttaker != "") {
    $dataCustomer['shipping']['postcode'] = $cpAttaker;
}

$link_base = $this->getBaseUrl();
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media . "recortes/";
$pdfAviso = $this->getUrl('pub/media/archivos/') . 'avisoprivacidad.pdf';

$blockTerminales = $block->getLayout()->createBlock('Vass\PosCarStepsTer\Block\Index');
$arrProduct = $blockTerminales->getDataProductsCheckout();
$terminal = "";
$recarga = "";
$printRecarga = "";
$grandTotal = 0;
$grandTotalVisual = 0;
$grandMen = 0;
$grandMenVisual = 0;
$grandMenTerminalVisual = 0;
$SmartWatch = 0;
$typeSIM = "";
$totalDescuento = 0;
$marca = '';

    /*echo "<pre>";
    print_r($arrProduct);
    echo "</pre>";*/

foreach ($arrProduct as $clave => $valor) {
    if (array_key_exists('default', $valor)) {
        $SmartWatch = 1;
    }
    
    if (array_key_exists('terminales', $valor)) {
        foreach ($valor as $key => $value) {
            $terminal = $value['name'];
            $priceTerminal = (int) $value['priceprepago'];

            //Descuento por promoción de HOTSALE
            if ($helper->getConfigValue('enable')) {
                $hotsaleDiscount = $blockCustomer->getHotsaleDiscount($value['product_id']);
                $priceTerminal *= (1 - $hotsaleDiscount);
            }

            $priceTerminalVisual = (int) $value['priceprepago'] / 2;
            $grandTotal = $grandTotal + $priceTerminal;
            $grandTotalVisual = $grandTotalVisual + $priceTerminal;
            $skuTerminal = $value['sku'];
            $grandMenVisual += ($priceTerminal / 48);
            $grandMenTerminalVisual += ($priceTerminal / 48);
            $capacidadTerminal = $blockCustomer->getAttributeId($value['capacidad']);
            $colorTerminal = $blockCustomer->getAttributeIdFront($value['color']);
            $marca = $blockCustomer->getAttributeIdFront($value['marca']);
        }
    }
}

$impuestos = $grandTotal * 0.16;

if ($cart->getCouponCode()) {
    foreach ($cart->getItems() as $item) {
        $discountAmount = $item->getDiscountAmount();
        $totalDescuento += $discountAmount;
    }
    $grandTotal = $cart->getSubtotalWithDiscount();
}


?>
<input type="hidden" name="localStorageRFC" id="localStorageRFC" value="0" >
<input type="hidden" name="localStorageRFC" id="localStorageRFCNEW" >
<div class="layout_section">
    <div class="layout_inner-desktop">
        <!-- Header -->
        <header class="vsm-head-section data__header-full">
            <h1 class="title_head">Checkout</h1>
            <!--PREPAGO: PREPAGO-47 Link volver al carrito -->
            <a href="<?= $link_base ?>pos-car-ter" class="link__brand link_under" alt="Regresa al carrito">
                Quiero volver al carrito
            </a>
        </header>

        <!-- Form -->
        <form  id="msmx-prepago" class="vsm-data-step data-step js-formDataStepPre" action="<?= $this->getUrl('pos-car-steps-ter/order/index') ?>" method="post">
            <input type="hidden" name="session_flujo" value="<?=$blockTerminales->getSessionFlujo()?>" />
            
            <div class="pos-data__content vsm-data-step__content">

                <!--PREPAGO: PREPAGO-47 Paso 1 -->
                <fieldset class="step__set i-check step__set_active js-step">
                    
                    <!--PREPAGO: PREPAGO-47 Label Azul -->
                    <legend class="step__legend">
                        <span class="step__grid">
                            <span class="step__value">1</span>
                            <span class="step__title">Tus datos</span>
                        </span>
                    </legend>

                    <!--PREPAGO: PREPAGO-47 Paso cerrado -->
                    <div class="step__lead success_show" id="datos-load">
                        <p class="step__txt" id="div-nombre-dir"></p>
                        <p class="step__txt" id="div-direccion1-dir"></p>
                        <p class="step__txt" id="div-direccion2-dir"></p>
                    </div>
                    
                    <button class="link success_show js-stepReset" type="button" id="changeone">Cambiar</button>
                    
                    <!--PREPAGO: PREPAGO-47 Contenido 1-->
                    <div class="step__content js-stepAccordion">
                        <!--  Row 0 Texto superior-->
                        <div class="form__row-gral">
                            <span class="txt_blue i-star-fill"> Campos requeridos</span>
                        </div>

                        <!--  Row 1 Completo Nombre-->
                        <div class="form__row-gral">
                            <label class="form__label form__label-ico i-star-fill">Nombre</label>
                            <input class="form__input reqCalle" placeholder="Escribe tu nombre" type="text" name="name" id="valid-nombre" data-validate="name" value="<?= $dataCustomer['customer']['first_name'] ?>" maxlength="53">
                            <small class="js-validateMsg" data-name="name"></small>
                        </div>

                        <!--  Row 2 Grid Apellidos-->
                        <div class="form__row-gral form__grid">
                            
                            <!--  Row 2.1 Grid Apellidos-->
                            <div class="form__grid__item">
                                <label class="form__label form__label-ico i-star-fill">Apellido paterno</label>
                                <input class="form__input" placeholder="Escribe tu apellido" type="text" name="lastName" id="valid-appelido-p" data-validate="lastName" value="<?= $dataCustomer['customer']['last_name'] ?>" maxlength="35">
                                <small class="js-validateMsg" data-name="lastName"></small>
                            </div>
                            
                            <!--  Row 2.2 Grid Apellidos-->
                            <div class="form__grid__item">
                                <label class="form__label form__label-ico i-star-fill">Apellido materno</label>
                                <input class="form__input" placeholder="Escribe tu apellido" type="text" name="lastName2" id="valid-appelido-m" data-validate="lastName" value="<?= $dataCustomer['customer']['middle_name'] ?>" maxlength="35">
                                <small class="js-validateMsg" data-name="lastName2"></small>
                            </div>
                        </div>
                                
                        <!--  Row 3 Completo Correo-->
                        <div class="form__row-gral">
                            <label class="form__label form__label-ico i-star-fill">Correo electrónico</label>
                            <?php if ($dataCustomer['customer']['email'] == "") { ?>
                                <input class="form__input" placeholder="Escribe tu correo electronico" type="email" id="valid-email" name="email" value="<?= $dataCustomer['customer']['email'] ?>">
                            <?php }else{ ?>
                                <input class="form__input" placeholder="Escribe tu correo electronico" type="email" id="valid-email" name="email" value="<?= $dataCustomer['customer']['email'] ?>" readonly>
                            <?php } ?>    
                            <small class="js-validateMsg" data-name="email"></small>
                        </div>

                        <!--  Row 3 - BIS RFC -->
                        <!-- agregar el punto de configuracion -->
                        <?php 
                            $rfc_name = "RFC";
                            $rfc_id = "valida-rfc";
                            $rfc_required = "i-star-fill";
                            $rfc_valdate = 'data-validate="RFC"';
                            if($isRfcTerminalEnabled == 0){
                                $rfc_name = "RFC2";
                                $rfc_id = "valida-rfc2";
                                $rfc_required = "";
                                $rfc_valdate = '';
                            }
                        ?>
                        <div class="form__row-gral">
                            <label class="form__label form__label-ico <?= $rfc_required ?>">RFC</label>
                            <input class="form__input" placeholder="RFC" type="text" name="<?= $rfc_name ?>" id="<?= $rfc_id ?>" <?= $rfc_valdate ?> value="<?= $dataCustomer['customer']['rfc'] ?>" maxlength="13" minlength="13">
                            <small class="js-validateMsg" data-name="RFC"></small>
                        </div>
                        <?php if($isRfcTerminalEnabled == 0){ ?>                              
                            <div class="form__row-gral" style="display: none;">
                                <label class="form__label form__label-ico i-star-fill">RFC</label>
                                <input class="form__input" placeholder="RFC" type="text" name="RFC" id="valida-rfc" data-validate="RFC" value="<?=$rfcDummy ?>" maxlength="13" minlength="13">
                                <small class="js-validateMsg" data-name="RFC"></small>
                            </div>
                        <?php } ?>        
                        <!--  Row 4 Completo Telefono-->
                        <div class="form__row-gral">
                            <label class="form__label form__label-ico i-star-fill">Teléfono de contacto</label>
                            <input class="form__input" placeholder="2221234567" type="text" name="phone" id="telefono-contacto" data-validate="phone" value="<?= $dataCustomer['shipping']['telephone'] ?>"  maxlength="10">
                            <small class="js-validateMsg" data-name="phone"></small>
                        </div>                      

                        <div class="form__row_center">

                            <!--  Row 8.2 Checkbox Deseo recibir-->
                            <div class="form__row-gral vsm-form__row-control">
                                <input class="form__check js-chkSlideUp"  type="checkbox" id="recibeFactura" name="recibeFactura" data-validate="recibeFactura" data-check="chkBill" value="recibeFactura">
                                <label class="form__label_check i-check" for="recibeFactura">Deseo recibir una factura</label>
                                <small class="js-validateMsg" data-name="recibeFactura"></small>
                            </div>                                                  

                        </div>

                        <!--  Contenido oculto -->
                        <div class="vsm-form__hidden vsm-form__border-top js-formSlideUp" id="slideBill">

                            <!--  Row 10 Calle -->
                            <div class="form__row-gral">
                                <label class="form__label form__label-ico i-star-fill">Calle</label>
                                <?php if ($dataCustomer['billing']['street'] == "" || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") : ?>
                                    <input class="form__input reqCalle" id="calle-domicilio" placeholder="Escribe tu domicilio" type="text" name="calle" data-validate="street" value="">
                                <?php else : ?>
                                    <input class="form__input reqCalle" id="calle-domicilio" placeholder="Escribe tu domicilio" type="text" name="calle" data-validate="street" value="<?= $dataCustomer['billing']['street'] ?>">
                                <?php endif; ?>
                                <small class="js-validateMsg" data-name="calle"></small>
                            </div>
								
                            <!--  Row 11 Numeros (Grid)-->
                            <div class="form__grid form__row-gral">
								
                                <div class="form__grid__item">
                                    <label class="form__label form__label-ico i-star-fill">Número exterior</label>
                                    <?php if ($dataCustomer['billing']['street'] == "" || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") : ?>
                                        <input type="text" maxlength="10" class="form__input" placeholder="Número" type="text" name="calleNumero" id="numero-domicilio" data-validate="streetNumber" value="">
                                    <?php else : ?>
                                        <input type="text" maxlength="10" class="form__input" placeholder="Número" type="text" name="calleNumero" id="numero-domicilio" data-validate="streetNumber" value="<?= $dataCustomer['billing']['numero_ext'] ?>">
                                    <?php endif; ?>
                                    <small class="js-validateMsg" data-name="calleNumero"></small>
                                </div>
                                <div class="form__grid__item">
                                    <label class="form__label">Número Interior</label>
                                    <?php if ($dataCustomer['billing']['street'] == "" || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") : ?>
                                        <input type="text" maxlength="10" class="form__input" placeholder="Escribe tu número interior" type="text" name="NumeroInterior" id="numero-interior" value="">
                                    <?php else : ?>
                                        <input type="text" maxlength="10" class="form__input" placeholder="Escribe tu número interior" type="text" name="NumeroInterior" id="numero-interior" value="<?= $dataCustomer['billing']['numero_int'] ?>">
                                    <?php endif; ?>
                                </div>

                            </div>

                            <!--  Row 12 Código postal-->
                            <div class="form__row-gral">
                                <label class="form__label form__label-ico i-star-fill">Código postal</label>
                                <?php if ($dataCustomer['billing']['street'] == "" || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") : ?>
                                    <input class="form__input" placeholder="Escribe tu código postal" type="text" name="postalCode" id="codigo-postal-valida" data-validate="postalCode" value="" maxlength="5">
                                <?php else : ?>
                                    <input class="form__input" placeholder="Escribe tu código postal" type="text" name="postalCode" id="codigo-postal-valida" data-validate="postalCode" maxlength="5" value="<?= $dataCustomer['billing']['postcode'] ?>">
                                <?php endif; ?>
                                <small class="js-validateMsg" data-name="postalCode"></small>
                            </div>
                            
                            <!--  Row 13 Colonia (Select) -->
                            <div class="form__row-gral">
                                <label class="form__label form__label-ico i-star-fill">Colonia</label>
                                    
                                <div class="form__inner-select i-a-arrow-down">
                                        <?php if ($dataCustomer['billing']['colonia'] == '' || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") { ?>
                                            <select class="form__select" id="colonia" name="calleColonia" data-validate="colonia">
                                                <option value="">Selecciona</option>
                                            </select>
                                        <?php } else { ?>
                                            <select class="form__select" id="colonia" name="calleColonia" data-validate="colonia">
                                                <option value="<?= $dataCustomer['billing']['colonia'] ?>"><?= $dataCustomer['billing']['colonia'] ?></option>
                                            </select>
                                        <?php } ?>
                                    </div>
                                    <small class="js-validateMsg" data-name="calleColonia"></small>                                   
                            </div>

                            <!--  Row 14 Delegación-->
                            <div class="form__row-gral">
                                <label class="form__label form__label-ico i-star-fill" for="ciudad">Delegación o Municipio</label>
                                <?php if ($dataCustomer['billing']['street'] == "" || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") : ?>
                                    <input class="form__input" placeholder="Ciudad" type="text" name="ciudad" id="ciudad-valida" data-validate="city" value="" readonly>
                                <?php else : ?>
                                    <input class="form__input" placeholder="Ciudad" type="text" name="ciudad" id="ciudad-valida" data-validate="city" value="<?= $dataCustomer['billing']['city'] ?>" readonly>
                                <?php endif; ?>
                                <small class="js-validateMsg" data-name="ciudad"></small>
                            </div>

                            <!--  Row 15 Estado-->
                            <div class="form__row-gral">
                                <label class="form__label form__label-ico i-star-fill" for="ciudad">Estado</label>
                                <?php if ($dataCustomer['billing']['street'] == "" || $dataCustomer['billing']['street'] == "Prolongación Paseo de la Reforma") : ?>
                                    <input class="form__input" placeholder="Estado" type="text" name="estado" id="valida-estado" data-validate="estado" value="" readonly>
                                    <input class="form__input" placeholder="Estado" type="hidden" name="idestado" id="valida-estado-id" data-validate="idestado" value="">
                                <?php else : ?>
                                    <input class="form__input" placeholder="Estado" type="text" name="estado" id="valida-estado" data-validate="estado" value="<?= $dataCustomer['billing']['region'] ?>" readonly>
                                    <input class="form__input" placeholder="Estado" type="hidden" name="idestado" id="valida-estado-id" data-validate="idestado" value="<?= $dataCustomer['billing']['suffix'] ?>">
                                <?php endif; ?>
                                <small class="js-validateMsg" data-name="estado"></small>
                            </div>

                        </div>
                        <!-- #Fin Contenido oculto -->
                           
                        <!--  Row 16 Checkbox Aviso de privacidad-->
                        <div class="form__row form__row_center vsm-form__row-control">
                            <input class="form__check" type="checkbox" id="checkPrivacyOne" name="avisoPrivacidad" data-validate="checkPrivacyOne">
                            <label class="form__label_check i-check" for="checkPrivacyOne">
                                <?php
                                    echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('termino-condiciones-checkout-terminal')->toHtml();
                                ?>
                            </label>
                            <small class="js-validateMsg" data-name="avisoPrivacidad"></small>
                        </div>

                        <!--  Row 17 Botón enviar-->
                        <div class="form__row">
                            <!--a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar-->
                            <button class="form__btn btn js-AccordionBtn validaCambiopaso" title="continuar-paso1" data-index="1" type="button" data-validate="active">Continuar</button>
                        </div>

                    </div>
                    
                </fieldset>
                <!--PREPAGO: #Fin PREPAGO-47 Paso 1 -->

                <!--PREPAGO: PREPAGO-47 Paso 2 -->
                <fieldset class="step__set i-check js-step">

                    <!--PREPAGO: PREPAGO-47 Label Azul -->
                    <legend class="step__legend">
                        <span class="step__grid">
                            <span class="step__value">2</span>
                            <span class="step__title">Opciones de envío</span>
                        </span>
                    </legend>
                    
                    <!--PREPAGO: PREPAGO-47 Paso cerrado -->
                    <div class="step__lead success_show">
                        <p class="step__txt" id="viewDelivery"></p>
                    </div>
                    
                    <button class="link success_show js-stepReset" type="button">Cambiar</button>
                    
                    <!--PREPAGO: PREPAGO-47 Contenido 2-->
                    <div class="step__content js-stepAccordion">
                        <?php if($varEnviarDomicilio == 1){ ?>
                        <!--  Radiobutton #1-->
                        <div class="vsm-form__row-top">
                            
                            <!--  Row 1 P-2 Radiobutton Enviar a casa-->
                            <input class="form__radio js-dropDownRadioBtn" type="radio" id="inv-mail1" name="inv-mail" data-validate="radio" value="Casa">
                            <label class="form__radio_label vsm-form__radio_label" for="inv-mail1">Enviar a mi casa</label>
                            <small class="form__txt-sm form__txt-sm_quote" id="mi-home">
                                
                            </small>                                    
                            
  
                            <!--  Row 2 P-2 Contenido oculto-->
                            <div class="form__row-inner vsm-form__hidden js-formDropdown">

                                <!--  Row 1 P-2 Checkbox Deseo usar facturación-->
                                <div class="form__row-high">
                                    <input class="form__check" type="checkbox" id="billingAddress" name="billingAddress" data-validate="checkPrivacy" value="usadirfactura" data-check="chkBillAddr" <?php if(isset($_GET['uf']) && $_GET['uf'] == '1' ):?> checked <?php endif;?>>
                                    <label class="vsm-form__label_left form__label_check i-check js-FormCheckBtn" for="billingAddress">
                                        Deseo usar mi dirección de facturación
                                    </label>
                                    <small class="js-validateMsg" data-name="billingAddress"></small>
                                </div>

                                <!--  Row 2 P-2 Contenido oculto se abre cuando abres deseo usar mi dirección de facturación-->
                                <div class="js-formSlideUp" id="slideBillAddr">

                                    <!--  SubRow 2.1 P-2 Información deseo usar mi dirección de facturación   -->
                                    <div class="form__row-gral">
                                        <label class="form__label form__label-ico i-star-fill" for="street">Calle</label>
                                        <?php if ($addressShowStep2['street'] == "" || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") : ?>
                                            <input class="form__input reqCalle" placeholder="Escribe la calle de tu domicilio" type="text" name="calleentrega" id="street" data-validate="calle" value="">
                                        <?php else : ?>
                                            <input class="form__input reqCalle" placeholder="Escribe la calle de tu domicilio" type="text" name="calleentrega" id="street" data-validate="calle" value="<?= $dataCustomer['shipping']['street'] ?>">
                                        <?php endif; ?>
                                        <small class="js-validateMsg" data-name="calleentrega"></small>
                                    </div>
                                
                                    <!--  SubRow 2.2 P-2 Números [Grid] -->
                                    <div class="form__grid form__row-gral">

                                        <!--  SubRow 2.2.1 P-2 Número exterior -->
                                        <div class="form__grid__item">
                                            <label class="form__label form__label-ico i-star-fill" for="outer_number">Número Exterior</label>
                                            <?php if ($addressShowStep2['street'] == "" || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") : ?>
                                                <input class="form__input" placeholder="Escribe tu número exterior" type="text" name="numero_exterior" id="outer_number" data-validate="numero_exterior" value="">
                                            <?php else : ?>
                                                <input class="form__input" placeholder="Escribe tu número exterior" type="text" name="numero_exterior" id="outer_number" data-validate="numero_exterior" value="<?= $dataCustomer['shipping']['numero_ext'] ?>">
                                            <?php endif; ?>
                                            <small class="js-validateMsg" data-name="numero_exterior"></small>
                                        </div>
                                        
                                        <!--  SubRow 2.2.2 P-2 Número interior-->
                                        <div class="form__grid__item">
                                            <label class="form__label form__label-ico" for="inner_number">Número Interior</label>
                                            <?php if ($addressShowStep2['street'] == "" || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") : ?>
                                                <input class="form__input" placeholder="Escribe tu número interior" type="text" name="numero_interior" id="inner_number" value="">
                                            <?php else : ?>
                                                <input class="form__input" placeholder="Escribe tu número interior" type="text" name="numero_interior" id="inner_number" value="<?= $dataCustomer['shipping']['numero_int'] ?>">
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    
                                    <!--  SubRow 2.3 P-2 Código postal-->
                                    <div class="form__row-gral">
                                        <label class="form__label form__label-ico i-star-fill" for="codigoPostal">Código postal</label>
                                        <?php if ($addressShowStep2['street'] == "" || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") : ?>
                                            <input class="form__input" placeholder="00000" type="text" name="postalCodeEntrega" id="codigoPostal" data-validate="postalCodeEntrega" value="">
                                        <?php else : ?>
                                            <input class="form__input" placeholder="00000" type="text" name="postalCodeEntrega" id="codigoPostal" data-validate="postalCodeEntrega" value="<?= $dataCustomer['shipping']['postcode'] ?>">
                                        <?php endif; ?>
                                        <small class="js-validateMsg" data-name="postalCodeEntrega"></small>
                                    </div>
                                    
                                    <!--  SubRow 2.4 P-2 Colonia (Select)-->
                                    <div class="form__row-gral">
                                        <label class="form__label form__label-ico i-star-fill" for="colonia">Colonia</label>
                                        <div class="form__inner-select i-a-arrow-down">
                                            <?php if ($dataCustomer['shipping']['colonia'] != '' || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") { ?>
                                                <select class="form__select" id="coloniaTwo" name="calleColoniaEntrega" data-validate="calleColoniaEntrega">
                                                    <option value="">Selecciona</option>
                                                </select>
                                            <?php } else { ?>
                                                <select class="form__select" id="coloniaTwo" name="calleColoniaEntrega" data-validate="calleColoniaEntrega">
                                                    <option value="<?= $dataCustomer['shipping']['colonia'] ?>"><?= $dataCustomer['shipping']['colonia'] ?></option>
                                                </select>
                                            <?php } ?>
                                        </div>
                                        <small class="js-validateMsg" data-name="calleColoniaEntrega"></small>
                                    </div>
                                
                                    <!--  SubRow 2.5 P-2 Delegación-->
                                    <div class="form__row-gral">
                                        <label class="form__label form__label-ico i-star-fill" for="delegation">Delegación o Municipio</label>
                                        <?php if ($addressShowStep2['street'] == "" || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") : ?>
                                            <input class="form__input" id="delegation" name="municipioEntrega" data-validate="cityEntrega" value="" readonly>
                                        <?php else : ?>
                                            <input class="form__input" id="delegation" name="municipioEntrega" data-validate="cityEntrega" value="<?= $addressShowStep2['city'] ?>" readonly>
                                        <?php endif; ?>
                                        <small class="js-validateMsg" data-name="municipioEntrega"></small>
                                    </div>
                                
                                    <!--  SubRow 2.6 P-2 Estado-->
                                    <div class="form__row-gral">
                                        <label class="form__label form__label-ico i-star-fill" for="state">Estado</label>
                                        <?php if ($addressShowStep2['street'] == "" || $addressShowStep2['street'] == "Prolongación Paseo de la Reforma") : ?>
                                            <input class="form__input" id="state" type="text" name="estadoEntrega" data-validate="estadoEntrega" value="" readonly>
                                            <input class="form__input" type="hidden" id="stateid" name="idestadoEntrega" data-validate="idestadoEntrega" value="">
                                        <?php else : ?>
                                            <input class="form__input" id="state" type="text" name="estadoEntrega" data-validate="estadoEntrega" value="<?= $dataCustomer['shipping']['region'] ?>" readonly>
                                            <input class="form__input" type="hidden" id="stateid" name="idestadoEntrega" data-validate="idestadoEntrega" value="<?= $dataCustomer['shipping']['suffix'] ?>">
                                        <?php endif; ?>
                                        <small class="js-validateMsg" data-name="estadoEntrega"></small>
                                    </div>
                                
                                </div>

                            </div>
                            <!--  Row 1 P-2 #FIN Contenido oculto-->
                        </div>
                        <?php } ?>

                        <?php if($varEnviarTienda == 1){?>
                        <!--  Radiobutton #2-->
                        <div class="form__row-high">
                            
                            <!--  Row 2 P-2 Radiobutton Recoger en tienda-->
                            <input class="form__radio js-dropDownRadioBtn" type="radio" id="inv-mail2" name="inv-mail" data-validate="radio" value="CAC">
                            <label class="form__radio_label vsm-form__radio_label" for="inv-mail2">Recoger en tienda</label>
                            <small class="form__txt-sm form__txt-sm_quote">Encuentra el más cercano.</small>
                                
                            <!--  Row 2 P-2 Contenido oculto-->
                            <div class="form__row-inner vsm-form__especial js-formDropdown">

                                <div class="form__row-high">

                                    <!--  SubRow 2.1 P-2 Radio button Recoger en tienda -->
                                    <div class="form__grid vsm-form__grid">
                                        
                                        <!--  SubRow 2.1.1 Radio código postal-->
                                        <div class="form__grid__item vsm-form__row-bottom " >
                                            <input class="form__radio js-FormCheckCodPostalBtn" type="radio" id="codigo_postal" name="ubicacion" data-validate="radio" checked  data-search="zip" value="zip">
                                            <label class="form__radio_label" for="codigo_postal">Código postal</label>
                                        </div>
                                        
                                        <!--  SubRow 2.1.2 Radio código Lugar cercano-->
                                        <div class="form__grid__item">
                                            <input class="form__radio js-FormCheckPlaceBtn" type="radio" id="lugar_cercano" name="ubicacion" data-validate="radio" data-search="nearPlace" value="nearPlace">
                                            <label class="form__radio_label" for="lugar_cercano">Lugar cercano a tu domicilio</label>
                                        </div>
                                    
                                    </div>

                                </div>

                                <!--  SubRow 2.2 P-2 Input search (codigo postal) -->
                                <div class="form__row-none js-formSlideUp" id="inputZip">
                                    <div class="vsm-input-search input-search">
                                        <input class="input-search__input" type="text" name="codigo_postal" id="cpcac_autocomplete" placeholder="Escribe un código postal">
                                        <button class="input-search__btn i-search" type="button">Buscar</button>
                                    </div>
                                </div>

                                <!--  SubRow 2.2 P-2 Input search (Lugar cercano a domicilio) -->
                                <div class="form__row-none js-formSlideUp" id="inputNearPlace" style="display:none;">
                                    <div class="vsm-input-search input-search">
                                        <input class="input-search__input" type="text" name="lugar_cercano" id="dircac_autocomplete" placeholder="Ingresa un lugar cercano a tu domicilio">
                                        <button class="input-search__btn i-search" type="button">Buscar</button>
                                    </div>
                                </div>

                                <div class="vsm-form" id="slideNearPlace">

                                    <!--  SubRow 2.3 P-2 Selecciona una tienda-->
                                    <div class="form__row-high">
                                        <p class="vsm-form__title-section">Tienda seleccionada</p>
                                    </div>
                                    
                                    <!--  SubRow 2.3.1 P-2 Direcciones (Radiobutton)-->
                                    <div class="form__row-gral">
                                        <input class="form__radio" type="radio" id="cac1" name="cac" disabled>
                                        <label class="form__radio_label txt_bold cac_seleccionado" for="cac1">
                                            Busque una tienda
                                        </label>
                                        <address class="form__txt-style">
                                            <div class="divaddress"></div>
                                            
                                            <input type="hidden" name="cacId" id="cacId" value="">
                                        </address>
                                    </div>
                                    
                                </div>

                            </div>
                            <small class="js-validateMsg" data-name="inv-mail"></small>
                        
                        </div>
                        <?php } ?>

                        <!-- Seteo dirección de envío -->    
                        <input type="hidden" name="addressShipping" id="addressShipping" value="">
                        <?php if($varEnviarDomicilio == 0 && $varEnviarTienda == 0 ){  ?>
                            <div class="form__row form__row-high">
                                <p class="form__txt-sm">No existe un método de envío activado.</p>
                            </div>
                        <?php }else{ ?>
                        <div class="form__row form__row_center">
                        <button id="end-step" class="form__btn btn validaCambiopaso" data-index="2" type="button" title="continuar-paso2">Continuar</button>
                        </div>
                        <?php } ?>
                    </div>

                </fieldset>
                
                <?php if( $block->getModuleIsEnable() && $block->getMercadoPagoModuleBlock()->isActive() ):?>
                	<fieldset class="step__set i-check js-step">
                		
                		<legend class="step__legend">
                            <span class="step__grid">
                                <span class="step__value">3</span>
                                <span class="step__title"><?php echo __('Payment Method')?></span>
                            </span>
                        </legend>

                        <div class="step__lead success_show">
                            <p class="step__txt" id="viewDelivery"></p>
                        </div>
                        
                        <button class="link success_show js-stepReset" type="button">Cambiar</button>
                        

                        <div class="step__content js-stepAccordion">

                			<?php echo $block->getMercadoPagoModuleBlock()->toHtml(); ?>
                		</div>
                	</fieldset>
                	<?php endif;?>

            </div>
            
            <!--PREPAGO:PREPAGO-47 Data Aside -->
            <!-- Agregar clase con js: .data-aside.js-asideFixed.js-data-aside__active-->
            <div class="vsm-data__aside data-aside js-asideFixed data-aside__sticky vsm-asideStop">
                
                <!--PREPAGO:PREPAGO-47 Botón Fixed -->
                <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
                    <span class="data__total">
                        <span class="js-value" id="grandTotalMobile" data-price="<?= $grandTotal ?>">
                            $ <?php echo str_replace(",", "", number_format($grandTotal)); ?><sup>*</sup>
                        </span>
                        <span class="js-valueFinal" id="grandTotalMobileEnd" data-price="<?= $grandTotal ?>">
                            $ <?= $grandTotal ?>
                        </span>
                    </span>
                    <span class="data-aside__txt-high">Total</span>
                </button>

                <!--PREPAGO:PREPAGO-47 contenido -->
                <div class="data-aside__wrap">
                    <div class="data-aside__content">

                        <!--PREPAGO:PREPAGO-47 Header-->
                        <div class="data__header">
                            <h2 class="data__title">Resumen de tu compra</h2>
                        </div>

                        <!--PREPAGO:PREPAGO-47 Tabla Contenido -->
                        <table class="aside-table__table">

                            <!--PREPAGO: Tabla Header-->
                            <thead>
                                <tr class="aside-table__heading aside-table__row_border">
                                    <th>&nbsp;</th>
                                    <th class="vsm-aside-table__subtitle"></th>
                                    <th class="vsm-aside-table__subtitle">Pagar hoy</th>
                                </tr>
                            </thead>
                            
                            <!--PREPAGO: Tabla body-->
                            <tbody>
                                
                                <!-- BEGIN: Contiene Terminal *-->
                                <!--PREPAGO: Table row-->
                                <?php if ($terminal != "") { ?>
                                <tr class="aside-table__row">
                                    <td class="aside-table__cell aside-table__cell_big"><?= $terminal ?></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value" data-price="<?= $priceTerminal ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceTerminal, true, false); ?></span></td>
                                </tr>
                                <?php } ?>
                                <!-- END: Terminal-->

                                <!--PREPAGO: Table row-->
                                <tr class="aside-table__row">
                                    <td class="aside-table__cell aside-table__cell_big">Envío</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value">GRATIS</span></td>
                                </tr>

                                <!--PREPAGO: Table row-->
                                <tr class="aside-table__row" style="display: none;">
                                    <td class="aside-table__cell aside-table__cell_big">Impuestos</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value">?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($impuestos,true,false); ?><sup>*</sup></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($impuestos,true,false); ?></span></td>
                                </tr>

                                <!--PREPAGO: Table row-->
                                <?php if ($cart->getCouponCode()) : ?>
                                    <tr class="aside-table__row" >
                                        <td class="aside-table__cell aside-table__cell_big">Descuentos (<?php echo $cart->getCouponCode() ?>)</td>
                                        <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                        <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                        <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                        <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">-<?php echo $totalDescuento ?></span></td>
                                    </tr>
                                <?php endif; ?>
                                
                            </tbody>

                            <tfoot>
                                <tr class="aside-table__footer aside-table__heading">
                                    <td class="aside-table__cell aside-table__cell_total">Total</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de total cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_total"><sup></sup></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de total a pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_total" data-price="<?= $grandTotal ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal,true,false); ?></td>
                                </tr>
                            </tfoot>

                        </table>

                    </div>
                    
                    <!-- PREPAGO-47 Slide up Tienes una promocion-->
                    <div class="data__inner">
                        <!-- <div class="data-aside__row vsm-data-aside__btnDown">
                            <div class="data__tab js-dataTab">
                                <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button">¿Tienes una promoción?</button>
                                <div class="data__form data__show js-dataCont">
                        -->
                                    <!-- PREPAGO-47 Componente Input Search-->
                        <!--            <div class="vsm-input-search input-search">
                                        <label class="input-search__label vsm-input-search__label_grey">Escribe tu código de descuento
                                            <small class="vsm-input-search__txt txt_blue">
                                                Puedes agregar más de un cupón
                                            </small>
                                        </label>
                                        <input class="input-search__input" type="search" placeholder="Ej: MX1=91">
                                        <button class="input-search__btn  vsm-input-search__btn-txt" type="submit">
                                            Aplicar
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        -->
                        <!-- PREPAGO-47 Total a pagar-->
                        <dl class="data__list data__summary" style="padding: 24px">
                            <dt class="data__term">Total a pagar</dt>
                            <dd class="data__total" id="total-resumen" data-price="<?= $grandTotal ?>">
                                <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal,true,false); ?><sup>*</sup>
                            </dd>
                        </dl>

                        <div class="data-aside__row data-aside__foot js-processOrder">
                            <button class="form__btn btn" type="button"  id="continuar-checkout-out">
                                PAGAR
                            </button>
                        </div>

                    </div>

                    <!--<div class="data__inner">
                        <h3 class="data__txt-bold">Ver Términos y condiciones</h3>
                        <p class="data__txt">*El pago mensual mostrado está calculado considerando un pago inicial del 50% del costo total del equipo incluyendo IVA y mensualidades por 24 meses. La proporción del pago inicial y monto de las mensualidades a pagar dependerá del resultado de tu consulta de crédito que se realizará durante el proceso de contratación. Las cotizaciones y resultados de la consulta crediticia que realiza este sitio, son válidas únicamente durante el día calendario en curso.</p>
                    </div>-->
                </div>
            </div>
            
            
            
            <div id="msmx-extra-data" style="display:none;">
                EXTRA DATA
                <br />
                token Id <input type="text" name="tokenId" value="<?= $this->getRequest()->getParam('tokenLogin') ?>"> <br />
                uuid <input type="text" name="uuid" value="<?= $this->getRequest()->getParam('uuid') ?>"><br />
                documentUuid <input type="text" name="documentUuid" id="documentUuid" value="<?= $this->getRequest()->getParam('documentUuid') ?>"><br />
                ineStatus <input type="text" name="ineStatus" id="ineStatus" value="<?= $this->getRequest()->getParam('ineStatus') ?>"><br />
                pdf path <input type="text" name="pathPdf" value="<?= $this->getRequest()->getParam('pathPdf') ?>"><br />
                view pdf <input type="text" name="viewPdf" value="false"><br />
                approveContract <input type="text" name="approveContract" id="approveContract" value="<?= $this->getRequest()->getParam('approveContract') ?>"><br />
                signContract <input type="text" name="signContract" id="signContract" value="<?= $this->getRequest()->getParam('signContract') ?>"><br />
                fillContract <input type="text" name="fillContract" id="fillContract" value="<?= $this->getRequest()->getParam('fillContract') ?>"><br />
            </div>

            <!-- Auxiliares de formulario -->
            <?php if ($terminal != "") { ?>
                <input type="hidden" name="terminalWC" value="<?= $terminal ?>">
                <input type="hidden" name="price-terminal" value="<?= $priceTerminal ?>">
                <input type="hidden" name="sku-terminal" value="<?= $skuTerminal ?>">
            <?php } else { ?>
                <input type="hidden" name="terminalWC" value="">
                <input type="hidden" name="price-terminal" value="">
                <input type="hidden" name="sku-terminal" value="">
            <?php } ?>

            <input type="hidden" name="impuestos" value="<?= $impuestos ?>">
            <input type="hidden" name="grandTotal" value="<?= $grandTotal ?>">

        </form>


        <!-- Prefooter -->
        <div class="vsm-data__info data__info">
            <img class="data__info-img" src="<?= $link_media . 'logos-compra_segura.jpg' ?>" alt="Compra segura en la tienda Movistar">
        </div>

    </div>
</div>

<!-- Alerta Roja -->
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<!-- Alerta Naranja -->
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<!-- Alerta Verde -->
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>

<script type="text/x-magento-init">
    {
    "*": {
    "Vass_PosCarStepsTer/js/main": {
    "AjaxUrl": "",
    "asyncMode": "true"
    }
    }
    }
</script>
<script>
    require([
        'jquery'
    ], function ($) {

        var productos_abandonedcarts = "";
        var cartId = "<?php echo $cartId; ?>"
        var telefono = "";

        $(window).on('load', function(){
            setTimeout(function () {
                //implementacion de carrito abandonado
                var terminal = [];
                var plan = [];

                //arreglo de la informacion de la terminal
                <?php if($terminal != ""){ ?>
                productos_abandonedcarts += "<?php echo $terminal; ?>";
                <?php } ?>

                ajaxtrackingabandoned(cartId, null, "Paso 1: Tus datos", null, null, productos_abandonedcarts, telefono);
            }, 250);
        });

        $(document).on("click", ".validaCambiopaso", function () {
            const step = $('.js-step');
            const steps = $('.js-stepAccordion')

            for (var i = 0; i < steps.length; i++) {
                if ($(steps[i]).is(':visible') && i < steps.length) {
                    var valor = $(this).attr("title");
                    if (valor == 'continuar-paso1') {
                        telefono = $("#telefono-contacto").val();
                        ajaxtrackingabandoned(cartId, null, "Paso 2: Opciones de envío", null, null, productos_abandonedcarts, telefono);
                    }

                    if(valor == 'continuar-paso2'){
                        saveAddressCheckout();
                    }

                }
            }
        });

        $(document).on('click', 'button[title=continuar-paso1]', function ( event ) {
            $.ajax({
                url: "<?php echo $this->getUrl() . 'poscarstepster_customer/customer/index'; ?>",
                type: 'POST',
                showLoader: true,
                data: {
                    name: $("#valid-nombre").val(),
                    lastName: $("#valid-appelido-p").val(),
                    lastName2: $("#valid-appelido-m").val(),
                    registerOne: "",
                    email: $("#valid-email").val(),
                    RFC: $("#valida-rfc").val()
                },
                success: function (res) {

                }
            });

        });


        

        function saveAddressCheckout(){
            var direccion = "";

            if ($("#inv-mail1").is(':checked')) {

                if($('input#billingAddress').prop('checked')){
                    direccion = $("#mi-home").html();
                }else{
                    var dir = $("#street").val();
                    var num_exterior = $("#outer_number").val();
                    var num_interior = $("#inner_number").val();
                    var c_postal = $("#codigoPostal").val();
                    var municipio = $("#delegation").val();
                    var estado = $("#state").val();

                    direccion = dir + " " + num_exterior + " " + num_interior + ", " + municipio + " " + estado + " " + c_postal ;
                }
            } if ($("#inv-mail2").is(':checked')) {
                direccion = "CAC: " + $("#addressShipping").val();
            }

            ajaxtrackingabandoned(cartId, null, "Paso 2: Opciones de envío", null, direccion, productos_abandonedcarts, telefono);
        }

        function ajaxtrackingabandoned(idcart, google_id, checkout_step, tipo_banco, domicilio, productos, telephone) {
            google_id = typeof google_id !== 'undefined' ?  google_id : 1;
            tipo_banco = typeof tipo_banco !== 'undefined' ?  tipo_banco : 1;
            domicilio = typeof domicilio !== 'undefined' ?  domicilio : 1;
            productos = typeof productos !== 'undefined' ?  productos : 1;
            telephone = typeof telephone !== 'undefined' ?  telephone : 1;
            if (idcart != "" && idcart != null && idcart != " "){
                var urlTracking = window.location.protocol + '//' + window.location.host;
                var cookie = getCookie("_ga");

                jQuery.ajax({
                    type: 'POST',
                    url: urlTracking + "/abandonedcarts/",
                    dataType: "html",
                    data: {
                        'idcart': idcart,
                        'step': checkout_step,
                        'banco': tipo_banco,
                        'domicilio': domicilio,
                        'productos': productos,
                        'cookie' : cookie,
                        'telephone': telephone,
                    },
                    success: function(data) {
                        try {
                            console.log("Saved");
                        } catch (e) {
                            console.log("Error");
                        }
                    },
                    complete: function() {},
                    error: function(xhr, status, err) {
                        console.log("status=" + xhr.responseText + ", error=" + err);
                    }
                });

            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $('#continuar-checkout-out').bind('click', function () {
            $('#msmx-prepago').submit();
            var phpRuta = "<?php echo $this->getUrl() ?>";
            $("body").html('<div class="new_loading">' +
                                '<div class="center_loading">' +
                                    '<img class=\"loader_desktop\" src=\" ' + phpRuta + 'media/wysiwyg/recortes/loader_desktop.gif\" alt=\"Procesando Orden\" width=\"100%\">' +
                                    '</div>' +
                            '</div>');
        });

        
        function validadExistenciaUdsuario(obj, valor) {
            if (valor != '') {
                // validamos si este usaurio ya existe en la DB
                $.ajax({
                    url: "<?php echo $this->getUrl() . 'pos-car-steps-ter/index/existeemail'; ?>",
                    type: 'POST',
                    showLoader: true,
                    data: {valor: valor},
                    success: function (res) {
                        if (res == '1') {
                            var urlLogin= window.location.protocol+'//'+window.location.host+'/pos-login-pre/index/';
                                //Comentado por login oculto
                                //$('.alert.alert_warning').html("Hemos detectado que el correo esta registrado, favor de iniciar sesión.");
                                //$('.alert.alert_warning').removeClass("bounceOut");
                                //$('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function() {
                                /*$('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                    window.location.href = urlLogin;
                                });*/
                                $('.loading-mask').css('display','none');                            
                        } else {
                        }
                    }
                });
            }
        }

        $('#valid-email').blur(function () {
            var valor = $(this).val();
            validadExistenciaUdsuario($(this), valor);
            var caract = new RegExp(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/);
            if (caract.test(valor) == false) {
                if(valor != "" && valor != " " && valor != null ){
                    $('.form__btn.btn.js-AccordionBtn').hide();
                    $('.alert.alert_warning').html("Formato de correo electrónico inválido.");
                    $('.alert.alert_warning').removeClass("bounceOut");
                    $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function () {
                        $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                        $('#valid-email').focus().select();
                    });
                    dataLayer.push({
                        'event' : 'evErrorCheckout', //Static data
                        'pasoNombre' : 'Tus datos', //Dynamic data
                        'campoError' : 'Correo electrónico', //Dynamic data
                    });
                }
            } else {
                $('.form__btn.btn.js-AccordionBtn').show();
            }
        });

        //Tagging
        var productos = [];

        $(window).on('load', function () {
            var dimension47 = '<?php echo $objectManager->get('\Entrepids\Renewals\Helper\Servicio\Flujoscheckout')->getCheckoutFlowType($terminal,0,2); ?>';
            setTimeout(function () { 
                //Al cargar la ventana tenemos que cargar el data layer con los productos para el Google Tag Manager
                var terminal = [];
                var sim = [];
                var recarga= [];

                //Creamos los arreglos de los productos
                //Arreglo de la información de la Terminal
                <?php if ($terminal != "") : ?>
                    terminal = {
                        'name': "<?php echo $terminal; ?>",     //Nombre del producto
                        'id': "<?php echo $skuTerminal; ?>",                 //SKU 
                        'price': '<?php echo $priceTerminal; ?>',            //Precio unitario
                        'brand' : '<?= $marca; ?>',                   //Marca
                        'category': 'Celular',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension29':'<?= $colorTerminal ?>',    //Color
                        'dimension30':'<?= $capacidadTerminal ?>',    //Capacidad
                        'dimension47':dimension47 
                    };
                    productos.push(terminal);
                <?php endif; ?>

                //Mandar el data layer con la información
                dataLayer.push({
                    'event':'checkout',
                    'tipoFlujo':dimension47,
                    'ecommerce': {
                        'checkout' : {
                            'actionField': {'step' : '1'},
                            'products': productos
                        }
                    }
                });
            }, 250);

            <?php if( $block->getModuleIsEnable() && $block->getMercadoPagoModuleBlock()->isActive() ):?>

    			<?php if(isset($dataCustomer['customer']['email']) && 
    			         !empty($dataCustomer['customer']['email']) && 
    			         isset($_GET['iscac']) && isset($_GET['rf']) ):?>
        			
        				jQuery("#checkPrivacyOne").prop("checked",true);
        				setTimeout(function () {
            				
    						<?php if(isset($_GET['rf']) && $_GET['rf'] == '1' ):?>
    							jQuery("#recibeFactura").click();
    						<?php endif;?>
    
    						
    
    						console.log("button[title='continuar-paso1']");
            				jQuery("button[title='continuar-paso1']").click();
            				<?php if(isset($_GET['iscac']) ):?>
                				<?php if( $_GET['iscac'] == '1' ):?>
                    				console.log("#codigoPostal");
                					jQuery("#codigoPostal").trigger('blur');
                					console.log("#inv-mail1");
                					jQuery("#inv-mail1").click();
                				<?php else:?>
                					jQuery("#inv-mail2").click();
                					console.log("#inv-mail2");
                				<?php endif;?>
            				<?php endif;?>
            					
    							setTimeout(function () {
    								<?php if(isset($_GET['uf']) && $_GET['uf'] == '0' ):?>
                					/*	jQuery("#billingAddress").click();*/
                					<?php endif;?>
    								console.log("coloniaTwo: "+'<?php echo (isset($addressShowStep2['colonia'])?$addressShowStep2['colonia']:"");?>');
        							jQuery("#coloniaTwo").val('<?php echo (isset($addressShowStep2['colonia'])?$addressShowStep2['colonia']:"");?>');
        							setTimeout(function () {
        								console.log("button[data-index='2']");
        								jQuery("button[data-index='2']").click();
        								console.log("button[data-index='2'] 22222");
        							}, 1000);
        						}, 2800);
            				
                        }, 950);
    
        			
    			<?php endif;?>

			<?php endif;?> 

            if(!$("#continuar-checkout-out-validation").length){
                $("#end-step").click(function(){
                    dataLayer.push({
                        'event':'checkout',
                        'tipoFlujo':dimension47,
                        'ecommerce': {
                            'checkout' : {
                                'actionField': {'step' : ($('.js-step').length + 1)},
                                'products': productos
                            }
                        }
                    });
                });
            }
            
            jQuery(".js-step").each(function(){
                var obj = $(this);                
                obj.on('classChange', function() {                    
                    if(obj.hasClass( "step__set_active" )){
                        dataLayer.push({
                            'event':'checkout',
                            'tipoFlujo':dimension47,
                            'ecommerce': {
                                'checkout' : {
                                    'actionField': {'step' : obj.find(".step__value").html()},
                                    'products': productos
                                }
                            }
                        });
                    }
               });
            });
        });
        
    });
</script>
