@media (min-width: 320px) and (max-width: 1023px){
    body.portabilidad-plan-checkout{
        font-size: 1.6rem;
        .form__title-section{
            font-size: 21px;
        }
        #bloque-portabilidad-nip-validacion{
            .step__content2{
                width: 90% !important;
                .form__row-gral{
                    a{
                        color: #1EC1F6;
                        text-decoration: underline;
                        font-size:1.2rem;
                        text-align: left !important;
                    }
                }
                .form__row.form__row-none{
                    display:block;
                    .form__label_check{
                        display: block;
                        padding-left: 30px;
                        position: relative;
                        text-align: left !important;
                        &:before{
                            position: absolute;
                            left: 0;
                            top: 5px;
                        }
                    }
                }
                .add__bottom{
                    margin-bottom:10px;
                }
                .warming{
                    max-width:100% !important;
                }
            } 
        }
    }
    .data-aside__wrap{
        padding: 0;
        margin: 10px auto;
        overflow: auto;
        max-width: 96%;
    }
    .js-data-aside__active{
        .data-aside__toast{
            width:96% !important;
            margin:auto 2%;
        }
    }
    .data__header{
        .head__title{
            text-align:left;
        }
    }
    .form-ico__label{
        width: 80%;
    }
    .i-check2{
        margin:0 !important;
    }
    .posvitrinaterminal-index-index{
        .steps__item{
            .form-ico{
                max-width: 80%;
            }
        }
    }
    .table-section__head .table-section__row{
        height: auto;
        th{
            vertical-align: top;
        }
    }
}
@media (min-width: 320px) and (max-width: 768px){
    .tabs-box{
        .tabs-box__list{
            .tabs-box__item{
                &:last-child{
                    display:none;
                }
            }
        }
    }
    .tabs-box__btn-txt{
        font-weight:600;
    }
    .module__cont{
        text-align: center;
        .module__slot{
            margin: auto;
        }
    }
    .renovaciones-cart-index{
        .table-section__head{
            .table-section__row{
                height:auto;
                .table-section__head-item{
                    vertical-align: top;
                }
            }
        }
    }
    .catalog-product-view{
        .tabs__pane{
            .review{
                padding:0 20px;
            }
        }
    } 
    .form__btn.btn.js-AccordionBtn.pasoTest{
        display:none;
    }
}
@media (min-width: 320px) and (max-width: 450px){
    #sc2-form-portability{
        #sc2-goToPortability{
            width: auto;
        }
    }
    .steps__selected.steps__selected2{
        .form-ico__label{
            max-width: 220px;
            text-align: left;
        }
    }
    #sc2-c2 {
        .steps__list {
            .steps__item {
                .form-ico.form-ico2{
                    margin:0;
                }
            }
        }
    }
    #pos_vitrina_toggle{
        .steps__item .form-ico{
            max-width: 100%;
        }
    }
    #greenBox_PortaForm2.form__row-sm .steps__item .form-ico.form-ico2{
        max-width: 100%;
    }
    #greenBox_PortaForm2.form__row-sm .steps__item .form-ico__label::before{
        min-width: 40px !important;
        text-align: center;
    }
    #sc2-c2 .steps__item .form-ico__label, #greenBox_PortaForm2.form__row-sm .steps__item .form-ico__label{
        max-width: auto;
        width: auto;
        font-family: "Telefonica Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #sc2-c2 .steps__item .form__radio_label, #greenBox_PortaForm2.form__row-sm .steps__item .form__radio_label{
        display: block;
    }
    
}
@media (min-width: 650px) and (max-width: 1023px){
    body.portabilidad-plan-checkout{
        #bloque-portabilidad-nip-validacion{
            .step__content2{
                .form__row-gral{
                    a{
                        font-size:1.2rem; 
                        text-align: left !important;
                    }
                }
            }
        }
    }
}