.block.filter {
    margin-bottom: $indent__xl;

    .filter-title {
        //margin-bottom: $indent__base;

        /*strong {
            font-size: 18px;
        }*/
        h2{
            padding-bottom: 8px;
            margin-bottom: 24px;
            //@include font-rem(24px);
            font-size : 24px;
            font-family: $f-regular;
            border-bottom: 1px solid $c-default-1;
        }
    }
}

.block-subtitle {
    display: inline-block;
    margin-bottom: $indent__s;
}

.filter-current {
    .item {
        margin-bottom: $indent__s;
    }

    .filter-label {
        display: block;
        font-weight: $font-weight__bold;

        &:after {
            content: ':';
        }
    }

    + .filter-actions {
        margin-bottom: $indent__l;
    }
}

.filter-options-content {
    .filter-count-label {
        @extend .abs-visually-hidden;
    }
}

.filter-options {
    //margin: 0;
    //padding-bottom: 16px;
    //@include font-rem(14px);
    font-size: 18px;
    font-family: $f-regular;

    .filter-options-title {
        //@include lib-heading(h4);
        //margin: 0 0 $indent__s;
        //word-break: break-all;
        cursor: pointer;
        //padding-bottom: 40px;
        //z-index: -10;

        &:before{
            font-family: $movistar-icons-font;
            content: $i-arrow-back;
            float: right;
            margin: 10px 0 0 10px;
            color: #00A9E0;
            font-size: 10px;
            //font-size: 0.625rem;

            color: $c-brand-2;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }



    }

    .filter-options-content {
        //margin: 0 0 $indent__m;

        .item {
            //margin-bottom: 3px;

            //@include font-rem(14px);
            font-size: 14px;
            font-family: $f-regular;
            margin-bottom: 16px;
            color: $c-default-1;
            font-family: $f-regular;

            a,
            .alink {
                @include msmx-lib-link-layered-nav();
            }


        }
    }

    .count {
        //@include lib-css(color, $text__color__muted);

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    .filter-options-item{
        padding-bottom: 25px;
    }


}

.js-dropdownActive {
    &:before {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}


.js-dropdownActive {
    &:before {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}



.items {
    @extend .abs-reset-list;
    //margin: -30px 0 0 0;
}

.filtered {
    .items {
        margin: 15px 0;
    }

    .item {
        margin-bottom: 6px;
        padding-left: 22px;
        position: relative;

        .label {
            font-weight: $font-weight__bold;
        }

        .action.remove {
            @extend .abs-remove-button-for-blocks;
            left: -6px;
            position: absolute;
            top: 0;
        }
    }

    & + .actions {
        margin-bottom: 35px;
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
    .page-with-filter {
        .columns {
            .sidebar-main {
                @include lib-vendor-prefix-order(0);
            }
        }
    }
}
