<?php
$blockM = $block->getLayout()->createBlock('Vass\ValidaNumero\Block\Index');
$link_base = $this->getBaseUrl();
$cel = $blockM->getId('cel');
if(empty($cel)){
    $accion = "No";
}else
{
    $accion = "Yes";
}
?>
<!-- Sección de HTML -->
<div class="layout">
    <form class="form-gral vsm-form" id="elige" action="<?= $link_base ?>valida-numero" data-action="<?= $accion ?>">
        <fieldset class="layout_inner steps vsm-form__fieldset">
            <legend class="steps__legend">
                <span class="steps__head">
                    <small class="head__title">¿Ya tienes número?</small>
                </span>
            </legend>
            </div>


            <div class="steps__cont">
                <button class="js-hideBtnPlan steps__btn btn" type="submit">Button</button>
            </div>
        </fieldset>
    </form>
</div>

<script>
    require([
        'jquery',
        'domReady!',
    ], function ($) {

       //Reglas de animación e interacción js
       console.log("Hola Aguayo");

    });
</script>