<fieldset class="step__set i-check js-step step__set_active">
    <legend class="step__legend">
        <span class="step__grid">
            <span class="step__value">1</span>
            <span class="step__title">Tus datos</span>
        </span>
    </legend>
    <button class="link success_show js-stepReset" type="button">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <form class="form form-shipping-address" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <!-- ko foreach: getRegion('before-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div id="shipping-new-address-form" class="fieldset address">
            <!-- ko foreach: getRegion('additional-fieldsets') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <!-- ko if: (isCustomerLoggedIn) -->
            <div class="field choice" data-bind="visible: !isFormInline">
                <input type="checkbox" class="checkbox" id="shipping-save-in-address-book" data-bind="checked: saveInAddressBook" />
                <label class="label" for="shipping-save-in-address-book">
                    <span data-bind="i18n: 'Save in address book'"></span>
                </label>
            </div>
            <!-- /ko -->
            <!-- Validación INE -->
            <div class="form__row-high">
                <p class="form__title-section">Identificación</p>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill">INE / IFE</label>
                <input class="form__input" placeholder="Número" type="text" name="INE-IFE" data-validate="INE-IFE"><small class="js-validateMsg" data-name="INE-IFE"></small>
            </div>
            <div class="form__row-gral form__row_divisor form__row_right">
                <button class="link link__brand link-help i-question-ball dropDownButton" type="button">Dónde encontrar tu número</button>
                <div class="form__cont form__cont_close js-formCont">
                    <div class="form__grid">
                        <div class="form__grid__item"><img class="form__img" src="../media/wysiwyg/recortes/pos-form-ine.png" alt="ejemplo de INE"></div>
                        <div class="form__grid__item"><img class="form__img" src="../media/wysiwyg/recortes/pos-form-ife.png" alt="ejemplo de IFE"></div>
                    </div>
                </div>
            </div>
            <div class="form__row-high form__row_block">
                <p class="form__txt-sm">Tu número telefónico será asignado de acuerdo a tu domicilio de facturación</p>
            </div>
            <div class="form__row">
                <!--a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar-->
                <button class="form__btn btn btn_bold js-AccordionBtn pasoTest" type="button">Continuar</button>
            </div>
        </div>
    </form>
    </div>
</fieldset>

<fieldset class="step__set i-check js-step">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title">Consulta de crédito</span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt">Hemos consultado tu score crediticio</p>
    </div>
    <button class="link success_show js-stepReset" type="button">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <div class="form__row">
            <div class="form__row-high">
                <p class="form__title-section">Necesitamos tu información de crédito para mejorar tus términos de pago</p>
            </div>
            <div class="form__row-gral">
                <label class="form__label">RFC</label>
                <input class="form__input" placeholder="CELE 12345678 T90" type="text" name="RFC">
            </div>
            <!--Credito vigente-->
            <div class="form__row-gral">
                <label class="form__label-ico i-star-fill">¿Tienes tarjeta de crédito vigente?</label>
                <div class="form__grid form__grid_align-center">
                    <div class="form__grid__item form__grid">
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-01" name="checkout-step2-radio1" data-validate="radio">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-01">Si</label>
                        </div>
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-02" name="checkout-step2-radio1" data-validate="radio">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-02">No</label>
                        </div>
                    </div>
                    <div class="form__grid__item form__grid">
                        <label class="form__label">Últimos 4 dígitos de tu tarjeta</label>
                        <div class="form__relative">
                            <input class="form__input" type="text" placeholder="1234" name="" data-validate="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="checkout-step2-select-01">Institución</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="checkout-step2-select-01" name="checkout-step2-select" data-validate="checkout-step2-select">
                        <option value="">Selecciona</option>
                        <option value="institution02-1">Insitticion 1</option>
                        <option value="institution02-02">Insitticion 2</option>
                    </select>
                </div>
            </div>
            <!--Credito automotriz-->
            <div class="form__row-gral">
                <label class="form__label-ico i-star-fill">¿Tienes algún crédito automotriz en los últimos 24 meses?</label>
                <div class="form__grid form__grid_align-center">
                    <div class="form__grid__item form__grid">
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-03" name="checkout-step2-radio2" data-validate="radio">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-03">Si</label>
                        </div>
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-04" name="checkout-step2-radio2" data-validate="radio">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-04">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="checkout-step2-select-02">Institución</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="checkout-step2-select-02" name="checkout-step2-select" data-validate="checkout-step2-select">
                        <option value="">Selecciona</option>
                        <option value="institution02-1">Insitticion 1</option>
                        <option value="institution02-02">Insitticion 2</option>
                    </select>
                </div>
            </div>
            <!--Credito hipotecario-->
            <div class="form__row-gral">
                <label class="form__label-ico i-star-fill">¿Tienes algún crédito hipotecario en los últimos 6 años?</label>
                <div class="form__grid form__grid_align-center">
                    <div class="form__grid__item form__grid">
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-05" name="checkout-step2-radio3" data-validate="radio">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-05">Si</label>
                        </div>
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-06" name="checkout-step2-radio3" data-validate="radio">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-06">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="checkout-step2-select-03">Institución</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="checkout-step2-select-03" name="checkout-step2-select" data-validate="checkout-step2-select">
                        <option value="">Selecciona</option>
                        <option value="institution02-1">Insitticion 1</option>
                        <option value="institution02-02">Insitticion 2</option>
                    </select>
                </div>
            </div>
            <div class="form__row-gral form__row_divisor form__row_block">
                <p class="form__txt-sm">*Considera créditos que tengas actualmente o que hayas pagado en su totalidad</p>
            </div>
            <!--Checkbox-->
            <div class="form__row-high">
                <input class="form__check" type="checkbox" id="checkPrivacy" name="avisoPrivacidad" data-validate="checkPrivacy">
                <label class="form__label_check i-check" for="checkPrivacy">
                    Acepto <a href="#" title="Ir a aviso de privacidad" class="form__label-link link link__brand"> aviso de privacidad</a></label><small class="js-validateMsg" data-name="avisoPrivacidad"></small>
            </div>
            <div class="form__row-gral">
                <input class="form__check" type="checkbox" id="checkout-step2" name="checkout-step2" data-validate="checkout-step2">
                <label class="form__label_check i-check" for="checkout-step2">Autorizo a Telefónica Movistar a consultar mi buró de crédito (necesario para continuar)</label>
            </div>
            <div class="form__row-high">
                <button class="form__btn btn btn_bold js-AccordionBtn pasoTest" type="button">Continuar</button>
            </div>
        </div>
    </div>
</fieldset>
<!--Opciones de envio-->
<fieldset class="step__set i-check js-step">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">3</span><span class="step__title">Opciones de envío</span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt">Recoger en CAC</p>
    </div>
    <button class="link success_show js-stepReset" type="button">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <div class="form__row-high">
            <input class="form__radio" type="radio" id="inv-mail1" name="inv-mail" onclick="dropDownRadio(this)" data-validate="radio" checked>
            <label class="form__radio_label pos-form__radio_label" for="inv-mail1">Enviar a mi domicilio</label><small class="form__txt-sm">Avenida Centenario 1540 U-Hab, Lomas de Centenario Casa No. 8, Belém de la Flores. Ciudad de México 01630</small>
        </div>
        <div class="form__box_under">
            <input class="form__radio" type="radio" id="inv-mail2" name="inv-mail" onclick="dropDownRadio(this)" data-validate="radio">
            <label class="form__radio_label pos-form__radio_label" for="inv-mail2">Recoger en tienda</label><small class="form__txt-sm">Encuentra el más cercano.</small>
            <div class="form__row-inner form__row-gral">
                <div class="form__row-high form__row-none">
                    <label class="form__label">Código postal</label><span class="search__form">
                        <input class="search__input" type="text" placeholder="00000" name="search">
                        <button class="search__btn i-search" type="submit">Buscar</button></span>
                </div>
                <div class="form__row-gral form__row-none">
                    <label class="form__label">Nombre de un lugar cercano dónde puedas recoger tu celular.</label><span class="search__form">
                        <input class="search__input" type="text" placeholder="Ej: Centro historico" name="search">
                        <button class="search__btn i-search" type="submit">Buscar</button></span>
                </div>
                <div class="form__row-high">
                    <p class="form__title-section">Selecciona una tienda en la lista</p>
                </div>
                <div class="form__row-gral">
                    <input class="form__radio" type="radio" id="cac1" name="cac" checked>
                    <label class="form__radio_label" for="cac1">CAC Centro Histórico</label>
                    <address class="form__txt-style">Centro, 06000, Calle de Motolinia 34, Centro Histórico<br>Teléfonos: 253 2736 374<br>Horario de Atención: 10am a 9pm</address>
                </div>
                <div class="form__row-gral">
                    <input class="form__radio" type="radio" id="cac2" name="cac">
                    <label class="form__radio_label" for="cac2">CAC Centro Histórico Sucursal 2</label>
                    <address class="form__txt-style">Centro, 06000, Calle de Motolinia 34, Centro Histórico<br>Teléfonos: 253 2736 374<br>Horario de Atención: 10am a 9pm</address>
                </div>
                <div class="form__row-none">
                    <input class="form__radio" type="radio" id="cac3" name="cac">
                    <label class="form__radio_label" for="cac3">CAC Centro Histórico Sucursal 3</label>
                    <address class="form__txt-style">Centro, 06000, Calle de Motolinia 34, Centro Histórico<br>Teléfonos: 253 2736 374<br>Horario de Atención: 10am a 9pm</address>
                </div>
            </div><small class="js-validateMsg" data-name="inv-mail"></small>
        </div>
        <div class="form__row form__row-high">
            <!--a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar-->
            <button class="form__btn btn btn_bold js-AccordionBtn pasoTest" type="button">Continuar</button>
        </div>
    </div>
</fieldset>
<fieldset class="step__set i-check js-step">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">4</span><span class="step__title">Contrato</span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt">Ya aceptaste el contrato.</p>
    </div>
    <button class="link success_show js-stepReset" type="button">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <div class="form__row-high">
            <div class="form__box form__box_under">
                <div class="form__row-gral">
                    <p class="data__title">Términos y condiciones</p>
                    <p class="form__txt">Revise el contrato y acepte los términos y condiciones de este antes de continuar con el Checkout.</p>
                </div>
                <div class="form__row-gral">
                    <div class="iframe-content"><img src="../media/wysiwyg/recortes/pos-checkout-factura.png" alt=""></div>
                </div>
                <div class="form__row-high">
                    <input class="form__check" type="checkbox" id="checkTerms" name="checkTerms" data-validate="checkTerms">
                    <label class="form__label_check i-check" for="checkTerms"><a class="link link__brand" href="#" title="title">Acepto términos y condiciones </a></label><small class="js-validateMsg" data-name="checkTerms"></small>
                </div>
                <div class="form__row-gral">
                    <input class="form__check" type="checkbox" id="checkCont" name="checkCont" data-validate="checkCont">
                    <label class="form__label_check i-check" for="checkCont"><a class="link link__brand" href="#" title="title">Acepto contrato</a></label><small class="js-validateMsg" data-name="checkCont"></small>
                </div>
                <div class="form__row-gral">
                    <input class="form__check" type="checkbox" id="checkout-step4-check-01" name="checkout-step4-check-01" data-validate="checkout-step4-check-01">
                    <label class="form__label_check i-check" for="checkout-step4-check-01"><a class="link link__brand" href="#" title="title">Acepto términos y condiciones de mis servicios adicionales</a></label>
                </div>
            </div>
            <div class="form__row">
                <!--a.form__btn.btn(href="car-metodos-de-envio-desplegado.html") Continuar-->
                <button class="form__btn btn btn_bold pasoTest" type="button">Continuar</button>
            </div>
        </div>
    </div>
</fieldset>
