<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>
<?php if ($block->canShowBlock()): ?>
 <div class="borde-filtro"><div class="button-filter-res" id="filtrosMob"><i class="material-icons">filter_list</i>Filtrar</div></div>
    <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <div class="button-filter-res-close" id="filtrosClose">x</div>
        <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
        <div class="block-title filter-title" data-count="<?= /* @escapeNotVerified */ $filtered ?>">
            <h2 data-role="title"><?= /* @escapeNotVerified */ __('Shop By') ?></h2>
        </div>
        <div class="block-content filter-content">
            <?= $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
        <?php if ($filter->getItemsCount()): ?>
        <?php if (!$wrapOptions): ?>
            <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= /* @escapeNotVerified */ __('Shopping Options') ?></strong>
            <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                <?php  $wrapOptions = true; endif; ?>
                <div data-gtm-layered-filter="<?php echo rand(); ?>" data-role="collapsible" class="filter-options-item">
                    <div data-role="title" class="filter-options-title js-dropdownActive"><?= /* @escapeNotVerified */ __($filter->getName()) ?></div>
                    <div data-role="content" class="filter-options-content js-dropdownSlide"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></div>
                </div>
                <?php endif; ?>
                <?php endforeach; ?>
                <?php if ($wrapOptions): ?>
            </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<script>

                requirejs([
                    'jquery'
                ], function ($) {
                    var scroll = $(window).scrollTop();
                    var scrollStop = $(this).scrollTop();
                    $('#layered-filter-block').addClass('filter-no-options');
                    $(document).ready(function () {
                        $('#filtrosMob').on('click',function(){
                            $('#layered-filter-block').animate({
                                width: '85%',
                                opacity:'1'
                            });
                            $('#layered-filter-block').addClass('activeFilter');
                        });
                        $('#filtrosClose').on('click',function(){
                            $('#layered-filter-block').animate({
                                width: '0',
                                opacity:'0'
                            });
                            $('#layered-filter-block').removeClass('activeFilter');
                        });
                        $('.link__brand').on('click',function(){
                            window.location.href = '#review-form';
                            $('#review-form-tab').toggleClass('js-tabItemActive');
                        });
                    });
                    $(window).scroll(function() {
                        if (scrollStop >= 900) {
                            $(".borde-filtror").addClass("scrolldown");
                        }
                    });
                });

            </script>