<?php
//$dataCustomer = $block->getCustomerInfo();
$link_media = $block->getLinkMedia();
$pdfAviso = $this->getUrl('pub/media/archivos/') . 'avisoprivacidad.pdf';
?>
<fieldset class="step__set i-check step__set_active js-step prepago-portabilidad-cliente-info" id="bloque-portabilidad-info-cliente">

    <!--PREPAGO: PREPAGO-47 Label Azul -->
    <legend class="step__legend">
        <span class="step__grid">
            <span class="step__value">1</span>
            <span class="step__title">Tus datos</span>
        </span>
    </legend>

    <!--PREPAGO: PREPAGO-47 Paso cerrado -->
    <div class="step__lead success_show" id="datos-load">
        <p class="step__txt" id="div-nombre-dir"></p>
        <p class="step__txt" id="div-direccion1-dir"></p>
        <p class="step__txt" id="div-direccion2-dir"></p>
    </div>

    <button class="link success_show js-stepReset" type="button" id="changeone">Cambiar</button>

    <div class="step__content js-stepAccordion">
        <div class="form__row-gral">
            <span class="txt_blue i-star-fill"> Campos requeridos</span>
        </div>

        <!--  Row 1 Completo Nombre-->
        <div class="form__row-gral">
            <label class="form__label form__label-ico i-star-fill">Nombre</label>
            <input class="form__input reqCalle" placeholder="Escribe tu nombre" type="text" name="name" id="valid-nombre" data-validate="name" value="" maxlength="53">
            <small class="js-validateMsg" data-name="name"></small>
        </div>

        <!--  Row 2 Grid Apellidos-->
        <div class="form__row-gral form__grid">

            <!--  Row 2.1 Grid Apellidos-->
            <div class="form__grid__item">
                <label class="form__label form__label-ico i-star-fill">Apellido paterno</label>
                <input class="form__input" placeholder="Escribe tu apellido" type="text" name="lastName" id="valid-appelido-p" data-validate="lastName" value="" maxlength="35">
                <small class="js-validateMsg" data-name="lastName"></small>
            </div>

            <!--  Row 2.2 Grid Apellidos-->
            <div class="form__grid__item">
                <label class="form__label form__label-ico i-star-fill">Apellido materno</label>
                <input class="form__input" placeholder="Escribe tu apellido" type="text" name="lastName2" id="valid-appelido-m" data-validate="lastName" value="" maxlength="35">
                <small class="js-validateMsg" data-name="lastName2"></small>
            </div>
        </div>

        <!--  Row 3 Completo Correo-->
        <div class="form__row-gral">
            <label class="form__label form__label-ico i-star-fill">Correo electrónico</label>
            <input class="form__input" placeholder="Escribe tu correo electronico" type="email" id="valid-email" name="email" value="">
            <small class="js-validateMsg" data-name="email"></small>
        </div>

        <!--  Row 3 - BIS RFC -->
        <div class="form__row-gral">
            <label class="form__label form__label-ico i-star-fill">RFC</label>
            <input class="form__input" placeholder="RFC" type="text" name="RFC" id="valida-rfc" data-validate="RFC" value="" maxlength="13" minlength="13">
            <small class="js-validateMsg" data-name="RFC"></small>
        </div>

        <!--  Row 4 Completo Telefono-->
        <div class="form__row-gral TELCONT-checkout">
            <label class="form__label form__label-ico i-star-fill"><?= __('Teléfono de contacto <span>(Distinto al número que deseas portar)</span>'); ?></label>
            <input class="form__input" placeholder="2221234567" type="text" name="phone" id="telefono-contacto" data-validate="phone"  value="<?php /*echo $block->getDN(); */ ?>"   maxlength="10">
            <small class="js-validateMsg" data-name="phone"></small>
        </div>

        <?php if (true) { ?>
            <div class="form__row_center">

                <!--  Row 8.2 Checkbox Deseo recibir-->
                <div class="form__row-gral vsm-form__row-control">
                    <input class="form__check js-chkSlideUp"  type="checkbox" id="recibeFactura" name="recibeFactura" data-validate="recibeFactura" data-check="chkBill" value="recibeFactura">
                    <label class="form__label_check i-check" for="recibeFactura">Deseo recibir una factura</label>
                    <small class="js-validateMsg" data-name="recibeFactura"></small>
                </div>

            </div>
        <?php } ?>


        <!--  Contenido oculto -->
        <div class="vsm-form__hidden vsm-form__border-top js-formSlideUp" id="slideBill">

            <!--  Row 10 Calle -->
            <div class="form__row-gral">
                <label class="form__label form__label-ico i-star-fill">Calle</label>
                <input class="form__input reqCalle" id="calle-domicilio" placeholder="Escribe tu domicilio" type="text" name="calle" data-validate="street" value="">
                <small class="js-validateMsg" data-name="calle"></small>
            </div>

            <!--  Row 11 Numeros (Grid)-->
            <div class="form__grid form__row-gral">

                <div class="form__grid__item">
                    <label class="form__label form__label-ico i-star-fill">Número exterior</label>
                    <input type="text" maxlength="10" class="form__input" placeholder="Número" type="text" name="calleNumero" id="numero-domicilio" data-validate="streetNumber" value="">
                    <small class="js-validateMsg" data-name="calleNumero"></small>
                </div>
                <div class="form__grid__item">
                    <label class="form__label">Número Interior</label>
                    <input type="text" maxlength="10" class="form__input" placeholder="Escribe tu número interior" type="text" name="NumeroInterior" id="numero-interior" value="">
                </div>

            </div>

            <!--  Row 12 Código postal-->
            <div class="form__row-gral">
                <label class="form__label form__label-ico i-star-fill">Código postal</label>
                <input class="form__input" placeholder="Escribe tu código postal" type="text" name="postalCode" id="codigo-postal-valida" data-validate="postalCode" value="">
                <small class="js-validateMsg" data-name="postalCode"></small>
            </div>

            <!--  Row 13 Colonia (Select) -->
            <div class="form__row-gral">
                <label class="form__label form__label-ico i-star-fill">Colonia</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="colonia" name="calleColonia" data-validate="colonia">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <small class="js-validateMsg" data-name="calleColonia"></small>                                   
            </div>

            <!--  Row 14 Delegación-->
            <div class="form__row-gral">
                <label class="form__label form__label-ico i-star-fill" for="ciudad">Delegación o Municipio</label>
                <input class="form__input" placeholder="Ciudad" type="text" name="ciudad" id="ciudad-valida" data-validate="city" value="" readonly>
                <small class="js-validateMsg" data-name="ciudad"></small>
            </div>

            <!--  Row 15 Estado-->
            <div class="form__row-gral">
                <label class="form__label form__label-ico i-star-fill" for="ciudad">Estado</label>
                <input class="form__input" placeholder="Estado" type="text" name="estado" id="valida-estado" data-validate="estado" value="" readonly>
                <input class="form__input" placeholder="Estado" type="hidden" name="idestado" id="valida-estado-id" data-validate="idestado" value="">
                <small class="js-validateMsg" data-name="estado"></small>
            </div>

        </div>
        <!-- #Fin Contenido oculto -->

        <!--  Row 16 Checkbox Aviso de privacidad-->
        <div class="form__row form__row_center vsm-form__row-control">
            <input class="form__check" type="checkbox" id="checkPrivacyOne" name="avisoPrivacidad" data-validate="checkPrivacyOne">
            <label class="form__label_check i-check" for="checkPrivacyOne">Acepto
                <a href="<?= $pdfAviso ?>" target="_blank" title="Ir a aviso de privacidad" class="form__label-link link link__brand"> aviso de privacidad</a>
            </label>
            <small class="js-validateMsg" data-name="avisoPrivacidad"></small>
        </div>

        <!--  Row 17 Botón enviar-->
        <div class="form__row">
            <!--a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar-->
            <button class="form__btn btn js-AccordionBtn validaCambiopaso" title="continuar-paso1" data-index="1" type="button" data-validate="active">Continuar</button>
        </div>

    </div>

</fieldset>