<!--Opciones de envio-->
<fieldset class="step__set i-check js-step prepago-portabilidad-envio" id="bloque-portabilidad-info-envio">


    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title"><?= __('Opciones de envío'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt" id="viewDelivery"></p>
    </div>
    <button class="link success_show js-stepReset" type="button"><?= __('Cambiar'); ?></button>
    <div class="step__content js-stepAccordion">
        <div class="form__row-high">
            <input class="form__radio dropDownRadio" type="radio" value="1" id="inv-mail1" name="inv-mail" data-validate="radio">
            <label class="form__radio_label pos-form__radio_label boldLab" for="inv-mail1" id="invMailLabel" ><?= __('Enviar a mi domicilio'); ?></label>
            <small class="form__txt-sm" id="DirEntrega"><?= __('Selecciona una dirección de envío o ingresa una nueva dirección.'); ?></small>
            <div class="form__row-inner vsm-form__hidden js-formDropdown">

                <!--  Row 1 P-2 Checkbox Deseo usar facturación-->
                <div class="form__row-high">
                    <input class="form__check" type="checkbox" id="billingAddress" name="billingAddress" data-validate="checkPrivacy" value="usadirfactura" data-check="chkBillAddr" checked>
                    <label class="vsm-form__label_left form__label_check i-check js-FormCheckBtn" for="billingAddress">
                        Deseo usar mi dirección de facturación
                    </label>
                    <small class="js-validateMsg" data-name="billingAddress"></small>
                </div>

                <!--  Row 2 P-2 Contenido oculto se abre cuando abres deseo usar mi dirección de facturación-->
                <div class="js-formSlideUp" id="slideBillAddr">

                    <!--  SubRow 2.1 P-2 Información deseo usar mi dirección de facturación   -->
                    <div class="form__row-gral">
                        <label class="form__label form__label-ico i-star-fill" for="street">Calle</label>
                        <input class="form__input reqCalle" placeholder="Escribe la calle de tu domicilio" type="text" name="calleentrega" id="street" data-validate="calle" value="">
                        <small class="js-validateMsg" data-name="calleentrega"></small>
                    </div>

                    <!--  SubRow 2.2 P-2 Números [Grid] -->
                    <div class="form__grid form__row-gral">

                        <!--  SubRow 2.2.1 P-2 Número exterior -->
                        <div class="form__grid__item">
                            <label class="form__label form__label-ico i-star-fill" for="outer_number">Número Exterior</label>
                            <input class="form__input" placeholder="Escribe tu número exterior" type="text" name="numero_exterior" id="outer_number" data-validate="numero_exterior" value="">
                            <small class="js-validateMsg" data-name="numero_exterior"></small>
                        </div>

                        <!--  SubRow 2.2.2 P-2 Número interior-->
                        <div class="form__grid__item">
                            <label class="form__label form__label-ico" for="inner_number">Número Interior</label>
                            <input class="form__input" placeholder="Escribe tu número interior" type="text" name="numero_interior" id="inner_number" value="">
                        </div>
                    </div>

                    <!--  SubRow 2.3 P-2 Código postal-->
                    <div class="form__row-gral">
                        <label class="form__label form__label-ico i-star-fill" for="codigoPostal">Código postal</label>
                        <input class="form__input" placeholder="00000" type="text" name="postalCodeEntrega" id="codigoPostal" data-validate="postalCodeEntrega" value="">
                        <small class="js-validateMsg" data-name="postalCodeEntrega"></small>
                    </div>

                    <!--  SubRow 2.4 P-2 Colonia (Select)-->
                    <div class="form__row-gral">
                        <label class="form__label form__label-ico i-star-fill" for="colonia">Colonia</label>
                        <div class="form__inner-select i-a-arrow-down">
                            <select class="form__select" id="coloniaTwo" name="calleColoniaEntrega" data-validate="calleColoniaEntrega">
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                        <small class="js-validateMsg" data-name="calleColoniaEntrega"></small>
                    </div>

                    <!--  SubRow 2.5 P-2 Delegación-->
                    <div class="form__row-gral">
                        <label class="form__label form__label-ico i-star-fill" for="delegation">Delegación o Municipio</label>
                        <input class="form__input" id="delegation" name="municipioEntrega" data-validate="cityEntrega" value="" readonly>
                        <small class="js-validateMsg" data-name="municipioEntrega"></small>
                    </div>

                    <!--  SubRow 2.6 P-2 Estado-->
                    <div class="form__row-gral">
                        <label class="form__label form__label-ico i-star-fill" for="state">Estado</label>
                        <input class="form__input" id="state" type="text" name="estadoEntrega" data-validate="estadoEntrega" value="" readonly>
                        <input class="form__input" type="hidden" id="stateid" name="idestadoEntrega" data-validate="idestadoEntrega" value="">
                        <small class="js-validateMsg" data-name="estadoEntrega"></small>
                    </div>

                </div>

            </div>
        </div>
        <div class="form__box_under">
            <input class="form__radio dropDownRadio" type="radio" value="2" id="inv-mail2" name="inv-mail" data-validate="radio">
            <label class="form__radio_label pos-form__radio_label boldLab" for="inv-mail2"><?= __('Recoger en tienda'); ?></label><small class="form__txt-sm"><?= __('Encuentra nuestro Centro de Atención Movistar más cercano en donde quieres recoger tu compra.'); ?></small>
            <div class="form__row-inner form__row-gral">
                <div class="form__row-high form__row-none">
                    <label class="form__label" for="cacscp_autocomplete"><?= __('Código Postal de la Tienda'); ?></label><span class="search__form">
                        <input class="search__input" type="text" placeholder="00000" name="search" id="cacscp_autocomplete">
                        <button class="search__btn i-search" type="button"><?= __('Buscar'); ?></button></span>
                    <small class="validateMsgForm" data-name="cpcac"></small>
                </div>
                <div class="form__row-gral form__row-none">
                    <label class="form__label" for="cacs_autocomplete"><?= __('Nombre de un lugar cercano dónde puedas recoger tu celular.'); ?></label><span class="search__form">
                        <input class="search__input" type="text" placeholder="Ej: Centro historico" name="search" id="cacs_autocomplete">
                        <button class="search__btn i-search" type="button"><?= __('Buscar'); ?></button></span>
                    <small class="validateMsgForm" data-name="dircac"></small>
                </div>
                <div class="form__row-high">
                    <p class="form__title-section"><?= __('Tienda seleccionada'); ?></p>
                </div>
                <div class="form__row-gral" id="search-store">
                    <input class="form__radio" type="radio" id="cac1" name="cac" disabled>
                    <label class="form__radio_label cac_seleccionado" for="cac1"><?= __('Busque una tienda'); ?></label>
                    <input type="hidden" name="cacselectedfinal" id="cacfinal" value="">
                    <address class="form__txt-style">
                        <div class="divaddress"></div>
                        <input type="hidden" name="addressShipping" id="addressShipping" value="">
                    </address>
                </div>
            </div><small class="js-validateMsg" data-name="inv-mail"></small>
        </div>
        <div class="form__row form__row-high">
            <!--a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar-->
            <button class="form__btn btn js-AccordionBtn validaCambiopaso" data-validate="active" type="button" title="continuar-paso2" id="checkout-paso2-renovaciones"><?= __('Continuar'); ?></button>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $('#cacscp_autocomplete').bind('change', function (e) {
            $('#selected-store-container').css('display', 'block');
        });
        $('#cacs_autocomplete').bind('change', function (e) {
            $('#selected-store-container').css('display', 'block');
        });
    });
</script>