<?php
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media."recortes/";
$helper = $this->helper('Vass\PosLogin\Helper\Data');
?>
<section class="layout_section">
    <div class="layout_inner">
        <header class="data__header-full">
            <h1 class="title_head">Iniciar sesión</h1>
        </header>
        <div class="data">
            <div class="data__even">
                <article class="registerme">
                    <!--<h2 class="registerme__title">¿No tienes cuenta?</h2>-->
                    <!--<p class="registerme__description">No hay problema, puedes comprar como invitado.</p>-->
                    <p class="registerme__description">Si aún no tienes cuenta, compra como invitado.</p>
                    <a class="form__btn btn" href="<?=$this->getUrl('pos-car-steps/index/index/')?>">Comprar</a>
                </article>
            </div>
            <div class="data__even">
                <!-- Aqui formulario customisado -->
                <form class="form validate"
                      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
                      method="post" id="form-login-custom"
                      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
                      data-mage-init='{"validation":{}}'>
                    <fieldset class="form__set">
                        <legend class="form__legend">Mi cuenta</legend>
                        <div class="form__row-high">
                            <label class="form__label" for="email">Correo electrónico</label>
                            <div class="form__signal js-validateItem">
                                <input class="form__input input" placeholder="Escribe tu correo electrónico" name="email" id="email" data-validate="emailTel" type="email">
                            </div><small class="js-validateMsg" data-name="email">
                                <!-- <a class="form__link link_under" href="<?=$this->getUrl('pos-register/index')?>" alt="Abrir una nueva cuenta">¿Abrir una nueva cuenta?</a> -->
                            </small>
                        </div>
                        <div class="form__row-gral">
                            <label class="form__label" for="password">Contraseña</label>
                            <div class="form__signal js-validateItem">
                                <input class="form__input input" placeholder="Escribe tu contraseña" type="password" name="password" id="password" data-validate="password">
                                <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                            </div>
                            <!-- <small class="js-validateMsg" data-name="password"><a class="form__link link_under" href="#" alt="olvidaste tu contraseña">¿Olvidaste tu contraseña?</a></small> -->
                        </div>
                        <div class="form__row form__row-grid">
                            <a class="link__brand link__brand_big" href="<?=$this->getUrl('customer/account/forgotpassword')?>">No recuerdo mi contraseña</a>
                            <a class="link__brand link__brand_big" href="<?=$this->getUrl('pos-register/index')?>">Registrarme</a>
                        </div>
                        <?php if ($helper->getConfig('recaptcha/settings/enabled')) : ?>
                            <div class="g-recaptcha" data-sitekey=<?php echo $helper->getConfig('recaptcha/settings/site_key'); ?> data-callback="verifyClient"></div>
                        <?php endif; ?>
                        <div class="form__row">
                            <?php echo $block->getChildHtml('form.additional.info'); ?>
                        </div>
                        <div class="form__row form__row_inner">
                            <div class="form__row-gral">
                                <input class="form__check" type="checkbox" id="terms1" name="priv" data-validate="checkPrivacy">
                                <label class="form__label_check i-check" for="terms1"><span class="pos-form__terms" href="#" title="Acepto aviso de privacidad"> Acepto aviso de privacidad</span></label><small class="js-validateMsg" data-name="priv"></small>
                            </div>
                            <div class="form__row-gral">
                                <input class="form__check" type="checkbox" id="terms2" name="terms" data-validate="checkTerms">
                                <label class="form__label_check i-check" for="terms2"><span class="pos-form__terms" href="#" title="Acepto términos y condiciones"> Acepto términos y condiciones</span></label><small class="js-validateMsg" data-name="terms"></small>
                            </div>
                        </div>
                        <div class="form__row-gral form__row_center">
                            <input type="hidden" name="hideit" id="hideit" value="" />
                            <button class="form__btn btn" type="submit">Iniciar sesión</button>
                        </div>
                    </fieldset>
                </form>
                <!-- -->
            </div>
        </div>
    </div>
</section>
<script src="https://www.google.com/recaptcha/api.js?hl=es-419" async defer></script>
<script type="text/javascript">
    //Verifica el Captcha de Google del lado del cliente
    var verifyClient = function(token) {
        document.getElementById("g-recaptcha-response").value = token;
    }

    require([
        'jquery'
    ], function (
        $
    ) {

        $(document).ready(function(){

            $('#comprar-invitado').bind('click', function(e){
                e.preventDefault();
                $('#invitado').val(1);
                $('#form-login-custom').submit();
            });

        });
    });
</script>

<script type="text/javascript">

    require([
        'jquery'
    ], function (
            $
            ) {

        $(document).ready(function () {
            var messagesTelefonica = {
                checkPrivacy: 'Aceptar el Aviso de Privacidad.',
                emailTel: 'El email es obligatorio.',
                checkTerms: 'Aceptar Terminos y Condiciones.'};
            /**
             * Valida el campo de requerido
             */
            function validaRequerido(tipo, input) {
                var resultado = true;
                if (input.val().length <= 0 && tipo != "checkbox") {
                    resultado = false;
                }
                if (input.prop('checked') == false && tipo == "checkbox") {
                    resultado = false;
                }
                return resultado;
            }
            /**
             * 
             * @param {type} name
             * @param {type} dataValidate
             * @param {type} elem
             * @returns {undefined}
             */
            function changeValidateTelefonica(name, dataValidate, elem) {
                var elemSpan = $('.js-validateMsg[data-name="' + name + '"]');
                elemSpan.text("");
                elemSpan.removeClass('form__msg_error');
                elemSpan.addClass('form__msg_check');
                if ($(elem).parent().hasClass('js-validateItem') && $(elem).parent().hasClass('form__signal_error')) {
                    $(elem).parent().removeClass('form__signal_error');
                    $(elem).parent().addClass('form__signal_check');
                }
            }
            /**
             * 
             * @param {type} name
             * @param {type} dataValidate
             * @param {type} elem
             * @returns {undefined}
             */
            function customErrorMessageTelefonica(name, dataValidate, elem) {
                var elemSpan = $('.js-validateMsg[data-name="' + name + '"]');
                elemSpan.text(messagesTelefonica[dataValidate]);
                elemSpan.removeClass('form__msg_check');
                elemSpan.addClass('form__msg_error');
                if ($(elem).parent().hasClass('js-validateItem') && !$(elem).parent().hasClass('form__signal_error')) {
                    $(elem).parent().removeClass('form__signal_check');
                    $(elem).parent().addClass('form__signal_error');
                }
            }
            $('#form-login-custom').submit(function (e) {
                var next = true;
                e.preventDefault();
                $(("form#form-login-custom :input[type!=hidden][type!=button][type!=submit]")).each(function () {
                    var input = $(this); // This is the jquery object of the input, do what you will
                    var name = input.attr('name');
                    var dataValidate = input.attr('data-validate');
                    var tipo = input.attr('type');
                    if (!validaRequerido(tipo, input)) {
                        customErrorMessageTelefonica(name, dataValidate, input);
                        next = false;
                    } else {
                        changeValidateTelefonica(name, dataValidate, input);
                    }

                });
                if(!next)
                    return false;
                $('#form-login-custom').unbind('submit');
                $('#form-login-custom').submit();

            });

        });
    });
</script>