<!-- bloque portabilidad -->
<?php
$portabilityData = $block->isPortability();
if ($portabilityData):
    ?>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                console.log('Cambiando id de sinRecarga');
                $('#sinRecarga').attr('id','sinRecargaModal');
                $('#sinRecargaModal').on("click",function(e){
                    e.preventDefault();
                    $('#custrom-message-recarga .messages.js-listModalThree3').addClass('modal__view');
                });
                $(document).on("click", "#cerrarSinRecarga", function (e) {
                    e.preventDefault();
                    var sinRecarga = $("[id='SIM UNIVERSAL']").val();
                    $('#plan_id').val(sinRecarga);
                    $('#formSim').submit();
                });
            });
        });</script>

    <?php
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media . "recortes/";
?>
<div id="custrom-message-recarga">
    <div role="alert" class="messages">
        <div class="message-success">
            <div class="modal modal_list messages js-listModalThree3" style="overflow-y: hidden;">
                <div class="modal__box modal_list" style="overflow-y: hidden;">
                    <button class="modal__close js-modal__close i-x" name="cerrar-5">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">                    
                    <div class="modal__crop" style="overflow-y: hidden;">                        
                        <h3 class="modal__bold" id="modal-text-container" style="color: #8F9195; text-align: center;"><?php echo __('¿Estás seguro? Solo con tu recarga podrás disfrutar los beneficios de Movistar'); ?></h3>
                    </div>
                    <button class="modal__btn btn js-modal__close" type="button" name="cerrar-6" id="cerrarSinRecarga">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
<?php endif; ?>
<!-- /bloque portabilidad -->
<!-- jQuery('.messages.js-listModalTwo2').addClass('modal__view'); -->