<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */

$blockObj = $block->getLayout();

$avatarBlock = $blockObj->createBlock('Vass\Avatar\Block\Customer\Account\Avatar');

$recentOrdersBlock = $blockObj->createBlock('Magento\Sales\Block\Order\Recent');

$cmsBlock = $blockObj->createBlock('Magento\Cms\Block\Block');


?>
<main class="content">
    <section class="layout_section">
        <div class="layout_inner-d">
            <section class="layout-grid">
                <div class="layout-grid__col-s">
                    <article class="panel panel_bg">
                        <div class="panel__inner_s">
                            <header class="panel__top">
                                <figure class="panel__avatar"><img class="panel__img" src="<?php echo $avatarBlock->getAvatar(); ?>" alt="Avatar"></figure>

                                <?php

                                //Formulario para actualizar el avatar del cliente
                                 /*
                                <div class="box box-newsletter">
                                    <div class="box-content">
                                        <form action="<?php echo $this->getUrl('vass_avatar/manager/upload'); ?>" enctype="multipart/form-data" method="POST">
                                            <div><input type="file" name="avatar" accept="image/*"></div>
                                            <div style="margin-top:8px;"><button type="submit"><span><span><?php echo __('Send'); ?></span></span></button></div>
                                        </form>
                                    </div>
                                </div>
                                */
                                ?>
                            </header>
                            <div class="panel__center">
                                <h4 class="panel__title"><?= substr($block->escapeHtml($block->getName()), 0, 17) ?></h4>
                                <button class="btn-circle i-bell">Notificaciones<small class="btn-circle-small">1</small></button>
                            </div>
                            <div class="panel__row">
                                <p class="panel__txt"><?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></p>
                                <address class="panel__txt"><?= $block->getPrimaryShippingAddressHtml() ?></address>
                            </div>
                            <footer class="panel__footer">
                                <a class="panel__link link__brand" href="<?=$this->getUrl('perfil-usuario/index/index')?>" title="Editar Perfil">Editar Perfil</a>
                                <?php 
                                    $objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
                                    $customerSession = $objectManagerlogin->get('Magento\Customer\Model\Session');
                                    $baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
                                    echo "<a class=\"panel__link link__brand\" href=\"".$baseurl."customer/account/logout/\">Cerrar Sesión</a>";
                                ?>
                            </footer>
                        </div>
                    </article>
                    <div class="panel">
                        <div class="panel-tab">
                            <button class="panel-tab__top i-arrow-right js-tabBtn js-tabClose">Movistar siempre te da más</button>
                            <div class="panel-tab__inner js-tabContent js-tabClose">
                                <header class="panel-tab__head">
                                    <p class="panel-tab__txt">Comparte este código con tus amigos  y recibiras bonos de descuentos para tus próximas compras.</p>
                                    <p class="panel-tab__bold">RefMovil736$</p>
                                </header>
                                <footer class="panel-tab__foot">
                                    <button class="panel-tab__btn btn">Recarga</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-tab">
                            <button class="panel-tab__top i-arrow-right js-tabBtn js-tabClose">¿Quieres hacer una recarga?</button>
                            <div class="panel-tab__inner js-tabContent js-tabClose">
                                <header class="panel-tab__head">
                                    <p class="panel-tab__txt">Escribe el número MOVISTAR al que le quieres hacer una recarga</p>
                                </header>
                                <footer class="panel-tab__foot">
                                    <form class="panel-tab__form" action="">
                                        <label class="panel-tab__label">Escribe tu número</label>
                                        <input class="panel-tab__input" type="text" placeholder="Ej: 12345678">
                                        <button class="panel-tab__btn btn">Recarga</button>
                                    </form>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-grid__col-l">
                    <div class="panel">
                        <div class="panel__inner_m">
                            <form class="panel__row" action="<?php echo $this->getUrl('sales/order/view'); ?>" >
                                <label class="panel__headline">Consultar estado de tu pedido</label>
                                <div class="search__form">
                                    <input class="search__input" type="text" name='order_id' placeholder="Ej: #2064527 o sin línea">
                                    <button class="search__btn i-search" type="submit"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <?php $_orders = $recentOrdersBlock->getOrders(); ?>
                    <article class="panel">
                        <div class="panel__inner_m">
                            <h4 class="panel__headline"><?= /* @escapeNotVerified */
                                __('Historial de compras') ?></h4>
                            <div class="panel__table">
                                <table class="table-data">
                                    <thead class="table-data__head">
                                    <tr class="table-data__row">

                                        <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                                        <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Date') ?></th>
                                        <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Total') ?></th>
                                        <th class="table-data__head-item"><?= /* @escapeNotVerified */ __('Status') ?></th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-data__content">
                                    <?php foreach ($_orders as $_order): ?>
                                        <tr class="table-data__row">
                                            <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="table-data__cell col id"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                                            <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="table-data__cell col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                                            <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="table-data__cell col total"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                                            <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="table-data__cell col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                            <?php if (sizeof($_orders->getItems()) > 0): ?>
                                <a class="panel__link link__brand" href="<?= /* @escapeNotVerified */ $block->getUrl('sales/order/history') ?>"
                                   title="<?= /* @escapeNotVerified */ __('Ver todo el historial') ?>"><?= /* @escapeNotVerified */ __('Ver todo el historial') ?></a>
                            <?php endif; ?>
                        </div>
                    </article>
                </div>
                <aside class="layout-grid__aside">
                    <dl class="panel">
                        <dt class="panel__inner_top">
                            <h4 class="panel__headline">Notificaciones</h4>
                        </dt>
                        <dd class="panel__odd">
                            <p class="panel__txt">¡Bienvenido a Movistar Juan! Todo el equipo de Movistar estará dispuesto ayudarte con tu nueva linea en ECARE</p>
                            <div class="panel__end">
                                <time class="panel__small">08/07/18</time>
                                <button class="panel__btn-ico i-menu-bullets"> Acciones</button>
                            </div>
                        </dd>
                        <dd class="panel__odd">
                            <p class="panel__txt">Hola Juan, tu pago fue aprobado, estamos preparando tu pedido para ser enviado. Recuerda que puedes seguir tu pedido desde</p>
                            <div class="panel__end">
                                <time class="panel__small">08/07/18</time>
                                <button class="panel__btn-ico i-menu-bullets"> Acciones</button>
                            </div>
                        </dd>
                        <dd class="panel__odd">
                            <p class="panel__txt">Todo el equipo de Movistar estará dispuesto ayudarte con tu nueva linea en ECARE.</p>
                            <div class="panel__end">
                                <time class="panel__small">08/07/18</time>
                                <button class="panel__btn-ico i-menu-bullets"> Acciones</button>
                            </div>
                        </dd>
                        <div class="panel__inner_m"><a class="panel__link link__brand" href="<?= $block->getBaseUrl() ?>panel-historico-notificaciones" title="Ver más notificaciones">Ver más notificaciones</a></div>
                    </dl>
                    <?= $cmsBlock->setBlockId('customer-dashboard-right-info')->toHtml(); ?>
                </aside>
            </section>
            <?= $cmsBlock->setBlockId('customer-dashboard-footer')->toHtml(); ?>
        </div>
    </section>
</main>