<?php
/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'favorite_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
    /* PREPAGO: Prepago-22 Variables clonadas */
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    ?>
    <div class="layout">
        <!-- PREPAGO: PREPAGO-22 Se inicia con la class vsm-steps-->
        <div class="vsm-steps steps__cont js-sliderCont">

            <!-- PREPAGO: PREPAGO-22 Header con título var: $block->getTitle()-->
            <div class="vsm-steps__head steps__head">
                <h2 class="head__title"><?= $block->escapeHtml(__($block->getTitle())) ?></h2>
            </div>
            <!-- Steps row -->
            <div class="steps__row">

                <div class="spinner"><span></span><span></span><span></span><span></span></div>
                
                <!-- PREPAGO: PREPAGO-22 Slider de Terminales-->
                <div class="vsm-slider-detail slider-detail">
                    <div class="slider-detail__inner">
                        <div class="slider-detail__list slider-detail_opacity js-slideTerminales">
                            
                            <!-- PHP: foreach forma el grupo de terminales -->
                            <?php foreach ($items as $_item):
                                $product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getId());
                                $precioPlan = number_format($product->getPrecioPlan(),2,',','.');
                                $price = number_format(ceil($_item->getPrice()*.5/24),0,'.',',');
                            ?>
                            
                                <!-- PREPAGO: PREPAGO-22 Terminal-->
                                <article class="vsm-grid grid__slot" data-sku="<?= $product->getSku(); ?>" data-price="<?= $price; ?>" data-brand="<?=  $product->getResource()->getAttribute('marca')->getFrontend()->getValue($product) ?>">
                                    <div class="grid__inner">

                                        <!-- PREPAGO: PREPAGO-22 Tags-->
                                        <!-- 
                                        <div class="grid__tags">
                                            <?php if($block->getProductByAttribute($_item->getId(), 'tag_promocion')): ?>
                                                <span class="tag tag_min tag_blue"><?=$block->getProductByAttribute($_item->getId(), 'tag_promocion')?>
                                                    
                                                </span>
                                            <?php endif; ?>
                                            <?php if($block->getProductByAttribute($_item->getId(), 'tag_hasta_x_descuento')): ?>
                                                <span class="tag_corner tag_corner-yellow"><?=$block->getProductByAttribute($_item->getId(), 'tag_hasta_x_descuento')?>%
                                                </span>
                                            <?php endif; ?>
                                        </div>

                                        -->

                                        <!-- PREPAGO: PREPAGO-22 Link e imagen de cada producto-->
                                        <a  class="vsm-grid__link" href="<?= $_item->getProductUrl().'?origin=prepago' ?>" title="<?= $block->escapeHtml(__('Ir a comprar %1', $_item->getName())) ?>">
                                            <figure class="grid__photo">
                                                <img class="grid__img" src="<?= $block->getImageUrl($_item, $image) ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>">
                                            </figure>
                                        </a>
                                        <!-- PREPAGO: PREPAGO-22 Descripción de cada producto-->
                                        <div class="grid__body">

                                            <div class="vsm-grid__head">
                                                <!-- PREPAGO: PREPAGO-22 Row dos columnas-->
                                                <div class="vsm-grid__row">
                                                    <!-- PREPAGO: PREPAGO-22 Col #1-->
                                                    <div class="vsm-grid__col">
                                                        <!-- PREPAGO: PREPAGO-22 Rating-->
                                                        <div class="rating grid__rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                                            <?php
                                                                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                                                $reviewFactory = $objectManager->create('Magento\Review\Model\Review');

                                                                $reviewFactory->getEntitySummary($product, 2);

                                                                $ratingSummary = $product->getRatingSummary()->getRatingSummary();
                                                                if ($ratingSummary == null) {
                                                                    $ratingSummary = 0;
                                                                }
                                                                //var_dump($ratingSummary);
                                                            ?>
                                                            <div class="rating-summary">
                                                                <?php if ($ratingSummary == 0) { ?>
                                                                    <div class="rating-result" title="<?= $ratingSummary ?>%">
                                                                <?php }else{ ?>
                                                                    <div class="rating-result" title="<?= $ratingSummary ?>%">
                                                                <?php } ?>
                                                            
                                                                    <span style="width:<?= $ratingSummary ?>%">
                                                                        <span>
                                                                            <?= $ratingSummary ?>%</span>
                                                                    </span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- PREPAGO: PREPAGO-22 Col #1-->
                                                    <div class="vsm-grid__col">
                                                        <!-- PREPAGO: PREPAGO-22 Accesibilidad-->
                                                        <img class="vsm-grid__img" src="<?= $link_media ?>discapacidad.svg" alt="Accesibilidad"/>                               
                                                    </div>
                                                </div>

                                                <!-- PREPAGO: PREPAGO-22 Colores-->
                                                <!-- <div class="vsm-grid__thumbs">
                                                    <ul class="list-thumb">
                                                        <li class="list-thumb__item">
                                                            <input class="list-thumb__input" id="color1" type="radio" checked name="colors">
                                                            <label class="list-thumb__circle list-thumb__circle_1" for="color1"></label>
                                                        </li>
                                                        <li class="list-thumb__item">
                                                            <input class="list-thumb__input" id="color5" type="radio" name="colors">
                                                            <label class="list-thumb__circle list-thumb__circle_5" for="color5"></label>
                                                        </li>
                                                        <li class="list-thumb__item">
                                                            <input class="list-thumb__input" id="color3" type="radio" name="colors">
                                                            <label class="list-thumb__circle list-thumb__circle_3" for="color3"></label>
                                                        </li>
                                                        <li class="list-thumb__item">
                                                            <input class="list-thumb__input" id="color4" type="radio" name="colors">
                                                            <label class="list-thumb__circle list-thumb__circle_4" for="color4"></label>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                                <!-- PREPAGO: PREPAGO-22 Título producto-->
                                                <h2 class="grid__title"><?= substr($block->escapeHtml($_item->getName()),0,16) ?></h2>
                                                <!-- <h3 class="grid__subtitle"> (V)Prime Plus 16GB </h3> -->
                                            </div>
                                            
                                            <!-- PREPAGO: PREPAGO-22 Descripción del producto-->
                                            <div class="vsm-grid__footer grid__footer">
                                                <p class="grid__label">Desde</p>
                                                
                                                <!--PREPAGO: PREPAGO-22 Bloque de precios -->
                                                <div class="vsm-grid__block">
                                                    <div class="grid__price">
                                                        <small class="grid__label_brand2">Plan/mes*</small>
                                                        <!-- Variable: PREPAGO-22 Precio Plan /mes =number_format(ceil($_item->getPrice()*.5/24),0,'.',','); -->
                                                        <span class="grid__value">
                                                            $ <?=$price;?>
                                                            <span class="grid__value-disclaimer">/mes*</span>
                                                        </span>  
                                                    </div>

                                                    <div class="grid__price">
                                                        <small class="grid__label_brand">Prepago</small>
                                                            <!-- Variable: PREPAGO-22 Precio del equipo -->
                                                        <span class="grid__value">
                                                            $ <?=number_format(ceil($_item->getPricePrepago()),0,'.',',');?>
                                                        </span>
                                                    </div>
                                                </div>    
                                                
                                                <!--PREPAGO: PREPAGO-22 Botón comprar -->
                                                <div class="grid__center">
                                                    <form class="vsm-grid__form-foot">
                                                        <input type="hidden" name="product">
                                                        <input type="hidden">
                                                        <input type="hidden">
                                                        <button class="btn" type="button" href="<?= $_item->getProductUrl()."?origin=prepago" ?>">
                                                            Ver detalle
                                                        </button>
                                                    </form>
                                                </div>   

                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <?php unset($etiquetaIzq, $desc); ?>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <div class="slider-detail__controls">
                        <button class="slider__arrow i-arrow-left prev" type="button"><span class="slider__arrow-txt">anterior</span></button>
                        <button class="slider__arrow i-arrow-right next" type="button"><span class="slider__arrow-txt">siguiente</span></button>
                    </div>
                </div>
            </div>
            <div class="steps__foot">
                <a class="steps__link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Ver todos los equipos">Ver todos los equipos</a>
                <div class="steps__foot_inner">
                    <h3 class="title-foot">Términos y condiciones</h3>
                    <p class="txt-small">*El pago mensual mostrado es informativo está calculado considerando un pago inicial del 50% del costo total del equipo incluyendo IVA y durante un plazo de 24 mensualidades. La proporción del pago inicial y monto a pagar por cada una de las mensualidades dependerá del resultado de tu consulta de crédito que se realizará durante el proceso de contratación.</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery'
        ], function (
            $
        ) {
            
            $( document ).ready(function() {

                $(document).on("click", ".grid__center .btn", function() { 
                    window.location = $(this).attr('href');
                });

            });

        });
    </script>
<?php endif;?>