@charset "UTF-8";
@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }
@keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }

/** @color Amarillo Movistar */
/** @color Amarillo Movistar */
/** @color Amarillo Light Movistar */
/** @color Naranja Movistar */
/** @color Naranja Light Movistar */
/** @color Naranja Diseños Tags */
/** @color Magenta Movistar */
/** @color $alert */
/** @color Magenta Light Movistar */
/** @color Púrpura Movistar */
/** @color Púrpura light Movistar */
/**
 * $c-brand
 * @color
 * @section Brand
 */
/**
 * $c-brand_light
 * @color
 * @section Brand
 */
/**
 * $c-brand-hover
 * @color
 * @section Brand
 */
/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */
/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */
/**
 * $c-brand-2
 * @color
 * @section Brand
 */
/**
 * $c-brand-2_light
 * @color
 * @section Brand
 */
/**
 * $c-brand-2-hover
 * @color
 * @section Brand
 */
/**
 * $c-accesible-link (Enlaces accesibles nivel AA)
 * @color
 * @section Accesibilidad
 */
/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */
/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */
/**
 * $c-social-2 (Color Social Share Google)
 * @color
 * @section Social share
 */
/**
 * Blanco
 * @color
 * @section Neutros
 */
/**
 * Negro
 * @color
 * @section Neutros
 */
/**
 * Grey
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 1
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 2
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 3
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 4
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 5
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 6
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 7
 * @color
 * @section Escala de Grises
 */
@media only screen and (min-width: 1024px) {
  .data-aside__wrap .data-aside__toast {
    position: relative; } }

.steps__selected .steps__img {
  max-width: 80px; }

.steps__selected .steps__img_none {
  max-width: 42px; }

.step__content {
  display: none; }

@media only screen and (min-width: 768px) {
  .c-steps__cont.steps__cont .slick-track {
    margin: 0 auto; } }

.menu-foot__btn {
  padding: 10px 14px; }

.submenu .submenu__item {
  padding: 20px 10px; }

.menu-brand__link_login.mi-user {
  display: none; }

@media only screen and (min-width: 768px) {
  .submenu .submenu__item {
    padding: 20px; } }

@media (max-width: 500px) {
  .submenu .submenu__item {
    padding: 20px; }
  .submenu .submenu__list {
    min-width: 90%; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .submenu__list {
    width: 100% !important; }
  input::-ms-clear {
    display: none !important; } }

@supports (-ms-accelerator: true) {
  .submenu__list {
    width: 100% !important; }
  input::-ms-clear {
    display: none !important; } }

.data__txt-big {
  font-size: 16px;
  color: #86888C; }

.data-aside__box {
  -webkit-box-flex: 1;
  -ms-flex: 1 56%;
  -webkit-flex: 1 54%;
          flex: 1 54%; }

.data__total {
  -webkit-box-flex: 1;
  -ms-flex: 1 46%;
  -webkit-flex: 1 44%;
          flex: 1 44%; }

.data-aside__btn .data__total {
  font-size: 20px; }

.c-card .card_desktop {
  display: block; }

.c-card .form__label_check {
  -webkit-box-flex: 2;
  -webkit-flex: 2 100%;
      -ms-flex: 2 100%;
          flex: 2 100%;
  white-space: nowrap;
  max-width: 140px;
  margin: 0 auto; }

.c-card .card__position .tag-svg .tag .txt,
.c-card .card__position .tag-svg .tag .txt-strong {
  font-size: 12px;
  font-size: 1.2rem; }

.c-card .btn-i {
  margin-top: 0;
  padding-top: 0; }

.c-card__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  margin: 0 auto; }

.distinct__margin {
  margin: 0 !important;
  margin-left: -30px !important; }

.ie11 .c-card__group {
  width: 100%; }
  .ie11 .c-card__group .i-question-ball {
    padding: 0; }

@media only screen and (min-width: 768px) {
  .c-card .card__header {
    position: relative; }
  .c-card .card__txt {
    display: none; }
  .c-card .card__txt2 {
    display: block !important; }
  .c-card.card_check {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .c-card .card__wrap {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .c-card .card__content {
    height: 92% !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .c-card .card__item {
    height: auto; } }

.module__footer .module__alert {
  text-align: center;
  padding-bottom: 0; }

.module__footer .card__success {
  text-align: center;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 14px 0; }
  .module__footer .card__success:before {
    padding-right: 10px;
    position: relative;
    top: 4px;
    color: #5BC500;
    font-size: 24px;
    vertical-align: text-bottom; }

.swatch-option-tooltip {
  -webkit-box-shadow: #dcdbdb 0px 1px 2px 0px;
          box-shadow: #dcdbdb 0px 1px 2px 0px; }
  .swatch-option-tooltip .corner:before {
    border-width: 7px 8.5px 0 8.5px;
    border-color: #dcdbdb transparent transparent transparent; }
  .swatch-option-tooltip .corner:after {
    border-width: 7px 7.5px 0 6.5px; }

.swatch-option.color {
  height: 20px;
  width: 20px;
  border: 2px solid #dcdbdb; }

.banner_full .banner__caption .banner__subtitle {
  margin-left: 0; }

.page-products .breadcrumbs {
  display: none; }

.form__box_under .form__txt-sm {
  padding: 4px 0 4px 50px; }

.form-ico_tabs .form-ico__label:before {
  color: #D3D4D3; }

.form-ico_tabs .form__radio_label:before {
  border-color: #D3D4D3; }

.form-ico_tabs .form__radio:checked + .form__radio_label:before {
  border-color: #00A9E0; }

.form-ico_tabs .form__radio:checked + .form__radio_label .form-ico__label:before {
  color: #00A9E0; }

@media only screen and (max-width: 767px) {
  .data-section_item .link {
    display: block; } }

.data__sub-summary .data__total {
  text-align: right; }

.data__table {
  width: 100%; }

.ie11 .data__table .data__pullquote:after {
  left: 0; }

.data__txt-fs18 {
  font-size: 18px; }

.filter {
  color: #50535A;
  /*     .filter-content {
        background-color: aqua;
    }

    .filter-title {
        background-color: brown;
    } */ }
  .filter .filter-subtitle {
    font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #50535A; }
  .filter .filter-options {
    padding: 10px 0; }
  .filter .filter-options-item.active {
    color: #50535A; }
  .filter .filter-options-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #50535A;
    padding-bottom: 8px; }
    .filter .filter-options-title:before {
      content: unicode(\e316);
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      font-family: "icomoon";
      color: #00A9E0;
      font-size: 18px;
      margin: 0; }
  .filter .filter-options-content {
    display: none; }
    .filter .filter-options-content .items {
      padding-top: 20px; }
    .filter .filter-options-content .item {
      padding: 4px 10px 0; }
      .filter .filter-options-content .item a span {
        font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #86888C; }
    .filter .filter-options-content .swatch-option.color {
      width: 35px;
      height: 20px;
      -webkit-border-radius: 15px;
              border-radius: 15px; }
    .filter .filter-options-content .swatch-attribute-options {
      padding: 20px 0 0 20px; }
    .filter .filter-options-content .swatch-option {
      padding: 4px 10px;
      min-width: auto;
      -webkit-border-radius: 15px;
              border-radius: 15px; }

/*@include media-query(max-medium) {
    .filter {
        max-width: 480px;
    }
}*/
@media only screen and (min-width: 768px) {
  .filter {
    min-width: 180px;
    margin-right: 20px; } }

.page-products.page-with-filter .sidebar.sidebar-additional {
  display: none; }

.page-products .product-item-actions .btn {
  display: block; }

@media only screen and (min-width: 768px) {
  .page-products.page-with-filter .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
  .page-products .column.main {
    width: auto;
    float: none;
    -webkit-box-flex: 2;
    -webkit-flex: 2 auto;
    -moz-flex: 2 auto;
    -ms-flex: 2 auto;
    flex: 2 auto; }
  .page-products .sidebar.sidebar-main {
    width: auto;
    float: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -moz-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto; }
  .ie11 .page-products .sidebar.sidebar-main {
    max-width: 280px; } }

.grid__label.grid__label_price {
  display: none; }

.list-thumb__txt {
  display: none; }

.catalog-product-view .layout-flex__aside .price-box.price-final_price::before {
  display: none; }

.catalog-product-view .layout-flex__aside .price-box.price-final_price .grid__label.grid__label_price {
  display: block !important; }

.catalog-product-view .layout-flex__aside .grid__price.grid__price_hide {
  display: none; }

.catalog-product-view .layout-flex__aside .grid__label_brand2 {
  display: none; }

.catalog-product-view .layout-flex__aside .grid__value-price {
  display: inline-block;
  min-width: 82px;
  padding: 2px 6px;
  margin: 0 4px 4px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #D3D4D3;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border-color: #00A9E0;
  background-color: #00A9E0;
  color: #fff;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.catalog-product-view .layout-flex__aside .list-thumb__txt {
  display: block;
  text-align: left; }

.grid__value {
  font-size: 16px; }

@media only screen and (max-width: 839px) {
  .grid__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .grid__price:last-child {
    border: 0;
    padding-left: 0; } }

@media only screen and (min-width: 840px) {
  .grid__value {
    font-size: 18px; } }

@media (min-width: 768px) and (max-width: 979px) {
  .grid {
    -ms-grid-columns: minmax(115px, 300px) [2];
    grid-template-columns: repeat(2, minmax(115px, 300px)); } }

@media (min-width: 993px) and (max-width: 1128px) {
  .grid__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .grid__price:last-child {
    border: 0;
    padding-left: 0; } }

@media only screen and (min-width: 768px) {
  .grid .grid__slot {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0; } }

@media (min-width: 768px) and (max-width: 992px) {
  .products .grid .grid__slot {
    -webkit-box-flex: 48%;
    -webkit-flex: 48% 0;
    -moz-flex: 48% 0;
    -ms-flex: 48% 0;
    flex: 48% 0; } }

@media (min-width: 993px) {
  .products .grid .grid__slot {
    -webkit-box-flex: 32%;
    -webkit-flex: 32% 0;
    -moz-flex: 32% 0;
    -ms-flex: 32% 0;
    flex: 32% 0; } }

.toolbar.toolbar-products {
  margin-bottom: 0;
  padding: 0; }
  .toolbar.toolbar-products .modes {
    display: none; }
  .toolbar.toolbar-products .toolbar-amount,
  .toolbar.toolbar-products .toolbar-sorter {
    padding: 0; }
  .toolbar.toolbar-products .sorter-options {
    max-width: 120px;
    text-align: right; }

.grid__order .msmx-product-details {
  width: 100%;
  display: table;
  float: none; }

.grid__order .product-reviews-summary {
  display: table-cell;
  margin: 0; }

.grid__order .msmx-product-details-reviews,
.grid__order .msmx-product-details-atributes {
  display: table-cell;
  width: 50%;
  float: none; }

.grid__order .msmx-product__img {
  max-width: 24px;
  display: block;
  margin: 10px 0 12px 0; }

.msmx-list__title {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 15px; }

.msmx-list__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 20px; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ie11 .msmx-list__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

.msmx-list__item {
  padding: 0 4px;
  border-right: 1px solid #B6B7B7;
  height: 20px; }
  .msmx-list__item:last-child {
    border-right: none; }
  .msmx-list__item:first-child {
    padding-left: 0; }

.msmx-list__anchor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.msmx-list__fig {
  display: block;
  max-width: 20px; }

.msmx-list__img {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px; }

.msmx-list__txt {
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1979c3;
  text-decoration: underline;
  padding-left: 4px; }

@media only screen and (min-width: 768px) {
  .msmx-list__item {
    padding: 0 8px; } }

.msmx-note__fig {
  min-width: 120px; }

.msmx-note__img {
  position: relative;
  left: -20px;
  max-width: 120px;
  width: 120px;
  height: 85px;
  display: block;
  margin: 0 auto 0 0; }

.msmx-note__link {
  color: #00A9E0;
  text-decoration: underline; }

@media only screen and (min-width: 768px) {
  .msmx-note__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .msmx-note__img {
    left: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0; }
  .msmx-note__txt {
    -webkit-box-flex: 2;
    -webkit-flex: 2 0;
    -moz-flex: 2 0;
    -ms-flex: 2 0;
    flex: 2 0; } }

.tool-box_form.tool-box {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  clear: both;
  display: block;
  height: 100%; }

.tool-box_form .tool {
  right: 0;
  top: 30px;
  width: 70%; }

.tool-box_form .tool__list {
  padding: 8px 30px 0;
  margin: 0; }

.tool-box_form .tool__txt,
.tool-box_form .tool__item {
  font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #86888C;
  font-size: 14px; }

.tool-box_form .btn-i {
  float: right;
  margin: 0 10px 0 auto; }
  .tool-box_form .btn-i:before {
    color: #E9426D; }
  .tool-box_form .btn-i:active, .tool-box_form .btn-i:hover, .tool-box_form .btn-i:focus {
    background-color: transparent; }

@media only screen and (max-width: 767px) {
  .tool-box_form .tool__list {
    padding: 8px 25px 0; }
  .tool-box_form .tool__item {
    font-size: 12px; } }

.vsm-foot__cont .foot-sponsors__list {
  text-align: center; }

.vsm-foot__cont .foot-sponsors__item {
  display: inline-block;
  padding: 10px 0; }

.vsm-foot__link {
  height: auto;
  max-height: 37px; }
  .vsm-foot__link .foot-sponsors__img {
    display: block;
    height: inherit;
    width: auto;
    max-width: initial;
    max-height: 37px; }

.foot-sponsors__group .vsm-foot__link:not(:last-child) .foot-sponsors__img {
  padding-right: 5px; }

@media screen and (min-width: 501px) {
  .vsm-foot__subitem .foot-sponsors__group {
    padding-top: 24px; } }

@media only screen and (min-width: 768px) {
  .page-footer .vsm-foot__cont .foot__list {
    margin: 0 auto;
    padding: 20px 20px 0; } }

@media screen and (min-width: 1149px) {
  .vsm-foot__cont .foot-sponsors__item_big {
    padding-top: 9px; }
  .vsm-foot__cont .foot-sponsors__group {
    margin-right: 4px; }
  .vsm-foot__subitem .foot-sponsors__group {
    padding-top: 27px;
    padding-bottom: 13px; } }

@media only screen and (min-width: 1180px) {
  .vsm-foot__cont .foot-sponsors__sublist_border .foot-sponsors__img:not(:last-child) {
    margin-right: 5px; } }

@media screen and (max-width: 480px) {
  .vsm-foot__link .foot-sponsors__img {
    width: 85%;
    height: 36px; } }

@media only screen and (max-width: 767px) {
  .foot-sponsors__group .vsm-foot__link {
    max-height: initial; }
    .foot-sponsors__group .vsm-foot__link .foot-sponsors__img {
      height: auto; } }

.data-sheet__btn {
  left: auto;
  right: 0; }

@media only screen and (min-width: 650px) {
  .data-sheet__btn {
    right: -10px;
    left: auto; } }

@media only screen and (max-width: 767px) {
  .search__panel .suggest {
    display: none; }
  .search__panel .search__list {
    border-bottom: none; } }

.search__panel .search__list .search__link {
  color: #50535A; }
  .search__panel .search__list .search__link:hover {
    text-decoration: none;
    color: #50535A;
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.suggest__list .product__name {
  margin: 5px 0 0; }
  .suggest__list .product__name a {
    color: #86888C;
    text-decoration: none; }

.suggest__list .product__prices {
  margin-bottom: 0; }
  .suggest__list .product__prices .grid__label,
  .suggest__list .product__prices .grid__price {
    display: none; }

.suggest__list .product {
  max-width: 120px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  margin: 10px 4px; }

.suggest__list .product:not(:nth-child(-n+3)) {
  display: none; }

.vass-page-numbers .item.current strong.page {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.is-block-wishlist_hidden {
  display: none; }

.bar-sticky .empty-none {
  text-align: center; }

.bar-sticky__item_button {
  width: 180px; }

@media only screen and (min-width: 768px) {
  .bar-sticky .bar-sticky__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 0 auto; }
    .bar-sticky .bar-sticky__list .bar-sticky__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0;
      -moz-flex: 1 0;
      -ms-flex: 1 0;
      flex: 1 0; }
      .bar-sticky .bar-sticky__list .bar-sticky__item .bar-sticky__fig {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center; }
    .bar-sticky .bar-sticky__list .bar-sticky__item:last-of-type {
      -webkit-box-flex: none;
      -webkit-flex: none;
      -moz-flex: none;
      -ms-flex: none;
      flex: none; }
    .bar-sticky .bar-sticky__list .product-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0;
      -moz-flex: 1 0;
      -ms-flex: 1 0;
      flex: 1 0; } }

.c-categories-tabs .tabs-bar {
  margin: 0 auto; }

.c-categories-tabs .tabs-bar__link {
  white-space: nowrap; }
  .c-categories-tabs .tabs-bar__link:hover {
    color: #86888C;
    text-decoration: none; }

.c-categories-tabs div {
  display: none; }

.c-hero-banner__bg {
  background-color: #00A9E0; }
  .c-hero-banner__bg .hero-banner__title {
    font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1; }
  .c-hero-banner__bg .hero-banner__txt {
    font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-size: 2rem; }
  .c-hero-banner__bg .btn {
    display: block;
    min-width: 170px;
    padding: 8px 12px; }

@media only screen and (max-width: 479px) {
  .c-hero-banner .hero-banner__title {
    font-size: 30px;
    font-size: 3rem; } }

@media only screen and (max-width: 767px) {
  .c-hero-banner .hero-banner__txt {
    display: block; } }

@media only screen and (min-width: 650px) {
  .c-hero-banner .hero-banner__caption {
    width: 50%;
    max-width: 430px; }
  .c-hero-banner .hero-banner__title {
    font-size: 32px;
    font-size: 3.2rem;
    margin: 0; }
  .c-hero-banner .hero-banner__title,
  .c-hero-banner .hero-banner__txt {
    padding-bottom: 4px; }
  .c-hero-banner .btn {
    min-width: 220px; } }

@media only screen and (min-width: 768px) {
  .c-hero-banner .hero-banner__caption {
    width: 50%;
    max-width: 450px; }
  .c-hero-banner .hero-banner__title {
    font-size: 50px;
    font-size: 5rem; }
  .c-hero-banner .hero-banner__btn {
    margin-top: 4px; }
  .c-hero-banner .hero-banner__title,
  .c-hero-banner .hero-banner__txt {
    padding-bottom: 10px; }
  .c-hero-banner .btn {
    padding: 16px 14px; } }

@media only screen and (min-width: 980px) {
  .c-hero-banner .hero-banner__title {
    margin-bottom: 10px; }
  .c-hero-banner .hero-banner__title,
  .c-hero-banner .hero-banner__txt {
    padding-bottom: 20px; } }

@media (min-width: 1720px) {
  .c-hero-banner .hero-banner__item {
    max-height: 600px; } }

/*# sourceMappingURL=hotfix.css.map */
