//*------------------------------------*\
//Variables Color
//*------------------------------------*/



/** @color Amarillo Movistar */
$yellow_bright: #FCD600;

/** @color Amarillo Movistar */
$yellow: #F59C00;

/** @color Amarillo Light Movistar */
$yellow_light: #FFAC0A;

/** @color Naranja Movistar */
$orange: #EC6839;

/** @color Naranja Light Movistar */
$orange_light: #FC805E;

/** @color Naranja Diseños Tags */
$orange_design: #F59C00;

/** @color Magenta Movistar */
$magenta: #E9426D;

/** @color $alert */
$red: #E9426D;

/** @color Magenta Light Movistar */
$magenta_light: #FB5C89;

/** @color Púrpura Movistar */
$purple: #954B97;

/** @color Púrpura light Movistar */
$purple_light: #B369AD;

/**
 * $c-brand
 * @color
 * @section Brand
 */
$green: #5BC500;

/**
 * $c-brand_light
 * @color
 * @section Brand
 */
$green_light: #5ED626;

/**
 * $c-brand-hover
 * @color
 * @section Brand
 */

$green_bright: #6CE009;

/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */

$green_social: #4CAF50;

/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */

$green_pastel: #ADE27F;


/**
 * $c-brand-2
 * @color
 * @section Brand
 */
$blue: #00A9E0;

/**
 * $c-brand-2_light
 * @color
 * @section Brand
 */

$blue_light: #00BCE7;

/**
 * $c-brand-2-hover
 * @color
 * @section Brand
 */

$blue_bright: #1EC1F6;

/**
 * $c-accesible-link (Enlaces accesibles nivel AA)
 * @color
 * @section Accesibilidad
 */
$blue_medium: #1979c3;

/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */

$blue_dark: #3B5998;

/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */

$blue_pastel: #7FD4EF;

/**
 * $c-social-2 (Color Social Share Google)
 * @color
 * @section Social share
 */

$red_dark: #DF4A31;

/**
 * Blanco
 * @color
 * @section Neutros
 */
$white         : #fff;
/**
 * Negro
 * @color
 * @section Neutros
 */
$black         : #000;

/**
 * Grey
 * @color
 * @section Escala de Grises
 */
$grey-0        : #F4F4F3;
/**
 * Grey 1
 * @color
 * @section Escala de Grises
 */
$grey-1        : #E9EAE8;
/**
 * Grey 2
 * @color
 * @section Escala de Grises
 */
$grey-2        : #D3D4D3;
/**
 * Grey 3
 * @color
 * @section Escala de Grises
 */
$grey-3        : #B6B7B7;
/**
 * Grey 4
 * @color
 * @section Escala de Grises
 */
$grey-4        : #86888C;
/**
 * Grey 5
 * @color
 * @section Escala de Grises
 */
$grey-5        : #50535A;
/**
 * Grey 6
 * @color
 * @section Escala de Grises
 */

$grey-6        : #CBCBCB;

/**
 * Grey 7
 * @color
 * @section Escala de Grises
 */
$grey-7        : #9B9B9B;


//* Color variables */
$c-brand        : $green;
$c-brand-hover  : $green_bright;
$c-brand_l      : $green_light;
$c-brand-2      : $blue;
$c-brand-2-hover: $blue_bright;
$c-ok           : $green;
$c-sucess       : $blue;
$c-warning      : $orange;
$c-warning_light: $orange_light;
$c-caution      : $yellow;
$c-alert        : $red;
$c-alert_hover  : $red_dark;
$c-danger       : $magenta;
$c-success      : $c-brand;
$c-txt_color    : $purple;
$c-tag-1        : $magenta;
$c-tag-1_l      : $magenta_light;
$c-tag-2        : $purple;
$c-tag-2_l      : $purple_light;
$c-tag-3        : $yellow;
$c-tag-3_l      : $yellow_light;
$c-tag-3_b      : $yellow_bright;
$c-tag-4        : $orange;
$c-tag-4_l      : $orange_light;
$c-tag-5        : $black;
$c-tag-5_l      : $grey-0;

//- Colores de fondo Movistar
$c-bg_brand-2: $blue;
$c-bg_brand  : $green;
$c-bg_danger : $magenta;
$c-bg_warning: $orange;
$c-bg_dark : $purple;
$c-bg_light: $yellow;
$c-bg_warning__design: $orange_design;

//- Cajas de Banners
$c-box-color    : $magenta;
$c-box-brand    : $blue;
$c-border-box   : $green_pastel;
$c-border-box-2 : $blue_pastel;

//- Dots Banner
$c-dot          : $grey-2;
$c-dot_bg       : $grey-0;
$c-dot-active   : $c-brand-2;


$c-social-1     : $blue_dark;
$c-social-2     : $red_dark;
$c-social-3     : $green_social;

$c-accesible-link   : $blue_medium;


$c-neutro       : $white;
$c-neutro-dark  : $black;
$c-neutro-over  : rgba($c-neutro, .3);

$c-default      : $grey-5;
$c-default-over : rgba($black, .5);
$c-default-1    : $grey-4;
$c-default-2    : $grey-3;
$c-default-3    : $grey-2;
$c-default-4    : $grey-1;
$c-default-5    : $grey-0;
$c-default-6    : $grey-6;
$c-default-7    : $grey-7;
