//*------------------------------------*\
//Variables Espacios transversales
//*------------------------------------*/

$sp-none         : 0;
$sp-xsmall       : 10px;
$sp-small        : 20px;
$sp-small-medium : 30px;
$sp-medium       : 40px;
//-$sp-small-wide: 20px;
$sp-wide         : 60px;
$sp-large        : 80px;
$sp-big          : 100px;
$sp-huge         : 120px;


$border-box_sm : 2px;
$border-box : 4px;
$border-box_m : 5px;
