//*------------------------------------*\
//Variables Typo font
//*------------------------------------*/

//font root
$font-path: "../fonts" !default;
// Variables font family:
$f-bold: 'Telefonica-Bold',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-regular: 'Telefonica-Regular',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-default: 'Telefonica-Light',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-light: 'Telefonica-ExtraLight',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$f-hand: 'telefonicaweb-hand',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$movistar-icons-font : 'icomoon' !default;


//Variable font-ico V7.0
// $i-cell-lens : \e976;
$i-cell-lens : \e8b6;
// $i-headphones: \e977;
$i-headphones: \e310;
// $i-house-wifi: \e978;
$i-house-wifi: \e63e;
// $i-music     : \e975;
$i-music : \e405;
// $i-clock-finish: \e979;
$i-clock-finish: \e192;

//Variable font-ico V6.0
// $i-cell-add     : \e968;
$i-cell-add : \e0d4;
// $i-cell-play    : \e969;
$i-cell-play : \e039;
// $i-cloud        : \e96a;
$i-cloud : \e2c2;
// $mi-instagram    : \e96b;
$mi-instagram    : \ea96;
// $i-padlock      : \e96c;
$i-padlock : \e897;
// $i-progress     : \e96d;
$i-progress : \e260;
// $i-question-ball: \e96e;
$i-question-ball: \e887;
// $i-refresh      : \e96f;
$i-refresh : \e5d5;
// $mi-snapchat     : \e970;
$mi-snapchat     : \ea98;
// $i-spotify      : \e971;
$i-spotify      : \e971;
// $i-tool-triangle: \e972;
$i-tool-triangle: \e316;
// $i-tooltip      : \e973;
$i-tooltip      : \e973;
// $mi-uber         : \e974;
$mi-uber         : \ea9a;
//Variable font-ico V5.0
// $i-bell: \e967;
$i-bell: \e7f5;
//Variable font-ico V4.0
// $i-youtube-fill  : \e951;
$i-youtube-fill : \e639;
//$i-triangle      : \e952;
//$i-triangle : \e0b2;
// $i-transport     : \e953;
$i-transport : \e531;
// $i-tablet        : \e954;
$i-tablet : \e32f;
// $i-sim-4g        : \e955;
$i-sim-4g : \e32b;
// $i-question      : \e956;
$i-question : \e887;
// $i-page-comic    : \e957;
$i-page-comic : \e227;
// $i-order         : \e958;
$i-order : \e8f6;
// $i-jpg           : \e959;
$i-jpg : \e3f4;
// $mi-google-plus   : \e95a;
$mi-google-plus   : \ea9c;
// $i-faq           : \e95b;
$i-faq : \e887;
// $mi-facebook-comic: \e95c;
// Mi
$mi-facebook-comic: \ea95;
// $i-cell-world    : \e95d;
$i-cell-world : \e894;
// $i-cell-star     : '\e95e';
$i-cell-star : '\e83a';
// $i-cell-repair   : \e95f;
$i-cell-repair : \e869;
// $i-cell-movistar : '\e960';
$i-cell-movistar : '\e960';
// $i-cell-chat     : \e961;
$i-cell-chat : \e0b7;
// $i-cell-at       : \e962;
$i-cell-at : \e63e;
// $i-camera-upload : \e963;
$i-camera-upload : \e3b0;
// $i-box-empty     : \e964;
$i-box-empty : \e862;
// $i-bag           : \e965;
$i-bag : \e54c;
// $i-accessibility : \e966;
$i-accessibility : \e914;
// Variables font-ico V3.0
// $i-calendar-comic: \e92e;
$i-calendar-comic: \e916;
// $i-cards         : \e94c;
$i-cards : \e870;
// $i-filter        : \e94d;
$i-filter : \e895;
// $i-price         : \e94e;
$i-price : \e263;
// $i-reload        : \e94f;
$i-reload : \e863;
// $mi-whatsapp      : \e950;
$mi-whatsapp      : \e9bb;
// Variables font-ico V2.0
// $i-hours                   : \e930;
$i-hours : \e01b;
// $i-alert-circular-filling  : \e931;
$i-alert-circular-filling : \e88e;
// $i-alert-triangular-filling: \e932;
$i-alert-triangular-filling: \e002;
// $i-alert-triangular        : \e933;
$i-alert-triangular : \e002;
// $i-arrow-down              : \e934;
$i-arrow-down : \e313;
// $i-arrow-left              : \e935;
$i-arrow-left : \e314;
// $i-arrow-up                : \e936;
$i-arrow-up : \e316;
// $i-bars                    : \e937;
$i-bars : \e316;
// $i-calendar                : \e938;
$i-calendar : \e916;
// $mi-check-circle2           : \e939;
$mi-check-circle2           : \e86c;
// $i-check-ring              : \e93a;
$i-check-ring : \e86c;
// $i-clock                   : \e93b;
$i-clock : \e192;
// $mi-download2               : \e93c;
$mi-download2               : \e2c0;
// $i-graphs                  : '\e93d';
$i-graphs : '\e922';
// $i-group-people            : \e93e;
$i-group-people : \e7fc;
// $i-hand-money              : \e93f;
$i-hand-money : \e227;
// $i-menu-bullets            : \e940;
$i-menu-bullets : \e5d4;
// $i-menu-historical         : \e941;
$i-menu-historical : \e241;
// $i-menu-list               : \e942;
$i-menu-list : \e241;
// $i-menu-recent             : \e943;
$i-menu-recent : \e228;
// $i-messages                : \e944;
$i-messages : \e8af;
// $i-phone-search            : \e945;
$i-phone-search : \e8b6;
// $i-search-help             : \e946;
$i-search-help : \e8b6;
// $i-star-edge               : '\e947';
$i-star-edge : '\e83a';
// $i-thief                   : \e948;
$i-thief                   : \e948;
// $i-x-ring                  : \e949;
$i-x-ring : \e5cd;
// $i-eye                     : \e94a;
$i-eye : \e417;
// Variables font-ico V1.0
// $mi-share-google            : \e92f;
$mi-share-google            : \ea9c;
// $mi-share-facebook           : \e92e;
$mi-share-facebook           : \e92e;
// $i-tel-comic               : \e92d;
$i-tel-comic : \e8a8;
// $mi-twitter-comic           : \e92c;
$mi-twitter-comic           : \ea99;
// $i-substract               : \e900;
$i-substract               : \e900;
// $i-arrow-back              : \e901;
// $i-arrow-back : \e314;
$i-arrow-back : \e313;
// $i-arrow-right             : \e902;
$i-arrow-right : \e315;
// $i-add                     : \e903;
$i-add : \e145;
// $i-box                     : \e904;
$i-box : \e8a5;
// $i-bullet-comic            : \e905;
$i-bullet-comic            : \e905;
// $i-camera                  : \e906;
$i-camera : \e3b0;
// $mi-cell-4g               : \e907;
$mi-cell-4g               : \ea26;
// $i-cell-all                : \e908;
$i-cell-all : \e337;
// $mi-cell-detail             : \e909;
$mi-cell-detail             : \ea4e;
// $i-cell-favorite           : \e90a;
$i-cell-favorite : \e87d;
// $i-cell-money              : \e90b;
$i-cell-money : \e263;
// $i-cell-recharge           : \e90c;
$i-cell-recharge : \e8d4;
// $i-cell-reload             : \e90d;
$i-cell-reload : \e028;
// $i-cell-voice              : \e90e;
$i-cell-voice : \e0d2;
// $i-cell                    : \e90f;
$i-cell : \e0d4;
// $i-chat-comic              : \e910;
$i-chat-comic : \e0ca;
// $i-chat                    : \e911;
$i-chat : \e0b9;
// $i-check-circle            : \e912;
$i-check-circle : \e86c;
// $mi-check-comic             : \e913;
$mi-check-comic             : \e5ca;
// $i-check                   : \e914;
$i-check : \e5ca;
// $i-conectivity             : \e915;
$i-conectivity : \e6dd;
// $mi-download                : \e916;
$mi-download                : \e2c0;
// $mi-facebook-fill           : \e918;
$mi-facebook-fill           : \e9bd;
// $mi-facebook                : \e919;
$mi-facebook                : \ea95;
// $i-house                   : \e91a;
$i-house : \e88a;
// $i-logo-movistar           : \e91b;
$i-logo-movistar           : \e91b;
// $i-money                   : \e91c;
$i-money : \e227;
// $i-phone                   : \e91d;
$i-phone : \e0cd;
// $i-search-nav              : \e91e;
$i-search-nav : \e8b6;
// $i-search                  : \e91f;
$i-search : \e8b6;
// $i-send-comic              : \e920;
$i-send-comic : \e163;
// $i-shopping-car            : \e921;
$i-shopping-car : \e8cc;
// $mi-star-comic              : \e922;
$mi-star-comic              : '\e838';
$i-star-comic              : '\e838';
$icon-star : '\e838';
// $i-star-fill               : '\e923';
$i-star-fill : '\e838';
// $i-star                    : '\e924';
$i-star : '\e83a';
// $i-success                 : \e925;
$i-success : \e5ca;
// $i-total                   : \e926;
$i-total : \e8ee;
// $mi-twitter                 : \e927;
$mi-twitter                 : \ea99;
// $i-user-comic              : \e928;
$i-user-comic : \e7ff;
// $i-user                    : \e929;
$i-user : \e7ff;
// $i-x                       : \e92a;
$i-x : \e5cd;
// $i-youtube                 : \e92b;
$mi-youtube                 : \e9be;
// // $i-email : \e0e1;
$i-email : \e0e1;
// $mi-twitter-circle          : \e927;
$mi-twitter-circle          : \ea99;
// $mi-facebook-circle         : \e919;
$mi-facebook-circle         : \ea95;
// $mi-youtube-circle          : \e92b;
$mi-youtube-circle          : \e9be;
// $i-wifi                    : \e94b;
$i-wifi : \e63e;

//- Prefijos Biblioteca Movistar
//- http://vass.aguayo.co/eshop/ico-movistar/demo.html
//- https://movistar.cr/c/portal/icon-selector

$mi-cell-prepago : \ea2f;

$mi-user : \e9ff;

$mi-menu : \e3c7;

$mi-Prepago_1: \ea2f;

$mi-envio-gratis_1: \ea1c;

$mi-nw-phone-in-out: \e942;

$mi-nw-phone-search: \e949;

$mi-nw-phone-price: \e947;

$mi-nw-phone-movistar: \e946;

$mi-phones-planes: \ea32;

$mi-icon-nw-chip-4g: \e935;

$mi-nw-camera: \e932;

$mi-nw-phone-star: \e94a;

$mi-directions_bike: \e52f;

$mi-ondemand_video: \e63a;

$mi-delete_forever: \e92b;

$mi-usuario_micuenta_persona_1: \ea3b;

$mi-promociones_ofertas_1: \ea30;
