<?php

    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $idWidget = "all-in-1-4-".spl_object_hash($block);
    $n = uniqid();
    $bg_img1 = $helper->getMediaUrl($block->getData("strBackgroundUrl1")); 
    //$bg_img_tablet1 = (!$bg_img_tablet1 ) ? "img/cinepolispromo.png": $bg_img_tablet1 ; Variable opcional descartada por ahora
    $bg_img_phone1 = $helper->getMediaUrl($block->getData("strBackgroundUrl2"));
    $alt_img1 = $block->getData("strImgAlt");
    $h2_heading1 = $block->getData("strH2Text");
    $p_paragraph1 = $block->getData("strTagP1");
    $p_paragraph2 = $block->getData("strTagP2");
    $p_paragraph3 = $block->getData("strTagP3");
    $p_social1 = (!$block->getData("p_social1")) ? 0: $block->getData("p_social1");
    $img_social1 = $helper->getMediaUrl($block->getData("strSocial"));
    $bg_color1 = $block->getData("strBgColor");
    $h3_heading_link1 = $block->getData("h3_heading");
    $h2_heading_color1 = $block->getData("strH2Color");
    $a_link1 = $block->getData("strUrl");
    $a_link_img1 = $block->getData("strUrlImg");
    $margin1 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin");
    $h2_heading_font_alias1 = (!$block->getData("h2_heading_font2")) ? 'Telefonica-Light': $block->getData("h2_heading_font2");
    $a_link_button_off1 = $block->getData("cta_status");
    $a_link_button1 = $block->getData("strUrlButton");
    $span_button1 = $block->getData("strButtonText");
    $text_align1 = (!$block->getData("text-align")) ? "left": $block->getData("text-align");

    $style1 = '<style>
    
    #'.$idWidget.' h2 {
        font-family: "'.$h2_heading_font_alias1.'", sans-serif;
    }

    #'.$idWidget.' {
        background-color: '.$bg_color1.';
        margin: 0 '.$margin1.'px;
    }

    #'.$idWidget.' h2, #'.$idWidget.' h3, #'.$idWidget.' p{
        text-align:'.$text_align1.';
    }

    #'.$idWidget.' .image-network{
        height: auto;
        max-width: 85%;
        object-fit: unset;
        position: relative;
    }

    </style>';
       

?>
<?php
//Variables de tageo
$idTag = (!$block->getData("tageoIdBanner")) ? "" : $block->getData("tageoIdBanner");
$name = (!$block->getData("tageoNameBanner")) ? "Home Banner" : $block->getData("tageoNameBanner");
$creative = (!$block->getData("tageoCreativeBanner")) ? "" : $block->getData("tageoCreativeBanner");
$position = (!$block->getData("tageoPositionBanner")) ? "Home|1" : $block->getData("tageoPositionBanner");
$dimension31 = (!$block->getData("tageoDimension31Banner")) ? "Prepago" : $block->getData("tageoDimension31Banner");
?>
<?php echo $style1; ?>

<div class="customBannerItem col-widget-1-4 all-in-1-4" id="<?= $idWidget; ?>" 
    <?php if(!empty($idTag)){  echo 'data-dl-home-id="'.$idTag.'"'; } ?> 
    data-dl-home-name="<?= $name; ?>" data-dl-home-creative="<?= $creative; ?>"
    data-dl-home-dimension31="<?= $dimension31; ?>" data-dl-home-position="<?= $position; ?>"                    
    data-dl-home-promoimp="1">
<?php if($bg_img1) {?>
    <?php if(!empty($a_link_img1)){ ?>
    <a  href="<?php echo $a_link_img1; ?>" target="_blank">
        <?php } ?>
        <img data-src="<?php echo $bg_img1; ?>" alt="<?php echo $alt_img1; ?>">
        <?php if(!empty($a_link_img1)){ ?>
    </a>
    <?php } ?>
    <?php } ?>
    <div class="div-text-1-4">
        <?php if(!empty($h2_heading1)){ ?>
        <h2 style="color: <?php echo $h2_heading_color1; ?>">
            <?php echo $h2_heading1; ?>
        </h2>
        <?php } ?>
        <?php if(!empty($p_paragraph1)){ ?>
        <p><?php echo $p_paragraph1; ?></p>
        <?php } ?>
        <?php if(!empty($p_paragraph2)){ ?>
        <p><?php echo $p_paragraph2; ?></p>
        <?php } ?>
        <?php if($p_social1 == 1){ ?>
            <img class="image-network" data-src="<?php echo $img_social1; ?>" alt="Redes">
        
        <?php } ?>

        <?php if(!empty($p_paragraph3)){ ?>
        <p><?php echo $p_paragraph3; ?></p>
        <?php } ?>

    </div>

    <?php if($a_link_button_off1 == 1 || !empty($a_link1)){ ?>
    <div class="div-btn-widget">
        <?php if(!empty($a_link1)){ ?>
        <a href="<?php echo $a_link1; ?>" target="_blank">
            <?php } ?>
            <h3>
                <?php echo $h3_heading_link1; ?>
            </h3>
            <?php if(!empty($a_link1)){ ?>
        </a>
        <?php } ?>
        <?php if($a_link_button_off1 == 1){ ?>
        <a class="customBannerItem" href="<?php echo $a_link_button1; ?>" target="_blank">
            <button class="banner__btn btn btn-bigger-widget">
                <span>
                    <?php echo $span_button1; ?>
                </span>
            </button>
        </a>
        <?php } ?>
    </div>
    <?php } ?>

</div>
<script>
var myFuncName4 = 'changeImg14AllIn_<?php echo $n; ?>';
window[myFuncName4] = function () {

    var id = "<?= $idWidget; ?>"
    let image = document.querySelector("#"+id+" img");

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")
    var wdth = 271
    var margin = "<?php echo $margin1; ?>"
    var newmargin = 0

    if (image != null) {
    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img1; ?>"
            wdth = (document.body.clientWidth / 2)
            newmargin = (wdth - (parseInt(margin) * 2))

            document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
                newmargin + "px; max-height:" + newmargin + "px");
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone1; ?>"
            wdth = document.body.clientWidth
            newmargin = (wdth - (parseInt(margin) * 2))
            

            document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
                newmargin + "px");
        } else {
            if ((wdth * 4) > document.body.clientWidth) {
                wdth = (document.body.clientWidth / 4)
            }


            image.dataset.src = "<?php echo $bg_img1; ?>";
            newmargin = (wdth - (parseInt(margin) * 2))


            document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
                newmargin + "px");
        }
    } else {
        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img1; ?>"
            wdth = (document.body.clientWidth / 2)
            newmargin = (wdth - (parseInt(margin) * 2))

            document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
                newmargin + "px; max-height:" + newmargin + "px");
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone1; ?>"
            wdth = document.body.clientWidth
            newmargin = (wdth - (parseInt(margin) * 2))

            document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
                newmargin + "px");
        } else {

            if ((wdth * 4) > document.body.clientWidth) {
                wdth = (document.body.clientWidth / 4)
            }
            

            image.dataset.src = "<?php echo $bg_img1; ?>"
            newmargin = (wdth - (parseInt(margin) * 2))

            document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
                newmargin + "px");
        }
    }
    }else{
        if (x.matches) {

        wdth = (document.body.clientWidth / 2)
        newmargin = (wdth - (parseInt(margin) * 2))

        document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
            newmargin + "px; max-height:" + newmargin + "px");
        } else if (y.matches) {

        wdth = document.body.clientWidth
        newmargin = (wdth - (parseInt(margin) * 2))

        document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
            newmargin + "px");
        } else {

        if ((wdth * 4) > document.body.clientWidth) {
            wdth = (document.body.clientWidth / 4)
        }

        newmargin = (wdth - (parseInt(margin) * 2))


        document.getElementById(id).setAttribute("style", "height:" + newmargin + "px; width:" +
            newmargin + "px");
        }
    }

}

Object.defineProperty(window[myFuncName4], "name", {
    value: myFuncName4
});
</script>