<?php
    $idWidget = "cream-img-button-widget-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $bg_img3_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
    $bg_img3 = $helper->getMediaUrl($bg_img3_aux);
    
    $bg_img_tablet_3_aux= (!$block->getData("strBackgroundUrl2")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl2");
    $bg_img_tablet_3 = $helper->getMediaUrl($bg_img_tablet_3_aux);
    
    $bg_img_phone_3_aux = (!$block->getData("strBackgroundUrl3")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl3");
    $bg_img_phone_3 = $helper->getMediaUrl($bg_img_phone_3_aux);
    //$bg_img3 = $block->getData("strBackgroundUrl1"); 
    //$bg_img_tablet_3 = ($block->getData("strBackgroundUrl2") ) ? "img/cinepolispromo.png": $block->getData("strBackgroundUrl2") ;
    //$bg_img_phone_3 = (!$block->getData("strBackgroundUrl3") ) ? "img/galaxy210.png": $block->getData("strBackgroundUrl3") ;
    $alt_img3 = (!$block->getData("strImgAlt")) ? "": $block->getData("strImgAlt");
    $span_button = (!$block->getData("strButtonText")) ? "": $block->getData("strButtonText");
    $a_link7 = $block->getData("strUrl");
    $margin_3 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin");
?>

<div class="customBannerItem col-widget-1-4 cream-img-button-widget" data-dl-home-dimension31="Prepago"
    data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
    data-dl-home-promoimp="4" id="<?= $idWidget; ?>" style="margin: <?php echo $margin_3; ?>">
    <?php if($bg_img3) {?>
    <img data-src="<?php echo $bg_img3; ?>" alt="<?php echo $alt_img3; ?>">
    <?php } ?>
    <div class="completing-div-button">
        <?php if($a_link7 && !empty($a_link7)){ ?>
        <a class="customBannerItem" href="<?php echo $a_link7; ?>" target="_blank" data-dl-home-dimension31="Prepago"
            data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
            data-dl-home-promoimp="4">
            <button class="banner__btn btn btn-bigger-widget">
                <span>
                    <?php echo $span_button; ?>
                </span>
            </button>
        </a>
        <?php } ?>
    </div>
</div>

<script>
function changeImg3() {
    let image = document.querySelector('#<?php echo $idWidget; ?>');

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")

    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img_tablet_3; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_3; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img3; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_3; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_3; ?>"
        } else {
            image.src = "<?php echo $bg_img3; ?>"
        }
    }


}
</script>