<?php
    $idWidget = "only-one-img-widget_original-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $bg_img20_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
    $bg_img20 = $helper->getMediaUrl($bg_img20_aux);
    
    $bg_img_tablet_20_aux= (!$block->getData("strBackgroundUrl2")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl2");
    $bg_img_tablet_20 = $helper->getMediaUrl($bg_img_tablet_20_aux);
    
    $bg_img_phone_20_aux = (!$block->getData("strBackgroundUrl3")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl3");
    $bg_img_phone_20 = $helper->getMediaUrl($bg_img_phone_20_aux);
    //$bg_img20 = (!$block->getData("strBackgroundUrl1")) ? "img/only.png": $block->getData("strBackgroundUrl1");
    //$bg_img_tablet_20 = (!$block->getData("strBackgroundUrl2") ) ? "img/only.png": $block->getData("strBackgroundUrl2") ;
    //$bg_img_phone_20 = (!$block->getData("strBackgroundUrl3") ) ? "img/galaxy210.png": $block->getData("strBackgroundUrl3") ;
    $alt_img20 = (!$block->getData("strImgAlt")) ? "": $block->getData("strImgAlt");
    $a_link20 = $block->getData("strUrl");
    $margin_1 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin");
?>
<div class="col-widget-1-4 only-one-img-widget only-one-img-widget_original" id="<?= $idWidget; ?>" style="margin: <?php echo $margin_1; ?>">
    <?php if($a_link20 && !empty($a_link20)){ ?>
    <a class="customBannerItem" href="<?php echo $a_link20; ?>" target="_blank" data-dl-home-dimension31="Prepago"
        data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
        data-dl-home-promoimp="4" >
    <?php } ?>
        <img data-src="<?php echo $bg_img20; ?>" alt="<?php echo $alt_img20; ?>">
    <?php if($a_link20 && !empty($a_link20)){ ?>
    </a>
    <?php } ?>
</div>
<script>
function changeImg4() {
    let image = document.querySelector('#<?php echo $idWidget; ?>');

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")

    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img_tablet_20; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_20; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img20; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_20; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_20; ?>"
        } else {
            image.src = "<?php echo $bg_img20; ?>"
        }
    }


}
</script>