<?php
    $idWidget = "only-one-img-widget_two-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $bg_img4_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
    $bg_img4 = $helper->getMediaUrl($bg_img4_aux);
    
    $bg_img_tablet_4_aux= (!$block->getData("strBackgroundUrl2")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl2");
    $bg_img_tablet_4 = $helper->getMediaUrl($bg_img_tablet_4_aux);
    
    $bg_img_phone_4_aux = (!$block->getData("strBackgroundUrl3")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl3");
    $bg_img_phone_4 = $helper->getMediaUrl($bg_img_phone_4_aux);

    //$bg_img_tablet_4 = (!$block->getData("strBackgroundUrl2") ) ? "img/cinepolispromo.png": $block->getData("strBackgroundUrl2") ;
    //$bg_img_phone_4 = (!$block->getData("strBackgroundUrl3") ) ? "img/galaxy210.png": $block->getData("strBackgroundUrl3") ;
    $alt_img4 = (!$block->getData("strImgAlt")) ? "": $block->getData("strImgAlt");
    $a_link3 = $block->getData("strUrl");
    $margin_2 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin");
?>
<div class="customBannerItem col-widget-1-4 only-one-img-widget only-one-img-widget_two" data-dl-home-dimension31="Prepago"
    data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
    data-dl-home-promoimp="4" id="<?= $idWidget; ?>" style="margin: <?php echo $margin_2; ?>">
    <?php if($a_link3 && !empty($a_link3)){ ?>
    <a class="customBannerItem" href="<?php echo $a_link3; ?>" target="_blank" data-dl-home-dimension31="Prepago"
        data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
        data-dl-home-promoimp="4">
    <?php } ?>
        <img data-src="<?php echo $bg_img4; ?>" alt="<?php echo $alt_img4; ?>">
    <?php if($a_link3 && !empty($a_link3)){ ?>
    </a>
    <?php } ?>
</div>

<script>
function changeImg2() {
    let image = document.querySelector('#<?php echo $idWidget; ?>');

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")

    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img_tablet_4; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_4; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img4; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_4; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_4; ?>"
        } else {
            image.src = "<?php echo $bg_img4; ?>"
        }
    }


}
</script>