<?php
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $h2_heading2 = $block->getData("strH2Text");
    $p_paragraph3 = $block->getData("strTagP3");
    $p_paragraph4 = $block->getData("strTagP4");
    $p_paragraph2 = $block->getData("strTagP2");
    $p_social = $block->getData("strSocial");
    $bg_img20 = $helper->getMediaUrl($p_social);
    $bg_color3 = (!$block->getData("strBgColor")) ? "#00A9E0": $block->getData("strBgColor");
    $h2_heading3 = $block->getData("strTagP1");
    $h2_heading3_color = (!$block->getData("strColorP1")) ? "#fff": $block->getData("strColorP1");
    $h2_heading2_color = (!$block->getData("strColorP2")) ? "#fff": $block->getData("strColorP2");
    $a_link = $block->getData("strUrl");
    $padding = (!$block->getData("strPadding") ) ? "20px 20px": $block->getData("strPadding");
    $margin_5 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin");
    $bg_img3_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
    $bg_img3 = $helper->getMediaUrl($bg_img3_aux);
    $alt_img3 = $block->getData("strImgAlt");


//$h2_heading_font2 = (!$block->getData("h2_heading_font2")) ? 'https://fonts.googleapis.com/css?family=Roboto&display=swap': $block->getData("h2_heading_font2");
    $h2_heading_font_alias2 = (!$block->getData("h2_heading_font_alias2")) ? 'Telefonica-Light': $block->getData("h2_heading_font_alias2") ;

    $style2 = '<style>
    
    .blue-reload-promo-widget h2 {
        font-family: "'.$h2_heading_font_alias2.'";
    }
    </style>';


?>

<?php echo $style2; ?>

<div class="customBannerItem col-widget-1-4 blue-reload-promo-widget"
    style="background-color: <?php echo $bg_color3; ?>; padding:  <?php echo $padding; ?>; margin: <?php echo $margin_5; ?>">
    <?php if($bg_img3) {?>
    <img data-src="<?php echo $bg_img3; ?>" alt="<?php echo $alt_img3; ?>">
    <?php } ?>
    <div class="div-text-1-4">
    <?php if($h2_heading2){ ?>
    <h2 style="color: <?php echo $h2_heading2_color; ?>">
        <?php echo $h2_heading2; ?>
    </h2>
    <?php } ?>  
    <?php if($p_paragraph2){ ?>
        <p><?php echo $p_paragraph2; ?></p>
        <?php } ?>
        <?php if($p_paragraph3){ ?>
        <p><?php echo $p_paragraph3; ?></p>
        <?php } ?>
    <?php if($p_social){ ?>
    <img data-src="<?php echo $bg_img20; ?>">
    <?php } ?>

    <?php if($p_paragraph4){ ?>
    <?php echo $p_paragraph4; ?>
    <?php } ?>

    <?php if($a_link && !empty($a_link)){ ?>
    <a class="customBannerItem" href="<?php echo $a_link; ?>" target="_blank" data-dl-home-dimension31="Prepago"
        data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
        data-dl-home-promoimp="4">
        <?php } ?>
        <h3 style="color: <?php echo $h2_heading3_color; ?>">
            <?php echo $h2_heading3; ?>
        </h3>
        <?php if($a_link && !empty($a_link)){ ?>
    </a>
    <?php } ?>
    </div>
</div>