<?php
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $bg_img_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
    $bg_img = $helper->getMediaUrl($bg_img_aux);
    //$bg_img = $block->getData("strBackgroundUrl1"); 
    $h2_heading = $block->getData("strH2Text");
    $h2_heading_color = (!$block->getData("strH2Color")) ? "#fff": $block->getData("strH2Color");
    $p_paragraph1 = $block->getData("strTagP1");
    $p_paragraph2 = $block->getData("strTagP2");
    $margin_6 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin");
    $p_paragraph1_color = (!$block->getData("strColorP1")) ? "#fff": $block->getData("strColorP1");
    $p_paragraph2_color = (!$block->getData("strColorP2")) ? "#fff": $block->getData("strColorP2");
    $bg_color = (!$block->getData("strBgColor")) ? "#fff": $block->getData("strBgColor");
    $alt_img = (!$block->getData("strImgAlt")) ? "": $block->getData("strImgAlt");
    $a_link5 = $block->getData("strUrl");

    //$h2_heading_font = (!$block->getData("h2_heading_font2")) ? 'https://fonts.googleapis.com/css?family=Roboto&display=swap': $block->getData("h2_heading_font2");
    $h2_heading_font_alias = (!$block->getData("h2_heading_font2")) ? 'Telefonica-Light': $block->getData("h2_heading_font2") ;

    $style = '<style>

    .green-reload-widget h2 {
        font-family: "'.$h2_heading_font_alias.'";
    }
    </style>';

?>

<?php echo $style; ?>

<div class="customBannerItem col-widget-1-4 green-reload-widget"
    style="background-color: <?php echo $bg_color; ?>;margin: <?php echo $margin_6; ?>;"
    data-dl-home-dimension31="Prepago" data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal"
    data-dl-home-id="00004" data-dl-home-promoimp="4">
    <?php if($h2_heading) {?>
    <h2 style="color: <?php echo $h2_heading_color; ?>">
        <?php echo $h2_heading; ?>
    </h2>
    <?php } ?>
    <?php if($p_paragraph1) {?>
    <p style="color: <?php echo $p_paragraph1_color; ?>">
        <?php echo $p_paragraph1; ?>
    </p>
    <?php } ?>
    <?php if($p_paragraph2) {?>
    <p style="color: <?php echo $p_paragraph2_color; ?>">
        <?php echo $p_paragraph2; ?>
    </p>
    <?php } ?>
    <?php if($bg_img) {?>
    <?php if($a_link5 && !empty($a_link5)){ ?>
    <a class="customBannerItem" href="<?php echo $a_link5; ?>" target="_blank" data-dl-home-dimension31="Prepago"
        data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
        data-dl-home-promoimp="4">
        <?php } ?>
        <img src="<?php echo $bg_img; ?>" alt="<?php echo $alt_img; ?>">
    <?php if($a_link5 && !empty($a_link5)){ ?>
    </a>
    <?php } ?>
    <?php } ?>
</div>