<?php
$helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
$bg_img5_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
$bg_img5 = $helper->getMediaUrl($bg_img5_aux);
//$bg_img5 = (!$block->getData("bg_img5")) ? "img/galaxy210.png": $block->getData("bg_img5");
$bg_img_tablet_5 = (!$block->getData("bg_img_tablet_5") ) ? "img/cinepolispromo.png": $block->getData("bg_img_tablet_5") ;
$bg_img_phone_5 = (!$block->getData("bg_img_phone_5") ) ? "img/galaxy210.png": $block->getData("bg_img_phone_5") ;
$alt_img5 = (!$block->getData("alt_img5")) ? "": $block->getData("alt_img5");
$h2_heading6 = $block->getData("h2_heading6");
$h3_heading6 = $block->getData("h3_heading6");
$h2_heading6_color = (!$block->getData("h2_heading6_color")) ? "#111": $block->getData("h2_heading6_color");
$h3_heading6_color = (!$block->getData("h3_heading6_color")) ? "#111": $block->getData("h3_heading6_color");
$a_link8 = $block->getData("a_link8");
$span_button2 = (!$block->getData("span_button2")) ? "": $block->getData("span_button2");
$svg_off = $block->getData("svg_off");
$svg_color = ($block->getData("svg_off") == 0) ? 'transparent' : ((!$block->getData("svg_color")) ? "#fff" : $block->getData("svg_color"));
$margin_7 = (!$block->getData("margin_7")) ? "0": $block->getData("margin_7");//corregir variables

$h2_heading_font4 = (!$block->getData("h2_heading_font2")) ? 'https://fonts.googleapis.com/css?family=Roboto&display=swap': $block->getData("h2_heading_font2");
    $h2_heading_font_alias4 = (!$block->getData("h2_heading_font2")) ? 'myFirstFont': $block->getData("h2_heading_font2");

    $style4 = '<style>
    @font-face {
        font-family: "'.$h2_heading_font_alias4.'";
        src: url("'.$h2_heading_font4.'");
        font: display: swap;
    }
    
    .page_banner_with_margin_inverse h2 {
        font-family: "'.$h2_heading_font_alias4.'";
    }
    </style>';
?>

<?php echo $style4; ?>

<div class="col-widget-3-4 page_banner_with_margin_inverse" style="margin: <?php echo $margin_7; ?>">
    <img data-src="<?php echo $bg_img5; ?>" alt="<?php echo $alt_img5; ?>">
    <div class="completing-div_inverse" style="background-color: <?php echo $svg_color; ?>">
        <div class="completing-context_inverse">
            <?php if($h2_heading6){ ?>
            <h2 style="color: <?php echo $h2_heading6_color; ?>">
                <?php echo $h2_heading6; ?>
            </h2>
            <?php } ?>
            <?php if($h3_heading6){ ?>
            <h3 style="color: <?php echo $h3_heading6_color; ?>">
                <?php echo $h3_heading6; ?>
            </h3>
            <?php } ?>
            <?php if($a_link8){ ?>
            <a class="customBannerItem" href="<?php echo $a_link8; ?>" target="_blank"
                data-dl-home-dimension31="Prepago" data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal"
                data-dl-home-id="00004" data-dl-home-promoimp="4">
                <button class="banner__btn btn btn-bigger-widget_blue">
                    <span>
                        <?php echo $span_button2; ?>
                    </span>
                </button>
            </a>
            <?php } ?>
        </div>
    </div>
</div>

<script>
function changeImg12() {
    let image = document.querySelector('.page_banner_with_margin_inverse img');

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")

    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img_tablet_5; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_5; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img5; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_5; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_5; ?>"
        } else {
            image.src = "<?php echo $bg_img5; ?>"
        }
    }


}
</script>

            image.dataset.src = "<?php echo $bg_img_tablet_50; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_50; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img50; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_50; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_50; ?>"
        } else {
            image.src = "<?php echo $bg_img50; ?>"
        }
    }


}
</script>