<?php 
$helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
     $idWidget = "marca-carrusel-".uniqid();
     $n = uniqid();
     //Variables de tageo    
    $position = (!$block->getData("tageoPositionBanner")) ? "Cuadricula" : $block->getData("tageoPositionBanner");
    $dimension31 = (!$block->getData("tageoDimension31Banner")) ? "" : $block->getData("tageoDimension31Banner");
    $title = $this->getTitle();
    $marcas = $block->getMarcas();
    $image = 'favorite_products_content_widget_grid';  
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";
    $lista_productos = array();   

if(isset($marcas['error'])):
    echo $marcas['error'];    
else:

    
?>


<div class="destacado-carrusel-widget" id="<?php echo $idWidget; ?>">
    <h2>
        <?php echo $title; ?>
    </h2>
    <div class="for-marcas-widget-false">
    <div class="tab-vitrina-widget for-marcas-widget">
    <?php foreach($marcas as $marca) : $path_parts=explode('/', $marca['bg_img']);?>
        <button class="tablinks"
            onclick="openIt(event, '<?php echo $path_parts[count($path_parts)-1]; ?>', '<?php echo $idWidget; ?>', this);lazyLoad()"><img src="<?php echo $helper->getMediaUrl($marca['bg_img']); ?>"></button>

    <?php endforeach; ?>
    </div>
    </div>

    <div class="wrapper-carousel-widget">
        <ul class="carousel-carousel-widget" data-target="carousel-<?php echo $idWidget; ?>">
        <?php foreach($marcas as $marca) : $path_parts=explode('/', $marca['bg_img']); ?>
            <?php foreach ($marca['products'] as $p) :
            $item = $block->getProductById($p['entity_id']); 
            array_push($lista_productos, $item);
            $gtm_data = [
                'event'         => 'evBoton',
                'nameSection'   => $item->getName(),
                'btnSelect'     => $item->getName(),
            ];
            $productImage = $block->getImage($item, $image, array('longdesc'=>$item->getProductUrl()));
            ?>
        <li class="card-carousel-widget quitar-widget-<?php echo $idWidget; ?> est<?php echo $idWidget; ?> " data-target="card-<?php echo $idWidget; ?>" data-marca="<?php echo $path_parts[count($path_parts)-1]; ?>">
                <article class="vsm-grid grid__slot slick-slide slick-current slick-active" aria-hidden="false"
                    style="width: 100%; display:block;" tabindex="0">
                    <div class="grid__inner">
                            <figure class="grid__photo special-img-widget">
                                <a data-dl-product-marcas-view-detail="<?php echo $item->getId(); ?>" href="<?= /* @escapeNotVerified */ $item->getProductUrl(); ?>" class="grid__action" tabindex="-1">
                                    <?= $productImage->toHtml() ?>
                                </a>
                            </figure>

                        <div class="grid__body">

                            <div class="vsm-grid__head">
                                <div class="vsm-grid__row">
                                    <div class="vsm-grid__col" style="display:table-row">
                                        <div class="rating grid__rating" itemprop="aggregateRating" itemscope=""
                                            itemtype="http://schema.org/AggregateRating">
                                            <div class="rating-summary">
                                                <div class="rating-result" title="<?php echo $block->getRatingSummary($item); ?>%">

                                                    <span style="width:<?php echo $block->getRatingSummary($item); ?>%">
                                                        <span>
                                                        <?php echo $block->getRatingSummary($item); ?>%
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="vsm-grid__col">

                                            <img class="vsm-grid__img" src="<?= $link_media ?>discapacidad.svg" alt="Accesibilidad"/>                               
                                        </div>
                                    </div>

                                </div>


                                <h2 class="grid__title"><?php echo $item->getName(); ?></h2>
                            </div>

                            <div class="vsm-grid__footer grid__footer">
                                <p class="grid__label">Desde</p>

                                <div class="vsm-grid__block">
                                    <div class="grid__price">
                                        <small class="grid__label_brand2">Plan/mes*</small>
                                        <span class="grid__value">
                                        $<?php echo  number_format(ceil($item->getPrice()*.5/24),0,'.',','); ?><span class="grid__value-disclaimer">/mes*</span>
                                        </span>
                                    </div>

                                    <div class="grid__price">
                                        <small class="grid__label_brand">Prepago</small>
                                        <span class="grid__value">
                                        $<?php echo number_format(ceil($item->getPricePrepago()),0,'.',','); ?></span>
                                    </div>
                                </div>
                                <div class="grid__center">
                                    <form class="vsm-grid__form-foot">
                                        <input type="hidden" name="product" tabindex="0">
                                        <input type="hidden" tabindex="0">
                                        <input type="hidden" tabindex="0">
                                        <a class="btn" data-dl-product-marcas-view-detail="<?php echo $item->getId(); ?>"
                                            href="<?php echo $item->getProductUrl(); ?>?origin=prepago">
                                            Ver detalle
                                        </a>
                                    </form>                                    
                                </div>
                                <div data-role="coadd-to-links" class="actions-secondary grid__center">                                  
                                    <a href="#"
                                        data-gtm-data='<?php echo json_encode($gtm_data); ?>'
                                        data-post='<?= /* @escapeNotVerified */ $block->getCompareHelper()->getPostDataParams($item) ?>'
                                        class='agu-grid-row gtm-product-add-to-compare'
                                        title='<?= $block->escapeHtml(__('Add to Compare')) ?>'
                                        aria-label='<?php echo $block->escapeHtml(__('Add to Compare')); ?>'
                                        role='button'><span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
                                    </a>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <?php endforeach; ?>
            <?php endforeach; ?>
        </ul>

    </div>
    <div class="button-wrapper-carousel-widget">
        <button data-action="slideLeft-<?php echo $idWidget; ?>">
            <span class="the-left-widget">
            </span>
        </button>
        <button data-action="slideRight-<?php echo $idWidget; ?>">
            <span class="the-right-widget">
            </span>
        </button>
    </div>
</div>
<script type="text/javascript">
     require([
        'jquery'
    ], function (
        $
    ) {
        <?php $_cfg_dl_split  = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('datalayer/setttings/split'); ?>

        jQuery(window).load(function() {
            window.dataLayer = window.dataLayer || [];                      
            
                var impressions     = [];
                var impressionsdl   = [];
                var dl_split        = [];
                var split_size      = <?php  echo $_cfg_dl_split; ?>;
                
                var dl_list     = '<?= $dimension31; ?>';
                var dl_position = '<?= $position; ?>|';                                

                <?php 
                    $cont_prod = 0;
                    foreach ($lista_productos as $_product):
                        $cont_prod++;
                ?>
                    impressions.push(
                        {
                            'name':         '<?php echo $_product->getName();   ?>',
                            'id':           '<?php echo $_product->getSku();    ?>',                            
                            'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',                            
                            'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                            'category':     'Celular',
                            'variant' :     'N/A',
                            'list':         dl_list,
                            'position':     dl_position + '<?= $cont_prod ?>',
                            'dimension28':  'Tienda Movistar'
                        }
                    );

                    impressionsdl.push(
                        {
                            'id': '<?php echo $_product->getId(); ?>',
                            'data':
                                {
                                    'name':         '<?php echo $_product->getName(); ?>',
                                    'id':           '<?php echo $_product->getSku(); ?>',                                    
                                    'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',                                    
                                    'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                                    'category':     'Celular',
                                    'variant' :     'N/A',
                                    'list':         dl_list,
                                    'position':     dl_position + '<?= $cont_prod ?>',
                                    'dimension28':  'Tienda Movistar'
                                }
                        }
                    );
                <?php endforeach; ?>


                while (impressions.length > 0)
                    dl_split.push(impressions.splice(0, split_size));

                for (var i = 0; i < dl_split.length; i++) {
                    dataLayer.push({
                        'event': 'productImpression',
                        'ecommerce': {
                            'currencyCode': 'MXN',
                            'impressions': dl_split[i]
                        }
                    });
                }


                jQuery("a[data-dl-product-marcas-view-detail]").click(function (evt) {                        
                    var retr = jQuery(this).data('dl-product-marcas-view-detail');
                    var retrdl;

                    for(var key in impressionsdl) {

                        if (impressionsdl[key]['id'] == retr) {
                            retrdl = impressionsdl[key]['data'];
                        }
                    }

                    dataLayer.push({
                        'event': 'productClick',
                        'ecommerce': {
                            'click': {
                                'actionField' : {'list' : dl_list},
                                'products': [
                                    retrdl
                                ]
                            }
                        }
                    });
                });            
        });
    });
</script>
<script>
var myFuncName5 = 'cargaVideos_d<?php echo $n; ?>';
window[myFuncName5] = function() {
    var carousel = document.querySelector("[data-target='carousel-<?php echo $idWidget; ?>']");
    var card = carousel.querySelector("[data-target='card-<?php echo $idWidget; ?>']");
    var leftButton = document.querySelector("[data-action='slideLeft-<?php echo $idWidget; ?>']");
    var rightButton = document.querySelector("[data-action='slideRight-<?php echo $idWidget; ?>']");

    var carouselWidth = carousel.offsetWidth;
    var cardStyle = card.currentStyle || window.getComputedStyle(card)
    var cardMarginRight = Number(cardStyle.marginRight.match(/\d+/g)[0]);
    var numeros = 4;

    var cardCount = carousel.querySelectorAll("[data-target='card-<?php echo $idWidget; ?>']").length;

    var y = window.matchMedia("(max-width: 860px)");
    if (y.matches) {
        numeros = 1;
    }

    cardCount = makeDivisble(cardCount, numeros);

    let offset = 0;
    var maxX = -((cardCount / numeros) * carouselWidth +
        (cardMarginRight * (cardCount / numeros)) -
        carouselWidth - cardMarginRight);

    leftButton.addEventListener("click", function() {
        if (offset !== 0) {
            offset += carouselWidth + cardMarginRight;
            carousel.style.transform = 'translateX('+offset+'px)';
        }
    })

    rightButton.addEventListener("click", function() {
        if (offset !== maxX) {
            offset -= carouselWidth + cardMarginRight;
            carousel.style.transform = 'translateX('+offset+'px)';
        }
    });
}

Object.defineProperty(window[myFuncName5], "name", {
    value: myFuncName5
});


function openIt(evt, itemName, id, el) {
    var tablinks;
    var estno = document.querySelectorAll("li.quitar-widget-"+id);
    var data = "[data-marca='"+itemName+"']";
    [].forEach.call(estno, function(i, index, array) {
         i.style.display = "none";
    });
    var est = document.querySelectorAll(data);
    [].forEach.call(est, function(i, index, array) {
         i.style.display = "block";
    });

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    el.className += " active";

}
</script>
<?php endif; ?>