<?php
$info = $block->getDataInformation()[0];
    $bg_section_color_1 = (!$info['bg_color']) ? "#111": $info['bg_color'];

    $h2_heading_section = $info['h2_heading'];

    $h2_heading_color_section = (!$info['h2_heading_color']) ? "#fff": $info['h2_heading_color']; 

?>
<?php
//Variables de tageo
$idTag = (!$block->getData("tageoIdBanner")) ? "" : $block->getData("tageoIdBanner");
$name = (!$block->getData("tageoNameBanner")) ? "Home Banner" : $block->getData("tageoNameBanner");
$creative = (!$block->getData("tageoCreativeBanner")) ? "" : $block->getData("tageoCreativeBanner");
$position = (!$block->getData("tageoPositionBanner")) ? "Home|1" : $block->getData("tageoPositionBanner");
$dimension31 = (!$block->getData("tageoDimension31Banner")) ? "Prepago" : $block->getData("tageoDimension31Banner");
?>
<div class="customBannerItem section-title" style="background-color: <?php echo  $bg_section_color_1; ?>"  
    <?php if(!empty($idTag)){  echo 'data-dl-home-id="'.$idTag.'"'; } ?> 
    data-dl-home-name="<?= $name; ?>" data-dl-home-creative="<?= $creative; ?>"
    data-dl-home-dimension31="<?= $dimension31; ?>" data-dl-home-position="<?= $position; ?>" >
    <div class="contenedor-max">
    <?php if(!empty($h2_heading_section )){ ?>
    <h2 style="color: <?php echo $h2_heading_color_section; ?>">
        <?php echo $h2_heading_section ; ?>
    </h2>
    <?php } ?>
    </div>
</div>