<?php

    $bg_img13 = (!$bg_img13) ? "img/iphone.png": $bg_img13;
    $bg_img_tablet_13 = (!$bg_img_tablet_13) ? "img/iphone.png": $bg_img_tablet_13;
    $bg_img_phone_13 = (!$bg_img_phone_13) ? "img/iphone.png": $bg_img_phone_13;
    $alt_img13 = (!$alt_img13) ? "Imagen 13": $alt_img13;
    $h2_heading13 = (!$h2_heading13) ? "iPhone X": $h2_heading13;
    $h4_heading13 = (!$h4_heading13) ? "Nuevo": $h4_heading13;
    $h3_heading13 = (!$h3_heading13) ? "Llévatelo con <b>Plan Ilimitado</b>": $h3_heading13;
    $h2_heading13_color = (!$h2_heading13_color) ? "#111": $h2_heading13_color;
    $h3_heading13_color = (!$h3_heading13_color) ? "#111": $h3_heading13_color;
    $h4_heading13_color = (!$h4_heading13_color) ? "#111": $h4_heading13_color;
    $a_link13 = (!$a_link13) ? "https://youtube.com.mx/": $a_link13;
    $span_button13 = (!$span_button13) ? "Comprar": $span_button13;
    $svg_off13 = (!$svg_off13) ? 1: $svg_off13;
    $svg_color13 = ($svg_off13 == 0) ? 'transparent' : ((!$svg_color13) ? "#fff" : $svg_color13);

    $h2_heading_font6 = (!$h2_heading_font6) ? 'https://fonts.googleapis.com/css?family=Roboto&display=swap': $h2_heading_font6 ;
    $h2_heading_font_alias6 = (!$h2_heading_font_alias6) ? 'myFirstFont': $h2_heading_font_alias6 ;

    $style6 = '<style>
    @font-face {
        font-family: "'.$h2_heading_font_alias6.'";
        src: url("'.$h2_heading_font6.'");
        font: display: swap;
    }
    
    .half-page_banner_no_margin_curve h2 {
        font-family: "'.$h2_heading_font_alias6.'";
    }
    </style>';
?>

<?php echo $style6; ?>

<div class="col-widget-half half-page_banner_no_margin_curve">
    <img data-src="<?php echo $bg_img13; ?>" alt="<?php echo $alt_img13; ?>">

    <div class="completing-div-half-curve" style="background-color: <?php echo $svg_color13; ?>">
        <h4 style="color: <?php echo $h4_heading13_color; ?>">
            <?php echo $h4_heading13; ?>
        </h4>

        <h2 style="color: <?php echo $h2_heading13_color; ?>">
            <?php echo $h2_heading13; ?>
        </h2>

        <h3 style="color: <?php echo $h3_heading13_color; ?>">
            <?php echo $h3_heading13; ?>
        </h3>
        <?php if($a_link13){ ?>
        <a class="customBannerItem" href="<?php echo $a_link13; ?>" target="_blank" data-dl-home-dimension31="Prepago"
            data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal" data-dl-home-id="00004"
            data-dl-home-promoimp="4">
            <button class="banner__btn btn btn-bigger-widget_green">
                <span>
                    <?php echo $span_button13; ?>
                </span>
            </button>
        </a>
        <?php } ?>
    </div>
</div>

<script>
function changeImg7() {
    let image = document.querySelector('.half-page_banner_no_margin_curve img');

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")

    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img_tablet_13; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_13; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img13; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_13; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_13; ?>"
        } else {
            image.src = "<?php echo $bg_img13; ?>"
        }
    }


}
</script>