<?php
    $idWidget = "half-page_banner_with_margin-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $bg_img9_aux = $block->getData("strBackgroundUrl1");
    $bg_img9 = $helper->getMediaUrl($bg_img9_aux);
    $n = uniqid();
    $bg_img_tablet_9_aux = $block->getData("strBackgroundUrl2");
    $bg_img_tablet_9 = $helper->getMediaUrl($bg_img_tablet_9_aux);

    $bg_img_phone_9_aux = $block->getData("strBackgroundUrl3");
    $bg_img_phone_9 = $helper->getMediaUrl($bg_img_phone_9_aux);

    //$bg_img_tablet_9 = (!$block->getData("strBackgroundUrl2") ) ? "img/cinepolispromo.png": $block->getData("strBackgroundUrl2") ;
    //$bg_img_phone_9 = (!$block->getData("strBackgroundUrl3") ) ? "img/motorola-one.png": $block->getData("strBackgroundUrl3") ;
    $alt_img9 = (!$block->getData("strImageAlt")) ? "": $block->getData("strImageAlt");
    $h2_heading9 = $block->getData("h2HeadingTextLine1");
    $h3_heading9 = $block->getData("h3HeadingText");
    $h2_heading9_color = (!$block->getData("h2ColorText")) ? "#fff": $block->getData("h2ColorText");
    $h3_heading9_color = (!$block->getData("h3ColorText")) ? "#fff": $block->getData("h3ColorText");
    $a_link9 = $block->getData("ctaLink");
    $a_check9 = $block->getData("checkCta");
    $span_button9 = (!$block->getData("ctaText")) ? "": $block->getData("ctaText");
    $svg_off2 = $block->getData("svgCurve");
    $svg_color2 = ($svg_off2 == 0) ? 'transparent' : ((!$block->getData("svgCurveColor")) ? "#00A9E0" : $block->getData("svgCurveColor"));
    $svg_color2 = str_replace ( "#", '' , $svg_color2 );
    $margin_9 = (!$block->getData("strMargin")) ? "0": $block->getData("strMargin"); 

    $svg_url2 = "data:image/svg+xml,%3Csvg width='341px' height='307px' viewBox='0 0 341 307' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-Copy-8' transform='translate(-369.000000, 0.000000)' fill='%23".$svg_color2."'%3E%3Cg id='a9-feature-image-copy'%3E%3Cpath d='M367.496217,255.882538 C367.516704,255.815528 603.508516,328.038739 613.180822,330.995859%0AC694.432406,300.702671 745.476663,247.25048 748.33588,135.584912 C749.085649,105.730139 749.579905,78.5050159%0A750.306923,52.8348795 C750.590995,51.9057233 457.274817,-37.7700317 457.274817,-37.7700317%0AC457.274817,-37.7700317 427.348617,60.1141581 367.496217,255.882538 Z' id='M' transform='translate(558.903577,%0A146.612914) scale(-1, 1) rotate(-17.000000) translate(-558.903577, -146.612914) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
    $svg_url_mobile2 = "data:image/svg+xml,%3Csvg width='320px' height='241px' viewBox='0 0 320 241' version='1.1' xmlns='http://www.w3.org/2000/svg'%0Axmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Hero---con-curva---Mobile-Copy-13' transform='translate(0.000000, -178.000000)' fill='%23".$svg_color2."'%3E%3Cg id='Group-2'%3E%3Cg id='a9-feature-image-copy-2'%3E%3Cpath d='M289.646278,462.287926 C325.425627,346.617985 343.172038,288.609116%0A342.885513,288.261321 C270.319794,200.887833 181.95935,157.011104 90.795982,177.141902%0AC72.2445085,181.23308 53.9013849,187.889186 36.1694921,196.925266 L-16.3712436,368.728981%0AL289.646278,462.287926 Z' id='M' transform='translate(163.257135, 317.299220) scale(-1, 1) rotate(-17.000000)%0Atranslate(-163.257135, -317.299220) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";

    
    //$h2_heading_font7 = (!$block->getData("strMargin")) ? 'https://fonts.googleapis.com/css?family=Roboto&display=swap': $block->getData("strMargin");
    $h2_heading_font_alias7 = (!$block->getData("h2FontText")) ? 'Telefonica-Regular': $block->getData("h2FontText");
    $second_view = 1;
    $style7 = '<style>

    #'.$idWidget.' .completing-div-half{
        background-image: url("'.$svg_url2.'")
    }


    #'.$idWidget.'{
        margin: 0 '.$margin_9.'px;
    }

    
    #'.$idWidget.' h2 {
        font-family: "'.$h2_heading_font_alias7.'", sans-serif;
    }

    @media (max-width: 415px) {

        #'.$idWidget.' .completing-div-half{
            background-image: url("'.$svg_url_mobile2.'")
        }

    }
    </style>';
?>
<?php
//Variables de tageo
$idTag = (!$block->getData("tageoIdBanner")) ? "" : $block->getData("tageoIdBanner");
$name = (!$block->getData("tageoNameBanner")) ? "Home Banner" : $block->getData("tageoNameBanner");
$creative = (!$block->getData("tageoCreativeBanner")) ? "" : $block->getData("tageoCreativeBanner");
$position = (!$block->getData("tageoPositionBanner")) ? "Home|1" : $block->getData("tageoPositionBanner");
$dimension31 = (!$block->getData("tageoDimension31Banner")) ? "Prepago" : $block->getData("tageoDimension31Banner");
?>
<?php echo $style7; ?>

<div class="customBannerItem col-widget-half half-page_banner_with_margin" id="<?php echo $idWidget; ?>" 
     <?php if(!empty($idTag)){  echo 'data-dl-home-id="'.$idTag.'"'; } ?> 
    data-dl-home-name="<?= $name; ?>" data-dl-home-creative="<?= $creative; ?>"
    data-dl-home-dimension31="<?= $dimension31; ?>" data-dl-home-position="<?= $position; ?>">
    <?php if(!empty($bg_img9)) { ?>
    <img data-src="<?php echo $bg_img9; ?>" alt="<?php echo $alt_img9; ?>">
    <?php } ?>

    <?php if($second_view == 0) { ?>
    <div class="completing-div-half complete-half-width">
        <?php } else { ?>
        <div class="completing-div-half">
            <?php } ?>
            <div class="completing-context-half">
                <?php if(!empty($h2_heading9)) { ?>
                <h2 style="color: <?php echo $h2_heading9_color; ?>">
                    <?php echo $h2_heading9; ?>
                </h2>
                <?php } ?>
                <?php if($svg_off2 == 1) { ?>
                    <?php if(!empty($h3_heading9)) { ?>
                <h3 style="color: <?php echo $h3_heading9_color; ?>">
                    <?php echo $h3_heading9; ?>
                </h3>
                <?php } ?>
                <?php } ?>
                <?php if($a_check9 == 1){ ?>
                <a href="<?php echo $a_link9; ?>" target="_blank" data-dl-home-promoimp="4">
                    <button class="banner__btn btn btn-bigger-widget_green widget-tag-click">
                        <span>
                            <?php echo $span_button9; ?>
                        </span>
                    </button>
                </a>
                <?php } ?>
            </div>
        </div>
    </div>

    <script>
    var myFuncName46 = 'changeImgHalfPageWithMargin_<?php echo $n; ?>';
    window[myFuncName46] = function changeImgHalfPageWithMargin() {

        let image = document.querySelector('#<?php echo $idWidget; ?> img');
        var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
        var y = window.matchMedia("(max-width: 768px)")
        var wdth = 542
        var margin = "<?php echo $margin_9; ?>"
        var newmargin = 0


        if (image != null) {
            if (!image.src) {
                if (x.matches) {
                    image.dataset.src = "<?php echo $bg_img_tablet_9; ?>"
                    wdth = (document.body.clientWidth / 2)
                    newmargin = (wdth - (parseInt(margin) * 2))

                    document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin +
                        "px");
                } else if (y.matches) {
                    image.dataset.src = "<?php echo $bg_img_phone_9; ?>"
                    wdth = document.body.clientWidth
                    newmargin = (wdth - (parseInt(margin) * 2))
                    document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin +
                        "px");
                } else {
                    image.dataset.src = "<?php echo $bg_img9; ?>"
                    if ((wdth * 2) > document.body.clientWidth) {
                        wdth = (document.body.clientWidth / 2)
                    }

                    newmargin = (wdth - (parseInt(margin) * 2))

                    document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin +
                        "px");
                }
            } else {
                if (x.matches) {
                    image.src = "<?php echo $bg_img_tablet_9; ?>"
                    wdth = (document.body.clientWidth / 2)
                    newmargin = (wdth - (parseInt(margin) * 2))

                    document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin +
                        "px");
                } else if (y.matches) {
                    image.src = "<?php echo $bg_img_phone_9; ?>"
                    wdth = document.body.clientWidth
                    newmargin = (wdth - (parseInt(margin) * 2))
                    document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin +
                        "px");
                } else {
                    image.src = "<?php echo $bg_img9; ?>"
                    if ((wdth * 2) > document.body.clientWidth) {
                        wdth = (document.body.clientWidth / 2)
                    }

                    newmargin = (wdth - (parseInt(margin) * 2))

                    document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin +
                        "px");
                }
            }
        } else {
            if (x.matches) {
                wdth = (document.body.clientWidth / 2)
                newmargin = (wdth - (parseInt(margin) * 2))

                document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin + "px");
            } else if (y.matches) {
                wdth = document.body.clientWidth
                newmargin = (wdth - (parseInt(margin) * 2))
                document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin + "px");
            } else {
                if ((wdth * 2) > document.body.clientWidth) {
                    wdth = (document.body.clientWidth / 2)
                }

                newmargin = (wdth - (parseInt(margin) * 2))

                document.getElementById("<?php echo $idWidget; ?>").setAttribute("style", "width:" + newmargin + "px");
            }
        }


    }

    Object.defineProperty(window[myFuncName46], "name", {
    value: myFuncName46
});
    </script>