<?php
$helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $bg_img90_aux = (!$block->getData("strBackgroundUrl1")) ? "img/motorola-one.png": $block->getData("strBackgroundUrl1");
    $bg_img90 = $helper->getMediaUrl($bg_img90_aux);
    //$bg_img90 = (!$bg_img90) ? "img/date.png": $bg_img90;
    $bg_img_tablet_90 = (!$bg_img_tablet_90 ) ? "img/date.png": $bg_img_tablet_90 ;
    $bg_img_phone_90 = (!$bg_img_phone_90 ) ? "img/date.png": $bg_img_phone_90 ;
    $alt_img90 = (!$alt_img90) ? "Imagen 90": $alt_img90;
    $h2_heading90 = (!$h2_heading90) ? "Plan Ilimitado": $h2_heading90;
    $h3_heading90 = (!$h3_heading90) ? ">": $h3_heading90;
    $h2_heading90_color = (!$h2_heading90_color) ? "#fff": $h2_heading90_color;
    $h3_heading90_color = (!$h3_heading90_color) ? "#fff": $h3_heading90_color;
    $a_link90 = (!$a_link90) ? "https://youtube.com.mx/": $a_link90;

    $margin_90 = (!$margin_90) ? "0": $margin_90;

    $h2_heading_font8 = (!$h2_heading_font8) ? 'https://fonts.googleapis.com/css?family=Roboto&display=swap': $h2_heading_font8 ;
    $h2_heading_font_alias8 = (!$h2_heading_font_alias8) ? 'myFirstFont': $h2_heading_font_alias8 ;

    $style8 = '<style>
    @font-face {
        font-family: "'.$h2_heading_font_alias8.'";
        src: url("'.$h2_heading_font8.'");
        font: display: swap;
    }
    
    .at_bottom_img h2 {
        font-family: "'.$h2_heading_font_alias8.'";
    }
    </style>';
?>

<?php echo $style8; ?>

<div class="col-widget-half at_bottom_img" style="margin: <?php echo $margin_90; ?>">
    <img data-src="<?php echo $bg_img90; ?>" alt="<?php echo $alt_img90; ?>">

    <div class="at_bottom">
        <div class="at_bottom_left">
            <h2 style="color: <?php echo $h2_heading90_color; ?>">
                <?php echo $h2_heading90; ?>
            </h2>
        </div>

        <div class="at_bottom_right">
            <?php if($a_link90){ ?>
            <a class="customBannerItem" href="<?php echo $a_link90; ?>" target="_blank"
                data-dl-home-dimension31="Prepago" data-dl-home-position="Home|4" data-dl-home-name="Carrusel Principal"
                data-dl-home-id="00004" data-dl-home-promoimp="4">
                <h2 style="color: <?php echo $h3_heading90_color; ?>">
                    <?php echo $h3_heading90; ?>
                </h2>
            </a>
            <?php } ?>
        </div>


    </div>
</div>

<script>
function changeImg9() {
    let image = document.querySelector('.at_bottom_img img');

    var x = window.matchMedia("(max-width: 1024px) and (min-width: 769px)")
    var y = window.matchMedia("(max-width: 768px)")

    if (!image.src) {

        if (x.matches) {

            image.dataset.src = "<?php echo $bg_img_tablet_90; ?>"
        } else if (y.matches) {

            image.dataset.src = "<?php echo $bg_img_phone_90; ?>"
        } else {
            image.dataset.src = "<?php echo $bg_img90; ?>"
        }
    } else {
        if (x.matches) {

            image.src = "<?php echo $bg_img_tablet_90; ?>"
        } else if (y.matches) {

            image.src = "<?php echo $bg_img_phone_90; ?>"
        } else {
            image.src = "<?php echo $bg_img90; ?>"
        }
    }


}
</script>