<?php
    $idWidget = "lead_box-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $h2_heading15 = $block->getData("h2HeadingText");
    $h2_heading15_color = (!$block->getData("h2TextColor")) ? "#fff": $block->getData("h2TextColor");
    //$a_link15 = (true) ? "https://youtube.com.mx/": $a_link15;//esta variable no está en el funcional
    $span_button15 = $block->getData("ctaText");
    $bg_color15 = $block->getData("backgroundColor");

    //Las siguientes variables son agregadas de acuerdo a la definicón del funcional
    $h3FormText = (!$block->getData("h3FormText")) ? "": $block->getData("h3FormText");
    $type = (!$block->getData("tipoFormulario")) ? "1": $block->getData("tipoFormulario");
    $mailTo = $block->getData("emailTo");
    $mailFrom = $block->getData("emailFrom");
    $emailSubject = (!$block->getData("emailSubject")) ? "": $block->getData("emailSubject");
?>
<?php
//Variables de tageo
$n = uniqid();
$idTag = (!$block->getData("tageoIdBanner")) ? "" : $block->getData("tageoIdBanner");
$name = (!$block->getData("tageoNameBanner")) ? "Home Banner" : $block->getData("tageoNameBanner");
$creative = (!$block->getData("tageoCreativeBanner")) ? "" : $block->getData("tageoCreativeBanner");
$position = (!$block->getData("tageoPositionBanner")) ? "Home|1" : $block->getData("tageoPositionBanner");
$dimension31 = (!$block->getData("tageoDimension31Banner")) ? "Prepago" : $block->getData("tageoDimension31Banner");
?>
<div class="customBannerItem lead-box" id="<?php echo $idWidget; ?>" style="background-color: <?php echo $bg_color15; ?>"
    <?php if(!empty($idTag)){  echo 'data-dl-home-id="'.$idTag.'"'; } ?> 
    data-dl-home-name="<?= $name; ?>" data-dl-home-creative="<?= $creative; ?>"
    data-dl-home-dimension31="<?= $dimension31; ?>" data-dl-home-position="<?= $position; ?>" >
    <div class="contenedor-max flexed">
    <?php if(!empty($h2_heading15)) { ?>
    <h2 style="color: <?php echo $h2_heading15_color; ?>">
        <?php echo $h2_heading15; ?>
    </h2>
    <?php } ?>


    <div class="form-widget">

        <div id="formRecharge-<?php echo $n; ?>" class="tabs-box__form">
            <div class="form__row-sm">
                <label class="form__label" for="creditrecharge">
                <?php if(!empty($h3FormText)) { ?>
                    <?php echo $h3FormText ; ?>
                <?php } ?>
                </label>
                <?php if($type != 1) { ?>
                    <input  class="form__input numero" id="leadBoxContent-<?php echo $n; ?>" maxlength="10" name="numero_telefono" type="text" placeholder="Ej:2368211439">
                <?php } else { ?>
                    <input  class="form__input email" id="leadBoxContent-<?php echo $n; ?>" name="email" type="text" placeholder="Ej:email@gamil.com">
                <?php } ?>
                <span class="mensaje_leadbox"></span>
            </div>
            <a href="#">
                <button id="goRecharge" class="tabs-box__form-btn btn btn_blue widget-tag-click sendMailLeadBox">
                    <?php echo $span_button15; ?>
                </button>
            </a>            
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">    
    require([
        'jquery'
    ], function ($) {              
        $(".sendMailLeadBox").click(function(){      
            var input_object = $(this).parent().parent().find("#leadBoxContent");
            sendMail($(this),'<?= $mailTo; ?>','<?= $mailFrom; ?>','<?= $emailSubject; ?>',input_object);
        });
        
        function showMessageValidation(object, $txt_alert) {            
            object.html($txt_alert);
            setTimeout(function(){
                cleanMessage(null, null, object);
            }, 3000);            
        }
        
        function cleanMessage(object, input, object_message){                        
            object_message.html("");
            if(input !== null){
                input.val("");
            }
            if(object !== null){
                object.show();
            }
        }
        
        function validarEntrada(input){
            var objeto = input;            
            if(objeto.hasClass('numero')){
                return validarNumero(objeto);
            }else if(objeto.hasClass('email')){
                return validarEmail(objeto);
            }
            return false;
        }
        
        function validarEmail(object){   
            var valor = object.val();
            var objecto_mensaje = object.next();
            if(valor == ""){
                showMessageValidation(objecto_mensaje, "El email es obligatorio");
                return false;
            }else if(!isEmail(valor)){
                showMessageValidation(objecto_mensaje, "El email no es válido");
                return false;
            }
            return true;
        }
        
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        
        function validarNumero(object){     
            var valor = object.val();
            var objecto_mensaje = object.next();
            if(valor == ""){
                showMessageValidation(objecto_mensaje, "El número telefónico es obligatorio");
                return false;
            }else if( !($.isNumeric(valor) && Math.floor(valor) == valor) ){
                showMessageValidation(objecto_mensaje, "Solo ingresa números");
                return false;
            }else if(valor.length != 10){
                showMessageValidation(objecto_mensaje, "Ingresa 10 dígitos");
                return false;
            }
            return true;
            
        }
        
        function sendMail(object, to, from, subject, input){             
            if(validarEntrada(input)){
                object.hide();
                var objecto_mensaje = input.next();
                cleanMessage(null, null, objecto_mensaje);
                var valor = input.val();                           
                $.ajax({
                    url: 'customwidget/leadbox',
                    type: 'post',
                    dataType: 'json',
                    data:  {'to': to, 'from': from, 'subject': subject, 'message': valor}, 
                    complete: function (data) {                                  
                        if (data.responseJSON !== null && data.responseJSON.success !== null && data.responseJSON.success == "true") {
                            objecto_mensaje.html("¡Gracias! Hemos recibido tu información correctamente.");                        
                        } else {
                            objecto_mensaje.html("Por favor, intenta de nuevo");                                                                  
                        }
                        setTimeout(function(){
                            cleanMessage(object, input, objecto_mensaje);
                        }, 5000);                    
                        return;
                    }
                });
            }
        }
    });
</script>
