<?php
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');
    $idWidget = "cintillo-".spl_object_hash($block);
    $h2_heading10 = (!$block->getData("h2HeadingText")) ? "Las mejores ventajas solo online": $helper->decodeString($block->getData("h2HeadingText"));
    $h2_heading10_color = (!$block->getData("h2TextColor")) ? "#fff": $helper->decodeString($block->getData("h2TextColor"));
    $bg_color10 = (!$block->getData("backgroundColor")) ? "#00A9E0": $helper->decodeString($block->getData("backgroundColor"));
        
    $title10 = (!$block->getData("c1Title")) ? "": $helper->decodeString($block->getData("c1Title"));
    $subtitle10 = (!$block->getData("c1SubTitle")) ? "": $helper->decodeString($block->getData("c1SubTitle"));
    $content10 = (!$block->getData("c1Content")) ? "": $helper->decodeString($block->getData("c1Content"));

    $usarc2 = (!$block->getData("show_column2")) ? "0": $block->getData("show_column2");
    $title11 = (!$block->getData("c2Title")) ? "": $helper->decodeString($block->getData("c2Title"));
    $subtitle11 = (!$block->getData("c2SubTitle")) ? "": $helper->decodeString($block->getData("c2SubTitle"));
    $content11 = (!$block->getData("c2Content")) ? "": $helper->decodeString($block->getData("c2Content"));

    $usarc3 = (!$block->getData("show_column3")) ? "0": $block->getData("show_column3");
    $title12 = (!$block->getData("c3Title")) ? "": $helper->decodeString($block->getData("c3Title"));
    $subtitle12 = (!$block->getData("c3SubTitle")) ? "": $helper->decodeString($block->getData("c3SubTitle"));
    $content12 = (!$block->getData("c3Content")) ? "": $helper->decodeString($block->getData("c3Content"));

    $usarc4 = (!$block->getData("show_column4")) ? "0": $block->getData("show_column4");
    $title13 = (!$block->getData("c4Title")) ? "": $helper->decodeString($block->getData("c4Title"));
    $subtitle13 = (!$block->getData("c4SubTitle")) ? "": $helper->decodeString($block->getData("c4SubTitle"));
    $content13 = (!$block->getData("c4Content")) ? "": $helper->decodeString($block->getData("c4Content"));

    $h2_heading_font_alias7 = (!$block->getData("h2FontText")) ? 'Telefonica-Light': $block->getData("h2FontText");

    $style7 = '<style>

    
    #'.$idWidget.' h2 {
        font-family: "'.$h2_heading_font_alias7.'", sans-serif;
    }
    </style>';
?>
<?php
//Variables de tageo
$idTag = (!$block->getData("tageoIdBanner")) ? "" : $block->getData("tageoIdBanner");
$name = (!$block->getData("tageoNameBanner")) ? "Home Banner" : $block->getData("tageoNameBanner");
$creative = (!$block->getData("tageoCreativeBanner")) ? "" : $block->getData("tageoCreativeBanner");
$position = (!$block->getData("tageoPositionBanner")) ? "Home|1" : $block->getData("tageoPositionBanner");
$dimension31 = (!$block->getData("tageoDimension31Banner")) ? "Prepago" : $block->getData("tageoDimension31Banner");
?>
<?php echo $style7; ?>

<div class="customBannerItem cintillo_widget" style="background-color: <?php echo $bg_color10; ?>" id="<?= $idWidget; ?>" 
    <?php if(!empty($idTag)){  echo 'data-dl-home-id="'.$idTag.'"'; } ?> 
    data-dl-home-name="<?= $name; ?>" data-dl-home-creative="<?= $creative; ?>"
    data-dl-home-dimension31="<?= $dimension31; ?>" data-dl-home-position="<?= $position; ?>" >
    <div class="contenedor-max">
        <h2 style="color: <?php echo $h2_heading10_color; ?>">
            <?php echo $h2_heading10; ?>
        </h2>
        <div class="cint_flexed">

            <div class="cintillo_1_4">
            <?php echo $title10; ?><br>
            <?php echo $subtitle10; ?><br>
            <?php echo $content10; ?>
            </div>

            <?php if(!empty($usarc2)) { ?>
            <div class="cintillo_1_4">
            <?php echo $title11; ?><br>
            <?php echo $subtitle11; ?><br>
            <?php echo $content11; ?>
            </div>
            <?php } ?>

            <?php if(!empty($usarc3)){ ?>
            <div class="cintillo_1_4">
            <?php echo $title12; ?><br>
            <?php echo $subtitle12; ?><br>
            <?php echo $content12; ?>
            </div>
            <?php } ?>

            <?php if(!empty($usarc4)){ ?>
            <div class="cintillo_1_4">
            <?php echo $title13; ?><br>
            <?php echo $subtitle13; ?><br>
            <?php echo $content13; ?>
            </div>
            <?php } ?>
        </div>
    </div>
</div>
