<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var $block \Magento\Ui\Block\Wrapper
 */
$idTag = (!$block->getData("tageoIdBanner")) ? "" : $block->getData("tageoIdBanner");
$name = (!$block->getData("tageoNameBanner")) ? "Home Banner" : $block->getData("tageoNameBanner");
$creative = (!$block->getData("tageoCreativeBanner")) ? "" : $block->getData("tageoCreativeBanner");
$position = (!$block->getData("tageoPositionBanner")) ? "Home|1" : $block->getData("tageoPositionBanner");
$dimension31 = (!$block->getData("tageoDimension31Banner")) ? "Prepago" : $block->getData("tageoDimension31Banner");
$n = uniqid();
$idWidget = "destacado-carrusel-busqueda-".uniqid();
//echo "Variables de taggeo: $idTag - $name - $creative - $position - $dimension31";

$style_busqueda = '<style>
#'.$idWidget.'{
    max-width: 1440px;
    margin: auto;
}

#carousel-'.$idWidget.'  .card-carousel-widget {
    min-width: 248px;
    height: 340px;
}

#carousel-'.$idWidget.' .product-image-photo {
    height: 120px;
}

#carousel-'.$idWidget.' .product-item-name {
    height: 50px;
    width: 200px;
    margin: 2px auto
}

#carousel-'.$idWidget.' .price-box {
    min-height: 30px;
    color: #00a9e0;
}

#carousel-'.$idWidget.' .stock {
    min-height: 20px;
    display: none;
}

#carousel-'.$idWidget.' .actions-primary {
    height: 50px;
}

#carousel-'.$idWidget.' .actions-secondary {
    height: 50px;
    display: none;
}

#carousel-'.$idWidget.' .product-item-actions{
    height: 120px;
    display: block !important;
}

#carousel-'.$idWidget.' .product-item-description{
    display: none;
}

#carousel-'.$idWidget.'  .product-image-wrapper{
    height: 140px;
    padding-bottom: 0% !important;
}

#carousel-'.$idWidget.' {
    height: 340px;
}

.forThisWidget{
    border: 0px !important;
}

.lessTopWidget{
    top: 25%;
}

</style>';
?>


<?php /* @escapeNotVerified */ echo $block->renderApp(
    [
        'widget_columns' => [
            'displayMode' => 'grid'
        ],
        'image' => [
            'imageCode' => 'recently_viewed_products_grid_content_widget'
        ]
    ]
);

?>
<?php echo $style_busqueda; ?>
<div class="destacado-carrusel-widget" id="<?php echo $idWidget; ?>" >

    <div class="wrapper-carousel-widget" id="carousel-<?php echo $idWidget; ?>">


    </div>
    <div class="button-wrapper-carousel-widget lessTopWidget">
        <button data-action="slideLeft-<?php echo $idWidget; ?>">
            <span class="the-left-widget">
            </span>
        </button>
        <button data-action="slideRight-<?php echo $idWidget; ?>">
            <span class="the-right-widget">
            </span>
        </button>
    </div>
</div>
<script>

function convertHtmlWidget() {
    var dvs = document.querySelectorAll("li.product-item");


    let find = document.querySelector("#carousel-<?php echo $idWidget; ?>");
    let html = '';


    let li = document.createElement('ul');

    li.classList.add("carousel-carousel-widget");
    //li.classList.add("vsm-grid");
    
    [].forEach.call(dvs, function(div, index, array) {
       html = (html +  "<li class='card-carousel-widget vsm-grid forThisWidget'>" +div.innerHTML + "</li>");
    })
    if(html !== ''){
            li.innerHTML = html;
            find.appendChild(li);
            document.querySelector("#carousel-<?php echo $idWidget; ?>").style.display="block";
            document.querySelector(".block-viewed-products-grid").style.display="none";

            var carousel = document.querySelector("#carousel-<?php echo $idWidget; ?> .carousel-carousel-widget");
            var card = carousel.querySelector(".forThisWidget");
            var leftButton = document.querySelector("[data-action='slideLeft-<?php echo $idWidget; ?>']");
            var rightButton = document.querySelector("[data-action='slideRight-<?php echo $idWidget; ?>']");
        
            var carouselWidth = carousel.offsetWidth;
            var cardStyle = card.currentStyle || window.getComputedStyle(card)
            var cardMarginRight = Number(cardStyle.marginRight.match(/\d+/g)[0]);
            var numeros = 5;

            var cardCount = carousel.querySelectorAll(".forThisWidget").length;
            var y = window.matchMedia("(max-width: 860px)");
            if (y.matches) {
                numeros = 1;
            }

            cardCount = makeDivisble(cardCount, numeros);

            let offset = 0;
            var maxX = -((cardCount / numeros) * carouselWidth +
                (cardMarginRight * (cardCount / numeros)) -
                carouselWidth - cardMarginRight);

            leftButton.addEventListener("click", function() {
                if (offset !== 0) {
                    offset += carouselWidth + cardMarginRight;
                    carousel.style.transform = 'translateX('+offset+'px)';
                }
            })

            rightButton.addEventListener("click", function() {
                if (offset !== maxX ) {
                    offset -= carouselWidth + cardMarginRight;
                    carousel.style.transform = 'translateX('+offset+'px)';
                }
            });
        }else{
            document.querySelector("#carousel-<?php echo $idWidget; ?>").style.display="none";
        }
    


}

window.onload = function() {
    setTimeout(convertHtmlWidget, 15000);
}




</script>
