<?php  
    $info = $block->getDataInformation();
    /**
     * 'h2_heading_line', h2_heading_line_1_1 y h2_heading_line_1_2
     * 'bg_img',
     * 'alt_img',
     * 'h3_heading_line', h3_heading_line_1_1 y h3_heading_line_1_2
     * 'textarea',
     * 'cta_button_text',
     * 'cta_link'
     */
    $idWidget = "servicio-destacado-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');    
    
    if(!isset($info['error'])):
        $pos = 86;
        foreach($info as $key => $column){
            if(strlen($column['textarea']) > $pos){
                $info[$key]['begin'] = substr($column['textarea'], 0, $pos+1);
                $info[$key]['end'] = substr($column['textarea'], $pos+1);
                $info[$key]['nomore'] = 1;
              }else{
                $info[$key]['begin'] = $column['textarea'];
                $info[$key]['end'] = "";
                $info[$key]['nomore']  = 0;
              }
        }
    endif;

    $j = 1;
    
?>
<div class="servicio-destacado" id="<?= $idWidget; ?>">
 
        <?php if(!isset($info['error'])): ?>
        <?php foreach($info as $key => $column): ?>
            <?php
            $i = $key;
            //Variables de tageo
            $idTag = (!$block->getData("tageoIdBannerC".$i)) ? "" : $block->getData("tageoIdBannerC".$i);
            $name = (!$block->getData("tageoNameBannerC".$i)) ? "Home Banner" : $block->getData("tageoNameBannerC".$i);
            $creative = (!$block->getData("tageoCreativeBannerC".$i)) ? "" : $block->getData("tageoCreativeBannerC".$i);
            $position = (!$block->getData("tageoPositionBannerC".$i)) ? "Home|1" : $block->getData("tageoPositionBannerC".$i);
            $dimension31 = (!$block->getData("tageoDimension31BannerC".$i)) ? "Prepago" : $block->getData("tageoDimension31BannerC".$i);
            ?>
            <div class="servicio_1_4 customBannerItem shadow-service" 
                <?php if(!empty($idTag)){  echo 'data-dl-home-id="'.$idTag.'"'; } ?> 
                data-dl-home-name="<?= $name; ?>" data-dl-home-creative="<?= $creative; ?>"
                data-dl-home-dimension31="<?= $dimension31; ?>" data-dl-home-position="<?= $position; ?>"                    
                data-dl-home-promoimp="4">
                <?php if(!empty($column['h2_heading_line_1'])) { ?>
                    <h2>
                        <?php echo $column['h2_heading_line_1']; ?>
                        <?php if(!empty($column['h2_heading_line_2'])) { ?>
                         <?php echo $column['h2_heading_line_2']; ?>
                        <?php } ?>
                    </h2>
                <?php } ?>

                <?php if(!empty($column['bg_img'])) {?>
                    <img data-src="<?php echo $helper->getMediaUrl($column['bg_img']); ?>" alt="<?php echo $column['alt_img']; ?>">
                <?php } ?>


                <?php if(!empty($column['h3_heading_line_1'])) { ?>
                    <h3>
                        <?php echo $column['h3_heading_line_1']; ?>
                    <?php if(!empty($column['h3_heading_line_2'])) { ?>
                     <?php echo $column['h3_heading_line_2']; ?>
                    <?php } ?>
                    </h3>
                <?php } ?>

                <?php if(!empty($column['textarea'])) { ?>
                    <?php if($column['nomore'] == 1) { ?>
                    <p>
                        <?php echo $column['begin']; ?>
                        <span id="dots-widgets<?php echo $j; ?>">...</span><span id="more-widgets<?php echo $j; ?>">
                            <?php echo $column['end']; ?>
                        </span>
                    </p>
                    <a href="javascript:void(0)" onclick="seeMore<?php echo $j; ?>()" id="seemore<?php echo $j; ?>" class="anchor-more">Ver más</a>
                    <?php }else{ ?>
                    <p>
                    <?php echo $column['begin']; ?>
                    </p>
                    <a href="javascript:void(0)" onclick="seeMore<?php echo $j; ?>()" id="seemore<?php echo $j; ?>" class="anchor-more hidden-widget">Ver más</a>
                    <?php } ?>

                <?php } ?>

                <?php if(!empty($column['cta_link'])){ ?>
                <a href="<?php echo $column['cta_link']; ?>" target="_blank">
                        <?php echo $column['cta_button_text'] ?>
                </a>
                <?php } ?>
            </div>
            <?php $j++; ?>
        <?php endforeach ?>
        <?php else: ?>
            <?= $info['error']?>
        <?php endif ?>
</div>

<script>
function seeMore1() {
    var dots = document.getElementById("dots-widgets1");
    var moreText = document.getElementById("more-widgets1");
    var btnText = document.getElementById("seemore1");

    if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Ver más";
        moreText.style.display = "none";
        btnText.classList.remove("anchor-less")
    } else {
        dots.style.display = "none";
        btnText.innerHTML = "Ver menos";
        moreText.style.display = "inline";
        btnText.classList.add("anchor-less")
    }
}

function seeMore2() {
    var dots = document.getElementById("dots-widgets2");
    var moreText = document.getElementById("more-widgets2");
    var btnText = document.getElementById("seemore2");

    if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Ver más";
        moreText.style.display = "none";
        btnText.classList.remove("anchor-less")
    } else {
        dots.style.display = "none";
        btnText.innerHTML = "Ver menos";
        moreText.style.display = "inline";
        btnText.classList.add("anchor-less")
    }
}

function seeMore3() {
    var dots = document.getElementById("dots-widgets3");
    var moreText = document.getElementById("more-widgets3");
    var btnText = document.getElementById("seemore3");

    if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Ver más";
        moreText.style.display = "none";
        btnText.classList.remove("anchor-less")
    } else {
        dots.style.display = "none";
        btnText.innerHTML = "Ver menos";
        moreText.style.display = "inline";
        btnText.classList.add("anchor-less")
    }
}

function seeMore4() {
    var dots = document.getElementById("dots-widgets4");
    var moreText = document.getElementById("more-widgets4");
    var btnText = document.getElementById("seemore4");

    if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Ver más";
        moreText.style.display = "none";
        btnText.classList.remove("anchor-less")
    } else {
        dots.style.display = "none";
        btnText.innerHTML = "Ver menos";
        moreText.style.display = "inline";
        btnText.classList.add("anchor-less")
    }
}

</script>
