<?php $info = $block->getDataInformation();
    //print_r($info);
if(isset($marcas['error'])):
    echo $marcas['error'];    
else:
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper');

    $idWidget = "tab-".spl_object_hash($block);

        $bg_color_tab = $info[1]['background_color'];
        $bg_color_bar_tab = $info[1]['top_bar_color'];
        $bg_color_box_tab = $info[1]['box_color'];

        if(isset($info[1])) {
        $title_1_tab = $info[1]['box_text'];
        $type_1_tab  = $info[1]['box_type'];
        $content_1_tab  = $helper->decodeString($info[1]['html_content']);
        $link_1_tab  = $info[1]['url_link'];
        $h2_heading_font_1_tab  = (!$info[1]['box_text_font']) ? 'Telefonica-Light': $info[1]['box_text_font'];
        $h2_heading_color_1_tab = $info[1]['box_text_color'];
        $img_1_tab = $helper->getMediaUrl($info[1]['box_icon']);
        }

        if(isset($info[2])) {
        $title_2_tab = $info[2]['box_text'];
        $type_2_tab  = $info[2]['box_type'];
        $content_2_tab  = $helper->decodeString($info[2]['html_content']);
        $link_2_tab  = $info[2]['url_link'];
        $h2_heading_font_2_tab  = (!$info[2]['box_text_font']) ? 'Telefonica-Bold': $info[2]['box_text_font'];
        $h2_heading_color_2_tab = $info[2]['box_text_color'];
        $img_2_tab = $helper->getMediaUrl($info[2]['box_icon']);
        }

        if(isset($info[3])) {
        $title_3_tab = $info[3]['box_text'];
        $type_3_tab  = $info[3]['box_type'];
        $content_3_tab  = $helper->decodeString($info[3]['html_content']);
        $link_3_tab  = $info[3]['url_link'];
        $h2_heading_font_3_tab  = (!$info[3]['box_text_font']) ? 'Telefonica-Bold': $info[3]['box_text_font'];
        $h2_heading_color_3_tab = $info[3]['box_text_color'];
        $img_3_tab = $helper->getMediaUrl($info[3]['box_icon']);
        }

        if(isset($info[4])) {
        $title_4_tab = $info[4]['box_text'];
        $type_4_tab  = $info[4]['box_type'];
        $content_4_tab  = $helper->decodeString($info[4]['html_content']);
        $link_4_tab  = $info[4]['url_link'];
        $h2_heading_font_4_tab  = (!$info[4]['box_text_font']) ? 'Telefonica-Bold': $info[4]['box_text_font'];
        $h2_heading_color_4_tab = $info[4]['box_text_color'];
        $img_4_tab = $helper->getMediaUrl($info[4]['box_icon']);
        }

        if(isset($info[5])) {
        $title_5_tab = $info[5]['box_text'];
        $type_5_tab  = $info[5]['box_type'];
        $content_5_tab  = $helper->decodeString($info[5]['html_content']);
        $link_5_tab  = $info[5]['url_link'];
        $h2_heading_font_5_tab  = (!$info[5]['box_text_font']) ? 'Telefonica-Bold': $info[5]['box_text_font'];
        $h2_heading_color_5_tab = $info[5]['box_text_color'];
        $img_5_tab = $helper->getMediaUrl($info[5]['box_icon']);
        }

        if(isset($info[6])) {
        $title_6_tab = $info[6]['box_text'];
        $type_6_tab  = $info[6]['box_type'];
        $content_6_tab  = $helper->decodeString($info[6]['html_content']);
        $link_6_tab  = $info[6]['url_link'];
        $h2_heading_font_6_tab  = (!$info[6]['box_text_font']) ? 'Telefonica-Bold': $info[6]['box_text_font'];
        $h2_heading_color_6_tab = $info[6]['box_text_color'];
        $img_6_tab = $helper->getMediaUrl($info[6]['box_icon']);
        }


    $style_tab = '<style>
    #'.$idWidget.' .tabs-box__nav-item {
        border-top: 6px solid '.$bg_color_bar_tab.';
    }
    #'.$idWidget.' .tabs-box__link {
        background-color: '.$bg_color_box_tab.';
    }

    #'.$idWidget.' .tabs-box__pane {
        padding: 20px;
        background-color: '.$bg_color_box_tab.';
    }

    #'.$idWidget.' .tabs-box__nav.tabs-box__nav_open .tabs-box__nav-item.tabs-box__nav-item_open {
        background-color: '.$bg_color_box_tab.';
    }
    
    @media (max-width: 768px){
        #'.$idWidget.' .tabs-box__item {
            background-color: '.$bg_color_box_tab.';
            border-top: 8px solid '.$bg_color_bar_tab.';
        }
    }

    @media (max-width: 768px) and (min-width: 320px){
        .tabs-box .tabs-box__list .tabs-box__item:last-child {
            display: block;
        }
    }
    </style>';

    


?>

<?php echo $style_tab; ?>

<div class="tabs-box" style="background-color: <?php echo $bg_color_tab; ?>" id="<?php echo $idWidget; ?>">
    <div class="contenedor-max">
        <div class="tabs-box__content">

            <ul class="tabs-box__nav js-tabsBoxNavList">
                <?php if(isset($info[1])) { ?>
                <?php if($type_1_tab == "contenido") { ?>
                <li class="tabs-box__nav-item">
                    <a class="js-tabsDropdownBoxBtn js-changeTextTabsDropdown tabs-box__link "
                        title="<?php echo $title_1_tab; ?>" data-tabdropdown="TabLabel1">
                        <img data-src="<?php echo $img_1_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_1_tab; ?>; font-family: '<?php echo $h2_heading_font_1_tab; ?>';">
                            <?php echo $title_1_tab; ?>
                        </span>
                    </a>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__nav-item">
                    <a class="tabs-box__link  js-changeTextTabsDropdown"
                        title="<?php echo $title_1_tab; ?>" href="<?php echo $link_1_tab; ?>"
                        data-tabdropdown="TabLabel1">
                        <img data-src="<?php echo $img_1_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt" style="color: <?php echo $h2_heading_color_1_tab; ?>; font-family: '<?php echo $h2_heading_font_1_tab; ?>';">
                            <?php echo $title_1_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
                <?php if(isset($info[2])) { ?>
                <?php if($type_2_tab == "contenido") { ?>
                <li class="tabs-box__nav-item">
                    <a class="js-tabsDropdownBoxBtn js-changeTextTabsDropdown tabs-box__link "
                        title="<?php echo $title_2_tab; ?>" data-tabdropdown="TabLabel2">
                        <img data-src="<?php echo $img_2_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_2_tab; ?>; font-family: '<?php echo $h2_heading_font_2_tab; ?>';">
                            <?php echo $title_2_tab; ?>
                        </span>
                    </a>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__nav-item">
                    <a class="tabs-box__link  js-changeTextTabsDropdown"
                        title="<?php echo $title_2_tab; ?>" href="<?php echo $link_2_tab; ?>"
                        data-tabdropdown="TabLabel2">
                        <img data-src="<?php echo $img_2_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt" style="color: <?php echo $h2_heading_color_2_tab; ?>; font-family: '<?php echo $h2_heading_font_2_tab; ?>';">
                            <?php echo $title_2_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
                <?php if(isset($info[3])) { ?>
                <?php if($type_3_tab == "contenido") { ?>
                <li class="tabs-box__nav-item">
                    <a class="js-tabsDropdownBoxBtn js-changeTextTabsDropdown tabs-box__link "
                        title="<?php echo $title_3_tab; ?>" data-tabdropdown="TabLabel3">
                        <img data-src="<?php echo $img_3_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_3_tab; ?>; font-family: '<?php echo $h2_heading_font_3_tab; ?>';">
                            <?php echo $title_3_tab; ?>
                        </span>
                    </a>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__nav-item">
                    <a class="tabs-box__link  js-changeTextTabsDropdown"
                        title="<?php echo $title_3_tab; ?>" href="<?php echo $link_3_tab; ?>"
                        data-tabdropdown="TabLabel3">
                        <img data-src="<?php echo $img_3_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt" style="color: <?php echo $h2_heading_color_3_tab; ?>; font-family: '<?php echo $h2_heading_font_3_tab; ?>';">
                            <?php echo $title_3_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
                <?php if(isset($info[4])) { ?>
                <?php if($type_4_tab == "contenido") { ?>
                <li class="tabs-box__nav-item">
                    <a class="js-tabsDropdownBoxBtn js-changeTextTabsDropdown tabs-box__link "
                        title="<?php echo $title_4_tab; ?>" data-tabdropdown="TabLabel4">
                        <img data-src="<?php echo $img_4_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_4_tab; ?>; font-family: '<?php echo $h2_heading_font_4_tab; ?>';">
                            <?php echo $title_4_tab; ?>
                        </span>
                    </a>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__nav-item">
                    <a class="tabs-box__link  js-changeTextTabsDropdown"
                        title="<?php echo $title_4_tab; ?>" href="<?php echo $link_4_tab; ?>"
                        data-tabdropdown="TabLabel4">
                        <img data-src="<?php echo $img_4_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt" style="color: <?php echo $h2_heading_color_4_tab; ?>; font-family: '<?php echo $h2_heading_font_4_tab; ?>';">
                            <?php echo $title_4_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
                <?php if(isset($info[5])) { ?>
                <?php if($type_5_tab == "contenido") { ?>
                <li class="tabs-box__nav-item">
                    <a class="js-tabsDropdownBoxBtn js-changeTextTabsDropdown tabs-box__link "
                        title="<?php echo $title_5_tab; ?>" data-tabdropdown="TabLabel5">
                        <img data-src="<?php echo $img_5_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_5_tab; ?>; font-family: '<?php echo $h2_heading_font_5_tab; ?>';">
                            <?php echo $title_5_tab; ?>
                        </span>
                    </a>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__nav-item">
                    <a class="tabs-box__link  js-changeTextTabsDropdown"
                        title="<?php echo $title_5_tab; ?>" href="<?php echo $link_5_tab; ?>"
                        data-tabdropdown="TabLabel5">
                        <img data-src="<?php echo $img_5_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt" style="color: <?php echo $h2_heading_color_5_tab; ?>; font-family: '<?php echo $h2_heading_font_5_tab; ?>';">
                            <?php echo $title_5_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
                <?php if(isset($info[6])) { ?>
                <?php if($type_6_tab == "contenido") { ?>
                <li class="tabs-box__nav-item">
                    <a class="js-tabsDropdownBoxBtn js-changeTextTabsDropdown tabs-box__link "
                        title="<?php echo $title_6_tab; ?>" data-tabdropdown="TabLabel6">
                        <img data-src="<?php echo $img_6_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_6_tab; ?>; font-family: '<?php echo $h2_heading_font_6_tab; ?>';">
                            <?php echo $title_6_tab; ?>
                        </span>
                    </a>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__nav-item">
                    <a class="tabs-box__link  js-changeTextTabsDropdown"
                        title="<?php echo $title_6_tab; ?>" href="<?php echo $link_6_tab; ?>"
                        data-tabdropdown="TabLabel6">
                        <img data-src="<?php echo $img_6_tab; ?>" alt="Redes"><span  class="tabs-box__nav-txt" style="color: <?php echo $h2_heading_color_6_tab; ?>; font-family: '<?php echo $h2_heading_font_6_tab; ?>';">
                            <?php echo $title_6_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
            </ul>

            <ul class="tabs-box__list">
                <?php if(isset($info[1])) { ?>
                <?php if($type_1_tab == "contenido") { ?>
                <li class="tabs-box__item">
                    <button class="tabs-box__btn  js-tabsDropdownBoxBtn js-changeTextTabsDropdown"
                        type="button" data-tabdropdown="TabLabel1">
                        <img data-src="<?php echo $img_1_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_1_tab; ?>; font-family: '<?php echo $h2_heading_font_1_tab; ?>';">
                            <?php echo $title_1_tab; ?>
                        </span>
                    </button>
                    <div class="tabs-box__pane js-tabsBoxPane" data-tabdropdown="TabLabel1">
                        <?php echo $content_1_tab; ?>
                    </div>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__item">
                    <a class="tabs-box__btn  js-changeTextTabsDropdown"
                        title="<?php echo $title_1_tab; ?>" href="<?php echo $link_1_tab; ?>" data-tabdropdown="TabLabel1">
                        <img data-src="<?php echo $img_1_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt" style="color: <?php echo $h2_heading_color_1_tab; ?>; font-family: '<?php echo $h2_heading_font_1_tab; ?>';">
                        <?php echo $title_1_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>
                
                
                <?php if(isset($info[2])) { ?>
                <?php if($type_2_tab == "contenido") { ?>
                <li class="tabs-box__item">
                    <button class="tabs-box__btn  js-tabsDropdownBoxBtn js-changeTextTabsDropdown"
                        type="button" data-tabdropdown="TabLabel2">
                        <img data-src="<?php echo $img_2_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_2_tab; ?>; font-family: '<?php echo $h2_heading_font_2_tab; ?>';">
                            <?php echo $title_2_tab; ?>
                        </span>
                    </button>
                    <div class="tabs-box__pane js-tabsBoxPane" data-tabdropdown="TabLabel2">
                        <?php echo $content_2_tab; ?>
                    </div>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__item">
                    <a class="tabs-box__btn  js-changeTextTabsDropdown"
                        title="<?php echo $title_2_tab; ?>" href="<?php echo $link_2_tab; ?>" data-tabdropdown="TabLabel2">
                        <img data-src="<?php echo $img_2_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt" style="color: <?php echo $h2_heading_color_2_tab; ?>; font-family: '<?php echo $h2_heading_font_2_tab; ?>';">
                        <?php echo $title_2_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>

                <?php if(isset($info[3])) { ?>
                <?php if($type_3_tab == "contenido") { ?>
                <li class="tabs-box__item">
                    <button class="tabs-box__btn  js-tabsDropdownBoxBtn js-changeTextTabsDropdown"
                        type="button" data-tabdropdown="TabLabel3">
                        <img data-src="<?php echo $img_3_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_3_tab; ?>; font-family: '<?php echo $h2_heading_font_3_tab; ?>';">
                            <?php echo $title_3_tab; ?>
                        </span>
                    </button>
                    <div class="tabs-box__pane js-tabsBoxPane" data-tabdropdown="TabLabel3">
                        <?php echo $content_3_tab; ?>
                    </div>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__item">
                    <a class="tabs-box__btn  js-changeTextTabsDropdown"
                        title="<?php echo $title_3_tab; ?>" href="<?php echo $link_3_tab; ?>" data-tabdropdown="TabLabel3">
                        <img data-src="<?php echo $img_3_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt" style="color: <?php echo $h2_heading_color_3_tab; ?>; font-family: '<?php echo $h2_heading_font_3_tab; ?>';">
                        <?php echo $title_3_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>

                <?php if(isset($info[4])) { ?>
                <?php if($type_4_tab == "contenido") { ?>
                <li class="tabs-box__item">
                    <button class="tabs-box__btn  js-tabsDropdownBoxBtn js-changeTextTabsDropdown"
                        type="button" data-tabdropdown="TabLabel4">
                        <img data-src="<?php echo $img_4_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_4_tab; ?>; font-family: '<?php echo $h2_heading_font_4_tab; ?>';">
                            <?php echo $title_4_tab; ?>
                        </span>
                    </button>
                    <div class="tabs-box__pane js-tabsBoxPane" data-tabdropdown="TabLabel4">
                        <?php echo $content_4_tab; ?>
                    </div>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__item">
                    <a class="tabs-box__btn  js-changeTextTabsDropdown"
                        title="<?php echo $title_4_tab; ?>" href="<?php echo $link_4_tab; ?>" data-tabdropdown="TabLabel4">
                        <img data-src="<?php echo $img_4_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt" style="color: <?php echo $h2_heading_color_4_tab; ?>; font-family: '<?php echo $h2_heading_font_4_tab; ?>';">
                        <?php echo $title_4_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>


                <?php if(isset($info[5])) { ?>
                <?php if($type_5_tab == "contenido") { ?>
                <li class="tabs-box__item">
                    <button class="tabs-box__btn  js-tabsDropdownBoxBtn js-changeTextTabsDropdown"
                        type="button" data-tabdropdown="TabLabel5">
                        <img data-src="<?php echo $img_5_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_5_tab; ?>; font-family: '<?php echo $h2_heading_font_5_tab; ?>';">
                            <?php echo $title_5_tab; ?>
                        </span>
                    </button>
                    <div class="tabs-box__pane js-tabsBoxPane" data-tabdropdown="TabLabel5">
                        <?php echo $content_5_tab; ?>
                    </div>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__item">
                    <a class="tabs-box__btn  js-changeTextTabsDropdown"
                        title="<?php echo $title_5_tab; ?>" href="<?php echo $link_5_tab; ?>" data-tabdropdown="TabLabel5">
                        <img data-src="<?php echo $img_5_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt" style="color: <?php echo $h2_heading_color_5_tab; ?>; font-family: '<?php echo $h2_heading_font_5_tab; ?>';">
                        <?php echo $title_5_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>

                <?php if(isset($info[6])) { ?>
                <?php if($type_6_tab == "contenido") { ?>
                <li class="tabs-box__item">
                    <button class="tabs-box__btn  js-tabsDropdownBoxBtn js-changeTextTabsDropdown"
                        type="button" data-tabdropdown="TabLabel6">
                        <img data-src="<?php echo $img_6_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt i-a-arrow-back" style="color: <?php echo $h2_heading_color_6_tab; ?>; font-family: '<?php echo $h2_heading_font_6_tab; ?>';">
                            <?php echo $title_6_tab; ?>
                        </span>
                    </button>
                    <div class="tabs-box__pane js-tabsBoxPane" data-tabdropdown="TabLabel6">
                        <?php echo $content_6_tab; ?>
                    </div>
                </li>
                <?php }else{ ?>
                <li class="tabs-box__item">
                    <a class="tabs-box__btn  js-changeTextTabsDropdown"
                        title="<?php echo $title_6_tab; ?>" href="<?php echo $link_6_tab; ?>" data-tabdropdown="TabLabel6">
                        <img data-src="<?php echo $img_6_tab; ?>" alt="Redes"><span  class="tabs-box__btn-txt" style="color: <?php echo $h2_heading_color_6_tab; ?>; font-family: '<?php echo $h2_heading_font_6_tab; ?>';">
                        <?php echo $title_6_tab; ?>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php } ?>


            </ul>
        </div>
    </div>
</div>
<?php endif; ?>