<?php
    $idWidget = "vitrinas_cuadricula_producto-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper'); 
    
    $conditions = $block->getData('conditions_encoded');
    $show = $block->getData('show');
    $producto_destacado = explode(",", $block->getData('producto_destacado')); 
    //Variables de tageo    
    $position = (!$block->getData("tageoPositionBanner")) ? "Cuadricula" : $block->getData("tageoPositionBanner");
    $dimension31 = (!$block->getData("tageoDimension31Banner")) ? "" : $block->getData("tageoDimension31Banner");
        
    $n = uniqid();
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";
    $image = 'favorite_products_content_widget_grid';       
    $products = $block->getProducts();
    $lista_productos = array();

    $helperVitrina = $block->getHelperVitrina();
    
?>
<div class="cuadricula-widget">
        <?php foreach ($products as $p) :
            $item = $block->getProductById($p['entity_id']); 
            array_push($lista_productos, $item);
            $gtm_data = [
                'event'         => 'evBoton',
                'nameSection'   => $item->getName(),
                'btnSelect'     => $item->getName(),
            ];
            $productImage = $block->getImage($item, $image, array('longdesc'=>$item->getProductUrl()));  
        ?>
        
        <?php if(in_array($item->getSku(), $producto_destacado)){ ?>
            <div class="cuadricula_1_4 shadow-service bigger-cuadricula"  onclick='window.open("<?php echo $item->getProductUrl(); ?>?origin=prepago", "_self");'>
        <?php }else{ ?>
            <div class="cuadricula_1_4 shadow-service"  onclick='window.open("<?php echo $item->getProductUrl(); ?>?origin=prepago", "_self");'>
        <?php } ?>
            
                <article>
                    <div class="center-cuadricula">
                    <div class="access-widget-mosaic">
                    <?php if(in_array($item->getSku(), $producto_destacado)){ ?>
                        <img class=" bigger-cuadricula-img"
                            src="<?php echo $productImage->getImageUrl(); ?>"
                            alt="<?php echo $item->getName(); ?>">
                    <?php }else{ ?>
                        <img
                            src="<?php echo $productImage->getImageUrl(); ?>"
                            alt="<?php echo $item->getName(); ?>">
                    <?php } ?>
                        
                    </div>

                        <div class="vsm-grid__head">
                            <h2 class="grid__title"><?php echo $item->getName(); ?></h2>
                        </div>

                        <div class="grid__footer">
                            <p class="grid__label">Llévatelo ahora</p>

                            <span>
                            <?php  
                            if ($helperVitrina->showPrecioEquipo()): ?>
                                        $<?php echo number_format(($helperVitrina->getDisplayValue($item)),2,'.',','); ?>
                                    <?php endif; ?>
                            </span>
                            <div class="grid__center fake-grid-center">
                                <a data-dl-product-cuadricula-view-detail="<?php echo $item->getId(); ?>" href="<?php echo $item->getProductUrl(); ?>?origin=prepago" class=" the-right-widget-dos">Lo quiero</a>
                            </div>

                        </div>
                    </div>
                </article>
            </div>


            <?php endforeach; ?>
            
</div>
    <script type="text/javascript">
     require([
        'jquery'
    ], function (
        $
    ) {
        <?php $_cfg_dl_split  = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('datalayer/setttings/split'); ?>

        jQuery(window).load(function() {
            window.dataLayer = window.dataLayer || [];                      
            
                var impressions     = [];
                var impressionsdl   = [];
                var dl_split        = [];
                var split_size      = <?php  echo $_cfg_dl_split; ?>;
                
                var dl_list     = '<?= $dimension31; ?>';
                var dl_position = '<?= $position; ?>|';                                

                <?php 
                    $cont_prod = 0;
                    foreach ($lista_productos as $_product):
                        $cont_prod++;
                ?>
                    impressions.push(
                        {
                            'name':         '<?php echo $_product->getName();   ?>',
                            'id':           '<?php echo $_product->getSku();    ?>',                            
                            'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',                            
                            'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                            'category':     'Celular',
                            'variant' :     'N/A',
                            'list':         dl_list,
                            'position':     dl_position + '<?= $cont_prod ?>',
                            'dimension28':  'Tienda Movistar'
                        }
                    );

                    impressionsdl.push(
                        {
                            'id': '<?php echo $_product->getId(); ?>',
                            'data':
                                {
                                    'name':         '<?php echo $_product->getName(); ?>',
                                    'id':           '<?php echo $_product->getSku(); ?>',                                    
                                    'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',                                    
                                    'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                                    'category':     'Celular',
                                    'variant' :     'N/A',
                                    'list':         dl_list,
                                    'position':     dl_position + '<?= $cont_prod ?>',
                                    'dimension28':  'Tienda Movistar'
                                }
                        }
                    );
                <?php endforeach; ?>


                while (impressions.length > 0)
                    dl_split.push(impressions.splice(0, split_size));

                for (var i = 0; i < dl_split.length; i++) {
                    dataLayer.push({
                        'event': 'productImpression',
                        'ecommerce': {
                            'currencyCode': 'MXN',
                            'impressions': dl_split[i]
                        }
                    });
                }


                jQuery("a[data-dl-product-cuadricula-view-detail]").click(function (evt) {                        
                    var retr = jQuery(this).data('dl-product-cuadricula-view-detail');
                    var retrdl;

                    for(var key in impressionsdl) {

                        if (impressionsdl[key]['id'] == retr) {
                            retrdl = impressionsdl[key]['data'];
                        }
                    }

                    dataLayer.push({
                        'event': 'productClick',
                        'ecommerce': {
                            'click': {
                                'actionField' : {'list' : dl_list},
                                'products': [
                                    retrdl
                                ]
                            }
                        }
                    });
                });            
        });
    });
</script>
