<?php //var_dump($block->getMostRecentlyViewed()); ?>

<?php
$idWidget = "related-products-" . uniqid();
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media."recortes/";
$image = 'favorite_products_content_widget_grid';
$products = $block->getMostRecentlyViewed();
$n = uniqid();
?>

<?php if ($products->count()) : ?>
<div class="destacado-carrusel-widget vitrinas-carrusel-widget" id="<?php echo $idWidget; ?>">
    <div class="wrapper-carousel-widget">
        <ul class="carousel-carousel-widget" data-target="carousel-<?php echo $idWidget; ?>">        
    <?php
    foreach ($products as $item) :
        $gtm_data = [
            'event' => 'evBoton',
            'nameSection' => $item->getName(),
            'btnSelect' => $item->getName(),
        ];
        $productImage = $block->getImage($item, $image, array('longdesc' => $item->getProductUrl()));
        ?>
        <li class="card-carousel-widget" data-target="card-<?php echo $idWidget; ?>">
            <article class="vsm-grid grid__slot slick-slide slick-current slick-active" aria-hidden="false"
                     style="width: 100%; display:block;" tabindex="0">
                <div class="grid__inner">
                    <figure class="grid__photo special-img-widget">
                        <a data-dl-product-related-view-detail="<?php echo $item->getId(); ?>" href="<?= $block->getHelperVitrina()->getUrlVitrina($item,false,$block->getBaseUrl()); ?>" class="grid__action" tabindex="-1">
                            <?php echo $productImage->toHtml() ?>
                        </a>
                    </figure>
                    <div class="grid__body">
                        <div class="vsm-grid__head">
                            <h2 class="grid__title"><?php echo $item->getName(); ?></h2>
                        </div>

                        <div class="vsm-grid__footer grid__footer">
                            <p class="grid__label">Desde</p>
                            
                            <div class="vsm-grid__block">
                                <?php if($block->getHelperVitrina()->showPlanMes()): ?>
                                <div class="grid__price">
                                    <small class="grid__label_brand2">Plan/mes*</small>
                                    <span class="grid__value">
                                        $<?php echo number_format(($block->getHelperVitrina()->getDisplayValuePospago($item)), 2, '.', ','); ?><span class="grid__value-disclaimer">/mes*</span>
                                    </span>
                                </div>
                                <?php endif; ?>
                                <?php if($block->getHelperVitrina()->showPrecioEquipoCarruselVitrinas()): ?>
                                <div class="grid__price">
                                    <small class="grid__label_brand">Prepago</small>
                                    <span class="grid__value">
                                        $<?php echo number_format(($block->getHelperVitrina()->getDisplayValuePrepago($item)), 2, '.', ','); ?></span>
                                </div>
                                <?php endif; ?>
                            </div>
                            <div class="grid__center">
                                <a data-dl-product-related-view-detail="<?php echo $item->getId(); ?>" class="btn" href="<?= $block->getHelperVitrina()->getUrlVitrina($item,false,$block->getBaseUrl()); ?>">
                                    Ver detalle
                                </a>                                                             
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <?php
    endforeach;
?>
</ul>

</div>
<?php if($products->count() > 4): ?>
    <div class="button-wrapper-carousel-widget">
        <button data-action="slideLeft-<?php echo $idWidget; ?>">
            <span class="the-left-widget">
            </span>
        </button>
        <button data-action="slideRight-<?php echo $idWidget; ?>">
            <span class="the-right-widget">
            </span>
        </button>
    </div>
<?php endif ?>
</div>
<script type="text/javascript">
     require([
        'jquery'
    ], function (
        $
    ) {
        <?php $_cfg_dl_split  = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('datalayer/setttings/split'); ?>

        jQuery(window).load(function() {
            window.dataLayer = window.dataLayer || [];                      
            
                var impressions     = [];
                var impressionsdl   = [];
                var dl_split        = [];
                var split_size      = <?php  echo $_cfg_dl_split; ?>;
                
                var dl_list     = 'Te puede interesar también';
                var dl_position = 'Vitrinas|';                                

                <?php 
                    $cont_prod = 0;
                    foreach ($products as $_product):
                        $cont_prod++;
                ?>
                    impressions.push(
                        {
                            'name':         '<?php echo $_product->getName();   ?>',
                            'id':           '<?php echo $_product->getSku();    ?>',                            
                            'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',                            
                            'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                            'category':     'Celular',
                            'variant' :     'N/A',
                            'list':         dl_list,
                            'position':     dl_position + '<?= $cont_prod ?>',
                            'dimension28':  'Tienda Movistar'
                        }
                    );

                    impressionsdl.push(
                        {
                            'id': '<?php echo $_product->getId(); ?>',
                            'data':
                                {
                                    'name':         '<?php echo $_product->getName(); ?>',
                                    'id':           '<?php echo $_product->getSku(); ?>',                                    
                                    'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',                                    
                                    'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                                    'category':     'Celular',
                                    'variant' :     'N/A',
                                    'list':         dl_list,
                                    'position':     dl_position + '<?= $cont_prod ?>',
                                    'dimension28':  'Tienda Movistar'
                                }
                        }
                    );
                <?php endforeach; ?>


                while (impressions.length > 0)
                    dl_split.push(impressions.splice(0, split_size));

                for (var i = 0; i < dl_split.length; i++) {
                    dataLayer.push({
                        'event': 'productImpression',
                        'ecommerce': {
                            'currencyCode': 'MXN',
                            'impressions': dl_split[i]
                        }
                    });
                }


                jQuery("a[data-dl-product-related-view-detail]").click(function (evt) {                        
                    var retr = jQuery(this).data('dl-product-related-view-detail');
                    var retrdl;

                    for(var key in impressionsdl) {

                        if (impressionsdl[key]['id'] == retr) {
                            retrdl = impressionsdl[key]['data'];
                        }
                    }

                    dataLayer.push({
                        'event': 'productClick',
                        'ecommerce': {
                            'click': {
                                'actionField' : {'list' : dl_list},
                                'products': [
                                    retrdl
                                ]
                            }
                        }
                    });
                });            
        });
    });
</script>

<script>
var myFuncNae5 = 'cargaVideos_q<?php echo $n; ?>';
window[myFuncNae5] = function() {
    var carousel = document.querySelector("[data-target='carousel-<?php echo $idWidget; ?>']");
    if(carousel){
    var card = carousel.querySelector("[data-target='card-<?php echo $idWidget; ?>']");
    var leftButton = document.querySelector("[data-action='slideLeft-<?php echo $idWidget; ?>']");
    var rightButton = document.querySelector("[data-action='slideRight-<?php echo $idWidget; ?>']");
    }

    if(card){
        var carouselWidth = carousel.offsetWidth;
    var cardStyle = card.currentStyle || window.getComputedStyle(card)
    var cardMarginRight = Number(cardStyle.marginRight.match(/\d+/g)[0]);
    var numeros = 4;

    var cardCount = carousel.querySelectorAll("[data-target='card-<?php echo $idWidget; ?>']").length;

    var y = window.matchMedia("(max-width: 860px)");
    if (y.matches) {
        numeros = 1;
    }

    cardCount = makeDivisble(cardCount, numeros);

    let offset = 0;
    var maxX = -((cardCount / numeros) * carouselWidth +
        (cardMarginRight * (cardCount / numeros)) -
        carouselWidth - cardMarginRight);

    leftButton.addEventListener("click", function() {
        if (offset !== 0) {
            offset += carouselWidth + cardMarginRight;
            carousel.style.transform = 'translateX('+offset+'px)';
        }
    })

    rightButton.addEventListener("click", function() {
        if (offset !== maxX ) {
            offset -= carouselWidth + cardMarginRight;
            carousel.style.transform = 'translateX('+offset+'px)';
            lazyLoad();
        }
    });
    }

   
}

Object.defineProperty(window[myFuncNae5], "name", {
    value: myFuncNae5
});
</script>


<style>
    .vitrinas-carrusel-widget .card-carousel-widget{
        min-width: 234px;
        height: 420px;
        width: 234px
    }
    .vitrinas-carrusel-widget .special-img-widget img{
        height: auto;
        width: 100%;
    }
    .vitrinas-carrusel-widget .btn{
        padding: 8px 7px;
    }
    .vitrinas-carrusel-widget .vsm-grid .grid__photo{
        max-width: 80px;
    }
    .vitrinas-carrusel-widget .wrapper-carousel-widget{
        height: 445px;
    }
</style>
<?php else: ?>
<style>
    .vitrinas-carrusel-widget .wrapper-carousel-widget{
        height: 0;
    }
</style>
<?php endif; ?>