<?php
    $idWidget = "vitrinas_divisor_texto-".spl_object_hash($block);
    $helper = $this->helper('Entrepids\CustomWidgets\Helper\WidgetHelper'); 
    
    $bg_divisor_color_1  = (!$block->getData('bgColor'))? '#fff' : $block->getData('bgColor');
    $p_heading_divisor = $block->getData('paragraphField');
    $p_heading_color_divisor = $block->getData('paragraphColor');
?>


<div class="section-title" style="background-color: <?php echo  $bg_divisor_color_1; ?>">
    <div class="contenedor-max">
        <?php if(!empty($p_heading_divisor)){ ?>
        <p style="color: <?php echo $p_heading_color_divisor; ?>">
            <?php echo $p_heading_divisor; ?>
        </p>
        <?php } ?>
    </div>
</div>