<?php $headers = $block->getHeaders(); ?>
<h1>Information Header</h1>

<div class="header-information-text">
    <h2><?= __('Verify the csv file has the next header columns').":" ?></h2>
</div>
<ul>
    <?php foreach($headers as $head): ?>
    <li><?= __($head); ?></li>
    <?php endforeach; ?>
</ul>


