//- Bloque
//- ISSUE: hotfix-css-INTPOSP-475
.swatch-option-tooltip {
    box-shadow: rgb(220, 219, 219) 0px 1px 2px 0px;
    .corner {
        &:before {
            border-width: 7px 8.5px 0 8.5px;
            border-color: rgb(220, 219, 219) transparent transparent transparent;
        }
        &:after {
            border-width: 7px 7.5px 0 6.5px;
        }
    }
}

.swatch-option {
    &.color {
        height: 20px;
        width: 20px;
        border: 2px solid #dcdbdb;
    }
}