//- Bloque
//- ISSUE: hotfix-css-INTPOSP-448
.grid__label {
    &.grid__label_price {
        display: none;
    }
}
.list-thumb__txt {
    display: none;
}
.catalog-product-view {
    .layout-flex__aside {
        .price-box {
            &.price-final_price {
                &::before {
                    display: none;
                }
                .grid__label {
                    &.grid__label_price {
                        display: block!important;
                    }
                }
            }
        }
        .grid__price {
            &.grid__price_hide {
                display: none;
            }
        }
        .grid__label_brand2 {
            display: none;
        }
        .grid__value-price {
            display: inline-block;
            min-width: 82px;
            padding: 2px 6px;
            margin: 0 4px 4px;
            text-align: center;
            font-size: 14px;
            border: 1px solid #D3D4D3;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            border-color: #00A9E0;
            background-color: #00A9E0;
            color: #fff;
            font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .list-thumb__txt {
            display: block;
            text-align: left;
        }
    }
}

.grid__value {
    font-size: 16px;
}

@media only screen and (max-width: 839px) {
    .grid__blocks {
        flex-direction: column;
    }
    .grid__price:last-child {
        border: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 840px) {
    .grid__value {
        font-size: 18px;
    }  
}

//_ INTPOSP-731 Cambio del grid a tres cols desde 980
@media (min-width: 768px) and (max-width: 979px) {
      //- Contenedor
    .grid {
        -ms-grid-columns: minmax(115px, 300px) [2];
        grid-template-columns: repeat(2, minmax(115px, 300px));
    }

}



@media (min-width: 993px) and (max-width: 1128px) {
    // .products-grid {
    //     .grid__price {
    //         .grid__label_brand,
    //         .grid__label_brand2 {
    //             font-size: 11px;
    //         }
    //     }
    // }
    .grid__blocks {
        flex-direction: column;
    }
    .grid__price:last-child {
        border: 0;
        padding-left: 0;
    }
}

//- ISSUE: hotfix-css-INTPOSP-498
@include media-query(medium) {
    .grid {
        .grid__slot {
            @include flex(1 0);
        }
    }
}

@media (min-width:768px) and (max-width:992px) {
    .products {
        .grid {
            .grid__slot {
                @include flex(48% 0);
            }
        }
    }
}

@media (min-width:993px) {
    .products {
        .grid {
            .grid__slot {
                @include flex(32% 0);
            }
        }
    }
}
