//- ISSUE: hotfix-css-INTPOSP-462

// .msmx-list {

// }
.msmx-list__title {
    font-family: $f-bold;
    padding-bottom: 15px;
}
.msmx-list__items {
    @include flexbox;
    list-style: none;
    height: 20px;
}

.ie11 {
    .msmx-list__items {
        @media screen and (min-width: 768px) and (max-width: 1024px) {flex-wrap: wrap;}  
    }
}

.msmx-list__item {
    padding: 0 4px;
    border-right: 1px solid $c-default-2;
    height: 20px;
    &:last-child {
        border-right: none;
    }
    &:first-child {
        padding-left: 0;
    }
}
.msmx-list__anchor {
    @include flexbox;
}
.msmx-list__fig {
    display: block;
    max-width: 20px;
}
.msmx-list__img {
    display: block;
    width: 20px;
    min-width: 20px;
    height: 20px;
}
.msmx-list__txt {
    font-family: $f-regular;
    font-size: 14px;   
    color: $c-accesible-link;
    text-decoration: underline;
    padding-left: 4px;
}

@include media-query(medium) {
    .msmx-list__item {
        padding: 0 8px;
    }
}