//- ISSUE: hotfix-css-INTPOSP-498
.toolbar{
  &.toolbar-products{
    margin-bottom: 0;
    padding: 0;
    .modes {
        display: none;
    }
    .toolbar-amount,
    .toolbar-sorter   {
        padding: 0;
    }
    .sorter-options {
        max-width: 120px;
        text-align: right;
    }
  }  
}