//- ISSUE: hotfix-css-INTPOSP-462
.grid__order {
    .msmx-product-details {
        width: 100%;
        display: table;
        float: none;
    }
    .product-reviews-summary {
        display: table-cell;
        margin: 0;
    }
    .msmx-product-details-reviews,
    .msmx-product-details-atributes {
        display: table-cell;
        width: 50%;
        float: none;
    }
    .msmx-product__img {
        max-width: 24px;
        display: block;
        margin: 10px 0 12px 0;
    }
}