//- ISSUE: hotfix-css-INTPOSP-546
// Media query desde 640px
//- BTN del buscador
.data-sheet__btn {
    left: auto;
    right: 0;
}

@include media-query(small-medium) {
  
    .data-sheet__btn {
      right: -10px;
      left: auto;
    }
  }