//- Bloque
//- ISSUE: hotfix-css-INTPOSP-429
.steps__selected {
    .steps__img {
        max-width: 80px;
    }
    .steps__img_none {
        max-width: 42px;
    }
}

//- ISSUE: hotfix-css-INTPOSP-467
.step__content {
    display: none;
}

//- HOTFIX-INTPOSP-711
@include media-query(medium) {
    .c-steps__cont {
        &.steps__cont{
            .slick-track {
                margin: 0 auto;
            }
        }
    }
}