//- ISSUE: hotfix-css-INTPOSP-498
.page-products {
    &.page-with-filter {
        .sidebar.sidebar-additional {
            display: none;
        }
    }
    .product-item-actions {
        .btn {
            display: block;
        } 
    }
}

@include media-query(medium) {
    .page-products {
        &.page-with-filter {
            .columns {
                @include flexbox;
                @include flex-wrap(nowrap);
            }
        }
        .column.main {
            width: auto;
            float: none;
            @include flex(2 auto);
        }
        .sidebar.sidebar-main {
            width: auto;
            float: none;
            @include flex(1 auto);
        }    
    }

    //- HOTFIX-INTPOSP-655
    .ie11 {
        .page-products {
            .sidebar.sidebar-main {
                max-width: 280px;
            }
        }
    }
}