//- HOTFIX: INTPOSP-443: card vitrina de planes- Parrilla
.vsm-foot__cont {
    .foot-sponsors__list {
        text-align: center;
    }
    .foot-sponsors__item {
        display: inline-block;
        padding: 10px 0;
    }
}


.vsm-foot__link {
    height: auto;
    max-height: 37px;
    .foot-sponsors__img {
        display: block;
        height: inherit;
        width: auto;
        max-width: initial;
        max-height: 37px;
    }
}

.foot-sponsors__group {
  .vsm-foot__link:not(:last-child) {
    .foot-sponsors__img {
      padding-right: 5px;
    }
  }
}

@media screen and (min-width:501px){
    .vsm-foot__subitem {
        .foot-sponsors__group {
            padding-top: 24px;
        }
    }
    
}

@include media-query(medium) {
    .page-footer {
        .vsm-foot__cont {
            .foot__list {
                margin: 0 auto;
                padding: 20px 20px 0;
            }
        }
    }
}

@media screen and (min-width:1149px){
    .vsm-foot__cont {
        .foot-sponsors__item_big {
            padding-top: 9px;
        }
        .foot-sponsors__group {
            margin-right: 4px;

        }
    }
    .vsm-foot__subitem {
        .foot-sponsors__group {
            padding-top: 27px;
            padding-bottom: 13px;
        }
    }
    
}

@include media-query(large){
    .vsm-foot__cont {
        .foot-sponsors__sublist_border {
            .foot-sponsors__img:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}

//- HOTFIX: INTPOSP-730
@media  screen and (max-width:480px){

    .vsm-foot__link {
        .foot-sponsors__img {
            width: 85%;
            height: 36px;
        }
    }
} 

//- HOTFIX-ETEMM-286
@include media-query(max-medium) {
  .foot-sponsors__group {
    .vsm-foot__link {
      max-height: initial;

      .foot-sponsors__img {
        height: auto;
      }
    }
  }
}