//- Bloque
//- ISSUE: hotfix-css-INTPOSP-445
.menu-foot__btn {
    padding: 10px 14px;
  }

//- ISSUE: hotfix-css-INTPOSP-465
.submenu {
  .submenu__item {
    padding: 20px 10px;
  }
}

.menu-brand__link_login { 
  &.mi-user { 
    display: none;
  }
}
@include media-query(medium){ 
  .submenu {
    .submenu__item {
      padding: 20px;
    }
  }
}


@media (max-width:500px){
  //- ISSUE: hotfix-css-INTPOSP-465
  .submenu {
    .submenu__item {
      padding: 20px;
    }
    .submenu__list {
      min-width: 90%;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .submenu__list{
    width: 100% !important;
  }

  input::-ms-clear{
    display: none !important;
  }

}

@supports (-ms-accelerator:true) {
  .submenu__list{
    width: 100% !important;
  }

  input::-ms-clear{
    display: none !important;
  }
}
