//- Bloque
//- ISSUE: hotfix-css-INTPOSP-437
.data__txt-big {
    font-size: 16px;
    //- ISSUE: hotfix-css-INTPOSP-436
    color: #86888C;
}

.data-aside__box {
    -webkit-box-flex: 1;
    -ms-flex: 1 56%;
    flex: 1 54%;
}

.data__total {
    -webkit-box-flex: 1;
    -ms-flex: 1 46%;
    flex: 1 44%; 
}

.data-aside__btn {
    .data__total {
        font-size: 20px;
    }
}

//- HOTFIX-INTPOSP-711
.c-card {
    .card_desktop {
        display: block;
    }
    .form__label_check {
        flex: 2 100%;
        white-space: nowrap;
        max-width: 140px;
        margin: 0 auto;
    }
    //- HOTFIX-INTPOSP-711
    .card__position {
        .tag-svg {
            .tag {
                .txt,
                .txt-strong {
                    @include font-size-rem(12px);
                }
            }
        }
    }
    .btn-i {
        margin-top: 0;
        padding-top: 0;
    }
}

.c-card__group {
    @include flexbox;
    max-width: 300px;
    margin: 0 auto;
}

.distinct__margin{
    margin: 0 !important;
    margin-left: -30px !important;
}

//- HOTFIX-ETEMM-23
.ie11 {
    .c-card__group {
        width: 100%;

        .i-question-ball {
            padding: 0;
        }
    }
}


//- HOTFIX-INTPOSP-711
@include media-query(medium) {
    .c-card {
        .card__header {
            position: relative;
        }
        .card__txt {
            display: none;
        }

        .card__txt2 {
            display: block !important;
        }
        &.card_check {
            @include justify-content(space-between);
        }
        .card__wrap {
            @include align-self(stretch);
            height: 100%;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-between);
        }
        .card__content {
            height: 92% !important;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-between);
        }
        .card__item {
            height: auto;
        }
    }
}