//- ISSUE: hotfix-css-INTPOSP-462

.msmx-note__fig {
    min-width: 120px;
}

.msmx-note__img {
    position: relative;
    left: -20px;
    max-width: 120px;
    width: 120px;
    height: 85px;
    display: block;
    margin: 0 auto 0 0;
}

.msmx-note__link {
    color: $c-brand-2;
    text-decoration: underline;
}

@include media-query(medium) {
    .msmx-note__block {
        @include flexbox;
        @include align-items(center);
    }
    .msmx-note__img {
        left: 0; 
        @include flex(1 0);
    }
    .msmx-note__txt {
        @include flex(2 0);
    }
}