//- ISSUE: hotfix-css-INTPOSP-498
.filter {
    color: $c-default;
/*     .filter-content {
        background-color: aqua;
    }

    .filter-title {
        background-color: brown;
    } */
    .filter-subtitle {
        font-family: $f-regular;
        font-size:18px;
        color: $c-default; 
    }

    .filter-options {
        padding: 10px 0;
    }
    .filter-options-item {
        &.active {
            color: $c-default; 
        }
    }
    .filter-options-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid $c-default;
        padding-bottom: 8px;
        &:before {
            content: unicode($i-arrow-up);
            @include order(2);
            font-family: $movistar-icons-font;
            color: $c-brand-2;
            font-size: 18px;
            margin: 0;
        }
    }
    .filter-options-content {
        display: none;
        .items {
            padding-top: 20px;
        }
        .item {
            padding: 4px 10px 0;
            a {
                span{
                    font-family: $f-regular;
                    font-size:14px;
                    color: $c-default-1;
                }
            }
 
        }
        //- Cápsulas de Color
        .swatch-option.color {
            width: 35px;
            height: 20px;
            border-radius: 15px;
        }
        .swatch-attribute-options {
            padding: 20px 0 0 20px;
        }
        .swatch-option {
            padding: 4px 10px;
            min-width: auto;
            border-radius: 15px;
        }
    }
}

/*@include media-query(max-medium) {
    .filter {
        max-width: 480px;
    }
}*/

@include media-query(medium) {
    .filter {
        min-width: 180px;
        margin-right: 20px;
    }
}