//- ISSUE: hotfix-css-INTPOSP-496

.tool-box_form {
    &.tool-box {
        @include flex(2);
        clear: both;
        display: block;
        height: 100%;
        //padding-bottom: 14px;
    }
    .tool {
        right: 0;
        top: 30px;
        width: 70%;
    }
    .tool__list {
        padding: 8px 30px 0;
        margin: 0;
    }
    .tool__txt,
    .tool__item {
        font-family: $f-default;
        color: $c-default-1;
        font-size: 14px;
    }
    .btn-i {
        float: right;
        margin: 0 10px 0 auto;
        &:before {
            color: $c-alert;
        }
        &:active,
        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
}

@include media-query(max-medium) {
    .tool-box_form {

        .tool__list {
            padding: 8px 25px 0;
        }
        .tool__item {
            font-size: 12px;
        }
    }
}