//- ISSUE: hotfix-css-INTPOSP-467
@include media-query(max-medium){
    .data-section_item {
        .link {
            display: block;
            //padding-bottom: 20px;
        }
    }
}
.data__sub-summary .data__total {
    text-align: right;
}

//- ISSUE: hotfix-css-INTPOSP-519
.data__table {
    width: 100%;
}

//- HOTFIX: INTPOSP-519 IE
//- Ubicar correctamente la línea en poscar
.ie11 {
    .data__table {
        .data__pullquote {
            &:after {
                left: 0;
            }
        }   
    }
}

// INTPOSP-600/601: PosCar y PosCarSteps
.data__txt-fs18 {
    font-size: 18px;
  }
