//- ISSUE: hotfix-css-INTPOSP-467
.form__box_under{
    .form__txt-sm{
        padding: 4px 0 4px 50px;
    }
}

//- ISSUE: hotfix-css-INTPOSP-450
.form-ico_tabs {
    //- Elemento
    .form-ico__label {    
        &:before {
        color: $c-default-3;
        }
    }

    .form__radio_label {
        &:before {
          border-color: $c-default-3;
        }
    }

    .form__radio {
        &:checked+.form__radio_label {
            &:before {
                border-color: $c-brand-2;
              }
            .form-ico__label {
            &:before {
                //color: $c-default;
                color: $c-brand-2;
                }
            }
        }
    }

}