//- ISSUE: hotfix-css-INTPOSP-655
.vass-page-numbers {
    .item.current {
        strong {
        &.page {
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            }
        }
    }
}