//- Issue: INTPOSP-713
//- Branch: INTPOSP-713

.is-block-wishlist_hidden  {
    display: none;
}

.bar-sticky {
    .empty-none {
        text-align: center;
    }
}

.bar-sticky__item_button {
    width: 180px;
}

//- $bp-medium: 768px
@include media-query(medium) {
    .bar-sticky {
        .bar-sticky__list {
            @include align-items(center);
            margin: 0 auto;
            .bar-sticky__item {
                @include flex(1 0);
                .bar-sticky__fig {
                    @include justify-content(center);
                }
            }
            .bar-sticky__item {
                &:last-of-type {
                    @include flex(none);
                }
            }
            .product-item {
                @include flex(1 0);  
            }
        }
    }
}
