// INTPOSP-707 HERO BANNER http://msmx.com.mx/telefonos.html
.c-hero-banner__bg {
    background-color: $c-brand-2;
    .hero-banner__title {
      font-family: $f-default;
      line-height: 1;
    }
    .hero-banner__txt {
      font-family: $f-default;
      @include font-size-rem(20px);
    }
    .btn {
      display: block;
      min-width: 170px;
      padding: 8px 12px;
    }
  }

@include media-query(max-small-m){
  .c-hero-banner {
    .hero-banner__title {
      @include font-size-rem(30px);
    }
  }
}
  

@include media-query(max-medium){
  .c-hero-banner {
    .hero-banner__txt {
      display: block;
    }
  }
}

@include media-query(small-medium){
  .c-hero-banner {
    .hero-banner__caption {
      width: 50%;
      max-width: 430px;
    }
    .hero-banner__title {
      @include font-size-rem(32px);
      margin: 0;
    }
    .hero-banner__title,
    .hero-banner__txt {
      padding-bottom: 4px;
    }
    .btn {
      min-width: 220px;
    }
  }
}


@include media-query(medium) {
  .c-hero-banner {
    .hero-banner__caption {
      width: 50%;
      max-width: 450px;
    }
    .hero-banner__title {
      @include font-size-rem(50px);
    }
    .hero-banner__btn {
      margin-top: 4px;
    }
    .hero-banner__title,
    .hero-banner__txt {
      padding-bottom: 10px;
    }
    .btn{
      padding: 16px 14px;
    }
  }
}

@include media-query(small-wide){
  .c-hero-banner {
    .hero-banner__title {
      margin-bottom: 10px;
    }
    .hero-banner__title,
    .hero-banner__txt {
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 1720px){
  .c-hero-banner {
    .hero-banner__item {
      max-height: 600px;
    }
  }
}