//- ISSUE: hotfix-css-INTPOSP-655
@include media-query(max-medium) {
    .search__panel {
        .suggest {
            display: none;
        }
        .search__list {
            border-bottom: none;
        }
    }
}

.search__panel {
    .search__list {
        .search__link {
            color: $c-default;
            &:hover{
                text-decoration: none;
                color: $c-default;
                font-family: $f-bold;
            }
        }
    }
}

.suggest__list {
    .product__name {
        margin: 5px 0 0;
        //- Se apunta a la etiqueta porque esta es dinámica
        a {
            color: $c-default-1;
            text-decoration: none;
        }
    }
    .product__prices {
        margin-bottom: 0;
        //- Se apunta a ocultar los bloques dinámicos
        .grid__label,
        .grid__price {
            display: none;
        }
    }
    //-HOTFIX-ETEMM-113: Se acomoda cada producto (ancho + espacios entre productos)
    .product {
        max-width: 120px;
        @include flex(1 100%);
        margin: 10px 4px;
    }
    //-HOTFIX-ETEMM-113: Del cuarto producto en adelante se ocultan.
    .product:not(:nth-child(-n+3)){
        display: none;
    }

}
