//- ISSUE: hotfix-css-INTPOSP-729
.c-categories-tabs {
    .tabs-bar {
        margin: 0 auto;
    }
    .tabs-bar__link {
        white-space: nowrap;
        &:hover {
            color: $c-default-1;
            text-decoration: none;
        }
    }
    div{
        display: none;
    }
}