//- Bloque
//- ISSUE: hotfix-css-INTPOSP-431
.module__footer {
    .module__alert{
        text-align: center;
        padding-bottom: 0;
    }
    .card__success {
        text-align: center;
        font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 14px 0;
        &:before {
            padding-right: 10px;
            position: relative;
            top: 4px;
            color: $c-brand;
            font-size: 24px;
            vertical-align: text-bottom;
        }
    }
}
