<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Pager template
 *
 * @see \Magento\Theme\Block\Html\Pager
 */
?>
<?php if ($block->getCollection()->getSize()): ?>

    <?php if ($block->getUseContainer()): ?>
    <div class="pager">
    <?php endif; ?>

        <?php if ($block->getShowAmounts()): ?>
        <p class="toolbar-amount">
            <span class="toolbar-number">
            <?php if ($block->getLastPageNum()>1): ?>
                <?= /* @escapeNotVerified */ __('Items %1 to %2 of %3 total', $block->getFirstNum(), $block->getLastNum(), $block->getTotalNum()) ?>
            <?php elseif ($block->getTotalNum() == 1): ?>
                <?= /* @escapeNotVerified */ __('%1 Item', $block->getTotalNum()) ?>
            <?php else: ?>
                <?= /* @escapeNotVerified */ __('%1 Item(s)', $block->getTotalNum()) ?>
            <?php endif; ?>
            </span>
        </p>
        <?php endif; ?>

        <?php if ($block->getLastPageNum()>1): ?>
        <div class="pages">
            <strong class="label pages-label" id="paging-label"><?= /* @escapeNotVerified */ __('Page') ?></strong>
            <ul class="items pages-items" aria-labelledby="paging-label">
            <?php //if ($block->isFirstPage()): ?>
                <?php $text = $block->getAnchorTextForPrevious() ? $block->getAnchorTextForPrevious() : '';?>
            <a class="vass-page-previous" href="<?= /* @escapeNotVerified */ $block->getPreviousPageUrl() ?>" title="<?= /* @escapeNotVerified */ $text ? $text : __('Previous') ?>" >
                <li class="item pages-item-previous">
                    <span class="<?= /* @escapeNotVerified */ $text ? 'link ' : 'action ' ?> msmx-arrow-paginator-previous">
                        <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                        <span><?= /* @escapeNotVerified */ $text ? $text : __('Previous') ?></span>
                    </span>
                    <span class="msmx-previous-text">
                        <span><?= /* @escapeNotVerified */ __('Previous') ?></span>
                    </span>
                </li>
            </a>
            <?php //endif;?>


            <div class="vass-page-numbers">
                <?php if ($block->canShowFirst()): ?>
                    <li class="item">
                        <a class="page first" href="<?= /* @escapeNotVerified */ $block->getFirstPageUrl() ?>">
                            <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                            <span>1</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php if ($block->canShowPreviousJump()): ?>
                    <li class="item">
                        <a class="page previous jump" title="" href="<?= /* @escapeNotVerified */ $block->getPreviousJumpUrl() ?>">
                            <span><?= /* @escapeNotVerified */ __('Previous') ?></span>
                        </a>
                    </li>
                <?php endif;?>

                <?php foreach ($block->getFramePages() as $_page): ?>
                    <?php if ($block->isPageCurrent($_page)): ?>
                        <li class="item current">
                            <strong class="page">
                                <span class="label"><?= /* @escapeNotVerified */ __('You\'re currently reading page') ?></span>
                                <span><?= /* @escapeNotVerified */ $_page ?></span>
                            </strong>
                        </li>
                    <?php else: ?>
                        <li class="item">
                            <a href="<?= /* @escapeNotVerified */ $block->getPageUrl($_page) ?>" class="page">
                                <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                                <span><?= /* @escapeNotVerified */ $_page ?></span>
                            </a>
                        </li>
                    <?php endif;?>
                <?php endforeach;?>

                <?php if ($block->canShowNextJump()): ?>
                    <li class="item">
                        <a class="page next jump" title="" href="<?= /* @escapeNotVerified */ $block->getNextJumpUrl() ?>">
                            <span>...</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php if ($block->canShowLast()): ?>
                  <li class="item">
                      <a class="page last" href="<?= /* @escapeNotVerified */ $block->getLastPageUrl() ?>">
                          <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                          <span><?= /* @escapeNotVerified */ $block->getLastPageNum() ?></span>
                      </a>
                  </li>
                <?php endif;?>
            </div>


            <?php //if (!$block->isLastPage()): ?>
            <?php $text = $block->getAnchorTextForNext() ? $block->getAnchorTextForNext() : '';?>
            <a class="vass-page-next" href="<?= /* @escapeNotVerified */ $block->getNextPageUrl() ?>" title="<?= /* @escapeNotVerified */ $text ? $text : __('Previous') ?>">
                <li class="item pages-item-next">
                    <span class="msmx-next-text">
                        <span><?= /* @escapeNotVerified */ __('Next') ?></span>
                    </span>
                    <span class="<?= /* @escapeNotVerified */ $text ? 'link ' : 'action ' ?> msmx-arrow-paginator-next">
                        <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                        <span><?= /* @escapeNotVerified */ $text ? $text : __('Next') ?></span>
                    </span>
                </li>
            </a>
            <?php //endif;?>
            </ul>
        </div>
        <?php endif; ?>

    <?php if ($block->isShowPerPage()): ?>
        <div class="limiter">
            <strong class="limiter-label"><?= /* @escapeNotVerified */ __('Show') ?></strong>
            <select id="limiter" data-mage-init='{"redirectUrl": {"event":"change"}}' class="limiter-options">
                <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
                    <option value="<?= /* @escapeNotVerified */ $block->getLimitUrl($_key) ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                        selected="selected"<?php endif; ?>>
                        <?= /* @escapeNotVerified */ $_limit ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <span class="limiter-text"><?= /* @escapeNotVerified */ __('per page') ?></span>
        </div>
    <?php endif; ?>

    <?php if ($block->getUseContainer()): ?>
    </div>
    <?php endif; ?>

<?php endif; ?>