<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php

/**
*  General template for displaying group of blocks devided into sections
*/

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}';
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')):?>
  <div class="head-foot">
      <nav class="menu head__item" style="overflow: hidden;">
        <?php $layout = $block->getLayout(); ?>
         <ul class="menu__list">
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html) && ($block->getUseForce() != true)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                    echo $html;
                ?>
            <?php endforeach;?>
        </ul>
      </nav>
    <a class="btn btn_blue head__item" href="#" title="Pórtate a Movistar">Pórtate a Movistar</a>

  </div>
<?php endif; ?>
