<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php //$columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php //$_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<?php
 	$catId =2;
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);           
    $subcats = $subcategory->getChildrenCategories();
?>      
            <?php
            foreach ($subcats as $subcat) {
                if ($subcat->getIsActive()) {

                    $subcat_url = $subcat->getUrl();
                    $enlace_actual = 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
                    $subcat_img = "";
                    $subcat_active = "";
                    $placeholder_img = "/media/placeholder.png";
                    $subcat_name = $subcat->getName();
                    $class_icon = "";
                    if($subcat_name == "Teléfonos"){
                    	$class_icon = "i-cell";
                    }
                    if($subcat_name == "Planes"){
                    	$class_icon = "i-cell-voice";
                    }
                    if($subcat_name == "Hogar"){
                    	$class_icon = "i-house";
                    }
                    if($subcat_name == "Renovaciones"){
                    	$class_icon = "i-cell-reload";
                    }
                    if($subcat_name == "Promociones"){
                    	$class_icon = "i-cell-favorite";
                    }
                    if($subcat_name == "Recargas"){
                    	$class_icon = "i-cell-recharge";
                    }
                    if($subcat_url == $enlace_actual){
                    	$subcat_active = "active";
                    }
                    
                    
                    ?>
                    <li class="menu__item">
                        <a class="menu__link  <?php echo $class_icon; echo ' '; echo $subcat_active;?>" title="<?php echo $subcat->getName(); ?>" href="<?php echo $subcat_url; ?>">
                            <?php echo "$subcat_name"; ?>
                        </a>
                    </li>

                    <?php
                }
            }
            ?>
        