<?php
$order = $block->getLayout()->createBlock('Vass\SeguimientoOrder\Block\Index');
$dataOrder = $order->getOrderId();
$dataItems = $order->getOrderItemsId();
$dataLog = $order->getOrderLog();
$shippingDescription = '';
if (isset($dataOrder[0]) && $dataOrder[0]['entity_id'])
{
    $shippingDescription = $order->getShippingDescription($dataOrder[0]['entity_id']);
}
$direccion = $dataOrder[0]['street'].' '.$dataOrder[0]['numero_int'].', '.$dataOrder[0]['postcode'].' '.$dataOrder[0]['colonia'].' , '.$dataOrder[0]['region'].' , '.$dataOrder[0]['city'];

$fecha_creacion_orden = $dataOrder[0]['created_at'];

$totalItems = count($dataItems);
$precioTerminal = 0;
$precioPlan = 0;

if(count($dataLog)>0){
    $status_paso_2 = "Orden por verificar";
    $status_paso_3 = "Guias de Envio";
    $status_paso_4 = "Entrega Confirmada";
    $ultimoLog = $dataLog[0]['minutos'].' min';
    for($i=0;$i<count($dataLog);$i++){

        if(strcasecmp($dataLog[$i]["status_order_new"], $status_paso_2) === 0){
            $creacion = $dataLog[$i]['creation'];
        }

        if(strcasecmp($dataLog[$i]["status_order_new"], $status_paso_3) === 0 ){
            $order_transito = $dataLog[$i]['creation'];
        }

        if(strcasecmp($dataLog[$i]["status_order_new"], $status_paso_4) === 0){
            $fecha_entregada_paquete = $dataLog[$i]['creation'];
        }
    }
}else{
    $creacion = '';
    $order_transito = '';
    $fecha_entregada_paquete = '';
    $ultimoLog = 0;
}


$mpSignature = $dataOrder[0]['mp_signature'];
$orderOnix = $dataOrder[0]['order_onix'];
$numeroGuia = $dataOrder[0]['numero_guia'];
$statusTraking = $dataOrder[0]['estatus_trakin'];
$statusOrder = 1;

if(strcasecmp($statusTraking,'Cancelada') != 0){
    if( !empty($statusTraking)  && strcasecmp($statusTraking,'Entrega Confirmada') === 0 ){
        $statusOrder = 4;
    }elseif( !empty($numeroGuia) ){
        $statusOrder = 3;
    }elseif( !empty($orderOnix) ){
        $statusOrder = 2;
    }elseif( !empty($mpSignature) ){
        $statusOrder = 1;
    }
}else{
    $statusOrder = 5;
}


/*
 => string '47dde303-52b1-4a1a-b949-63c547f76687' (length=36)
      '' => null
      '' => null
      '' => string 'Serie por Asignar' (length=17)
*/

//$statusOrder = 1;


?>
<section class="inner_canvas head section-head" style="padding-bottom: 50px;">
    <h1 class="title_headline">Detalle de tu orden</h1>
    <!-- Componente de Status-->
    <?php if($statusOrder == 1){?>
    <div class="c-status_processing"><!-- Bloque de estado-->
        <div class="c-status__card">
            <h2 class="c-status__title i-order">Pago aceptado</h2>
            <p class="c-status__lead">Pago realizado con éxito.</p>
            <!-- Línea de estados-->
            <br><br>
            <ul class="c-status__line">
                <!-- Bloque #1-->
                <li class="c-status__item c-status__item_check" >
                    <div class="c-status__bullet">
                        <p class="c-status__label">Pago aceptado</p>
                        <small class="status__small"><?=$fecha_creacion_orden?></small></div>
                </li>
                <!-- Bloque #2-->
                <li class="c-status__item c-status__item_disabled">
                    
                    <div class="c-status__bullet">
                        <p class="c-status__label">Orden confirmada</p>
                        <small class="status__small"></small></div>
                </li>
                <!-- Bloque #3-->
                <li class="c-status__item c-status__item_disabled">
                    
                    <div class="c-status__bullet">
                        <p class="c-status__label">Orden en tránsito</p>
                        <small class="status__small"></small></div>
                </li>
                <!-- Bloque #4-->
                <li class="c-status__item c-status__item_disabled">
                    <div class="c-status__bullet">
                        <p class="c-status__label">Orden Entregada</p>
                        <small class="status__small"></small></div>
                </li>
            </ul>
        </div>
        <?php }elseif($statusOrder == 2){?>
        <div class="c-status c-status_validation"><!-- Bloque de estado-->
            <div class="c-status__card">
                <h2 class="c-status__title i-order">Orden confirmada</h2>
                <p class="c-status__lead">Tu orden ya fué confirmada.</p>
                <!-- Línea de estados-->
                <br><br>
                <ul class="c-status__line">
                    <!-- Bloque #1-->
                    <li class="c-status__item">
                        <div class="c-status__bullet">
                            <p class="c-status__label">Pago aceptado</p>
                            <small class="status__small"><?=$fecha_creacion_orden?></small></div>
                    </li>
                    <!-- Bloque #2-->
                    <li class="c-status__item c-status__item_check ">
                        <div class="c-status__bullet">
                            <p class="c-status__label">Orden confirmada</p>
                            <small class="status__small"><?=$creacion?></small></div>
                    </li>
                    <!-- Bloque #3-->
                    <li class="c-status__item c-status__item_disabled">
                        <div class="c-status__bullet">
                            <p class="c-status__label">Orden en tránsito</p>
                            <small class="status__small"></small></div>
                    </li>
                    <!-- Bloque #4-->
                    <li class="c-status__item c-status__item_disabled">
                        <div class="c-status__bullet">
                            <p class="c-status__label">Orden Entregada</p>
                            <small class="status__small"></small></div>
                    </li>
                </ul>
            </div>
            <?php }elseif($statusOrder == 3){ ?>
            <!-- Componente de Status-->
            <div class="c-status c-status_complete"><!-- Bloque de estado-->
                <div class="c-status__card">
                    <h2 class="c-status__title i-order">Pedio en camino</h2>
                    <p class="c-status__lead">El pedido fue empacado y enviado</p>
                    <!-- Línea de estados-->
                    <br><br>
                    <ul class="c-status__line">
                        <!-- Bloque #1-->
                        <li class="c-status__item">
                            <div class="c-status__bullet">
                                <p class="c-status__label">Pago aceptado</p>
                                <small class="status__small"><?=$fecha_creacion_orden?></small></div>
                        </li>
                        <!-- Bloque #2-->
                        <li class="c-status__item">
                            <div class="c-status__bullet">
                                <p class="c-status__label ">Orden confirmada</p>
                                <small class="status__small"><?=$creacion?></small></div>
                        </li>
                        <!-- Bloque #3-->
                        <li class="c-status__item c-status__item_check">
                            <div class="c-status__bullet">
                                <p class="c-status__label">Orden en tránsito</p>
                                <small class="status__small"><?=$order_transito?></small></div>
                        </li>
                        <!-- Bloque #4-->
                        <li class="c-status__item c-status__item_disabled">
                            <div class="c-status__bullet">
                                <p class="c-status__label">Orden Entregada</p>
                                <small class="status__small"></small></div>
                        </li>
                    </ul>
                </div>
                <?php }elseif($statusOrder == 4){?>

                <!-- Componente de Status-->
                <div class="c-status_sent"><!-- Bloque de estado-->
                    <div class="c-status__card">
                        <h2 class="c-status__title i-order">Entregado</h2>
                        <p class="c-status__lead">El pedido ya fué entregado</p>
                        <!-- Línea de estados-->
                        <br><br>
                        <ul class="c-status__line">
                            <!-- Bloque #1-->
                            <li class="c-status__item">
                                <div class="c-status__bullet">
                                    <p class="c-status__label">Pago aceptado</p>
                                    <small class="status__small"><?=$fecha_creacion_orden?></small></div>
                            </li>
                            <!-- Bloque #2-->
                            <li class="c-status__item">
                                <div class="c-status__bullet">
                                    <p class="c-status__label">Orden confirmada</p>
                                    <small class="status__small"><?=$creacion?></small></div>
                            </li>
                            <!-- Bloque #3-->
                            <li class="c-status__item">
                                <div class="c-status__bullet">
                                    <p class="c-status__label">Orden en tránsito</p>
                                    <small class="status__small"><?=$order_transito?></small></div>
                            </li>
                            <!-- Bloque #4-->
                            <li class="c-status__item">
                                <div class="c-status__bullet">
                                    <p class="c-status__label">Orden Entregada</p>
                                    <small class="status__small"><?= $fecha_entregada_paquete ?></small></div>
                            </li>
                        </ul>
                    </div>
                    <?php }elseif($statusOrder == 5){?>
                    <div class="c-status c-status_processing">
                        <!-- Bloque de estado-->
                        <div class="c-status__card">
                            <h2 class="c-status__title i-order">Cancelado</h2>
                            <p class="c-status__lead">El pedido está cancelado</p>
                            <!-- Línea de estados-->
                            <br><br>
                            <ul class="c-status__line">
                                <!-- Bloque #1-->
                                <li class="c-status__item c-status__item_disabled">
                                    <div class="c-status__bullet">
                                        <p class="c-status__label">Pago aceptado</p>
                                        <small class="status__small"></small></div>
                                </li>
                                <!-- Bloque #2-->
                                <li class="c-status__item c-status__item_disabled">
                                    <div class="c-status__bullet">
                                        <p class="c-status__label">Orden confirmada</p>
                                        <small class="status__small"></small></div>
                                </li>
                                <!-- Bloque #3-->
                                <li class="c-status__item c-status__item_disabled">
                                    <div class="c-status__bullet">
                                        <p class="c-status__label">Orden en tránsito</p>
                                        <small class="status__small"></small></div>
                                </li>
                                <!-- Bloque #4-->
                                <li class="c-status__item c-status__item_disabled">
                                    <div class="c-status__bullet">
                                        <p class="c-status__label">Orden Entregada</p>
                                        <small class="status__small"></small></div>
                                </li>
                            </ul>
                        </div>
                        <?php } ?>
</section>
<div class="inner_canvas-wide inner_line-bottom section"><!-- Tabla-->
    <table class="table">
        <tbody>
        <tr class="table__row table__head-body">
            <th class="table__head">Orden de compra</th>
            <th class="table__head">Tu número</th>
            <th class="table__head">Tracker ID</th>
            <th class="table__head">Curier</th>
        </tr>
        <tr class="table__row">
            <td class="table__col" data-head="Día estimado de entrega">#<?=$dataOrder[0]['increment_id']?></td>
            <td class="table__col" data-head="Orden de compra"><?=$dataOrder[0]['telephone']?></td>
            <td class="table__col" data-head="Factura"><?=$dataOrder[0]['numero_guia']?></td>
            <td class="table__col table__txt-brand" data-head="Tracker ID"><?=$dataOrder[0]['courier']?></td>
        </tr>
        <tr class="table__row">
            <td class="table__col table__txt-bold" colspan="4">Enviado a</td>
        </tr>
        <tr class="table__foot">
            <td class="table__col" colspan="4"><?=$shippingDescription?></td>
        </tr>
        <tr class="table__foot">
            <td class="table__col" colspan="4" align="center"><a class="link__brand" title="Corregir dirección" href="https://goo.gl/forms/tO5WrahOabhNvUxD2" target="_blank">Encuesta de Satisfacción</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="inner_canvas-wide inner_line-bottom section">
    <h3>Requisitos para recoger tu pedido</h3>
    <p>
        <strong>Domicilio:</strong>
    <ul>
        <li>Ten a la mano una copia de tu identificación oficial para recibir el pedido.</li>
    </ul>
    <strong>Centro de Atención a Cliente:</strong>
    <ul>
        <li>Si solicitaste recogerlo en CAC recuerda que sólo tienes 10 días para pasar por él o tu orden será cancelada.</li>
        <li>Ten a la mano tu identificación oficial (IFE/INE, pasaporte o cédula) para recibir el pedido.</li>
        <li>En caso de que alguien más lo recoja, necesitará una carta poder simple con la copia de tu identificación oficial (IFE/INE, pasaporte o cédula) y una copia de su identificación oficial.</li>
        <li>Ten listo tu número telefónico y tu orden de venta para recoger tu compra.</li>
    </ul>
    </p>
    <h3>Devolución</h3>
    <p>
    <ul>
        <li>Recuerda que cualquier deveolución se debe realizar con caja cerrada y en buen estado, sellos intactos y hasta 5 días después de recibir tu compra.</li>
    </ul>
    </p>
</div>
<div class="inner_canvas section"><!-- Componente Productos en orden-->
    <div class="data data_canvas"><!-- Contenido General-->
        <div class="data__content">
            <h2 class="data__title-section">Hay <?=$totalItems?> productos en tu orden</h2>


            <?php foreach($dataItems as $_items){ ?>
                <?php if($_items['category']=='Terminales'){
                    $precioTerminal = $_items['price']
                    ;        $nameTerminal = $_items['name'];
                    ?>
                    <!-- Item #1-->
                    <div class="data__flex"><!-- #1 Imagen de producto-->
                        <div class="data__crop"><img class="data__img" src="/media/catalog/product/<?=$_items['img']?>" alt="Iphone X" /></div>
                        <!-- #2 Row de características-->
                        <div class="data__lead"><!-- Distribución de cajas-->
                            <h3 class="data__title-lead"><?=$_items['name']?></h3>
                            <dl class="data__list-item">
                                <dt class="data__th">Color y Características</dt>
                                <dd class="data__group">
                            <span class="list-thumb__circle list-thumb__circle_active" style="background-color: <?=$_items['color']?>; border: 1px solid #ececec; text-align:center; color: #cecece;">
                                <?=$_items['color_valor']?>
                            </span>
                                    <span class="list-thumb__boll data__tag"><?=$_items['gb']?></span>
                                </dd>
                            </dl>
                        </div>
                        <!-- #3 Distribución de cajas-->
                        <div class="data__box">
                            <p class="data__price">$ <?=number_format($_items['price'],2,'.',',')?></p>
                        </div>
                    </div>
                <?php } // EndIF ?>
            <?php } // Endforeach ?>

            <!-- Subitem #1-->
            <div class="data__grid data_border data__flex_calc"><!-- BloqueFila 1-->
                <?php foreach($dataItems as $_items){ ?>
                    <?php if($_items['category']=='Servicios'){ ?>
                        <!-- valida obligatorio -->
                        <?php if($_items['obligatorio']==1){
                            if($_items['imagen_servicio']=='icon'){
                                $imgIcon = '';
                                $icon = 'i-padlock';
                            }else{
                                $imgIcon = '<img src="/media/wysiwyg/recortes/'.$_items['imagen_servicio'].'" style="padding-right: 20px;" />';
                                $icon = '';
                            }
                            ?>
                            <ul class="data__order-list">
                                <li class="data__order-sublist">
                                    <span class="data__ico <?=$icon?>">
                                        <?=$imgIcon?>
                                        <?=$_items['name']?>
                                    </span>
                                </li>
                                <li class="data__order-item"><span class="pos-data__price">Gratis</span></li>
                            </ul>
                        <?php }else{
                            if($_items['imagen_servicio']=='icon'){
                                $imgIcon = '';
                                $icon = 'i-padlock';
                            }else{
                                $imgIcon = '<img src="/media/wysiwyg/recortes/'.$_items['imagen_servicio'].'" style="padding-right: 20px;" />';
                                $icon = '';
                            }
                            ?>
                            <ul class="data__order-list">
                                <li class="data__order-sublist">
                                    <span class="data__ico <?=$icon?>">
                                        <?=$imgIcon?>
                                        <?=$_items['name']?>
                                    </span>
                                </li>
                                <li class="data__order-item"><span class="pos-data__price">$<?=number_format($_items['price'],2,'.',',')?>/mes</span></li>
                            </ul>
                        <?php } ?>
                    <?php } // EndIF ?>
                <?php } // Endforeach ?>
            </div>
            <?php  foreach($dataItems as $_items){
                if($_items['category']=='Planes'){
                    $precioPlan = $_items['price'];
                    $namePlan = $_items['name'];
                    $gb = (int)$_items['gb_plan'];
                    $gb = $gb * 1000;
                    ?>
                    <!-- Item #2-->
                    <div class="data__flex data_border-top"><!-- #1 Imagen de producto-->
                        <div class="data__crop"><img class="data__img" src="/media/wysiwyg/recortes/thumb-sim.png" alt="SIM Movistar" /></div>
                        <!-- #2 Row de características-->
                        <div class="data__lead"><!-- Distribución de cajas-->
                            <h3 class="data__title-lead"><?=$_items['name']?></h3>
                        </div>
                        <!-- #3 Distribución de cajas-->
                        <div class="data__box">
                            <p class="data__price">$ <?=number_format($_items['price'],2,'.',',')?> /mes</p>
                        </div>
                    </div>
                    <!-- Subitem #2-->
                    <dl class="data_border-bottom data__flex_calc">
                        <dt class="data__th">Detalle del plan</dt>
                        <?php if($_items['minutos_mexico_eu_canada']==1): ?>
                            <dd class="data__txt i-chat-comic">Minutos a México,Estados Unidos y Canadá: ilimitado</dd>
                        <?php endif; ?>
                        <dd class="data__txt i-wifi">Internet <?=$gb?> MB</dd>
                        <?php if($_items['redes_sociales_ilimitadas']==1): ?>
                            <dd class="data__txt i-chat">Redes sociales Ilimitadas</dd>
                        <?php endif; ?>
                    </dl><!-- Subitem #3-->
                <?php } ?>
            <?php } ?>
        </div>
        <!-- Aside--><aside class="data__aside data__aside_no-border">
            <div class="data__aside-inner">
                <div class="data__header">
                    <h2 class="data__title">Resumen de tu compra</h2>
                    <small class="data__small-underline">Total</small>
                </div>
                <?php /* if($precioTerminal>0):?>
                <dl class="data__list">
                    <dt class="data__term"><?=$nameTerminal?></dt>
                    <dd class="data__value">$ <?=number_format($precioTerminal,2,'.',',')?></dd>
                </dl>
                <?php endif;?>
                <?php if($precioPlan>0):?>
                <dl class="data__list">
                    <dt class="data__term"><?=$namePlan?></dt>
                    <dd class="data__value">$ <?=number_format($precioPlan,2,'.',',')?> / mes</dd>
                </dl>
                <?php endif; */ ?>
                <?php foreach($dataItems as $_items): ?>
                    <?php $catTel = $order->blockCategy($_items['product_id']); ?>
                    <?php if($_items['obligatorio']==1){ ?>
                        <dl class="data__list">
                            <dt class="data__term"><?=$_items['name']?></dt>
                            <dd class="data__value">GRATIS</dd>
                        </dl>
                    <?php }else{?>
                        <dl class="data__list">
                            <dt class="data__term"><?=$_items['name']?></dt>
                            <dd class="data__value">$ <?=number_format($_items['price'],2,'.',',')?> <?=($catTel==0)?'/mes.':''?></dd>
                        </dl>
                    <?php }?>
                <?php endforeach; ?>
                <dl class="data__list">
                    <dt class="data__term">SubTotal</dt>
                    <dd class="data__value">$ <?=number_format($dataOrder[0]['base_subtotal'],2,'.',',')?></dd>
                </dl>
                <dl class="data__list">
                    <dt class="data__term">Envío</dt>
                    <dd class="data__value">$ 0.00</dd>
                </dl>
                <dl class="data__list">
                    <dt class="data__term">Impuestos</dt>
                    <dd class="data__value">$ 0.00</dd>
                </dl>
                <dl class="data__list">
                    <dt class="data__term">Descuento</dt>
                    <dd class="data__value">$ <?=number_format($dataOrder[0]['discount_amount'],2,'.',',')?></dd>
                </dl>
                <dl class="data__list data__summary">
                    <dt class="data__term">Total</dt>
                    <dd class="data__total">$ <?=number_format($dataOrder[0]['grand_total'],2,'.',',')?></dd>
                </dl>
            </div>
            <!--
            <div class="data__actions"><button class="btn btn_neutro data__btn" type="button">Cancelar orden</button></div>
            -->
        </aside></div>
</div>
<!--
<div class="band_warm">
    <section class="inner_canvas section">
        <h3 class="section__head">Te podría interesar</h3>
        <p class="section__subhead">Una serie de accesorios para completar tu compra.</p>
        <div class="slider-detail slider-detail_bg">
            <div class="slider-detail__inner">
                <div class="slider-detail__list js-slideOffered"><article class="grid__slot grid__slot_background">
                        <div class="grid__inner">
                            <div class="grid__tags"><span class="tag_corner tag_corner-red i-triangle">Hot</span></div>
                            <figure class="grid__photo"><a class="grid__action" title="Ir a comprar Iphone 6" href="detalle-producto.html"><img class="grid__img" src="/media/wysiwyg/recortes/banner-cargador.jpg" alt="Cargador Fast Change" /></a></figure>
                            <div class="grid__body">
                                <h2 class="grid__title">Cargador fast charge</h2>
                                <h3 class="grid__title">Samsung</h3>
                                <footer class="grid__footer">
                                    <p class="grid__label">Desde</p>
                                    <p class="grid__value">$ 949</p>
                                </footer></div>
                        </div>
                    </article><article class="grid__slot grid__slot_background">
                        <div class="grid__inner"><figure class="grid__photo"><a class="grid__action" title="Comprar Cristal protector" href="detalle-producto.html"><img class="grid__img" src="/media/wysiwyg/recortes/banner-protector.jpg" alt=" Cristal protector" /></a></figure>
                            <div class="grid__body">
                                <h2 class="grid__title">Cristal protector</h2>
                                <footer class="grid__footer">
                                    <p class="grid__label">Desde</p>
                                    <p class="grid__value">$ 949</p>
                                </footer></div>
                        </div>
                    </article><article class="grid__slot grid__slot_background">
                        <div class="grid__inner">
                            <div class="grid__tags"><span class="tag_corner tag_corner-yellow i-triangle">-50%</span></div>
                            <figure class="grid__photo"><a class="grid__action" title="Comprar Airpods" href="detalle-producto.html"><img class="grid__img" src="/media/wysiwyg/recortes/banner-airpods.jpg" alt=" Cristal protector" /></a></figure>
                            <div class="grid__body">
                                <h2 class="grid__title">Airpods</h2>
                                <footer class="grid__footer">
                                    <p class="grid__label">Desde</p>
                                    <p class="grid__value">$ 949</p>
                                </footer></div>
                        </div>
                    </article><article class="grid__slot grid__slot_background">
                        <div class="grid__inner">
                            <div class="grid__tags"><span class="tag_corner tag_corner-red i-triangle">Hot</span></div>
                            <figure class="grid__photo"><a class="grid__action" title="Ir a comprar Iphone 6" href="detalle-producto.html"><img class="grid__img" src="/media/wysiwyg/recortes/banner-cargador.jpg" alt="Cargador Fast Change" /></a></figure>
                            <div class="grid__body">
                                <h2 class="grid__title">Cargador fast charge</h2>
                                <h3 class="grid__title">Samsung</h3>
                                <footer class="grid__footer">
                                    <p class="grid__label">Desde</p>
                                    <p class="grid__value">$ 949</p>
                                </footer></div>
                        </div>
                    </article><article class="grid__slot grid__slot_background">
                        <div class="grid__inner"><figure class="grid__photo"><a class="grid__action" title="Comprar Cristal protector" href="detalle-producto.html"><img class="grid__img" src="/media/wysiwyg/recortes/banner-protector.jpg" alt=" Cristal protector" /></a></figure>
                            <div class="grid__body">
                                <h2 class="grid__title">Cristal protector</h2>
                                <footer class="grid__footer">
                                    <p class="grid__label">Desde</p>
                                    <p class="grid__value">$ 949</p>
                                </footer></div>
                        </div>
                    </article><article class="grid__slot grid__slot_background">
                        <div class="grid__inner">
                            <div class="grid__tags"><span class="tag_corner tag_corner-yellow i-triangle">-50%</span></div>
                            <figure class="grid__photo"><a class="grid__action" title="Comprar Airpods" href="detalle-producto.html"><img class="grid__img" src="/media/wysiwyg/recortes/banner-airpods.jpg" alt=" Cristal protector" /></a></figure>
                            <div class="grid__body">
                                <h2 class="grid__title">Airpods</h2>
                                <footer class="grid__footer">
                                    <p class="grid__label">Desde</p>
                                    <p class="grid__value">$ 949</p>
                                </footer></div>
                        </div>
                    </article></div>
            </div>
            <div class="slider-detail__controls"><button class="slider__arrow i-arrow-left prev" type="button"><span class="slider__arrow-txt">anterior</span></button> <button class="slider__arrow i-arrow-right next" type="button"><span class="slider__arrow-txt">siguiente</span></button></div>
        </div>
    </section>
</div>
-->