<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$linkmedia = $this->getBaseUrl();
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
    <!--Logo-->
    <ul class="menu-brand">
        <li class="menu-brand__item menu-brand__item_logo">
	        <a class="menu-brand__logo" href="<?= $linkmedia ?>" title="Ir al home">
	            <picture class="menu-brand__picture">
	                <source media="(min-width: 1200px)" srcset="<?= $linkmedia ?>/media/wysiwyg/recortes/brand-movistar-green.svg" alt="Logo Movistar" longdesc="<?= $linkmedia ?>/media/wysiwyg/recortes/brand-movistar-green.svg">
	                <source media="(max-width: 1199px)" srcset="<?= $linkmedia ?>/media/wysiwyg/recortes/m-movistar-green.svg" alt="Logo Movistar" longdesc="<?= $linkmedia ?>/media/wysiwyg/recortes/brand-movistar-green.svg">
	                <img class="menu-brand__img" src="<?= $linkmedia ?>/media/wysiwyg/recortes/brand-movistar-green.svg" alt="Logo Movistar" longdesc="<?= $linkmedia ?>/media/wysiwyg/recortes/brand-movistar-green.svg">
	            </picture>
	        </a>
	    </li>
        <?php 
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $customerSession = $objectManager->get('Magento\Customer\Model\Session');
        $grupo = $customerSession->getCustomer()->getGroupId();
        if($customerSession->isLoggedIn() && $grupo!=0) { ?>
        <li class="menu-brand__item menu-brand__item_hidden">
          	<a class="menu-brand__link menu-brand__link_login mi-user" href="<?= $linkmedia ?>perfil-usuario" title="Ir al perfil">Perfil</a>
        </li>
        <?php }else{ ?>
         <li class="menu-brand__item menu-brand__item_hidden">
            <a class="menu-brand__link menu-brand__link_login mi-user" href="<?= $linkmedia ?>pos-login-home" title="Ir al login">Login</a>
        </li>    
        <?php } ?>

        <li class="menu-brand__item menu-brand__item_hidden">
        	<a class="menu-brand__link menu-brand__link_menu mi-menu js-menuBtn" href="#" title="Abrir menú">Menú</a>
        </li>
    </ul>

    <?php
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('menu-top-2')->toHtml();
    ?>