<?php
// Datos de la orden que biene del detalle
$link_media = $block->getMediaUrl() . 'wysiwyg/recortes/';
$servicios = $block->getServicios($block->getProduct()->getPrice());
?>
<style type="text/css">
    #hotspot-service {
        display: none;
    }
</style>
<button class="steps__btn btn" type="submit" id="submitplanes"><?= __('Ver resumen de mi Plan'); ?></button>
<div class="layout_bg-col" style="display:none;">
    <fieldset class="layout_inner steps">
        <legend class="steps__legend">
            <span class="steps__head">
                <span class="steps__titles">
                    <small class="head__title"><?= __('Complementa tu Plan con nuestros servicios adicionales') ?></small>
                    <small class="head__subtitle"></small>
                </span>
            </span>
        </legend>
        <div class="steps__cont">
            <ul class="steps__list steps__list_box">

                <?php foreach ($servicios as $i => $servi): ?>
                    <li class="steps__item" <?php echo ($servi->getSku() == 'Hotspot') ? 'id="hotspot-service"' : ''; ?>>
                        <div class="box-check">
                            <input class="box-check__input" type="checkbox" id="<?= $servi->getName() ?>" name="servicios[]" value="<?= $servi->getId(); ?>">
                            <label class="box-check__label i-check" for="<?= $servi->getName() ?>">
                                <?php if ($servi->getUrlImagenServicio() == 'icon') { ?>
                                    <img class="box-check__img" src="<?= $link_media . 'security.svg' ?>" alt="<?= $servi->getShortDescription() ?>" longdesc="<?= $link_media . 'security.svg' ?>">
                                <?php } else { ?>
                                    <img class="box-check__img" src="<?= $link_media . $servi->getUrlImagenServicio() ?>" alt="<?= $servi->getShortDescription() ?>" longdesc="<?= $link_media . $servi->getUrlImagenServicio() ?>">
                                <?php } ?>
                                <small class="box-check__caption"><?= $servi->getName() ?></small>
                                <span class="box-check__txt"><?= $servi->getShortDescription() ?></span></label>
                        </div>
                        <?php if ($servi->getSku() == 'BLIM') { ?>
                            <button data-gtm-button="blim" class="steps__link link__brand js-listModalBtnTwo" type="button" tabindex="0"><?= __('Términos y condiciones'); ?></button>
                        <?php } elseif ($servi->getSku() == 'Spotify') { ?>
                            <button data-gtm-button="spotify" class="steps__link link__brand js-listModalBtnTwo2" type="button" tabindex="0"><?= __('Términos y condiciones'); ?></button>
                        <?php } elseif ($servi->getSku() == 'PE-1' || $servi->getSku() == 'PE-2' || $servi->getSku() == 'PE-3' || $servi->getSku() == 'PE-4') { ?>
                            <!--<a data-gtm-button="protect" href="https://www.movistar.com.mx/documents/10184/77214062/CONDICIONES_GENERALES_PO%CC%81LIZA_DE_SEGURO_DE_EQUIPOS_ELE%CC%81CTRO%CC%81NICOS_DE_COMUNICACIO%CC%81N.pdf/3b6eb080-a8cf-4f56-970b-53e42b4604ec" target="_blank" style="padding: 20px 0;display: block;position: relative;text-decoration: underline;font-size: 13px;">Términos y condiciones</a>-->                            
                            <button data-gtm-button="protect" class="steps__link link__brand js-listModalBtnTwo2" type="button" tabindex="0"><?= __('Términos y condiciones'); ?></button>
                        <?php } elseif ($servi->getSku() == 'Hotspot') { ?>
                            <button data-gtm-button="hotspot" class="steps__link link__brand js-listModalBtnTwo3" type="button" tabindex="0"><?= __('Términos y condiciones'); ?></button>
                        <?php } ?>                        
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="steps__foot steps__foot5">
            
        </div>
    </fieldset>
</div>
</form>
</div>

<div class="modal modal_list js-listModal">
    <div class="modal__box modal_list">
        <button class="modal__close js-modal__close i-x"><?= __('Cerrar'); ?></button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">
        <h2 class="modal__title"><?= __('Planes Movistar'); ?></h2>
        <div class="modal__crop">
            <h3 class="modal__bold"><?= __('Planes Movistar'); ?></h3>
            <p class="modal__txt"><?= __('Válido para contrataciones realizadas entre el 1° de agosto al 30 de septiembre de 2018, en los siguientes planes y modalidades:') ?></p>
            <ul class="modal__list">
                <li class="modal__list_item"><?= __('Plan'); ?></li>
                <li class="modal__list_item"><?= __('Modalidad'); ?></li>
                <li class="modal__list_item"><?= __('Movistar 2'); ?></li>
                <li class="modal__list_item"><?= __('Control/Pospago'); ?></li>
                <li class="modal__list_item"><?= __('Movistar 3'); ?></li>
                <li class="modal__list_item"><?= __('Control/Pospago'); ?></li>
                <li class="modal__list_item"><?= __('Movistar 4'); ?></li>
                <li class="modal__list_item"><?= __('Control/Pospago'); ?></li>
                <li class="modal__list_item"><?= __('Movistar 5'); ?></li>
                <li class="modal__list_item"><?= __('Control/Pospago'); ?></li>
                <li class="modal__list_item"><?= __('Movistar 6'); ?></li>
                <li class="modal__list_item"><?= __('Control/Pos'); ?></li>
            </ul>
        </div>
    </div>
</div>

<!-- Proteccion de Equipo -->
<div class="modal modal_list js-listModalTwo3" style="overflow-y: hidden;">
    <div class="modal__box modal_list" style="overflow-y: hidden;">
        <button class="modal__close js-modal__close i-x"><?= __('Cerrar'); ?></button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>"/>
        <h2 class="modal__title"><?= __('Términos y condiciones'); ?></h2>
        <div class="modal__crop">
            <h3 class="modal__bold"><?= __('Hotspot'); ?></h3>
            <p class="modal__txt">
                <?= __('En este Plan ilimitado la posibilidad de compartición de datos estará desactivada desde la propia configuración y en la red de Movistar, dicha condición no interfiere ni modifica ninguna característica del equipo celular que en su caso el Cliente adquiera, es decir, la funcionalidad de compartición de datos incluida en el equipo celular no es afectada por esta configuración y sólo se trata de una condición asociada a la red de Movistar. Los datos ilimitados otorgados en el Plan Ilimitado son para uso personal y únicamente podrán consumirse en el equipo celular en el que se inserte la tarjeta SIM por lo que no son objeto de poderse compartir con cualquier otro dispositivo o equipo celular. En caso de que el Cliente desee compartir los datos del Plan como “Hotspot” a cualquier otro dispositivo o equipo celular, deberá adquirir el servicio “Hotspot”. Cuando se identifique que el Cliente ha realizado manipulación y comparta los datos asociados al Plan como un “Hotspot” se cobrará el servicio y dicho cargo se verá reflejado en la factura del mes corriente.') ?>                
            </p>
        </div>
        <button class="modal__btn btn js-modal__close" type="button"><?= __('Aceptar'); ?></button>
    </div>
</div>
<!-- Spotyfi -->
<div class="modal modal_list js-listModalTwo2" style="overflow-y: hidden;">
    <div class="modal__box modal_list" style="overflow-y: hidden;">
        <button class="modal__close js-modal__close i-x"><?= __('Cerrar'); ?></button>
        <img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>"/>
        <h2 class="modal__title"><?= __('Términos y condiciones Spotify'); ?></h2>
        <div class="modal__crop">
            <h3 class="modal__bold"><?= __('Términos y condiciones Spotify Premium') ?></h3>
            <p class="modal__txt">
                <?= __('Vigencia del 2 de mayo de 2017 al 31 de diciembre de 2018. Para tener derecho a 1 mes gratis de Spotify Premium, el cliente deberá contratar el servicio con un costo de $99 pesos al mes, recibiendo el primer mes sin costo. Una vez activada la línea, el cliente recibirá un SMS con una liga en donde deberá registrarse dentro de los primeros 30 días de la activación de la línea, para contratar el servicio de Spotify Premium por $99 al mes. Al término del mes gratuito, se cobrará automáticamente $99 mensuales (IVA incluido). El cliente podrá cancelar en cualquier momento su suscripción marcando al *611 desde su Movistar. El primer mes sin costo aplican sólo una vez por usuario que no haya sido o no haya contratado Spotify Premium en otro momento, sin importar la forma de pago. La navegación en Spotify se consumirá de los datos del plan contratado y una vez consumida, se cobrará con la tarifa excedente del plan. El servicio de música en línea (streaming) puede cambiar sin previo aviso y Movistar proporcionará al cliente un servicio con características similares durante el tiempo restante del mes otorgado. Para mayor información sobre los Términos y Condiciones, consulta www.spotify.com/mx'); ?>                
            </p>
        </div>
        <button class="modal__btn btn js-modal__close" type="button"><?= __('Aceptar') ?></button>
    </div>
</div>

<!-- BLIM -->
<div class="modal modal_list js-listModalTwo" style="overflow-y: hidden;">
    <div class="modal__box modal_list" style="overflow-y: hidden;">
        <button class="modal__close js-modal__close i-x"><?= __('Cerrar'); ?></button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">
        <h2 class="modal__title"><?= __('Términos y condiciones BLIM'); ?></h2>
        <div class="modal__crop">
            <h3 class="modal__bold"><?= __('BLIM CON COSTO'); ?></h3>
            <p class="modal__txt">
                <?= __('Vigencia al 31 de diciembre de 2018. El cliente deberá contratar el servicio de blim con un costo de $99 pesos al mes, tomando en cuenta que las siguientes mensualidades se cargarán de forma recurrente a la factura recibida mensualmente. Una vez activada la línea, el cliente recibirá un SMS con una liga en donde deberá registrarse dentro de los primeros 30 días de la activación de la línea, para contratar el servicio. El cliente podrá cancelar en cualquier momento su suscripción marcando al *611 desde su Movistar. La activación de la cuenta aplica sólo para usuarios que hayan contratado algún plan participante en el cual esté incluido el servicio de blim y no hayan contratado el servicio en algún otro momento, sin importar la forma de pago. La navegación en blim se consumirá de los datos del plan contratado y una vez consumida, se cobrará con la tarifa excedente del plan. El servicio de video bajo demanda ofrece una cantidad ilimitada de alquiler de películas y series de televisión, el cual puede cambiar sin previo aviso.'); ?>               
            </p>
            <h4 class="modal__bold"><?= __('BLIM INCLUÍDO (SIN COSTO)'); ?></h4>
            <p class="modal__txt">
                <?= __('Vigencia al 31 de diciembre de 2018. Una vez activada la línea, el cliente recibirá un SMS con una liga en donde deberá registrarse dentro de los primeros 30 días de la activación de la misma, para así contratar el servicio de blim que está incluido en su plan. El cliente podrá cancelar en cualquier momento su suscripción marcando al *611 desde su Movistar. La activación de la cuenta aplica sólo para usuarios que hayan contratado algún plan participante en el cual esté incluido el servicio de blim y no hayan contratado el servicio en algún otro momento, sin importar la forma de pago. La navegación en blim se consumirá de los datos del plan contratado y una vez consumida, se cobrará con la tarifa excedente del plan. El servicio de video bajo demanda ofrece una cantidad ilimitada de alquiler de películas y series de televisión, el cual puede cambiar sin previo aviso.'); ?>                
            </p>
        </div>
        <button class="modal__btn btn js-modal__close" type="button"><?= __('Aceptar') ?></button>
    </div>
</div>

<div class="modal modal_list js-listModalThree">
    <div class="modal__box modal_list">
        <button class="modal__close js-modal__close i-x"><?= __('Cerrar'); ?></button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>"/>
        <h2 class="modal__title"><?= __('Plan Control'); ?></h2>
        <div class="modal__crop">
            <h3 class="modal__bold"><?= __('Plan Control'); ?></h3>
            <p class="modal__txt">
                <?= __('"Esta modalidad te permite no exceder tu gasto mensual una vez agotado tus beneficios contratados con la opción de comprar beneficios adicionales posteriormente."'); ?>                
            </p>
        </div>
    </div>
</div>