<?php
$product  = $block->getProduct();
$display = true;
// Datos de la orden que biene del detalle
if ($product->getId() > 0 || $product->getId() != '') {
    $imagen = $block->getMediaUrl().'catalog/product' . $product->getImage();
} else {
    $display = false;
    $imagen = '';
}

$link_media = $block->getMediaUrl().'wysiwyg/recortes/';

$dataPlanesAttaker = $block->getPlanActual();
if (isset($dataPlanesAttaker) && !empty($dataPlanesAttaker)) {   
    $ayentity_id = $dataPlanesAttaker['entity_id'];        
    $atname = $dataPlanesAttaker['name'];
    $aux = explode($block->_helperPlanes->getSeparadorNombre(), $atname);
    if(isset($aux[1])){
        $atname = $aux[1];
    }
    $atmovistar_cloud_plan = $dataPlanesAttaker['movistar_cloud_plan'];
    $roaming_internacional = $dataPlanesAttaker['roaming_internacional'];
    $atplan_asociado = $dataPlanesAttaker['plan_asociado'];
    $atplan_control = $dataPlanesAttaker['plan_control'];
    $atdescription = $dataPlanesAttaker['description'];
    $itemDescriptionInfoat = str_replace('</p>', '', str_replace('<p>', '', explode(' ', $atdescription)));
    if(isset($itemDescriptionInfoat[0]) && isset($itemDescriptionInfoat[1])){
        $firstat = $itemDescriptionInfoat[0] . ' ' . $itemDescriptionInfoat[1];
    }else{
        $firstat = "";
    }
    if(isset($itemDescriptionInfoat[2]) && isset($itemDescriptionInfoat[3])){
        $secondat = $itemDescriptionInfoat[2] . ' ' . $itemDescriptionInfoat[3];
    }else{
        $secondat = "";
    }
    $atprice = intval($dataPlanesAttaker['price']);
    $ataker_tyc_url = $dataPlanesAttaker['plan_tyc_renovacion_url'];        
} else {    
    $ayentity_id = "";    
    $atname = "";
    $firstat = "";
    $secondat = "";
    $atmovistar_cloud_plan = "";
    $roaming_internacional = "";
    $atplan_asociado = "";
    $atprice = "0";
    $atplan_control = "";
    $ataker_tyc_url = "";
}

if($block->isControlAvailable()){
    $plan_elegible = $atplan_asociado;
}else{
    $plan_elegible = $ayentity_id;
}
?>
<div class="layout layout3">
    <form class="form-gral" id="formPlanes" action="<?= $this->getUrl('renovaciones/cart/addplan') ?>" method="post">        
        <input type="hidden" name="entity_id" id="entity_id" value="<?= $product->getId(); ?>">
        <input type="hidden" name="plan_id" id="plan_id" value="">
        <input type="hidden" name="plan_parent" id="plan_parent" value="">
        <input type="hidden" id="renovaciones-flujo" value="1"/>
        <fieldset class="layout_inner steps">
            <legend class="steps__legend steps__legend2 steps__legend__margin">
                <span class="steps__head">
                    <small class="head__title"><?= __('Tenemos la mejor oferta para tu equipo'); ?></small>
                </span>
            </legend>
            <?php if ($display): ?>
                <div class="steps__selected">
                    <figure class="steps__fig">
                        <figcaption class="steps__caption"><?= __('Tu equipo'); ?></figcaption>
                        <img class="steps__img" src="<?= $imagen ?>" alt="<?= $product->getName(); ?>">
                        <figcaption class="steps__caption"><?= $product->getName(); ?></figcaption>
                    </figure>
                    <a class="steps__link link__brand" href="<?= $block->getUrlTerminales(); ?>" title="Ver todos los equipos">
                        <?= __('Cambiar equipo'); ?>
                    </a>
                </div>
            <?php else: ?>
                <legend class="steps__legend steps__legend2">
                    <span class="steps__head">
                        <small class="head__title"><?= __('Tu equipo'); ?></small>
                    </span>
                </legend>
                <div class="steps__selected">
                    <figure class="steps__fig">
                        <img class="steps__img steps__img_none" src="<?= $link_media ?>sin-terminal.png" alt="<?= $product->getName(); ?>" longdesc="<?= $link_media ?>sin-terminal.png">
                        <figcaption class="steps__caption"><?= __('Tu propio equipo'); ?></figcaption>
                    </figure>
                    <a class="steps__link link__brand" href="<?= $block->getUrlTerminales(); ?>" title="Ver todos los equipos"><?= __('Cambiar equipo'); ?></a>
                </div>
            <?php endif; ?>

        </fieldset>

        <!-- Hotfix: INTPOSP-429 Se inserta el <div class="module__inner"> -->      
        <div class="module inner layout_wide2" id="oferta-attacker" data-plan="<?= $plan_elegible ?>">
            <div class="module__inner">
                <header class="module__header" id="gotoAttaker">
                    <p class="module__subtitle"><?= __('Nuevo'); ?></p>
                    <p class="module__title"><?= $atname ?></p>
                </header>
                <div class="module__cont">
                    <div class="module__grid">
                        <div class="module__body">
                            <div class="module__slot module__border module__slot2 module__slot3">
                                <div class="module__slot-grid">
                                    <p class="module__slot-item module__slot-item_border module__txt module__slot-item2 all-width" style="border:none;"><?= $firstat ?></p>
                                    <p class="module__slot-item module__txt"><?= $secondat ?></p>
                                </div>
                            </div>
                            <div class="module__slot module__border module__slot2 module__slot3" >
                                <p class="module__txt"><?= __('Minutos / SMS ilimitados'); ?></p><small class="module__txt module__txt_small"><?= __('(En México, Estados Unidos y Canadá)'); ?></small>
                            </div>
                            <?php if ($atmovistar_cloud_plan != ''): ?>
                                <div class="module__slot module__border module__slot2 module__slot3">
                                    <p class="module__txt module__txt_small"><?= $atmovistar_cloud_plan ?></p>
                                </div>
                            <?php endif; ?>
                            <?php if ($roaming_internacional != ''): ?>
                                <div class="module__slot module__border module__slot2 module__slot3">
                                    <p class="module__txt module__txt_small"><?= $roaming_internacional ?></p>
                                    <small class="module__txt module__txt_small"><?= __('(Estados Unidos, Puerto Rico y Canadá)'); ?></small>
                                </div>
                            <?php endif; ?>
                            <div class="module__slot module__slot3">
                                <p class="module__txt module__txt_through"><?= __('Antes ').$block->formatPrice(799); ?></p>
                                <p class="module__noted"><?= $block->formatPrice($atprice); ?> / mes</p>
                            </div>

                        </div>

                        <div class="module__info">
                            <div class="module__shape module__shape_oval" style="display: none;">
                                <strong class="shape__strong"><?= __('Sé uno de los '); ?>
                                    <span class="shape__highlight shape__line"><?= __('300 mil'); ?></span>
                                </strong>
                                <p class="shape__line">que podrán <br>tenerlo</p>
                            </div>
                        </div>
                    </div>
                    <!-- Hotfix: INTPOSP-431 Se reorganiza el bloque segùn maqueta--> 
                    <footer class="module__footer">
                        <div class="module__slot" id="attackerValid" style="display: none;">
                            <p class="module__alert"><?= __('¡Felicidades! Nuestro plan ilimitado está disponible en tu zona.') ?></p>


                            <!-- Hotfix: INTPOSP-431 Comienza el bloque desarticulado--> 
                            <div id="controlat" style="display:none;">
                                <div class="card__row_inline">
                                    <?php 
                                    if($block->isControlAvailable()){
                                        $extra = 'readonly="readonly" checked onclick="javascript: return false;"';
                                    }else{
                                        $extra = 'style="display:none;" readonly="readonly" onclick="javascript: return false;"';
                                    } 
                                    ?>
                                    <input class="form__check i-check-planes value-plan-id" type="checkbox" id="checkplan<?= $atplan_asociado ?>" title="<?= $atplan_asociado ?>" data-product-id="<?= $atplan_asociado ?>" name="checkplanes"  no-control-id="<?= $ayentity_id; ?>" <?= $extra; ?>/>                                    
                                    <?php if($block->isControlAvailable()):  ?>
                                        <label class="form__label_check i-check i-check-planes value-plan-i_d more_opa5" for="checkplan<?= $atplan_asociado ?>" title="<?= $atplan_asociado ?>" data-product-id="<?= $atplan_asociado ?>" data-planatc="<?= $atplan_asociado ?>"  no-control-id="<?= $ayentity_id; ?>">
                                            <?php
                                            $product_asociado = $block->getProductById($atplan_asociado);
                                            if($product_asociado !== null){
                                                echo $block->formatPrice($product_asociado->getPrice())." Plan Control";                                        
                                            }else{
                                                echo "Plan Control";                                        
                                            }
                                            if ($atplan_control == 230) {
                                                echo "+" . $block->formatPrice(40) . " / Plan control";
                                            }
                                            if ($atplan_control == 233) {
                                                echo "+" . $block->formatPrice(20) . " / Plan control";
                                            }
                                            ?>
                                        </label>                                    
                                        <div class="tool-box">
                                            <button class="btn-i i-question-ball js-btnTooltipData nc-color" type="button" style="display: inline-block;">
                                                <?= __('Pregunta') ?>
                                            </button>
                                            <div class="tool i-tooltip js-tooltipData js-tooltipData-close">
                                                <p class="tool__txt">                                                
                                                    <?= __('Al renovar tu plan seguirá siendo control') ?>
                                                </p>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <!--FIN Hotfix: INTPOSP-431 FINALIZA el bloque desarticulado-->

                            <p class="card__success i-check"><?= __('Plan seleccionado'); ?></p>
                        </div>
                        <div class="module__slot module__slot4" id="sectionvalidate">
                            <label class="form__label form__center" for="valor-attacker"><?= __('Verifica la disponibilidad en tu zona'); ?></label>
                            <div class="form-inline">
                                <input class="form__input" type="text" placeholder="Código postal" id="valor-attacker" maxlength="5">
                                <button class="btn" type="button" id="valida-attacker"><?= __('Verificar') ?></button>
                            </div>
                        </div>
                    </footer>
                    <!-- fIN Hotfix: INTPOSP-431 Se reorganiza el bloque segùn maqueta--> 
                </div>
                <?php if($block->getPlanesDisponiblesControlEnabled()->count() > 1): ?>
                    <a class="steps__link link__brand" id="noAttaker" href="#planeshidden" title="No deseo este plan" style="text-align: center;margin:15px auto 0;display: block;"><?= __('Ver otros planes') ?></a>
                <?php endif; ?>
                <!-- Hotfix: INTPOSP-429 Se quita el borde superior de caja--> 
                <?php if ($ataker_tyc_url) : ?>
                    <div>
                        <p style="text-align: center; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;" data-ambiente="Prod"><a class="steps__link link__brand" href="<?php echo $ataker_tyc_url; ?>" target="_blank"><?= __('Ver Términos y Condiciones') ?></a></p>
                    </div>
                <?php endif; ?>
            </div>
        </div>

        <style type="text/css">
            button.i-question-ball:hover{
                background-color: transparent;
            }
            button.i-question-ball:active{
                box-shadow:none;
            }
        </style>

        <script type="text/javascript">
            require(['jquery'], function($) {
                $(document).ready(function() {
                    $('#valor-attacker').on('input', function(e) {
                        if (!/^[ 0-9áéíóúüñ]*$/i.test(this.value)) {
                            this.value = this.value.replace(/[^ 0-9áéíóúüñ]+/ig, "");
                        }
                    });

                    $('#valor-attacker').on('keydown', function(e) {
                        if (e.which == 13) {
                            e.preventDefault();
                            $('#valida-attacker').trigger('click');
                        }
                    });

                    $('#valida-attacker').click(function() {
                        var cp = $('#valor-attacker').val();
                        $.ajax({
                            url: "<?php echo $this->getUrl() . 'pos-vitrina-terminal-02/index/Zipcode'; ?>",
                            type: 'POST',
                            showLoader: true,
                            data: {cp: cp},
                            success: function(res) {
                                if (res == 1) {
                                    $('#hotspot-service').show();
                                    $('#sectionvalidate').css('display', 'none');
                                    $('#attackerValid').css('display', 'block');
                                    $('#controlat').css('display', 'block');
                                    //busco valor plan
                                    var planat = $('#oferta-attacker').data('plan');                                     
                                    $('#plan_id').val(planat);
                                    $('#plan_parent').val(planat);
                                    scrollToAnimated('.layout_bg-col', 1500);
                                } else {
                                    $('#oferta-attacker').css('display', 'none');
                                    $('#planeshidden').css('opacity', 1);
                                    $('#planeshidden').css('height', 'auto');
                                }
                            }
                        });
                    });

                    $(document).on("click", "#reintenta-cp", function(e) {
                        //e.preventDefault();
                        $('#oferta-attacker').show('slow');
                        $('#planeshidden').css('opacity', 0);
                        $('#planeshidden').css('height', '1px');
                    });

                    $(document).on("click", "#noAttaker", function(e) {
                        e.preventDefault();                        
                        $('#oferta-attacker').hide("slow", function() {                            
                            $('#hideinfo').css('display', 'none');                            
                            $('#planeshidden').css('opacity', 1);                            
                            $('#planeshidden').css('height', 'auto');                            
                            //window.location.hash = "#planeshidden";
                            $('html, body').animate({
                                scrollTop: $('#planeshidden').offset().top
                            }, 500);                            
                        });
                    });

                    $('.slider__cards_item').each(function(){
                        var valorActive = $(this).find('.card_active').find('footer button').attr("title");
                        if (valorActive != undefined) {                            
                            $('#plan_id').val(valorActive);
                        }
                    });

                    $(document).on("click", "#submitplanes", function(e) {
                        e.preventDefault();
                        if ($('#plan_id').val() == "") {
                            return false;
                        } else {
                            $('#formPlanes').submit();
                        }
                    });


                    /*$('.js-cardCheckBtn').each(function(){
                     $(this).bind('click', function(){
                     var idProduct = $(this).attr("title");
                     $('#plan_id').val(idProduct);
                     });
                     });*/                    

                    $(document).on("click",".value-plan-id-button",function() {                        
                        var idProduct = $(this).attr("title");                        
                        $('#plan_id').val(idProduct);
                        $('#plan_parent').val(idProduct);                                                                        
                        limpiarChecks();
                        $("#checkplan"+$(this).attr("slider-count")).prop('checked', true);
                        scrollToAnimated('.layout_bg-col', 1500);
                    });
                    


                    $('.card__row_inline').each(function(){
                        $(this).find('.form__check').bind('click', function(){
                            var valorActive = $(this).attr("title");                            
                            $('#plan_id').val(valorActive);
                        });
                    });

                });
                
                function limpiarChecks(){
                    $('.i-check-planes').each(function (index) {
                        if (typeof ($(this).attr('name')) != 'undefined') {
                            $(this).attr('checked', false);
                        }
                    });
                }

                /*
                 * Scrolls to and animate
                 */
                function scrollToAnimated(destinationId, delay) {
                    setTimeout(function() {
                        var dest = $(destinationId).offset().top;
                        $("html, body").animate({scrollTop: dest});
                    }, delay)
                }
            });
        </script>