<?php if($block->isRenewal()): ?>
<div class="layout layout__padding">
    <fieldset class="layout_inner steps vsm-form__fieldset">
        <legend class="steps__legend steps__legend2 steps__head__product">
            <span class="steps__head steps__head2">
                <small class="head__title"><?= __('Tu número a renovar'); ?></small>
            </span>
            <span class="steps__head">
                <small class="head__title head__title3"><?= $block->getDN(); ?></small>
            </span>                   
        </legend>                
    </fieldset>
</div>
<?php endif;