<section class="login-dn">
    <div class="layout_inner renewal_inner">
        <fieldset class="steps vsm-form__fieldset">
            <legend class="steps__legend">
                <span class="steps__head">
                    <small class="head__title"><?= __('Valida tu número y descubre todo lo que tenemos para ti.') ?></small>
                </span>
            </legend>
        </fieldset>
        <div class="step-box steps__list">
            <form data-mage-init='{"validation": {}}' class="data__even form login-renewals data__even2" action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>" id="renewals-login" method="post" data-hasrequired="* Required Fields">            
                <div class="form__row-gral">
                    <label class="form__label form__label-ico i-star-fill" for="telefono-contacto"><?= __('Ingresa tu número Movistar'); ?></label>
                    <div class="form__signal js-validateItem">
                        <input class="form__input input" placeholder="5512345678" name="NunMovi" id="telefono-contacto" type="number" onkeyup="this.value = this.value.split('.').join('');" data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidatorsMts())) ?>" data-msg-maxlength='<?= __('No more than 10 numbers'); ?>' data-msg-minlength='<?= __('No less than 10 numbers'); ?>' data-msg-number='<?= __('Just type numbers'); ?>' maxlength="10" value="<?= $block->getDN(); ?>" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                    </div>                
                </div>
                <div class="form__row-gral">
                    <label class="form__label form__label-ico i-star-fill" for="valida-rfc"><?= __('RFC con homoclave'); ?></label>                
                    <input class="form__input input" placeholder="<?= __('RFC'); ?>" name="NumPass" id="valida-rfc" type="text" minlength="13" maxlength="13" data-validate='{"required":true}' data-msg-maxlength='<?= __('No more than 13 numbers'); ?>' data-msg-minlength='<?= __('No less than 13 numbers'); ?>'/>
                    <small class="js-validateMsg" data-name="RFC"></small>                    
                </div>
                <div class="steps__cont">
                    <input type="submit" id="gtm-plans-continue-button" class="js-hideBtnPlan steps__btn btn validaCambiopaso" value="<?= __('Continuar'); ?>"/>
                </div>            
            </form>
        </div>
    </div>
</section>
<script>
    require([
        'jquery'
    ], function ($) {
        $('#valida-rfc').on('input', function (e) {
            if (!/^[a-z0-9áéíóúüñ]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^ a-z0-9áéíóúüñ]+/ig, "");
            }
        });

        function validarInput(input) {
            var rfc = input.trim().toUpperCase();
            var rfcCorrecto = rfcValido(rfc);
            if (rfcCorrecto == true) {
                $('#valida-rfc').parent().find('small.js-validateMsg').removeClass('form__msg_error').html('');
                $('.validaCambiopaso').show();
                return true;
            } else if (rfcCorrecto == false) {
                $('#valida-rfc').parent().find('small.js-validateMsg').addClass('form__msg_error').html("RFC Incorrecto");
                $('.validaCambiopaso').hide();
                return false;
            } else {
                $('#valida-rfc').parent().find('small.js-validateMsg').addClass('form__msg_error').html(rfcCorrecto);
                $('.validaCambiopaso').hide();
                return false;
            }
        }

        function rfcValido(rfc, aceptarGenerico = true) {
            const re = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/;
            var validado = rfc.match(re);

            if (!validado)  //Coincide con el formato general del regex?
                return false;

            //Separar el dígito verificador del resto del RFC
            const digitoVerificador = validado.pop(),
                    rfcSinDigito = validado.slice(1).join(''),
                    len = rfcSinDigito.length,
                    //Obtener el digito esperado
                    diccionario = "0123456789ABCDEFGHIJKLMN&OPQRSTUVWXYZ Ñ",
                    indice = len + 1;
            var suma,
                    digitoEsperado;

            if (len == 12)
                suma = 0
            else
                suma = 481; //Ajuste para persona moral

            for (var i = 0; i < len; i++)
                suma += diccionario.indexOf(rfcSinDigito.charAt(i)) * (indice - i);
            digitoEsperado = 11 - suma % 11;
            if (digitoEsperado == 11)
                digitoEsperado = 0;
            else if (digitoEsperado == 10)
                digitoEsperado = "A";

            //El dígito verificador coincide con el esperado?
            // o es un RFC Genérico (ventas a público general)?
            if ((digitoVerificador != digitoEsperado)
                    && (!aceptarGenerico || rfcSinDigito + digitoVerificador != "XAXX010101000"))
                return 'Digito verificador incorrecto';
            else if (!aceptarGenerico && rfcSinDigito + digitoVerificador == "XEXX010101000")
                return false;
            //return rfcSinDigito + digitoVerificador;
            return true;
        }

        $('#valida-rfc').blur(function () {
            $('#valida-rfc').val($('#valida-rfc').val().toUpperCase());
            var obj = $(this);
            var valor = $(this).val();

            // valida la edad
            var fecha = new Date();
            var anoActual = fecha.getFullYear();
            var ano = valor.substring(4, 6);
            var result = 0;
            var res = 0;
            if (ano >= 18 && ano <= 99) {
                res = parseInt(ano) + parseInt(1900);
                result = parseInt(anoActual) - parseInt(res);
            } else if (ano >= 18 && ano <= 20) {
                result = ano;
            }
            // validando la edad del usaurio
            if (ano < 18 && result == 0) {
                obj.parent().find('small.js-validateMsg').addClass('form__msg_error').html("Este campo es obligatorio");
                $('.validaCambiopaso').hide();
                dataLayer.push({
                    'event': 'evErrorCheckout', //Static data
                    'pasoNombre': 'Tus datos', //Dynamic data
                    'campoError': 'RFC', //Dynamic data
                });
                return false;
            } else {
                obj.parent().find('small.js-validateMsg').removeClass('form__msg_error').html('');
                $('.validaCambiopaso').show();
            }

            //valida longitud de RFC
            if (valor.length < 13) {
                $('.validaCambiopaso').hide();
                obj.parent().find('small.js-validateMsg').addClass('form__msg_error').html("RFC debe contener 13 caracteres");
                dataLayer.push({
                    'event': 'evErrorCheckout', //Static data
                    'pasoNombre': 'Tus datos', //Dynamic data
                    'campoError': 'RFC', //Dynamic data
                });
            } /*else if (validarInput($('#valida-rfc').val())) {
             $.ajax({
             url: "/pos-car-steps/index/rfc",
             type: 'POST',
             showLoader: true,
             data: {valor: valor},
             success: function (res) {
             var total = res.length;
             if (total > 0) {
             obj.parent().find('small.js-validateMsg').addClass('form__msg_error').html("Error " + res[0].load_reason);
             $('.validaCambiopaso').hide();                            
             } else {
             $('.validaCambiopaso').show();
             obj.parent().find('small.js-validateMsg').removeClass('form__msg_error').html('');
             }
             }
             });
             }*/
        });

    });
</script>