<?php
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media . "recortes/";
?>
<div data-bind="scope: 'messages'">
    <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
    <div role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
            <div class="modal modal_list messages js-listModalTwo2" style="overflow-y: hidden;">
                <div class="modal__box modal_list" style="overflow-y: hidden;">
                    <button class="modal__close js-modal__close i-x" name="cerrar-1">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">                    
                    <div class="modal__crop" style="overflow-y: hidden;">     
                        <h3 class="modal__bold" style="color: #50535A; text-align: center; font-family: 'Telefonica-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px" data-bind="html: message.text"></h3>
                    </div>
                    <button class="modal__btn btn js-modal__close" type="button" name="cerrar-2"  id="cerrar-2">Aceptar</button>
                </div>
            </div>
        </div>    
    </div>
    <!-- /ko -->
    <!-- ko if: messages().messages && messages().messages.length > 0 -->
    <div role="alert" data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages">
        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
            <div class="modal modal_list messages js-listModalTwo2" style="overflow-y: hidden;">
                <div class="modal__box modal_list" style="overflow-y: hidden;">
                    <button class="modal__close js-modal__close i-x" name="cerrar-3">Cerrar</button><img class="modal__img" src="<?= $link_media . 'm-movistar-green.svg' ?>" alt="App Store" longdesc="<?= $link_media . 'm-movistar-green.svg' ?>">                    
                    <div class="modal__crop" style="overflow-y: hidden;">                        
                        <h3 class="modal__bold" id="modal-text-container" style="color: #8F9195; text-align: center;" data-bind="html: message.text"></h3>
                    </div>
                    <button class="modal__btn btn js-modal__close" type="button" name="cerrar-4" id="cerrar-4">Aceptar</button>
                </div>
            </div>
        </div>
    </div>    
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                        "messages": {
                            "component": "Magento_Theme/js/view/messages"
                        }
                    }
                }
            }
    }
</script>