<div class="form__label_center steps__top">
    <a class="steps__link link__brand" href="<?= $block->getUrl('renovaciones/acceso', ['_secure' => true]); ?>" alt="<?= __('Cambiar número'); ?>"><?= __('Cambiar número'); ?></a>
</div>
<div class="form__label_center thanks-message steps__bottom steps__bottom2">
    <?= __(  'Gracias por ser un gran cliente, ya puedes renovar con un nuevo equipo.') ?>
</div>