<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
?>
<button class="pos-data__aside-btn i-arrow-down js-btnAsideFixed" type="button">
  <span class="pos-data__txt i-arrow-up">
    <span class="btn-circle i-shopping-car">Carrito de compra
      <small class="btn-circle-small">0</small>
    </span>
      Ir a pagar
  </span>
  <span class="data__total">-</span>
  <span class="pos-data__btn-txt">Total</span>
</button>