<style type="text/css">
    .gtm-debug {
        outline: 1px dashed darkorange;
    }
    .gtm-debug:hover {
        outline: 1px solid darkorange;
    }
    .gtm-debug-anchors {
        /*border: 1px dotted #7d3f98;*/
        outline: 0 dashed hsl(269, 50%, 40%);
    }
</style>
<?php        
    $debug_anchors              = $block->getDebugAnchors();
    $debug_mode                 = $block->getDebugMode();
    $split                      = $block->getSplit();    
    $terminal = $block->getTerminal();
?>
<script type="text/javascript">// <![CDATA[
    window.dataLayer        = window.dataLayer || [];
    window.impressions      = window.impressions || [];
    window.impressionsdl    = window.impressionsdl || [];
    var dl_split            = [];
    var impressions         = [];
    var impressionsdl       = [];
    var split_size          = <?php  echo $split; ?>;

    require([
        'jquery'
    ], function ($) {
        $(".mi-nw-phone-movistar").addClass("active");   
        window.setTimeout(function () {
            if (window.location.pathname == '/renovaciones/oferta/seleccion') {
                $(".submenu__link").removeClass("active");
                $(".mi-renewal-phone-movistar").addClass("active");   
            }
            if (window.location.pathname == '/portabilidad/prepago/oferta') {
                $(".submenu__link").removeClass("active");
                $(".gtm-header-menu").addClass("active");   
            }
            if (window.location.pathname == '/portabilidad/plan/oferta') {
                $(".submenu__link").removeClass("active");
                $(".mi-nw-phone-movistar").addClass("active");   
            }
            if((window.location.pathname == '/telefonos.html' || 
                window.location.pathname == '/apple.html' ||
                window.location.pathname == '/samsung.html' ||
                window.location.pathname == '/motorola.html' || 
                window.location.pathname == '/huawei.html')){
                    $(".submenu__link").removeClass("active");
                    $(".mi-phones-planes").addClass("active");   
                }
        },500);
        jQuery(document).ready(function() {
            <?php if ($debug_mode) : ?>
            console.log("GTM. jQuery(document) Ready");
            console.log("Debug mode: <?php echo $debug_mode; ?>");
            <?php if ($debug_anchors) : ?>
            console.log("Debug anchors: <?php echo $debug_anchors; ?>");
            <?php endif; ?>
            console.log("Split: <?php echo $split; ?>");
            <?php endif; ?>
        });




        jQuery(document).on('ready', function() {
            <?php if ($debug_mode) : ?>
            console.log("GTM. jQuery(document) On ready");
            console.log("Debug mode: <?php echo $debug_mode; ?>");
            <?php if ($debug_anchors) : ?>
            console.log("Debug anchors: <?php echo $debug_anchors; ?>");
            <?php endif; ?>
            console.log("Split: <?php echo $split; ?>");
            <?php endif; ?>
        });


        /**
         * Add dataLayer array of Google Tags for load pages
         */
        jQuery(window).load(function() {
            <?php if ($debug_mode) : ?>
            console.log("GTM. jQuery(window) Load()");
            console.log("Debug mode: <?php echo $debug_mode; ?>");
            <?php if ($debug_anchors) : ?>
            console.log("Debug anchors: <?php echo $debug_anchors; ?>");
            <?php endif; ?>
            console.log("Split: <?php echo $split; ?>");
            <?php endif; ?>



            // Menus
            jQuery('.gtm-menu-1').click(function (evt) {
                var menuPrim = jQuery(this).text().trim();

                dataLayer.push({
                    'event': 'evMainMenu',
                    'menuPrim': menuPrim,
                    'menuSec': ''
                });

            });

            jQuery('.gtm-menu-2-1').click(function (evt) {
                var menuPrim = 'Productos y servicios';
                var menuSec  = jQuery(this).text().trim();

                dataLayer.push({
                    'event': 'evMainMenu',
                    'menuPrim': menuPrim,
                    'menuSec': menuSec
                });

            });

            jQuery('.gtm-menu-2-2').click(function (evt) {
                var menuPrim = 'Atención al cliente';
                var menuSec  = jQuery(this).text().trim();

                dataLayer.push({
                    'event': 'evMainMenu',
                    'menuPrim': menuPrim,
                    'menuSec': menuSec
                });

            });

            jQuery('.gtm-menu-2-3').click(function (evt) {
                var menuPrim = 'ADN Movistar';
                var menuSec  = jQuery(this).text().trim();

                dataLayer.push({
                    'event': 'evMainMenu',
                    'menuPrim': menuPrim,
                    'menuSec': menuSec
                });

            });


            // Landing
            jQuery('.gtm-landing').click(function (evt) {
                var btnSelect   = jQuery(this).text().trim();
                var actURL      = window.location.href;

                dataLayer.push({
                    'event': 'evSeccLandingTienda',
                    'btnSelect': btnSelect,
                    'actURL': actURL
                });
            });


            // botones
            jQuery('.gtm-button-add-to-compare').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();
                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': 'Comparador',
                    'btnSelect': btnSelect,
                });
            });


            jQuery('.gtm-button-remove-from-compare').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();

                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': 'Comparador',
                    'btnSelect': btnSelect,
                });
            });


            jQuery('.gtm-compare-view-more').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();
                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': 'Comparador',
                    'btnSelect': 'Ver más',
                });
                
                <?php if($block->isPortability()): ?>
                    tageoPortaLoginAgtm('Smartphone','Con smartphone nuevo');
                <?php endif; ?>
            });
            
            <?php if($block->isPortability()): ?>
                jQuery('.price-select').click(function(){
                    var select = 'Portabilidad | '+jQuery(this).next().next().html()+' - '+jQuery('#tabs-section').html();
                    var cost = jQuery(this).next().attr('data-price');
                    dataLayer.push({
                        'event': 'evPrecProducto',
                        'dispSelec': select,
                        'dispCost': cost
                    });
                });
            <?php endif; ?>

            jQuery('.gtm-product-add-to-compare').click(function (evt) {
                var data = JSON.parse($(this).attr('data-gtm-data'));
                var nameSection = 'Teléfono';
                var btnSelect = 'Comparar - ' + data.nameSection;

                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': nameSection,
                    'btnSelect': btnSelect,
                });
            });


            jQuery('.gtm-what-to-do').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();
                var nameSection = '¿Qué deseas hacer?';
                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': nameSection,
                    'btnSelect': btnSelect,
                });
            });


            jQuery('.gtm-help-section').click(function (evt) {
                var btnSelect = jQuery(this).attr('title').trim();
                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': 'Ayuda sobre',
                    'btnSelect': btnSelect,
                });
            });


            jQuery('.gtm-faq-section').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();

                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': 'Ayuda sobre',
                    'btnSelect': btnSelect,
                });

            });
            
            jQuery('.i-cell-money').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();
                
                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': '¿Qué deseas hacer?',
                    'btnSelect': btnSelect
                });
            }); 

            jQuery('.mi-cell-4g').click(function (evt) {
                var btnSelect = jQuery(this).text().trim();
                
                dataLayer.push({
                    'event': 'evBoton',
                    'nameSection': '¿Qué deseas hacer?',
                    'btnSelect': btnSelect
                });
            });                        

            jQuery('.gtm-chat-with-nikko').click(function (evt) {
                var typeChat = 'Nikko';
                var actURL = window.location.href;
                dataLayer.push({
                    'event': 'evChat',
                    'typeChat': typeChat,
                    'actURL': actURL
                });
            });



            jQuery('.gtm-footer-link').click(function (evt) {
                var btnSelect = jQuery(this).attr('title').trim();
                var actURL = window.location.href;
                dataLayer.push({
                    'event': 'evFooter',
                    'btnSelect': btnSelect,
                    'actURL': actURL
                });
            });



            jQuery('#gtm-app-download-ios').click(function (evt) {
                dataLayer.push({
                    'event': 'evDowloadApp',
                    'nameApp': 'Movistar MX',
                    'nameStore': 'App Store'
                });
            });


            jQuery('#gtm-app-download-android').click(function (evt) {
                dataLayer.push({
                    'event': 'evDowloadApp',
                    'nameApp': 'Movistar MX',
                    'nameStore': 'Google Play'
                });
            });
            
            if(!jQuery("#gtm-app-download-ios").length){
                jQuery('.box-banner__item .box-banner__card').find('a').click(function (evt) {
                    var href = $(this).attr('href');                    
                    if(href.includes("play.google")){
                        dataLayer.push({
                            'event': 'evDowloadApp',
                            'nameApp': 'Movistar MX',
                            'nameStore': 'Google Play'
                        });
                    }else if(href.includes("itunes.apple")){
                        dataLayer.push({
                            'event': 'evDowloadApp',
                            'nameApp': 'Movistar MX',
                            'nameStore': 'App Store'
                        });
                    }
                    
                });
            }
                                   



            /*jQuery('.gtm-faq-question').click(function (evt) {
                var nameSection = $(this).attr('data-category');
                var btnSelect   = $(this).find("button").text().trim();
                dataLayer.push({
                    'event': 'evFreqQuest',
                    'nameSection': nameSection,
                    'btnSelect': btnSelect
                });
            });*/





            jQuery('.gtm-social-network').click(function (evt) {
                dataLayer.push({
                    'event': 'evSocialNet',
                    'btnSelect': jQuery(this).attr('title'),
                    'actURL': window.location.href
                });
            });
            
            jQuery('.list-ico__link').click(function (evt) {
                if(!$(this).hasClass('gtm-social-network')){
                    dataLayer.push({
                        'event': 'evSocialNet',
                        'btnSelect': jQuery(this).attr('title'),
                        'actURL': window.location.href
                    });
                }
            });            

            <?php if(!$block->isPortability()): ?>
                jQuery('#gtm-plans-continue-button').click(function (evt) {
                    if (jQuery('#plan1').is(':checked')) {
                        var label = jQuery("label[for='plan1']").text().trim();
                        dataLayer.push({
                            'event': 'evPlanTienda',
                            'numPaso': '1',
                            'extInf': label,
                            'planCost': ''
                        });
                    }

                    if (jQuery('#plan2').is(':checked')) {
                        var label = jQuery("label[for='plan2']").text().trim();
                        dataLayer.push({
                            'event': 'evPlanTienda',
                            'numPaso': '1',
                            'extInf': label,
                            'planCost': ''
                        });
                    }
                });
            <?php else: ?> 
                function tageoPortaLoginAgtm(paso, btnSelect){
                    dataLayer.push({
                        'event' : 'evPortabilidad', //Static data
                        'paso' : paso, //Dynamic data
                        'btnSelect' :  btnSelect
                    });
                }
                
                jQuery('form.vsm-grid__form-foot .btn').click(function(evt){
                    tageoPortaLoginAgtm('Smartphone',jQuery("label[for='plan2']").find('.form-ico__label').html());
                });
                jQuery('form#elige .steps__btn').click(function(evt){
                    tageoPortaLoginAgtm('Smartphone',jQuery("label[for='plan1']").find('.form-ico__label').html());                    
                });
            <?php endif; ?>            

            if (window.location.pathname == '/catalog/product_compare/index/') {
                <?php $names = [];
                foreach ($this->helper('Magento\Catalog\Helper\Product\Compare')->getItemCollection() as $item) {
                    $names[] = $item->getName();
                }
                $names = implode(" - ", $names);
                ?>
                var compDisp = '<?php echo $names; ?>';
                var actURL  = window.location.href;
                dataLayer.push({
                    'event': 'evComparar',
                    'compDisp': compDisp,
                    'actURL': actURL
                });
            }

            jQuery('#submitplanes').click(function (evt) {
                console.log('remove from compare');                

                if (jQuery('#plan1').is(':checked')) {
                    var label = jQuery("label[for='plan1']").text().trim();
                    dataLayer.push({
                        'event': 'evPlanTienda',
                        'numPaso': '2',
                        'extInf': label,
                        'planCost': ''
                    });
                }

                if (jQuery('#plan2').is(':checked')) {
                    var label = jQuery("label[for='plan2']").text().trim();
                    dataLayer.push({
                        'event': 'evPlanTienda',
                        'numPaso': '2',
                        'extInf': label,
                        'planCost': ''
                    });
                }
            });


            // quiero facturar
            jQuery('#dataToBill').change(function() {
                // otra forma de validar:   this.checked
                //console.log("revision del check box quiero facturar");                
                if (jQuery('#dataToBill').is(":checked")) {
                    dataLayer.push({
                        'event' : 'evFacturar', //Static data
                        'boolFact' : 'Si' //Dynamic data
                    });
                } else {
                    dataLayer.push({
                        'event' : 'evFacturar', //Static data
                        'boolFact' : 'No' //Dynamic data
                    });
                }
            });

            //Array banners Top view
            var promotions_home_slider = [];
            $( ".js-sliderHome1 .slick-track a" ).each(function( index ) {
                var postionReal = index + 1;
                var idBanner = 'home-top-slider-slide-'+postionReal;
                var nameBanner = $(this).attr('title');
                var creativeBanner = $(this).find('.banner__subtitle-medium').html();
                var positionBanner = $(this).data('dl-home-position'); 
                var dimension31Banner = (dimensionTipo != "")? dimensionTipo : $(this).data('dl-home-dimension31');
                if (index == 0) {
                    $(this).attr('data-view', 'true');
                    promotions_home_slider.push({"id": idBanner,
                        "name" : nameBanner,
                        "creative" : creativeBanner,
                        "position" : positionBanner,
                        "dimension31" : dimension31Banner
                    });   
                }
            });

            var promotions_home_middle = [];
            $( ".banners-duo div.banners-duo__item" ).each(function( index ) {
                var postionReal = index + 1;
                var idBanner = 'home-medium-banners-banner-'+postionReal;
                var nameBanner = $(this).children().attr('title');
                var creativeBanner = '';
                var positionBanner = $(this).children().data('dl-home-position'); 
                var dimension31Banner = (dimensionTipo != "")? dimensionTipo : $(this).children().data('dl-home-dimension31');
                promotions_home_middle.push({"id": idBanner,
                    "name" : nameBanner,
                    "creative" : creativeBanner,
                    "position" : positionBanner,
                    "dimension31" : dimension31Banner
                });
            });

            var promotions_home_middle_two = [];
            $( ".tabs_gradient article" ).each(function( index ) {
                var postionReal = index + 1;
                var idBanner = 'home-medium-two-banners-banner-'+postionReal;
                var nameBanner = $(this).find('a').attr('title');
                var creativeBanner = '';
                var positionBanner = $(this).find('a').data('dl-home-position'); 
                var dimension31Banner = (dimensionTipo != "")? dimensionTipo : $(this).find('a').data('dl-home-dimension31');
                promotions_home_middle_two.push({"id": idBanner,
                    "name" : nameBanner,
                    "creative" : creativeBanner,
                    "position" : positionBanner,
                    "dimension31" : dimension31Banner
                });
            });

            var promotions_home = [
            ];

            // Resto de banners
            var promotions_telefonos = [];
            $( ".js-hero-banner .slick-track .hero-banner__item" ).each(function( index ) {
                var postionReal = index + 1;
                var idBanner = 'telefonos-banner-top-'+postionReal;
                var nameBanner = $(this).find('h2').html();
                var creativeBanner = $(this).find('a').html();
                var positionBanner = index; 
                promotions_telefonos.push({
                    "id": idBanner,
                    "name" : nameBanner,
                    "creative" : creativeBanner,
                    "position" : 'Telefonos|'+positionBanner,
                    "dimension31" : (dimensionTipo != "")? dimensionTipo : 'Telefonos'
                });
            });
            var promotions_faq = [];
            $( ".grid-squares__list_full li" ).each(function( index ) {
                var postionReal = index + 1;
                var idBanner = 'faq-middle-banner-'+postionReal;
                var nameBanner = $(this).find('.box__txt').html();
                var creativeBanner = $(this).find('.box__txt-small').html();
                var positionBanner = postionReal;
                var dimension31Banner = (dimensionTipo != "")? dimensionTipo : $(this).find('.box__txt').html();
                promotions_faq.push({
                    "id": idBanner,
                    "name" : nameBanner,
                    "creative" : creativeBanner,
                    "position" : 'FAQ|'+positionBanner,
                    "dimension31" : dimension31Banner
                });
            });

            /*
             * Enhanced eCommerce
             */
            // Banners del home top
            if (window.location.pathname == '/' && promotions_home_slider != "") {
                dataLayer.push({
                    'event': 'promoImp',
                    'ecommerce': {
                        'promoView': {
                            'promotions': promotions_home_slider
                        }
                    }
                });
            }
            
            //promotion click            
            $( ".grid-squares__item .box_img" ).each(function( index ) {
                var promotions_click = [];
                var postionReal = index + 1;
                var idBanner = 'faq-middle-banner-'+postionReal;
                var nameBanner = $(this).attr('title');
                var creativeBanner = $(this).find('.box__txt-small').html();                
                var dimension31Banner = (dimensionTipo != "")? dimensionTipo : $(this).find('.box__txt').html();
                
                $(this).attr('data-view', 'true');                
                promotions_click.push({
                    "id": idBanner,
                    "name" : dimension31Banner,
                    "creative" : creativeBanner,
                    "position" : 'FAQ|'+postionReal,
                    "dimension31" : dimension31Banner
                });                   
                
                jQuery(this).click(function (evt) {
                    dataLayer.push({
                        'event': 'promotionClick',
                        'ecommerce': {
                            'promoClick': {
                                'promotions': promotions_click
                            }
                        }
                    });
                });
            });

            //Validación de llegada a banners
            visualMiddleHome = 0;
            visualMiddleTwoHome = 0;
            visualBottomHome = 0;
            visualFrequent = 0;
            $(window).scroll(function(){
                    //Banners del home middle 
                    var windowHeight = $(window).scrollTop();
                    if ($(".banners-duo").length > 0) {
                        var contenidoMiddleHome = $(".banners-duo").offset();
                    }else{
                        var contenidoMiddleHome = $("body").offset();
                    }
                    if ($(".tabs_gradient").length > 0) {
                        var contenidoMiddleTwoHome = $(".tabs_gradient").offset();
                    }else{
                        var contenidoMiddleTwoHome = $("body").offset();
                    }
                    if ($(".banner_full").length > 0) {
                        var contenidoBottomHome = $(".banner_full").offset();
                    }else{
                        var contenidoBottomHome = $("body").offset();
                    }
                    if ($(".grid-squares__list_full").length > 0) {
                        var contenidoFrequent = $(".grid-squares__list_full").offset();
                    }else{
                        var contenidoFrequent = $("body").offset();
                    }
                    contenidoMiddleHome = contenidoMiddleHome.top;
                    contenidoMiddleTwoHome = contenidoMiddleTwoHome.top;
                    contenidoBottomHome = contenidoBottomHome.top;
                    contenidoFrequent = contenidoFrequent.top;
     
                        if(windowHeight >= contenidoMiddleHome && promotions_home_middle != ""){
                            if (visualMiddleHome == 0) {
                                dataLayer.push({
                                    'event': 'promoImp',
                                    'ecommerce': {
                                        'promoView': {
                                            'promotions': promotions_home_middle
                                        }
                                    }
                                });
                                visualMiddleHome++;
                            }
                        }
                        if(windowHeight >= contenidoMiddleTwoHome && promotions_home_middle_two != ""){
                            if (visualMiddleTwoHome == 0) {
                                dataLayer.push({
                                    'event': 'promoImp',
                                    'ecommerce': {
                                        'promoView': {
                                            'promotions': promotions_home_middle_two
                                        }
                                    }
                                });
                                visualMiddleTwoHome++;
                            }
                        }

                         if(windowHeight >= contenidoFrequent && promotions_faq != ""){
                            if (visualFrequent == 0) {
                                dataLayer.push({
                                    'event': 'promoImp',
                                    'ecommerce': {
                                        'promoView': {
                                            'promotions': promotions_faq
                                        }
                                    }
                                });
                                visualFrequent++;
                            }
                        }

            });


            if ((window.location.pathname == '/telefonos.html' || 
                window.location.pathname == '/apple.html' ||
                window.location.pathname == '/samsung.html' ||
                window.location.pathname == '/motorola.html' || 
                window.location.pathname == '/huawei.html') && promotions_telefonos != "" ) {
                dataLayer.push({
                    'event': 'promoImp',
                    'ecommerce': {
                        'promoView': {
                            'promotions': promotions_telefonos
                        }
                    }
                });
            }

            if (window.location.pathname == '/preguntas-frecuentes' && promotions_faq != "") {
                dataLayer.push({
                    'event': 'promoImp',
                    'ecommerce': {
                        'promoView': {
                            'promotions': promotions_faq
                        }
                    }
                });
            }
            

            // Banners clicks del home y resto
            /*$(document).on("click", ".slick-track .slick-slide", function() {
                var element = $(this);
                element = element[0].tagName;
                if (element == "A" || element == "a") {
                    var idBanner = $(this).data('data-dl-home-name');
                    var nameBanner = $(this).attr('title');
                    var creativeBanner = $(this).find('.banner__subtitle-medium').html();
                    var positionBanner = $(this).data('dl-home-position'); 
                    var dimension31Banner = (dimensionTipo != "")? dimensionTipo : $(this).data('dl-home-dimension31');
                }else{
                    var postionReal = $(this).data('slick-index') + 1;
                    var idBanner = 'telefonos-banner-top-'+postionReal;
                    var nameBanner = $(this).find('h2').html();
                    var creativeBanner = $(this).find('a').html();
                    var positionBanner = 'Telefonos|'+postionReal;
                    var dimension31Banner = (dimensionTipo != "")? dimensionTipo : 'Telefonos';
                }
                
                dataLayer.push({
                    'event':'promotionClick',
                    'ecommerce': {
                    'promoClick': {
                        'promotions': [
                                {
                                    'id': idBanner, // ID or Name is required.
                                    'name': nameBanner,
                                    'creative': creativeBanner,
                                    'position': positionBanner,
                                    'dimension31':dimension31Banner
                                }
                            ]
                        }
                    }
                });

            });*/

            //product Impression / Product click for pospago and prepago populares
            if($(".slider-detail__inner").length){
                var impressions = [];
                var posicion = 1;
                $(".slider-detail__inner").find(".grid__slot").each(function(){
                    var data = {
                        'name':         $(this).find(".grid__title").html(),
                        'id':           $(this).attr("data-sku"),
                        'price':        $(this).attr("data-price"),
                        'brand':        $(this).attr("data-brand"),
                        'category':     'Celular',
                        'variant' :     'N/A',
                        'list':         $(".steps__cont .head__title").html(),
                        'position':     dimensionTipo + '|'+posicion,
                        'dimension28':  'Tienda Movistar'
                    };
                    $(this).find('.btn').click(function(){
                        dataLayer.push({
                            'event': 'productClick',
                            'ecommerce': {
                                'click': {
                                    'actionField' : {'list' : 'Encuentra el smartphone que quieres'},
                                    'products': [
                                        data
                                    ]
                                }
                            }
                        });
                    });
                    impressions.push(data);
                    posicion++;
                });

                while (impressions.length > 0)
                        dl_split.push(impressions.splice(0, split_size));

                for (var i = 0; i < dl_split.length; i++) {
                    dataLayer.push({
                        'event': 'productImpression',
                        'ecommerce': {
                            'currencyCode': 'MXN',
                            'impressions': dl_split[i]
                        }
                    });
                }
            }

            $(document).on("click", ".slick-track .slick-slide .grid__btn", function() {
                <?php if($block->isPortability()): ?>
                if(jQuery("#plan2").length){
                    tageoPortaLoginAgtm('Smartphone',jQuery("label[for='plan2']").find('.form-ico__label').html());
                }else{
                    tageoPortaLoginAgtm('Smartphone','Con smartphone nuevo');
                }
                <?php endif; ?>
            });


        });


        jQuery(window).on('load', function() {
            <?php if ($debug_mode) : ?>
            console.log("GTM. jQuery(window) On load");
            console.log("Debug mode: <?php echo $debug_mode; ?>");
            <?php if ($debug_anchors) : ?>
            console.log("Debug anchors: <?php echo $debug_anchors; ?>");
            <?php endif; ?>
            console.log("Split: <?php echo $split; ?>");
            <?php endif; ?>
        });
    });
    // ]]>
</script>