//- Prefijos Biblioteca Movistar
//- http://vass.aguayo.co/eshop/ico-movistar/demo.html
//- https://movistar.cr/c/portal/icon-selector

$icon-close-ca: \e951;
$icon-play_circle_filled: \e038;
$icon-3d_rotation: \e84d;
$icon-ac_unit: \eb3b;
$icon-alarm: \e855;
$icon-access_alarms: \e191;
$icon-schedule: \e8b5;
$icon-accessibility: \e84e;
$icon-accessible: \e914;
$icon-account_balance: \e84f;
$icon-account_balance_wallet: \e850;
$icon-account_box: \e851;
$icon-account_circle: \e853;
$icon-adb: \e60e;
$icon-add: \e145;
$icon-add_a_photo: \e439;
$icon-alarm_add: \e856;
$icon-add_alert: \e003;
$icon-add_box: \e146;
$icon-add_circle: \e147;
$icon-control_point: \e3ba;
$icon-add_location: \e567;
$icon-add_shopping_cart: \e854;
$icon-queue: \e03c;
$icon-add_to_queue: \e05c;
$icon-adjust: \e39e;
$icon-airline_seat_flat: \e630;
$icon-airline_seat_flat_angled: \e631;
$icon-airline_seat_individual_suite: \e632;
$icon-airline_seat_legroom_extra: \e633;
$icon-airline_seat_legroom_normal: \e634;
$icon-airline_seat_legroom_reduced: \e635;
$icon-airline_seat_recline_extra: \e636;
$icon-airline_seat_recline_normal: \e637;
$icon-flight: \e539;
$icon-airplanemode_inactive: \e194;
$icon-airplay: \e055;
$icon-airport_shuttle: \eb3c;
$icon-alarm_off: \e857;
$icon-alarm_on: \e858;
$icon-album: \e019;
$icon-all_inclusive: \eb3d;
$icon-all_out: \e90b;
$icon-android: \e859;
$icon-announcement: \e85a;
$icon-apps: \e5c3;
$icon-archive: \e149;
$icon-arrow_back: \e5c4;
$icon-arrow_downward: \e5db;
$icon-arrow_drop_down: \e5c5;
$icon-arrow_drop_down_circle: \e5c6;
$icon-arrow_drop_up: \e5c7;
$icon-arrow_forward: \e5c8;
$icon-arrow_upward: \e5d8;
$icon-art_track: \e060;
$icon-aspect_ratio: \e85b;
$icon-poll: \e801;
$icon-assignment: \e85d;
$icon-assignment_ind: \e85e;
$icon-assignment_late: \e85f;
$icon-assignment_return: \e860;
$icon-assignment_returned: \e861;
$icon-assignment_turned_in: \e862;
$icon-assistant: \e39f;
$icon-flag: \e153;
$icon-attach_file: \e226;
$icon-attach_money: \e227;
$icon-attachment: \e2bc;
$icon-audiotrack: \e3a1;
$icon-autorenew: \e863;
$icon-av_timer: \e01b;
$icon-backspace: \e14a;
$icon-cloud_upload: \e2c3;
$icon-battery_alert: \e19c;
$icon-battery_charging_full: \e1a3;
$icon-battery_std: \e1a5;
$icon-battery_unknown: \e1a6;
$icon-beach_access: \eb3e;
$icon-beenhere: \e52d;
$icon-block: \e14b;
$icon-bluetooth: \e1a7;
$icon-bluetooth_searching: \e1aa;
$icon-bluetooth_connected: \e1a8;
$icon-bluetooth_disabled: \e1a9;
$icon-blur_circular: \e3a2;
$icon-blur_linear: \e3a3;
$icon-blur_off: \e3a4;
$icon-blur_on: \e3a5;
$icon-class: \e86e;
$icon-turned_in: \e8e6;
$icon-turned_in_not: \e8e7;
$icon-border_all: \e228;
$icon-border_bottom: \e229;
$icon-border_clear: \e22a;
$icon-border_color: \e22b;
$icon-border_horizontal: \e22c;
$icon-border_inner: \e22d;
$icon-border_left: \e22e;
$icon-border_outer: \e22f;
$icon-border_right: \e230;
$icon-border_style: \e231;
$icon-border_top: \e232;
$icon-border_vertical: \e233;
$icon-branding_watermark: \e06b;
$icon-brightness_1: \e3a6;
$icon-brightness_2: \e3a7;
$icon-brightness_3: \e3a8;
$icon-brightness_4: \e3a9;
$icon-brightness_low: \e1ad;
$icon-brightness_medium: \e1ae;
$icon-brightness_high: \e1ac;
$icon-brightness_auto: \e1ab;
$icon-broken_image: \e3ad;
$icon-brush: \e3ae;
$icon-bubble_chart: \e6dd;
$icon-bug_report: \e868;
$icon-build: \e869;
$icon-burst_mode: \e43c;
$icon-domain: \e7ee;
$icon-business_center: \eb3f;
$icon-cached: \e86a;
$icon-cake: \e7e9;
$icon-phone: \e0cd;
$icon-call_end: \e0b1;
$icon-call_made: \e0b2;
$icon-merge_type: \e252;
$icon-call_missed: \e0b4;
$icon-call_missed_outgoing: \e0e4;
$icon-call_received: \e0b5;
$icon-call_split: \e0b6;
$icon-call_to_action: \e06c;
$icon-camera: \e3af;
$icon-photo_camera: \e412;
$icon-camera_enhance: \e8fc;
$icon-camera_front: \e3b1;
$icon-camera_rear: \e3b2;
$icon-camera_roll: \e3b3;
$icon-cancel: \e5c9;
$icon-redeem: \e8b1;
$icon-card_membership: \e8f7;
$icon-card_travel: \e8f8;
$icon-casino: \eb40;
$icon-cast: \e307;
$icon-cast_connected: \e308;
$icon-center_focus_strong: \e3b4;
$icon-center_focus_weak: \e3b5;
$icon-change_history: \e86b;
$icon-chat: \e0b7;
$icon-chat_bubble: \e0ca;
$icon-chat_bubble_outline: \e0cb;
$icon-check: \e5ca;
$icon-check_box: \e834;
$icon-check_box_outline_blank: \e835;
$icon-check_circle: \e86c;
$icon-navigate_before: \e408;
$icon-navigate_next: \e409;
$icon-child_care: \eb41;
$icon-child_friendly: \eb42;
$icon-chrome_reader_mode: \e86d;
$icon-close: \e5cd;
$icon-clear_all: \e0b8;
$icon-closed_caption: \e01c;
$icon-wb_cloudy: \e42d;
$icon-cloud_circle: \e2be;
$icon-cloud_done: \e2bf;
$icon-cloud_download: \e2c0;
$icon-cloud_off: \e2c1;
$icon-cloud_queue: \e2c2;
$icon-code: \e86f;
$icon-photo_library: \e413;
$icon-collections_bookmark: \e431;
$icon-palette: \e40a;
$icon-colorize: \e3b8;
$icon-comment: \e0b9;
$icon-compare: \e3b9;
$icon-compare_arrows: \e915;
$icon-laptop: \e31e;
$icon-confirmation_number: \e638;
$icon-contact_mail: \e0d0;
$icon-contact_phone: \e0cf;
$icon-contacts: \e0ba;
$icon-content_copy: \e14d;
$icon-content_cut: \e14e;
$icon-content_paste: \e14f;
$icon-control_point_duplicate: \e3bb;
$icon-copyright: \e90c;
$icon-mode_edit: \e254;
$icon-create_new_folder: \e2cc;
$icon-payment: \e8a1;
$icon-crop: \e3be;
$icon-crop_16_9: \e3bc;
$icon-crop_3_2: \e3bd;
$icon-crop_landscape: \e3c3;
$icon-crop_7_5: \e3c0;
$icon-crop_din: \e3c1;
$icon-crop_free: \e3c2;
$icon-crop_original: \e3c4;
$icon-crop_portrait: \e3c5;
$icon-crop_rotate: \e437;
$icon-crop_square: \e3c6;
$icon-dashboard: \e871;
$icon-data_usage: \e1af;
$icon-date_range: \e916;
$icon-dehaze: \e3c7;
$icon-delete: \e872;
$icon-delete_forever: \e92b;
$icon-delete_sweep: \e16c;
$icon-description: \e873;
$icon-desktop_mac: \e30b;
$icon-desktop_windows: \e30c;
$icon-details: \e3c8;
$icon-developer_board: \e30d;
$icon-developer_mode: \e1b0;
$icon-device_hub: \e335;
$icon-phonelink: \e326;
$icon-devices_other: \e337;
$icon-dialer_sip: \e0bb;
$icon-dialpad: \e0bc;
$icon-directions: \e52e;
$icon-directions_bike: \e52f;
$icon-directions_boat: \e532;
$icon-directions_bus: \e530;
$icon-directions_car: \e531;
$icon-directions_railway: \e534;
$icon-directions_run: \e566;
$icon-directions_transit: \e535;
$icon-directions_walk: \e536;
$icon-disc_full: \e610;
$icon-dns: \e875;
$icon-not_interested: \e033;
$icon-do_not_disturb_alt: \e611;
$icon-do_not_disturb_off: \e643;
$icon-remove_circle: \e15c;
$icon-dock: \e30e;
$icon-done: \e876;
$icon-done_all: \e877;
$icon-donut_large: \e917;
$icon-donut_small: \e918;
$icon-drafts: \e151;
$icon-drag_handle: \e25d;
$icon-time_to_leave: \e62c;
$icon-dvr: \e1b2;
$icon-edit_location: \e568;
$icon-eject: \e8fb;
$icon-markunread: \e159;
$icon-enhanced_encryption: \e63f;
$icon-equalizer: \e01d;
$icon-error: \e000;
$icon-error_outline: \e001;
$icon-euro_symbol: \e926;
$icon-ev_station: \e56d;
$icon-insert_invitation: \e24f;
$icon-event_available: \e614;
$icon-event_busy: \e615;
$icon-event_note: \e616;
$icon-event_seat: \e903;
$icon-exit_to_app: \e879;
$icon-expand_less: \e5ce;
$icon-expand_more: \e5cf;
$icon-explicit: \e01e;
$icon-explore: \e87a;
$icon-exposure: \e3ca;
$icon-exposure_neg_1: \e3cb;
$icon-exposure_neg_2: \e3cc;
$icon-exposure_plus_1: \e3cd;
$icon-exposure_plus_2: \e3ce;
$icon-exposure_zero: \e3cf;
$icon-extension: \e87b;
$icon-face: \e87c;
$icon-fast_forward: \e01f;
$icon-fast_rewind: \e020;
$icon-favorite: \e87d;
$icon-favorite_border: \e87e;
$icon-featured_play_list: \e06d;
$icon-featured_video: \e06e;
$icon-sms_failed: \e626;
$icon-fiber_dvr: \e05d;
$icon-fiber_manual_record: \e061;
$icon-fiber_new: \e05e;
$icon-fiber_pin: \e06a;
$icon-fiber_smart_record: \e062;
$icon-get_app: \e884;
$icon-file_upload: \e2c6;
$icon-filter: \e3d3;
$icon-filter_1: \e3d0;
$icon-filter_2: \e3d1;
$icon-filter_3: \e3d2;
$icon-filter_4: \e3d4;
$icon-filter_5: \e3d5;
$icon-filter_6: \e3d6;
$icon-filter_7: \e3d7;
$icon-filter_8: \e3d8;
$icon-filter_9: \e3d9;
$icon-filter_9_plus: \e3da;
$icon-filter_b_and_w: \e3db;
$icon-filter_center_focus: \e3dc;
$icon-filter_drama: \e3dd;
$icon-filter_frames: \e3de;
$icon-terrain: \e564;
$icon-filter_list: \e152;
$icon-filter_none: \e3e0;
$icon-filter_tilt_shift: \e3e2;
$icon-filter_vintage: \e3e3;
$icon-find_in_page: \e880;
$icon-find_replace: \e881;
$icon-fingerprint: \e90d;
$icon-first_page: \e5dc;
$icon-fitness_center: \eb43;
$icon-flare: \e3e4;
$icon-flash_auto: \e3e5;
$icon-flash_off: \e3e6;
$icon-flash_on: \e3e7;
$icon-flight_land: \e904;
$icon-flight_takeoff: \e905;
$icon-flip: \e3e8;
$icon-flip_to_back: \e882;
$icon-flip_to_front: \e883;
$icon-folder: \e2c7;
$icon-folder_open: \e2c8;
$icon-folder_shared: \e2c9;
$icon-folder_special: \e617;
$icon-font_download: \e167;
$icon-format_align_center: \e234;
$icon-format_align_justify: \e235;
$icon-format_align_left: \e236;
$icon-format_align_right: \e237;
$icon-format_bold: \e238;
$icon-format_clear: \e239;
$icon-format_color_fill: \e23a;
$icon-format_color_reset: \e23b;
$icon-format_color_text: \e23c;
$icon-format_indent_decrease: \e23d;
$icon-format_indent_increase: \e23e;
$icon-format_italic: \e23f;
$icon-format_line_spacing: \e240;
$icon-format_list_bulleted: \e241;
$icon-format_list_numbered: \e242;
$icon-format_paint: \e243;
$icon-format_quote: \e244;
$icon-format_shapes: \e25e;
$icon-format_size: \e245;
$icon-format_strikethrough: \e246;
$icon-format_textdirection_l_to_r: \e247;
$icon-format_textdirection_r_to_l: \e248;
$icon-format_underlined: \e249;
$icon-question_answer: \e8af;
$icon-forward: \e154;
$icon-forward_10: \e056;
$icon-forward_30: \e057;
$icon-forward_5: \e058;
$icon-free_breakfast: \eb44;
$icon-fullscreen: \e5d0;
$icon-fullscreen_exit: \e5d1;
$icon-functions: \e24a;
$icon-g_translate: \e927;
$icon-games: \e021;
$icon-gavel: \e90e;
$icon-gesture: \e155;
$icon-gif: \e908;
$icon-goat: \e900;
$icon-golf_course: \eb45;
$icon-my_location: \e55c;
$icon-location_searching: \e1b7;
$icon-location_disabled: \e1b6;
$icon-star: '\e838';
$icon-gradient: \e3e9;
$icon-grain: \e3ea;
$icon-graphic_eq: \e1b8;
$icon-grid_off: \e3eb;
$icon-grid_on: \e3ec;
$icon-people: \e7fb;
$icon-group_add: \e7f0;
$icon-group_work: \e886;
$icon-hd: \e052;
$icon-hdr_off: \e3ed;
$icon-hdr_on: \e3ee;
$icon-hdr_strong: \e3f1;
$icon-hdr_weak: \e3f2;
$icon-headset: \e310;
$icon-headset_mic: \e311;
$icon-healing: \e3f3;
$icon-hearing: \e023;
$icon-help: \e887;
$icon-help_outline: \e8fd;
$icon-high_quality: \e024;
$icon-highlight: \e25f;
$icon-highlight_off: \e888;
$icon-restore: \e8b3;
$icon-home: \e88a;
$icon-hot_tub: \eb46;
$icon-local_hotel: \e549;
$icon-hourglass_empty: \e88b;
$icon-hourglass_full: \e88c;
$icon-http: \e902;
$icon-lock: \e897;
$icon-photo: \e410;
$icon-image_aspect_ratio: \e3f5;
$icon-import_contacts: \e0e0;
$icon-import_export: \e0c3;
$icon-important_devices: \e912;
$icon-inbox: \e156;
$icon-indeterminate_check_box: \e909;
$icon-info: \e88e;
$icon-info_outline: \e88f;
$icon-input: \e890;
$icon-insert_comment: \e24c;
$icon-insert_drive_file: \e24d;
$icon-tag_faces: \e420;
$icon-link: \e157;
$icon-invert_colors: \e891;
$icon-invert_colors_off: \e0c4;
$icon-iso: \e3f6;
$icon-keyboard: \e312;
$icon-keyboard_arrow_down: \e313;
$icon-keyboard_arrow_left: \e314;
$icon-keyboard_arrow_right: \e315;
$icon-keyboard_arrow_up: \e316;
$icon-keyboard_backspace: \e317;
$icon-keyboard_capslock: \e318;
$icon-keyboard_hide: \e31a;
$icon-keyboard_return: \e31b;
$icon-keyboard_tab: \e31c;
$icon-keyboard_voice: \e31d;
$icon-kitchen: \eb47;
$icon-label: \e892;
$icon-label_outline: \e893;
$icon-language: \e894;
$icon-laptop_chromebook: \e31f;
$icon-laptop_mac: \e320;
$icon-laptop_windows: \e321;
$icon-last_page: \e5dd;
$icon-open_in_new: \e89e;
$icon-layers: \e53b;
$icon-layers_clear: \e53c;
$icon-leak_add: \e3f8;
$icon-leak_remove: \e3f9;
$icon-lens: \e3fa;
$icon-library_books: \e02f;
$icon-library_music: \e030;
$icon-lightbulb_outline: \e90f;
$icon-line_style: \e919;
$icon-line_weight: \e91a;
$icon-linear_scale: \e260;
$icon-linked_camera: \e438;
$icon-list: \e896;
$icon-live_help: \e0c6;
$icon-live_tv: \e639;
$icon-local_play: \e553;
$icon-local_airport: \e53d;
$icon-local_atm: \e53e;
$icon-local_bar: \e540;
$icon-local_cafe: \e541;
$icon-local_car_wash: \e542;
$icon-local_convenience_store: \e543;
$icon-restaurant_menu: \e561;
$icon-local_drink: \e544;
$icon-local_florist: \e545;
$icon-local_gas_station: \e546;
$icon-shopping_cart: \e8cc;
$icon-local_hospital: \e548;
$icon-local_laundry_service: \e54a;
$icon-local_library: \e54b;
$icon-local_mall: \e54c;
$icon-theaters: \e8da;
$icon-local_offer: \e54e;
$icon-local_parking: \e54f;
$icon-local_pharmacy: \e550;
$icon-local_pizza: \e552;
$icon-print: \e8ad;
$icon-local_shipping: \e558;
$icon-local_taxi: \e559;
$icon-location_city: \e7f1;
$icon-location_off: \e0c7;
$icon-room: \e8b4;
$icon-lock_open: \e898;
$icon-lock_outline: \e899;
$icon-looks: \e3fc;
$icon-looks_3: \e3fb;
$icon-looks_4: \e3fd;
$icon-looks_5: \e3fe;
$icon-looks_6: \e3ff;
$icon-looks_one: \e400;
$icon-looks_two: \e401;
$icon-sync: \e627;
$icon-loupe: \e402;
$icon-low_priority: \e16d;
$icon-loyalty: \e89a;
$icon-mail_outline: \e0e1;
$icon-map: \e55b;
$icon-markunread_mailbox: \e89b;
$icon-memory: \e322;
$icon-menu: \e5d2;
$icon-message: \e0c9;
$icon-mic: \e029;
$icon-mic_none: \e02a;
$icon-mic_off: \e02b;
$icon-mms: \e618;
$icon-mode_comment: \e253;
$icon-monetization_on: \e263;
$icon-money_off: \e25c;
$icon-monochrome_photos: \e403;
$icon-mood_bad: \e7f3;
$icon-more: \e619;
$icon-more_horiz: \e5d3;
$icon-more_vert: \e5d4;
$icon-motorcycle: \e91b;
$icon-mouse: \e323;
$icon-move_to_inbox: \e168;
$icon-movie_creation: \e404;
$icon-movie_filter: \e43a;
$icon-multiline_chart: \e6df;
$icon-music_note: \e405;
$icon-music_video: \e063;
$icon-nature: \e406;
$icon-nature_people: \e407;
$icon-navigation: \e55d;
$icon-near_me: \e569;
$icon-network_cell: \e1b9;
$icon-network_check: \e640;
$icon-network_locked: \e61a;
$icon-network_wifi: \e1ba;
$icon-new_releases: \e031;
$icon-next_week: \e16a;
$icon-nfc: \e1bb;
$icon-no_encryption: \e641;
$icon-signal_cellular_no_sim: \e1ce;
$icon-note: \e06f;
$icon-note_add: \e89c;
$icon-notifications: \e7f4;
$icon-notifications_active: \e7f7;
$icon-notifications_none: \e7f5;
$icon-notifications_off: \e7f6;
$icon-notifications_paused: \e7f8;
$icon-offline_pin: \e90a;
$icon-ondemand_video: \e63a;
$icon-opacity: \e91c;
$icon-open_in_browser: \e89d;
$icon-open_with: \e89f;
$icon-pages: \e7f9;
$icon-pageview: \e8a0;
$icon-pan_tool: \e925;
$icon-panorama: \e40b;
$icon-radio_button_unchecked: \e836;
$icon-panorama_horizontal: \e40d;
$icon-panorama_vertical: \e40e;
$icon-panorama_wide_angle: \e40f;
$icon-party_mode: \e7fa;
$icon-pause: \e034;
$icon-pause_circle_filled: \e035;
$icon-pause_circle_outline: \e036;
$icon-people_outline: \e7fc;
$icon-perm_camera_mic: \e8a2;
$icon-perm_contact_calendar: \e8a3;
$icon-perm_data_setting: \e8a4;
$icon-perm_device_information: \e8a5;
$icon-person_outline: \e7ff;
$icon-perm_media: \e8a7;
$icon-perm_phone_msg: \e8a8;
$icon-perm_scan_wifi: \e8a9;
$icon-person: \e7fd;
$icon-person_add: \e7fe;
$icon-person_pin: \e55a;
$icon-person_pin_circle: \e56a;
$icon-personal_video: \e63b;
$icon-pets: \e91d;
$icon-phone_android: \e324;
$icon-phone_bluetooth_speaker: \e61b;
$icon-phone_forwarded: \e61c;
$icon-phone_in_talk: \e61d;
$icon-phone_iphone: \e325;
$icon-phone_locked: \e61e;
$icon-phone_missed: \e61f;
$icon-phone_paused: \e620;
$icon-phonelink_erase: \e0db;
$icon-phonelink_lock: \e0dc;
$icon-phonelink_off: \e327;
$icon-phonelink_ring: \e0dd;
$icon-phonelink_setup: \e0de;
$icon-photo_album: \e411;
$icon-photo_filter: \e43b;
$icon-photo_size_select_actual: \e432;
$icon-photo_size_select_large: \e433;
$icon-photo_size_select_small: \e434;
$icon-picture_as_pdf: \e415;
$icon-picture_in_picture: \e8aa;
$icon-picture_in_picture_alt: \e911;
$icon-pie_chart: \e6c4;
$icon-pie_chart_outlined: \e6c5;
$icon-pin_drop: \e55e;
$icon-play_arrow: \e037;
$icon-play_circle_outline: \e039;
$icon-play_for_work: \e906;
$icon-playlist_add: \e03b;
$icon-playlist_add_check: \e065;
$icon-playlist_play: \e05f;
$icon-plus_one: \e800;
$icon-polymer: \e8ab;
$icon-pool: \eb48;
$icon-portable_wifi_off: \e0ce;
$icon-portrait: \e416;
$icon-power: \e63c;
$icon-power_input: \e336;
$icon-power_settings_new: \e8ac;
$icon-pregnant_woman: \e91e;
$icon-present_to_all: \e0df;
$icon-priority_high: \e645;
$icon-public: \e80b;
$icon-publish: \e255;
$icon-queue_music: \e03d;
$icon-queue_play_next: \e066;
$icon-radio: \e03e;
$icon-radio_button_checked: \e837;
$icon-rate_review: \e560;
$icon-receipt: \e8b0;
$icon-recent_actors: \e03f;
$icon-record_voice_over: \e91f;
$icon-redo: \e15a;
$icon-refresh: \e5d5;
$icon-remove: \e15b;
$icon-remove_circle_outline: \e15d;
$icon-remove_from_queue: \e067;
$icon-visibility: \e8f4;
$icon-remove_shopping_cart: \e928;
$icon-reorder: \e8fe;
$icon-repeat: \e040;
$icon-repeat_one: \e041;
$icon-replay: \e042;
$icon-replay_10: \e059;
$icon-replay_30: \e05a;
$icon-replay_5: \e05b;
$icon-reply: \e15e;
$icon-reply_all: \e15f;
$icon-report: \e160;
$icon-warning: \e002;
$icon-restaurant: \e56c;
$icon-restore_page: \e929;
$icon-ring_volume: \e0d1;
$icon-room_service: \eb49;
$icon-rotate_90_degrees_ccw: \e418;
$icon-rotate_left: \e419;
$icon-rotate_right: \e41a;
$icon-rounded_corner: \e920;
$icon-router: \e328;
$icon-rowing: \e921;
$icon-rss_feed: \e0e5;
$icon-rv_hookup: \e642;
$icon-satellite: \e562;
$icon-save: \e161;
$icon-scanner: \e329;
$icon-school: \e80c;
$icon-screen_lock_landscape: \e1be;
$icon-screen_lock_portrait: \e1bf;
$icon-screen_lock_rotation: \e1c0;
$icon-screen_rotation: \e1c1;
$icon-screen_share: \e0e2;
$icon-sd_storage: \e1c2;
$icon-search: \e8b6;
$icon-security: \e32a;
$icon-select_all: \e162;
$icon-send: \e163;
$icon-sentiment_dissatisfied: \e811;
$icon-sentiment_neutral: \e812;
$icon-sentiment_satisfied: \e813;
$icon-sentiment_very_dissatisfied: \e814;
$icon-sentiment_very_satisfied: \e815;
$icon-settings: \e8b8;
$icon-settings_applications: \e8b9;
$icon-settings_backup_restore: \e8ba;
$icon-settings_bluetooth: \e8bb;
$icon-settings_brightness: \e8bd;
$icon-settings_cell: \e8bc;
$icon-settings_ethernet: \e8be;
$icon-settings_input_antenna: \e8bf;
$icon-settings_input_composite: \e8c1;
$icon-settings_input_hdmi: \e8c2;
$icon-settings_input_svideo: \e8c3;
$icon-settings_overscan: \e8c4;
$icon-settings_phone: \e8c5;
$icon-settings_power: \e8c6;
$icon-settings_remote: \e8c7;
$icon-settings_system_daydream: \e1c3;
$icon-settings_voice: \e8c8;
$icon-share: \e80d;
$icon-shop: \e8c9;
$icon-shop_two: \e8ca;
$icon-shopping_basket: \e8cb;
$icon-short_text: \e261;
$icon-show_chart: \e6e1;
$icon-shuffle: \e043;
$icon-signal_cellular_4_bar: \e1c8;
$icon-signal_cellular_connected_no_internet_4_bar: \e1cd;
$icon-signal_cellular_null: \e1cf;
$icon-signal_cellular_off: \e1d0;
$icon-signal_wifi_4_bar: \e1d8;
$icon-signal_wifi_4_bar_lock: \e1d9;
$icon-signal_wifi_off: \e1da;
$icon-sim_card: \e32b;
$icon-sim_card_alert: \e624;
$icon-skip_next: \e044;
$icon-skip_previous: \e045;
$icon-slideshow: \e41b;
$icon-slow_motion_video: \e068;
$icon-stay_primary_portrait: \e0d6;
$icon-smoke_free: \eb4a;
$icon-smoking_rooms: \eb4b;
$icon-textsms: \e0d8;
$icon-snooze: \e046;
$icon-sort: \e164;
$icon-sort_by_alpha: \e053;
$icon-spa: \eb4c;
$icon-space_bar: \e256;
$icon-speaker: \e32d;
$icon-speaker_group: \e32e;
$icon-speaker_notes: \e8cd;
$icon-speaker_notes_off: \e92a;
$icon-speaker_phone: \e0d2;
$icon-spellcheck: \e8ce;
$icon-star_border: '\e83a';
$icon-star_half: '\e839';
$icon-stars: '\e8d0';
$icon-stay_primary_landscape: \e0d5;
$icon-stop: \e047;
$icon-stop_screen_share: \e0e3;
$icon-storage: \e1db;
$icon-store_mall_directory: \e563;
$icon-straighten: \e41c;
$icon-streetview: \e56e;
$icon-strikethrough_s: \e257;
$icon-style: \e41d;
$icon-subdirectory_arrow_left: \e5d9;
$icon-subdirectory_arrow_right: \e5da;
$icon-subject: \e8d2;
$icon-subscriptions: \e064;
$icon-subtitles: \e048;
$icon-subway: \e56f;
$icon-supervisor_account: \e8d3;
$icon-surround_sound: \e049;
$icon-swap_calls: \e0d7;
$icon-swap_horiz: \e8d4;
$icon-swap_vert: \e8d5;
$icon-swap_vertical_circle: \e8d6;
$icon-switch_camera: \e41e;
$icon-switch_video: \e41f;
$icon-sync_disabled: \e628;
$icon-sync_problem: \e629;
$icon-system_update: \e62a;
$icon-system_update_alt: \e8d7;
$icon-tab: \e8d8;
$icon-tab_unselected: \e8d9;
$icon-tablet: \e32f;
$icon-tablet_android: \e330;
$icon-tablet_mac: \e331;
$icon-tap_and_play: \e62b;
$icon-text_fields: \e262;
$icon-text_format: \e165;
$icon-texture: \e421;
$icon-thumb_down: \e8db;
$icon-thumb_up: \e8dc;
$icon-thumbs_up_down: \e8dd;
$icon-timelapse: \e422;
$icon-timeline: \e922;
$icon-timer: \e425;
$icon-timer_10: \e423;
$icon-timer_3: \e424;
$icon-timer_off: \e426;
$icon-title: \e264;
$icon-toc: \e8de;
$icon-today: \e8df;
$icon-toll: \e8e0;
$icon-tonality: \e427;
$icon-touch_app: \e913;
$icon-toys: \e332;
$icon-track_changes: \e8e1;
$icon-traffic: \e565;
$icon-train: \e570;
$icon-tram: \e571;
$icon-transfer_within_a_station: \e572;
$icon-transform: \e428;
$icon-translate: \e8e2;
$icon-trending_down: \e8e3;
$icon-trending_flat: \e8e4;
$icon-trending_up: \e8e5;
$icon-tune: \e429;
$icon-tv: \e333;
$icon-unarchive: \e169;
$icon-undo: \e166;
$icon-unfold_less: \e5d6;
$icon-unfold_more: \e5d7;
$icon-update: \e923;
$icon-usb: \e1e0;
$icon-verified_user: \e8e8;
$icon-vertical_align_bottom: \e258;
$icon-vertical_align_center: \e259;
$icon-vertical_align_top: \e25a;
$icon-vibration: \e62d;
$icon-video_call: \e070;
$icon-video_label: \e071;
$icon-video_library: \e04a;
$icon-videocam: \e04b;
$icon-videocam_off: \e04c;
$icon-videogame_asset: \e338;
$icon-view_agenda: \e8e9;
$icon-view_array: \e8ea;
$icon-view_carousel: \e8eb;
$icon-view_column: \e8ec;
$icon-view_comfy: \e42a;
$icon-view_compact: \e42b;
$icon-view_day: \e8ed;
$icon-view_headline: \e8ee;
$icon-view_list: \e8ef;
$icon-view_module: \e8f0;
$icon-view_quilt: \e8f1;
$icon-view_stream: \e8f2;
$icon-view_week: \e8f3;
$icon-vignette: \e435;
$icon-visibility_off: \e8f5;
$icon-voice_chat: \e62e;
$icon-voicemail: \e0d9;
$icon-volume_down: \e04d;
$icon-volume_mute: \e04e;
$icon-volume_off: \e04f;
$icon-volume_up: \e050;
$icon-vpn_key: \e0da;
$icon-vpn_lock: \e62f;
$icon-wallpaper: \e1bc;
$icon-watch: \e334;
$icon-watch_later: \e924;
$icon-wb_auto: \e42c;
$icon-wb_incandescent: \e42e;
$icon-wb_iridescent: \e436;
$icon-wb_sunny: \e430;
$icon-wc: \e63d;
$icon-web: \e051;
$icon-web_asset: \e069;
$icon-weekend: \e16b;
$icon-whatshot: \e80e;
$icon-widgets: \e1bd;
$icon-wifi: \e63e;
$icon-wifi_lock: \e1e1;
$icon-wifi_tethering: \e1e2;
$icon-work: \e8f9;
$icon-wrap_text: \e25b;
$icon-youtube_searched_for: \e8fa;
$icon-zoom_in: \e8ff;
$icon-zoom_out: \e901;
$icon-zoom_out_map: \e56b;
$icon-google: \ea9c;
$icon-facebook1: \ea95;
$icon-instagram1: \ea96;
$icon-msn: \ea97;
$icon-snapchat: \ea98;
$icon-twitter: \ea99;
$icon-uber: \ea9a;
$icon-whatsapp1: \ea9b;
$icon-G_bold: \ea83;
$icon-G_light: \ea84;
$icon-G_masa: \ea85;
$icon-G_bold2: \ea86;
$icon-G_light2: \ea87;
$icon-G_masa2: \ea88;
$icon-G_bold3: \ea89;
$icon-G_light3: \ea8a;
$icon-G_masa3: \ea8b;
$icon-Chip-bold: \ea8c;
$icon-Chip-light: \ea8d;
$icon-Chip-masa: \ea8e;
$icon-M-isotipo-bold: \ea8f;
$icon-M-isotipo-light: \ea90;
$icon-M-isotipo-masa: \ea91;
$icon-Telephone-01: \ea92;
$icon-Telephone-02: \ea93;
$icon-Telephone-03: \ea94;
$icon-Dato_M-compartidos_2: \ea7d;
$icon-Dato_M-compartidos: \ea7e;
$icon-Dato_M-compartidos_1: \ea7f;
$icon-Accesibilidad_2: \ea80;
$icon-Accesibilidad_1: \ea81;
$icon-Accesibilidad: \ea82;
$icon-playboy: \ea7a;
$icon-fox: \ea7b;
$icon-hbo: \ea7c;
$icon-Ajustes_2: \e9c4;
$icon-Atencion-al-cliente_Ayuda_2: \e9c5;
$icon-Bajada-de-Precio_2: \e9c6;
$icon-Banda-ancha_2: \e9c7;
$icon-Blog_2: \e9c8;
$icon-Buscar_Encontrar_2: \e9c9;
$icon-Call-center_Atencion-al-cliente_2: \e9ca;
$icon-Cambiar-mi-clave-wifi_2: \e9cb;
$icon-Cambiar-Plan_2: \e9cc;
$icon-Carrito-de-la-compra_2: \e9cd;
$icon-Chat_hablar_2: \e9ce;
$icon-Chip_Equipo_2: \e9cf;
$icon-Chip_Sim-card_2: \e9d0;
$icon-Click-to-call_2: \e9d1;
$icon-Comprar-celulares_2: \e9d2;
$icon-Comprar-datos_2: \e9d3;
$icon-Comprar-planes_2: \e9d4;
$icon-Comprar-productos-hogar_2: \e9d5;
$icon-Configurar-celular_2: \e9d6;
$icon-Configurar-decodificador-tv_2: \e9d7;
$icon-Configurar-modem_2: \e9d8;
$icon-Consulta-canjes-puntos-Movistar_2: \e9d9;
$icon-Consultar-documento_2: \e9da;
$icon-Datos-compartidos_2: \e9db;
$icon-Descargar_Bajar_2: \e9dc;
$icon-Descargar_Descarga-app_2: \e9dd;
$icon-Detalle-de-llamadas_2: \e9de;
$icon-Dinero_Pagar_Cobro_Saldo_2: \e9df;
$icon-Envio_Envio-Gratis_2: \e9e0;
$icon-factura-digital_2: \e9e1;
$icon-Factura_Plan_Documento_2: \e9e2;
$icon-Fibra_2: \e9e3;
$icon-Foro_2: \e9e4;
$icon-Indicativos-y-marcaciones_2: \e9e5;
$icon-Internet-movil_2: \e9e6;
$icon-Lanzar_2: \e9e7;
$icon-Larga-distancia_2: \e9e8;
$icon-Me-gusta_2: \e9e9;
$icon-Movil_Dispositivo_Terminales_2: \e9ea;
$icon-Nube_almacenamientoNube_2: \e9eb;
$icon-Nuevo_Destacado_Oferta_2: \e9ec;
$icon-Oferta-online_2: \e9ed;
$icon-Ordenador_2: \e9ee;
$icon-Pagar-factura_2: \e9ef;
$icon-Perdida-o-robo-de-celulares_2: \e9f0;
$icon-Portabilidad_2: \e9f1;
$icon-Pospago_2: \e9f2;
$icon-Prepago_2: \e9f3;
$icon-Promociones_Ofertas_2: \e9f4;
$icon-Recarga-Online_2: \e9f5;
$icon-Renovar-equipo_Cambiar-movil_2: \e9f6;
$icon-Saldo_2: \e9f7;
$icon-Servicio-tecnico-Internet_2: \e9f8;
$icon-Servicio-tecnico-para-movil_2: \e9f9;
$icon-Servicio-tecnico-telefonia-fija_2: \e9fa;
$icon-Servicio-tecnico-tv_2: \e9fb;
$icon-Servicio-tecnico_2: \e9fc;
$icon-Telefonia-fija_Telefono_Llamar_2: \e9fd;
$icon-TV_Contenidos-audiovisuales_2: \e9fe;
$icon-Usuario_Micuenta_persona_2: \e9ff;
$icon-Ajustes_1: \ea00;
$icon-Atencion-al-cliente_Ayuda_1: \ea01;
$icon-Bajada-de-Precio_1: \ea02;
$icon-Banda-ancha_1: \ea03;
$icon-Blog_1: \ea04;
$icon-Buscar_Encontrar_1: \ea05;
$icon-Call-center_Atencion-al-cliente_1: \ea06;
$icon-Cambiar-mi-clave-wifi_1: \ea07;
$icon-Cambiar-Plan_1: \ea08;
$icon-Carrito-de-la-compra_1: \ea09;
$icon-Chat_hablar_1: \ea0a;
$icon-Chip_Equipo_1: \ea0b;
$icon-Chip_Sim-card_1: \ea0c;
$icon-Click-to-call_1: \ea0d;
$icon-Comprar-celulares_1: \ea0e;
$icon-Comprar-datos_1: \ea0f;
$icon-Comprar-planes_1: \ea10;
$icon-Comprar-productos-hogar_1: \ea11;
$icon-Configurar-celular_1: \ea12;
$icon-Configurar-decodificador-tv_1: \ea13;
$icon-Configurar-modem_1: \ea14;
$icon-Consulta-canjes-puntos-Movistar_1: \ea15;
$icon-Consultar-documento_1: \ea16;
$icon-Datos-compartidos_1: \ea17;
$icon-Descargar_Bajar_1: \ea18;
$icon-Descargar_Descarga-app_1: \ea19;
$icon-Detalle-de-llamadas_1: \ea1a;
$icon-Dinero_Pagar_Cobro_Saldo_1: \ea1b;
$icon-Envio_Envio-Gratis_1: \ea1c;
$icon-factura-digital_1: \ea1d;
$icon-Factura_Plan_Documento_1: \ea1e;
$icon-Fibra_1: \ea1f;
$icon-Foro_1: \ea20;
$icon-Indicativos-y-marcaciones_1: \ea21;
$icon-Internet-movil_1: \ea22;
$icon-Lanzar_1: \ea23;
$icon-Larga-distancia_1: \ea24;
$icon-Me-gusta_1: \ea25;
$icon-Movil_Dispositivo_Terminales_1: \ea26;
$icon-Nube_almacenamientoNube_1: \ea27;
$icon-Nuevo_Destacado_Oferta_1: \ea28;
$icon-Oferta-online_1: \ea29;
$icon-Ordenador_1: \ea2a;
$icon-Pagar-factura_1: \ea2b;
$icon-Perdida-o-robo-de-celulares_1: \ea2c;
$icon-Portabilidad_1: \ea2d;
$icon-Pospago_1: \ea2e;
$icon-Prepago_1: \ea2f;
$icon-Promociones_Ofertas_1: \ea30;
$icon-Recarga-Online_1: \ea31;
$icon-Renovar-equipo_Cambiar-movil_1: \ea32;
$icon-Saldo_1: \ea33;
$icon-Servicio-tecnico-Internet_1: \ea34;
$icon-Servicio-tecnico-para-movil_1: \ea35;
$icon-Servicio-tecnico-telefonia-fija_1: \ea36;
$icon-Servicio-tecnico-tv_1: \ea37;
$icon-Servicio-tecnico_1: \ea38;
$icon-Telefonia-fija_Telefono_Llamar_1: \ea39;
$icon-TV_Contenidos-audiovisuales_1: \ea3a;
$icon-Usuario_Micuenta_persona_1: \ea3b;
$icon-Ajustes: \ea3c;
$icon-Atencion-al-cliente_Ayuda: \ea3d;
$icon-Bajada-de-Precio: \ea3e;
$icon-Banda-ancha: \ea3f;
$icon-Blog: \ea40;
$icon-Buscar_Encontrar: \ea41;
$icon-Call-center_Atencion-al-cliente: \ea42;
$icon-Cambiar-mi-clave-wifi: \ea43;
$icon-Cambiar-Plan: \ea44;
$icon-Carrito-de-la-compra: \ea45;
$icon-Chat_hablar: \ea46;
$icon-Chip_Equipo: \ea47;
$icon-Chip_Sim-card: \ea48;
$icon-Click-to-call: \ea49;
$icon-Comprar-celulares: \ea4a;
$icon-Comprar-datos: \ea4b;
$icon-Comprar-planes: \ea4c;
$icon-Comprar-productos-hogar: \ea4d;
$icon-Configurar-celular: \ea4e;
$icon-Configurar-decodificador-tv: \ea4f;
$icon-Configurar-modem: \ea50;
$icon-Consulta-canjes-puntos-Movistar: \ea51;
$icon-Consultar-documento: \ea52;
$icon-Datos-compartidos: \ea53;
$icon-Descargar_Bajar: \ea54;
$icon-Descargar_Descarga-app: \ea55;
$icon-Detalle-de-llamadas: \ea56;
$icon-Dinero_Pagar_Cobro_Saldo: \ea57;
$icon-Envio_Envio-Gratis: \ea58;
$icon-factura-digital: \ea59;
$icon-Factura_Plan_Documento: \ea5a;
$icon-Fibra: \ea5b;
$icon-Foro: \ea5c;
$icon-Indicativos-y-marcaciones: \ea5d;
$icon-Internet-movil: \ea5e;
$icon-Lanzar: \ea5f;
$icon-Larga-distancia: \ea60;
$icon-Me-gusta: \ea61;
$icon-Movil_Dispositivo_Terminales: \ea62;
$icon-Nube_almacenamientoNube: \ea63;
$icon-Nuevo_Destacado_Oferta: \ea64;
$icon-Oferta-online: \ea65;
$icon-Ordenador: \ea66;
$icon-Pagar-factura: \ea67;
$icon-Perdida-o-robo-de-celulares: \ea68;
$icon-Portabilidad: \ea69;
$icon-Pospago: \ea6a;
$icon-Prepago: \ea6b;
$icon-Promociones_Ofertas: \ea6c;
$icon-Recarga-Online: \ea6d;
$icon-Renovar-equipo_Cambiar-movil: \ea6e;
$icon-Saldo: \ea6f;
$icon-Servicio-tecnico-Internet: \ea70;
$icon-Servicio-tecnico-para-movil: \ea71;
$icon-Servicio-tecnico-telefonia-fija: \ea72;
$icon-Servicio-tecnico-tv: \ea73;
$icon-Servicio-tecnico: \ea74;
$icon-Telefonia-fija_Telefono_Llamar: \ea75;
$icon-TV_Contenidos-audiovisuales: \ea76;
$icon-Usuario_Micuenta_persona: \ea77;
$icon-accesibilidad_icon: \ea78;
$icon-carrito: \ea79;
$icon-ico_FaceBook: \e9bf;
$icon-ico_Line: \e9c0;
$icon-ico_Twitter: \e9c1;
$icon-ico_Waze: \e9c2;
$icon-ico_WhatsApp: \e9c3;
$icon-facebook: \e9bd;
$icon-youtube: \e9be;
$icon-instagram: \e9bc;
$icon-611: \e971;
$icon-adelanta_tu_saldo: \e972;
$icon-adultos_plus: \e973;
$icon-adultos_total: \e974;
$icon-agenda_web: \e975;
$icon-asistencia: \e976;
$icon-atencion_redes_sociales: \e977;
$icon-automatico: \e978;
$icon-beneficios: \e979;
$icon-beneficios_cambio: \e97a;
$icon-cambiar_clave_wifi: \e97b;
$icon-canales_de_audio: \e97c;
$icon-CDS_multidispositivo: \e97d;
$icon-centro_de_seguridad: \e97e;
$icon-centro_y_lineas_atencion: \e97f;
$icon-cliente_preferencial: \e980;
$icon-concursos: \e981;
$icon-conectividad: \e982;
$icon-conexion_segura: \e983;
$icon-consulta_y_paga_tu_factura: \e984;
$icon-cupon_de_pago: \e985;
$icon-datos_compartidos: \e986;
$icon-debito_automatico: \e987;
$icon-eliminar_cancelar: \e988;
$icon-envio: \e989;
$icon-establecer_linea_de_contacto: \e98a;
$icon-familia_y_amigos: \e98b;
$icon-fibra_optica: \e98c;
$icon-fox_premium: \e98d;
$icon-habla_por_segundos: \e98e;
$icon-hbo_max: \e98f;
$icon-hd_plus: \e990;
$icon-hd_total: \e991;
$icon-indicativos_larga_distancia: \e992;
$icon-larga_distancia_nacional_iimitada: \e993;
$icon-lstado_de_llamadas: \e994;
$icon-lstado_de_sms: \e995;
$icon-mapa_cobertura_fija: \e996;
$icon-mapa_cobertura_movil: \e997;
$icon-medidor_de_velocidad: \e998;
$icon-minuto_adicional: \e999;
$icon-minutos_movistar: \e99a;
$icon-mis_prefereidos: \e99b;
$icon-Movistar_musica: \e99c;
$icon-Movistar_play: \e99d;
$icon-numeros_favoritos: \e99e;
$icon-pago_cuotas: \e99f;
$icon-paquetes: \e9a0;
$icon-paquetes_compra: \e9a1;
$icon-paquetes_de_datos: \e9a2;
$icon-paquetes_de_roaming: \e9a3;
$icon-paquetes_de_sms: \e9a4;
$icon-paquetes_de_voz: \e9a5;
$icon-plan_cina: \e9a6;
$icon-prefereido_fijo_movil: \e9a7;
$icon-preventa: \e9a8;
$icon-recarga_en_linea: \e9a9;
$icon-redes_sociales: \e9aa;
$icon-reforma_tributaria_y_alza_tarifas: \e9ab;
$icon-retiro_compra_suscursal: \e9ac;
$icon-roaming: \e9ad;
$icon-roaming_de_datos: \e9ae;
$icon-seguimiento_pedidos: \e9af;
$icon-seguro_de_personas: \e9b0;
$icon-seguros_moviles: \e9b1;
$icon-simulador_de_datos_moviles: \e9b3;
$icon-SMS: \e9b4;
$icon-status_pedido: \e9b5;
$icon-terminos_y_condiciones: \e9b6;
$icon-trafico_de_datos: \e9b7;
$icon-trafico_de_romaing: \e9b8;
$icon-tramites: \e9b9;
$icon-tutor: \e9ba;
$icon-Artboard-11: \e952;
$icon-BandaAncha-Bold: \e953;
$icon-BandaAncha-Light: \e954;
$icon-BandaAncha-Masa: \e955;
$icon-CallCenter-Bold: \e956;
$icon-CallCenter-Light: \e957;
$icon-CallCenter-Masa: \e958;
$icon-Chat-Bold: \e959;
$icon-Chat-Light: \e95a;
$icon-Chat-Masa: \e95b;
$icon-ClickToCall-Bold: \e95c;
$icon-ClickToCall-Light: \e95d;
$icon-ClickToCall-Masa: \e95e;
$icon-Fijo-Bold: \e95f;
$icon-Fijo-Light: \e960;
$icon-Fijo-Masa: \e961;
$icon-InternetMovil-Bold: \e962;
$icon-InternetMovil-Light: \e963;
$icon-InternetMovil-Masa: \e964;
$icon-MiCuenta-Bold: \e965;
$icon-MiCuenta-Light: \e966;
$icon-MiCuenta-Masa: \e967;
$icon-Pospago-Bold: \e968;
$icon-Pospago-Light: \e969;
$icon-Pospago-Masa: \e96a;
$icon-Prepago-Bold: \e96b;
$icon-Prepago-Light: \e96c;
$icon-Prepago-Masa: \e96d;
$icon-TV-Bold: \e96e;
$icon-TV-Light: \e96f;
$icon-TV-Masa: \e970;
$icon-nw-apps: \e907;
$icon-nw-bag-email: \e910;
$icon-nw-bag-movistar: \e92c;
$icon-nw-bag-question: \e92d;
$icon-nw-bag-shopping: \e92e;
$icon-nw-bam: \e92f;
$icon-nw-beacon: \e930;
$icon-nw-calendar: \e931;
$icon-nw-camera: \e932;
$icon-nw-equis-rounded: \e933;
$icon-nw-chat: \e934;
$icon-nw-chip-4g: \e935;
$icon-nw-chip: \e936;
$icon-calendar: \e937;
$icon-nw-circle-more: \e938;
$icon-nw-credit-card: \e939;
$icon-nw-envelope-check: \e93a;
$icon-nw-hour: \e93b;
$icon-nw-house-wifi: \e93c;
$icon-nw-house: \e93d;
$icon-gift: \e93e;
$icon-nw-padlock-opened: \e93f;
$icon-nw-phone-delete: \e940;
$icon-nw-phone-email: \e941;
$icon-nw-phone-in-out: \e942;
$icon-nw-phone-internet: \e943;
$icon-nw-phone-locked: \e944;
$icon-nw-phone-message: \e945;
$icon-nw-phone-movistar: \e946;
$icon-nw-phone-price: \e947;
$icon-nw-phone-repair: \e948;
$icon-nw-phone-search: \e949;
$icon-nw-phone-star: \e94a;
$icon-nw-phone-update: \e94b;
$icon-nw-phone-voice: \e94c;
$icon-nw-rates: \e94d;
$icon-nw-remote-config: \e94e;
$icon-nw-remote-question: \e94f;
$icon-nw-remote: \e950;
$icon-accessibility01: \e9b2;
$icon-whatsapp: \e9bb;
$icon-brand: \e9bb;
$icon-social: \e9bb;
