@media (max-width: 750px) {
    #layered-filter-block.activeFilter {
        display: block;
        padding: 30px;
        position: fixed;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
        background: #fff;
        z-index: 9;
        margin: 0;
    }
    .filtrosClose {
        text-align: right;
        font-size: 30px;
    }
    .button-filter-res {
        width: 100%;
        padding: 10px;
    }
}
@media (min-width: 320px) and (max-width: 1023px){
    body.portabilidad-plan-checkout {
        #bloque-portabilidad-nip-validacion {
            .step__content2 {
                .form__row-gral {
                    a{
                        font-size:1.2rem; 
                        text-align: right !important;
                    }
                }
            }
        }
    } 
    #bloque-portabilidad-nip-validacion {
        .step__content {
            input{
                margin-bottom:2px !important;
            }
        }
    }
}
@media (max-width: 400px) {
    .portabilidad-plan-checkout{
        .form__row-none{
            .form__label-ico{
                width: 90%;
            }
        } 
    } 
}