@media only screen and (max-width: 414px) {
	.BannerMotoMob {
	    top: -140px;
	}
	.hero-banner__title {}
}
.layout-flex__row.layout-flex__row_5.terms-and-conditions-renovacion{
    padding: 5px 15px;
}