.cms-home{
    .band_border-top{
        position:relative;
    }
}

.band_grey {
    padding-bottom:50px;
}
.catalog-product-view{
    .tabs__pane{
        .review{
            padding:0 20px;
        }
        .review-add{
            input,
            textarea{
                background: #f4f4f3;
                height: 46px;
            }
        }
        .review-form-actions{
            button.action{
                color: #fff !important;
                font-family: "Telefonica-Bold","Helvetica Neue",Helvetica,Arial,sans-serif !important;
                -webkit-border-radius: 4px !important;
                border-radius: 4px !important;
                background-color: #5bc500 !important;
                font-size:1.6rem;
            }
        }
    }
    .preguntas-frecuentes{
        .grid-squares__list.grid-squares__list_full{
            margin: 5px 0;
        }
    }
    .subtitle{
        font-size: 2rem;
    }
    .tags_hidden2{
        display: block !important;
        margin-top: 20px !important;
    }
    .breadcrumbs{
        display:none !important;
    }
    .layout_inner{
        padding-top: 0;
    }
    .band_border-top{
        margin-bottom:50px;
    }
    .data-section__item{
        .cambiar_equipo{
            padding-top: 15px;
            display: block;
        }
    }
    .list-ico__link.i-email{
        padding-top: 8px;
        &:before{
            font-size: 20px !important;
        }
    }
    .list-ico__link.wa_btn{
        &:before{
            content: "\e9bb";
            font-family: 'icomoon' !important;
        }
    }
    .review-control-vote::before{
        letter-spacing: -5px;
    }
    .review-control-vote label::before{
        letter-spacing: -5px;
    }
}
.band_border-top{
    z-index:6;
    position:relative;
}
.list-thumb__boll.data__thumb{
    text-indent: -9999px;
}
#sc2-c2 .steps__item .form-ico__label, 
#greenBox_PortaForm2.form__row-sm .steps__item .form-ico__label{
    max-width: auto;
    width: auto;
    font-family: "Telefonica Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (min-width: 800px) and (max-width: 1050px){
    .mi-whatsapp{
        .data__txt_sub{
            margin-left: 38px;
        }
    }
}
.slider__cards {
    .slider__cards_item {
        .c-card {
            .card__wrap{
                height: 570px !important;
            }
        }
    }
}
.js-dataSectionParent{
    .data-section_item.js-dataItem.data-section__underline{
        margin-bottom:5px;
    }
}
.vsm-card {
    .card__wrap {
        .card__content{
            height: 677px !important;
        }
    }
}
.posvitrinaterminal02pre-index-index{
    .vsm-card .card__wrap .card__content{
        height: 530px !important;
    }
    fieldset.layout_inner.steps.vsm-form__fieldset.vsm-form__fieldset_borderSup{
        display:none;
    }
}
.posvitrinaterminal-index-index {
    .steps__item {
        .form-ico {
            max-width: 80%;
        }
    }
}
#modal-envio-nip #solicitarNipButton{
    display: block !important;
    width: 210px !important;
    margin: 20px auto !important;
}
.no-show{
    display:none;
}
.form__row-gral{
    .form__label_check.i-check{
        margin-bottom: 0px !important;
    }
}
.step__legend{
    margin:12px 0;
}
.data__txt justified5{
    margin:10px;
}
.form__grid__item{
    &.RFC-checkout{
        label{
            min-height: 49px;
            vertical-align: top;
            line-height: 20px;
            display: block;
            &:before{
                content:"";
                padding:0;
            }
            &:after{
                -webkit-box-ordinal-group: 3;
                -webkit-order: 2;
                -ms-flex-order: 2;
                order: 2;
                padding-right: 4px;
                color: #00a9e0;
                font-size: 8px;
                font-size: .8rem;
                content: "*";
            }
            @media (max-width: 600px){
                min-height: 0;
                margin-top:10px;
            }
        }
    }
    &.TELCONT-checkout{
        span{
            display: inline-block;
            font-size: 10px;
        }
        label{
            display: inline-block;
            &:before{
                content:"";
                padding:0;
            }
            &:after{
                -webkit-box-ordinal-group: 3;
                -webkit-order: 2;
                -ms-flex-order: 2;
                order: 2;
                padding-right: 4px;
                color: #00a9e0;
                font-size: 8px;
                font-size: .8rem;
                content: "*";
            }
        }
    }
}
.step__content.js-stepAccordion{
    .form__row-gral{
        .form__grid{
            padding-bottom: 20px;
        }
    }
    /*#valid-appelido-p{
        margin-bottom: 20px;
    }*/
    .add__bottom{
        margin-bottom: 10px !important;
    }
}
.slider__cards_item .c-card .card__wrap{
    height: 570px !important;
}
.c-card.card_check.js-cardCheck{
    position:relative;
    .card__content{
        footer.card__foot{
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 30px;
        }
        @media (min-width: 800px) {
            .card__item{
                &.control-plan{
                    min-height:150px !important;
                    border:none;
                }
                .card__txt-high.js-pricePlan{
                    position: absolute;
                    bottom: 200px;
                    left: 20px;
                    right: 20px;
                }
                .card__row_inline{
                    position: absolute;
                    bottom: 130px;
                    left: 20px;
                    right: 20px;
                }
            }
        }
    }
}
.posvitrinaterminal02pre-index-index .vsm-card{
    .card__wrap{
        .card__content{
            .card__item.card__item_no-border{
                .card__txt-high.js-pricePlan{
                    bottom: 65px;
                }
                #priceGuia{
                    bottom:95px !important;
                }
            }
        }
    }
}
.ie11{
    .c-card__group{
        position:relative;
        padding-right:50px;
        .tool-box{
            position:absolute;
            right:50px;
        }
    }
    #subcontent2{
        #sc2-c2{
            .steps__list{
                display:block;
                .form__radio_label{
                    &:before{
                        top:19px;
                    }
                    span{
                        display:block;
                        &:before{
                            display:block;
                            float:left;
                            height:100%;
                            line-height:1.3;
                            margin-top:-8px;
                        }
                    }
                }
            }
        }
    }
    #greenBox_PortaForm2.form__row-sm{
        .steps__item {
            display:block;
            .form__radio_label{
                span{
                    display:block;
                    &:before{
                        display:block;
                        float:left;
                        height:100%;
                        line-height:1.3;
                        margin-top:-9px;
                    }
                }
            }
        }
    } 
    .page-wrapper{
        display:block;
    }
    .page-footer{
        clear: both; 
        float: none; 
        display: block;
    }
    .step__set.pospago-portabilidad-contrato .center{
        position:relative;
    }
    .step__set.pospago-portabilidad-contrato .form__label_check.i-check.i-check2{
        display:block;
    }
    .step__set.pospago-portabilidad-contrato .form__label_check.i-check.i-check2::before{
        left:-35px;
        position:relative;
        top:20px;
    }
}
.form__row-gral{
    #valida-estado{
        margin-bottom: 15px;
    }
    #ciudad-valida{
        margin-bottom: 15px;
    }
}
fieldset.step__set .step__content{
    margin-top:30px !important;
}
.renovaciones-checkout-index {
    .step__content.js-stepAccordion {
        small.js-validateMsg {
            margin-bottom: 20px; 
            display: block;
        }
    }
    #DirEntrega {
        margin-bottom: 50px;
    }
    .danger {
        position: static;
    }
    select{
        &:disabled {
            opacity: 1; 
            color: #000;
        }
    }
    .blocked {
        opacity: 0.7; 
        color: #000;
    }
}
.portabilidad-plan-checkout{
    .no-show{
        display:inline-block;
    }
    .danger {
        position: static;
    }
    .form__radio_label{
        &:after{
            left: -40px; 
            top: 5px;
        }
    }
    #bloque-portabilidad-info-cliente{ 
        .form__row-gral:last-child{
            float:left;
            width: 100%;
        }
    }
}
.form__select{
    padding:12px 6px;
}
.poscar-index-index{
    .data__show.js-dataCont.js-dataShow{
        .data-section__subitem:nth-child(2){
            display: initial;
            span{
                display: initial;
            }
        }
    }
}
.button-filter-res-close{
    display:none;
}
.button-filter-res,
.borde-filtro{
    display:none;
}
#custom-message-lead{
    #modal-lead{
        #modal-text-container{
            color: #50535A; 
            font-family: 'Telefonica-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 36px;
            text-align: center;
        }
        p{
            color: #50535A; 
            font-family: 'Telefonica-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 20px;
            text-align: center;
        }
    }
}
.portabilidad-prepago-checkout .step__content.js-stepAccordion.step__content2 .form__row .form__label_check{
    display: block;
    padding-left: 30px;
    width: 375px;
    margin: auto;
    position: relative;
    &:before{
        position: absolute;
        margin-right: 10px;
        left: 0;
    }
    @media (max-width: 500px){
        width: 100%;
    }
}
.portabilidad-prepago-checkout{
    .step__set{
        &.step__set_success{

            .form__row{
                display:none;
            }
        }
    }
    #bloque-portabilidad-nip-validacion{
        .form__row-gral.form__row-none.warming {
            max-width: 100% !important;
        }
        input{
            margin-bottom: 5px !important;
        }
        .step__content2{
            margin-top:30px !important;
        }
    }
    .data-aside__content{
        .aside-table__table{
            tfoot{
                td{
                    color: #50535a;
                    font-family: "Telefonica-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 20px;
                }
            }
        }
    }
    .table-section__cell5{
        padding:8px 10px 8px 0 !important;
    }
    .form__row-gral input.form__input{
        margin-bottom: 15px;
    }
    /*.data__list.data__summary{
        display:none;
    }
    .txt_blue.i-star-fill{
        top: 0;
    }*/
    .step__set_success{
        .form_row{
            display:none;
        }
    }
    #slideBill{
        width: 90%;
        max-width:500px;
        margin: 0 auto;
    }
    .step__set_success{
        .vsm-form__row-control{
            display:none;
        }
        .form_row{
            display:none !important;
        }
    }
    .layout_section{
        padding-top: 0;
    }
    .data__header-full{
        margin-bottom: 60px;
        margin-top: 50px;
    }
}
@media (max-width: 767.9px){
    .portabilidad-prepago-checkout{
        .prepago-portabilidad{
            
            .data-aside__wrap{
                display:block;
            }
        }
    }
    .page-products{
        .button-filter-res-close{
            text-align: right;
            font-size: 30px;
            display:block;
            cursor: pointer;
        }
        .borde-filtro{
            padding:10px;
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
            display:block;
            &.scrolldown{
                background:#fff;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
            }
        }
        .button-filter-res{
            display:block;
            width: 130px;
            padding: 10px 10px 10px 30px;
            display:block;
            margin:10px auto;
            color: #fff !important;
            font-family: "Telefonica-Regular","Helvetica Neue",Helvetica,Arial,sans-serif !important;
            -webkit-border-radius: 20px !important;
            border-radius: 4px !important;
            background-color: #00a9e0;
            text-align:center;
            cursor:pointer;
            font-size: 19px;
            position:relative;
            i{
                position: absolute;
                left: 20px;
                top: 10px;
            }
            &:hover{
                background-color:#008FBE;
                box-shadow: 0px 3px 4px rgba(0,0,0,0.1);
            }
        }
        #layered-filter-block{
            -webkit-transition: width 0.5s; /* Safari prior 6.1 */
            transition: width 0.5s;
            display:none;
            left:-60px;
            -webkit-transition: width 0.5s, opacity 0.5s; /* Safari prior 6.1 */
            transition: width 0.5s, opacity 0.5s;
            opacity:0;
            &.activeFilter{
                opacity:1;
                display: block;
                padding: 30px;
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                background: #fff;
                z-index: 9;
                margin: 0;
                overflow: auto;
                box-shadow: 5px 8px 9px rgba(0,0,0,0.4);
                -webkit-transition: width 0.5s, opacity 0.5s; /* Safari prior 6.1 */
                transition: width 0.5s, opacity 0.5s;
            }
        }
        
    }
}

.board__prefoot{
    .list-order {
        width: 100%;
        dl{
            display: block;
            width: 100%;
            text-align: right;
            padding-right: 10px;
            dt{
                display: inline-block;
            }
            .list-order__value{
                display: inline-block;
                margin-left: 40px;
            }
        }
    }
}
.layout renovation .data__even.form data__even2{
    margin: auto;
    display: block;
}
.steps__item .steps__link{
    font-weight:400;
}
small#DirEntrega {
    margin-left: 50px;
}
@media (min-width: 750px) and (max-width: 850px){
    .tabs-box__nav-txt{
        height: 30px;
    }
}
@media (max-width: 768px) and (min-width: 415px) {

  .new__thumb, .new__thumb6{
    margin-left: 0 !important;
  }
}
.posvitrinaterminal02-index-index{
    .modal__crop{
        @media (min-width: 450px) and (max-width: 500px){
            max-height: 80px;
            margin: 10px 0 0;
        } 
    }
}
.renovaciones-checkout-index{
    .step__content2{
        max-width:500px !important;
    }
    .form__row-gral{
        padding-bottom: 0;
    }
    .step__content.js-stepAccordion{
        .form__row.form__row_center.form__row-none{
            max-width: 330px !important;
            margin-top: 30px;
        }
        .form__row-gral .form__grid{
            padding-bottom: 0px;
        }
    }
} 


.js-stepAccordion{
        .form__row-gral{
          .form__grid{
            padding-bottom:0px;
            .form__grid__item:nth-child(1){
              padding-bottom:20px !important;
            }
          }
        }
      }
/*.vsm-form__fieldset{
    #form-numero{
        #porta-form-validate{
            margin: auto;
        }
    }
}*/
.portabilidad-plan-checkout{
    .step__content.js-stepAccordion .form__row-gral .form__grid{
        padding-bottom: 0;
    }
    .form__row-gral{
        padding-bottom: 10px;
    }
    
    @media (max-width: 600px){
        .modal__box.modal_list{
            top: 0;
            bottom: 0;
            max-height: 100%;
            position: fixed;
        }
        .modal_list #modal-envio-nip{
            max-height: 70%;
        }

        .step__content.js-stepAccordion .form__row-gral .form__grid{
            padding-bottom: 10px;
            display: block;
            .form__grid__item{
                width:100%;
            }
        }
        .form__row-gral{
            padding-bottom: 10px;
            display: block;
        }
    }
}
@media (max-width: 600px){
    .grid__action .grid__title{
        height:32px;
        overflow:hidden;
    }
}
.form__row-gral .form__label_check.i-check{
    margin-bottom: 20px !important;
}
.warming{
    max-width: 100% !important;
}
#sc2-c1 .tabs-box__form-btn{
    margin-top:0 !important;
}
.buttons-mobile-call{
    display:none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: initial;
    box-shadow: -0px -5px 10px #ccc;
    background:#fff;
    text-align:center;
    a{
        display: inline-block;
        margin: 20px;
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding: 5px 10px;
        font-family:"Telefonica-Bold","Helvetica Neue",Helvetica,Arial,sans-serif !important;
        min-width:130px;
        background:#00a9e0;
    }
    .boton-tel-nip{
        background:#00a9e0 !important; 
    }
    .boton-sms-nip{
        background:#5bc500 !important;
    }
}
.portabilidad-plan-checkout{
    .form__row.form__row_center.form__row-none{
        max-width: 360px;
        margin-top: 30px;
        padding-bottom: 15px;
        position: relative;
        left: -15px;
    }
    .pospago-portabilidad-contrato{
        .step__content2{
            .form__row-gral{
                padding-top:10px;
                padding-bottom:10px;
            }
        }
    }
}
@media (max-width: 600px){
    .buttons-mobile-call{
        display:block;
    }
}
@media (max-width: 420px){
    .page-products{
        #layered-filter-block{
            &.activeFilter{
                right: 75%;
            }
        }
        
    }
}
body{
    .alert {
        display:none;
    }
}
@media (min-width: 1020px) and (max-width: 1030px){
    .steps__cont .slider__cards_item{
        margin: 0 10px;
        width: 201px !important;
    }
}