<?php
$blockM = $block->getLayout()->createBlock('Vass\Renovar\Block\Index');
$link_base = $this->getBaseUrl();
?>
<!-- Sección de HTML -->
<div class="layout">
    <fieldset class="layout_inner steps vsm-form__fieldset">
        <legend class="steps__legend">
            <span class="steps__head">
                <small class="head__title">Tu número a renovar</small>
            </span>
            <span>5540150814</span>
        </legend>
    </fieldset>
</div>

<script>
    require([
        'jquery',
        'domReady!',
    ], function ($) {

       //Reglas de animación e interacción js
       console.log("Hola Aguayo");

    });
</script>