/*------------------------------------*\
    #font-family, font-icon
\*------------------------------------*/
/*------------------------------------*\
  ALL fonts ESHOP MOVISTAR
  Load Time: Slow
  https: //transfonter.org/

\*------------------------------------*/


@font-face {
  font-family: 'Telefonica-Bold';
  src: url('#{$font-path}/Telefonica-Bold.eot');
  src: url('#{$font-path}/Telefonica-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Telefonica-Bold.woff2') format('woff2'),
  url('#{$font-path}/Telefonica-Bold.woff') format('woff'),
  url('#{$font-path}/Telefonica-Bold.ttf') format('truetype'),
  url('#{$font-path}/Telefonica-Bold.svg#Telefonica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica-Regular';
  src: url('#{$font-path}/Telefonica-Regular.eot');
  src: url('#{$font-path}/Telefonica-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Telefonica-Regular.woff2') format('woff2'),
  url('#{$font-path}/Telefonica-Regular.woff') format('woff'),
  url('#{$font-path}/Telefonica-Regular.ttf') format('truetype'),
  url('#{$font-path}/Telefonica-Regular.svg#Telefonica-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica-Light';
  src: url('#{$font-path}/Telefonica-Light.eot');
  src: url('#{$font-path}/Telefonica-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Telefonica-Light.woff2') format('woff2'),
  url('#{$font-path}/Telefonica-Light.woff') format('woff'),
  url('#{$font-path}/Telefonica-Light.ttf') format('truetype'),
  url('#{$font-path}/Telefonica-Light.svg#Telefonica-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica-ExtraLight';
  src: url('#{$font-path}/Telefonica-ExtraLight.eot');
  src: url('#{$font-path}/Telefonica-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Telefonica-ExtraLight.woff2') format('woff2'),
  url('#{$font-path}/Telefonica-ExtraLight.woff') format('woff'),
  url('#{$font-path}/Telefonica-ExtraLight.ttf') format('truetype'),
  url('#{$font-path}/Telefonica-ExtraLight.svg#Telefonica-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'telefonicaweb-hand';
  src: url('#{$font-path}/telefonicaweb-hand.eot');
  src: url('#{$font-path}/telefonicaweb-hand.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/telefonicaweb-hand.woff2') format('woff2'),
  url('#{$font-path}/telefonicaweb-hand.woff') format('woff'),
  url('#{$font-path}/telefonicaweb-hand.ttf') format('truetype'),
  url('#{$font-path}/telefonicaweb-hand.svg#Telefonica-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

/*------------------------------------*\
  Ico font $font-path
\*------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src : url('#{$font-path}/icomoon.eot?83f4nh');
  src : url('#{$font-path}/icomoon.eot?83f4nh#iefix') format('embedded-opentype'),
  url('#{$font-path}/icomoon.ttf?83f4nh') format('truetype'),
  url('#{$font-path}/icomoon.woff?83f4nh') format('woff'),
  url('#{$font-path}/icomoon.svg?83f4nh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

  /*------------------------------------*\
  Ico font $font-path
  Material Design
\*------------------------------------*/
  @font-face {
    font-family: 'MaterialIcons-Regular';
    src : url('#{$font-path}/MaterialIcons-Regular.eot?83f4nh');
    src : url('#{$font-path}/MaterialIcons-Regular.eot?83f4nh#iefix') format('embedded-opentype'),
    url('#{$font-path}/MaterialIcons-Regular.ttf?83f4nh') format('truetype'),
    url('#{$font-path}/MaterialIcons-Regular.woff?83f4nh') format('woff'),
    url('#{$font-path}/MaterialIcons-Regular.svg?83f4nh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .mi-,
  [class^="mi-"],
  [class*=" mi-"] {
    &:before {
      /* use !important to prevent issues with browser extensions that change fonts */
      //-font-family: 'MaterialIcons-Regular' !important;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .i-,
  [class^="i-"],
  [class*=" i-"] {
    &:before {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'MaterialIcons-Regular' !important;
      //-font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .mi-a-,
  [class^="mi-a-"],
  [class*=" mi-a-"] {
    &:after {
      /* use !important to prevent issues with browser extensions that change fonts */
      //font-family: 'materialdesignicons-webfont' !important;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .i-a-,
  [class^="i-a-"],
  [class*=" i-a-"] {
    &:after {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'MaterialIcons-Regular' !important;
      //-font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @function unicode($str) {
    @return unquote("\"")+$str+unquote("\"");
  }

  // v7
  /**
 * @icon .i-cell-lens
 * @markup
 *  <span class="i-cell-lens"></span>
 */

  .i-cell-lens {
    &:before {
      content: unicode($i-cell-lens);
    }
  }

  /**
 * @icon .i-headphones
 * @markup
 *  <span class="i-headphones"></span>
 */

  .i-headphones {
    &:before {
      content: unicode($i-headphones);
    }
  }

  /**
 * @icon .i-house-wifi
 * @markup
 *  <span class="i-house-wifi"></span>
 */

  .i-house-wifi {
    &:before {
      content: unicode($i-house-wifi);
    }
  }

  /**
 * @icon .i-clock-finish
 * @markup
 *  <span class="i-clock-finish"></span>
 */
  .i-clock-finish {
    &:before {
      content: unicode($i-clock-finish);
    }
  }


  // v6
  /**
 * @icon .i-cell-add
 * @markup
 *  <span class="i-cell-add"></span>
 */
  .i-cell-add {
    &:before {
      content: unicode($i-cell-add);
    }
  }

  /**
 * @icon .i-cell-play
 * @markup
 *  <span class="i-cell-play"></span>
 */
  .i-cell-play {
    &:before {
      content: unicode($i-cell-play);
    }
  }

  /**
 * @icon .i-cloud
 * @markup
 *  <span class="i-cloud"></span>
 */
  .i-cloud {
    &:before {
      content: unicode($i-cloud);
    }
  }

  /**
 * @icon .mi-instagram
 * @markup
 *  <span class="mi-instagram"></span>
 */
  .mi-instagram {
    &:before {
      content: unicode($mi-instagram);
    }
  }

  /**
 * @icon .i-padlock
 * @markup
 *  <span class="i-padlock"></span>
 */
  .i-padlock {
    &:before {
      content: unicode($i-padlock);
    }
  }

  /**
 * @icon .i-progress
 * @markup
 *  <span class="i-progress"></span>
 */
  .i-progress {
    &:before {
      content: unicode($i-progress);
    }
  }

  /**
 * @icon .i-question-ball
 * @markup
 *  <span class="i-question-ball"></span>
 */
  .i-question-ball {
    &:before {
      content: unicode($i-question-ball);
    }
  }

  /**
 * @icon .i-question-ball
 * @markup
 *  <span class="i-a-question-ball"></span>
 */
  .i-a-question-ball {
    &:after {
      content: unicode($i-question-ball);
    }
  }

  /**
 * @icon .i-refresh
 * @markup
 *  <span class="i-refresh"></span>
 */
  .i-refresh {
    &:before {
      content: unicode($i-refresh);
    }
  }

  /**
 * @icon .mi-snapchat
 * @markup
 *  <span class="mi-snapchat"></span>
 */
  .mi-snapchat {
    &:before {
      content: unicode($mi-snapchat);
    }
  }

  /**
 * @icon .i-spotify
 * @markup
 *  <span class="i-spotify"></span>
 */
  .i-spotify {
    &:before {
      content: unicode($i-spotify);
    }
  }

  /**
 * @icon .i-tool-triangle
 * @markup
 *  <span class="i-tool-triangle"></span>
 */
  .i-tool-triangle {
    &:before {
      content: unicode($i-tool-triangle);
    }
  }

  /**
 * @icon .i-tooltip
 * @markup
 *  <span class="i-tooltip"></span>
 */
  .i-tooltip {
    &:before {
      content: unicode($i-tooltip);
    }
  }

  /**
 * @icon .mi-uber
 * @markup
 *  <span class="mi-uber"></span>
 */
  .mi-uber {
    &:before {
      content: unicode($mi-uber);
    }
  }

  // v5
  /**
 * @icon .i-bell
 * @markup
 *  <span class="i-bell"></span>
 */
  .i-bell {
    &:before {
      content: unicode($i-bell);
    }
  }

  // v4
  /**
 * @icon .i-youtube-fill
 * @markup
 *  <span class="i-youtube-fill"></span>
 */
  .i-youtube-fill {
    &:before {
      content: unicode($i-youtube-fill);
    }
  }


  /**
 * @icon .i-transport
 * @markup
 *  <span class="i-transport"></span>
 */
  .i-transport {
    &:before {
      content: unicode($i-transport);
    }
  }

  /**
 * @icon .i-tablet
 * @markup
 *  <span class="i-tablet"></span>
 */
  .i-tablet {
    &:before {
      content: unicode($i-tablet);
    }
  }

  /**
 * @icon .i-sim-4g
 * @markup
 *  <span class="i-sim-4g"></span>
 */
  .i-sim-4g {
    &:before {
      content: unicode($i-sim-4g);
    }
  }

  /**
 * @icon .i-question
 * @markup
 *  <span class="i-question"></span>
 */
  .i-question {
    &:before {
      content: unicode($i-question);
    }
  }

  /**
 * @icon .i-page-comic
 * @markup
 *  <span class="i-page-comic"></span>
 */
  .i-page-comic {
    &:before {
      content: unicode($i-page-comic);
    }
  }

  /**
 * @icon .i-order
 * @markup
 *  <span class="i-order"></span>
 */
  .i-order {
    &:before {
      content: unicode($i-order);
    }
  }

  /**
 * @icon .i-jpg
 * @markup
 *  <span class="i-jpg"></span>
 */
  .i-jpg {
    &:before {
      content: unicode($i-jpg);
    }
  }

  /**
 * @icon .mmi-google-plus
 * @markup
 *  <span class="mmi-google-plus"></span>
 */
  .mi-google-plus {
    &:before {
      content: unicode($mi-google-plus);
    }
  }

  /**
 * @icon .i-faq
 * @markup
 *  <span class="i-faq"></span>
 */
  .i-faq {
    &:before {
      content: unicode($i-faq);
    }
  }

  /**
 * @icon .mi-facebook-comic
 * @markup
 *  <span class="i-facebook-comic"></span>
 */
  .mi-facebook-comic {
    &:before {
      content: unicode($mi-facebook-comic);
    }
  }

  /**
 * @icon .i-cell-world
 * @markup
 *  <span class="i-cell-world"></span>
 */
  .i-cell-world {
    &:before {
      content: unicode($i-cell-world);
    }
  }

  /**
 * @icon .i-cell-star
 * @markup
 *  <span class="i-cell-star"></span>
 */
  .i-cell-star {
    &:before {
      content: unicode($i-cell-star);
    }
  }

  /**
 * @icon .i-cell-repair
 * @markup
 *  <span class="i-cell-repair"></span>
 */
  .i-cell-repair {
    &:before {
      content: unicode($i-cell-repair);
    }
  }

  /**
 * @icon .i-cell-movistar
 * @markup
 *  <span class="i-cell-movistar"></span>
 */
  .i-cell-movistar {
    &:before {
      content: unicode($i-cell-movistar);
    }
  }

  /**
 * @icon .i-cell-chat
 * @markup
 *  <span class="i-cell-chat"></span>
 */
  .i-cell-chat {
    &:before {
      content: unicode($i-cell-chat);
    }
  }

  /**
 * @icon .i-cell-at
 * @markup
 *  <span class="i-cell-at"></span>
 */
  .i-cell-at {
    &:before {
      content: unicode($i-cell-at);
    }
  }

  /**
 * @icon .i-camera-upload
 * @markup
 *  <span class="i-camera-upload"></span>
 */
  .i-camera-upload {
    &:before {
      content: unicode($i-camera-upload);
    }
  }

  /**
 * @icon .i-box-empty
 * @markup
 *  <span class="i-box-empty"></span>
 */
  .i-box-empty {
    &:before {
      content: unicode($i-box-empty);
    }
  }

  /**
 * @icon .i-bag
 * @markup
 *  <span class="i-bag"></span>
 */
  .i-bag {
    &:before {
      content: unicode($i-bag);
    }
  }

  /**
 * @icon .i-accessibility
 * @markup
 *  <span class="i-accessibility"></span>
 */
  .i-accessibility {
    &:before {
      content: unicode($i-accessibility);
    }
  }

  // V3
  /**
 * @icon .i-calendar-comic
 * @markup
 *  <span class="i-calendar-comic"></span>
 */
  .i-calendar-comic {
    &:before {
      content: unicode($i-calendar-comic);
    }
  }

  /**
 * @icon .i-cards
 * @markup
 *  <span class="i-cards"></span>
 */
  .i-cards {
    &:before {
      content: unicode($i-cards);
    }
  }

  /**
 * @icon .i-filter
 * @markup
 *  <span class="i-filter"></span>
 */
  .i-filter {
    &:before {
      content: unicode($i-filter);
    }
  }

  /**
 * @icon .i-price
 * @markup
 *  <span class="i-price"></span>
 */
  .i-price {
    &:before {
      content: unicode($i-price);
    }
  }

  /**
 * @icon .i-reload
 * @markup
 *  <span class="i-reload"></span>
 */
  .i-reload {
    &:before {
      content: unicode($i-reload);
    }
  }

  /**
 * @icon .mi-whatsapp
 * @markup
 *  <span class="mi-whatsapp"></span>
 */
  .mi-whatsapp {
    &:before {
      content: unicode($mi-whatsapp);
    }
  }

  // V2.0.i-hours
  /**
 * @icon .i-hours
 * @markup
 *  <span class="i-hours"></span>
 */
  .i-hours {
    &:before {
      content: unicode($i-hours);
    }
  }

  /**
 * @icon .i-alert-circular-filling
 * @markup
 *  <span class="i-alert-circular-filling"></span>
 */
  .i-alert-circular-filling {
    &:before {
      content: unicode($i-alert-circular-filling);
    }
  }

  /**
 * @icon .i-alert-triangular-filling
 * @markup
 *  <span class="i-alert-triangular-filling"></span>
 */
  .i-alert-triangular-filling {
    &:before {
      content: unicode($i-alert-triangular-filling);
    }
  }

  /**
 * @icon .i-alert-triangular
 * @markup
 *  <span class="i-alert-triangular"></span>
 */
  .i-alert-triangular {
    &:before {
      content: unicode($i-alert-triangular);
    }
  }

  /**
 * @icon .i-arrow-down
 * @markup
 *  <span class="i-arrow-down"></span>
 */
  .i-arrow-down {
    &:before {
      content: unicode($i-arrow-down);
    }
  }


  /**
 * @icon .i-a-arrow-down
 * @markup
 *  <span class="i-a-arrow-down"></span>
 */
  .i-a-arrow-down {
    &:after {
      content: unicode($i-arrow-down);
    }
  }

  /**
 * @icon .i-arrow-left
 * @markup
 *  <span class="i-arrow-left "></span>
 */
  .i-arrow-left {
    &:before {
      content: unicode($i-arrow-left);
    }
  }

  /**
 * @icon .i-arrow-up
 * @markup
 *  <span class="i-arrow-up "></span>
 */
  .i-arrow-up {
    &:before {
      content: unicode($i-arrow-up);
    }
  }


  .i-a-arrow-up {
    &:after {
      content: unicode($i-arrow-up);
    }
  }

  /**
 * @icon .i-bars
 * @markup
 *  <span class="i-bars"></span>
 */
  .i-bars {
    &:before {
      content: unicode($i-bars);
    }
  }

  /**
 * @icon .i-calendar
 * @markup
 *  <span class="i-calendar"></span>
 */
  .i-calendar {
    &:before {
      content: unicode($i-calendar);
    }
  }

  /**
 * @icon .mi-check-circle2
 * @markup
 *  <span class="mi-check-circle2"></span>
 */
  .mi-check-circle2 {
    &:before {
      content: unicode($mi-check-circle2);
    }
  }

  /**
 * @icon .i-check-ring
 * @markup
 *  <span class="i-check-ring"></span>
 */
  .i-check-ring {
    &:before {
      content: unicode($i-check-ring);
    }
  }

  /**
 * @icon .i-clock
 * @markup
 *  <span class="i-clock"></span>
 */
  .i-clock {
    &:before {
      content: unicode($i-clock);
    }
  }

  /**
 * @icon .mi-download2
 * @markup
 *  <span class="mi-download2"></span>
 */
  .mi-download2 {
    &:before {
      content: unicode($mi-download2);
    }
  }

  /**
 * @icon .i-graphs
 * @markup
 *  <span class="i-graphs "></span>
 */
  .i-graphs {
    &:before {
      content: unicode($i-graphs);
    }
  }

  /**
 * @icon .i-group-people
 * @markup
 *  <span class="i-group-people "></span>
 */
  .i-group-people {
    &:before {
      content: unicode($i-group-people);
    }
  }

  /**
 * @icon .i-hand-money
 * @markup
 *  <span class="i-hand-money"></span>
 */
  .i-hand-money {
    &:before {
      content: unicode($i-hand-money);
    }
  }

  .i-a-hand-money {
    &:after {
      content: unicode($i-hand-money);
    }
  }


  /**
 * @icon .i-menu-bullets
 * @markup
 *  <span class="i-menu-bullets"></span>
 */
  .i-menu-bullets {
    &:before {
      content: unicode($i-menu-bullets);
    }
  }

  /**
 * @icon .i-menu-historical
 * @markup
 *  <span class="i-menu-historical"></span>
 */
  .i-menu-historical {
    &:before {
      content: unicode($i-menu-historical);
    }
  }

  /**
 * @icon .i-menu-list
 * @markup
 *  <span class="i-menu-list"></span>
 */
  .i-menu-list {
    &:before {
      content: unicode($i-menu-list);
    }
  }

  /**
 * @icon .i-menu-recent
 * @markup
 *  <span class="i-menu-recent"></span>
 */
  .i-menu-recent {
    &:before {
      content: unicode($i-menu-recent);
    }
  }

  /**
 * @icon .i-messages
 * @markup
 *  <span class="i-messages"></span>
 */
  .i-messages {
    &:before {
      content: unicode($i-messages);
    }
  }

  /**
 * @icon .i-phone-search
 * @markup
 *  <span class="i-phone-search"></span>
 */
  .i-phone-search {
    &:before {
      content: unicode($i-phone-search);
    }
  }

  /**
 * @icon .i-search-help
 * @markup
 *  <span class="i-search-help"></span>
 */
  .i-search-help {
    &:before {
      content: unicode($i-search-help);
    }
  }

  /**
 * @icon .i-star-edge
 * @markup
 *  <span class="i-star-edge"></span>
 */
  .i-star-edge {
    &:before {
      content: unicode($i-star-edge);
    }
  }

  /**
 * @icon .i-thief
 * @markup
 *  <span class="i-thief"></span>
 */
  .i-thief {
    &:before {
      content: unicode($i-thief);
    }
  }

  /**
 * @icon .i-x-ring
 * @markup
 *  <span class="i-x-ring"></span>
 */
  .i-x-ring {
    &:before {
      content: unicode($i-x-ring);
    }
  }

  /**
 * @icon .i-eye
 * @markup
 *  <span class="i-eye"></span>
 */
  .i-eye {
    &:before {
      content: unicode($i-eye);
    }
  }

  // V1.0
  /**
 * @icon .mi-share-google
 * @markup
 *  <span class="mi-share-google"></span>
 */
  .mi-share-google {
    &:before {
      content: unicode($mi-share-google);
    }
  }

  /**
 * @icon .i-share-facebook
 * @markup
 *  <span class="i-share-facebook"></span>
 */
  .mi-share-facebook  {
    &:before {
      content: unicode($mi-share-facebook);
    }
  }

  /**
 * @icon .twitter-comic
 * @markup
 *  <span class="mi-twitter-comic"></span>
 */
  .mi-twitter-comic {
    &:before {
      content: unicode($mi-twitter-comic);
    }
  }

  /**
 * @icon .tel-comic
 * @markup
 *  <span class="i-tel-comic"></span>
 */

  .i-tel-comic {
    &:before {
      content: unicode($i-tel-comic);
    }
  }

  /**
 * @icon .i-substract
 * @markup
 *  <span class="i-substract"></span>
 */
  .i-substract {
    &:before {
      content: unicode($i-substract);
    }
  }

  /**
 * @icon .i-arrow-back
 * @markup
 *  <span class="i-arrow-back"></span>
 */
  .i-arrow-back {
    &:before {
      content: unicode($i-arrow-back);
    }
  }

  /**
 * @icon .i-a-arrow-back
 * @markup
 *  <span class="i-a-arrow-back"></span>
 */

  .i-a-arrow-back {
    &:after {
      content: unicode($i-arrow-back);
    }
  }

  /**
 * @icon .i-arrow-right
 * @markup
 *  <span class="i-arrow-right"></span>
 */
  .i-arrow-right {
    &:before {
      content: unicode($i-arrow-right);
    }
  }

  /**
 * @icon .i-a-arrow-right
 * @markup
 *  <span class="i-a-arrow-right"></span>
 */

  .i-a-arrow-right {
    &:after {
      content: unicode($i-arrow-right);
    }
  }

  .i-a-arrow-left {
    &:after {
      content: unicode($i-arrow-left);
    }
  }

  /**
 * @icon .i-add
 * @markup
 *  <span class="i-add"></span>
 */
  .i-add {
    &:before {
      content: unicode($i-add);
    }
  }

  /**
 * @icon .i-box
 * @markup
 *  <span class="i-box"></span>
 */
  .i-box {
    &:before {
      content: unicode($i-box);
    }
  }

  /**
 * @icon .i-bullet-comic
 * @markup
 *  <span class="i-bullet-comic"></span>
 */
  .i-bullet-comic {
    &:before {
      content: unicode($i-bullet-comic);
    }
  }

  /**
 * @icon .i-camera
 * @markup
 *  <span class="i-camera"></span>
 */
  .i-camera {
    &:before {
      content: unicode($i-camera);
    }
  }

  /**
 * @icon .mi-cell-4g
 * @markup
 *  <span class="mi-cell-4g"></span>
 */
  .mi-cell-4g {
    &:before {
      content: unicode($mi-cell-4g);
    }
  }

  /**
 * @icon .i-cell-all
 * @markup
 *  <span class="i-cell-all"></span>
 */
  .i-cell-all {
    &:before {
      content: unicode($i-cell-all);
    }
  }

  /**
 * @icon .mi-cell-detail
 * @markup
 *  <span class="mi-cell-detail"></span>
 */
  .mi-cell-detail {
    &:before {
      content: unicode($mi-cell-detail);
    }
  }

  /**
 * @icon .i-cell-favorite
 * @markup
 *  <span class="i-cell-favorite"></span>
 */
  .i-cell-favorite {
    &:before {
      content: unicode($i-cell-favorite);
    }
  }

  /**
 * @icon .i-cell-money
 * @markup
 *  <span class="i-cell-money"></span>
 */
  .i-cell-money {
    &:before {
      content: unicode($i-cell-money);
    }
  }

  /**
 * @icon .i-cell-recharge
 * @markup
 *  <span class="i-cell-recharge"></span>
 */
  .i-cell-recharge {
    &:before {
      content: unicode($i-cell-recharge);
    }
  }

  /**
 * @icon .i-cell-recharge
 * @markup
 *  <span class="i-cell-recharge"></span>
 */

  .i-a-cell-recharge {
    &:after {
      content: unicode($i-cell-recharge);
    }
  }

  /**
 * @icon .i-cell-reload
 * @markup
 *  <span class="i-cell-reload"></span>
 */
  .i-cell-reload {
    &:before {
      content: unicode($i-cell-reload);
    }
  }

  /**
 * @icon .i-cell-voice
 * @markup
 *  <span class="i-cell-voice"></span>
 */
  .i-cell-voice {
    &:before {
      content: unicode($i-cell-voice);
    }
  }

  /**
 * @icon .i-cell
 * @markup
 *  <span class="i-cell"></span>
 */
  .i-cell {
    &:before {
      content: unicode($i-cell);
    }
  }

  /**
 * @icon .i-chat-comic
 * @markup
 *  <span class="i-chat-comic"></span>
 */
  .i-chat-comic {
    &:before {
      content: unicode($i-chat-comic);
    }
  }

  /**
 * @icon .i-chat
 * @markup
 *  <span class="i-chat"></span>
 */
  .i-chat {
    &:before {
      content: unicode($i-chat);
    }
  }

  /**
 * @icon .i-check-circle
 * @markup
 *  <span class="i-check-circle"></span>
 */
  .i-check-circle {
    &:before {
      content: unicode($i-check-circle);
    }
  }

  /**
 * @icon .mi-check-comic
 * @markup
 *  <span class="mi-check-comic"></span>
 */
  .mi-check-comic {
    &:before {
      content: unicode($mi-check-comic);
    }
  }

  /**
 * @icon .i-check
 * @markup
 *  <span class="i-check"></span>
 */
  .i-check {
    &:before {
      content: unicode($i-check);
    }
  }

  /**
 * @icon .i-conectivity
 * @markup
 *  <span class="i-conectivity"></span>
 */
  .i-conectivity {
    &:before {
      content: unicode($i-conectivity);
    }
  }

  /**
 * @icon .mi-download
 * @markup
 *  <span class="mi-download"></span>
 */
  .mi-download {
    &:before {
      content: unicode($mi-download);
    }
  }

  /**
 * @icon .i-email
 * @markup
 *  <span class="i-email"></span>
 */
  .i-email {
    &:before {
      content: unicode($i-email);
    }
  }

  /**
 * @icon .mi-facebook-fill
 * @markup
 *  <span class="mi-facebook-fill"></span>
 */
  .mi-facebook-fill {
    &:before {
      content: unicode($mi-facebook-fill);
    }
  }

  /**
 * @icon .i-facebook
 * @markup
 *  <span class="i-facebook"></span>
 */
  .i-facebook {
    &:before {
      content: unicode($mi-facebook);
    }
  }

  /**
 * @icon .i-house
 * @markup
 *  <span class="i-house"></span>
 */
  .i-house {
    &:before {
      content: unicode($i-house);
    }
  }

  /**
 * @icon .i-logo-movistar
 * @markup
 *  <span class="i-logo-movistar"></span>
 */
  .i-logo-movistar {
    &:before {
      content: unicode($i-logo-movistar);
    }
  }

  /**
 * @icon .i-money
 * @markup
 *  <span class="i-money"></span>
 */
  .i-money {
    &:before {
      content: unicode($i-money);
    }
  }

  /**
 * @icon .i-phone
 * @markup
 *  <span class="i-phone"></span>
 */
  .i-phone {
    &:before {
      content: unicode($i-phone);
    }
  }

  /**
 * @icon .i-search-nav
 * @markup
 *  <span class="i-search-nav"></span>
 */
  .i-search-nav {
    &:before {
      content: unicode($i-search-nav);
    }
  }

  /**
 * @icon .i-search
 * @markup
 *  <span class="i-search"></span>
 */
  .i-search {
    &:before {
      content: unicode($i-search);
    }
  }

  /**
 * @icon .i-send-comic
 * @markup
 *  <span class="i-send-comic"></span>
 */
  .i-send-comic {
    &:before {
      content: unicode($i-send-comic);
    }
  }

  /**
 * @icon .i-shopping-car
 * @markup
 *  <span class="i-shopping-car"></span>
 */
  .i-shopping-car {
    &:before {
      content: unicode($i-shopping-car);
    }
  }

  /**
 * @icon .mi-star-comic
 * @markup
 *  <span class="mi-star-comic"></span>
 */
  .mi-star-comic {
    &:before {
      content: unicode($mi-star-comic);
    }
  }

  /**
 * @icon .i-star-fill
 * @markup
 *  <span class="i-star-fill"></span>
 */
  .i-star-fill {
    &:before {
      content: unicode($i-star-fill);
    }
  }

  /**
 * @icon .i-star
 * @markup
 *  <span class="i-star"></span>
 */
  .i-star {
    &:before {
      content: unicode($i-star);
    }
  }

  /**
 * @icon .i-success
 * @markup
 *  <span class="i-success"></span>
 */
  .i-success {
    &:before {
      content: unicode($i-success);
    }
  }

  /**
 * @icon .i-total
 * @markup
 *  <span class="i-total"></span>
 */
  .i-total {
    &:before {
      content: unicode($i-total);
    }
  }

  /**
 * @icon .i-twitter
 * @markup
 *  <span class="i-twitter"></span>
 */
  .i-twitter {
    &:before {
      content: unicode($mi-twitter);
    }
  }

  /**
 * @icon .i-user-comic
 * @markup
 *  <span class="i-user-comic"></span>
 */
  .i-user-comic {
    &:before {
      content: unicode($i-user-comic);
    }
  }

  /**
 * @icon .i-a-user
 * @markup
 *  <span class="i-a-user"></span>
 */

  .i-a-user {
    &:after {
      content: unicode($i-user);
    }
  }

  /**
 * @icon .i-user
 * @markup
 *  <span class="i-user"></span>
 */
  .i-user {
    &:before {
      content: unicode($i-user);
    }
  }

  /**
 * @icon .i-x
 * @markup
 *  <span class="i-x"></span>
 */
  .i-x {
    &:before {
      content: unicode($i-x);
    }
  }

  /**
 * @icon .mi-youtube-circle
 * @markup
 *  <span class="mi-youtube-circle"></span>
 */
  .mi-youtube-circle {
    &:before {
      content: unicode($mi-youtube-circle);
    }
  }

  /**
 * @icon .mi-twitter-circle
 * @markup
 *  <span class="mi-twitter-circle"></span>
 */
  .mi-twitter-circle {
    &:before {
      content: unicode($mi-twitter-circle);
    }
  }

  /**
 * @icon .mi-facebook-circle
 * @markup
 *  <span class="mi-facebook-circle"></span>
 */
  .mi-facebook-circle {
    &:before {
      content: unicode($mi-facebook-circle);
    }
  }

  /**
 * @icon .i-wifi
 * @markup
 *  <span class="i-wifi"></span>
 */
  .i-wifi {
    &:before {
      content: unicode($i-wifi);
    }
  }

  /**
 * @icon .i-music
 * @markup
 *  <span class="i-music"></span>
 */
  .i-music {
    &:before {
      content: unicode($i-music);
    }
  }

  /**
 * @icon .mi-cell-prepago
 * @markup
 *  <span class="mi-cell-prepago"></span>
 */
  .mi-cell-prepago {
    &:before {
      content: unicode($mi-cell-prepago);
    }
  }

  /**
 * @icon .mi-user
 * @markup
 *  <span class="mi-user"></span>
 */
  .mi-user {
    &:before {
      content: unicode($mi-user);
    }
  }

  /**
 * @icon .mi-menu
 * @markup
 *  <span class="mi-menu"></span>
 */
  .mi-menu {
    &:before {
      content: unicode($mi-menu);
    }
  }

  /**
 * @icon $mi-Prepago_1
 *  @markup
 *  <span class="mi-Prepago_1"></span>
 */
  .mi-Prepago_1 {
    &:before {
      content: unicode($mi-Prepago_1);
    }
  }

  /**
 * @icon $mi-envio-gratis_1
 * @markup
 *   <span class="mi-envio-Gratis_1"></span>
 */
  .mi-envio-gratis_1 {
    &:before {
      content: unicode($mi-envio-gratis_1);
    }
  }

  /**
 * @icon $mi-nw-phone-in-out
 * @markup
 *   <span class="mi-nw-phone-in-out"></span>
 */
  .mi-nw-phone-in-out {
    &:before {
      content: unicode($mi-nw-phone-in-out);
    }
  }

/**
 * @icon $mi-nw-phone-price
 * @markup
 *   <span class="mi-nw-phone-price"></span>
 */
  .mi-nw-phone-price {
    &:before {
      content: unicode($mi-nw-phone-price);
    }
  }

  /**
 * @icon $mi-nw-phone-search
 * @markup
 *   <span class="mi-nw-phone-search"></span>
 */
  .mi-nw-phone-search {
    &:before {
      content: unicode($mi-nw-phone-search);
    }
  }

    /**
 * @icon $mi-nw-phone-movistar
 * @markup
 *   <span class="mi-nw-phone-movistar"></span>
 */
    .mi-nw-phone-movistar {
      &:before {
        content: unicode($mi-nw-phone-movistar);
      }
    }
    
    /**
 * @icon $mi-nw-phone-movistar
 * @markup
 *   <span class="mi-renewal-phone-movistar"></span>
 */
    .mi-renewal-phone-movistar {
      &:before {
        content: unicode($mi-nw-phone-movistar);
      }
    }

/**
 * @icon $mi-phones-planes
 * @markup
 *  <span class="mi-phones-planes"></span>
 */
  .mi-phones-planes {
    &:before {
      content: unicode($mi-phones-planes);
    }
  }

  /**
 * @icon $mi-icon-nw-chip-4g
 * @markup
 *  <span class="mi-icon-nw-chip-4g"></span>
 */
  .mi-icon-nw-chip-4g {
    &:before {
      content: unicode($mi-icon-nw-chip-4g);
    }
  }

  /**
* @icon $mi-nw-camera
* @markup
* <span class="mi-nw-camera"></span>
*/
.mi-nw-camera {
  &:before {
    content: unicode($mi-nw-camera);
  }
}

/**
* @icon $mi-nw-phone-star
* @markup
* <span class="mi-nw-phone-star"></span>
*/
.mi-nw-phone-star {
  &:before {
    content: unicode($mi-nw-phone-star);
  }
}

/**
* @icon $mi-directions_bike
* @markup
* <span class="mi-directions_bike"></span>
*/
.mi-directions_bike {
  &:before {
    content: unicode($mi-directions_bike);
  }
}

/**
* @icon $mi-ondemand_video
* @markup
* <span class="mi-ondemand_video"></span>
*/
.mi-ondemand_video {
  &:before {
    content: unicode($mi-ondemand_video);
  }
}

/**
* @icon $mi-delete_forever
* @markup
* <span class="mi-delete_forever"></span>
*/
.mi-delete_forever {
  &:before {
    content: unicode($mi-delete_forever);
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

/**
* @icon $mi-usuario_micuenta_persona_1
* @markup
* <span class="mi-usuario_micuenta_persona_1"></span>
*/
.mi-usuario_micuenta_persona_1 {
  &:before {
    content: unicode($mi-usuario_micuenta_persona_1);
  }
}

/**
* @icon $mi-promociones_ofertas_1
* @markup
* <span class="mi-promociones_ofertas_1"></span>
*/
.mi-promociones_ofertas_1 {
  &:before {
    content: unicode($mi-promociones_ofertas_1);
  }
}
