<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\Compare\ListCompare */
?>
<?php $_total = $block->getItems()->getSize() ?>

    <div class="band">
        <div class="inner">
            <div class="subnav">
                <nav class="menu-links">
                    <ul class="menu-links__list">
                        <li class="menu-links__item">
                            <a class="link__brand active"
                               href="javascript:history.go(-1)"><?php echo __('Go back') ?></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <main class="content">
        <div class="layout_section">
            <div class="layout_inner">
                <header class="head__box">
                    <h1 class="head__title title_section"><?php echo __('Comparador'); ?></h1>
                    <!-- Hotfix: INTPOSP-480 Se hace el cambio de copy de Dispositivos a celulares -->   
                    <h2 class="head__txt subtitle_section"><?php echo __('Encuentra el celular adecuado para ti');?></h2>
                    <p class="head__txt"><?php echo __('Compara las especificaciones, revisiones y el costo de hasta tres celulares.'); ?></p>
                </header>                 
            </div>
        <?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('search_compare')->toHtml();?>
            <div class="layout_inner">
                <div class="layout_box data-foot">
                    <div class="data-pack data-head">
                        <?php $_i = 0; ?>
                        <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                        <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                        <?php if ($_total > 0): ?>
                            <?php foreach ($block->getItems() as $_item): ?>
                                <div class="js-dataSheetParent">
                                    <div class="js-dataSheetView data-sheet">
                                        <figure class="data-sheet__fig">
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                            <a class="js-changeBtn data-sheet__btn i-x-ring gtm-button-remove-from-compare" href="#"
                                               data-post='<?= /* @escapeNotVerified */
                                               $compareHelper->getPostDataRemove($_item) ?>' title="<?= /* @escapeNotVerified */
                                            __('Remove Product') ?>">
                                                <?= /* @escapeNotVerified */
                                                __('Remove Product') ?>
                                            </a>
                                            <?= $block->getImage($_item, 'product_comparison_list')->toHtml() ?>
                                        </figure>
                                        <div class="data-sheet__info js-remove">
                                            <h3 class="data-sheet__title">
                                                <?= /* @escapeNotVerified */
                                                $_helper->productAttribute($_item, $_item->getName(), 'name') ?>
                                            </h3>
                                            <?= /* @escapeNotVerified */
                                            $block->getProductPrice($_item, '') ?>
                                            <?php if ($_item->isSaleable()): ?>
                                                <a data-gtm-add-compare="<?php echo $_helper->productAttribute($_item, $_item->getEntityId(), 'id'); ?>" class="btn gtm-compare-view-more" href="<?= /* @escapeNotVerified */
                                                $block->getProductUrl($_item) ?>" title="Ver Detalle"><?= /* @escapeNotVerified */ __('Seleccionar');?> </a>
                                            <?php endif; ?>

                                            <!--
                                            <?php if ($_item->isSaleable()): ?>
                                                <a class="btn" href="<?= /* @escapeNotVerified */
                                                $block->getProductUrl($_item) ?>" title="Ver Detalle">Seleccionar</a>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?= /* @escapeNotVerified */
                                                            __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                            __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            <?php $_i++; endforeach; ?>
                            <!-- Empty -->
                            <?php $residuo = 3 - $_total; ?>
                            <?php for($x = 0; $x < $residuo; $x++): ?>
                                <div class="js-dataSheetParent">
                                    <div class="js-dataSheetView data-sheet">
                                        <figure class="data-sheet__fig">
                                            <img class="data-sheet__img" src="<?php echo $block->getViewFileUrl('images/compare/null.png') ?>" alt="Añadir producto">
                                        </figure>
                                        <a class="data-sheet__title link__brand empty gtm-button-add-to-compare" href="<?php echo $block->getBaseUrl() . 'telefonos.html'; ?>" alt="Agregar celular">Agregar Celular</a>
                                        <!--a class="btn btn_disable" href="car-checkout.html" title="Ir a comprar"><?= /* @escapeNotVerified */ __('Ver Detalles');?></a-->
                                    </div>
                                </div>
                            <?php endfor; ?>
                        <?php else: ?>
                            <!-- Empty -->
                            <?php for($x = 0; $x < 3; $x++): ?>
                                <div class="js-dataSheetParent">
                                    <div class="js-dataSheetView data-sheet">
                                        <figure class="data-sheet__fig">
                                            <img class="data-sheet__img" src="<?php echo $block->getViewFileUrl('images/compare/null.png') ?>" alt="Añadir producto">
                                        </figure>
                                        <a class="data-sheet__title link__brand empty gtm-button-add-to-compare" href="<?php echo $block->getBaseUrl() . 'telefonos.html'; ?>" alt="Agregar celular">Agregar Celular</a>

                                    </div>
                                </div>
                            <?php endfor; ?>
                        <?php endif;?>
                    </div>
                    <table class="data-sheet__table">
                        <tbody>
                        <?php foreach ($block->getAttributes() as $_attribute): ?>
                        <?php if($_attribute->getStoreLabel() != "SKU"){?>
                            <tr>
                                <?php $_i = 0 ?>
                                <?php foreach ($block->getItems() as $_item): ?>
                                    <td class="data-sheet__row" style="padding-left: 80px;padding-right: 55px;">
                                        <small class="data-sheet__txt-sm"><?= $block->escapeHtml($_attribute->getStoreLabel() ? $_attribute->getStoreLabel() : __($_attribute->getFrontendLabel())) ?></small>
                                        <p class="data-sheet__txt">
                                            <?php switch ($_attribute->getAttributeCode()) {
                                                case "price": ?>
                                                    <?php
                                                    /* @escapeNotVerified */ echo $block->getProductPrice(
                                                        $_item,
                                                        '-compare-list-' . $_attribute->getCode()
                                                    )
                                                    ?>
                                                    <?php break;
                                                case "small_image": ?>
                                                    <?php $block->getImage($_item, 'product_small_image')->toHtml(); ?>
                                                    <?php break;
                                                default: ?>
                                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $block->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?>
                                                    <?php break;
                                            } ?>
                                        </p>
                                    </td>
                                    <?php $_i++; ?>
                                <?php endforeach; ?>
                                <?php if($_i == 2){ ?>
                                    <td class="data-sheet__row" style="padding-left: 80px;padding-right: 55px;"></td>
                                <?php } ?>
                                <?php if($_i == 1){ ?>
                                    <td class="data-sheet__row" style="padding-left: 80px;padding-right: 55px;"></td>
                                    <td class="data-sheet__row" style="padding-left: 80px;padding-right: 55px;"></td>
                                <?php } ?>

                            </tr>
                        <?php } ?>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <div class="data-pack">
                    <?php foreach ($block->getItems() as $_item): ?>

                        <div class="data-sheet">
                                    <a class="data-sheet__link i-add gtm-compare-view-more" href="<?= /* @escapeNotVerified */
                                    $block->getProductUrl($_item) ?>" title="<?= /* @escapeNotVerified */
                                    $block->stripTags($_item->getName(), null, true) ?>">
                                    <?php echo $block->getTextToDisplayFromConfig();?>
                                    </a>
                        </div>
                    <?php endforeach; ?>
                        <?php if (isset($residuo)): ?>
                            <?php for ($x = 0; $x < $residuo; $x++): ?>
                                <div class="data-sheet">

                                </div>
                            <?php endfor; ?>
                        <?php endif; ?>   
                    </div>
                </div>
            </div>
        </div>
    </main>

    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
            {
                "[data-role=tocart-form]": {
                    "catalogAddToCart": {}
                }
            }


        </script>
    <?php endif; ?>