<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/* @var $block \Magento\Framework\View\Element\Template */
$link_base = $this->getBaseUrl();
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media."recortes/";
?>
<!-- Barra comparador / Sticky-->
<div class="bar-sticky" data-bind="scope: 'compareProducts'" data-role="compare-products-sidebar">
    <!-- ko if: compareProducts().count -->
    <span class="auxTotal" style="display: none;" data-bind="text: compareProducts().count"></span>
        <ul id="compare-items" class="bar-sticky__list product-items product-items-names" data-bind="foreach: compareProducts().items">
                <li class="product-item" style="position: relative;">
                    <input type="hidden" class="compare-item-id" data-bind="value: id"/>
                    <figure class="bar-sticky__fig js-changeView">
                        <img data-bind="attr: {'src' : image_src}" alt="" style="max-width: 70px;display: block;margin-right: 10px;">
                        <figcaption class="bar-sticky__caption product-item-name" style="text-transform: inherit;">
                            <a data-bind="attr: {href: product_url}, html: name" class="product-item-link"></a>
                            <span class="bar-sticky__txt"></span>
                        </figcaption>
                        <a href="#" data-bind="attr: {'data-post': remove_url}" title="<?= /* @escapeNotVerified */ __('Remove This Item') ?>" class="i-x bar-sticky__btn js-stickyBtn action delete" style="position: relative;color: rgb(0, 0, 0);text-decoration: none !important;left: -5px;top: -25px;">
                            <span><?= /* @escapeNotVerified */ __('Remove This Item') ?></span>
                        </a>
                    </figure>
                </li>
        </ul>

        <ul id="botonClonar" style="display: none;">
            <li class="bar-sticky__item bar-sticky__item_button" id="clona-comparar">
                <a data-bind="attr: {'href': compareProducts().listUrl}" class="btn action compare primary">
                    Comparar ahora
                </a>
            </li>
        </ul>
    <!-- /ko -->
    <!-- ko ifnot: compareProducts().count -->
    <span class="auxTotal" style="display: none;" data-bind="text: compareProducts().count"></span>
    <div class="empty empty-none">
        <?= /* @escapeNotVerified */ __('You have no items to compare.') ?>
    </div>
    <!-- /ko -->
</div>


<script type="text/x-magento-init">
{"[data-role=compare-products-sidebar]": {"Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>}}
</script>
<script type="text/javascript">
    require([
        'jquery'
    ], function (
        $
    ) {

        $(document).ready(function(){
            $(document).on("DOMSubtreeModified",".auxTotal",function(){
                $(".bar-sticky").css("display","block");
                modifWait = $(".auxTotal").html();
                modifWaitCompare = modifWait * 5;
                //console.log("Espera: "+modifWait);
                if(modifWait == 0){
                    $(".band.compare").css("display","none");
                }else{
                    $(".band.compare").css("display","block");
                }
            });
            var iAux = 0;
            $(document).on("DOMSubtreeModified","#compare-items .product-item.odd",function(){
                iAux++;
                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");

                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)){
                    // si es IE retorna su version
                    if (iAux == 3) {
                        if (modifWait <3) {
                            if (modifWait == 2) {
                                htmlFalt = '<li class="bar-sticky__item js-itemParent" id="element-one">';
                                htmlFalt += '<figure class="bar-sticky__fig bar-sticky__ico js-changeView">';
                                htmlFalt += '<img class="bar-sticky__img" src="<?= $link_media ?>agregar-celular.svg" alt="Agregar Celular">';
                                htmlFalt += ' <figcaption class="bar-sticky__caption">Agregar celular</figcaption>';
                                htmlFalt += '</figure>';
                                htmlFalt += '</li>';
                                $("#compare-items").append(htmlFalt);
                            }else{
                                htmlFalt = '<li class="bar-sticky__item js-itemParent" id="element-one">';
                                htmlFalt += '<figure class="bar-sticky__fig bar-sticky__ico js-changeView">';
                                htmlFalt += '<img class="bar-sticky__img" src="<?= $link_media ?>agregar-celular.svg" alt="Agregar Celular">';
                                htmlFalt += ' <figcaption class="bar-sticky__caption">Agregar celular</figcaption>';
                                htmlFalt += '</figure>';
                                htmlFalt += '</li>';
                                htmlFalt += '<li class="bar-sticky__item js-itemParent" id="element-one">';
                                htmlFalt += '<figure class="bar-sticky__fig bar-sticky__ico js-changeView">';
                                htmlFalt += '<img class="bar-sticky__img" src="<?= $link_media ?>agregar-celular.svg" alt="Agregar Celular">';
                                htmlFalt += ' <figcaption class="bar-sticky__caption">Agregar celular</figcaption>';
                                htmlFalt += '</figure>';
                                htmlFalt += '</li>';
                                $("#compare-items").append(htmlFalt);
                            }
                        }
                        $(".action.delete").css("display","inline-block");
                    }
                }else{
                    // retorna si es otro navegador
                    
                if (iAux == modifWaitCompare) {
                    //console.log("Modificado");
                    if (modifWait <3) {
                        if (modifWait == 2) {
                            htmlFalt = '<li class="bar-sticky__item js-itemParent" id="element-one">';
                            htmlFalt += '<figure class="bar-sticky__fig bar-sticky__ico js-changeView">';
                            htmlFalt += '<img class="bar-sticky__img" src="<?= $link_media ?>agregar-celular.svg" alt="Agregar Celular">';
                            htmlFalt += ' <figcaption class="bar-sticky__caption">Agregar celular</figcaption>';
                            htmlFalt += '</figure>';
                            htmlFalt += '</li>';
                            $("#compare-items").append(htmlFalt);
                        }else{
                            htmlFalt = '<li class="bar-sticky__item js-itemParent" id="element-one">';
                            htmlFalt += '<figure class="bar-sticky__fig bar-sticky__ico js-changeView">';
                            htmlFalt += '<img class="bar-sticky__img" src="<?= $link_media ?>agregar-celular.svg" alt="Agregar Celular">';
                            htmlFalt += ' <figcaption class="bar-sticky__caption">Agregar celular</figcaption>';
                            htmlFalt += '</figure>';
                            htmlFalt += '</li>';
                            htmlFalt += '<li class="bar-sticky__item js-itemParent" id="element-one">';
                            htmlFalt += '<figure class="bar-sticky__fig bar-sticky__ico js-changeView">';
                            htmlFalt += '<img class="bar-sticky__img" src="<?= $link_media ?>agregar-celular.svg" alt="Agregar Celular">';
                            htmlFalt += ' <figcaption class="bar-sticky__caption">Agregar celular</figcaption>';
                            htmlFalt += '</figure>';
                            htmlFalt += '</li>';
                            $("#compare-items").append(htmlFalt);
                        }
                    }
                    $(".action.delete").css("display","inline-block");
                }

                }


                //var $valorClonar = $(this).html();
                //var $valorNew = $(this).parent().attr('attribute-code');
                //$('.list-sticky__txt.'+$valorNew+'').html($valorClonar);
            });
            $(document).on("DOMSubtreeModified",".btn.action.compare.primary",function(){
                $("#clona-comparar").clone().appendTo("#compare-items");
            });
            /*$( "#compare-items li" ).each(function( index ) {
              console.log( index + ": " + $( this ).text() );
            });*/
        });
    });
</script>
</script>