/**
 * @molecule Alertas
 * @section Bloques
 * @modifiers
 *   .alert_danger  $magenta: #E9426D;
 *   .alert_warning $orange: #EC6839;
 *   .alert_success $green: #5BC500;
 * @markup
 *   <div class="alert alert_danger">
 *     <p class="alert__txt"> El producto se agregó correctamente al carrito</p>
 *     <div class="alert__actions">
 *       <button class="i-x close" type="button"></button>
 *     </div>
 *   </div>
 *   </br>
 *   <div class="alert alert_warning">
 *     <p class="alert__txt"> El producto se agregó correctamente al carrito</p>
 *     <div class="alert__actions">
 *       <button class="i-x close" type="button"></button>
 *     </div>
 *   </div>
 *   </br>
 *   <div class="alert alert_success">
 *     <p class="alert__txt"> El producto se agregó correctamente al carrito</p>
 *     <div class="alert__actions">
 *       <button class="i-x close" type="button"></button>
 *     </div>
 *   </div>
 */

//-bloque
.alert {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 4;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  padding: $sp-xsmall $sp-small;
  color: $c-neutro;

  a {
    text-decoration: none;
  }

  .close {
    color: $c-neutro;
  }
}

.alert__txt {
  color: $c-neutro;
  flex-basis: 98%;
}

.alert__actions {
  flex-basis: 2%;
  text-align: right;

  .close {
    background-color: transparent;
  }
}

/* Modificador primary */
@include alert-message(primary);

/* Modificador secondary */
@include alert-message(secondary);

/* Modificador success */
@include alert-message(success);

/* Modificador danger */
@include alert-message(danger);

/* Modificador warning */
@include alert-message(warning);

/* Modificador info */
@include alert-message(info);

/* Modificador light */
@include alert-message(light);

/* Modificador dark */
@include alert-message(dark);

//- Bp-medium: 768px
@include media-query(medium) {
  //- Elemento
  .alert__txt {
    font-family: $f-light;
    @include font-rem(30px);
    text-align: center;
  }
}