
//-Bloque
.aside-table__table {
  width: 100%;
}

.aside-table__heading { //-Elemento
  // border-bottom: 1px solid $c-default-6;
  .aside-table__cell {
    padding-bottom: 10px;
    font-family: $f-bold;
    @include font-rem(12px);
    text-align: right;
    &:nth-child(1) {
      padding-left: 10px;
      text-align: left;
    }
    &:last-child {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.aside-table__footer { //-Elemento
  border-top: 1px solid $c-default-6;
  border-bottom: 1px solid $c-default-6;
  .aside-table__cell {
    padding: 16px 0;
    font-family: $f-bold;
    @include font-rem(14px);
    color: $c-default-1;
  }
}
.aside-table__cell { //-Elemento
  padding: 8px 0 0;
  &.aside-table__txt {
    padding-left: 8px;
    @include font-rem(14px);
    text-align: right;
  }
}

.aside-table__sup {
  font-family: $f-default;
  color: $c-warning;
  @include font-rem(12px);
}

.aside-table__label {
  font-family: $f-bold;
  @include font-rem(12px);
  padding: 4px 0;
}

.aside-table__label_small {
  @include font-rem(12px);
}

.aside-table__cell_big {
  padding: 20px 0;
}

.aside-table__row_bg {
  //background-color: $c-default-5;
}

.aside-table__row {
  .aside-table__cell {
    &:nth-child(1) {
      padding-left: 10px;
    }
    &:last-child {
      padding-right: 10px;
    }
  }
}

.aside-table__row .aside-table__cell{
  width: 33% !important;
}

.aside-table__row_border {
  border-bottom: 1px solid $c-default-3;
}

.aside-table__row_detail {
  .aside-table__cell {
    @include font-rem(12px);
    padding: 0 0 4px;
    &:nth-child(1) {
      @include flexbox;
      @include align-items(center);
      padding-left: 20px;
      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $c-default;
        margin-right: 10px;
      }
    }
  }
}

.aside-table__row_end {
  .aside-table__cell {
    padding: 0 0 10px;
  }
}

.aside-table__row_first {
  .aside-table__cell {
    padding: 20px 10px 0 0;
  }
}