.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $sp-large;
}

.avatar__col {
  &:first-child {
    flex-basis: 50%;
  }

  &:last-child {
    flex-basis: 50%;
  }
}

.avatar__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.avatar__label {
  color: $c-brand-2;
  cursor: pointer;
  font-family: $f-regular;
  @include font-rem(16px);
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  padding: 10px 10px 0;
  text-align: center;
}

.avatar__icon {
  background-color: $c-default-5;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
  padding: 20px;
  text-align: center;

  > * {
    color: $c-brand-2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      @include font-rem(40px);
      min-width: 100%;
    }
  }
}

.avatar__name {
  color: $c-default;
  font-family: $f-bold;
  @include font-rem(32px);
}

.js-croppaContainer{
  display: none;
  text-align: center !important;
}

.croppie-container {
  margin-bottom: 5px;
}

.cr-slider-wrap{
  display:none;
}

.cr-boundary{
  border-radius: 50%;
  width: 120px !important;
  height: 120px !important;
  @include media-query(medium) {
    width: 170px !important;
    height: 170px !important;
  }
}

.avatar__icon_dashed {
  border: 2px dashed $c-brand-2;
}

@include media-query(medium) {
  .layout-flex__item {
    padding-left: 40px;
  }

  .avatar__col {
    text-align: center;

    &:first-child {
      flex-basis: 100%;
    }

    &:last-child {
      flex-basis: 100%;
    }
  }

  .avatar__icon {
    width: 170px;
    height: 170px;

    > * {
      &:before {
        @include font-rem(60px);
      }
    }
  }

  .avatar__name {
    @include font-rem(40px);
  }
}

@media screen and (min-width: $bp-xsmall-wide) {
  .avatar__col {
    text-align: left;

    &:first-child {
      flex-basis: 50%;
    }

    &:last-child {
      flex-basis: 50%;
    }
  }
}
