//- ban = banner [uso de prefijo ban evitar bloquers]
//-Componente
.ban-window {
  position: relative;
  display: flex;
  min-height: 570px;
  align-content: flex-end;
  margin: 0 0 0 auto;
  overflow: hidden;
  padding: $sp-small $sp-small 0;
}

//- Bloque
.ban-window__mask {
  width: 100%;
  position: relative;
  margin: 0 auto 0 0;
}

//- Bloque
.ban-window__crop {
  display: block;
  width: 100%;
  z-index: 1;
}

//- Elemento
.ban-window__svg {
  position: absolute;
  top: -629px;
  left: -267px;
  z-index: -1;
}

//- Elemento
.ban-window__txt {
  text-align: right;
  color: $c-neutro;
  font-family: $f-light;
  @include font-rem(30px);
  line-height: 1.2;
}

//- Elemento
.ban-window__btn {
  width: 100%;
  max-width: 320px;
  margin: $sp-small 0 0 auto;
}

//- Elemento
.ban-window__info {
  position: absolute;
  top: 0;
  right: $sp-small;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: $sp-medium;
}

//- Elemento
.ban-window__img {
  width: 60%;
  display: block;
  margin: 0 auto 0 0;
}

@media screen and (min-width: 400px) {
  //- Elemento
  .ban-window__txt {
    @include font-rem(40px);
  }
}

//- Medium 480px
@include media-query(small-m) {
  //- Elemento
  .ban-window__img {
    width: 53%;
  } //- Elemento
  .ban-window__info {
    width: 60%;
  }
}

//- Medium 650px
@include media-query(small-medium) {
  //- Elemento
  .ban-window__img {
    width: 60%;
  }
  .ban-window {
    align-items: center;
  } //- Elemento
  .ban-window__info {
    width: 40%;
    justify-content: center;
    padding-bottom: 0;
  }
  .ban-window__mask {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

//- Medium 768px
@include media-query(medium) {
  .ban-window {
    max-width: 100%;
    display: flex;
    align-content: flex-end; //min-height: 370px;
  }
  .ban-window__mask {
    margin: initial;
    width: 50%;
  }
  .ban-window__info {
    @include justify-content(center);
  }
  .ban-window__txt {
    margin: 0 0 0 auto;
    max-width: 80%;
    line-height: 1.1;
  }
  .ban-window__btn {
    width: 100%;
    max-width: 180px;
    padding: 8px;
  }
  .ban-window__svg {
    top: -785px;
    left: 25px;
  }
  .ban-window__img {
    width: 90%;
  }
} //- Wide 1024px
@include media-query(wide) {
  .ban-window__txt {
    @include font-rem(50px);
  }
  .ban-window__img {
    width: 90%;
  }
  .ban-window__svg {
    top: -734px;
    left: 138px;
  } //- Elemento
  .ban-window__info {
    right: 5%;
  }
} //- large 1180px
@include media-query(large) {
  .ban-window__img {
    width: 80%;
    margin: 0 0 0 auto;
  }
  .ban-window__svg {
    left: 250px;
  }
} //- Wide 1280px
@include media-query(big) {
  .ban-window__img {
    width: 70%;
    margin: 0 auto;
  }
  .ban-window__svg {
    left: 320px;
  }
}
