.band-banner {
  overflow: hidden;
  min-height: 284px;
  height: 100%;
}

.band-banner__bg {
  position: relative;
  background-image: url('../img/band-banner_sm.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 970px auto;
  width: 100%;
  min-width: 100%;
  height: 480px;
  min-height: 100%;
}

.band-banner__caption {
  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  position: absolute;
  top: 50%;
  bottom: 0;
  height: auto;
  width: 70%;
  color: $c-neutro;
  padding: $sp-small 0 $sp-xsmall $sp-small;
}

.band-banner__img {
  position: absolute;
  width: 300%;
  right: -10%;
  top: 45%;
}

.band-banner__txt {
  display: block;
  @include font-rem(26px);
  font-family: $f-light;
  line-height: 1.3;
  padding-bottom: $sp-small;
}

.band-banner__bold {
  font-family: $f-bold;
  text-transform: uppercase;
}

.band-banner__link {
  position: relative;
  @include flexbox;
  @include align-items(center);
  margin: 0 0 0 auto;
  color: $c-neutro;
  @include font-rem(14px);
  font-family: $f-regular;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  z-index: 2;
  &::before {
    @include order(2);
  }
}

//-$bp-medium: 480px;
@include media-query(small-m) {
  .band-banner__img {
    top: 33%;
  }
}

//-$bp-medium: 768px;
@include media-query(medium) {
  .band-banner__bg {
    height: 284px;
    background-image: url('../img/band-banner.jpg');
    background-size: auto 286px;
    background-position: 90% top;
  }
  .band-banner__img {
    top: -84%;
    width: 200%;
    left: -145%;
  }
  .band-banner__caption {
    transform: translateY(-50%);
    height: 100%;
    max-width: 36%;
  }
  .band-banner__txt {
    @include font-rem(38px);
    line-height: 1.1;
  }
}

//-$bp-wide: 1024px
@include media-query(wide) {
  .band-banner__caption {
    max-width: 35%;
  }
  .band-banner__img {
    top: -115%;
  }
}

//-$bp-wide: 1180px
@include media-query(large) {
  .band-banner__caption {
    max-width: 35%;
    padding-left: 10%;
  }
  .band-banner__img {
    top: -200%;
  }
}