//- HOTFIX-INTPOSP-581
.banner_fix-controls {
  .prev,
  .next {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: rgba($c-default-7, .3);
    transition: background-color 1s ease;

    display: none;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    z-index: 3;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $c-neutro;
      @include font-rem(20px);
      transform: translate(-50%, -50%);
    }

    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      background-color: rgba($c-default-7, .7);

      &::before {
        color: $c-default-4;
      }
    }
  }

  .prev {
    margin-left: 0;
    left: 24px;
  }

  .next {
    margin-right: 0;
    right: 20px;
  }

  @include media-query(wide) {
    .prev,
    .next {
      display: block;
    }
  }
}