//- ban = banner [uso de prefijo ban evitar bloquers]
.ban-publi {
  position: relative;
  display: flex;
  margin: 0 0 0 auto;
  overflow: hidden;
  color: $c-neutro;
}

.ban-publi__mask {
  position: relative;
  margin: 0 auto;
}

.ban-publi__crop {
  z-index: 1;
}

.ban-publi__txt {
  font-family: $f-light;
}

.ban-publi__title {
  font-family: $f-light;
  @include font-rem(40px);
  line-height: 1;
  margin-bottom: $sp-small;
}

.ban-publi__info {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 $sp-small $sp-medium;
}

.ban-publi__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

//- Medium 480px
@include media-query(small-m) {
  .ban-publi__info {
    max-width: 40%;
    margin: 0 0 0 auto;
    padding: 0 $sp-small $sp-small $sp-small;
  }
}

//- Medium 768px
@include media-query(medium) {
  .ban-publi {
    display: flex;
    align-content: flex-end;
  }
  .ban-publi__txt {
    margin: 0 0 0 auto;
  }
  .ban-publi__info {
    max-width: 36%;
    justify-content: center;
    padding: 0 $sp-medium $sp-medium;
  }
}

//- Wide 1024px
@include media-query(wide) {
  .ban-publi__txt {
    @include font-rem(18px);
  }
}
