/**
 * @molecule Banner Form
 * @section Banners
 * @markup
 *   <div class="banner-form">   
 *     <div class="banner-form__caption">
 *       <div class="banner-form__inner">
 *         <h3 class="banner-form__title">Recarga $200 y obtén 300 MB adicionales</h3>
 *         <p class="banner-form__txt">Más MB para navegar y Redes sociales</p><span class="banner-form__txt-small">*Vigencia de 7 días</span>
 *       </div>
 *     </div><img class="banner-form__img" src="static/img/demo/banner-form.jpg" alt="Recargas Adicionales">
 *   </div>
 */


.banner-form {
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  overflow: hidden;
  height: 100%;
  min-height: 420px;
  color: $c-neutro;
}

//-Elemento
.banner-form__mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

//-Elemento
.banner-form__img {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  //z-index: -1;
}

//-Elemento
.banner-form__caption {
  position: relative;
  top: 0;
  display: block;
  height: 100%;
  min-height: 230px;
  background-color: $c-brand;

  &:after {
    content: '';
    display: block;
    width: 105%;
    min-height: 205px;
    position: absolute;
    bottom: -8px;
    left: -5px;
    background-image: url("../../web/images/mask-banner-form_3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}

//- Bloque
.banner-form__inner {
  padding: $sp-small $sp-xsmall;
  max-width: 320px;
  margin: 0 auto;
}


//- Elemento
.banner-form__title {
  @include font-rem(26px);
  line-height: 1.1;
  font-family: $f-light;
  padding-bottom: $sp-xsmall;
}

//- Elemento
.banner-form__txt {
  @include font-rem(14px);
  line-height: 1.1;
  font-family: $f-light;
}

//- Elemento
.banner-form__txt-small {
  @include font-rem(11px);
  font-family: $f-light;
}