/*------------------------------------*\
  Banner - styles
\*------------------------------------*/
.banner {
  position: relative;
}

//- Estructura
.banner__inner {
  position: relative;

  @include flexbox;
  @include justify-content(flex-end);
  @include align-items(flex-end);

  min-height: 470px;
}

//- BLOQUE
.banner__crop {
  overflow: hidden;
  display: block;

  @include order(2);
}

//- BLOQUE
.banner__mask {
  position: relative;
  overflow: hidden;
  display: block;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 110%;
    height: 100%;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    background: url("../../web/images/mask.svg") no-repeat bottom center;
    background-size: contain;
    margin: 0 auto;
  }
}

//- BLOQUE
.banner__mask_curved {
  position: relative;
  overflow: hidden;
  display: block;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 110%;
    height: 100%;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    background: url("../../web/images/mask-sm.svg") no-repeat bottom center;
    background-size: contain;
    margin: 0 auto;
  }
}

//- Modificador
.banner__mask_curved_bg {
  background-color: $c-brand-2;
}

//- bloque
.banner__sticky {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.banner__bullet {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 160px;
}

//- Bloque
.banner__section,
.banner__section-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);

  margin: 0 auto;
  z-index: 1;
}

//- bloque
.banner__subsection {
  &:last-child {
    &:not(.banner__subsection_unique) {
      display: none;
    }
  }

  &:first-child {
    @include order(2);
  }

  .banner__img {
    width: 100%;
    max-width: 180px;
    margin: $sp-small auto 0;
  }
}

//-Modificador
.banner__subsection_center {
  text-align: center;

  @include flex(2);

  .btn {
    min-width: 240px;
  }

  .banner__subtitle-medium {
    padding: $sp-small 0;
  }
}

//- Modificador
.banner__subsection_unique {
  color: $c-neutro;
  text-align: center;

  .banner__subtitle-medium {
    padding: $sp-small 0;
  }
}

//-  **** Bloque de Lista ******

//- bloque
.banner__list {
  display: block;
  list-style: none;
  padding-top: $sp-xsmall;
}

//- elemento
.banner__list-item {
  @include flexbox;
  text-align: left;
  padding: $sp-xsmall 0;

  &:before {
    width: 25px;
    @include font-rem(20px);
    padding-right: $sp-xsmall;
  }
}

//- elemento
.banner__list-anchor {
  display: inline;
  color: $c-neutro;
  @include font-rem(18px);
  line-height: 1.2;
  text-decoration: underline;
  z-index: 2;

}

//- Bloque
.banner__caption-neutro {
  color: $c-neutro;
  text-align: center;
  .banner__title-medium {
    display: block;
    margin: 0 auto;
    max-width: 310px;
    line-height: 1.1;
    padding-bottom: $sp-xsmall;
  }

  .banner__subtitle-medium {
    max-width: 310px;
    margin: 0 auto;
  }

  .search__form {
    padding: $sp-small-medium 0;
  }

  .banner__btn {
    min-width: 250px;
    max-width: 250px;
  }

  .banner__list {
    max-width: 220px;
    margin: 0 auto;
  }
}


//- Modificador
.banner__caption_section {
  padding: $sp-medium 0 $sp-large 0;
}

//- Modificador
.banner__caption_btn {
  .banner__subtitle-medium {
    padding-bottom: $sp-small;
    z-index: 2;
  }
}

//- BLOQUE
.banner__caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  @include justify-content(flex-start);
  @include order(1);

  max-width: 220px;
  padding-left: $sp-small;
  z-index: 1;

  .banner__txt {
    display: block;
    max-width: 240px;
    padding-bottom: $sp-small;
    line-height: 1.3;
  }

  .banner__subtitle {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: $sp-xsmall;
  }
}

//- elemento
.banner__break-row {
  display: block;
}





//- Bloque
.banner__list-row {
  list-style: none;

  @include flexbox;
  @include align-items(center);
}

//- Elemento
.banner__list-ico {
  @include font-rem(0px);

  padding-right: $sp-xsmall;

  &:before {
    @include font-rem(24px);
  }
}

//- Estructura
.banner__row {
  @include flexbox;
}

//Titulos de banners en home
//-Elemento
.banner__title {
  line-height: .8;
  font-family: $f-default;

  @include font-rem(46px);

  padding-bottom: $sp-xsmall;
}

//-Elemento
.banner__title-i {
  @include flexbox;

  line-height: 1.2;
  font-family: $f-light;

  @include font-rem(34px);

  padding-bottom: $sp-xsmall;

  &:before {
    @include font-rem(70px);

    padding-right: $sp-small;
  }
}

//- elemento
.banner__title-medium {
  line-height: 1;
  font-family: $f-default;

  @include font-rem(36px);
}

//-Elemento
.banner__subtitle {
  line-height: 1.2;

  @include font-rem(24px);
}

//-Elemento
.banner__subtitle-medium {
  line-height: 1.2;

  @include font-rem(18px);
}

//-Elemento
.banner__txt-xl {
  font-family: $f-light;

  @include font-rem(24px);

  line-height: 1.5;
}

//-Elemento
.banner__link {
  @include flexbox;

  position: relative;
  font-family: $f-light;

  @include font-rem(18px);

  text-decoration: none;

  @include order(1);
  @include align-items(center);

  &:before {
    padding-left: $sp-xsmall;

    @include order(2);
    @include font-rem(14px);
  }
}

//-Elemento
.banner__img {
  position: relative;
  top: 0;
  margin: 0 -60px 0 auto;
  max-width: 400px;
  width: 100%;
}

//- Bloque
.banner__picture {
  overflow: hidden;
  width: 100%;
  display: block;
}

//- Elemento
.banner__bg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}



@media screen and (max-width: 479px) {

  //- Elemento
  .banner__btn {
    width: 100%;
    max-width: 160px;

    //@include font-rem(20px);

  }

  .banner__img {
    width: 110%;
  }

  //- Bloque
  .banner__mask {
    min-height: 470px;
    max-height: 470px;
  }

  .banner__subsection_unique {
    max-width: 90%;
    margin: 0 auto;
  }
}

//- bp-small-m : 480px;
@include media-query(small-m) {
  .banner__inner {
    min-height: auto;

    @include justify-content(space-between);
  }

  //- BLOQUE
  .banner__caption {
    position: relative;

    @include flexbox;
    @include justify-content(center);
    @include flex-direction(column);

    max-width: initial;
    padding-bottom: $sp-medium;

    .banner__subtitle {
      padding-bottom: $sp-xsmall;
    }
  }

  .banner__img {
    margin-right: 0;
  }

  //- BLOQUE
  .banner__mask {
    &:after {
      background: url("../../web/images/mask-sm.svg") no-repeat bottom center;
      background-size: contain;
    }
  }

  .banner__sticky {
    bottom: 50px;
    left: auto;
    transform: translateX(0);
    right: 15px;
  }

  .banner__bullet {
    max-width: 140px;
  }

  //- Bloque
  .banner__caption-neutro {

    .banner__title-medium {
      min-width: 380px;
      margin: 0 auto;
      @include font-rem(44px);
    }

    .banner__subtitle-medium {
      min-width: 380px;
      margin: 0 auto;
      @include font-rem(20px);
    }

  }

}

//- END bp-small-m : 480px;

// bp: 640px
@include media-query(small-medium) {
  .banner__mask_curved_bg {
    min-height: 380px;
  }

  .banner__subsection {
    .banner__img {
      max-width: 200px;
    }
  }

  .banner__inner {
    @include justify-content(space-between);
    @include align-items(center);
  }

  .banner__caption {
    padding-bottom: $sp-xsmall;
  }

  //- Bloque
  .banner__caption-neutro {
    .banner__list {
      @include flexbox;
      @include justify-content(space-between);
      width: 100%;
      max-width: 740px;
    }
  }

  .banner__list-item {
    @include flex(1);
    @include flex-direction(column);
    @include align-items(center);
    text-align: center;

    &:before {
      @include font-rem(28px);
      padding-right: 0;
      padding-bottom: $sp-xsmall;
    }
  }
}


//- Bp: 768px
@include media-query(medium) {

  //- Bloque
  .banner__section {
    @include flex-direction(row);
    @include justify-content(space-between);

    width: 90%;
    max-width: 1180px;
    top: 45%;
  }

  .banner__subsection {
    @include flex(1);
    @include order(2);

    &.banner__subsection_center {
      @include flex(2);
    }

    &:last-child {
      @include order(3);

      &:not(.banner__subsection_unique) {
        display: block;
      }
    }

    .banner__img {
      max-width: 300px;
      margin: 0 auto;
    }

    //- elemento
    .banner__title-medium {
      max-width: none;
    }
  }

  //- elemento
  .banner__title-medium {
    @include font-rem(47px);
  }

  .banner__img {
    max-width: none;
  }

  .banner__title-i {
    @include font-rem(46px);
  }

  .banner__btn {
    //padding: 16px 14px;
    max-width: 240px;
  }

  .banner__inner {
    padding-left: 70px;
  }

  //- BLOQUE
  .banner__mask {
    min-height: 350px;
  }

  .banner__bullet {
    max-width: 260px;
  }

  //- Bloque
  .banner__caption-neutro {

    .banner__title-medium {
      @include font-rem(64px);
      max-width: none;
    }

    .banner__subtitle-medium {
      @include font-rem(24px);
      max-width: none;
    }

  }

  .banner__mask_curved {
    &:after {
      bottom: -36px;
    }
  }

  //- Modificador
  .banner__caption_btn {
    .banner__title-medium,
    .banner__subtitle-medium {
      max-width: 800px;
    }

  }
}

//- fin bp 768px

@include media-query(small-wide) {
  .banner__mask {
    &:after {
      bottom: -20px;
    }
  }
}

//bp 1024px
@include media-query(wide) {
  .banner__mask_curved_bg {
    min-height: 450px;
  }

  .banner__caption {
    padding-bottom: 0px;

    .banner__subtitle {
      max-width: none;
    }

    .banner__txt {
      padding-bottom: $sp-small;
    }
  }

  //Titulos de banners en home
  .banner__title {
    font-family: $f-light;

    @include font-rem(90px);
  }

  .banner__inner {
    padding-left: 60px;
  }

  //- elemento
  .banner__title-medium {
    @include font-rem(46px);
  }

  //-Modificador
  .banner__subsection_center {
    .banner__subtitle-medium {
      padding: $sp-medium 0;
    }
  }

  .banner__mask {
    &:after {
      bottom: -30px;
    }
  }

  .banner__subsection_unique {

    //- elemento
    .banner__title-medium {
      @include font-rem(58px);
    }
  }

  .banner__sticky {
    right: 20px;
  }

  .banner__mask_curved {
    &:after {
      bottom: -50px;
    }

    //- Modificador
    &.banner__mask_curved_bg {
      background-color: $c-brand-2;

      &:after {
        background-size: cover;
      }
    }
  }
}

//- Bp 1024px


@include media-query(big) {
  .banner__inner {
    padding-left: 0;
  }

  .banner__sticky {
    right: 15%;
    bottom: 15%;
  }
}
