.ban-band {
  position: relative;
  display: flex;
  align-content: flex-end;
  max-width: 380px;
  margin: 0 auto;
}

.ban-band__info {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.ban-band__crop {
  overflow: hidden;
}

.ban-band__txt {
  text-align: left;
  color: $c-neutro;
  font-family: $f-light;
  @include font-rem(20px);
  max-width: 150px;
  padding-left: $sp-xsmall;
}

.ban-band__def {
  font-family: $f-default;
  color: $c-neutro;
}

.ban-band__strong {
  display: inline-block;
  font-family: $f-bold;
  text-transform: uppercase;
  padding: 0 5px 0 0;
}

.ban-band__img {
  width: 100%;
}

.ban-band__link {
  @include font-rem(14px);
  color: $c-neutro;
  font-family: $f-light;
  text-decoration: underline;
  padding-left: $sp-xsmall;
}

//- Medium 768px
@include media-query(medium) {
  .ban-band {
    max-width: 100%;
  }
  .ban-band__info {
    width: 100%;
  }
  .ban-band__strong {
    padding: 0 5px;
  }
  .ban-band__txt {
    max-width: 50%;
    line-height: 1;
    @include font-rem(30px);
    padding-left: $sp-medium;
  }
  .ban-band__link {
    @include font-rem(16px);
    padding-left: $sp-medium;
  }
}

//- big 1280px
@include media-query(big) {
  .ban-band__txt {
    max-width: 40%;
    line-height: 1.1;
    @include font-rem(40px);
  }
}
