.banner_full {
  overflow-x: hidden;
  .banner__caption {
    @include flex(.4);
    position: relative;
    max-width: 100%;
    //width: auto;
    margin: 0 auto;
    //-padding-left: 0;
    .banner__subtitle {
      max-width: none;
      padding: $sp-small 0;
    }
  }
  .banner__inner {
    @include flex-direction(column);
    min-height: auto;
  }
  .banner__crop {
    @include flex(.6);
    // width: 100%;
  }
  .banner__img {
    display: block;
    left: -50%;
    width: 200%;
    max-width: none;
    margin: 0 0 0 auto;
  }
}

//bp-medium = 480px
@include media-query(small-m) {
  .banner_full {
    .banner__img {
      left: -25%;
      width: 150%;
    }
  }
}

//bp-medium = 650px
@include media-query(small-medium) {
  .banner_full {
    .banner__inner {
      @include flex-direction(row);
      @include align-items(flex-end);
    }
    .banner__img {
      left: 0;
      width: 100%;
    }
    .banner__crop {
      width: 60%;
    }
  }
}

//bp-wide = 980px
@include media-query(small-wide) {
  .banner_full {
    .banner__caption {
      @include align-self(center);
    }
    .banner__btn {
      margin-bottom: $sp-small;
    }
  }
}
//bp-wide = 1024px
@include media-query(wide) {
  .banner_full {
    .banner__inner {
      width: 90%;
      margin: 0 auto;
      @include justify-content(space-between);
    }
    .banner__caption {
      .banner__txt {
        max-width: none;
      }
    }
  }
}
//bp-wide = 1180px
@include media-query(large) {
  .banner_full {
    .banner__crop {
      overflow: visible;
    }
    .banner__img{
      width: 120%;
    }
  }
}
