.band-form {
  padding: 20px 0;
  background-color: $green;
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $sp-small auto;
    padding: 20px;
  }
  &__title {
    padding-bottom: 20px;
    color: #fff;
    font-family: $f-light;
    @include font-rem(40px);
  }
  &__head {
    display: block;
    font-family: $f-light;
    font-weight: normal;
  }
  &__foot {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: $sp-small 30px $sp-medium;
    background-color: $c-neutro;
  }
  &__form {
    padding: $sp-xsmall;
  }
  &__label {
    display: block;
    padding-bottom: $sp-xsmall;
    font-family: $f-light;
    @include font-rem(18px);
  }
  &__input {
    display: block;
    width: 100%;
    margin-bottom: $sp-small;
    padding: 10px 20px;
    line-height: 1.4;
    @include font-rem(12px);
    font-family: $f-light;
    color: $c-default;
    border-radius: 4px;
    background-color: $c-default-4;
  }
  &__btn {
    display: block;
    width: 100%;
    padding: 10px 14px;
  }
  &__link {
    display: block;
    margin: 0 auto;
    padding: $sp-small 0 0 $sp-xsmall;
    text-decoration: none;
  }

  //- Medium 768px
  @include media-query(medium) {
    &__inner {
      flex-direction: row;
      width: 90vw;
      padding: 10px 0;
    }
    &__item {
        flex: 1 1 50%;
        align-self: center;
    }
    &__title {
      margin-right: 20px;
      padding-bottom: 0;
    }
    &__foot {
      width: auto;
      margin: 0;
    }
  }

  //- 1024px
  @include media-query(wide) {
    &__inner {
      max-width: 1140px;
    }
    &__title {
      min-width: 62%;
      margin-right: 30px;
      @include font-rem(50px);
    }
    &__foot {
      padding: 20px;
    }
  }

  //- 1180px
  @include media-query(large) {
    &__inner {
      width: 80vw;
    }
    &__title {
      min-width: 50%;
      margin-right: 50px;
    }
    &__foot {
      max-width: 440px;
      padding: 40px;
    }
  }
}
