//- Bloque
.banner-box {
  /* Old browsers */
  background: -moz-linear-gradient(top, $c-box-color 0%, $c-box-color 50%, $c-box-brand 50%, $c-box-brand 50%, $c-box-brand 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $c-box-color 0%, $c-box-color 50%, $c-box-brand 50%, $c-box-brand 50%, $c-box-brand 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $c-box-color 0%, $c-box-color 50%, $c-box-brand 50%, $c-box-brand 50%, $c-box-brand 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$c-box-color}', endColorstr='#{$c-box-brand}', GradientType=0);

  /* IE6-9 */
  .banner__crop {
    display: none;
  }

  .banner__title {
    font-family: $f-light;
    @include font-rem(90px);
    padding-bottom: 5px;
  }

  .banner__link {
    position: relative;
    display: inline-block;
    margin: $sp-small 0;
    color: $c-neutro;
    cursor: pointer;
    text-decoration: underline;

    &:before {
      @include font-rem(10px);
      position: absolute;
      right: -20px;
      top: 8px;
    }
  }
}

.banner-box__link {
  position: relative;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(stretch);
  height: 100%;
  color: $c-neutro;
}


//- Bloque
.banner-box__crop {
  position: absolute;
  @include flex(1 100%);
  @include flexbox;
  @include align-items(flex-end);
  width: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}


//- Bloque modificador
.banner-box_left {


  .banner-box__caption {
    @include flex(1);
    z-index: 1;
    max-width: 420px;
    margin: auto auto auto 0;
  }

  .banner-box__anchor {
    @include flex(1 100%);
    padding-top: $sp-small;
  }



  //- Elemento
  .banner-box__fig {
    right: -4px;
    bottom: 0;
    max-width: 150px;
    margin: 0 0 0 auto;
  }
}


//- Bloque modificador
.banner-box_right {
  .banner-box__row {
    width: 100%;
    margin: 0 auto;
    padding: $sp-small 0;

  }

  //- Elemento item i
  .banner-box__list-i_right {
    margin: 0 0 0 auto;

    &.banner-box__list_size {
      .banner-box__ico-i {
        min-width: 50px;
      }
    }
  }
}




//- Bloque de lista
.banner-box__list {
  @include flexbox;
  @include flex-direction(column);
  list-style: none;
  color: $c-neutro;
  background: $c-box-color;
}

//- Estructura
.banner-box__item {
  @include flexbox;
  @include flex(.5);
  color: $c-neutro;

  &:first-child {
    background-color: $c-box-color;
  }

  &:last-child {
    background-color: $c-box-brand;
  }
}


//- Bloque de lista con ico
.banner-box__list-i {
  @include flexbox;
  list-style: none;
}


//- Elemento item i
.banner-box__item-i {
  @include flex(0 auto);
  padding: 0 2px;
}

//- Elemento
.banner-box__fig {
  display: block;
  position: relative;
  width: 100%;
}

//- Elemento
.banner-box__img {
  display: block;
  position: relative;
  right: 25%;
  width: 110%;
  min-width: 420px;
  transform: translateY(-50px);
}


//- Elemento
.banner-box__title {
  @include font-rem(40px);
  line-height: 1.1;
}

//- Modificador
.banner-box__title_xlight {
  font-family: $f-light;
}

//- Elemento
.banner-box__anchor {
  display: inline-block;
  @include font-rem(18px);
  text-decoration: underline;
  vertical-align: middle;

  &:after {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
}



//- Bloque
.banner-box__caption {
  padding: $sp-medium;
  margin: auto;
  margin-left: 0; //max-width: 370px;
}


//- Bloque List
.banner-box__row {
  list-style: none;
  @include flexbox;
  @include flex-wrap(wrap);

  .txt_bold {
    @include font-rem(32px);
  }
}

//- Elemento de lista
.banner-box__piece {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  position: relative;
  @include flex(1 auto);
  padding: 6px 0;

  &:first-child {
    padding-right: 6px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 4px;
      background-color: $c-neutro;
      width: 1px;
      height: 100%;
    }
  }

  &:nth-child(2) {
    padding-left: 6px;
    text-align: right;
  }

  &:last-child {
    @include flex(0 100%);
    padding-top: $sp-small;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {
  .banner-box__img {
    width: 100%;
  }
}

// //- bp-small-m : 480px;
@include media-query(small-m) {
  .banner-box {
    .banner__crop {
      display: block;
      @include align-self(flex-end);
      max-height: 388px;
      overflow: visible;
    }
  }

  .banner-box__column {
    @include flexbox;
    @include justify-content(space-between);
    overflow: hidden;
  }

  //- Bloque modificador
  .banner-box_right {
    .banner-box__row {
      max-width: 80%;
    }
  }

  //- Bloque modificador
  .banner-box_left {

    //- Elemento
    .banner-box__fig {
      max-width: 210px;
    }
  }
}




//- Bp-Mediumn : 768px
@include media-query(medium) {
  .banner-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9426d+0,e9426d+50,00a9e0+50,00a9e0+100 */
    background: $c-box-color;
    /* Old browsers */
    background: -moz-linear-gradient(left, $c-box-color 0%, $c-box-color 50%, $c-box-brand 50%, $c-box-brand 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $c-box-color 0%, $c-box-color 50%, $c-box-brand 50%, $c-box-brand 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $c-box-color 0%, $c-box-color 50%, $c-box-brand 50%, $c-box-brand 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$c-box-color}', endColorstr='#{$c-box-brand}', GradientType=1);
    /* IE6-9 */
  }

  //- Elemento
  .banner-box__img {
    transform: translateX(-18px);
  }


  .banner-box__list {
    @include flex-direction(row);
  }

  .banner-box__inner {
    width: 100%;
    max-width: 1084px;
    margin: 0 auto;
  }

  //- Bloque
  .banner-box__caption {
    margin: auto;
  }
}



//- bp-small-wide : 980px;
@include media-query(small-wide) {

  //- Bloque modificador
  .banner-box_right {
    .banner-box__row {
      max-width: none;
    }

    //- Elemento item i
    .banner-box__list-i {
      margin: 0 0 0 auto;
      @include flex-wrap(wrap);

      .banner-box__item-i {
        @include flex(1 auto);

        &:last-child {
          @include flex(1 100%);
        }
      }

      &.banner-box__list-i_right {
        @include flex-wrap(nowrap);
        margin: auto;
      }


    }

    .banner-box__row {
      @include flex-wrap(nowrap);
    }

    .banner-box__piece {
      @include flex(1);
      text-align: center;

      &:last-child {
        @include order(2);
        padding-top: 0;
        @include align-self(flex-end);
      }

      &:nth-last-child(2) {
        @include order(3);
        text-align: center;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 4px;
          background-color: $c-neutro;
          width: 1px;
          height: 100%;
        }
      }

      .txt {
        @include font-rem(20px);
      }

      .txt_bold {
        @include font-rem(36px);
      }
    }
  }

  // //- Bloque modificador
  .banner-box_left {

    //- Elemento
    .banner-box__caption {


      max-width: 450px;
      // margin: 0 auto 0 0;
    }
  }
}



//- Bp-wide : 1180px
@include media-query(large) {

  // //- Bloque modificador
  .banner-box_left {

    //- Elemento
    .banner-box__caption {
      padding-left: calc(100% - 500px);
      max-width: 480px;
      padding-right: 0;
    }
  }
}

//- BP-High : 1280px
@include media-query(big) {
  .banner-box__caption {
    margin: auto auto auto 0;
  }

  // //- Bloque modificador
  .banner-box_left {

    //- Elemento
    .banner-box__caption {
      padding-left: 30%;
      max-width: 500px;
    }
  }
}

//- BP-High : 1440px
@include media-query(huge) {
  // //- Bloque modificador
  .banner-box_left {

    //- Elemento
    .banner-box__caption {
      padding-left: 25%;
      max-width: 650px;
    }
  }
}
