.ban-slot {
  position: relative;
  display: flex;
  align-content: flex-end; //max-width: 380px;
  margin: 0 auto;
  height: 100%;
}

.ban-slot__info {
  position: absolute;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  padding: 0 $sp-small $sp-small;
}

//-Estructura
.ban-slot__crop {
  overflow: hidden;
}

//-Elemento
.ban-slot__txt {
  text-align: left;
  color: $c-neutro;
  font-family: $f-light;
  @include font-rem(26px);
  padding-bottom: $sp-small;
}

//-Elemento
.ban-slot__txt-sm {
  font-family: $f-light;
  @include font-rem(14px);
}

//-Elemento
.ban-slot__txt-sm {
  font-family: $f-light;
  @include font-rem(14px);
}

//-Elemento
.ban-slot__txt-xl {
  font-family: $f-light;
  @include font-rem(50px);
}

//-Elemento
.ban-slot__headline {
  text-align: left;
  color: $c-neutro;
  font-family: $f-light;
  @include font-rem(30px);
  padding-bottom: $sp-small;
}

//-Elemento
.ban-slot__def {
  font-family: $f-light;
  color: $c-neutro;
  @include font-rem(18px);
  padding-bottom: $sp-small;
  .ban-slot__strong {
    padding: 0 $sp-xsmall;
  }
}

//-Elemento
.ban-slot__strong {
  display: inline-block;
  font-family: $f-bold;
  text-transform: uppercase;
  padding: 0 5px 0 0;
}

//-Elemento
.ban-slot__img {
  width: 100%;
}

//-Elemento
.ban-slot__link {
  @include font-rem(14px);
  color: $c-neutro;
  font-family: $f-light;
  text-decoration: underline;
}

/*------------------------------------*\
    Slot banner de información
\*------------------------------------*/

//- Bloque
.ban-slot__box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $c-brand-2;
  color: $c-neutro;
  height: 100%;
  padding: $sp-small;
  .ban-slot__list {
    margin-bottom: $sp-small;
  }
  .ban-slot__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .ban-slot__link {
    color: $c-brand-2;
  }
  .ban-slot__txt-sm {
    display: block;
    padding: $sp-small $sp-xsmall 0;
  }
}

//- Bloque panel blanco
.ban-slot__panel {
  background-color: $c-neutro;
  padding: $sp-small;
  color: $c-default-1;
}

//- Bloque de lista
.ban-slot__list {
  list-style: none;
  padding-bottom: $sp-small;
  border-bottom: 1px solid $c-default-2;
}

.ban-slot__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: $sp-xsmall;
  &:before {
    color: $c-brand;
    @include font-rem(22px);
    padding-right: 15px;
  }
}

@media (min-width:557px){
  .ban-slot__txt {
    @include font-rem(30px);
  }
}
//- Small Medium 640px
@include media-query (small-medium) {
  .ban-slot__headline {
    @include font-rem(40px);
  }
  .ban-slot__txt {
    @include font-rem(37px);
  }
}

//- Medium 768px
@include media-query(medium) {
  .ban-slot {
    max-width: 100%;
  }
  .ban-slot__info {
    width: 100%;
    padding: 0 $sp-small $sp-medium;
  }
  .ban-slot__strong {
    padding: 0 5px;
  }
  .ban-slot__txt {
    line-height: 1.1;
    @include font-rem(40px);
  }
  .ban-slot__def {
    @include font-rem(20px);
    line-height: 1.1;
  }
  .ban-slot__link {
    @include font-rem(16px);
  }
}

//- Wide 1024
@include media-query(wide) {
  .ban-slot__def {
    line-height: 1.4;
  }
}

