//- Estructura
.banners-duo {
    @include flexbox;
    @include flex-direction(column);
}

//- Bloque
.banner-duo__item {
    @include flex(1 100%);
}

//- Modificador de bloque
.banners-duo__item_curve {
    .banner-box__link {
        @include flex-direction(column);
    }

    .banner-box__title {
        padding-bottom: $sp-small;
    }

    .txt {
        display: block;
        line-height: 1.2;
    }

    .txt-small {
        display: block;
        padding-bottom: $sp-small;
    }

    .banner-box__btn {
        display: block;
        max-width: 200px;
        padding: 8px;
    }

    .banner-box__crop {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../img/banner-curve.svg") no-repeat top center;
            background-size: cover;
        }

        &.banner-box__crop-img {
            &::before {
                background: url("../img/banner-curve_green.svg") no-repeat top center;
            }
        }
    }

    .banner-box__fig {
        margin: 0 auto;
        padding: $sp-xsmall;
    } // *****Image svg
    .banner-box__link_svg {
        .banner-box__fig {
            max-width: 320px;
        }
    }

    // **** Imagen al 100%
    .banner-box__link_img {
        position: relative;
        overflow: hidden; //min-height: 300px;
        .banner-box__caption {
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: $c-brand; //opacity: 0.5;
            &::after {
                content: '';
                position: absolute;
                display: block;
                left: 0;
                bottom: -90px;
                width: 100%;
                height: auto;
                min-height: 100px;
                background-image: url("../img/a-tablet_curve.svg");
                background-position: 50% -26px;
                background-size: 400%;
                background-repeat: no-repeat;
                z-index: -1;
            }
        }

        .banner-box__crop {
            &:before {
                display: none;
            }
        }

        .banner-box__fig {
            //-max-width: none;
            padding: 0;
        }
    }
}

//- Bp-Small : 480px
@include media-query(small-m) {
    .banners-duo__item_curve {
        // **** Imagen 100%
        .banner-box__link_img {
            .banner-box__caption {
                &::after {
                    bottom: -56px;
                    background-position: 50% -36px;
                }
            }

            .banner-box__fig {
                max-width: none;
                padding: 0;
            }
        }

        .banner-box__link_svg {
            .banner-box__fig {
                max-width: 270px;
            }
        }
    }
}


@media (min-width: 512px) {
    .banners-duo__item_curve {
        // **** Imagen SVG
        .banner-box__link_img {
            .banner-box__caption {
                &::after {
                    bottom: -107px;
                    background-position: 50% 11px;
                    min-height: 200px;
                }
            }
        }
    }
}

@media (min-width: 560px) {
    .banners-duo__item_curve {
        // **** Imagen SVG
        .banner-box__link_img {
            .banner-box__caption {
                &::after {
                    bottom: -99px;
                    background-position: 50% 0;
                }
            }
        }
    }
}

//- Bp-SmallMediumn : 640px
@include media-query(small-medium) {
    .banners-duo__item_curve {
        // **** Imagen SVG
        .banner-box__link_img {
            .banner-box__caption {
                &::after {
                    bottom: -82px;
                    width: 105%;
                }
            }
        }
    }
}


//- Bp-Mediumn : 768px
@include media-query(medium) {
    .banners-duo {
        @include flex-direction(row);
    }

    .banners-duo__item {
        @include flex(1 50%);
    }

    //- Modificador de bloque
    .banners-duo__item_curve {
        .banner-box__link {
            @include flex-direction(row);
        }

        .banner-box__caption,
        .banner-box__crop {
            @include flex(1 50%);
        }

        .banner-box__caption {
            padding: $sp-small;

            .banner-box__title {
                @include font-rem(30px);

                line-height: 1.1;
                padding-bottom: $sp-xsmall;
            }
        }

        .banner-box__crop {
            @include align-items(center);

            &::before {
                background-image: url("../img/banner-curve_hor.svg");
                background-position: left center;
                background-repeat: no-repeat;
            }
        }

        .banner-box__fig {
            max-width: 270px;
            margin: 0 auto 0 0;
        }

        // **** Imagen al 100%
        .banner-box__link_img {
            position: relative;
            overflow: hidden;
            max-height: 340px;
            .banner-box__fig {
                @include align-self(auto);

                margin: 0 0 0 auto;
            }

            .banner-box__caption {
                &::after {
                    left: 90%;
                    bottom: auto;
                    top: -50%;
                    width: 100px;
                    height: 210%;
                    min-height: auto;
                    background-image: url("../img/a-desktop_curve.svg");
                    background-position: -115px 50%;
                }
            }
        }
    }
}


//- Bp-large : 1180px
@include media-query(large) {
    .banners-duo__item_curve {
        // **** Imagen SVG
        .banner-box__link_img {
            .banner-box__caption {
                &::after {
                    background-position: -83px 50%;
                }
            }
        }
    }
}
