.ban-group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

//-Bloque banner cuadrado
.ban-square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.ban-square__crop {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.ban-square__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 40%;
  font-family: $f-light;
  color: $c-neutro;
  padding-right: $sp-small;
}

.ban-square__title {
  @include font-rem(36px);
  line-height: 0.9;
  padding-bottom: $sp-small;
  &:before {
    display: block;
    text-align: center;
  }
}

.ban-square__txt {
  line-height: 1.2;
}

.ban-square__link {
  color: $c-neutro;
  text-decoration: underline;
}

.ban-square__img {
  display: block;
  width: 100%;
}


//-bp medium 480px
@include media-query(small-m) {
  .ban-square__info {
    width: 40%;
  }
}

//-bp medium 768px
@include media-query(medium) {
  .ban-group {
    display: flex;
    flex-direction: row;
  }
  .ban-square {
    margin: 0 auto;
    max-width: 625px;
  }
}

//-bp medium 1024px
@include media-query(wide) {
  .ban-square__title {
    @include font-rem(40px);
    line-height: 1;
  }
}
