/*------------------------------------*\
	Banner slider - styles
\*------------------------------------*/
.banner-single {
  padding-bottom: $sp-small-medium;
}

.slider-single {
  position: relative;

  .slick-track {
    @include flexbox;
    // @include align-items(stretch);
    @include align-items(baseline);
    width: 100%;
  }
}


.slider-single__list {
  // width: 90%;
  margin: 0 auto;
}

.slider-single__item {
  margin: 0;
  text-align: center;

  &.slick-slide {
    @include flexbox;
    @include flex-direction(column);
    height: initial;
    @include justify-content(space-between);
  }
}

.banner-single__view {
  position: relative;
  // padding-top: 40px;
  overflow: hidden;
  //max-width: 420px;
  margin: 0 auto;

  .grid__tags {
    top: -3px;
    text-align: left;
    z-index: 2;
  }

  .tag_min {
    @include font-rem(12px);
  }

  .tag_corner {
    @include font-rem(14px);
    right: 0;
    top: -10px;
    line-height: 3.5;
    padding-right: 3px;
    z-index: 3;

    &:before {
      top: -52px;
      right: -14px;
    }
  }
}

.slider-single_add-tags {

  .banner-single__view {
    padding-top: 40px;
  }
}

.banner-single__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: $sp-medium;
}

.banner-single__body {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
}

.banner-single__header {
  padding-bottom: 36px;
}

.banner-single__item {
  padding: 0 10px;
}

.banner-single__top {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.banner-single__img {
  width: 120px;
  margin: 0 auto 8px;
}

.banner-single__label {
  font-family: $f-regular;
  @include font-rem(12px);
  color: $c-default-7;

  &.banner-single__label_brand {
    color: $c-brand;
  }

  &.banner-single__label_brand-2 {
    color: $c-brand-2;
  }
}

.banner-single__group {
  @include flexbox;
  @include justify-content(center);
  @include flex(1);
}

.banner-single__txt {
  @include font-rem(18px);
}

.banner-single__subtitle {
  width: 150px;
  margin: 0 auto;
  padding-top: $sp-xsmall;
  font-family: $f-bold;
  @include font-rem(14px);
}

.slider-single__controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;

  .slider__arrow.prev {
    margin-left: 0;
  }

  .slider__arrow.next {
    margin-right: 0;
  }

  .slider__arrow {
    &:before {
      color: $c-brand-2;
      @include font-rem(28px);
    }
  }
}

.banner-single__grid {
  .banner-single__view {
    padding-top: 0;
  }
}

@include media-query(medium) {
  .banner-single__title {
    @include font-rem(60px);
  }

  .banner-single_grid {
    .banner-single__img {
      width: 100%;
      max-width: 124px;
      margin: 0 auto;
    }
  }
}

@include media-query(wide) {
  .banner-single {
    padding-bottom: 0;
  }

  .banner-single__grid {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    .banner-single__header {
      padding-right: 30px;
    }

    .headline {
      @include font-rem(60px);
    }

  }

  .banner-single__header {
    text-align: center;
    padding-bottom: 90px;
  }

  .banner-single_grid {
    .banner-single__header {
      width: 55%;
      margin: 0;
      text-align: left;
      padding-bottom: 0;
    }

    .banner-single__slider {
      width: 65%;
    }
  }
}