.ban-vitrina__info {
  display: block;
  font-family: $f-light;
  margin-bottom: 24px;
  max-width: 320px;
  margin: 0 auto 20px;
  text-align: center;
}
.ban-vitrina__title {
  @include font-rem(40px);
  line-height: 24px;
  margin-bottom: 24px;
}
.ban-vitrina__subtitle {
  @include font-rem(18px);
  line-height: 18px;
}
//- Medium 768px
@include media-query(medium) {
  .ban-vitrina__info {
    max-width: 100%;
  }
  .ban-vitrina__subtitle {
    @include font-rem(24px);
    line-height: 24px;
  }
}