.board {
  max-width: 840px;
  margin: 0 auto;
  border: 1px solid $c-default-4;
  border-bottom: 5px solid $c-default-4;
}

.board__cont {
  padding-bottom: $sp-small;
}

.board__top-head {
  padding-top: $sp-small;
  text-align: center;
  .subtitle_gral {
    padding-bottom: $sp-small;
  }
}

.board__inner {
  padding: $sp-wide $sp-small;
}

.board__lead {
  width: 70%;
  margin: 0 auto;
  padding: $sp-medium 0 0;
  text-align: center;
  .board-list {
    display: block;
    list-style: none;
    padding-bottom: 0;
    .board-list__item {
      color: $c-default;
      &:before {
        text-align: right;
        @include font-rem(20px);
      }
      &:first-child {
        &:before {
          padding-right: 7px;
          color: $c-social-3;
        }
      }
      &:last-child {
        &:before {
          padding-right: 10px;
          color: $c-social-1;
        }
      }
    }
  }
}

.board__side {
  order: 2;
  padding-right: $sp-xsmall;
}

.board__txt {
  padding-bottom: $sp-small;
  line-height: 1.6;
}

.board__link {
  display: inline;
  padding-left: 5px;
  white-space: nowrap;
}

/*---------Bloque board-list [Caja a dos columnas]---------*/

.board-list {
  padding-bottom: $sp-medium;
  &:first-child {
    padding-bottom: $sp-small;
  }
}

.board-list__title {
  padding-bottom: $sp-xsmall;
}

.board-list__address,
.board-list__item {
  font-style: normal;
  color: $c-default-1;
}

// Bloque Footer de board
.board__prefoot {
  display: flex;
  flex-direction: column;
  padding-bottom: $sp-medium;
}

.board__foot {
    max-width: 420px;
    margin: 0 auto;
  .board__link {
    display: block;
    width: 100%;
    text-align: center;
  }
  .board__btn {
    margin-top: $sp-small;
  }
  .board__txt {
    @include font-rem(14px);
    margin: 0 auto;
    padding-bottom: $sp-xsmall;
    line-height: 1.4;
    text-align: center;
  }
}

.board__btn {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: $sp-small;
}

/*---Bloque board-head [Caja a dos columnas]---*/

.board-head {
  background-color: $c-default-5;
  padding: $sp-small;
  text-align: center;
}

.board-head__txt {
  @include font-rem(22px);
  &:first-child {
    padding-bottom: $sp-xsmall;
  }
}

/*---------Bloque board-footer [Caja a dos columnas]---------*/

.board-foot {
  padding: $sp-medium $sp-small;
}

.board-foot__center {
  text-align: center;
  padding: $sp-medium $sp-small;
  .board__btn {
    max-width: 320px;
    margin: 0 auto $sp-small;
  }
}

.board-foot__box {
  margin-bottom: $sp-small;
}

.board-foot__txt {
  margin-bottom: $sp-xsmall;
}

// $bp-medium : 768px;
@include media-query(medium) {
  .board {
    margin-bottom: $sp-wide;
    border-bottom: 1px solid $c-default-4;
  }
  .board__inner {
    padding: $sp-wide;
  }
  .board__cont {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $c-default-4;
    margin-bottom: $sp-medium;
    padding-bottom: 0;
  }
  .board-list {
    width: 50%;
  }
  .board__side {
    width: 50%;
    order: 1;
  } // Bloque Footer de board
  .board__prefoot {
    flex-direction: row;
    padding-bottom: $sp-wide;
  }
  /*---------Bloque board-list [Caja a dos columnas]---------*/
  .board-head {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .board-head__txt {
    @include font-rem(28px);
    &:first-child {
      padding-bottom: 0;
    }
  }
  /*---------Bloque board-footer [Caja a dos columnas]---------*/
  .board-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .board__btn {
      margin-bottom: 0;
    }
  }
  .board-foot__box {
    margin-bottom: 0;
  }
  .board-foot__center {
    padding: 0 $sp-small $sp-medium;
  }
}

//Para ver en desktop
@media (min-width:895px) {
  .board__lead {
    display: none;
  }
}
