/*---Bloque board-Tabs [Caja a dos columnas]---*/

.board-tabs__cont {
  padding-top: $sp-medium;
}

//- Estructura de dos columnas iguales
.board-tabs__cols {
  padding: $sp-medium $sp-small;
  .board-tabs__col {
    @include font-rem(16px);
    &.list-bullet {
      padding-bottom: $sp-small;
    }
  }
  .board-tabs__txt {
    padding-bottom: $sp-xsmall;
  }
}

.board-tabs__inner {
  position: relative;
  // max-width: 400px;
  // padding: 0 $sp-small;
  margin: 0 auto;
  overflow: hidden; //- Controles del slider
  .slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.left {
      left: 3px;
      margin-top: -13px;
      transform: rotate(180deg);
    }
    &.right {
      right: 0px;
    }
  }
}

.board-tabs__crop {
  width: 100%; //min-width: 640px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

// .board-tabs__controls {
//   border: 1px solid green;
// }
.board-tabs__slider {
  list-style: none;
}

.board-tabs__slide {
  position: relative;
  margin: 0 $sp-xsmall;
  opacity: .3;
  transition: all .2s;
  &.slick-current {
    opacity: 1;
  }
}

.board-tabs__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.board-tabs__link {
  display: inline-block;
  position: relative;
  width: 50%;
  min-height: 60px;
  align-self: stretch;
  color: $c-brand-2;
  font-family: $f-default;
  text-align: center;
  line-height: 2;
  padding: $sp-xsmall 0;
  border-top: 1px solid $c-default-3;
  background-color: $c-neutro;
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: $c-default-3;
  }
  &.js-tab__linkActive {
    color: $c-brand;
    background-color: $c-default-5;
    &:after {
      background-color: $c-brand;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 12px solid $c-brand;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
}

.board-tabs__title {
  text-align: center;
  padding-bottom: $sp-medium;
}

.boards-tabs__type {
  display: flex;
  @include font-rem(14px);
  padding: $sp-medium $sp-small $sp-small;
  text-align: justify;
  &:before {
    @include font-rem(8px);
    color: $c-warning;
  }
}

.boards-tabs__link {
  display: block;
  text-align: center;
  padding-bottom: $sp-medium;
}

.boards-tabs__foot {
  border-top: 1px solid $c-default-4;
  margin: 0 $sp-small;
}

@media screen and (max-width: 479px) {
  .board-tabs__inner {
    max-width: 375px;
  }
}

@media screen and (min-width: 800px) {
  .board-tabs__inner {
    padding: 0 0 $sp-medium 0;
  }
  .board-tabs__cols {
    display: flex;
    .board-tabs__col {
      &.list-bullet {
        padding-bottom: $sp-small;
      }
    }
  }
  .board-tabs__col {
    width: 50%;
  }
  .board-tabs__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .board-tabs__slide {
    width: 46%;
    margin: $sp-xsmall;
    // opacity: 1;
  }
}
@media only screen and (min-width: 660px) {
//@media all and (min-width: 720px) and (max-width: 899px) {
  .board-tabs__slide {
    width: 45%;
    margin: 4px;
    .card-box__slot {
      min-width: auto;
    }
  }
  .board-tabs__inner {
    max-width: 700px;
  }
  // .board-tabs__slider {
  //   flex-wrap: wrap;
  // }
}

@media screen and (min-width: 891px) {
  .board-tabs__slide {
    opacity: 1;
    &:focus {
      outline: none;
    }
  }
  .board-tabs__controls {
    display: none;
  }
}
