/*------------------------------------*\
  Board con tabla [Estilo Factura]
\*------------------------------------*/
//- Componente
.board-table {
  text-align: left;
  padding: 0;

  .subtitle_section {
    padding-bottom: $sp-small;
  }

  .txt {
    color: $c-default-7;
  }
}

//- Bloque
.board-table__head {
  @include flexbox;
  @include flex-wrap(wrap);
  margin: 0 -10px;
  padding-bottom: $sp-small;
}

//- Bloque
.board-table__head-col {
  @include flex(1);
  padding: $sp-small;
  border-radius: 10px;
  background-color: $c-neutro;
  margin: 0 $sp-xsmall;

  .subtitle_gral {
    padding-bottom: $sp-xsmall;
  }
}

//- Bloque
.board-table__content {
  border-radius: 10px;
  padding: 0;
  background-color: $c-neutro;

  .subtitle_gral {
    padding-bottom: $sp-xsmall;
  }
}

//- Bloque
.board-table__table {
  width: calc(100% - 50px);
  margin: 0 0 0 auto;
}


//- Estructura
.board-table__item {
  position: relative;
  color: $c-default-7;
  background-color: $c-default-5;
  border-bottom: 20px solid $c-neutro;
}

//- Elemento
.board-table__img {
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 25px;
}


//- Modificador
.board-table__item_left {
  text-align: left;
  padding-left: $sp-small;
}

//- Modificador
.board-table__item_center {
  text-align: center;
}

//- Modificador
.board-table__item_right {
  text-align: right;
  padding-right: $sp-small;
}

//- Elemento
.board-table__title {
  font-family: $f-bold;
  padding-bottom: $sp-xsmall;
}



.board-table__foot-row {
  .board-table__item {
    background-color: $c-neutro;
    padding-bottom: $sp-small;
  }
}

.board-table__txt-i {
  @include flexbox;
  @include align-items(baseline);

  .txt {
    &:after {
      padding: 0 $sp-xsmall;
      @include font-rem(20px);
      color: $c-warning_light;
      position: relative;
      top: 4px;
    }
  }

  .txt_bold {
    display: block;
  }
}

//-Estructura
.board-table__box {
  @include flexbox;
}

//- bloque
.board-table__aside {
  width: 10%;
}

//- Bloque
.board-table__foot {
  @include flexbox;
  @include justify-content(space-between);
  padding: $sp-small 0 $sp-xsmall;
  border-top: 1px solid $c-default-3;
  .link__brand {
    text-align: right;
  }
}


@media only screen and (max-width: 360px) {

  //- Bloque
  .board-table__table {
    width: calc(100% - 60px);
  }

  .board-table__img {
    left: -23px;
    max-width: 20px;
  }
}

//-(max-width: 767px) {
@include media-query(max-medium) {
  .board-table {
    padding: 0 $sp-xsmall;

    .subtitle_section {
      padding: $sp-small 0;
    }
  }

  .board-table__content {
    .subtitle_gral {
      padding: $sp-xsmall 0 $sp-xsmall;
    }
  }

  .board-table__head {
    padding: 0 $sp-xsmall;
  }

  .board-table__head-col {
    border: 1px solid $c-default-3;
    margin: 0 0 $sp-small;
    @include flex(auto);
  }


  .board-table__item_left {
    padding-left: 5px;
  }

  .board-table__item_right {
    padding-right: 5px;
  }

  .board-table__content {
    border: 1px solid $c-default-3;

    .subtitle_gral {
      padding: $sp-small 0 $sp-small $sp-small;
    }
  }

  .board-table__txt-i {
    .txt {
      padding-right: $sp-xsmall;

      &:after {
        display: none;
      }
    }
  }


  //- Bloque
  .board-table__foot {
    @include flex-wrap(wrap);
    padding: $sp-small $sp-xsmall;

    .board-table__txt-i,
    .link__brand {
      @include flex(auto);
    }
  }
}


//-(min-width: 768px) {
@include media-query(medium) {
  .board-table {
    padding: 0 $sp-medium $sp-xsmall;
  }

  //- Bloque
  .board-table__content {
    padding: $sp-small;
  }
}
