/*------------------------------------*\
    Grid de Checkbox
\*------------------------------------*/

//- Bloque
.box-check {
  position: relative;
  text-align: center;
  background-color: $c-neutro;
  height: 100%;
  &:hover {
    .box-check__label {
      &:after {
        will-change: left, right;
        width: 100%;
      }
    }
  }
}

//- Elemento
.box-check__input {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked+.box-check__label {
    //border-top-color: $c-brand-2;
    &:before {
      color: $c-brand-2;
      border-color: $c-default-3;
      background-color: $c-default-5;
      animation: ripple 0.2s linear forwards;
    }
    &:after {
      will-change: left, right;
      width: 100%;
    }
  }
}

//- Elemento
.box-check__label {
  position: relative;
  padding: $sp-xsmall;
  border-top: 4px solid transparent;
  margin: auto;
  height: 100%;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(space-between);
  cursor: pointer;
  &:before {
    display: block;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 1;
    color: transparent;
    @include font-rem(26px);
    border: 2px solid $c-default-3;
    background-color: $c-neutro;
    border-radius: 2px;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
    @include order(4);
    margin-bottom: $sp-xsmall;
  }
  &:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    border-radius: 5px;
    background-color: $c-brand-2;
    transition: width .3s linear;
  }
}

//- Elemento
.box-check__img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 60px;
  padding-bottom: $sp-xsmall;
}

//- Elemento
.box-check__caption {
  color: $c-default-1;
  font-family: $f-bold;
  @include font-rem(20px);
}

//- Elemento
.box-check__txt {
  display: inline-block;
  color: $c-default-1;
  font-family: $f-light;
  @include font-rem(12px);
  line-height: 1.3;
  padding: $sp-xsmall $sp-small;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .box-check__txt {
    display: inline-table !important;
  }
}

@supports (-ms-accelerator:true) {
  .box-check__txt {
    display: inline-table !important;
  }
}