//- Bloque
.box {
  display: block;
  background-color: $c-brand-2;
  color: $c-neutro;
  text-align: center;
  padding: $sp-small-medium 0;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    @include box_shadow(2);
    //     -webkit-transform: translateY(-5px);
    //     -moz-transform: translateY(-5px);
    transform: translateY(-1px);
    //-box-shadow: 0 4px 8px rgba(0, 0, 1, 0.15), 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}

//- Modificador
.box_brand {
  background-color: $c-brand;
}

//- Modificador
.box_img {
  position: relative;
  overflow: hidden;
  padding: 0;

  //- Elemento
  .box__txt {
    font-family: $f-light;
    @include font-rem(34px);
  }

  //- Elemento
  .box__txt-small {
    text-align: left;
  }
}

//- Elemento
.box__img {
  display: block;
  width: 100%;
  max-width: none;
}

//- Estructura
.box__fig {
  position: relative;
}

//- Elemento
.box__caption {
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 60%;
  transform: translateY(-50%);
  padding-left: $sp-small-medium;
  text-align: left;
}

//- modificador
.box__caption_grey {
  color: $c-default;
}

//- Elemento
.box__txt {
  display: block;
  font-family: $f-bold;
  line-height: 1;
  &:before {
    display: block;
    @include font-rem(40px);
    padding-bottom: $sp-xsmall;
  }
}

//- Elemento
.box__txt-small {
  @include font-rem(12px);
  font-family: $f-light;
}

//- Bp medium = 768px
@include media-query(medium) {
  .box {
    padding: $sp-wide 0;

    //- Modificador
    &.box_img {
      padding: 0;

      //- Elemento
      .box__txt {
        @include font-rem(48px);
      }

      //- Elemento
      .box__txt-small {
        @include font-rem(16px);
      }
    }
  }
}

//- Bp wide = 1024px
@include media-query(wide) {
  .box {
    //- Modificador
    &.box_img {
      //- Elemento
      .box__txt {
        @include font-rem(60px);
        line-height: 0.8;
      }
      //- Elemento
      .box__txt-small {
        @include font-rem(20px);
      }
    }
  }
}
