//- Bloque
.box-ico {
  padding: $sp-wide $sp-small 0;
  text-align: center;
}

//- Elemento
.box-ico__txt {
  padding-bottom: $sp-small;

  &:before {
    display: block;
    @include font-rem(60px);
    color: $c-caution;
    padding-bottom: $sp-small;
  }
}

//- Modificador
.box-ico_brand {
  @include flexbox;
  padding: $sp-small;
  text-align: center;
  height: 100%; //- Elemento

  .box-ico__txt {
    @include flexbox;
    @include flex(2);
    align-items: center;
    margin: 0 auto 0 0;
    padding-bottom: 0;
    text-align: left;

    &:before {
      padding: 0 $sp-xsmall 0 0;
      color: $c-brand-2;
      @include font-rem(20px);
    }
  }

  //- Bloque
  .switch {
    @include flex(1);
  }

}

  //- Modificador
  .box-ico_col {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
  }


@media screen and (max-width: 767px) {
  // //- Modificador
  //- Modificador
  .box-ico_col {
    .box-ico__txt {
      padding-bottom: 0;
    }
    .switch {
      margin: 0 10px 0;
    }
  }
  //- Modificador
  .box-ico_brand {
    @include flex-direction(column);

    //-Modificador
    //- Estructura
    &.box-ico_block {
      display: block;
      width: 100%;
      border-bottom: 1px solid $c-default-3;

      .box-ico__txt {
        padding-bottom: $sp-small;
      }
    }

    .filtro__slide {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: $sp-small 0;

    }

  }

  .steps__item_border {
    border-bottom: 1px solid $c-default-3;
    margin-bottom: $sp-small;
  }
}

//- bp: 768px
@include media-query(medium) {

  //- Modificador
  .box-ico_col {
    @include flex-direction(column);
    padding: $sp-small $sp-small 0 $sp-small;
    text-align: center;
    //-height: 100%;
    .box-ico__txt {
      padding-bottom: $sp-large;
    }
  }

  //- Modificador
  .box-ico_brand {
    flex-direction: column;
    justify-content: space-between; //-elemento

    .box-ico__txt {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
      margin: auto;
      text-align: center;
      padding-bottom: $sp-small;

      &:before {
        padding: 0 0 $sp-small 0;
        @include font-rem(40px);
      }
    }
  }
}
