/**
 * Distribución estructural de elementos inline
 * @molecule Estructura Box Links
 * @section Formulario
 * @markup
 * <div class="box-links">
 *   <a class="box-links__link link__brand" href="#" title="Editar">Editar</a>
 *   <a class="box-links__link link__brand" href="#" title="Eliminar">Eliminar</a>
 * </div>
 */

.box-links {
  @include flexbox;
}

.box-links__link{
  &:first-child {
    &:after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 100%;
      margin: 0 $sp-small;
      background-color: $c-default-2;
      vertical-align: middle;
    }
  }
}
