/*------------------------------------*\
	Component Header Brand
\*------------------------------------*/
.brand {
  position: relative;
  z-index: 1;
  display: inherit;
}
.brand__img {
  width: 90%;
  padding-left: $sp-xsmall;
}

// $bp-medium: 768px
@include media-query(medium) {
  .brand__img {
    width: 100%;
    max-width: 180px;
  }
}
// $bp-small-wide: 980px
@include media-query(small-wide) {
  .brand__img {
    max-width: inherit;
  }
}

