/*------------------------------------*\
	Component Breadcrumbs Menu
\*------------------------------------*/

/**
 * @molecule Breadcrumbs Menu
 * @section Navegación
 * @markup
 *  <nav class="menu-links">
 *    <ul class="menu-links__list">
 *       <li class="menu-links__item i-a-arrow-right">
 *         <a class="menu-links__link" href="index.html" title="Ir a Inicio">Inicio</a></li>
 *       <li class="menu-links__item i-a-arrow-right">
 *         <a class="menu-links__link" href="malla.html" title="Ir a Tienda">Tienda</a></li>
 *       <li class="menu-links__item">
 *         <a class="menu-links__link active" href="login-ir-a-cuenta.html" title="Ir a iPhone X">iPhone X</a></li>
 *    </ul>
 *  </nav>
 */

.menu-links {
  color: $c-default-1;
}

.menu-links__list {
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

.menu-links__item {
  list-style: none;
  &:after {
    @include font-rem(14px);
    padding: 0 12px;
    vertical-align: middle;
  }
}

.menu-links__link {
  transition: all 0.2s;
}
