/*------------------------------------*\
	boton fixed para mobile
\*------------------------------------*/

.btn-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;
  position: fixed;
  margin: 0 0 0 auto;
  padding: $sp-xsmall;
  //bottom: calc(100vh - 60px);
  bottom: 0;
  right: 0;
  transition: bottom 0.7s cubic-bezier(0, 0, 0.22, 1.02);
  z-index: 1;
  background-color: $c-neutro;
  border: 1px solid $c-default-5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 -6px 10px -8px rgba(0, 0, 0, 0.19);
}

//bp-wide = 1024px
@include media-query(wide) {
  .btn-fixed {
    display: none;
  }
}
