.callto {
  background-color: $c-default-4;
  padding: $sp-medium 0;
}

.callto__inner {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}

.callto__title {
  font-family: $f-light;
  @include font-rem(50px);
  line-height: 1;
  padding: $sp-medium $sp-small;
}

.callto__cont {
  width: 100%;
  margin: 0 auto;
  padding: $sp-small;
  background-color: $c-neutro;
}

.callto__search {
  .search__label {
    display: block;
    padding-bottom: $sp-xsmall;
  }
  padding-bottom: $sp-xsmall;
}

.callto__link {
  display: block;
}

// Media query desde 768px
@include media-query(medium) {
  .callto__inner {
    display: flex;
    width: 88%;
    max-width: 1280px;
  }
  .callto__cont {
    max-width: 440px;
    margin: 0 0 0 auto;
  }
  .callto__title {
    display: block;
    max-width: 450px;
  }
  .callto {
    padding: $sp-large 0;
  }
}
