/*------------------------------------*\
	CARDS
\*------------------------------------*/

//- Bloque
.card {
  width: 100%;
  margin: 0 auto;
  border: 0;
  // border: 1px solid $c-default-4;
  background-color: $c-neutro;
  box-shadow: none;
  // box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);

  .card_mobile {
    display: none;
  }

  .card_desktop {
    @include flexbox;
  }

}

.service{
  width: 50px;
    margin-left: 15px;
}

.card__content5{
  height: 380px !important;
}

.data__row5{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.data__row5 > li{
  margin-bottom: 0 !important;
}

@media (max-width: 737px) {
  .data__row5 > li{
    display: -webkit-box !important;
  }

  .data__row5 .data__order-img {
      height: 50px !important;
      display: none !important;
  }

  .data__row5 .data__ico:before{
    display: none !important;
  }
}

.data__row5 ol{
  margin-bottom: 0 !important;
}
//- Estructura
.card__content {
  padding: 0 $sp-small;
  background-color: $c-neutro;

  .card__txt-sm {
    text-align: center;
  }

  .card__txt-through {
    color: $c-default;
  }

  .card__txt-high {
    color: $c-brand;
    font-family: $f-regular;
    @include font-rem(24px);
    @include align-items(center);
  }
}


.card {

  //- Bloque Modificador
  &.card_tags {
    @include box_shadow(7);

    .card__content {
      box-shadow: none;
    }

    // .card__header {
    //   .card__tag {
    //     &:before {
    //       content: '';
    //       display: block;
    //       width: 100%;
    //       height: 3;
    //       border-radius: 3px;
    //       background-color: $c-brand-2;
    //     }
    //   }
    // }
  }
}


//- Estructura
.card__header {
  position: relative;
  text-align: center;
  color: $c-neutro;

  //-border-top: 3px solid $c-brand;
  .card__header-block {
    display: block;

    .card__tag-txt,
    .card__txt,
    .card__txt-sm {
      display: block;
    }
  }
}





//- Estructura
.card__row {
  padding: $sp-small 0;
}

//- Estructura
.card__row_inline {
  @include inline-flex;
  @include justify-content(center);
  width: 100%;

}

//- Estructura
.card__foot {
  position: relative;
  padding: 0;
  overflow: hidden;

  .steps__link {
    padding-top: $sp-medium;
  }
}

//- Estructura
.card__foot-box {
  padding: 8px 0;

  .txt-sm {
    display: inline-block;
    line-height: 1.2;
  }

  .link__brand {
    display: block;
    margin: 0 auto;
  }
}

//- Estructura
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  //min-height: 100px;
  padding: 16px 0;
  text-align: center;
  border-bottom: 1px solid $c-default-4;

  &:last-child {
    border-bottom: none;
  }
  //- HOTFIX-ETEMM-23: Ancho para issue IE11 Textos desbordados
  .txt-small {
    width: 100%;
  }
}

.txt-small2{
  font-size: 8px !important;
}

.justified5{
  text-align: justify !important;
}

.disappear{
  display: none !important;
}

.no__top{
  padding-top: 0 !important;
}

.black{
  color: #50535A !important;
}

.no-border-bottom{
  border-bottom: 0px !important
}

//- HOTFIX-ITEMM-19
.ie11 {
  .card__item {
    align-items: center;
  }
}

//- Bloque
.card__item-row {
  @include flexbox;
  @include align-items(center);
  margin: 0 auto;

  .card__txt {
    padding-left: $sp-xsmall;

    &:first-child {
      padding-right: $sp-xsmall;
      border-right: 1px solid $c-default-3;
    }
  }
}


//- Estructura
.card__grid {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

//- Elemento
.card__title {
  padding: $sp-medium $sp-xsmall;
  color: $c-neutro;
  font-family: $f-default;
  @include font-rem(30px);
  margin: 0;
}

//- Elemento
.card__tag {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 4px;
    border-radius: 3px;
    width: 100%;
    background-color: $c-brand;
  }

  .card__tag-txt {
    position: relative;
    top: 50%;
    display: block;
    margin: 0 auto;
    color: $c-neutro;
    @include font-rem(14px);
    line-height: 1.7;
    transform: translateY(-50%);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      display: block;
      min-width: 150px;
      border-radius: 20px;
      height: 24px;
      -webkit-box-shadow: 0px 0px 53px -9px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 53px -9px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 53px -9px rgba(0, 0, 0, 0.3);
      background-color: $c-brand;
      transform: translateX(-50%);
    }
  }

  &.card__tag_magenta {
    &:before {
      background-color: $c-tag-1_l;
    }

    .card__tag-txt {
      &:after {
        background-color: $c-tag-1_l;
      }
    }
  }
}


//- Elemento
.card__tag-txt {
  font-family: $f-bold;
  text-transform: uppercase;
  @include font-rem(13px);
}



//- Elemento
.card__subtitle {
  padding-bottom: 5px;
  margin: 0;
  font-family: $f-regular;
  @include font-rem(14px);
  color: $c-default-6;
}

//- Elemento
.card__ico {
  padding: 0 12px;
  @include font-rem(0px);

  &:before {
    @include font-rem(18px);
    color: $c-default;
  }
}

//- Elemento
.card__txt {
  display: inherit;
  @include font-rem(16px);
  font-family: $f-regular;
  margin: 0 auto;
}

//- Modificador
.card__txt_brand {
  color: $c-brand-2;
  @include font-rem(14px);
}

//- Elemento
.card__txt-sm {
  @include font-rem(14px);
  font-family: $f-default;
}

//- Elemento
.card__txt-md {
  @include font-rem(24px);
}

//- Elemento
//- HOTFIX-ETEMM-23: Ancho para issue IE11 Textos desbordados
.card__txt-bold {
  width: 100%;
  @include font-rem(18px);
  font-family: $f-bold;
}

//- Elemento
.card__txt-through {
  @include font-rem(18px);
  font-family: $f-default;
  color: $c-default-3;
}


//- Elemento
.card__img {
  margin: 0 $sp-xsmall;
  max-width: 24px;
}

//- Elemento
.card__btn {
  display: block;
  width: 100%;
}

/*------------------------------------*\
    CARD-CHECK
\*------------------------------------*/

//- Modificador
.card_check {
  .card__content {
    @include box_shadow(7);
    height: auto !important;
  }

  //- Estructura  
  //- Estructura  
  .card__item {
      min-height: auto !important;
      height: auto !important;
      padding:0;
    > p,
    > div,
    > small{
        &:first-child{
            padding-top:16px;
        }
        &:last-child{
            padding-bottom:16px;
        }
    }
    .list-ico {
      margin: 0 auto;
      padding-bottom: 4px;
    }

    .card__row_inline {
      padding: $sp-xsmall 0;
      margin: 0 auto;
    }

  }

  .card__title {
    padding: 0;
    line-height: 1;
    @include font-rem(38px);
  }

  .card__ico {
    padding: 0 6px;
  }

  //- Modificador
  .card__txt_brand {
    padding-left: 5px;
  }

  .card__txt {
    margin: 0 auto;

    &:before {
      padding-right: 6px;
      vertical-align: middle;
      @include font-rem(28px);
    }

    &.i-cloud {
      &:before {
        @include font-rem(18px);
      }
    }
  }

  //- Estructura
  .card__row {
    text-align: center;

    .card__txt {
      padding-bottom: $sp-xsmall;
    }
  }

  //- Estructura
  .card__row_inline {
    .form__label_check {
      &:before {
        margin-right: $sp-xsmall;
      }
    }
  }

  //-Elemento
  .btn-i {
    color: $c-default-6;
  }

  .big-letter{
    font-size: 20px !important;
    margin-left: 20px !important;
  }


  .form__check {
    &:checked~.tool-box {
      .btn-i {
        color: $c-alert;
      }
    }
  }


  //-Elemento
  .card__success {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 14px;
    text-align: center;
    background-color: $c-neutro;
    font-family: $f-bold;
    letter-spacing: .02em;
    transition: transform 0.2s linear;
    transform: translateY(200%);
    border-radius: 4px;

    &:before {
      color: $c-brand;
      @include font-rem(20px);
      padding-right: $sp-xsmall;
      position: relative;
      top: 4px;
    }
  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card_check .big-letter {
    font-size: 20px !important;
    margin-left: 60px !important;
  }
}

@supports (-ms-accelerator:true) {
  .card_check .big-letter {
    font-size: 20px !important;
    margin-left: 60px !important;
  }
}
/*------------------------------------*\
    CARD-PICKED JS
\*------------------------------------*/

//- Javascript
.card_active {
  .card__header {
    background-color: $c-brand;
  }

  .card__foot {
    min-height: 72px;
  }

  .btn {
    height: 1px;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    background-color: $c-brand-2;
  }

  .card__success {
    position: relative;
    transform: translateY(0);

  }
}

/*------------------------------------*\
  CARD-RADIO
\*------------------------------------*/

// Radio Buttons Card
.card-radio {
  min-width: 210px;
  margin: 5px;
  padding-bottom: $sp-small;
}

.card-radio__title {
  display: inline-block;
  padding-bottom: $sp-xsmall;
}

.card-radio__list {
  list-style: none;
}

.card-radio__item {
  display: block;
  padding: $sp-xsmall 0;
}

.card-radio__input {
  opacity: 0;

  &:checked+.card-radio__label {
    &:before {
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }

    &:after {
      width: 14px;
      height: 14px;
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
  }
}

.card-radio__label {
  position: relative;
  left: 20px;
  vertical-align: middle;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -35px;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $c-brand-2;
    background-color: $c-neutro;
  }

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 0;
    transform: scale(0);
    border-radius: 50%;
    background-color: $c-brand-2;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }
}

/**
 * @molecule Card Box
 * @section Bloques
 * @modifiers
 *  .card-box__grid Grid de posiciones de los Radiobuttons
 *  .card-box__slot Label del Radio Button
 * @markup
 *   <div class="card-box__grid">
 *     <label class="card-box__slot" for="recharge1"><span class="card-box__txt-xl">3000 MB</span><small class="card-box__txt-sm">$60</small>
 *       <ul class="card-box__list">
 *         <li class="card-box__item">Minutos y SMS ilimitados</li>
 *         <li class="card-box__item">Whatsapp Ilimitado</li>
 *         <li class="card-box__item">Vigencia 30 días</li>
 *       </ul><a class="card-box__link link__brand" href="#" title="Ver más información" style="display: none;">Ver más información</a>
 *     </label>
 *     <input type="radio" name="recharge" value="recharge1">
 *   </div>
 */

/*------------------------------------*\
    CARD-BOX
\*------------------------------------*/

// Box card
.card-box,
.card-box__slot {
  display: block; // min-width: 210px;
  padding: $sp-small;
  border: 1px solid $c-default-3;
  border-radius: 4px;
  margin: 5px;
}

.card-box__slot {
  padding: $sp-xsmall;
}

.card-box__txt-xl {
  @include font-rem(32px);
  font-family: $f-light;
  vertical-align: middle;
  padding-top: $sp-xsmall;
}

.card-box__txt-sm {
  display: inline-block;
  color: $c-brand-2;
  @include font-rem(18px);
  font-family: $f-bold;
  vertical-align: middle;
  padding-left: $sp-xsmall;
  padding-bottom: $sp-xsmall;
}

.card-box__list {
  list-style: none;
}

.card-box__item {
  display: block;
  padding-bottom: 8px;
  @include font-rem(14px);
}

.card-box__link {
  display: block;
  width: 80%;
  text-align: center;
}

/*--Bloque card-box Radio button---*/

.card-box__input {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;

  &:checked+.card-box__slot {
    //transition: all 0.3s;
    border: 2px solid $c-brand-2;
    position: relative;

    &:after {
      position: absolute;
      top: 22px;
      left: -9px;
      display: block;
      content: '\e939';
      font-family: 'icomoon' !important;
      @include font-rem(18px);
      color: $c-brand-2;
    }

    &:before {
      position: absolute;
      top: 26px;
      left: -7px;
      display: block;
      content: '';
      width: 14px;
      height: 14px;
      background-color: $c-neutro;
      border-radius: 50%;
    }

    .card-box__txt-xl {
      color: $c-brand-2;
      font-family: $f-default;
    }
  }
}

.service5{
  width: 85px !important;
  padding: 0 20px !important;
}

.service6{
  width: 85px !important;
  padding: 0 20px !important;
  margin-left: 16px !important;
  margin-right: -9px !important;
}

.data__ico5:before{
  font-size: 30px !important;
  width: 30px !important;
  color: #00A9E0 !important;
  padding-left: 7px !important;
}

@media (max-width: 736px) {
  .service6{
    margin-left: 14px !important;
    margin-right: -19px !important;
  }
}

/*--Label card-box Radio button [step 2 board-tabs.pug]---*/

.card-box__slot {
  // max-width: 250px;
  margin: 0 auto;
  background-color: $c-neutro;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  }

  .card-box__txt-xl,
  .card-box__txt-sm {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }

  .card-box__txt-sm {
    width: 30%;
    text-align: right;
  }

  .card-box__txt-xl {
    width: 69%;
    padding-bottom: $sp-xsmall;
  }
}

//- Mobile Start
@include media-query(max-medium) {
  .card {
    .card_mobile {
      @include flexbox;
    }

    .card_desktop,
    .card_desktop.list-ico {
      display: none;
    }

    .list-ico {
      @include flexbox;
      padding: 8px 0;
    }
  }
  .img_promo{
    position: relative;
    z-index: 999999;
    height: 100px;
    right: 2%;
    color: #fff;
    }

    .texto_promo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 10px;
    }
    .img-k{
      height: 100px !important;
      width: 100px !important;
    }

  .texto_promo_plan
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -125%);
    font-size: 12px;
  }
   .module_promo_slot{
     margin: 0 !important;
   }
   .body_promo_plan{
     text-align: left !important;
   }

  .card_check {

    .card__header {
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(stretch);
      background-color: $c-neutro;
      border-bottom: 1px solid $c-default-4;
      padding: $sp-small;
      transition: all ease-out .3s;

      .card__header-block {
        display: none;
      }
    }


    .card__wrap {
      display: none;
      background-color: $c-default-5;
    }

    .card__title {
      @include font-rem(30px);
      color: $c-default;
    }


    .card__header-info {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(flex-end);
      @include justify-content(space-between);
    }

    .card__header-btn {
      padding: 0;
      @include font-rem(0px);

      &:before {
        display: block;
        @include font-rem(20px);
        color: $c-default-1;
        text-align: right;
        transition: rotate 2s;
      }
    }

    .card__header-item {
      text-align: left;
      color: $c-default;
    }

    .card__txt-sm {
      @include font-rem(16px);
    }

    .card__item {
      .card__txt-sm {
        font-family: $f-bold;
      }

      .card__row_inline {
        // padding: 20px 0;

        .tool {
          right: -48px;

          &:before {
            left: 62%;
          }
        }
      }
    }

  }

  .card__content {
    margin: 0 20px;
  }

  .card__foot-box {
    padding: $sp-xsmall;
  }

  .card__txt-high {
    color: $c-brand;
    font-family: $f-regular;
    @include font-rem(20px);
  }

  .card__txt-sm {
    display: block;
    font-family: $f-regular;
    color: $c-default-1;
    text-align: right;
  }

  //- js
  .card-dropdown_active {
    .card {
      background-color: $c-default-5;

      &.card_check {
        .card__header {
          background-color: transparent;
          border: 0;
        }
      }
    }

    .card__header-btn {
      &:before {
        transform: rotate(180deg);
      }
    }

  }

}

//- EndMobile Start



// $bp-small-medium : 640px;
@include media-query(small-medium) {
  .card-box__slot {
    max-width: 300px;
  }
}

//- bp-medium 768px
@include media-query(medium) {

  //- Modificador
  .card_check {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(flex-start);
    height: 100%;

    .card__header {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      width: 100%;
      //height: 100%;
      min-height: 155px;
      padding: $sp-xsmall;
      border-top: none;
      color: $c-neutro;
    }

    .card__item {
      .card__row_inline {
        padding: 33px 0;

        .tool {
          right: -50%;

          &:before {
            right: -95px;
            left: 0;
            transform: translateX(0);
          }
        }
      }
    }
  }

  //- Elemento
  .card__title {
    @include font-rem(36px);
  }

  //- Elemento
  .card__ico {
    &:before {
      @include font-rem(20px);
    }
  }

  .card__content {

    height: auto !important;
    .card__txt-high {
      margin: 0 auto;
    }
  }

  .card__position {
    position: absolute;
    right: -20px;
    top: -28px;
  }
}



//- bp-medium 1024px
@include media-query(wide) {

  //- Elemento
  .card__title {
    @include font-rem(42px);
  }
}


//- bp-medium 1280px
@include media-query(big) {

  //- Elemento
  .card__title {
    @include font-rem(50px);
  }

  //- Elemento
  .card__txt {
    @include font-rem(20px);
  }

  //- Bloque
  .card__item-row {
    .card__txt {
      @include font-rem(20px);
    }
  }

}
