/**
 * @molecule Modal
 * @section Bloques
 * @markup
 *  <div class="modal__view">
 *    <div class="modal__box">
 *      <button class="modal__close i-x">Cerrar</button>
 *      <img class="modal__img" src="../static/img/m-movistar-green.svg" alt="App Store">
 *      <h3 class="modal__title">Alerta</h3>
 *      <p class="modal__txt">No podrás comprar más de 5 productos del mismo tipo.</p>
 *      <button class="modal__btn btn btn__brand">Comprar otros productos</button>
 *    </div>
 *  </div>
 */

// Modificador  para cada color
$colorList: ( ok: $c-ok, warning: $c-warning, caution: $c-caution);
@each $name-color,
$bgcolor in $colorList {
  .card-ico__#{$name-color} {
    background-color: $bgcolor;
  }
  .card-top__#{$name-color} {
    color: $bgcolor;
  }
}

//-Bloque Alerta
.card-ico {
  color: $c-neutro;
  text-align: center;
  padding: $sp-medium $sp-small;
}

.card-ico__title {
  @include font-rem(36px);
  line-height: 1;
  padding-bottom: $sp-small;
  &:before {
    display: block;
    @include font-rem(90px);
    padding-bottom: $sp-small;
  }
}

.card-ico__txt {
  @include font-rem(20px);
}

.real__white{
  color: #ffffffbf;
}

.board5{
  border: 0px !important;
}

.border-list5{
  padding-top: 20px !important;
  padding-bottom: 0px !important;
}

.border-cont5{
  margin-bottom: 20px !important;
  border: 0px !important;
}

.board__inner5{
  padding: 20px 60px !important;
}

.border-list6{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.border-cont6{
  border-bottom: 1px solid #E9EAE8 !important;
  margin-bottom: 30px !important;
}

.row-order__row5{
  padding: 5px 10px !important;
  margin-bottom: 0 !important; 
  padding-top: 15px !important;
}

.row-order__row5:nth-child(odd){
  background-color: #F5F5F5 !important;
}

.down-margin{
  margin-bottom: -15px !important;
}

.dif-font{
  font-weight: 100 !important;
}

.row-order__row5 dt{
  font-weight: 200 !important;
}

.up-margin5{
  margin-top: -60px;
}

.new__pos{
  width: 100% !important;
  padding-left: 30vw;
}

.all__width6{
  width: 100%;
}

.blocked5{
  text-align: center !important;
  margin: auto !important;
  display: block !important;
}

.border-text5{
  padding-bottom: 0px !important;
}

.yall{
  padding: 10px !important;
}

.flexed5{
  display: contents !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .flexed7 {
    display: flex !important;
    width: 100% !important;
  }

  .cincuenta{
    width: 50% !important;
  }

  .new__pos{
    padding-left: 30vw !important;
  }
}

@supports (-ms-accelerator:true) {
  .flexed7 {
    display: flex !important;
    width: 100% !important;
  }

  .cincuenta{
    width: 50% !important;
  }

  .new__pos{
    padding-left: 30vw !important;
  }
}

@media (max-width: 737px) {
  .flexed5 {
    display: flex !important;
  }

  .flexed5 dl{
    width: 50% !important;
  }

  .yall{
    padding: 5px !important;
  }
}

@media (max-width: 735px) {
  .new__pos{
    padding-left: 0vw !important;
  }
}

.card-ico__bold {
  font-family: $f-bold;
  @include font-rem(20px);
  margin-top: 20px;
}

// Media query desde 768px
@include media-query(medium) {
  .card-ico__title {
    @include font-rem(43px);
  }
}
// Media query desde 1024px
@include media-query(wide) {
  .card-ico__title {
    @include font-rem(50px);
  }
}
