.card-block {
  padding: 10px 0 28px;
  border: 1px solid $c-default-6;
  outline: none;
  background-color: $c-neutro;
}

.card-block__header {
  position: relative;
  width: 94%;
  margin: 0 auto;
  text-align: center;
}

.card-block_hide {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: -2;

  .card-block__content {
    display: block;
  }

  .card-block__content_center {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    height: calc(100% - 46px);
    text-align: center;
  }

  .card-block__code {
    color: $c-default-6;
  }

  &.js-cardModalOpen {
    opacity: 1;
    z-index: 5;
  }
}

.card-recharge {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.card-recharge__close {
  background-color: transparent;
  color: #50535A;
  @include font-rem(10px);
  margin-right: 10px;
  text-align: right;
}

.card-recharge__content {
  max-width: 340px;
  margin: auto;
  padding: 0 10px;
}

.card-recharge__block {
  border-bottom: 1px solid $c-default-6;
  padding: 14px 0;
}

/* Estilos para modal de recarga */
.card-recharge__title {
  color: $c-default-1;
  font-family: $f-bold;
  @include font-rem(16px);
  line-height: 25px;
  text-transform: uppercase;
}

.card-recharge__txt {
  color: $c-default-1;
  font-family: $f-regular;
  @include font-rem(16px);
  line-height: 19px;
}

.card-recharge__phone {
  color: $c-brand;
  font-family: $f-light;
  @include font-rem(40px);
  line-height: 40px;
  margin: 10px 0;
}

.card-recharge__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-recharge__info-left {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: $c-brand-2;
  }
}

.card-recharge__info-right {
  flex-basis: 100%;
}

.card-recharge__time {
  @include font-rem(24px);
  margin-bottom: 4px;

  span {
    font-family: $f-regular;
  }
}

.card-recharge__applications {
  display: flex;
  flex-basis: 100%;
  justify-content: center;

  & > * {
    @include font-rem(12px);
    margin-right: 10px;
  }
}

.card-recharge__price {
  background-color: $c-brand-2;
  color: $c-neutro;
  font-family: $f-bold;
  @include font-rem(24px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 80%;
  margin: 10px auto 0;
}

.card-recharge__data-card {
  margin: 14px 0;

  .card-recharge__txt {
    @include font-rem(18px);

    &:before {
      color: $c-brand-2;
      margin-right: 10px;
    }
  }
}

.card-recharge__auto {
  padding: 14px 0;

  .card-recharge__txt {
    margin: 10px 0;
  }
}

/* Toggle switch adaptado a este modal */
.card-recharge__toggle {
  justify-content: center;

  .es-toggle-switch__input:checked ~ .es-toggle-switch__label {
    background: $c-brand;
  }

  .es-toggle-switch__txt {
    color: $c-default-1;
    font-family: $f-regular;
    @include font-rem(14px);

    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}

.card-recharge__total {
  display: flex;
  justify-content: space-between;
}

.card-recharge__total-label {
  color: $c-default;
  font-family: $f-bold;
  @include font-rem(22px);
}

.card-recharge__total-price {
  color: $c-brand;
  font-family: $f-regular;
  @include font-rem(22px);
}

.card-recharge__actions{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
}

.card-recharge__btn {
  margin: 20px 0 10px;
}

.card-modal_hide {
  opacity: 1;
  transition: all .3s linear;
}

.card-modal_hide.js-cardModalOpen {
  opacity: .3;
  filter: blur(3px);
  pointer-events: none;
}

.card-recharge__btn-back {
  background-color: transparent;
}

@include media-query(medium) {
  .card-block_hide {
    width: 100%;
    position: absolute;
    transition: all .3s linear;
  }

  .card-recharge {
    max-width: 468px;
    width: 100%;
  }

  .card-recharge__content {
    padding: 0;
  }

  .card-recharge__phone {
    @include font-rem(50px);
  }

  .card-recharge__info {
    justify-content: space-between;
  }

  .card-recharge__info-left {
    flex-basis: 60%;
    justify-content: flex-start;
  }

  .card-recharge__info-right {
    flex-basis: 40%;
  }

  .card-recharge__applications {
    justify-content: flex-start;
  }

  .card-recharge__price {
    margin: 0;
    margin-left: auto;
    width: 104px;
  }
}
