.card-brand {
  height: 100%;
  background-color: $c-brand;
  color: $c-neutro;
  text-align: center;
}

.card-brand_blue {
  background-color: $c-brand-2;
}

.card-brand__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: $sp-medium;
  &:before {
    @include font-rem(60px);
    padding-bottom: $sp-small;
  }
  &.i-youtube-fill {
    &:before {
      @include font-rem(60px);
    }
  }
}

.card-brand__title {
  font-family: $f-light;
  padding-bottom: $sp-xsmall;
  @include font-rem(40px);
  line-height: 1;
}

.card-brand__txt {
  font-family: $f-light;
  line-height: 1.3;
}

//- Medium 768px
@include media-query(medium) {
  .card-brand {
    text-align: left;
  }
  .card-brand__inner {
    padding: $sp-small;
    flex-direction: row;
    max-width: 80%;
    &:before {
      @include font-rem(60px);
      padding-bottom: 0;
    }
  }
  .card-brand__row {
    padding-left: $sp-small;
  }
}

//- Wide 1024px
@include media-query(wide) {}
