.categories-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  margin-bottom: 16px;

  .tabs-bar__link {
    @include font-rem(16px);
    padding: 18px 16px;
  }

  .tabs-bar__link_active {
    font-family: $f-bold;
  }
}
