.date-picker {
  padding: $sp-small 0;
}
.date-picker__txt {
  font-family: $f-regular;
  color: $c-brand-2;
}
.date-picker__date {
  display: inline-flex;
  align-items: center;
  color: $c-default;
  padding-left: $sp-xsmall;
  &:before {
    @include font-rem(14px);
    color: $c-brand-2;
    order: 2;
    padding-left: $sp-xsmall;
    //transition: transform 0.2s ease-in-out;
  }
  &.active_up {
    &:before {
      padding-right: 10px;
      transform: rotate(180deg);
      transform-origin: 0;
    }
  }
}
