/*------------------------------------*\
    Pasos de checkout
\*------------------------------------*/
.center{
  margin: auto;
  display: table;
}

.left{
  float: right;
  color: #00A9E0;
}

.step__set {
  &:before {
    content: "";
  }
  .list-thumb__boll {
    padding: 8px 14px;
  }
}
.step__legend {
  width: 100%;
  padding: 20px 10px 6px;
  margin: 6px 0;
  color: $c-default-1;
  background-color: $c-default-5;
}

.step__set_active {
  .step__legend {
    color: $c-neutro;
    background-color: $c-brand-2;
  }
}

.success_show {
  display: none;
}

.step__grid {
  @include flexbox;
  @include align-items(center);
  padding-right: 10px;
}

.step__value {
  padding-right: 14px;
  font-family: $f-bold;
  @include font-rem(48px);
}

.step__title {
  padding-bottom: 4px;
  font-family: $f-bold;
  @include font-rem(20px);
}

.step__txt  {
  font-family: $f-regular;
  color: $c-default-1;
}


.step__set_success {
  position: relative;
  margin: 6px 0;
  background-color: $c-default-5;
  &:before {
    content: unicode($i-check);
    position: absolute;
    top: 42%;
    left: 20px;
    transform: translateY(-50%);
    color: $c-brand;
    @include font-rem(34px);
  }
  .step__legend {
    padding: 20px 20px 6px 90px;
    margin: 0;
  }
    .step__value {
      display: none;
    }
  .success_show {
    display: block;
  }
  .step__lead {
    padding: 0 20px 10px 90px;
  }
  .link {
    padding: 0 0 20px 90px;
    text-decoration: underline;
    color: $c-brand-2;
    @include font-rem(14px);
    background-color: transparent;
  }
}

.pos-form__legend {
  &.pos-form__legend_sm {
    padding-bottom: $sp-small;
    @include font-rem(18px);
    border-bottom: 1px solid $c-default-6;
  }
}

.step__content {
  width: 90%;
  margin: 0 auto;
  .form__box_under {
    padding-bottom: $sp-small;
  }
}

.step__content2{
  max-width: 650px !important;
}

.a-ruby{
  display: ruby !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .i-check2{
    margin-left: 125px !important;
  }
}

@supports (-ms-accelerator:true) {
  .i-check2{
    margin-left: 125px !important;
  }
}

@media (max-width: 737px) {
  .i-check2{
    white-space: pre-line !important;
  }

  .step__set_success:before {
    top: 28% !important;
  }

}

.i-check2{
  display: -webkit-box;
  margin: 0 19%;
}

.new__margin{
  padding: 20px 0;
}

@media (max-width: 415px) {
  .i-check2{
    margin: 0 !important;
    max-width: 90% !important;
  }
}

@media (max-width: 736px) and  (min-width: 416px){
  .i-check2{
    margin: 0 13% !important;
  }
}

@media (max-width: 1024px) and (min-width: 737px){
  .i-check2{
    margin: 0 13% !important;
  }
}

@include media-query(medium) {
  .step__content {
    max-width: 500px;
    // margin-left: 70px;
  }

  .step__legend {
    padding: 4px 34px 4px 30px;
  }

  .step__title {
    @include font-rem(24px);
  }
  .step__set_active {
    .step__title {
      padding-bottom: 0;
    }
  }
  .step__set_success {
    padding-bottom: 30px;
    .step__legend {
      padding: 30px 90px 0 100px;
    }
    .step__lead {
      padding: 0 90px 0 100px;
    }
    .link {
      padding: 0;
      position: absolute;
      top: 50%;
      right: 34px;
      transform: translateY(-50%);
    }
  }
}

@include media-query(large) {
  .step__content {
    //margin-left: 70px;
  }
}
