.data-pack {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: stretch;
  overflow: hidden;
}

.data-pack__slot {
  height: 100%;
}

.data-foot {
  margin-bottom: $sp-wide;
}

.data-head {
  padding: $sp-medium 0;
}

//- Max 640px
@include media-query(max-small-medium) {
  .data-head {
    padding-top: $sp-wide;
  }
  .data-pack {

    .data-sheet {
      &:last-child {
        display: none;
      }
    }
  }

  .data-sheet__table {
    .data-sheet__row {
      &:last-child {
        display: none;
      }
    }
  }
}

@include media-query(max-medium) {
  .data-head {
    padding-top: 50px;

  }
}
@include media-query(medium) {
  .data-head {
    padding-bottom: $sp-medium;

  }
}
