/*------------------------------------*\
  Estilos checkout Data Layout 2 columnas
\*------------------------------------*/
//- Componente General
.data {
  padding-bottom: 50px;

  .link {
    background-color: transparent;
  }
}

.js-value{
  font-weight: bolder;
}

.top{
  margin-bottom: 20px;
}

//- Modificador
.data_canvas {
  margin: 0 auto;
  height: 100%;

  .data__aside {
    height: 100%;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }
}

//- Modificador
.data_border {
  border-top: 1px dashed $c-default-3;
  border-bottom: 1px dashed $c-default-3;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: $c-default-3;
    border-radius: 50%;
  }

  &:before {
    top: -3px;
    left: 0;
  }

  &:after {
    bottom: -3px;
    left: 0;
  }
}

//- Modificador
.data_border-top {
  border-top: 1px solid $c-default-3;
  position: relative;
  padding-top: $sp-medium;
}

//- Modificador
.data_border-bottom {
  border-bottom: 1px dashed $c-default-3;
  position: relative;
  padding-bottom: $sp-small;

  &:after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    bottom: -3px;
    left: 0;
    background-color: $c-default-3;
    border-radius: 50%;
  }
}

//- Caja estructural a 100% de ancho
//- Estructura
.data__header-full {
  width: 100%;
  text-align: center;
  padding-bottom: $sp-small;
  margin-bottom: $sp-medium;
  border-bottom: 1px solid $c-default-3;
  @media (max-width: 767.9px){
    padding: 40px 0px 0px !important;
    border:none;
  }
}

//- Estructura
.data__header {
  max-width: 480px;
  text-align: right;
}

//- Estructura
.data__head {
  padding: $sp-small 0;
}

//- Elemento
.data__title,
.data__title-lead {
  @include font-rem(16px);
  font-family: $f-bold;
  text-align: left;
}


//- Elemento
.data__title-section {
  @include font-rem(24px);
  font-family: $f-bold;
  text-align: left;
  padding: $sp-small 0;
}

//- modificador
.data__title-small {
  font-family: $f-bold;
}

//-Elemento
.data__subtitle {
  margin: 0;
  padding-bottom: 8px;
  color: $c-default-1;
}

//- Modificador
.data__txt-small {
  font-family: $f-bold;
  @include font-rem(14px);
}

//- Modificador
.data__txt-bold {
  font-family: $f-bold;
  @include font-rem(14px);
}

//- Modificador
.data__txt-big {
  font-family: $f-bold;
  @include font-rem(21px);
  color: $c-brand;
}

//- Modificador
.data__txt-biglight {
  font-family: $f-light;
  @include font-rem(21px);
  color: $c-default-1;
}

//-Elemento
.data__small-underline {
  @include font-rem(12px);
  font-family: $f-bold;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $c-default-3;
  }
}

//- Elemento
.data__btn {
  &.btn_neutro {
    display: block;
    width: 100%;
    max-width: 260px;
    margin: $sp-small auto 0;
  }
}

.js-dataWidth {
  .data__btn {
    &:after {
      transform: rotate(180deg);
    }
  }
}

//- Estructura
.data__inner {
  padding: $sp-small;

  .data__txt-bold {
    padding-bottom: $sp-xsmall;
  }

  .data__txt {
    @include font-rem(14px);
  }
}

//- Bloque
.data__pullquote {
  position: relative;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $c-default-4;
    margin-top: 4px;
  }

  .tag {
    position: absolute;
    left: 0;
    bottom: -27px;
    font-family: $f-default;
  }

  .data__txt-small {
    display: none;
  }

  .data__title {
    @include font-rem(24px);
    padding-bottom: 5px;
  }
}





//- Bloque
.data__aside-wrap {
  padding: $sp-small-medium;

  .data__aside-link {
    padding: 20px 0;
  }
}

//- Bloque
.data__aside-inner {
  padding: $sp-small $sp-small $sp-xsmall;
  border: 1px solid $c-default-3;
  max-width: 360px;
  margin: 0 auto;
}

//- Bloque
.data__list {
  @include flexbox;
  @include justify-content(space-between);
  padding: 14px 0px;
}

//- Elemento
.data__list-item {
  .data__tag {
    display: block;
    max-width: 90px;
    min-width: 85px;
    margin-left: 0;
    border: 1px solid $c-brand-2;
    color: $c-brand-2;
  }
}

//- Elemento
.data__term {
  color: $c-default-1;
  @include font-rem(16px);
  font-family: $f-regular;
}

//- Elemento
.data__value {
  text-align: right;
  @include font-rem(16px);
  font-family: $f-bold;
}

.data__list_subtotal {
  padding-bottom: 4px;

  .data__term {
    font-family: $f-default;
    @include font-rem(20px);
    color: $c-default;
  }

  .data__total {
    font-family: $f-default;
    @include font-rem(20px);
    color: $c-default;
  }
}

//- Estructura
.data__form {
  padding-top: 16px;
}

//- Estructura
.data__wrap {
  width: 100%;
  margin: 0 auto;

  .form_size {
    margin: 0 auto;
  }
}

//- Bloque
.data__summary {
  padding-bottom: 22px;

  .data__term {
    color: $c-default;
    font-family: $f-bold;
    @include font-rem(20px);
  }

  .data__total {
    text-align: right;
    font-weight: bolder;
  }
}

.data__sub-summary {
  padding: 40px 0 0;

  .data__term {
    font-family: $f-default;
    @include font-rem(20px);
  }

  .data__total {
    font-family: $f-default;
    color: $c-default-1;
    @include font-rem(20px);
  }
}

//- Elemento
.data__total {
  font-family: $f-regular;
  @include font-rem(20px);
  color: #50353A;
}

//- Elemento
.data__sup {
  font-family: $f-default;
  color: $c-warning;
  @include font-rem(12px);
}

//- Elemento
.data__actions {
  margin: 0 -26px;
}

//- Elemento
.data_btn {
  width: 100%;
}

//- Bloque
.data__info {
  @include flexbox;
  @include justify-content(center);
  @include align-items(flex-start);
  padding: 26px 0;
  border-top: 1px solid $c-default-4;
}

//- Elemento
.data__label {
  width: 30%;
  font-family: $f-bold;
  @include font-rem(18px);
  text-align: center;
  @media (max-width: 375px){
    display: none;
  }
}

//- Elemento
.data__info-img {
  width: 100%;
  max-width: 280px;
}

//- Estructura
.data__item {
  padding-bottom: 8px;
  margin-top: 16px;
  //border-top: 1px solid $c-default-4;

  .tag {
    display: inline-block;
  }

  &.data__row {
    padding: $sp-medium 0;
  }

  .data__order-left {
    &:first-child {
      padding-bottom: $sp-small;
    }
  }
}

//- Estructura
.data__grid {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  padding-top: 24px;

  &.data_border {
    padding: $sp-small 0;
    max-width: 600px;
    margin: 0 0 0 auto;
  }
}

//- Estructura
.data__col {
  @include flexbox;
  @include align-items(flex-start);
  width: 100%;
}

//- Estructura
//- Estructura Flexbox de organización
.data__flex {
  @include flexbox;
  width: 100%;
  padding-bottom: $sp-small;
}

//- Modificador
.data__flex_calc {
  display: block;
  width: calc(100% - 18%);
  margin: 0 0 0 auto;

  &.data__grid {
    &.data_border {
      max-width: none;
      padding: $sp-small $sp-xsmall $sp-small 0;
      border-bottom: none;

      &::after {
        display: none;
      }
    }
  }

  .data__order-list {
    padding-bottom: $sp-small;
  }

  .data__order-sublist {
    width: auto;
    max-width: none;
    @include flex(0 60%);

    .data__ico {
      max-width: none;

      &:before {
        @include font-rem(26px);
        width: 46px;
      }
    }
  }

  //- Modificador
  &.data_border-bottom {
    margin-bottom: $sp-small;
  }
}


//- Bloque
.data__crop {
  @include flex(0 18%);
  @include align-self(center);

  .data__img {
    display: block;
    width: 100%;
    max-width: 60px;
    margin: 0 auto;
  }
}

//- Estructura
.data__lead {
  // @include flex(1 calc(100% - 41%));
  @include align-self(stretch);
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-around);
  padding: 0 0 0 10px;

  .data__title-lead {
    padding-bottom: $sp-xsmall;
  }

  .data__th {
    @include font-rem(12px);
  }

  .data__group {
    @include flex-wrap(nowrap);
  }
}

//- Bloque
.data__box {
  // @include flex(0 23%);
  @include align-self(center);
  text-align: right;
  margin-left: auto;

  .data__price {
    font-family: $f-regular;
    @include font-rem(18px);
  }
}



//---  DATA ORDER ---
.data__order {
  .data__order-item {
    @include justify-content(center);
  }

  .data__row {
    padding-bottom: $sp-small;
  }

  .data__order-txt {
    padding-bottom: $sp-xsmall;
  }

  &.data__order-list {
    padding-bottom: $sp-small;
  }
}

//-Elemento
.data__order-crop {
  width: 100%;
  max-width: 40px;
}

//-Elemento
.data__order-brand {
  // width: 100%;
  @include flex(1 28%);

  .link.link__brand {
    padding: 0;
  }
}

//-Elemento
.data__order-btn {
  display: block;
  padding: $sp-xsmall;
}

//-Elemento
.data__order-img {
  width: 100%;
  max-width: 110px;
}

//-Elemento
.data__order-txt {
  @include font-rem(14px);

  .txt_bold {
    display: inline-block;
    padding: 0 5px;
  }
}

//- Estructura
.data__order-list {
  @include flexbox;
  @include align-items(stretch);
  width: 100%;
}

//- modificador
.data__order-list_calc {
  width: calc(100% - 18%);
  margin: 0 0 0 auto;
  padding-bottom: $sp-medium;

  .data__order-sublist {
    .data__ico {
      @include font-rem(14px);
      max-width: none;
    }
  }
}

//- Estructura a la izquierda
.data__order-left {
  @include flexbox;
  @include align-items(center);
  width: 100%;

  //-Elemento
  .data__order-crop {
    margin-right: $sp-small;
  }

  .data__order-txt {
    padding-bottom: $sp-xsmall;
  }
}

//- Estructura
.data__order-sublist {
  width: 48%;
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);

  .data__ico {
    max-width: 100px;
  }
}

.data__order-sublist,
.data__order-item {
  list-style: none;
}

//- Elemento
.data__order-item {
  @include flexbox;
  @include flex(1);
  @include flex-direction(column);
  @include align-items(flex-end);
  @include justify-content(space-between);
  padding: 4px 0;

  .pos-data__th {
    text-align: right;
    padding-left: 4px;
  }
}

//- Elemento
.data__order-link {
  margin: 0 0 0 auto;
  @include font-rem(12px);
}

//- Elemento
.data__subitem {
  width: 50%;
}

//- Elemento
.data__subitem_huge {
  width: 100%;
}

//- Elemento
.data__caption {
  padding-left: 24px;
}

//- Elemento
.data__th {
  display: block;
  padding-bottom: 10px;
  font-family: $f-bold;
  @include font-rem(14px);
}

//- Elemento
.data__link {
  display: block;
  text-decoration: underline;
  @include font-rem(14px);
  color: $c-default-7;

  &:hover {
    font-family: $f-regular;
  }
}

//- Estructura
.data__group {
  @include flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);

  .list-thumb__boll {
    padding: 4px;
    min-width: 80px;
  }
}

//- modificador
.data__thumb_red {
  background-color: $c-alert;
  color: $c-alert;
  border-color: $c-alert;
}

//- modificador
.data__thumb_brand {
  background-color: $c-neutro;
  color: $c-brand-2;
  border-color: $c-brand-2;
}

//-Elemento
.data__tag {
  padding: 3px;
  margin-left: 12px;
}

//-Elemento
.data__img {
  margin-top: -10px;
}

//- Elemento
.data__ico {
  @include flexbox;
  @include align-items(center);
  @include font-rem(12px);
  font-family: $f-bold;
  line-height: 1.2;
  padding-right: 4px;

  &:before {
    @include font-rem(28px);
    color: $c-brand-2;
    padding-right: 6px;
  }
}

.data__ico_brand {
  &:before {
    color: $c-brand;
  }
}


//-Elemento
.data__txt {
  @include flexbox;
  @include align-items(flex-start);
  padding-bottom: 8px;
  &:before {
    line-height: 1;
    color: $c-brand-2;
    padding-right: 16px;
    font-size: 22px;
    position: relative;
    top: 2px;
  }
}

.renovaciones-checkout-index .data__txt{
  display: inline-block !important;
}

//- HOTFIX-INTPOSP-712
.ie11 {
  .data__txt {
    display: block;
  }
}

.data__txt.i-wifi {
  &:before {
    padding-top: 0;
  }
}

//-Elemento
.data__txt_bold {
  font-family: $f-bold;
}

//-Elemento
.data__txt_tall {
  @include font-rem(20px);
}

//-Elemento
.data__list-general {
  list-style: none;
}

//-Elemento
.data__item-bullet {
  position: relative;
  padding-left: 18px;
  @include font-rem(14px);
  color: $c-default-7;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $c-default-7;
  }
}

.data__msg-success {
  display: block;
  margin-top: -20px;
  text-align: center;
  @include font-rem(14px);
  color: $c-brand_l;
}

.data__msg-warning {
  display: block;
  margin: -10px 0 20px;
  @include font-rem(14px);
  color: $c-warning;
}

.data__aside-link {
  display: block;
  @include font-rem(20px);
  text-align: center;
  color: $c-brand-2;

  &:hover {
    color: $c-brand-2-hover;
  }
}

//-Estructura
.data__aside {
  border-top: 1px solid $c-default-4;
}

//-Estructura
.data__aside_no-border {
  border-top: none;
  padding: 0 5px;
  overflow-x: hidden;
}

//- Bloque
.data__tab {
  .data__btn {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    //max-width: 277px;
    padding: $sp-small $sp-xsmall $sp-small 0;
    // background-color: aquamarine;
    background-color: transparent;
    font-family: $f-bold;
    color: $c-default;
    @include font-rem(14px);
    cursor: pointer;

    &:after {
      color: $c-brand-2;
    }
  }

  //- Modificador
  .data__btn_inline {
    @include justify-content(flex-start);
    @include align-items(flex-end);

    &::before {
      padding-left: 10px;
    }
  }

  .link {
    display: block;
    padding: 0 $sp-small;
  }
}

.new__size{
  font-size: 28px !important;
}

//- Bloque
.data__show {
  display: none;
  list-style: none;
  width: 100%;
  opacity: 0;
  transition: opacity .3s linear;
  // padding-top: $sp-xsmall;

  .data__order-img {
    max-width: 45px;
    min-width: 45px;
    height: 30px !important;
  }

  .data__ico {
    padding-right: 0;
    @include flex(1 28%)
  }
}

.data__flex_calc .data__order-sublist .data__ico,
.data__flex_calc .data__order-sublist .data__ico img {
    max-width: 70px;
    min-width: 70px;
}

.ie11 .data_border.data__flex_calc .data__order-list .data__order-sublist .data__ico,
.ie11 .data_border.data__flex_calc .data__order-list .data__order-sublist .data__ico img{
    max-width: 70px;
    min-width: 70px;
    height: 22px !important;
    width: 70px !important;
}
.ie11 .data__flex_calc .data__order-sublist .data__ico.i-padlock:before{
  padding-right: 42px;
}

.js-dataShow {
  &.data__show {
    opacity: 1;
  }
}

//- Estructura
.data__row {
  list-style: none;
  @include flexbox;
  @include justify-content(space-between);
  padding-bottom: 10px;
  // border: 1px solid olive;
}

/*------------------------------------*\
	Component data-aside
\*------------------------------------*/

.data-aside__row {
  margin: $sp-xsmall 0;

  .data__txt-bold {
    padding: $sp-small 0;
  }

  .data__txt {
    @include font-rem(12px);
  }
}

.data-aside__foot {
  .data-aside__link {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

/*------------------------------------*\
	Component data-section
\*------------------------------------*/

//- Bloque Estructura
.data-section {
  @include flexbox;
  width: 100%;
  @include justify-content(space-between);
  @include align-items(flex-start);
  margin: 50px 0 $sp-small 0;
}

//- Modificador
.data-section_wrap {
  @include flex-wrap(wrap);
}

//- Modificador 
.data-section_item {
  @include flex(1 100%);
}

//- Modificador 
.data-section_item-sm {
  @include flex(0 72%);
  margin: 0 0 0 auto;
}


//- bloque
.data-section__aside {
  @include flex(0 28%);
  text-align: center;

  .link {
    display: block;
    padding-top: $sp-xsmall;

  }
}

.data-section__slice5{
  align-self: flex-start !important;
    padding-top: 16px !important;
}

@media only screen and (min-width: 811px){
  .txt-big50{
    margin-top: -50px !important;
  }

  .txt-big75{
    margin-top: -76px !important;
  }
}


//- bloque
.data-section__detail {
  @include flex(1 72%);

  .data__title,
  .data__group,
  .data-section__slice,
  .data-section__item {
    padding-bottom: $sp-xsmall;
  }
}

.data-section__item {
  &.data-section__item_right {
    //-display: none;
    //text-align: right;
    @include font-rem(14px);
    line-height: 1.3;
  }
}

//- bloque
.data-section__inner {
  padding-bottom: $sp-small;

  .data-section__slice {
    list-style: none;
    width: 72%;
    margin: 0 0 0 auto;
    text-align: right;
  }
}

//- Estructura
.data-section__slice {
  @include flexbox;
  @include justify-content(flex-end);
  @include align-items(center);
  @include flex(1 72%);
}


//- Modificador
.data-section__slice_full {
  @include justify-content(space-between);
  padding-top: 20px;

  .data__txt-big {
    @include flex(1 50%);
  }
}


//- Elemento
.data-section__img {
  width: 100%;
  display: block;
  max-width: 60px;
  margin: 0 auto 12px;
}

//- Elemento
.data-section__subitem {
  text-align: right;
  list-style: none;
  @include flex(1);
}

//- Estructura
.data-section__excerpt {
  @include flexbox;
  @include flex-direction(column);

  .data__txt-big {
    display: block;
    @include flex(1 100%);
    align-self: flex-end;
    padding: 10px 0;
  }

  .data-section__item {
    @include flex(1 100%);
  }
}

.data-section__inner {
  width: 100%;
}

.data-section__underline {
  position: relative;
  border-bottom: 1px dashed $c-default-3;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 1px;
    height: 20px;
    background-color: $c-default-3;
  }
}

/*------------------------------------*\
  Bloque Data Aside Toast
\*------------------------------------*/

.data-aside__toast {
  display: none;
  position: relative;
  background-color: #9cd44c; //- Se cambia $c-brand;
  color: $c-neutro;
  padding: $sp-xsmall $sp-xsmall $sp-small $sp-small;
  z-index: 9999999999999;
}

//- Javascript aparece toast
.js-data-aside__active {
  z-index: 2147483646;
  .data-aside__toast {
    display: block;
    width: 100%;
  }
  .data-aside__content {
    border: 2px solid $c-brand;
  }
}

@media only screen and (max-width: 1023px) {
  .js-data-aside__active .data-aside__toast {
    display: block;
    position: fixed;
    top: -172px; 
    left:initial;
    right: 0;
    max-width: 400px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #e9eae8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #e9eae8;
  }
}

.data-aside__close {
  display: block;
  margin: 0 0 0 auto;
  text-align: right;
  padding: 0;
  &:before {
    color: $c-neutro;
    @include font-rem(16px);
  }
}

.data-aside__txt-ico {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  padding-bottom: $sp-xsmall;
  margin: 0 auto;
  &:before {
    @include font-rem(38px);
    vertical-align: middle;
    padding-right: $sp-xsmall;
  }
}





//- Elemento
.data__label-txt {
  @include font-rem(16px);
  font-family: $f-bold;
}


//BP 480px
@include media-query(small-m) {
  .data__crop {
    padding-right: $sp-xsmall;
  }

  .data__box {
    .data__price {
      @include font-rem(21px);
    }
  }

  //- Estructura
  .data__lead {
    padding: 0 5px;
  }

  //- Modificador
  .data__flex_calc {
    .data__order-sublist {
      .data__ico {
        &:before {
          width: 36px;
        }
      }
    }
  }
}



// Bp 768px
@include media-query(medium) {
  .data__title {
    @include font-rem(16px);
  }

  .data {
    @include flexbox;
    @include justify-content(space-between);
  }

  // Bloque Estructural al 64%
  .data__content {
    width: 64%;
    padding-right: 70px;
    padding: 28px 26px 0;
  }

  .data__flex {
    padding-right: $sp-xsmall;
  }

  //- Modificador
  .data_canvas {
    .data__content {
      padding: 0 $sp-small 0 0;
    }
  }

  .data__content_top {
    padding-top: 0;
  }

  //- Estructura al 36%
  .data__aside {
    width: 36%;
    min-width: 364px;
    max-width: 364px;
    height: 100%;
  }

  //- Estructura al 50%
  .data__even {
    width: 40%;
    height: 100%;
  }

  .data__even2{
    width: 30% !important;
  }

  .form__center{
    text-align: center;
  }

  .data__aside-wrap {
    border: 1px solid $c-default-4;
  }

  .data__info {
    padding: 40px 0;
  }

  /*.data__info-img {
    width: 60%;
    max-width: 346px;
  }*/

  .data__label {
    width: 40%;
    min-width: 150px;
    max-width: 200px;
    padding-top: 12px;
    @include font-rem(20px);
    text-align: left;
  }

  //- Caja estructural a 100% de ancho
  .data__header-full {
    margin-bottom: $sp-wide;
  }

  //- Elemento
  .data__order-link {
    margin: 0 0 0 auto;
    padding-right: 25%;
  }

  .data__order-sublist {
    width: 64%; //- Elemento

    .data__ico {
      max-width: 173px;

      &:before {
        @include font-rem(30px);
        width: 45px;
      }
    }
  }

  .data__order-brand {
    @include flex(1 50%);
    @include flexbox;
    @include align-items(center);

    .link.link__brand {
      padding-left: $sp-xsmall;
    }
  }

  .data__show {
    .data__ico {
      @include flex(1 50%);
    }
  }

  .data__order-item {
    padding: $sp-xsmall 0;

    .pos-data__th {
      display: none;
    }
  }

  .data__aside-link {
    padding-top: 24px;
  }

  //- modificador
  .data__order-list_calc {
    padding-bottom: 0;
  }

  .data__txt-small {
    @include font-rem(16px);
  }

  .data__pullquote {
    .data__title {
      @include flex(3);
    }

    .data__txt-small {
      display: block;
      @include flex(1);
      text-align: right;
    }
  }


  //- bloque
  .data__table {
    padding-right: 30px;
  }

  /*------------------------------------*\
	Component data-section
  \*------------------------------------*/

  .data-section__subitem {
    @include flex(0 50%);
    padding-bottom: $sp-xsmall;

    .data__txt-small {
      display: none;
    }
  }

  .data-section_wrap {
    @include align-items(stretch);
  }

  .data-section_item {
    @include flex(0 72%);
    margin: 0 0 0 auto;

    .link__brand {
      display: inline-block;
      //padding-bottom: $sp-small;
    }
  }

  .data-section__detail {
    @include flexbox;
    @include flex-wrap(wrap);
    //width: 80%;
  }

  .data-section__item,
  .data-section__slice {
    width: 50%;
    margin: 0 0 0 auto;
    @include flex(1 50%);
  }

  .data-section__slice {
    @include align-self(flex-end);
  }

  //- bloque
  .data-section__inner {
    width: 80%;
    margin: 0 0 0 auto;
    @include justify-content(flex-end);
    @include flex-direction(column);


    .data-section__slice {
      width: auto;
      @include flex(1 50%);
    }

    //- Modificador
    .data-section__slice_full {
      @include justify-content(flex-end);
      @include flex(1 40%);
      width: 50%;
      margin: 0 0 0 auto;
      text-align: right;
      padding-top: 0;
    }

  }

  .data-section__inner {
    @include flexbox;
    @include flex-wrap(wrap);
  }

  //- Estructura
  .data-section__excerpt {
    padding: $sp-xsmall 0;
    @include flex-direction(row);

    .data__txt-big {
      @include order(1);
      @include flex(1 50%);
      @include align-self(flex-start);
      text-align: right;
    }

    .data-section__item {
      @include flex(1 50%);
    }
  }




  /*------------------------------------*\
	Clases Javascript
\*------------------------------------*/
  //- Se le coloca por js al bloque con clase .data-section__slice_full
  .js-dataRowShow {
    &.data-section__slice_full {
      @include flex(1 50%);
      // margin: 0 0 0 50%;
    }
  }

  //- Se le coloca por js al bloque con clase .data__tab
  .js-dataWidth {
    &.data__tab {
      max-width: 100%;
      min-width: auto;
    }
  }

  //-Se le coloca por js al bloque con clase .data__show
  .js-dataShow {
    &.data__show {
      .data-section__slice {
        @include flex(1 50%);

        // padding-left: 80px;
        .data-section__subitem {
          text-align: right;
          @include flex(1 50%);
        }
      }
    }
  }
  .data__tab {
    .data__btn  {
      @include font-rem(16px);
    }
  }
}

@include media-query(max-medium) {
  .data__col {
    width: 100%;
  }

  .data__subitem {
    width: 50%;
  }

  .data__subitem_huge {
    width: 100%;
  }

  .data__aside-link {
    padding: 14px;
    margin-top: 14px;
    text-decoration: none;
    border: 1px solid $c-default-3;
    border-radius: 4px;
  }
}



@include media-query(max-large) {
  .data__col {
    padding-bottom: 20px;
  }

  .data__subitem_huge {
    padding-bottom: 20px;
  }
}

@include media-query(max-wide) {

  /*------------------------------------*\
	Component data-aside
\*------------------------------------*/
  .data-aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    opacity: 1;
    transform: translateY(100%);
    transition: all .3s linear;

    .data__header {
      width: 100%;
      max-width: initial;
    }

    &.js-fixedActive {
      opacity: 1;
      z-index: 98;
      transform: translateY(0);
    }
  }

  .data-aside__wrap {
    transition: all .3s linear;
    height: 100vh;
    max-width: 400px;
    margin-left: auto;

    background: $c-neutro;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
  }

  .data-aside__content {
    padding: 70px 26px 0;
  }

  .data-aside__txt-high {
    display: none;
    font-family: $f-regular;
    @include font-rem(24px);
    color: $c-neutro;
    cursor: pointer;
  }

  .data-aside__btn {
    position: absolute;
    top: -70px;
    right: 0;
    width: 100%;
    max-width: 400px;
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);
    padding: 10px 20px;
    z-index: 100;
    background-color: $c-brand;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid $c-default-4;
    cursor: pointer;

    &:before {
      display: none;
      padding-right: 20px;
      @include font-rem(20px);
      color: $c-neutro;
    }

    .btn-circle {
      display: block;
      margin-right: 10px;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .data-aside__box {
      @include flexbox;
      @include align-items(center);
      @include font-rem(20px);
      font-family: $f-regular;
      color: $c-neutro;

      &:before {
        padding-right: 10px;
        @include font-rem(20px);
        color: $c-neutro;
      }
    }

    .data__total {
      @include font-rem(24px);
      color: $c-neutro;
    }

    &.js-fixedActive {
      top: 0;
      bottom: initial;
      @include justify-content(flex-start);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 0;

      &:before {
        display: block;
      }

      .data-aside__box,
      .data__total {
        display: none;
      }
    }

  }

  .data-aside__wrap {
    padding: 0;
  }

}



//- BP: 1024px
@include media-query(wide) {

  /*------------------------------------*\
	Component data-aside
  \*------------------------------------*/
  .data-aside {
    width: 36%;
    min-width: 364px;
    max-width: 364px;
    height: 100%;
  }

  .data-aside__sticky {
    position: sticky;
    top: 0;
  }

  .data-aside__content {
    border: 1px solid $c-default-3;
    padding: $sp-small;
  }

  //Boton aside
  .data-aside__btn {
    display: none;
  }



  .data__grid {
    &.data_border {
      padding: $sp-small $sp-medium;
    }
  }


  .data-section__item {
    &.data-section__item_right {
      display: block;
    }
  }
  /*------------------------------------*\
	 Bloque Data Aside Toast
  \*------------------------------------*/
  .data-aside__toast {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
  }

  .ie11 {
    .js-data-aside__active {
      z-index: 9999;
      .data-aside__toast {
        z-index: 9999999999999;
      }
    }
  }
  
}

@include media-query(large) {
  .data__col {
    width: 33%;
  }

  .data__subitem {
    width: 16%;
  }

  .data__subitem_huge {
    width: 33%;
    padding-right: 30px;
  }
}

/*------------------------------------*\
	Clases Javascript
\*------------------------------------*/

.js-valueFinal {
  display: none;
}

//- HOTFIX-INTPOSP-519: Fix hack IE11
.ie11 .grid_ie {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
}

.ie11 .grid_ie .grid__slot {
  -ms-flex: 1 1 33.333%;
  max-width: calc(33.33% - 20px);
  margin: 0 10px 20px 10px;
}

.ie11 .grid_ie .msmx-product-details {
  max-height: 52px;
  display: block;
}

.ie11 .grid_ie .rating-summary .rating-result {
  padding-right: 10px;
}