.flatpickr-calendar {
  background-color: $c-default-5 !important;
  padding: 10px 0 20px;
  /*left: 50%;
  right: 0;
  transform: translateX(-50%);*/
}
.flatpickr-calendar .flatpickr-months .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  top: 12px;
}
.flatpickr-calendar .flatpickr-months svg {
  fill: $c-brand-2;
}
.dayContainer {
  justify-content: flex-start;
}
.dayContainer:last-child {
  box-shadow: none;
}
.flatpickr-weekdays {
  display: none;
}
.flatpickr-days {
  padding-top: 20px;
}
.flatpickr-day {
  color: $c-default-1;
  font-family: $f-regular;
  /*@include font-rem(10px);
  width: 20px;
  height: 20px;
  max-width: 20px;
  line-height: 20px;*/
}
.flatpickr-day.selected, .flatpickr-day.startRange,
.flatpickr-day.selected, .flatpickr-day.startRange,
.flatpickr-day.selected:hover, .flatpickr-day.startRange:hover,
.flatpickr-day.selected:hover, .flatpickr-day.startRange:hover,
.flatpickr-day.selected:active, .flatpickr-day.startRange:active,
.flatpickr-day.selected:active, .flatpickr-day.startRange:active,
.flatpickr-day.selected:focus, .flatpickr-day.startRange:focus,
.flatpickr-day.selected:focus, .flatpickr-day.startRange:focus,
.flatpickr-day.selected, .flatpickr-day.endRange,
.flatpickr-day.selected, .flatpickr-day.endRange,
.flatpickr-day.selected:hover, .flatpickr-day.endRange:hover,
.flatpickr-day.selected:hover, .flatpickr-day.endRange:hover,
.flatpickr-day.selected:active, .flatpickr-day.endRange:active,
.flatpickr-day.selected:active, .flatpickr-day.endRange:active,
.flatpickr-day.selected:focus, .flatpickr-day.endRange:focus,
.flatpickr-day.selected:focus, .flatpickr-day.endRange:focus {
  background: $c-brand-2;
  color: $c-neutro;
}
.flatpickr-months .flatpickr-month {
  color: $c-default;
  fill: $c-default;
  font-family: $f-light;
  @include font-rem(12px);
}
.flatpickr-current-month .cur-year {
  color: $c-default;
  fill: $c-default;
  font-family: $f-light;
  @include font-rem(12px);
}
.flatpickr-confirm {
  background-color: $c-neutro;
  color: $c-default-1;
  font-family: $f-regular;
  @include font-rem(12px);
  width: 116px;
  max-width: 116px;
  margin: auto;
}
.flatpickr-confirm svg {
  display: none;
}