.data-sheet,
.js-dataSheetParent {
  // display: block;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(stretch);
  @include flex(1 auto);
  text-align: center;
  padding: 0 $sp-xsmall;

  .grid__label_brand,
  .grid__label_brand2 {
    font-size: 74%;
  }

  .btn {
    padding: $sp-xsmall;
  }
}


//- Formulario del buscador
.data-sheet__form {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: $sp-medium $sp-xsmall;
}

//- Caja organizadora
.data-sheet__grid {
  display: flex;
  align-content: stretch;
}

//- Input del buscador
.data-sheet__input {
  width: 90%;
  padding: 8px;
  line-height: 1.4;
  font-family: $f-regular;
  text-align: left;
  color: $c-default-1;
  background-color: $c-default-4;
  border-radius: 4px 0 0 4px;
}

//- Label
.data-sheet__label {
  font-family: $f-light;
  padding-bottom: $sp-xsmall;
  text-align: left;
}

//- BTN del buscador
.data-sheet__btn {
  position: absolute;
  left: 0;
  width: 44px;
  @include font-rem(0px);
  background-color: transparent;
  transition: all 0.2s linear;

  &:before {
    @include font-rem(18px);
  }
}

//- Información
.data-sheet__info {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);

  .grid__blocks {
    //@include justify-content(center);
    padding-bottom: $sp-xsmall;
  }

  .grid__value {
    @include font-rem(18px);
  }

  .grid__price {
    width: auto;
    @include flex(1 0);

    &:last-child {
      padding-left: 5px;
    }
  }

  .grid__label {
    text-align: left;
    padding-left: 5px;

  }

}


//- Texto verde
.data-sheet__value {
  font-family: $f-light;
  @include font-rem(18px);
  color: $c-brand;
  padding-bottom: $sp-small;
}

//- cuerpo de datos
.data-sheet__specs {
  text-align: left;
}


//- Elemento
.data-sheet__txt-sm,
.data-sheet__txt {
  display: block;
}


//- Filas cons bordes
.data-sheet__row {
  width: 33.3333%;
  padding: 6px $sp-xsmall 6px $sp-small-medium;
  border-bottom: 1px solid $c-default-3;
  border-top: 1px solid $c-default-3;
}

//- Link
.data-sheet__link {
  color: $c-brand-2;
  transition: all 0.2s linear;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: $sp-small 0;

  &:before {
    @include font-rem(14px);
    order: 2;
    padding-left: 4px;
    position: relative;
    top: 2px;
  }
}

//- Crop de la imagen
.data-sheet__fig {
  position: relative;
  overflow: hidden;
  width: 100%;
}

//- Imagen
.data-sheet__img {
  width: 100%;
}

//-------- Slide up de Buscar -----//
.data-sheet__list {
  position: absolute;
  top: 100px;
  left: 10px;
  display: none;
  width: 100%;
  list-style: none;
  max-width: 224px;
  max-height: 345px;
  background-color: $c-neutro;
  overflow: hidden;
  overflow-y: scroll;
  padding: $sp-small;
  border: 1px solid $c-default-3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.1);
  //transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.data-sheet__item {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.data-sheet__crop {
  max-width: 30px;

  .data-sheet__img {
    width: 100%;
  }
}

.data-sheet__group {
  .data-sheet__value {
    padding-bottom: 0;
  }

  .data-sheet__txt {
    @include font-rem(13px);
  }
}

.data-sheet__crossed {
  position: relative;
  color: $c-default;
  @include font-rem(13px);
  padding-left: 5px;
  text-decoration: line-through;
}


//-   +++ table  ++++
.data-sheet__table {
  width: 100%;
}

// Media query desde 640px
@include media-query(small-medium) {


  //- Filas cons bordes
  .data-sheet__row {
    padding: 6px $sp-small;
  }

  .data-sheet__btn {
    left: -10px;
  }
}

// Media query desde 768px
@include media-query(medium) {
  .data-sheet__group {
    .data-sheet__txt {
      @include font-rem(14px);
    }
  }

  .data-sheet__crossed {
    @include font-rem(14px);
  }

  //- Información
  .data-sheet__info {
    .grid__price {
      flex: 1 auto;
    }
    
    .grid__value {
      @include font-size-rem(22px);
    }

    .grid__value-disclaimer {
      @include font-size-rem(18px);
    }
  }

  //- Filas cons bordes
  .data-sheet {
    padding: 0 $sp-small;

    .grid__label_brand,
    .grid__label_brand2 {
      font-size: 78%;
    }

    .btn {
      padding: 16px 14px;
    }
  }
}


//- Javascript
.js-dataSheetEmpty {
  display: none;
}

.data-sheet {
  .data-sheet__title {
    &.link__brand {
      padding-bottom: 50px;
    }
  }
}