.detail-board__cont {  
  margin-bottom: 60px;
  padding-bottom: 0;
}

.detail-board__header {
  font-family: $f-bold;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 20px;
}

.detail-board__header.detail-board__header_twocols {
  grid-template-columns: 2fr 1fr;
}

.detail-board__subtitle {
  @include font-rem(13px);
  text-transform: uppercase;
}

.detail-board__subtitle-price {
  @include font-rem(12px);
  text-align: center;
  text-transform: initial;
}

.detail-board__subtitle-price--right {
  text-align: right !important;
  padding-right: 10px;
}

.detail-row-order__row {
  color: $c-default-1;
  font-family: $f-regular;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 10px;
  padding: 5px 10px;
}

.detail-row-order__row:nth-child(odd) {
  background-color: #F5F5F5;
}

.detail-row-order__row:nth-child(even) {
  padding: 10px;
}

.detail-row-order__row:last-of-type {
  font-weight: bold;
  padding: 10px;
}

.detail-row-order__row_twocols {
  grid-template-columns: 2fr 1fr;
}

.detail-row-order__label {
  @include font-rem(16px);
  text-align: left;
}

.detail-row-order__value {
  font-family: $f-bold;
  text-align: right;
}

.detail-row-order__label_services {
  display: flex;

  & > * {
    margin-right: 10px;
  }
}

.detail-row-order__label_indent {
    padding-left: 30px;
}

.board-copy {
  color: $c-default;
  @include font-rem(18px);
  text-align: center;
  margin-bottom: 40px;
}

.detail-board__prefoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: $sp-medium;
}

.detail-board__side {
  margin-bottom: 20px;
  order: 2;
  width: 100%;
}

.detail-list-order {
  border-bottom: 1px solid $c-default-6;
  margin-bottom: 20px;
  padding-bottom: 20px;
  order: 1;
  width: 100%;
}

.detail-list-order__row {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  padding: 5px 10px;
}

.detail-list-order__row:first-of-type {
  padding-top: 0;
}

@include media-query(medium) {
  .detail-board__header {
    padding-right: 10px;
  }

  .detail-board__subtitle-price {
    text-align: right;
  }

  .detail-board__prefoot {
    flex-direction: row;
  }

  .detail-board__side {
    margin-bottom: 20px;
    order: 1;
    width: 60%;
  }

  .detail-list-order {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    order: 2;
    width: 40%;
  }
}

.detail-subtitle_gral {
  font-family: $f-bold;
  text-transform: uppercase;
}

.detail-offer {
  width: 100%;
}

.detail-offer__title {
  @include font-rem(36px);
  margin-top: $sp-large;
  margin-bottom: $sp-wide;
  text-align: center;
}
