.es-pager-general {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  padding: 24px 10px 10px;
  margin: 0;
}

.es-pager-general__list {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  list-style: none;
}

.es-pager-general__item {
  padding: 0 12px;
}

.es-pager-general__item_active {
  .es-pager-general__link {
    color: $c-brand-2;
  }
} 

.es-pager-general__btn {
  padding: 0 10px;
  @include font-rem(0px);
  background-color: $c-neutro;
  &:before {
    display: block;
    padding-top: 2px;
    line-height: 1.4;
    @include font-rem(10px);
    color: $c-brand-2;
  }
}

@media only screen and (min-width: 700px) {
  .es-pager-general {
    padding: 30px 30px 0;
  }

  .es-pager-general__item {
    padding: 0 16px;
  }

  .es-pager-general__btn {
    padding: 0 20px;
  }
}