/*------------------------------------*\
    Formulario de datos personales
\*------------------------------------*/

.form-data {
  width: 100%;
}

.creditCard-form {
  margin-bottom: 60px;
}

//- Elemento
.form__ico {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 31px;
  cursor: pointer;
  background-color: transparent;
}

.form__security-level {
  position: relative;
  display: block;
  width: 100%;
  height: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: $c-neutro;
  border: 1px solid $c-default-6;

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
  }

  &.form__security-level_low {
    &:before {
      width: 30%;
      background-color: $c-tag-1;
    }
  }

  &.form__security-level_medium {
    &:before {
      width: 60%;
      background-color: $c-warning;
    }
  }

  &.form__security-level_high {
    &:before {
      width: 100%;
      background-color: $c-brand_l;
    }
  }
}

.form__security-label {
  &:after {
    display: inline-block;
    content: attr(data-level);
  }
}

.form__inner-select:after {
  position: absolute;
  top: 50%;
  right: 16px;
  @include font-rem(16px);
  color: $c-brand-2;
  cursor: pointer;
  pointer-events: none;
  transform: translateY(-50%);
}

@include media-query(medium) {
  .grid-form {
    @include flexbox;
    @include justify-content(space-between);
  }

  .grid-form_end {
    @include justify-content(flex-end);
  }

  .grid-form__item {
    width: 100%;
    max-width: 122px;
    text-align: right;
  }

  .form-data {
    max-width: 500px;
    margin: 0 auto;
  }

  .creditCard-form {
    margin-bottom: 0;
  }
}
