.board__top-pos {
  padding-top: 0;
}

.form-tabs {
  color: $c-default;
  padding: 80px 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 440px;
  margin: 0 auto;
}

.form-tabs__link {
  background: transparent;
  border: 1px solid #e5e5e5;
  color: $c-default;
  font-family: $f-regular;
  @include font-rem(14px);
  height: 50px;
  outline: none;
  text-align: center;
  transition: 0.3s;
  width: 138px;
}

.form-tabs__link:first-of-type {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.form-tabs__link:last-of-type {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.form-tabs__link:hover {
  background-color: $c-brand-2;
  color: $c-neutro;
}

.form-tabs__link.active {
  background-color: $c-brand-2;
  color: $c-neutro;
}

.form-tabs__content {
  display: none;
  max-width: 440px;
  margin: 0 auto;
  padding: 40px 20px;
  width: 90vw;
  animation: fadeEffect 1s;
}

.form-tabs__btn {
  margin: 0 auto;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sended-code {
  max-width: 440px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

.sended-code__inputs {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.sended-code__input {
  padding: 2px;
  text-align: center;
}

.sended-code__link {
  color: $c-brand-2;
  font-family: $f-light;
  @include font-rem(16px);
  text-decoration: none;
}

.sended-code__link:hover {
  color: $c-brand-2-hover;
}

.sended-code__countdown {
  color: $c-default-1;
  font-family: $f-regular;
  @include font-rem(16px);
}

@include media-query(medium) {
  .form-tabs__link {
    background: transparent;
    border: 1px solid #e5e5e5;
    color: $c-default;
    font-family: $f-regular;
    @include font-rem(14px);
    height: 50px;
    outline: none;
    text-align: center;
    transition: 0.3s;
    width: 162px;
  }

  .sended-code__label {
    text-align: left;
  }

  .sended-code__inputs {
    padding: 0;
  }

  .sended-code__input {
    padding: 5px 10px;
    text-align: center;
  }
}
