//- modificador del Bloque Search [paso 2]
.form-tab {
  padding: 0 $sp-small;
  .input-search {
    max-width: initial;
    margin: 0 auto $sp-medium auto;
  }
  .input-search__input {
    padding-left: 60px;
    max-height: 44px;
  }
  .input-search__btn {
    padding: 14px 10px;
    max-height: 44px;
  }
}

//- bp 480px
@include media-query (small-m) {
  .form-tab {
    .input-search {
      max-width: 320px;
    }
    .input-search__btn {
      max-width: 150px;
    }
  }
}
