/*------------------------------------*\
    Malla de productos
\*------------------------------------*/


.grid-slot {
  position: relative;
  padding: $sp-xsmall;
}

//-Marco general
.grid-slot__inner {
  padding: $sp-xsmall;
}

.grid-slot__slot {
  position: relative;
  border-color: $grey-1;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
}

.grid-slot__ads {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  img {
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
  }
}

.grid-slot__action {
  color: $grey-5;
}

.grid-slot__img {
  width: 100%;
  max-width: 150px;
  vertical-align: bottom;
}

.grid-slot__img_wide {
  max-width: 95%;
}

//-side
.grid-slot__body {
  padding-left: 20px;
}

//- Caja para ordenar
.grid-slot__header {
  padding-bottom: $sp-small;
}

//- Caja para ordenar
.grid-slot__assess {
  .grid-slot__rating {
    padding: 0;
    margin-bottom: 20px;
  }
  .rating__stars {
    padding-left: 0;
    img {
      vertical-align: bottom;
    }
  }
}

.grid-slot__title-xl {
  @include font-rem(36px);
  font-family: $f-light;
  line-height: 1;
  padding: 0;
  &:last-child {
    padding-bottom: $sp-small;
  }
}

.grid-slot__title {
  @include font-rem(16px);
  font-family: $f-bold;
}

.grid-slot__ref {
  margin: 0;
  text-transform: uppercase;
  @include font-rem(16px);
  font-family: $f-regular;
}

.grid-slot__footer {
  padding-top: 20px;
}

.grid-slot__value {
  @include font-rem(24px);
  font-family: $f-regular;
}

.grid-slot__value_line {
  text-decoration: line-through;
  @include font-rem(20px);
  font-family: $f-light;
}

.grid-slot__price {
  margin: 0;
  padding-bottom: 20px;
}

.grid-slot__label {
  color: $c-brand;
  @include font-rem(16px);
}

.grid-slot__center {
  text-align: center;
}

.grid-slot__row {
  padding: 10px 0;
}

.grid-slot__btn {
  width: 100%;
  min-width: 110px;
}

.grid-slot__ads {
  margin: 14px 0;
}

.grid-slot__pager {
  border: none;
}

@media only screen and (max-width: 767px) {
  //- Caja para ordenar
  .grid-slot__main-head {
    padding-top: $sp-small;
  }
  .grid-slot__body {
    padding: 0 $sp-small;
    max-width: 370px;
    margin: 0 auto;
  }
  .grid-slot__img {
    max-width: 170px;
  } //-Marco general
  .grid-slot__inner {
    padding: $sp-small $sp-xsmall;
    border: 1px solid $c-default-3;
  }
  .grid-slot__photo {
    max-height: 340px;
    overflow: hidden;
  }
  .grid-slot__img {
    margin: 0 auto;
  }
  .grid-slot__assess {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    .grid-slot__rating {
      margin-bottom: 0;
    }
  } //- El cambio del título para mobile
  .grid-slot__order {
    display: flex;
    flex-direction: column;
    .grid-slot__assess {
      order: 2;
      padding-bottom: $sp-small;
    }
    .grid-slot__header {
      order: 3;
      padding-bottom: 0;
    }
  }
}

@include media-query(medium) {
  .grid-slot__inner {
    border: 1px solid $c-default-3;
    @include flexbox;
    align-items: center;
    padding: $sp-xsmall;
  }
  .grid-slot__tags {
    margin-top: 12px;
    margin-left: -3%;
  }
  .grid-slot__photo {
    width: 40%;
  } //-side
  .grid-slot__body {
    width: 60%;
  }
  .grid-slot__img {
    max-width: 270px;
  }
  .grid-slot__btn {
    max-width: 270px;
  }
  .grid-slot__select {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
  }
  .grid-slot__title-xl {
    @include font-rem(40px);
  }
}

@include media-query(wide) {
  .grid-slot__title-xl {
    @include font-rem(48px);
  }
  .grid-slot__inner {
    padding: $sp-small;
  }
}

@include media-query(large) {
  .grid-slot__assess {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    .grid-slot__rating {
      margin-bottom: 0;
    }
  }
}
