/*------------------------------------*\
  Grid de cuadrados
\*------------------------------------*/
//- Estructura
// .grid-squares {
//   margin: -4px;
// }

//- Estructura
.grid-squares__list {
  list-style: none;
  @include flexbox;
  @include flex-wrap(wrap);
}

.grid-squares__container {
  margin: 4px;
  &.grid-squares__container_brand {
    background-color: $c-brand;
    .grid-squares__item {
      border-top: 8px solid $c-border-box;
    }
    .tabs-box__link {
      &:before {
        color: $c-brand;
      }
    }
  }
  &.grid-squares__container_brand-2 {
    background-color: $c-brand-2;
    .grid-squares__item {
      border-top: 8px solid $c-border-box-2;
    }
    .tabs-box__link {
      &:before {
        color: $c-brand-2;
      }
    }
  }
  .grid-squares__list {
    @include justify-content(center);
  }
  .grid-squares__item {
    margin: 0 14px;
  }
  .tabs-box__link {
    display: block;
    height: 100%;
    background-color: $c-neutro;
    &:before {
      display: block;
    }
    &:hover {
      @include box_shadow(2);
    }
  }
  .tabs-box__nav-txt {
    @include font-rem(18px);
    font-family: $f-regular;
    line-height: 1;
  }
  .tabs-box__subtxt {
    @include font-rem(14px);
  }
}

//- Bloque
.grid-squares__item {
  @include flex(2 calc(50% - 8px));
  margin: 4px;
}

// Mobile
@media screen and (max-width: 640px) {

  //- Modificador
  .grid-squares__list_full {
    .grid-squares__item {
      @include flex(1 100%);
    }
  }
}

@include media-query(max-medium) {
  .grid-squares__container {
    .tabs-box__link {
      @include flexbox;
      @include align-items(center);
      padding: 14px 16px;
      &:before {
        @include font-rem(30px);
        margin-right: 10px;
        // color: $c-brand;
      }
    }
    .tabs-box__nav-txt,
    .tabs-box__subtxt {
      display: block;
    }
    .grid-squares__list {
      padding: 6px 0;
    }
    .grid-squares__item {
      margin: 8px;
      max-width: 290px;
    }
  }
}

//bp Medium = 768px
@include media-query(medium) {
  .grid-squares__container {
    padding: 50px 0;
    .tabs-box__link {
      padding: 30px 12px 20px;
      &:before {
        margin-bottom: 6px;
      }
    }
    .tabs-box__nav-txt {
      @include font-rem(20px);
    }
    .tabs-box__subtxt {
      @include font-rem(14px);
    }
  }
  //- Estructura
  .grid-squares__list {
    @include flex-wrap(nowrap);
  }
  
  .grid-squares__list {
    @include justify-content(space-between);
  }

  //- Bloque
  .grid-squares__item {
    @include flex(1 1 100%);
  }
}

@include media-query(wide) {
  .grid-squares__container {
    .tabs-box__nav-txt {
      @include font-rem(24px);
    }
    .tabs-box__subtxt {
      @include font-rem(16px);
    }
  }
}
