/*------------------------------------*\
	Component Grid Thumb
\*------------------------------------*/

/**
 * @atom Tags en cápsula con texto
 * @section Tags
 * @markup
 *  <div class="grid-thumb">
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price1" type="radio" checked="checked" name="prices">
 *      <label class="list-thumb__boll" for="price1">$23.499</label><span class="list-thumb__txt">Equipo libre</span>
 *    </div>
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price2" type="radio" name="prices">
 *      <label class="list-thumb__boll" for="price2">$23.499</label><span class="list-thumb__txt">Equipo + Plan ($180/mes) Wow!!</span>
 *    </div>
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price3" type="radio" name="prices">
 *      <label class="list-thumb__boll" for="price3">$23.499</label><span class="list-thumb__txt">Cámbiate a Movistar con este equipo</span>
 *    </div>
 *    <div class="grid-thumb__slot">
 *      <input class="list-thumb__input" id="price4" type="radio" name="prices">
 *      <label class="list-thumb__boll" for="price4">$23.499</label><span class="list-thumb__txt">Equipo + SIM Prepago</span><span class="tag tag_yellow">Portabilidad</span>
 *    </div>
 *  </div>
 */

.grid-thumb {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
}

.grid-thumb__slot2{
  margin-left: 0px !important;
}

.list-thumb__txt2{
  margin-left: 16px !important;
}

.undo__margin{
  margin-bottom: 4px !important;
}


@media (max-width: 768px) and (min-width: 415px) {
  .list-thumb__txt2{
    margin-left: -20px !important;
  }

  .new__thumb, .new__thumb6{
    margin-left: -100px !important;
  }

  .grid-thumb__slot2 {
    margin-left: 34px !important;
  }
}

@media (max-width: 414px) {
  .list-thumb__txt2{
    margin-left: -6px !important;
  }

  .new__thumb{
    margin-left: -10px !important;
  }

  .grid-thumb__slot2 {
    margin-left: 8px !important;
  }

  .new__thumb{
    margin-left: -100px !important;
  }
}

@media (max-width: 414px) {
  .list-thumb__txt2{
    margin-left: 5px !important;
  }

  .new__thumb{
    margin-left: -10px !important;
  }
}

@media (max-width: 375px){
  .list-thumb__txt2 {
    margin-left: -14px !important;
  }
}


.grid-thumb__slot {
  position: relative;
  text-align: center;
  width: 33%;
  @include flex(1 1 auto);
  .list-thumb__boll {
    font-family: $f-bold;
    margin-bottom: 4px;
  }
  .list-thumb__txt {
    max-width: 90px;
    line-height: 1;
    margin:auto;
  }
}

//- HOTFIX-ETEMM-14
.ie11 {
  .grid-thumb__slot {
    flex: 1 1 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .grid-thumb {
      flex-direction: column;
    }
  }
}

.list-thumb__circle_active {
  width: 64px;
  border-radius: 25px;
  opacity: 1;
}

//- $bp-small-medium: 640px;
// @include media-query(small-medium) {

// }

//- $bp-wide: 1024px;
@include media-query(wide) {
  .grid-thumb {
    flex-wrap: nowrap;
  }

}
