/*------------------------------------*\
    Malla de productos
\*------------------------------------*/

.layout_grid {
  padding: 14px 0;
}

//filtro
.grid_filtro {
  min-width: 220px;

  ul {
    list-style: none;
    margin: 0;
  }

  .i-arrow-back {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row-reverse);
    @include justify-content(space-between);

    &:before {
      display: block;
      margin-left: 10px;
      color: $c-brand-2;
      @include font-rem(18px);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .js-dropdownBtn {
    cursor: pointer;
  }
}

.filtro {
  min-width: 180px;
  margin-right: 40px;
}

.filtro__title {
  padding-bottom: 8px;
  margin-bottom: 24px;
  @include font-rem(24px);
  font-family: $f-regular;
  border-bottom: 1px solid $c-default-1;
}

.filtro__item {
  padding-bottom: 16px;
  @include font-rem(14px);
  font-family: $f-regular;
}

.filtro__subitem {
  margin-bottom: 16px;
  color: $c-default-1;
  @include font-rem(14px);
  font-family: $f-regular;
}

.filtro__subtitle {
  display: block;
  padding-bottom: 24px;
  @include font-rem(18px);
}

.filtro__headline {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 14px;
  @include font-rem(16px);
  border-bottom: 1px solid $c-default-1;
}

.filtro__level2 {
  display: none;
}

.filtro__level3 {
  display: none;
}

.filtro__footer {
  display: none;
}

.js-dropdownActive {
  &:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

.grid__select {
  padding-right: 7px;
}

.asRange {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 25px;
  border: 1px solid $c-default-4;
}

.asRange-pointer {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -1px;
  border: 1px solid $c-default-4;
  background-color: #fff;
  border-radius: 50%;
}


.products .grid .grid__slot{
  width: 100%;
}


.asRange-selected {
  position: absolute;
  left: 30%;
  z-index: 1;
  width: 40%;
  height: 5px;
  background-color: $blue_light;
  border-radius: 25px;
}

.asRange-tip {
  position: absolute;
  bottom: -20px;
  display: block !important;
  color: $c-brand-2;
}

//controles filtro ordenar M/D y filtrar M
.grid__top {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  margin-bottom: 26px;
  padding-top: 40px;

  .btn_tag {
    min-width: 120px;
  }
}

//- Estructura
.grid {
  position: relative;
  display: -ms-grid;
  display: grid; //-grid-template-columns: 50% 50%;
  //-grid-template : filas / columnas;
  //-grid-gap : filas / columnas;
  -ms-grid-columns: minmax(115px, 300px) [2];
  grid-template-columns: repeat(2, minmax(115px, 300px));
  grid-gap: $sp-xsmall;
}

//- Bloque
.grid__slot {
  position: relative;
  border: 1px solid $grey-1;
}

.grid__slot2{
  border: 0px !important;
}

//- Bloque
.grid__slot_unique {
  .grid__inner {
    display: flex;
    //- INTPOSP-767: Ajustar alto en terminales
    height: 100%;
    flex-direction: column;

    .grid__photo {
      margin: $sp-small auto;
      max-width: 100%;
    }
  }

  //- Elemento
  .grid__img {
    max-width: 100%;
  }

  //- Elemento
  .grid__label {
    color: $c-brand;
  }

  //- Elemento
  .grid__price {
    &:first-child {
      padding-right: 0px;
    }

    &:last-child {
      border: none;
      padding-left: 0px;
    }
  }
}

//- Bloque
// Slots nuevos simplificados
.grid__slot_no-edge {
  border: none;
  height: auto;
  text-align: center;

  //- Elemento
  .grid__title {
    @include font-rem(16px);
  }

  //- Elemento
  .grid__body {
    padding: $sp-xsmall 0 $sp-small;
  }

  //- Elemento
  .grid__photo {
    margin: 0 auto;
  }

  //- Estructura
  .grid__inner {
    margin: 0 auto;
    padding: $sp-xsmall $sp-small;
  }

  //- Elemento
  .grid__value {
    display: block;
    @include font-rem(16px);
    padding-bottom: 16px;
    font-family: $f-bold;
    .grid__txt-brand {
      font-family: $f-default;
    }
  }

  //- Elemento
  .grid__label {
    @include font-rem(12px);
  }

  //- Elemento
  .grid__btn {
    max-width: 140px;
    padding: 4px;
    font-family: $f-bold;
  }

  //- Elemento
  .grid__img {
    max-width: 120px;
  }

  //- Modificador
  .rating__img {
    width: 70%;
    margin: 0 auto;
    padding: 5px 0 5px;
  }
}

//- Bloque
// Slots nuevos simplificados con fondo blanco
.grid__slot_background {
  border: none;
  height: auto;

  //- Elemento
  .grid__title {
    @include font-rem(12px);
  }

  //- Elemento
  .grid__body {
    padding: 0;
  }

  //- Elemento
  .grid__photo {
    margin: 0 auto;
  }

  .grid__action {
    display: block;
    flex-grow: 1;
  }

  //- Estructura
  .grid__inner {
    position: relative;
    background-color: $c-neutro;
    margin: 0 auto;
    padding: $sp-xsmall;
    min-width: 147px;
    max-width: 180px;
    overflow: hidden;
    border: 1px solid $c-default-3;
    border-radius: 5px;
  }

  //- Elemento
  .grid__value {
    @include font-rem(16px);
  }

  //- Elemento
  .grid__label {
    @include font-rem(12px);
    padding-top: $sp-xsmall;
  }

  //- Elemento
  .grid__img {
    max-width: none;
    min-width: 120px;
  }

  .grid__tags {
    z-index: 2;

    .tag_corner {
      @include font-rem(16px);
      right: 6px;
      top: 6px;

      &:before {
        right: -25px;
        top: -48px;
      }
    }
  }
}

//- Elemento
.grid__slot_brand {
  background-color: $c-brand;
}

//- Bloque
.grid__ads {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  img {
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
  }
}

//- Estructura
.grid__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px $sp-small $sp-xsmall;
}

//- Elemento
.grid__action {
  color: $grey-5;
  flex-grow: 2;
}

//- Elemento
.grid__photo {
  text-align: center;
  margin: 18px auto;
}

//- Elemento
.grid__img {
  width: 100%;
  max-width: 150px;
  vertical-align: bottom;
}

//- Modificador
.grid__img_wide {
  max-width: 95%;
}

//- Modificador
.grid__art {
  width: 100%;
}

//- Estructura
.grid__header {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: $sp-xsmall;
}

//- Elemento
.grid__title {
  @include font-rem(14px);
  font-family: $f-bold;
}

//- Elemento
.grid__ref {
  margin: 0;
  text-transform: uppercase;
  @include font-rem(16px);
  font-family: $f-regular;
}

//- Elemento
.grid__ico {
  @include font-rem(0px);

  &:before {
    @include font-rem(38px);
    color: $c-neutro-dark;
  }
}

//- Elemento
.grid__txt-brand {
  padding: 0 $sp-xsmall;
  color: $c-brand-2;
}

//- Elemento
.grid__assess {
  .grid__rating {
    padding: 0;
    margin-bottom: 20px;
  }

  .rating__stars {
    padding-left: 0;

    img {
      vertical-align: bottom;
    }
  }
}

//- Elemento
.grid__value {
  @include font-rem(24px);
  font-family: $f-light;
}

//- Modificador
.grid__value_line {
  text-decoration: line-through;
  @include font-rem(20px);
  font-family: $f-light;
}

//- Estructura
.grid__blocks {
  display: flex;
}

//- Elemento
.grid__price {
  width: 100%;
  margin: 0;

  &:last-child {
    border-left: 1px solid $c-default-3;
    padding-left: $sp-small;
  }
}

//- Componente
//Layout con slots en malla [malla.html]
.layout_grid_half {
  .grid__price {
    width: 50%;
  }
}

//- Elemento
.grid__label {
  color: $c-default;
  @include font-rem(16px);
}

//- Modificador
.grid__label_brand {
  color: $c-brand;
}

.grid__label_brand2 {
  color: $c-brand-2;
}

//- Modificador
.grid__center {
  text-align: center;
}

//- Estructura
.grid__row {
  padding: 10px 0;
}

//- Elemento
.grid__btn {
  width: 100%;
  min-width: 110px;
}

//- Elemento
.grid__ads {
  margin: 14px 0;
}

//- Bloque
.grid__pager {
  //border: none;
  // grid-column-start: 1;
  // grid-column-end: 3;
  // grid-column: 2 / span 2; Que ocupe dos espacios
  // grid-column: 1 / -1; Ocupa el 100%
  grid-column: 1 / -1;
}

//- Bloque
.grid__banner {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2; // -ms-grid-column: 1;
  // -ms-grid-column-span: 1;
  // grid-column: 1 / -1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;

  &.grid__banner_brand {
    background-color: $c-brand;
  }
}

//- Bloque
.grid__banner2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / -1; // -ms-grid-column: 1;
  // -ms-grid-column-span: 1;
  // grid-column: 1 / -1;
  // -ms-grid-row: 7;
  // -ms-grid-row-span: 1;
  // grid-row: 7 / 8;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  background-color: $c-brand;
}

//- Bloque
.grid__slot-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / -1;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}

//- Bloque
.grid__tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

//_ Arreglo de slot para que quepan dos
@media only screen and (max-width: 480px) {
  .grid__slot_background {

    //- Estructura
    .grid__inner {
      min-width: 100px;
      max-width: 130px;
    }
    .grid__img {
      min-width: auto;
    }
  }

  .grid__inner {
    padding: $sp-small 8px $sp-xsmall;
  }

  //Layout con slots en malla [malla.html]
  .layout_grid_half {
    .grid__value {
      @include font-rem(14px);
    }
  }

  .grid__label_brand,
  .grid__label_brand2 {
    font-size: 78%;
  }

  .grid__price {
    &:first-child {
      padding-right: 2px;
    }

    &:last-child {
      padding-left: 2px;
    }
  }

  .grid__title {
    @include font-rem(14px);
  }

  .grid__ref {
    @include font-rem(12px);
  }

  .grid__btn {
    padding: 8px 14px;
  }

  .grid__tags {
    overflow: hidden;
    height: 100%;
  }

  .filtro__control {
    .btn_tag {
      margin: 0;
    }
  }

  .grid__ico {
    &:before {
      @include font-rem(20px);
    }
  }

  .grid__photo {
    max-width: 70px;
  }

  .grid__slot_background {
    .grid__photo {
      max-width: none;
    }
  }

  .grid__banner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }

  .grid__banner2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / -1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
  }
}


/*------------------------------------*\
  Grid Banners
\*------------------------------------*/
// .grid-blocks {
// }
.grid-blocks__cell {
  padding-bottom: $sp-small;

  &:last-child {
    padding-bottom: 0;
  }
}

.grid-blocks__full {
  width: 100%;
  margin: $sp-small 0;
}

@media only screen and (max-width: 767px) {
  .grid__img {
    max-width: 170px;
  }

  .grid__assess {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .grid_filtro {
    position: fixed;
    top: 0;
    left: -340px;
    z-index: 1000;
    width: 320px;
    height: 100vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &:before {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .filtro__scroll {
    position: relative;
    z-index: 2;
    width: 320px;
    height: 100vh;
    padding: 24px 20px 140px;
    overflow: scroll;
    background-color: $c-neutro;
  }

  .js-filtroOpen {
    left: 0;

    &:before {
      content: "";
      opacity: 1;
    }
  }

  .filtro__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: block;
    padding: 30px 20px;
    width: 100%;
    text-align: center;
    background-color: $c-neutro;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+17,ffffff+99&0.5+0,1+17,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#ffffff', GradientType=0);

    /* IE6-9 */
    .btn {
      width: 100%;
    }
  }
}

@include media-query(small-medium) {
  .grid__top {
    .btn_tag {
      min-width: 170px;
    }
  }
}

@include media-query(medium){

  //- Contenedor
  .grid {
    -ms-grid-columns: minmax(170px, 300px)[3];
    grid-template-columns: repeat(3, minmax(170px, 300px));
  }

  .grid__banner {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }

  .grid__banner2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }

  .grid__slot-info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }

  .order {
    padding-top: $sp-medium;
    padding-bottom: 6px;
  }

  //controles filtro ordenar M/D y filtrar M
  .grid__top {
    padding-top: 0;
  }

  .grid__select {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
  }

  .grid_filtro {
    padding-top: 14px;
  }

  .grid__ads {
    width: -webkit-calc(33% - 14px);
    width: -moz-calc(33% - 14px);
    width: -o-calc(33% - 14px);
    width: calc(33% - 14px);
    margin: 14px 7px;
  }

  .grid__order {
    @include flexbox;
    @include flex-direction(column);
  }

  .grid__header {
    @include order(2);
    padding: $sp-small 0;
  }

  .grid__value {
    @include font-rem(20px);
  }

  .grid__price {
    &:last-child {
      padding-left: 8px;
    }
  }

  .grid__photo {
    max-width: 144px;
  }

  /*------------------------------------*\
  Grid Banners
\*------------------------------------*/
  .grid-blocks {
    display: grid;
    position: relative;
    display: -ms-grid;
    display: grid; //-grid-template-columns: 50% 50%;
    //-grid-template : filas / columnas;
    //-grid-gap : filas / columnas;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; //flex-wrap: wrap;
  }

  .grid-blocks__cell {
    padding-bottom: 0;
  }

  //- Bloque
  // Slots nuevos simplificados
  .grid__slot_no-edge {

    //- Elemento
    .grid__img {
      max-width: 84px;
    }
  }

  //- Bloque
  // Slots nuevos simplificados con fondo blanco
  .grid__slot_background {

    //- Estructura
    .grid__inner {
      min-width: 190px;
      max-width: 207px;
    }
  }
}

@include media-query(wide) {
  .hide_desk {
    display: none;
  }

  //controles filtro ordenar M/D y filtrar M
  .grid__top {
    @include justify-content(flex-end);
  }

  .layout_grid {
    @include flexbox;
    @include justify-content(center);
  }
  .layout_grid_half {
    width: 90%;
    margin: 0 auto;
  }
}

@include media-query(large) {
  .grid__value {
    @include font-rem(24px);
  }

  .grid__assess {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    .grid__rating {
      margin-bottom: 0;
    }
  }
}

//- HOTFIX-INTPOSP-655
.ie11 {
  .grid_ie {
    .grid__photo {
      max-width: initial;
      width: 100%;
    }
  }
}

//- HOTFIX-ETEMM-PROD
@media only screen and (max-width: 480px){
  .grid__tags{
    height: auto;
    .tag_min{
      top:0;
    }
  }
}


//- HOTFIX-ETEMM-113 IE
  /*IE 10*/
.ie10 .grid__slot{
  display: inline-block !important;
  vertical-align: top !important;
}
.ie10 .grid.grid_ie{
   display: block !important;
}
.ie10 .products.grid_content.wrapper.products-grid{
  max-width: 1000px;
  display: block;
  position: relative;
}
.ie10 .grid__blocks .grid__price{
  max-width: 50%;
}
  /*IE 11*/
.ie11 .grid__slot{
  display: inline-block !important;
  vertical-align: top !important;
}
.ie11 .grid.grid_ie{
  display: block !important;
}
.ie11 .products.grid_content.wrapper.products-grid{
  max-width: 1000px;
  display: block;
  position: relative;
}
