/*---------Head [Clase general para identificar un header](Sólo Header) MB----------*/
.head {
  //border: 1px solid blue;
  position: relative;

  .band_brand-2 {
    z-index: 3;
  }

  .title__light {
    text-align: center;
    padding: $sp-large 0 $sp-medium;
  }

  .head-callto_inline,
  .grid-squares {
    padding-bottom: $sp-wide;
  }

  .status {
    padding: $sp-medium 0;
  }

  &.layout-flex {
    @include justify-content(flex-end);
  }
}

//- modificador
.head_center {
  text-align: center;

  // **** Cabecera *****
  .title {
    @include font-rem(30px);
  }
}


/*---------Head inner  (Sólo Header) MB----------*/
.head-inner {
  width: 90%;
  margin: 0 auto;
}

/*---------Menú Brand Estructura del Menú 1(Header)----------*/
.head-brand {
  display: block;
  // background-color: $c-brand-2;
}

/*---------Menú Content Estructura del Menú 2(Header)----------*/
.head-cont {
  border-bottom: 1px solid $c-default-5;
}

/*---------Menú Gral Estructura del Menú 2(Header)----------*/
.head-gral {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 56px;
  z-index: 2;
  background-color: $c-neutro;
}

/*---------Menú Foot  (Header)----------*/
.head-foot {
  display: flex;
  align-items: center;
  padding-right: 10px;
  background-color: $c-neutro;
  .head__item.btn {
    min-width: 160px;
    padding: 16px 12px;
  }
}

//- Elemento
.head__item {
  position: relative;
  margin: auto;

  &:first-child {
    display: block;
    flex-grow: 2;
  }

  &:nth-child(2) {
    max-height: 40px;
    line-height: .6;
  }
}

//- Elemento
.head__txt {
  @include font-rem(18px);
}

//- Elemento
.head__txt-comp {
  margin-bottom: 14px;
}

//- Elemento
.head__title {
  @include font-rem(24px);
}

//- Elemento
.head__subtitle {
  @include font-rem(18px);
  font-family: $f-light;
}

//- Elemento
.head__headline {
  @include font-rem(20px);
  font-family: $f-light;
}

//- Elemento
.head__ico {
  font-family: $f-light;
  @include font-rem(18px);

  &:before {
    color: $c-brand-2;
    @include font-rem(40px);
  }
}

/*---------Header (Head de top)----------*/
.head__top {
  position: relative;
  text-align: center;
  padding: $sp-medium $sp-small;

  .head__txt {
    padding-top: $sp-small;
  }
}

/*---------head Box header principal template 2  (Header)----------*/
.head__box {
  position: relative;
  text-align: center;
  padding: 0 $sp-small $sp-medium $sp-small;

  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 110%;
    height: 60px;
    border-radius: 50%;
    background-color: $c-default-5;
  }

  .block-links {
    padding-top: $sp-small;
  }
}

/*---------Menú Callto  (Header)----------*/
//- Bloque principal
.head-callto {
  position: relative;
  display: flex;
  max-width: 560px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: $sp-small $sp-xsmall;

  &:before {
    @include font-rem(24px);
    color: $c-brand-2;
    padding-right: $sp-small;
  }
}

//- Modificador
.head-callto_inline {
  list-style: none;
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  padding: 0 0 $sp-medium 0;
  max-width: 340px;
  margin: 0 auto;
  padding: 0;

  .head-callto__txt,
  .head-callto__txt-bold {
    @include font-rem(12px);
    width: 100%;
    white-space: nowrap;
  }
}

//- Estructura
.head-callto__box {
  display: flex;
  flex-direction: column;
  margin-bottom: $sp-small;
  width: 100%;
  text-align: center;
}

//- Estructura
.head-callto__item {
  position: relative;
  margin: 0 auto;
}

//- Elemento
.head-callto__ico {
  position: relative;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  //padding-left: $sp-small;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   width: 1px;
  //   height: 100%;
  //   min-height: $sp-small;
  //   background-color: $c-default-4;
  //   @include order(1);
  //   margin-right: $sp-xsmall;
  // }

  &:before {
    @include order(2);
    color: $c-brand-2;
    padding: 0 $sp-xsmall;
    font-size: 18px;
  }
}

//- Estructura (interna)
.head-callto__item_inline {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include flex-grow(2);

  &:before {
    color: $c-brand-2;
    padding-right: 4px;
  }

  .head-callto__txt-bold {
    padding: 0 $sp-xsmall;
  }
}

//- Elemento
.head-callto__txt-bold {
  display: block;
  font-family: $f-bold;
}

@media only screen and (max-width: 767px) {
  .head__item {
    &.btn {
      display: none;
    }

    &.btn-circle {
      position: fixed !important;
      top: calc(100vh - 70px);
      right: 20px;
      width: 60px;
      height: 60px;
      z-index: 4;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .head-foot {
    .btn {
      display: none;
    }
  }
}

// $bp-medium: 480px
@include media-query(small-m) {
  .head-callto {
    flex-wrap: nowrap;
  }

  .head-callto__box {
    width: auto;
    padding-right: $sp-small;
    margin-right: $sp-small;
    margin-bottom: 0;
    border-right: 1px solid $c-default-3;
    text-align: left;
  }

  //- Modificador
  .head-callto_inline {

    .head-callto__txt,
    .head-callto__txt-bold {
      @include font-rem(14px);
    }
  }
}

// $bp-medium: 768px
@include media-query(medium) {
  .head {
    text-align: left;

    .title__light {
      padding: $sp-large 0;
    }
  }

  // .head_center {
  //   &.layout-flex__item-large {
  //     text-align: left;
  //   }
  // }

  /*---------Head inner  (Sólo Header)----------*/
  .head-inner {
    width: 100%;
    max-width: 1240px;
  }

  /*---------Head Content  (Sólo Header en Desktop)----------*/
  .head-cont {
    display: flex;
    align-items: center;
  }

  /*---------Menú Brand Estructura del Menú 1(Header)----------*/
  .head-brand {
    display: flex;
    justify-content: space-between;
  }

  /*---------Menú Gral Estructura del Menú 2(Header en desktop)----------*/
  .head-gral {
    align-items: center;
  }

  .head__box {
    padding: 0 0 $sp-medium 0;

    &:after {
      display: none;
    }

  }

  // Aparece el Botón fixed solo desde 768px
  .head__item {
    &.btn-circle-Fixed-bottom {
      z-index: 2;
      display: block;
    }
  }

  .head__title {
    @include font-rem(40px);
  }

  .head__top {
    padding: 0 $sp-small $sp-medium $sp-small;
  }
}

// $bp-wide: 1024px
@include media-query(wide) {
  .head__item {
    &:nth-child(2) {
      display: block;
      margin-right: 10px;
    }
  }

  .head {
    .title__light {
      padding-top: $sp-large;
    }
  }
}

// $bp-large: 1180px
@include media-query(large) {
  .head__item {
    display: block;
    margin: 0 10px;

    &:nth-last-child(4n) {
      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $c-default-1;
      }
    }
  }
}
