/*------------------------------------*\
	Hero Image
\*------------------------------------*/
.hero-top {
  margin-top: -16px;
}
.hero-img {
  overflow: hidden;
}

.hero-img__item {
  height: 100%;
  min-height: 380px;
  padding: 0;
  cursor: pointer;
  color: $c-neutro;
  overflow: hidden;
  background-image: url('../img/demo/hero-img.jpg'); // Imagen para mobile
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 10%;
}

//bp-medium = 768px
@include media-query(medium) {
  .hero-img__item {
    background-position: center bottom;
  }
}
