/*------------------------------------*\
	Hero slider
\*------------------------------------*/

.hero-banner__content {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// Slides individuales
.hero-banner__item {
  position: relative;
  height: 100%;
  max-height: 500px;
  padding: 0;
  cursor: pointer;
  color: $c-neutro;
  overflow: hidden;
}

.hero-banner__crop {
  max-height: 500px;
}

.slick-slide {
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
  .hero-banner__svg {
    display: none;
  }
}

.hero-banner__caption {
  position: absolute;
  width: 39%;
  max-width: 320px;
  left: 20px;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.hero-banner__title {
  line-height: 1.2;
  font-family: $f-light;
  @include font-rem(36px);
}

.hero-banner__txt {
  display: none;
  margin: 0;
  font-family: $f-light;
  @include font-rem(14px);
  line-height: 1.2;
  padding-bottom: $sp-small;
}

.hero-banner__bold {
  font-family: $f-bold;
}

.hero-banner__btn {
  display: none;
}

.hero-banner__img {
  width: 100%;
}

//bp-small-m = 480px
@include media-query(small-m) {
  .hero-banner__caption {
    width: 40%;
    left: 15px;
  }
}

//bp-small-medium = 650px
@include media-query(small-medium) {
  .hero-banner__caption {
    width: 39%;
    left: 60px;
  } // Slides individuales
  .hero-banner__item {
    background-size: 2420px auto;
  }
  .hero-banner__txt {
    display: block;
  }
  .hero-banner__title {
    @include font-rem(50px);
    padding-bottom: $sp-xsmall;
  }
  .hero-banner__svg {
    position: absolute;
    width: 280%;
    left: -225%;
    top: -293%;
  }
  .slick-slide {
    .hero-banner__svg {
      display: block;
    }
  }
}

//bp-medium = 768px
@include media-query(medium) {
  .hero-banner__btn {
    display: block;
    min-width: 220px;
    margin-top: $sp-small;
    padding: 8px;
  }
  .hero-banner__item {
    background-position: 25% bottom;
  }
  .hero-banner__svg {
    left: -125%;
    top: -30%;
  }
  .hero-banner__txt {
    line-height: 1.2;
    @include font-rem(16px);
    padding-bottom: $sp-xsmall;
  }
  .hero-banner__title {
    padding-bottom: 0;
  }
}

//bp-small-wide = 980px
@include media-query(small-wide) {
  .hero-banner__svg {
    left: -136%;
    top: -55%;
  }
  .hero-banner__txt {
    padding-bottom: $sp-small;
    line-height: 1.4;
    @include font-rem(18px);
  }
  .hero-banner__title {
    @include font-rem(63px);
    padding-bottom: $sp-small;
  }
}

//bp
//bp-big = 1280px
@include media-query(big) {
  .hero-banner__caption {
    left: 7%;
  }
}
