/*------------------------------------*\
    Bloque Tu sim
\*------------------------------------*/
.es-history-data {

  .es-table-data {
    margin: 0 0 $sp-small;
    border: 1px solid $c-default-4;
  }

  .es-table-data__row {
    &:not(:last-child) {
      border-bottom: 1px solid $c-default-6;
    }
    &.es-table-banner {
     border: none; 
    }
  }


  // Estado abierto
  .es-table-data__status-on {
    .es-table-data__cell {
      &:nth-child(2) {
        color: $grey-7;
      }
      &:first-child {
        &:after {
          background-color: $c-brand;
        }
      }
    }
  }

  .es-table-data__row.es-table-data__status-on {
    background: #F4F4F3;
  }

  // Estado progeso
  .es-table-data__status-in {
    .es-table-data__cell {
      &:nth-child(2) {
        font-family: $f-bold;
      }
    }
  }

  .es-table-data__cell {
    @include font-rem(14px);
    line-height: 16px;
    &:first-child {
      padding-left: 20px;
      &:after {
        content: '';
        position: absolute;
        //left: 0;
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $c-default-3;
        margin: 0 10px;
        left: -10px;
        top: 20px;
      }
    }
  }

  /* Botones de accion */
  .es-table__btn-actions {
    position: absolute;
    top: 80%;
    right: 0;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    @include font-rem(0px);
    background-color: transparent;
    &:before {
      @include font-rem(20px);
      color: $c-default-3;
    }
  }

  .es-table__actions {
    position: absolute;
    display: none;
    right: -8px;
    top: 130px;
    width: 174px;
    padding: 8px;
    z-index: 2;
    list-style: none;
    text-align: center;
    background-color: $c-neutro;
    border-radius: 8px;
    box-shadow: -1px 3px 7px 0 $c-default-6;
    border: 1px solid $c-default-6;
    opacity: 0;
    transition: opacity.3s linear;
    &.js-tooltipData-open {
      opacity: 1;
    }
    &:before {
      content: '';
      position: absolute;
      right: 12px;
      top: -8px;
      width: 0;
      height: 0;
      z-index: -1;
      border-style: solid;
      border-width: 0 10px 8px 10px;
      border-color: transparent transparent $c-default-6 transparent;
    }
    &:after {
      content: '';
      position: absolute;
      right: 14px;
      top: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 7px 8px;
      border-color: transparent transparent $c-neutro transparent;
    }
  }

  .es-table__actions-link {
    display: block;
    padding: 8px 0;
    font-family: $f-regular;
    @include font-rem(14px);
    &:hover {
      color: $c-brand-2-hover;
    }
  }

  /* Banner publicitario */
  .es-table-banner {
    background-color: $green;
    padding: 0 !important;
  }
  .es-table-banner__cell {
    height: auto;
    vertical-align: top;
  }
  .es-table-banner__wrap {
    flex-direction: column;
    position: relative;
  }
  .es-table-banner__img {
    max-width: 100%;
  }
  .es-table-banner__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: #fff;
    font-size: 22px;
    margin: 10px;
    z-index: 2;
  }
  .es-table-banner__info {
    align-self: stretch;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
  }
  .es-table-banner__txt {
    padding: 10px;
    text-align: center;
  }
  .es-table-banner__title {
    font-family: $f-light;
    @include font-rem(30px);
    line-height: 32px;
    margin-bottom: 20px;
  }
  .es-table-banner__subtitle {
    font-family: $f-light;
    @include font-rem(16px);
    line-height: 23px;
  }
  .es-table-banner__btn {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    max-width: 214px;
    margin: 20px 0 0 auto;
    padding: 8px;
    text-align: center;
  }
  .es-table-banner__tag {
    font-weight: bold;
  }

  @media only screen and (max-width: 767px) {
    .es-table-data {
      display: block;
      padding: 0;
      border: 1px solid $c-default-6;
    }
    .es-table-data__head {
      display: none;
    }
    .es-table-data__content {
      display: block;
    }
    .es-table-data__row {
      position: relative;
      display: grid;
      display: -ms-grid;
      width: 100%;
      padding: $sp-xsmall;
    }
    .es-table-data__cell {
      font-family: $f-default;
      @include font-rem(14px);
      padding: 8px 4px;
      &:after {
        bottom: 50%;
        transform: translateY(-50%);
        margin: 0 5px;
      }
      &:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        -ms-grid-row: 1;
        grid-row: 1;
      }
      &:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        -ms-grid-row: 2;
        grid-row: 2;
        text-align: right;
        padding-right: 20px;
      }
      &:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 3;
        grid-row: 3;
      }
      &:nth-child(4) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 3;
        grid-row: 3;
      }
      &:nth-child(5) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 3;
        grid-row: 3;
      }
    } //tabla con textos de head en casa columna
    .es-table-data__cell {
      &:first-child {
        position: relative;
        display: block;
        &:before {
          display: block;
          padding-left: $sp-small;
        }
      }
      &:before {
        content: attr(data-tableHead);
        display: block;
        font-family: $f-default;
        @include font-rem(11px);
        color: $c-default-7;
      }
    }
  }

  //-@media only screen and (min-width: 700px) {
  @include media-query(medium) {
    .es-table-data {
      width: 100%;
    }
    .es-table-data__head {
      border-bottom: 1px solid $c-default-6;
    }
    .es-table-data__head-item {
      padding: $sp-xsmall;
      font-family: $f-bold;
      text-align: left;
      @include font-rem(18px);
    }
    .es-table-data__cell {
      padding: $sp-small $sp-xsmall;
      &:after {
        top: 50%;
      }
      &:first-child {
        position: relative;
        padding-left: 40px;
        width: 80%;
        &:after {
          left: 0;
          top: 30px;
        }
      }
      &:last-child {
        width: 30%;
        padding-right: 30px;
        position: relative;
        text-align: right;
      }
    }
    .es-table__btn-actions {
      top: 50%;
    }
    .es-table__actions {
      top: 46px;
    }
  } 
  @media only screen and (min-width: 480px) and (max-width: 979px) {
    .es-table-banner__img {
      display: none;
    }
  }
  //-@media only screen and (min-width: 980px) {
  @include media-query(small-wide) {
    .es-table-data__cell {
      &:first-child {
        &:after {
          left: 1%;
        }
      }
    }
    /* Banner publicitario */
    .es-table-banner__cell {
      // min-height: 250px;
      vertical-align: bottom;
    }
    .es-table-banner__wrap {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      // min-height: 250px;
      position: relative;
    }
    .es-table-banner__info {
      align-self: stretch;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
      padding-top: 20px;
    }
    .es-table-banner__txt {
      padding: 0 50px 10px 0;
      text-align: right;
    }
    .es-table-banner__title {
      @include font-rem(40px);
      line-height: 45px;
      max-width: 308px;
      margin-left: auto;
    }
    .es-table-banner__subtitle {
      @include font-rem(18px);
      max-width: 324px;
    }
  }
}
