/**
 * @molecule Info Prom
 * @section Navegación
 * @markup
 *   <div class="info-prom">
 *     <div class="inner_canvas">
 *       <dl class="info-prom__list">
 *         <dt class="info-prom__title">Beneficios que tienes al comprar en Movistar</dt>
 *         <dd class="info-prom__item i-calendar-comic">Meses sin intereses</dd>
 *         <dd class="info-prom__item i-cards">Múltiples opciones de pago</dd>
 *         <dd class="info-prom__item i-price">Los mejores precios</dd>
 *       </dl>
 *     </div>
 *   </div>
 */

.info-prom {
  display: block;
  background-color: $c-default;
  color: $c-neutro;
}

.info-prom__inner {
  width: 90%;
  margin: 0 auto;
}

.info-prom__list {
  @include flexbox;
  @include justify-content(center);
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: $sp-xsmall 0;
  margin: 0 -6px;
}

.info-prom__item {
  // width: 33.33%;
  @include flexbox;
  @include flex(1 33.33%);
  @include flex-direction(column);
  padding: 0 2px $sp-xsmall;
  text-align: center;
  font-family: $f-default;
  @include font-rem(10px);
  &:before {
    display: block;
    margin-bottom: 6px;
    @include font-rem(20px);
  }
}

.info-prom__title {
  @include flex(1 100%);
  padding: $sp-xsmall 0 $sp-small;
  text-align: center;
  font-family: $f-bold;
  @include font-rem(14px);
}

//- $bp-small-medium: 650px;
@include media-query(small-medium) {
  .info-prom__item {
    @include font-rem(12px);
    &:before {
      @include font-rem(22px);
    }
  }
  .info-prom__title {
    @include font-rem(16px);
  }
}


//- $bp-sm-md: 768px;
@include media-query(medium) {
  .info-prom__list {
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-wrap(nowrap);
    height: 100%;
    margin: 0;
  }
  .info-prom__title {
    @include flex(1 0);
    padding: 0 8px 0 0;
    text-align: left;
    @include font-rem(18px);
    line-height: 1.2;
    width: min-content;
    min-width: 200px;
  }
  .info-prom__item {
    @include flex(1 auto);
    padding: 0 6px;
  }
}



// $bp-wide: 1024px
@include media-query(wide) {
  .info-prom__inner {
    max-width: 1084px;
  }
  .info-prom__item {
    @include font-rem(16px);
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
    &:before {
      margin-bottom: 0;
      padding-right: 6px;
      @include font-rem(30px);
    }
  }
}

// $bp-large: 1180px
@include media-query(large) {
  .info-prom__title {
    @include flex(1 30%);
    @include font-rem(21px);
  }
}
