

.form__radio {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  &:checked+.form__radio_label {
    &:before {
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
    &:after {
      width: 14px;
      height: 14px;
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
  }
}

.form__radio_label {
  position: relative;
  left: 40px;
  font-family: $f-bold;
  @include font-rem(16px);
  vertical-align: middle;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -35px;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $c-brand-2;
    background-color: $c-neutro;
  }
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -30px;
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 0;
    transform: scale(0);
    border-radius: 50%;
    background-color: $c-brand-2;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }
}

//- Input radio verde
.form__radio_label-brand {
  &:before {
    content: '';
    border: 2px solid $c-default-2;
    background-color: $c-neutro;
  }
  &:after {
    background-color: $c-brand;
  }
}
