.list-order {
  order: 1;
  padding-bottom: $sp-small;
  margin-bottom: $sp-small;
  border-bottom: 1px solid $c-default-4;
}

.list-order__row {
  display: flex;
  width: 50%;
  margin: 0 0 0 auto;
  justify-content: space-between;
  padding: 5px $sp-small;
}

@media (max-width: 376px){
  .list-order__row {
    padding: 5px 1px !important;
  }
}

.list-order__value {
  font-family: $f-bold;
  text-align: right;
}

// $bp-medium : 768px;
@include media-query(medium) {
  .list-order {
    width: 50%;
    order: 2;
    //padding-bottom: $sp-small;
    //margin-bottom: $sp-small;
    border-bottom: none;
  }
  .list-order__row {
    width: 100%;
  }
}
