.list-radio {
  position: relative;
}

.list-radio__list {
  list-style: none;
}
//- clase que lleva la clase slick
.list-radio__item {
  position: relative;
}
.list-radio__label {
  position: relative;
}

//- Borde de los logos
.list-radio__fig {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 155px;
  min-height: 65px;
  padding: 0 $sp-small;
  border: 1px solid $c-default-3;
  border-radius: 6px;
  background-color: $c-neutro;
}

.list-radio__img {
  width: 100%;
}

.list-radio__value {
  display: block;
  text-align: center;
  @include font-rem(40px);
}

.list-radio__txt-sm {
  display: block;
  color: $c-brand;
  @include font-rem(18px);
}

//Sólo para resolución mobile
@media only screen and (max-width:829px) {
  .list-radio {
    padding-bottom: 40px;
    .form__label_check {
      &:before {
        display: none;
      }
    }
  }
  .list-radio__list {
    padding: 10px;
  }
  .list-radio__link {
    display: none;
  }
  .list-radio__head {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 140px;
    background-color: $c-brand;
  }
  .list-radio__txt {
    text-align: center;
    padding: $sp-medium $sp-small;
    line-height: 1.6;
    @include font-rem(18px);
  }
  .list-radio__btn {
    display: block;
    margin: $sp-medium $sp-small;
  } //- Checked de solo mobile
  .list-radio__input {
    &:checked+.list-radio__label {
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: -5px;
        width: 100%;
        height: 3px;
        margin-left: -2px;
        background-color: $c-brand-2;
      }
      &:after {
        content: 'Promoción';
        font-family: $f-default !important;
        letter-spacing: 0.07em;
        position: absolute;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        max-width: 130px;
        text-align: center;
        @include font-rem(14px);
        color: $c-neutro;
        padding: 3px;
        margin: 0;
        background-color: $c-brand-2;
        border-radius: 4px;
      }
      .list-radio__fig {
        border: 3px solid $c-brand-2;
      }
    }
  }
  .list-radio__label {
    //margin-top: $sp-small;
    max-width: 270px;
    margin: $sp-small auto 0 auto;
  } //Controles del slider para mobile
  .list-radio__controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    .slider__arrow {
      &:before {
        position: absolute;
        @include font-rem(20px);
        color: $c-brand-2;
      }
      &.i-arrow-left {
        margin-left: 0;
        &:before {
          top: -16px;
          left: -5px;
        }
      }
      &.i-arrow-right {
        margin-right: 0;
        &:before {
          top: 0;
          right: 5px;
        }
      }
      &.slick-hidden {
        display: block;
      }
    }
  }
  .list-radio__box {
    display: block;
    max-width: 270px;
    margin: 0 auto;
    border: 1px solid $c-default-3;
  }
}

//Sólo para resolución mobile (Tamaño de item)
@media (min-width:450px) and (max-width:829px) {
  .list-radio__label,
  .list-radio__box {
    //margin-top: $sp-small;
    max-width: 320px;
  }
}

//Para ver en desktop
@media (min-width:830px) {
  .list-radio__txt,
  .list-radio__btn {
    display: none;
  }
  .list-radio__controls {
    display: none;
  }
  .list-radio__label {
    border-bottom: 1px solid $c-default-4;
    padding: $sp-medium 0;
    &.form__label_check {
      padding-left: 3%;
    }
  } // Caja de distribución en tres columans
  .list-radio__box {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .list-radio__link {
    flex-grow: 2;
    padding-left: $sp-xsmall;
  }
  .list-radio__value {
    padding-right: $sp-xsmall;
  }
  .list-radio__hidden {
    display: block;
  }
  .list-radio__input {
    &:checked+.list-radio__label {
      background-color: $c-default-4;
    }
  }
}
