/*------------------------------------*\
	Component List Sticky
\*------------------------------------*/

//_ Clase PRINCIPAL de SUBNAV que necesita el menú para ser Sticky
.sticky {
  background-color: transparent;

  .list-sticky {
    display: none;
  }
}

.list-sticky {
  list-style: none; // Cuando tiene la clase sticky se pone con display Flex
  display: none;
  width: 86%;
  @include align-items(center);
  justify-content: flex-start;
}

.list-sticky__item {
  &:not(:first-child):not(:last-child) {
    padding: 0 10px;
  }

  &:nth-last-child(3) {
    text-align: center;
  }

  &:first-child {
    min-width: 260px;
    margin-left: 20px;
  }
}

.list.sticky__item_big {
  flex-basis: 40%;
}

.list-sticky__item_huge {
  width: 100%;
  text-align: right;
}

.list-sticky__fig {
  // display: flex;
  @include flexbox;
  // align-items: center;
  @include align-items(center);
  width: 100%;
  height: auto;
}

.list-sticky__img {
  width: 100%;
  max-width: 72px;
  flex-grow: 1;
}

.list-sticky__caption {
  @include font-rem(24px);
  flex-flow: 2;
  padding: 0 20px;
}

.list-sticky__sm-txt {
  display: block;
  @include font-rem(14px);
  font-family: $f-bold;
}

.list-sticky__txt {
  @include font-rem(18px);
}

.bar-sticky {
  display: none;
}




// // $bp-wide: 1024px
// @include media-query(wide) {}

// $bp-medium: 768px
@include media-query(medium) {

  //*** Bar Sticky 
  // Componente sticky
  .bar-sticky {
    display: none;
    padding: $sp-xsmall 0;
    background-color: $c-default-5;
  }

  .bar-sticky__list {
    width: 100%;
    max-width: 1084px;
    margin: 0 auto;
    @include flexbox;
    @include justify-content(center);
    list-style: none;
  }

  .bar-sticky__item {
    position: relative;
    @include flex(0 auto);
    padding: 0 $sp-small;
  }

  .bar-sticky__ico {
    // .bar-sticky__fig {
    //   min-width: 120px;
    // }
    .bar-sticky__caption {
      font-family: $f-default;
      color: $c-default-2;
      white-space: nowrap;
    }

    .bar-sticky__img {
      min-width: 55px;
    }
  }

  .bar-sticky__fig {
    position: relative;
    @include flexbox;
    @include align-items(center);
    height: 100%;
  }

  .bar-sticky__img {
    display: block;
    width: 100%;
    max-width: 70px;
    padding-right: $sp-xsmall;
  }

  .bar-sticky__caption {
    font-family: $f-bold;
    @include align-self(center);
  }

  .bar-sticky__txt {
    display: block;
    font-family: $f-default;
  }

  .bar-sticky__btn {
    @include font-rem(0px);
    position: absolute;
    left: -24px;
    top:0;

    &:before {
      @include font-rem(18px);
    }
  }

  .sticky {
    .list-sticky {
      // display: flex;
      @include flexbox;
    }

    display: block;
    background-color: $c-default-5;
    position: fixed;
    width: 100%;
    z-index: 6;
    top: 0;

    .menu-links__item {
      &:last-child {
        display: none;
      }
    }
  }
}


// // $bp-wide: 1024px
@include media-query(wide) {}

// $bp-large: 1180px
@include media-query(large) {
  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
  }

  .list-sticky__item {
    &:not(:first-child):not(:last-child) {
      padding: 0 24px;
    }
  }

  .list-sticky__item_huge {
    .list-sticky__btn {
      width: 100%;
      max-width: 250px;
    }
  }
}

//- Javascript
.js-changeHide {
  display: none;
}
//- Javascript
.js-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}