//- Caja principal [lista de 3 columnas]
.list-3col {
  text-align: center;
  background-color: $c-default-5;
  padding: $sp-medium 0;
}

//- caja de 3 columnas con flex
.list-3col__row {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: $sp-medium;
  &:last-child {
    padding-bottom: 0;
  }
}

.list-3col__label {
  font-family: $f-bold;
  text-transform: uppercase;
  @include font-rem(14px);
}

.list-3col_box {
  border: 1px solid $c-default-3;
}

.list-3col__num {
  font-family: $f-light;
  @include font-rem(48px);
}

//Mediaquery especial solo bloque [list-3col]
//-@media (min-width: 430px) and (max-width: 691px) {
@media (min-width: 430px) {
  .list-3col {
    max-width: 570px;
    margin: 0 auto;
    background-color: $c-neutro;
    padding: 0;
    display: flex;
  }
  .list-3col__row {
    width: 33.333%;
    padding-bottom: 0;
  }
  .list-3col__num {
    border-top: 1px solid $c-default-6;
    border-bottom: 1px solid $c-default-6;
    @include font-rem(34px);
    padding: $sp-small 0;
  }
  .list-3col__num_left {
    border-left: 1px solid $c-default-6;
  }
  .list-3col__num_right {
    border-right: 1px solid $c-default-6;
  }
}

@media (min-width: 800px) {
  .list-3col__label {
    @include font-rem(11px);
  }
  .list-3col__num {
    @include font-rem(30px);
  }
}
@media (min-width: 387px) {
  .list-3col__label {
    padding-bottom: $sp-xsmall;
    @include font-rem(13px);
  }
  .list-3col {
    padding: $sp-medium 4px;
  }
}

// $bp-small-medium : 768px;
@include media-query(medium) {
  .list-3col {
    padding: 0 $sp-xsmall;
  }
  .list-3col__label {
    @include font-rem(10px);
    padding-bottom: $sp-xsmall;
  }
  .list-3col__num {
    @include font-rem(28px);
  }
}

@media (min-width: 880px) {
  .list-3col__label {
    @include font-rem(14px);
  }
  .list-3col__num {
    @include font-rem(39px);
  }
}

