/*------------------------------------*\
	Component list-ico
\*------------------------------------*/

/**
 * @atom Icon List
 * @section Lists
 * @markup
 *   <dl class="list-ico">
 *     <dt class="list-ico__txt">Compartir</dt>
 *     <dd class="list-ico__item"><a class="list-ico__link mi-facebook-comic" href="#" title="Compartir en Facebook">Compartir en facebook</a></dd>
 *     <dd class="list-ico__item"><a class="list-ico__link mi-twitter-comic" href="#" title="Compartir en Facebook">Compartir en Twitter</a></dd>
 *     <dd class="list-ico__item"><a class="list-ico__link i-chat" href="#" title="Compartir en Facebook">Compartir en Whatsapp</a></dd>
 *     <dd class="list-ico__item"><a class="list-ico__link i-email" href="#" title="Compartir en Facebook">Compartir por correo</a></dd>
 *   </dl>
 */


.list-ico {
  @include flexbox;
  @include flex-wrap(wrap);
  list-style: none;
}

/**
 * @atom Image - Icon List
 * @section Lists
 * @markup
 *   <ul class="list-ico">
 *     <li class="list-ico__item"><img class="list-ico__img" src="../static/img/demo/icono/twitter_grey.svg" alt="twitter"></li>
 *     <li class="list-ico__item"><img class="list-ico__img" src="../static/img/demo/icono/facebook_grey.svg" alt="facebook"></li>
 *     <li class="list-ico__item"><img class="list-ico__img" src="../static/img/demo/icono/instagram_grey.svg" alt="instagram"></li>
 *     <li class="list-ico__item"><img class="list-ico__img" src="../static/img/demo/icono/whatsapp_grey.svg" alt="whatsapp"></li>
 *   </ul>
 */

.list-ico__txt {
  vertical-align: middle;
  padding: 6px 0;
}

.list-ico__link {
  display: inline-block;
  color: $c-brand-2;
  padding: 10px 6px 0;
  vertical-align: middle;
  @include font-rem(0px);
  &:before {
    display: block;
    @include font-rem(16px);
  }
}

.no-change:visited{ 
  color: $c-brand-2 !important;
}

.list-ico__img {
  max-width: 40px;
  padding: 0 4px;
  vertical-align: middle;
}

// Grupo de Lista
.list-icons {
  padding-bottom: $sp-medium;
}

.list-icons__txt {
  @include font-rem(14px);
}

.list-ico__line {
  position: relative;
  display: block;
  padding: 10px 6px 0 24px;
  @include font-rem(14px);
  &:before {
    display: block;
    color: $c-brand-2;
    @include font-rem(16px);
    position: absolute;
    top: 13px;
    left: 0;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
}
