/*------------------------------------*\
	Slider entre Contenido
\*------------------------------------*/

.main-slider {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
}


.main-slider__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.main-slider__img {
  width: 100%;
  cursor: pointer;
}

.main-slider__thumbs {
  .main-slider__img {
    padding: 0 2px;
  }
}

.main-slider__crop {
  max-width: 320px;
  max-height: 320px;
  overflow: hidden;
  border: 1px solid rgb(19, 252, 221);
}


// @media (max-width: 380px) {
//   .main-slider {
//     max-width: 280px;
//   }
// }

//- $bp-small-m: 480px;
// @include media-query(small-m) {
//   .main-slider {
//     max-width: 450px;
//     margin: 0 auto 30px;
//   }
// }

//- $bp-medium: 768px;
// @include media-query(medium) {
//   // .slideImg {
//   //   width: 450px;
//   // }
//   .main-slider {
//     max-width: none;
//   }
// }
