.is-header-logged {
  overflow: visible;

  .menu-foot {
    display: none;
  }
}

.c-menu-user__profile-wrapper {
  order: 3;
  z-index: 1;
}

.c-menu-user__profile {
  display: flex;
  flex-wrap: wrap;
  min-width: 173px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 9px;
  align-items: center;
}

.c-menu-user__profile-img-wrapper {
  display: flex;
  align-items: center;
}

.c-menu-user__profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 5px;
}

.c-menu-user__profile-text {
  margin-bottom: 0;
}

.c-menu-user__profile-content {
  position: relative;
  width: calc(100% - 50px);
  cursor: pointer;

  &::before {
    @include font-size-rem(25px);
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: -13px;
    color: #5BC500;
  }
}

.c-menu-user__wrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  top: 75px;
  width: 173px;
  position: absolute;
  display: none;
  background-color: #fff;
}

.c-menu-user__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .is-active-item {
    background-color: #F2F2F2;
    color: #5BC500;
  }
}

.c-menu-user__item {
  @include font-size-rem(18px);
  padding: 17px 14px;
  cursor: pointer;

  &:hover {
    background-color: #F2F2F2;
    color: #5BC500;
  }
}

.c-profile__default-img {
  background-color: #D8D8D8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-close-sesion {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &::before {
    right: -18px;
    position: relative;
    top: 4px;
  }
}

@media screen and(max-width:1023px) {
  .c-menu-user__profile-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    top: 100%;
  }

  .c-menu-user__wrapper {
    position: relative;
    width: 100%;
    top: 0;
  }

  .c-menu-user__profile {
    width: 100%;
    padding: 20px;
  }

  .c-menu-user__profile-text {
    position: relative;

    &::before {
      right: 2px;
    }
  }

  .is-header-logged,
  .header-brand::before {
    height: auto;
  }


  .c-menu-user__item {
    padding-left: 66px;
  }

  .c-menu-user__profile-img {
    margin-right: 15px;
  }

  .c-menu-user__profile-text {
    @include font-size-rem(18px);
  }

  .is-close-sesion {
    justify-content: space-between;

    &::before {
      right: 14px;
    }
  }

  .c-menu-user__profile-content {
    &::before {
      right: 6px;
    }
  }
}