/*------------------------------------*\
	Component Header Menu
\*------------------------------------*/

.menu-brand,
.menu-top,
.nav-site__list,
.menu-search__list {
  list-style: none;
}

//Boton buscar
.menu-search__hidden {
  display: none;
}

//Menú footer
.menu-foot {
  @include flexbox;
  @include align-items(center);
}

.menu-foot__ico {
  &:before {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 4px;
  }
}

//*---------MOBILE---------*/
@media screen and (max-width: 1023px) {

//Header
  .header {
    &.header_open {
      margin-bottom: 0;
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: 998;
      background-color: rgba(255, 255, 255, .8);
      .menu-brand {
        position: fixed;
        top: 0;
        left: -85%;
        right: initial;
      }
      .menu-wrapper {
        left: 15%;
      }
      .header-brand {
        &:before {
          // display: block;
          left: 15%;
        }
      }
    }
  }
  .header-brand {
    &:before {
      content: '';
      // display: none;
      height: 100%;
      position: fixed;
      right: 0;
      width: 85%;
      left: 100%;
      transition: all .3s linear;
      background-color: $c-brand-2;
    }
  }
//end Header

//Logo
  .menu-brand {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    @include flexbox;
    @include align-items(center);
    padding: $sp-xsmall;
    transition: all .3s linear;
    background-color: $c-neutro;
  }

    .menu-brand__item {
      width: 15%;
      text-align: right;
    }

    .menu-brand__item_logo {
      width: 80%;
      text-align: left;
    }

    .menu-brand__picture {
      display: block;
    }

    .menu-brand__img {
      display: block;
    }

    .menu-brand__link_login {
      @include font-rem(0px);
      &:before {
        @include font-rem(20px);
      }
    }

    .menu-brand__link_menu {
      @include font-rem(0px);
      &:before {
        @include font-rem(40px);
      }
    }
//end Logo

// Menú top
  .menu-top {
    position: relative;
    left: 0;
    width: 70%;
    max-width: 200px;
    background-color: $c-neutro;
    height: 46px;
    overflow-y: hidden;
    border-radius: 25px;
    transition: all .3s linear;
    &.menu-top_open {
      border-radius: 0;
      //TO DO: girar la flecha
    }
  }

  .menu-top__link {
    position: relative;
    display: block;
    padding: 10px 16px;
    @include font-rem(18px);
    color: $c-default-1;
    &:before {
      position: absolute;
      top: 12px;
      right: 10px;
      @include font-rem(24px);
    }
  }
//end Menú top

//Buscador
  .menu-search {
    width: 10%;
    transition: all .3s linear;
  }

  .menu-search__modal {
    display: none;
  }

  .menu-search__actions {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
    // padding-bottom: 10px;
  }

  .menu-search__btn {
    margin-right: 10px;
    &:before {
      @include font-rem(30px);
      color: $c-neutro;
    }
  }

  .menu-search__input {
    font-family: $f-default;
    color: $c-neutro;
    @include font-rem(14px);
    background-color: transparent;
  }

    input::-webkit-input-placeholder {
      color: transparent;
    }

    input:-moz-placeholder {
      color: transparent;
    }

    input:-ms-input-placeholder {
      color: transparent;
    }

    .menu-search__close {
      font-family: $f-default;
      color: $c-neutro;
      @include font-rem(14px);
    }
//end Buscador

// Menu Wrapper
  .menu-wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    @include flexbox;
    // @include flex-direction(column);
    @include flex-wrap(wrap);
    @include align-content(flex-start);
    @include justify-content(space-between);
    width: 85%;
    height: 100%;
    padding: 20px 24px 10px;
    z-index: 1000;
    overflow: hidden;
    background-color: $c-brand-2;
    transition: all .3s linear;
    &.menu-wrapper_first-open {
      transform: translateY(-70px);
      .nav-site__list_first {
        .nav-site__item {
          display: none;
          &.nav-site__item_active {
            display: block;
            .nav-site__list_second {
              .nav-site__item {
                display: block;
              }
              &.nav-site__list_second-open {
                .nav-site__item {
                  display: none;
                  &.nav-site__item_active {
                    display: block;
                  }
                  .nav-site__list {
                    .nav-site__item {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .menu-foot {
        opacity: 0;
        pointer-events: none;
      }
    }
    &.menu-wrapper_search-open {
      //estilos de buscador activo
      .menu-top {
        width: 0;
        left: -100%;
      }
      .menu-search {
        width: 100%;
      }
      //estilos de buscador activo
      .menu-search {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      }
    }
  }
//end Menu Wrapper

//Menú del site
  .nav-site {
    width: 100%;
    padding-top: 20px;
  }

  .nav-site__link {
    position: relative;
    display: block;
    font-family: $f-light;
    @include font-rem(24px);
    color: $c-neutro;
    padding: $sp-xsmall 0;
    &:before {
      position: absolute;
      top: 18px;
      right: 0;
      @include font-rem(24px);
    }
  }

  .nav-site {
    width: 100%;
    // max-width: 320px;
    overflow: hidden;
  }

  .nav-site__list_first {
    position: relative;
  }

  .nav-site__list_second,
  .nav-site__list_third {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all .3s linear;
    padding: 0 24px;
    margin-top: 20px;
  }

  .nav-site__item  {
    background-color: $c-brand-2;
    transition: all .3s linear;
    &.nav-site__item_active > {
      .nav-site__list {
        position: relative;
        z-index: 8;
        transform: translateX(0);
        &.nav-site__list_second {
          padding: 0;
          z-index: 5;
          .nav-site__item {
            &.nav-site__item_active {
              width: 100%;
              margin-top: -62px;
            }
          }
        }
      }
      .nav-site__link {
        padding-left: 20px;
        @include font-rem(16px);
        &:before {
          top: 10px;
          left: -6px;
          right: initial;
          @include font-rem(20px);
          transform: rotate(180deg);
        }
      }
    }
  }
//end Menú del site

//Botón footer de menú
.menu-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  @include justify-content(space-between);
  @include flex(1);
  width: 100%;
  padding: 10px;
  background-color: $c-neutro;
  transition: all .3s linear;
}
//end Botón footer de menú

}

//*---------/END MOBILE---------*/

//*---------DESKTOP-----------*/
// $bp-medium: 1028px
@include media-query(wide) {
  .header {
    background-color: $c-neutro;
  }
  .header-brand {
    // position: relative;
    @include flexbox;
    @include align-items(center);
    padding: 20px;
  }
  //end Header

  // Menú top
  .menu-top {
    position: absolute;
    top: 0;
    left: 0;
    @include flexbox;
    @include align-items(center);
    background-color: $c-default-5;
    width: 100%;
  }

    .menu-top__link {
      display: none;
      // display: inline-block;
      padding: 6px 0;
      margin-right: 10px;
      font-family: $f-regular;
    }
  //end Menú top

  //Logo
  .menu-brand {
    margin-right: 20px;
  }

    .menu-brand__item_hidden {
      display: none;
    }
  //end Logo

  // Buscador
  .menu-search {
    position: relative;
    left: 0;
    @include order(2);
    padding-right: 10px;
    transition: all .3s linear;
  }

  .menu-search__input {
    opacity: 0;
    width: 0;
    @include font-rem(30px);
    transition: all .3s linear;
  }

  input::-webkit-input-placeholder {
    color: $c-default-2;
    font-family: $f-light;
  }

  input:-moz-placeholder {
    color: $c-default-2;
    font-family: $f-light;
  }

  input:-ms-input-placeholder {
    color: $c-default-2;
    font-family: $f-light;
  }

  .menu-search__actions {
    @include flexbox;
    @include align-items(center);

    .menu-search__close {
      display: none;
    }
  }

  .menu-search__btn {
    &:before {
      display: block;
      text-align: center;
      width: 40px;
      @include font-rem(26px);
      transition: all .3s linear;
    }

    &:hover {
      &:before {
        color: $c-brand-2;
      }
    }
  }

  .menu-search__modal {
    position: fixed;
    left: 0;
    right: 0;
    height: calc(100% - 104px);
    z-index: 900;
    background-color: $c-neutro;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s linear;
  }
  //end Buscador

  // Menu Wrapper
  .menu-wrapper {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    overflow: hidden;
  }
  //end Menu Wrapper

  //Menú del site
  // .nav-site {
  //   width: 70%;
  // }

    .nav-site {
      left: 0;
      @include flex(2);
      @include order(1);
      min-width: 586px;
      transition: all .3s linear;
    }

  .nav-site__inner {
    width: 100%;
    max-width: 1084px;
    margin: 0 auto;
  }

  .nav-site__list {
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);
    .nav-site__list {
      display: none;
    }
  }

    .nav-site__item {
      &.nav-site__item_active > {
        .nav-site__list {
          position: absolute;
          top: 86px;
          right: 0;
          left: 0;
          z-index: 5;
          @include flexbox;
          @include justify-content(center);
          @include align-items(flex-start);
          padding: 46px;
          background-color: $c-neutro;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
          .nav-site__item {
            // width: 20%;
            .nav-site__link {
              display: block;
              padding: 6px 0;
            }
          }
          .nav-site__list {
            display: block;
          }
        }
      }
    }
    .nav-site__list_second > {
      .nav-site__item {
        // width: 20%;
        @include flex(1);
        max-width: 230px;
      }
      .nav-site__item > .nav-site__link {
        display: block;
        margin-bottom: 10px;
        padding: 0;
        text-transform: uppercase;
        @include font-rem(14px);
        font-family: $f-bold;
        letter-spacing: 1px;
      }
    }

  .nav-site__link {
    position: relative;
    padding-right: 20px;
    &:before {
      position: absolute;
      top: 4px;
      right: 0;
      transform: rotate(90deg);
    }
    &:hover {
      color: $c-brand-2;
    }
  }

  .nav-site__list_second {
    border-top: 1px solid $c-default-4;
    .nav-site__link {
      &:before {
        display: none;
      }
    }
  }
  //end Menú del site

    //Buscador activo
    .menu-wrapper_search-open {
      .menu-search {
        left: -60%;
      }

      .menu-search__input {
        opacity: 1;
        width: initial;
      }

      .nav-site {
        position: relative;
        left: -100%;
        transition: all .3s linear;
      }

      .menu-search__modal {
        opacity: 1;
        bottom: 0;
        transform: translateY(0);
        background-color: $c-neutro;
        box-shadow: inset rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;

        .menu-search__close {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          @include font-rem(0px);

          &:before {
            @include font-rem(30px);
          }
        }
      }
      .menu-foot {
        opacity: 0;
      }
    }

    .menu-search__inner {
      position: relative;
      width: 90%;
      max-width: 1084px;
      height: 100%;
      padding: 50px 0 0;
      margin: 0 auto;
    }

    .menu-search__title {
      letter-spacing: 1px;
      text-transform: uppercase;
      @include font-rem(13px);
      font-family: $f-bold;
      margin-bottom: 16px;
      display: block;
    }

    .menu-search__item {
      display: block;
      margin-bottom: 10px;
    }

    .menu-search__link {
      @include font-rem(24px);
    }

    //end Buscador activo


  //Botón footer de menú
  .menu-foot {
    @include order(3);
  }


  .menu-foot__btn {
    @include font-rem(14px);
  }

  .menu-foot__ico {
    display: block;
    margin-right: 20px;
    @include font-rem(14px);
  }
  //end Botón footer de menú
}
//*---------/END DESKTOP---------*/

@include media-query(large) {
  .menu-wrapper_search-open {
    .menu-search {
      left: -70%;
    }
  }
}
