.menu-aside {
  background-color: $c-default-5;
  border-radius: 4px 4px 0 0;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: none;
}

.panel-aside {
  display: none;
}

.menu-aside__item {
  display: flex;
  align-items: center;
}

.menu-aside__link {
  color: $c-default;
  font-family: $f-regular;
  @include font-rem(20px);
  display: block;
  padding: 12px 0 12px 44px;
  transition: 0.2s;
  width: 100%;

  &:hover {
    color: $c-brand-2;
  }
}

.menu-aside__item.active {
  background-color: $c-brand-2;
  position: relative;
  transform: translateX(0);

  &:first-child {
    border-radius: 4px 4px 0 0;
  }

  &:before {
    content: '';
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent $c-brand-2;
    position: absolute;
    right: -15px;
  }

  .menu-aside__link {
    color: $c-neutro;
  }
}

.profile__virtual-assistant {
  background-color: $c-default-5;
  border-radius: 4px;
  height: 115px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;

  .icon {
    color: $c-brand-2;
    @include font-rem(36px);
    margin-right: 20px;
  }

  .title {
    font-family: $f-bold;
    @include font-rem(18px);
  }
}

@include media-query(medium) {
  .menu-aside {
    display: block;
  }

  .panel-aside {
    display: block;
    width: 100%;

    .panel__ico {
      background-color: $c-default-5;
    }
  }
}
