.module {
  margin: 0 auto;
  padding-bottom: $sp-wide;

  .form__label {
    @include font-rem(18px);
    font-family: $f-bold;
  }

  //-
  .tool-box {
    .btn-i {
      &:before {
        z-index: 4;
        color: $c-alert;
      }
    }
  }

  .module__link {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
}


.module__header {
  margin: -1px;
  text-align: center;
  padding: 20px 10px;
  background-color: $c-brand-2;
}


// Contentedor del modulo
.module__cont {
  max-width: 384px;
  padding: 10px;
  margin: 0 auto;
}

.module__slot2 {
  padding: 5px 0 !important;
}

@media (max-width: 768px) and (min-width: 416px){
  .module__slot3{
    margin: 0 4vw !important;
    width: 113% !important;
  }

  .module__slot3 p, .module__slot3 label{
    text-align: center !important;
  }

  .module__slot4 label{
    text-align: center !important;
  }

  .module__slot3 small{
    margin-left: 5vw !important;
  }

  .all-width{
    width:  100% !important;
  }
}

@media (max-width: 415px) {
  .module__slot3{
    margin: 0 12vw !important;
    width: 100% !important;
  }

  .module__slot3 p, .module__slot3 label{
    text-align: center !important;
  }

  .module__slot4 label{
    text-align: center !important;
  }

  .module__slot3 small{
    margin-left: 5vw !important;
  }

  .all-width{
    width:  100% !important;
  }

}

.module__slot-item2{
  padding: 0 !important
}

//end Contentedor del modulo

.module__footer {
  margin: 0 auto;
  text-align: center;

  .module__slot {
    text-align: left;
  }
}


.module__subtitle,
.module__title {
  line-height: 1;
  color: $c-neutro;
}

.module__subtitle {
  @include font-rem(44px);
}

.module__title {
  font-family: $f-bold;
  @include font-rem(44px);
}

.module__noted {
  font-family: $f-regular;
  @include font-rem(24px);
  color: $c-brand;
}

.module__small {
  font-family: $f-default;
  @include font-rem(16px);
}

.module__slot {
  padding: 16px 0;
}

.module__border {
  border-bottom: 1px solid $c-default-6;
}

.module__grid-icons {
  @include flexbox;
  @include align-items(center);
}

.module__icon {
  @include font-rem(0px);
  margin: 0 6px;

  &:before {
    @include font-rem(16px);
  }
}

.module__txt_through {
  text-decoration: line-through;
}

.module__shape {
  padding: 22px 10px 20px;
  line-height: 1;
  text-align: center;
  color: $c-neutro;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.module__shape_oval {
  background-image: url("../images/shape-oval.svg");
}

.shape__line {
  display: block;
}

.shape__strong {
  font-family: $f-bold;
}

.module__slot-grid {
  @include flexbox;
  @include align-items(center);
}

.module__slot-item {
  padding: 6px 0;
}

.module__slot-item_border {
  padding-right: 0;
  margin-right: 0;
  border-right: 1px solid $c-default-6;
}

.module__alert {
  font-family: $f-bold;
  @include font-rem(13px);
  padding-bottom: 20px;
}

.module__btn {
  margin-bottom: 20px;
}

@include media-query(max-medium) {
  .module__grid {
    @include flexbox;
    @include justify-content(space-between);
  }

  .module__body {
    width: 100%;
  }

  .module__info {
    width: 42%;
    max-width: 110px;
  }

  // Figura promocional
  .module__shape {
    @include font-rem(13px);
  }

  .shape__highlight {
    @include font-rem(20px);
  }

  //end Figura promocional
}


@include media-query(small-m) {
  .module {
    padding: $sp-small $sp-wide $sp-small;
    }

  .module__inner {
    border: 1px solid $c-default-6;
  }

  .module__cont {
    padding: $sp-small;
  }
}


@include media-query(medium) {

  // Código de verificación
  .module {
    padding: 0;
    margin-bottom: 90px;
  }

  //end Código de verificación
  // Contentedor del modulo
  .module__cont {
    position: relative;
    text-align: center;
    max-width: 420px;
  }


  //end Contentedor del modulo
  // Grid textos en slots
  .module__slot-grid {
    @include justify-content(center);
  }

  //end Grid textos en slots
  // Grid icons redes sociales
  .module__grid-icons {
    @include justify-content(center);
  }

  //end Grid icons redes sociales
  // Figura promocional
  .module__shape {
    padding-top: 30px;
    @include font-rem(18px);
  }

  .shape__highlight {
    @include font-rem(30px);
  }

  .module__info {
    position: absolute;
    top: -64px;
    right: -120px;
    width: 100%;
    max-width: 158px;
  }

  //end Figura promocional
}

@include media-query(wide) {

  // Figura promocional
  .module__info {
    right: -200px;
  }

  //end Figura promocional
}
