
.modal {
  transition: .5s;
  transition-delay: 0.2s; //pointer-events: none;
  //transform: scale(0);
  opacity: 0;
  position: fixed;
  display: flex;
  background-color: rgba($c-default-6, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .title_headline {
    margin: $sp-xsmall 0;
    padding-bottom: $sp-xsmall;
    margin-bottom: $sp-small;
    line-height: 1.1;
  }
}

.modal__box {
  max-height: calc(100vh - 20%);
  overflow-x: hidden;
}

//- Modificador
.modal_list {
  .modal__crop {
    max-height: 270px;
  }
  .modal__bold {
    padding-bottom: $sp-small;
  }

  .modal__btn {
    display: inline-block;
    margin: $sp-small auto;
    max-width: 270px;
  }
}

//- elemento
.modal__list {
    list-style: none;
  }


//- elemento
.modal__bold {
  font-family: $f-bold;
  @include font-rem(18px);
}

//- Modificador
.modal_form {

  .modal__head {
    padding-top: $sp-small;
  }

  .modal__form {
    padding: $sp-small 0;
  }
}

//- Modificador
.modal_inputfile {
  .modal__txt {
    padding: $sp-medium 0;
  }

  .modal__inner {
    text-align: left;
  }

  .modal__txt_highlighted {
    @include flexbox;
    @include align-items(center);
    padding: 0 $sp-xsmall $sp-medium $sp-xsmall;

    &:before {
      @include font-rem(40px);
      padding-right: $sp-small;
    }
  }
}

//- Modificador
.modal_img {
  .modal__txt {
    padding: $sp-medium 0;
  }

  .modal__inner {
    text-align: left;
  }

  .modal__img {
    display: block;
    margin: 0 auto;
    padding-bottom: $sp-small-medium;
  }
}

//- Modificador
.modal_info {
  .modal__txt {
    padding: $sp-medium 0;
  }
}

//- Modificador
.modal_list {
  .modal__inner {
    padding: $sp-small 0;
  }
}

//- Modificador
.modal_grand {
  .modal__txt_bold {
    @include font-rem(16px);
  }

  .modal__btn {
    max-width: 250px;
    margin: $sp-medium auto $sp-small;
  }
}

//-Estructura
.modal__inner {
  width: 72%;
  min-width: 320px;
  margin: 0 auto;
}

//- Bloque
.modal__crop {
  position: relative;
  width: 97%;
  max-width: 480px;
  max-height: 540px;
  margin: $sp-small auto;
  padding: $sp-xsmall $sp-xsmall $sp-xsmall $sp-small;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;

}

//Bloque modal
.modal__box {
  position: relative;
  top: -100%;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  background-color: $c-neutro;
  z-index: 1000;
  padding: $sp-medium;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //transform: translate(-20%);
  transition: 1s;
  transition-delay: 0.2s; //pointer-events: none;
  transform: scale(0);

  .modal__sheet {
    margin: $sp-small auto $sp-medium;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal__box{
    margin: 0 !important;
  }
}

@supports (-ms-accelerator:true) {
  .tags_hidden2{
    margin: 0 !important;
  } 
}

.modal__box_inner {
  border-top: 1px solid $c-default-4;
  border-bottom: 1px solid $c-default-4;
  padding: $sp-small 0;

  .modal__txt_uppercase,
  .modal__txt,
  .modal__i,
  .link__brand {
    padding-bottom: $sp-xsmall;
  }
}

.modal__row {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: $sp-small 0;
}

.modal__view {

  //activa la modal
  &.modal {
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
  }

  .modal__box {
    transform: scale(1);
    //transform: translate(0, 0);
    top: 0;
  }
}

.modal__sheet {
  &.radio-box__label {
    background-color: $c-brand-2;

    &::before {
      border: 2px solid $c-brand-2;
      height: 100%;
    }
  }
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 5px;
  background-color: transparent;
  @include font-rem(0px);

  &:before {
    @include font-rem(20px);
    color: $c-default-1;
  }
}

//- Bloque
.modal__head {
  text-align: left;

  //- Elemento
  .modal__txt_italic {
    display: block;
    padding-right: 5px;
  }
}

//- bloque
.modal__form {
  text-align: left;
}

//- Estructura
.modal__inner {
  width: 58.2%;
  margin: 0 auto;
}

//- Elemento
.modal__img {
  padding-bottom: $sp-xsmall;
}

//- Elemento
.modal__title {
  @include font-rem(32px);
  font-family: $f-default;
  padding-bottom: $sp-xsmall;
}

//- Elemento
.modal__txt {
  display: block;
}

//- Elemento
.modal__txt_italic {
  font-style: italic;
}

//- Elemento
.modal__txt_highlighted {
  font-style: normal;
  color: $c-warning;
  padding-right: 5px;
}

//- Elemento
.modal__txt_space {
  padding-bottom: $sp-medium;
}

//- Elemento
.modal__txt_uppercase {
  text-transform: uppercase;
  font-family: $f-bold;
}

//- Elemento
.modal__txt_bold {
  font-family: $f-bold;
  @include font-rem(22px);
}

.modal__txt_brand {
  font-family: $f-regular;
  @include font-rem(22px);
  color: $c-brand;
}

.modal__txt_high {
  @include font-rem(38px);
  font-family: $f-light;
  color: $c-brand;
}

.modal__i {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include font-rem(18px);

  &:before {
    color: $c-brand-2;
    padding-right: $sp-xsmall;
  }
}

.modal__btn {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.modal__link {
  display: block;
}

.modal-list {
  list-style: none;
  counter-reset: section;
}

.modal-list__item {
  font-family: $f-bold;

  //counter-reset: section;
  &::before {
    content: counter(section)'.';
    counter-increment: section;
    @include font-rem(18px);
    padding-right: $sp-xsmall;
  }

  .modal__txt {
    font-family: $f-default;
    padding: $sp-xsmall 0 $sp-xsmall;
  }
}

.modal-list__sublist {
  counter-reset: subsection;
  list-style: none;
  padding-left: $sp-xsmall;
  padding-top: $sp-xsmall;
}

.modal-list__subitem {
  &::before {
    content: counter(section)'.'counter(subsection);
    counter-increment: subsection;
    padding-right: $sp-xsmall;
  }

  .modal__txt {
    padding-left: $sp-xsmall;
  }
}

//- Funcionalidad Mobile de alto
// @media screen and (max-height: 600px),
// (max-width: 799px) {

//   //Bloque modal
//   .modal__box {
//     max-height: calc(100vh - 20%);
//     overflow-y: scroll;
//     overflow-x: hidden;
//   }
// }

//- Funcionalidad Mobile
@media screen and (max-width: 400px) {
  .modal_grand {
    .modal__box {
      max-width: 280px;
    }
  }
}

//- Funcionalidad Mobile
// @media screen and (max-width: 799px) {
//   //Bloque modal
//   .modal__box {
//     max-height: 560px;
//     overflow-y: scroll;
//     overflow-x: hidden;
//   }
// }
//- bp: 480px
@include media-query(small-m) {
  .modal__box {
    min-width: 468px;
  }

  .modal__txt_high {
    @include font-rem(50px);
  }
}

//- bp: 640px
@include media-query(small-medium) {

  //- Modificador
  .modal_grand {
    .modal__box {
      min-width: 600px;
    }
  }
}
