/*------------------------------------*\
  Paginador
\*------------------------------------*/

.pager {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  padding: 20px 0;
  //border-top: 1px solid $c-default-2;
}

.pager__list {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  width: 33%;
  list-style: none;
}

.pager__item {
  &.pager__item_active {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      z-index: 1;
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $c-brand-2;
    }
    .pager__item-btn {
      position: relative;
      z-index: 2;
      color: $c-neutro;
    }
  }
}

.pager__btn,
.pager__item-btn {
  cursor: pointer;
  font-family: $f-regular;
  @include font-rem(16px);
  color: $c-default;
  background: transparent;
  &:hover {
    color: $c-brand-2;
  }
}

.pager__btn {
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row-reverse);
  width: 33%;
  @include font-rem(0px);
  &:before {
    padding-left: 10px;
    @include font-rem(12px);
  }
}

.pager__btn_back {
  @include flex-direction(row);
  // &:before {
  //   -webkit-transform: rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  //       -ms-transform: rotate(180deg); /* IE 9 */
  //           transform: rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
  // }
  &.i-arrow-left {
    &:before {
      padding-right: $sp-xsmall;
    }
  }
}

.pager__item-btn {
  padding: 8px;
}

// Media query desde 768px
@include media-query(medium) {
  .pager__btn {
    font-family: $f-regular;
    @include font-rem(18px);
  }

  .pager__item-btn {
    font-family: $f-regular;
    @include font-rem(18px);
  }
}
