

.registerme {
  // color: #4A4A4A;
  font-family: $f-light;
  padding: 20px 0;
  text-align: center;
}

.registerme__title {
  @include font-rem(30px);
}

.registerme__description {
  @include font-rem(16px);
  margin: 20px 0 30px;
}

@include media-query(wide) {
  .registerme {
    color: #4A4A4A;
    font-family: $f-light;
    padding: 0 40px;
    text-align: left;
  }

  .registerme__title {
    @include font-rem(48px);
  }

  .registerme__description {
    @include font-rem(30px);
  }
}
