//- Bloque
//- Estructura
.pos-data__grid {
  @include flexbox;
  padding: $sp-small 0;
}
.pos-data__col-content {
  @include flexbox;
  @include flex-direction(column);
  // width: 100%;
  width: 52%;
}
.pos-data__pic {
  text-align: center;
  width: 48%;
}
.pos-data_values {
  @include flexbox;
  @include justify-content(space-between);
  max-width: 230px;
  text-align: right;
  // .pos-data__subitem {
  //   padding-left: $sp-xsmall;
  // }
  .data__th {
    @include font-rem(12px);
  }
}
//- Elemento
.pos-data__th {
  display: block;
  padding-bottom: 10px;
  font-family: $f-bold;
  @include font-rem(12px);
}
.pos-data__img {
  display: inline-block;
  width: 80px;
}
.pos-data__link {
  display: block;
  @include font-rem(12px);
}
.pos-data__tag {
  padding: 4px 14px;
  &.list-thumb__boll {
    min-width: initial;
  }
}
.pos-data__thumb {
  &.list-thumb__circle_active {
    width: 46px;
  }
}
.pos-data__caption {
  padding-bottom: $sp-small;
}
.pos-data__subitem_huge {
  padding-bottom: $sp-small;
}
.pos-data__txt {
  @include font-rem(12px);
  &.data__txt {
    &:before {
      padding-right: $sp-xsmall;
    }
  }
}

.pos-data__disclaimer {
  padding: 26px;
  .pos-data__txt {
    @include font-rem(14px);
    font-family: $f-default;
    color: $c-default-1;
    padding-bottom: 20px;
  }
}


@include media-query(max-wide) {
  //Aside
  .data__aside-wrap {
    &.pos-data__aside-wrap {
      padding: 0;
    }
  }
  .pos-data__aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    opacity: 1;
    transform: translateY(100%);
    transition: all .3s linear;
    .data__header {
      width: 100%;
      max-width: initial;
    }
    .pos-data__aside-content {
      // transform: translateY(-100%);
      transition: all .3s linear;
    }
    &.js-fixedActive {
      opacity: 1;
      z-index: 98;
      transform: translateY(0);
      // background: #00000082;
      // .pos-data__aside-content {
      //   transform: translateX(0);
      // }
    }
  }

  .pos-data__aside-content {
    height: 100vh;
    max-width: 400px;
    margin-left: auto;
    padding: 70px 26px 0;
    background: $c-neutro;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
  }
  .pos-data__btn-txt {
    display: none;
    font-family: $f-regular;
    @include font-rem(24px);
    color: $c-neutro;
    cursor: pointer;
  }
  .pos-data__aside-btn {
    position: absolute;
    // position: fixed;
    // bottom: 0;
    top: -70px;
    right: 0;
    width: 100%;
    max-width: 400px;
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);
    padding: 10px 20px;
    z-index: 100;
    background-color: $c-brand;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid $c-default-4;
    cursor: pointer;
    &:before {
      display: none;
      padding-right: 20px;
      @include font-rem(20px);
      color: $c-neutro;
    }
    .btn-circle {
      display: block;
      margin-right: 10px;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .pos-data__txt {
      @include flexbox;
      @include align-items(center);
      @include font-rem(20px);
      font-family: $f-regular;
      color: $c-neutro;
      &:before {
        padding-right: 10px;
        @include font-rem(20px);
        color: $c-neutro;
      }
    }
    .data__total {
      @include font-rem(24px);
      color: $c-neutro;
    }
    &.js-fixedActive {
      top: 0;
      bottom: initial;
      @include justify-content(flex-start);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 0;
      &:before {
        display: block;
      }
      .pos-data__btn-txt {
        display: block;
      }
      .pos-data__txt,
      .data__total {
        display: none;
      }
    }
  }
}

@include media-query(small) {
  .pos-data_values {
    @include justify-content(flex-start);
    .pos-data__subitem {
      padding-right: 20px;
    }
  }
}

@include media-query(medium) {
  //- Estructura
  .pos-data__pic {
    width: 30%;
  }
  .pos-data__col-content {
    width: 70%;
  }
  //- Elemento
  .pos-data__img {
    width: 60px;
  }
  .pos-data__subitem_huge {
    width: 100%;
    max-width: 190px;
  }
}

@include media-query(max-wide) {
  .pos-data__content {

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}

@include media-query(wide) {
  .data-step {
    @include flexbox;
    @include justify-content(space-between);
  }
  .pos-data__content {
    width: 64%;
    padding-right: 70px;
    padding: 0 26px $sp-small;
  }
  .pos-data__aside {
    width: 36%;
    min-width: 364px;
    max-width: 364px;
    height: 100%;
  }
  .pos-data__pic {
    width: auto;
    padding-right: 26px;
  }
  .pos-data__img {
    width: 50px;
  }
  .pos-data__col-content {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    width: 100%;
  }
  .pos-data_values {
    max-width: initial;
    @include justify-content(flex-end);
    width: 100%;
    .pos-data__subitem {
      padding-left: 30px;
      padding-right: 0;
    }
  }
  .pos-data__caption {
    width: 100%;
    max-width: 124px;
    padding-right: 12px;
  }
  //Boton aside
  .pos-data__aside-btn {
    display: none;
  }
}

@include media-query(large) {
  .pos-data__col-content {
    @include flex-wrap(nowrap);
  }
  .pos-data_values {
    @include justify-content(space-around);
    width: 40%;
    padding-left: 30px;
    .pos-data__subitem {
      padding-left: 0;
    }
  }
}
