.prefoot {
  border-top: 1px solid $c-default-3;
  padding: $sp-medium $sp-small;
  text-align: center;
}

.prefoot__title {
  padding-bottom: $sp-medium;
}

.prefoot__title_sm {
  padding-bottom: $sp-small;
}

.prefoot__txt {
  //max-width: 80%;
  margin: 0 auto;
  line-height: 1.8;
}

.prefoot__txt_aligned {
  color: #9B9B9B;
  @include font-rem(14px);
  line-height: 16px;
  max-width: 100%;
}
