.profile__header {
  width: 100%;
  max-width: 100%;
}

.profile__inner {
  @supports(display: grid) {
    display: grid;
    grid-template-columns: 100%;
  }
  padding: $sp-medium 0;
}

.profile__row {
  display: flex;
  justify-content: space-between;
}

.profile__arrow {
  &:before {
    @include font-rem(20px);
  }
}

@include media-query(medium) {
  .profile__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;

/*     @supports(display: grid) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 20px;
    } */
  }

  .profile__form {
    justify-self: end;
  }
}
