/*--------- radio en cápsula (Formulario)----------*/

//- Estructura
.radio-boll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
  }
  
  //- Bloque
  .radio-boll__item {
    position: relative;
    margin-bottom: $sp-xsmall;
  }
  
  /*-------- Bloque de radio en cápsula (Formulario)----------*/
  
  //- Elemento
  .radio-boll__label {
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    //min-height: 40px;
    border-radius: 25px;
    border: 1px solid $c-default-3;
    background-color: $c-neutro;
    transition: all 0.2s;
    cursor: pointer;
    font-family: $f-light;
    text-align: center;
    padding: $sp-xsmall 0;
  }
  
  //- Elemento
  .radio-boll__img {
    @include font-rem(0px);
    width: 100%;
    fill: $c-neutro;
    background-image: url("../img/brand-paypal.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px auto;
    background-color: $c-neutro;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  //- Elemento
  .radio-boll__input {
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
  }
  
  //- Elemento
  .radio-boll__input {
    &:checked+.radio-boll__label {
      background-color: $c-brand_2;
      color: $c-neutro;
      border: none;
    }
    &:checked+.radio-boll__img {
      background-image: url("../img/brand-paypal_light.svg");
      background-color: $c-brand_2;
      border: none;
    }
  }

  // $bp-small-m : 480px
@include media-query(small-m) {
//- Elemento
    .radio-boll {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  