/*------------------------------------*\
  Radio Box
\*------------------------------------*/

/**
 * @atom Input Radio Box (Type='radio')
 * @section Formulario
 *
 * @markup
 *   <form class='form form_size'>
 *      <ul class="radio-box">
 *       <li class="radio-box__item">
 *          <input class="radio-box__input" id="pack1" type="radio" name="packs" data-skipvalidate="radio">
 *          <label class="radio-box__label" for="pack1"><span class="radio-box__sheet">
 *              <span class="radio-box__row">
 *                <span class="radio-box__txt-high">300 MB</span>
 *                <span class="radio-box__txt">3 días</span>
 *              </span>
 *              <span class="radio-box__row">
 *                <span class="radio-box__i i-chat">Chat</span>
 *                <small class="radio-box__txt-small">Ilimitado</small>
 *              </span>
 *              </span>
 *              <span class="radio-box__sheet-end">
 *                <span class="radio-box__txt-price">$30</span>
 *              </span>
 *            </label>
 *        </li>
 *        <li class="radio-box__item">
 *          <input class="radio-box__input" id="pack2" type="radio" name="packs" data-skipvalidate="radio">
 *          <label class="radio-box__label" for="pack2">
 *              <span class="radio-box__sheet">
 *                <span class="radio-box__row">
 *                    <span class="radio-box__txt-high">1400MB</span>
 *                    <span class="radio-box__txt">7 días</span></span>
 *                <span class="radio-box__row">
 *                  <span class="radio-box__i i-chat">Chat</span>
 *                  <small class="radio-box__txt-small">Ilimitado</small>
 *                </span>
 *                <span class="radio-box__row">
 *                  <span class="radio-box__i i-facebook-comic">Facebook</span>
 *                  <span class="radio-box__i mi-twitter-comic">Twitter</span>
 *                  <small class="radio-box__txt-small">1000MB</small>
 *                </span>
 *                </span>
 *                <span class="radio-box__sheet-end">
 *                  <small class="radio-box__txt-small">¡Recomendado!</small>
 *                  <span class="radio-box__txt-price">$50</span></span>
 *            </label>
 *        </li>
 *      </ul>
 *   </form >
 */


//- Estructura
.radio-box {
  list-style: none;
}

//- Estructura
.radio-box__item {
  position: relative;
}

//- Elemento y Estructura
.radio-box__label {
  position: relative;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  background-color: $c-default-1;
  margin: 8px auto;
  transition: color, .5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);

  &:before {
    position: absolute;
    content: '';
    display: block;
    border: 2px solid $c-neutro;
  }
}

//- Bloque
.radio-box__sheet {
  @include flex-grow(3);
  @include align-self(stretch);
  height: auto;
  background-color: $c-neutro;
  padding: 8px 0;
}

//- modificador
.radio-box__sheet_between {
  @include flexbox;
  @include align-items(center);
  @include flex-grow(1);
  @include align-self(stretch);
  height: auto;
  width: 42px;

  .radio-box__txt {
    display: block;
    margin: 0 auto;

    &:before {
      display: none;
    }
  }

  &:before {
    content: '';
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
    background-color: $c-default-2;
    margin: 0;
  }
}



//- Bloque
.radio-box__sheet-end {
  color: $c-neutro;
  text-align: center;
  min-width: 80px;
  padding: 6px;
  @include flex-shrink(1);
  @include flexbox;
  @include flex-direction(column);

  .radio-box__txt-price {
    display: block;
    @include font-rem(24px);
    font-family: $f-light;
  }

  .radio-box__txt-small {
    @include font-rem(11px);
    font-family: $f-light;
    padding: 0;
  }
}

//- Modificador
.radio-box__sheet-end_row {
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(baseline);
  @include justify-content(center);
  max-width: 80px;

  .radio-box__txt-price {
    padding-right: 4px;
  }
}


//- Estructura
.radio-box__row {
  @include flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex-wrap(wrap);
  padding: 1px 10px;
}


//- Modificador
.radio-box__sheet_init {
  min-width: 110px;

  .radio-box__row {
    @include flex-wrap(nowrap);
    padding: 2px 2px 0 6px;

    .radio-box__txt {
      @include font-rem(10px);
      padding-left: 2px;

      &:before {
        display: none;
      }
    }
  }

}

.radio-box__txt {
  vertical-align: middle;

  &:before {
    content: '';
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: $sp-small;
    background-color: $c-default-2;
    margin: 0 6px;
  }
}

.radio-box__txt-color {
  @include font-rem(16px);
  font-family: $f-bold;
  color: $c-txt_color;
}

.radio-box__txt-bold {
  @include font-rem(12px);
  font-family: $f-bold;
}



//- Elemento
.radio-box__txt-high {
  @include font-rem(18px);
  font-family: $f-bold;
}

//- Elemento
.radio-box__txt-small {
  @include font-rem(14px);
  font-family: $f-regular;
  padding-right: 6px;
}

.radio-box__i {
  @include font-rem(0px);

  &:before {
    @include font-rem(12px);
    padding-right: 4px;
  }
}

//- Elemento
.radio-box__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:hover+.radio-box__label {
    background-color: $c-brand-2;

    &::before {
      border: 2px solid $c-brand-2;
      height: 100%;
    }
  }

  &:checked+.radio-box__label {
    background-color: $c-brand;

    &::before {
      border: 2px solid $c-brand;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 800px) {
  .radio-box__txt-high {
    @include font-rem(20px);
  }

  .radio-box__txt {
    @include font-rem(12px);
  }

  .radio-box__sheet-end {
    .radio-box__txt-price {
      @include font-rem(24px);
    }
  }

}


//- Wide : 1024px
@include media-query(wide) {

  //- Bloque
  .radio-box__sheet {
    padding: 14px 0 14px $sp-xsmall;
  }

  .radio-box__txt-high {
    @include font-rem(22px);
  }

  .radio-box__txt {
    @include font-rem(16px);
  }

  .radio-box__sheet-end {
    min-width: 95px;

    .radio-box__txt-price {
      @include font-rem(35px);
    }

    .radio-box__txt-small {
      @include font-rem(12px);
    }
  }

  //- Modificador
  .radio-box__sheet_init {
    min-width: 90px;
    padding: 14px 6px;
    .radio-box__row {

      .radio-box__txt {
        @include font-rem(12px);
        padding-left: 2px;
      }
    }

  }

  //- modificador
  .radio-box__sheet_between {
    padding: 14px 4px;
    .radio-box__txt {
      @include font-rem(14px);
    }
  }

}

//- Large : 1180px
@include media-query(large) {
  .radio-box__txt-high {
    @include font-rem(24px);
  }

  //- Modificador
  .radio-box__sheet_init {
    .radio-box__row {

      .radio-box__txt,
      .radio-box__txt-bold {
        @include font-rem(14px);
      }
    }

  }
}