/*------------------------------------*\
  Searchs de productos
\*------------------------------------*/
//-Bloque
.search {
  padding: $sp-small-medium 0;
  //-Modificador
  // &.search_unpadded {
  //   padding: 0;
  // }//-Modificador
  &.search_box {
    padding: 0 0 $sp-small 0;
  }
}

//-Modificador
// .search_unpadded {
//   padding: 0;
// }



//-Elemento
.search__title {
  width: 100%;
  padding: 26px 0;
  text-align: center;
  @include font-rem(24px);
}

//-Bloque
.search__form {
  @include flexbox;
  @include align-items(stretch);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

//-Elemento
.search__input {
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4;
  font-family: $f-regular;
  color: $c-default-1;
  background-color: $c-neutro;
  border-radius: 4px 0 0 4px;
  @include box_shadow(1);
}

.search__input_neutro {
  background-color: $c-neutro;
}

.search__btn {
  width: 44px;
  color: $c-default;
  @include font-rem(0px);
  border-radius: 0px 4px 4px 0px;
  background-color: $c-neutro;
  @include box_shadow(1);
  transition: all 0.2s linear;

  &:hover {
    // background-color: $c-brand-2-hover;
    background-color: $c-neutro;
    color: $c-default;
  }

  &:before {
    @include font-rem(16px);
  }
}

.search__panel {
  display: none;
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 20px $grey-6;
  width: 100%;
  max-width: calc(500px - 52px);
  padding: 0 10px 10px;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
}

.search__label {
  display: inline-block;
  padding-bottom: $sp-xsmall;
  @include font-rem(18px);
}

.search__label_hidden {
  @include font-rem(0px);
}

.search__list {
  border-bottom: 1px solid #d8d8d8;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search__item {
  padding: 12px 0;
}

.search__link {
  font-family: $f-regular;
  @include font-rem(16px);
  transition: all 0.2s ease;

  &:hover {
    border-bottom: 3px solid $blue;
    font-weight: bold;
  }

  &_active {
    border-bottom: 3px solid $blue;
    font-weight: bold;
  }
}
//- HOTFIX-ETEMM-113: Lista despelghable de teléfonos se quita el alto max que tenía
.suggest {
  overflow: hidden;
  min-height: 200px;
  max-height: none;
  padding: 0;

  .suggest__title {
    font-family: $f-bold;
    @include font-rem(16px);
    margin: 10px 0;
  }
  //- HOTFIX-ETEMM-113:No caen los teléfonos y se acomodan al tamaño máximo de la caja
  .suggest__list {
    width: 100%;
    @include flexbox;
    @include flex-wrap(nowrap);
    @include justify-content (center);
    margin-bottom: 0;
  }
}

.product {
  border: 1px solid $grey-6;
  padding: 10px;
  width: calc(33.33% - 35px);

  &:last-child {
    margin-right: 0;
  }

  &__photo {
    padding: 0 20px;
  }

  &__img {
    max-width: 100%;
  }

  &__name {
    color: $grey-5;
    font-family: $f-regular;
    @include font-rem(12px);
    margin: 5px 0 -5px;
  }

  &__value {
    color: $green;
    font-family: $f-regular;
    @include font-rem(14px);
  }

  &__small {
    color: $grey-7;
    font-family: $f-regular;
    @include font-rem(8px);
  }
}

// Comparador terminales
.search__panel_small {
  max-width: 260px;
  max-height: 540px;
  overflow-y: scroll;
}

.suggest__list_wrap {
  flex-wrap: wrap;
}

.suggest__item {
  border: none;
  border-bottom: 1px solid $grey-6;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  width: 100%;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .product__photo {
    flex: 0 1 40%;
    align-self: stretch;
  }

  .product__details {
    flex: 0 1 60%;
    text-align: left;
  }

  .product__name {
    @include font-rem(18px);
  }

  .product__value,
  .product__small {
    @include font-rem(16px);
  }
}

// Media query desde 768px
@include media-query(medium) {
  .search {
    padding-bottom: 70px;
  }

  //-Modificador
  .search_unpadded {
    padding: 0;
  }

  .search__title {
    padding-top: 50px;
    padding-bottom: 50px;
    @include font-rem(32px);
  }

  .search__input {
    padding: 14px 20px;
  }

  .search__btn {
    width: 56px;

    &:before {
      @include font-rem(24px);
    }
  }

  .search__label {
    padding-right: $sp-xsmall;
  }
}
