
.section-block__header {
  width: 96%;
  max-width: 640px;
  padding: 30px 10px 0;
  margin: 0 auto;
  text-align: center;

  &.section-block__header_btn {
    text-align: left;
  }
}

.section-block__nav,
.tabs__nav {
  padding: 18px 0 0;
  text-align: center;
}

.section-block__nav-item,
.tabs__nav-item {
  display: inline-block;
  padding: 0;
  margin: 10px 10px 0;
  @include font-rem(10px);
  color: $c-brand-2;
  background-color: $c-neutro;

  &:before {
    display: block;
    @include font-rem(18px);
    padding-bottom: 8px;
  }
}

.section-block__title {
  padding-bottom: 18px;
  border-bottom: 1px solid $c-default-6;
}

@media only screen and (min-width: 700px) {
  .section-block {
    .section-block__title {
      border-bottom: none;
    }

    .slick-prev {
      left: -20px;
    }

    .slick-next {
      right: -20px;
    }
  }

  .section-block__header {
    border-bottom: 1px solid $c-default-6;

    &.section-block__header_btn {
      padding: 0;
      @include justify-content(flex-start);
    }
  }

  .section-block__inner {
    padding-top: 20px;
  }

  .section-block__footer {
    padding: 50px 0 0;
  }
}
