.slider-detail {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  .grid-slot {
    padding: 0;
    margin: $sp-xsmall;
  }
  .grid-slot__inner {
    padding-top: $sp-medium;
  }
}

.slider-detail_bg {
    margin-bottom: 0;
    max-width: 780px;
    margin: 0 auto;
}

//- Máscara marco del slider
.slider-detail__inner {
  width: 100%;
  padding: 0 $sp-small;
  overflow: hidden;
}

.slider-detail__list {
  width: 100%;
  //- FlexSlider
  .slick-track {
    @include flexbox;
    height: auto;
    @include align-items(flex-end);
  }
  //- FlexSlider
  .slick-slide {
    @include flexbox;
    @include align-self(stretch);
  }
}

.slider-detail__controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  .slider__arrow.prev {
    margin-left: 0;
  }
  .slider__arrow.next {
    margin-right: 0;
  }
  .slider__arrow {
    &:before {
      color: $c-brand-2;
      @include font-rem(28px);
    }
  }
}

////// Slider Detail del Home SLIDER #3
.js-slideHome3 {
  .grid__slot {
    width: 100%;
    margin: 0;
  }
  .grid__img {
    margin: 0 auto;
  }
  .slick-slide {
    padding: 0 10px;
  }
}

.slider-detail_opacity {
  opacity: 0;
  transition: opacity .3s linear;
  &.js-sliderContOpacity {
    opacity: 1;
  }
}

@media only screen and (max-width: 539px) {
  .slider-detail_bg {
    .slider-detail__controls {
      display: none;
    }
  }
}


@include media-query(wide) {
  .slider-detail {
    margin-bottom: 60px;
  }
}
