/*------------------------------------*\
	SLIDERS [CARDS] vitrina-prepago
\*------------------------------------*/

//Módulo
//[.js-slideCards]
.slider__cards {
  margin: 0 auto;

  //- Bloque
  .card {
    outline: none;
    margin: 0;
  }

  .slick-list {
    //height: 100%;
    margin: 0 auto;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    @include font-rem(0px);
    background-color: transparent;
    padding: 0;

    &:before {
      display: block;
      font-family: 'icomoon' !important;
      @include font-rem(32px);
      color: $c-brand-2;
    }
  }

  .slick-prev {
    left: 8px;
    z-index: 2;

    &:before {
      content: '\e314';
    }
  }

  .slick-next {
    right: 8px;

    &:before {
      content: '\e315';
    }
  }
}

//- Bloque modificador
// vitrina-prepago.html
.slider__cards_tags {
  &.slider__cards {

    .slick-track {
      @include flexbox;
      height: 100%;
      @include align-items(stretch);
      padding: $sp-small 0;
    }

    .slick-slide {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(space-between);
      float: none;
      height: auto;
      margin: 0 4px;
    }

    .slick-arrow {
      &.slick-prev {
        left: -30px;
      }
      &.slick-next {
        right: -30px;
      }
    }
  }
}

.slider__cards_item {
  margin: 0 10px;
  text-align: center;
  padding: $sp-xsmall 0;

  .steps__link {
    padding: $sp-small 0;
  }
}


//- bloque
//- Arrows personalizados
.slider__controls,
.banner__controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;

  .prev {
    margin-left: 0;
    left: 24px;
  }

  .next {
    margin-right: 0;
    right: 20px;
  }
}

.banner__controls,
.slider__controls {

  .prev,
  .next {
    position: relative;
    z-index: 3;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: rgba($c-default-7, .3);
    transition: background-color 1s ease;

    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      color: $c-neutro;
      @include font-rem(20px);
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: rgba($c-default-7, .7);

      &::before {
        color: $c-default-4;
      }
    }
  }
}

.slider__controls {

  .prev,
  .next {
    position: relative;

    &:before {
      color: $c-brand-2;
      @include font-rem(18px);
    }
  }
}

@include media-query(max-medium) {
  .slider__cards {
    &.slider__cards_full {
      padding: 0;

      .slider__cards_item {
        padding: 0;
        margin: 0;
      }
    }
  }

  .banner__controls {
    display: none;
  }
}


@media only screen and (min-width: 680px) {

  //Módulo
  //[.js-slideCards]
  .slider__cards {
    .slick-prev {
      left: -14px;
    }

    .slick-next {
      right: -14px;
    }
  }
}


//- BP min width: 768px
@include media-query(medium) {
  .slider__cards {
    // &.card {
    //   border: 1px solid red;
    // }
  }
}
