/*------------------------------------*\
	Slider dots
\*------------------------------------*/

.slick-dots {
  @include flexbox;
  @include justify-content(center);
  position: absolute;
  width: 100%;
  list-style: none;
  li {
    @include font-rem(0px);
    margin: 0 4px;
    border-radius: 25px;
  }
  button {
    // height: 2px;
    padding: 0;
    text-align: left;
    border-radius: 25px;
    &:before {
      content: '';
      display: block;
      width: 0;
      // height: 2px;
      border-radius: 25px;
    }
  }
  &.slick-dots_static {
    bottom: 0;
    li {
      width: 80px;
      background-color: $c-default-6;
    }
    button {
      width: 80px;
      height: 4px;
      background: $c-default-6;
      &:before {
        height: 4px;
      }
    }
    .slick-active {
      button {
        background-color: $c-dot-active;
      }
    }
  }
  &.slick-dots_animated {
    bottom: 16px;
    li {
      width: 100%;
      max-width: 80px;
      background-color: $c-dot;
    }
    button {
      width: 100%;
      height: 4px;
      background: $c-dot;
      border-radius: 50px;
      &:before {
        height: 4px;
      }
    }
    .slick-active {
      button {
        top: 0;
        left: 0;
        width: 100%;
        animation:  graphic-design 6s ease-out;
        -moz-animation: graphic-design 6s ease-out;
        -webkit-animation: graphic-design 6s ease-out;
        background-color: $c-brand;
        background-image: -webkit-gradient(linear, left top, left bottom, from($c-brand), to($c-brand));
        background-image: -webkit-linear-gradient(top, $c-brand, $c-brand);
        background-image: -moz-linear-gradient(top, $c-brand, $c-brand);
        background-image: -ms-linear-gradient(top, $c-brand, $c-brand);
        background-image: -o-linear-gradient(top, $c-brand, $c-brand);
        background-image: linear-gradient(top, $c-brand, $c-brand);
      }
    }
    /* Animación (progress bar) */
    @keyframes  graphic-design {
      0% {
        width: 0px;
      }
      100% {
        width: 100%;
      }
    }
    @-moz-keyframes graphic-design {
      0% {
        width: 0px;
      }
      100% {
        width: 100%;
      }
    }

    @-webkit-keyframes graphic-design {
      0% {
        width: 0px;
      }
      100% {
        width: 100%;
      }
    }
  }
}
