.slider-brands {
  position: relative;
  padding: $sp-small 0;
}

.slider-brands__crop {
  padding: 0 $sp-medium;
  overflow: hidden;
}

.slider-brands__item {
  max-width: 280px;
  opacity: .4;
  filter: grayscale(1);
  transition-property: filter;
  transition: all 1s;
  &.slick-center {
    &.slick-active {
      opacity: 1;
      filter: grayscale(0);
    }
  }
}

.slider-brands {
  width: 100%;
}

.slider-brands__controls {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  .slider__arrow {
    &:before {
      width: 40px;
      top: -4px; //height: 10px;
      position: absolute;
      color: $c-brand-2;
    }
    &.i-prev {
      &:before {
        display: block;
        transform: rotate(-180deg);
        left: 0;
      }
    }
    &.i-next {
      &:before {
        right: 0;
      }
    }
  }
}

//-bp 768px
@include media-query(medium) {
  .slider-brands {
    display: none;
  }
}
