/**
 * @atom Spinning Wheel
 * @section Loaders
 *
 * @markup
 *  <span class="spinner spinner_small></span>
 */

//- Bloque 

.spinner,
.spinner:after {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}

.spinner {
  background-color: transparent;
  border-top: 5px solid rgb(0, 169, 227);
  border-right: 5px solid rgb(0, 169, 227);
  border-bottom: 5px solid rgb(0, 169, 227);
  border-left: 5px solid rgba(0, 169, 227, .2);
  animation: lds-ring 1s infinite linear;
}


//- modificador
.spinner_small {
  width: 30px;
  height: 30px;
  border-top: 3px solid rgb(0, 169, 227);
  border-right: 3px solid rgb(0, 169, 227);
  border-bottom: 3px solid rgb(0, 169, 227);
  border-left: 3px solid rgba(0, 169, 227, .2);
}



@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// RP-83-Modificar-gif-loading
.loading-spinner__txt {
  font-family: $f-default;
  top: 50%;
  position: relative;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 9;
  text-align: center;
  padding-top: 60px;
  color: $c-brand-2;
  max-width: 160px;
  margin: 0 auto;
  font-weight: 600;
}
