//- Componente
//- Clase usada por bloque padre .head
//-.status {
//-  border: 1px solid red;
//-}
//- Estado EN PROCESO _processing
.status_processing {
  .status__title {
    color: $c-brand-2;
  }

  //- Modificador
  .status__item_check {
    .status__bullet {
      &:before {
        content: unicode($mi-check-circle2);
        color: $c-brand-2;
      }

      //- Elemento
      .status__label {
        color: $c-brand-2;
      }
    }
  }
}

//- Estado DEVUELTO _failed
.status_failed {
  .status__title {
    color: $c-warning_light;
  }

  //- Modificador
  .status__item_check {
    .status__bullet {
      &:before {
        content: unicode($i-question);
        color: $c-warning_light;
      }

      //- Elemento
      .status__label {
        color: $c-warning_light;
      }
    }
  }
}

//- Estado ENVIADO _sent
.status_sent {
  .status__title {
    color: $c-brand;
  }

  //- Modificador
  .status__item_check {
    .status__bullet {
      &:before {
        content: unicode($mi-check-circle2);
        color: $c-brand;
      }

      //- Elemento
      .status__label {
        color: $c-brand;
      }
    }
  }
}

//- Bloque
.status__card {
  text-align: center;
  font-family: $f-regular;

  .status__bold {
    display: block;
    padding-bottom: $sp-medium;
  }
}

//-Elemento
.status__btn {
  display: block;
  max-width: 240px;
  margin: 0 auto;
}

.Patch_linea_seguimiento_order {
  border-top: 4.6px solid #9B9B9B;
  position: relative;
  bottom: 0px;
  z-index: 2;
       }

.Patch_linea_seguimiento_order_block_4 {
          border-top: 4.6px solid #FFFFFF;
          position: relative;
          bottom: 24px;
          right: -96px;
          z-index: 2;
       }

.adjust_check_circle_status_3_block_3 {
          position: relative;
          right: -10px;
}

.mobile_adjust_status_1_block_4_header {
          position: relative;
          z-index: 2;
       }
.mobile_adjust_status_1_block_4 {
          position: relative;
          right: 40px;
          bottom: 12px;
          z-index: 1;
}

.mobile_adjust_status_2_block_1 {
  position: relative;
  right: 0px;
  bottom: 5px;
}
.mobile_adjust_status_2_block_2 {
  position: relative;
  right: 4px;
  bottom: 10px;
  z-index: 1;
}
.mobile_adjust_status_2_block_3_header {
  position: relative;
  z-index: 2;
}
.mobile_adjust_status_2_block_3 {
  position: relative;
  right: -20px;
  bottom: 0px;
  z-index: 1;
}
.mobile_adjust_status_2_block_4 {
  position: relative;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.mobile_adjust_status_5_block_1 {
  position: relative;
  right: 0px;
  bottom: 5px;
}

@media screen and (max-width:1024px) {

  .Patch_linea_seguimiento_order {
    border-top: 0px solid #9B9B9B;
    position: absolute;
    bottom: 0px;
    z-index: 2;
       }
       .Patch_linea_seguimiento_order_block_4 {
          border-top: 0px solid #FFFFFF;
          position: relative;
          bottom: 0px;
          z-index: 2;
  }

  .mobile_adjust_status_1_block_4 {
    position: relative;
    right: -20px;
    bottom: 12px;
    z-index: 1;
       }

       .mobile_adjust_status_2_block_1 {
          position: relative;
          right: 0px;
          bottom: 5px;
       }
       .mobile_adjust_status_2_block_2 {
          position: relative;
          right: 1px;
          bottom: 10px;
          z-index: 1;
       }

}

//- Elemento
.status__title {
  @include font-rem(24px);

  &:before {
    display: block;
    @include font-rem(45px);
    padding-bottom: $sp-small;
  }
}

//- Modificador
.status_brand-2 {
  color: $c-brand-2;
}

//- Elemento
.status__lead {
  color: $c-default-7;
  @include font-rem(18px);
}

//- Elemento
.status__bold {
  font-family: $f-regular;
  @include font-rem(16px);
}

//- Bloque Estructura
.status__line {
  max-width: 340px;
  margin: 0 auto;
  padding-top: $sp-wide;
  list-style: none;
}

//- Bloque
.status__bullet {
  @include flexbox;
  @include flex-direction(column);
  position: relative;
  max-width: 86.6%;
  display: block;
  margin: 0 0 0 auto;
  border-left: $border-box_sm solid $c-brand;
  padding: $sp-small 0 $sp-small $sp-medium;

  &:before {
    font-family: 'MaterialIcons-Regular' !important;
    content: unicode($mi-check-circle2);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0.5;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font-rem(40px);
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    color: $c-brand;
    background-color: $c-neutro;
    transform: translateY(-50%);
  }
}

//- Elemento
.status__label {
  color: $c-brand;
  @include font-rem(18px);
}

//- Elemento
.status__small {
  @include font-rem(14px);
  color: $c-default-7;
}

.contain_text_prod{
  -webkit-flex: none;
  flex: none;
  overflow:hidden;
  width: 100%;
  height: 35px;
}

//- Bloque
.status__item {
  position: relative;

  &:last-child {
    .status__bullet {
      padding-bottom: 0;

      &:before {
        top: initial;
        bottom: 0;
        transform: translateY(0);
        background-color: $c-neutro;
        height: 45px;
      }
    }
  }
}

//- Modificador
.status__item_disabled {
  .status__bullet {
    border-left: $border-box_sm solid $c-default-7;
    padding: 0 0 $sp-small-medium $sp-medium;

    &:before {
      content: '';
      top: 30px;
      color: $c-default-7;
      border-radius: 90%;
      background-color: $c-default-7;
      transform: translateY(0);
      width: 30px;
      height: 30px;
    }

    //- Elemento
    .status__label {
      color: $c-default-7;
    }
  }
}

//- Modificador
.status__item_check {
  background-color: $c-neutro;
  @include box_shadow(2);

  .status__bullet {
    border-left: none;

    &:before {
      font-family: 'MaterialIcons-Regular' !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      left: -19px;
      //color: $c-brand-2;
      @include font-rem(40px);
    }

    //- Elemento
    // .status__label {
    //   color: $c-brand-2;
    // }
  }
}

//- Bp- Small-m : 480px
@include media-query(small-m) {

  //- Bloque
  .status__bullet {
    max-width: 80%;
  }
}

//-bp-mediumn : 768px
@include media-query(medium) {

  //- Elemento
  .status__label {
    line-height: 1.2;
  }

  //-bloque
  .status__line {
    @include flexbox;
    @include flex-direction(row-reverse);
    width: 100%;
    max-width: none;
  }

  //-Bloque
  .status__item {
    @include flex(1);
    border-top: $border-box solid $c-brand;

    &:last-child {
      @include flex(0 0 10%);

      .status__bullet {
        max-width: 100%;

        &:before {
          top: -13px;
          height: 20px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
        }

        &:after {
          content: '';
          position: absolute;
          top: -11px;
          left: 0;
          width: 50%;
          height: 20px;
          background-color: $c-neutro;
        }
      }
    }
  }

  //- Bloque
  .status__bullet {
    border-left: none;
    max-width: 40%;
    padding: 0;
    text-align: center;

    &:before {
      position: relative;
      top: -13px;
      left: 50%;
      width: 17px;
      transform: translateY(0);
      transform: translateX(-50%);
    }
  }

  //- Modificador [Status Disabled]
  .status__item_disabled {
    border-top: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 4px; // $border-box_m;
      width: 100%;
      background-color: $c-default-7;
    }

    .status__bullet {
      border-left: none;
      padding: 0;
      max-width: 50%;

      &:before {
        left: 50%;
        top: -7px;
        transform: translateX(-50%);
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        display: block;
        height: 20px;
        width: 50%;
        background-color: $c-neutro;
        z-index: 1;
      }
    }
  }

  //- Modificador [Status Check]
  .status__item_check {
    background-color: $c-neutro;
    @include box_shadow(none);

    .status__bullet {
      border-left: none;
      max-width: 50%;

      &:before {
        left: 70px;
        top: -25px;
        @include font-rem(45px);
        transform: translateX(-50%);
        z-index: 2;
        width: 30px;
        height: 20px;
        border-radius: 50%;
        background-color: $c-neutro;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        right: 0;
        width: 50%;
        height: 4px; // $border-box_m;
        background-color: $c-default-7;
      }
    }
  }

  //- Estado ENVIADO _sent
  .status_sent {
    .status__bullet {
      max-width: 20%;
    }

    .status__item_check {
      .status__bullet {
        max-width: 20%;

        &:after {
          background-color: $c-neutro;
        }
      }
    }
  }
}