/*------------------------------------*\
  Steps Box
\*------------------------------------*/
//- Estructura
.step-box {
  padding-bottom: $sp-medium;
}
.renovaciones-acceso-index .step-box{
  padding-top:40px;
  padding-bottom: 0;
}
.step-box__wrap {
  @include flexbox;
  @include justify-content(space-between);

  .form__link {
    display: none;
    background-color: transparent;
  }

  .form__row-gral .step-box__txt,
  .step-box__txt {
    display: inline-block;
    padding: $sp-small 0;
  }
}


//- Estructura
.step-box__inner {
  margin: 0 $sp-small;
}

//- Modificador
.step-box_center {
  .form__link {
    text-align: left;
  }
}

//- Bloque
.step-box__item {
  transition: opacity .5s ease-out;
  .form__link {
    background-color: transparent;
    padding: 0;
  }

  .form__captcha {
    width: 100%;
    max-width: 280px;
    margin: $sp-small auto;
  }

  .radio-boll__label {
    font-family: $f-default;
    //width: 110px;
    line-height: 1;
    padding: $sp-xsmall;
  }

  .radio-boll__item {
    width: 100%;
    margin: 0 auto $sp-xsmall;
  }

  .form__btn {
    margin: 0 auto;
    max-width: none;
  }
}

//- Bloque
.step-box__legend {
  width: 100%;
  margin: 0 auto;
}

//- Elemento
.step-box__title,
.step-box__title-high {
  line-height: 1.1;
}

//- Elemento
.step-box__title-high {
  font-family: $f-bold;
  @include font-rem(48px);
  color: $c-brand-2;
}

//- Elemento
.step-box__label {
  text-align: center;
  padding-bottom: $sp-small;

  &.txt_bold {
    @include font-rem(24px);
  }
}

//- Elemento
.steps-box__blink {
  display: none;
}

//- Bloque para JS
.step-box__item_check {
  .form__link {
    display: block;
    padding-left: $sp-xsmall;
    padding-bottom: $sp-small-medium;
  }

  .form__btn {
    display: none;
  }

  .step-box__title-high,
  .step-box__title {
    color: $c-brand;
  }

  .step-box__inner {
    .form__row {
      padding-bottom: 4px;
    }
  }

  //- Elemento
  .steps-box__blink {
    display: block;
    padding-left: $sp-xsmall;
  }

  .form__signal {
    &:after {
      content:unicode($mi-check-circle2);
      font-family: 'icomoon';
      color: $c-brand;
      transform: rotate(0deg);
    }
  }

}

//- Bloque para JS
.step-box__item_disable {
  opacity: .3;

  .step-box__title-high,
  .step-box__title {
    color: $c-default-2;
  }

  .form__link {
    display: block;
  }

  .form__btn {
    display: none;
  }

  label,
  a {
    pointer-events: none;
  }

}





//- Funcionalidad Mobile
@media screen and (max-width: 799px) {

  //- Antiguo wrap
  .step-box {
    width: 100%;
    max-width: 480px;
    margin: 0 auto $sp-medium;
    overflow: hidden;

    .form__btn {
      max-width: 100%;
    }
  }

  //- Modificador
  .step-box_center {
    text-align: center;
  }

  .step-box__wrap {
    //width: 300%;
    position: relative;
    //left: -100%;
    transition: all .5s;
  }

  .step-box__item {
    // position: relative;
    flex: 1 1 100%;
    opacity: 1;
    transition: all .5s;

    .radio-boll__item {
      max-width: 280px;
    }
  }

  //- Elemento
  .step-box__title,
  .step-box__title-high {
    display: block;
    text-align: center;
  }

  //-Bloque para JS
  .step-box__item_check {
    opacity: 0;
  }

  .step-box__legend {
    padding-bottom: $sp-small;
  }
}

// $bp-small-m : 480px
@include media-query(small-m) {
  .step-box {

    //- Elemento
    .radio-boll {
      flex-direction: column;
      justify-content: center;
    }

    //- Reset
    .form {
      .radio-boll__label {
        width: initial;
      }
    }
  }
}

@media only screen and (min-width: 800px) {

  //-Bloque
  .step-box__item {
    @include flex(1 1 33.333%);
    max-width: 430px;
  }

  //- Elemento
  .step-box__label {
    text-align: left;
  }

  //- Estructura
  .step-box__inner {
    margin: 0 $sp-xsmall;
  }

  //- Elemento
  .step-box__title,
  .step-box__title-high {
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
  }

  //- Elemento
  .step-box__title-high {
    width: 14%;
    font-family: $f-bold;
    @include font-rem(48px);
    color: $c-brand-2;
  }

  //- Elemento
  .step-box__title {
    width: 85%;
    text-align: left;
    @include font-rem(20px);
  }

  //- Bloque para JS
  .step-box__item_check {
    .step-box__title-high {
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        content: unicode($i-check);
        font-family: 'icomoon';
        @include font-rem(20px);
        color: $c-brand;
      }
    }
  }
}

//- BP wide = 1024
@include media-query(wide) {
  .step-box {

    //- Reset
    .form {
      .radio-boll__label {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        width: 110px;
        padding: 2px $sp-xsmall;
        min-height: 40px;
        @include font-rem(14px);
      }
    }

    //- Elemento
    .radio-boll {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .radio-boll__item {
      padding-right: 4px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  //- Elemento
  .step-box__title {
    @include font-rem(24px);
  }
}

//- bp Big = 1280
@include media-query(big) {

  //- Estructura
  .step-box__inner {
    margin: 0 $sp-medium;
  }
}

@media screen and (max-width: 499px) {
  //- Mobile - JB
  .step-box {
    max-width: 90%;
  }
}