//- Componente
.steps {
  display: block;
  min-width: auto;
}

.data__txt2{
  display: -webkit-box;
}

.layout2{
  border-bottom: 1px solid #707070;
}

.steps__head {
  text-align: center;
}

.steps__top {
  padding-bottom: 15px;
}

//- modificador
.steps_center {
  .steps__legend {
    padding-top: $sp-medium;
  }

}

.steps__legend__margin{
  @media (min-width: 768px){
    padding-top:0px !important;
  }
}

.steps__bottom{
  border-bottom: 1px solid #E9EAE8;
  width: 90%;
  margin:auto;
  padding-bottom: 40px;
}

.renovaciones-plan-servicio .steps__head__product, .catalog-product-view .steps__head__product{
  padding-bottom: 40px !important;
  border-bottom:1px solid #E9EAE8 !important;
  width: 90%;
  margin:auto;
}

.steps__title4{
  font-size: 16px !important;
  color:#954B97;
  font-weight: bold;
  padding-top: 10px;
}





//- Estructura
.steps__legend,
.steps__subhead {
  padding: $sp-medium;
  width: 100%;
  min-width: auto;

  .head__title,
  .head__subtitle {
    display: block;
  }

  .head__title {
    margin: 0 auto;
    @include font-rem(30px);
  }
}
.renovaciones-acceso-index .head__title{
  font-weight: 100;
}

.steps__legend{
  border-bottom:1px solid #E9EAE8;
  @media (max-width: 767.9px){
    padding-top:40px;
    padding-bottom:40px;
  }
}

.renovaciones-acceso-index .steps-legend{
  @media (max-width: 767.9px){
    padding:5px;
  }
}

.steps__legend2{
  border-bottom:0px solid #B6B7B7 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.form-gral legend.steps__legend.steps__legend2{
  padding:20px 5px !important
}


.head__title2 {
  font-size: 25px !important;
  color: #50535A;
}

.head__title3 {
  font-weight: bold !important;
}

.head__subtitle2{
  font-size: 15px !important;
  color: #50535A;
}


//- Estructura
.steps__row {
  margin: 0 auto; //- Componente

  .slider-detail {
    margin: 0 auto;
    max-width: 630px;
  }
}

//- Estructura
.steps__head {
  @include flexbox;
  align-items: center; //text-align: center;
  width: 100%;

  .head__headline {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

//- Estructura
.steps__subhead {
  margin: 0 auto;
  padding-top: $sp-medium;
  padding-bottom: $sp-small;
  text-align: center;
}

//- Estructura
.steps__cont {
  min-width: auto;

  // padding: $sp-small 0;
  .slick-slider {
    .slick-track {
      @include flexbox;
      height: 100%;
      @include align-items(stretch);
    }
  }

  .spinner {
    margin-bottom: 40px;
  }

}

//- Bloque
.steps__selected {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: $sp-medium;

  .steps__head {
    border-bottom: none;
  }

  .steps__fig {
    text-align: center;
    padding-bottom: $sp-xsmall;
  }

  .steps__img {
    max-width: 65px !important;
    // max-width: 130px;
    width: 100%;
    padding: 0 0 $sp-xsmall;
  }

  //código de verificación
  // Modificador
  .steps__img_none {
    max-width: 42px;
  }

  //end código de verificación

  .steps__caption {
    font-family: $f-bold;
    max-width: 166px;
    margin: 0 auto;
  }

}

.steps__selected2{
  padding-top: 40px;
}

.slider__cards_item

.steps__block {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: $sp-medium $sp-small $sp-wide;
  .txt-high {
    @include font-rem(30px);
    line-height: 1.2;
    padding-bottom: $sp-small;
  }
}

.steps__foot5{
  margin-left: 53px !important;
}

@media (max-width: 813px) {
  .steps__foot5{
    margin-left: auto !important;
  }
}
//- Estructura
.steps__foot {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;

  .title-foot {
    padding-bottom: $sp-xsmall;
  }

  .steps__btn {
    margin: $sp-medium auto;
  }

  .steps__link {
    padding: $sp-small 0;

    &.i-filter {
      @include inline-flex;
      @include align-items(center);

      &:before {
        @include order(2);
        padding-left: 10px;
      }
    }
  }

  .steps__txt {
    max-width: 80%;
    margin: 0 auto;
    font-family: $f-light;
  }

  .steps__foot_inner {
    border-top: 1px solid $c-default-3;
    margin-top: $sp-medium;
    padding-top: $sp-medium;

    .steps__link {
      display: inline-block;
    }

    .steps__txt_light {
      font-family: $f-default;
      color: $c-default-2;
    }
  }
}

.steps__link {
  font-family: $f-default;
}
.steps__link.link__brand{
  font-size:16px;
}

//- Estructura
.steps__list {
  list-style: none;
}

//- Modificador
.steps__list_box {

  //- Bloque
  .box-check {
    max-width: 260px;
    margin: 0 auto;
    height: calc(100% - 60px);
  }
}

.steps__titles {
  width: 100%;
}

//- Bloque
.steps__item {
  @include flex(1);
  text-align: center;

  .steps__link {
    display: inline-block;
    padding: $sp-small 0;
  }

  .form-ico {
    padding: $sp-small 0;
  }
}

.steps__item2{
  padding: 0 50px !important;
}

.layout__txt{
  color: #954B97 !important;
}

.layout3{
  padding-top: 5px !important;
}

//- Elemento
.steps__num {
  @include font-rem(56px);
  font-family: $f-bold;
  padding-right: $sp-small;
}

//- Elemento
.steps__btn {
  display: block;
  min-width: 280px;
  margin: 40px auto 20px;
}

//- Javascript
.js-sliderCont {
  display: none;
}

//-Javascript
.js-btnHidden {
  display: none;
}

@media only screen and (max-width: 479px) {

  //- Modificador
  .steps__list_box {
    .steps__item {
      margin-bottom: $sp-small;
    }
  }
}

@media only screen and (max-width: 767px) {

  //- Bloque
  .steps__item {
    .form-ico {
      margin: 0 auto;
      display: block;
      max-width: 70%;
    }
  }

  .form-ico2 {
    max-width: 85% !important;
  }

  .steps__head2{
    padding-top: 40px;
    padding-bottom:10px;
  }
  .catalog-product-view .steps__head2{
    @media (max-width: 767.9px){
      padding-top:0px;
    }
  }

  .steps__bottom2{
    color: #954B97 !important;
    margin: 0 20px !important; 
  }

  .products2{
    margin: 30px 5px !important;
  }
}


//- bp: 640px
@media (min-width: 480px) and (max-width: 767px) {

  //- Modificador
  .steps__list_box {
    @include flexbox;
    @include flex-wrap(wrap);

    .steps__item {
      @include flex(calc(50% - 20px));
      margin: 0 10px 10px 0;
    }
  }
}

.thanks-message{
    color: #954B97;
    font-weight: bold;
  }

//- bp: 768px
@include media-query(medium) {

  //- Bloque
  .steps__head {
    text-align: center;
    flex-direction: column;

    &:before {
      padding-right: 0;
    }

    .steps__titles,
    .head__subtitle {
      text-align: center;
      margin: 0 auto;
    }
    .head__title{
      font-size: 24px;
      text-align: center;
      margin: 0 auto;
    }
    .summary__phoneNumber{
      font-size: 16px !important;
      color:#954B97;
    }
  }
  .head__title__summary{
    text-align: left !important;
    width: 100%;
  }

  

  //- Estructura de posición
  .steps__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  //- Modificador
  .steps__list_box {
    .steps__item {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  //- Estructura
  .steps__cont {
    max-width: 80%;
    margin: 0 auto;


    // padding: $sp-small 0;
    .slick-slider {
      .slick-track {
        padding-top: $sp-small;
      }
    }

    .slider__cards_item {
      margin: 0 20px;
      height: auto;
    }

  }

  //- Estructura
  .steps__row {
    padding: $sp-small 0 0;
  }

  //- Bloque
  .steps__item {
    .form-ico {
      max-width: 270px;
    }

    &:first-child {
      .form-ico {
        //margin: 0 0 0 auto;
      }
    }
  }

  .steps__btn {
    margin: 60px auto 40px;
  }


  .steps__item_center {
    text-align: center;
  }
}

//- bp: 1024px
@include media-query(wide) {

  //- Estructura
  .steps__cont {
    width: 90%;
    max-width: 1180px;

    .slider__cards_item {
      margin: 0 $sp-small;
    }
  }
}
