@media only screen and (max-width: 767px) {
  .sticky-foot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed !important;
    top: calc(100vh - 50px);
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1), 0 -2px 6px rgba(0, 0, 0, 0.1);
    background-color: $c-brand-2;
    padding: 6px $sp-small;
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      bottom: 0;
      background-color: $c-brand-2;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0 -7px 4px rgba(0, 0, 0, 0.05), 0 -7px 4px rgba(0, 0, 0, 0.01);
    }
  }
  .sticky-foot__txt {
    display: inline-block;
    font-family: $f-bold;
    color: $c-neutro;
    @include font-rem(24px);
  }
  .sticky-foot__t-light {
    padding-left: $sp-xsmall;
    font-family: $f-light;
  }
  .sticky-foot__btn {
    padding: 8px;
    min-width: 170px;
    margin-left: $sp-small;
  }
}

//- bp 768px
@include media-query(medium) {
  .sticky-foot {
    display: block;
    padding: $sp-small 0;
    .sticky-foot__btn {
      display: block;
      padding: 8px;
      max-width: 170px;
      margin: 20px auto 0;
    }
  }
  .sticky-foot__txt {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include font-rem(24px);
    font-family: $f-bold;
  }
  .sticky-foot__t-light {
    font-family: $f-regular;
    color: $c-brand;
  }
}

@media only screen and (max-width: 480px) {
  .sticky-foot {
    padding: 6px 20px 6px 8px;
  }
  .sticky-foot__btn {
    padding: 6px;
    min-width: 100px;
  }
  .sticky-foot__txt {
    @include font-rem(18px);
  }
}
