/*------------------------------------*\
    Bloque // Site Subnav (Breadcrumbs || detail-sticky)
\*------------------------------------*/
.subnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px 12px 20px;
}

