.submenu__list {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  margin: 0 auto;
  min-width: 450px;
}

.submenu__item {
  position: relative;
  list-style: none;
  padding: 10px 10px 20px;
  min-width: fit-content;

  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $c-default-1;

    &:last-child {
      display: none;
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.submenu__link {
  position: relative;
  width: 100%;
  display: block;
  color: $c-default-1;
  text-align: center;
  letter-spacing: 0.02em;
  &:before {
    @include font-rem(20px);
    margin-right: 10px;
    vertical-align: text-top;
  }

  &:after {
    content: '';
    position: absolute;
    left: 8%;
    bottom: -20px;
    height: 4px;
    width: 0;
    border-radius: 5px;
    background-color: $c-brand-2;
    transition: width .3s linear;
  }

  &:hover {
    text-decoration: none !important;

    &:after {
      will-change: left, right;
      width: 100%;
    }
  }

  &.active {
    &:after {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

//- HOTFIX-INTPOSP-656
.ie11 {
  .submenu__list {
    min-width: 800px;
  }
  
  .submenu__item {
    min-width: 160px;
  }
}

@include media-query(medium) {
  .submenu__item {
    padding: 20px;
  }
}
