/*------------------------------------*\
    Tabs tipo slider horizontal
    Bloque implementado en Home
\*------------------------------------*/


.tabs-slider {
    max-width: 100%;
    overflow: hidden; //- oculta contenido: item inactivo desktop
}
.tabs-slider__item {
    max-height: 360px;
    overflow: hidden; //- oculta contenido: item inactivo mobile
    text-align: center;
     transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.tabs_gradient__start {
    background-color: rgba(0, 216, 245, 1);
}

.tabs_gradient__end {
    color: $c-neutro;
    background-color: rgba(255, 118, 0, 1);
}
.tabs-slider__intro {
    position: relative;
    overflow: hidden;
}
.tabs-slider__label {
    position: relative;
    z-index: 2;
    margin-bottom: 6px;
    padding-top: 24px;
    text-transform: uppercase;
    cursor: pointer;
    @include font-rem(16px);
    font-family: $f-bold;
    &:after{
        display: none;
    }
}
.tabs-slider__header {
    position: relative;
    z-index: 2;
    min-height: 308px;
}

.tabs-slider__title {
    max-width: 280px;
    margin: 0 auto;
    padding-bottom: 14px;
    line-height: 1.2;
    @include font-rem(24px);
    font-family: $f-bold;
}

.tabs-slider__tab_neutro {
    color: $c-neutro;
}

.tabs-slider__headline {
    font-family: $f-light;
    padding: 0 0 40px;
}
.tabs-slider__actions {
    padding-top: 6px;
    padding-bottom: 40px;
    .btn_small {
        min-width: 240px;
    }
}
.tabs-slider__crop {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 360px;
    padding-top: 40px;
    overflow: hidden;
}
    .tabs-slider__img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        object-fit: cover;
        object-position: 40% 100%;
    }

.tabs-slider__inline {
    display: inline-block;
    .form-ico__label {
        max-width: 210px;
    }
}


@media only screen and (min-width: 370px) {
    .tabs-slider__title {
        max-width: 362px;
    }
}
@media only screen and (min-width: 470px) {
    .tabs-slider__crop {
        padding-top: 0;
    }
}
@media only screen and (min-width: 470px) and (max-width: 767px) {
    .tabs-slider__title {
        max-width: 100%;
    }
    .tabs-slider__img {
        object-fit: scale-down;
        object-position: 50% 100%;
    }
}

@include media-query(medium) {

    .tabs_gradient {
        background: rgb(0, 216, 245);
        background: -moz-linear-gradient(90deg, rgba(0, 216, 245, 1) 0%, rgba(0, 216, 245, 1) 50%, rgba(255, 118, 0, 1) 50%, rgba(255, 118, 0, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(0, 216, 245, 1) 0%, rgba(0, 216, 245, 1) 50%, rgba(255, 118, 0, 1) 50%, rgba(255, 118, 0, 1) 100%);
        background: linear-gradient(90deg, rgba(0, 216, 245, 1) 0%, rgba(0, 216, 245, 1) 50%, rgba(255, 118, 0, 1) 50%, rgba(255, 118, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d8f5", endColorstr="#ff7600", GradientType=1);
    }

    .tabs-slider {
        @include flexbox;
        @include justify-content(space-between);
    }
    .tabs-slider__item {
        @include flex(.5 .5 50%);
        max-height: 500px;
    }
    .tabs-slider__panel {
        @include flexbox;
        @include align-items(center);
        width: 200%;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .tabs-slider__tab {
          min-width: 50%;
    }


    .tabs-slider__header {
        min-height: 448px;
    }

    .tabs-slider__title {
        @include font-rem(35px);
    }
    .tabs-slider__headline {
        @include font-rem(24px);
    }
    .tabs-slider__crop {
        min-height: 500px;
    }
    .tabs-slider__img {
        max-width: 656px;
        object-position: 44% 100%;
    }
    .tabs-slider__content {
        padding-top: 40px;
    }
}


/*------------------------------------*\
    Funcionalidad Tab activa
\*------------------------------------*/

.tabs-slider__item_open {
    flex: 0.5 0.5 50%;
     max-height: none;
    .tabs-slider__hidden {
        display: none;
        visibility: hidden;
    }

}

@media only screen and (max-width: 767px) {
    .tabs-slider__item_open {
        .tabs-slider__crop {
            opacity: 0
        }
        .tabs-slider__header {
            min-height: auto;
        }
    }
}
@include media-query(medium) {
    .tabs-slider_active {
        position: relative;
        .tabs-slider__item {
            &:not(.tabs-slider__item_open) {
                max-width: 0;
                .tabs-slider__label {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    -webkit-writing-mode: vertical-lr;
                    -ms-writing-mode: tb-lr;
                    writing-mode: vertical-lr;
                    @include font-rem(34px);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    &:after {
                        display: inline-block;
                        padding-top: 20px;
                        @include font-rem(16px);
                    }
                }
                &.tabs_gradient__start {
                    .tabs-slider__label {
                        left: 0;
                        padding: 0 20px;
                        background-color: rgba(0, 216, 245, 1);
                    }
                }
                &.tabs_gradient__end {
                    .tabs-slider__label {
                        right: 0;
                         padding: 0 20px;
                        background-color: rgba(255, 118, 0, 1);
                    }
                }
            }
        }

    }
    .tabs-slider__item_open {
        @include flex(1 1 100%);
        min-width: 100%;
        .tabs-slider__panel {
            @include justify-content(space-evenly);
            width: 100%;
        }
        &.tabs_gradient__start {
            padding-right: 80px;
        }
         &.tabs_gradient__end {
             padding-left: 80px;
         }
        .tabs-slider__tab {
            min-width: 45%;
        }
        .tabs-slider__label {
            cursor: default;
        }
    }

}


/*------------------------------------*\
    divider
\*------------------------------------*/
.tabs-slider__divider {
    @include flexbox;
    @include justify-content(center);
    max-width: 98%;
    margin: 0 auto;
}
.divider-ico {
    padding: 0 16px 30px;
    font-family: $f-bold;
    &:before {
        display: block;
        padding-bottom: 4px;
        @include font-rem(40px);
    }
}
.divider-ico__title {
    @include font-rem(20px);
}
.divider-ico__lead {
    @include inline-flex;
    @include align-items(center);
    max-width: 140px;
    margin-top: 8px;
    padding-top: 10px;
    border-top: 1px solid #FCC400;
    @include font-rem(14px);
    &::before {
        @include font-rem(28px);
    }
}
.divider-ico__label {
    text-transform: uppercase;
    font-weight: normal;
}
