// Tabs del home
//- Caja contenedora
.tabs-box {
  margin: 0;
  padding: $sp-small-medium;
  background-color: $c-brand;
  overflow: hidden;
}

.tabs-box__content {
  display: block;
  width: 100%;
  margin: 0 -10px 0 0;
}

.tabs-box__header {
  padding-bottom: 36px;
}

.tabs-box__list {
  list-style: none;
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin: 0 auto;
}

.tabs-box__pane {
  display: none;
}

.tabs-box__nav {
  display: none;
}

.tabs-box__btn {
  @include flexbox;
  @include align-items(center);
  width: 90%;
  margin: 0 auto;
  padding: $sp-small 0;
  @include font-rem(18px);
  font-family: $f-regular;
  //color: $c-neutro;
  background-color: transparent;
  text-align: left;

  &:before {
    @include font-rem(40px);
    width: 50px;
    color: $c-brand;
    padding-right: $sp-small;
  }

  &.tabs-box__btn_active {
    .tabs-box__btn-txt {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.tabs-box__btn-txt {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  color: $c-default;

  &:after {
    @include font-rem(18px);
  }
}

.tabs-box__item {
  @include flex(1 50%);
  @include align-self(start);
  min-width: 290px;
  max-width: 390px;
  padding: 0;
  margin: $sp-xsmall;
  border-top: 8px solid $c-brand_l;
  background-color: $c-neutro;
  @include box_shadow(1);
}

.tabs-box__grid {
  width: 90%;
  margin: 0 auto;
}

.tabs-box__pane {
  padding-top: 20px;
}

.tabs-box__title {
  @include font-rem(35px);
  //color: $c-neutro;
}

.tabs-box__item-body {
  padding: 30px 0;
  background-color: $c-neutro;
}

.tabs-box__form {
  max-width: 340px;
  margin: 0 auto;
}

.tabs-box__form-btn {
  width: 100%;
}

// @include media-query(medium) {

//   .tabs-box__list {
//     max-width: 1280px;
//     margin: 0 auto;
//   }

// }

@include media-query(small-m) {
  .tabs-box__btn-txt {
    @include font-rem(20px);
  }
}


//- Bp: 1024px
@include media-query(medium) {
  .tabs-box {
    padding: $sp-small-medium;
  }

  .tabs-box__header {
    text-align: center;
    padding-bottom: 90px;
  }

  .tabs-box__list {
    display: block;
    list-style: none;
    max-width: initial;
  }

  .tabs-box__grid {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    max-width: 1180px;
    width: 90%;
  }

  .tabs-box__title {
    line-height: 1.2;
    @include font-rem(50px);
    font-family:'Telefonica-ExtraLight';
  }

  .tabs-box__item {
    width: 100%;
    height: 0;
    min-width: auto;
    max-width: none;
    margin: 0;
    border-top: none;
    transition: height .3s linear;
  }


  .tabs-box__item-head {
    width: 50%;
    .link {
      display: block;
      padding-top: $sp-xsmall;
    }
  }


  .tabs-box__item-body {
    width: 40%;
    margin: auto 0;
  }

  .tabs-box__pane {
    padding: 50px 0;
  }


  .tabs-box__nav {
    @include flexbox;
    @include align-items(stretch);
    margin: 0 -6px;
    height: 100%;
    list-style: none;
    // transition: height .3s linear;

    &.tabs-box__nav_open {
      margin-bottom: 0;

      //height: 222px;
      .tabs-box__nav-item {
        // margin-bottom: 12px;

        &.tabs-box__nav-item_open {
          margin-bottom: -16px;
          background-color: $c-neutro;
          // height: 100%;
        }
      }
    }
  }

  .tabs-box__nav-item {
    margin: 0 6px 12px;
    @include flex(1 0);
    border-top: 6px solid $c-brand_l;
  }

  .tabs-box__item {
    &.tabs-box__nav-item_open {
      height: 100%;
    }
  }

  .tabs-box__btn {
    display: none;
  }

  .tabs-box__link {
    display: block;
    background-color: $c-neutro;
    transition: all .3s linear;
    @include font-rem(18px);
    padding: $sp-small $sp-xsmall;

    &:before {
      padding-bottom: $sp-xsmall;
      @include font-rem(35px);
      color: $c-brand;
    }

    &.tabs-box__btn_active {
      .tabs-box__nav-txt {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }


  .tabs-box__nav-txt {
    @include flexbox;
    @include align-items(center);
    //@include font-rem(24px);
    transition: all .3s linear;
    font-family: $f-regular;

    &:after {
      @include font-rem(20px);
      margin-left: $sp-xsmall;
    }
  }

  .tabs-box__content {
    max-width: 1280px;
    margin: 0 auto;
  }

}
//- End 1024px



//- Bp: 1180px
@include media-query(large) {
  .tabs-box__nav-txt {
    @include font-rem(22px);
  }

  .tabs-box__link {
    padding: $sp-small $sp-xsmall $sp-small $sp-small;
  }
}
