/*------------------------------------*\
  Styles of Tabs
\*------------------------------------*/


.tabs {
  margin-bottom: 40px;
}

// Tas header
.tabs__list {
  list-style: none;
}

.tabs__btn {
  font-family: $f-regular;
  line-height: 1.5;
  color: $c-default;
  padding: 0;
  background-color: transparent;
  &:hover {
    color: $c-brand-2;
  }
}
.js-tabItemActive {
  .tabs__btn {
    &:hover {
      color: $c-default;
    }
  }
}

.tabs-description {
  font-family: $f-light;
}

.tabs-description__title {
  margin: 0;
}

//Estilos de termnos y condiciones
//dentro de tas detalle sim
.tabs-terms__title {
  font-family: $f-light;
  @include font-rem(26px);
  padding-bottom: 16px;
  margin: 20px 0;
  border-bottom: 1px solid $c-default-2;
}

.tabs-terms__concept {
  padding-bottom: 14px;
  margin: 0;
  font-family: $f-bold;
  @include font-rem(14px);
}

.tabs-terms__txt {
  padding-bottom: 20px;
  margin: 0;
  font-family: $f-regular;
  @include font-rem(14px);
}

@include media-query(small-m) {
  .tabs__header {
    width: 90%;
    margin: 0 auto;
  }
}

@include media-query(max-medium) {
  .tabs__title {
    display: none;
  }

  .tabs__item {
    &:not(:last-child) {
      border-bottom: 1px solid $c-default-2;
    }
    //Clase para la tab activa
    &.js-tabItemActive {
      .tabs__btn {
        &:before {
          -webkit-transform: rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
              -ms-transform: rotate(180deg); /* IE 9 */
                  transform: rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
        }
      }
      // Estado activo para contenido de tab
      .tabs__pane {
        height: 100%;
        transition: width 1s linear .2s;
      }
    }
  }

  .tabs__btn {
    @include flexbox;
    @include flex-direction(row-reverse);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    padding: 30px 10px 26px 12px;
    &:before {
      @include font-rem(16px);
    }
  }

  .tabs__pane {
    height: 0;
    overflow: hidden;
    .tabs__slot {
      &:last-child {
        .tabs__slot-content {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  .tabs__slot {
    text-align: center;
    background-color: $c-default-5;
  }

  .tabs__slot-content {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1px solid $c-default-3;
  }
  // Figure de tabs se oculta en mobile
  .tabs__figure {
    display: none;
  }

  .tabs-description__title {
    @include font-rem(30px);
  }

  .tabs-description__txt {
    font-family: $f-default;
    @include font-rem(16px);
  }
}

// Media query desde 768px
@include media-query(medium) {
  .tabs__inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
  }

  .tabs__header {
    position: relative;
    padding-bottom: 20px;
  }

  .tabs__title {
    font-family: $f-bold;
    @include font-rem(18px);
  }

  .tabs__list {
    @include flexbox;
    text-align: center;
  }

  .tabs__pane {
    position: absolute;
    display: none;
    left: 0;
    top: 140px;
    width: 100%;
    text-align: left;
    background-color: $c-neutro;
  }

  .tabs__item {
    margin-left: 36px;
    border-bottom: 3px solid transparent;
    //Clase para la tab activa
    &.js-tabItemActive {
      border-color: $c-default;
      .tabs__pane {
        display: block
      }
      .tabs__btn {
        font-family: $f-bold;
      }
    }
  }

  .tabs__btn {
    padding: 24px 14px 20px;
    &:before {
      display: none;
    }
  }

  .tabs__header-content {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 1px solid $c-default-4;
  }

  .tabs__slot {
    padding: 20px 0;
  }

  .tabs__slot-content {
    @include flexbox;
  }

  .tabs-description {
    padding: 20px 20px 20px 0;
    width: 35%;
    text-align: left;
  }

  .tabs-description__title {
    @include font-rem(38px);
  }

  .tabs-description__txt {
    @include font-rem(16px);
  }

  .tabs__figure {
    position: relative;
    width: 65%;
    line-height: 1;
  }

  .tabs__caption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 20px 0;
    text-align: right;
    color: $c-neutro;
    font-family: $f-light;
    @include font-rem(20px);
  }

  .tabs__img {
    width: 100%;
  }

  // Clase de item imverso en zig-zag
  .tabs__slot_reverse {
    .tabs__slot-content {
      @include flex-direction(row-reverse);
    }
    .tabs-description {
      padding: 20px 0 20px 20px;
    }
    .tabs__caption {
      position: absolute;
      left: 0;
      padding: 20px 0 20px 20px;
      text-align: left;
    }
  }

  .tabs-terms__title {
    padding-bottom: 20px;
    margin-bottom: 30px;
    @include font-rem(32px);
  }

  .tabs-terms__concept {
    padding-bottom: 20px;
  }

  .tabs-terms__txt {
    padding-bottom: 28px;
  }
}

// Media 1uery desde 768px
@include media-query(medium) {
  .tabs-terms__title {
    margin-top: 0;
  }
}

// Media 1uery desde 1024px
@include media-query(wide) {
  .tabs-description__title {
    @include font-rem(42px);
  }

  .tabs-description__txt {
    @include font-rem(20px);
  }

  .tabs__caption {
    @include font-rem(24px);
  }
}

@include media-query(large) {
  .tabs__header {
    padding-bottom: 40px;
  }

  .tabs__slot {
    padding: 40px 0;
  }

  .tabs-description {
    padding: 40px 40px 40px 0;
  }

  .tabs-description__title {
    @include font-rem(64px);
  }

  .tabs-description__txt {
    @include font-rem(24px);
  }

  .tabs__caption {
    @include font-rem(32px);
    padding: 0 40px 40px 0;
  }
  // Clase de item imverso en zig-zag
  .tabs__slot_reverse {
    .tabs__caption {
      padding: 40px 0 40px 40px;
    }
    .tabs-description {
      padding: 40px 0 40px 40px;
    }
  }
}

// Se trae del SASS _data.scss se confundia con data
// .tabs {
//   margin-bottom: 40px;
// }

// // Tas header
// .tabs__list {
//   list-style: none;
// }

// .tabs__btn {
//   font-family: $f-regular;
//   line-height: 1.5;
//   color: $c-default;
//   padding: 0;
//   background-color: transparent;
// }

// .tabs-description {
//   font-family: $f-light;
// }

// .tabs-description__title {
//   margin: 0;
// }

// //Estilos de termnos y condiciones
// //dentro de tas detalle sim
// .tabs-terms__title {
//   font-family: $f-light;
//   @include font-rem(26px);
//   padding-bottom: 16px;
//   margin: 20px 0;
//   border-bottom: 1px solid $c-default-2;
// }

// .tabs-terms__concept {
//   padding-bottom: 14px;
//   margin: 0;
//   font-family: $f-bold;
//   @include font-rem(14px);
// }

// .tabs-terms__txt {
//   padding-bottom: 20px;
//   margin: 0;
//   font-family: $f-regular;
//   @include font-rem(14px);
// }

// @include media-query(small-m) {
//   .tabs__header {
//     width: 90%;
//     margin: 0 auto;
//   }
// }

// @include media-query(max-medium) {
//   .tabs__title {
//     display: none;
//   }

//   .tabs__item {
//     &:not(:last-child) {
//       border-bottom: 1px solid $c-default-2;
//     }

//     //Clase para la tab activa
//     &.js-tabItemActive {
//       .tabs__btn {
//         &:before {
//           -webkit-transform: rotate(180deg);
//           /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
//           -ms-transform: rotate(180deg);
//           /* IE 9 */
//           transform: rotate(180deg);
//           /* IE 10, Fx 16+, Op 12.1+ */
//         }
//       }

//       // Estado activo para contenido de tab
//       .tabs__pane {
//         height: 100%;
//         transition: width 1s linear .2s;
//       }
//     }
//   }

//   .tabs__btn {
//     @include flexbox;
//     @include flex-direction(row-reverse);
//     @include justify-content(space-between);
//     @include align-items(center);
//     width: 100%;
//     padding: 30px 10px 26px 12px;

//     &:before {
//       @include font-rem(6px);
//     }
//   }

//   .tabs__pane {
//     height: 0;
//     overflow: hidden;

//     .tabs__slot {
//       &:last-child {
//         .tabs__slot-content {
//           border-bottom: 1px solid transparent;
//         }
//       }
//     }
//   }

//   .tabs__slot {
//     text-align: center;
//     background-color: $c-default-5;
//   }

//   .tabs__slot-content {
//     width: 90%;
//     padding: 20px 0;
//     margin: 0 auto;
//     border-bottom: 1px solid $c-default-3;
//   }

//   // Figure de tabs se oculta en mobile
//   .tabs__figure {
//     display: none;
//   }

//   .tabs-description__title {
//     @include font-rem(30px);
//   }

//   .tabs-description__txt {
//     font-family: $f-default;
//     @include font-rem(16px);
//   }
// }

// // Media query desde 768px
// @include media-query(medium) {
//   .tabs__inner {
//     width: 90%;
//     margin: 0 auto;
//     max-width: 1280px;
//   }

//   .tabs__header {
//     position: relative;
//     padding-bottom: 20px;
//   }

//   .tabs__title {
//     font-family: $f-bold;
//     @include font-rem(18px);
//   }

//   .tabs__title-section {
//     padding-top: 0;
//   }

//   .tabs__list {
//     @include flexbox;
//     text-align: center;
//   }

//   .tabs__pane {
//     position: absolute;
//     display: none;
//     left: 0;
//     top: 140px;
//     width: 100%;
//     text-align: left;
//     background-color: $c-neutro;
//   }

//   .tabs__item {
//     margin-left: 36px;
//     border-bottom: 3px solid transparent; //Clase para la tab activa

//     &.js-tabItemActive {
//       border-color: $c-default;

//       .tabs__pane {
//         display: block
//       }

//       .tabs__btn {
//         font-family: $f-bold;
//       }
//     }
//   }

//   .tabs__btn {
//     padding: 24px 14px 20px;

//     &:before {
//       display: none;
//     }
//   }

//   .tabs__header-content {
//     @include flexbox;
//     @include justify-content(space-between);
//     @include align-items(center);
//     border-bottom: 1px solid $c-default-4;
//   }

//   .tabs__slot {
//     padding: 20px 0;
//   }

//   .tabs__slot-content {
//     @include flexbox;
//   }

//   .tabs-description {
//     padding: 20px 20px 20px 0;
//     width: 35%;
//     text-align: left;
//   }

//   .tabs-description__title {
//     @include font-rem(38px);
//   }

//   .tabs-description__txt {
//     @include font-rem(16px);
//   }

//   .tabs__figure {
//     position: relative;
//     width: 65%;
//     line-height: 1;
//   }

//   .tabs__caption {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     padding: 0 20px 20px 0;
//     text-align: right;
//     color: $c-neutro;
//     font-family: $f-light;
//     @include font-rem(20px);
//   }

//   .tabs__img {
//     width: 100%;
//   }

//   // Clase de item imverso en zig-zag
//   .tabs__slot_reverse {
//     .tabs__slot-content {
//       @include flex-direction(row-reverse);
//     }

//     .tabs-description {
//       padding: 20px 0 20px 20px;
//     }

//     .tabs__caption {
//       position: absolute;
//       left: 0;
//       padding: 20px 0 20px 20px;
//       text-align: left;
//     }
//   }

//   .tabs-terms__title {
//     padding-bottom: 20px;
//     margin-bottom: 30px;
//     @include font-rem(32px);
//   }

//   .tabs-terms__concept {
//     padding-bottom: 20px;
//   }

//   .tabs-terms__txt {
//     padding-bottom: 28px;
//   }

//   .tabs-terms__title {
//     margin-top: 0;
//   }
// }

// // Media 1uery desde 1024px
// @include media-query(wide) {
//   .tabs-description__title {
//     @include font-rem(42px);
//   }

//   .tabs-description__txt {
//     @include font-rem(20px);
//   }

//   .tabs__caption {
//     @include font-rem(24px);
//   }
// }

// @include media-query(large) {
//   .tabs__header {
//     padding-bottom: 40px;
//   }

//   .tabs__slot {
//     padding: 40px 0;
//   }

//   .tabs-description {
//     padding: 40px 40px 40px 0;
//   }

//   .tabs-description__title {
//     @include font-rem(64px);
//   }

//   .tabs-description__txt {
//     @include font-rem(24px);
//   }

//   .tabs__caption {
//     @include font-rem(32px);
//     padding: 0 40px 40px 0;
//   }

//   // Clase de item imverso en zig-zag
//   .tabs__slot_reverse {
//     .tabs__caption {
//       padding: 40px 0 40px 40px;
//     }

//     .tabs-description {
//       padding: 40px 0 40px 40px;
//     }
//   }
// }
