//- Componente
.tab {
  margin: 0 auto;
}

//- bloque
.tab__content {
  display: none;
  padding: $sp-small;
  border-bottom: 2px solid $c-default-5;
}

//- Elemento
.tab__btn {
  width: 100%;
  background-color: $c-neutro;
  color: $c-brand-2;
  text-decoration: underline;
  text-align: center;
  padding: $sp-small 0;
  transition: all .5s;

  &:after {
    display: inline-block;
    @include font-rem(18px);
    padding-left: $sp-xsmall;
    vertical-align: middle;
    transition: all .5s;
  }
}

//- Bloque
.tab__list {
  @include flexbox;
  @include flex-wrap(wrap);
}

//- Elemento
.tab__title {
  font-family: $f-bold;
  @include font-rem(18px);
  @include flex(1 100%);
  margin-bottom: $sp-xsmall;
  padding: $sp-small 0 0;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $c-default-2;
    margin-top: $sp-xsmall;
  }
}

//- Elemento
.tab__item {
  @include flex(1 calc(50% - 2px));
  font-family: $f-default;
  @include font-rem(14px);
  padding: $sp-xsmall 0;
}

//- Modificador
.tab__item_odd {
  font-family: $f-light;
  color: $c-default-7;
  @include font-rem(14px);
  text-align: right;
}

//- Javascript
.js-tabOpen {
  &.tab__btn {
    color: $c-default;
    text-decoration: none;
    font-family: $f-bold;
    @include box_shadow(1);
    transform: translateY(-2px);
    &:after {
      transform: rotate(180deg);
      color: $c-brand-2;
      padding-left: 0;
      padding-right: $sp-xsmall;
    }
  }
}

@include media-query(max-medium) {
    //- bloque
    .js-tabOpen.tab__btn,
    .tab__content {
      display: block;
      max-width: 380px;
      margin: 0 auto;
    }
}


//- Bp 768px
@include media-query(medium) {
  .tab {
    width: 90%;
  }
  //- Elemento
  .tab__title {
    &::after {
      display: none;
    }
  }

  //- bloque
  .tab__content {
    padding: 0 $sp-large $sp-medium;
    border: 1px solid $c-default-4;
  }

  //- Elemento
  .tab__item {
    @include font-rem(16px);
  }

  //- Modificador
  .tab__item_odd {
    font-family: $f-default;
    color: $c-default;
    @include font-rem(16px);
  }

  //- Estructura
  .tab__list {
    border-bottom: 4px solid $c-default-5;
    padding: $sp-small 0 $sp-small-medium;
    &:last-child {
      border-bottom: none;
      padding-bottom: $sp-xsmall;
    }
  }
}

//-Bp 1024px
@include media-query(wide) {
  .tab {
    width: 100%;
  }
}
