/*------------------------------------*\
    Bloque Tu sim
\*------------------------------------*/

.table-data {
  margin: 0 0 $sp-small;
  border: 1px solid $c-default-4;
}

.table-data__row {
  &:not(:last-child) {
    border-bottom: 1px solid $c-default-5;
  }
}

// Estado abierto
.table-data__status-on {
  .table-data__cell {
    &:nth-child(3) {
      color: $c-brand;
    }
    &:first-child {
      &:after {
        background-color: $c-brand;
      }
    }
  }
}

// Estado progeso
.table-data__status-in {
  .table-data__cell {
    &:nth-child(3) {
      font-family: $f-bold;
    }
  }
}

.table-data__cell {
  @include font-rem(14px);
  &:first-child {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $c-default-3;
      margin: 0 10px;
    }
  }
}
.table-data_slide {
  .table-data__cell {
    &:first-child {
      &:after {
        display: none;
      }
    }
  }
}

.table-data__btn-arrow {
  padding: 0;
  @include font-rem(16px);
  font-family: $f-default;
  color: $c-brand-2;
  cursor: pointer;
  background-color: transparent;
  &:before {
    content: '\e934';
    font-family: 'icomoon' !important;
    display: block;
    margin-left: 8px;
    @include font-rem(12px);
    color: $c-brand-2;
    transition: all .3s linear;
    text-decoration: none;
  }

  &.js-btnTableDetail-open {
    &:before {
      content: '\e936';
    }
  }
}
.table-data__row_bg {
  background-color: $c-default-5;
}
.table-data__cell_bg {
  background-color: $c-default-5;
}
.table-data__detail-cell {
  padding: 10px 0;
}

.table-data__slide-cell {
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .table-data {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid $c-default-6;
  }
  .table-data__head {
    display: none;
  }
  .table-data__content {
    display: block;
  }
  .table-data__row {
    position: relative;
    display: -ms-grid;
    display: grid;
    width: 100%;
    padding: $sp-xsmall;
  }
  .table-data__cell {
    font-family: $f-default;
    @include font-rem(14px);
    padding: 8px 4px;
    &:after {
      bottom: 50%;
      transform: translateY(-50%);
      margin: 0 5px;
    }
    &:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1 / 4;
      -ms-grid-row: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1 / 4;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    &:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 3;
      grid-row: 3;
    }
    &:nth-child(4) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 3;
      grid-row: 3;
    }
    &:nth-child(5) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3 / 4;
      -ms-grid-row: 3;
      grid-row: 3;
    }
  }
  //tabla con textos de head en casa columna
  .table-data__cell {
    &:first-child {
      position: relative;
      display: block;
      &:before {
        display: block;
        padding-left: $sp-small;
      }
    }
    &:before {
      content: attr(data-tableHead);
      display: block;
      font-family: $f-default;
      @include font-rem(11px);
      color: $c-default-7;
    }
    &.table-data__cell_hide {
      display: none;
    }
  }
  .table-data__cell_bg {
    background-color: $c-neutro;
  }
  // Tabla con slide en
  .table-data_slide {
    .table-data__row {
      -ms-grid-columns: 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 1fr;
    }
    .table-data__cell_mb1 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1 / 2;
      -ms-grid-row: 1 / 2;
      grid-row: 1 / 2;
    }
    .table-data__cell_mb2 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
    }
    .table-data__cell_mb3 {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
    }
    .table-data__cell_mb4 {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
    }
    max-width: 400px;
    margin: 0 auto;
  }
  .table-data__cell_occult {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    .link__brand {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .table-data_slide {
    .table-data__slide-row {
      -ms-grid-columns: none;
      grid-template-columns: none;
      padding: 0;
      .table-data__slide-cell {
        padding: 0;
      }
    }

  }
  .table-data__slide-img {
    width: 100%;
  }
}
//-@media only screen and (min-width: 700px) {
@include media-query(medium) {
  .table-data {
    width: 100%;
  }
  .table-data__head {
    border-bottom: 1px solid $c-default-6;
  }
  .table-data__head-item {
    padding: $sp-xsmall;
    font-family: $f-bold;
    text-align: left;
    @include font-rem(18px);
    &:first-child {
      text-align: center;
    }
  }
  .table-data__row {
    display: table-row;
  }
  .table-data__cell {
    padding: $sp-small $sp-xsmall;
    &:after {
      top: 50%;
    }
    &:first-child {
      position: relative;
      text-align: center;
      padding-left: 26px;
    }
  }
  .table-data__cell_occult {
    position: relative;
    padding-right: 30px;
  }
  .table-data__cell_center {
    text-align: center;
  }
  .table-data__btn-arrow {
    position: absolute;
    top: 26px;
  }
  .table-data__slide-cell {
    padding: 20px 0;
  }
} //-@media only screen and (min-width: 980px) {
// @include media-query(small-wide) {
//   .table-data__cell {
//     &:first-child {
//       &:after {
//         left: 10%;
//       }
//     }
//   }
// }
