.table-section {
  color: $c-default-1;
  @include font-rem(16px);
  text-align: left;
  width: 100%;
}

.table-section__row {
  &:not(:last-child) {
    border-bottom: 1px solid $c-default-5;
  }
}

.table-section__head {
  margin-bottom: $sp-medium;
  .table-section__row {
    height: 80px;
  }
}

.table-section__head-item {
  font-family: $f-bold;
}

.table-section__head-item:nth-child(2) {
  width: 50%;
}

.table-section__content {
  .table-section__row:first-child {
    padding-top: $sp-medium;
  }
}

.table-section__cell {
  font-family: $f-regular;
  padding: 8px 4px;
}

.table-section__cell5 {
  padding: 8px 10px !important;
}

@include media-query(medium) {
  .table-section__head-item:nth-child(2) {
    width: auto;
  }
}