.table {
  width: 100%;
  margin: 0 auto 0;
  border: 1px solid $c-default-3;
  text-align: left;
  @include font-rem(20px);
}

.table__head {
  font-family: $f-bold;
  padding: $sp-xsmall;
}

.table__col {
  padding: $sp-xsmall 5px;

  &.table__txt-bold {
    font-family: $f-bold;

    padding: $sp-xsmall;
  }

  .link__brand {
    padding-left: $sp-xsmall;
    white-space: nowrap;
  }
}

.table__txt-brand {
  color: $c-brand-2;

  &:before {
    color: $c-default;
  }
}

@media only screen and (max-width:767px) {
  .table {
    display: block;
    max-width: 360px;
    margin: 0 auto;
    border-color: $c-default-5;
    margin-bottom: $sp-medium;
  }

  .table__head-body {
    display: none;
  }

  .table__col {
    display: block;
    padding: $sp-xsmall $sp-small;

    .link__brand {
      display: none;
    }

    &:before {
      display: block;
      content: attr(data-head);
      font-family: $f-bold;
      @include font-rem(20px);
      padding: $sp-xsmall 0;
    }
  }

  .table__col {
    &.table__txt-bold {
      padding: $sp-xsmall $sp-small;
    }
  }

  .table__foot {
    .table__col {
      padding-top: 0;
      padding-bottom: $sp-small;

      &:before {
        display: none;
      }
    }
  }
}

//-Bp 768px
@include media-query(medium) {
  .table {
    width: 90%;
    @include font-rem(16px);
  }
  .table__col.table__txt-bold {
    padding: $sp-small $sp-xsmall 0
  }

  .table__head {
    padding: 5px $sp-xsmall 0;
  }

  .table__col {
    padding: 2px $sp-xsmall;
  }

  .table__head-body {
    .table__head {
      padding-top: $sp-small;
    }
  }

  .table__foot {
    .table__col {
      padding-bottom: $sp-small;
    }
  }
}

//-Bp 1024px
@include media-query(wide) {
  .table {
    width: 100%;
  }
}

//-Bp 1180px
@include media-query(large) {
  .table {
    @include font-rem(20px);
  }
}
