.tab-form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  height: 100%;
  margin: $sp-small auto;
  padding: $sp-xsmall;
  background-color: $c-brand;
}

.tab-form__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.tab-form__tab {
  position: relative;
  display: flex;
  padding: $sp-small;
  background-color: $c-neutro;
  color: $c-default;
  font-family: $f-bold;
  justify-content: space-between;
  &:before {
    order: 2;
    transition: all .5s;
  }
  &.i-arrow-right.down {
    &:before {
      transform: rotate(90deg);
    }
  }
}

.tab-form__head {
  display: flex;
  align-items: center;
  min-height: 320px;
  padding: $sp-xsmall;
  background-color: $c-neutro;
}

.tab-form__foot {
  background-color: $c-neutro;
  padding: $sp-small 0 $sp-medium;
}

.tab-form__form {
  padding: $sp-xsmall;
}

.tab-form__label {
  display: block;
  font-family: $f-light;
  @include font-rem(18px);
  padding-bottom: $sp-xsmall;
}

.tab-form__input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4;
  @include font-rem(12px);
  font-family: $f-light;
  color: $c-default;
  border-radius: 4px;
  background-color: $c-default-4;
  margin-bottom: $sp-small;
}

.tab-form__btn {
  display: block;
  width: 100%;
  padding: 10px 14px;
}

.tab-form__link {
  display: block;
  margin: 0 auto;
  padding: $sp-small 0 0 $sp-xsmall; //text-align: center;
}

.tab-form__txt {
  font-family: $f-light;
  @include font-rem(32px);
}

@include media-query(medium) {
  .tab-form {
    max-width: 100%;
    margin: 0 auto;
  }
  .tab-form__head {
    color: $c-neutro;
    background-color: transparent;
  }
  .tab-form__tab {
    display: none;
  }
}
