/*------------------------------------*\
    Elements #Tags
\*------------------------------------*/

/**
 * @atom Tags
 * @section Tags
 * @modifiers
 *  .tag_blue Tag Azul
 *  .tag_pink Tag Magenta
 *  .tag_purple Tag Purpura
 * @markup
 *  <span class="tag tag_blue">Este producto recibe cupones</span>
 *  <span class="tag tag_bg-green">Promoción</span>
 *  <span class="tag tag_pink">Re-Manufacturado</span>
 *  <span class="tag tag_purple">5 Horas 22 Minutos de Promoción</span>
 *  <span class="tag tag_yellow">Portabilidad</span>
 */

//- Elemento general
.tag {
  @include font-rem(14px);
  color: $c-neutro;
  padding: 4px 18px;
  // border-radius: 10px;
}




//- Modificador
.tags_hidden {
  &.tags {
    max-width: none;
  }

  .tag {
    &:not(:first-child) {
      display: none;
    }
  }
}

.tags_hidden2{
  display: inline !important;
  margin-top: 20px !important;
}

.tag2{
  display: unset !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tags_hidden2{
    display: inline-flex !important;
    margin-top: 20px !important;
  }
}

@supports (-ms-accelerator:true) {
  .tags_hidden2{
    display: inline-flex !important;
    margin-top: 20px !important;
  } 
}

@media (max-width: 736px) {
  .tags .tag {
      display: -webkit-inline-box !important;
      max-width: -webkit-fit-content !important;
      max-width: -moz-fit-content !important;
      max-width: unset !important;
      margin: 5px 2px !important;
  }

  .tags_hidden .tag:not(:first-child) {
      display: -webkit-inline-box !important;
  }
}

//- HOTFIX-INTPOSP-656
.ie11 {
  //- Modificador
  .tags_hidden {
    .tag {
      display: table;
      &:not(:first-child) {
        display: table;
      }
    }
  }
}

.tag_min {
  @include font-rem(16px);
  font-family: $f-regular;
  padding: 2px 6px;
  border-radius: 0;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

//- HOTFIX-INTPOSP-767
.tag_availability {
  border-radius: 0;
  font-family: $f-bold;
  @include font-rem(16px);
  padding: 2px 25px;
  position: absolute;

  .tag_availability__detalle {
    right: 7px;
    top: -26px;
  }
}

//- Tag Promo
.tag_corner {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $c-neutro;
  font-family: $f-regular;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    right: -18px;
    top: -50px;
    //@include font-rem(80px);
    z-index: -1;
    border-left: solid 60px;
    border-top: solid 60px transparent;
    border-bottom: solid 60px transparent;
    transform: rotate(-45deg);
  }
}

.tag_blue {
  background: rgba($c-brand-2, 1);
}

.tag_pink {
  border-left-color: rgba($c-tag-1, 1);
}

.tag_purple {
  background: rgba($c-tag-2, 1);
}

.tag_yellow {
  border-left-color: rgba($c-tag-3, 1);
}

.tag_green {
  border-left-color: rgba($c-brand, 1);
}

//- INTPOSP-767: Etiquetas sobre disponibilidad
.tag_red {
  background: rgba($c-alert, 1);
}

//- INTPOSP-767: Etiquetas sobre disponibilidad
.tag_orange {
  background: rgba($c-bg_warning__design, 1);
}

//- Tags background
.tag_bg-blue {
  background-color: $c-brand-2;
}

.tag_bg-pink {
  background-color: $c-tag-1;
}

.tag_bg-purple {
  background-color: $c-tag-2;
}

.tag_bg-yellow {
  background-color: $c-tag-3;
}

.tag_bg-green {
  background-color: $c-brand;
}

.tag_bg-red {
  background-color: $c-alert_hover;
}

.tag_bg-orange {
  background-color: $c-bg_warning;
}

.tag_bg-orange-light {
  background-color: $c-bg_warning__design;
}

.tag_corner-red {
  &:before {
    color: $c-alert;
  }
}

.tag_corner-yellow {
  &:before {
    color: $c-tag-3;
  }
}

//- Bloque Nube de Tags
.tags {
  max-width: 420px;

  .tag {
    display: unset;
    max-width: fit-content;
    margin: 10px 0;
  }
}

//- bloque
.tag-svg {
  position: relative;
  color: $c-neutro;
  .txt-strong {
    padding: 0 4px;
  }

}





//_ Areglo de slot para que quepan dos
@media only screen and (max-width: 480px) {
  .tag_min {
    position: relative;
    top: -4px;
    @include font-rem(11px);
  }

  //- Tag Promo
  .tag_corner {
    @include font-rem(12px);
    right: 3px;
    top: 3px;
    padding: 4px 4px 0 0;

    &:before {
      right: -3px;
      top: -3px;
      @include font-rem(60px);
    }
  }

  //- HOTFIX-INTPOSP-767
  .tag_availability {
    padding: 4px 0;
    width: 100%;
    text-align: center;
  }
}

.tag__wrapper{
  .tag_bg-green{
    background-color: $c-brand;
  }
}

//- Mobile Start
@include media-query(max-medium) {

  //- bloque
  .tag-svg {
    .tag-svg__img {
      display: none;
    }
    .txt-hand,
    .txt-sm {
      display: inline-block;
      font-family: $f-default;
      @include font-rem(14px);
    }
  }
  //- Separacion de tag con texto redes sociales
  .tag--spacer{
    margin-top: 10px;
  }
  
  //- Ancho de contenedor tag
  .tag_inner{
    width: 100%;
  }
}



//- $bp-medium: 768px;
@include media-query(medium) {

  //- bloque
  .tag-svg {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    .tag-svg__img {
      display: block;
      position: relative;
      top: 0;
      right: 0;
    }
    .txt-hand {
      line-height: 1;
      white-space: nowrap;
      @include font-rem(18px);
    }
    .txt-strong {
      @include font-rem(18px);
      line-height: 1;

    }
    .txt-sm {
      display: block;
      line-height: .9;
      font-family: $f-regular;
    }
    .tag {
      position: absolute;
      display: block;
      background-color: transparent;
      z-index: 1;
    }
    .txt {
      display: block;
      @include font-rem(14px);
      line-height: 1;
      padding-top: 6px;
    }
  }

  // ETEMM-21: IE11
  .ie11 {
    .tag-svg {
      overflow: hidden;
    }
    //- HOTFIX-ETEMM-19: Se centra el texto de la corcholata IE11
    .tag-svg .tag {
      width: 100%;
      top: 50%;
      right: auto;
      left: 0;
      transform: translateY(-50%);
    }

    .tag-svg .tag_ie {
      right: 8px;
    }
  }


  //- Bloque
  .tags {
    .tag {

      margin: 4px 2px;
    }
  }

  //- Modificador
  .tags_hidden {
    display: inline-block;  //- INTPOSP-656 
    .tag {
      &:not(:first-child) {
        display: inline-block;
      }
    }
  }

  //- INTPOSP-656 
  .ie11 {
    //- Modificador
    .tags_columns {
      .tag {
        display: table;
        &:not(:first-child) {
          display: table;
        }
      }
    }
  }
}

//- INTPOSP-656 
@include media-query(wide) {
  .ie11 {
    .main-slider {
      padding-right: 20px;
    }
  }
}

//- INTPOSP-656: accesibilidad
@media (min-width: 1024px) and (max-width: 1100px) {
  .ie11 {
    .layout-flex__item-small {
      max-width: 240px;
    }
  }
}


@media only screen and (max-width:340px){
  .tag--padding{
    padding: 4px 0px;
  }
}