/*------------------------------------*\
	Component Grid Thumb
\*------------------------------------*/

.thumbs-slider {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 0 0;
  overflow: hidden;
}

//- $bp-small-medium: 480px;
@include media-query(small-medium) {
  .thumbs-slider {
    max-width: 470px;
  }
}


//- $bp-small-medium: 768px;
@include media-query(medium) {
.thumbs-slider {
    max-width: inherit;
  }
}
