/*------------------------------------*\
    toggle switch
\*------------------------------------*/

.es-toggle-switch {
  display: flex;
  align-items: center;
}

.es-toggle-switch__txt {
  color: $grey-5;
  font-family: $f-regular;
  @include font-rem(18px);
  margin-right: 16px;
}

.es-toggle-switch__label {
  position: relative;
  display: block;
  height: 30px;
  width: 52px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.es-toggle-switch__label {
  &:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  }
}

.es-toggle-switch__label:active:after {
  transform: scale(1.15, 0.85);
}

.es-toggle-switch__input {
  display: none;
}

.es-toggle-switch__input:checked~.es-toggle-switch__label {
  background: $c-brand-2;
}

.es-toggle-switch__input:checked~.es-toggle-switch__label:after {
  left: 24px;
  background: $c-neutro;
}

.es-toggle-switch__input:disabled~.es-toggle-switch__label {
  background: #d5d5d5;
  pointer-events: none;
}

.es-toggle-switch__input:disabled~.es-toggle-switch__label:after {
  background: #bcbdbc;
}

/*------------------------------------*\
  toggle switch Brand
\*------------------------------------*/

//- Bloque
.switch {
  position: relative;
  display: block;
  width: 100px;
  margin: auto;
}

//- Elemento
.switch__txt {
  color: $grey-5;
  font-family: $f-regular;
  @include font-rem(18px);
  margin-right: 16px;
}

//- Elemento
.switch__label {
  position: relative;
  display: block;
  height: 30px;
  width: 52px;
  background: $c-brand;
  border-radius: 100px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  &:after {
    content: '';
    position: absolute;
    right: 2px;
    top: 2px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: $c-neutro;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  }
  &:active {
    &:after {
      transform: scale(1.15, 0.85);
    }
  }
}

//- Elemento
.switch__input {
  position: absolute;
  left: 0;
  width: 100px;
  height: 30px;
  margin: auto;
  opacity: 0;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked~.switch__label {
    background: $c-default-3;
    &:after {
      right: 24px;
      background: $c-neutro;
    }
  }
  &:disabled~.switch__label {
    background: $c-default-1;
    pointer-events: none;
  }
}

//- Elemento
.switch__txt-sm {
  position: absolute;
  top: 6px;
  &:first-child {
    left: -20px;
  }
  &:last-child {
    right: -16px;
  }
}

@include media-query(medium) {
  .switch__label,
  .switch__input {
    top: 50%;
    transform: translateY(-50%);
  }
}
