/**
 * @molecule Tooltip
 * @section Bloques
 * @markup
 *    <div class="card__row_inline">
 *       <div class="tool-box">
 *         <button class="btn-i i-question-ball js-btnTooltipData" type="button" tabindex="0">Pregunta</button>
 *         <div class="tool i-tooltip js-tooltipData js-tooltipData-close" style="display: block; opacity: 1;">
 *           <p class="tool__txt">Podrás recargar saldo adicional cuando se acabe tu plan.</p>
 *         </div>
 *       </div>
 *    </div>
 */

//Sólo para resolución mobile
@media only screen and (max-width:829px) {
  .tooltip {
    display: block;
    position: relative;
    max-width: 320px;
    margin: 10px auto;
    border: 1px solid $c-default-3;
    text-align: center;
    padding: $sp-small;
    background-color: $c-neutro;
    &:before {
      content: url(../img/triangulo.svg);
      display: block;
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .tooltip__fig {
    max-width: 120px;
    padding: $sp-small 0;
    display: block;
    margin: 0 auto;
  }
  .tooltip__img {
    display: block;
    margin: 0 auto;
  }
  .tooltip__txt {
    padding-bottom: $sp-small;
  }
  .tooltip__foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tooltip__col {
    width: 100%;
    text-align: left;
  }
  .tooltip__txt-sm {
    font-size: 100%;
    color: $c-default-1;
  }
  .tooltip__txt-value {
    @include font-rem(32px);
    font-family: $f-bold;
    line-height: 1;
  }
  .tooltip__bold {
    font-family: $f-bold;
    @include font-rem(22px);
  }
  .tooltip__btn {
    width: 100%;
  }
}

//Para ver en desktop
@media (min-width: 830px) {
  .tooltip {
    transition: all 1s;
    display: none;
    padding: $sp-small;
  }
  .tooltip__foot,
  .tooltip__fig {
    display: none;
  }
}

/*------------------------------------*\
    Tooltip
\*------------------------------------*/

//- Bloque
.tool {
  position: absolute;
  right: -70px;
  top: 36px;
  display: none;
  background-color: $c-neutro;
  padding: 10px 5px;
  width: 100%;
  min-width: 170px;
  border: 1px solid $c-default-2;
  opacity: 0;
  transition: opacity .3s linear;
  z-index: 4;
  &:before {
    content: url(../img/triangulo.svg);
    display: block;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.js-tooltipData-open {
    opacity: 1;
  }
}

//- Elemento
.tool__txt {
  @include font-rem(12px);
  line-height: 1;
  font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}

//- Estructura
.tool-box {
  z-index: 3;
  position: relative;
}
