.vitrina-form {
  margin: 40px 0;
  padding: 20px 0;
  background-color: $grey-0;
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90vw;
    margin: $sp-small auto;
    text-align: center;
  }
  &__head {
    color: $grey-5;
    display: block;
    font-family: $f-light;
    font-weight: normal;
  }
  &__title {
    padding-bottom: 20px;
    font-family: $f-light;
    @include font-rem(40px);
  }
  &__subtitle {
    padding-bottom: 20px;
    font-family: $f-light;
    @include font-rem(18px);
  }
  &__foot {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  &__form {
    padding: $sp-xsmall;
  }
  &__input {
    display: block;
    width: 100%;
    margin-bottom: $sp-small;
    padding: 10px 20px;
    line-height: 1.4;
    @include font-rem(12px);
    font-family: $f-light;
    color: $c-default;
    border-radius: 4px;
    background-color: #fff;
  }
  &__btn {
    background-color: $green;
    display: block;
    width: 100%;
    padding: 10px 14px;
    &:hover {
      background-color: $green;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  &__link {
    display: block;
    margin: 0 auto;
    padding: $sp-small 0 0 $sp-xsmall;
    text-decoration: none;
  }

  //- Medium 768px
  @include media-query(medium) {
    &__inner {
      max-width: 600px;
    }
    &__subtitle {
      @include font-rem(24px);
    }
  }
}
