.pages {
    @include lib-pager();

    .action {
        width: 0px;

        &.previous {
            margin-right: 12px;
        }

        &.next {
            margin-left: 12px;
        }
    }
}
