<?php 
$dataItems = $block->getCartItems();
$serviciosKeys = array('blim','spotify','proteccion','hotspot');
$servicios = $block->getServicios();
?><div class="layout_section pospago-portabilidad">
    <div class="layout_inner-d">
        <header class="data__header-full">
            <h1 class="title_head">Checkout</h1>
        </header>
        <form  id="msmx-pospago" class="data-step js-formDataStep  form-pospago-portabilidad" action="<?= $block->getPostUrl(); ?>" method="post">
            <input type="hidden" name="session_flujo" value="<?= $block->getSessionFlujo(); ?>" />
            <input type="hidden" name="isportabilidad" id="isportabilidad" value="1" />
            <div class="pos-data__content">
                <?= $this->getChildHtml('checkout-pospago-customer-info'); ?>
                <?php if($block->requireWebConditions()): ?>
                    <?= $this->getChildHtml('checkout-pospago-credit-score'); ?>
                <?php endif; ?>
                <?= $this->getChildHtml('checkout-pospago-shipping-info'); ?>
                <?= $this->getChildHtml('checkout-pospago-nip-validate'); ?>
                <?= $this->getChildHtml('checkout-pospago-contract'); ?>
                <?= ''; //$this->getChildHtml('checkout-pospago-payment-method'); ?>
            </div>
            <?= $this->getChildHtml('checkout-pospago-resume'); ?>
            
            
            <!-- Auxiliares de formulario -->
            <?php if (!empty($dataItems['terminal']) && $dataItems['terminal']['item_id']) { ?>
                <input type="hidden" name="terminalWC" value="<?= $dataItems['terminal']['name'] ?>">
                <input type="hidden" id="hiden-price-terminal" name="price-terminal" value="<?= $dataItems['terminal']['price'] ?>">
                <input type="hidden" name="sku-terminal" value="<?= $dataItems['terminal']['sku'] ?>">
            <?php } else { ?>
                <input type="hidden" name="terminalWC" value="">
                <input type="hidden" name="price-terminal" value="">
                <input type="hidden" name="sku-terminal" value="">
            <?php } ?>
            <?php if (!empty($dataItems['plan']) && $dataItems['plan']['item_id']) { ?>
                <input type="hidden" name="plan" value="<?= $dataItems['plan']['name'] ?>">
                <input type="hidden" name="price-plan" value="<?= $dataItems['plan']['price'] ?>">
                <input type="hidden" name="sku-plan" value="<?= $dataItems['plan']['sku'] ?>">
            <?php } else { ?>
                <input type="hidden" name="plan" value="">
                <input type="hidden" name="price-plan" value="">
                <input type="hidden" name="sku-plan" value="">
            <?php } ?>
                
                
            <?php foreach ($serviciosKeys as $_s):
                ?>
                <input type="hidden" name="<?= $_s; ?>" value="<?= isset($servicios[$_s]) ? $servicios[$_s]['name'] : '' ?>">
                <input type="hidden" name="price-<?= $_s; ?>" value="<?= isset($servicios[$_s]) ? $servicios[$_s]['price'] : '' ?>">
                <input type="hidden" name="sku-<?= $_s; ?>" value="<?= isset($servicios[$_s]) ? $servicios[$_s]['sku'] : '' ?>">
                    <?php
            endforeach; ?>
            
        </form>
        <form id="msmx-pospago-checkout-data" method="POST" action="<?= $block->getUrl('portabilidad/contrato/ver'); ?>" style="display: none;" target="_blank"></form>
    </div>
</div>
<!-- text messages -->
<div class="alert alert_danger alert-portabilidad-danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning alert-portabilidad-warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success alert-portabilidad-success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<!-- /text messages -->
<script type="text/javascript">
    window.requireBuro = <?php echo ($block->requireWebConditions())  ? 'true' : 'false'; ?>;
</script>