<?php
$data = $block->getDataItems();
$terminal = $data['terminal']['name'];
$hasTerminal = (int)$data['terminal']['item_id'];
$cargoMensualTerminal = round(($data['terminal']['price'] / 24)*0.5, 2);
$pagarHoyTerminal = $data['terminal']['price']/2;

$priceTerminal = round($data['terminal']['price'], 2);
$priceTerminalVisual = round($data['terminal']['price'], 2);

$plan = $data['plan']['name'];
$pricePlan = round($data['plan']['price'], 2);
$pagarHoy = $pagarHoyTerminal + $pricePlan;

$blim = false;
$priceBlim = 0;
$spotify = false;
$priceSpotify = 0;
$proteccion = false;
$priceProteccion = 0;
$hotspot = false;
$priceHotspot = 0;
$SmartWatch = false;
$mesesSinIntereses = false;
$impuestos = 0;
$servicesPrice = 0;
if (!empty($data['servicios'])) {
    foreach ($data['servicios'] as $_s) {
        $servicesPrice += $_s['price'];
    }
}
$totalMensualidad = round($cargoMensualTerminal + $pricePlan + $servicesPrice, 2);
$grandTotal = $pagarHoy;
$minimumCostMsi = 10000;
?>
<div class="data-aside js-asideFixed data-aside__sticky detalle-pospago-portabilidad" id="bloque-portabilidad-detalle">
    <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
        <span class="data__total" id="total-mobile" data-price="<?=$pagarHoy?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoy,true,false); ?></span>
        <span class="data-aside__txt-high">Total</span>
    </button>
    <div class="data-aside__wrap">
        <div class="data-aside__content top">
            <div class="data__header">
                <h2 class="data__title"><?= __('Resumen de tu compra'); ?></h2>
                <span class="steps__head">
                    <small class="head__title head__title__summary steps__title4" id="numero_portar"><?= sprintf(__('Tu número a portar: %s'), $block->getDN()); ?></small>
                </span>

                <input class="form__input" placeholder="telefono_porta_order" type="hidden" name="telefono_porta_order" id="telefono_porta_order" data-validate="telefono_porta_order" value="<?php echo htmlspecialchars($block->getDN());?>">

            </div>
            <table class="aside-table__table">
                <thead>
                    <tr class="aside-table__heading">
                        <th><?=  (!$hasTerminal) ? '' :  __('Equipo'); ?></th>
                        <th class="aside-table__cell"><?= __('Cargo mensual'); ?></th>
                        <th class="aside-table__cell"><?= __('Pagar hoy'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN: Contiene Terminal -->
                    <?php if ($hasTerminal) { ?>
                        <tr class="aside-table__row">
                            <!--<td class="aside-table__cell aside-table__cell_big"></td>-->
                        </tr>
                        <tr class="aside-table__row aside-table__row_bg">
                            <td class="aside-table__cell aside-table__cell_big"><?= $terminal ?></td>
                            <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                <span class="js-value" id="cmTerminal" data-price="0">
                                    <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($cargoMensualTerminal, true, false); ?><sup>*</sup>
                                </span>
                                <span class="js-valueFinal">
                                    <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoyTerminal, true, false); ?>
                                </span>
                                <input type="hidden" name="monthlyPaymentTerminal" id="monthlyPaymentTerminal" value="<?= $cargoMensualTerminal; ?>" >
                            </td>
                            <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                <span class="js-value"id="priceTerminal" data-price="<?= $pagarHoyTerminal ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoyTerminal, true, false); ?></span>
                                <span class="js-valueFinal"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoyTerminal, true, false); ?></span>
                                <input type="hidden" name="paymentTodayFinal" id="paymentTodayFinal" value="<?php echo $pagarHoyTerminal; ?>" >
                            </td>
                        </tr>
                    <?php } ?>
                    <!-- END: TErminal-->
                    <?php if ($plan != "") { ?>
                        <tr class="aside-table__row">
                            <td class="aside-table__cell aside-table__label" colspan="3" style="font-size: 1.43rem">Plan</td>
                        </tr>
                        <tr class="aside-table__row aside-table__row_bg aside-table__row_border">
                            <td class="aside-table__cell"><?= $plan ?></td>
                            <td class="aside-table__cell aside-table__txt" id="mplan" data-price="<?= $pricePlan ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pricePlan, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hplan" data-price="0"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pricePlan, true, false); ?></td>
                        </tr>
                    <?php } ?>
                    <tr class="aside-table__row aside-table__row_bg">
                        <td class="aside-table__cell aside-table__label_small" colspan="3"><b>Servicios Adicionales</b></td>
                    </tr>
                    
                    <?php if (!empty($data['servicios'])) {
                        foreach ($data['servicios'] as $_s) {
                            $sName = $_s['name'];
                            $sPrice = $_s['price'];
                            //var_dump($_s['name'] . ' - ' . $_s['price']);
                     ?>
                     <tr class="aside-table__row aside-table__row_detail aside-table__row_bg">
                            <td class="aside-table__cell"><?= $sName ?></td>
                            <td class="aside-table__cell aside-table__txt mServicios" id="mblim" data-price="<?= $sPrice ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($sPrice, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt hServicios" id="hblim" data-price="0">_ _ _</td>
                        </tr>
					<?php
                        }
                    }
                    ?>
                    
                    <!-- END: Servicios Opcionales-->
                    <!-- PROMOCION SMARTWATCH -->
                    <?php if ($SmartWatch): ?>
                        <tr class="aside-table__row aside-table__row_first">
                            <td class="aside-table__cell">SmartWatch</td>
                            <td class="aside-table__cell">&nbsp;</td>
                            <td class="aside-table__cell aside-table__txt">GRATIS</td>
                        </tr>
                    <?php endif; ?>
                    <!-- END: SMARTWATCH-->                            
                    <tr class="aside-table__row aside-table__row_first">
                        <td class="aside-table__cell">Envío</td>
                        <td class="aside-table__cell">&nbsp;</td>
                        <td class="aside-table__cell aside-table__txt">GRATIS</td>
                    </tr>
                    <tr class="aside-table__row" style="display: none;">
                        <td class="aside-table__cell">Impuestos</td>
                        <td class="aside-table__cell">&nbsp;</td>
                        <td class="aside-table__cell aside-table__txt">
                            <span class="js-value"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($impuestos, true, false); ?><sup>*</sup></span>
                            <span class="js-valueFinal"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($impuestos, true, false); ?></span>
                        </td>
                    </tr>
                    <tr class="aside-table__row">
                        <td class="aside-table__cell" colspan="2">Depósito en garantía</td>
                        <td class="aside-table__cell aside-table__txt" id="depositoGarantia" data-price="">_ _ _</td>
                    </tr>
                </tbody>
            </table>
            <dl class="data__list data__sub-summary">
                <dt class="data__term">Tu mensualidad</dt>
                <dd class="data__total">
                    <span class="js-value" id="mGlobal" data-price="<?= $totalMensualidad; ?>">
                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(round($totalMensualidad, 2), true, false); ?><sup>*</sup>
                    </span>
                    <span class="js-valueFinal">
                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(round($totalMensualidad, 2), true, false); ?>
                    </span>
                </dd>
                <input type="hidden" name="monthlyPayment" id="monthlyPayment" value="<?= $totalMensualidad; ?>" >
            </dl>
            <dl class="data__list data__summary">
                <dt class="data__term">Total a pagar hoy</dt>
                <dd class="data__total">
                    <span class="js-value" id="grandTotal" data-price="<?= $grandTotal ?>"><b><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal, true, false); ?></b></span>
                    <span class="js-valueFinal" data-price="<?= $grandTotal ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal, true, false); ?></span>
                    <input type="hidden" name="totalPayed" id="totalPayed" value="<?php echo $grandTotal; ?>" >
                </dd>
            </dl>
        </div>
        <div class="data-aside__toast">
            <!--Agregar la clase para la interacción: button.js-btnDataClose.data-aside__close.btn-close.i-x(type='button') Salir-->
            <button class="js-btnDataClose data-aside__close btn-close i-x" type="button">Salir</button>
            <p class="data-aside__txt-ico i-cell-money">Los precios de tu carrito se han actualizado</p>
        </div>
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $content = $objectManager->create('\Magento\Cms\Model\BlockFactory')->create();
        $content->load('term.cond.checkout', 'identifier'); // Load static block
        $array['linktyc'] = $block->getTerminos(); //Set variables
        $filter = $objectManager->create('\Magento\Email\Model\Template\Filter');
        $filter->setVariables($array);
        $html = $filter->filter($content->getContent());
        echo $html;
        //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('term.cond.checkout')->toHtml();
        ?>
    </div>
</div>