<?php $logs = $block->getLogFiles();

function array_sort_by_column(&$arr, $col, $dir = SORT_ASC) {
    $sort_col = array();
    foreach ($arr as $key=> $row) {
        $sort_col[$key] = $row[$col];
    }

    array_multisort($sort_col, $dir, $arr);
}

array_sort_by_column($logs, 'name');
?>

<section class="admin__page-section">
    <div class="admin__page-section-content">
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo __('Log Info') ?></span>
        </div>
        <div class="admin__page-section-item-content">
            <table class="admin__table-primary">
                <tr>
                    <th>Filename</th>
                    <th>Directory</th>
                    <th>Size</th>
                    <th>Last Modified</th>
                    <th>Actions</th>
                </tr>
            <?php foreach($logs as $log) { ?>
                <tr>
                    <td><a href="<?php echo $block->previewLogFile($log['name']); ?>"><?php echo $log['name'] ?></a></td>
                    <td>var/log</td>
                    <td><?php echo $log['filesize'] ?></td>
                    <td><?php echo $log['modTimeLong'] ?></td>
                    <td>
                        <span class="action-children"><a href="<?php echo $block->previewLogFile($log['name']); ?>" class="icon-view"></a></span>
                        <span class="action-children"><a href="<?php echo $block->downloadLogFiles($log['name']); ?>" class="icon-export"></a></span>
                    </td>
                </tr>
            <?php } ?>
            </table><br>
        </div>
    </div>
</section>
<style>
    .icon-view:before {
        font-family: 'Admin Icons';
        content: '\e60c';
        color: #333333;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
    }
    .icon-export:before {
        font-family: 'Admin Icons';
        content: '\e601';
        color: #333333;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
    }
    .action-children {
        margin-right: 8px;
    }
    .action-children a:link {
        text-decoration:  none;
    }
</style>