<?php

$cfgLines   = \Magento\Framework\App\ObjectManager::getInstance()
                        ->get('Magento\Framework\App\Config\ScopeConfigInterface')
                        ->getValue('system/log_viewer/lines');

?>
<style type="text/css">
	.console-log {
		color: #0088cc;
		background: #f3f4f7;
		font-family: monospace;
		font-size: 12px;
		padding: 24px;
		border: 1px solid #0088cc;
		width:100%
	}
</style>
<section class="admin__page-section">
    <div class="admin__page-section-content">
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo $block->getFileName() . __(' - last %1 lines', $cfgLines) ?></span>
        </div>
        <div class="admin__page-section-item-content">
        	<pre readonly class="console-log"><?php echo $block->getLogFile(); ?></pre>
        </div>
    </div>
</section>