<div class="layout renovation">
    <fieldset class="layout_inner steps vsm-form__fieldset">
        <legend class="steps__legend steps__legend2 ">
            <span class="steps__head steps__head2">
                <small class="head__title head__title2"><?= __('¿Ya tienes número?') ?></small>
            </span>
        </legend>
        <legend class="steps__legend steps__legend2">
            <span class="steps__head">
                <small class="head__title head__subtitle2"><?= __('Valida tu número y descubre todo lo que tenemos para ti.') ?></small>
            </span>
        </legend>
        
        <div class="steps__selected steps__selected2">
            <ul class="steps__list">
                <li class="steps__item">
                    <div class="form-ico form-ico2">
                        <input class="form__radio" id="con_numero" name="renovacion_numero" value="1" type="radio">
                        <label class="form__radio_label" for="con_numero">
                            <span class="form-ico__label icon-nw-phone-in-out icon__width"><?= __('Quiero usar mi número') ?></span>
                        </label>
                    </div>
                </li>
                <li class="steps__item">
                    <div class="form-ico form-ico2">
                        <input class="form__radio" id="sin_numero" name="renovacion_numero" value="0"  type="radio">
                        <label class="form__radio_label" for="sin_numero">
                            <span class="form-ico__label icon-minuto_adicional icon__width"><?= __('Quiero un número nuevo') ?></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="renovation__form">
            <div class="steps__cont">
                <button class="steps__btn btn" type="submit" onclick="goNextStep()"><?= __('Continuar') ?></button>
            </div>
        </div>
    </fieldset>
</div>

<script>
    function goNextStep(){
        requirejs(['jquery','mage/url'],function($,url){
            if(typeof $('input[name=renovacion_numero]:checked').val() !== 'undefined'){
                var value = parseInt($('input[name=renovacion_numero]:checked').val());
                if(value){
                    window.location.href = url.build('/renovaciones/acceso/index').replace("//renovaciones", "/renovaciones");
                }else{
                    window.location.href = url.build('/planes').replace("//planes", "/planes");
                }
            }
        });
    }
    requirejs(['jquery'],function($){
        $(".mi-nw-phone-movistar").addClass("active");
    });
</script>