<?php $dataItems = $block->getCartItems(); ?>

<div class="layout_section prepago-portabilidad">
    <div class="layout_inner-d">
        <header class="data__header-full" style="margin-bottom: 60px; margin-top: 50px;">
            <h1 class="title_head">Checkout</h1>
        </header>
        <form  id="msmx-prepago" class="vsm-data-step data-step js-formDataStepPre" action="<?= $block->getPostUrl(); ?>" method="post">
            <input type="hidden" name="session_flujo" value="<?= $block->getSessionFlujo(); ?>" />
            <div class="pos-data__content">
                <?= $this->getChildHtml('checkout-prepago-customer-info'); ?>
                <?= $this->getChildHtml('checkout-prepago-shipping-info'); ?>
                <?= $this->getChildHtml('checkout-prepago-nip-validate'); ?>
                <?= ''; //$this->getChildHtml('checkout-prepago-payment-method'); ?>
            </div>
            <?= $this->getChildHtml('checkout-prepago-resume'); ?>

            <!-- Auxiliares de formulario -->
            <?php if (!empty($dataItems['terminal']) && $dataItems['terminal']['item_id']) { ?>
                <input type="hidden" name="terminalWC" value="<?= $dataItems['terminal']['name'] ?>">
                <input type="hidden" name="price-terminal" value="<?= $dataItems['terminal']['price'] ?>">
                <input type="hidden" name="sku-terminal" value="<?= $dataItems['terminal']['sku'] ?>">
            <?php } else { ?>
                <input type="hidden" name="terminalWC" value="">
                <input type="hidden" name="price-terminal" value="">
                <input type="hidden" name="sku-terminal" value="">
            <?php } ?>
            <?php if (!empty($dataItems['plan']) && $dataItems['plan']['item_id']) { ?>
                <input type="hidden" name="plan" value="<?= $dataItems['plan']['name'] ?>">
                <input type="hidden" name="price-plan" value="<?= $dataItems['plan']['price'] ?>">
                <input type="hidden" name="sku-plan" value="<?= $dataItems['plan']['sku'] ?>">
            <?php } else { ?>
                <input type="hidden" name="plan" value="">
                <input type="hidden" name="price-plan" value="">
                <input type="hidden" name="sku-plan" value="">
            <?php } ?>
            
        </form>
    </div>
</div>
<!-- text messages -->
<div class="alert alert_danger prepago-portabilidad-danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning prepago-portabilidad-warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success prepago-portabilidad-success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<!-- /text messages -->