<?php
$dn = $block->getDN();
$items = $block->getDataItems();
$total = 0;
?><div class="data-aside__wrap">
    <div class="data-aside__content">

        <!--PREPAGO:PREPAGO-47 Header-->
        <div class="data__header">
            <h2 class="data__title"><?= __('Resumen de tu compra'); ?></h2>
            <span class="steps__head">
                <small class="head__title head__title__summary steps__title4" id="numero_portar"><?= sprintf(__('Tu número a portar: %s'), $block->getDN()); ?></small>
            </span>
        </div>
        <!--PREPAGO:PREPAGO-47 Tabla Contenido -->
        <table class="aside-table__table">

            <!--PREPAGO: Tabla Header-->
            <thead>
                    <tr class="aside-table__heading">
                        <th><?= ''; ?></th>
                        <th class="aside-table__cell"><?= __('Pagar hoy'); ?></th>
                    </tr>
                </thead>

            <!--PREPAGO: Tabla body-->
            <tbody>
                <?php if($items['terminal'] && $items['terminal']['item_id']):
                    $total += $items['terminal']['price'];
                    ?>
                <!-- BEGIN: Contiene Terminal *-->
                <!--PREPAGO: Table row-->
                <tr class="aside-table__row">
                    <td class="aside-table__cell aside-table__cell_big"><?= $items['terminal']['name']; ?></td>
                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value" data-price="<?= $items['terminal']['price']; ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($items['terminal']['price'], true, false); ?></span></td>
                </tr>
                <!-- END: Terminal-->
                <?php endif; ?>
                
                <?php if($items['other'] && !empty($items['other'])): 
                    foreach($items['other'] as $_i):
                    $total += $_i['price'];
                    ?>
                <!--PREPAGO: Table row-->
                <tr class="aside-table__row">
                    <td class="aside-table__cell aside-table__cell_big"><?= $_i['name']; ?></td>
                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value" data-price="<?= $_i['price']; ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($_i['price'], true, false); ?></span></td>
                </tr>
                <?php 
                endforeach;
                endif; ?>

                
                <!--PREPAGO: Table row-->
                <tr class="aside-table__row">
                    <td class="aside-table__cell aside-table__cell_big">Envío</td>
                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value">GRATIS</span></td>
                </tr>

                <!--PREPAGO: Table row-->
                <tr class="aside-table__row" style="display: none;">
                    <td class="aside-table__cell aside-table__cell_big">Impuestos</td>
                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value"></span></td>
                </tr>

                <!--PREPAGO: Table row-->
                <tr class="aside-table__row" style="display: none;">
                    <td class="aside-table__cell aside-table__cell_big">Descuento</td>
                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="vsm-aside-table__value js-value">-$0</span></td>
                </tr>

            </tbody>

            <tfoot>
                <tr class="aside-table__footer aside-table__heading">
                    <td class="aside-table__cell aside-table__cell_total">Total</td>
                    <!-- Variable: PREPAGO-97 incluir variable de total a pagar hoy-->
                    <td class="aside-table__cell aside-table__cell_total" data-price="<?= $total; ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($total, true, false); ?></td>
                </tr>
            </tfoot>

        </table>

    </div>

    <!-- PREPAGO-47 Slide up Tienes una promocion-->
    <div class="data__inner">

        <!-- PREPAGO-47 Total a pagar-->
        <dl class="data__list data__summary" style="padding: 24px">
            <dt class="data__term">Total a pagar &nbsp;&nbsp;&nbsp;</dt>
            <dd class="data__total" id="total-resumen" data-price="<?= $total; ?>" style="color: #50535a;">
                <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($total, true, false); ?>
            </dd>
        </dl>

        <!--<div class="data-aside__row data-aside__foot js-processOrder" style="display: none;">
            <button class="form__btn btn" type="button" id="continuar-checkout-out">
                PAGAR
            </button>
        </div>-->
    </div>

</div>