<?php
$dn = $block->getDN();
$items = $block->getDataItems();
$totalPagar = 0;
$dataItems = $block->getDataItems();
foreach ($dataItems as $key => $_item) {
    if($key == 'other'){
        foreach ($_item as $_subitem) {
            if(isset($_subitem['price'])){
                $totalPagar += $_subitem['price'];
            }
        }
    }else{
        if(isset($_item['price'])){
            $totalPagar += $_item['price'];
        }
    }

}
?><div class="data-aside js-asideFixed data-aside__sticky detalle-prepago-portabilidad" id="bloque-portabilidad-detalle">
    <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
        <span class="data__total" id="total-mobile" data-price="<?=$totalPagar?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?></span>
        <span class="data-aside__txt-high">Total</span>
    </button>
    <div class="data-aside__wrap">
        <div class="data-aside__content top">
            <div class="data__header">
                <h2 class="data__title"><?= __('Resumen de tu compra'); ?></h2>
                <span class="steps__head">
                    <small class="head__title head__title__summary steps__title4" id="numero_portar"><?= sprintf(__('Tu número a portar: %s'), $block->getDN()); ?></small>
                </span>
            </div>
            <table class="aside-table__table">
                <thead>
                    <tr class="aside-table__heading">
                        <th><?= __('Equipo'); ?></th>
                        <th class="aside-table__cell"><?= __('Pagar hoy'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN: Contiene Terminal -->
                    <?php if($items['terminal'] && $items['terminal']['item_id']): ?>
                        <tr class="aside-table__row">
                            <!--<td class="aside-table__cell aside-table__cell_big"></td>-->
                        </tr>
                        <tr class="aside-table__row aside-table__row_bg">
                            <td class="aside-table__cell aside-table__cell_big"><?= $items['terminal']['name'];  ?></td>
                            <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                <span class="js-value"id="priceTerminal" data-price="<?= $items['terminal']['price'] ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($items['terminal']['price'], true, false); ?></span>
                                <span class="js-valueFinal"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($items['terminal']['price'], true, false); ?></span>
                            </td>
                        </tr>
                    <?php endif; ?>
                    <!-- END: TErminal-->
                    <?php if($items['other'] && !empty($items['other'])):
                        foreach($items['other'] as $_i):
                        ?>
                        <tr class="aside-table__row aside-table__row_bg aside-table__row_border">
                            <td class="aside-table__cell"><?= $_i['name']; ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hplan" data-price="<?= $_i['price']; ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($_i['price'], true, false); ?></td>
                        </tr>
                        <?php
                        endforeach;
                    endif; ?>

                    <tr class="aside-table__row aside-table__row_first">
                        <td class="aside-table__cell">Envío</td>
                        <td class="aside-table__cell aside-table__txt">GRATIS</td>
                    </tr>
                    <tr class="aside-table__row" style="display: none;">
                        <td class="aside-table__cell">Impuestos</td>
                        <td class="aside-table__cell aside-table__txt">
                            <span class="js-value"></span>
                            <span class="js-valueFinal"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dl class="data__list data__summary">
                <dt class="data__term">Total a pagar</dt>
                <dd class="data__total">
                    <span class="js-value" id="grandTotal" data-price="<?= $totalPagar; ?>"><b><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar, true, false); ?></b></span>
                    <span class="js-valueFinal" data-price="<?= $totalPagar; ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar, true, false); ?></span>
                </dd>
            </dl>
            <!--<div class="data-aside__row data-aside__foot js-processOrder">
                <button class="form__btn btn" type="button"  id="continuar-checkout-out">
                    PAGAR
                </button>
            </div>-->
        </div>
    </div>
</div>