//centra verticalmente un elemento
//use: .foo {@include translateY(-50%);}
@mixin translateY($valor) {
    -ms-transform 	 : translateY($valor);
    -moz-transform   : translateY($valor);
    -o-transform  	 : translateY($valor);
    -webkit-transform: translateY($valor);
    transform        : translateY($valor);
}

//centra horizontalmente un elemento
//use: .foo {@includetranslateX(-50%);}
@mixin translateX($valor) {
    -ms-transform 	 : translateX($valor);
    -moz-transform   : translateX($valor);
    -o-transform  	 : translateX($valor);
    -webkit-transform: translateX($valor);
    transform        : translateX($valor);
}