// Example usage:
// .card {
//   width: 95px;
//   height: 95px;
//   background: #f4f4f4;
//   -webkit-transition: all 250ms;
//   -moz-transition: all 250ms;
//   transition: all 250ms;
//   @include box_shadow(1);
//   &:hover {
//     @include box_shadow(3);
//     -webkit-transform: translateY(-5px);
//     -moz-transform: translateY(-5px);
//     transform: translateY(-5px);
//    }
//  }
@mixin box_shadow ($level) {
  @if $level==1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @else if $level==2 {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level==3 {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level==4 {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @else if $level==5 {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  @else if $level==6 {
    -webkit-box-shadow: 0 22px 44px rgba(0, 0, 0, 0.20),
    0 15px 12px rgba(0, 0, 0, 0.12);
    box-shadow: 0 22px 44px rgba(0, 0, 0, 0.20),
    0 15px 12px rgba(0, 0, 0, 0.12);
  }

  @else if $level==7 {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
    inset 0 1px 0 0 #e9eae8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
    inset 0 1px 0 0 #e9eae8;
  }

  @else if $level==none {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}