//*----------------------------------------------------*\
    // Converter pixels (px) to (rem) with Fallback
//*----------------------------------------------------*/

// Font size: Convierte el valor de px a rem, agrega fallback
// en px para navegadores antiguos
// use: .foo {
//			  @include font-size-rem(32px);
//		  }

@function calculatePxToRem($size) {
    $remSize: $size / 10px;
    @return #{$remSize}rem;
  }
  
  @mixin font-size-rem($size) {
    font-size: $size; //Fallback in px
    font-size: calculatePxToRem($size);
  }
  
  @mixin letter-spacing($size)  {
    letter-spacing: $size; //Fallback in px
    letter-spacing: calculatePxToRem($size);
  }