@mixin alert-message($type: primary) {
  @if $type == primary {
    .alert_primary {
      background-color: $purple;
    }
  }

  @if $type == secondary {
    .alert_secondary {
      background-color: $c-danger;
    }
  }

  @if $type == success {
    .alert_success {
      /*background-color: $c-success;*/
      background-color:#954B97;
      font-family: 'Telefonica-Bold';
    }
  }

  @if $type == warning {
    .alert_warning {
      background-color: $c-warning;
    }
  }

  @if $type == danger {
    .alert_danger {
      background-color: $c-danger;
    }
  }

  @if $type == info {
    .alert_info {
      background-color: $c-brand-2;
    }
  }

  @if $type == light {
    .alert_light {
      background-color: $c-default-5;
    }
  }

  @if $type == dark {
    .alert_dark {
      background-color: $c-default-3;
    }
  }
}
