@charset "UTF-8";
@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }
@keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }

/** @color Amarillo Movistar */
/** @color Amarillo Movistar */
/** @color Amarillo Light Movistar */
/** @color Naranja Movistar */
/** @color Naranja Light Movistar */
/** @color Naranja Diseños Tags */
/** @color Magenta Movistar */
/** @color $alert */
/** @color Magenta Light Movistar */
/** @color Púrpura Movistar */
/** @color Púrpura light Movistar */
/**
 * $c-brand
 * @color
 * @section Brand
 */
/**
 * $c-brand_light
 * @color
 * @section Brand
 */
/**
 * $c-brand-hover
 * @color
 * @section Brand
 */
/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */
/**
 * $c-social-3 (Color Social Share Twitter)
 * @color
 * @section Social share
 */
/**
 * $c-brand-2
 * @color
 * @section Brand
 */
/**
 * $c-brand-2_light
 * @color
 * @section Brand
 */
/**
 * $c-brand-2-hover
 * @color
 * @section Brand
 */
/**
 * $c-accesible-link (Enlaces accesibles nivel AA)
 * @color
 * @section Accesibilidad
 */
/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */
/**
 * $c-social-1 (Color Social Share Facebook)
 * @color
 * @section Social share
 */
/**
 * $c-social-2 (Color Social Share Google)
 * @color
 * @section Social share
 */
/**
 * Blanco
 * @color
 * @section Neutros
 */
/**
 * Negro
 * @color
 * @section Neutros
 */
/**
 * Grey
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 1
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 2
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 3
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 4
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 5
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 6
 * @color
 * @section Escala de Grises
 */
/**
 * Grey 7
 * @color
 * @section Escala de Grises
 */
.vsm-card .tag {
  display: block;
  text-transform: uppercase;
  padding: 2px 4px;
  font-size: 12px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-weight: bold; }

.vsm-card .txt-through_red {
  display: none; }

.vsm-card .card__title {
  font-weight: lighter;
  font-size: 54px;
  font-size: 3.375rem; }

.vsm-card .txt_bold {
  text-transform: uppercase;
  line-height: 2; }

.vsm-card .card__header-btn {
  background-color: transparent; }

.vsm-card .txt-small {
  font-size: 16px;
  font-size: 1rem; }

.vsm-card .card__item_no-border {
  border-bottom: none;
  padding-bottom: 0; }
  .vsm-card .card__item_no-border .card__txt-high {
    color: #50535A; }

.vsm-card .card__txt:before {
  font-size: 16px;
  line-height: 1.4; }

.vsm-card .card__txt:first-child {
  border-right: none; }

.vsm-card .vsm-card__row_inline {
  padding: 4px 0;
  margin: 0 auto; }

.vsm-card .vsm-card_unique {
  max-width: 480px;
  margin: 0 auto; }

.vsm-card .card__wrap {
  height: 100%; }

.vsm-card .card__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100% !important; }

.vsm-card__copy {
  text-align: center;
  padding: 6px 0;
  color: #86888C; }

@media only screen and (max-width: 767px) {
  .vsm-card .card__header-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .vsm-card .tag {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  .vsm-card .card__title {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  .vsm-card .txt_bold {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2; }
  .vsm-card .card-dropdown_active .card, .vsm-card.card-dropdown_active .card {
    background-color: transparent; }
  .vsm-card .card_check .card__wrap {
    background-color: transparent; }
  .vsm-card.card_check {
    background-color: transparent; }
    .vsm-card.card_check .card__wrap {
      background-color: transparent;
      padding-bottom: 20px; } }

@media only screen and (min-width: 768px) {
  .vsm-card.card {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #e9eae8;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #e9eae8; }
  .vsm-card .txt-through_red {
    display: inline; }
  .vsm-card .card__header {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px; }
  .vsm-card .tag {
    background-color: transparent; }
  .vsm-card_unique {
    max-width: 300px;
    margin: 0 auto; } }

.vsm-form__fieldset {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0; }
  .vsm-form__fieldset .vsm-steps__selected {
    padding-bottom: 0; }
  .vsm-form__fieldset .steps__btn {
    margin-top: 40px; }

.vsm-form__fieldset_borderSup:after {
  content: "";
  position: relative;
  top: 0;
  display: block;
  width: 90%;
  max-width: 1280px;
  height: 1px;
  margin: 0 auto;
  background-color: #D3D4D3; }

.vsm-form__copy {
  text-align: center;
  padding-top: 20px 0 10px 0;
  color: #86888C; }
  .vsm-form__copy .txt-small {
    font-size: 10px; }
  .vsm-form__copy .steps__link {
    display: block;
    padding: 10px 0; }

.vsm-form__hidden {
  display: none;
  padding: 20px 0; }

.vsm-form__label_left {
  padding-left: 8px;
  text-align: left; }
  .vsm-form__label_left.form__label_check {
    max-width: none; }
  .vsm-form__label_left:before {
    margin-right: 20px; }

.vsm-form__radio_label {
  font-size: 18px;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-form__title-section {
  font-size: 16px;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-form__grid.form__grid {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.vsm-form__grid .form__grid__item {
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }

.vsm-form__box-img {
  display: block;
  max-width: 130px;
  margin: 0 auto; }

.vsm-form__grid_3col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.vsm-form__grid__item_3col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 33%;
  -moz-flex: 1 33%;
  -ms-flex: 1 33%;
  flex: 1 33%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  .vsm-form__grid__item_3col:not(:last-child) {
    padding-right: 10px; }

.vsm-form__row-control {
  max-width: 320px;
  margin: 0 auto;
  text-align: center; }

.vsm-form__row-top {
  padding-top: 20px; }

.vsm-form__border-top {
  border-top: 1px solid #E9EAE8; }

.vsm-form__row-border {
  padding: 40px 0 40px 0;
  border-top: 1px solid #E9EAE8; }

@media (max-width: 430px) {
  .vsm-form .steps__item .form-ico {
    margin: 0 auto 0 20px; } }

@media only screen and (max-width: 479px) {
  .vsm-form__grid__item_3col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
    -moz-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    padding-right: 0; }
    .vsm-form__grid__item_3col:first-child {
      -webkit-box-flex: 1;
      -webkit-flex: 1 100%;
      -moz-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
      padding-bottom: 20px; } }

@media only screen and (max-width: 649px) {
  .vsm-form__especial .form__radio_label {
    left: 20px; }
  .vsm-form__especial .form__txt-style {
    padding-left: 20px; } }

.vsm-steps .steps__head {
  font-weight: lighter; }
  .vsm-steps .steps__head .head__title {
    font-size: 40px;
    font-size: 2.5rem; }

.vsm-steps .vsm-steps__head .head__title {
  margin: 0 auto;
  text-align: center; }

.vsm-steps .spinner {
  margin-top: 40px; }

.vsm-steps__cont {
  position: relative; }

@media only screen and (min-width: 768px) {
  .vsm-steps__cont.steps__cont {
    width: 100%; } }

.vsm-list-ico.list-ico {
  padding: 4px 0 0 0; }

.vsm-list-ico .list-ico__item {
  max-width: 40px;
  margin-bottom: 0; }

.vsm-data__table .data__pullquote .data__title {
  font-size: 27px; }

.vsm-data__table .data-section .data-section__detail .data-section__item .vsm-phone-title {
  margin-top: 0; }

.vsm-data__table .data-section__subitem {
  padding-top: 10px; }

.vsm-data__table .data__tab .data__btn {
  border-bottom: none !important;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.vsm-data__table .data__txt {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.vsm-data__table .data__txt_wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.vsm-data__table .data__txt_space {
  padding: 0 4px; }

.vsm-data__table .input-search__label .txt_blue {
  text-align: left; }

.vsm-data__table .input-search__btn {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px; }

.vsm-data__table .data__txt_sub {
  display: block;
  font-size: 12px;
  padding-left: 38px; }

.vsm-data__table .data__txt-big {
  color: #B6B7B7;
  font-size: 21px; }

.vsm-data__table .data__btn:focus {
  border: none;
  outline: none; }

.vsm-data__table .table-section__head-item {
  padding-left: 0; }

.vsm-data__aside .aside-table__cell:first-child {
  color: inherit;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

.vsm-data__aside .aside-table__footer {
  border-bottom: none; }
  .vsm-data__aside .aside-table__footer .aside-table__cell_total {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    vertical-align: middle; }
    .vsm-data__aside .aside-table__footer .aside-table__cell_total:nth-child(n + 2) {
      color: #5BC500;
      font-size: 14px; }

.vsm-data__aside .data__inner {
  padding-top: 0; }

.vsm-data__aside .data__tab .data__btn {
  border-bottom: none !important;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 0; }

.vsm-data__aside .data__btn:focus {
  border: none;
  outline: none; }

.vsm-data__aside .data__list.data__summary {
  padding: 0; }

.vsm-data__aside .data-aside__foot.data-aside__link {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 768px) {
  .vsm-data__table .data__txt_sub {
    display: initial;
    padding-left: 0; } }

.vsm-board .title__gral {
  word-break: break-all; }

.vsm-board .detail-board__subtitle-price {
  text-align: right; }

.vsm-board .detail-board__subtitle-price:last-child {
  padding-right: 10px; }

.vsm-board .list-order__label.pos-subtitle_gral {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.vsm-board .board__prefoot .board__txt {
  margin-top: 0; }

.vsm-board .board__prefoot .board__link {
  white-space: initial; }

.vsm-board .board__prefoot .list-order__row {
  width: 100%; }

.vsm-board .board__prefoot .list-order__label {
  font-weight: 400; }

.vsm-board .btn {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-decoration: none; }

.vsm-board .board__foot .board__link {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-board .card-ico__title {
  margin-bottom: 0; }

.vsm-board .no-margin {
  margin: 0; }

@media only screen and (min-width: 768px) {
  .vsm-board {
    /* .detail-board_hide-dk {
      display: none;
    } */ }
    .vsm-board .board-list_col3 {
      width: 33.33%; }
    .vsm-board .board-list:nth-child(2) .title__gral {
      text-align: right; }
    .vsm-board .board__side {
      width: 100%; }
    .vsm-board .board__prefoot .board__link {
      white-space: initial; }
    .vsm-board .detail-board__header_two-cols {
      grid-template-columns: repeat(2, 1fr); }
    .vsm-board .detail-board__subtitle-price:last-child {
      padding-right: 0; }
    .vsm-board .detail-row-order__row_two-cols {
      grid-template-columns: repeat(2, 1fr); } }

.vsm-grid {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  text-align: center;
  border: 1px solid #D3D4D3;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear; }
  .vsm-grid .grid__inner {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 0 auto; }
  .vsm-grid .vsm-grid__link {
    display: block; }
  .vsm-grid .grid__photo {
    max-width: 140px; }
  .vsm-grid .grid__body {
    text-align: left; }
  .vsm-grid .grid__subtitle {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .vsm-grid .grid__tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .vsm-grid .tag_corner {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; }

.vsm-grid__head {
  display: block; }

.vsm-grid__row {
  display: table;
  width: 100%;
  float: none; }

.vsm-grid__col {
  display: table-cell;
  vertical-align: middle;
  margin: 0; }
  .vsm-grid__col:last-child {
    width: 50%; }
  .vsm-grid__col .vsm-grid__img {
    width: 20px;
    margin: 0 auto 0 0; }

.vsm-grid__thumbs .list-thumb {
  margin: 0; }

.vsm-grid__thumbs .list-thumb__item {
  margin-bottom: 0;
  padding-top: 4px; }

.vsm-grid__thumbs .list-thumb__circle {
  width: 15px;
  height: 15px; }

.vsm-grid__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify-content;
  -ms-flex-pack: justify-content;
  -webkit-justify-content: justify-content;
  -moz-justify-content: justify-content;
  justify-content: justify-content;
  width: 100%;
  padding-bottom: 10px; }
  .vsm-grid__block .grid__price:first-child {
    padding-right: 5px; }
  .vsm-grid__block .grid__price:last-child {
    position: relative;
    border-left: none; }
    .vsm-grid__block .grid__price:last-child:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -5px;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      height: 40px;
      background-color: #D3D4D3; }
  .vsm-grid__block .grid__value {
    display: block; }
  .vsm-grid__block .grid__value-disclaimer {
    font-size: 13px; }

.vsm-grid__footer {
  padding: 10px 0; }
  .vsm-grid__footer .grid__label {
    font-size: 14px; }
  .vsm-grid__footer .link {
    display: inline-block;
    padding-top: 10px; }

.vsm-grid__form-foot .btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 220px; }

.vsm-slider-detail .vsm-grid {
  margin: 0 10px;
  height: auto; }

.vsm-slider-detail .slick-list {
  padding: 20px 0; }

.vsm-slider-detail.slider-detail {
  max-width: 90%;
  padding-top: 40px; }

.vsm-slider-detail .slider__arrow.prev {
  left: -15px; }

.vsm-slider-detail .slider__arrow.next {
  right: -15px; }

@media only screen and (min-width: 768px) {
  .vsm-slider-detail.slider-detail {
    max-width: 926px; } }

.vsm-slider__controls .slider__arrow:before {
  color: #00A9E0;
  font-size: 30px; }

@media only screen and (max-width: 767px) {
  .vsm-slider__controls {
    display: none; } }

.vsm-inner_canvas {
  width: 90%;
  max-width: 1084px;
  margin: 0 auto; }

.columns .column.main {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; }

.layout-flex__row.layout-flex__row_3 .attribute .value ul,
.layout-flex__row.layout-flex__row_3 .attribute .value li {
  margin: 0;
  padding: 0; }

.vsm-layout-inner-sm {
  margin: 0 0 0 auto;
  width: 100%; }

.js-vsmHideInfo {
  display: none; }

@media only screen and (max-width: 767px) {
  .tag-svg__img {
    display: none; }
  .tag.tag_hidden {
    height: 0;
    display: none; }
  .tag_position {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3; } }

.vsm-data__table .data__pullquote .data__title {
  font-size: 27px; }

.vsm-data__table .data-section .data-section__detail .data-section__item .vsm-phone-title {
  margin-top: 0; }

.vsm-data__table .data-section__subitem {
  padding-top: 10px; }

.vsm-data__table .data__tab .data__btn {
  border-bottom: none !important;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.vsm-data__table .data__txt {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.vsm-data__table .data__txt_wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.vsm-data__table .data__txt_space {
  padding: 0 4px; }

.vsm-data__table .input-search__label .txt_blue {
  text-align: left; }

.vsm-data__table .input-search__btn {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px; }

.vsm-data__table .data__txt_sub {
  display: block;
  font-size: 12px;
  padding-left: 38px; }

.vsm-data__table .data__txt-big {
  color: #B6B7B7;
  font-size: 21px; }

.vsm-data__table .data__btn:focus {
  border: none;
  outline: none; }

.vsm-data__table .table-section__head-item {
  padding-left: 0; }

.vsm-data__aside .aside-table__cell:first-child {
  color: inherit;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

.vsm-data__aside .aside-table__footer {
  border-bottom: none; }
  .vsm-data__aside .aside-table__footer .aside-table__cell_total {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    vertical-align: middle; }
    .vsm-data__aside .aside-table__footer .aside-table__cell_total:nth-child(n + 2) {
      color: #5BC500;
      font-size: 14px; }

.vsm-data__aside .data__inner {
  padding-top: 0; }

.vsm-data__aside .data__tab .data__btn {
  border-bottom: none !important;
  font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 0; }

.vsm-data__aside .data__btn:focus {
  border: none;
  outline: none; }

.vsm-data__aside .data__list.data__summary {
  padding: 0; }

.vsm-data__aside .data-aside__foot.data-aside__link {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 768px) {
  .vsm-data__table .data__txt_sub {
    display: initial;
    padding-left: 0; } }

.vsm-head-section .link__brand {
  display: block;
  margin: 0 0 0 auto;
  text-align: left; }

@media only screen and (max-width: 1023px) {
  .vsm-head-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .vsm-head-section .title_head {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      padding-top: 20px; }
    .vsm-head-section .link__brand {
      margin: 0;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1;
      padding-left: 20px;
      padding-top: 20px; } }

.vsm-data-step {
  /*     .step__content {
        border: 1px solid red;
    } */ }
  .vsm-data-step .txt_blue {
    text-align: right;
    font-size: 12px; }
  .vsm-data-step .form__grid {
    padding-top: 0; }
  .vsm-data-step .form__grid__item .form__input {
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #F4F4F3; }
  .vsm-data-step .form__label_check {
    text-align: left; }
  .vsm-data-step .step__set_success {
    position: relative; }
    .vsm-data-step .step__set_success:before {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-17px);
      -webkit-transform: translateY(-17px);
      transform: translateY(-17px); }
  .vsm-data-step .data__total {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-data-step__content {
  padding-bottom: 40px; }

.data__info-img {
  width: 100%;
  max-width: 280px; }

@media only screen and (max-width: 649px) {
  .vsm-data-step .form__grid {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .vsm-data-step .form__grid__item {
    width: 100%; }
    .vsm-data-step .form__grid__item:first-child {
      padding-bottom: 20px; }
  .vsm-data-step .form__row-inner {
    margin-left: 30px;
    padding-bottom: 0; } }

@media (min-width: 1024px) and (max-width: 1180px) {
  .vsm-data-step .form__grid {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .vsm-data-step .form__grid__item {
    width: 100%; }
    .vsm-data-step .form__grid__item:first-child {
      padding-bottom: 20px; }
  .vsm-data-step .form__row-inner {
    margin-left: 30px;
    padding-bottom: 0; } }

@media only screen and (min-width: 768px) {
  .vsm-data__info {
    padding-bottom: 0; } }

.vsm-data__aside .data__title {
  font-size: 24px; }

.vsm-data__aside .aside-table__heading .aside-table__cell {
  color: inherit;
  font-weight: bold;
  font-size: 12px; }

.vsm-data__aside .aside-table__cell {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }
  .vsm-data__aside .aside-table__cell:not(first-child) {
    color: #B6B7B7;
    font-size: 14px; }

.vsm-data__aside .aside-table__cell_big {
  padding: 10px 0; }

.vsm-data__aside .data__header {
  padding: 10px 0; }

.vsm-data__aside .aside-table__footer {
  border-bottom: none; }
  .vsm-data__aside .aside-table__footer .aside-table__cell_total {
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    vertical-align: middle; }
    .vsm-data__aside .aside-table__footer .aside-table__cell_total:nth-child(n + 2) {
      color: #5BC500;
      font-size: 16px; }

.vsm-data__aside .data__inner {
  padding-top: 0; }

.vsm-data__aside .data__tab .data__btn {
  border-bottom: none !important;
  font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 0; }
  .vsm-data__aside .data__tab .data__btn:before {
    font-size: 18px; }

.vsm-data__aside .data__btn:focus {
  border: none;
  outline: none; }

.vsm-data__aside .data__list.data__summary {
  font-weight: bold;
  padding: 0; }

.vsm-data__aside .vsm-aside-table__value {
  color: #86888C;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-data__aside .vsm-aside-table__subtitle {
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: right;
  padding-right: 0;
  white-space: nowrap; }
  .vsm-data__aside .vsm-aside-table__subtitle.txt_blue {
    font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-data-aside__btnDown {
  padding-bottom: 20px; }

.vsm-input-search__label_grey {
  color: #B6B7B7;
  font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.vsm-input-search.input-search {
  display: block;
  margin: 0; }
  .vsm-input-search.input-search .input-search__btn {
    font-size: 0px;
    min-width: auto;
    height: 100%;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    padding: 10px; }
    .vsm-input-search.input-search .input-search__btn::before {
      font-size: 24px; }
  .vsm-input-search.input-search .input-search__input::-webkit-input-placeholder {
    color: #86888C; }
  .vsm-input-search.input-search .input-search__input::-moz-placeholder {
    color: #86888C; }
  .vsm-input-search.input-search .input-search__input:-ms-input-placeholder {
    color: #86888C; }
  .vsm-input-search.input-search .input-search__input::-ms-input-placeholder {
    color: #86888C; }
  .vsm-input-search.input-search .input-search__input::placeholder {
    color: #86888C; }
  .vsm-input-search.input-search .vsm-input-search__btn-txt {
    font-size: 16px;
    max-height: 44px; }

.vsm-input-search .vsm-input-search__txt {
  text-align: left; }

.breadcrumbs {
  padding-top: 30px; }
  .breadcrumbs .item {
    font-family: "Telefonica-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D4D3; }
    .breadcrumbs .item:last-child {
      color: #00A9E0; }

.vsm-tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.vsm-detail-form .btn-dropdown {
  background-color: transparent; }

.vsm-detail-form .btn-dropdown:focus {
  outline: none; }

.vsm-detail-form .list-thumb__txt {
  text-align: center !important;
  font-size: 12px; }

.vsm-detail-form .list-thumb {
  margin-bottom: 0; }

.vsm-detail-form .vsm-form__row-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 4px 0; }
  .vsm-detail-form .vsm-form__row-inline .form__label {
    padding-bottom: 0;
    margin-bottom: 0; }

.vsm-form__link.link__brand {
  font-family: "Telefonica-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 auto; }

.vsm-form__row-upline {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #D3D4D3; }
  .vsm-form__row-upline .form__input {
    margin-right: 10px; }

.page-with-filter.page-products .vsm-aside__detail,
.page-with-filter.page-products .wishlist,
.catalogsearch-result-index.page-products .vsm-aside__detail,
.catalogsearch-result-index.page-products .wishlist {
  display: none; }

.catalog-product-view .price-box.price-final_price .grid__blocks {
  display: none; }

.catalog-product-view .layout-flex__aside .price-box.price-final_price .grid__label.grid__label_price {
  display: none !important; }

/*# sourceMappingURL=vsm-mes.css.map */
