<span><!-- ko text: getPaymentNote() --><!-- /ko --></span>
<fieldset data-bind="attr: {class: 'fieldset payment items ccard up5 ' + getCode(), id: 'payment_form_' + getCode()}">

    <div class="flapTitleForm">
      <span><!-- ko text: getPaymentNote() --><!-- /ko --></span>
      <span class="titleFlapForm">Información de tarjeta.</span>
    </div>
    <hr>

    <!-- ko if: (isShowLegend())-->
    <legend class="legend">
        <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
    </legend><br />
    <!-- /ko -->
    
    <div class="field name required form__row-gral form__row-none form__grid5 no__margin">
        <label data-bind="attr: {for: getCode() + '_cc_owner'}" class="label new__label5 form__label-ico i-star-fill i-star-fill6">
            <span class="up4"><!-- ko i18n: 'Nombre y Apellidos '--><!-- /ko --></span>
            <span class="up9"><!-- ko i18n: '(Como aparecen en la tarjeta)'--><!-- /ko --></span>
            <!--<button class="btn-i i-question-ball js-btnTooltipData help__ico red5" type="button">
                Pregunta</button>-->
        </label>
        <div class="control control2">
            <input type="text" style="" name="payment[cc_owner]" class="input-text form__input" value="" onkeyup="this.value = this.value.replace(/[^A-Za-z\u00C0-\u024F\u1E00-\u1EFF ]/g, '');"
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_owner',
                                    title: $t('Nombre y Apellidos '), title: $t('(Como aparecen en la tarjeta)'),
                                    'data-container': getCode() + '-cc-owner',
                                    'data-validate': JSON.stringify({'required':true})},
                              enable: isActive($parents),
                              value: creditCardHolderName,
                              valueUpdate: 'keyup' "/>
        </div>
    </div>
    <div class="field number required form__row-gral form__row-none form__grid5 no__margin">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label new__label5 form__label-ico i-star-fill i-star-fill6">
            <span class="up4"><!-- ko i18n: 'Número de tarjeta'--><!-- /ko --></span>
            <!--<button class="btn-i i-question-ball js-btnTooltipData help__ico blue5" type="button">
                Pregunta</button>-->
        </label>
        <div class="control control2">
            <input type="number" name="payment[cc_number]" class="input-text form__input" value="" onkeyup="this.value = this.value.split('.').join('').substring(0,16);"
                   data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Número de tarjeta'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: creditCardNumber,
                              valueUpdate: 'keyup' "/>
        </div>
    </div>

    <div class="flexed">
    <div class="field date required form__row-gral form__row-none form__grid5 lefted5 no__margin" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label new__label5 form__label-ico i-star-fill">
            <span><!-- ko i18n: 'Expiración'--><!-- /ko --></span>
            <!--<button class="btn-i i-question-ball js-btnTooltipData help__ico green5" type="button">
                Pregunta</button>-->
        </label>
        <div class="control">
            <div class="fields group group-2 flexed">
                <div class="field no-label month">
                    <div class="control">
                        <input style="max-width:150px; width:90%;" type="text" name="payment[cc_exp_month]" class="input-text form__input" value=""
                   data-bind="attr: {
                                    maxlength: 4,
                                    autocomplete: off,
                                    id: getCode() + '_expiration',
                                    title: $t('Exp Month and Year'),
                                    placeholder: $t('MM/YY'),
                                    'data-container': getCode() + '-cc-month',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-date': '#' + getCode() + '_expiration', 'validate-card-exp':'#' + getCode() + '_expiration_yr'})},
                              enable: isActive($parents),
                              value: creditCardExpiration,
                              event: {keypress: numberFilterMM},
                              valueUpdate: 'keyup' "/>
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <input style="width:45px" type="hidden" name="payment[cc_exp_year]" class="input-text form__input" value=""
                   data-bind="attr: {
                                    maxlength: 2,
                                    autocomplete: off,
                                    id: getCode() + '_expiration_yr',
                                    title: $t('Expiración'),
                                    placeholder: $t('YY'),
                                    'data-container': getCode() + '-cc-year',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-year': '#' + getCode() + '_expiration_yr'})},
                              enable: isActive($parents),
                              value: creditCardExpYear,
                              event: {keypress: numberFilterYY},
                              valueUpdate: 'keyup' "/>
                    </div>
                </div>
                
    <!-- ko if: (hasVerification())-->
    <div class="field date required form__row-gral form__row-none form__grid5 lefted5 no__margin" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}" >
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label new__label5 form__label-ico i-star-fill false__space">
            <span><!-- ko i18n: 'CVV'--><!-- /ko --></span>
            <!--<button class="btn-i i-question-ball js-btnTooltipData help__ico purple5" type="button">
                Pregunta</button>-->
        </label>
        
        <div class="control _with-tooltip">
            <input type="number"
                   autocomplete="off"
                   class="input-text cvv form__input false__margin"
                   name="payment[cc_cid]"
                   value=""
                   onkeyup="this.value = this.value.split('.').join('').substring(0,4);"
                   data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber" />
            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     data-bind="html: getCvvImageHtml()"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
                <div class="field no-label cc_type">
                    <ul class="credit-card-types flexed">
                    <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                        <li class="item" data-bind="css: {
                                                         _active: $parent.selectedCardType() == item.value,
                                                         _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                                         } ">
                            <!--ko if: $parent.getIcons(item.value) -->
                            <img data-bind="attr: {
                                'src': $parent.getIcons(item.value).url,
                                'alt': item.type,
                                'width': $parent.getIcons(item.value).width,
                                'height': $parent.getIcons(item.value).height
                                }">
                            <!--/ko-->
                        </li>
                        <!--/ko-->
                    </ul>
                    <input type="hidden"
                           name="payment[cc_type]"
                           class="input-text"
                           value=""
                           data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                           value: creditCardType
                           ">
                </div>
            </div><br>
            <span class="labelFlapForm">Tu pago se domiciliará a está tarjeta.</span><br><br>
            <label class="form__label__check2 " for="dataToBill">Se realizará un cobro de $10.00 MXN, que serán reembolsados a tu cuenta</label>
        </div>
    </div>
      
</fieldset>


