<?php
$blockObjRedirect = $block->getLayout()->createBlock('Vass\PosRedirect\Block\Index');
$blockObj = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Index');
$productId = $blockObj->getProductId();
$linkOrigin = $blockObj->getIdUrl('origin');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/**
 * @var $registry \Magento\Framework\Registry
 */
$registry = $objectManager->create('Magento\Framework\Registry');
$currentCategory = $block->getCategory();//$registry->registry('current_category');

$vitrinaId = 0;
$vitrinaParam = '';
if (is_object($currentCategory) && $currentCategory->getIsVitrina()):
    $vitrinaId = $currentCategory->getId();
    $vitrinaParam = '/vitrina/'.$vitrinaId;
endif;

//$product_salable = $objectManager->create('Magento\Catalog\Model\Product')->load($productId)->isSalable();
$product_salable = $block->getProduct()->isSalable();

$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$stock = $StockState->getStockQty($productId, 1);
?>
<?php if (!$blockObjRedirect->Sessioncart()) : ?>
    <?php if ($product_salable) : ?>
    <div class="layout-form__row layout-form__foot" style="margin-top: 30px;">
        <button class="form__btn btn comprar-terminal" id="btn-buy-one" onclick="location.href='<?=$block->getUrl('pos-vitrina-terminal-02/index/index/id/'.$productId.$vitrinaParam)?>'" style="display: none;">Comprar</button>
        <button class="form__btn btn comprar-terminal" id="btn-buy-two" onclick="location.href='<?=$block->getUrl('pos-vitrina-terminal-02-pre/index/index/id/'.$productId.$vitrinaParam)?>'" style="display: none;">Comprar</button>
        <?php
            $urlTerminal =  $block->getUrl('pos-car-ter/index/addcart?entity_id='.$productId);
            $urlTerminal = substr($urlTerminal, 0, -1);
        ?>
        <form class="form-gral vsm-form" id="formTer" action="<?=$block->getUrl('pos-car-ter/index/addcart/')?>" method="post">
            <input type="hidden" name="entity_id" id="entity_id" value="<?=$productId?>">
            <?php if($vitrinaId): ?>
                <input type="hidden" name="vitrina_id" id="vitrina_id" value="<?=$vitrinaId?>">
            <?php endif; ?>
            <!--<button class="form__btn btn comprar-terminal" id="btn-buy-three" onclick="location.href='<?=$urlTerminal?>'" style="display: none;">Comprar</button>-->
            <button class="form__btn btn comprar-terminal" id="btn-buy-three" type="submit" style="display: none;">Comprar</button>
        </form>
    </div>
    <?php else : ?>
    <div class="layout-form__row layout-form__foot" style="margin-top: 30px;">
        <button id ="gtm-button-add-to-cart" class="layout-form__btn btn js-car more-cell" onclick="location.href='<?php echo $block->getUrl('telefonos.html'); ?>'">Más teléfonos</button>
    </div>
    <?php endif; ?>
<?php else : ?>
    <?php if ($product_salable) : ?>
    <div class="layout-form__row layout-form__foot" style="margin-top: 30px;">
        <button class="form__btn btn comprar-terminal" id="btn-buy-one" onclick="location.href='<?=$block->getUrl('pos-vitrina-terminal-02/index/index/id/'.$productId.$vitrinaParam)?>'" style="display: none;">Comprar</button>
        <button class="form__btn btn comprar-terminal" id="btn-buy-two" onclick="location.href='<?=$block->getUrl('pos-vitrina-terminal-02-pre/index/index/id/'.$productId.$vitrinaParam)?>'" style="display: none;">Comprar</button>
        <?php
            $urlTerminal =  $block->getUrl('pos-car-ter/index/addcart?entity_id='.$productId);
            $urlTerminal = substr($urlTerminal, 0, -1);
        ?>
        <form class="form-gral vsm-form" id="formTer" action="<?=$block->getUrl('pos-car-ter/index/addcart/')?>" method="post">
            <input type="hidden" name="entity_id" id="entity_id" value="<?=$productId?>">
            <?php if($vitrinaId): ?>
            <input type="hidden" name="vitrina_id" id="vitrina_id" value="<?=$vitrinaId?>">
            <?php endif; ?>
            <!--<button class="form__btn btn comprar-terminal" id="btn-buy-three" onclick="location.href='<?=$urlTerminal?>'" style="display: none;">Comprar</button>-->
            <button class="form__btn btn comprar-terminal" id="btn-buy-three" type="submit" style="display: none;">Comprar</button>
        </form>
    </div>
    <?php else : ?>
    <div class="layout-form__row layout-form__foot" style="margin-top: 30px;">
        <button id ="gtm-button-add-to-cart" class="layout-form__btn btn js-car more-cell" onclick="location.href='<?php echo $block->getUrl('telefonos.html'); ?>'">Más teléfonos</button>
    </div>
    <?php endif; ?>
<?php endif; ?>
<?php 
$redirect = $objectManager->get('\Magento\Framework\App\Response\RedirectInterface');
$referralUrl = $redirect->getRefererUrl(); 
if(strpos($referralUrl,'terminales.html')===false):
?>
<?php if ($linkOrigin == "prepago" || $linkOrigin == "terminal"){ 
    if ($linkOrigin == "prepago") {
        $click = "price2";
    }else{
        $click = "price3";
    }
?>
    <script type="text/javascript">
        require([
            'jquery'
        ], function (
            $
        ) {

            $( document ).ready(function() {
                //$( "#<?= $click ?>" ).trigger( "click" );
                $("[data-click='<?= $click ?>']").trigger( "click" );
                $(".mi-cell-prepago").addClass("active");
            });
        });
    </script>         
<?php } else { ?>
    <script type="text/javascript">
        require([
            'jquery'
        ], function (
            $
        ) {

            $( document ).ready(function() {
                //$( "#price1" ).trigger( "click" );
                $("[data-click='price1']").trigger( "click" );
                $(".mi-phones-planes").addClass("active");
            });

        });
    </script>   
<?php } ?>
<?php endif; ?>