<?php
$blockObj = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Index');
$product_id = $blockObj->getProductId();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$stock = $StockState->getStockQty($product_id,1);

$product_salable = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id)->isSalable();

$product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);

if (null !== $product->getCustomAttribute('accesibility_url')) {
    $accesibility_url   = $product->getCustomAttribute('accesibility_url')->getValue();
} else {
    $accesibility_url   = '#';
}

?>
<?php if ($stock > 0 && $product_salable): ?>
    <span class="grid-box__txt_highlight"><?= __('In stock') ?></span>
<?php else: ?>
    <span class="grid-box__txt_highlight"><?= __('Out of stock') ?></span>
<?php endif; ?>

<!-- Hotfix: INTPOSP-462 Bloque msmx-list-ico para ubicar debajo del bloque: <div class="product attribute overview">  -->
<div class="msmx-list">
    <h3 class="msmx-list__title">Accesibilidad</h3>
    <ul class="msmx-list__items">
        <li class="msmx-list__item">
            <a href="<?php echo $accesibility_url; ?>" target="_blank" class="msmx-list__anchor" >
                <span class="msmx-list__fig">
                    <img class="msmx-list__img" src="/media/wysiwyg/recortes/silla-ruedas.svg" title="Accesibilidad Motriz" alt="Accesibilidad Motriz" longdesc="/media/wysiwyg/recortes/silla-ruedas.svg"/>
                </span>
                <span class="msmx-list__txt">Motriz</span>
            </a>
        </li>
        <li class="msmx-list__item">
            <a href="<?php echo $accesibility_url; ?>" target="_blank" class="msmx-list__anchor">
                <span class="msmx-list__fig">    
                    <img class="msmx-list__img" src="/media/wysiwyg/recortes/ciego.svg" title="Accesibilidad Visual" alt="Accesibilidad Visual" longdesc="/media/wysiwyg/recortes/ciego.svg"/>
                </span>
                <span class="msmx-list__txt">Visual</span>
            </a>
        </li>
        <li class="msmx-list__item">
            <a href="<?php echo $accesibility_url; ?>" target="_blank" class="msmx-list__anchor" >
                <span class="msmx-list__fig">                
                    <img class="msmx-list__img" src="/media/wysiwyg/recortes/sordo.svg" title="Accesibilidad Motriz" alt="Accesibilidad Motriz" longdesc="/media/wysiwyg/recortes/sordo.svg"/>
                </span>
                <span class="msmx-list__txt">Auditivo</span>
            </a>
        </li>
        <li class="msmx-list__item">
            <a href="<?php echo $accesibility_url; ?>" target="_blank" class="msmx-list__anchor" >
                <span class="msmx-list__fig">   
                    <img class="msmx-list__img" src="/media/wysiwyg/recortes/manos-lenguaje.svg" title="Accesibilidad Visual" alt="Accesibilidad Visual" longdesc="/media/wysiwyg/recortes/manos-lenguaje.svg"/>
                </span>                
                <span class="msmx-list__txt">Habla</span>
            </a>
        </li>                
    </ul>
</div>
<!--Hotfix: INTPOSP-462-->