<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_helperCupon = $this->helper('Vass\Cupones\Helper\Cupones');
$_arr = explode(",",$_helperCupon->skuCupones());
$data =$block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
$attrImg = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
$promocion = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$blockObj = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Index');
$_renovaciones = (get_class($block) == "Entrepids\Renewals\Block\Product\ListProduct\Interceptor");																								   
$attributes = $blockObj->getAttributesProduct();
$blockAgtm = $block->getLayout()->createBlock('Entrepids\Renewals\Block\Analytic\Agtm');
$_helperVitrina = $this->helper('Entrepids\VitrinaManagement\Helper\Vitrina');
$_isVitrina = $_helperVitrina->isVitrina();
?>
<?php  if (!$_productCollection->count()): ?>
	<div class="message info empty">
        <div>
            <?php if(!$_renovaciones): ?>
                <?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?>
            <?php else: ?>
                <?= /* @escapeNotVerified */ __('To continue with your renewal, it\'s necessary that an executive communicates with you. We have better offers. (* 7246) from your Movsitar.') ?>
            <?php endif;?>
        </div>
    </div>	  
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        //$image = 'category_page_grid';
        $image = 'favorite_products_content_widget_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        //$viewMode = 'list';
        $viewMode = 'grid';
        //$image = 'category_page_list';
        $image = 'favorite_products_content_widget_grid';
        //$showDescription = true;
        $showDescription = false;
        //$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    //if come from renewals
    $renewalSession = $objectManager->get('\Entrepids\Renewals\Helper\Session\RenewalsSession');
    $parameterAdditional="";
    if($renewalSession->referrerIsRenewal()){
        $parameterAdditional="renovaciones=1";
    }
    ?>
    <div class="products grid_content wrapper products-grid">
        <?php $iterator = 1; ?>
        <div class="grid grid_ie">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */

                $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                
                $urlProduct= $_helperVitrina->getUrlVitrina($_product, $_isVitrina, $block->getBaseUrl());
                if($parameterAdditional!==""){
                    if(strpos($urlProduct,"?") !==false){
                        $urlProduct=$urlProduct."&".$parameterAdditional;
                    }else{
                        $urlProduct=$urlProduct."?".$parameterAdditional;
                    }
                }               
                
                $stock =  $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());

                $texto = $promocion->atributeSetTexto($_product->getId());

                $imgPromo = $attrImg->atributeSet($_product->getId());
                $tagpreventa = $data->getTagDetailProducttag($_product->getId());


                $_cfg_dl_up   	= \Magento\Framework\App\ObjectManager::getInstance()
                    ->get('Magento\Framework\App\Config\ScopeConfigInterface')
                    ->getValue('product_tags/setttings/ultimas_piezas');



                    if($iterator++ == 1){
                        //echo "Vamos en Par: ".$iterator;
                        echo '<article class="grid__slot grid__slot2">';
                    }else{
                        echo '</article>';
                        //echo "Vamos en Impar: ".$iterator;
                        if($iterator == 4){
                            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner-grid-'.$iterator)->toHtml();
                            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner-grid-'.$iterator.'-bis')->toHtml();
                        }
                        if($iterator == 7){
                            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner-grid-'.$iterator)->toHtml();
                        }
                        echo'<article class="grid__slot grid__slot2">';
                    }
                ?>

                <!-- A-Prepago-100: clase vsm-grid   -->
                <div class="vsm-grid grid__inner" data-container="product-grid">

                    <!-- A-Prepago-100: Tags de Mallas de productos   -->
                    <!-- <div class="grid__tags">
                        <span class="tag tag_min tag_blue">Meses sin interes</span>
                        <span class="tag_corner tag_corner-yellow">-60%</span>
                    </div> -->
                    <?php if($imgPromo!=''):?>
                    <div class="grid_tags imagen_promo_corcholata">
                        <div class="texto_promo"><?=$texto?></div>
                        <img class="img-k" src="<?=$imgPromo?>"/>
                    </div>
                    <?php endif;?>
                    <div class="grid__tags_style">

                    <?php

                    /* valida si tiene stock */
                    if(empty($_product->getIsSalable())){
                    ?>
                        <span class="tag tag_min tag_<?=$attributes['color']?>"><?= $attributes['label'] ?></span>
                    <?php }else {
                    if($stock <= $_cfg_dl_up){
                             ?>
                        <span class="tag tag_min tag_<?= $attributes['color2'] ?>"><?= $attributes['label2'] ?></span>
                    <?php }
                        } ?>

                    <?php   if($tagpreventa['tag_preventa']  == 1){ ?>
                        <span class="tag tag_blue">Preventa</span>
                     <?php } ?>
                    <!--
                    <span class="tag tag_min tag_blue">Meses sin interes</span>
                    <span class="tag_corner tag_corner-yellow">-60%</span> -->
                    </div>
                    <?php

                    if(in_array((string)$_product->getSku(),$_arr)){ ?>
                        <div class="tag-cupones">
                            <span class="cupon">Tiene cupon </span>
                        </div>
                    <?php }
                    ?>
                    <?php
                    $productImage = $block->getImage($_product, $image,array('longdesc'=>$_helperVitrina->getUrlVitrina($_product, $_isVitrina, $block->getBaseUrl()) ));
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <figure class="grid__photo">
                        <a data-dl-product-view-detail="<?php echo $_product->getId(); ?>" href="<?= /* @escapeNotVerified */ $urlProduct ?>" class="grid__action" tabindex="-1">
                            <?= $productImage->toHtml() ?>
                        </a>
                    </figure>
                    <div class="grid__body">

                        <div class="grid__order">
                            <!-- Hotfix: INTPOSP-462 Inicio Cambian css-->
                            <div class="msmx-product-details">
                                <?= $block->getReviewsSummaryHtml($_product, $templateType, true) ?>
                                <div class="msmx-product-details-atributes">
                                    <?= $block->getProductDetailsHtml($_product) ?>
                                    <!-- Hotfix: INTPOSP-462 Se inserta el ícono de accesibilidad-->
                                    <span class="msmx-product__img">
                                        <img src="/media/wysiwyg/recortes/discapacidad.svg" alt="Accesibilidad" longdesc="/media/wysiwyg/recortes/discapacidad.svg" />
                                    </span>
                                </div>
                            </div>
                            <!-- Hotfix: INTPOSP-462 FIN Cambian css-->

                            <!-- A-Prepago-100: Thumbs de colores en malla  -->
                            <!-- <ul class="list-thumb">
                                <li class="list-thumb__item">
                                <input class="list-thumb__input" id="color1" type="radio" checked="checked" name="colors">
                                <label class="list-thumb__circle list-thumb__circle_5" for="color1"></label>
                                </li>
                                <li class="list-thumb__item">
                                <input class="list-thumb__input" id="color2" type="radio" name="colors">
                                <label class="list-thumb__circle list-thumb__circle_1" for="color2"></label>
                                </li>
                                <li class="list-thumb__item">
                                <input class="list-thumb__input" id="color3" type="radio" name="colors">
                                <label class="list-thumb__circle list-thumb__circle_3" for="color3"></label>
                                </li>
                                <li class="list-thumb__item">
                                <input class="list-thumb__input" id="color4" type="radio" name="colors">
                                <label class="list-thumb__circle list-thumb__circle_4" for="color4"></label>
                                </li>
                            </ul> -->
                            <!-- A-Prepago-100: Thumbs de colores en malla  -->

                            <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>

                            <a class="grid__action"
                               href="<?= /* @escapeNotVerified */ $urlProduct ?>">
                                <h2 class="grid__title">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </h2>
                                <p class="grid__ref" style="font-size: 0;">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?>
                                </p>
                            </a>
                        </div>


                        <div class="grid__footer">
                            <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                            <?php // $block->getProductDetailsHtml($_product) ?>
                            <div class="grid__center">
                                <div class="actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                    <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <div data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <!--<button type="submit"
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button> -->
                                            <a data-dl-product-view-detail="<?php echo $_product->getId(); ?>" class="btn " href="<?= /* @escapeNotVerified */ $urlProduct ?>" title="Ver Detalle">Ver detalle</a>
                                        </div>
                                    </div>
                                    <?php
                                    $stock_debug = \Magento\Framework\App\ObjectManager::getInstance()
                                        ->get('Magento\Framework\App\Config\ScopeConfigInterface')
                                        ->getValue('cataloginventory/item_options/debug_stock');
                                    ?>
                                    <?php if ($stock_debug) : ?>
                                    <?php if ($_product->isAvailable()): ?>
                                        <div style="background-color: #ffdd00; color: #fff; display: block; font-family: monospace; font-size: 16px; font-weight: bold; height: 24px; line-height: 12px; text-decoration: none; border-radius: 3px; position: relative;"><span style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 50%; height: 50%; margin: auto;"><?php echo /* @escapeNotVerified */ 'In stock'; ?></span></div>
                                    <?php else: ?>
                                        <div style="background-color: #ffdd00; color: #fff; display: block; font-family: monospace; font-size: 16px; font-weight: bold; height: 24px; line-height: 12px; text-decoration: none; border-radius: 3px; position: relative;"><span style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 50%; height: 50%; margin: auto;"><?php echo /* @escapeNotVerified */ 'Out of stock'; ?></span></div>
                                    <?php endif; ?>
                                    <?php endif; ?>
                                    <div data-role="coadd-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <?php if ($showDescription):?>
                                    <div class="product description product-item-description">
                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                        <a href="<?= /* @escapeNotVerified */ $urlProduct ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                           class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?= ($iterator == count($_productCollection)+1) ? '</article>' : '' ?>

            <?php endforeach; ?>
        </div>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>


    <script type="text/javascript">
         require([
            'jquery'
        ], function (
            $
        ) {
            <?php
                $_cfg_dl_split  = \Magento\Framework\App\ObjectManager::getInstance()
                                        ->get('Magento\Framework\App\Config\ScopeConfigInterface')
                                        ->getValue('datalayer/setttings/split');
            ?>

            //jQuery(document).ready(function() {
            jQuery(window).load(function() {
                window.dataLayer = window.dataLayer || [];
                var url = window.location.pathname;
                var isVitrina = false;
                <?php if($_isVitrina): ?>
                        isVitrina = true;
                <?php endif; ?>
                    
                if (url == '/telefonos.html' ||
                    url == "/terminales.html" ||
                    url == '/marca/apple.html' ||
                    url == '/marca/samsung.html' ||
                    url == '/marca/motorola.html' ||
                    url == '/marca/huawei.html' || isVitrina
                    )
                {
                    var impressions     = [];
                    var impressionsdl   = [];
                    var dl_split        = [];
                    var split_size      = <?php  echo $_cfg_dl_split; ?>;

                    if (url == '/telefonos.html' || url == '/terminales.html' || isVitrina) {
                        var dl_list     = 'Todos los productos';
                        if(!isVitrina){
                            var dl_position = 'Home|';
                        }else{
                            var dl_position = 'Vitrinas|';
                        }
                    }

                    if (url == '/marca/apple.html') {
                        var dl_list     = 'Apple';
                        var dl_position = 'Footer|';
                    }

                    if (url == '/marca/samsung.html') {
                        var dl_list     = 'Samsung';
                        var dl_position = 'Footer|';
                    }

                    if (url == '/marca/motorola.html') {
                        var dl_list     = 'Motorola';
                        var dl_position = 'Footer|';
                    }

                    if (url == '/marca/huawei.html') {
                        var dl_list     = 'Huawei';
                        var dl_position = 'Footer|';
                    }

                    <?php 
                        $cont_prod = 0;
                        foreach ($_productCollection as $_product): 
                            $cont_prod++;
                    ?>
                        impressions.push(
                            {
                                'name':         '<?php echo $_product->getName();   ?>',
                                'id':           '<?php echo $_product->getSku();    ?>',
                                <?php if(!$_renovaciones): ?>
                                    'price':        '<?php echo $_product->getPrice();  ?>',
                                <?php else: ?>
                                    'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',
                                <?php endif; ?>
                                'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                                'category':     'Celular',
                                'variant' :     'N/A',
                                'list':         dl_list,
                                'position':     dl_position + '<?= $cont_prod ?>',
                                'dimension28':  'Tienda Movistar'
                            }
                        );

                        impressionsdl.push(
                            {
                                'id': '<?php echo $_product->getId(); ?>',
                                'data':
                                    {
                                        'name':         '<?php echo $_product->getName(); ?>',
                                        'id':           '<?php echo $_product->getSku(); ?>',
                                        <?php if(!$_renovaciones): ?>
                                            'price':        '<?php echo $_product->getPrice();  ?>',
                                        <?php else: ?>
                                            'price':        '<?php echo round(($_product->getPrice()/24),2);  ?>',
                                        <?php endif; ?>
                                        'brand':        '<?php echo $_product->getResource()->getAttribute('marca')->getFrontend()->getValue($_product);  ?>',
                                        'category':     'Celular',
                                        'variant' :     'N/A',
                                        'list':         dl_list,
                                        'position':     dl_position + '<?= $cont_prod ?>',
                                        'dimension28':  'Tienda Movistar'
                                    }
                            }
                        );
                    <?php endforeach; ?>


                    while (impressions.length > 0)
                        dl_split.push(impressions.splice(0, split_size));

                    for (var i = 0; i < dl_split.length; i++) {
                        dataLayer.push({
                            'event': 'productImpression',
                            'ecommerce': {
                                'currencyCode': 'MXN',
                                'impressions': dl_split[i]
                            }
                        });
                    }


                    jQuery("a[data-dl-product-view-detail]").click(function (evt) {                        
                        var retr = jQuery(this).data('dl-product-view-detail');
                        var retrdl;

                        for(var key in impressionsdl) {

                            if (impressionsdl[key]['id'] == retr) {
                                retrdl = impressionsdl[key]['data'];
                            }
                        }

                        dataLayer.push({
                            'event': 'productClick',
                            'ecommerce': {
                                'click': {
                                    'actionField' : {'list' : dl_list},
                                    'products': [
                                        retrdl
                                    ]
                                }
                            }
                        });

                        <?php if($blockAgtm->isPortability()): ?>
                            function tageoPortaLoginSmartphone(paso, btnSelect){
                                dataLayer.push({
                                    'event' : 'evPortabilidad', //Static data
                                    'paso' : paso, //Dynamic data
                                    'btnSelect' :  btnSelect
                                });
                            }
                            tageoPortaLoginSmartphone('Smartphone','Con smartphone nuevo');
                        <?php endif; ?>
                    });
                }
            });
        });
    </script>
<?php endif; ?>

<style>
    .grid__tags_style{
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
