<?php
$blockObj 		= $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Index');
$data 			= $blockObj->getTagDetailProduct();
$product		= $blockObj->getProduct();

$objectManager 	= \Magento\Framework\App\ObjectManager::getInstance();
$StockState 	= $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$qty 			= $StockState->getStockQty($product['entity_id'], 0);   // store id hardcoded


$is_mvp = $blockObj->getBestSeller($product['entity_id']);

$_cfg_dl_up   	= \Magento\Framework\App\ObjectManager::getInstance()
                                        ->get('Magento\Framework\App\Config\ScopeConfigInterface')
                                        ->getValue('product_tags/setttings/ultimas_piezas');

?>
<div class="tags tags_hidden tags_hidden2 tags_columns">
	<?php
		if($data['tag_meses_sin_intereses'] == 1){
			echo '<span class="tag tag_blue">Meses sin interés</span>';
		}
		if($data['tag_promocion'] != "" && $data['tag_promocion'] != NULL && $data['tag_promocion'] != " "){
			echo '<span class="tag tag_purple">'.$data['tag_promocion'].'</span>';
		}
	    if($data['tag_nuevo'] == 1){
	    	 echo '<span class="tag tag_blue">!Nuevo!</span>';
	    }
	    if($data['tag_accesibilidad'] == 1){
	    	 echo '<span class="tag tag_blue">Accesibilidad</span>';
	    }	    
	    if($data['tag_caja_da_ada'] == 1){
	    	 echo '<span class="tag tag_blue">Caja dañada</span>';
	    }
	    if($data['tag_combo'] == 1){
	    	 echo '<span class="tag tag_blue">Combo</span>';
	    }
	    if($data['tag_combo_regalo_oferta'] == 1){
	    	 echo '<span class="tag tag_blue">Combo oferta de regalo</span>';
	    }
	    if($data['tag_cupon_descuento'] != "" && $data['tag_cupon_descuento'] != NULL && $data['tag_cupon_descuento'] != " "){
	    	 echo '<span class="tag tag_blue">'.$data['tag_cupon_descuento'].'</span>';
	    }
	    if($data['tag_desbloqueado'] == 1){
	    	 echo '<span class="tag tag_blue">Desbloqueado</span>';
	    }
	    if($data['tag_envio_gratis'] == 1){
	    	 echo '<span class="tag tag_blue">Envio Gratis</span>';
	    }
	    if($data['tag_exclusivo_online'] == 1){
	    	 echo '<span class="tag tag_blue">Exclusivo Online</span>';
	    }
	    if($data['tag_hasta_x_descuento'] != "" && $data['tag_hasta_x_descuento'] != NULL && $data['tag_hasta_x_descuento'] != " "){
	    	 echo '<span class="tag tag_blue">'.$data['tag_hasta_x_descuento'].'</span>';
	    }
	    if($data['tag_hot'] == 1){
	    	 echo '<span class="tag tag_blue">Hot</span>';
	    }
	    if($data['tag_lanzamiento'] == 1){
	    	 echo '<span class="tag tag_blue">Lanzamiento</span>';
	    }
	    if($data['tag_mas_vendido'] == 1 && $is_mvp){
	    	 echo '<span class="tag tag_blue">Mas vendido</span>';
	    }
	    if ($data['tag_ultimas_piezas'] == 1 && $qty < $_cfg_dl_up) {
	    	 echo '<span class="tag tag_blue">Ultimas piezas</span>';
	    }	    
	    if($data['tag_mejor_opcion'] == 1){
	    	 echo '<span class="tag tag_blue">Mejor opción</span>';
	    }
	    if($data['tag_oferta'] == 1){
	    	 echo '<span class="tag tag_blue">Oferta</span>';
	    }
	    if($data['tag_oferta_tiempo_limitado'] == 1){
	    	 echo '<span class="tag tag_blue">Oferta tiempo limitado</span>';
	    }
	    if($data['tag_outlet'] == 1){
	    	 echo '<span class="tag tag_blue">Outlet</span>';
	    }
	    if($data['tag_preventa'] == 1){
	    	 echo '<span class="tag tag_blue">Preventa</span>';
	    }
	    if($data['tag_reacondicionado'] == 1){
	    	 echo '<span class="tag tag_blue">Recondicionado</span>';
	    }
	    if($data['tag_recomendado'] == 1){
	    	 echo '<span class="tag tag_blue">Recomendado</span>';
	    }
	?>
</div>