<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product description template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
/** @var $blockRating \Magento\Review\Block\Form $block */

$blockObj= $block->getLayout()->createBlock('Magento\Review\Block\Form');
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

?>

<div class="layout-flex__row">
    <!-- List-ico-->
    <!-- <dl class="list-ico">
        <dt class="list-ico__txt">Compartir</dt>
        <dd class="list-ico__item">
            <a class="list-ico__link i-facebook-comic" href="#" title="Compartir en Facebook">Compartir en facebook</a>
        </dd>
        <dd class="list-ico__item">
            <a class="list-ico__link i-twitter-comic" href="#" title="Compartir en Facebook">Compartir en Twitter</a>
        </dd>
        <dd class="list-ico__item">
            <a class="list-ico__link i-chat" href="#" title="Compartir en Facebook">Compartir en Whatsapp</a>
        </dd>
        <dd class="list-ico__item">
            <a class="list-ico__link i-email" href="#" title="Compartir en Facebook">Compartir por correo</a>
        </dd>
    </dl> -->
</div>

<?php /*
<div class="control">
    <div class="nested" id="product-review-table">
        <?php foreach ($blockObj->getRatings() as $_rating): ?>
            <div class="field choice review-field-rating">
                Valoración
                <div class="control review-control-vote">
                    <?php $options = $_rating->getOptions();?>
                    <?php $iterator = 1; foreach ($options as $_option): ?>
                        <input
                            type="radio"
                            name="ratings[<?= $blockObj->escapeHtmlAttr($_rating->getId()) ?>]"
                            id="<?= $blockObj->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $blockObj->escapeHtmlAttr($_option->getValue()) ?>"
                            value="<?= $blockObj->escapeHtmlAttr($_option->getId()) ?>"
                            class="radio"
                            data-validate="{ 'rating-required':true}"
                            aria-labelledby="<?= $blockObj->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label <?= $blockObj->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $blockObj->escapeHtmlAttr($_option->getValue()) ?>_label" />
                        <label
                            class="rating-<?= $blockObj->escapeHtmlAttr($iterator) ?>"
                            for="<?= $blockObj->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $blockObj->escapeHtmlAttr($_option->getValue()) ?>"
                            title="<?= $blockObj->escapeHtmlAttr(__('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star')) ?>"
                            id="<?= $blockObj->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $blockObj->escapeHtmlAttr($_option->getValue()) ?>_label">
                            <span><?= $blockObj->escapeHtml(__('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star')) ?></span>
                        </label>
                        <?php $iterator++; ?>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <input type="hidden" name="validate_rating" class="validate-rating" value="" />
</div>
 */ ?>