<?php
$blockM = $block->getLayout()->createBlock('Vass\RechargeStatus\Block\Index');
$link_base = $this->getBaseUrl();
$cel = $blockM->getId('dnfinal');
$monto = $blockM->getId('montofinal');
$servicios = $blockM->getId('servicios');
$arrayServicios = explode(",", $servicios);
$paquete = $blockM->getId('paquete');
$codrecarga = $blockM->getId('codrecarga');
?>

<div class="layout_section">
    <article class="board">
        <div class="card-ico card-ico__ok">
            <h1 class="card-ico__title i-check-ring">¡Tu recarga ha sido exitosa!</h1>
            <p class="card-ico__txt">Tu pago fue aprobado y tu recarga está siendo procesada.</p>
            <p class="card-ico__txt">Número de folio: <?php echo $block->escapeHtml($codrecarga); ?> </p>
        </div>
        <div class="board__inner">
            <div class="detail-board__cont">
                <div class="detail-board__header detail-board__header_twocols">
                    <h4 class="detail-board__subtitle">Resumen de la compra</h4>
                    <h4 class="detail-board__subtitle detail-board__subtitle-price detail-board__subtitle-price--right">Pago</h4>
                </div>
                <div class="detail-row-order">
                    <dl class="detail-row-order__row detail-row-order__row_twocols">
                        <dt class="detail-row-order__label"><?php echo $block->escapeHtml($paquete); ?></dt>
                        <dd class="detail-row-order__value">$<?php echo $block->escapeHtml($monto); ?></dd>
                    </dl>
                    
                    <?php if (count($arrayServicios) > 1): ?>
                    <dl class="detail-row-order__row detail-row-order__row_twocols">
                        <dt class="detail-row-order__label">Servicios</dt>
                        <dd class="detail-row-order__value"></dd>
                    </dl>
                    
                        <dl class="detail-row-order__row detail-row-order__row_twocols">
                            <dt class="detail-row-order__label detail-row-order__label_services">
                                <?php
                                    foreach ($arrayServicios as $clave => $valor) {
                                        if ($valor == 4) {
                                            echo'<div class="mi-whatsapp"></div>';
                                        }
                                        if ($valor == 5) {
                                            echo '<div class="mi-facebook-comic"></div>';
                                        }
                                        if ($valor == 6) {
                                            echo '<div class="mi-twitter-comic"></div>';
                                        }
                                        if ($valor == 7) {
                                            echo '<div class="mi-snapchat"></div>';
                                        }
                                        if ($valor == 8) {
                                            echo '<div class="mi-instagram"></div>';
                                        }
                                        if ($valor == 'sms') {
                                            echo '<div class="i-chat"></div>';
                                        }
                                        if ($valor == 'voice') {
                                            echo '<div class="i-phone"></div>';
                                        }
                                    }
                                ?>
                            </dt>
                            <dd class="detail-row-order__value">GRATIS</dd>
                        </dl>
                    <?php endif; ?>
                    <dl class="detail-row-order__row detail-row-order__row_twocols">
                        <dt class="detail-row-order__label">TOTAL</dt>
                        <dd class="detail-row-order__value">$<?php echo $block->escapeHtml($monto); ?></dd>
                    </dl>
                </div>
            </div>
            <div class="detail-board__prefoot">
                <div class="detail-board__side">
                    <h3 class="board__txt subtitle_gral">
                        Gracias por realizar tu recarga por este medio.
                    </h3>
                    <p class="board__txt">
                        
                    </p>
                </div>
                <div class="detail-list-order">
                    <dl class="detail-list-order__row" style="display: none;">
                        <dt class="list-order__label">Impuestos</dt>
                        <dd class="list-order__value">$0</dd>
                    </dl>
                    <dl class="detail-list-order__row">
                        <dt class="list-order__label detail-subtitle_gral">Total</dt>
                        <dd class="list-order__value">$<?php echo $block->escapeHtml($monto); ?></dd>
                    </dl>
                </div>
            </div>
            <footer class="board__foot">
                <div class="detail-offer">
                    <h2 class="detail-offer__title"></h2>
                </div>
                <a class="board__btn btn not-underline" href="<?php echo $block->escapeUrl($link_base); ?>" title="Ir al Home">
                    Ir a la Página de Inicio
                </a>
                <a class="board__link link__brand" href="<?php echo $block->escapeUrl($link_base . 'recarga-publica'); ?>" title="Recargar otra vez">
                    Recargar otra vez
                </a>
            </footer>
        </div>
    </article>
</div>

<script>
    require([
        'jquery',
        'matchMedia',
        'mage/tabs',
        'slick',
        'asrange',
        'validateJQ',
        'addMethods',
        'modernizr',
        'flatpickr',
        'confirmDatePlugin',
        'flatpickres',
        'sly',
        'croppie',
        'autocomplete',
        'domReady!',
    ], function ($) {

        
    });
</script>