<?php
/** @var \Vass\WidgetPlanesPre\Block\Product\ProductsList $block */
?>

<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';
    $mode = 'grid';
    $image = 'favorite_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
    $typeDisplay = $block->escapeHtml(__($block->getTipo()));
    $sliderCount = 0;
    $link_base = $this->getBaseUrl();
    /* PREPAGO: Prepago-22 Variables clonadas */
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";
?>
    <!-- Fieldset  #3 -->
    <div class="vsm-form__fieldset" id="planeshidden" data-tipo="<?= $typeDisplay ?>" style="opacity: 0;height:1px;overflow: hidden;">

        <div class="vsm-steps steps__legend">
            <span class="steps__head">
                <small class="head__title">Compra un Movistar y aprovecha los beneficios que tienes en tu primera recarga </small>
            </span>
        </div>
        <div class="vsm-inner_canvas">
            <div class="vsm-steps__cont steps__cont">
                <!-- Spinner -->
                <span class="spinner js-SpinnerTime"></span>
                
                <!-- Slider de Parrillas -->
                <div style="border: none; height: 20px;"></div>
                <div class="vsm-slider slider__cards slider__cards_full js-slideRecharge">
                    <?php foreach ($items as $_item): ?>
                        <?php
                            $itemId = $_item->getId();
                            $productAttributes = $block->getAttributes($itemId);
                            if(!$productAttributes->getPlanControlEnabled()){
                            $itemDescription = $_item->getShortDescription();

                            $first = $_item->getName();
                            
                            $vigencia = $productAttributes->getVigenciaPla();
                            $minPlan = $productAttributes->getMinutosSmsPlan();
                            $moviPlan = $productAttributes->getMovistarCloudPlan();
                            $video = $productAttributes->getVideo();
                            $imgPromo = $productAttributes->getUrlDecorativeImage();
                            $htmlRedesSociales = $productAttributes->getHtmlSocialNetwork();
                            $htmlVideo = $productAttributes->getHtmlVideo();
                            $htmlLlamadas = $productAttributes->getHtmlCall();
                            $imgSup = $productAttributes->getUrlDecorativeImage();
                            $sociales = $productAttributes->getRedesSocialesIlimitadas();
                            
                            //$labelPlanControl = $productAttributes->getResource()->getAttribute('plan_control')->getFrontend()->getValue($productAttributes);
                            $sliderCount++;
                            if ($sliderCount == 1) {
                                $bgheader = "bg-blue ";
                            }else{
                                $bgheader = "bg-purple";
                            }
                            $ballon = $productAttributes->getTagBalloonEnabled();
                            $star = $productAttributes->getTagStarEnabled();
                        ?>
                            <div class="vsm-slider__card slider__cards_item js-cardDropdown">
                                <!--Prepago: PREPAGO-22 CardSlider-->                            
                                <div class="vsm-card card card_check js-cardCheck">
                                    <!-- Header card Variable = $bgheader -->
                                    <header class="card__header bg-blue">
                                        <!-- PHP: Descripción oculta-->
                                        <?php echo "<div class='oculto' style='display:none;'>$itemDescription</div>"; ?>
                                        
                                        <div class="card__header-item">
                                            <span class="tag tag_blue"></span>
                                            <!-- Variable: PREPAGO-22 Cantidad de MB -->
                                            <small class="txt-through_red underline-bold"></small>
                                            <!-- Variable: PREPAGO-22 Título Cantidad de MB -->
                                            <p class="card__title"></p>
                                            <span class="txt_bold"></span>
                                            <!-- Etiqueta de promoción-->
                                            <div class="card__position">
                                                <div class="vsm-tag-svg tag-svg">
                                                    <img class="tag-svg__img" src="<?= $imgPromo ?>" alt="Promoción">
                                                    <span class="tag tag_bg-green">
                                                        <p class="txt-hand">Doble</p>
                                                        <strong class="txt-hand">de</strong>
                                                        <small class="txt-sm">megas</small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__header-info card_mobile">
                                            <div class="card__header-row">
                                                <p class="card__txt-high">
                                                    <?= $priceHelper->currency($block->getProductByAttribute($_item->getId(), 'price'), true, false); ?>
                                                </p>
                                            </div>
                                            <!-- Botón desplegable-->
                                            <button class="card__header-btn i-arrow-down js-cardDropdownBtn" type="button">
                                                Desplegable
                                            </button>
                                        </div>
                                    </header>
                                    <!-- Content in rows-->
                                    <div class="card__wrap js-cardWrap">
                                        <div class="card__content">
                                            <?php if ($sociales == 1) { ?>
                                                <?php if ($htmlRedesSociales != "" || $htmlRedesSociales != null) : ?>
                                                    <!-- row -->
                                                    <div class="card__item card__item_socials">

                                                        <?= $htmlRedesSociales ?>

                                                    </div>
                                                <?php endif; ?>
                                            <?php } ?>

                                            <!-- row -->
                                            <!-- Se omite:  $block->escapeHtml(__($minPlan)) -->
                                            <?php if ($htmlVideo != "" || $htmlVideo != null) : ?>
                                                <div class="card__item card__item_video">
                                                    <?= $htmlVideo ?>
                                                </div>
                                            <?php endif; ?>

                                            <!-- row -->
                                            <?php if ($htmlLlamadas != "" || $htmlLlamadas != null) : ?>
                                                <div class="card__item card__item_plans">
                                                    <?= $htmlLlamadas ?>
                                                </div>
                                            <?php endif; ?>

                                            <!-- row -->
                                            <div class="card__item">
                                                <small class="txt-small">Vigencia</small>
                                                <p class="card__txt"><?= $vigencia ?></p>
                                            </div>
                                            <!-- row -->
                                            <div class="card__item card__item_no-border">
                                                <!-- Variable: PREPAGO-22 Precio o total que se pinta siempre en la parte inferior, repitiendo el dato de precio de la parte superior de la parrilla sólo para mobile-->
                                                <p class="card__txt-high js-pricePlan">
                                                    <?= $priceHelper->currency($block->getProductByAttribute($_item->getId(), 'price'), true, false); ?>    
                                                </p>
                                            </div>
                                            <!-- row -->
                                            <div class="card__item">
                                                <!-- Variable: PREPAGO-22 Botón comprar-->
                                                <button class="card__btn btn submitprepago" data-sim="<?= $itemId ?>" type="submit">Comprar</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--Prepago: PREPAGO-22 CardSlider FIN--> 
                            </div>    
     
                        <?php } ?>
                    <?php endforeach; ?>


                </div>
                <div class="vsm-slider__controls">
                    <button class="slider__arrow i-arrow-left prev" type="button"><span class="slider__arrow-txt">anterior</span></button>
                    <button class="slider__arrow i-arrow-right next" type="button"><span class="slider__arrow-txt">siguiente</span></button>
                </div>




                <!-- #Fin Slider de Parrillas -->

                <!-- Copy -->
                <div class="vsm-form__copy">
                    <a class="steps__link link__brand" id="sinRecarga" href="#" alt="No quiero agregar una recarga"> 
                        No quiero agregar una recarga
                    </a>
                    <small class="txt-small">Tarifa de excedente de megas de $0.98 MXN en recargas superiores a $10 MXN</small>
                </div>
            </div>
        </div>
        <!-- Prepago: PREPAGO-22 prefoot términos y condiciones -->
        <div class="steps__foot">
            <article class="steps__foot_inner">
                <!-- <h3 class="title-foot">
                    <a target="_blank" href="https://www.movistar.com.mx/tyc/prepago" title="Términos y condiciones">
                        Términos y condiciones
                    </a>
                </h3>
                <p class="txt-small">Constancias(s) del Sistema Electrónico de Registro de IFT 161861, 161856, 162014, 162008, 162010, 162003, 161977, 161986, 161994, 161988. Para mayor información visita http://rpc.ift.org.mx/rpc/</p> -->
                <?php
                    $tac_status         =  $this->helper('Vass\PosVitrinaTerminal02Pre\Helper\Data')->getConfig('cms/movistar_prepago/tac_enable');
                    $tac_cms_block_id   =  $this->helper('Vass\PosVitrinaTerminal02Pre\Helper\Data')->getConfig('cms/movistar_prepago/tac_cms_block_id');

                    if ($tac_status && $tac_cms_block_id !== null) {
                        echo $this->getLayout()
                            ->createBlock('Magento\Cms\Block\Block')
                            ->setBlockId($tac_cms_block_id)
                            ->toHtml();
                    }    
                ?>
            
            </article>
        </div>
        <!-- Prepago: PREPAGO-22 FIN  prefoot términos y condiciones -->
    </div>
<?php endif;?>


<script type="text/javascript">
    require([
        'jquery',
        'slick',
    ], function ($) {
        $(document).ready(function(){
        //$(window).on('resize', function() {
            if ($(window).width() > 767) {
                $(".js-slideRecharge").slick({
                    //min-width:1024px 
                    slidesToShow: 3,
                    prevArrow: $(".prev"),
                    nextArrow: $(".next"),
                    //centerMode: true,
                    responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            centerMode: true
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: "unslick"
                    }
                    ]
                });
            }

            $( ".card__header" ).each(function( index ) {
                var fila1 = $(this).find(".fila1").html();
                var fila2 = $(this).find(".fila2").html();
                var fila3 = $(this).find(".fila3").html();
                var fila4 = $(this).find(".fila4").html();
                var fila5 = $(this).find(".fila5").html();
                var fila6 = $(this).find(".fila6").html();
                $(this).find('.tag.tag_blue').html(fila1);
                $(this).find('.txt-through_red').html(fila2);
                $(this).find('.card__title').html(fila3);
                $(this).find('.txt_bold').html(fila4);

            });

            var sinRecarga = $("[id='SIM UNIVERSAL']").val();
            $(document).on("click","#sinRecarga",function(e) {
                e.preventDefault();
                $('#plan_id').val(sinRecarga);
                $('#formSim').submit();
            });

            var maxHeight = 0;

            $(".card__item_socials").each(function(){
                console.log($(this).outerHeight());
                if ($(this).outerHeight() > maxHeight) { maxHeight = $(this).outerHeight(); }
            });

            $(".card__item_socials").css('min-height', maxHeight);

            var maxHeight = 0;

            $(".card__item_video").each(function(){
                console.log($(this).outerHeight());
                if ($(this).outerHeight() > maxHeight) { maxHeight = $(this).outerHeight(); }
            });

            $(".card__item_video").css('min-height', maxHeight);

            var maxHeight = 0;

            $(".card__item_plans").each(function(){
                console.log($(this).outerHeight());
                if ($(this).outerHeight() > maxHeight) { maxHeight = $(this).outerHeight(); }
            });

            $(".card__item_plans").css('min-height', maxHeight);

        });
    });
</script>