<?php                                    
$idCustomer = $block->getId('id');
$sql = "SELECT t.*, c.rfc, c.email, q.customer_firstname, q.customer_middlename, q.customer_lastname, t.telephone, c.rfc 
        FROM vass_tracking_abandonedcarts_log t, quote q, customer_entity c 
        WHERE c.entity_id = q.customer_id 
        AND q.entity_id = t.id_cart 
        AND c.entity_id = " . $idCustomer;

$abandoned_cart = $block->getSelectAbandonedCart($sql);
?>

<form action="<?=$block->getUrl('abandonedcarts/event/formedit');?>" method="post" id="enviarinformacion" enctype="multipart/form-data">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button id="save" title="Save Contact" onclick="showLoader();" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span>Actualizar</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Introduzca los cambios deseados</span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content _hide">
            <fieldset class="admin__fieldset">
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE">
                        <span>ID Cart</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="id_cart" id="id_cart" title="ID Cart" value="<?= $abandoned_cart['id_cart'] ?>" readonly>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE">
                        <span>Google ID</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="google_id" id="google_id" title="Google ID" value="<?= $abandoned_cart['google_id'] != "" ? $abandoned_cart['google_id'] : "Sin datos" ?>" readonly>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE2">
                        <span>Paso del Checkout</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="checkout_step" id="checkout_step" title="Checkout Step" value="<?= $abandoned_cart['checkout_step'] ?>" readonly>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE2">
                        <span>Tipo de Banco</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="tipo_banco" id="tipo_banco" title="Tipo Banco" value="<?= $abandoned_cart['tipo_banco'] != "" ? $abandoned_cart['tipo_banco'] : "Sin datos" ?>" readonly>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE2">
                        <span>Domicilio</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="domicilio" id="domicilio" title="Domicilio" value="<?= $abandoned_cart['domicilio'] != "" ? $abandoned_cart['domicilio'] : "Sin datos" ?>" readonly>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE2">
                        <span>Productos</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="productos" id="productos" title="Productos" value="<?= $abandoned_cart['productos'] ?>" readonly>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE2">
                        <span>Estatus</span>
                    </label>
                    <div class="admin__field-control">
                        <select class="select admin__control-select" form="enviarinformacion" name="status">
                            <?php if ($abandoned_cart['status'] == "Nuevo") : ?>
                                <option value="Nuevo" selected>Nuevo</option>
                                <option value="Venta">Venta</option>
                                <option value="Rechazo">Rechazo</option>
                                <option value="Ilocalizable">Ilocalizable</option>
                            <?php elseif ($abandoned_cart['status'] == "Venta") : ?>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Venta" selected>Venta</option>
                                <option value="Rechazo">Rechazo</option>
                                <option value="Ilocalizable">Ilocalizable</option>
                            <?php elseif ($abandoned_cart['status'] == "Rechazo") : ?>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Venta">Venta</option>
                                <option value="Rechazo" selected>Rechazo</option>
                                <option value="Ilocalizable">Ilocalizable</option>
                            <?php elseif ($abandoned_cart['status'] == "Ilocalizable") : ?>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Venta" >Venta</option>
                                <option value="Rechazo">Rechazo</option>
                                <option value="Ilocalizable" selected>Ilocalizable</option>
                            <?php else : ?>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Venta" >Venta</option>
                                <option value="Rechazo">Rechazo</option>
                                <option value="Ilocalizable">Ilocalizable</option>
                            <?php endif; ?>
                        </select>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE2">
                        <span>Comentario</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text" type="text" name="comment" id="comment" title="Comentario" value="<?= $abandoned_cart['comment'] ?>">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>


<div class="fieldset-wrapper">
    <div class="fieldset-wrapper-title">
        <strong class="title">
            <span>Detalles del cliente:</span>
        </strong>
    </div>
    <div class="admin__fieldset-wrapper-content _hide">
        <fieldset class="admin__fieldset">
            <div class="admin__field">
                <label class="admin__field-label">
                    <span>Nombre:</span>
                </label>

                <div class="admin__field-control control">
                    <label cass="admin__control-text"><?php echo $abandoned_cart['customer_firstname']; ?></label>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label">
                    <span>Apellidos:</span>
                </label>

                <div class="admin__field-control control">
                    <label cass="admin__control-text"><?php echo $abandoned_cart['customer_middlename']." ".$abandoned_cart['customer_lastname']; ?></label>
                </div>
            </div>

            <div class="admin__field">
                <label class="admin__field-label">
                    <span>Telefono:</span>
                </label>

                <div class="admin__field-control control">
                    <label cass="admin__control-text"><?php echo $abandoned_cart['telephone']; ?></label>
                </div>
            </div>
            <div class="admin__field">
                <label class="admin__field-label">
                    <span>E-Mail:</span>
                </label>

                <div class="admin__field-control control">
                    <label cass="admin__control-text"><?php echo $abandoned_cart['email']; ?></label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
