<?php
$type = 'widget-product-grid';
$mode = 'grid';
$image = 'favorite_products_content_widget_grid';
$items = $block->getOtrosPlanes();
$showWishlist = true;
$showCompare = true;
$showCart = true;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
$description = false;
$priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$typeDisplay = $block->escapeHtml(__($block->getTipo()));
$sliderCount = 0;
$link_base = $this->getBaseUrl();
?>

<div class="layout_section no__top" id="planeshidden" data-tipo="<?= $typeDisplay ?>" style="opacity: 0;height:1px;    overflow: hidden;">
    <div class="layout_inner steps__block" style="text-align: center;max-width: 800px;" id="hideinfo">
        <p class="txt-high" style="font-size: 30px;">
            Desafortunadamente nuestra oferta no está disponible en tu zona, pero tenemos estas grandes opciones de planes para ti:
        </p>
        <a class="link__brand" id="reintenta-cp" href="#gotoAttaker" alt="Reintentar con otro código postal">
            Reintentar con otro código postal
        </a>
    </div>          
    <div class="inner_canvas tag_inner">
        <div class="c-steps__cont steps__cont"><span class="spinner js-SpinnerTime"></span>

            <div class="slider__cards slider__cards_full js-slideCardsCheck">
                <?php foreach ($items as $_item): ?>                        
                    <?php
                    $itemId = $_item->getId();

                    $itemDescription = $_item->getShortDescription();
                    $aux_first = explode($block->_helperPlanes->getSeparadorNombre(), $_item->getName());
                    if (isset($aux_first[1]) && isset($aux_first[2])) {
                        $first = $aux_first[1] . "<p>" . $aux_first[2] . "</p>";
                    } else {
                        $first = $_item->getName();
                    }
                    $minPlan = $_item->getMinutosSmsPlan();
                    $planAsociado = $_item->getPlanAsociado(); //revisnado la BD, se nota que el plan asociado es el plan control
                    $sociales = $_item->getRedesSocialesIlimitadas();
                    $labelPlanControl = $_item->getResource()->getAttribute('plan_control')->getFrontend()->getValue($_item);
                    $labelPlanControlBr = $block->str_replace_first(' ','<br/>',$labelPlanControl);
                    $sliderCount++;
                    if ($sliderCount == 1) {
                        $bgheader = "bg-blue ";
                    } else {
                        $bgheader = "bg-blue";
                    }
                    $ballon = $_item->getTagBalloonEnabled();
                    $ballon_url = $this->getUrl('pub/media/product_ribbon/', ['_secure' => $this->getRequest()->isSecure()]) . $_item->getCorcholataUrl();
                    $tyc_url = $_item->getPlanTycRenovacionUrl();
                    
                    if($block->isControlAvailable()){
                        $plan_elegible = $planAsociado;
                    }else{
                        $plan_elegible = $_item->getId();
                    }
                    ?>
                    <div class="slider__cards_item js-cardDropdown">
                        <!--HOTFIX-INTPOSP-711: Altura de las parrillas -->
                        <div class="c-card card card_check js-cardCheck">
                            <header class="card__header <?= $bgheader ?>">
                                <span class="name_complete" style="display: none;"><?= $first; ?></span>
                                <?php echo "<div class='oculto' style='display:none;'>$itemDescription</div>"; ?>
                                <div class="card__header-item">
                                    <!-- Texto Plan -->
                                    <p class="card__tag-txt">

                                    </p>
                                    <!-- Título Plan -->
                                    <h2 class="card__title">

                                    </h2>

                                    <!-- Lista de iconos **Mobile**-->
                                    <?php if ($sociales == 1) : ?>
                                        <p class="card__txt plan_detail_mobile">Redes sociales ilimitadas*</p>
                                    <?php endif; ?>
                                    <!-- Etiqueta fixed de promoción -->
                                    <div class="card__position tag__wrapper">
                                        <small class="card__txt">

                                        </small>
                                        <!-- Etiqueta de promoción-->
                                        <div class="tag-svg tag--spacer disappear">
                                            <?php if ($ballon == 0): ?>
                                                <img class="tag-svg__img" src="<?php echo $link_base . "media/wysiwyg/recortes/star.svg" ?>" title="Promoción" alt="star" longdesc="<?= $link_base . "media/wysiwyg/recortes/star.svg" ?>">
                                                <span class="tag tag_bg-green tag--padding">
                                                    <span class="txt">Promoción</span>
                                                    <strong class="txt-strong">
                                                        <?php echo $priceHelper->currency($_item->getPrice(), true, false); ?>
                                                    </strong>
                                                </span>
                                            <?php else: ?>
                                                <img class="tag-svg__img" src="<?php echo $ballon_url; ?>" title="Promoción" alt="circle" longdesc="<?php echo $ballon_url; ?>">
                                                <span class="tag tag_bg-green">
                                                    <p class="txt-hand">Doble de</p>
                                                    <strong class="txt-strong">GB</strong>
                                                    <small class="txt-sm">por un año</small>
                                                </span>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="card_desktop card__header-block">
                                        <small class="card__tag-txt two">

                                        </small>
                                        <small class="card__txt">

                                        </small>
                                        <small class="card__txt-sm">

                                        </small>
                                    </div>
                                </div>
                                <div class="card__header-info card_mobile">
                                    <div class="card__header-row">
                                        <p class="card__txt-through txt_through"></p>
                                        <p class="card__txt-high">
                                            <?= $priceHelper->currency($_item->getPrice(), true, false); ?>
                                            <small class="card__header-small"><?= __('/mes') ?></small>
                                        </p>
                                    </div>
                                    <!-- Botón desplegable-->
                                    <button class="card__header-btn i-arrow-down js-cardDropdownBtn" type="button">
                                        Desplegable
                                    </button>
                                </div>
                            </header>
                            <!-- Content in rows-->
                            <div class="card__wrap js-cardWrap">
                                <div class="card__content">
                                 <div class="card__content5">
                                    <div class="card__item">
                                        <p class="card__txt-bold js-highText">
                                            <?= $first; ?>
                                        </p>
                                    </div>
                                    <?php if ($sociales == 1) { ?>
                                        <!--<div class="card__item">
                                            <p class="card__txt card__txt2 ">Redes sociales ilimitadas*</p>
                                        </div>-->

                                        <div class="card__item card__item_socials" style="min-height: 115px;">

                                            <!-- Sección redes sociales -->
                                            <p><small class="txt-small">Redes sociales</small></p>
                                            <!--PREPAGO: PREPAGO-22 Lista de iconos-->
                                            <ul class="vsm-list-ico list-ico">
                                            <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-twitter.svg" alt="twitter"></li>
                                            <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-facebook.svg" alt="facebook"></li>
                                            <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-instagram.svg" alt="instagram"></li>
                                            <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-whatsapp.svg" alt="whatsapp"></li>
                                            <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-snapchat.svg" alt="snapchat"></li>
                                            <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-messenger.svg" alt="messenger"></li>
                                            </ul>
                                            <p class="card__txt card__txt2">Ilimitados</p>
                                        </div>
                                    <?php } ?>
                                    <div class="card__item">
                                        <p class="card__txt card__txt2">
                                            <?= $block->escapeHtml(__($minPlan)) ?>
                                        </p>
                                        <small class="txt-small txt-small2">(en México, Estados Unidos y Canadá)</small>
                                    </div>                                        
                                    
                                    </div>
                                    <footer class="card__foot">
                                    <div class="card__item no-border-bottom">
                                        <?php if(!$block->isControlAvailable()):  ?>
                                            <p class="card__txt-high js-pricePlan black">
                                                <?= $priceHelper->currency($_item->getPrice(), true, false); ?>
                                                <small class="card__header-small"><?= __('/mes') ?></small> 
                                            </p>
                                        <?php endif; ?>
                                        <div class="card__row_inline">
                                            <div class="c-card__group distinct__margin">
                                                <input class="form__check i-check-planes value-plan-id" type="checkbox" id="checkplan<?= $block->escapeHtml(__($sliderCount)) ?>" name="checkplanes" productId="<?= $planAsociado; ?>" data-product-id="<?= $planAsociado ?>" no-control-id="<?= $itemId; ?>"/>
                                                <?php if($block->isControlAvailable()):  ?>
                                                    <label class="form__label_check i-check i-check-planes value-plan-id" for="checkplan<?= $block->escapeHtml(__($sliderCount)) ?>" productId="<?= $planAsociado; ?>" data-product-id="<?= $planAsociado ?>"  no-control-id="<?= $itemId; ?>" style="display: none;">
                                                        <?= $block->escapeHtml(__($labelPlanControl)) ?>
                                                    </label>
                                                    <label class="form__label_check big-letter"><?= __($labelPlanControlBr) ?></label>
                                                    <div class="tool-box" onmouseover="showTip(this)" onmouseleave="noTip(this)">
                                                        <button class="btn-i i-question-ball js-btnTooltipData nc-color danger btn__help5" type="button">
                                                            <?= __('Pregunta') ?>
                                                        </button>
                                                        <div class="tool i-tooltip js-tooltipData js-tooltipData-close tool5">
                                                            <p class="tool__txt">
                                                                <?= __('Al renovar tu plan seguirá siendo control') ?>
                                                            </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                        <button class="card__btn btn js-cardCheckBtn value-plan-id-button" type="button" title="<?= $plan_elegible; ?>" slider-count="<?= $block->escapeHtml(__($sliderCount)) ?>">
                                            <?= __('Lo quiero') ?>
                                        </button>
                                        <p class="card__success i-check"><?= __('Plan seleccionado') ?></p>
                                        <button class="steps__link link__brand nc-color" type="button"></button>
                                    </footer>
                                </div>
                                <div class="card__foot-box">
                                    <?php if ($sociales == 1) { ?>
                                        <!--<small class="txt-sm" style="margin-bottom: 10px;">*Instagram, Snapchat, Uber, Facebook, Twitter y Whatsapp.</small>-->
                                    <?php } else { ?>
                                        <!--<small class="txt-sm" style="margin-bottom: 10px;">&nbsp;<br>&nbsp;</small>-->
                                    <?php } ?>
                                    <?php if ($tyc_url) : ?>
                                        <p style="text-align: center; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;" data-ambiente="Prod"><a class="steps__link link__brand" href="<?php echo $tyc_url; ?>" target="_blank">Ver Términos y Condiciones</a></p>
                                    <?php endif; ?>
                                </div>
                            </div>

                        </div>
                    </div>

                <?php endforeach; ?>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    require([
        'jquery'
    ], function (
            $
            ) {
        $(document).ready(function () {
            $(".card__header").each(function (index) {
                if ($(this).find(".fila1").length) {
                    var fila1 = $(this).find(".fila1").html();
                    var fila2 = $(this).find(".fila2").html();
                    var fila3 = $(this).find(".fila3").html();
                    var fila4 = $(this).find(".fila4").html();
                    var fila5 = $(this).find(".fila5").html();
                    var fila6 = $(this).find(".fila6").html();
                    $(this).find('.card__tag-txt').html(fila1);
                    $(this).find('.card__title').html(fila2);
                    $(this).find('.card__tag-txt.two').html(fila3);
                    $(this).find('.card__txt').html(fila4);
                    $(this).find('.card__txt-sm').html(fila5);
                } else {
                    var name = $(this).find(".name_complete").html();
                    $(this).find('.card__tag-txt.two').html(name);
                }
            });
        });
        //- Hotfix-INTPOSP-711
        function sameHeight(el) {
            var height = 0;
            el.each(function () {
                var elHeight = $(this).height();
                console.log($(this))
                console.log(elHeight)
                if (elHeight > height) {
                    height = elHeight;
                }
            });
            console.log('final')
            console.log(height)
            el.height(height * 2);
        }
        if ($(window).width() > 724) {
            sameHeight($('.js-highText'));
        }

    });

    function showTip(ev){
        //console.log(ev)
        var group = ev.querySelector(".tool");
        //console.log(group)
        group.classList.remove("js-tooltipData-close");
        group.classList.add("js-tooltipData-open");
        group.style.display='block'
    }

    function noTip(ev){
        var group = ev.querySelector(".tool");
        group.classList.remove("js-tooltipData-open");
        group.classList.add("js-tooltipData-close");
        group.style.display='none'
    }
</script>