<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Product\ReviewRenderer $block */

$url            = $block->getReviewsUrl() . '#review-form';
$urlForm        = $block->getReviewsUrl() . '#review-form';
$url            = $block->getProduct()->getProductUrl();
$facebookshare  = 'https://www.facebook.com/sharer/sharer.php?u='.$url;
$twittershare   = 'https://twitter.com/intent/tweet?url='.$url;
$googleShare    = 'https://plus.google.com/share?url='.$url;
$browser        = false;
$agent          = $_SERVER["HTTP_USER_AGENT"];

if (preg_match('/MSIE (\d+\.\d+);/', $agent)) {
    $browser = true;
} else if (preg_match('/Safari[\/\s](\d+\.\d+)/', $agent)) {
    $browser = true;
} else if (preg_match('/Chrome[\/\s](\d+\.\d+)/', $agent)) {
    $browser = true;
} else if (preg_match('/Edge\/\d+/', $agent)) {
    $browser = true;
} else if (preg_match('/Firefox[\/\s](\d+\.\d+)/', $agent)) {
    $browser = true;
} else if (preg_match('/OPR[\/\s](\d+\.\d+)/', $agent)) {
    $browser = true;
}
$urlWhats = urlencode($url);
if ($browser) {
    $whatpShare = "https://web.whatsapp.com/send?text=" . $url;
} else {
    $whatpShare = "whatsapp://send?text=" . $url;
}

$emailShare_address = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('trans_email/ident_custom1/email');
$emailShare_name    = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('trans_email/ident_custom1/name');
$emailShare         = 'mailto:?to=&subject=' . rawurlencode('Mira, encontré esta oferta en Movistar');

?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating       = $block->getRatingSummary(); ?>
<div style="width:100%;" class="product-reviews-summary<?= !$rating ? ' no-rating' : '' ?>" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <?php if ($rating) : ?>
    <div class="rating-summary">
        <div class="rating display-inline" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <span class="rating__txt">Valoración</span>
        </div>
        <div class="rating-result display-inline" title="<?= $block->escapeHtmlAttr($rating); ?>%">
            <span style="width:<?= $block->escapeHtmlAttr($rating); ?>%">
                <span>
                    <span itemprop="ratingValue"><?= $block->escapeHtml($rating); ?></span>% of <span itemprop="bestRating">100</span>
                </span>
            </span>
        </div>
        <span class="rating__value display-inline" itemprop="ratingValue"></span>
    </div>
    <?php endif;?>
    <div class="reviews-actions">
        <a class="action view" href="<?= $block->escapeUrl($url) ?>">
            <span itemprop="reviewCount"><?= $block->escapeHtml($block->getReviewsCount()) ?></span>&nbsp;
            <span><?= ($block->getReviewsCount() == 1) ? $block->escapeHtml(__('Review')) : $block->escapeHtml(__('Reviews')) ?></span>
        </a>
        <a class="action add link__brand" href="<?= $block->escapeUrl($urlForm) ?>"><?= $block->escapeHtml(__('Add Your Review')) ?></a>
    </div>
        <dl class="list-ico">
        <dt class="list-ico__txt">Compartir</dt>
        <dd class="list-ico__item"><a fb-root class="list-ico__link mi-facebook-comic no-change" href="<?php echo $facebookshare?>" title="Compartir en Facebook" target="_blank">Compartir en facebook</a></dd>
        <dd class="list-ico__item"><a class="list-ico__link mi-twitter-comic no-change" href="<?php echo $twittershare?>" title="Compartir en Twitter" target="_blank">Compartir en Twitter</a></dd>
        <dd class="list-ico__item"><a class="list-ico__link i-chat wa_btn wa_btn_s no-change" data-href="<?php echo $url?>" data-action="share/whatsapp/share"  href="<?php echo $whatpShare ?>" title="Compartir en Whatsapp" target="_blank">Compartir en Whatsapp</a></dd>
        <dd class="list-ico__item"><a class="list-ico__link i-email no-change" href="<?php echo $emailShare; ?>" title="Compartir por correo" target="_blank">Compartir por correo</a></dd>
    </dl>
</div>
<?php elseif ($block->getDisplayIfEmpty()): ?>
<div class="product-reviews-summary empty" style="width:100%;">
    <div class="reviews-actions">
        <a class="action add link__brand" href="<?= $block->escapeUrl($urlForm) ?>">
            <?= $block->escapeHtml(__('Be the first to review this product')) ?>
        </a>
    </div>
</div>
<dl class="list-ico">
    <dt class="list-ico__txt">Compartir</dt>
    <dd class="list-ico__item"><a fb-root class="list-ico__link mi-facebook-comic gtm-social-network no-change" href="<?php echo $facebookshare?>" title="Compartir en Facebook" target="_blank">Compartir en facebook</a></dd>
    <dd class="list-ico__item"><a class="list-ico__link mi-twitter-comic gtm-social-network no-change" href="<?php echo $twittershare?>" title="Compartir en Twitter" target="_blank">Compartir en Twitter</a></dd>
    <dd class="list-ico__item"><a class="list-ico__link i-chat wa_btn wa_btn_s gtm-social-network no-change" data-href="<?php echo $url?>" data-action="share/whatsapp/share"  href="<?php echo $whatpShare ?>" title="Compartir en Whatsapp" target="_blank">Compartir en Whatsapp</a></dd>
    <dd class="list-ico__item"><a class="list-ico__link i-email gtm-social-network no-change" href="<?php echo $emailShare; ?>" title="Compartir por correo" target="_blank">Compartir por correo</a></dd>
</dl>
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<?php endif; ?>
