<?php

//echo "extradata";

//var_dump( $this->getRequest()->getParams() );

//var_dump( $this->getRequest()->getParam('tokenLogin') );
?>
<div style="display: none; " id="extrada-checkout" >

<br />
tokenLogin <input type="hidden" name="tokenLogin" value="<?=$this->getRequest()->getParam('tokenLogin')?>" > <br />
uuid <input type="text" name="uuid" value="<?=$this->getRequest()->getParam('uuid')?>"><br />
documentUuid <input type="text" name="documentUuid" id="documentUuid" value="<?=$this->getRequest()->getParam('documentUuid')?>"><br />
ineStatus <input type="text" name="ineStatus" id="ineStatus" value="<?=$this->getRequest()->getParam('ineStatus')?>"><br />
pdf path <input type="text" name="pathPdf" value="<?=$this->getRequest()->getParam('pathPdf')?>"><br />
view pdf <input type="text" id="viewPdf" name="viewPdf" value="<?=$this->getRequest()->getParam('viewPdf')?>"><br />
approveContract <input type="text" name="approveContract" id="approveContract" value="<?=$this->getRequest()->getParam('approveContract')?>"><br />
signContract <input type="text" name="signContract" id="signContract" value="<?=$this->getRequest()->getParam('signContract')?>"><br />
fillContract <input type="text" name="fillContract" id="fillContract" value="<?=$this->getRequest()->getParam('fillContract')?>"><br />
    <input type="hidden" name="terminal" id="terminal" value="<?=$this->getRequest()->getParam('terminal')?>">
    <input type="hidden" name="plan" id="plan" value="<?=$this->getRequest()->getParam('plan')?>">
    <input type="hidden" name="currentRfc" id="currentRfc" value="<?=$this->getRequest()->getParam('currentRfc')?>">
</div>



<?php if( !empty($this->getRequest()->getParam('pathPdf')) && $this->getRequest()->getParam('viewPdf') != 'true' ) : ?>
<script>
    $obj = jQuery('<object>');
    $obj.attr("data","<?=$block->getUrlPdf().$this->getRequest()->getParam('documentUuid')?>");
    $obj.attr("type","application/pdf");

    jQuery("#iframe-content").append($obj);

    $obj.addClass("w100");

    jQuery("#viewPdf").val('true');
</script>
<?php endif;?>
<style>
    #pdfdiv_content{
        width:100%;
        height:250px;
        border:1px solid #0000FF;
        position:relative;
        height:800px;
    }
    .w100{
        width:100%;
        position:absolute;
        height:100%;
    }
</style>
<script>
    jQuery("#approveContract").val(<?=$this->getRequest()->getParam('approveContract')?>);
    jQuery("#signContract").val(<?=$this->getRequest()->getParam('signContract')?>);
</script>

<div style="display: none; " >


</div>