<?php
/* 
 * este bloque pinta la primer pantalla del checkout, 
 * justo despues configurar mi pedido 
 *
 */
    
/** 
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 * @var \Vass\PosCarPre\block\Index $block
 */

    $blockPlanes = $block->getLayout()->createBlock('Vass\PosCar\Block\Index');
    
    /**
     * 
     * @var \Vass\PosCar\Block\Terminales $blockTerminales
     */
    $blockTerminales = $block->getLayout()->createBlock('Vass\PosCar\Block\Terminales');
    $blockGtm = $block->getLayout()->createBlock('Entrepids\Renewals\Block\Analytic\Agtm');
    $arrProduct = $blockTerminales->getDataProduct();
    $helper = $this->helper('\Vass\PosCarStepsPre\Helper\Order');
    
    /**
     * 
     * @var \Magento\Quote\Model\Quote $cart
     */
    $cart = $blockTerminales->getCartData();
    $blockPlanes->updateTypeOrden();

    $idTerminal = 0;
    $idPlanes = 0;
    $idServicios = array();

    $terminales = 0;
    $planes = 0;
    $capacidad = '';   
    $colorFront = '';

    $validaTerminales = 0;
    $validaPlanes = 0;
    $validaChip = 0;
    $idTerminal = '';
    $totalMensual = 0;
    $totalPagar = 0;
    $totalDescuento = 0;

    // PATH URLS
    $link_wysiwyg = $this->getUrl('pub/media/wysiwyg/');
    $link_recortes = $link_wysiwyg."recortes/";
    //
    $catalog_product = $this->getUrl('pub/media/catalog/');
    $catalog_product  = $catalog_product.'product';
    // Planes
    $img_sim = $link_recortes.'thumb-sim.png';
    $img_movistar = $link_recortes.'m-movistar-green.svg';

    for($i=0;$i<count($arrProduct);$i++){
        if(isset($arrProduct[$i]['terminales'])){
            $validaTerminales = 1;
            $idTerminal = $arrProduct[$i]['terminales'];
        }
        if(isset($arrProduct[$i]['planes'])){
            $validaPlanes = 1;
            $idPlanes = $arrProduct[$i]['planes'];
        }
        if(isset($arrProduct[$i]['servicios'])){
            $idServicios[] = $arrProduct[$i]['servicios'];
        }
        if(isset($arrProduct[$i]['chip'])){
            $validaChip = 1;
            $idSimUniversal = $arrProduct[$i]['chip'];
            $planesChip = $blockTerminales->getDataTerminales($idSimUniversal);
            $cChip = $planesChip->getPrice();
        }
    }
    if(isset($arrProduct[$i]['planes'])){
        $validaPlanes = 1;
        $idPlanes = $arrProduct[$i]['planes'];
    }
    if(isset($arrProduct[$i]['servicios'])){
        $idServicios[] = $arrProduct[$i]['servicios'];
    }
    if(isset($arrProduct[$i]['chip'])){
        $validaChip = 1;
        $idSimUniversal = $arrProduct[$i]['chip'];
        $planesChip = $blockTerminales->getDataTerminales($idSimUniversal);
        $cChip = $planesChip->getPrice();
    }


if($validaTerminales){
    $terminales = $blockTerminales->getProduct($idTerminal);
    $item = $cart->getItemByProduct($terminales);
    
    $totalMensual += $terminales->getPrice() / 48;
    $totalMensualTerminal = $terminales->getPrice() / 48;
    $precioTerminal = $item->getPrice();

    if ($helper->getConfigValue('enable')) {
        $hotsaleDiscount = $terminales->getHotsaleDiscount();
        $precioTerminal *= (1 - $hotsaleDiscount);
    }

    $totalPagar += $precioTerminal;
}
if ($validaPlanes) {
    $planes = $blockTerminales->getDataTerminales($idPlanes);
    $cmPlan = $planes->getPrice();
    $totalPagar += $cmPlan;
    $planNombre = $planes->getName();
    $vigencia = $planes->getVigenciaPla();
    $videoRecarga = $planes->getVideo();
}else{
    $planes = $blockTerminales->getDataTerminales($idPlanes);
    $cmPlan = $planes->getPrice();
    $planNombre = $planes->getName();
    $vigencia = $planes->getVigenciaPla();
    $videoRecarga = $planes->getVideo();
}
if ($validaChip) {
    $totalPagar += $cChip;
}

    if ($cart->getCouponCode()) {
        $totalDescuento = $totalPagar - $cart->getSubtotalWithDiscount();
        $totalPagar = $cart->getSubtotalWithDiscount();
    }


$urlCambiarPlan = 'pos-vitrina-terminal-02-pre/index/index/id/'.$idTerminal;

/*echo "<pre>";
 echo $validaTerminales;
 print_r($arrProduct);
 print_r($planes->getMovistarCloudPlan());
 echo "</pre>";*/

?>

<section class="layout_section">
    <div class="layout_inner">
        <header class="data__header-full">
            <h2 class="title_head">Tu selección</h2>
        </header>
        <div class="data">
            <section class="data__table vsm-data__table">
                <div class="data__pullquote">
                    <h2 class="data__title">Equipo</h2>
                    <small class="data__txt-small"></small>
                    <small class="data__txt-small">A pagar</small>
                </div>
                

                <!-- PREPAGO-97: Equipo (quemado) -->
                <!-- sección de Equipo-->
                <div class="data-section" id="section-equipo">
                    <?php if($validaTerminales){
                        // Caracteristicas del Terminal
                        $capacidad = $blockPlanes->getAttributeId($terminales->getCapacidad());
                        $color = $blockPlanes->getAttributeId($terminales->getColor());
                        $colorFront = $blockPlanes->getAttributeIdFront($terminales->getColor());
                        ?>
                    <!-- Aside con imagen de celular-->
                    <div class="data-section__aside">
                        <img class="data-section__img" src="<?=$catalog_product.$terminales->getImage()?>" alt="Telefono">
                        <a class="link link__brand mi-delete_forever eliminar-product" data-price="<?=$terminales->getPricePrepago()?>" data-product="<?=$terminales->getEntityId()?>" href="<?=$terminales->getEntityId()?>" title="Eliminar" id="eliminar-product">Eliminar</a>
                    </div>
                    <!-- Contenido detallado de celular-->
                    <div class="data-section__detail">
                         <div class="data-section__item">
                            <h3 class="data__title"><?=$terminales->getName()?></h3>
                            <ul class="data__group">
                                <li class="list-thumb__boll data__thumb" style="background: <?=$color?>;">Color</li>
                                <li class="list-thumb__boll data__thumb_brand"><?=$capacidad?></li>
                            </ul>
                        </div>
                        <div class="data-section__slice">
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small"></dt>
                                <dd class="data__txt-big"></dd>
                            </dl>
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small">Pagar hoy</dt>
                                <dd class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($precioTerminal,true,false); ?>*</dd>
                            </dl>
                        </div>
                        <div class="data-section__item"><a class="link link__brand" cambiar="1" data-price="<?=$terminales->getPricePrepago()?>" data-product="<?=$terminales->getEntityId()?>" href="<?=$this->getUrl('telefonos.html')?>" title="Cambiar equipo">Cambiar equipo</a></div>
                    </div>
                    <?php }else{?>
                        <div class="data-section__item" style="text-align: center; margin-top: -50px;">
                            <h2 class="status__title">Sin Equipo</h2>
                            <!-- <a class="link link__brand" href="/pos-redirect/index/index/step-pos-cart/true" title="Cambiar equipo">Agregar equipo</a> -->
                        </div>
                    <?php } ?>
                </div>

                <!-- Bloque Principal #2-->
                <div class="data__pullquote">
                    <h2 class="data__title">Plan prepago</h2>
                </div>
                <!-- sección de Sim-->
                <div class="data-section data-section_wrap js-dataSectionParent">
                    <!-- Aside de Sim [#1]-->
                    <div class="data-section__aside">
                        <img class="data-section__img" src="<?=$img_sim?>" alt="Sim">
                        <!-- <a class="link link__brand" href="#" title="Eliminar">Eliminar</a> -->
                    </div>

                    <!-- Contenido detallado de SIM [#2]-->
                    <div class="data-section__detail data-section__underline">
                        <!-- Subitem #1-->
                        <div class="data-section__item">
                            <!-- Variable: PREPAGO-97 agregar variable de nombre SIM Movistar -->
                            <h3 class="data__title">SIM Movistar</h3>
                            <!--<h3 class="data__title"><?php //echo $planNombre; ?></h3>-->
                        </div>
                        <!-- Subitem #2-->
                        <!-- Variable: PREPAGO-97 agregar variable con detalles de SIM Movistar -->
                        <div class="data-section__slice">
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small"></dt>
                                <!-- Variable: PREPAGO-97 agregar variable con detalles de SIM Movistar (Cargo mensual) -->
                                <dd class="data__txt-big"></dd>
                            </dl>
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small">Pagar hoy</dt>
                                <!-- Variable: PREPAGO-97 agregar variable con detalles de SIM Movistar (Pagar hoy) -->
                                <dd class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($cChip,true,false); ?></dd>
                            </dl>
                        </div>
                    </div>

                    <?php if ($validaPlanes != 0) { ?>
                    <!-- Aside de Recarga [#2]-->
                    <div class="data-section__aside resumen-recarga">
                        <img class="data-section__img" src="<?=$img_movistar?>" alt="Sim">
                        <!-- Variable: PREPAGO-97 agregar acción de eliminar -->
                        <a class="link link__brand mi-delete_forever" href="<?= $idPlanes ?>" id="eliminar-recarga" title="Eliminar" data-price="<?= $cmPlan ?>">Eliminar</a>
                    </div>
                    <!-- Contenido detallado de Recarga [#2]-->
                    <div class="data-section__detail data-section__underline resumen-recarga">
                        <!-- Subitem #1-->
                        <div class="data-section__item">
                            <!-- Variable: PREPAGO-97 agregar variable de nombre RecargaMovistar -->
                            <h3 class="data__title">Recarga Movistar</h3>
                            <!--<h3 class="data__title"><?php //echo $planNombre; ?></h3>-->
                            <p class="data__txt"><?php echo $planes->getMovistarCloudPlan(); ?></p>
                        </div>
                        <!-- Subitem #2-->
                        <div class="data-section__slice">
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small"></dt>
                                <dd class="data__txt-big"></dd>
                            </dl>
                            <dl class="data-section__subitem">
                                <dt class="data__txt-small">Pagar hoy</dt>
                                <dd class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($planes->getPrice(),true,false); ?></dd>
                            </dl>
                        </div>
                    </div>
                    <!-- Subitem #4 [#3]-->
                    <div class="data-section_item js-dataItem data-section__underline resumen-recarga">
                        <div class="data__tab js-dataTab">
                            <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button" style="border-bottom: none !important;">Ver detalle de la recarga</button>
                            <!-- Ej: ul.data__show.js-dataShow-->
                            <ul class="data__show js-dataCont">
                            <?php if($planes->getMinustosMexicoEuYCanadaIl()): ?>
                                    <li class="data__txt i-chat-comic">
                                        Minutos y SMS ilimitados a México, Estados Unidos y Canadá
                                    </li>
                                <?php endif; ?>
                                <?php
                                $gb = $planes->getGigas();
                                ?>
                                <?php if($gb):?>
                                <li class="data__txt i-wifi"><?= $gb ?></li>
                                <?php endif; ?>
                                <?php if($planes->getRedesSocialesIlimitadas()):?>

                                <li class="data__txt data__txt_wrap mi-whatsapp">

                                    Redes sociales <span class="data__txt_space"> Ilimitadas </span>

                                    <span class="data__txt_sub">(Whatsapp, Facebook, Twitter, Instagram, Snapchat)</span>

                                </li>
                                <?php endif;?>
                                <?php if($planes->getRoamingText() != ""):?>
                                    <li class="data__txt i-cell-world"><?= $planes->getRoamingText(); ?></li>
                                <?php endif;?>
                                <!-- Variable: PREPAGO-97 Condicional de megas -->
                                <li class="data__txt i-youtube-fill"><?= $videoRecarga ?></li>
                                <!-- Variable: PREPAGO-97 Condicional de vigencia -->
                                <li class="data__txt i-calendar">Vigencia de <?= $vigencia ?></li>
                            </ul>
                        </div><a class="link link__brand" href="<?=$this->getUrl($urlCambiarPlan)?>" title="Cambiar monto de la recarga">Cambiar monto de la recarga</a>
                    </div>
                    <?php } ?>
                    <!-- Subitem #5 [#4]-->
                    <!-- Variable: PREPAGO-97 Se debe quitar del diseño -->
                    <div class="data-section_item js-dataItem dataVars" style="display: none;">
                        <!-- Ej:  .data__tab.js-dataWidth-->
                        <div class="data__tab js-dataTab">
                            <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button" style="border-bottom: none !important;">Ver Servicios adicionales</button>
                            <!--Ej:  .data__show.js-dataShow-->
                            <div class="data__show js-dataCont">

                                <?php
                                $precioPlan = 0;
                                $precio = 0;

                                for($i=0;$i<count($idServicios);$i++){
                                    $servicios = $blockTerminales->getDataTerminales($idServicios[$i]);

                                    if(!$servicios->getObligatorio()){
                                        $precioPlan += 0;//$servicios[$i]['precio_plan'];
                                        $precio += $servicios->getPrice();
                                    }
                                    if($servicios->getObligatorio()){ ?>
                                        <ul class="data__row data__row5">
                                            <li class="data__order-brand"><img class="data__order-img" src="<?php echo $link_recortes.$servicios->getUrlImagenServicio(); ?>" alt="Blim"></li>
                                            <li class="data-section__slice data-section__slice">
                                                <p class="data__txt_tall">Incluido en tu plan</p>
                                            </li>
                                        </ul>
                                    <?php }else{

                                        if($servicios->getUrlImagenServicio()=='icon'){ ?>
                                            <ul class="data__row data__row5">
                                                <li class="data__ico data__ico5 i-padlock new__size">
                                                    <!--<br>
                                                    <?=$servicios->getName()?>-->
                                                    <h6 class="service service6"><?=$servicios->getName()?></h6>
                                                    <button class="link link__brand eliminar-servicio" data-price="<?=$servicios->getPrice()?>" title="<?=$servicios->getEntityId()?>" type="button">Eliminar</button>
                                                </li>
                                                <li class="data-section__slice data-section__slice5">
                                        <span class="data-section__subitem">
                                            <span class="data__txt-big" data-price="<?= $servicios->getPrice() ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($servicios->getPrice(),true,false); ?></span>
                                        </span>
                                                    <span class="data-section__subitem">
                                              <span class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0,true,false); ?></span>
                                        </span>
                                                </li>
                                            </ul>
                                        <?php }else{ ?>
                                            <ul class="data__row data__row5">
                                                <li class="data__order-brand">
                                                    <img class="data__order-img" src="<?php echo $link_recortes.$servicios->getUrlImagenServicio(); ?>" alt="Spotify">
                                                    <h6 class="service service5"><?=$servicios->getName()?></h6>
                                                    <button class="link link__brand eliminar-servicio" data-price="<?=$servicios->getPrice()?>" title="<?=$servicios->getEntityId()?>" type="button">Eliminar</button>
                                                </li>
                                                <li class="data-section__slice data-section__slice5">
                                          <span class="data-section__subitem">
                                              <span class="data__txt-big" data-price="<?= $servicios->getPrice() ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($servicios->getPrice(),true,false); ?></span>
                                          </span>
                                                    <span class="data-section__subitem">
                                              <span class="data__txt-big"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0,true,false); ?></span>
                                          </span>
                                                </li>
                                            </ul>
                                        <?php } ?>
                                    <?php }
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php
                        $totalMensual += $precio + $cmPlan;
                    ?>
                </div>

                <!-- Bloque Principal #3-->
                <div class="data__pullquote">
                    <h2 class="data__title">Envío</h2>
                </div>
                <!-- Sección de envío-->
                <div class="data-section__excerpt">
                    <p class="data__txt">El costo del envío va por nuestra cuenta. Recibirás tu compra en un período de 48 a 72 hrs. hábiles** Después de que tu orden sea recibida.</p>
                </div>
                <div class="data__tab js-dataTab">
                    <button class="data__btn data__btn_inline i-a-arrow-down data__txt_bold js-dataSectionBtn" type="button">Ver tiempo de entrega</button>
                    <div class="data__show js-dataCont">
                        <p class="data__txt">La entrega del celular se puede envíar a domicilio o CAC. Los celulares premium se podrán entregar únicamente en ciertas ciudades a domicilio, para el resto del país la entrega se realizará en CACs.</p>
                        <table class="table-section">
                            <thead class="table-section__head">
                                <tr class="table-section__row">
                                    <th class="table-section__head-item">Ciudades</th>
                                    <th class="table-section__head-item">Velocidad de envío</th>
                                    <th class="table-section__head-item">Tarifa</th>
                                </tr>
                            </thead>
                            <tbody class="table-section__content">
                                <tr class="table-section__row">
                                    <td class="table-section__cell table-section__cell5">CDMX y área metropolitana</td>
                                    <td class="table-section__cell table-section__cell5">Max. 48 hrs. hábiles</td>
                                    <td class="table-section__cell table-section__cell5">Gratis</td>
                                </tr>
                                <tr class="table-section__row">
                                    <td class="table-section__cell table-section__cell5">Ciudades principales foráneas (capitales)</td>
                                    <td class="table-section__cell table-section__cell5">Max. 72 hrs. hábiles</td>
                                    <td class="table-section__cell table-section__cell5">Gratis</td>
                                </tr>
                                <tr class="table-section__row">
                                    <td class="table-section__cell table-section__cell5">Cobertura extendida</td>
                                    <td class="table-section__cell table-section__cell5">Max. 7 días naturales</td>
                                    <td class="table-section__cell table-section__cell5">Gratis</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
            
            <div class="data-aside js-asideFixed data-aside__sticky vsm-data__aside">
                <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
                    <span class="data__total" id="total-mobile" data-price="<?=$totalPagar?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?></span>
                    <span class="data-aside__txt-high">Total</span>
                </button>
                <div class="data-aside__wrap">
                    <div class="data-aside__content">
                        <div class="data__header">
                            <h2 class="data__title">Resumen de tu compra</h2>
                        </div>
                        <table class="aside-table__table">
                            <thead>
                                <tr class="aside-table__heading aside-table__row_border">
                                    <th>&nbsp;</th>
                                    <th class="aside-table__cell"></th>
                                    <th class="aside-table__cell">Pagar hoy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if($validaTerminales){ ?>
                                <tr class="aside-table__row" id="terminal-resumen">
                                    <td class="aside-table__cell aside-table__cell_big"><?=$terminales->getName()?></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                        <span class="js-value">
                                            <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($precioTerminal,true,false); ?>
                                        </span>
                                    </td>
                                </tr>
                                <?php } ?>
                                <tr class="aside-table__row">
                                    <td class="aside-table__cell aside-table__cell_big">SIM Movistar</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                        <span class="js-value">
                                    <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($cChip,true,false); ?>        
                                        </span>
                                    </td>
                                </tr>
                                <?php if ($validaPlanes != 0) { ?>
                                <tr class="aside-table__row resumen-recarga">
                                    <td class="aside-table__cell aside-table__cell_big">Recarga Movistar</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                        <span class="js-value">
                                            <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($planes->getPrice(),true,false); ?>
                                        </span>
                                    </td>
                                </tr>
                                <?php } ?>
                                <tr class="aside-table__row">
                                    <td class="aside-table__cell aside-table__cell_big">Envío</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">GRATIS</span></td>
                                </tr>
                                <tr class="aside-table__row" style="display: none;">
                                    <td class="aside-table__cell aside-table__cell_big">Impuestos</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">$1.583</span></td>
                                </tr>
                                <?php if ($cart->getCouponCode()) : ?>
                                    <tr class="aside-table__row" >
                                        <td class="aside-table__cell aside-table__cell_big">Descuentos (<?php echo $cart->getCouponCode() ?>)</td>
                                        <!-- Variable: PREPAGO-97 incluir variable de cargo mensual-->
                                        <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value"></span></td>
                                        <!-- Variable: PREPAGO-97 incluir variable de pagar hoy-->
                                        <td class="aside-table__cell aside-table__cell_big aside-table__txt"><span class="js-value">-<?php echo $totalDescuento ?></span></td>
                                    </tr>
                                <?php endif; ?>
                            </tbody>
                            <tfoot>
                                <tr class="aside-table__footer aside-table__heading">
                                    <td class="aside-table__cell aside-table__cell_total">Total</td>
                                    <!-- Variable: PREPAGO-97 incluir variable de total cargo mensual-->
                                    <td class="aside-table__cell aside-table__cell_total"></td>
                                    <!-- Variable: PREPAGO-97 incluir variable de total a pagar hoy-->
                                    <td class="aside-table__cell aside-table__cell_total" id="total-resumen-superior" data-price="<?= $totalPagar ?>">
                                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="data__inner">

                        <div class="data-aside__row">
                            <div class="data__tab js-dataTab">
                                <button class="data__btn i-a-arrow-down js-dataSectionBtn" type="button">¿Tienes una promoción?</button>
                                <div class="data__form data__show js-dataCont">

                                    <div class="input-search">

                                        <!--<input class="input-search__input" type="search" placeholder="Ej: MX1=91">-->
                                        <!--<button class="input-search__btn" type="submit">Aplicar</button>-->



                                        <form id="discount-coupon-form"
                                              action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/couponPost') ?>"
                                              method="post"
                                              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                                               "removeCouponSelector": "#remove-coupon",
                                                               "applyButton": "button.action.apply",
                                                               "cancelButton": "button.action.cancel"}}'>
                                            <div class="fieldset coupon<?= strlen($block->getCouponCode()) ? ' applied' : '' ?>">
                                                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                                                <input type="hidden" name="tipo_orden" id="type" value="pre"/>
                                                <?php if (!$cart->getCouponCode()) { ?>
                                                    <!-- insertar cupon -->
                                                    <label class="input-search__label">Escribe tu código de descuento</label>
                                                    <input type="text" class="input-search__input" id="coupon_code" name="coupon_code" value="<?= $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?= $block->escapeHtml(__('Enter discount code')) ?>" />

                                                    <div class="primary">
                                                        <button class="action apply input-search__btn" type="button" value="<?= /* @escapeNotVerified */ __('Apply Discount') ?>">
                                                            <!--<span><?= /* @escapeNotVerified */ __('Apply Discount') ?></span>-->
                                                            Aplicar
                                                        </button>
                                                    </div>
                                                <?php }else{?>
                                                    <!-- eliminar cupon-->
                                                    <label class="input-search__label"><?php echo $cart->getCouponCode(); ?></label>
                                                    <button class="action apply input-search__btn" type="button" value="<?= /* @escapeNotVerified */ __('Cancel Coupon') ?>">
                                                        <!--<span><?= /* @escapeNotVerified */ __('Cancel Discount') ?></span>-->
                                                        Cancelar
                                                    </button>

                                                <?php } ?>

                                                <!--</div>-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <dl class="data__list data__summary">
                            <dt class="data__term">Total a pagar</dt>
                            <dd class="data__total" id="total-resumen" data-price="<?= $totalPagar; ?>">
                                <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalPagar,true,false); ?><sup>*</sup>
                            </dd>
                        </dl>
                        <div class="data-aside__row data-aside__foot">
                            <button class="data-aside__link btn" type="button" onClick="location.href = '<?= $this->getUrl('pos-login-pre/index'); ?>'">Continuar al check-out</button>
                        </div>
                    </div>

                    <div class="data__inner">
                        <p class="data__txt-bold">
                            <a href="<?= $block->escapeUrl(($planes->getRedesSocialesIlimitadas()) ? $block->getBaseUrl() . 'promociones/ifts/terminos-y-condiciones/planilimitado' : $block->getBaseUrl() . 'promociones/ifts/TyC-planes/oferta-doble-de-datos/'); ?>">
                                <!--Ver Términos y condiciones-->
                            </a>
                            <!-- Términos y condiciones -->
                        </p>
                        <!-- <p class="data__txt">
                            *El pago mensual mostrado está calculado considerando un pago inicial del 50% del costo total del equipo incluyendo IVA y mensualidades por 24 meses. La proporción del pago inicial y monto de las mensualidades a pagar dependerá del resultado de tu consulta de crédito que se realizará durante el proceso de contratación. Las cotizaciones y resultados de la consulta crediticia que realiza este sitio, son válidas únicamente durante el día calendario en curso.
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="data__info">
            <img class="data__info-img" src="<?=$link_recortes.'logos-compra_segura.jpg'?>" alt="compra segura">
        </div>
    </div>
</section>
<div id="res"></div>
<script>

    require([
        'jquery',
        'Magento_Customer/js/customer-data'
    ], function ($) {
        <?php if(method_exists($blockGtm,'isPortability') && $blockGtm->isPortability()): ?>
            $('.data__tab.js-dataTab button').click();

            var products = [];
            var array = [];
            var arrayServicios = [];
            var dimension47 = "Portabilidad Prepago";

            <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
            <?php $plan = $objectManager->create('Magento\Catalog\Model\Product')->load($idPlanes);  ?>


            <?php
                if($validaTerminales):
                $terminal = $terminales;
            ?>
                array = {
                        'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                        'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                        'price': '<?php echo round(($terminal->getPrice()),2); ?>',            //Precio unitario
                        'brand' : '<?= $blockGtm->getLabelValue($terminal, 'marca') ?>',                   //Marca
                        'category': 'Celular',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension29':'<?= $blockGtm->getLabelValue($terminal, 'color') ?>',
                        'dimension30':'<?= $blockGtm->getLabelValue($terminal, 'capacidad') ?>',
                        'dimension47':dimension47
                };
                products.push(array);


                //Eliminar Terminal
                $('.cambiar_equipo').bind('click', function(e){
                        dataLayer.push({
                                'event':'removeFromCart',
                                'tipoFlujo':dimension47,
                                'ecommerce': {
                                        'remove':{
                                                'products': {
                                                        'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                                                        'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                                                        'price': '<?php echo round(($terminal->getPrice()),2); ?>',            //Precio unitario
                                                        'brand' : '<?= $blockGtm->getLabelValue($terminal, 'marca') ?>',                   //Marca
                                                        'category': 'Celular',          //Categoría
                                                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                                        'quantity': 1,                  //Cantidad
                                                        'dimension28':'Tienda Movistar',    //
                                                        'dimension29':'<?= $blockGtm->getLabelValue($terminal, 'color') ?>',
                                                        'dimension30':'<?= $blockGtm->getLabelValue($terminal, 'capacidad') ?>',
                                                        'dimension47':dimension47
                                                }
                                        }
                                }
                        });
                });
            <?php endif; ?>
            <?php if ($idPlanes != "" || $idPlanes != null) : ?>
                    array = {
                            'name': "<?php echo $plan->getName(); ?>",     //Nombre del producto
                            'id': "<?php echo $plan->getSku(); ?>",                 //SKU
                            'price': '<?php echo $blockGtm->formatNumberGTM($plan->getPrice()); ?>',            //Precio unitario
                            'brand' : '',                   //Marca
                            'category': 'Plan',          //Categoría
                            'variant' : 'N/A',              //Variantes (color, memoria, etc)
                            'quantity': 1,                  //Cantidad
                            'dimension28':'Tienda Movistar',    //
                            'dimension29':'<?= $blockGtm->getLabelValue($plan, 'color') ?>',
                            'dimension30':'<?= $blockGtm->getLabelValue($plan, 'capacidad') ?>',
                            'dimension47':dimension47
                    };
                    products.push(array);
            <?php endif; ?>
            <?php
            for ($i=0; $i<count($idServicios); $i++) {
                    $servicio = $objectManager->create('Magento\Catalog\Model\Product')->load($idServicios[$i]);  ?>
                    array = {
                            'name': "<?php echo $servicio->getName(); ?>",     //Nombre del producto
                            'id': "<?php echo $servicio->getSku(); ?>",                 //SKU
                            'price': '<?php echo $blockGtm->formatNumberGTM($servicio->getPrice()); ?>',            //Precio unitario
                            'brand' : '<?= $blockGtm->getLabelValue($servicio, 'marca') ?>',                   //Marca
                            'category': 'Servicio',          //Categoría
                            'variant' : 'N/A',              //Variantes (color, memoria, etc)
                            'quantity': 1,                  //Cantidad
                            'dimension28':'Tienda Movistar',    //
                            'dimension29':'<?= $blockGtm->getLabelValue($servicio, 'color') ?>',
                            'dimension30':'<?= $blockGtm->getLabelValue($servicio, 'capacidad') ?>',
                            'dimension47':dimension47
                    };

                    products.push(array);
                    arrayServicios.push(array);
            <?php } ?>

            dataLayer.push({
                'event':'addToCart',
                'tipoFlujo':dimension47,
                'ecommerce': {
                    'currencyCode' : 'MXN',
                    'add':{
                        'products':  products
                    }
                }
            });
            <?php if($validaTerminales): ?>
            //Eliminar Terminal
            $('.eliminar-product').bind('click', function(e){
                e.preventDefault();
                var priceTerminal = $(this).data('price');
                var totalDer = $('#total-resumen').data('price');
                var newTotalRight =  totalDer - priceTerminal;
                $('#total-resumen').html("$"+newTotalRight+",00");
                $('#total-resumen').data('price',newTotalRight);
                $('#total-resumen-superior').html("$"+newTotalRight+",00");
                $('#total-resumen-superior').data('price',newTotalRight);
                $('#total-mobile').html("$"+newTotalRight+",00");
                $('#total-mobile').data('price',newTotalRight);
                $('#terminal-resumen').remove();

                $('#section-equipo').fadeOut("slow").html();
                var idProduct = $(this).data('product');

                $.ajax({
                    url: "<?php echo $this->getUrl().'pos-car-pre/index/deleteterminal';?>",
                    type: 'POST',
                    showLoader: true,
                    data : {productId:idProduct},
                    success: function (res) {
                        $('#section-equipo').html(res).fadeIn();

                        dataLayer.push({
                            'event':'removeFromCart',
                            'tipoFlujo':dimension47,
                            'ecommerce': {
                                'remove':{
                                    'products': [{
                                        'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                                        'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                                        'price': '<?php echo round(($terminal->getPrice()),2); ?>',            //Precio unitario
                                        'brand' : '<?= $blockGtm->getLabelValue($terminal, 'marca') ?>',                   //Marca
                                        'category': 'Celular',          //Categoría
                                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                        'quantity': 1,                  //Cantidad
                                        'dimension28':'Tienda Movistar',    //
                                        'dimension29':'<?= $blockGtm->getLabelValue($terminal, 'color') ?>',
                                        'dimension30':'<?= $blockGtm->getLabelValue($terminal, 'capacidad') ?>',
                                        'dimension47':dimension47
                                    }]
                                }
                            }
                        });
                        /*
                        $('#res').html(res);

                        if (res.messages) {
                            $('[data-placeholder="messages"]').html(res.messages);
                        }

                        if (res.minicart) {
                            $('[data-block="minicart"]').replaceWith(res.minicart);
                            $('[data-block="minicart"]').trigger('contentUpdated');
                        }
                        */
                    }
                });
            });
            <?php endif; ?>

            //Eliminar Servicio
            $('.eliminar-servicio').bind('click', function(){
                var idProduct = $(this).attr("title");
                var sku = $(this).attr("data-sku");
                var subtractPrice = $(this).data('price');
                var totalserv = $('#total-cargos-mensuales').data('price');
                var newTotalBottom =  totalserv - subtractPrice;

                var formatTotalBottom = new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN', minimumFractionDigits: 2, minimumIntegerDigits: 1 }).format(newTotalBottom);
                $('#total-cargos-mensuales').html(formatTotalBottom);
                $('#total-cargos-mensuales').data('price',newTotalBottom);

                var totalDer = $('#total-resumen-mensual').data('price');
                var newTotalRight =  totalDer - subtractPrice;
                var formatTotalRight =new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN', minimumFractionDigits: 2, minimumIntegerDigits: 2 }).format(newTotalRight);

                $('#total-resumen-mensual').html(formatTotalRight + '*');
                $('#total-resumen-mensual').data('price',newTotalRight);

                $(this).parent().parent().fadeOut();

                $.ajax({
                    url: "<?php echo $this->getUrl().'pos-car/index/deleteterminal';?>",
                    type: 'POST',
                    showLoader: true,
                    data : {productId:idProduct},
                    success: function (res) {
                        for (var i=0; i<arrayServicios.length; i++) {
                            if (sku == arrayServicios[i]["id"]) {
                                dataLayer.push({
                                    'event':'removeFromCart',
                                    'tipoFlujo':dimension47,
                                    'ecommerce': {
                                        'remove':{
                                            'products': {
                                                'name': arrayServicios[i]["name"],     //Nombre del producto
                                                'id': arrayServicios[i]["id"],                 //SKU
                                                'price': arrayServicios[i]["price"],            //Precio unitario
                                                'brand' :  arrayServicios[i]["brand"],                   //Marca
                                                'category': arrayServicios[i]["category"],          //Categoría
                                                'variant' : arrayServicios[i]["variant"],             //Variantes (color, memoria, etc)
                                                'quantity': arrayServicios[i]["quantity"],                  //Cantidad
                                                'dimension28':arrayServicios[i]["dimension28"],    //
                                                'dimension29':arrayServicios[i]["dimension29"],
                                                'dimension30':arrayServicios[i]["dimension30"],
                                                'dimension47':arrayServicios[i]["dimension47"]
                                            }
                                        }
                                    }
                                });
                                break;
                            }
                        }
                    }
                });
            });

            //Eliminar Recarga
            $('#eliminar-recarga').bind('click', function(e){
                e.preventDefault();
                var priceRecarga = $(this).data('price');
                var totalDer = $('#total-resumen').data('price');
                var newTotalRight =  totalDer - priceRecarga;
                $('#total-resumen').html("$"+newTotalRight+",00");
                $('#total-resumen').data('price',newTotalRight);
                $('#total-resumen-superior').html("$"+newTotalRight+",00");
                $('#total-resumen-superior').data('price',newTotalRight);
                $('#total-mobile').html("$"+newTotalRight+",00");
                $('#total-mobile').data('price',newTotalRight);
                $('.resumen-recarga').remove();

                var idProduct = $(this).attr("href");

                $.ajax({
                    url: "<?php echo $this->getUrl().'pos-car-pre/index/deleteterminal';?>",
                    type: 'POST',
                    showLoader: true,
                    data : {productId:idProduct},
                    success: function (res) {
                        dataLayer.push({
                            'event':'removeFromCart',
                            'tipoFlujo':dimension47,
                            'ecommerce': {
                                'remove':{
                                    'products': [{
                                        'name': "<?php echo $plan->getName(); ?>",     //Nombre del producto
                                        'id': "<?php echo $plan->getSku(); ?>",                 //SKU
                                        'price': '<?php echo $blockGtm->formatNumberGTM($plan->getPrice()); ?>',            //Precio unitario
                                        'brand' : '',                   //Marca
                                        'category': 'Plan',          //Categoría
                                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                        'quantity': 1,                  //Cantidad
                                        'dimension28':'Tienda Movistar',    //
                                        'dimension29':'<?= $blockGtm->getLabelValue($plan, 'color') ?>',
                                        'dimension30':'<?= $blockGtm->getLabelValue($plan, 'capacidad') ?>',
                                        'dimension47':dimension47
                                    }]
                                }
                            }
                        });
                        /*
                        $('#res').html(res);

                        if (res.messages) {
                            $('[data-placeholder="messages"]').html(res.messages);
                        }

                        if (res.minicart) {
                            $('[data-block="minicart"]').replaceWith(res.minicart);
                            $('[data-block="minicart"]').trigger('contentUpdated');
                        }
                        */
                    }
                });
            });
        <?php else: ?>
        var arrayServicios = [];
        <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
        var tipoFlujo = '<?php echo $objectManager->get('\Entrepids\Renewals\Helper\Servicio\Flujoscheckout')->getCheckoutFlowType($idTerminal,$idPlanes,1); ?>';
        jQuery(window).on('load', function () {
            var products = [];
            var array = [];
            
            <?php $terminal = $objectManager->create('Magento\Catalog\Model\Product')->load($idTerminal);  ?>
            <?php $plan = $objectManager->create('Magento\Catalog\Model\Product')->load($idPlanes);  ?>
            <?php $brandStr = $terminal->getResource()->getAttribute('marca')->getFrontend()->getValue($terminal); ?>
            

            <?php if ($validaTerminales && ($idTerminal != "" || $idTerminal != null)) : ?>                
                array = {
                    'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                    'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                    'price': '<?php echo $terminal->getPrice(); ?>',            //Precio unitario
                    'brand' : '<?php echo $brandStr; ?>',                   //Marca
                    'category': 'Celular',          //Categoría
                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                    'quantity': 1,                  //Cantidad
                    'dimension28':'Tienda Movistar',//
                    'dimension29':'<?=$colorFront?>',    //Color
                    'dimension30':'<?=$capacidad?>', //Capacidad
                    'dimension47':tipoFlujo /* fixed */
                };
                products.push(array);
            <?php endif; ?>

            <?php if ($idPlanes != "" || $idPlanes != null) : ?>
                array = {
                    'name': "<?php echo $plan->getName(); ?>",     //Nombre del producto
                    'id': "<?php echo $plan->getSku(); ?>",                 //SKU
                    'price': '<?php echo $plan->getPrice(); ?>',            //Precio unitario
                    'brand' : '',                   //Marca
                    'category': 'Plan',          //Categoría
                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                    'quantity': 1,                  //Cantidad
                    'dimension28':'Tienda Movistar',    //
                    'dimension47': tipoFlujo /* fixed */
                };
                products.push(array);
            <?php endif; ?>

            <?php
                for ($i=0; $i<count($idServicios); $i++) {
                    $servicio = $objectManager->create('Magento\Catalog\Model\Product')->load($idServicios[$i]);  ?>
                    array = {
                        'name': "<?php echo $servicio->getName(); ?>",     //Nombre del producto
                        'id': "<?php echo $servicio->getSku(); ?>",                 //SKU
                        'price': '<?php echo $servicio->getPrice(); ?>',            //Precio unitario
                        'brand' : '',                   //Marca
                        'category': 'Servicio',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension47': tipoFlujo /* fixed */
                    };

                    arrayRemove = {
                        'id' : "<?php echo $idServicios[$i]; ?>",
                        'name': "<?php echo $servicio->getName(); ?>",     //Nombre del producto
                        'sku': "<?php echo $servicio->getSku(); ?>",                 //SKU
                        'price': '<?php echo $servicio->getPrice(); ?>',            //Precio unitario
                        'brand' : '',                   //Marca
                        'category': 'Servicio',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension47': tipoFlujo /* fixed */
                    }
                    products.push(array);
                    arrayServicios.push(arrayRemove);
            <?php } ?>

            dataLayer.push({
                'event':'addToCart',
                'tipoFlujo':tipoFlujo, /* fixed */
                'ecommerce': {
                    'currencyCode' : 'MXN',
                    'add':{
                        'products':  products /* fixed */
                    }
                }
            });
        });

        $('.data__tab.js-dataTab button').click();
        
        <?php if($validaTerminales): ?>
        //Eliminar Terminal
        $('#eliminar-product').bind('click', function(e){
            e.preventDefault();
            var priceTerminal = $(this).data('price');
            var totalDer = $('#total-resumen').data('price');
            var newTotalRight =  totalDer - priceTerminal;
            $('#total-resumen').html("$"+newTotalRight+",00");
            $('#total-resumen').data('price',newTotalRight);
            $('#total-resumen-superior').html("$"+newTotalRight+",00");
            $('#total-resumen-superior').data('price',newTotalRight);
            $('#total-mobile').html("$"+newTotalRight+",00");
            $('#total-mobile').data('price',newTotalRight);
            $('#terminal-resumen').remove();
        
            $('#section-equipo').fadeOut("slow").html();
            var idProduct = $(this).attr("href");
            var reload = $(this).attr("cambiar");
            $.ajax({
                url: "<?php echo $this->getUrl().'pos-car-pre/index/deleteterminal';?>",
                type: 'POST',
                showLoader: true,
                data : {productId:idProduct},
                success: function (res) {
                    $('#section-equipo').html(res).fadeIn();                    

                    dataLayer.push({
                        'event':'removeFromCart',
                        'tipoFlujo':tipoFlujo,
                        'ecommerce': {
                            'remove':{
                                'products': [{
                                    'name': "<?php echo $terminal->getName(); ?>",     //Nombre del producto
                                    'id': "<?php echo $terminal->getSku(); ?>",                 //SKU
                                    'price': '<?php echo $terminal->getPrice(); ?>',            //Precio unitario
                                    'brand' : '<?php echo $brandStr; ?>',                   //Marca
                                    'category': 'Celular',          //Categoría
                                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                    'quantity': 1,                  //Cantidad
                                    'dimension28':'Tienda Movistar',    //
                                    'dimension29':'<?=$colorFront?>',    //Color
                                    'dimension30':'<?=$capacidad?>', //Capacidad
                                    'dimension47':tipoFlujo
                                }]
                            }
                        }
                    });
                    if(typeof reload === typeof undefined || reload != "1"){
                        location.reload(true);
                    }                    
                    /*
                    $('#res').html(res);

                    if (res.messages) {
                        $('[data-placeholder="messages"]').html(res.messages);
                    }

                    if (res.minicart) {
                        $('[data-block="minicart"]').replaceWith(res.minicart);
                        $('[data-block="minicart"]').trigger('contentUpdated');
                    }
                    */
                }
            });
        });
        <?php endif; ?>
        //Eliminar Servicio
        $('.eliminar-servicio').bind('click', function(){
            var idProduct = $(this).attr("title");
            var subtractPrice = $(this).data('price');
            var totalserv = $('#total-cargos-mensuales').data('price');
            var newTotalBottom =  totalserv - subtractPrice;
            $('#total-cargos-mensuales').html("$"+newTotalBottom+",00");
            $('#total-cargos-mensuales').data('price',newTotalBottom);
            var totalDer = $('#total-resumen-mensual').data('price');
            var newTotalRight =  totalDer - subtractPrice;
            $('#total-resumen-mensual').html("$"+newTotalRight+",00");
            $('#total-resumen-mensual').data('price',newTotalRight);

            $(this).parent().parent().fadeOut();

            $.ajax({
                url: "<?php echo $this->getUrl().'pos-car-pre/index/deleteterminal';?>",
                type: 'POST',
                showLoader: true,
                data : {productId:idProduct},
                success: function (res) {
                    for (var i=0; i<arrayServicios.length; i++) {
                        if (idProduct == arrayServicios[i]["id"]) {
                            dataLayer.push({
                                'event':'removeFromCart',
                                'tipoFlujo':tipoFlujo,
                                'ecommerce': {
                                    'remove':{
                                        'products': [{
                                            'name': arrayServicios[i]["name"],     //Nombre del producto
                                            'id': arrayServicios[i]["sku"],                 //SKU
                                            'price': arrayServicios[i]["price"],            //Precio unitario
                                            'brand' : '',                   //Marca
                                            'category': 'Servicio',          //Categoría
                                            'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                            'quantity': 1,                  //Cantidad
                                            'dimension28':'Tienda Movistar',    //
                                            'dimension47':tipoFlujo
                                        }]
                                    }
                                }
                            });
                        }
                    }
                    location.reload(true);
                    // $('#section-equipo').html(res).fadeIn();
                    /*
                    $('#res').html(res);

                    if (res.messages) {
                        $('[data-placeholder="messages"]').html(res.messages);
                    }

                    if (res.minicart) {
                        $('[data-block="minicart"]').replaceWith(res.minicart);
                        $('[data-block="minicart"]').trigger('contentUpdated');
                    }
                    */
                }
            });
        });

        //Eliminar Recarga
        $('#eliminar-recarga').bind('click', function(e){
            e.preventDefault();
            var priceRecarga = $(this).data('price');
            var totalDer = $('#total-resumen').data('price');
            var newTotalRight =  totalDer - priceRecarga;
            $('#total-resumen').html("$"+newTotalRight+",00");
            $('#total-resumen').data('price',newTotalRight);
            $('#total-resumen-superior').html("$"+newTotalRight+",00");
            $('#total-resumen-superior').data('price',newTotalRight);
            $('#total-mobile').html("$"+newTotalRight+",00");
            $('#total-mobile').data('price',newTotalRight);
            $('.resumen-recarga').remove();

            var idProduct = $(this).attr("href");

            $.ajax({
                url: "<?php echo $this->getUrl().'pos-car-pre/index/deleteterminal';?>",
                type: 'POST',
                showLoader: true,
                data : {productId:idProduct},
                success: function (res) {
                    location.reload(true);
                    dataLayer.push({
                        'event':'removeFromCart',
                        'tipoFlujo':tipoFlujo,
                        'ecommerce': {
                            'remove':{
                                'products': [{
                                    'name': "<?php echo $plan->getName(); ?>",     //Nombre del producto
                                    'id': "<?php echo $plan->getSku(); ?>",                 //SKU
                                    'price': '<?php echo $plan->getPrice(); ?>',            //Precio unitario
                                    'brand' : '',                   //Marca
                                    'category': 'Sim',          //Categoría
                                    'variant' : 'N/A',              //Variantes (color, memoria, etc)
                                    'quantity': 1,                  //Cantidad
                                    'dimension28':'Tienda Movistar',    //
                                    'dimension47':tipoFlujo
                                }]
                            }
                        }
                    });
                    /*
                    $('#res').html(res);

                    if (res.messages) {
                        $('[data-placeholder="messages"]').html(res.messages);
                    }

                    if (res.minicart) {
                        $('[data-block="minicart"]').replaceWith(res.minicart);
                        $('[data-block="minicart"]').trigger('contentUpdated');
                    }
                    */
                }
            });
        });
        
        $('#continuar-check').bind('click', function(){
            $('#form-mi-seleccion').submit();
        });

        <?php endif; ?>
    });

    /*
        require([
            'Magento_Customer/js/customer-data'
        ], function (customerData) {
            var sections = ['cart'];
            customerData.invalidate(sections);
            customerData.reload(sections, true);
        });
        */
</script>
