<?php 
$data = $block->getRenewalData(); 
if($data):
?>
<div class="layout">
    <fieldset class="layout_inner steps vsm-form__fieldset">
        <legend class="steps__legend">
            <span class="steps__head steps__head2">
                <small class="head__title"><?= __('Tu número a renovar'); ?></small>
            </span>
            <span class="steps__head">
                <small class="head__title"><?= $data['dn']; ?></small>
            </span>      
        </legend>
    </fieldset>
</div>
<?php endif; ?>