<?php 
    $blockProd = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02Pre\Block\Index');
    $catalog_product = $this->getUrl('pub/media/catalog/');
    //$link_media = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
    //$link_media = $link_media."/recortes/";
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";
    // HOTFIX-ETEMM-19
    $corcholata_purple = $link_media . "circle_purple.svg";
    $idproduct = $blockProd->getProductId();
    $display = true;
    // Datos de la orden que biene del detalle
    if($idproduct>0||$idproduct!='') {
        $data = $blockProd->getProduct();
        $imagen = $catalog_product . 'product' . $data['image'];
    }else{
        $display = false;
        $data['entity_id'] = 0;
        $data['name'] = '';
        $imagen = '';
    }
    $dataPlanesAttaker = $blockProd->planesAttacker();
    if(isset($dataPlanesAttaker)){
        $atrow_id = $dataPlanesAttaker['row_id'];
        $ayentity_id = $dataPlanesAttaker['entity_id'];
        $attype_id = $dataPlanesAttaker['type_id'];
        $atsku = $dataPlanesAttaker['sku'];
        $atname = $dataPlanesAttaker['name'];
        $atimage = $dataPlanesAttaker['image'];
        $aturl_key = $dataPlanesAttaker['url_key'];
        $atvigencia_pla = $dataPlanesAttaker['vigencia_pla'];
        $atminutos_sms_plan = $dataPlanesAttaker['minutos_sms_plan'];
        $atmovistar_cloud_plan = $dataPlanesAttaker['movistar_cloud_plan']; 
        $atplan_asociado = $dataPlanesAttaker['plan_asociado']; 
        $atstatus = $dataPlanesAttaker['status'];
        $atvisibility = $dataPlanesAttaker['visibility']; 
        $atplan_asociado = $dataPlanesAttaker['plan_asociado'];
        $atplan_control = $dataPlanesAttaker['texto_extra_sim'];
        $atredes_sociales_ilimitadas = $dataPlanesAttaker['redes_sociales_ilimitadas'];
        $atminustos_mexico_eu_y_canada_il = $dataPlanesAttaker['minustos_mexico_eu_y_canada_il']; 
        $atattacker = $dataPlanesAttaker['attacker']; 
        $atdescription = $dataPlanesAttaker['description'];
        $firstdescription = $dataPlanesAttaker['short_description'];
        $atprice = intval($dataPlanesAttaker['price']);
            $itemPriceRecarga = explode('$', $atplan_control);
            $itemPriceRecarga = $itemPriceRecarga[1] + $atprice;
        $atvideo = intval($dataPlanesAttaker['video']);
        $img_deco = $dataPlanesAttaker['url_decorative_image'];
        $html_social = $dataPlanesAttaker['html_social_network'];
        $html_video = $dataPlanesAttaker['html_video'];
        $html_llamadas = $dataPlanesAttaker['html_call'];
    }

    //Obtengo el producto SIM obligatorio Universal/Movistar
    $simuniversal = $blockProd->getSim(0);
    if($display){
        foreach($simuniversal as $i => $value) {
            $nameSimUniversal = $simuniversal[$i]['nombre'];
            $idSimUniversal = $simuniversal[$i]['entity_id'];
        }
    } else 
        /*
         * marcos.diaz@entrepids.com
         * 
         */
        if ($blockProd->isPortability()) {
        foreach($simuniversal as  $value) {
            $nameSimUniversal = $value['nombre'];
            $ayentity_id = $idSimUniversal = $value['entity_id'];
            $itemPriceRecarga -= $atprice;
            $atprice = 0;
        }
    } else {
        $nameSimUniversal = "SIM MOVISTAR";
        $idSimUniversal = $ayentity_id;
    }

    /*echo "<pre>";
    print_r($simuniversal);
    print_r($dataPlanesAttaker);
    print_r($itemPriceRecarga);
    echo "</pre>";*/

?> 

<div class="layout">
    <!-- Formulario de planes -->
    <form class="form-gral vsm-form" id="formSim" action="<?=$this->getUrl('pos-car-pre/index/addcart')?>" method="post">
        <input type="hidden" name="entity_id" id="entity_id" value="<?=$data['entity_id']?>">
        <input type="hidden" name="vitrina_id" id="vitrina_id" value="<?= $block->getRequest()->getParam('vitrina'); ?>">
        <input type="hidden" name="plan_id" id="plan_id" value="<?= $atplan_asociado ?>">
        <input type="hidden" name="plan_parent" id="plan_parent" value="<?= $ayentity_id ?>">
        <!-- Fieldset  #1 -->
        <?php if($display){ ?>
        <fieldset class="layout_inner steps vsm-form__fieldset vsm-form__fieldset_borderSup">
            <!-- Componente = con o sin celular --> 
            <?php if($display){ ?>
                <legend class="vsm-steps steps__legend">
                    <span class="steps__head">
                        <small class="head__title">Tu equipo</small>
                    </span>
                </legend>
                <div class="steps__selected">
                    <figure class="steps__fig">
                        <img class="steps__img" src="<?=$imagen?>" alt="Terminal">
                        <figcaption class="steps__caption"><?=$data['name']?></figcaption>
                    </figure>
                    <a class="steps__link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Ver todos los equipos">
                        Cambiar equipo
                    </a>
                </div>
                <div id="showCarrousel"></div>
            <?php }else{ ?>
                <!-- Legend  #2 --> 
                <legend class="vsm-steps steps__legend">
                    <span class="steps__head">
                        <small class="head__title">Tu equipo</small>
                    </span>
                </legend>
                <div class="steps__selected">
                    <figure class="steps__fig">
                        <img class="steps__img steps__img_none" src="<?= $link_media ?>sin-terminal.png" alt="Iphone X">
                        <figcaption class="steps__caption">Tu propio equipo</figcaption>
                    </figure>
                    <a class="steps__link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Ver todos los equipos">Cambiar equipo</a>
                </div>
            <?php } ?>
            <!-- #Componente = con o sin celular --> 
        </fieldset>
        <?php } ?>
        <?php if(!$display){ ?>
        <!-- Fieldset  #2 -->
        <fieldset class="vsm-form__fieldset" id="oferta-attacker" data-plan="<?= $ayentity_id ?>">
            <!-- Legend  #2 --> 
            <legend class="vsm-steps steps__legend">
                <span class="steps__head">
                    <small class="head__title">Compra un Chip Movistar y aprovecha los beneficios que tenemos para Tí  </small>
                </span>
            </legend>
            <!-- Prepago: PREPAGO-22 Parrilla única -->
            <div  class="vsm-card vsm-card_unique inner_canvas">
                <div class="js-cardDropdown">
                    <!-- Card #1  <div class="card card_check js-cardCheck">-->
                    <div class="vsm-card card card_check">
                        <!-- Header card-->
                        <header class="card__header sim bg-blue js-cardDropdownBtn">
                            <?php echo "<div class='ocultoOne' style='display:none;'>$firstdescription</div>"; ?>
                            <?php echo "<div class='ocultoTwo' style='display:none;'>$atdescription</div>"; ?>
                            <div class="card__header-item">
                                <span class="tag tag_blue tag_hidden"></span>
                                <!-- Variable: PREPAGO-22 Cantidad de MB -->
                                <small class="txt-through_red"></small>
                                <!-- Variable: PREPAGO-22 Título Cantidad de MB -->
                                <p class="card__title"></p>
                                <span class="txt_bold"></span>
                                <!-- Etiqueta de promoción-->
                                <div class="tag_position card__position">
                                  <div class="vsm-tag-svg tag-svg">
                                    <img class="tag-svg__img" src="<?= $img_deco; ?>" alt="Promoción">
                                    <span class="tag tag_bg-purple tag_ie">
                                      <p class="txt-hand">Doble</p>
                                      <strong class="txt-hand">de</strong>
                                      <small class="txt-sm">megas</small>
                                    </span>
                                  </div>
                                </div>
                            </div>
                            <div class="card__header-info card_mobile">
                            <div class="card__header-row">
                                <!-- Variable: PREPAGO-22 Precio o total que se pinta sólo en mobile repitiendo el dato de precio de la parte inferior de la parrilla línea: 165  <p class="card__txt-high js-pricePlan">$300*</p>-->

                                <!--$priceHelper->currency($block->getProductByAttribute($_item->getId(), 'price'), true, false);-->
                                <p class="card__txt-high txt_brand">
                                    <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($itemPriceRecarga,true,false); ?>*
                                </p>
                            </div>
                            <!-- Botón desplegable-->
                            <button class="card__header-btn i-arrow-down" type="button">Desplegable</button>
                            </div>
                        </header>
                        <!-- Content in rows-->
                        <div class="card__wrap js-cardWrap">
                            <div class="card__content card__content_stretch">
                                <?php if($atredes_sociales_ilimitadas == 1) { ?>
                                <!-- row -->
                                <div class="card__item card__item_stretch">
                                
                                    <?= $html_social ?>

                                </div>
                                <?php } ?>
                                <!-- row -->
                                <div class="card__item card__item_stretch js-CheckSlideUp">
                                    
                                    <?= $html_video ?>

                                </div>
                                <?php if($atminustos_mexico_eu_y_canada_il == 1) { ?>
                                <!-- row -->
                                <div class="card__item card__item_stretch">

                                    <?= $html_llamadas ?>

                                </div>
                                <?php } ?>
                                <!-- row -->
                                <div class="card__item card__item_stretch">
                                    <small class="txt-small">Vigencia</small>
                                    <p class="card__txt"><?= $atvigencia_pla ?></p>
                                </div>
                                <div class="card__item card__item_stretch card-footer card__footer_stretch">
                                    <!-- row -->
                                    <div class="card__item card__item_no-border">
                                        <!-- Variable: PREPAGO-22 Precio o total que se pinta siempre en la parte inferior, repitiendo el dato de precio de la parte superior de la parrilla sólo para mobile-->
                                        <p class="card__txt-high js-pricePlan" id="priceGuia" data-price="<?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($atprice,true,false) ?>*" data-pricerecarga="<?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($itemPriceRecarga,true,false) ?>*">
                                            <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($itemPriceRecarga,true,false); ?>*
                                        </p>
                                        <!-- Variable: PREPAGO-22 Checkbox incluir recarga-->
                                        <div class="vsm-card__row_inline">
                                            <input class="form__check i-check-planes js-CheckBtnInfo" type="checkbox" id="checkrecarga" name="checkrecarga" data-sim="<?= $ayentity_id ?>" title="<?= $ayentity_id ?>" checked>

                                            <label class="form__label_check i-check i-check-planes value-plan-id" for="checkrecarga" title="<?= $atplan_asociado ?>">
                                                <?= $atplan_control ?>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="card__item">
                                        <!-- Variable: PREPAGO-22 Botón comprar-->
                                        <button class="card__btn btn submitprepago" data-sim="<?= $atplan_asociado ?>" type="submit">
                                            Comprar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Outside block-->
                        <div class="vsm-card__copy">
                            <small class="txt-small js-CheckSlideOutsideUp">*Costo de Chip Movistar + Recarga de $60</small>
                            <small class="txt-small js-CheckSlideOutsideDown hidden">*Costo de Chip Movistar</small>
                        </div>    
                    </div>
                </div>
            </div>
            <!-- Copy -->
            <div class="vsm-form__copy">
                <small class="txt-small">Tarifa de excedente de megas de $0.98 MXN en recargas superiores a $10 MXN</small>
            </div>
            <!-- Prepago: PREPAGO-22 FIN Parrilla única -->
            <!-- Prepago: PREPAGO-22 prefoot términos y condiciones -->
            <div class="steps__foot">
                <article class="steps__foot_inner">
                    <?php
                        $tac_status         =  $this->helper('Vass\PosVitrinaTerminal02Pre\Helper\Data')->getConfig('cms/movistar_prepago/tac_enable');
                        $tac_cms_block_id   =  $this->helper('Vass\PosVitrinaTerminal02Pre\Helper\Data')->getConfig('cms/movistar_prepago/tac_cms_block_id');

                        if ($tac_status && $tac_cms_block_id !== null) {
                            echo $this->getLayout()
                                ->createBlock('Magento\Cms\Block\Block')
                                ->setBlockId($tac_cms_block_id)
                                ->toHtml();
                        }
                        
                    ?>
                </article>
            </div>
            <!-- Prepago: PREPAGO-22 FIN  prefoot términos y condiciones -->
        </fieldset>
    <?php }?>

    <input class="box-check__input" type="checkbox" id="<?= $nameSimUniversal ?>" name="simuniversal[]" value="<?= $idSimUniversal ?>" checked>

    </form>

</div>


<script type="text/javascript">
    require([
        'jquery'
    ], function (
        $
    ) {

        $(document).ready(function(){

            $( ".card__header.sim" ).each(function( index ) {
                var fila1 = $('.card__header.sim .ocultoOne').find(".fila1").html();
                var fila2 = $('.card__header.sim .ocultoOne').find(".fila2").html();
                var fila3 = $('.card__header.sim .ocultoOne').find(".fila3").html();
                var fila4 = $('.card__header.sim .ocultoOne').find(".fila4").html();
                $('.card__header.sim').find('.tag.tag_blue').html(fila1);
                $('.card__header.sim').find('.txt-through_red').html(fila2);
                $('.card__header.sim').find('.card__title').html(fila3);
                $('.card__header.sim').find('.txt_bold').html(fila4);

            });

            if ($('#showCarrousel').length > 0) {
                    $('#planeshidden').css('opacity',1);
                    $('#planeshidden').css('height','auto');
            }

            $('.slider__cards_item').each(function(){
                var valorActive = $(this).find('.card_active').find('footer button').attr("title");
                if(valorActive!=undefined){
                    $('#plan_id').val(valorActive);
                }
            });

            $(document).on("click",".submitprepago",function(e) {
                e.preventDefault();
                var simDeseado = $(this).data('sim');
                var isComplement = $(this).closest('.js-cardWrap').find('#checkrecarga').length;
                if (isComplement > 0) {
                    var recargaDos = $(this).closest('.js-cardWrap').find('#checkrecarga').is(':checked');
                    if (recargaDos == false) {
                        var simDeseadoDos = $(this).closest('.js-cardWrap').find('#checkrecarga').data('sim');
                        $('#plan_id').val(simDeseadoDos);
                    }else{
                        $('#plan_id').val(simDeseado);
                    }
                }else{
                    $('#plan_id').val(simDeseado);
                }
                
                if ($('#plan_id').val() == "") {
                    return false;
                }else{
                    //Verifico si es sin terminal
                    $('#formSim').submit();
                }
            });
            
            $(document).on("click",".value-plan-id",function() {
                var idProduct = $(this).attr("title");
                //console.log($('input[name=checkplanes]').attr("checked"));
                var checkStatus = $('input[name=checkrecarga]').is(':checked');
                if ( checkStatus  == false){
                    $('#plan_id').val($('#plan_parent').val());
                    var fila1 = $('.card__header.sim .ocultoTwo').find(".fila1").html();
                    var fila2 = $('.card__header.sim .ocultoTwo').find(".fila2").html();
                    var fila3 = $('.card__header.sim .ocultoTwo').find(".fila3").html();
                    var fila4 = $('.card__header.sim .ocultoTwo').find(".fila4").html();
                    $('.card__header.sim').find('.tag.tag_blue').html(fila1);
                    $('.card__header.sim').find('.txt-through_red').html(fila2);
                    $('.card__header.sim').find('.card__title').html(fila3);
                    $('.card__header.sim').find('.txt_bold').html(fila4);
                    $('.js-pricePlan').html($('#priceGuia').data('price'));
                    return true;
                }else{
                    $('#plan_id').val(idProduct);
                    var fila1 = $('.card__header.sim .ocultoOne').find(".fila1").html();
                    var fila2 = $('.card__header.sim .ocultoOne').find(".fila2").html();
                    var fila3 = $('.card__header.sim .ocultoOne').find(".fila3").html();
                    var fila4 = $('.card__header.sim .ocultoOne').find(".fila4").html();
                    $('.card__header.sim').find('.tag.tag_blue').html(fila1);
                    $('.card__header.sim').find('.txt-through_red').html(fila2);
                    $('.card__header.sim').find('.card__title').html(fila3);
                    $('.card__header.sim').find('.txt_bold').html(fila4);
                    $('.js-pricePlan').html($('#priceGuia').data('pricerecarga'));
                }
                
            });



            $(document).on("click",".value-plan-id-button",function() {
                var idProduct = $(this).attr("title");
                $('#plan_id').val(idProduct);
                $('#plan_parent').val(idProduct);
                scrollToAnimated('.layout_bg-col', 1500);
            });


            $('.card__row_inline').each(function(){
                $(this).find('.form__check').bind('click', function(){
                    var valorActive = $(this).attr("title");
                    $('#plan_id').val(valorActive);
                });
            });
                                
        });


        //Se coloca el js desde aca con el fin dee ser movido al main.js sea el principal o require, pero 
        //por alguna razón no funciona desde el global y aun no tiene el require implementado.        /*
        //Scrolls to and animate

        function scrollToAnimated(destinationId, delay) {
            setTimeout(function () {
                var dest = $(destinationId).offset().top;
                $("html, body").animate({scrollTop: dest});
            }, delay)
        }

    });
</script>