<?php
/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'favorite_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    ?>
    <div class="steps__cont js-sliderCont">
        <div class="steps__subhead">
            <h2 class="head__title"><?= $block->escapeHtml(__($block->getTitle())) ?></h2>
        </div>
        <div class="steps__row">
            <div class="spinner"><span></span><span></span><span></span><span></span></div>
            <div class="slider-detail">
                <div class="slider-detail__inner">
                    <div class="slider-detail__list slider-detail_opacity js-slideHome3">
                        <!-- -->
                        <?php foreach ($items as $_item):

                            $product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getId());
                            $precioPlan = number_format($product->getPrecioPlan(),2,',','.');   
                            $price = number_format(ceil($_item->getPrice()*.5/24),0,'.',',');
                            ?>
                            <article class="grid__slot grid__slot_no-edge" data-sku="<?= $product->getSku(); ?>" data-price="<?= $price; ?>" data-brand="<?=  $product->getResource()->getAttribute('marca')->getFrontend()->getValue($product) ?>">
                                <a class="grid__inner" href="<?= $_item->getProductUrl().'?origin=pospago' ?>" title="<?= $block->escapeHtml(__('Ir a comprar %1', $_item->getName())) ?>">
                                    <figure class="grid__photo">
                                        <img data-dl-product-view-detail="<?php echo $_item->getId(); ?>" class="grid__img" src="<?= $block->getImageUrl($_item, $image) ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>">
                                    </figure>
                                    <div class="grid__body">
                                        <div class="rating grid__rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                            <?php
                                                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                                $reviewFactory = $objectManager->create('Magento\Review\Model\Review');

                                                $reviewFactory->getEntitySummary($product, 2);

                                                $ratingSummary = $product->getRatingSummary()->getRatingSummary();
                                                if ($ratingSummary == null) {
                                                    $ratingSummary = 0;
                                                }
                                                //var_dump($ratingSummary);
                                            ?>
                                            <div class="rating-summary" style="margin:0 auto;">
                                                <?php if ($ratingSummary == 0) { ?>
                                                     <div class="rating-result" style="opacity: 0;" title="<?= $ratingSummary ?>%">
                                                <?php }else{ ?>
                                                     <div class="rating-result" title="<?= $ratingSummary ?>%">
                                                <?php } ?>
                                               
                                                    <span style="width:<?= $ratingSummary ?>%">
                                                        <span>
                                                            <?= $ratingSummary ?>%</span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                        <h2 class="grid__title"><?= substr($block->escapeHtml($_item->getName()),0,16) ?></h2>
                                        <p class="grid__footer">
                  <span class="grid__value">$ <?=$price;?>
                      <small class="grid__txt-brand">Plan/mes*</small></span>
                                            <span class="grid__btn btn">Ver detalle</span>
                                        </p>
                                    </div>
                                </a>
                            </article>
                        <?php endforeach; ?>
                        <!-- -->
                    </div>
                </div>
                <div class="slider-detail__controls">
                    <button class="slider__arrow i-arrow-left prev" type="button"><span class="slider__arrow-txt">anterior</span></button>
                    <button class="slider__arrow i-arrow-right next" type="button"><span class="slider__arrow-txt">siguiente</span></button>
                </div>
            </div>
        </div>
        <div class="steps__foot">
            <a class="steps__link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Ver todos los equipos">Ver todos los equipos</a>
            <div class="steps__foot_inner">
                <?php
                    $tac_status         =  $this->helper('Vass\PosVitrinaTerminal02Pre\Helper\Data')->getConfig('cms/movistar_vitrina_terminales/tac_enable_two');
                    $tac_cms_block_id   =  $this->helper('Vass\PosVitrinaTerminal02Pre\Helper\Data')->getConfig('cms/movistar_vitrina_terminales/tac_cms_block_id_two');

                    if ($tac_status && $tac_cms_block_id !== null) {
                        echo $this->getLayout()
                            ->createBlock('Magento\Cms\Block\Block')
                            ->setBlockId($tac_cms_block_id)
                            ->toHtml();
                    }    
                ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery'
        ], function (
            $
        ) {
            /*
            $(document).on('click','.grid__slot_no-edge .grid__btn',function() {
                if ($(this).attr('url') != 'false') {
                    var param = 'ajax=1';
                    $.ajax({
                        showLoader: true,
                        url: $(this).attr('url'),
                        data: param,
                        type: "POST",
                        dataType: 'json',
                        success: function (data) {
                            window.location.href = 'pos-vitrina-terminal-comprar.html';
                        },
                        failure: function (errMsg) {
                            window.location.href = 'pos-vitrina-terminal-comprar.html';
                        }
                    });

                    $(document).ajaxComplete(function (event, xhr, settings) {
                        if (settings.url.indexOf("customer/section/load/?sections=cart") > 0) {
                            window.location.href = 'pos-vitrina-terminal-comprar.html';
                        }
                    });

                    return false;
                }
            });
            */
        });
    </script>
<?php endif;?>