<?php                                    
$blockM = $block->getLayout()->createBlock('Vass\PlansRecharges\Block\Adminhtml\Main');
$idPlan = $blockM->getId('codigo_plan');
$sql = "SELECT codigo_plan, textos_de_folios FROM vass_plans_recharges WHERE codigo_plan='".$idPlan."'";
$infoold = $block->getSelectPlansRecharges($sql);
$exist = $infoold["codigo_plan"];
if($exist == " " || $exist == "" || $exist == NULL){
    $infoold['codigo_plan']= "Sin datos";
    $infoold['textos_de_folios'] = "Inténtelo nuevamete";
}
?>

<form action="<?=$block->getUrl('plansrecharges/event/edit');?>" method="post" id="enviarinformacion" enctype="multipart/form-data">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button id="save" title="Save Contact" onclick="showLoader();" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span>Actualizar</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Introduzca los cambios deseados</span>
            </strong>
        </div>
        <br><br>
        <label>Código Identificador del plan</label>
        <input type="text" name="codigo_id_new" value="<?= $infoold['codigo_plan'] ?>">
        <br><br>
        <label>Texto del Folio</label>
        <input type="text" name="texto_new" value="<?= $infoold['textos_de_folios'] ?>">
        <input type="hidden" name="codigo_id_old" value="<?= $infoold['codigo_plan'] ?>">
    </div>
</form>
