<form action="<?=$block->getUrl('plansrecharges/event/add');?>" method="post" id="enviarinformacion" enctype="multipart/form-data">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button id="save" title="Save Contact" onclick="showLoader();" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span>Agregar</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Introduzca la información del nuevo Plan de Recargas</span>
            </strong>
        </div>
        <br><br>
        <label>Código Identificador del plan</label>
        <input type="text" name="codigo_id_new" value="" placeholder="Código Identificador del Plan">
        <br><br>
        <label>Texto del Folio</label>
        <input type="text" name="texto_new" value="" placeholder="Texto del folio">
    </div>
</form>
