<form action="<?=$block->getUrl('plansrecharges/event/importarplans');?>" method="post" id="enviarinformacion" enctype="multipart/form-data">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button id="save" title="Save Contact" onclick="showLoader();" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span>Ejecutar</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Ejecutar sincronización automática (Altas/Cambios)</span>
            </strong>
        </div>
        <br><br>
        <table border="1" cellpadding="6" style="width:100%">
          <tr>
            <th class="codigo_plan" style="padding:6px;">Código Plan</th>
            <th class="codigo_plan" style="padding:6px;">ID AppSaac</th>
            <th class="json_attr" style="padding:6px;">Json Attribute</th>
            <th class="entity" style="padding:6px;">Entity ID</th>
          </tr>
            <?php
                //echo $block->sayHello();

                $planesRegistrados = sizeof($block->getPostCollection());
                if($planesRegistrados > 0){
                    foreach ($block->getPostCollection() as $key=>$post){
                    echo '<tr>
                            <td width="10%" style="padding:6px;">'.$post['codigo_plan'].'</td>
                            <td width="10%" style="padding:6px;">'.$post['id_appsaac'].'</td>
                            <td width="60%" style="padding:6px;">'.$post['json_plan_recharge'].'</td>
                            <td width="20%" style="padding:6px;">'.$post['entity_shop'].'</td>
                        </tr>';
                    }
                }else{
                    echo '<tr>
                            <td style="padding:6px;" colspan="4">Sin registros en la Base de Datos</td> 
                        </tr>';
                }
                
                ?>
        </table>  
    </div>
</form>
<?php
    $link_media = $this->getBaseUrl();
    $link_media = $link_media."pub/media/wysiwyg/recortes/";
?>
<div id="procesando" class="admin__data-grid-loading-mask" style="width:100%;height:100%;display:block;position:fixed;top:0;left:0;background: #FFF;display:none;">
    <div class="loading" style="margin:0 auto;">
        <img style="display: block;position: relative;margin: 0 auto;" src="<?= $link_media.'loading.gif' ?>" alt="Loading">
    </div>
</div>
<script>
function showLoader() {
    document.getElementById("procesando").style.display = "block";
}
</script>