<?php
$blockCustomer = $block->getLayout()->createBlock('Vass\MiPerfil\Block\Index');
$dataCustomer = $blockCustomer->getDataCustomer();
$link_base = $this->getBaseUrl();
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media."recortes/";
$pdfAviso = $this->getUrl('pub/media/archivos/').'avisoprivacidad.pdf';

foreach ($dataCustomer['customer'] as $clave => $valor) {
        $usuario[$clave] =  $valor;
}
foreach ($dataCustomer['shipping'] as $clave => $valor) {
        $shipping[$clave] =  $valor;
}
foreach ($dataCustomer['billing'] as $clave => $valor) {
        $billing[$clave] =  $valor;
}
?>
<div style="display: none;">
<?php 
echo "<pre>";
print_r($dataCustomer);
echo "</pre>";
?>
</div>
<div class="layout_inner">
        <h1 class="title_headline">Perfil</h1>
        <!-- contenido a dos columnas-->
        <div class="layout-flex layout-flex_sticky">
          <aside class="layout-flex__item_xs">
            <ul class="menu-aside js-menu-aside">
              <li class="menu-aside__item active" data-formsection="0"><a class="menu-aside__link js-ProfileTab">Perfil</a></li>
              <li class="menu-aside__item" data-formsection="1"><a class="menu-aside__link js-PasswordTab">Cambio de contraseña</a></li>
              <li class="menu-aside__item">
                <a class="menu-aside__link" href="<?= $link_base."customer/account/logout/" ?>">Cerrar sesión</a>
              </li>
            </ul>
            <div class="panel panel-aside"><a class="panel__ico" href="#" title="Ir Asistencia Virtual">
                <p class="panel__bold i-chat-comic">Asistencia Virtual</p></a></div>
          </aside>
          <div class="layout-flex__item">
            <div class="form__section" data-formsection="0">
              <form class="form form-data validate" id="update-account" action="<?=$this->getUrl('perfil-usuario/index/updatecustomer/')?>" method="post">
                  <input type="hidden" name="actualizar-datos-personales" value="1">
                  <input type="hidden" name="customer_id" value="<?=$usuario['entity_id']?>" />
                <div class="avatar">
                  <div class="avatar__col avatar__label js-croppaContainer">
                    <div class="js-croppaProfile"></div><span class="js-croppaDelete">Eliminar foto</span>
                  </div>
                  <div class="avatar__col js-uploadContainer">
                    <input class="avatar__input js-croppa" type="file" name="avatar" id="avatar">
                    <label class="avatar__label" for="avatar">     
                      <div class="avatar__icon">
                        <div class="i-camera-upload"></div>
                      </div><span>Subir foto</span>
                    </label>
                  </div>
                  <div class="avatar__col">
                    <h2 class="avatar__name">
                      <?php echo $usuario['first_name']." ".$usuario['last_name']; ?>
                    </h2>
                  </div>
                </div>
                <div class="form__section js-btnDropdownParent">
                  <div class="grid-form grid-form_end">
                    <button class="anchor-item profile__arrow i-arrow-up toggleDropDown" type="button">Datos personales</button>
                  </div>
                  <div class="form__cont js-formCont">
                    <div class="form__row">
                      <label class="form__label" for="name">Nombre</label>
                      <div class="form__signal js-validateItem">
                        <input class="form__input" id="name" value="<?= $usuario['first_name'] ?>" type="text" placeholder="Antons" name="name" data-validate="name">
                      </div><small class="js-validateMsg" data-name="name"></small>
                    </div>
                    <div class="form__row">
                      <label class="form__label" for="lastName">Apellido Paterno</label>
                      <div class="form__signal js-validateItem">
                        <input class="form__input" id="lastName" value="<?= $usuario['last_name'] ?>" type="text" placeholder="Sánchez" name="lastName" data-validate="lastName">
                      </div><small class="js-validateMsg" data-name="lastName"></small>
                    </div>
                    <div class="form__row">
                      <label class="form__label" for="lastName">Apellido Materno</label>
                      <div class="form__signal js-validateItem">
                        <input class="form__input" id="MiddleName" value="<?= $usuario['middle_name'] ?>" type="text" placeholder="Abreu" name="MiddleName" data-validate="MiddleName">
                      </div><small class="js-validateMsg" data-name="MiddleName"></small>
                    </div>
                    <div class="form__row">
                      <label class="form__label" for="phone">Teléfono</label>
                      <div class="form__signal js-validateItem">
                        <input class="form__input" type="phone" name="phone" id="phone"  value="<?= $shipping['telephone'] ?>" placeholder="5556129815" data-validate="phone">
                      </div><small class="js-validateMsg" data-name="phone"></small>
                    </div>
                    <div class="form__row">
                      <label class="form__label" for="email">Correo electrónico</label>
                      <input class="form__input" type="email" name="email" id="email"  value="<?= $usuario['email'] ?>" placeholder="micorreo@correo.com" disabled><small class="js-validateMsg" data-name="email"></small>
                    </div>
                    <div class="form__row">
                      <label class="form__label" for="rfc">Tú Registro Federal de Contribuyentes (RFC)</label>
                      <div class="form__signal js-validateItem">
                        <input class="form__input" type="phone" name="rfc" id="rfc" value="<?= $usuario['rfc'] ?>" placeholder="OAY841030QA5" data-validate="RFC">
                      </div><small class="js-validateMsg" data-name="rfc"></small>
                    </div>
                    <div class="form__row">
                      <button class="btn" type="submit">Guardar cambios</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="form__section js-btnDropdownParent" data-formsection="1">
              <div class="grid-form grid-form_end">
                <button class="anchor-item profile__arrow i-arrow-up toggleDropDown" type="button">Cambiar contraseña</button>
              </div>
              <div class="form__cont form__cont_close js-formCont">
                <form class="form validate" action="<?=$this->getUrl('perfil-usuario/index/updatecustomer/')?>" method="POST" novalidate="novalidate">
                  <input type="hidden" name="customer_id" value="<?=$usuario['entity_id']?>" />
                  <div class="form__row">
                    <label class="form__label" for="oldPassword">Contraseña actual</label>
                    <div class="form__relative">
                      <input class="form__input" id="oldPassword" type="password" placeholder="******" name="oldPassword" data-validate="value">
                      <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                    </div><small class="js-validateMsg" data-name="oldPassword"></small>
                  </div>
                  <div class="form__row">
                    <label class="form__label" for="newPassword">Nueva contraseña</label>
                    <div class="form__signal js-validateItem">
                      <input class="form__input" id="newPassword" type="password" placeholder="******" name="newPassword" data-validate="password" data-validate-confirmPassword>
                      <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                    </div><small class="js-validateMsg" data-name="newPassword"></small>
                  </div>
                  <div class="form__row">
                    <label class="form__label" for="confirmPass">Confirmar contraseña</label>
                    <div class="form__signal js-validateItem">
                      <input class="form__input" id="confirmPass" type="password" placeholder="******" name="confirmPass" data-validate="confirmPassword">
                      <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                    </div><small class="js-validateMsg" data-name="confirmPass"></small>
                  </div>
                  <div class="form__row"><span class="form__security-level js-securityLevel"></span>
                    <p class="form__security-label" data-level="Bajo">Nivel de Seguridad de Contraseña:</p>
                  </div>
                  <div class="form__row">
                    <button class="btn" type="submit">Cambiar contraseña</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="form__section">
             <div class="form__row">
               <button id="button-mobile-close-session-user" class="form__btn btn btn_blue btn_center icon-after-power_settings_new">
                Cerrar Sesión
              </button>
             </div>
           </div>
          </div>
        </div>
      </div>
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<style type="text/css">
    .form__label{
        margin-bottom: 0;
    }
    .form__signal_error:after,
    .form__signal_check:after{
        font-family: 'MaterialIcons-Regular' !important;
    }
    .form__signal_check:after{
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
</style>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {

        var password = document.getElementById("newPassword")
          , confirm_password = document.getElementById("confirmPass");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Las contraseñas no coinciden");
          } else {
            confirm_password.setCustomValidity('');
          }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        function isValidDate(dateString){
                var valid = false,
                      info,
                      real;
                  
                  // Validar formato
                  if (/^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$/.test(dateString)) {
                    
                    // Validar fecha
                    info = dateString.split(/\//);
                    real = (new Date(info[2], info[1] - 1, info[0])).toISOString().substr(0,10).split('-');
                    if (info[0] === real[2] && info[1] === real[1] && info[2] === real[0]) {
                      valid = true;
                    }
                  }
                  return valid;
        };

        $("input[name='fecha']").blur(function(){
            var validaDate = isValidDate($(this).val());
            if(validaDate == false){
                $(this).val("");
            }
            console.log("ValidDates: "+validaDate);
        });



        jQuery(document).on("click", "#button-mobile-close-session-user", function() {
            window.location.replace("/perfil-usuario/index/logout");
        });



        //Nivel de seguridad de la contraseña:

        $(document).on("click", "#submitCreateAccount", function() {
            var messagesTelefonica = {
                emailTel: 'Introduce un email o teléfono valido.',
                password: 'Introduce una contraseña valida.',
                confirmPassword: 'Ingresa la misma contraseña.',
                name: 'Ingresa un Nombre valido.',
                lastName: 'Ingresa un Apellido valido.',
                phone: 'Ingreso un número inválido, comunícate al *018007380036 para más detalle',
                email: 'Ingrese un correo electrónico valido',
                checkPrivacy: 'Para continuar tienes que aceptar nuestro aviso de privacidad',
                checkTerms: 'Para continuar tienes que aceptar nuestros términos y condiciones',
                checkCont: 'Para continuar tienes que aceptar nuestro contrato',
                street: 'Calle incorrecta. Ingresa una calle valida.',
                streetNumber: 'Número incorrecto. Ingresa un Número valido.',
                streetColony: 'Colonia incorrecta. Ingresa una Colonia valida.',
                city: 'Ciudad incorrecta. Ingresa una Ciudad valida.',
                municipality: 'Municipio incorrecto. Ingresa un Municipio valido.',
                RFC: 'Ingresa un RFC valido.',
                confirmEmail: 'Ingresa el mismo correo electrónico.',
                postalCode: 'Código postal incorrecto. Ingresa un Código postal valido.',
                value: 'Introduce un valor valido.',
                radio: 'Seleccionar una opción',
                address: 'Ingresa una dirección válida',
                card: 'Ingresa un número de tarjeta',
                CCV: 'Ingresa un CCV valido',
                number: 'Introduce un valor valido.',
                digit4: 'Ingresa los Últimos 4 dígitos de tu tarjeta',
                recarga: 'No has seleccionado tu monto de recarga',
                fecha: 'Ingresa la fecha en el formato especificado'
            };

            function changeValidateTelefonica(name, dataValidate, elem) {
                var elemSpan = $('.js-validateMsg[data-name="' + name + '"]');
                elemSpan.text("");
                elemSpan.removeClass('form__msg_error');
                elemSpan.addClass('form__msg_check');

                if ($(elem).parent().hasClass('js-validateItem') && $(elem).parent().hasClass('form__signal_error')) {
                    $(elem).parent().removeClass('form__signal_error');
                    $(elem).parent().addClass('form__signal_check');
                }
            }

            function customErrorMessageTelefonica(name, dataValidate, elem) {
                var elemSpan = $('.js-validateMsg[data-name="' + name + '"]');
                elemSpan.text(messagesTelefonica[dataValidate]);
                elemSpan.removeClass('form__msg_check');
                elemSpan.addClass('form__msg_error');

                if ($(elem).parent().hasClass('js-validateItem') && !$(elem).parent().hasClass('form__signal_error')) {
                    $(elem).parent().removeClass('form__signal_check');
                    $(elem).parent().addClass('form__signal_error');
                }
            }

            $("form#create-account :input[required]").each(function(){
                var input = $(this); // This is the jquery object of the input, do what you will
                var name = input.attr('name');
                var dataValidate = input.attr('data-validate');
                var tipo = input.attr('type');
                if( input.val().length <= 0 && tipo != "checkbox") {
                    customErrorMessageTelefonica(name, dataValidate, input);
                }else{
                    if( input.prop('checked') == false && tipo == "checkbox" ) {
                        customErrorMessageTelefonica(name, dataValidate, input);
                    }else{
                        if(tipo ==  "password" && password.value != confirm_password.value){
                            customErrorMessageTelefonica(name, dataValidate, input);
                        }else{
                            if (tipo == "Entrepids.Portability.view.frontend.email.email") {
                                //Validar email no este dado de alta
                                var urlValidateEmail = window.location.protocol + '//' + window.location.host;
                                var $alerta = false;
                                var $txt_alert = "";
                                var email = input.val();

                                jQuery.ajax({
                                    type: 'GET',
                                    url: urlValidateEmail + "/valid-info/", //file which read zip code excel file
                                    dataType: "json", //is used for return multiple values
                                    data: {
                                        'email': email
                                    },
                                    success: function(data) {
                                        if (data.result != 0) {
                                            $txt_alert = "El email "+email+" ya se encuentra dado de alta en la Tienda";
                                            $alerta = true;
                                            validForm = "active";
                                            input.val(" ");
                                            input.focus();
                                            $('.alert.alert_warning').html($txt_alert);
                                            $('.alert.alert_warning').removeClass("bounceOut");
                                            $('#changeone').trigger('click');
                                            $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function() {
                                                $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                            });
                                        }
                                        try {

                                        } catch (e) {
                                            //console.log("Error");
                                        }
                                    },
                                    complete: function() {
                                        //console.log("Complete");
                                    },
                                    error: function(xhr, status, err) {
                                        //alert("status=" + xhr.responseText + ", error=" + err);
                                    }
                                });
                            }else{
                                if (name == "fecha") {
                                    var validaDate = isValidDate(input.val());
                                    if(validaDate == false){
                                        input.val("");
                                        customErrorMessageTelefonica(name, dataValidate, input);
                                    }else{
                                        changeValidateTelefonica(name, dataValidate, input);
                                    }
                                }else{
                                    changeValidateTelefonica(name, dataValidate, input);
                                }
                                
                            }
                        }
                    }

                }
            });

        });

    });

</script>