<!-- bloque portabilidad -->
<?php 
$portabilityData = $block->isPortability();
if($portabilityData): 
?>
<script>
    require(['jquery'], function ($) {
        $( document ).ready(function() {
            $('.data-aside__wrap h2').after('<small class="head__title head__title__summary steps__title4" style="display: block;" id="numero_portar"><?php echo __(sprintf('Tu número a portar: %s',$block->getDN())); ?></small>');
        });
    });
</script>
<?php endif; ?>
<!-- /bloque portabilidad -->