<!-- bloque portabilidad -->
<?php 
$portabilityData = $block->isPortability();
if($portabilityData): 
?><div class="layout layout__padding" id="yourNumberPortabilityHeader">
    <fieldset class="layout_inner steps vsm-form__fieldset">
        <legend class="steps__legend steps__legend2">
            <span class="steps__head steps__head2">
                <small class="head__title" id="numero_portar"><?= __('Tu número a portar:'); ?></small>
            </span>
            <span class="steps__head">
                <small class="head__title head__title3"><?= $block->getDN(); ?></small>
            </span>                   
        </legend>                
    </fieldset>
    
    <div class="form__label_center steps__top">
        <a class="steps__link link__brand" href="<?= $block->getUrl('portabilidad/portability/destroySession', ['_secure' => true]); ?>" alt="<?= __('Este no es mi número'); ?>"><?= __('Este no es mi número'); ?></a>
    </div>
    <div class="form__label_center thanks-message steps__bottom2">
        <?= __(  'Bienvenido, nos alegra que quieras cambiar tu número a Movistar.') ?>
    </div>
    <hr class="portaR">
</div>
<?php endif; ?>
<!-- /bloque portabilidad -->