<?php
?><!-- bloque renewals -->
<?php
/** @var \Magento\Catalog\Pricing\Render\FinalPriceBox $block */

$productId = $block->getSaleableItem()->getId();

$referralIsRenewal = $block->referrerIsRenewal();
$renewalData = array();
if($referralIsRenewal){
    $renewalData = $block->getRenovacionData();
}


/** ex: \Magento\Catalog\Pricing\Price\RegularPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** ex: \Magento\Catalog\Pricing\Price\FinalPrice */
/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;

$helper = $this->helper('Vass\PosCarStepsPre\Helper\Order');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Catalog\Model\Product')->load($productId);

/**
 * 
 * @var \Entrepids\VitrinaManagement\Helper\Vitrina $_helperVitrina
 */
$_helperVitrina = $this->helper('Entrepids\VitrinaManagement\Helper\Vitrina');
$_isVitrina = $_helperVitrina->isVitrina();
$tipoVitrina = ($_isVitrina)? $_helperVitrina->getCategoryTipoVitrina() : null;

$tipos_vitrinas_default = array(1,2);

if(!$_isVitrina || $_helperVitrina->isPrecioDefault() ){
    $precioPrepago = $product->getPricePrepago();
    if ($helper->getConfigValue('enable')) {
        $hotsaleDiscount = $product->getHotsaleDiscount();
        $precioPrepago *= (1 - $hotsaleDiscount);
    }
} else {
    $precioPrepago = $_helperVitrina->getDisplayValuePrepago($product);
}
$prepagoFlag = '';
$pospagoFlag = '';
$terminalesFlag = '';
if($block->getRequest()->getParam('origin') == 'prepago'){
    $prepagoFlag = 'defaultSelected';
}elseif($block->getRequest()->getParam('origin') == 'pospago'){
    $pospagoFlag = 'defaultSelected';
}else{
    $terminalesFlag = 'defaultSelected';
}
?>
<div class="grid__label">Desde</div>
<!-- Hotfix: INTPOSP-448 se agrega un div con la clase "grid__label" y un moficicador "grid__label_price"-->
<div class="grid__label grid__label_price">Precio</div>
<!-- Hotfix: INTPOSP-447 se quita la clase: grid__blocks del contenedor-->
<div>
<?php if ($block->hasSpecialPrice()): ?>
    <span class="special-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __(''),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
    <span class="agu-grid__value">/</span>
    <span class="old-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __(''),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </span>
    <?php else: ?>
        <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
<?php endif; ?>

<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()):?>
        <a href="<?= /* @escapeNotVerified */ $block->getSaleableItem()->getProductUrl() ?>" class="minimal-price-link">
            <?= /* @escapeNotVerified */ $block->renderAmountMinimal() ?>
        </a>
    <?php else:?>
        <span class="minimal-price-link">
            <?= /* @escapeNotVerified */ $block->renderAmountMinimal() ?>
        </span>
    <?php endif; ?>
<?php endif; ?>

</div>

<?php 
    if (!$_isVitrina || $_helperVitrina->isPrecioDefault() ) {
        $precioDetalle = json_decode($finalPriceModel->getAmount()); 
    } else {
        $precioDetalle = $_helperVitrina->getDisplayValuePospago($product);
    }
?>

<form class="form vsm-detail-form vsm-aside__detail" action="">
    <!--<fieldset class="layout-form__row"><span class="layout__txt">Color:</span>
    <ul class="list-thumb">
        <li class="list-thumb__item">
        <input class="list-thumb__input" id="color1" type="radio" checked="checked" name="colors">
        <label class="list-thumb__circle list-thumb__circle_5" for="color1"></label>
        </li>
        <li class="list-thumb__item">
        <input class="list-thumb__input" id="color2" type="radio" name="colors">
        <label class="list-thumb__circle list-thumb__circle_1" for="color2"></label>
        </li>
        <li class="list-thumb__item">
        <input class="list-thumb__input" id="color3" type="radio" name="colors">
        <label class="list-thumb__circle list-thumb__circle_3" for="color3"></label>
        </li>
        <li class="list-thumb__item">
        <input class="list-thumb__input" id="color4" type="radio" name="colors">
        <label class="list-thumb__circle list-thumb__circle_4" for="color4"></label>
        </li>
    </ul>
    </fieldset>-->
    <!--SubRow #1-->
    <!--<fieldset class="layout-form__row">
        <span class="layout__txt">Capacidad:</span>
        <ul class="list-thumb list-thumb_inline">
            <li class="list-thumb__item">
            <input class="list-thumb__input" id="boll1" type="radio" checked="checked" name="bolls">
            <label class="list-thumb__boll" for="boll1">32 GB</label>
            </li>
            <li class="list-thumb__item">
            <input class="list-thumb__input" id="boll2" type="radio" name="bolls">
            <label class="list-thumb__boll" for="boll2">128 GB</label>
            </li>
            <li class="list-thumb__item">
            <input class="list-thumb__input" id="boll3" type="radio" name="bolls">
            <label class="list-thumb__boll" for="boll3">256 GB</label>
            </li>
        </ul>
    </fieldset>-->
    <!--SubRow #3-->
    <fieldset class="layout-form__row"><span class="layout__txt layout__txt2"><?= ($renewalData) ? __('Precio Renovación:') : __('Precio:'); ?></span>
        <!-- Hotfix: INTPOSP-447 se quita la clase: grid__blocks del contenedor-->

        <!-- Variable: PREPAGO-95 agregar variables dinàmicas con los respectivos precios -->
        <div class="grid-thumb">
            <?php if($renewalData): ?>
            <div class="grid-thumb__slot grid-thumb__slot2">
                <input class="list-thumb__input price-select" data-click="price1" type="radio" name="prices" checked="">
                <label class="list-thumb__boll js-priceSelectTwo js-plan new__thumb new__thumb6 undo__margin <?= $pospagoFlag?>" for="price1" data-price="<?= round($precioDetalle/24,2); ?>">
                    $<?=round($precioDetalle/24,2);?>/mes*
                </label>
                <span class="list-thumb__txt list-thumb__txt2">Llévatelo con un plan</span>
            </div>
            <div class="grid-thumb__slot"></div>
            <div class="grid-thumb__slot"></div>
            <?php else: ?>
                <?php if(!$_isVitrina || $_helperVitrina->isVitrinaPospago()): 
                    $price = ceil($precioDetalle);
                    $price = ($price * 0.5 / 24);
                    $pariceAsText = number_format($price,0 , '.', '');
                ?>
                    <div class="grid-thumb__slot">
                        <input class="list-thumb__input price-select" data-click="price1" type="radio" name="prices" checked="">
                        <label class="list-thumb__boll js-priceSelectTwo js-plan new__thumb new__thumb6 undo__margin <?= $pospagoFlag?>" for="price1" data-price="<?= $pariceAsText; ?>">
                            $<?= $pariceAsText; ?>/mes*
                        </label>
                        <span class="list-thumb__txt">Llévatelo con un plan</span>
                    </div>
                <?php endif; ?>
                <?php if(!$_isVitrina || $_helperVitrina->isVitrinaPrepago()): ?>
                    <div class="grid-thumb__slot">
                        <input class="list-thumb__input price-select" data-click="price2" type="radio" name="prices">
                        <label class="list-thumb__boll js-priceSelectTwo js-plan <?= $prepagoFlag?>" for="price2" data-price="<?= number_format(ceil($precioPrepago),0,'.',''); ?>">
                            $<?=number_format(ceil($precioPrepago),0,'.',',');?>
                        </label>
                        <span class="list-thumb__txt">Llévatelo en prepago</span>
                    </div>
                <?php endif; ?>
                <?php if(!$_isVitrina || $_helperVitrina->isVitrinaTerminal()): ?>
                    <div class="grid-thumb__slot">
                        <input class="list-thumb__input price-select" data-click="price3" type="radio" name="prices">
                        <label class="list-thumb__boll js-priceSelectTwo js-plan <?= $terminalesFlag ?>" for="price3" data-price="<?= number_format(ceil($precioPrepago),0,'.',''); ?>">
                            $<?=number_format(ceil($precioPrepago),0,'.',',');?>
                        </label>
                        <span class="list-thumb__txt">Llévatelo solo</span>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
         </div>
    <!--SubRow #4-->
    <!-- <fieldset class="layout-form__row js-btnDropdownParent">
    <button class="btn-dropdown i-arrow-down toggleDropDown" type="button">¿Tienes una promoción?</button>

    <div class="form__cont_close js-formCont">
        
         Links Eliminar
        <div class="vsm-form__row-inline">
            <p class="form__label">iPhone X 10% de descuento</p>
            <button class="vsm-form__link link__brand js-itemAside" data-itemid="1">Eliminar</button>
        </div>

         Links Eliminar
        <div class="vsm-form__row-inline">
            <p class="form__label">Día de la madre</p>
            <button class="vsm-form__link link__brand js-itemAside" data-itemid="2">Eliminar</button>
        </div>

         Input search
        <div class="vsm-form__row-upline">
            <label class="form__label">Insertar otra promoción</label>
            <span class="vsm-form__row-inline">
                <input class="form__input" type="text" placeholder="1234567890">
                <button class="vsm-form__link link__brand">Agregar</button>
            </span>
        </div>

          Botón
         <div class="form__row-none">
            <button class="form__btn btn i-shopping-car" type="button">Agregar al carrito</button>
        </div>
    
    </div>
    </fieldset> -->
</form>
    <script>
        require([
        'jquery'
    ], function ($) {
        'use strict';
        $(document).on('ready',function() {
            setTimeout(function() {
                $('.defaultSelected').trigger('click');
            }, 1000);
        });
    });
    </script>
    <script type="text/javascript">
        require([
            'jquery',
            'mage/url'
        ], function ($,urlBuilder) {
            $( document ).ready(function() {
                var pathname = window.location.pathname;
                
                if(pathname == "/catalog/product_compare/index/"){
                    $(".layout-form__row").hide();
                }
                

                <?php if(!empty($renewalData)): ?>
                        var add2cartUrl = 'location.href=\'' + urlBuilder.build('renovaciones/cart/addterminal/id/<?= $productId; ?>') + '\'';
                        $('#btn-buy-one').attr("onclick",add2cartUrl);
                        var mas_telefonos = 'location.href=\'' + urlBuilder.build('terminales.html') + '\'';
                        $('#gtm-button-add-to-cart').attr("onclick", mas_telefonos);
                        //$('.terms-and-conditions-pospago').hide();
                <?php endif; ?>

                $(document).on("click", "input[name='prices']", function() {
                        //var buttonDisplay = $(this).prop('id');
                        var buttonDisplay = $(this).data('click');
                        $('.comprar-terminal').css('display','none');
                        switch(buttonDisplay) {
                          case "price1":
                            $('#btn-buy-one').css('display','block');
                            $('.terms-and-conditions-pospago').show();
                            $('.more-cell').css('display','block');
                            break;
                          case "price2":
                            $('#btn-buy-two').css('display','block');
                            //$('.terms-and-conditions-pospago').hide();
                            $('.more-cell').css('display','block');
                            break;
                          case "price3":
                            $('#btn-buy-three').css('display','block');
                            //$('.terms-and-conditions-pospago').hide();
                            $('.more-cell').css('display','block');
                            break;
                          default:
                            $('#btn-buy-one').css('display','block');
                        }
                });

                $( "input[name='prices']" ).each(function( index ) {
                    if($(this).prop('checked')){
                        //var buttonDisplay = $(this).prop('id');
                        var buttonDisplay = $(this).data('click');
                        switch(buttonDisplay) {
                          case "price1":
                            $('#btn-buy-one').css('display','block');
                            $('.terms-and-conditions-pospago').show();
                            break;
                          case "price2":
                            $('#btn-buy-two').css('display','block');
                            //$('.terms-and-conditions-pospago').hide();
                            break;
                          case "price3":
                            $('#btn-buy-three').css('display','block');
                            //$('.terms-and-conditions-pospago').hide();
                            break;
                          default:
                            $('#btn-buy-one').css('display','block');
                        }
                    }
                });

                $(document).on("click", ".js-priceSelectTwo", function() {
                    priceSelectTwo(this);
                });

                function priceSelectTwo (elem) {
                    const el = $(elem)
                    el.parent().find('.list-thumb__input').trigger('click');
                }

            });

        });
    </script>