<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, checkedValue:true, value: getCode(), checked: true, visible: false" />
        <label data-bind="attr: {'for': getCode()},visible:false" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Render the native credit card form. -->
        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <!-- ko template: 'Entrepids_Flap/payment/cc-form' --><!-- /ko -->
        </form>

        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        data-bind="
                        attr: {title: $t('Procesar Orden')},
                        enable: true,
                        click: placeOrder,
                        css: {disabled: false}
                        "
                        class="form__btn btn"
                        disabled>
                    <span data-bind="i18n: 'Procesar Orden'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
