/* INTPOSP-705 Flujo devoluciones mensaje error */
/* INTPOSP-706 Flujo devoluciones mensaje exito */

.c-board__wrapper{
  .board__top-head{
    padding-top: 0;
    .card-ico__title,  .o-card__text {
      font-family: $f-regular;
    }
  }
  .board__cont{
    border:0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .board-foot__txt_letter{
    text-transform: lowercase;
    &:first-letter{
      text-transform: uppercase;
    }
  }
 .board__link{
    text-decoration: none;
  }
  .o-title-md{
    @include font-size-rem(16px);
  }

}
  .board-foot_align{
  @include justify-content(center);
  padding: 10px;
  text-align: center;
  .board__txt{
    padding-bottom: 0;
  }
  .board__btn{
    margin-top:55px;
  }
  .board__link{
    text-decoration: none;
  }
}
.board__txt_size{
  @include font-size-rem(16px);
}

.c-board__wrapper_not-border{
  .c-board__wrapper{
    border:0;
    margin-bottom: 0;
}
  .o-title_headline-bottom{
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}

/* Block phone*/

.o-column__size{
  .ui-column.is-one{
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
  .ui-media__title{
    margin-top:0;
    margin-bottom: 0;
  }
  .ui-media__subtitle{
    margin-bottom: 0;
    margin-top: 5px;
  }
  .ui-media__description{
    .ui-media__title{
      margin-left: 0;
    }
  }
  .ui-media{
    @include justify-content(flex-start);
  }
}

  /* Line status*/

.is-status-end{
  .status__item {
    margin-bottom: 0;
    box-shadow: none;
  }
 .status__bullet:before{
    font-size: 30px;
    width: 30px;
  } 
}
@media only screen and (max-width: $bp-medium) {
  .c-board__wrapper{
    .board__top-head{
      .card-ico__title{
        padding-bottom: 0;
      }
      .card-ico__txt{
        @include font-size-rem(16px);
        margin-bottom: 0;
      }
    }
    .board__inner{
      padding: 20px;
    }
    .card-ico__txt{
      br{
        display: none
      }
    }
    .board-list{
      padding-bottom: 0px;
    }

  }
  .o-column__size{
    margin-top: 30px;
  }
  .board-foot_align{
    text-align: left;
    padding:0;
  }
  .page-main{
    padding: 0;
  }
    /* Line status*/

  .is-status-end{
    .status__item:nth-of-type(1){
      .status__bullet{
        padding-top: 0;
        padding-bottom: 0;
        &:before{
          top: 10px;
        }
      }
    }

    .status__item:nth-of-type(2){
      .status__bullet{
        padding-top: 35px;
      }
    }
    .status__item:nth-of-type(3){
      .status__bullet{
        &:before{
          height: 60px;
        }
      }
    }

 
      .status__bullet:before{  
       left: -15px;
      }
    

  }
  .o-title-md{
    &_top-sm,  &_top{
      margin-top: 30px;
    }
  }
  .c-board__wrapper_not-border{
   .is-status-end {
      padding-top: 30px;
      .status__label{
        margin-bottom: 0;
      }
    }
  }
  .o-board__list_padding{
    .o-text{
      margin-bottom: 0;
    }
  }

}
@include media-query(medium) {
  .c-board__wrapper{
    .board__top-head{
      .card-ico__title{
       margin-bottom: 0;
      }
    }
    .board__inner{
      padding: 60px 100px;
    }
  }
  .u-board__align-text{
    text-align: right;
  }

  .o-board__list_padding{
    padding-left: 50px;
  }
  
  .o-title-md{
    &_top{
      margin-top: 50px;
    }
  }
    /* Line status*/
    
  .is-status-end{
    .status__item:nth-of-type(1){
      .status__bullet{
        max-width: 32%;
        left: 14%;
      }
    }   
    .status__bullet:before{  
      top: -15px;
    }
  }
}
