//- DEVOLUCIONES-INTPOSP-701: Bloque de requisitos
.c-inner_border {
    border: 1px solid $c-default-3;

    .table {
        margin-bottom: 0;
    }

    .table:not(.cart):not(.totals) tfoot > tr:first-child td.is-noborder {
        border: none;
    }
}

.c-requirement {
    color: $c-default;
    @include font-size-rem(16px);
    padding: 56px 15px;
}

.c-requirement__title {
    margin: 0;
    margin-bottom: 10px;
}

.c-requirement__list {
    list-style: none;
    list-style-position: inside;

    &:last-child {
        margin-bottom: 0;
    }
}

.c-requirement__list-item {
    line-height: 25px;
    margin-bottom: 30px;
    
    &::before {
        content: "•";
        color: $c-default;
        @include font-size-rem(16px);
        display: inline-block; 
        width: 1rem;
        margin-left: -1rem;
        padding-left: 10px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.c-content {
    border-top: 1px solid $c-default-6;

    .data_canvas {
        padding-top: 36px;
    }

    .data__title-section {
        margin-top: 0;
    }

    .data__crop {
        align-self: flex-start;
        flex: 0 0 auto;
        padding-right: 0;
    }

    .data__title-lead {
        margin-top: 0;
        margin-bottom: 18px;
    }
}

.c-aside {
    .data__title {
        margin-top: 0;
    }
}


@include media-query(small-m) {
    .c-content {
        .data__lead {
            padding-left: 28px;
        }
    
        .data__thumb_red {
            min-width: 55px;
        }
    }
}



@include media-query(medium) {
    .c-requirement {
        padding-left: 36px;
    }

    .c-content {
        .data_canvas {
            padding-top: 80px;
        }
    }
}