//- DEVOLUCIONES-INTPOSP-701
//-Estilos tranversales de toda la línea de tiempo

.c-status {
    padding: 40px 0;
}

//- Bloque
.c-status__card {
    text-align: center;
    font-family: $f-regular;
  
    .c-status__bold {
      display: block;
      padding-bottom: $sp-medium;
    }
}

//- Bullet Elemento principal
.c-status__bullet {
    @include flexbox;
    position: relative;
    //- Bullet Elemento principal ICONOS DE LA LINEA DE TIEMPO
    &:before {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        z-index: 4;
        content: unicode($mi-check-circle2);
        font-family: 'MaterialIcons-Regular' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include font-size-rem(30px);
        color: $c-brand;
        background-color: $c-neutro;
        border-radius: 50%;
    }
}



//- Bloque Estructura
.c-status__line {
    @include flexbox;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}
  
//-Elemento
.c-status__btn {
    display: block;
    max-width: 240px;
    margin: 0 auto;
} 

//- Elemento Item
.c-status__item {
    position: relative;
    margin-bottom: 0;
}

//- Elemento Texto
.c-status__label {
    color: $c-brand;
    @include font-size-rem(22px);
    margin-bottom: 0;
}

//- Elemento de título
.c-status__title {
    @include font-size-rem(24px);
    margin-top: 0;
    margin-bottom: 0;
    &:before {
        display: block;
        @include font-size-rem(45px);
        padding-bottom: $sp-small;
    }
}

//- Elemento Texto
.c-status__lead {
    color: $c-default-7;
    @include font-size-rem(18px);
    margin-bottom: 0;
}

//- Elemento de estructura 
.c-status__head,
.c-status__main {
    padding-bottom: 40px;
}

//- Texto
.c-status__small {
    @include font-size-rem(16px);
    color: $c-default-7;
    line-height: 1.2;
}

.c-status__bold {
    font-family: $f-regular;
    @include font-size-rem(16px);
    padding-bottom: 30px;
}

.c-status__link {
    display: block;
    color: $c-brand-2;
}

//-Estilos de procesos

//- Estado EN PROCESO _processing
.c-status_processing {
    .c-status__title {
        color: $c-brand-2;
    }

    //- Modificador : El ícono Azul 
    .c-status__item_check {
        //- Bullet Elemento principal
        .c-status__bullet {
            &:before {
                content: unicode($mi-check-circle2);
                color: $c-brand-2;
                }

                //- Elemento: Texto azul
                .c-status__label {
                    color: $c-brand-2;
                }
            }
    }

}

//- Estado EN PROCESO _validation
.c-status_validation{
    
    .c-status__title {
        color: $c-brand-2;
    }

    .c-status__item_check {
        //- Bullet Elemento principal
        .c-status__bullet{
            &:before, .c-status__label{
                color: $c-brand-2;
            }
        }
    }

}

//- Estado EN PROCESO _complete
.c-status_complete {

    .c-status__title {
        color: $c-brand-2;
    }

    .c-status__item_check {
        //- Bullet Elemento principal
        .c-status__bullet {
            &:before,  .c-status__label {
                color: $c-brand-2;
            }
        }
    }
}

//- Estado EN PROCESO _sent
.c-status_sent {
    .c-status__title {
        color: $c-brand;
    }

    //- Modificador Check
    .c-status__item_check {
        //- Bullet Elemento principal
        .c-status__bullet{
            &:before {
                content: unicode($mi-check-circle2);
                color: $c-brand;
            }
            //- Elemento
            .c-status__label {
                color: $c-brand;
            }
        }
    }
}

//-Estado disabled 
.c-status__item_disabled {
    .c-status__bullet {
        &:before {
            content: '';
            background-color: $c-default-7;
            width: 20px;
            height: 20px;
            top: -12px;
        }
    }
    .c-status__label{
        color: $c-default-7;
    }
}

@include media-query(max-medium) {
    //-bloque Estructural
    .c-status__line { 
        @include flex-direction(column);
        max-width: 300px;
        margin: 0 auto;
        .c-status__item {
            &:first-child,
            &:last-child {
                &:after {
                content: '';
                position: absolute;
                left: calc(100% -  87%);
                display: block;
                height: 60%;
                width: 6px;
                background-color: $c-neutro;
                }
            }
            &:first-child {
                &:after {
                    top: 0;
                }
            }
            &:last-child {
                &:after {
                    top: 50%;
                }
            }
        }
    }
    .c-status__label {
        line-height: 1.2;
        padding: 0;
    }

    //- Bullet Elemento principal
    .c-status__bullet {
        @include flex-direction(column);
        max-width: 86.6%;
        margin: 0 0 0 auto;
        border-left: 2px solid $c-default-7;
        padding: $sp-small 0 $sp-small $sp-medium;
        text-align: left;
        //- Icono check
        &:before {
            top: 50%;
            @include translateY(-50%);
            left: -15px;
        }
    }

    //-Estado disabled 
    .c-status__item_disabled {
        .c-status__bullet {
            &:before {
                left: -10px;
                top: 50%;
                @include translateY(-50%);
            }
        }
    }

    //- Estado EN PROCESO _validation
    .c-status_validation {
        .c-status__item {
            &:first-child {
                .c-status__bullet {
                    &:after {
                        content: '';
                        position: absolute;
                        left: -2px;
                        top: 50%;
                        display: block;
                        height: 100%;
                        width: 2px;
                        background-color: $c-brand;
                        z-index: 2;
                    }
                }
            }
        }
    }

    //- Estado EN PROCESOS: _complete  _sent
    .c-status_complete,
    .c-status_sent  {
        .c-status__item {
            &:first-child,
            &:nth-child(n){
                .c-status__bullet {
                    &:after {
                        content: '';
                        position: absolute;
                        left: -2px;
                        top: 50%;
                        display: block;
                        height: 100%;
                        width: 2px;
                        background-color: $c-brand;
                        z-index: 2;
                    }

                }
            }
            &:last-child {
                .c-status__bullet {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

@include media-query(medium) {

    //- Elemento
    .c-status__label {
        line-height: 1.2;
        padding: 24px 0 6px 0;
    }

    //- Elemento Texto
    .c-status__head,
    .c-status__main {
        padding-bottom: 60px;
    }

    //- Bullet Elemento principal
    .c-status__bullet {
        @include flex-direction(column);
        @include justify-content(center);
        text-align: center;
        &:before {
            @include translateX(-50%);
            left: 50%;
            top: -17px;
        }
    }

    //- Bloque ITEM
    .c-status__item {
        @include flex(1 100%);
        border-top: 4px solid $c-default-7;
        &:first-child,
        &:last-child {
            &:after {
                content:' ';
                display: block;
                width: 50%;
                height: 5px;
                position: absolute;
                top: -4px;
                background-color: $c-neutro;
            }
        }   
        &:first-child {
            &:after {
                left: 0;
            }

        }
        &:last-child {
            &:after {
                left: 50%;
            }
        }

    }

    //- Estado GENERAL _disabled
    .c-status__item_disabled {
        &:after{
            display: none;
        }
        //- Bullet Elemento principal
        .c-status__bullet {
            //- Elemento
            .c-status__label {
                color: $c-default-7;
            }
        }

    }

    //- Estado EN PROCESO _validation
    .c-status_validation {
        .c-status__item {
            &:first-child {
                .c-status__bullet {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: -4px;
                        display: block;
                        height: 4px;
                        width: 100%;
                        background-color: $c-brand;
                        z-index: 3;
                    }
                }
            }
        }
    }

    //- Estado EN PROCESOS: _complete  _sent
    .c-status_complete,
    .c-status_sent  {
        .c-status__item {
            &:first-child,
            &:nth-child(n){
                .c-status__bullet {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: -4px;
                        display: block;
                        height: 4px;
                        width: 100%;
                        background-color: $c-brand;
                        z-index: 3;
                    }
                }
            }
            &:last-child {
                .c-status__bullet {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

}

//- Estado EN PROCESO _complete
.c-status.c-status_complete {
    .c-status__item_check {
        //- Bullet Elemento principal
        .c-status__bullet {
            &:after {
                background-color: $c-default-7;
            }
        }
    }
}
