.step__wrapper {
  padding: 20px 10px;
}

.c-title {
  font-family: $f-light;
  line-height: 40px;
  @include font-size-rem(32px);
  color: $c-default;
}

.step__inner {
  max-width: 900px;
  margin: auto;
}

.step__set {
  width: 100%;
}

.step__title {
  @include font-size-rem(24px);
  line-height: 30px;
}

.step__legend {
  padding: 10px 10px 6px 20px;
}

.step-block__inner {
  max-width: 500px;
  margin: auto;

  .form__grid {
    flex-wrap: wrap;
    padding-left: 20px;
  }

  .form__grid__item {
    display: block;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
  }
}

.form__label_bold {
  color: $c-default;
  font-family: $f-bold;
  line-height: 30px;
  @include font-size-rem(21px);
}

.form__help {
  color: #6B6D72;
  font-family: $f-regular;
  @include font-size-rem(14px);
  line-height: 24px;
  text-align: right;
}

.form__note {
  color: #6B6D72;
  font-family: $f-regular;
  line-height: 16px;
  @include font-size-rem(14px);
  text-align: justify;

  &_bold {
    font-family: $f-bold;
  }
}

.form__radio_label_bold {
  color: $c-default;
  font-family: $f-bold;
  @include font-size-rem(24px);
  line-height: 30px;
}

.step__form-radio-item {
  border-bottom: 1px solid $c-default-6;
  padding-right: 50px;

  display: flex;
  align-items: stretch;
  height: 100%;

  .form__radio_label {
    display: flex;
    align-items: center;

    &:before,
    &:after {
      top: 50%;
      transform: translateY(-50%);
      margin-top: -5px !important;
    }
  }

  .form__radio:checked+.form__radio_label:before,
  .form__radio:checked+.form__radio_label:after {
    transform: scale(1) translateY(-50%);
  }
}

.step__form-radio-item_border-none {
  border-bottom: none;
}

.step-block {
  border-top: 1px solid $c-default-6;
  padding: 10px 0;
}

.step__block_border {
  border-top: 1px solid $c-default-6;
}

.step-block__title {
  color: #6b6d72;
  font-family: $f-light;
  @include font-size-rem(16px);
  line-height: 20px;
  margin-bottom: 20px;
}

.step-block__info-title {
  color: $c-default;
  font-family: $f-bold;
  @include font-size-rem(18px);
  line-height: 30px;
  margin-bottom: 20px;
}

.step__search {
  display: flex;
  position: relative;

  .search__input {
    background-color: $c-default-5;
    box-shadow: none;
  }

  .search__btn {
    background-color: $c-brand-2;

    &:before {
      color: $c-neutro;
    }
  }
}

//- HOTFIX-INTPOSP-778
.form__label_check-center {
  justify-content: center;
  padding-bottom: 10px;
} 

// DEVOLUCIONES-698: Hack para Firefox
// Alinear verticalmente check y botón cambiar 

.step__set_success {
  &:before {
    @include font-size-rem(46px);
  }
}

//- C= Login \ O= Form \ E= alert
.c-form__alert {
  font-family: $f-regular;
  color: $c-alert;
  @include font-size-rem(14px);
}

//- HOTFIX-ETEMM-252: alerta Paso 2
.form__title_alert {
  display: flex;
}

.form__title_alert::before {
  color: #f49c00;
  margin-right: 5px;
}

@supports (-moz-appearance:none) {
  .step__set_success {
    &:before {
      top: -30%;
    }
    .link {
      top: 0;
    }
  }
}

@include media-query(medium) {
  .c-title {
    line-height: 24px;
    @include font-size-rem(40px);
  }

  .step__inner {
    padding: 0 20px;
  }

  .step-block__inner {

    .form__grid {
      flex-wrap: nowrap;
      // padding-left: 0;
      padding: 0 20px;
    }

    .form__grid__item {
      margin-bottom: 0;
      padding-left: 0;
      width: 50%;
    }
  }

  @supports (-moz-appearance:none) {
    .step__set_success {
      &:before {
        top: 0;
      }
    }
  }
}

@include media-query(small-wide) {

  .data-step {
    flex-wrap: wrap;
  }

  .step__product {
    padding-top: 5px;
  }

  .step__form {
    padding: 0 40px;
  }

  .step-block {
    .form__row,
    .form__row-gral {
      min-height: 114px; 
    }

    .form__grid {
      padding-top: 0;
    }
  }

  .form__radio_label {
    @include font-size-rem(16px);
    line-height: 25px;
  }

  .form__radio_label_bold {
    @include font-size-rem(24px);
  }

  .step__form-radio-item {
    border-bottom: none;
  }

  .step-block__title {
    @include font-size-rem(18px);
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@include media-query(large) {
  .step__inner {
    max-width: 1200px;
    width: 100%;
  }
}
