/**
 * @molecule Tooltip
 * @section Bloques
 * @markup
 *    <div class="card__row_inline">
 *       <div class="tool-box">
 *         <button class="btn-i i-question-ball js-btnTooltipData" type="button" tabindex="0">Pregunta</button>
 *         <div class="tool i-tooltip js-tooltipData js-tooltipData-close" style="display: block; opacity: 1;">
 *           <p class="tool__txt">Podrás recargar saldo adicional cuando se acabe tu plan.</p>
 *         </div>
 *       </div>
 *    </div>
 */
  
/*------------------------------------*\
    Tooltip
\*------------------------------------*/
  //- DEVOLUCIONES-INTPOSP-701

//- Bloque
.c-tooltip {
    position: relative;
  }
.c-tooltip__box {
  position: absolute;
  display: none;
  background-color: $c-neutro;
  padding: $sp-xsmall;
  width: 100%;
  max-width: 160px;
  border: 1px solid $c-default-3;
  opacity: 0;
  transition: opacity .3s linear;
  z-index: 4; 
  border-radius: 8px;
  @include box_shadow(1);
  // box-shadow: 0 3px 6px rgba(145, 96, 96, 0.07), 0 3px 6px rgba(0, 0, 0, 0.07);
  &.js-tooltipData-open {
    opacity: 1;
  }
}
  
//- Elemento
.c-tooltip__txt {
    position: relative;
    @include font-size-rem(13px);
    line-height: 1.2;
    font-family: $f-regular;
    color: $c-default-7;
    text-align: left;
    margin-bottom: 0;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      transform: translateX(-50%);
      background-image: url('/media/wysiwyg/recortes/triangulo-2_rot.svg');
      background-repeat: no-repeat;
    }
  }
  


.c-tooltip__btn {
  cursor: pointer;
  &:after {
    display: inline-block;
    text-decoration: none;
    padding-left: 4px;
    vertical-align: middle;
    padding-bottom: 4px;
    color: $c-default-2;
    @include font-size-rem(16px);
    cursor: pointer;
  }
  &.has-color {
      &:after {
          color: $c-alert;
      }
  }
}



@include media-query(max-medium){
  .c-tooltip__box {
    left: -68px;
    top: -19px;
  }
  //- Elemento
  .c-tooltip__txt {
    &:before {
      top: 13px;
      right: -39px;
      background-image: url('/media/wysiwyg/recortes/triangulo-2_rot.svg');
    }
  }
  .c-tooltip_timeline {
    .c-tooltip__box {
      left: 18px;
    }
  }
}

@include media-query(medium){
  .c-tooltip__box {
      top: 55px;
      right: 8px;
  }
  //- Elemento
  .c-tooltip__txt {
    &:before {
      top: -29px;
      left: 50%;
      background-image: url('/media/wysiwyg/recortes/triangulo-2.svg');
    }
  }
  .c-tooltip_timeline {
    .c-tooltip__box {
      top: 24px;
    }
  }
}

