.ui-title {
  color: $c-default-1;
  font-family: $f-light;
  @include font-size-rem(32px);
  line-height: 24px;
}

.ui-columns {
  padding: 20px;
}

.ui-column {
  margin-bottom: 20px;
}

.ui-media {
  display: flex;
  justify-content: flex-start;
}

.ui-media__body {
  align-self: flex-end;
  padding-left: 28px;

  .data__group {
    border-bottom: 1px solid $c-default-6;
    margin-bottom: 18px;
    width: fit-content;

    .list-thumb__boll {
      margin-bottom: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.ui-media__figure {
  max-width: 60px;
  align-self: flex-start;
  width: 100%;
}

.ui-media__img {
  width: 100%;
}

.ui-media__title,
.ui-media__subtitle {
  color: $c-default;
  font-family: $f-bold;
  @include font-size-rem(18px);
  letter-spacing: 0.6px;
  line-height: 23px;
  margin-bottom: 14px;
  margin-top: 0;
}

.ui-media__subtitle {
  line-height: 20px;
  @include font-size-rem(12px);
  margin-bottom: 8px;
}

.ui-media__description {
  color: $c-default;
  font-family: $f-bold;
  @include font-size-rem(20px);
  line-height: 20px;
  
  .ui-media__block-text{
    font-family: $f-regular;
    display: block;
  }
}

.is-hidden {
  display: none;
}
.is-block{
  display: block;
}

.ui-block__wrapper{
  .ui-media__img{
    margin: 0 auto;
    width: auto;
  }
}

.ui-data{
  .data__title-lead{
    padding-bottom: 0;
  }
  .data__th{
    margin: 0;
  }
}

@include media-query(small-wide) {
  .ui-columns {
    display: flex;
    justify-content: space-between;
  }

  .ui-column {
    display: block;
    padding: 12px;
  }

  .ui-column.is-one {
    flex: none;
    width: 33.33%;
  }

  .ui-column.is-two {
    flex: none;
    width: 66.66%;
  }

  .ui-column.is-half {
    flex: none;
    width: 50%;
  }

  .ui-column__title {
    font-family: $f-bold;
    line-height: 20px;
    @include font-size-rem(16px);
    color: $c-default;
    margin-bottom: 20px;
    text-align: center;
  }

  .ui-media {
    justify-content: center;
  }
}

@include media-query(medium) {
  .ui-header {
    &.o-title_headline-bottom {
      margin-bottom: 60px;
    }
  }
}