<style type="text/css">

.stock-table {
    border:             solid 1px #00517A;
    color:              #00517A;
    border-collapse:    collapse;
    border-spacing:     0;
    font:               normal 12px Arial, sans-serif;
}
.stock-table thead tr td {
    border:             solid 1px #00517A;
    background-color:   #00517A;
    color:              #FFFFFF;
    padding:            12px;
    text-align:         left;
}
.stock-table tbody tr td {
    border:             solid 1px #00517A;
    color:              #00517A;
    padding:            12px;
    text-align:         left;
}

.low-stock {
    background-color:   #c0392b !important;
    color:              #FFFFFF !important;
}

.medium-stock {
    background-color:   #f39c12 !important;
    color:              #FFFFFF !important;
}

.high-stock {
    background-color:   #16a085 !important;
    color:              #FFFFFF !important;
}
</style><?php

$report = $this->getInventoryReport();

?>
<h2><?php echo $report['title']; ?></h2>
<h2>Total products: <?php echo $report['total_products']; ?></h2>
<table class="stock-table">
    <thead>
        <tr>
            <td>Product SKU</td>
            <td>Product name </td>
            <td>Qty</td>
            <td>Threshold</td>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($report['inventory'] as $stock) : ?>
        <?php if($stock['qty'] < $stock['threshold']){ ?>
        <tr>
            <td><?php echo $stock['sku'];       ?></td>
            <td><?php echo $stock['name'];      ?></td>
            <?php if ($stock['qty'] < $stock['threshold']) : ?>
            <td class="low-stock"><?php echo $stock['qty']; ?></td>
            <?php endif; ?>

            <?php if ($stock['qty'] == $stock['threshold']) : ?>
            <td class="medium-stock"><?php echo $stock['qty']; ?></td>
            <?php endif; ?>

            <?php if ($stock['qty'] > $stock['threshold']) : ?>
            <td class="high-stock"><?php echo $stock['qty']; ?></td>
            <?php endif; ?>
            <td><?php echo $stock['threshold']; ?></td>
        </tr>
        <?php } endforeach; ?>
    </tbody>
</table>

<br>
