//
//  Product Lists
//  _____________________________________________

.products {
    margin: $indent__l 0;
}

.product {
    &-items {
        @extend .abs-reset-list;
    }

    &-item {
        @extend .abs-add-box-sizing;
        vertical-align: top;

        .products-grid & {
            display: inline-block;
            width: 50%;
        }

        &-name {


            text-transform: uppercase;
            font-size: 16px;
            font-family: $f-bold;

            @extend .abs-product-link;
            display: block;
            margin: $indent__xs 0;
            word-wrap: break-word;
            hyphens: auto;

            a:active, a:hover {
                outline-width: 0;
                cursor: pointer;
                text-decoration: none;
            }

            .agu-grid-ref{
                @include font-rem(24px);
                font-family: $f-regular;
            }

        }

        &-info {

            padding: 18px 22px;

            /*max-width: 100%;
            width: 152px;

            .page-products & {
                width: 240px;
            }*/
        }

        &-actions {
            display: none;

            .actions-secondary {
                & > .action {
                    @extend .abs-actions-addto-gridlist;
                    &:before {
                        margin: 0;
                    }

                    span {
                        @extend .abs-visually-hidden;
                    }
                }
            }
        }

        &-description {
            margin: $indent__m 0;
        }

        .product-reviews-summary {
            .rating-summary {
                margin: 0 4px 0 0;
            }

            .reviews-actions {
                font-size: $font-size__s;
                margin-top: 5px;
                text-transform: lowercase;
            }
        }

        .price-box {
            //margin: $indent__s 0 $indent__m;
            margin: 0;
            padding-bottom: 20px;

            .price {
                font-size: 24px;
                font-family: $f-regular;

                /*
                font-size: 14px;
                font-weight: $font-weight__bold;
                white-space: nowrap;
                */


            }

            /*
            .price-label {
                font-size: $font-size__s;

                &:after {
                    content: ':';
                }
            }*/

            .agu-grid__label {
                color: $c-brand;
                font-size: 16px;
                font-family: $f-default;
            }

            .agu-grid__value {
                font-size: 24px;
                //@include font-rem(24px); ver por que no funciona
                font-family: $f-regular;
            }

        }

        .special-price,
        .minimal-price {
            .price {

                font-size: 24px;
                font-family: $f-regular;
                /*
                font-size: 14px;
                font-weight: $font-weight__bold;
                */
            }

            .price-wrapper {
                display: inline-block;
            }

            .price-including-tax + .price-excluding-tax {
                display: block;
            }
        }

        .special-price {

            display: inline-block;
            /*
            display: block;
            */
        }

        .old-price {
            .price {

                text-decoration: line-through;
                font-size: 20px;
                font-family: $f-light;

                /*
                font-weight: $font-weight__regular;
                */
            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: 5px;

            .price-label {
                color: $link__color;
                font-size: 14px;
            }

            .price {
                font-weight: $font-weight__regular;
            }
        }

        .minimal-price-link,
        .price-excluding-tax,
        .price-including-tax {
            display: block;
            white-space: nowrap;
        }

        .price-from,
        .price-to {
            margin: 0;
        }

        .action.tocompare {
            //@include lib-icon-font-symbol($icon-compare-empty);
        }

        .tocart {
            white-space: nowrap;
        }

        .agu-grid-photo{
            margin: 18px auto;
        }

    }
}

.column.main {
    .product {
        &-items {
            margin-left: -$indent__base;
        }

        &-item {
            //padding-left: $indent__base;
        }
    }

}

.price-container {
    .price {
        font-size: 14px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
        margin-top: $indent__xs;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
        font-size: 11px;
    }

    .weee {
        &:before {
            content: '('attr(data-label) ': ';
        }

        &:after {
            content: ')';
        }

        + .price-excluding-tax {
            &:before {
                content: attr(data-label) ': ';
            }
        }
    }
}

.products-list {
    .product {
        &-item {
            display: table;
            width: 100%;

            &-info {
                display: table-row;
            }

            &-photo {
                display: table-cell;
                padding: 0 $indent__l $indent__l 0;
                vertical-align: top;
                width: 1%;
            }

            &-details {
                display: table-cell;
                vertical-align: top;
            }
        }
    }

    .product-image-wrapper {
        @extend .abs-reset-image-wrapper;
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 $indent__s $indent__s 0;
                width: 30%;
            }
        }
    }
}

@include min-screen($screen__s) {
    .product {
        &-item {
            .products-grid & {
                margin-bottom: $indent__l;
            }

            &-actions {
                display: block;

                .products-grid & {
                    //margin: $indent__s 0;
                }

                .actions-primary + .actions-secondary {
                    //display: table-cell;
                    display: inline-block;
                    padding-left: 5px;
                    white-space: nowrap;
                    width: 50%;
                    & > * {
                        white-space: normal;
                    }
                }

                .actions-primary {
                    //display: table-cell;
                    padding: 10px 0 !important;
                }

                .actions-secondary{

                    padding: 10px 0 !important;
                    width: 100% !important;
                    text-align: center;
                }

                .agu-grid-row {

                    color: $c-brand-2;
                    text-decoration: underline;
                    transition: all 0.2s linear;
                    &:hover {
                        color: $c-brand-2-hover;
                    }
                }

            }
        }
    }

    .products-grid .product-item {
        width: 33.3333%;
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 33.3333%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: 33.3333%;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 25%;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 50%;
            }
        }
    }
}
@include min-screen($screen__l) {
    .products-grid {
        .product-item {
            width: 20%;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 16.6666%;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 25%;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {

                /*margin-left: calc((100% - 3 * 33.333%) / 2);
                padding: 0;
                width: 33.333%;


                &:nth-child(4n + 1) {
                    margin-left: 0;
                }*/
                width: -webkit-calc(33% - 14px);
                width: -o-calc(33% - 14px);
                width: calc(33% - 14px);
                margin: 14px 7px;
                border: 1px solid #E9EAE8;
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 20%;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
