<?php
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media."recortes/";
$pdfAviso = $this->getUrl('pub/media/archivos/').'avisoprivacidad.pdf';
$pdfTerminosAcepto = $this->getUrl('pub/media/archivos/').'terminos-y-condiciones.pdf';
$helper = $this->helper('Vass\PosRegisterTer\Helper\Data');

if(isset($_SESSION['default']['customer_form_data'])) {
    $valores = $_SESSION['default']['customer_form_data'];
}else{
    $valores['email'] = '';
    $valores['fecha'] = '';
    $valores['name'] = '';
    $valores['lastName'] = '';
    $valores['MiddleName'] = '';
    $valores['phone'] = '';
    $valores['RFC'] = '';
    $valores['postalCode'] = '';
    $valores['street'] = '';
    $valores['streetNumber'] = '';
    $valores['estado'] = '';
    $valores['ciudad'] = '';
}

if(!isset($valores['fecha'])){    
    $valores['fecha'] = '';
}

?>
<style type="text/css">
    #valida-rfc{text-transform: uppercase;}
</style>
<section class="layout_section">
    <div class="layout_inner">
        <header class="data__header-full">
            <h1 class="title_head">Mi cuenta</h1>
        </header>
        <div class="data">
            <div class="data__wrap">
                <form class="form form_size" id="create-account" action="<?=$this->getUrl('pos-register-ter/index/addcustomer/')?>" method="post">
                    <fieldset class="form__section">
                        <legend class="form__legend"> Crea tu cuenta Movistar</legend>
                        <div class="form__cont js-stepAccordion">
                            <div class="form__row-gral">
                                <label class="form__label-ico i-star-fill">Correo electrónico</label>
                                <div class="form__signal js-validateItem">
                                    <input class="form__input" placeholder="Escribe tu correo electrónico" id="emailregistro" type="email" name="email" data-validate="email" required value="<?=$valores['email']?>">
                                </div><small class="js-validateMsg" data-name="email"></small>
                            </div>
                            <div class="form__row-gral">
                                <!-- Hotfix: INTPOSP-496 #INICIO Se inserta Tooltip -->
                                <div class="form__row-grid">
                                
                                    <label class="form__label-ico i-star-fill" for="passShow">Contraseña</label>
                                
                                    
                                    <div class="tool-box tool-box_form">
                                        <button class="btn-i i-question-ball js-btnTooltipData" type="button" style="display: inline-block;">
                                            Pregunta</button>
                                        <div class="tool i-tooltip js-tooltipData js-tooltipData-close" style="display: block;">
                                            <small class="tool__txt">La contraseña debe contar con al menos 6 caracteres y al menos:</small>
                                            <ul class="tool__list">
                                                <li class="tool__item">Una minúscula</li>
                                                <li class="tool__item">Una mayúscula</li>
                                                <li class="tool__item">Un número</li>
                                                <li class="tool__item">Un caracter especial</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- Hotfix: INTPOSP-496 #FIN Se inserta Tooltip -->
                                <div class="form__signal js-validateItem">
                                    <input class="form__input" placeholder="Escribe tu contraseña" type="password" name="password" data-validate="password" data-validate="Password" id="password"  required>
                                    <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                                </div>
                                <small class="js-validateMsg" data-name="password"></small>
                            </div>
                            <div class="form__row-gral">
                                <label class="form__label-ico i-star-fill" for="passConfirm">Confirmar Contraseña</label>
                                <div class="form__signal js-validateItem">
                                    <input class="form__input" placeholder="Confirma tu contraseña" type="password" name="confirmPassword" data-validate="confirmPassword" id="confirm_password" required>
                                    <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
                                </div><small class="js-validateMsg" data-name="confirmPassword"></small>
                                <!-- Nivel de seguridad de contraseña-->
                            </div>
                            <div class="form__row">
                                <span class="form__security-level js-securityLevel"></span>
                                <p class="form__security-label" data-level="Bajo">Nivel de Seguridad de Contraseña:</p>
                            </div>
                            <div class="form__grid form__row-gral">
                                <div class="form__grid__item">
                                    <!-- ------ Cambiar validación ------->
                                    <label class="form__label no-padding" for="titulo">Título</label>
                                    <div class="form__signal js-validateItem">
                                        <div class="form__inner-select i-a-arrow-down">
                                            <select class="form__select" name="titulo" data-validate="city">
                                                <option value="">Srta</option>
                                                <option value="titulo-1">Sra</option>
                                                <option value="titulo-2">Sr</option>
                                            </select>
                                        </div><small class="js-validateMsg" data-name="city"></small>
                                    </div>
                                </div>
                                <div class="form__grid__item">
                                    <label class="form__label-ico i-star-fill" for="fecha">Fecha de nacimiento</label>
                                    <div class="form__signal js-validateItem">
                                        <input class="form__input ui-datepicker-trigger" placeholder="29/11/1985" type="text" name="fecha" data-validate="fecha" required value="<?=$valores['fecha']?>">
                                    </div><small class="js-validateMsg" data-name="fecha"></small>
                                </div>
                            </div>
                            <div class="form__row-gral">
                                <label class="form__label-ico i-star-fill" for="nombre">Nombre</label>
                                <div class="form__signal js-validateItem">
                                    <input class="form__input" placeholder="Escribe tu nombre" type="text" name="name" onkeypress="return soloLetras(event)" data-validate="name" required maxlength="20" value="<?=$valores['name']?>">
                                </div><small class="js-validateMsg" data-name="name"></small>
                            </div>
                            <div class="form__grid form__row-gral">
                                <div class="form__grid__item">
                                    <label class="form__label" for="apellido">Apellido paterno</label>
                                    <div class="form__signal js-validateItem">
                                        <input class="form__input" placeholder="Fernandez" type="text" name="lastName" onkeypress="return soloLetras(event)" maxlength="35" data-validate="lastName" value="<?=$valores['lastName']?>">
                                    </div><small class="js-validateMsg" data-name="lastName"></small>
                                </div>
                                <div class="form__grid__item">
                                    <label class="form__label" for="apellido">Apellido materno</label>
                                    <div class="form__signal js-validateItem">
                                        <input class="form__input" placeholder="Orozco" type="text" name="MiddleName" onkeypress="return soloLetras(event)" maxlength="35" data-validate="lastName" value="<?=$valores['MiddleName']?>">
                                    </div><small class="js-validateMsg" data-name="lastName"></small>
                                </div>
                            </div>
                            <div class="form__grid form__row-gral">
                                <div class="form__grid__item">
                                    <label class="form__label-ico i-star-fill">Teléfono de contacto</label>
                                    <div class="form__signal js-validateItem">
                                        <input class="form__input" placeholder="222 415112" type="text" name="phone" id="numerotelefonico" data-validate="phone" required maxlength="10" value="<?=$valores['phone']?>">
                                    </div><small class="js-validateMsg" data-name="phone"></small>
                                </div>
                                <div class="form__grid__item form__row_right">
                                    <label class="form__label-ico i-star-fill">RFC con homoclave</label>
                                    <div class="form__signal js-validateItem">
                                        <input class="form__input" placeholder="CAVE851129AS8" type="text" id="valida-rfc" maxlength="13" name="RFC" data-validate="RFC" required value="<?=$valores['RFC']?>">
                                    </div><small class="js-validateMsg" data-name="RFC"></small>
                                    <button class="link link__brand link-help i-question-ball" type="button">
                                        <a href="https://www.mi-rfc.com.mx/consulta-rfc-homoclave" target="_blank">¿No conoces tu RFC?</a>
                                    </button>
                                </div>
                            </div>
                            <div class="form__row-gral">
                                <label class="form__label-ico i-star-fill">Código postal</label>
                                <div class="form__signal js-validateItem">
                                    <input class="form__input" placeholder="01630" type="text" name="postalCode"  id="postalCode" data-validate="postalCode" required value="<?=$valores['postalCode']?>">
                                </div><small class="js-validateMsg" data-name="postalCode"></small>
                            </div>
                            <div class="form__row_spaceless">
                                <label class="form__label">Domicilio</label>
                                <div class="form__signal js-validateItem">
                                    <input class="form__input" placeholder="Avenida Centenario 1540 U-Hab lomas de..." type="text" name="street" data-validate="street" value="<?=$valores['street']?>">
                                </div><small class="js-validateMsg" data-name="street"></small>
                            </div>
                            <div class="form__grid form__row-gral">
                                <div class="form__grid__item">
                                    <label class="form__label-ico">Número</label>
                                    <div class="form__signal js-validateItem">
                                        <input class="form__input" placeholder="8" type="text"  onkeypress="return soloNumeros(event)" name="streetNumber" data-validate="streetNumber" value="<?=$valores['streetNumber']?>">
                                    </div><small class="js-validateMsg" data-name="streetNumber"></small>
                                </div>
                                <div class="form__grid__item">
                                        <label class="form__label-ico">Colonia</label>
                                        <div class="form__inner-select i-a-arrow-down">
                                            <select class="form__select" id="estado" name="calleColonia" data-validate="colonia">
                                                <?php if(isset($valores['calleColonia'])){ ?>
                                                    <option value="<?=$valores['calleColonia']?>"><?=$valores['calleColonia']?></option>
                                                <?php }else{ ?>
                                                    <option value="">Selecciona</option>
                                                <?php }?>                                                
                                            </select>
                                        </div><small class="js-validateMsg" data-name="calleColonia"></small>
                                    </div>
                            </div>
                            <!-- ------ Cambiar validación ------->
                            <div class="form__row-gral">
                               <label class="form__label-ico" for="ciudad">Estado</label>
                                <input class="form__input" placeholder="Estado" type="text" name="estado" id="valida-estado" data-validate="estado" value="<?=$valores['estado']?>">
                                <small class="js-validateMsg" data-name="estado"></small>
                            </div>
                            <div class="form__row-gral">
                                <label class="form__label-ico" for="ciudad">Ciudad, Delegación o Municipio</label>
                                <input class="form__input" placeholder="Ciudad" type="text" name="ciudad" id="ciudad-valida" data-validate="city" value="<?=$valores['ciudad']?>">
                                <small class="js-validateMsg" data-name="ciudad"></small>
                            </div>
                            <?php if ($helper->getConfig('recaptcha/settings/enabled')) : ?>
                                <div class="g-recaptcha" data-sitekey=<?php echo $helper->getConfig('recaptcha/settings/site_key'); ?> ></div>
                            <?php endif; ?>
                            <div class="form__row-gral">
                                <!-- Próximamente Captcha -->
                                <?php echo $block->getChildHtml('form.additional.info'); ?>
                            </div>
                            <div class="form__row-gral">
                                <input class="form__check" type="checkbox" id="adv" name="adv" data-validate="checkPrivacy" checked required>
                                <label class="form__label_check i-check" for="adv">
                                    <a class="link__brand" href="<?=$pdfAviso?>" target="_blank" title="Acepto aviso de privacidad">Acepto aviso de privacidad</a>
                                </label>
                                <small class="js-validateMsg" data-name="adv"></small>
                            </div>
                            <div class="form__row">
                                <input class="form__check" type="checkbox" id="terms2" name="terms" data-validate="checkTerms" required>
                                <label class="form__label_check i-check" for="terms2">
                                    <a class="link__brand" href="<?=$pdfTerminosAcepto?>" target="_blank" title="Términos y condiciones">Términos y condiciones</a>
                                </label>
                                <small class="js-validateMsg" data-name="terms"></small>
                            </div>
                            <div class="form__row form__row_center">
                                <button class="form__btn btn" type="submit" id="submitCreateAccount">Crear mi cuenta</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<style type="text/css">
    .form__label{
        margin-bottom: 0;
    }
    .form__signal_error:after,
    .form__signal_check:after{
        font-family: 'MaterialIcons-Regular' !important;
    }
    .form__signal_check:after{
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
</style>
<script src="https://www.google.com/recaptcha/api.js?hl=es-419" async defer></script>
<script type="text/javascript">
    //Verifica el Captcha de Google del lado del cliente
    var verifyClient = function(token) {
        document.getElementById("g-recaptcha-response").value = token;
    }

    /**
     * Valida el campo de requerido
     */
    function validaRequerido(tipo, input) {
        var resultado = true;
        if (input.val().length <= 0 && tipo != "checkbox") {
                resultado = false;
        }
        if (input.prop('checked') == false && tipo == "checkbox") {
                resultado = false;
        }
        return resultado;
    }

    function soloNumeros(e){
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " 0123456789abcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }

    function soloLetras(e){
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }

    require([
        'jquery',
        'mage/calendar'
    ], function ($) {

        $('#postalCode, #numerotelefonico').on('input', function (e) {
            if (!/^[ 0-9áéíóúüñ]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^ 0-9áéíóúüñ]+/ig, "");
            }
        });

        $('#emailregistro').blur(function(){
            var valor = $(this).val();
            var obj = $(this);
            var caract = new RegExp(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/);
            if (caract.test(valor) == false) {
                $('.form__btn.btn.js-AccordionBtn.pasoTest').hide();
                $('.alert.alert_warning').html("Formato de correo electrónico inválido.");
                $('.alert.alert_warning').removeClass("bounceOut");
                $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function () {
                    $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                    $('#emailregistro').focus().select();
                });
                return false;
            }
            $.ajax({
                url: "<?php echo $this->getUrl().'pos-register-ter/index/validaexistencia';?>",
                type: 'POST',
                dataType: 'json',
                showLoader: true,
                data : {valor:valor},
                success: function (res) {
                    if(res.length==1){
                        $('#submitCreateAccount').fadeOut();
                        obj.parent().parent().find('small.js-validateMsg').addClass('form__msg_error').html("Este usuario ya existe");
                    }else{
                        obj.parent().parent().find('small.js-validateMsg').removeClass('form__msg_error').html("");
                        $('#submitCreateAccount').fadeIn();
                    }
                }
            });

        });        

        $('#valida-rfc').blur(function(){
            $('#valida-rfc').val($('#valida-rfc').val().toUpperCase());
            var obj = $(this);
            var valor = $(this).val();

            // valida la edad
            var fecha = new Date();
            var anoActual = fecha.getFullYear();
            var ano = valor.substring(4,6);
            var result = 0;
            var res = 0;

            if(ano>=18&&ano<=99){
                res = parseInt(ano)  + parseInt(1900);
                result = parseInt(anoActual) - parseInt(res);
            }else if(ano>=18&&ano<=20){
                result = ano;
            }
            // validando la edad del usaurio
            if(ano<18&&result==0){
                obj.parent().parent().find('small.js-validateMsg').addClass('form__msg_error').html("Este campo es obligatorio");
                return false;
            }else{
                obj.parent().parent().find('small.js-validateMsg').removeClass('form__msg_error').html('');
            }
        });        

        $('#postalCode').attr('maxLength','5').keypress(limitMe);

        $('#numerotelefonico').attr('maxLength','10').keypress(limitMe);

        function limitMe(e) {
            if (e.keyCode == 8) { return true; }
            return this.value.length < $(this).attr("maxLength");
        }        

        $(".ui-datepicker-trigger").calendar({
            buttonText:"<?php echo __('Select Date') ?>",
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yyyy",
            yearRange: "-80:+0",
        });        

        var password = document.getElementById("password")
          , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Las contraseñas no coinciden");
          } else {
            confirm_password.setCustomValidity('');
          }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        function isValidDate(dateString){
                var valid = false,
                      info,
                      real;
                  
                  // Validar formato
                  if (/^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$/.test(dateString)) {
                    
                    // Validar fecha
                    info = dateString.split(/\//);
                    real = (new Date(info[2], info[1] - 1, info[0])).toISOString().substr(0,10).split('-');
                    if (info[0] === real[2] && info[1] === real[1] && info[2] === real[0]) {
                      valid = true;
                    }
                  }
                  return valid;
        };

        $("input[name='fecha']").blur(function(){
            var validaDate = isValidDate($(this).val());
            if(validaDate == false){
                $(this).val("");
            }
            console.log("ValidDates: "+validaDate);
        });

        //Nivel de seguridad de la contraseña:

        $(document).on("click", "#submitCreateAccount", function() {
            var messagesTelefonica = {
                emailTel: 'Introduce un email o teléfono valido.',
                password: 'Introduce una contraseña valida.',
                confirmPassword: 'Ingresa la misma contraseña.',
                name: 'Ingresa un Nombre valido.',
                lastName: 'Ingresa un Apellido valido.',
                phone: 'Ingreso un número inválido, comunícate al *018007380036 para más detalle',
                email: 'Ingrese un correo electrónico valido',
                checkPrivacy: 'Para continuar tienes que aceptar nuestro aviso de privacidad',
                checkTerms: 'Para continuar tienes que aceptar nuestros términos y condiciones',
                checkCont: 'Para continuar tienes que aceptar nuestro contrato',
                street: 'Calle incorrecta. Ingresa una calle valida.',
                streetNumber: 'Número incorrecto. Ingresa un Número valido.',
                streetColony: 'Colonia incorrecta. Ingresa una Colonia valida.',
                city: 'Ciudad incorrecta. Ingresa una Ciudad valida.',
                municipality: 'Municipio incorrecto. Ingresa un Municipio valido.',
                RFC: 'Ingresa un RFC valido.',
                confirmEmail: 'Ingresa el mismo correo electrónico.',
                postalCode: 'Código postal incorrecto. Ingresa un Código postal valido.',
                value: 'Introduce un valor valido.',
                radio: 'Seleccionar una opción',
                address: 'Ingresa una dirección válida',
                card: 'Ingresa un número de tarjeta',
                CCV: 'Ingresa un CCV valido',
                number: 'Introduce un valor valido.',
                digit4: 'Ingresa los Últimos 4 dígitos de tu tarjeta',
                recarga: 'No has seleccionado tu monto de recarga',
                fecha: 'Ingresa la fecha en el formato especificado'
            };

            function changeValidateTelefonica(name, dataValidate, elem) {
                var elemSpan = $('.js-validateMsg[data-name="' + name + '"]');
                elemSpan.text("");
                elemSpan.removeClass('form__msg_error');
                elemSpan.addClass('form__msg_check');

                if ($(elem).parent().hasClass('js-validateItem') && $(elem).parent().hasClass('form__signal_error')) {
                    $(elem).parent().removeClass('form__signal_error');
                    $(elem).parent().addClass('form__signal_check');
                }
            }

            function customErrorMessageTelefonica(name, dataValidate, elem) {
                var elemSpan = $('.js-validateMsg[data-name="' + name + '"]');
                elemSpan.text(messagesTelefonica[dataValidate]);
                elemSpan.removeClass('form__msg_check');
                elemSpan.addClass('form__msg_error');

                if ($(elem).parent().hasClass('js-validateItem') && !$(elem).parent().hasClass('form__signal_error')) {
                    $(elem).parent().removeClass('form__signal_check');
                    $(elem).parent().addClass('form__signal_error');
                }
            }

            $("form#create-account :input[required]").each(function(){
                var input = $(this); // This is the jquery object of the input, do what you will
                var name = input.attr('name');
                var dataValidate = input.attr('data-validate');
                var tipo = input.attr('type');
                if( input.val().length <= 0 && tipo != "checkbox") {
                    customErrorMessageTelefonica(name, dataValidate, input);
                }else{
                    if( input.prop('checked') == false && tipo == "checkbox" ) {
                        customErrorMessageTelefonica(name, dataValidate, input);
                    }else{
                        if(tipo ==  "password" && password.value != confirm_password.value){
                            customErrorMessageTelefonica(name, dataValidate, input);
                        }else{
                            if (tipo == "Entrepids.Portability.view.frontend.email.email") {
                                //Validar email no este dado de alta
                                var urlValidateEmail = window.location.protocol + '//' + window.location.host;
                                var $alerta = false;
                                var $txt_alert = "";
                                var email = input.val();

                                jQuery.ajax({
                                    type: 'GET',
                                    url: urlValidateEmail + "/valid-info/", //file which read zip code excel file
                                    dataType: "json", //is used for return multiple values
                                    data: {
                                        'email': email
                                    },
                                    success: function(data) {
                                        if (data.result != 0) {
                                            $txt_alert = "El email "+email+" ya se encuentra dado de alta en la Tienda";
                                            $alerta = true;
                                            validForm = "active";
                                            input.val(" ");
                                            input.focus();
                                            $('.alert.alert_warning').html($txt_alert);
                                            $('.alert.alert_warning').removeClass("bounceOut");
                                            $('#changeone').trigger('click');
                                            $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function() {
                                                $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                            });
                                        }
                                        try {

                                        } catch (e) {
                                            //console.log("Error");
                                        }
                                    },
                                    complete: function() {
                                        //console.log("Complete");
                                    },
                                    error: function(xhr, status, err) {
                                        //alert("status=" + xhr.responseText + ", error=" + err);
                                    }
                                });
                            }else{
                                if (name == "fecha") {
                                    var validaDate = isValidDate(input.val());
                                    if(validaDate == false){
                                        input.val("");
                                        customErrorMessageTelefonica(name, dataValidate, input);
                                    }else{
                                        changeValidateTelefonica(name, dataValidate, input);
                                    }
                                }else{
                                    changeValidateTelefonica(name, dataValidate, input);
                                }
                                
                            }
                        }
                    }

                }
            });

        });
        //Función para obtener el elemento de Google Recaptcha y poder validar que el usuario dio click en la casilla "No soy un robot"
        $('form#create-account').submit(function (e) {
            var next = true;
            e.preventDefault();
            $(("form#create-account :input[type!=hidden][type!=button][type!=submit]")).each(function () {
                var input = $(this); // This is the jquery object of the input, do what you will
                var name = input.attr('name');
                var dataValidate = input.attr('data-validate');
                var tipo = input.attr('type');
                if (name == "g-recaptcha-response") {
                    if (!validaRequerido(tipo, input)) {
                        next = false;
                    }
                }
            });
            if(!next)
                return false;
            $('form#create-account').unbind('submit');
            $('form#create-account').submit();
        });

    });

</script>