<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="BlackList Events">
            <div class="page-actions-buttons">
                <a href="<?=$block->getUrl('cargaterminales/event/uploadfile/id/');?>">
                    <button type="button" class="primary">
                        <span>Importar Archivo</span>
                    </button>
                </a>
            </div>
            <div class="page-actions-buttons" style="padding-right: 10px">
                <a href="<?=$block->getUrl('cargaterminales/event/synchronize');?>">
                    <button type="button" class="primary">
                        <span>Sincronizar Datos</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>