<?php
    //$result = $block->getIdDevice("id_device");
?>

<script>
    require([
        'jquery',
        "jquery/ui",
        'accordion'], function ($) {

        $( "#content-caracteristicas" ).hide();
        $( "#content-descripcion").hide();
        $( "#content-entretenimiento").hide();
        $( "#content-bateria").hide();
        $( "#content-capacidad").hide();
        $( "#content-especificaciones").hide();
        $( "#content-conectividad").hide();
        $( "#content-tags-titulo" ).hide();
        $( "#content-seo-search" ).hide();
        $( "#content-detalle-disenio" ).hide();
        $( "#content-detalle-camara" ).hide();
        $( "#content-detalle-pantalla" ).hide();

        $( "#caracteristicas" ).click(function() {
            $( "#content-caracteristicas" ).slideToggle( "slow" );
        });

        $( "#descripcion" ).click(function() {
            $( "#content-descripcion" ).slideToggle( "slow" );
        });

        $( "#entretenimiento" ).click(function() {
            $( "#content-entretenimiento" ).slideToggle( "slow" );
        });

        $( "#bateria" ).click(function() {
            $( "#content-bateria" ).slideToggle( "slow" );
        });

        $( "#capacidad" ).click(function() {
            $( "#content-capacidad" ).slideToggle( "slow" );
        });

        $( "#especificaciones" ).click(function() {
            $( "#content-especificaciones" ).slideToggle( "slow" );
        });

        $( "#conectividad" ).click(function() {
            $( "#content-conectividad" ).slideToggle( "slow" );
        });

        $( "#tags-titulo" ).click(function() {
            $( "#content-tags-titulo" ).slideToggle( "slow" );
        });

        $( "#seo-search" ).click(function() {
            $( "#content-seo-search" ).slideToggle( "slow" );
        });

        $( "#detalle-disenio" ).click(function() {
            $( "#content-detalle-disenio" ).slideToggle( "slow" );
        });

        $( "#detalle-camara" ).click(function() {
            $( "#content-detalle-camara" ).slideToggle( "slow" );
        });

        $( "#detalle-pantalla" ).click(function() {
            $( "#content-detalle-pantalla" ).slideToggle( "slow" );
        });

    });
</script>


<form action="<?=$block->getUrl('cargaterminales/event/edit/');?>" method="post" id="enviarProducto" >
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" >
            <div class="page-actions-inner" >
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button id="editupdate" title="update" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span>Guardar</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input id="sku1" name="sku1" value="asdasd">
</form>
<form>
    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Producto</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">
            <div class="admin__field field field-label  required _required" data-ui-id="sku-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sku"><span>SKU</span></label>
                <div class="admin__field-control control">
                    <input id="sku" name="label" data-ui-id="sku-product-edit-container-form-fieldset-element-text-label" value="<?php echo $result['sku_sap'] ?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="type-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="type-product"><span>Tipo producto</span></label>
                <div class="admin__field-control control">
                    <input id="type-product" name="label" data-ui-id="type-product-container-form-fieldset-element-text-label" value="<?php echo $result['product_type'] ?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="marca-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="marca-product"><span>Marca</span></label>
                <div class="admin__field-control control">
                    <input id="marca-product" name="label" data-ui-id="marca-product-container-form-fieldset-element-text-label" value="<?php echo $result['brand'] ?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="name-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="name-product"><span>Nombre</span></label>
                <div class="admin__field-control control">
                    <input id="name-product" name="label" data-ui-id="name-product-container-form-fieldset-element-text-label" value="<?php echo $result['product_name'] ?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="sim-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sim-product"><span>Tipo SIM</span></label>
                <div class="admin__field-control control">
                    <input id="sim-product" name="label" data-ui-id="sim-product-container-form-fieldset-element-text-label" value="<?php echo $result['sim_type']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="sms-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sms-product"><span>SMS</span></label>
                <div class="admin__field-control control">
                    <input id="sms-product" name="label" data-ui-id="sms-product-container-form-fieldset-element-text-label" value="<?php echo $result['sms']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="mensaje-instantaneo-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="mensaje-instantaneo"><span>Mensaje instantáneo</span></label>
                <div class="admin__field-control control">
                    <input id="mensaje-instantaneo" name="label" data-ui-id="mensaje-instantaneo-container-form-fieldset-element-text-label" value="<?php echo $result['instant_msg']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="email-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="email-product"><span>E-mail</span></label>
                <div class="admin__field-control control">
                    <input id="email-product" name="label" data-ui-id="email-product-container-form-fieldset-element-text-label" value="<?php echo $result['email']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="accesebilidad-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="accesebilidad-product"><span>Accesibilidad gari</span></label>
                <div class="admin__field-control control">
                    <input id="accesebilidad-product" name="label" data-ui-id="accesebilidad-product-container-form-fieldset-element-text-label" value="<?php echo $result['accesibility_gari']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="ruta-imagen-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="ruta-imagen"><span>Ruta imagen</span></label>
                <div class="admin__field-control control">
                    <input id="ruta-imagen" name="label" data-ui-id="ruta-imagen-container-form-fieldset-element-text-label" value="<?php echo $result['marca_imagen']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="resolucion-pantalla-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="resolucion-pantalla"><span>Resolución de la pantalla</span></label>
                <div class="admin__field-control control">
                    <input id="resolucion-pantalla" name="label" data-ui-id="resolucion-pantalla-container-form-fieldset-element-text-label" value="<?php echo $result['screen_resolution']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="color-pantalla-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="color-pantalla"><span>Color de la pantalla</span></label>
                <div class="admin__field-control control">
                    <input id="color-pantalla" name="label" data-ui-id="color-pantalla-container-form-fieldset-element-text-label" value="<?php echo $result['screen_color']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="tamanio-pantalla-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tamanio-pantalla"><span>Tamaño de la pantalla</span></label>
                <div class="admin__field-control control">
                    <input id="tamanio-pantalla" name="label" data-ui-id="tamanio-pantalla-container-form-fieldset-element-text-label" value="<?php echo $result['screen_size']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="aprueba-salpicadura-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="aprueba-salpicadura"><span>Aprueba de salpicaduras</span></label>
                <div class="admin__field-control control">
                    <input id="aprueba-salpicadura" name="label" data-ui-id="aprueba-salpicadura-container-form-fieldset-element-text-label" value="<?php echo $result['screen_waterproof']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="segmento-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="segmento"><span>Segmento</span></label>
                <div class="admin__field-control control">
                    <input id="segmento" name="label" data-ui-id="segmento-container-form-fieldset-element-text-label" value="<?php echo $result['segment']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="rango-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="rango"><span>Rango</span></label>
                <div class="admin__field-control control">
                    <input id="rango" name="label" data-ui-id="rango-container-form-fieldset-element-text-label" value="<?php echo $result['range_type']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

        </fieldset>
    </div>

    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="caracteristicas">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span >Caracteristicas</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-caracteristicas">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="height-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="height-product"><span>Height</span></label>
                <div class="admin__field-control control">
                    <input id="height-product" name="label" data-ui-id="height-product-container-form-fieldset-element-text-label" value="<?php echo $result['height']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="width-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="width-product"><span>Width</span></label>
                <div class="admin__field-control control">
                    <input id="width-product" name="label" data-ui-id="width-product-container-form-fieldset-element-text-label" value="<?php echo $result['width']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="thickness-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="thickness-product"><span>Thickness</span></label>
                <div class="admin__field-control control">
                    <input id="thickness-product" name="label" data-ui-id="thickness-product-container-form-fieldset-element-text-label" value="<?php echo $result['thickness']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="weight-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="weight-product"><span>Weight</span></label>
                <div class="admin__field-control control">
                    <input id="weight-product" name="label" data-ui-id="weight-product-container-form-fieldset-element-text-label" value="<?php echo $result['weight']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="color-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="color-product"><span>Color</span></label>
                <div class="admin__field-control control">
                    <input id="color-product" name="label" data-ui-id="color-product-container-form-fieldset-element-text-label" value="<?php echo $result['color']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

        </fieldset>
    </div>



    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="descripcion">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span >Descripción</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-descripcion">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="description-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="description-product"><span>Breve descripción</span></label>
                <div class="admin__field-control control">
                    <input id="description-product" name="label" data-ui-id="description-product-container-form-fieldset-element-text-label" value="<?php echo $result['short_description']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="entretenimiento">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span >Entretenimiento</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-entretenimiento">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="reproductor-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="reproductor-product"><span>Reproductor de música</span></label>
                <div class="admin__field-control control">
                    <input id="reproductor-product" name="label" data-ui-id="reproductor-product-container-form-fieldset-element-text-label" value="<?php echo $result['music_playback']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="resolucion-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="resolucion-product"><span>Resolución de cámara</span></label>
                <div class="admin__field-control control">
                    <input id="resolucion-product" name="label" data-ui-id="resolucion-product-container-form-fieldset-element-text-label" value="<?php echo $result['camera_resolution']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="front-camera-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="front-camera"><span>Cámara frontal</span></label>
                <div class="admin__field-control control">
                    <input id="front-camera" name="label" data-ui-id="front-camera-container-form-fieldset-element-text-label" value="<?php echo $result['front_camera']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="back-camera-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="back-camera"><span>Cámara trasera</span></label>
                <div class="admin__field-control control">
                    <input id="back-camera" name="label" data-ui-id="back-camera-container-form-fieldset-element-text-label" value="<?php echo $result['back_camera']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="video-captura-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="video-captura"><span>Captura de video</span></label>
                <div class="admin__field-control control">
                    <input id="video-captura" name="label" data-ui-id="video-captura-container-form-fieldset-element-text-label" value="<?php echo $result['video_recording']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="video-reproduccion-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="video-reproduccion"><span>Reproducción de vídeo</span></label>
                <div class="admin__field-control control">
                    <input id="video-reproduccion" name="label" data-ui-id="video-reproduccion-container-form-fieldset-element-text-label" value="<?php echo $result['video_playback']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="video-apertura-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="video-apertura"><span>Apertura de la cámara</span></label>
                <div class="admin__field-control control">
                    <input id="video-apertura" name="label" data-ui-id="video-apertura-container-form-fieldset-element-text-label" value="<?php echo $result['camera_aperture']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="video-resolucion-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="video-resolucion"><span>Resolución de video</span></label>
                <div class="admin__field-control control">
                    <input id="video-resolucion" name="label" data-ui-id="video-resolucion-container-form-fieldset-element-text-label" value="<?php echo $result['camera_video_resolution']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="bateria">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span >Batería</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-bateria">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="bateria-capacidad-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="bateria-capacidad"><span>Capacidad de la batería</span></label>
                <div class="admin__field-control control">
                    <input id="bateria-capacidad" name="label" data-ui-id="bateria-capacidad-container-form-fieldset-element-text-label" value="<?php echo $result['battery_capacity']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="bateria-tiempo-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="bateria-tiempo"><span>Tiempo de conversación</span></label>
                <div class="admin__field-control control">
                    <input id="bateria-tiempo" name="label" data-ui-id="bateria-tiempo-container-form-fieldset-element-text-label" value="<?php echo $result['battery_lte_conversation']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="bateria-espera-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="bateria-espera"><span>Tiempo de batería en espera</span></label>
                <div class="admin__field-control control">
                    <input id="bateria-espera" name="label" data-ui-id="bateria-espera-container-form-fieldset-element-text-label" value="<?php echo $result['battery_lte_standby']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="capacidad">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span >Capacidad</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-capacidad">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="capacidad-memoria-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="capacidad-memoria"><span>Capacidad</span></label>
                <div class="admin__field-control control">
                    <input id="capacidad-memoria" name="label" data-ui-id="capacidad-memoria-container-form-fieldset-element-text-label" value="<?php echo $result['memory_storage']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="expandible-memoria-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="expandible-memoria"><span>Memoria expandible</span></label>
                <div class="admin__field-control control">
                    <input id="expandible-memoria" name="label" data-ui-id="expandible-memoria-container-form-fieldset-element-text-label" value="<?php echo $result['memory_expandable']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="formato-memoria-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="formato-memoria"><span>Formato</span></label>
                <div class="admin__field-control control">
                    <input id="formato-memoria" name="label" data-ui-id="formato-memoria-container-form-fieldset-element-text-label" value="<?php echo $result['memory_format']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="ram-memoria-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="ram-memoria"><span>Memoria RAM</span></label>
                <div class="admin__field-control control">
                    <input id="ram-memoria" name="label" data-ui-id="ram-memoria-container-form-fieldset-element-text-label" value="<?php echo $result['memory_ram']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="especificaciones">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span >Especificación general </span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-especificaciones">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="sistema-operativo-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sistema-operativo"><span>Sistema Operativo</span></label>
                <div class="admin__field-control control">
                    <input id="sistema-operativo" name="label" data-ui-id="sistema-operativo-container-form-fieldset-element-text-label" value="<?php echo $result['os']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="sistema-version-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sistema-version"><span>Sistema Operativo versión</span></label>
                <div class="admin__field-control control">
                    <input id="sistema-version" name="label" data-ui-id="sistema-version-container-form-fieldset-element-text-label" value="<?php echo $result['os_version']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="procesador-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="procesador"><span>Procesador</span></label>
                <div class="admin__field-control control">
                    <input id="procesador" name="label" data-ui-id="procesador-container-form-fieldset-element-text-label" value="<?php echo $result['processor_chip']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="marcacion-voz-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="marcacion-voz"><span>Marcación por voz</span></label>
                <div class="admin__field-control control">
                    <input id="marcacion-voz" name="label" data-ui-id="marcacion-voz-container-form-fieldset-element-text-label" value="<?php echo $result['voice_dialing']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="4g-lte-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="4g-lte"><span>4G LTE</span></label>
                <div class="admin__field-control control">
                    <input id="4g-lte" name="label" data-ui-id="4g-lte-container-form-fieldset-element-text-label" value="<?php echo $result['c_4g_lte']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="wifi-4g-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="wifi-4g"><span>WiFi y llamadas 4G</span></label>
                <div class="admin__field-control control">
                    <input id="wifi-4g" name="label" data-ui-id="wifi-4g-container-form-fieldset-element-text-label" value="<?php echo $result['c_4g']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="umts-3g-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="umts-3g"><span>3G UMTS</span></label>
                <div class="admin__field-control control">
                    <input id="umts-3g" name="label" data-ui-id="umts-3g-container-form-fieldset-element-text-label" value="<?php echo $result['c_3g_umts']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="tecnologia-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tecnologia"><span>Tecnología<span></label>
                <div class="admin__field-control control">
                    <input id="tecnologia" name="label" data-ui-id="tecnologia-container-form-fieldset-element-text-label" value="<?php echo $result['technologies']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="contenido-caja-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="contenido-caja"><span>Contenido de la caja<span></label>
                <div class="admin__field-control control">
                    <input id="contenido-caja" name="label" data-ui-id="contenido-caja-container-form-fieldset-element-text-label" value="<?php echo $result['accessories']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="conectividad">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Conectividad</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-conectividad">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="tipo-banda-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tipo-banda"><span>Tipo de banda</span></label>
                <div class="admin__field-control control">
                    <input id="tipo-banda" name="label" data-ui-id="tipo-banda-container-form-fieldset-element-text-label" value="<?php echo $result['bands_4g']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="videollamada-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="videollamada"><span>Videollamada</span></label>
                <div class="admin__field-control control">
                    <input id="videollamada" name="label" data-ui-id="videollamada-container-form-fieldset-element-text-label" value="<?php echo $result['videocalling']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="wifi-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="wifi"><span>WiFi</span></label>
                <div class="admin__field-control control">
                    <input id="wifi" name="label" data-ui-id="wifi-container-form-fieldset-element-text-label" value="<?php echo $result['wifi']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="nfc-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="nfc"><span>NFC</span></label>
                <div class="admin__field-control control">
                    <input id="nfc" name="label" data-ui-id="nfc-container-form-fieldset-element-text-label" value="<?php echo $result['nfc']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="bluetooth-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="bluetooth"><span>Bluetooth</span></label>
                <div class="admin__field-control control">
                    <input id="bluetooth" name="label" data-ui-id="bluetooth-container-form-fieldset-element-text-label" value="<?php echo $result['bluetooth']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="bluetooth-version-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="bluetooth-version"><span>Bluetooth versión</span></label>
                <div class="admin__field-control control">
                    <input id="bluetooth-version" name="label" data-ui-id="bluetooth-version-container-form-fieldset-element-text-label" value="<?php echo $result['bluetooth_version']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="hostpot-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="hostpot"><span>Hostpot</span></label>
                <div class="admin__field-control control">
                    <input id="hostpot" name="label" data-ui-id="hostpot-container-form-fieldset-element-text-label" value="<?php echo $result['hotspot']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="gps-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="gps-product"><span>GPS</span></label>
                <div class="admin__field-control control">
                    <input id="gps-product" name="label" data-ui-id="gps-product-container-form-fieldset-element-text-label" value="<?php echo $result['gps']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="tags-titulo">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Tags</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-tags-titulo">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="tag-producto-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tag-producto"><span>Tags</span></label>
                <div class="admin__field-control control">
                    <input id="tag-producto" name="label" data-ui-id="tag-producto-container-form-fieldset-element-text-label" value="<?php echo $result['tags']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="tag-cupon-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tag-cupon"><span>Tag cupon</span></label>
                <div class="admin__field-control control">
                    <input id="tag-cupon" name="label" data-ui-id="tag-cupon-container-form-fieldset-element-text-label" value="<?php echo $result['tag_cupon']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="tag-descuento-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tag-descuento"><span>Tag descuento</span></label>
                <div class="admin__field-control control">
                    <input id="tag-descuento" name="label" data-ui-id="tag-descuento-container-form-fieldset-element-text-label" value="<?php echo $result['tag_descuento']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="tag-oferta-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tag-oferta"><span>Tag oferta</span></label>
                <div class="admin__field-control control">
                    <input id="tag-oferta" name="label" data-ui-id="tag-oferta-container-form-fieldset-element-text-label" value="<?php echo $result['tag_oferta']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="tag-promocion-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="tag-promocion"><span>Tag promoción</span></label>
                <div class="admin__field-control control">
                    <input id="tag-promocion" name="label" data-ui-id="tag-promocion-container-form-fieldset-element-text-label" value="<?php echo $result['tag_promocion']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="seo-search">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Search Engine Optimization </span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-seo-search">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="seo-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="seo-producto"><span>SEO URL</span></label>
                <div class="admin__field-control control">
                    <input id="seo-producto" name="label" data-ui-id="seo-producto-container-form-fieldset-element-text-label" value="<?php echo $result['seo_url']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="meta-product-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="meta-producto"><span>Meta title</span></label>
                <div class="admin__field-control control">
                    <input id="meta-producto" name="label" data-ui-id="meta-producto-container-form-fieldset-element-text-label" value="<?php echo $result['seo_meta_title']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="meta-keyword-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="meta-keyword"><span>Meta keyword</span></label>
                <div class="admin__field-control control">
                    <input id="meta-keyword" name="label" data-ui-id="meta-keyword-container-form-fieldset-element-text-label" value="<?php echo $result['seo_meta_keyword']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="meta-description-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="meta-description"><span>Meta descripción</span></label>
                <div class="admin__field-control control">
                    <input id="meta-description" name="label" data-ui-id="meta-description-container-form-fieldset-element-text-label" value="<?php echo $result['seo_meta_description']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="detalle-disenio">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Detalle Diseño</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-detalle-disenio">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="titulo_detalle_producto_1-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="titulo_detalle_producto_1"><span>titulo_detalle_producto_1</span></label>
                <div class="admin__field-control control">
                    <input id="titulo_detalle_producto_1" name="label" data-ui-id="titulo_detalle_producto_1-container-form-fieldset-element-text-label" value="<?php echo $result['titulo_detalle_producto_1']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="sub_titulo_detalle_producto_1-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sub_titulo_detalle_producto_1"><span>sub_titulo_detalle_producto_1</span></label>
                <div class="admin__field-control control">
                    <input id="sub_titulo_detalle_producto_1" name="label" data-ui-id="sub_titulo_detalle_producto_1-container-form-fieldset-element-text-label" value="<?php echo $result['sub_titulo_detalle_producto_1']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="descripcion_detalle_producto_1-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="descripcion_detalle_producto_1"><span>descripcion_detalle_producto_1</span></label>
                <div class="admin__field-control control">
                    <input id="descripcion_detalle_producto_1" name="label" data-ui-id="descripcion_detalle_producto_1-container-form-fieldset-element-text-label" value="<?php echo $result['descripcion_detalle_producto_1']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>


    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="detalle-camara">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Detalle Cámara</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-detalle-camara">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="titulo_detalle_producto_2-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="titulo_detalle_producto_2"><span>titulo_detalle_producto_2</span></label>
                <div class="admin__field-control control">
                    <input id="titulo_detalle_producto_2" name="label" data-ui-id="titulo_detalle_producto_2-container-form-fieldset-element-text-label" value="<?php echo $result['titulo_detalle_producto_2']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="sub_titulo_detalle_producto_2-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sub_titulo_detalle_producto_2"><span>sub_titulo_detalle_producto_2</span></label>
                <div class="admin__field-control control">
                    <input id="sub_titulo_detalle_producto_2" name="label" data-ui-id="sub_titulo_detalle_producto_2-container-form-fieldset-element-text-label" value="<?php echo $result['sub_titulo_detalle_producto_2']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="descripcion_detalle_producto_2-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="descripcion_detalle_producto_2"><span>descripcion_detalle_producto_2</span></label>
                <div class="admin__field-control control">
                    <input id="descripcion_detalle_producto_2" name="label" data-ui-id="descripcion_detalle_producto_2-container-form-fieldset-element-text-label" value="<?php echo $result['descripcion_detalle_producto_2']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>

    <div class="fieldset-wrapper admin__collapsible-block-wrapper" id="detalle-pantalla">
        <div class="fieldset-wrapper-title" >
            <strong class="admin__collapsible-title">
                <span>Detalle Cámara</span>
            </strong>
        </div>
    </div>
    <div class="admin__fieldset-wrapper-content" id="content-detalle-pantalla">
        <fieldset class="fieldset admin__fieldset no-display" id="" style="display: block;">

            <div class="admin__field field field-label  required _required" data-ui-id="titulo_detalle_producto_3-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="titulo_detalle_producto_3"><span>titulo_detalle_producto_3</span></label>
                <div class="admin__field-control control">
                    <input id="titulo_detalle_producto_3" name="label" data-ui-id="titulo_detalle_producto_3-container-form-fieldset-element-text-label" value="<?php echo $result['titulo_detalle_producto_3']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>

            <div class="admin__field field field-label  required _required" data-ui-id="sub_titulo_detalle_producto_3-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="sub_titulo_detalle_producto_3"><span>sub_titulo_detalle_producto_3</span></label>
                <div class="admin__field-control control">
                    <input id="sub_titulo_detalle_producto_3" name="label" data-ui-id="sub_titulo_detalle_producto_3-container-form-fieldset-element-text-label" value="<?php echo $result['sub_titulo_detalle_producto_3']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>


            <div class="admin__field field field-label  required _required" data-ui-id="descripcion_detalle_producto_3-edit-container-form-fieldset-element-form-field-label">
                <label class="label admin__field-label" for="descripcion_detalle_producto_3"><span>descripcion_detalle_producto_3</span></label>
                <div class="admin__field-control control">
                    <input id="descripcion_detalle_producto_3" name="label" data-ui-id="descripcion_detalle_producto_3-container-form-fieldset-element-text-label" value="<?php echo $result['descripcion_detalle_producto_3']?>" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-required="true">
                </div>
            </div>
        </fieldset>
    </div>


</form>
