<style>

    .small-content{
        width:32%;
        float:left;
        margin-right:5px;
    }
    
    .small-content-medio{
        width:49%;
        float:left;
        margin-right:5px;
    }
    
    #imgTypePago.small-content{
        height: 60px;
        width: 170px;
        text-align: center; margin: 1em 0;
        padding-top: 4%;
    }
    
    #imgTypePago.small-content img{
        float:left;
        margin:0 5px;
        vertical-align: middle;
        
    }
    
    #imgTypePago.small-content img.noselected{
        opacity: 0.3;
        filter: alpha(opacity=30);
    }
    
    
    .previewCardContent{
        position: absolute;
        z-index: 1000;
        top: 60%;
        left: 40%;
    }
    
    .previewCardContent img{
        width: 40%;
    }
    
    
    @media only screen and (max-width: 2200px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 80%;
        left: 50%;
      }

      .previewCardContent img{
            width: 50%;
        }
    }   
    
    
    @media only screen and (max-width: 2000px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 50%;
      }

      .previewCardContent img{
            width: 60%;
        }
    }   
    
    @media only screen and (max-width: 1800px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 50%;
      }

      .previewCardContent img{
            width: 60%;
        }
    }
    
    @media only screen and (max-width: 1600px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 70%;
        left: 50%;
      }

      .previewCardContent img{
            width: 60%;
        }
    }
    
    
    @media only screen and (max-width: 1400px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 100%;
        left: 60%;
      }
      
      .previewCardContent img{
            width: 70%;
        }
    }
    
    @media only screen and (max-width: 1200px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 130%;
        left: 50%;
      }
      
      .previewCardContent img{
            width: 80%;
        }
    }
    
    @media only screen and (max-width: 1024px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 165%;
        left: 65%;
      }

      .previewCardContent img{
            width: 80%;
        }
    }

    @media only screen and (max-width: 768px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 185%;
        left: 65%;
      }

      .previewCardContent img{
            width: 70%;
        }
    }
    
    @media only screen and (max-width: 600px) {
      .previewCardContent {
        position: absolute;
        z-index: 1000;
        top: 185%;
        left: 65%;
      }

      .previewCardContent img{
            width: 50%;
        }
    }
    
    .helpcard{
        
    }
    
    .icon_name{
        content:url('<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/ayuda_gris_rojo.svg'); ?>');
    }
    
    .icon_card{
        content:url('<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/ayuda_gris_azul.svg'); ?>');
    }
    
    .icon_expiration{
        content:url('<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/ayuda_gris_verde.svg'); ?>');
    }
    
    .icon_ccv{
        content:url('<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/ayuda_gris_morado.svg'); ?>');
    }
    
    .labelContent label{
        float:left;
    }
    
</style>

        <div class="form__row-gral" id="textoejemplo">
        &nbsp;
        </div>
        <div class="form__row-gral">
            <div class="labelContent">
                <label for="cardNumber" class="form__label form__label-ico i-star-fill">
                    <?php /* @escapeNotVerified */ echo __('Name and lastname (As it appears on the card)');?>&nbsp;&nbsp;&nbsp;
                </label>
                <span class="helpcard icon_name" >&nbsp;</span>
            </div>
            <input class="form__input reqCalle" placeholder="Escribe tu nombre" type="text" name="fullName" id="full-name" data-validate="name" value="" maxlength="83">
            <small class="js-validateMsg" data-name="fullName"></small>
        </div>
        <div class="form__row-gral">
        	<div class="labelContent">
                <label for="cardNumber" class="form__label form__label-ico i-star-fill">
                	<?php /* @escapeNotVerified */ echo __('Card Number');?>&nbsp;
                </label>
                <span class="helpcard icon_card" >&nbsp;</span>
            </div>
            <input type="text" id="cardNumber" value="" data-checkout="cardNumber" autocomplete="cc-number"
            		placeholder="<?php /* @escapeNotVerified */ echo __('Card Number');?>" class="form__input reqCalle" />
            <small class="js-validateMsg" data-name="cardNumber" id="cardNumberError"></small>
        </div>
        <div class="form__row-gral">
        	<div class="small-content">
        		<div class="labelContent">
                	<label for="cardExpiration" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('Expiration');?>&nbsp;</label>
                	<span class="helpcard icon_expiration" >&nbsp;</span>
                </div>
                <input type="text" id="cardExpiration" name="cardExpiration" data-checkout="cardExpiration" placeholder="MM/YYYY" 
                		value=""  maxlength="7"
                		onDrag="return false" onDrop="return false" autocomplete=off class="form__input reqCalle" />
				<small class="js-validateMsg" data-name="cardExpiration" id="cardExpirationError"></small>
           	</div>
           	<div class="small-content">
           		<div class="labelContent">
                	<label for="securityCode_mask" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('CCV');?>&nbsp;</label>
                	<span class="helpcard icon_ccv" >*&nbsp;</span>
                </div>
                <input type="text" id="securityCode_mask" name="securityCode_mask" placeholder="123" value="" maxlength="3" 
                		onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false"
                		onDrop="return false" autocomplete=off class="form__input reqCalle" />
                <small class="js-validateMsg" data-name="securityCode"></small>
           	</div>
           	<div id="imgTypePago" class="small-content">
        		<input id="paymentMethodId" name="paymentMethodId" value="" type="hidden" placeholder="visa" onselectstart="return false" onpaste="return false"
        				onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off readonly
        				 class="form__input reqCalle"/>

        		<img id="imgmaster" class="typePayment noselected" src="<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/master.svg'); ?>" />
        		<img id="imgvisa" class="typePayment noselected"  src="<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/visa.svg'); ?>" />
        		<img id="imgamex" class="typePayment noselected"  src="<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/amex.svg'); ?>" />

           	</div>
        </div>

		<div id="sameAddressContent" class="form__row-gral" style="clear: both;">
			<input type="checkbox" id="sameShippingAddress" name="sameAddress" class="form__check" />
			<label id="labelSameShippingAddress" for="sameShippingAddress" class="form__label_check i-check" ><?php /* @escapeNotVerified */ echo __('Use my shipping address');?></label>

		</div>
		<div id="sameAddressBillingContent" class="form__row-gral" style="display:none;clear: both;">
			<input type="checkbox" id="sameBillingAddress" name="sameAddress" class="form__check" />
			<label id="labelSameBillingAddress" for="sameBillingAddress" class="form__label_check i-check" ><?php /* @escapeNotVerified */ echo __('Use my billing address');?></label>

		</div>
        <div class="form__row-gral" style="clear: both;">
            <label for="street_name" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('Street Name');?></label>
            <input type="text" id="street_name" name="street_name" data-checkout="street_name" placeholder="Escribe la calle de tu domicilio" maxlength="100"
            		value="" class="form__input reqCalle" />
            
        </div>
        <div class="form__row-gral" style="padding-bottom: 100px;">

            <div class="small-content-medio">
                <label for="street_number" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('Street Number MP');?></label>
                <input type="text" id="street_number" name="street_number" data-checkout="street_number" placeholder="Escribe tu número" 
                 maxlength="20" value="" class="form__input reqCalle" />
            </div>
            <div class="small-content-medio">
                <label for="zip_code" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('Zip/Postal Code');?></label>
                <input type="text" id="zip_code" name="zip_code" data-checkout="zip_code" placeholder="00000" maxlength="5" 
                    value="" class="form__input reqCalle" />
            </div>
        </div>

        <?php if( $block->isActiveMsi() ): ?>
            <div id="content_installments" class="form__row-gral" style="clear: both;visibility: hidden;height: 1px;">
                <label for="installments" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('Installments');?></label>
                <select type="text" id="installments" name="installments" data-checkout="installments" placeholder="Installments" class="form__input reqCalle" >
                    <option value="1" selected><?php echo __('Select the term to pay');?></option>
                </select>
            </div>
        <?php endif; ?>
        
        <?php if( $block->isActiveSandbox() ): ?>
        
        <div class="form__row-gral"  style="clear: both;padding-top: 30px;">
            <label for="cardholderName" class="form__label form__label-ico i-star-fill"><?php /* @escapeNotVerified */ echo __('Card holder name');?>:</label>
            <select id="cardholderName" name="cardholderName" data-checkout="cardholderName" placeholder="approved"  class="form__input reqCalle">
                <option value="approved">Approved</option>
                <option value="in_process">In process</option>
                <option value="call_for_auth">Call for auth</option>
                <option value="not_founds">Not founds</option>
                <option value="expirated">Expirated</option>
                <option value="form_error">Form error</option>
                <option value="general_error">General error</option>
            </select>
            
        </div>
        <?php endif; ?>

        
        <div class="form__row-gral" style="margin-top: 80px;">

            <button id="continuar-checkout-out-validation" class="form__btn btn" data-index="3" type="button">Pagar</button>
        </div>


        <br/>
        <br/>
        <br/>
        <script type="text/x-magento-init">
        {
            "*": {
                "Telefonica_MercadoPago/js/js": {}
            }
        }
        </script>
<div id="expiration_example" class="previewCardContent" style="display:none;">
    <img src="<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/card1.png'); ?>" />
</div>

<div id="expiration_example_amex" class="previewCardContent" style="display:none;">
	<img src="<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/card3.png'); ?>" />
</div>

<div id="ccv_example" class="previewCardContent" style="display:none;">
    <img src="<?php echo $block->getViewFileUrl('Telefonica_MercadoPago::images/card2.png'); ?>" />
</div>
<input type="hidden" id="cardExpirationMonth" name="cardExpirationMonth" data-checkout="cardExpirationMonth" />
<input type="hidden" id="cardExpirationYear" name="cardExpirationYear" data-checkout="cardExpirationYear" />
<input type="hidden" id="securityCode" name="securityCode" data-checkout="securityCode" />
<input type="hidden" id="cardNumberEncryp" name="cardNumber" data-checkout="cardNumber" />
<input type="hidden" id="publicKeyMP" name="publicKeyMP" data-checkout="publicKeyMP" value="<?php echo $block->getPublicKeyMercadoPago();?>"/>
<input type="hidden" id="device_id_mp" name="device_id" data-checkout="device_id" value=""/>