
<?php if( $block->getOrder()->getData("status") == "complete" ):?>

        <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
            <tbody>
            <tr>
                <td width="60%">
                    <p></p>
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">&nbsp;<br /><span style="font-weight: bold;"y>DETALLES DE TU COMPRA</span></p>
                </td>
                <td width="40%">

                </td>
            </tr>
            <tr>
                <td colspan="2"><hr style="color:#666;" /></td>
            </tr>
            <tr>
                <td width="60%">
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><?php echo __("DATOS PERSONALES")?></strong></p>
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">{{var formattedBillingAddress|raw}}</p>
                </td>
                <td width="40%">
                    {{depend order.getIsNotVirtual()}}
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong>{{trans "DATOS DE ENVÍO"}}</strong></p>
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">{{var formattedShippingAddress|raw}}</p>
                    {{/depend}}
                </td>
            </tr>
            <td colspan="2"><hr style="color:#666;" /></td>
            <tr>
                <td width="100%">
                    <p style="font-size:.8em;text-align:left;color:#666;font-family:Arial, Helvetica, sans-serif;">{{trans "Tarjeta con la que se realizó el pago:"}}
                        <br><br><span>{{var payment_html|raw}}</span></p>
                    <br><span>Número de Referencia : {{var mpReference|raw}}</span></p>
            </tr>
            <tr>
                <td colspan="2"><hr style="color:#666;" /></td>
            </tr>
            </tbody>
        </table>

        <?php
            echo $block->getLayout()->getBlock('sales_email_order_items');
        ?>

        <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
            <tbody>
            <tr>
                <td width="50%">
                    <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;">&nbsp</p>
                    <a href="{{var followUrlOrder|raw}}" target="_blank"><img src="{{view url='images/email/BtnSeguimiento.png'}}" /></a>

                </td>
            </tr>
            </tbody>
        </table>

        <table  border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
            <tbody>
            <tr>
                <td colspan="2">&nbsp;
                </td>
            </tr>
            <tr>
                <td width="50%" style="text-align:left;">
                    <a href="#" target="_blank"><img src="{{view url='images/email/ContratoDigital.png'}}" /></a><br />
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;font-weight: bold;">{{var displayImgContrato|raw}}</p>
                </td>
                <td width="50%">
                    <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;"></p>

                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;
                </td>
            </tr>
            </tbody>
        </table>

<?php else: ?>
    <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
        <tbody>
        <tr>
            <td width="60%">
                <p></p>
                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">&nbsp;<br /><span style="font-weight: bold;"y>DETALLES DE TU COMPRA</span></p>
            </td>
            <td width="40%">

            </td>
        </tr>
        <tr>
            <td colspan="2"><hr style="color:#666;" /></td>
        </tr>
        <tr>
            <td width="60%">
                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong>{{trans "DATOS PERSONALES"}}</strong></p>
                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">{{var formattedBillingAddress|raw}}</p>
            </td>
            <td width="40%">
                {{depend order.getIsNotVirtual()}}
                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong>{{trans "DATOS DE ENVÍO"}}</strong></p>
                <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">{{var formattedShippingAddress|raw}}</p>
                {{/depend}}
            </td>
        </tr>
        <td colspan="2"><hr style="color:#666;" /></td>
        <tr>
            <td width="100%">
                <p style="font-size:.8em;text-align:left;color:#666;font-family:Arial, Helvetica, sans-serif;">{{trans "Tarjeta con la que se realizó el pago:"}}
                    <br><br><span>{{var payment_html|raw}}</span></p>
                <br><span>Número de Referencia : {{var mpReference|raw}}</span></p>
        </tr>
        <tr>
            <td colspan="2"><hr style="color:#666;" /></td>
        </tr>
        </tbody>
    </table>

    <?php
    //return $this->getLayout()->createBlock('Telefonica\MercadoPago\Block\Index\Index')->setTemplate("Telefonica_MercadoPago::mercadopago_index_index.phtml");
        echo $block->getLayout()->getBlock('sales_email_order_items');
    ?>

    <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
        <tbody>
        <tr>
            <td width="50%">
                <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;">&nbsp</p>
                <a href="{{var followUrlOrder|raw}}" target="_blank"><img src="{{view url='images/email/BtnSeguimiento.png'}}" /></a>

            </td>
        </tr>
        </tbody>
    </table>
    <?php if( $block->getOrder()->getData("tipo_orden") != 2 && $block->getOrder()->getData("tipo_orden") != 3 ):?>
        <table  border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
            <tbody>
            <tr>
                <td colspan="2">&nbsp;
                </td>
            </tr>
            <tr>
                <td width="50%" style="text-align:left;">
                    <a href="#" target="_blank"><img src="{{view url='images/email/ContratoDigital.png'}}" /></a><br />
                    <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;font-weight: bold;">{{var displayImgContrato|raw}}</p>
                </td>
                <td width="50%">
                    <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;"></p>

                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    <?php endif; ?>
<?php endif; ?>