
<?php if( $block->getOrder()->getData("status") == "complete" ):?>
    <table border="0" cellpadding="0" cellspacing="0" width="600px" align="center" style="background-color:#5bc500;">
<?php else: ?>
    <table border="0" cellpadding="0" cellspacing="0" width="600px" align="center" style="background-color:#ffa031;">
<?php endif; ?>
        <tbody>
        <tr>
            <td width="600" style="text-align:center;">
                <?php if( $block->getOrder()->getData("status") == "complete" ):?>
                    <h2 style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-weight:100;">Tu pedido llegará pronto</h2>
                <?php else: ?>
                    <h2 style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-weight:100;">Su pago está en proceso</h2>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td width="600" style="text-align:center;">
                <img src="<?php echo $block->getViewFileUrl('images/email/ico1.png'); ?>" />
            </td>
        </tr>
        <tr>
            <td width="600" style="text-align:center;">
                <p style="color:#fff;font-family:Arial, Helvetica, sans-serif;">Hola <span><?php echo $block->getOrder()->getCustomerName();?></span></p>
                <?php if( $block->getOrder()->getData("status") == "complete" ):?>
                <p style="color:#fff;font-family:Arial, Helvetica, sans-serif;">Recibimos tu orden, la compra va en camino.<br />Te notificaremos cuando llegue vía correo.</p>
                <?php else: ?>
                <p style="color:#fff;font-family:Arial, Helvetica, sans-serif;">Recibimos tu orden, se está procesando.<br /> Te notificaremos vía correo.</p>
                <?php endif; ?>
                <p>&nbsp;</p>
            </td>
        </tr>
    </table>