<?php
$blockOrder = $block->getLayout()->createBlock('Jeff\Contacts\Block\Mainorder');
$blockObjUserID = $block->getLayout()->createBlock('Jeff\Contacts\Block\Userid');
$blockObjUser = $block->getLayout()->createBlock('Jeff\Contacts\Block\User');
?>
<style>
    .validate-digits {}
    .validate-alpha {}
    .validate-required {}
</style>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        jQuery(document).ready(function () {
            function showErrorValidacion(fieldName, mensaje) {
                var title = jQuery('#' + fieldName).attr('title');
                var nameLabelError = fieldName + '-error';
                jQuery('#' + nameLabelError).show();
                jQuery('#' + nameLabelError).html('El campo: "' + title + '" ' + mensaje);
            }
            function hideErrorValidacion(fieldName) {
                var nameLabelError = fieldName + '-error';
                jQuery('#' + nameLabelError).hide();
                jQuery('#' + nameLabelError).text('');
            }

            function validateRequired(value_field) {
                if (value_field == '') {
                    return false;
                }
                return true;
            }
            jQuery('.validate-digits').keypress(function (e) {
                var key = e.charCode || e.keyCode || 0;
                // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                return ((key >= 48 && key <= 57) || (key >= 44 && key <= 46));
            });
            jQuery('.validate-alpha').keypress(function (e) {
                var key = e.charCode || e.keyCode || 0;
                // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                return ((key >= 48 && key <= 57) || (key >= 65 && key <= 90) || (key >= 97 && key <= 122) || (key >= 44 && key <= 47));
            });
            jQuery('.validate-required').each(function (val) {
                var validation_result = validateRequired(jQuery(this).val());
                {
                    if (!validation_result) {
                        showErrorValidacion(jQuery(this).attr('name'), 'es un campo requerido.');
                        //return false;
                    }
                    else {
                        hideErrorValidacion(jQuery(this).attr('name'));
                    }
                }
            });
        });
    });

</script>
<form action="<?= $block->getUrl('jeff_contacts/order/savecapture/'); ?>" method="post" id="formsave" enctype="multipart/form-data">
    <input type="hidden" name="increment_id" id="increment_id" maxlength="255" value="<?php echo $this->getIncrementId(); ?>">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button id="save" title="Save Contact" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text">
                            <span>Save</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Capture Flap Data</span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content _hide">
            <fieldset class="admin__fieldset">
                <div class="admin__field required">
                    <label class="admin__field-label" for="transaccion_flap_tcm">
                        <span># de transacción de FLAP-TCM</span>
                    </label>
                    <div class="admin__field-control">
                        <input required="true" class="admin__control-text validate-alpha required" type="text" name="transaccion_flap_tcm" id="transaccion_flap_tcm"  maxlength="30">
                    </div>
                </div>
                <div class="admin__field required">
                    <label class="admin__field-label" for="autor_flap_tcm">
                        <span># de autorización de FLAP-TCM</span>
                    </label>
                    <div class="admin__field-control">
                        <input required="true" required=""class="admin__control-text validate-alpha required" type="text" name="autor_flap_tcm" id="autor_flap_tcm"  maxlength="10">
                    </div>
                </div>
                <div class="admin__field required">
                    <label class="admin__field-label" for="importe">
                        <span>Importe</span>
                    </label>
                    <div class="admin__field-control">
                        <input required="true" class="admin__control-text validate-digits required" type="text" name="importe" id="importe"  maxlength="8" placeholder="$">
                    </div>
                </div>
                <div class="admin__field required">
                    <label class="admin__field-label" for="fecha">
                        <span>Fecha</span>
                    </label>
                    <div class="admin__field-control">
                        <input required="true" name="fecha" id="fecha" class="datepicker" type="text"></input>
                        <!--<button style="bottom: 3px;" type="button" class="ui-datepicker-trigger v-middle"><span>Select Date</span></button>-->
                    </div>
                </div>
                <div class="admin__field required">
                    <label class="admin__field-label" for="last4">
                        <span>Últimos 4 dígitos de la tarjeta</span>
                    </label>
                    <div class="admin__field-control">
                        <input required="true" class="admin__control-text validate-digits required" type="text" name="last4" id="last4"  maxlength="4">
                    </div>
                </div>
                <div class="admin__field required">
                    <label class="admin__field-label" for="factura">
                        <span># de factura</span>
                    </label>
                    <div class="admin__field-control">
                        <input required-entry required="true" class="admin__control-text validate-alpha field required" type="text" name="factura" id="factura"  maxlength="15">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<script type="text/javascript">
    require([
        "jquery",
        'mage/mage',
        "mage/calendar"
    ], function($){
        var dataForm = $('#formsave');
        dataForm.mage('validation', {});
        $('#fecha').datepicker({
                dateFormat : "yy-mm-dd",
                timeFormat : "H:m:s",
                changeMonth: true,
                changeYear :true,
                numberOfMonths: 1,
                showsTime: true,
            }
        );
    });
</script>
