<!-- empty -->
<?php
$blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
$blockObjUser = $block->getLayout()->createBlock('Jeff\Contacts\Block\User');
$blockObjUserID = $block->getLayout()->createBlock('Jeff\Contacts\Block\Userid');
$userID = $blockObjUserID->getUserId();
$roles = $blockObjUser->getRoles($userID);
$rol = $roles['role_name'];
$paramsFilter = $blockObj->getRequest()->getParams();
$_orders = $blockObj->getOrdersByRoll( $rol, $paramsFilter);
$_ordersRegiones = $blockObj->getRegionCp();
$orderStatus = $blockObj->getAllOrderStatus();
$tiposOrden = $blockObj->getAllTiposOrden();
$orderStatusTracking  = $blockObj->getRequest()->getParam('status_order_tracking');
$typeOrderFilter  = $blockObj->getRequest()->getParam('tipo_orden_filter');
$nombre_tipo_orden = '';

// $key = $blockObj->getFormKey();

echo "<pre>";
print_r($rol);
echo "</pre>";

?>
<h1>Seguimiento de Ordenes.</h1>
<form name="filter-form-bo" id="filter-form-bo" method="post" action="<?= $blockObj->getRequest()->getUriString() ?>" >
    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey();?>">
    <div class="admin__data-grid-header" style="">
        <div class="admin__data-grid-header-row">
            <div class="admin__data-grid-actions-wrap" >
            </div>

            <div class="data-grid-filters-actions-wrap">
                <div class="data-grid-filters-action-wrap">
                    <button class="action-default _active" id="filter-tab"><?php echo __('Filters') ?></button>
                </div>
            </div>

            <div class="admin__data-grid-filters-wrap">
                <fieldset class="admin__fieldset admin__data-grid-filters">
                    <legend class="admin__filters-legend">
                        <span><?php echo __('Advanced filter') ?></span>
                    </legend>
                    <fieldset class="admin__form-field">
                        <legend class="admin__form-field-legend">
                            <span><?php echo __('Purchase Date') ?></span>
                        </legend>
                        <div class="admin__form-field">
                            <label class="admin__form-field-label">
                                <span><?php echo __('from') ?></span>
                            </label>
                            <div class="admin__form-field-control">
                                <input class="admin__control-text ui-datepicker-trigger" type="text"  id="from_created_at" value="<?php echo $blockObj->getRequest()->getParam('from_created_at') ?>" name="from_created_at" >
                            </div>
                        </div><div class="admin__form-field">
                            <label class="admin__form-field-label">
                                <span><?php echo __('to') ?></span>
                            </label>
                            <div class="admin__form-field-control">
                                <input class="admin__control-text ui-datepicker-trigger" type="text"  id="to_created_at" value="<?php echo $blockObj->getRequest()->getParam('to_created_at') ?>" name="to_created_at" >
                            </div>
                        </div>
                    </fieldset>


                    <div class="admin__form-field">
                        <label class="admin__form-field-label">
                            <span><?php echo __('Status') ?></span>
                        </label>
                        <div class="admin__form-field-control">
                            <select class="admin__control-select" name="status_order_tracking" id="status_order_tracking">
                                <option value="">Seleccione</option>
                                <?php foreach ( $orderStatus as $status ){ ?>
                                    <option value="<?php echo $status['estatus_trakin']; ?>"><?php echo $status['estatus_trakin']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                    <div class="admin__form-field">
                        <label class="admin__form-field-label">
                            <span><?php echo __('Tipo Orden') ?></span>
                        </label>
                        <div class="admin__form-field-control">
                            <select class="admin__control-select" name="tipo_orden_filter" id="tipo_orden_filter">
                                <option value="">Seleccione</option>
                                <?php foreach ( $tiposOrden as $tipo ){ ?>
                                    <option value="<?php echo $tipo['tipo_orden']; ?>">
                                         <?php switch($tipo['tipo_orden']) {
                                            case 1: echo 'Pospago';
                                                $nombre_tipo_orden = 'pospago';
                                                break;
                                            case 2: echo 'Prepago';
                                                $nombre_tipo_orden = 'prepago';
                                                break;
                                            case 3: echo 'Terminal';
                                                $nombre_tipo_orden = 'terminal';
                                                break;
                                            case 4: echo 'Prepago sin equipo';
                                                $nombre_tipo_orden = 'prepago';
                                                break;
                                            case 5: echo 'Prepago con equipo';
                                                $nombre_tipo_orden = 'prepago';
                                                break;
                                            case 6: echo 'Pospago con equipo';
                                                $nombre_tipo_orden = 'pospago';
                                                break;
                                            case 7: echo 'Pospago sin equipo';
                                                $nombre_tipo_orden = 'pospago';
                                                break;
                                            default: echo "Indefinido";
                                                $nombre_tipo_orden = '';
                                                break;
                                        } ?>
                                    </option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>

                </fieldset>

                <div class="admin__data-grid-filters-footer">
                    <div class="admin__footer-main-actions">
                        <button class="action-tertiary" type="button">
                            <span><?php echo __('Cancel') ?></span>
                        </button>
                        <button class="action-secondary" type="submit">
                            <span><?php echo __('Apply Filters') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="admin__data-grid-header-row row row-gutter">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="admin__control-support-text">30 <span><?php echo __('records found') ?></span>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="admin__data-grid-pager-wrap">
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    </div>
</form>
<?php

if ($_orders && count($_orders)) {
    $complete = $pending = $closed = $canceled = $processing = $onHold = 0;
    ?>
    <script>
        require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function (
                        $,
                        modal
                        ) {
                    var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Seguro que quieres continuar?',
                        modalClass: 'custom-modal',
                        buttons: [{
                                text: $.mage.__('Cancelar'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                    $('#popup-modal').html(" ");
                                }
                            }, {
                                text: $.mage.__('Continuar'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                    $('#popup-modal').html(" ");
                                    var increment = $('#incrementid_cancel').val();
                                    location.href = "<?= $block->getUrl('jeff_contacts/index/saveorder/id/'); ?>" + increment + "?order_id=" + increment + "&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=cancel";
                                }
                            }
                        ]
                    };

                    var popup = modal(options, $('#popup-modal'));

                    //this opens the modal, you can use some click event or whatever you need to trigger the modal here
                    //                    $("#popup-modal").modal('openModal');
                    jQuery('.cancel-link').click(function (e) {
                        e.preventDefault();
                        $('#incrementid_cancel').val($(this).attr('incrementid'));
                        $("#popup-modal").modal('openModal');
                    });
                }
        );
    </script>
    <style> .cancel-link {} </style>
    <input type="hidden" id="incrementid_cancel">
    <div id="popup-modal">
    </div>


    <div class="admin__data-grid-wrap" data-role="grid-wrapper">
        <table class="data-grid data-grid-draggable" data-role="grid">
            <thead>
                <tr>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">ID de Orden</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Fecha</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Cliente</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Email</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Región</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Orden ONIX</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Numero DN</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Numero ICC</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Numero IMEI</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Modelo</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Numero Guia</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Estatus Tracking</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Tipo Orden</span>
                    </th>
                    <th class="data-grid-multicheck-cell">
                        <span class="data-grid-cell-content">Acciones</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($_orders as $_order) {

                    if( !empty( $orderStatusTracking ) && $orderStatusTracking != $_order['estatus_trakin'] ){
                        continue;
                    }

                    if (!empty($typeOrderFilter) && $typeOrderFilter != $_order['tipo_orden']) {
                        continue;
                    }

                    //if ($rol == "OperadorLogistico" && $_order['estatus_trakin'] == "Serie por Asignar") {
                    if ($rol == "OperadorLogistico" && $_order['estatus_trakin'] == "Serie por Asignar"
                        && ($_order['tipo_orden'] != 1 || $_order['tipo_orden'] != 6 || $_order['tipo_orden'] != 7)) {
                        continue;
                    }
                    $esta = $_order['estatus_trakin'];
                    if ($esta == 'Entrega Confirmada') {
                        $style = 'style="background-color: #a1eb60;"';
                    } else {
                        $style = '';
                    }
                    ?>
                    <tr class="data-row">
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                    <?= $_order['increment_id'] ?>
                            </div>
                        </td>
                        <td><?= $_order['created_at'] ?></td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['customer_firstname'] ?>
                                <?= $_order['customer_lastname'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['customer_email'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_ordersRegiones[$_order['increment_id']] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['order_onix'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?php if ($_order['estatus_trakin'] == 'Orden por verificar' && $rol == 'BackOfficeMan') { ?>
                                <?php } else { ?>
                                    <?= $_order['numero_dn'] ?>
                                <?php } ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['numero_icc'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['numero_imei'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['numero_modelo'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['numero_guia'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?= $_order['estatus_trakin'] ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?php switch($_order['tipo_orden']) {
                                    case 1: echo "Pospago";
                                        $nombre_tipo_orden = 'pospago';
                                        break;
                                    case 2: echo "Prepago";
                                        $nombre_tipo_orden = 'prepago';
                                        break;
                                    case 3: echo "Terminal";
                                        $nombre_tipo_orden = 'terminal';
                                        break;
                                    case 4: echo "Prepago sin equipo";
                                        $nombre_tipo_orden = 'prepago';
                                        break;
                                    case 5: echo "Prepago con equipo";
                                        $nombre_tipo_orden = 'prepago';
                                        break;
                                    case 6: echo 'Pospago con equipo';
                                        $nombre_tipo_orden = 'pospago';
                                        break;
                                    case 7: echo 'Pospago sin equipo';
                                        $nombre_tipo_orden = 'pospago';
                                        break;
                                    default: echo "Indefinido";
                                        $nombre_tipo_orden = '';
                                        break;
                                } ?>
                            </div>
                        </td>
                        <td <?php echo $style; ?>>
                            <div class="data-grid-cell-content">
                                <?php if ($rol == 'OperadorLogistico'
                                && (($_order['estatus_trakin'] == 'Fallo de Onix')
                                || ($_order['estatus_trakin'] == 'Serie por Asignar'
                                && ($_order['tipo_orden'] == 1 || $_order['tipo_orden'] == 6 || $_order['tipo_orden'] == 7)))) { ?>
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action="
                                       data-action="item-edit">
                                        Asignar Serie
                                    </a>
                                <?php } else if ($rol == 'BackOfficeMan' && $_order['estatus_trakin'] == 'Orden por aprobar') { ?>
                                    <?php
                                    $action = 'Aprobar Orden';
                                    ?>
                                    <a class="action-menu-item"
                                       target="_blank"
                                       href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                       data-action="item-edit">
                                        ver Orden
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/saveorder/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=<?php echo $action; ?>"
                                       data-action="item-edit">
                                           <?php echo $action; ?>
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=comentario"
                                       data-action="item-edit">
                                        Error
                                    </a>
                                    |
                                    <a class="action-menu-item cancel-link"
                                       target="_self"
                                       incrementid="<?php echo $_order['increment_id']; ?>"
                                       href="#" id="cancel_<?php echo $_order['increment_id']; ?>"
                                       data-action="item-edit">
                                        Cancelar Orden
                                    </a>
                                <?php } else if ($rol == 'BackOfficeMan' && $_order['estatus_trakin'] == 'Orden por verificar') { ?>
                                    <?php
                                    $action = 'Verificar Orden';
                                    ?>
                                    <a class="action-menu-item"
                                       target="_blank"
                                       href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                       data-action="item-edit">
                                        ver Orden
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=<?php echo $action; ?>&dn=<?= $_order['numero_dn'] ?>&rfc=d_<?php echo $blockObj->getRFC($_order['increment_id']); ?>&numero_onix=<?php echo $_order['order_onix'] ?>&account_code=<?php echo $_order['account_code']; ?>&tipo_orden=<?php echo $nombre_tipo_orden?>"
                                       data-action="item-edit">
                                           <?php echo $action; ?>
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=comentario_li"
                                       data-action="item-edit">
                                        Error
                                    </a>
                                <?php } else if ($rol == 'BackOffice' && $_order['estatus_trakin'] == 'Orden Por Activar') { ?>
                                    <span class="action-menu-item"
                                          style="color: #cecece;"
                                          target="_blank"
                                          data-action="item-edit">
                                        ver Orden
                                    </span>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action="
                                       data-action="item-edit">
                                        Tomar Orden
                                    </a>
                                <?php } else if ($rol == 'BackOffice' && $_order['usuario_id'] == $userID && $_order['order_onix'] == '') { ?>
                                    <a class="action-menu-item"
                                       target="_blank"
                                       href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                       data-action="item-edit">
                                        ver Orden
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=onix"
                                       data-action="item-edit">
                                        Activar Orden  (<?= $blockObj->validaToma($_order['increment_id'], $_order['usuario_id']) ?>)
                                    </a>
                                <?php } else if ($rol == 'LogisticaInterna' && $_order['estatus_trakin'] == 'Envio por validar') { ?>
                                    <a class="action-menu-item"
                                       target="_blank"
                                       href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                       data-action="item-edit">
                                        ver Orden
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=valida_onix"
                                       data-action="item-edit">
                                        Orden Correcta
                                    </a>
                                    |
                                    <a class="action-menu-item"
                                       target="_self"
                                       href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=comentario_li"
                                       data-action="item-edit">
                                        Error
                                    <?php } else if ($rol == 'OperadorLogistico' && $_order['estatus_trakin'] == 'Orden por Enviar') { ?>
                                        <a class="action-menu-item"
                                           target="_blank"
                                           href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                           data-action="item-edit">
                                            ver Orden
                                        </a>
                                        |
                                        <a class="action-menu-item"
                                           target="_self"
                                           href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=agregar_guia"
                                           data-action="item-edit">
                                            Agregar GUIA
                                        </a>
                                    <?php } else if ($rol == 'LogisticaInterna' && $_order['estatus_trakin'] == 'Guias de Envio') { ?>
                                        <a class="action-menu-item"
                                           target="_blank"
                                           href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                           data-action="item-edit">
                                            ver Orden L.I
                                        </a>
                                        |
                                        <a class="action-menu-item"
                                           target="_self"
                                           href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=confirmar_envio"
                                           data-action="item-edit">
                                            Confirmar Envio
                                        </a>
                                        |
                                        <a class="action-menu-item"
                                           target="_self"
                                           href="<?= $block->getUrl('jeff_contacts/index/edit/id/' . $_order['increment_id']); ?>?order_id=<?= $_order['increment_id'] ?>&estatus=<?= $rol ?>&user_id=<?= $userID ?>&action=comentario_lii"
                                           data-action="item-edit">
                                            Error
                                        </a>
                                    <?php } else if ($rol == 'BackOfficeAdmin') { ?>
                                        <a class="action-menu-item"
                                           target="_blank"
                                           href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $_order['entity_id']); ?>"
                                           data-action="item-edit">
                                            ver Orden
                                        </a>
                                    <?php } ?>
                            </div>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
    <?php
} else {
    echo "You have no orders";
}
?>
