<?php
$blocke = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
$dataTerminal = $blocke->getSku();
$dataModelo = $blocke->getCatalogPhone();
$esSoloSim = $blocke->getIsSoloSim($_GET['order_id']);
if(isset($dataTerminal[0]['name'])){
$deviceName = $dataTerminal[0]['name'];
} else {
    $deviceName = 'Sin Celular';
}
if(isset($_GET['tipo_orden'])) {
    $tipo_orden = $_GET['tipo_orden'];
}

?>
<input type="hidden" name="increment_id" id="increment_id" maxlength="255" value="<?= $_GET['order_id'] ?>">
<input type="hidden" name="jeff_contacts_contact_id" id="jeff_contacts_contact_id" maxlength="255" value="<?= $_GET['order_id'] ?>">
<input type="hidden" name="estatus" id="estatus" value="<?= $_GET['estatus'] ?>">
<input type="hidden" name="user_id" id="user_id" value="<?= $_GET['user_id'] ?>">
<?php
if ($_GET['action'] == 'comentario') {
    ?>
    <form action="<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>" method="post" id="formsave" enctype="multipart/form-data">
        <div class="page-main-actions">
            <div class="page-actions-placeholder"></div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">
                                <span>Enviar Comentario</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            require([
                'jquery'
            ], function ($) {

                jQuery('INPUT[type="file"]').change(function () {
                    var ext = this.value.match(/\.(.+)$/)[1];
                    switch (ext) {
                        case 'jpg':
                        case 'jpeg':
                        case 'png':
                        case 'pdf':
                            break;
                        default:
                            alert('This is not an allowed file type.');
                            this.value = '';
                    }
                });
            });

        </script>
        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <strong class="title">
                    <span>Reportar un problema</span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <div class="admin__field">
                        <label class="admin__field-label" for="O5FGKS7">
                            <span>Comentario</span>
                        </label>
                        <div class="admin__field-control">
                            <textarea name="comentario" id="comentario" cols="80" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="admin__field field field-import_file  required _required" data-ui-id="import-form-container-form-fieldset-element-form-field-import-file">
                        <label class="label admin__field-label" for="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file-label"><span>Seleccionar archivo</span></label>
                        <div class="admin__field-control control">
                            <input id="import_file" name="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file" value="" title="Select File to Import" class="input-file required-entry _required" type="file" aria-required="true">                            </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>


    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {
                jQuery('#save').bind('click', function () {
                    jQuery('#formsave').append(jQuery('#increment_id'));
                    jQuery('#formsave').append(jQuery('#estatus'));
                    jQuery('#formsave').append(jQuery('#user_id'));
                    jQuery('#formsave').submit();
                });

            });

        });
    </script>



    <?php
} else if ($_GET['action'] == 'comentario_li') {


    $blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
    $data = $blockObj->getDataOrder($_GET['order_id']);
    ?>


    <form action="<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>" method="post" id="formsave" enctype="multipart/form-data">
        <input type="hidden" id="order_onix" name="order_onix" value="<?= $data[0]['order_onix'] ?>">
        <div class="page-main-actions">
            <div class="page-actions-placeholder"></div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">
                                <span>Enviar Comentario</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            require([
                'jquery'
            ], function ($) {

                jQuery('INPUT[type="file"]').change(function () {
                    var ext = this.value.match(/\.(.+)$/)[1];
                    switch (ext) {
                        case 'jpg':
                        case 'jpeg':
                        case 'png':
                        case 'pdf':
                            break;
                        default:
                            alert('This is not an allowed file type.');
                            this.value = '';
                    }
                });
            });

        </script>
        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <strong class="title">
                    <span>Reportar un problema Logistica Interna</span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <div class="admin__field">
                        <label class="admin__field-label" for="O5FGKS7">
                            <span>Comentario</span>
                        </label>
                        <div class="admin__field-control">
                            <textarea name="comentario_li" id="comentario_li" cols="80" rows="7"></textarea>
                        </div>
                        <div class="admin__field field field-import_file  required _required" data-ui-id="import-form-container-form-fieldset-element-form-field-import-file">
                            <label class="label admin__field-label" for="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file-label"><span>Seleccionar archivo</span></label>
                            <div class="admin__field-control control">
                                <input id="import_file" name="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file" value="" title="Select File to Import" class="input-file required-entry _required" type="file" aria-required="true">                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </form>


    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {
                jQuery('#save').bind('click', function () {
                    jQuery('#formsave').append(jQuery('#increment_id'));
                    jQuery('#formsave').append(jQuery('#estatus'));
                    jQuery('#formsave').append(jQuery('#user_id'));
                    jQuery('#formsave').submit();
                });

            });

        });
    </script>





    <?php
} else if ($_GET['action'] == 'comentario_lii') {

    $blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
    $data = $blockObj->getDataOrder($_GET['order_id']);
    ?>


    <form action="<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>" method="post" id="formsave" enctype="multipart/form-data">
        <input type="hidden" id="numero_guia" name="numero_guia" value="<?= $data[0]['numero_guia'] ?>">
        <div class="page-main-actions">
            <div class="page-actions-placeholder"></div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">
                                <span>Enviar Comentario</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            require([
                'jquery'
            ], function ($) {

                jQuery('INPUT[type="file"]').change(function () {
                    var ext = this.value.match(/\.(.+)$/)[1];
                    switch (ext) {
                        case 'jpg':
                        case 'jpeg':
                        case 'png':
                        case 'pdf':
                            break;
                        default:
                            alert('This is not an allowed file type.');
                            this.value = '';
                    }
                });
            });

        </script>
        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <strong class="title">
                    <span>Reportar un problema Operador Logistico</span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <div class="admin__field">
                        <label class="admin__field-label" for="O5FGKS7">
                            <span>Comentario</span>
                        </label>
                        <div class="admin__field-control">
                            <textarea name="comentario_lii" id="comentario_lii" cols="80" rows="7"></textarea>
                        </div>
                        <div class="admin__field field field-import_file  required _required" data-ui-id="import-form-container-form-fieldset-element-form-field-import-file">
                            <label class="label admin__field-label" for="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file-label"><span>Seleccionar archivo</span></label>
                            <div class="admin__field-control control">
                                <input id="import_file" name="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file" value="" title="Select File to Import" class="input-file required-entry _required" type="file" aria-required="true">                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </form>


    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {
                jQuery('#save').bind('click', function () {
                    jQuery('#formsave').append(jQuery('#increment_id'));
                    jQuery('#formsave').append(jQuery('#estatus'));
                    jQuery('#formsave').append(jQuery('#user_id'));
                    jQuery('#formsave').submit();
                });

            });

        });
    </script>
<?php } else if ($_GET['estatus'] == 'BackOffice' && $_GET['action'] != 'onix') {
    ?>
    <form action="<?= $block->getUrl('jeff_contacts/index/save/'); ?>" method="post" id="formsave" style="display: none;">
        <div class="page-main-actions">
            <div class="page-actions-placeholder"></div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">
                                <span>Redireccionar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {


                var order_id = jQuery('#jeff_contacts_contact_id').val();
                var estatus = jQuery('#estatus').val();
                var user_id = jQuery('#user_id').val();
                location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&estatus=' + estatus + '&user_id=' + user_id;


            });

        });
    </script>
<?php } elseif ($_GET['estatus'] == 'BackOffice' && $_GET['action'] == 'onix') { ?>


    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                    <button
                        id="save"
                        title="Save Contact"
                        type="button"
                        class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text">
                            <span>Guardar Numero</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            jQuery(document).ready(function () {
                jQuery('.validate-digits').keypress(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    return ((key >= 48 && key <= 57));
                });
            });
        });
    </script>
    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Aignar ID de Orden</span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content _hide">
            <fieldset class="admin__fieldset">
                <div class="admin__field">
                    <label class="admin__field-label" for="BAIENWE">
                        <span>Account Code</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text validate-required validate-digits" type="text" name="account_code" id="account_code" maxlength="8" title="Account Code">
                        <label for="rfc" class="mage-error" id="account_code-error" style="display: none; "></label>
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="O5FGKS7">
                        <span>ID de Orden</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text validate-digits required" type="text" name="numero_onix" id="numero_onix"  maxlength="10">
                    </div>
                </div>
                <div class="admin__field">
                    <label class="admin__field-label" for="O5FGKS7">
                        <span>Numero DN</span>
                    </label>
                    <div class="admin__field-control">
                        <input class="admin__control-text validate-digits required" type="text" name="numero_dn" id="numero_dn"  maxlength="10">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <?php
    $blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
    $com = $blockObj->getComentarios($_GET['order_id'], 'Orden siendo activada');

    if (count($com) > 0) {
        ?>
        <table class="data-grid" id="notificationGrid_table">
            <!-- Rendering column set -->
            <thead>
                <tr>
                    <th data-sort="severity" data-direction="asc" class="data-grid-th _sortable not-sort  col-severity"><span>Notifcación</span></th>
                    <th data-sort="date_added" data-direction="asc" class="data-grid-th _sortable _descend col-date col-date_added"><span>Fecha</span></th>
                    <th data-sort="title" data-direction="asc" class="data-grid-th _sortable not-sort  col-title"><span>Comentario</span></th>
                    <th class="data-grid-th last no-link col-actions"><span>Evidencias</span></th>
                </tr>
            </thead>

            <tbody>
                <?php for ($i = 0; $i < count($com); $i++) { ?>
                    <tr data-role="row" title="#" class="even _clickable">
                        <td data-column="severity" class=" col-severity  ">
                            <span class="grid-severity-notice"><span>Comentario</span></span>
                        </td>
                        <td data-column="date_added" class=" col-date col-date_added">
                            <?= $com[$i]['fecha_registro'] ?>
                        </td>
                        <td data-column="title" class=" col-title">
                            <?= $com[$i]['comentario'] ?>
                        </td>
                        <td data-column="actions" class=" col-actions  last">
                            <?php
                            $linksComments = $blockObj->getLinksEvidenceComments($com[$i]);
                            if ($linksComments['hasLink']) {
                                ?>
                                <a href="<?php echo $linksComments['link']; ?>" ><span class="grid-severity-notice"><span><?php echo $linksComments['name']; ?></span></span></a>
                                <?php
                            }
                            ?>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>

        </table>
    <?php } ?>



    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {
                jQuery('#save').bind('click', function () {

                    var order_id = jQuery('#jeff_contacts_contact_id').val();
                    var numero_onix = jQuery('#numero_onix').val();
                    var numero_dn = jQuery('#numero_dn').val();
                    var estatus = jQuery('#estatus').val();
                    var user_id = jQuery('#user_id').val();
                    location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&numero_onix=' + numero_onix + '&estatus=' + estatus + '&numero_dn=' + numero_dn + '&user_id=' + user_id + '&account_code=' + jQuery('#account_code').val();
                });

            });

        });
    </script>



<?php } else if ($_GET['estatus'] == 'LogisticaInterna' && $_GET['action'] == 'valida_onix') { ?>

    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {


                var order_id = jQuery('#jeff_contacts_contact_id').val();
                var estatus = jQuery('#estatus').val();
                var user_id = jQuery('#user_id').val();
                location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&estatus=' + estatus + '&user_id=' + user_id + '&action=valida_onix';


            });

        });
    </script>
    <?php
} else if ($_GET['estatus'] == 'OperadorLogistico' && $_GET['action'] == 'agregar_guia') {

    $blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
    $com = $blockObj->getComentarios($_GET['order_id'], 'Orden por Enviar');
    ?>

    <form action="<?= $block->getUrl('jeff_contacts/index/save/'); ?>" method="post" id="formsave">
        <div class="page-main-actions">
            <div class="page-actions-placeholder"></div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">
                                <span>Guardar Guia</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .validate-alpha{
            }
        </style>
        <script type="text/javascript">
            require([
                'jquery'
            ], function ($) {
                jQuery(document).ready(function () {
                    jQuery('.validate-alpha').keypress(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                        return ((key >= 48 && key <= 57) || (key >= 65 && key <= 90) || (key >= 97 && key <= 122));
                    });
                });
            });
        </script>
        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <strong class="title">
                    <span>Agregar numero de rastreo</span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">

                    <div class="admin__field ">
                        <label class="admin__field-label" for="BAIENWE" id="labelCourier">
                            <span class="">Courier</span>
                        </label>
                        <div class="admin__field-control">
                            <select class="admin__control-text" type="text" name="courier" id="courier">
                                <option value="0">Selecciona</option>
                                <option value="DHL">DHL</option>
                                <option value="UPS">UPS</option>
                                <option value="No Disponible">No Disponible</option>
                            </select>
                        </div>
                    </div>
                    <div class="admin__field">
                        <label class="admin__field-label" for="BAIENWE">
                            <span>Numero de Guia</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text validate-alpha" type="text" name="guia" id="guia" maxlength="18">
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </form>

    <?php
    if (count($com) > 0) {
        ?>
        <table class="data-grid" id="notificationGrid_table">
            <!-- Rendering column set -->
            <thead>
                <tr>
                    <th data-sort="severity" data-direction="asc" class="data-grid-th _sortable not-sort  col-severity"><span>Notifcación</span></th>
                    <th data-sort="date_added" data-direction="asc" class="data-grid-th _sortable _descend col-date col-date_added"><span>Fecha</span></th>
                    <th data-sort="title" data-direction="asc" class="data-grid-th _sortable not-sort  col-title"><span>Comentario</span></th>
                    <th class="data-grid-th last no-link col-actions"><span>Evidencias</span></th>
                </tr>
            </thead>

            <tbody>
                <?php for ($i = 0; $i < count($com); $i++) { ?>
                    <tr data-role="row" title="#" class="even _clickable">
                        <td data-column="severity" class=" col-severity  ">
                            <span class="grid-severity-notice"><span>Comentario</span></span>
                        </td>
                        <td data-column="date_added" class=" col-date col-date_added">
                            <?= $com[$i]['fecha_registro'] ?>
                        </td>
                        <td data-column="title" class=" col-title">
                            <?= $com[$i]['comentario'] ?>
                        </td>
                        <td data-column="actions" class=" col-actions  last">
                            <?php
                            $linksComments = $blockObj->getLinksEvidenceComments($com[$i]);
                            if ($linksComments['hasLink']) {
                                ?>
                                <a href="<?php echo $linksComments['link']; ?>" ><span class="grid-severity-notice"><span><?php echo $linksComments['name']; ?></span></span></a>
                                <?php
                            }
                            ?>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>

        </table>
    <?php } ?>




    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {
                jQuery('#save').bind('click', function () {
                    if (jQuery('#courier').val() == '0') {
                        jQuery('#courier').addClass('mage-error');
                        jQuery('#labelCourier').addClass('mage-error');
                        return false;
                    }
                    jQuery('#courier').removeClass('mage-error');
                    jQuery('#labelCourier').removeClass('mage-error');
                    var order_id = jQuery('#jeff_contacts_contact_id').val();
                    var guia = jQuery('#guia').val();
                    var courier = jQuery('#courier').val();
                    var user_id = jQuery('#user_id').val();
                    var estatus = jQuery('#estatus').val();
                    location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&guia=' + guia + '&estatus=' + estatus + '&courier=' + courier + '&user_id=' + user_id;
                });

            });

        });
    </script>

    <?php
} else if ($_GET['estatus'] == 'BackOfficeMan' && $_GET['action'] == 'Verificar Orden') {

    $blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
    $com = $blockObj->getComentarios($_GET['order_id'], 'Orden por Enviar');
    
    ?>
    
    <script>
        require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function (
                        $,
                        modal
                        ) {
                    var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Orders with the same address',
                        modalClass: 'custom-modal',
                        buttons: [{
                                text: $.mage.__('Cerrar'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                    $('#popup-modal').html(" ");
                                }
                            }]
                    };

                    var popup = modal(options, $('#popup-modal'));

                    //this opens the modal, you can use some click event or whatever you need to trigger the modal here
                    //                    $("#popup-modal").modal('openModal');
                    jQuery('#openDuplicatesAddresses').click(function (e) {
                        e.preventDefault();
                        $("#popup-modal").modal('openModal');
                    });
                }
        );
    </script>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            jQuery(document).ready(function () {
                <?php
                     if(isset($_GET['tipo_orden'])){
                ?>
                        var tipo_orden = '<?php echo $_GET['tipo_orden']; ?>';
                        tipo_orden = tipo_orden.toLowerCase();
                        if(tipo_orden == 'prepago' || tipo_orden =='terminal'){
                            $('#zonaBoton').addClass('hidden');
                            $('#save').removeAttr('disabled');
                        }else{
                            $('#zonaBoton').removeClass('hidden');
                            $('#save').attr('disabled','disabled');
                        }
                        jQuery('#save').bind('click', function () {
                            jQuery('.validate-required').each(function (val) {
                                var validation_result = validateRequired(jQuery(this).val());
                                {
                                    if (!validation_result) {
                                        showErrorValidacion(jQuery(this).attr('name'), 'es un campo requerido.');
                                        //return false;
                                    }
                                    else {
                                        hideErrorValidacion(jQuery(this).attr('name'));
                                    }
                                }
                            });

                            var estatus = jQuery('#estatus').val();
                            var order_id = jQuery('#increment_id').val();
                            var user_id = jQuery('#user_id').val();
                            rfc = jQuery('#rfc').val();
                            num_dn = jQuery('#numero_dn').val();
                            acc_co = jQuery('#account_code').val();

                            jQuery.get("<?= $block->getUrl('jeff_contacts/index/saveorder'); ?>?rfc="+rfc+"&numero_dn="+num_dn+"&account_code="+acc_co+"&increment_id=" + order_id + "&estatus=" + estatus + "&user_id=" + user_id + "&action=verificar_orden",
                                function (data, status) {
                                    var obj = JSON.parse(data);
                                    if(obj.result) {
                                        if(obj.redirect){
                                        location.href = '<?= $block->getUrl('jeff_contacts/index/index/'); ?>';
                                        }
                                    }
                                    else {
                                        if (obj.rfc) {
                                            hideErrorValidacion('rfc');
                                            jQuery('#rfc-error-formato').hide();
                                        } else {
                                            showErrorValidacion('rfc', 'No coinciden con los datos registrados en la orden. ');
                                            jQuery('#rfc-error-formato').show();
                                        }
                                        if (obj.numero_dn) {
                                            hideErrorValidacion('numero_dn');
                                        } else {
                                            showErrorValidacion('numero_dn', 'No coinciden con los datos registrados en la orden.');
                                        }
                                        if (obj.account_code) {
                                            hideErrorValidacion('account_code');
                                        } else {
                                            showErrorValidacion('account_code', 'No coinciden con los datos registrados en la orden.');
                                        }
                                    }
                                })
                            });
                <?php
                     } 
                ?>
                function showErrorValidacion(fieldName, mensaje) {
                    var title = jQuery('#' + fieldName).attr('title');
                    var nameLabelError = fieldName + '-error';
                    jQuery('#' + nameLabelError).show();
                    jQuery('#' + nameLabelError).html('El campo: "' + title + '" ' + mensaje);
                }
                function hideErrorValidacion(fieldName) {
                    var nameLabelError = fieldName + '-error';
                    jQuery('#' + nameLabelError).hide();
                    jQuery('#' + nameLabelError).text('');
                }

                function validateRequired(value_field) {
                    if (value_field == '') {
                        return false;
                    }
                    return true;
                }
                jQuery('.validate-digits').keypress(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    return ((key >= 48 && key <= 57));
                });
                jQuery('#actualizar').bind('click', function () {
                    jQuery("#numero_dn-error").hide();
                    jQuery("#rfc-error-formato").hide();
                    jQuery("#rfc-error").hide();
                    jQuery("#account_code-error").hide();
                    jQuery('#zonaBoton').hide();
                    jQuery('#rfc').attr('disabled', true);
                    jQuery('#numero_onix').show();
                });
                /*
                jQuery('#save').bind('click', function () {
                    jQuery('.validate-required').each(function (val) {
                        var validation_result = validateRequired(jQuery(this).val());
                        {
                            if (!validation_result) {
                                showErrorValidacion(jQuery(this).attr('name'), 'es un campo requerido.');
                                //return false;
                            }
                            else {
                                hideErrorValidacion(jQuery(this).attr('name'));
                            }
                        }
                    });
                    var estatus = jQuery('#estatus').val();
                    var order_id = jQuery('#increment_id').val();
                    var user_id = jQuery('#user_id').val();
                 //   location.href = ' $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&estatus=' + estatus + '&user_id=' + user_id + '&action=verificar_orden';
                });
                */
                jQuery('#guardar').bind('click', function () {
                    jQuery("#onix_actualizar-error").hide();
                    jQuery("#numero_dn_actualizar-error").hide();
                    jQuery("#actualizar_onix-error").hide();
                    jQuery("#account_actualizar-error").hide();
                    var estatus = jQuery('#estatus').val();
                    var order_id = jQuery('#increment_id').val();
                    var user_id = jQuery('#user_id').val();
                    var numero_onix = jQuery('#numero_onix_n').val();
                    var numero_dn = jQuery('#numero_dn').val();
                    var account_code = jQuery('#account_code').val();
                    var resultado = true;
                    if (numero_onix != "") {
                        if (numero_onix.length != 10) {
                            jQuery("#onix_actualizar-error").show();
                            resultado = false;
                        }
                    }
                    if (numero_dn != "") {
                        if (numero_dn.length != 10) {
                            jQuery("#numero_dn_actualizar-error").show();
                            resultado = false;
                        }
                    }
                    if (account_code != "") {
                        if (account_code.length != 8) {
                            jQuery("#account_actualizar-error").show();
                            resultado = false;
                        }
                    }
                    if (numero_onix == "" && numero_dn == "" && account_code == "") {
                        jQuery("#actualizar_onix-error").show();
                        resultado = false;
                    }
                    if (resultado) {
                        jQuery("#onix_actualizar-error").hide();
                        jQuery("#numero_dn_actualizar-error").hide();
                        jQuery("#actualizar_onix-error").hide();
                        jQuery("#account_actualizar-error").hide();
                        location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&estatus=' + estatus + '&user_id=' + user_id + '&action=actualizar_onix&order_onix=' + numero_onix + '&numero_dn=' + numero_dn + '&account_code=' + account_code;
                    }
                });
                jQuery('.validate-digits').keypress(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    return ((key >= 48 && key <= 57));
                });
                jQuery('#tokenizar').click(function () {
                    metodoTokenizar();
                });

                function metodoTokenizar(){
                  var salida    = false;
                  var bool_rfc  = false;
                  var bool_dn   = false;
                  var bool_ac   = false;
                  if (('d_' + jQuery('#rfc').val()) != jQuery('#rfc-registrado').val()) {
                      showErrorValidacion('rfc', 'No coinciden con los datos registrados en la orden. ');
                      jQuery('#rfc-error-formato').show();
                      salida = false;
                  } else {
                      hideErrorValidacion('rfc');
                      jQuery('#rfc-error-formato').hide();
                      salida = true;
                      bool_rfc = true;
                  }
                  if ( jQuery('#rfc').val().length  < 13 ){
                      showErrorValidacion('rfc', 'La longitud del campo debe ser de 13.');
                      salida = false;
                  }
                  if (jQuery('#numero_dn').val() != jQuery('#dn-registrado').val()) {
                      showErrorValidacion('numero_dn', 'No coinciden con los datos registrados en la orden.');
                      salida = false;
                  } else {
                      hideErrorValidacion('numero_dn');
                      salida = true;
                      bool_dn = true;
                  }
                  if (jQuery('#account_code').val() != jQuery('#account_code-registrado').val()) {
                      showErrorValidacion('account_code', 'No coinciden con los datos registrados en la orden.');
                      salida = false;
                  } else {
                      hideErrorValidacion('account_code');
                      salida = true;
                      bool_ac = true;
                  }
                //  console.log('rfc: '+bool_rfc + ' account code: '+bool_ac +' dn: '+bool_dn);

                  if (bool_dn && bool_ac) {
                    jQuery('#actualizar').hide();
                    if (bool_rfc) {
                      jQuery.get("<?= $block->getUrl('jeff_contacts/index/saveorder'); ?>?action_t=tokenizar&order_id=<?php echo $_GET['order_id']; ?>&estatus=BackOfficeMan&order_onix=<?php echo $_GET['numero_onix']; ?>", 
                      function (data, status) {
                                          var obj = JSON.parse(data);
                                         // console.log(obj);
                                          if (obj['result'] == "true") {
                                              jQuery('#tokenizar-error').hide();
                                              jQuery('#save').attr('disabled', false);
                                              jQuery('#tokenizar-success').show();
                                              jQuery('#tokenizar').attr('disabled', true);
                                          } else {
                                              jQuery('#tokenizar-error').show();
                                              return false;
                                          }

                                      }).fail(function (e) {
                                        //  console.log(e);
                                          jQuery('#tokenizar-error').show();
                                          return false;
                                      });

                    }//
                  } else {
                  //    console.log('Actualizar dn/account-code');
                      jQuery('#actualizar').show();
                    //  return false;
                  }

                }
              });
            });
    </script>

    <form action="<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>" method="post" id="formsave">
        <div class="page-main-actions">
            Numero Onix: <h3><?php print_r($_GET['numero_onix']); ?></h3>
            <?php if ($blocke->hasDuplicatesAddresses($_GET['order_id'])): ?>
                <a href="#" id="openDuplicatesAddresses"> <h3>Se encontraron multiples ordenes con direcciones que es posible esten duplicadas , a continuación se enlistan las coincidencias.</h3> </a>
                <div id="popup-modal">
                    <?php foreach ($blocke->getDuplicatesAddresses() as $detailOrder => $orderIdentification): ?>
                        <p><a class="action-menu-item"
                              target="_blank"
                              href="<?= $block->getUrl('jeff_contacts/order/index/order_id/' . $orderIdentification['entity_id']); ?>"
                              data-action="item-edit"><?= $orderIdentification['increment_id'] ?></a></p>
                        <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <div class="page-actions-placeholder">
            </div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes3">

                    <div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" disabled="disabled">
                            <span class="ui-button-text">
                                <span>Guardar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <strong class="title">
                    <span>Ingresar los campos para verificar la orden</span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">

                    <div class="admin__field">
                        <label class="admin__field-label" for="BAIENWE">
                            <span>Account Code</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text validate-required validate-digits" type="text" name="account_code" id="account_code" maxlength="8" title="Account Code">
                            <label for="account_code" class="mage-error" id="account_code-error" style="display: none; "></label>
                            <label for="account_code" class="mage-error" id="account_actualizar-error" style="display: none; ">El Account code debe contener 8 dígitos</label>
                        </div>
                    </div>
                    <div class="admin__field">
                        <label class="admin__field-label" for="BAIENWE">
                            <span>RFC</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text validate-required" type="text" name="rfc" id="rfc" maxlength="13" minlength="13" title="RFC">
                            <label for="rfc" class="mage-error" id="rfc-error" style="display: none; "></label>
                            <label for="rfc" class="mage-error" id="rfc-error-formato" style="display: none; ">RFC distinto al registrado en la orden</label>
                        </div>
                    </div>
                    <div class="admin__field">
                        <label class="admin__field-label" for="BAIENWE2">
                            <span>Número DN</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text validate-digits validate-required" type="text" name="numero_dn" id="numero_dn" maxlength="10" title="Número DN">
                            <label for="numero_dn" class="mage-error" id="numero_dn-error" style="display: none; "></label>
                            <label for="numero_dn" class="mage-error" id="numero_dn_actualizar-error" style="display: none; ">El número DN debe contener 10 dígitos</label>
                        </div>
                    </div>
                    <div  class="admin__fieldset-wrapper-content _hide" id="numero_onix" style="display: none; ">
                        <fieldset class="admin__fieldset">
                            <div class="admin__field">
                                <label class="admin__field-label" for="BAIENWE2">
                                    <span>Actualizar ID de Orden</span>
                                </label>
                                <div class="admin__field-control">
                                    <input class="admin__control-text validate-digits validate-required" type="text" name="numero_onix" id="numero_onix_n" maxlength="10" title="Onix">
                                    <label for="numero_onix" class="mage-error" id="numero_onix-error" style="display: none; "></label>
                                    <label for="numero_onix" class="mage-error" id="onix_actualizar-error" style="display: none; ">El número de Onix debe contener 10 dígitos</label>
                                </div>
                            </div>
                            <div class="admin__field">
                                <label class="admin__field-label" for="BAIENWE2">
                                    <span>* Actualizar</span>
                                </label>
                                <div class="admin__field-control">
                                    <button
                                        id="guardar"
                                        title="Guardar"
                                        type="button"
                                        class="scalable primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                        <span class="ui-button-text">
                                            <span>Guardar</span>
                                        </span>
                                    </button>
                                     <label for="guardar" class="mage-error" id="actualizar_onix-error" style="display: none; ">Por favor llene al menos un campo</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                        <div class="admin__field hidden" id="zonaBoton">
                        <label class="admin__field-label" for="BAIENWE2">
                            <span>* Continuar</span>
                        </label>
                        <div class="admin__field-control">
                            <button
                                id="tokenizar"
                                title="Tokenizar"
                                type="button"
                                class="scalable primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                <span class="ui-button-text">
                                    <span>Continuar</span>
                                </span>
                            </button>
                            <label for="tokenizar" class="mage-error" id="tokenizar-error" style="display: none; ">Error al almacenar el token, favor de intentarlo más tarde.</label>
                            <label for="tokenizar" class="mage-success" id="tokenizar-success" style="display: none; ">Token almacenado correctamente</label>
                            <button
                                id="actualizar"
                                title="Actualizar"
                                type="button"
                                style="display: none; "
                                class="scalable primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                <span class="ui-button-text">
                                    <span>Cambiar Número de Ónix/DN /Account Code</span>
                                </span>
                            </button>
                        </div>
                    </div>
                   

                </fieldset>
            </div>

        </div>
        <input type="hidden" id="rfc-registrado" value="<?= $_GET['rfc'] ?>">
        <input type="hidden" id="dn-registrado" value="<?= $_GET['dn'] ?>">
        <input type="hidden" id="account_code-registrado" value="<?= $_GET['account_code'] ?>">
    </form>

<?php } else if ($_GET['estatus'] == 'LogisticaInterna' && $_GET['action'] == 'confirmar_envio') { ?>
    <script>
        require([
            'jquery'
        ], function ($) {

            jQuery(document).ready(function () {


                var order_id = jQuery('#jeff_contacts_contact_id').val();
                var estatus = jQuery('#estatus').val();
                var user_id = jQuery('#user_id').val();
                location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&estatus=' + estatus + '&user_id=' + user_id + '&action=confirmar_envio';


            });

        });
    </script>
    <?php
} else {


    $blockObj = $block->getLayout()->createBlock('Jeff\Contacts\Block\Main');
    $com = $blockObj->getComentarios($_GET['order_id'], 'OperadorLogistico');
    ?>
    <form action="<?= $block->getUrl('jeff_contacts/index/save/'); ?>" method="post" id="formsave">
        <div class="page-main-actions">
            <div class="page-actions-placeholder"></div>
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Seguimiento Ordenes2"><div class="page-actions-buttons">
                        <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                            <span>Volver</span>
                        </button>
                        <button
                            id="save"
                            title="Save Contact"
                            type="button"
                            class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">
                                <span>Guardar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fieldset-wrapper">
            <div class="fieldset-wrapper-title">
                <strong class="title">
                    <span>Actualizar campos</span>
                </strong>
            </div>


            <div class="admin__page-section-item-content">
                <?php if ($esSoloSim['sku'] != "") : ?>
                    <table class="admin__table-secondary order-information-table">
                        <tbody>
                        <tr>
                            <th>Datos Plan</th>
                            <td>
                                Nombre : <?= $esSoloSim['name'] ?><br>
                                <strong>SKU : <?= $esSoloSim['sku'] ?></strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                <?php else : ?>
                    <table class="admin__table-secondary order-information-table">
                        <tbody>
                            <tr>
                                <th>Datos Celular</th>
                                <td>
                                    Nombre : <?= $dataTerminal[0]['name'] ?><br>
                                    <strong>SKU : <?= $dataTerminal[0]['sku'] ?></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <?php endif; ?>
            </div>
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    jQuery(document).ready(function () {
                        jQuery('.validate-digits').keypress(function (e) {
                            var key = e.charCode || e.keyCode || 0;
                            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                            return ((key >= 48 && key <= 57));
                        });
                    });
                });
            </script>
            <div class="admin__fieldset-wrapper-content _hide">
                <fieldset class="admin__fieldset">
                    <div class="admin__field">
                        <label class="admin__field-label" for="O5FGKS7">
                            <span>Numero ICC</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text validate-digits validate-required" type="text" name="numero_icc" id="numero_icc"  maxlength="19" title="Numero ICC" required >
                            <label for="numero_icc" class="mage-error" id="numero_icc-error" style="display: none; "></label>
                        </div>
                    </div>
                    <div class="admin__field">
                        <label class="admin__field-label" for="M617LE2">
                            <span>Numero IMEI</span>
                        </label>
                        <div class="admin__field-control">
                            <input class="admin__control-text validate-digits validate-required" type="text" name="numero_imei" id="numero_imei" maxlength="15" title="Numero IMEI" required>
                            <label for="numero_imei" class="mage-error" id="numero_imei-error" style="display: none; "></label>
                        </div>
                    </div>
                    <div class="admin__field">
                        <label class="admin__field-label" for="BAIENWE">
                            <span>MODELO</span>
                        </label>
                        <div class="admin__field-control">
                            <!--input class="admin__control-text" type="text" name="modelo" id="modelo" maxlength="255"-->
                            <select class="admin_control-text validate-required" id="modelo" name="modelo">
                                <?php
                                if($deviceName == "Sin Celular") {

                                    ?>
                                <option value="Sin Celular" selected="selected">Sin Celular</option>
                                <?php
                                }
                                foreach ($dataModelo as $modelo) {
                                    ?>
                                    <option value="<?php echo $modelo; ?>" <?php if ($deviceName == $modelo) { ?>selected="selected"<?php } else { ?> disabled="disabled"<?php } ?>><?php echo $modelo; ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>





    <table class="data-grid" id="notificationGrid_table">
        <!-- Rendering column set -->
        <thead>
            <tr>
                <th data-sort="severity" data-direction="asc" class="data-grid-th _sortable not-sort  col-severity"><span>Notifcación</span></th>
                <th data-sort="date_added" data-direction="asc" class="data-grid-th _sortable _descend col-date col-date_added"><span>Fecha</span></th>
                <th data-sort="title" data-direction="asc" class="data-grid-th _sortable not-sort  col-title"><span>Comentario</span></th>
                <th class="data-grid-th last no-link col-actions"><span>Evidencias</span></th>
            </tr>
        </thead>

        <tbody>
            <?php for ($i = 0; $i < count($com); $i++) { ?>
                <tr data-role="row" title="#" class="even _clickable">
                    <td data-column="severity" class=" col-severity  ">
                        <span class="grid-severity-notice"><span>Comentario</span></span>
                    </td>
                    <td data-column="date_added" class=" col-date col-date_added">
                        <?= $com[$i]['fecha_registro'] ?>
                    </td>
                    <td data-column="title" class=" col-title">
                        <?= $com[$i]['comentario'] ?>
                    </td>
                    <td data-column="actions" class=" col-actions  last">
                        <?php
                        $linksComments = $blockObj->getLinksEvidenceComments($com[$i]);
                        if ($linksComments['hasLink']) {
                            ?>
                            <a href="<?php echo $linksComments['link']; ?>" ><span class="grid-severity-notice"><span><?php echo $linksComments['name']; ?></span></span></a>
                                        <?php
                                    }
                                    ?>
                    </td>
                </tr>
            <?php } ?>
        </tbody>

    </table>




    <script>
        require([
            'jquery'
        ], function ($) {
            function showErrorValidacion(fieldName, mensaje) {
                var title = jQuery('#' + fieldName).attr('title');
                var nameLabelError = fieldName + '-error';
                jQuery('#' + nameLabelError).show();
                jQuery('#' + nameLabelError).html('El campo: "' + title + '" ' + mensaje);
            }
            function hideErrorValidacion(fieldName) {
                var nameLabelError = fieldName + '-error';
                jQuery('#' + nameLabelError).hide();
                jQuery('#' + nameLabelError).text('');
            }

            function validateRequired(value_field) {
                if (value_field == '') {
                    return false;
                }
                return true;
            }
            jQuery(document).ready(function () {
                jQuery('#save').bind('click', function () {
                    jQuery('.validate-required').each(function (val) {
                        var validation_result = validateRequired(jQuery(this).val());
                            if (!validation_result) {
                                showErrorValidacion(jQuery(this).attr('name'), 'es un campo requerido.');
                                //return false;
                            }
                            else {
                                hideErrorValidacion(jQuery(this).attr('name'));
                            }
                    });

                    var order_id = jQuery('#jeff_contacts_contact_id').val();
                    var numero_icc = jQuery('#numero_icc').val();
                    var numero_imei = jQuery('#numero_imei').val();
                    var modelo = jQuery('#modelo').val();
                    var estatus = jQuery('#estatus').val();
                    var user_id = jQuery('#user_id').val();
                    if(numero_icc !== '' && numero_imei !== ''){
                        location.href = '<?= $block->getUrl('jeff_contacts/index/saveorder/'); ?>?increment_id=' + order_id + '&numero_icc=' + numero_icc + '&numero_imei=' + numero_imei + '&modelo=' + modelo + '&estatus=' + estatus + '&user_id=' + user_id;
                    }
                });

            });

        });
    </script>
<?php } ?>

