<?php
$blockOrder = $block->getLayout()->createBlock('Jeff\Contacts\Block\Mainorder');
$blockObjUserID = $block->getLayout()->createBlock('Jeff\Contacts\Block\Userid');
$blockObjUser = $block->getLayout()->createBlock('Jeff\Contacts\Block\User');

//Datos de la orden
$order_id = $blockOrder->getIncrementId();
$orderInfo = $blockOrder->getOrderInfo($order_id);

//Arreglos para llenar las secciones de la vista
$customer = $blockOrder->getCustomerInfo($order_id);    //Arreglo que contiene la información del cliente
$customerAddress = $blockOrder->getCustomerAddressInfo($order_id);  //Arreglo que contiene la información de la dirección del cliente
$oferta = $blockOrder->getOferta($order_id);            //Arreglo que contiene la información de la oferta que compró el cliente (productos)
if ($orderInfo['tipo_orden'] == 1 || $orderInfo['tipo_orden'] == 6 || $orderInfo['tipo_orden'] == 7) {
    $suscripcion = $blockOrder->getSuscripcion($order_id);  //Arreglo que contiene la información de la suscripción del cliente (Únicamente POSPAGO)
    $credito = $blockOrder->getConsultaCredito($order_id);  //Arreglo que contiene la información de la consulta de crédito
}

$userID = $blockObjUserID->getUserId();
$_ordersFlap = $blockOrder->getFlapInfo($orderInfo['increment_id']);
$roles = $blockObjUser->getRoles($userID);
$rol = $roles['role_name'];
?>
<main id="anchor-content" class="page-content">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="#<?= $order_id ?>">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action-default scalable back" onclick="" data-ui-id="archive-buttons-back-button">
                        <span>Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="page:main-container" class="page-columns"><div id="container" class="main-col">
            <div class="admin__old">
                <div class="entry-edit order-view" id="sales_order_view"><div id="sales_order_view_tabs_order_info_content" style="" data-ui-id="sales-order-tabs-tab-content-order-info" aria-labelledby="sales_order_view_tabs_order_info" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
                        <div id="order-messages">
                        </div>


                        <section class="admin__page-section order-view-account-information">
                            <div class="admin__page-section-title">
                                <span class="title">Order &amp; Account Information</span>
                            </div>
                            <div class="admin__page-section-content">
                                <div class="admin__page-section-item order-information">
                                    <div class="admin__page-section-item-title">
                                        <span class="title">
                                            Order # <?= $orderInfo['increment_id'] ?>
                                        </span>
                                    </div>
                                    <div class="admin__page-section-item-content">
                                        <table class="admin__table-secondary order-information-table">
                                            <tbody><tr>
                                                    <th>Order Date</th>
                                                    <td><?= $orderInfo['created_at'] ?></td>
                                                </tr>
                                                <tr>
                                                    <th>Order Status Magento</th>
                                                    <td><span id="order_status"><?= $orderInfo['status'] ?></span></td>
                                                </tr>
                                                <tr>
                                                    <th>Order Status Tracking</th>
                                                    <td><span id="order_status"><?= $orderInfo['estatus_trakin'] ?></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <section class="admin__page-section order-addresses">
                            <div class="admin__page-section-title">
                                <span class="title">Datos del cliente</span>
                            </div>
                            <div class="admin__page-section-content">
                                <div class="admin__page-section-item order-billing-address">
                                    <div class="admin__page-section-item-title">
                                        <span class="title">Datos de Contacto</span>
                                    </div>
                                    <address class="admin__page-section-item-content">
                                    <?php if ($orderInfo['tipo_orden'] == 1 || $orderInfo['tipo_orden'] == 6 || $orderInfo['tipo_orden'] == 7) : ?>
                                            <?php $rfc = $credito['request']->customerLegalId->nationalID; ?>
                                        <?php else : ?>
                                            <?php $rfc = $customer['rfc']; ?><br>
                                        <?php endif; ?>
                                        <strong>RFC</strong> : <?php echo $rfc ?><br>
                                        <strong>Nombre (s)</strong> : <?= $customer['firstname'] ?><br>
                                        <strong>Apellido Paterno</strong> : <?= $customer['lastname'] ?><br>
                                        <strong>Apellido Materno</strong> : <?= $customer['middlename'] ?><br>
                                        <strong>Género</strong> : <?= $customer['gender'] ?><br>
                                        <strong>Fecha de Nacimiento</strong> : <?= substr($rfc, 4, 2) . "-" . substr($rfc, 6, 2) . "-" . substr($rfc, 8, 2); //Fecha de nacimiento con formato "yy-mm-aa" ?><br>
                                        <strong>Correo Electrónico</strong> : <?= $customer['email'] ?><br>
                                        <strong>Número de Contacto</strong> : <?= $customer['telephone'] ?><br>
                                        <!-- <strong>Aceptado ser contactado</strong> : <br>
                                        <strong>Envío de Publicidad</strong> : <br> -->
                                        <strong>Tipo de Persona</strong> : <?= $customer['tipo_persona'] ?><br>
                                        <strong>País</strong> : <?= $customer['country_id'] ?><br>
                                    </address>
                                </div>
                                <div class="admin__page-section-item order-shipping-address">
                                    <div class="admin__page-section-item-title">
                                        <span class="title">Dirección</span>
                                    </div>
                                    <address class="admin__page-section-item-content">
                                        <strong>Código Postal</strong> : <?= $customerAddress['postcode'] ?><br>
                                        <strong>Estado</strong> : <?= $customerAddress['region'] ?><br>
                                        <strong>Delegación o Municipio</strong> : <?= $customerAddress['city'] ?><br>
                                        <strong>Colonia</strong> : <?= $customerAddress['colonia'] ?><br>
                                        <strong>Calle</strong> : <?= $customerAddress['street'] ?><br>
                                        <strong>Número Externo</strong> : <?= $customerAddress['numero_ext']; ?><br>
                                        <strong>Número Interior</strong> : <?= ($customerAddress['numero_int'] == "")? "S/N" : $customerAddress['numero_int']; ?><br>
                                    </address>
                                    <div class="admin__page-section-item-title shipping" style="padding-top: 57px;">
                                        <strong>Descripción de Envío</strong> : <?= $customerAddress['shipping_description'] ?><br>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <?php if ($orderInfo['tipo_orden'] == 2 || $orderInfo['tipo_orden'] == 3 || $orderInfo['tipo_orden'] == 4 || $orderInfo['tipo_orden'] == 5) {?>
                        <section>
                            <div class="admin__page-section-content">
                                <div class="admin__page-section-item order-billing-address">
                                    <div class="admin__page-section-item-title">
                                        <span class="title">Oferta</span>
                                    </div>
                                    <address class="admin__page-section-item-content">
                                        <address class="admin__page-section-item-content">
                                            <strong>Tipo</strong> : 
                                                <?php if ($oferta['hay_terminal']) : ?>
                                                    <?php if ($oferta['hay_recarga']) : ?>
                                                        <?php echo "Terminal + SIM UNIVERSAL + Recarga" ?>
                                                    <?php elseif ($oferta['hay_sim']) : ?>
                                                        <?php echo "Terminal + SIM UNIVERSAL" ?>
                                                    <?php else : ?>
                                                        <?php echo "Sólo Terminal" ?>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($oferta['hay_recarga']) : ?>
                                                        <?php echo "SIM MOVISTAR + Recarga" ?>
                                                    <?php else : ?>
                                                        <?php echo "Sólo SIM" ?>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            <br>
                                            <strong>Modelo de equipo</strong> : 
                                                <?php if ($oferta['hay_terminal']): ?>
                                                    <?= $oferta['terminal'] ?><br>
                                                    <strong>Precio equipo</strong> : $<?= number_format($oferta['precio_terminal'], 2, '.', ',') ?><br>
                                                <?php else: ?>
                                                  <?php echo "Sin terminal"; ?><br>
                                                <?php endif; ?>
                                            <strong>Recarga</strong> : <?php echo $oferta['hay_recarga'] ? "SI" : "NO" ?></br>
                                            <?php if ($oferta['hay_recarga']) : ?>
                                                <strong>Monto recarga</strong> $<?php echo number_format($oferta['monto_recarga'], 2, '.', ',') ?></br>
                                            <?php endif; ?>
                                            <strong>SIM</strong> : 
                                                <?php if ($oferta['hay_sim']): ?>
                                                    <?= $oferta['sim'] ?><br>
                                                    <strong>Precio SIM</strong> : $<?php echo number_format($oferta['precio_sim'], 2, '.', ',') ?><br>
                                                <?php else: ?>
                                                  <?php echo "NA"; ?><br>
                                                <?php endif; ?>
                                            <strong>Monto total</strong> : $<?php echo number_format($oferta['monto_total'], 2, '.', ',') ?> <br>
                                            <strong>Forma de pago</strong> : Tarjeta<br>
                                        </address>
                                    </address>
                                </div>
                            </div>
                        </section>
                        <?php } ?>
                        <!--    ESTA SECCIÓN ES PARA POSPAGO ÚNICAMENTE -->
                        <?php if ($orderInfo['tipo_orden'] == 1 || $orderInfo['tipo_orden'] == 6 || $orderInfo['tipo_orden'] == 7) : ?>
                        <section class="admin__page-section order-addresses">
                            <div class="admin__page-section-content">
                                <?php if ($rol != 'OperadorLogistico') { ?>
                                    <div class="admin__page-section-item order-billing-address">
                                        <div class="admin__page-section-item-title">
                                            <span class="title">Consulta de crédito</span>
                                        </div>
                                        <address class="admin__page-section-item-content">
                                            <strong>¿Autoriza a Telefónica revisar su buró de crédito?</strong> : <?php echo (($credito['agreement'] == 'true') ? 'Si' : 'No'); ?><br>
                                            <strong>¿Es usted titular de una tarjeta de crédito vigente?</strong> : <?php echo (($credito['questions'] == 'true') ? 'Si' : 'No'); ?><br>
                                            <?php if (!empty($credito['request'])) : ?>
                                                <strong>Institución</strong> : <?php echo $credito['request']->paymentMethod->bankCardInfo[0]->bank; ?><br>
                                                <strong>Últimos Dígitos</strong> : <?php echo $credito['request']->paymentMethod->bankCardInfo[0]->lastFourDigits; ?><br>
                                                <strong>Actualmente. ¿Tiene usted un crédito hipotecario?</strong> : <?php echo (($credito['mortgageCredit'] == 'true') ? 'Si' : 'No'); ?><br>
                                                <strong>Institución</strong> : <?php echo (($credito['mortgageCredit'] == 'true') ? $credito['request']->paymentMethod->bankCardInfo[0]->bank : 'NA'); ?><br>
                                                <strong>¿Ha solicitado en los últimos 24 meses un crédito automotriz? </strong> : <?php echo (($credito['autoLoan'] == 'true') ? 'Si' : 'No'); ?><br>
                                                <strong>Institución</strong> : <?php echo (($credito['autoLoan'] == 'true') ? $credito['request']->paymentMethod->bankCardInfo[0]->bank : 'NA'); ?><br>
                                            <?php else : ?>
                                                <strong>Institución</strong> : No hay información<br>
                                                <strong>Últimos Dígitos</strong> : No hay información<br>
                                                <strong>Actualmente. ¿Tiene usted un crédito hipotecario?</strong> : <?php echo (($credito['mortgageCredit'] == 'true') ? 'Si' : 'No'); ?><br>
                                                <strong>Institución</strong> : No hay información ?><br>
                                                <strong>¿Ha solicitado en los últimos 24 meses un crédito automotriz? </strong> : <?php echo (($credito['autoLoan'] == 'true') ? 'Si' : 'No'); ?><br>
                                                <strong>Institución</strong> : No hay información ?><br>
                                            <?php endif; ?>
                                        </address>
                                    </div>
                                    <div class="admin__page-section-item order-shipping-address">
                                        <div class="admin__page-section-item-title">
                                            <span class="title">Oferta</span>
                                        </div>
                                        <address class="admin__page-section-item-content">
                                            <address class="admin__page-section-item-content">
                                            <?php } else { ?>
                                                <div class="admin__page-section-content">
                                                    <div class="admin__page-section-item order-billing-address">
                                                        <div class="admin__page-section-item-title">
                                                            <span class="title">Oferta</span>
                                                        </div>
                                                        <address class="admin__page-section-item-content">
                                                            <address class="admin__page-section-item-content">  
                                                            <?php } ?>
                                                            <strong>Tipo</strong> : <?php echo $oferta['hay_terminal'] == 1 ? 'Pospago con Equipo' : 'Solo SIM Pospago'; ?> <br>
                                                            <strong>Modelo de equipo</strong> : <?= $oferta['terminal'] ?><br>
                                                            <strong>IMEI</strong> : <?= $oferta['numero_imei'] ?><br>
                                                            <strong>Plazo de contratación</strong> : <?php echo $oferta['hay_terminal'] == 1 ? '24' : '0'; ?> <br>
                                                            <strong>Pago Único por equipo</strong> : $<?php echo $oferta['hay_terminal'] == 1 ? ($credito['pago'] + ($oferta['precio_terminal'] * $credito['percentage'])) : number_format($credito['pago'], 2, '.', ',') ?> <br>
                                                            <strong>Forma de pago</strong> : Tarjeta<br>
                                                            <strong>Plan</strong> : <?php echo $oferta['plan'] ?><br>
                                                        </address>
                                                    </address>
                                                </div>
                                            </div>
                                            </section>
                                            <section class="admin__page-section order-addresses">
                                                <div class="admin__page-section-content">
                                                    <div class="admin__page-section-item order-billing-address">
                                                        <div class="admin__page-section-item-title">
                                                            <span class="title">Suscriptor y cuenta</span>
                                                        </div>
                                                        <address class="admin__page-section-item-content">
                                                            <strong>Tarjeta SIM</strong> :<?= $suscripcion['numero_icc'] ?> <br>
                                                            <strong>DN</strong> : <?= $suscripcion['numero_dn'] ?><br>
                                                            <strong>Oferta Sumplementaria</strong> : <?= $suscripcion['oferta_adicional'] ?> <br>
                                                            <!-- <strong>Número para envió factura por SMS</strong> : Ingresa en ONIX el DN que generaste anteriormente. <br>-->
                                                            <strong>Uso del CFDI</strong> : G03 - Gastos generales<br>
                                                            <strong>Correo electrónico para envío de factura</strong> : <?= $customer['email'] ?><br>
                                                            <strong>Forma de pago</strong> : TDC<br>
                                                            <strong>Medio de facturación</strong> : Factura por Email<br>
                                                            <strong>Dirección para entrega de factura</strong> : <?php echo "{$customer['country_id']}, {$customerAddress['region']}, {$customerAddress['city']}, {$customerAddress['street']} {$customerAddress['numero_ext']}, {$customerAddress['colonia']}, CP: {$customerAddress['postcode']}"; ?><br>
                                                        </address>
                                                    </div>
                                                </div>
                                            </section>
                        <?php if($_ordersFlap['hasInfo']): ?>
                                            <section class="admin__page-section order-addresses">
                                                <div class="admin__page-section-content">
                                                    <div class="admin__page-section-item order-billing-address">
                                                        <div class="admin__page-section-item-title">
                                                            <span class="title">Capture Flap Data</span>
                                                        </div>
                                                        <address class="admin__page-section-item-content">
                                                            <strong>Fecha FLAP-TCM</strong> : <?= $_ordersFlap['result'][0]['fecha_transaccion_flap_tcm'] ?><br>
                                                            <strong>Número de transacción de FLAP-TCM</strong> : <?= $_ordersFlap['result'][0]['transaccion_flap_multipagos'] ?><br>
                                                            <strong>Número de autorización de FLAP-TCM</strong> : <?= $_ordersFlap['result'][0]['autorizacion_flap_tcm'] ?><br>
                                                            <strong>Importe FLAP-TCM</strong> : $<?= number_format($_ordersFlap['result'][0]['importe_flap_tcm'],2, '.', ',') ?><br>
                                                            <strong>Fecha FLAP Multipagos</strong> : <?= $_ordersFlap['result'][0]['creation'] ?><br>
                                                            <strong>Número de transacción de FLAP Multipagos</strong> : <?= $_ordersFlap['result'][0]['transaccion_flap_tcm'] ?><br>
                                                            <strong>Número de autorización de FLAP Multipagos</strong> : <?= $_ordersFlap['result'][0]['autorizacion_flap_multipagos'] ?><br>
                                                            <strong>Importe Multipagos</strong> : $<?= number_format($_ordersFlap['result'][0]['importe_flap_multipagos'], 2,'.', ',') ?><br>
                                                            <strong>Número de factura</strong> : <?= $_ordersFlap['result'][0]['num_factura'] ?><br>
                                                            <strong>Ultimos Cuatro digitos<strong>Últimos 4 dígitos de la tarjeta</strong> : <?= $_ordersFlap['result'][0]['lastfour_flap_multipagos'] ?><br>
                                                            <strong>Usuario que Registro la información</strong> : <?= $_ordersFlap['result'][0]['username'] ?><br>
                                                            
                                                        </address>
                                                    </div>
                                                </div>
                                            </section>
                        <?php endif; ?>
                                            </div>


                                            </div>
<?php endif; ?>
                                            </div>
                                            </main>