
<?php
$blockCustomer = $block->getLayout()->createBlock('Vass\PosCarSteps\Block\Index');
$dataCustomer = $block->getCustomerInfo();
$blockIneStatus = $blockCustomer->getIneStatus();
$quote_has_attacker = true;
$link_media = $block->getLinkMedia();
$pdfAviso = $this->getUrl('pub/media/archivos/') . 'avisoprivacidad.pdf';
?>
<fieldset class="step__set i-check step__set_active js-step">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">1</span><span class="step__title"><?= __('Tus datos'); ?></span></span></legend>
    <div class="step__lead success_show" id="datos-load">
        <p class="step__txt" id="div-nombre-dir"></p>
        <p class="step__txt" id="div-direccion1-dir"></p>
        <p class="step__txt" id="div-direccion2-dir"></p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button" id="changeone">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <div class="form__row-high">
            <!--<div class="form__row-gral form__row-none">
            </div>-->

            <div class="left">
             *Campos requeridos
            </div>
            
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="valid-nombre"><?= __('Nombre'); ?></label>
                <input class="form__input reqCalle blocked add__bottom" placeholder="Escribe tu nombre" type="text" name="name" id="valid-nombre" data-validate="name" value="<?= $dataCustomer['name']; ?>" maxlength="53" readonly>
               
                <input  type="hidden" name="lastName" id="valid-appelido-p" data-validate="lastName" value="ABC" maxlength="35">
                <input  type="hidden" name="lastName2" id="valid-appelido-m" data-validate="lastName" value="ABC" maxlength="35">
            
                <small class="js-validateMsg" data-name="name"></small>
                
                        <input class="form__input" placeholder="Escribe tu apellido" type="hidden" name="lastName" id="valid-appelido-p" data-validate="lastName" value="" maxlength="35">

      
                        <input class="form__input" placeholder="Escribe tu apellido" type="hidden" name="lastName2" id="valid-appelido-m" data-validate="lastName" value="" maxlength="35">



                <label class="form__label-ico i-star-fill" for="valid-email"><?= ('Correo electrónico'); ?></label>
                <input class="form__input add__bottom" placeholder="Escribe tu correo electronico" type="email" id="valid-email" name="email" value="">
                <small class="js-validateMsg js-validateMsgEmail danger" data-name="email"></small>
                
                <div class="form__grid">
                    <div class="form__grid__item">
                        <label class="form__label-ico i-star-fill" for="telefono-contacto"><?= __('Teléfono de contacto'); ?></label>
                        <input class="form__input blocked" placeholder="2221234567" type="text" name="phone" id="telefono-contacto" data-validate="phone" value="<?= $dataCustomer['phone']; ?>"  maxlength="10" readonly>
                        <small class="js-validateMsg" data-name="phone"></small>
                    </div>
                    <div class="form__grid__item">
                        <label class="form__label-ico i-star-fill" for="valida-rfc"><?= __('RFC con homoclave'); ?></label>
                        <input class="form__input blocked" placeholder="RFC" type="text" name="RFC" id="valida-rfc" data-validate="RFC" value="<?= $dataCustomer['rfc']; ?>" maxlength="13" minlength="13" readonly>
                        <small class="js-validateMsg" data-name="RFC"></small>
                    </div>
                </div>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="codigo-postal-valida"><?= __('Código postal');?></label>
                <input class="form__input blocked" placeholder="00000" type="text" name="postalCode" id="codigo-postal-valida" data-validate="postal-Code" value="<?= $dataCustomer['address']['postal_code']; ?>" readonly />
                <small class="js-validateMsg" data-name="postalCode"></small>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="calle-domicilio"><?= __('Domicilio'); ?></label>
                <input class="form__input reqCalle blocked add__bottom" id="calle-domicilio" placeholder="Escribe tu domicilio" type="text" name="calle" data-validate="street" value="<?= $dataCustomer['address']['street']; ?>" readonly="">
                <small class="js-validateMsg" data-name="calle"></small>
                <div class="form__grid">
                    <div class="form__grid__item">
                        <label class="form__label-ico i-star-fill" for="numero-domicilio"><?= __('Número exterior'); ?></label>
                        <input type="text" maxlength="10" class="form__input blocked" placeholder="Número exterior" type="text" name="calleNumero" id="numero-domicilio" data-validate="streetNumber" value="<?= $dataCustomer['address']['number']; ?>" readonly>
                        <small class="js-validateMsg" data-name="calleNumero"></small>
                    </div>

                    <div class="form__grid__item">
                        <label class="form__label-ico" for="numero-domicilio"><?= __('Número interior'); ?></label>
                        <input type="text" maxlength="10" class="form__input blocked" placeholder="Número interior" type="text" name="calleNumeroInterior" id="numero-interior-domicilio" data-validate="streetNumber" value="">
                        <small class="js-validateMsg" data-name="calleNumeroInterior"></small>
                    </div>


                </div>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="valida-estado"><?= __('Estado'); ?></label>
                <input class="form__input blocked" placeholder="Estado" type="text" name="estado" id="valida-estado" data-validate="estado" value="<?= $dataCustomer['address']['state']; ?>" readonly>
                <input class="form__input" placeholder="IdEstado" type="hidden" name="idestado" id="id-valida-estado" data-validate="idestado" readonly>
                <small class="js-validateMsg" data-name="estado"></small>
            </div>
            <div class="form__grid__item">
                        <label class="form__label-ico i-star-fill" for="colonia"><?= __('Colonia'); ?></label>
                        <div class="form__inner-select i-a-arrow-down blocked">
                            <select class="form__select blocked" id="colonia" name="calleColonia" data-validate="colonia" disabled="disabled">
                                <option value="">Selecciona</option>
                                <?php if($dataCustomer['address']['locality']): ?>
                                <option value="<?= $dataCustomer['address']['locality']; ?>" selected><?= $dataCustomer['address']['locality']; ?></option>
                                <?php endif; ?>
                            </select>
                        </div><small class="js-validateMsg" data-name="calleColonia"></small>
                    </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="valida-ciudad"><?= __('Ciudad'); ?></label>
                <input class="form__input" placeholder="Ciudad" type="text" name="ciudad_ok" id="ciudad_ok" data-validate="ciudad_ok" >
                <small class="js-validateMsg" data-name="ciudad_ok"></small>
            </div>

                <input class="form__input" type="hidden" id="calleColonia" >

                <input class="form__input" placeholder="deposito_garantia" type="hidden" name="deposito_garantia" id="deposito_garantia" data-validate="deposito_garantia" >

                <input class="form__input" placeholder="colonia_envio" type="hidden" name="colonia_envio" id="colonia_envio" data-validate="colonia_envio" >

                <input class="form__input" placeholder="telefono_reno" type="hidden" name="telefono_reno" id="telefono_reno" data-validate="telefono_reno" >


                <input class="form__input" placeholder="numero_a_portar" type="hidden" name="numero_a_portar" id="numero_a_portar" value="<?php echo $block->getDN(); ?>" data-validate="numero_a_portar" >

                 <input class="form__input" placeholder="check_mkt" type="hidden" name="check_mkt" id="check_mkt" data-validate="check_mkt" >



            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="ciudad-valida"><?= __('Delegación o Municipio'); ?></label>
                <input class="form__input blocked" placeholder="Ciudad" type="text" name="ciudad" id="ciudad-valida" data-validate="city" value="<?= $dataCustomer['address']['municipality']; ?>" readonly>
                <small class="js-validateMsg" data-name="ciudad"></small>
            </div>

            <div class="form__row-gral">
                <!--<input class="form__check" type="checkbox" id="dataToBill" name="dataToBill" checked="checked" readonly disabled="disabled">-->
                <label class="form__label__check2 " for="dataToBill"><?= __('Se utilizarán estos datos para facturación.'); ?></label>
            </div>
           <!--
            <input placeholder="Número" type="hidden" value="-" name="INE-IFE" id="INE-IFE" data-validate="value"><small class="js-validateMsg" data-name="INE-IFE" ></small>

            <div class="form__row-high">
                <p class="form__title-section"><?= __('Identificación'); ?></p>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="INE-IFE"><?= __('INE/IFE'); ?></label>
                <input class="form__input" placeholder="Número" type="text" name="INE-IFE" id="INE-IFE" data-validate="value"><small class="js-validateMsg" data-name="INE-IFE" ></small>
            </div>
            <div class="form__row-gral form__row_divisor form__row_right">
                <button class="link link__brand link-help i-question-ball dropDownButton" type="button"><?= __('Dónde encontrar tu número'); ?></button>
                <div class="form__cont form__cont_close js-formCont">
                    <div class="form__grid">
                        <div class="form__grid__item"><img class="form__img" src="<?= $link_media . 'pos-form-ine.png' ?>" alt="ejemplo de INE"></div>
                        <div class="form__grid__item"><img class="form__img" src="<?= $link_media . 'pos-form-ife.png' ?>" alt="ejemplo de IFE"></div>
                    </div>
                </div>
            </div>
            hereee
        -->
            <div class="data__header-full" style="margin:0;"></div>

                            <div class="form__row-high" <?= $blockIneStatus ?> >
                                <p class="form__title-section">Identificación</p>
                                <p class="form__txt-sm" style="font-size:16px;font-weight: bold;opacity: 0.5;">Por tu seguridad es importante validar tu información</p>
                            </div>


                            <div class="form__row-gral form__row-none" <?= $blockIneStatus ?> >
                                <label class="form__label-ico i-star-fill" for="INE-IFE">Clave de elector</label>
                                <input maxlength="20" class="form__input" placeholder="Número" type="text" name="INE-IFE" id="INE-IFE" data-validate="value" <?= $blockIneStatus ?> ><small class="js-validateMsg" data-name="INE-IFE" ></small>
                            </div>
                            <div class="form__row-gral form__row_divisor form__row_right" <?= $blockIneStatus ?>>
                                <button class="link link__brand link-help i-question-ball dropDownButton" type="button">Dónde encontrar tu número</button <?= $blockIneStatus ?>>
                                <div class="form__cont form__cont_close js-formCont">
                                    <div class="form__grid">
                                        <div class="form__grid__item"><img class="form__img" src="<?= $link_media . 'pos-form-ine.png' ?>" alt="ejemplo de INE"></div>
                                        <div class="form__grid__item"><img class="form__img" src="<?= $link_media . 'pos-form-ife.png' ?>" alt="ejemplo de IFE"></div>
                                    </div>
                                </div>
                            </div>

                                    <br><br>

            <div class="form__row-gral">
                <div class="center">
                <input class="form__check" type="checkbox" id="checkPrivacyOne" name="avisoPrivacidad" data-validate="checkPrivacyOne">
                <label class="form__label_check i-check" for="checkPrivacyOne"><?= __('Acepto'); ?> <a href="<?= $pdfAviso ?>" target="_blank" title="Ir a aviso de privacidad" class="form__label-link link link__brand"> <?= ('aviso de privacidad'); ?></a></label><small class="js-validateMsg" data-name="avisoPrivacidad"></small>
                </div>
                
            </div>
            <div class="form__row-gral">
                <input class="form__check" type="checkbox" id="checkout-step4-check-02" name="checkout-step4-check-02">
                <label class="form__label_check i-check" for="checkout-step4-check-02">Acepto que Movistar utilice mi información con fines mercadotécnicos o publicitarios. </label><small class="txt-alert__left js-validateMsg" data-name="checkout-step4-check-01"></small>
            </div>


        </div>
        <div class="form__row">
            <button class="form__btn btn js-AccordionBtn pasoTest validaCambiopaso" title="continuar-paso1" type="button" data-validate="active"><?= __('Continuar'); ?></button>
        </div>
    </div>
</fieldset>