<!--<div class="data-aside js-asideFixed data-aside__sticky">
    <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
        <span class="data-aside__box i-arrow-up">
            <span class="btn-circle i-shopping-car">
                Carrito de compra
                <small class="btn-circle-small">1</small>
            </span>
            Ir a pagar
        </span>
        <span class="data__total">
            <span class="js-value" id="grandTotalMobile" data-price="">
                $ 0<sup>*</sup>
            </span>
            <span class="js-valueFinal" id="grandTotalMobileEnd" data-price="">
                $ 0
            </span>
        </span>
        <span class="data-aside__txt-high">Total</span>
    </button>


</div>
<div id="drawContractGlobal" style="display:none;"></div>

<div class="data__info">
    <img class="data__info-img" src="" alt="">
</div>-->

<fieldset class="step__set i-check js-step" id="renoPay">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">4</span><span class="step__title"><?= __('Método de pago'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt">Ya aceptaste el contrato.</p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <div class="form__row">
            <div id="checkout" data-bind="scope:'checkout'" class="form__row">
                <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
                    <div class="loader">
                        <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
                             alt="<?= /* @escapeNotVerified */ __('Loading...') ?>"
                             style="position: absolute;">
                    </div>
                </div>                
                <?php 
                $visiblepayment=1;
                $information=$block->getPaymentMethod();
                if(isset($information) && $information!="" && is_array($information) && count($information)):
                    $visiblepayment=0;
                ?>

                <div id="metodo-pago-existente">
                    <span class="payMeth">Tu método de pago es:</span>
                    <div class="checkPayment">    
                        <img class="imgNums" style="width: 60px;height: 30px;" src="<?= $block->getImageCard($information['brand'])?>" >XXXX XXXX XXXX <?= $information['lastFourDigits']?>
                    </div>
                    <hr>
                    <span class="labelFlapForm">Tu pago se domiciliará a está tarjeta.</span>
                </div>
                <div class="changePay">
                    <input title="cambiar metodo pago" type="checkbox" id="change-payment-button" /><span id="label-change-method" data-bind="i18n: 'Cambiar método de pago'"></span>
                    <div class="flapTitleForm">
                        <a class="backFlapForm" href="#renoPay" id="back_payment" style="display: none;">< Volver</a>
                    </div>  
                    <?php ELSE:?>
                <div class="changePay">
                    <?php
                    ENDIF;
                        $block->setPaymentMethodChange($visiblepayment);
                    ?>                
                    <input type="hidden" value="<?=$visiblepayment?>" id="visiblepayment"/>
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    
                </div>
                
                <script type="text/x-magento-init">
                    {
                        "#checkout": {
                            "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
                        }
                    }
                </script>
                
                 <script>
                    window.checkoutConfig = <?= /* @escapeNotVerified */ $block->getSerializedCheckoutConfig() ?>;
                    // Create aliases for customer.js model from customer module
                    window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
                    window.customerData = window.checkoutConfig.customerData;
                </script>
                <script>
                    require([
                        'mage/url',
                        'Magento_Ui/js/block-loader'
                    ], function(url, blockLoader) {
                        blockLoader("<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>");
                        return url.setBaseUrl('<?= /* @escapeNotVerified */ $block->getBaseUrl() ?>');
                    })
                </script>
                <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    if($("#visiblepayment").val()==='0'){
                        setTimeout(function(){ $(".payment-method-content").hide();}, 4000);
                    }
                    $("#change-payment-button").change(function() {
                        if ($(this).prop("checked")) {
                            $("#visiblepayment").val('1');
                            $("#metodo-pago-existente").hide();
                            $("#change-payment-button").hide();
                            $("#label-change-method").hide();
                            $("#back_payment").show();
                            $(".payment-method-content").show();
                        }else{
                            $("#visiblepayment").val('0');
                            $("#metodo-pago-existente").show();
                            $("#change-payment-button").show();
                            $("#label-change-method").show();
                            $("#back_payment").hide();
                            $(".payment-method-content").hide();
                        }
                        var urlWeb = "/renovaciones/checkout/ChangePaymentMethod";
                        $.ajax({
                            url: urlWeb,
                            type: 'POST',
                            showLoader: true,
                            data: {changePayment: $("#visiblepayment").val()},
                            dataType: 'json'
                        });
                    });
                    $("#back_payment").click(function(){
                        $("#change-payment-button").click();
                    });
                });
                </script>
            </div>
            <!--<button class="form__btn btn js-AccordionBtn pasoTest validaCambiopaso" title="continuar-paso1" type="button" data-validate="active"><?php //__('Continuar'); ?></button>-->
        </div>
    </div>
</fieldset>
