<!--Opciones de envio-->
<fieldset class="step__set i-check js-step">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title"><?= __('Opciones de envío'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt" id="viewDelivery"></p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button"><?= __('Cambiar'); ?></button>
    <div class="step__content js-stepAccordion step__content2">
        <input type="hidden" id="renovaciones-flujo" value="1"/>
        <div class="form__row-high" data-bind="scope: 'domicilioRenovaciones'">
            <input class="form__radio dropDownRadio" type="radio" value="1" id="inv-mail1" name="inv-mail" data-validate="radio" checked>
            <label class="form__radio_label pos-form__radio_label boldLab" for="inv-mail1" id="invMailLabel" ><?= __('Enviar a mi domicilio'); ?></label>
            <small class="form__txt-sm" id="DirEntrega"><?= __('Selecciona una dirección de envío o ingresa una nueva dirección.'); ?></small>
            <div class="form__row-gral form__row-none" id="sameDirAbove">
                <div class="center2">
                    <input type="checkbox" class="form__check" name="check-same-billing-address" id="check-same-billing-address" value="1"/>
                    <label class="form__label_check i-check" for="check-same-billing-address"><?= __('Deseo utilizar mi dirección de facturación'); ?></label>
                </div>
            </div>
            <div id="address-shippment">
            <div class="left">
             *Campos requeridos
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="codigo-postal-valida-shippment"><?= __('Código Postal'); ?></label>
                <input class="form__input blocked" placeholder="00000" type="text" name="postalCode-shippment" id="codigo-postal-valida-shippment" data-validate="postal-Code-domicilio-shippment" value=""  />
                <small class="js-validateMsg" data-name="postalCode"></small>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="calle-domicilio-shippment"><?= __('Domicilio'); ?></label>
                <input class="form__input reqCalle blocked add__bottom" id="calle-domicilio-shippment" placeholder="Escribe tu domicilio" type="text" name="calle-shippment" data-validate="street-shippment" value="" >
                <small class="js-validateMsg" data-name="calle"></small>
                <div class="form__grid">
                    <div class="form__grid__item">
                        <label class="form__label-ico i-star-fill" for="numero-domicilio-shippment"><?= __('Número'); ?></label>
                        <input type="text" maxlength="10" class="form__input blocked" placeholder="Número" type="text" name="calleNumero-shippment" id="numero-domicilio-shippment" data-validate="streetNumber-shippment" value="" >
                        <small class="js-validateMsg" data-name="calleNumero"></small>
                    </div>
                    <div class="form__grid__item">
                        <label class="form__label-ico i-star-fill" for="colonia-shippment"><?= __('Colonia'); ?></label>
                        <div class="form__inner-select i-a-arrow-down blocked">
                            <select class="form__select blocked" id="colonia-shippment" name="calleColonia-shippment" data-validate="colonia-shippment" >
                                <option value="">Selecciona</option>
                            </select>
                        </div><small class="js-validateMsg" data-name="calleColonia"></small>
                    </div>
                </div>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="valida-estado-shippment"><?= __('Estado'); ?></label>
                <input class="form__input blocked" placeholder="Estado" type="text" name="estado-shippment" id="valida-estado-shippment" data-validate="estado-shippment" value="" disabled="disabled">
                <input class="form__input" placeholder="IdEstado" type="hidden" name="idestado-shippment" id="id-valida-estado-shippment" data-validate="idestado-shippment" >
                <small class="js-validateMsg" data-name="estado"></small>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="valida-ciudad-shippment"><?= __('Ciudad'); ?></label>
                <input class="form__input blocked" placeholder="Ciudad" type="text" name="ciudad-name-shippment" id="valida-name-ciudad-shippment" data-validate="ciudad-shippment" value="" disabled="disabled">
                <small class="js-validateMsg" data-name="ciudad"></small>
            </div>
            <div class="form__row-gral form__row-none">
                <label class="form__label-ico i-star-fill" for="ciudad-valida-shippment"><?= __('Delegación o Municipio'); ?></label>
                <input class="form__input blocked" placeholder="Ciudad" type="text" name="ciudad-shippment" id="ciudad-valida-shippment" data-validate="city-shippment" value="" disabled="disabled">
                <small class="js-validateMsg" data-name="ciudad"></small>
            </div>
            </div>
        </div>
        <div class="form__box_under">
            <input class="form__radio dropDownRadio" type="radio" value="2" id="inv-mail2" name="inv-mail" data-validate="radio">
            <label class="form__radio_label pos-form__radio_label boldLab" for="inv-mail2"><?= __('Recoger en tienda'); ?></label><small class="form__txt-sm"><?= __('Encuentra nuestro Centro de Atención Movistar más cercano en donde quieres recoger tu compra.'); ?></small>
            <div class="form__row-inner form__row-gral">
                <div class="form__row-high form__row-none">
                    <label class="form__label" for="cacscp_autocomplete"><?= __('Código Postal de la Tienda'); ?></label><span class="search__form">
                        <input class="search__input" type="text" placeholder="00000" name="search" id="cacscp_autocomplete">
                        <button class="search__btn i-search" type="button"><?= __('Buscar'); ?></button></span>
                    <small class="validateMsgForm" data-name="cpcac"></small>
                </div>
                <div class="form__row-gral form__row-none">
                    <label class="form__label" for="cacs_autocomplete"><?= __('Nombre de un lugar cercano dónde puedas recoger tu celular.'); ?></label><span class="search__form">
                        <input class="search__input" type="text" placeholder="Ej: Centro historico" name="search" id="cacs_autocomplete">
                        <button class="search__btn i-search" type="button"><?= __('Buscar'); ?></button></span>
                    <small class="validateMsgForm" data-name="dircac"></small>
                </div>
                <div id="selected-store-container" style="display:none;">
                    <div class="form__row-high">
                        <p class="form__title-section"><?= __('Tienda seleccionada'); ?></p>
                    </div>
                    <div class="form__row-gral" id="search-store">
                        <input class="form__radio" type="radio" id="cac1" name="cac" disabled>
                        <label class="form__radio_label cac_seleccionado" for="cac1"><?= __('Busque una tienda'); ?></label>
                        <input type="hidden" name="cacselectedfinal" id="cacfinal" value="">
                        <address class="form__txt-style">
                            <div class="divaddress"></div>
                            <input type="hidden" name="addressShipping" id="addressShipping" value="">
                        </address>
                    </div>
                </div>
            </div><small class="js-validateMsg" data-name="inv-mail"></small>
        </div>
        <div class="form__row form__row-high">
            <button class="form__btn btn js-AccordionBtn pasoTest" data-validate="active" type="button" title="continuar-paso2" id="checkout-paso2-renovaciones"><?= __('Continuar'); ?></button>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $('#cacscp_autocomplete').bind('change', function(e){
            $('#selected-store-container').css('display','block');
        });
        $('#cacs_autocomplete').bind('change', function(e){
            $('#selected-store-container').css('display','block');
        });
        $('#check-same-billing-address').change(function()
        {
          if ($(this).is(':checked')) {
            $("#address-shippment").hide();
            $('#codigo-postal-valida-shippment').val($('#codigo-postal-valida').val());
            $('#ciudad-valida-shippment').val($('#ciudad-valida').val());
            $('#codigo-postal-valida-shippment').val($('#codigo-postal-valida').val());
            $('#valida-estado-shippment').val($('#valida-estado').val());
            $('#id-valida-estado-shippment').val($('#id-valida-estado').val());
            $('#valida-name-ciudad-shippment').val($('#valida-ciudad').val());
            $('#calle-domicilio-shippment').val($('#calle-domicilio').val());
            $('#numero-domicilio-shippment').val($('#numero-domicilio').val());
            var $options = $("#colonia > option").clone();
            $('#colonia-shippment').append($options);
            var urlZipCode = window.location.protocol + '//' + window.location.host;
            jQuery.ajax({
                type: 'POST',
                showLoader: true,
                url: urlZipCode + "/zip-code/", //file which read zip code excel file
                dataType: "html", //is used for return multiple values
                data: {'s': $('#codigo-postal-valida').val()},
                success: function (data) {
                    var resultZipCode = data.split("<json>");
                    if (resultZipCode[1]) {
                        resultZipCode = resultZipCode[1];
                        resultZipCode = jQuery.parseJSON('' + resultZipCode + '');
                        try {
                            $('#ciudad-valida-shippment').val(resultZipCode.dist);//city-class of city text filed
                            $('#valida-name-ciudad-shippment').val(resultZipCode.state);//city-class of city text filed
                            $('#valida-estado-shippment').val(resultZipCode.state);
                            $('#id-valida-estado-shippment').val(resultZipCode.idstate);
                        } catch (e) {

                        }
                    } else {
                        $('#valida-estado-shippment').val("");
                        $('#id-valida-estado-shippment').val("");
                        $('#valida-name-ciudad-shippment').val("");
                        $('#colonia-shippment').empty();
                        $('#ciudad-valida-shippment').val("");
                        $('#codigo-postal-valida-shippment').val("");
                        $('#calle-domicilio-shippment').val("");
                        $('#numero-domicilio-shippment').val("");
                    }
                },
                complete: function () {
                },
                error: function (xhr, status, err) {
                    console.log("status3=" + xhr.responseText + ", error=" + err);
                }
            });
          }else{
              $("#address-shippment").show();
            $('#valida-estado-shippment').val("");
            $('#id-valida-estado-shippment').val("");
            $('#valida-name-ciudad-shippment').val("");
            $('#colonia-shippment').empty();
            $('#ciudad-valida-shippment').val("");
            $('#codigo-postal-valida-shippment').val("");
            $('#calle-domicilio-shippment').val("");
            $('#numero-domicilio-shippment').val("");
          };
        });

        /* Zip Code Validation*/
        var inputZipCode = $('#codigo-postal-valida-shippment');
        var cityZipCode = $('#ciudad-valida-shippment');
        inputZipCode.blur(function () { //.postcode class of zipcode text field
            var section = jQuery(this);
            var s = jQuery(this).val();
            var urlZipCode = window.location.protocol + '//' + window.location.host;
            jQuery.ajax({
                type: 'POST',
                url: urlZipCode + "/zip-code/", //file which read zip code excel file
                showLoader: true,
                dataType: "html", //is used for return multiple values
                data: {'s': s},
                success: function (data) {
                    //alert(JSON.stringify(data));
                    var resultZipCode = data.split("<json>");
                    if (resultZipCode[1]) {
                        resultZipCode = resultZipCode[1];
                        resultZipCode = jQuery.parseJSON('' + resultZipCode + '');
                        try {
                            jQuery(section).closest('.js-stepAccordion').find(cityZipCode).val(resultZipCode.dist);//city-class of city text filed
                            jQuery(section).closest('.js-stepAccordion').find('#valida-name-ciudad-shippment').val(resultZipCode.state);//city-class of city text filed
                            jQuery(section).closest('.js-stepAccordion').find('#valida-estado-shippment').val(resultZipCode.state);
                            jQuery(section).closest('.js-stepAccordion').find('#id-valida-estado-shippment').val(resultZipCode.idstate);
                            jQuery(section).closest('.js-stepAccordion').find('#colonia-shippment').children('option').remove();
                            jQuery(section).closest('.js-stepAccordion').find('#colonia-shippment').append(jQuery('<option>', {value: "", text: 'Selecciona'}));
                            jQuery.each(resultZipCode.col, function (index, value) {
                                jQuery(section).closest('.js-stepAccordion').find('#colonia-shippment').append(jQuery('<option>', {value: value, text: value}));
                                jQuery(section).closest('.js-stepAccordion').find('#colonia-shippment').css("display", "block");
                            });
                        } catch (e) {

                        }
                    } else {
                        jQuery('#valida-estado-shippment').val("");
                        jQuery('#id-valida-estado-shippment').val("");
                        jQuery('#valida-name-ciudad-shippment').val("");
                        jQuery('#colonia-shippment').empty();
                        jQuery('#codigo-postal-valida-shippment').html('<span style="color:red;" >Introduzca un código postal válido.</span>');
                    }
                },
                complete: function () {
                },
                error: function (xhr, status, err) {
                    console.log("status3=" + xhr.responseText + ", error=" + err);
                }
            });
        });
    });
</script>