
<?php
$paso = 5;
if(!$block->requireWebConditions()){
    $paso = 4;
}
?>
<fieldset class="step__set i-check js-step pospago-portabilidad-contrato">
    <legend class="step__legend"><span class="step__grid"><span class="step__value"><?= $paso; ?></span><span class="step__title"><?= __('Contrato'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt">Ya aceptaste el contrato.</p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button">Cambiar</button>    
    <div class="step__content js-stepAccordion step__content2" data-bind="scope: 'contractPortabilidad'">          
        <p class="new__margin">
            <?= __('Antes de continuar al pago, revisa tu contrato ') ?> 
            <a href="" id="ver_contrato_portabilidad_pdf" target="_blank">
                <?= __('aquí') ?>
            </a>
             <?= __(' puedes consultar también: ') ?> 
            <a href="" id="ver_clausulado_pdf" target="_blank">
                <?= __('Clausulado') ?><?= (', '); ?> 
            </a>
            <a href="" id="ver_carta_derechos_pdf" target="_blank">
                <?= __('Carta de derechos') ?>
            </a>
             <?= (', '); ?> 
            <a href="" id="ver_politicas_pdf" target="_blank">
                <?= __('Politicas') ?>
            </a>
        </p>
        
        <div class="form__row-gral">
            <div class="center">
                <input class="form__check" type="checkbox" id="checkTeminosCondiciones" name="checkTeminosCondiciones">
                <label class="form__label_check i-check i-check2" for="checkTeminosCondiciones">
                    <?= ('Manifiesto mi consentimiento para celebrar el contrato y acepto'); ?>
                    <a class="link__brand" id="ver_terminos_condiciones_plan_pdf" href="" data-bind="click: eventClick" target="_blank" title="<?= __(' términos y condiciones'); ?>">
                        <?= __(' términos y condiciones'); ?>
                    </a>
                    <?= (' del plan, '); ?>
                    <a class="link__brand" id="ver_servicio_adicional_pdf" title="<?= __(' Servicios adicionales'); ?>">
                        <?= __(' Servicios adicionales'); ?>
                    </a>
                    <?= (', condiciones de pago y '); ?>
                    <a class="link__brand" href="<?= 'https://www.movistar.com.mx/informacion-para-clientes/aviso-de-privacidad'; ?>" target="_blank" title="<?= __('Aviso de Privacidad'); ?>">
                        <?= __('Aviso de Privacidad'); ?>
                    </a>
                </label>            
                <small class="js-validateMsg" data-name="checkTeminosCondiciones"></small>
            </div>
        </div>        
        <div class="form__row-gral">
            <div class="center">
                <input class="form__check" type="checkbox" id="checkConsentimiento" name="checkConsentimiento">
                <label class="form__label_check i-check" for="checkConsentimiento">
                    <?= __('Acepto recibir promociones por correo electrónico') ?>
                </label>
                <small class="js-validateMsg" data-name="checkConsentimiento"></small>
            </div>
        </div>
        <div class="form__row">
            <button class="form__btn btn js-AccordionBtn pasoTest" data-validate="active" type="button" title="continuar-paso6" id="realizar-pago-2"><?= __('Pagar'); ?></button>
        </div>
    </div>
</fieldset>