<?php 
$financialInstitutes = $block->getFinancialIntitutes();
$pdfAviso = $this->getUrl('pub/media/archivos/') . 'avisoprivacidad.pdf'; ?>
<fieldset class="step__set i-check js-step pospago-portabilidad-score-crediticio">
    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title">Consulta de crédito</span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt">Hemos consultado tu score crediticio</p>
    </div>
    <button class="link success_show js-stepReset" type="button">Cambiar</button>
    <div class="step__content js-stepAccordion">
        <div class="form__row">
            <div class="form__row-high">
                <p class="form__title-section">Necesitamos tu información de crédito para mejorar tus términos de pago</p>
            </div>
            <div class="form__row-gral">
                <label class="form__label" for="rfc-traspaso">RFC</label>
                <input class="form__input" placeholder="CELE 12345678 T90" type="text" id="rfc-traspaso" name="RFC" value="" data-validate="RFC" maxlength="13" readonly>
                <small class="js-validateMsg" data-name="RFC"></small>
            </div>
            <!--Credito vigente-->

            <!-- Hotfix: INTPOSP-452 inicio de donde se cambia la estructura para lograr que el input de TC quede debajo -->
            <div class="form__row-gral">
                <label class="form__label-ico i-star-fill">¿Tienes tarjeta de crédito vigente?</label>
                <div class="form__grid form__grid_align-center">
                    <div class="form__grid__item form__grid">
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-01" name="checkout-step2-radio1" data-validate="radio" value="1" checked>
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-01">Si</label>
                        </div>
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-02" name="checkout-step2-radio1" data-validate="radio" value="0">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-02">No</label>
                        </div>
                    </div>
                    <small class="js-validateMsg" data-name="checkout-step2-radio1"></small>
                </div>
            </div>

            <!-- HOTFIX-ETEMM-252 -->
            <div class="form__row-gral">
                <p class="form__title-section form__title_alert i-alert-triangular">La tarjeta que ingreses deberá ser la misma con la que realices el pago</p>
            </div>

            <!-- Hotfix: INTPOSP-452 Fin de bloque cambiado por estructura -->
            <!-- Hotfix: INTPOSP-452 Inicio Bloque movilizado (Se quitan class="form__grid__item form__grid")-->
            <div class="form__row-gral">
                <label class="form__label" for="cod">Últimos 4 dígitos de tu tarjeta</label>
                <div class="form__relative">
                    <input class="form__input" type="text" placeholder="1234" name="cod" data-validate="digit4" id="cod" maxlength="4">
                    <small class="js-validateMsg" data-name="cod"></small>
                </div>
            </div>
            <!-- Hotfix: INTPOSP-452 Fin Bloque movilizado-->
            <div class="form__row-gral form__row-none data01-valida">
                <label class="form__label-ico i-star-fill" for="checkout-step2-select-01">Institución</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="checkout-step2-select-01" name="checkout-step2-select" data-validate="value">
                        <option value="">Selecciona</option>
                        <?php
                        foreach($financialInstitutes as $_instute){
                            echo '<option value="' . $_instute['id_flap'] . '">' . $_instute['bank_name'] . '</option>';
                        }
                        ?>
                    </select>
                </div><small class="js-validateMsg" data-name="checkout-step2-select"></small>
            </div>
            <input type="hidden" id="selectedBank" name="selectedBank" value="">
            <!--Credito automotriz-->
            <div class="form__row-gral">
                <label class="form__label-ico">¿Tienes algún crédito automotriz en los últimos 24 meses?</label>
                <div class="form__grid form__grid_align-center">
                    <div class="form__grid__item form__grid">
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-03" name="checkout-step2-radio2" data-validate="radio" value="1" checked>
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-03">Si</label>
                        </div>
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-04" name="checkout-step2-radio2" data-validate="radio" value="0">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-04">No</label>
                        </div>
                    </div><small class="js-validateMsg" data-name="checkout-step2-radio2"></small>
                </div>
            </div>
            <div class="form__row-gral form__row-none data02-valida">
                <label class="form__label-ico" for="checkout-step2-select-02">Institución</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="checkout-step2-select-02" name="checkout-step2-select02" data-validate="value">
                        <?php
                        foreach($financialInstitutes as $_instute){
                            echo '<option value="' . $_instute['id_flap'] . '">' . $_instute['bank_name'] . '</option>';
                        }
                        ?>
                    </select>
                </div><small class="js-validateMsg" data-name="checkout-step2-select"></small>
            </div>
            <!--Credito hipotecario-->
            <div class="form__row-gral">
                <label class="form__label-ico">¿Tienes algún crédito hipotecario en los últimos 6 años?</label>
                <div class="form__grid form__grid_align-center">
                    <div class="form__grid__item form__grid">
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-05" name="checkout-step2-radio3" data-validate="radio" value="1" checked>
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-05">Si</label>
                        </div>
                        <div class="form__grid__item">
                            <input class="form__radio" type="radio" id="checkout-step2-radio-06" name="checkout-step2-radio3" data-validate="radio" value="0">
                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-06">No</label>
                        </div>
                    </div><small class="js-validateMsg" data-name="checkout-step2-radio3"></small>
                </div>
            </div>
            <div class="form__row-gral form__row-none data03-valida">
                <label class="form__label-ico" for="checkout-step2-select-03">Institución</label>
                <div class="form__inner-select i-a-arrow-down">
                    <select class="form__select" id="checkout-step2-select-03" name="checkout-step2-select03" data-validate="value">
                        <?php
                        foreach($financialInstitutes as $_instute){
                            echo '<option value="' . $_instute['id_flap'] . '">' . $_instute['bank_name'] . '</option>';
                        }
                        ?>
                    </select>
                </div><small class="js-validateMsg" data-name="checkout-step2-select03"></small>
            </div>
            <div class="form__row-gral form__row_divisor form__row_block">
                <p class="form__txt-sm">*Considera créditos que tengas actualmente o que hayas pagado en su totalidad</p>
            </div>
            <!--Checkbox-->
            <div class="form__row-high warming">
                <input class="form__check" type="checkbox" id="checkPrivacy" name="avisoPrivacidad1" data-validate="checkPrivacy">
                <label class="form__label_check i-check" for="checkPrivacy">
                    Acepto<a href="<?= $pdfAviso ?>"  target="_blank" title="Ir a aviso de privacidad" class="form__label-link link link__brand"> aviso de privacidad</a></label><small class="js-validateMsg" data-name="avisoPrivacidad1"></small>
            </div>
            <div class="form__row-gral warming">
                <input class="form__check" type="checkbox" id="checkout-step2" name="checkout-step2" data-validate="value">
                <label class="form__label_check i-check" for="checkout-step2">Autorizo a Telefónica Movistar a consultar mi buró de crédito (necesario para continuar)</label><small class="js-validateMsg" data-name="checkout-step2"></small>
            </div>
            <div class="form__row-high btnStepTwo">
                <button class="form__btn btn js-AccordionBtn pasoTest" data-validate="active" type="button" title="continuar-paso2">Continuar</button>
            </div>
        </div>
    </div>
</fieldset>