<?php
$paso = 4;
if(!$block->requireWebConditions()){
    $paso = 3;
}
?>
<!--validacion de nip-->
<fieldset class="step__set i-check js-step pospago-portabilidad-nip" id="bloque-portabilidad-nip-validacion">
    <legend class="step__legend"><span class="step__grid"><span class="step__value"><?= $paso; ?></span><span class="step__title"><?= __('Cámbiate a Movistar'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt" id="viewDelivery">Hemos validado tu NIP</p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button"><?= __('Cambiar'); ?></button>
    <div class="step__content js-stepAccordion step__content2">

        <div class="form__row-gral form__row-none">
            <label class="form__label-ico i-star-fill" for="valid-nip"><?= __('Ingresa tu NIP de portabilidad'); ?></label>
            <input class="form__input reqCalle blocked add__bottom" placeholder="ej: 0000" type="text" name="nip" id="valid-nip" data-validate="digit4" value="" maxlength="4">
            <a href="#" class="link-form" id="envio-nip"><?= __('¿Aún no te ha llegado tu NIP?') ?></a>
            <small class="js-validateMsg" data-name="name"></small>
        </div>

        <div class="form__row-gral form__row-none warming">
            <label class="form__label-ico i-star-fill" for="valid-curp"><?= __('Ingresa tu CURP'); ?></label>
            <input class="form__input reqCalle blocked add__bottom" placeholder="ABCD123456EFGXYZ78" type="text" name="curp" id="valid-curp" data-validate="curp" value="" maxlength="18">
            <a href="https://www.gob.mx/curp/" target="_blank" class="link-form" id="encuentra-curp"><?= __('Encuentra aquí tu CURP') ?></a>
            <small class="js-validateMsg" data-name="name"></small>
        </div>
        
        <div class="form__row form__row_center form__row-none">
            <input class="form__check" type="checkbox" id="dateToPorta" name="dateToPorta" data-validate="">
            <label class="form__label_check i-check" for="dateToPorta"><?= __('Acepto que mi fecha de ventana de cambio sea asignada al realizar mi pedido (máximo en 5 días)'); ?></strong>
            </label>
            <small class="js-validateMsg" data-name="dateToPorta"></small>
        </div>
        
        
        <div class="form__row form__row-high btnStepTwo">
            <button class="form__btn btn js-AccordionBtn pasoTest" data-validate="active" type="button" title="continuar-validacion-nip" id="checkout-paso4-porta-pre"><?= __('Continuar'); ?></button>
        </div>
    </div>
</fieldset>
<!--  /validacion de nip -->