<?php
$paso = 6;
if(!$block->requireWebConditions()){
    $paso = 5;
}
?><!--validacion de nip-->
<fieldset class="step__set i-check js-step pospago-portabilidad-pago" id="bloque-portabilidad-pago">
    <legend class="step__legend"><span class="step__grid"><span class="step__value"><?= $paso; ?></span><span class="step__title"><?= __('Método de pago'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt" id="viewDelivery">Hemos validado tu método de pago</p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button"><?= __('Cambiar'); ?></button>
    <div class="step__content js-stepAccordion step__content2">

        <div class="form__row form__row-high">
            <button class="form__btn btn js-AccordionBtn" data-validate="active" type="button" title="pagar" id="realizar-pago"><?= __('Pagar'); ?></button>
        </div>
    </div>
</fieldset>
<!--  /validacion de nip -->