<?php
$paso = 3;
if(!$block->requireWebConditions()){
    $paso = 2;
}
?><!--Opciones de envio-->
<fieldset class="step__set i-check js-step pospago-portabilidad-envio" id="bloque-portabilidad-info-envio">
    <legend class="step__legend"><span class="step__grid"><span class="step__value"><?= $paso; ?></span><span class="step__title"><?= __('Opciones de envío'); ?></span></span></legend>
    <div class="step__lead success_show">
        <p class="step__txt" id="viewDelivery"></p>
    </div>
    <button class="link success_show js-stepReset-Renovaciones" type="button"><?= __('Cambiar'); ?></button>
    <div class="step__content js-stepAccordion step__content2">
        <div class="form__row-high">
            <input class="form__radio dropDownRadio" type="radio" value="1" id="inv-mail1" name="inv-mail" data-validate="radio" checked>
            <label class="form__radio_label pos-form__radio_label boldLab" for="inv-mail1" id="invMailLabel" ><?= __('Enviar a mi domicilio'); ?></label>
            <small class="form__txt-sm" id="DirEntrega"><?= __('Selecciona una dirección de envío o ingresa una nueva dirección.'); ?></small>
        </div>
        <div class="form__box_under">
            <input class="form__radio dropDownRadio boldLab" type="radio" value="2" id="inv-mail2" name="inv-mail" data-validate="radio">
            <label class="form__radio_label pos-form__radio_label" for="inv-mail2"><?= __('Recoger en tienda'); ?></label><small class="form__txt-sm"><?= __('Encuentra nuestro Centro de Atención Movistar más cercano en donde quieres recoger tu compra.'); ?></small>
            <div class="form__row-inner form__row-gral">
                <div class="form__row-high form__row-none">
                    <label class="form__label" for="cacscp_autocomplete"><?= __('Código Postal de la Tienda'); ?></label><span class="search__form">
                        <input class="search__input" type="text" placeholder="00000" name="search" id="cacscp_autocomplete">
                        <button class="search__btn i-search" type="button"><?= __('Buscar'); ?></button></span>
                    <small class="validateMsgForm" data-name="cpcac"></small>
                </div>
                <div class="form__row-gral form__row-none">
                    <label class="form__label" for="cacs_autocomplete"><?= __('Nombre de un lugar cercano dónde puedas recoger tu celular.'); ?></label><span class="search__form">
                        <input class="search__input" type="text" placeholder="Ej: Centro historico" name="search" id="cacs_autocomplete">
                        <button class="search__btn i-search" type="button"><?= __('Buscar'); ?></button></span>
                    <small class="validateMsgForm" data-name="dircac"></small>
                </div>
                <div id="selected-store-container" style="display:none;">
                    <div class="form__row-high">
                        <p class="form__title-section"><?= __('Tienda seleccionada'); ?></p>
                    </div>
                    <div class="form__row-gral" id="search-store">
                        <input class="form__radio" type="radio" id="cac1" name="cac" disabled>
                        <label class="form__radio_label cac_seleccionado" for="cac1"><?= __('Busque una tienda'); ?></label>
                        <input type="hidden" name="cacselectedfinal" id="cacfinal" value="">
                        <address class="form__txt-style">
                            <div class="divaddress"></div>
                            <input type="hidden" name="addressShipping" id="addressShipping" value="">
                        </address>
                    </div>
                </div>
            </div><small class="js-validateMsg" data-name="inv-mail"></small>
        </div>
        <div class="form__row form__row-high btnStepTwo">
            <button class="form__btn btn js-AccordionBtn pasoTest" data-validate="active" type="button" title="continuar-paso3" id="checkout-paso2-renovaciones"><?= __('Continuar'); ?></button>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $('#cacscp_autocomplete').bind('change', function(e){
            $('#selected-store-container').css('display','block');
        });
        $('#cacs_autocomplete').bind('change', function(e){
            $('#selected-store-container').css('display','block');
        });
    });
</script>