<!--@subject {{trans "Portabilidad Movistar" }} @-->
<!--@vars {
"var name":"Usuario"
} @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <title>Movistar</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=no"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}

           * {
            color: #7C888D !important;
            }    

        #huno {
                width: 70%;
                margin: 0 auto;
                padding-top: 8%;
                text-align: center;
                font-size: xx-large;
                color: #50535A !important;
            }

        #hdos {
            width: 70%;
            margin: 5% auto;
            text-align: center;
            font-size: initial;
        }

        #puno {
            width: 70%;
            margin: 5% auto;
            text-align: justify;
            font-size: medium;
        }

        #boton1 {
            margin: 5% 35%;
            color: #FFFFFF !important;
            background-color: #5BC500;
            border: none;
            padding: 1% 5%;
            font-size: medium;
        }

        #divdos {
            height: auto;
            background-color: #FAFAFA;
            width: 60%;
            margin: auto;
            display: flex;
            border: 1px solid #D0D2D3;
        }

        #div40 {
            width: 40%;
        }

        #div60 {
            width: 60%;
            padding: 3% 5%;
        }

        #img2 {
               width: 108%;
        margin-top: -20%;
        max-width: none;
        }

        #htres {
            margin: 5% auto;
            text-align: left;
            font-size: x-large;
        }

        #hcuatro {
            margin: 5% auto;
            text-align: justify;
            font-size: large;
        }

        #htresuno {
            text-align: center;
            color: #A7AFB3;
            font-size: medium;
            margin-top: 20px;
        margin: auto;
        padding: 5px 12%;
        }

        #divcinco {
            width: 100%;
            display: flex;
        }

        #divauto {
            margin: auto;
        }

        .withpad {
            padding: 0 2vw;
            margin-bottom: 20px;
        }

        #lastdiv {
            text-align: center;
            color: #A7AFB3;
            font-size: medium;
        }

        #noSee{
            color: #FFFFFF;
           position: relative;
           top: -6vh;
          font-size: initial;
          margin: 0px 19vw;
        }

        @media (max-width: 1024px) and (min-width: 921px) {
            #noSee{
            }
        }

        @media (max-width: 920px) and (min-width: 841px) {
            #noSee{
            }
        }

        @media (max-width: 840px) and (min-width: 737px) {
            #noSee{
      
            }
        }

        @media (max-width: 736px) {
            #divdos {
                display: block;
                width: 90% !important;
            }

            #img2 {
                width: 126%;
                /* margin-top: -20%; */
                margin: 0 62%;
            }

            #div60 {
                width: 90%;
                padding: 3% 5%;
            }

            #htres {
                margin: 5% auto;
                text-align: center;
                font-size: x-large;
                /* width: 98%; */
            }

            #boton1 {
                margin: 3% 0%;
                color: #FFFFFF;
                background-color: #5BC500;
                border: none;
                padding: 6% 6%;
                font-size: medium;
                width: 100%;
            }

            #img1 {
                width: 60%;
                margin-top: -18%;
                margin-left: 13%;
                /* height: 15%; */
            }

            #uno {
                height: auto;
                background-color: #FFFFFF;
                width: 90% !important;
                margin: 25% auto 0 auto;
                border: 1px solid #D0D2D3;
            }

            #noSee {

            }
        }
    </style>
   </head>
<body>
{{inlinecss file="css/email-inline.css"}}
<div style="background: url('{{store url=""}}media/wysiwyg/mail/bg.jpg');
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: inherit;
        padding-bottom: 1%;
        font-family: Arial;
        font-style: inherit;
        font-weight: normal;
        line-height: initial;
       /*font-size: 0;*/
       min-height: auto;
       min-width: auto; position: absolute; width:100%; padding-top: 1px;">


    <img alt="" src="{{store url=""}}media/wysiwyg/mail/Logo.png" id="img1" style="  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;">

    <div id="uno" style="height: auto;
        background-color: #FFFFFF;
        width: 60%;
        margin: 5% auto 0 auto;
        border: 1px solid #D0D2D3;">
    

        <!--<h1 id="noSee">
            ¿No puedes ver bien este correo? haz click aquí
        </h1>-->

     <h1 id="huno">
            ¡Hola {{var name}} tu compra llegará pronto!
        </h1>

        <h2 id="hdos">
            Hemos enviado tu pedido al domicilio que seleccionaste, revisa los requisitos para recibirlo:
        </h2>

        <p id="puno">
            Tu número de orden es: {{var increment_id}}.<br><br>

            <b>DOMICILIO</b>:<br><br>   
            Ten a la mano una copia de tu identificación para recibir el pedido.<br><br>

            <b>MÉTODO DE PAGO</b>:<br><br>   
            Forma de pago: {{var mpCardType|raw}}
            <br/>Tarjeta: {{var mpCard|raw}} {{var mpCardBrand|raw}} <br><br>  
            {{var msiMercadopago|raw}} 
            
            <b>CENTRO DE ATENCIÓN A CLIENTE</b>:<br><br>

            · Si solicitaste recogerlo en CAC recuerda que sólo tienes 10 días para pasar por él o tu orden será
            cancelada.<br><br>
            · Ten a la mano tu identificación oficial (IFE/INE, pasaporte o cédula) para recibir el pedido.<br><br>
            · En caso de que alguien más lo recoja, necesitará una carta poder simple con la copia de tu
            identificación oficial (IFE/INE, pasaporte o cédula) y una copia de su identificación oficial.<br><br>

            <b>DEVOLUCIONES</b>:<br><br>
            Recuerda que cualquier devolución se debe realizar con caja cerrada, sellos intactos y hasta 5 días después
            de recibir tu compra.<br><br>

            <a href="{{store url=""}}seguimiento-order/index/index/order_id/{{var order_number}}">
            <button id="boton1">
                Sigue tu compra
            </button>
            </a>
        </p>
    </div>
    <!--<div id="divdos">
        <div id="div40">
            <img src="/media/wysiwyg/mail/card.png"
                alt="" id="img2">
        </div>
        <div id="div60">
            <h2 id="htres">
                ¿Ya recibiste tu nueva SIM?
            </h2>
            <p id="hcuatro">
                Te enviamos una Nueva SIM por si la actual no es compatible con tu smartphone nuevo. <br>
                Si necesitas cambiar tu línea a la nueva SIM haz click <a>aquí</a>
            </p>
        </div>
    </div>-->

    <h3 id="htresuno">
        Si tienes dudas respecto a tu pedido, escríbenos a comprasonline.mx@telefonica.com
    </h3>

    <div id="divcinco">
        <div id="divauto">
            <a href="https://twitter.com/MovistarMX" target="_blank"><img src="{{store url=""}}media/wysiwyg/mail/twitter.png" alt="" class="withpad"></a>
            <a href="https://www.facebook.com/movistarmx" target="_blank"><img src="{{store url=""}}media/wysiwyg/mail/facebook.png"  alt="" class="withpad"></a>
        </div>
    </div>

    <h3 id="lastdiv">
        © 2019 Movistar Derechos<br>
        Reservados. Consulte legales.<br>
        No necesita responder este correo
    </h3>
</div>
</body>

</html>