<!--@subject Tu cambio de compa&ntilde;ia se ha realizado con &eacute;xito @-->
<!--@vars {
"var name":"Usuario"
} @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        {{var template_styles|raw}}
        {{css file="css/email.css"}}
        body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
            font-family: Arial, Verdana, sans-serif;
            background-color: #fafafa
        }

        img {
            height: auto;
            max-width: none !important;
        }

        .content {
            width: 100%;
            /* max-width: 600px;*/
        }

        .header {
            padding: 40px 30px 20px 30px;
        }

        .innerpadding {
            padding: 30px 30px 0px 30px;
        }

        .subhead {
            font-size: 15px;
            color: #ffffff;
            font-family: sans-serif;
            letter-spacing: 10px;
        }

        .h1,
        .h2,
        .bodycopy {
            color: #153643;
            font-family: sans-serif;
        }

        .h1 {
            font-size: 33px;
            line-height: 38px;
            color: #7C888D !important;
            font-weight: bold;
        }

        .h2 {
            padding: 0 0 15px 0;
            text-align: center;
            font-size: 24px;
            color: #7C888D !important;
            line-height: 1.5;
            font-weight: bold;
            color: #7C888D !important;
        }

        .h3 {
            padding: 0 0 15px 0;
            text-align: center;
            font-size: 16px;
            color: #7C888D !important;
        }

        .bodycopy {
            font-size: 16px;
            line-height: 22px;
            text-align: justify;
            color: #7C888D !important;
        }

        span {
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 13px;
            color: #7C888D !important;
        }

        .button {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            padding: 0 30px 0 30px;
            margin: 5% auto 0;
            color: #FFFFFF !important;
            background-color: #5BC500;
            border: none;
            height: 50px;
            border-radius: 5px;
        }

        .button a {
            color: #ffffff !important;
            text-decoration: none;
        }

        .footer {
            padding: 20px 30px 15px 30px;
        }

        .footercopy {
            font-size: 12px;
            color: #7C888D !important;
            text-align: center;
            color: #A7AFB3;
            font-size: 14px;
            margin-top: 20px;
            margin: auto;
            padding: 5px 2%;
            word-break: break-word;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .footercopy2 {
            font-family: sans-serif;
            font-size: 10px;
            color: #7C888D !important;
        }

        .footercopy a {
            color: #7C888D !important;
            text-decoration: underline;
        }

        table {
            border-collapse: collapse;
            margin: 0;
        }


        @media (min-width: 1284px) {
            .col380P {
                max-width: 50% !important;
            }

        }


        @media (max-width: 1200px) and (min-width: 901px) {
            .tableMargin {
                width: 10% !important
            }

        }


        @media (max-width: 900px) {
            .newTable {
                width: 100% !important
            }

            .newTable img {
                width: 60% !important
            }

            .col380P {
                max-width: 100% !important
            }

            .imgCentered {
                text-align: center
            }

            .tableMargin {
                width: 5% !important
            }

            .tramp{width: 5% !important}
        }

        @media only screen and (max-width: 550px),
        screen and (max-device-width: 550px) {
            body[yahoo] .hide {
                display: none !important;
            }

            body[yahoo] .buttonwrapper {
                background-color: transparent !important;
            }

            body[yahoo] .button {
                padding: 0px !important;
            }

            body[yahoo] .button a {
                padding: 15px 15px 13px !important;
            }

            body[yahoo] .unsubscribe {
                display: block;
                margin-top: 20px;
                padding: 10px 50px;
                background: #2f3942;
                border-radius: 5px;
                text-decoration: none !important;
                font-weight: bold;
            }

            .newTable {
                width: 100% !important
            }

            .newTable img {
                width: 60% !important
            }

            .tableMargin {
                width: 5% !important
            }
        }
    </style>
</head>
{{inlinecss file="css/email-inline.css"}}
<body yahoo bgcolor="#D0D2D3">
<table align="center" width="100%" bgcolor="#fafafa">

    <tr>
        <td rowspan="2" width="10%" class="tramp" bgcolor="00A9E0"></td>
        <td height="120px" width="40%" bgcolor="00A9E0" style="text-align: center;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" class="subhead" style="padding: 20px 0 20px 3px;">
                        <img alt="" src="{{store url=""}}media/wysiwyg/mail/Logo.png"
                        id="img1" style="width: 225px;">
                    </td>
                </tr>
            </table>
        </td>
        <td rowspan="2" width="10%" class="tramp" bgcolor="00A9E0"></td>
    </tr>
    <tr>
        <td class="innerpadding borderbottom" bgcolor="#ffffff">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="h2">
                        ¡Hola {{var name}} bienvenido a Movistar!
                    </td>
                </tr>
                <tr>
                    <td class="h3">
                        Tu cambio de compañía se ha realizado con éxito
                    </td>
                </tr>
                <tr>
                    <td class="h3">
                        Tu número de orden es: {{var order_number}}<br/>
                        Tu número de folio de portabilidad es: {{var folio_portabilidad}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr height="100px">
        <td></td>
        <td bgcolor="#ffffff" style="text-align: center;" class="innerpadding borderbottom">
            <table width="115" align="left" border="0" cellpadding="0" cellspacing="0">
            </table>
            <table class="col380" align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="bodycopy">
                                    Podrás comenzar a disfrutar de tus beneficios a partir de la siguiente fecha {{var fecha_portabilidad}}
                                </td>
                            </tr>
                            <tr>
                                <td class="bodycopy">
                                    DOMICILIO<br><br>
                                    Cuenta con una copia de tu identificación para recibir tu SIM.
                                </td>
                            </tr>
                            <tr>
                                <td class="bodycopy">
                                    CENTRO DE ATENCIÓN A CLIENTE<br><br>
                                    -Si solicitaste recogerlo en CAC recuerda que solo tienes 10 días para pasar por el o tu órden será cancelada.<br/>
                                    -Cuenta con tu INE, pasaporte o cédula para recibir tu SIM.<br/>
                                    -Si alguien mas recibe tu SIM, es importante que cuente con:<br/>
                                    Copia de tu INE vigente, carta poder, copia de la INE del apoderado.
                                </td>
                            </tr>
                            <tr>
                                <td class="h2">
                                    Gracias por preferir estar con nosotros
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>

    <tr height="100px">
        <td></td>
        <td bgcolor="#fafafa" style="text-align: center;" class="innerpadding borderbottom">

            <!--[if mso]>
            <table width="115" align="center" border="0" cellpadding="0" cellspacing="0" class="newTable">
                <tr>
                    <td style="padding: 0 20px 20px 0;" class="imgCentered">
                        <img class="fix"
                             src="{{store url=""}}media/wysiwyg/mail/card.png"
                        width="210" border=" 0" alt="" />
                    </td>
                </tr>
            </table>
            <![endif]-->
            <!--[if !mso]> <!---->
            <table width="115" align="left" border="0" cellpadding="0" cellspacing="0" class="newTable">
                <tr>
                    <td style="padding: 0 20px 20px 0;" class="imgCentered">
                        <img class="fix"
                             src="{{store url=""}}media/wysiwyg/mail/card.png"
                        width="160" border=" 0" alt="" />
                    </td>
                </tr>
            </table>
            <!-- <![endif]-->


            <table class="col380 col380P" align="left" border="0" cellpadding="0" cellspacing="0"
                   style="width: 100%; max-width: 40%;">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="bodycopy">
                                    <h3 class="h2" style="margin:0">¿Ya recibiste tu nueva SIM?</h3><br>
                                    Te enviamos una Nueva SIM por si la actual no es compatible con tu smartphone
                                    nuevo. <br>
                                    Si necesitas cambiar tu línea a la nueva SIM haz click <a>aquí</a>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" height="15">
                                    <br>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr height="30px">
        <td></td>
        <td bgcolor="#fff" style="text-align: center;" class="footer">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" class="footercopy">
                        Si tienes dudas respecto a tu pedido, escríbenos a <a
                            href="mailto:comprasonline.mx@telefonica.com">
                        <font>comprasonline.mx@telefonica.com</font>
                    </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 20px 0 0 0;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                    <a href="https://twitter.com/MovistarMX" target="_blank">
                                        <img src="{{store url=""}}media/wysiwyg/mail/twitter.png"
                                        width="37" height="37" alt="Facebook" border="0" />
                                    </a>
                                </td>
                                <td width="37" style="text-align: center; padding: 0 10px 0 10px;">
                                    <a href="https://www.facebook.com/movistarmx" target="_blank">
                                        <img src="{{store url=""}}media/wysiwyg/mail/facebook.png"
                                        width="37" height="37" alt="Twitter" border="0" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="footercopy2">
                        <br>
                        © 2019 Movistar Derechos
                        Reservados. Consulte legales.<br>
                        No necesita responder este correo
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>

    <tr>
        <td height="30px"></td>
    </tr>

</table>

</td>
<td></td>
</tr>

</table>
</body>
</html>