<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
?>

    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>"  width="60%">
        <p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><?= $block->escapeHtml($_item->getName()) ?></p>
        <?php if ($block->getItemOptions()): ?>
            <dl class="item-options">
            <?php foreach ($block->getItemOptions() as $option): ?>
                <dt><p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong><em><?= /* @escapeNotVerified */  $option['label'] ?></em></strong></p></dt>
                <dd>
                    <p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><?= /* @escapeNotVerified */  nl2br($option['value']) ?></p>
                </dd>
            <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><?= $addInfoBlock->setItem($_item)->toHtml() ?></p>
        <?php endif; ?>
        <p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><?= $block->escapeHtml($_item->getDescription()) ?></p>
    </td>
    <td class="item-qty"  width="20%"><p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></p></td>
    <td class="item-price"  width="20%">
        <p style="text-indent:15px;text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><?= /* @escapeNotVerified */  $block->getItemPrice($_item) ?></p>
    </td>
</tr>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
<tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                    <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
