<?php 
    $blockProd = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Index');
    $catalog_product = $this->getUrl('pub/media/catalog/');
    //$link_media = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
    //$link_media = $link_media."/recortes/";
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";
    $idproduct = $blockProd->getProductId();
    $display = true;
    $attrImg = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
    $promocion = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
    // Datos de la orden que biene del detalle
    if($idproduct>0||$idproduct!='') {
        $data = $blockProd->getProduct();
        $imagen = $catalog_product . 'product' . $data['image'];
    }else{
        $display = false;
        $data['entity_id'] = 0;
        $data['name'] = '';
        $imagen = '';
    }
    $dataPlanesAttaker = $blockProd->planesAttacker();
    if(!empty($dataPlanesAttaker)){
        $atrow_id = $dataPlanesAttaker['row_id'];
        $ayentity_id = $dataPlanesAttaker['entity_id'];
        $attype_id = $dataPlanesAttaker['type_id'];
        $atsku = $dataPlanesAttaker['sku'];
        $atname = $dataPlanesAttaker['name'];
        $atimage = $dataPlanesAttaker['image'];
        $aturl_key = $dataPlanesAttaker['url_key'];
        $atvigencia_pla = $dataPlanesAttaker['vigencia_pla'];
        $atminutos_sms_plan = $dataPlanesAttaker['minutos_sms_plan'];
        $atmovistar_cloud_plan = $dataPlanesAttaker['movistar_cloud_plan'];
        $roaming_internacional = $dataPlanesAttaker['roaming_internacional']; 
        $atplan_asociado = $dataPlanesAttaker['plan_asociado']; 
        $atstatus = $dataPlanesAttaker['status'];
        $atvisibility = $dataPlanesAttaker['visibility']; 
        $atplan_asociado = $dataPlanesAttaker['plan_asociado'];
        $atplan_control = $dataPlanesAttaker['plan_control'];
        $atredes_sociales_ilimitadas = $dataPlanesAttaker['redes_sociales_ilimitadas'];
        $atminustos_mexico_eu_y_canada_il = $dataPlanesAttaker['minustos_mexico_eu_y_canada_il']; 
        $atattacker = $dataPlanesAttaker['attacker']; 
        $atdescription = $dataPlanesAttaker['description'];
        $itemDescriptionInfoat = explode(' ', $atdescription);
        $itemDescriptionInfoat = str_replace ('<p>', '', $itemDescriptionInfoat);
        $itemDescriptionInfoat = str_replace ('</p>', '', $itemDescriptionInfoat);
        $firstat = $itemDescriptionInfoat[0].' '.$itemDescriptionInfoat[1];
        $secondat = $itemDescriptionInfoat[2].' '.$itemDescriptionInfoat[3];
        $atprice = intval($dataPlanesAttaker['price']);
        $ataker_tyc_url = $dataPlanesAttaker['plan_tyc_url'];
        $imgPromo = $attrImg->atributeSet($dataPlanesAttaker['row_id']);
        $texto = $promocion->atributeSetTexto($dataPlanesAttaker['row_id']);
        $terminos_y_condiciones_plan = $dataPlanesAttaker['html_term_cond'];
    }
?>
<div class="layout">
    <form class="form-gral" id="formPlanes" action="<?=$this->getUrl('pos-car/index/addcart')?>" method="post">
        <input type="hidden" name="entity_id" id="entity_id" value="<?=$data['entity_id']?>">
        <input type="hidden" name="vitrina_id" id="vitrina_id" value="<?= $block->getRequest()->getParam('vitrina'); ?>">
        <input type="hidden" name="plan_id" id="plan_id" value="">
        <input type="hidden" name="plan_parent" id="plan_parent" value="">
        <?php if($display){ ?>
        <fieldset class="layout_inner steps">
            <legend class="steps__legend">
                <span class="steps__head">
                    <small class="head__title">Tenemos la mejor oferta para tu equipo</small>
                </span>
            </legend>
            <?php if($display){ ?>
            <div class="steps__selected">
                <figure class="steps__fig">
                    <img class="steps__img" src="<?=$imagen?>" alt="Iphone X">
                    <figcaption class="steps__caption"><?=$data['name']?></figcaption>
                </figure>
                <a class="steps__link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Ver todos los equipos">
                    Cambiar equipo
                </a>
            </div>
            <?php }else{ ?>
                <legend class="steps__legend">
                    <span class="steps__head">
                        <small class="head__title">Tu equipo</small>
                    </span>
                </legend>
                <div class="steps__selected">
                    <figure class="steps__fig">
                        <img class="steps__img steps__img_none" src="<?= $link_media ?>sin-terminal.png" alt="Iphone X" longdesc="<?= $link_media ?>sin-terminal.png">
                        <figcaption class="steps__caption">Tu propio equipo</figcaption>
                    </figure>
                    <a class="steps__link link__brand" href="<?=$this->getUrl('telefonos.html')?>" title="Ver todos los equipos">Cambiar equipo</a>
                </div>
            <?php } ?>

        </fieldset>
        <?php }else{ ?>
            <br>
        <?php }

        if(!empty($dataPlanesAttaker)){
        ?>
            <!-- Hotfix: INTPOSP-429 Se inserta el <div class="module__inner"> -->
            <div class="module inner" id="oferta-attacker" data-plan="<?= $ayentity_id ?>">
                <div class="module__inner">
                    <header class="module__header" id="gotoAttaker">
                        <p class="module__subtitle">Nuevo</p>
                        <p class="module__title"><?= $atname ?></p>
                    </header>
                    <div class="module__cont" >
                        <div class="module__grid">
                            <div class="module__body body_promo_plan">
                                <div class="module__slot module__border">
                                    <!--
                                    <div class="module__slot-grid module_promo_slot">
                                        <p class="module__slot-item module__slot-item_border module__txt" style="border:none;"><?= $firstat .' '.$secondat?></p>                              
                                        <p class="module__slot-item module__txt"><= $secondat ?></p>                               
                                    </div>
                                    -->
                                        <p class="module__slot-item module__slot-item_border module__txt" style="border:none;"><?= $firstat .' '.$secondat?></p>                              
                                </div>
                                <div class="module__slot module__border">
                                    <p class="module__txt">Minutos / SMS ilimitados</p><small class="module__txt module__txt_small">(En México, Estados Unidos y Canadá)</small>
                                </div>
                                <!--div class="module__slot module__border">
                                    <p class="card__txt">Redes sociales ilimitadas*</p>
                                    <div class="module__grid-icons">
                                        <span class="module__icon icon-twitter">Twitter</span>
                                        <span class="module__icon icon-facebook1">Facebook</span>
                                        <span class="module__icon icon-instagram1">Instagram</span>
                                        <span class="module__icon icon-whatsapp1">WhatsApp</span>
                                    </div>
                                </div-->
                                <?php if($atmovistar_cloud_plan!=''):?>
                                <div class="module__slot module__border">
                                    <p class="module__txt module__txt_small"><?= $atmovistar_cloud_plan ?></p>
                                </div>
                                <?php endif; ?>
                                <?php if($roaming_internacional!=''):?>
                                <div class="module__slot module__border">
                                    <p class="module__txt module__txt_small"><?= $roaming_internacional ?></p>
                                    <small class="module__txt module__txt_small">(Estados Unidos, Puerto Rico y Canadá)</small>
                                </div>
                                <?php endif; ?>
                                <div class="module__slot">
                                    <p class="module__txt module__txt_through">Antes <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(799,true,false); ?></p>
                                    <p class="module__noted"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($atprice,true,false); ?> / mes</p>
                                </div>

                            </div>
                            <!--
                            <div class="module__info">
                                    <?php if($imgPromo!=''):?>
                                    <div class="grid_tags img2_promo ">
                                        <div id="" class="texto_promo"><?=$texto?></div>
                                        <img  class="img-k" src="<?=$imgPromo?>"/>
                                    </div>
                                    <?php endif;?>
                            </div>
                            -->
                            
                            <div class="module__info">
                                <div class="module__shape ">
                                <?php if($imgPromo!=''):?>
                                    <div class=" img2_promo ">
                                        <div id="" class="texto_promo_plan"><?=$texto?></div>
                                        <img  class="img-k" src="<?=$imgPromo?>"/>
                                    </div>
                                    <?php endif;?>
                                </div>
                            </div>
                        </div>
                        <!-- Hotfix: INTPOSP-431 Se reorganiza el bloque segùn maqueta--> 
                        <footer class="module__footer">
                            <div class="module__slot" id="attackerValid" style="display: none;">
                                <p class="module__alert">¡Felicidades! Nuestro plan ilimitado está disponible en tu zona.</p>
                                
                            
                                <!-- Hotfix: INTPOSP-431 Comienza el bloque desarticulado--> 
                                <div id="controlat" style="display:none;">
                                    <div class="card__row_inline">
                                        <input class="form__check i-check-planes" type="checkbox" id="checkplan<?= $atplan_asociado ?>" name="checkplanes" title="<?= $atplan_asociado ?>">
                                        <label class="form__label_check i-check i-check-planes value-plan-id" for="checkplan<?= $atplan_asociado ?>" title="<?= $atplan_asociado ?>" data-planatc="<?= $atplan_asociado ?>">
                                            <?php
                                                if ($atplan_control == 261) {
                                                    echo "Plan Control";
                                                }
                                                if ($atplan_control == 230) {
                                                    echo "+" . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(40,true,false) . " / Plan control";
                                                }
                                                if ($atplan_control == 233) {
                                                    echo "+" . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(20,true,false) . " / Plan control";
                                                }
                                            ?>
                                        </label>
                                        <div class="tool-box">
                                            <button class="btn-i i-question-ball js-btnTooltipData nc-color" type="button" style="display: inline-block;">
                                                <?= __('Pregunta') ?>
                                            </button>
                                            <div class="tool i-tooltip js-tooltipData js-tooltipData-close">
                                                <p class="tool__txt">
                                                    <?= __('Al seleccionar un plan controlado, evitas cargos excedentes en tu factura. Obtienes los beneficios mensuales del plan que elegiste y cuando estos beneficios se agoten,  deberás realizar una recarga o contratar un paquete adicional.') ?>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--FIN Hotfix: INTPOSP-431 FINALIZA el bloque desarticulado-->
                                
                                <p class="card__success i-check">Plan seleccionado</p>
                            </div>
                            <div class="module__slot" id="sectionvalidate">
                                <label class="form__label" for="valor-attacker">Verifica la disponibilidad en tu zona</label>
                                <div class="form-inline">
                                    <input class="form__input" type="text" placeholder="Código postal" id="valor-attacker" maxlength="5">
                                    <button class="btn" type="button" id="valida-attacker">Verificar</button>
                                </div>
                                <!-- <a class="steps__link link__brand" id="wer" href="<?= ($display) ? 'https://www.movistar.com.mx/promociones/plan-con-equipo/' : 'https://www.movistar.com.mx/promociones/plan-sin-equipo' ?>" title="No deseo este plan" style="text-align: center;margin: 0 auto;display: block;">Ver otros planes</a> -->
                                <a class="steps__link link__brand" id="noAttaker" href="#planesHidden" title="No deseo este plan" style="text-align: center;margin: 0 auto;display: block;">Ver otros planes</a>
                            </div>
                        </footer>
                        <!-- fIN Hotfix: INTPOSP-431 Se reorganiza el bloque segùn maqueta--> 
                    </div>
                    
                    <!-- Hotfix: INTPOSP-429 Se quita el borde superior de caja--> 
                    <?php if ($ataker_tyc_url) : ?>
                    <div class="attackFix">
                        <p style="text-align: center; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;" data-ambiente="Prod"><a href="<?php echo $ataker_tyc_url; ?>" target="_blank">Términos y Condiciones</a></p>
                    </div>
                    <?php endif; ?>
                    <br>
                    <div class="attackFix">
                        <?php echo $terminos_y_condiciones_plan; ?>
                    </div>
                </div>
            </div>
        <?php }else{ ?>
            <input type="hidden" id="ilimitadoPlan" value="true">
            <div class="module inner" id="oferta-attacker">
            </div>
        <?php } ?>


        <style type="text/css">
            button.i-question-ball:hover{
                background-color: transparent;
            }
            button.i-question-ball:active{
                box-shadow:none;
            }
        </style>

        <script type="text/javascript">
            require([
                'jquery'
            ], function (
                $
            ) {

                $(document).ready(function(){

                    $('#valor-attacker').on('input', function (e) {
                        // validación anterior de su cambio a solo numero era: [ 0-9áéíóúüñ]
                        if (!/^[0-9]*$/i.test(this.value)) {
                            this.value = this.value.replace(/[^0-9]+/ig, "");
                        }
                    });

                    $('#valor-attacker').on('keydown', function(e) {
                        if (e.which == 13) {
                            e.preventDefault();
                            $('#valida-attacker').trigger('click');
                        }
                    });

                    $('#valida-attacker').click(function(){
                        var cp = $('#valor-attacker').val();
                        $.ajax({
                            url: "<?php echo $this->getUrl() . 'pos-vitrina-terminal-02/index/Zipcode'; ?>",
                            type: 'POST',
                            showLoader: true,
                            data : {cp:cp},
                            success: function (res) {                                
                                if (res == 1) {
                                    $('#hotspot-service').show();
                                    $('#sectionvalidate').css('display','none');
                                    $('#attackerValid').css('display','block');
                                    $('#controlat').css('display','block');
                                    //busco valor plan
                                    var planat = $('#oferta-attacker').data('plan');
                                    $('#plan_id').val(planat);
                                    $('#plan_parent').val(planat);
                                    scrollToAnimated('.layout_bg-col', 1500);
                                }else{
                                   $('#oferta-attacker').css('display','none');
                                   $('#planeshidden').css('opacity',1);
                                   $('#planeshidden').css('height','auto');
                                }
                            }
                        });
                    });

                    $(document).on("click", "#reintenta-cp", function(e) {
                        //e.preventDefault();
                        $('#oferta-attacker').show('slow');
                        $('#planeshidden').css('opacity',0);
                        $('#planeshidden').css('height','1px');
                    });

                    $(document).on("click", "#noAttaker", function(e) {
                        e.preventDefault();
                        $('#oferta-attacker').hide( "slow", function() {
                            $('#hideinfo').css('display','none');
                            $('#planeshidden').css('opacity',1);
                            $('#planeshidden').css('height','auto');
                            //window.location.hash = "#planeshidden";
                            $('html, body').animate({
                                scrollTop: $('#planeshidden').offset().top
                            }, 500);
                        });
                    }); 

                    $('.slider__cards_item').each(function(){
                        var valorActive = $(this).find('.card_active').find('footer button').attr("title");
                        if(valorActive!=undefined){
                            $('#plan_id').val(valorActive);
                        }
                    });

                    $(document).on("click","#submitplanes",function(e) {
                        e.preventDefault();
                        if ($('#plan_id').val() == "") {
                            return false;
                        }else{
                            $('#formPlanes').submit();
                        }
                    });
                    

                    /*$('.js-cardCheckBtn').each(function(){
                        $(this).bind('click', function(){
                            var idProduct = $(this).attr("title");
                            $('#plan_id').val(idProduct);
                        });
                    });*/

                    $(document).on("click",".value-plan-id",function() {
                       var idProduct = $(this).attr("title");
                       var linkShow = $(this).closest('.card__wrap');
                       //console.log($('input[name=checkplanes]').attr("checked"));
                       var checkStatus = $('input[name=checkplanes]').is(':checked');
                       if ( checkStatus  == false){
                            linkShow.find('.tc_control').css('display','none');
                            linkShow.find('.tc_plan').css('display','block');
                            $('#plan_id').val($('#plan_parent').val()); 
                            $(this).parent().parent().parent().find('.js-cardCheckBtn').trigger('click');
                            return true;
                       }else{
                            linkShow.find('.tc_control').css('display','block');
                            linkShow.find('.tc_plan').css('display','none');
                       }
                       $('#plan_id').val(idProduct);
                    });

                    $(document).on("click",".value-plan-id-button",function() {
                       var idProduct = $(this).attr("title");
                       $('#plan_id').val(idProduct);
                       $('#plan_parent').val(idProduct);
                       scrollToAnimated('.layout_bg-col', 1500);
                    });


                    $('.card__row_inline').each(function(){
                        $(this).find('.form__check').bind('click', function(){
                            var valorActive = $(this).attr("title");
                            $('#plan_id').val(valorActive);
                        });
                    });

                    var planes = $("#ilimitadoPlan").val();

                    if(planes == "true"){
                        $('#oferta-attacker').hide("slow", function() {                            
                            $('#hideinfo').css('display', 'none');                            
                            $('#planeshidden').css('opacity', 1);                            
                            $('#planeshidden').css('height', 'auto');                            
                            //window.location.hash = "#planeshidden";
                            $('html, body').animate({
                                scrollTop: $('#planeshidden').offset().top
                            }, 500);                            
                        });
                    } 
                                        
                });

                
                /*
                $(document).on('click','.grid__slot_no-edge .grid__btn',function() {
                    if ($(this).attr('url') != 'false') {
                        var param = 'ajax=1';
                        $.ajax({
                            showLoader: true,
                            url: $(this).attr('url'),
                            data: param,
                            type: "POST",
                            dataType: 'json',
                            success: function (data) {
                                window.location.href = 'pos-vitrina-terminal-comprar.html';
                            },
                            failure: function (errMsg) {
                                window.location.href = 'pos-vitrina-terminal-comprar.html';
                            }
                        });

                        $(document).ajaxComplete(function (event, xhr, settings) {
                            if (settings.url.indexOf("customer/section/load/?sections=cart") > 0) {
                                window.location.href = 'pos-vitrina-terminal-comprar.html';
                            }
                        });

                        return false;
                    }
                });
                */

                /*
                * Scrolls to and animate
                */
                function scrollToAnimated(destinationId, delay) {
                    setTimeout(function () {
                        var dest = $(destinationId).offset().top;
                        $("html, body").animate({scrollTop: dest});
                    }, delay)
                }
            });
        </script>