<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
$showMessage = false;
?>
<?php if ($_entity = $block->getEntity()): ?>
    <div id="comments_block" class="edit-order-comments">
        <div class="order-history-block">
            <div class="admin__field field-row">
                <label class="admin__field-label"
                       for="history_comment"><?= /* @escapeNotVerified */ __('Comment Text') ?></label>
                <div class="admin__field-control">
                    <textarea name="comment[comment]"
                              class="admin__control-textarea"
                              rows="3"
                              cols="5"
                              id="history_comment"></textarea>
                </div>
            </div>
            <div class="admin__field">
                <div class="order-history-comments-options">
                    <?php if ($block->canSendCommentEmail()): ?>
                        <div class="admin__field admin__field-option">
                            <input name="comment[is_customer_notified]"
                                   type="checkbox"
                                   class="admin__control-checkbox"
                                   id="history_notify"
                                   value="1" />
                            <label class="admin__field-label"
                                   for="history_notify"><?= /* @escapeNotVerified */ __('Notify Customer by Email') ?></label>
                        </div>
                    <?php endif; ?>
                    <div class="admin__field admin__field-option">
                        <input name="comment[is_visible_on_front]"
                               type="checkbox"
                               id="history_visible"
                               class="admin__control-checkbox"
                               value="1" />
                        <label class="admin__field-label"
                               for="history_visible"> <?= /* @escapeNotVerified */ __('Visible on Storefront') ?></label>
                    </div>
                    <?php if ($_entity->getEntityType() == 'shipment'): ?>

                        <?php
                        $showMessage = true;
                        /* Comment types */
                        $commentTypes = [
                            'Type General' => 'General',
                            'Type Pickup' => 'Pickup',
                            'Type Delivery' => 'Delivery'
                        ];

                        /* no Picking & Delivery comments if no tracking info */
                        $_currentOrder = $_entity->getOrder();
                        if (!empty($_currentOrder)) {
                            $tracksCollection = $_currentOrder->getTracksCollection();
                            if (sizeof($tracksCollection) < 1) {
                                unset($commentTypes['Type Pickup']);
                                unset($commentTypes['Type Delivery']);
                                $showMessage = false;
                            }
                        }

                        /* We only need 1 type/comment except type general */
                        foreach ($_entity->getCommentsCollection(true) as $_comment) {
                            if ($_comment->getCommentType() != null && $_comment->getCommentType() != 'General' && in_array($_comment->getCommentType(), $commentTypes)
                            ) {
                                unset($commentTypes['Type ' . $_comment->getCommentType()]);
                            }
                        }
                        ?>

                        <?php if (!empty($commentTypes)): ?>
                            <div class="admin__field admin__field-option">
                                <label class="admin__field-label"
                                       for="comment_type"> <?= /* @escapeNotVerified */ __('Comment Type') ?></label>
                                <select name="comment[comment_type]" id="comment_type" class="admin__control-select" >
            <?php foreach ($commentTypes as $_commentType => $_v): ?>
                                        <option value="<?= $_v ?>"><?= $_v ?></option>
            <?php endforeach; ?>
                                </select>
                            </div>
                                <?php endif; ?>
                            <?php endif; ?>
                </div>
                    <?php
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $message = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('entrepids_shipments/message/delete');
                    $active = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('entrepids_shipments/message/active');

                    if ($showMessage && $active):
                        ?>
                    <div class="message message-warning">
                    <?php
                    if (empty($message)) {
                        $message = 'Warning! Before picking this shipment, consider that it contains more than 1 item to be sent, so you should eliminate this shipment and generate another one with the number of suitable items.';
                    }
                    echo $message;
                    ?>
                    </div>
                    <?php endif; ?>
                <div class="order-history-comments-actions">
                <?= $block->getChildHtml('submit_button') ?>
                </div>
            </div>
        </div>

        <ul class="note-list">
    <?php foreach ($_entity->getCommentsCollection(true) as $_comment): ?>
                <li>
                    <span class="note-list-date"><?= /* @noEscape */ $block->formatDate($_comment->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></span>
                    <span class="note-list-time"><?= /* @noEscape */ $block->formatTime($_comment->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></span>
                    <span class="note-list-customer">
        <?= /* @escapeNotVerified */ __('Customer') ?>
        <?php if ($_comment->getIsCustomerNotified()): ?>
                            <span class="note-list-customer-notified"><?= /* @escapeNotVerified */ __('Notified') ?></span>
                        <?php else: ?>
                            <span class="note-list-customer-not-notified"><?= /* @escapeNotVerified */ __('Not Notified') ?></span>
                        <?php endif; ?>
                    </span>
                        <?php if ($_comment->getCommentType() != NULL): ?>
                        <span class="note-list-customer">Type <?php echo $_comment->getCommentType() ?></span>
                    <?php endif; ?>
                    <div class="note-list-comment"><?= $block->escapeHtml($_comment->getComment(), ['b', 'br', 'strong', 'i', 'u', 'a']) ?></div>
                </li>
                <?php endforeach; ?>
        </ul>
    </div>
    <script>

        require(['prototype'], function () {

            submitComment = function () {
                submitAndReloadArea($('comments_block').parentNode, '<?= /* @escapeNotVerified */ $block->getSubmitUrl() ?>');
            }

            reloadComments = function () {
                //console.log('reloadComments fired');
                preparedForRefresh = false;
                cycles = 200;
                readyToRefresh = setInterval(function () {
                    var ajaxActiveRequest = Ajax.activeRequestCount;
                    if ((ajaxActiveRequest === 0 && preparedForRefresh) || cycles === 0) {
                        //console.log('submit and realod fired');
                        clearInterval(readyToRefresh);
                        submitAndReloadArea($('comments_block').parentNode, '<?= /* @escapeNotVerified */ $block->getReloadUrl() ?>');
                        shipmentTrackingInfo = document.querySelector("#shipment_tracking_info");
                        sti_button = shipmentTrackingInfo.querySelectorAll("button");
                        if (sti_button.length) {
                            sti_button.forEach(function (item) {
                                item.observe('click', reloadComments);
                            });
                        }
                    } else if (ajaxActiveRequest > 0) {
                        //console.log('preparedForRefresh fired');
                        preparedForRefresh = true;
                    }
                    //console.log(cycles);
                    cycles--;
                }, 100);
                //submitAndReloadArea($('comments_block').parentNode, '<?= /* @escapeNotVerified */ $block->getReloadUrl() ?>');
            }

            if ($('submit_comment_button')) {
                $('submit_comment_button').observe('click', submitComment);
            }
            document.observe('dom:loaded', function () {
                shipmentTrackingInfo = document.querySelector("#shipment_tracking_info");
                sti_button = shipmentTrackingInfo.querySelectorAll("button");
                if (sti_button.length) {
                    sti_button.forEach(function (item) {
                        item.observe('click', reloadComments);
                    });
                }
            });
        });
    </script>
<?php endif; ?>
