<!--@subject Job {{var job}} {{var status}}  @-->
  
<!-- here $myvar1 , $myvar2, $myvar3, $myvar4, $myvar5, $myvar6 are variables in which we asssign values when we use this template for send mail-->
 
<!-- you can Modify content of template according to your requirement-->

<p>
<b>Job:</b> {{var job}} <br>
<b>Status:</b> {{var status}}<br>
<b>Init:</b> {{var timeStart}}<br>   

{{if finish}}
<b>Finish:</b> {{var timeEnd}}<br> 
<b>Duration:</b> {{var duration}}<br> 
{{/if}}
{{if errors}}
<b>Error:</b> {{var errors}}<br>
{{/if}}
</p>
 
 
