//- PREPAGO-97: Resumen de compra
//  PREPAGO : Aside table pos-car
.vsm-data__aside {
  .data__title {
    font-size: 24px;
  }

  .aside-table__heading {
    .aside-table__cell {
      color: inherit;
      font-weight: bold;
      font-size: 12px;
    }
  }
  
  .aside-table__cell {
    font-family: $f-bold;
    font-size: 16px;

    &:not(first-child) {
      color: $c-default-2; 
      font-size: 14px;
    }
  }

  .aside-table__cell_big {
    padding: 10px 0;
  }

  .data__header {
    padding: 10px 0;
  }

  .aside-table__footer {
    border-bottom: none;

    .aside-table__cell_total {
      font-family: $f-bold;
      font-size: 20px;
      vertical-align: middle;

      &:nth-child(n + 2) {
        color: $c-brand;
        font-size: 16px;
      }
    }
  }

  .data__inner {
    padding-top: 0;
  }

  .data__tab .data__btn {
    border-bottom: none !important;
    font-family: $f-default;
    padding-bottom: 0;
    &:before {
      font-size: 18px;
    }
  }

  .data__btn:focus {
    border: none;
    outline: none;
  }

  .data__list.data__summary {
    font-weight: bold;
    padding: 0;
  }

  .vsm-aside-table__value {
    color: $c-default-1;
    font-family: $f-bold;
  }

  .vsm-aside-table__subtitle {
    font-family: $f-bold;
    font-size: 12px;
    text-align: right;
    padding-right: 0;
    white-space: nowrap;
    &.txt_blue {
        font-family: $f-default;
    }
  }
}


//- PREPAGO-47: Resumen de compra en checkout
.vsm-data-aside__btnDown {
    padding-bottom: 20px;
}

.vsm-input-search__label_grey {
    color: $c-default-2;
    font-family: $f-bold;
}