//- PREPAGO-22: card vitrina de planes- Slider Grids de terminales
.vsm-slider-detail {
    .vsm-grid {
        margin: 0 10px;
        height: auto;
    }
    .slick-list {
        padding: 20px 0;
    }
    &.slider-detail {
        max-width: 90%;
        padding-top: 40px;
    }
    .slider__arrow {
        &.prev {
            left: -15px;
        }
        &.next {
            right: -15px;
        }
    }
}

@include media-query(medium){
    .vsm-slider-detail {
        &.slider-detail {
            max-width: 926px;
        }
    }
}