//- PREPAGO-97: Carrito de compras
.vsm-data__table {

  //- PREPAGO-97: Tìtulo de la tabla
  .data__pullquote .data__title {
    font-size: 27px;
  }

  .data-section {
    .data-section__detail {
      .data-section__item {
        .vsm-phone-title {
          margin-top: 0;
        }
      }
    }
  }

  .data-section__subitem {
    padding-top: 10px;
  }

  .data__tab .data__btn {
    border-bottom: none !important;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .data__txt {
    align-items: center;
  }

  .data__txt_wrap {
    flex-wrap: wrap;
  }

  .data__txt_space {
    padding: 0 4px;
  }

  .input-search__label {
      .txt_blue {
        text-align: left;
    } 
  }

  .input-search__btn {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .data__txt_sub {
    display: block;
    font-size: 12px;
    padding-left: 38px;
  }

  .data__txt-big {
    color: $c-default-2;
    font-size: 21px;
  }

  .data__btn:focus {
    border: none;
    outline: none;
  }

  .table-section__head-item {
    padding-left: 0;
  }
}

// Aside table pos-car
.vsm-data__aside {
  .aside-table__cell {
    &:first-child {
      color: inherit;
      font-family: $f-bold;
      font-size: 16px;
    }
  }

  .aside-table__footer {
    border-bottom: none;

    .aside-table__cell_total {
      font-family: $f-bold;
      font-size: 20px;
      vertical-align: middle;

      &:nth-child(n + 2) {
        color: $c-brand;
        font-size: 14px;
      }
    }
  }

  .data__inner {
    padding-top: 0;
  }

  .data__tab .data__btn {
    border-bottom: none !important;
    font-family: $f-regular;
    padding-bottom: 0;
  }

  .data__btn:focus {
    border: none;
    outline: none;
  }

  .data__list.data__summary {
    padding: 0;
  }

  .data-aside__foot.data-aside__link {
    font-family: $f-bold;
  }
}

@include media-query(medium) {
  .vsm-data__table {
    .data__txt_sub {
      display: initial;
      padding-left: 0;
    }
  }
}
