//- PREPAGO-47: Checkout : Header page
.vsm-head-section {
    .link__brand {
        display: block;
        margin: 0 0 0 auto;
        text-align: left;
    }
}

@include media-query(max-wide) {
    .vsm-head-section {
        @include flexbox;
        @include flex-direction(column);
        
        .title_head {
            @include order(2);
            padding-top: 20px;
        }
        .link__brand {
            margin: 0;
            @include order(1);
            padding-left: 20px;
            padding-top: 20px;
        }
    }
}