//- PREPAGO-22: card vitrina de planes- Parrilla Tag absoluto
@include media-query(max-medium) {
    .tag-svg__img {
        display: none;
    }

  //- HOTFIX-ETEMM-12: Se coloca el clase: tag_hidden sòlo para mobile y evitar que este tag se vea
	.tag.tag_hidden {
	  height: 0;
		display: none;
	}
	//- HOTFIX-ETEMM-12: Se coloca el clase: tag_position sòlo para mobile que cambia el orden de la etiqueta
	.tag_position {
		@include order(3);
	}  
}
