//- PREPAGO-95

//- PREPAGO-95: Sobrescribiendo estilo del breadcrumb
.breadcrumbs {
    padding-top: 30px;
    .item {
        font-family: $f-regular;
        color: $c-default-3;
        &:last-child {
            color: $c-brand-2;
        }
    }
}

.vsm-tags {
    display: flex;
    flex-direction: column;
}
// A-Prepago-95 Aside: detalle de Producto
.vsm-detail-form {
    .btn-dropdown {
        background-color: transparent;
    }

    .btn-dropdown:focus {
        outline: none;
    }

    .list-thumb__txt {
        text-align: center !important;
        font-size: 12px;
    }

    .list-thumb {
        margin-bottom: 0;
    }

    .vsm-form__row-inline {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        padding: 4px 0;
        .form__label {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.vsm-form__link {
    &.link__brand {
        font-family: $f-default;
        background-color: transparent;
        padding: 0;
        margin: 0 0 0 auto;
    }
}

.vsm-form__row-upline {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid $c-default-3;
    .form__input {
        margin-right: 10px;
    }
}

// A-Prepago-100 Oculta lo de detalle en la malla y del buscador
.page-with-filter.page-products,
.catalogsearch-result-index.page-products {
    .vsm-aside__detail,
    .wishlist {
        display: none;
    }
}

.catalog-product-view {
    .price-box.price-final_price {
        .grid__blocks  {
            display: none;
        }
    }
}
.catalog-product-view .layout-flex__aside .price-box.price-final_price .grid__label.grid__label_price {
    display: none!important;
}