//- PREPAGO-22: Layout inner para slider de parrillas

.vsm-inner_canvas {
    width: 90%;
    max-width: 1084px;
    margin: 0 auto;
  }

.columns .column.main{
  @include flex-basis(auto);
}

.layout-flex__row {
  &.layout-flex__row_3 {
      .attribute {
        .value {
          ul,
          li {
            margin: 0;
            padding: 0;
          }
        }
      }
  } 
} 

.vsm-layout-inner-sm {
  margin: 0 0 0 auto;
  width: 100%;
}

@include media-query(wide) {
  .vsm-layout-inner-sm {    
      //width: 64%;
  }
}