//- PREPAGO-22: card vitrina de planes- Parrilla
.vsm-card {
    .tag {
        display: block;
        text-transform: uppercase;
        padding: 2px 4px;
        font-size: 12px;
        border-radius: 2px;
        font-weight: bold;
    }
    .txt-through_red {
        display: none;
    }
    .card__title {
        font-weight: lighter;
        @include font-rem(54px);
    }
    .txt_bold {
        text-transform: uppercase;
        line-height: 2; 
    }
    .card__header-btn {
        background-color: transparent;
    }
    .txt-small {
        @include font-rem(16px);
    }
    
    .card__item_no-border {
        border-bottom: none;
        padding-bottom: 0;
        .card__txt-high {
            color: $c-default;
        }
    }

    .card__txt {
        &:before {
            //@include font-rem(14px);
            font-size: 16px;
            line-height: 1.4;
        }
        &:first-child {
            border-right: none;
        }
    }

    .vsm-card__row_inline {
        padding: 4px 0;
        margin: 0 auto;
    }
    .vsm-card_unique {
        max-width: 480px;
        margin: 0 auto;
    }

    .card__wrap {
      height: auto;
      display: contents !important;
    }

    .card__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: none;
      height: 100% !important;
    }
}

.vsm-card__copy {
    text-align: center;
    padding: 6px 0;
    color: $c-default-1;
}

@include media-query(max-medium){
    .vsm-card {
        .card__header-item {
            @include flexbox;
            @include flex-direction(column);
        }
        .tag {
            @include order(3);
        }
        .card__title {
            @include order(1);
        }
        .txt_bold {
            @include order(2);
        }
    
        .card-dropdown_active,
        &.card-dropdown_active {
            .card {
                background-color: transparent;
            }
        }
        .card_check { 
            .card__wrap {
                background-color: transparent;
            }
        }
        &.card_check {
            background-color: transparent;
            .card__wrap {
                background-color: transparent;
                padding-bottom: 20px;
            }
        }
    }
}

@include media-query(medium){
    .vsm-card {
        &.card {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #e9eae8;
        }

        .txt-through_red {
            display: inline;
        }
        .card__header {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        .tag {
            background-color: transparent;
        }
    }
    .vsm-card_unique {
        max-width: 300px;
        margin: 0 auto;
    }
}