//- PREPAGO-22: card vitrina de planes- Grids de terminales
.vsm-grid {
    position: relative;
    @include flexbox;
    border: none;
    text-align: center;
    border: 1px solid $c-default-3;
    transition: opacity 1s linear;
    .grid__inner {
        position: relative;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    .vsm-grid__link {
        display: block;
    }
    .grid__photo {
        max-width: 140px;
    }
    .grid__body {
        text-align: left;
    }
    .grid__subtitle {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: $f-default;
    }

    .grid__tags {
        @include flexbox;
        @include justify-content(space-between);
    }
    .tag_corner {
        font-family: $f-bold;
        font-size: 16px;
    }
}

.vsm-grid__head {
    display: block;
}

.vsm-grid__row {
    display: table;
    width: 100%;
    float: none;
}



.vsm-grid__col {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    &:last-child {
        width: 50%;
    }

    .vsm-grid__img {
        width: 20px;
        margin: 0 auto 0 0;
    }
}

.vsm-grid__thumbs {
    .list-thumb {
        margin: 0;
    }
    .list-thumb__item {
        margin-bottom: 0;
        padding-top: 4px;
    }
    .list-thumb__circle  {
        width: 15px;
        height: 15px;
    }
}


.vsm-grid__block {
    @include flexbox;
    @include align-items(center);
    @include justify-content(justify-content);
    width: 100%;
    padding-bottom: 10px;
    .grid__price {
        &:first-child {
            padding-right: 5px;
        }
        &:last-child{
            position: relative;
            border-left: none;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: -5px;
                @include translateY(-50%);
                width: 1px;
                height: 40px;
                background-color: $c-default-3;
                
            }
        }
    }
    .grid__value {
        display: block;
    }
    .grid__value-disclaimer {
        font-size: 13px;
    }
}

.vsm-grid__footer {
    padding: 10px 0;
    .grid__label {
        font-size: 14px;
    }   
    .link {
        display: inline-block;
        padding-top: 10px;
    }
}

.vsm-grid__form-foot {
    .btn {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 220px;
    }

}

