//- PREPAGO-47: Formulario  Data Steps
.vsm-data-step {
/*     .step__content {
        border: 1px solid red;
    } */
    .txt_blue {
        text-align: right;
        font-size: 12px;
    }
    .form__grid {
       padding-top: 0;
    }
    .form__grid__item {
        .form__input {
            border-radius: 2px;
            background-color: $c-default-5;
        }
    }
    .form__label_check {
        text-align: left;
    }

    .step__set_success {
        position: relative;
        &:before {
            position: absolute;
            top: 50%;
            @include  translateY(-17px);
        }
    }

    .data__total {
        font-family: $f-bold;
    }

}

.vsm-data-step__content {
    padding-bottom: 40px;
}


//- Clase General afecta el prefooter
.data__info-img {
    width: 100%;
    max-width: 280px;
}


@include media-query(max-small-medium) {
    .vsm-data-step {
        .form__grid {
            @include flex-wrap(wrap);
        }
        .form__grid__item {
            width: 100%;
            /*&:first-child {
                padding-bottom: 20px;
            }*/
        }
        .form__row-inner {
            margin-left: 30px;
            padding-bottom: 0;
        }
    }
}

@media (min-width:1024px) and (max-width:1180px) {
    .vsm-data-step {
        .form__grid {
            @include flex-wrap(wrap);
        }
        .form__grid__item {
            width: 100%;
            &:first-child {
                padding-bottom: 20px;
            }
        }
        .form__row-inner {
            margin-left: 30px;
            padding-bottom: 0;
        }
    }
}

@include media-query(medium) {
    .vsm-data__info {
        padding-bottom: 0;
    }
}