//- PREPAGO-22: card vitrina de planes- Parrilla
.vsm-steps {
    .steps__head {
    font-weight: lighter;
        .head__title {
            @include font-rem(40px);
        }
    }
    .vsm-steps__head {
        .head__title {
        margin: 0 auto;
        text-align: center;
        }
    }
    .spinner {
        margin-top: 40px;
    }
}

.vsm-steps__cont { 
    position: relative;
}

@include media-query(medium) {
    .vsm-steps__cont { 
        &.steps__cont{
            width: 100%;
        }
    }
}