//- PREPAGO-22: Formulario general
.vsm-form__fieldset {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    .vsm-steps__selected{
        padding-bottom: 0;
    }
    .steps__btn{
        margin-top: 40px;
    }
}

.vsm-form__fieldset_borderSup {
    &:after {
        content: "";
        position: relative;
        top: 0;
        display: block;
        width:90%;
        max-width: 1280px;
        height: 1px;
        margin: 0 auto;
        background-color: $c-default-3;
    }
}

.vsm-form__copy {
    text-align: center;
    padding-top: 20px 0 10px 0;
    color: $c-default-1;
    .txt-small {
        font-size: 10px;
    }
    .steps__link {
        display: block;
        padding: 10px 0;
    }
}

//- PREPAGO-47: Formulario Checkout
.vsm-form__hidden {
    display: none;
    padding: 20px 0;
}


.vsm-form__label_left {
   padding-left: 8px;
   text-align: left;
   &.form__label_check {
        max-width: none;
    }
   &:before {
       margin-right: 20px;
   }
}

.vsm-form__radio_label {
    font-size: 18px;
    font-family: $f-bold;
}

.vsm-form__title-section {
    font-size: 16px;
    font-family: $f-bold;
}


.vsm-form__grid {
    &.form__grid {
        @include justify-content(flex-start);
    }
    .form__grid__item {
        width: auto;
        @include flex (1 auto);
    }
}

.vsm-form__box-img {
    display: block;
    max-width: 130px;
    margin: 0 auto;
}


.vsm-form__grid_3col {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
}

.vsm-form__grid__item_3col {
    @include flex(1 33%);
    @include align-self(flex-end);
    &:not(:last-child) {
       padding-right: 10px; 
    }
}


//- PREPAGO-47: Formulario  Data Steps
.vsm-form__row-control {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.vsm-form__row-top {
    padding-top: 20px;
}

.vsm-form__row-bottom {
    padding-bottom: 20px;
}
.vsm-form__border-top {
   border-top: 1px solid $c-default-4;
}

.vsm-form__row-border {
    padding: 40px 0 40px 0;
    border-top: 1px solid $c-default-4;
}

@media (max-width:430px ) {
    .vsm-form {
        .steps__item .form-ico {
            margin: 0 auto 0 20px;
        }
    }
    
}
@include media-query(max-small-m){
    .vsm-form__grid__item_3col {
        @include flex(1 50%);
        padding-right: 0;
        &:first-child {
            @include flex(1 100%);
            padding-bottom: 20px;
        }
    }

}

@include media-query(max-small-medium){
    //- Altera especialmente unos elementos en especificos
    .vsm-form__especial {

        .form__radio_label {
            left: 20px
        }
        .form__txt-style {
            padding-left: 20px;
        }
    }
}