//- PREPAGO-22: card vitrina de planes- Parrilla
.vsm-list-ico {
    &.list-ico {
        padding: 4px 0 0 0;
    }
    .list-ico__item {
        max-width: 40px;
        margin-bottom: 0;
    }

     
}