//- PREPAGO-22: card vitrina de planes- Parrilla
.vsm-slider__controls {
    .slider__arrow {
        &:before {
            color: $c-brand-2;
            font-size: 30px;
        }
    }
}

@include media-query(max-medium) {
    .vsm-slider__controls {
        display: none;
    }
}
