.vsm-board {
  .title__gral {
    word-break: break-all;
  }

  .detail-board__subtitle-price {
    text-align: right;
  }

  .detail-board__subtitle-price:last-child {
    padding-right: 10px;
  }

  .list-order__label.pos-subtitle_gral {
    font-family: $f-bold;
    text-transform: uppercase;
  }

  .board__prefoot {
    .board__txt {
      margin-top: 0;
    }

    .board__link {
      white-space: initial;
    }

    .list-order__row {
      width: 100%;
    }

    .list-order__label {
      font-weight: 400;
    }
  }

  .btn {
    font-family: $f-bold !important;
    text-decoration: none;
  }

  .board__foot .board__link {
    font-family: $f-bold;
  }

  //- PREPAGO-52
  .card-ico__title {
    margin-bottom: 0;
  }

  //- PI-75
  .no-margin {
    margin: 0;
  }

  @include media-query(medium) {
    .board-list_col3 {
      width: 33.33%;
    }

    .board-list:nth-child(2) {
      .title__gral {
        text-align: right;
      }
    }

    .board__side {
      width: 100%;
    }

    .board__prefoot {
      .board__link {
        white-space: initial;
      }
    }

    .detail-board__header_two-cols {
      grid-template-columns: repeat(2, 1fr);
    }

    .detail-board__subtitle-price:last-child {
      padding-right: 0;
    }

    .detail-row-order__row_two-cols {
      grid-template-columns: repeat(2, 1fr);
    }

    //- PREPAGO-50: Si se quiere eliminar la columna de cargo mensual se debe descomentar esta clase

    /* .detail-board_hide-dk {
      display: none;
    } */
  }
}