//- PREPAGO-47: Formulario de checkout Componente: Search
//- Altera especialmente unos elementos en especificos
.vsm-input-search {
    
    &.input-search {
        display: block;
        margin: 0;
    
        .input-search__btn {
            font-size: 0px;
            min-width: auto;
            height: 100%;
            border-radius: 0px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 10px;
            &::before {
                font-size: 24px;
            }
        }
        .input-search__input::placeholder {
            color: $c-default-1;
        }

        .vsm-input-search__btn-txt {
            font-size: 16px;
            max-height: 44px;
        }
    }

    .vsm-input-search__txt {
        text-align: left;
    }

} 