<div class="page-main-actions">
    <div class="page-actions-placeholder" style=""></div>
    <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
        <div class="page-actions-inner" data-title="BlackList Events">
            <div class="page-actions-buttons">
                <a href="<?=$block->getUrl('stock/event/uploadfile/id/');?>">
                    <button type="button" class="primary">
                        <span>Sincronizar STOCK</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>