<form action="<?=$block->getUrl('stock/event/sincronizastock');?>" method="post" id="enviarinformacion" enctype="multipart/form-data">
    <div class="page-main-actions">
        <div class="page-actions-placeholder"></div>
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Seguimiento Ordenes2">
                <div class="page-actions-buttons">
                    <button id="back" title="Back" type="button" class="action- scalable back" onclick="window.history.go(-1)" data-ui-id="back-button">
                        <span>Volver</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="fieldset-wrapper">
        <div class="fieldset-wrapper-title">
            <strong class="title">
                <span>Importar Stock</span>
            </strong>
        </div>
        <br><br>
        <fieldset class="fieldset admin__fieldset no-display" id="upload_file_fieldset" style="display: block;">
            <div class="admin__field field field-import_file  required _required" data-ui-id="import-form-container-form-fieldset-element-form-field-import-file">
                <label class="label admin__field-label" for="import_file" data-ui-id="import-form-container-form-fieldset-element-file-import-file-label"><span>Ejecutar Sincronización</span></label>
                <div class="admin__field-control control">
                    <button id="save" title="Save Contact" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">
                        <span>Inicia Sincronización</span>
                    </span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</form>