.destacado-carrusel-widget {
    width: 100%;
    position: relative;
}


.slideIn-Right-margin {
    margin-left: 600px;
    opacity: 1;
    -webkit-animation: sliderightmargin 0.3s forwards, slideOpacity 0.4s forwards;
    -webkit-animation-delay: 0.05s;
    animation: sliderightmargin 0.3s forwards, slideOpacity 0.4s forwards;
    animation-delay: 0.05s;
}


@-webkit-keyframes sliderightmargin {
    100% {
        margin-left: 0px;
    }
}

@keyframes sliderightmargin {
    100% {
        margin-left: 0px;
    }
}

.slideIn-Left-margin {
    margin-left: -600px;
    opacity: 1;
    -webkit-animation: slideleftmargin 0.3s forwards, slideOpacity 0.4s forwards;
    -webkit-animation-delay: 0.05s;
    animation: slideleftmargin 0.3s forwards, slideOpacity 0.4s forwards;
    animation-delay: 0.05s;
}


@-webkit-keyframes slideleftmargin {
    100% {
        margin-left: 0px;
    }
}

@keyframes slideleftmargin {
    100% {
        margin-left: 0px;
    }
}

.destacado-carrusel-widget>h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.to-right .div-btn-widget-with-offering {
    position: unset;
    width: 92%;
    margin: auto;
    display: block;
}

.special-img-widget img {
    height: 240px;
    width: auto;
}

.wrapper-carousel-widget {
    height: 570px;
    width: 92%;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

.wrapper-carousel-widget-video {
    min-height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

h3.carrusel-widget {
    font-family: 'Telefonica-Regular', sans-serif;
    font-weight: 300;
    line-height: 15px;
    font-size: 18px;
    margin-top: 15px;
    color: #50535A;
}

.for-marcas-widget {
    height: auto !important;
}


.for-marcas-widget .tablinks {
    width: 100px;
}



.card-carousel-widget-video iframe {
    width: 300px;
    height: 300px;
}

.button-wrapper-carousel-widget {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.button-wrapper-carousel-widget-video {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40%;
    z-index: 0;
}


.carousel-carousel-widget-video {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
    overflow: auto;
}

.button-wrapper-carousel-widget button {
    background: transparent;
}

.button-wrapper-carousel-widget button span {
    font-size: 40px;
    color: #00A9E0;
}

.the-left-widget:after {
    content: "\e314";
    color: #00a9e0;
    font-family: 'MaterialIcons-Regular' !important;
}

.the-right-widget:after {
    content: "\e315";
    color: #00a9e0;
    font-family: 'MaterialIcons-Regular' !important;
}

.the-right-widget-dos:after {
    content: "\e315";
    /*color: #00a9e0;*/
    font-family: 'MaterialIcons-Regular' !important;
    position: absolute;
    margin-top: 2px;
}

.button-wrapper-carousel-widget-video button {
    background: transparent;
}

.button-wrapper-carousel-widget-video button span {
    font-size: 40px;
    color: #00A9E0;
}

ul.carousel-carousel-widget h2 {
    min-height: 30px;
}

ul.carousel-carousel-widget .grid__photo {
    margin: 7px auto;
}

ul.carousel-carousel-widget .actions-secondary {
    margin: 14px 0 0 0;
}

ul.carousel-carousel-widget .vsm-grid__footer {
    padding: 0;
}

.carousel-carousel-widget {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
    justify-content: unset;
    display: flex;
}

.card-carousel-widget {
    min-width: 235px;
    height: 570px;
    margin: 0px 8px;
    display: inline-block
}

.card-carousel-widget-video {
    margin: 8px 12px;
    display: inline-block;
}

.video-carrusel-widget {
    width: 100%;
    position: relative;
}

.tabs-box .tabs-box__link {
    height: 100% !important;
}

.tab-vitrina-widget {
    overflow: hidden;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 60px;
}

.tab-vitrina-widget button {
    background-color: inherit;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    min-width: 15%;
    min-height: 60px;
    border: none !important;
    border-radius: unset;
    color: #50535A !important;
}

.tab-vitrina-widget button.active {
    background-image: url(http://capicuaestudiodigital.com/widgets/img/linea.svg);
    display: block;
    position: relative;
    content: "";
    background-position: 0px 56px;
    background-repeat: repeat-x;
    color: #50535A;
}



.tab-vitrina-widget button:hover {
    background-image: url(http://capicuaestudiodigital.com/widgets/img/linea.svg);
    display: block;
    position: relative;
    content: "";
    background-position: 0px 56px;
    background-repeat: repeat-x;
    color: #50535A;

}

.for-marcas-widget .tablinks:hover {
    background-image: url(http://capicuaestudiodigital.com/widgets/img/linea.svg);
    display: block;
    position: relative;
    content: "";
    background-position: 0px 124px;
    background-repeat: repeat-x;
    color: #50535A;
}

.for-marcas-widget .tablinks.active {
    background-image: url(http://capicuaestudiodigital.com/widgets/img/linea.svg);
    display: block;
    position: relative;
    content: "";
    background-position: 0px 124px;
    background-repeat: repeat-x;
    color: #50535A;
}


.buttons-video-widget {
    margin: 5px auto;
    display: table;
}

.buttons-video-widget {
    margin: auto;
}

.anchor-more {
    text-align: right !important;
    color: #50535A !important;
    font-size: 14px t;
    font-family: 'Telefonica-Regular' !important;
    margin-top: -6px !important;
    margin-right: 4px !important;
}

.anchor-less {
    margin-top: -20px !important;
}

.anchor-more:after {
    content: "\e313";
    color: #00a9e0;
    font-family: 'MaterialIcons-Regular' !important;
}

.anchor-less:after {
    content: "\e316" !important;
    color: #00a9e0;
    font-family: 'MaterialIcons-Regular' !important;
}

.buttons-video-widget button {
    font-size: 34px !important;
    color: #50535A !important;
    background: transparent;
}

.buttons-video-widget button span:after {
    color: #50535A !important;
}

.buttons-video-widget:hover {
    cursor: pointer;
}

.pantalla-video {
    position: absolute;
    height: 100%;
    width: 100%;
}

.video-widget-comp {
    display: flex;
    width: 100%;
}

.left-video-widget {
    width: 65%;
    padding: 10px;
}

.left-video-widget iframe {
    width: 100%;
    height: 400px;
}

.right-video-widget {
    width: 35%;
    padding: 10px;
    margin-top: -32px;
}

.right-video-widget iframe {
    display: block;
    height: 124px;
}

.overlay-video-widget {
    width: 100% !important;
    height: 100%;
    display: flex;
    margin: auto;
    background: transparent;
    position: relative;
}


.tabcontent-vitrina-widget {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}

button:hover,
button:active,
button:focus {
    background: transparent;
}

a.customBannerItem {
    text-decoration: none;
}

a.customBannerItem h3 {
    text-decoration: underline;
}

.contenedor-max {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.contenedor-max-dos {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 80px;
    padding-top: 45px;
}

.contenedor-max-hero {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2880px;
    margin: 0 auto;
    width: 100%;
}


.index-slider {
    z-index: 99999;
}


.hidden-widget {
    opacity: 0;
}





.section-title {
    text-align: center;
    width: 100%;
    position: relative;
    display: grid;
    margin: auto;
    min-height: 60px;
}

.section-title h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title p {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.col-widget-full-banner-hero iframe {
    width: 100%;
    height: 100%;
    min-height: -webkit-fill-available;
    display: block;
    position: relative;
    z-index: 3;
}

.grid-widget {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1084px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.col-widget-1-4 {
    width: 25%;
    max-width: 271px;
    max-height: 271px;
    position: relative;
}

.col-widget-half {
    width: 50%;
    max-width: 542px;
    max-height: 271px;
    position: relative;
}

.col-widget-full {
    width: 100%;
    max-width: 1084px;
    max-height: 271px;
    position: relative;
}

.col-widget-full-banner-hero {
    width: 100%;
    position: relative;
}

.col-widget-3-4 {
    width: 75%;
    max-width: 813px;
    max-height: 271px;
    position: relative;
}


.all-in-1-4 h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.all-in-1-4 p {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
}

.all-in-1-4 h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.all-in-1-4 img {
    /*width: 100%;
    max-width: max-content !important;*/
    position: absolute;
    z-index: 1;
    /*height: 100%;
    height: -webkit-fill-available;*/
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.div-text-1-4 {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 20px 25px !important;
}

.div-text-1-4-oferta {
    position: absolute;
    width: 82%;
    z-index: 4;
    padding: 0px 17px !important;
}


.page_banner_with_margin {
    display: flex;
}

.page_banner_with_margin_inverse {
    display: flex;
}

.cintillo_widget {
    width: 100%;
    text-align: center;
    min-height: 271px;
    padding: 50px 0;
}

.cintillo_widget h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}

.cint_flexed {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-height: 542px;
    margin: 20px 0;
}

.servicio-destacado {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.shadow-service {
    webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);

    webkit-box-shadow: 0px 2px -1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 2px -1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 2px -1px rgba(0, 0, 0, 0.14);

    webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
}





.servicio_1_4 h2 {
    font-family: 'Telefonica-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #50535A;
    width: 98%;
    margin: auto;
    text-align: center;
}

.servicio_1_4 h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 98%;
    margin: auto;
}

.servicio_1_4 p {
    font-family: 'Telefonica-Light', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    width: 98%;
    margin: 10px auto;
    display: block;
    min-height: 95px;
}

.servicio_1_4 a {
    font-family: 'Telefonica-Bold', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: block;
    color: #00a9e0;
    margin: 20px auto 0 auto;
    text-align: center;
    vertical-align: bottom;
    text-decoration: underline !important;
}

.servicio_1_4 a:visited {
    color: #00a9e0;
}


.servicio_1_4 img {

    max-width: none;
    margin: 5px auto;
    display: block;
}

.cintillo_1_4 {
    width: 25%;
    padding: 10px;
}

.cintillo_1_4 h2,
.cintillo_1_4 h3,
.cintillo_1_4 h4,
.cintillo_1_4 p {
    font-family: 'Telefonica-Regular', sans-serif;
}


.servicio_1_4 {
    width: 23%;
    margin: 10px;
    padding: 20px;
}

.page_banner_with_margin img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page_banner_with_margin_inverse img {
    width: 100%;
    max-width: max-content !important;
}

.half_page_banner_oferta {
    width: 50%;
    max-width: 542px;
    height: 271px;
}

.half_page_banner_oferta h2 {
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0;
}

.half_page_banner_oferta p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Telefonica-Regular', sans-serif;
}

.btn-bigger-widget-oferta {
    width: 40%;
    max-width: none;
    display: block;
    margin-left: 17px;
}


.half-page_banner_with_margin {
    display: flex;
}

.half-page_banner_editorial {
    max-height: none !important;
    max-width: none !important;
}

.half-page_banner_with_offering {
    max-height: 800px !important;
    max-width: none !important;
    position: relative;
    display: grid;
    vertical-align: bottom
}

.half-page_banner_editorial_full {
    max-height: none !important;
    max-width: none !important;
    width: 100% !important;
    height: 542px;
}

.tab-vitrina_full {
    max-height: none !important;
    max-width: none !important;
    width: 100% !important;
    height: 542px;
}

.half-page_banner_editorial img {
    /*width: 100%;
    max-width: max-content !important;
    height: 100%;
    height: -webkit-fill-available;*/
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.half-page_banner_with_offering img {

    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.half-page_banner_editorial_full img {
    /*width: 100%;
    max-width: max-content !important;
    height: 100%;
    height: -webkit-fill-available;*/
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tab-vitrina_full img {
    /*width: 100%;
    max-width: max-content !important;
    height: 100%;
    height: -webkit-fill-available;*/
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.half-page_banner_editorial_full .completing-context {
    padding-top: 0 !important;
    width: 80% !important;
    max-width: 80% !important;
    position: absolute;
    bottom: 50px;
    right: 10px;
    height: auto;
}

.tab-vitrina_full .completing-context {
    padding-top: 0 !important;
    width: 80% !important;
    max-width: 80% !important;
    position: absolute;
    bottom: 50px;
    right: 10px;
    height: auto;
}

.half-page_banner_no_margin {
    width: 50%;
    max-width: 542px;
    padding-top: 54px;
    padding-left: 52px;
    padding-right: 52px;
}

.half-page_banner_no_margin h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 78px;
    line-height: 70px;
    width: 60%;
}

.half-page_banner_no_margin h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    width: 62%;
}


.half-page_banner_no_margin_curve {
    max-height: 542px;
    display: flex;
    max-width: none !important;
}

.completing-div-half-curve img {
    position: absolute;
    bottom: 100px;
    margin: auto;
    display: -webkit-box;
    left: 0;
    right: 0;
    /* width: 30%; */
}


.completing-div-half-curve button {
    display: block;
    margin: auto;
    width: 30%;
}

.half-page_banner_no_margin_curve img {
    /*width: 100%;
    max-width: max-content !important;*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute
}

.half-page_banner_no_margin_curve h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 30px;
}

.complete-half-height img {
    max-width: 30% !important;
    height: auto;
}

.half-page_banner_no_margin_curve h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
}

.div-btn-widget-half-page_banner_no_margin_curve {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 25px;
}

.half-page_banner_no_margin_curve h4 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
}

.complete-half-height {
    height: 100% !important;
}

.complete-half-width .completing-context-half {
    height: 50%;
    min-width: 100% !important;
    display: flex;
    bottom: 0;
    position: absolute;
    left: 15px;
    margin: 0 auto;
    width: 100% !important;
}

.complete-half-width .completing-context-half button {
    position: absolute !important;
    right: 30px !important;
    width: 25% !important;
}

.complete-half-width {
    width: 100% !important;
    min-width: 100% !important;
}

.completing-div-half-curve {
    width: 100%;
    max-width: 100% !important;
    position: absolute;
    bottom: 0;
    height: 55%;
    background-size: cover;
}


.moji-widget {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 32%;
}

.moji-widget-2 {
    margin: auto;
    width: 32%;
}

.subdiv-widget-flexed {
    width: 80%;
    text-align: center;
    display: grid;
}

.half-page_banner_with_margin img {
    /*width: 100%;
    max-width: max-content !important;*/
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.completing-div-oferta {
    width: 100%;
    max-width: 100% !important;
    position: absolute;
    z-index: 2;
    height: 271px;
    background-size: cover;
}

#more-widgets1 {
    display: none;
}

#more-widgets2 {
    display: none;
}

#more-widgets3 {
    display: none;
}

#more-widgets4 {
    display: none;
}


.completing-div {
    background-size: cover;
    width: 72%;
    max-width: 72% !important;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    height: -webkit-fill-available;
    background-size: cover;
}

.completing-div_inverse {
    width: 58%;
    max-width: 58% !important;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    height: 100%;
    height: -webkit-fill-available;
}

.completing-context {
    width: 70%;
    max-width: 70% !important;
    height: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    padding-top: 40px
}

.completing-context_inverse {
    width: 90%;
    max-width: 90% !important;
    min-width: 60% !important;
    height: 100%;
    float: left;
    text-align: center;
    margin-top: 30px;
}

.lead-box {
    padding: 2% 10%;
    display: flex;
    max-width: none;
}

.form-widget {
    background-color: #fff;
    width: 40%;
    max-width: 40% !important;
    min-width: 40% !important;
    padding: 4% 5%;
}

.form-widget button {
    margin-top: 25px;
}

.lead-box h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    width: 60%;
    max-width: 60%;
    padding: 0 15px
}

.completing-div-button {
    width: 100%;
    max-width: 100% !important;
    position: absolute;
    bottom: 8%;
}

.completing-context h2 {
    font-family: 'Telefonica-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 72px;
    color: #111111;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.completing-context h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #111111;
}

.completing-context_div h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 72px;
    color: #111111;
}

.div-btn-widget {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.div-btn-widget a {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-decoration-color: #fff;
}

a button span:hover {
    text-decoration-color: transparent;
}

.div-btn-widget h3 {
    margin-left: 25px;
    margin-bottom: -5px;
}

.completing-context_div h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #111111;
}

.completing-div-half-editorial {
    width: 45%;
    max-width: 45% !important;
    position: absolute;
    padding-top: 40px;
    right: 0;
    height: 100%;
    background-size: cover;
}

.completing-context-half-editorial {
    width: 82%;
    max-width: 82% !important;
    float: right;
    text-align: center;
    margin-right: 20px;
    position: absolute;
    top: 40%;
    right: 0;
}

.completing-div-tab-vitrina {
    width: 45%;
    max-width: 45% !important;
    position: absolute;
    padding-top: 40px;
    right: 0;
    height: 100%;
    background-size: cover;
}

.completing-context-tab-vitrina {
    width: 82%;
    max-width: 82% !important;
    float: right;
    text-align: center;
    margin-right: 20px;
    position: absolute;
    top: 40%;
    right: 0;
}


.completing-div-half-with_offering {
    width: 100%;
    max-width: 100% !important;
    padding-top: 54px;
    right: 0;
    height: auto;
    background-size: cover;
    bottom: 0px;
    top: 125px;
    background-position-x: -2px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

.completing-context-half-with_offering {
    width: 100%;
    max-width: 80% !important;
    text-align: center;
    margin: auto;
    padding-bottom: 10%;
}

.div-btn-widget-with-offering {
    /*position: absolute;*/
    width: 100%;
    bottom: 25px;
    max-width: inherit;
    margin: auto;
    display: block;
}

.div-btn-widget-with-offering button {
    width: 60%;
    margin: auto;
    display: block;
}

.half-page_banner_editorial_full .completing-context-half-editorial {
    width: 65%;
    max-width: 65% !important;
    float: right;
    text-align: center;
    margin-right: 50px;
    position: absolute;
    top: 20%;
    right: 0;
}

.half-page_banner_editorial_full .completing-context-half-editorial button {
    position: absolute !important;
    right: 0 !important;
}


.completing-context-tab-vitrina {
    width: 65%;
    max-width: 65% !important;
    float: right;
    text-align: center;
    margin-right: 50px;
    position: absolute;
    top: 20%;
    right: 0;
}

.completing-context-tab-vitrina button {
    position: absolute !important;
    right: 0 !important;
}


.completing-context-half-editorial h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 43px;
    text-align: right;
    letter-spacing: 0;
}

.completing-context-tab-vitrina h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 54px;
    line-height: 62px;
    text-align: right;
    letter-spacing: 0;
}

.completing-context-tab-vitrina p {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0;
}

.half-page_banner_with_offering h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    margin-top: 25px;
}

.completing-context-half-with_offering hr {
    margin-bottom: 15px;
    margin-top: 15px;
}


.to-right {
    max-width: 92% !important;
    padding-top: 10px;
    position: relative;
    margin-top: 80px;
    height: 100%;
}

h2.to-right {
    margin-top: 2% !important;
    max-width: 76% !important;
    position: absolute;
    right: 2%;
}


.half-page_banner_editorial_full .completing-context-half-editorial h2 {
    font-style: normal;
    font-weight: 250;
    font-size: 64px;
    line-height: 60px;
}

.half-page_banner_editorial_full .completing-context-half-editorial p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.completing-context-half-editorial p {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0;
}

.completing-div-half {
    width: 50%;
    max-width: 50% !important;
    height: 100%;
    position: absolute;
    background-size: cover;
    right: 0;
}

.completing-context-half {
    width: 70%;
    max-width: 70% !important;
    min-width: 70% !important;
    height: 100%;
    float: right;
    text-align: center;
    margin-right: 20px;

}

.completing-context-half h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    line-height: 50px;
    color: white;
}

.completing-context-half h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    color: white;
}

.btn-bigger-widget {
    width: 80%;
    vertical-align: middle;
    margin: 0px auto;
    max-width: none;
    display: block;
}

.btn-bigger-widget_blue {
    width: 90%;
    background-color: #00A9E0 !important;
    margin-top: 15px;
}

.btn-bigger-widget_green {
    width: 100%;
    z-index: 99999999;
    vertical-align: middle;
    margin: auto;
    margin-top: 15px;
}

.btn-bigger-widget_blue:active,
.btn-bigger-widget_blue:hover {
    background-color: #00A9E0 !important;
}

.blue-reload-promo-widget h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}

.blue-reload-promo-widget h3 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    text-align: left;
    color: #FFFFFF;
}

.blue-reload-promo-widget p {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #FFFFFF;
}

.at_bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

.at_bottom_img img {
    max-height: 360px;
    height: 360px;
    width: 100%;
    min-width: 100% !important;
    max-width: 100% !important;
}

.at_bottom_left {
    width: 50%;
}

.at_bottom_right {
    width: 50%;
}

.at_bottom_left h2 {
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 48px;
    margin-left: 40px;
}

.at_bottom_right h2 {
    color: #fff;
    float: right;
    margin-right: 40px;
    font-family: 'Telefonica-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 48px;
}

.complete-half-height h2 {
    margin-left: 20px;
}

.complete-half-height h3 {
    margin-left: 20px;
}

.complete-half-height h4 {
    margin-left: 20px;
}


.slider-full {
    width: 65%;
    max-width: 65% !important;
    float: left;
    text-align: left;
    margin-right: 50px;
    position: absolute;
    top: 20%;
    left: 18%;
}

.slider-full h2 {
    text-align: left;
    margin-bottom: 50px;
    font-size: 60px !important;
    line-height: 75px !important;
}

.slider-full p {
    text-align: left;
    font-size: 18px !important;
    line-height: 22px !important;
    font-family: 'Telefonica-Regular', sans-serif;
}

.slider-full-context {
    padding-top: 0 !important;
    width: 20% !important;
    max-width: 20% !important;
    position: absolute !important;
    ;
    bottom: 20% !important;
    left: 18% !important;
    height: auto !important;
    z-index: 99999;
    text-align: left;
}

.slider-full-context a {
    color: #50535a !important;
    text-align: left;
    font-size: 18px !important;
    line-height: 22px !important;
    font-family: 'Telefonica-Regular', sans-serif;
}

.slider-full-context a:after {
    /*color: #50535a !important;*/
}


/*.cuadricula-widget {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.cuadricula_1_4 {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    position: relative;
}*/



.cuadricula-widget {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-auto-flow: row dense;
    grid-gap: 20px;
    max-width: 1280px;
    margin: 10px auto;
}

.cuadricula_1_4:hover {
    webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.12);

    webkit-box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.12);

    webkit-box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.12);

    transition: all 0.1s ease;
}



.bigger-cuadricula:hover span {
    opacity: 0;
}


.cuadricula_1_4:hover span {
    opacity: 0;
}

.cuadricula_1_4:hover .grid__label {
    opacity: 0;
}

.cuadricula_1_4:hover img {
    height: 200px;
    transition: all 0.2s ease-out;
}

.bigger-cuadricula:hover img {
    height: 450px;
    transition: all 0.2s ease-out;
}

.the-opacity{
    opacity: 1 !important;
}

.cuadricula_1_4 {
    grid-column-end: span 1;
    padding: 15px 0 15px 0;
    background-color: #FAFAFA;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.cuadricula_1_4 .grid__title {
    font-size: 14px;
    font-family: "Telefonica-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

.cuadricula_1_4 .vsm-grid__head {
    display: block;
    max-width: 80%;
    margin: auto;
    min-height: 30px;
}

.bigger-cuadricula .vsm-grid__head {
    max-width: 80%;
}


.cuadricula_1_4 img {
    height: 110px;
    z-index: 1;
    transition: all 0.1s ease-in;
}

.cuadricula_1_4 .access-widget-mosaic img {
    margin-left: 20px;
}


.cuadricula_1_4 span {
    font-family: 'Telefonica-Light', sans-serif;
    color: #50535A;
    font-size: 35px;
    line-height: 50px;
}

.bigger-cuadricula span {
    font-family: 'Telefonica-Light', sans-serif;
    color: #50535A;
    font-size: 50px;
    line-height: 72px;
}

.cuadricula_1_4 p {
    font-family: 'Telefonica-Regular', sans-serif;
    color: #9B9B9B;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

.center-cuadricula {
    text-align: center;
}

.center-cuadricula span {
    text-align: center;
}

.bigger-cuadricula {
    grid-column-end: span 2;
    grid-row-end: span 2;
    padding: 50px 0 50px 0;
}

.bigger-cuadricula .access-widget-mosaic::after {
    background-image: url(http://capicuaestudiodigital.com/widgets/img/access_widget.svg);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
}

.access-widget-mosaic::after {
    background-image: url(http://capicuaestudiodigital.com/widgets/img/access_widget.svg);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}

.img-bannerhero-vitrina {
    z-index: 99999;
    position: absolute;
    width: 52% !important;
}


.bigger-cuadricula img {
    height: 372px;
    transition: all 0.1s ease-in;
}

.bigger-cuadricula .access-widget-mosaic img {
    margin-left: 30px;
}

.cuadricula_1_4 .grid__center a {
    font-size: 18px !important;
    line-height: 33px;
    font-family: 'Telefonica-Regular', sans-serif;
    color: #00A9E0;
}

.cuadricula_1_4 .grid__footer {
    position: relative;
}

.cuadricula_1_4 .grid__center {
    position: absolute;
    bottom: -30px;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 9999;
    opacity: 0;
}

.cuadricula_1_4:hover .grid__center {
    bottom: 55px;
    opacity: 1;
}

.cuadricula_1_4 .msmx-product-details-atributes {
    position: relative;
}

.cuadricula_1_4 .msmx-product-details-atributes span {
    right: -7px;
    position: absolute;
    top: -13px;
}

.access-widget {
    height: 30px !important;
}

.bigger-cuadricula .msmx-product-details-atributes {
    position: relative;
}

.bigger-cuadricula .msmx-product-details-atributes span {
    right: -41px;
    position: absolute;
    top: -40px;
}

.bigger-cuadricula .access-widget {
    height: 50px !important;
}

.slider-vitrina1,
.slider-vitrina2,
.slider-vitrina3,
.slider-vitrina4,
.slider-vitrina5 {
    min-width: 650px !important;
}

.banner-hero-banner .slick-slide {
    height: 600px;
}

.slideshow-container {
    max-width: 2880px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev-banner-hero,
.next-banner-hero {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 99999;
    background-color: rgba(155, 155, 155, 0.3);
    border-radius: 50% !important;
}

.special-dots {
    position: absolute;
    margin: auto;
    margin-top: -8%;
    z-index: 99999999;
    width: 100%;
    text-align: center;
}

.next-banner-hero {
    right: 2%;
    border-radius: 3px 0 0 3px;
}

.prev-banner-hero {
    left: 2%;
    border-radius: 3px 0 0 3px;
}

.dot-banner-hero {
    cursor: pointer;
    width: 70px;
    height: 4px;
    background: #D3D4D3;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-banner-hero,
.dot-banner-hero:hover {
    background-color: #5BC500;
}

/* Fading animation */
.slideIn-Opacity {
    position: absolute;
    opacity: 0.1;
    -webkit-animation: slideOpacity 0.6s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideOpacity 0.6s forwards;
    animation-delay: 0.5s;
}

.slideIn-Opacity-inverse {
    position: absolute;
    opacity: 1;
    -webkit-animation: slideOpacityinv 0.6s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideOpacityinv 0.6s forwards;
    animation-delay: 0.5s;
}

.slideIn-Right {
    position: absolute;
    right: -600px;
    opacity: 0.1;
    -webkit-animation: slideright 0.6s forwards, slideOpacity 0.6s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideright 0.6s forwards, slideOpacity 0.6s forwards;
    animation-delay: 0.5s;
    object-fit: contain !important;
}

.slideIn-Right-inverse {
    position: absolute;
    right: 0;
    opacity: 1;
    -webkit-animation: sliderightinv 0.6s forwards, slideOpacityinv 0.6s forwards;
    -webkit-animation-delay: 0.5s;
    animation: sliderightinv 0.6s forwards, slideOpacityinv 0.6s forwards;
    animation-delay: 0.5s;
}

.heightBanner {
    height: 600px !important;
}

@-webkit-keyframes slideright {
    100% {
        right: 0;
    }
}

@keyframes slideright {
    100% {
        right: 0;
    }
}

@-webkit-keyframes slideOpacity {
    100% {
        opacity: 1;
    }
}

@keyframes slideOpacity {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes sliderightinv {
    100% {
        right: -600px;
    }
}

@keyframes sliderightinv {
    100% {
        right: -600px;
    }
}

@-webkit-keyframes slideOpacityinv {
    100% {
        opacity: 0.1;
    }
}

@keyframes slideOpacityinv {
    100% {
        opacity: 0.1;
    }
}

.slideIn-Left {
    margin-left: -600px;
    opacity: 0.1;
    -webkit-animation: slideleft 0.6s forwards, slideOpacity 0.6s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideleft 0.6s forwards, slideOpacity 0.6s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slideleft {
    100% {
        margin-left: 0;
    }
}

@keyframes slideleft {
    100% {
        margin-left: 0;
    }
}

.slideIn-Left-inverse {
    margin-left: 0;
    opacity: 1;
    -webkit-animation: slideleftinv 0.6s forwards, slideOpacityinv 0.6s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slideleftinv 0.6s forwards, slideOpacityinv 0.6s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slideleftinv {
    100% {
        margin-left: -600px;
    }
}

@keyframes slideleftinv {
    100% {
        margin-left: -600px;
    }
}

@media (max-width: 1185px) and (min-width: 993px) {
    .half-page_banner_no_margin h2 {
        font-size: 50px;
    }

    .moji-widget {
        right: 4%;
        bottom: 10%;
        width: 40%;
    }


    .lead-box h2 {
        font-size: 30px;
        line-height: 50px;
    }



}

@media (max-width: 1024px) and (min-width: 416px) {
    .col-widget-1-4 {
        max-width: 50%;
    }

    .all-in-1-4 img {
        max-width: none !important;
    }

    .half_page_banner_oferta {
        max-height: 271px !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .col-widget-3-4 {
        width: 100%;
        max-width: 1024px;
    }

    .half-page_banner_with_margin {
        max-width: none;
    }

    .servicio_1_4 {
        width: 46%;
    }

    .servicio_1_4 img {
        max-width: none;
        height: 50%;
        max-height: 50%;
    }


    .servicio_1_4 p {
        min-height: 70px;
    }

    .anchor-less {
        margin-top: -14px !important;
    }

    .half-page_banner_no_margin_curve h2 {
        font-size: 43px;
        line-height: 30px;
    }

    .half-page_banner_no_margin_curve h3 {
        font-size: 35px;
        line-height: 60px;
    }


    .all-in-1-4 h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .all-in-1-4 p {
        font-size: 29px;
        line-height: 30px;
    }

    .cuadricula-widget {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (min-width: 1024px) {


    .servicio_1_4 p {
        min-height: none;
    }
}



@media (max-width: 992px) {
    .col-widget-1-4 {
        width: 50%;
    }

    .col-widget-3-4 {
        width: 100%;
    }


    .col-widget-half {
        width: 100%;
    }

    .half-page_banner_no_margin h2 {
        font-size: 50px;
    }


    .lead-box h2 {
        font-size: 30px;
        line-height: 50px;
    }


    .div-text-1-4-oferta {
        width: 78%;
    }

    .half_page_banner_oferta p {
        font-size: 18px;
    }

    .half-page_banner_no_margin_curve h2 {
        line-height: 20px;
    }


    .servicio_1_4 {
        height: min-content;
        min-height: 500px;
    }


    .completing-context-tab-vitrina h2 {
        font-size: 50px;
        line-height: 45px;
    }

    .slider-vitrina1,
    .slider-vitrina2,
    .slider-vitrina3,
    .slider-vitrina4,
    .slider-vitrina5 {
        width: 50% !important;
        max-width: 50% !important;
        background-position-x: right;
        min-width: unset !important;
    }

    .slider-full {
        top: 4% !important;
    }

    .slider-full-context {
        bottom: 12% !important;
    }
}

@media (max-width: 860px) {


    .half-page_banner_no_margin_curve h2 {
        font-size: 42px;
        line-height: 30px;
    }

    .half-page_banner_no_margin_curve h3 {
        font-size: 25px;
        line-height: 20px;
    }


    .half-page_banner_no_margin_curve h4 {
        font-size: 13px;
        line-height: 10px;
    }

    .complete-half-height h2 {
        font-size: 36px;
        margin-left: 20px;
    }

    .complete-half-height h3 {
        font-size: 28px;
        margin-left: 20px;
    }

    .complete-half-height h4 {
        font-size: 22px;
        margin-left: 20px;
    }



    .servicio_1_4 {
        height: min-content;
        min-height: 540px;
    }

    .completing-div-half-editorial {
        width: 50%;
        max-width: 50% !important;
    }

    .completing-context-half-editorial {
        top: 38%;
    }

    .all-in-1-4 h2 {
        font-size: 35px;
        line-height: 39px;
    }

    .all-in-1-4 p {
        font-size: 28px;
        line-height: 30px;
    }

    .half-page_banner_editorial_full .completing-context {
        right: 10px;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial h2 {
        font-size: 48px !important;
        line-height: 49px !important;
    }

    .completing-context-tab-vitrina h2 {
        font-size: 42px;
        line-height: 40px;
    }

    .video-carrusel-widget {
        display: block !important;
    }

    .left-video-widget {
        display: none;
    }

    .right-video-widget {
        display: none;
    }

    .wrapper-carousel-widget {
        width: 100%;
    }

    .card-carousel-widget {
        display: inline-block;
        min-width: 300px;
    }

    .button-wrapper-carousel-widget {
        display: none;
    }

    .carousel-carousel-widget {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        position: relative;
        left: 0;
        transition: all 1s ease;
        justify-content: unset;
        display: flex;
        float: left;
        overflow: auto;
    }

    .for-marcas-widget-false {
        height: 143px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 20px auto;
    }

    .tab-vitrina-widget {
        flex-wrap: nowrap;
    }


    .tab-vitrina-widget button.active {
        background-position: 0px 74px;
    }

    .tab-vitrina-widget button:hover {
        background-position: 0px 74px;
    }

    .for-marcas-widget {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        position: relative;
        left: 0;
        transition: all 1s ease;
        justify-content: unset;
        display: flex;
        float: left;
        overflow: auto;
        flex-wrap: unset;
    }

    .for-marcas-widget .tablinks {
        width: 200px;
        min-width: unset;
    }

    .for-marcas-widget .tablinks img {
        max-width: none;
        width: 150px;
    }

    .tab-vitrina-widget {
        height: 78px;
    }

    .card-carousel-widget-video iframe {
        width: 256px;
        height: 150px;
    }

    .wrapper-carousel-widget-video {
        min-height: 200px;
    }

    .contenedor-max-dos {
        padding: 40px;
    }

}

@media (max-width: 768px) {
    .col-widget-1-4 {
        width: 100%;
    }

    .green-reload-widget img {
        left: 0% !important;
        width: 100% !important;
        max-width: 100% !important;
        height: 100%;
    }

    .btn-bigger-widget {
        width: 60%;
    }

    .moji-widget {
        bottom: 24%;
    }



    .lead-box {
        display: block;
        padding-bottom: 40px;
        max-height: none;
    }

    .lead-box h2 {
        font-size: 30px;
        line-height: 50px;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .form-widget {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        padding: 6% 12%;
    }

    .completing-context h2 {
        font-size: 46px;
    }


    .half-page_banner_no_margin_curve h2 {
        font-size: 50px;
        line-height: 62px;
    }


    .half-page_banner_no_margin_curve h3 {
        font-size: 40px;
        line-height: 60px;
    }


    .half-page_banner_no_margin_curve h4 {
        font-size: 25px;
        line-height: 31px;
    }


    .all-in-1-4 h2 {
        font-size: 28px;
        line-height: 29px;
    }

    .all-in-1-4 p {
        font-size: 22px;
        line-height: 25px;
    }

    h2.to-right {
        max-width: 76% !important;
        right: 10%;
    }


    .completing-context-tab-vitrina h2 {
        font-size: 36px;
        line-height: 38px;
    }


}

@media (max-width: 730px) {


    .complete-half-height h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .complete-half-height h3 {
        font-size: 27px;
        margin-left: 20px;
    }

    .complete-half-height h4 {
        font-size: 20px;
        margin-left: 20px;
    }

    .completing-context h2 {
        font-size: 40px;
    }

    .completing-context h3 {
        font-size: 23px;
    }

    .all-in-1-4 h2 {
        font-size: 25px;
        line-height: 26px;
    }

    .all-in-1-4 p {
        font-size: 18px;
        line-height: 22px;
    }

    .completing-context-tab-vitrina h2 {
        font-size: 32px;
        line-height: 38px;
    }

    .completing-div-tab-vitrina {
        width: 53%;
        max-width: 53% !important;
        padding-top: 50px;
    }

    .special-dots {
        margin-top: -8%;
    }



}

@media (max-width: 654px) {
    .completing-context h2 {
        font-size: 34px;
    }


    .servicio_1_4 {
        height: min-content;
        min-height: 570px;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial h2 {
        font-size: 50px;
        line-height: 52px;
    }

    .completing-context-tab-vitrina {
        margin-right: 30px;
    }
}

@media (max-width: 610px) {

    .btn-bigger-widget {
        width: 60%;
    }

    .completing-context_inverse h2 {
        font-size: 30px;
        line-height: 10px;

    }

    .completing-context_inverse h3 {
        font-size: 18px;
    }



    .page_banner_with_margin {
        display: block;
        max-height: 614px;
        height: 614px;
    }

    .page_banner_with_margin_inverse {
        display: block;
        max-height: 614px;
        height: 614px;
    }

    .col-widget-half {
        max-height: 614px;
        height: 614px;
    }

    .at_bottom_img {
        max-height: 360px;
        height: 360px;
    }

    .half-page_banner_with_margin {
        max-height: 271px;
        height: 271px;
    }

    .half-page_banner_with_margin img {
        width: 100%;
        max-width: 100% !important;
    }

    .at_bottom_img {
        display: block;
    }

    .at_bottom_img img {
        max-height: 360px;
        height: 360px;
        width: 100%;
        min-width: 100% !important;
        max-width: 100% !important;
    }


    .completing-div {
        margin-top: -258px;
    }


    .completing-context {
        margin: auto;
    }

    .completing-context-half {
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
        height: 100%;
        float: right;
        text-align: center;
        margin-right: 0;
        padding-top: 40px;
    }

    .btn-bigger-widget_green {
        width: 48%;
        z-index: 99999999;
        vertical-align: middle;
        margin: auto;
        margin-top: 15px;
    }

    .cint_flexed {
        display: block;
        margin: auto;
    }

    .servicio_flexed {
        display: block;
        margin: auto;
        max-height: none;
        max-width: 100%;
    }

    .col-widget-full {
        width: 100%;
        max-height: none !important;
        height: auto !important;
        position: relative;
    }

    .cintillo_1_4 {
        width: 100% !important;
        padding: 10px 50px;
        margin: auto;
    }

    .servicio_1_4 {
        min-width: 95% !important;
        padding: 10px 50px;
        margin: 10px auto;
        height: min-content;
        min-height: unset;
    }


    .half-page_banner_no_margin {
        height: auto !important;
        max-height: none !important;
        min-height: auto !important;
        padding-bottom: 10px;
    }


    .moji-widget {
        bottom: 24%;
        right: 30%;
        width: 15%;
    }

    .subdiv-widget-flexed {
        width: 100%;
        text-align: center;
        display: grid;
    }

    .subdiv-widget-flexed button {
        width: 100%;
        margin-top: 85px;
    }

    .moji-widget-2 {
        width: 32%;
        margin-left: 66px;
    }



    .complete-half-height h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .complete-half-height h3 {
        font-size: 24px;
        margin-left: 20px;
    }

    .complete-half-height h4 {
        font-size: 17px;
        margin-left: 20px;
    }

    .half_page_banner_oferta h2 {
        font-size: 22px;
        line-height: 25px;
    }

    .half_page_banner_oferta p {
        font-size: 16px;
        line-height: 16px;
    }

    .completing-context h2 {
        font-size: 26px;
    }

    .completing-context {
        padding-top: 60px;
    }

    .all-in-1-4 h2 {
        font-size: 22px;
        line-height: 24px;
    }

    .all-in-1-4 p {
        font-size: 15px;
        line-height: 18px;
    }

    .half-page_banner_with_offering {
        height: auto;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial {
        top: 28% !important;
    }

    .completing-context-tab-vitrina h2 {
        font-size: 25px;
        line-height: 28px;
    }

    .completing-div-tab-vitrina {
        width: 60%;
        max-width: 60% !important;
    }

    .completing-context-tab-vitrina {
        top: 38%;
    }

    .half-page_banner_editorial_full .slider-full {
        top: 12% !important;
    }

    .half-page_banner_editorial_full .slider-full h2 {
        font-size: 40px !important;
        line-height: 42px !important;
    }

    .half-page_banner_editorial_full .slider-full p {
        font-size: 15px !important;
        line-height: 17px !important;
    }

}

@media (max-width: 538px) {


    .completing-context h2 {
        line-height: 10px;
    }

    .all-in-1-4 h2 {
        font-size: 19px;
        line-height: 22px;
    }

    .all-in-1-4 p {
        font-size: 14px;
        line-height: 14px;
    }

    .completing-context {
        padding-top: 100px;
    }

    .col-widget-full-banner-hero h2 {
        font-size: 20px;
    }


    .complete-half-height h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .complete-half-height h3 {
        font-size: 24px;
        margin-left: 20px;
    }

    .complete-half-height h4 {
        font-size: 17px;
        margin-left: 20px;
    }

    .half-page_banner_editorial_full {
        height: 542px;
    }

    .half-page_banner_editorial_full .completing-context {
        width: 80% !important;
        max-width: 80% !important;
        min-width: 80% !important;
        right: 18px;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial {
        top: 35%;
    }

    .half-page_banner_no_margin_curve h2 {
        line-height: 30px;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial h2 {
        font-size: 42px;
        line-height: 46px;
    }

    .completing-context-tab-vitrina h2 {
        font-size: 22px;
        line-height: 24px;
    }

    .completing-div-tab-vitrina {
        width: 65%;
        max-width: 65% !important;
    }

    .tab-vitrina-widget button {

        width: 25%;
    }

}


@media (max-width: 415px) {

    .green-reload-widget img {
        width: 100% !important;
        max-width: 100%;
        height: 100%;
    }


    .btn-bigger-widget {
        width: 60%;
    }

    .special-dots {
        display: none;
    }

    .img-bannerhero-vitrina {
        height: 50% !important;
        width: 100% !important;
        top: 50%;
    }


    .completing-div {
        width: 100%;
        max-width: 100% !important;
        position: absolute;
        z-index: 2;
        bottom: 0;
        height: 50%;
        background-image: url("data:image/svg+xml,%3Csvg width='320px' height='249px' viewBox='0 0 320 249' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter x='-3.8%25' y='-2.9%25' width='107.5%25' height='105.7%25' filterUnits='objectBoundingBox' id='filter-1'%3E%3CfeOffset dx='0' dy='2' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0' type='matrix' in='shadowBlurOuter1'%0Aresult='shadowMatrixOuter1'%3E%3C/feColorMatrix%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'%3E%3C/feMergeNode%3E%3CfeMergeNode in='SourceGraphic'%3E%3C/feMergeNode%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg id='Welcome' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Hero---con-curva---Mobile-Copy-14' transform='translate(0.000000, -176.000000)' fill='%23FFFFFF'%3E%3Cg id='a9-feature-image-copy-2' filter='url(%23filter-1)' transform='translate(0.000000, 0.000000)'%3E%3Cpath d='M289.640643,462.287084 C325.419535,346.61659 343.164446,288.607308 342.875378,288.259238%0AC270.313323,200.886575 181.953283,157.010357 90.790347,177.141059 C78.4136529,179.870507 60.191855,186.471571%0A36.1249532,196.944253 L-16.3768786,368.728139 L289.640643,462.287084 Z' id='M' transform='translate(163.254380, 317.298378) scale(-1,%0A1) rotate(-17.000000) translate(-163.254380, -317.298378) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: 0px;
    }

    .completing-context {
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
        height: 100%;
        margin: 0 auto;
    }

    .completing-context h2 {
        font-size: 30px;
        line-height: 5px;
    }

    .completing-context h3 {
        font-size: 22px;
    }

    .completing-div_inverse {
        width: 100%;
        max-width: 100% !important;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        height: 100%;
        height: -webkit-fill-available;
        max-height: 58%;
    }

    .completing-context_inverse {
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .i-arrow-left,
    .i-arrow-right {
        display: none !important;
    }

    .slick-dots.slick-dots_animated li {
        width: 9%;
    }

    .col-widget-1-4 {
        width: 25%;
        max-width: none;
        max-height: none;
        position: relative;
    }

    .all-in-1-4 img {
        max-width: none !important;
    }

    .all-in-1-4 h2 {
        font-size: 25px;
        line-height: 29px;
    }

    .all-in-1-4 p {
        font-size: 20px;
        line-height: 25px;
    }

    .half_page_banner_oferta {
        max-height: 271px !important;
        width: 100% !important;
        max-width: 100% !important;
    }


    .div-text-1-4-oferta {
        width: 80%;
    }

    .complete-half-height h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .complete-half-height h3 {
        font-size: 24px;
        margin-left: 20px;
    }

    .complete-half-height h4 {
        font-size: 17px;
        margin-left: 20px;
    }

    .half-page_banner_editorial_full h2 {
        font-size: 22px !important;
    }

    .half-page_banner_editorial_full p {
        font-size: 18px !important;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial {
        top: 25% !important;
        margin-right: 20px;
    }

    .half-page_banner_editorial_full .completing-context {
        bottom: 10px;
        right: 0px;
    }

    .completing-context-half-editorial {
        margin-right: 10px;
        right: 0;
    }

    .completing-context-half-editorial {
        top: 28%;
    }

    .half-page_banner_with_margin {
        display: block;
        height: 542px;
        max-height: 542px;
    }

    .completing-div-half {
        width: 100%;
        max-width: 100% !important;
        height: 50%;
        position: absolute;
        background-size: cover;
        bottom: 0;
    }

    .half-page_banner_with_margin img {
        height: 100%;
    }

    .complete-half-width .completing-context-half button {
        position: absolute !important;
        right: 40px !important;
        width: 35% !important;
    }

    .servicio_1_4 {
        width: 96%;
    }


    .servicio-destacado {
        max-height: none;
    }

    .anchor-less {
        margin-top: -6px !important;
    }

    .servicio_1_4 a {
        margin: 40px auto 0 auto;
    }

    .half-page_banner_no_margin_curve {
        min-height: 542px !important;
    }

    .half-page_banner_no_margin_curve h2 {
        font-size: 50px;
        line-height: 62px;
    }

    .half-page_banner_no_margin_curve h3 {
        font-size: 25px;
        line-height: 50px;
    }

    .completing-div-oferta {
        background-position-x: -88px;
    }

    .half_page_banner_oferta h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial h2 {
        font-size: 30px !important;
        line-height: 32px !important;
    }

    .half-page_banner_editorial_full .completing-context-half-editorial button {
        width: 40%;
    }

    .completing-context-half-editorial h2 {
        font-size: 30px !important;
        line-height: 32px !important;
        max-width: 98%;
    }

    .lead-box h2 {
        font-size: 28px;
        line-height: 30px;
        margin: 10px 0;
        padding: 0;
    }

    h2.to-right {
        max-width: 75% !important;
        right: 8px;
        font-size: 35px;
    }

    .half-page_banner_with_offering {
        padding: 40px 0 0;
    }

    .to-right {
        margin-top: 30px;
    }

    .completing-context-tab-vitrina {
        top: 34%;
    }

    .left-video-widget {
        padding: 9px;
    }

    .right-video-widget {
        padding: 0px;
    }

    .contenedor-max-dos {
        padding: 10px;
        padding-top: 10px;
    }

    .cuadricula-widget {
        grid-template-columns: repeat(2, 1fr);
    }

    .bigger-cuadricula {
        grid-column-end: span 2;

    }

    .center-cuadricula span {
        font-size: 25px;
    }

    .slider-vitrina1,
    .slider-vitrina2,
    .slider-vitrina3,
    .slider-vitrina4,
    .slider-vitrina5 {
        width: 100% !important;
        max-width: 100% !important;
        height: 60%;
    }

    .half-page_banner_editorial_full .slider-full {
        top: 8% !important;
    }

    .prev-banner-hero,
    .next-banner-hero {
        display: block !important;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /*.cuadricula-widget {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 300px; 

    }

    .cuadricula_1_4 {
        -ms-grid-column-span: 1;
        -ms-grid-column-align: end;
    }

    .bigger-cuadricula {
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 2;
    }*/

    .cuadricula-widget {
        display: flex;
        flex-wrap: wrap;
    }

    .cuadricula_1_4 {
        width: 23%;
        margin: 10px;
    }

    .bigger-cuadricula {
        padding: 15px 0 15px 0;

        webkit-box-shadow: 0px 1px 1px #00A9E0;
        -moz-box-shadow: 0px 1px 1px #00A9E0;
        box-shadow: 0px 1px 1px #00A9E0;

        webkit-box-shadow: 0px 2px -1px #00A9E0;
        -moz-box-shadow: 0px 2px -1px #00A9E0;
        box-shadow: 0px 2px -1px #00A9E0;

        webkit-box-shadow: 0px 1px 3px #00A9E0;
        -moz-box-shadow: 0px 1px 3px #00A9E0;
        box-shadow: 0px 1px 3px #00A9E0;

    }

    .bigger-cuadricula img {
        height: 110px;
    }

    .bigger-cuadricula:hover img {
        height: 200px;
        transition: all 0.2s ease-out;
    }

    .bigger-cuadricula:hover img {
        height: 200px;
        transition: all 0.2s ease-out;
    }

    .slideIn-Right-margin {
        opacity: 1;
    }


    .slideIn-Left-margin {
        opacity: 1;
        -webkit-animation: slideleftmargin 0.3s forwards;
        animation: slideleftmargin 0.3s forwards;
    }


    .slideIn-Right {
        opacity: 1;
        -webkit-animation: slideright 0.6s forwards;
        animation: slideright 0.6s forwards;
        width: auto !important;
    }

    .slideIn-Right-inverse {
        opacity: 1;
        -webkit-animation: sliderightinv 0.6s forwards;
        animation: sliderightinv 0.6s forwards;
    }


    .slideIn-Left {
        opacity: 1;
        -webkit-animation: slideleft 0.6s forwards;
        animation: slideleft 0.6s forwards;
    }


    .slideIn-Left-inverse {
        opacity: 1;
        -webkit-animation: slideleftinv 0.6s forwards;
        animation: slideleftinv 0.6s forwards;
    }

    .section-title {
        display: -ms-flexbox;
    }

    ul.carousel-carousel-widget .grid__photo {
        margin: 7px auto;
        width: 100%;
    }

    .special-img-widget{
        max-height: 270px !important;
    }

    .tablinks{
        background-color: transparent !important;
    }

    .special-img-widget img {
        max-width: 100%;
        margin: auto;
    }

}