<?php
$blockOrder = $block->getLayout()->createBlock('Vass\ErrorFlap\Block\Index');
$link_wysiwyg = $this->getUrl('pub/media/wysiwyg/');
$link_recortes = $link_wysiwyg."recortes/";
$order = $blockOrder->getOrderId();
?>
<div class="band band_inner">
    <div class="head-callto i-phone">
        <div class="head-callto__link"><a class="btn btn_blue" href="#" title="Llamar para comprar">Llamarme para comprar</a></div>
    </div>
</div>
<main class="content success-problem">
    <section class="band_inner layout_section">
        <article class="board">
            <header class="board__top-head card-top__warning">
                <p class="subtitle_gral">Pago pendiente</p>
                <div class="card-ico card-ico__warning">
                    <h1 class="card-ico__title i-x-ring">Tu pedido no pudo ser procesado</h1>
                    <p class="card-ico__txt">Tu pedido no pudo ser procesado, en breve un ejecutivo se pondrá en contacto contigo.</p>
                </div>
            </header>
            <div class="board-head">
                <div class="board-head__txt">Orden No. <?=$order?></div>
                <div class="board-head__txt">Transacción No. 1625 3- 32726</div>
            </div>
            <div class="board-foot">
                <div class="board-foot__box">
                    <h4 class="board-foot__txt subtitle_gral">¿Necesitas Ayuda?</h4>
                    <p class="board__txt">Para cualquier duda o reclamo por favor escribe un correo a<a class="board__link link__brand" href="mailto:soporte.comprasonline.mx@telefonica.com" title="Escribir al correo">soporte.comprasonline.mx@telefonica.com</a></p>
                </div><a class="board__btn btn" href="<?= '/'; ?>" title="Volver a intentarlo">Volver a intentar</a>
            </div>
        </article>
        <div class="data__info">
            <p class="data__label">Compra segura</p><img class="data__info-img" src="<?=$link_recortes.'logos-compra_segura.png'?>" alt="">
        </div>
    </section>
</main>