<?php
/** @var \Vass\WidgetPlanes\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';
    $mode = 'grid';
    $image = 'favorite_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
    $typeDisplay = $block->escapeHtml(__($block->getTipo()));
    $sliderCount = 0;
    $link_base = $this->getBaseUrl();
    $attrImg = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
    $promocion = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal02\Block\Attributes');
    ?>

    <div class="layout_section" id="planeshidden" data-tipo="<?= $typeDisplay ?>" style="opacity: 0;height:1px;    overflow: hidden;">
        <div class="layout_inner steps__block" style="text-align: center;max-width: 800px;" id="hideinfo">
            <p class="txt-high" style="font-size: 30px;">
                Desafortunadamente nuestra oferta no está disponible en tu zona, pero tenemos estas grandes opciones de planes para ti:
            </p>
            <a class="link__brand" id="reintenta-cp" href="#gotoAttaker" alt="Reintentar con otro código postal">
                Reintentar con otro código postal
            </a>
        </div>
        <div class="inner_canvas tag_inner">
            <div class="c-steps__cont steps__cont" style="height: 900px !important;"><span class="spinner js-SpinnerTime"></span>

                <div class="slider__cards slider__cards_full js-slideCardsCheck">
                    <?php foreach ($items as $_item):
                        $imgPromo = $attrImg->atributeSet($_item->getId());
                        $texto = $promocion->atributeSetTexto($_item->getId());?>
                        <?php
                        $itemId = $_item->getId();
                        $productAttributes = $block->getAttributes($itemId);
                        if(!$productAttributes->getPlanControlEnabled()){
                            $itemDescription = $_item->getShortDescription();

                            $first = $_item->getName();

                            $vigencia = $productAttributes->getVigenciaPla();
                            $minPlan = $productAttributes->getMinutosSmsPlan();
                            $moviPlan = $productAttributes->getMovistarCloudPlan();
                            $planControl = $productAttributes->getPlanControl();
                            $sociales = $productAttributes->getRedesSocialesIlimitadas();
                            $labelPlanControl = $productAttributes->getResource()->getAttribute('plan_control')->getFrontend()->getValue($productAttributes);
                            $sliderCount++;
                            if ($sliderCount == 1) {
                                $bgheader = "bg-blue ";
                            }else{
                                $bgheader = "bg-blue";
                            }
                            $ballon = $productAttributes->getTagBalloonEnabled();
                            $ballon_url = "pub/media/wysiwyg/recortes/" . $productAttributes->getCorcholataUrl();
                            $star = $productAttributes->getTagStarEnabled();
                            $tyc_url = $productAttributes->getPlanTycUrl();
                            $tyc_url_control = $productAttributes->getPlanTycUrlControl();
                            $htmlTermCond = $productAttributes->getHtmlTermCond();
                            ?>
                            <div class="slider__cards_item js-cardDropdown" style="height: 100% !important;">
                                <!--HOTFIX-INTPOSP-711: Altura de las parrillas -->
                                <div class="c-card card card_check js-cardCheck" style="height: 40% !important;">
                                    <header class="card__header <?= $bgheader ?>">
                                        <?php if($imgPromo!=''):?>
                                            <div class="grid_tags img_promo">
                                                <div id="" class="texto-prom "><?=$texto?></div>
                                                <img  class="img-k" src="<?=$imgPromo?>"/>
                                            </div>
                                        <?php endif;?>
                                        <?php echo "<div class='oculto' style='display:none;'>$itemDescription</div>"; ?>
                                        <div class="card__header-item">
                                            <!-- Texto Plan -->
                                            <p class="card__tag-txt">

                                            </p>
                                            <!-- Título Plan -->
                                            <h2 class="card__title">

                                            </h2>

                                            <!-- Lista de iconos **Mobile**-->
                                            <?php if ($sociales == 1) : ?>
                                                <p class="card__txt plan_detail_mobile">Redes sociales ilimitadas*</p>
                                            <?php endif; ?>

                                            <!-- Etiqueta fixed de promoción -->
                                            <div class="card__position tag__wrapper">
                                                <small class="card__txt">

                                                </small>
                                                <!-- Etiqueta de promoción-->
                                                <div class="tag-svg tag--spacer">
                                                    <?php if ($star == 1):?>
                                                        <img class="tag-svg__img" src="<?php echo $link_base."media/wysiwyg/recortes/star.svg" ?>" title="Promoción" alt="star" longdesc="<?= $link_base."media/wysiwyg/recortes/star.svg" ?>">
                                                        <span class="tag tag_bg-green tag--padding">
                                                    <span class="txt">Promoción</span>
                                                    <strong class="txt-strong">
                                                        <?php echo $priceHelper->currency($block->getProductByAttribute($_item->getId(), 'price'), true, false); ?>
                                                    </strong>
                                                </span>
                                                    <?php elseif ($ballon == 1): ?>
                                                        <img class="tag-svg__img" src="<?php echo $ballon_url; ?>" title="Promoción" alt="circle" longdesc="<?php echo $ballon_url; ?>">
                                                        <span class="tag tag_bg-green">
                                                    <p class="txt-hand">Doble de</p>
                                                    <strong class="txt-strong">GB</strong>
                                                    <small class="txt-sm">por un año</small>
                                                </span>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                            <div class="card_desktop card__header-block">
                                                <small class="card__tag-txt two">

                                                </small>
                                                <small class="card__txt">

                                                </small>
                                                <small class="card__txt-sm">

                                                </small>
                                            </div>
                                        </div>
                                        <div class="card__header-info card_mobile">
                                            <div class="card__header-row">
                                                <p class="card__txt-through txt_through"></p>
                                                <p class="card__txt-high">
                                                    <?= $priceHelper->currency($block->getProductByAttribute($_item->getId(), 'price'), true, false); ?>
                                                    <small class="card__header-small"><?= __('/mes') ?></small>
                                                </p>
                                            </div>
                                            <!-- Botón desplegable-->
                                            <button class="card__header-btn i-arrow-down js-cardDropdownBtn" type="button">
                                                Desplegable
                                            </button>
                                        </div>
                                    </header>
                                    <!-- Content in rows-->
                                    <div class="card__wrap js-cardWrap">
                                        <div class="card__content">
                                            <div class="card__item">
                                                <p class="card__txt-bold js-highText">
                                                    <?= $block->escapeHtml(__($first)) ?>
                                                </p>
                                            </div>
                                            <!-- <div class="card__item">
                                                <div class="card__item-row">
                                                    <p class="card__txt">

                                                    </p>
                                                    <p class="card__txt">

                                                    </p>
                                                </div>
                                            </div>-->

                                            <?php if ($sociales == 1) { ?>
                                                <!--<div class="card__item">
                                                    <p class="card__txt card__txt2 ">Redes sociales ilimitadas*</p>
                                                </div>-->

                                                <div class="card__item card__item_socials" style="min-height: 115px;">

                                                    <!-- Sección redes sociales -->
                                                    <p><small class="txt-small">Redes sociales</small></p>
                                                    <!--PREPAGO: PREPAGO-22 Lista de iconos-->
                                                    <ul class="vsm-list-ico list-ico">
                                                        <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-twitter.svg" alt="twitter"></li>
                                                        <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-facebook.svg" alt="facebook"></li>
                                                        <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-instagram.svg" alt="instagram"></li>
                                                        <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-whatsapp.svg" alt="whatsapp"></li>
                                                        <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-snapchat.svg" alt="snapchat"></li>
                                                        <li class="list-ico__item"><img class="list-ico__img" src="/media/wysiwyg/recortes/vsm-messenger.svg" alt="messenger"></li>
                                                    </ul>
                                                    <p class="card__txt card__txt2">Ilimitados</p>
                                                </div>
                                            <?php } ?>

                                            <div class="card__item">
                                                <p class="card__txt">
                                                    <?= $block->escapeHtml(__($minPlan)) ?>
                                                </p>
                                                <small class="txt-small">(En méxico, Estados Unidos y Canadá)</small>
                                            </div>
                                            <div class="card__item control-plan">
                                                <p class="card__txt-high js-pricePlan">
                                                    <?= $priceHelper->currency($block->getProductByAttribute($_item->getId(), 'price'), true, false); ?>
                                                    <small class="card__header-small"><?= __('/mes') ?></small>
                                                </p>
                                                <div class="card__row_inline">
                                                    <div class="c-card__group">
                                                        <input class="form__check i-check-planes" type="checkbox" id="checkplan<?= $block->escapeHtml(__($sliderCount)) ?>" name="checkplanes" title="<?=$block->idProductAsociado($_item->getId());?>">
                                                        <label class="form__label_check i-check i-check-planes value-plan-id" for="checkplan<?= $block->escapeHtml(__($sliderCount)) ?>" title="<?=$block->idProductAsociado($_item->getId());?>">
                                                            <?= $block->escapeHtml(__($labelPlanControl)) ?>
                                                        </label>
                                                        <div class="tool-box">
                                                            <button class="btn-i i-question-ball js-btnTooltipData nc-color" type="button">
                                                                <?= __('Pregunta') ?>
                                                            </button>
                                                            <div class="tool i-tooltip js-tooltipData js-tooltipData-close">
                                                                <p class="tool__txt">
                                                                    <?= __('Al seleccionar un plan controlado, evitas cargos excedentes en tu factura. Obtienes los beneficios mensuales del plan que elegiste y cuando estos beneficios se agoten,  deberás realizar una recarga o contratar un paquete adicional.') ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <footer class="card__foot">
                                                <button class="card__btn btn js-cardCheckBtn value-plan-id-button" type="button" title="<?=$_item->getId()?>">
                                                    <?= __('Lo quiero') ?>
                                                </button>
                                                <p class="card__success i-check"><?= __('Plan seleccionado') ?></p>
                                                <button class="steps__link link__brand nc-color" type="button"></button>
                                            </footer>
                                        </div>
                                        <div class="card__foot-box">
                                            <?php if ($sociales == 1) { ?>
                                                <small class="txt-sm" style="margin-bottom: 10px;">*Instagram, Snapchat, Uber, Facebook, Twitter y Whatsapp.</small>
                                            <?php } ?>
                                            <?php if ($tyc_url) : ?>
                                                <p class="tc_plan" style="text-align: center; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;" data-ambiente="Prod"><a href="<?php echo $tyc_url; ?>" target="_blank">Términos y Condiciones</a></p>
                                            <?php endif; ?>

                                            <?php if ($tyc_url_control) : ?>
                                                <p class="tc_control" style="text-align: center; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;display: none;" data-ambiente="Prod">
                                                    <a href="<?php echo $tyc_url_control; ?>" target="_blank">Ver Términos y Condiciones</a>
                                                </p>
                                            <?php endif; ?>

                                            <?php if ($htmlTermCond) : ?>
                                                <div class="tc_plan" style="text-align: center; font-size: 0.9em; color: #86888c; font-family: 'Telefonica Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;" data-ambiente="Prod">
                                                    <?php echo $htmlTermCond; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <?php } ?>
                    <?php endforeach; ?>
                </div>

            </div>
        </div>
    </div>
<?php endif;?>


<script type="text/javascript">
    require([
        'jquery'
    ], function (
        $
    ) {
        var ua = navigator.userAgent;
        var element = $(".texto-prom");
        element.addClass("texto_promo");

        $(document).ready(function(){
            console.log("Procesa Planes");
            $( ".card__header" ).each(function( index ) {
                var fila1 = $(this).find(".fila1").html();
                var fila2 = $(this).find(".fila2").html();
                var fila3 = $(this).find(".fila3").html();
                var fila4 = $(this).find(".fila4").html();
                var fila5 = $(this).find(".fila5").html();
                var fila6 = $(this).find(".fila6").html();
                $(this).find('.card__tag-txt').html(fila1);
                $(this).find('.card__title').html(fila2);
                $(this).find('.card__tag-txt.two').html(fila3);
                $(this).find('.card__txt').html(fila4);
                $(this).find('.card__txt-sm').html(fila5);

            });
        });
        //- Hotfix-INTPOSP-711
        function sameHeight(el) {
            var height = 0;
            el.each(function() {
                var elHeight = $(this).height();
                console.log($(this))
                console.log(elHeight)
                if(elHeight > height) {
                    height = elHeight;
                }
            });
            console.log('final')
            console.log(height)
            el.height(height*2);
        }
        if ($( window ).width() > 724) {
            sameHeight($('.js-highText'));
        }

    });
</script>