/*------------------------------------*\
	texts links
\*------------------------------------*/

a {
  cursor: pointer;
  text-decoration: none;
  outline-width: 0;
  color: $c-default;

  &:focus {
    outline-width: 0;
  }
}

/**
 * @atom Links generales
 * @section Links
 * @modifiers
 *  .link Links  generales
 *  .link_brand  Link general de color azul
 *  .link_under  Link general con underline
 * @markup
 *  <a class="link" href="#" title="Go to Link">Link General</a> </br>
 *  <a class="link__brand" href="#" title="Go to Link">Link Azul</a> </br>
 *  <a class="link link_under" href="#" title="Go to Link">Link subrayado</a> </br>
 *
 */

.link {
  transition: all 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $c-brand-2;
  }
}


/**
 * @atom Link con imagen
 * @section Links
 * @modifiers
 *  .link-img_neutro Link con imagen en blanco
 * @markup
 *  <a class="link-img" href="#" title="Go to Link">Link con imagen</a> </br>
 */

.link-img {
  @include flexbox;
  @include justify-content(center);
  &:after {
    content: url('../../web/images/triangle.svg');
    display: block;
    padding-left: $sp-xsmall;
  }
}

.link-img_neutro {
  &:after {
    content: url('../../web/images/triangle-neutro.svg');
  }
}




.link_under {
  text-decoration: underline;
  transition: all 0.2s linear;

  &:hover,
  &:focus,
  &:active {
    color: $c-brand-2;
  }
}

.link__alert {
  color: $c-alert;
  transition: all 0.2s linear;

  &:hover {
    color: $c-alert_hover;
  }
}

.link__brand {
  color: $c-brand-2;
  text-decoration: underline;
  transition: all 0.2s linear;

  &:hover {
    color: $c-brand-2-hover;
  }
}


.link__arrow {
  display: inline-block;
  color: $c-brand-2;
  text-decoration: none;
  transition: all 0.2s linear;
  vertical-align: middle;
  &:hover {
    color: $c-brand-2-hover;
  }
  &:after {
    content: unicode($icon-keyboard_arrow_right);
    font-family: 'icomoon';
    vertical-align: middle;
    position: relative;
    top: 2px;
  }
}


.link__brand_small {
  @include font-rem(14px);
}

.link__ico {

  &:before {
    display: inline-block;
    color: $c-alert;
    list-style: none;
  }
}

.link__brand_noline {
  text-decoration: none;
}

.link__neutro {
  color: $c-neutro;
  transition: all 0.2s;
}

.link__block {
  display: block;
  padding-top: $sp-xsmall;
  text-align: center;
}

.link-help {
  font-family: $f-default;

  &:before {
    display: inline-block;
    margin-right: 10px;
    color: $c-tag-1;
  }
}

.active {
  color: $c-brand-2;
}

/**
 * @atom Item Tab con icono Negro
 * @section Tabs
 * @modifiers
 *  .anchor-item  Tab general
 * @markup
 *  <button class="anchor-item i-arrow-back">Añadir nueva dirección de envío</button>
 */

//Button aspecto de tab con ico
.anchor-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $sp-small $sp-xsmall;
  color: $c-default;
  @include font-rem(18px);
  font-family: $f-bold;
  text-align: left;
  border-bottom: 1px solid $c-default-6;
  background-color: $c-neutro;

  &:before {
    order: 2;
    @include font-rem(12px);
  }

  &.anchor-item_close {
    &:before {
      transform: rotate(180deg);
    }
  }
}



/**
 * @molecule bloque de links
 * @section Navegación
 * @markup
 *   <div class="block-links">
 *       <div class="block-links__item">
 *         <a class="link__brand"href="#"alt="Editar Selección">Editar Selección</a></div>
 *       <div class="block-links__item">
 *         <a class="link__brand"href="#"alt="Imprimir">Imprimir</a>
 *       </div>
 *     </div>
 */

//- **** Bloque de Links  ***////
.block-links {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

//- Elemento
.block-links__item {
  @include flex(auto 0);
  &:first-child {
    padding-right: $sp-small;
    border-right: 1px solid $c-brand-2;
  }
  &:last-child {
    padding-left: $sp-small;
  }
}

@media screen and (max-width: 374px) {
  .link__brand_xs {
    position: absolute;
    top: 20px;
    left: 50px;
    right: 0;
  }
}

