/**
 * @atom Backgrounds generales
 * @section Backgrounds
 * @modifiers
 *  .bg-blue        Fondo Azul #00A9E0
 *  .bg-green       Fondo Verde #5BC500
 *  .bg-magenta     Fondo Magenta #E9426D
 *  .bg-orange      Fondo Naranja #EC6839
 *  .bg-yellow      Fondo Verde  #5BC500
 *  .bg-purple      Fondo Púrpura  #954B97
 * @markup
 *   <div class="banners-duo">
 *     <!-- Banner #1-->
 *     <div class="banners-duo__item bg-blue">
 *         <!-- Banner Box #1 - Left-->
 *         <a class="banner-box_left banner-box__link" href="#" title="Promoción de navidad">
 *           <!-- Imagen-->
 *           <figure class="banner-box__crop"><img class="banner-box__fig" src="../static/img/demo/banner-stars.png" alt="Hot Sale"></figure>
 *           <!-- Caption-->
 *           <div class="banner-box__caption">
 *               <h2 class="banner-box__title">Descubre nuestras promociones navideñas</h2>
 *               <span class="banner-box__anchor i-a-arrow-right">Ver promo</span>
 *           </div>
 *         </a>
 *     </div>
 *     <div class="banners-duo__item bg-green">
 *         <!-- Banner #2 - right-->
 *         <a class="banner-box_right banner-box__link" href="#" title="Premios de navidad">
 *           <!-- Caption-->
 *           <div class="banner-box__caption">
 *               <!-- Title banner-->
 *               <h2 class="banner-box__title banner-box__title_xlight">Cámbiate, recarga $100 y obtén:</h2>
 *               <!-- Grid de lista-->
 *               <ul class="banner-box__row">
 *                 <!-- Item#1-->
 *                 <li class="banner-box__piece">
 *                     <p class="txt-high">300 MB</p>
 *                     <span class="txt">para navegar</span>
 *                 </li>
 *                 <!-- Item#2-->
 *                 <li class="banner-box__piece">
 *                     <p class="txt_bold"> 100 MB</p>
 *                     <!-- Lista de iconos-->
 *                     <ul class="banner-box__list-i banner-box__list-i_right">
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/netflix.svg" alt="Netflix"></li>
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/youtube.svg" alt="Youtube"></li>
 *                     </ul>
 *                 </li>
 *                 <!-- Item#3-->
 *                 <li class="banner-box__piece">
 *                     <!-- Lista de iconos-->
 *                     <ul class="banner-box__list-i">
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/facebook.svg" alt="facebook"></li>
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/uber.svg" alt="uber"></li>
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/twitter.svg" alt="twitter"></li>
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/whatsapp.svg" alt="whatsapp"></li>
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/instagram.svg" alt="instagram"></li>
 *                       <li class="banner-box__item-i"><img class="banner-box__ico-i" src="../static/img/demo/icono/snapchat.svg" alt="snapchat"></li>
 *                       <li class="banner-box__item-i"><span class="txt">Ilimitado</span></li>
 *                     </ul>
 *                 </li>
 *               </ul>
 *               <!-- Link--><span class="banner-box__anchor i-a-arrow-right">Conoce más</span>
 *           </div>
 *         </a>
 *     </div>
 *   </div>
 */


.bg-blue {
  background-color: $c-bg_brand-2;
}

.bg-green {
  background-color: $c-bg_brand;
}

.bg-magenta {
  background-color: $c-bg_danger;
}

.bg-purple {
  background-color: $c-bg_dark;
}

.bg-orange {
  background-color: $c-bg_warning;
}

.bg-yellow {
  background-color: $c-bg_light;
}
