/*------------------------------------*\
	Transversal Elements
    #Styles links - appearance buttons
\*------------------------------------*/

button {
  outline-width: 0;
  border: none;
  &:focus {
    outline-width: 0;
  }
  &:disabled {
    cursor: default;
    background-color: $c-default-1;
  }
}

/**
 * Botones generales con fondo de Azul y verde.
 * @atom Botones Generales
 * @section Botones
 * @modifiers
 *  .btn Botón principal de fondo verde
 *  .btn_blue Botón Secundario de fondo azul
 *  .btn_small Botón con menos alto
 *  .btn_neutro Botón con fondo neutral
 *  .btn_disable Botón con fondo similar al de un elemento desactivado
 *  .btn_neutro Botón con fondo blanco y borde azul
 *  .btn_neutro-brand Botón con fondo blanco y borde verde
 * @markup
 *   <a class="btn" href="#" title="Go to Button">Continuar</a>
 *   <a class="btn btn_blue" href="#" title="Go to Button">Continuar</a>
 *   <a class="btn btn_disable" href="#" title="Go to Button" disable>Continuar</a>
 *   <a class="btn btn_neutro" href="#" title="Go to Button" disable>Continuar</a>
 *   <a class="btn btn_neutro-brand" href="#" title="Go to Button" disable>Continuar</a>
 */

//- Elemento
.btn {
  display: inline-block;
  padding: 16px 14px;
  text-align: center;
  color: $c-neutro;
  @include font-rem(18px);
  font-family: $f-bold;
  letter-spacing: .05em;
  transition: all 0.2s linear;
  border-radius: 4px;
  background-color: $c-brand;
  &.i-shopping-car {
    &:before {
      padding-right: 14px;
      @include font-rem(26px);
      vertical-align: middle;
    }
  }
  &:hover {
    transform: translateY(-1px);
    @include box-shadow(2);
    //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:focus,
  &:active {
    background-color: $c-brand-hover;
  }
}

.btn_small {
  line-height: 1.15;
}

//- Modificador
.btn_neutro {
  font-family: $f-regular;
  background-color: $c-neutro;
  border: 2px solid $c-brand-2;
  transition: all 0.2s linear;
  color: $c-brand-2;
  &:hover,
  &:focus,
  &:active {
    background-color: $c-default-5;
  }
}

//- Modificador
.btn_neutro-brand {
  font-family: $f-regular;
  background-color: $c-neutro;
  border: 2px solid $c-brand;
  transition: all 0.2s linear;
  color: $c-brand;
  &:hover {
    background-color: $c-default-5;
  }
}

//- Modificador
.btn_blue {
  background-color: $c-brand-2;
  transition: all 0.2s linear;
  &:hover {
    background-color: $c-brand-2-hover;
  }
}

//- Modificador
.btn_disable {
  background-color: $c-default-1;
  transition: all 0.2s linear;
  &:hover {
    background-color: $c-default-2;
  }
}


//- Elemento
.btn-i {
  @include font-rem(0px);
  @include flexbox;
  padding-bottom: 0;
  transition: all 0.2s linear;
  transform: scale(1);
  background-color: transparent;
  &:before {
    @include font-rem(20px);
  }
  &:hover {
    transform: scale(1.2);
  }
}

/**
 * @atom Botón Circular
 * @section Botones
 * Botón fixed con interacción que abre un listado de terminales seleccionados.
 *
 * @markup
 *   <button class="btn-circle i-shopping-car">Carrito de compra
 *     <small class="btn-circle-small">1</small>
 *   </button>
 */

.btn-circle {
  position: relative;
  display: inline-block;
  top: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: $c-default-4;
  @include font-rem(0px);
  vertical-align: middle;
  &:before {
    color: $c-brand-2;
    @include font-rem(24px);
  }
}

//- Elemento
.btn-circle-small {
  position: absolute;
  display: inline-block;
  top: 4px;
  right: 2px;
  width: 20px;
  height: 20px;
  color: $c-neutro;
  border-radius: 50%;
  background-color: $c-brand;
  @include font-rem(10px);
  line-height: 2;
}

// Botón Fixed desde Botón
.btn-circle-Fixed-bottom {
  position: fixed !important;
  top: calc(100vh - 70px);
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


//- Elemento
.btn-share {
  display: inline-block;
  position: relative;
  left: 0;
  color: $c-neutro;
  background-color: $c-social-1;
  margin-left: 50px;
  border-radius: 4px;
  text-align: center;
  padding: 8px 20px;
  min-height: 42px;
  line-height: 1.5;
  &:before {
    position: absolute;
    top: 0;
    left: -45px;
    @include font-rem(42px);
    color: $c-social-1;
    padding: 0;
  }
}

//- Modificador
.btn-share_red {
  background-color: $c-social-2;
  &:before {
    color: $c-social-2;
  }
}

/**
 * Botones redondos en cápsula
 * @atom Botones redondos con iconos
 * @section Botones
 *
 * @markup
 *    <div class="filtro__control">
 *      <span class="btn_tag i-filter js-filtroBtn">Filtros</span>
 *      <span class="btn_tag i-reload js-orderBtn">Ordenar</span>
 *    </div>
 */
//-Elemento
.btn_tag {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  margin: 0 4px;
  text-align: center;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  color: $c-neutro;
  background-color: $c-brand-2;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:focus,
  &:active {
    background-color: $c-brand-hover;
  }
  &:before {
    @include font-rem(18px);
    padding-right: 5px;
    vertical-align: text-top;
  }
}

/**
 * @atom Tab para Dropdown
 * @section Tabs
 *
 * @markup
 *  <div class="grid-box__row js-btnDropdownParent">
 *    <button class="btn-dropdown btn-dropdown_transparent i-arrow-down" type="button" onclick="toggleDropDown(this)">¿Tienes una promoción?</button>
 *  </div>
 */
.btn-dropdown {
  color: $c-default-1;
  @include flexbox;
  @include justify-content(space-between);
  @include font-rem(16px);
  font-family: $f-bold;
  width: 100%;
  padding: $sp-xsmall 5px;
  &:before {
    color: $c-brand-2;
    order: 2;
    padding-left: 40px;
  }
}

/**
 * Uso: cerrar modal.
 * @atom Botón Cerrar
 * @section Botones
 *
 * @markup
 *   <button class="btn-close i-x" type="button">Cerrar</button>
 */
.btn-close {
  top: 14px;
  right: 5px;
  background-color: transparent;
  @include font-rem(0px);

  &:before {
    @include font-rem(20px);
    color: $c-default-1;
  }
}
