/*------------------------------------*\
	Transversal Elements
    #Forms Styles
\*------------------------------------*/

input,
select,
textarea {
  outline: none;
  border: none;
}

label {
  cursor: default;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//- HOTFIX-ETEMM-16
.ie11 {
  select::-ms-expand {
    display: none;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/*------------------------------------*\
	Elementos Javascript
\*------------------------------------*/

/**
TODO: Documentar o eliminar?
clearCss: Este elemento no consigo aplicacion en el proyecto
**/
//- Javascript
.form_validate-messages {
  margin-left: 0 !important;
}

/*------------------------------------*\
	Elementos Formularios
\*------------------------------------*/




/**
 * @atom Botones para compartir redes sociales
 * @section Botones
 *
 * @markup
 *  <a class="btn-share mi-facebook-fill" href="#" alt="Inicie con Facebook">Inicia con Facebook</a>
 *  <a class="btn-share btn-share_red mi-share-google" href="#" alt="Inicie con Google+">Inicia con Google+</a>
 *
 */

//- Estructura
.form {
  .btn-share {
    display: block;
    margin-bottom: $sp-small;
    min-width: 170px;
  }
}

/**
 * @atom Título de sección de Formulario
 * @section Formulario
 * @modifiers
 *    .form__sublegend   Título de sección de Formulario con borde
 * @markup
 *  <form class="form__row-sm">
 *    <legend class="form__legend">Título de sección de formulario</legend>
 *    <legend class="form__sublegend">Título de sección de formulario con borde</legend>
 *  </form>
**/
//- Elemento Accesibilidad
.form__legend {
  font-family: $f-bold;
  @include font-rem(20px);
  width: 100%;
}


// subtitulo form con border top
.form__sublegend {
  margin: $sp-small 0 $sp-medium;
  padding-top: $sp-small;
  border-top: 1px solid $c-default-3;
  font-family: $f-light;
}

/**
 * @atom Tamaño máximo de formularios
 * @section Formulario
 * @description
 *  Ancho máximo de formularios
 *  .form_size : 480px
 * @markup
 *     <form class="form form_size validate " action="" method="">
 *       <div class="form__row-sm">
 *         <label class="form__label" for="contraseña">Contraseña</label>
 *         <div class="form__relative">
 *           <input class="form__input" placeholder="Escribe tu contraseña" type="password" name="contraseña" data-validate="password">
 *           <button class="form__ico form__js-ico i-eye js-ShowHidePassword" type="button"></button>
 *         </div>
 *         <div class="form__row-sm"><small class="js-validateMsg" data-name="contraseña"></small></div>
 *       </div>
 *       <div class="form__row">
 *         <a class="form__link link_under link__block" href="#" alt="olvidaste tu contraseña">¿Olvidaste tu contraseña?</a></div>
 *       <div class="form__row">
 *         <button class="form__btn btn" type="submit">Continuar</button>
 *         <a class="link__brand link__block" href="#" alt="Cambiar el correo">Cambiar el correo</a>
 *       </div>
 *      </form>
**/
//- Modificador
.form_size {
  max-width: 480px;
}

//- Estructura
//Modifica la estructura para uan estructura de Dos columnas
.form__inner {
  margin: 0 auto;
  padding: 0 $sp-small;
}

.form__set {
  max-width: 460px;
}

.form__break {
  @include flex-wrap(wrap);
  .form__grid__item {
    @include flex(1);
  }
  .form__aid {
    @include flex(2, 100%);
    &.form__msg_error {
      display: inline-block;
      padding-top: 5px;
    }
  }
}


/*---------Alert----------*/

/**
 * @atom  Alerta
 * @section Formulario
 * @markup
 *   <form class="form form_size form__box-alert">
 *     <label class="form__label">Ingresa tu email</label>
 *     <input class="form__input" placeholder="martinana@gmail.com" type="password" name="contraseña">
 *     <span class="form__alert">Introduce un email o teléfono valido.</span>
 *   </form>
 */

//- Elemento
.form__alert {
  font-family: $f-light;
  @include font-rem(14px);
  color: $c-alert;
  min-height: 20px;
}


//- Estructura
//Modifica la estructura para uan estructura de Dos columnas
.form__row-xhigh {
  &.form__row-grid {
    flex-direction: column-reverse;

    .form__btn {
      max-width: 185px;
      margin: 0 0 0 auto;
    }
  }
}


/*---Estructura (Agrupación elementos de Formulario)-----*/

//- Bloque
// Caja agrupa elementos en filas
.form__box {
  padding: $sp-small 0;
  margin-bottom: $sp-small;

  .form__radio_label {
    &-payment {
      padding-top: 8px;
    }

    &:before {
      top: 8px;
    }

    &:after {
      top: 13px;
    }
  }

  .form__link {
    display: block;
    //padding-left: $sp-medium;
  }

  &_none {
    padding: $sp-none;
    margin-bottom: $sp-none;
  }
}

//- Modificador
// Modificador de box coloca borde inferior
.form__box_under {
  border-bottom: 1px solid $c-default-6;
}

//- Estructura
// Caja agrupa elementos con inner
.form__cont {
  // display: none;
  padding: $sp-small $sp-xsmall;
}

.form__cont_close {
  display: none;
  padding: 0 $sp-xsmall $sp-xsmall;

  .txt {
    display: inline-block;
    padding-bottom: $sp-small;
    max-width: 280px;
  }

}

//- Estructura
.form__group {
  padding-bottom: 20px;

  //- Elemento
  &.rating {
    display: block;
  }

  //- Elemento
  .rating__stars {
    padding-bottom: 10px;
    line-height: 1;
  }
}

//- Estructura
.form__foot {
  padding-top: $sp-medium;
}


.form__img {
  width: 100%;
}

//- Estructura
.form__head {
  max-width: 450px;
  padding: $sp-small 0;
}

//- Estructura
//Dos campos en una sola fila
.form__grid {
  padding-top: 8px;
  @include flexbox;
  @include justify-content(space-between); //- Elemento
  @include align-items(flex-start);

  .form__grid__item {
    width: 49%;

    .form__label {
      padding-right: 10px;
    }

    .link__ico {
      display: block;
      text-align: right;
    }
  }

  //- Modificador
  .form__grid__item_half {
    width: 22%;
  }

  &_center {
    @include align-items(center);
  }
}

.form__grid__item {
  &.form__grid {
    padding-top: 0;
  }
}

.form__grid_align-center {
  @include align-items(center);
}

/*---------Sección (Formulario)----------*/

//- Estructura
.form__section {
  padding: 0;
  margin: 0 auto;
  border: none;
  max-width: 450px;

  .form__legend {
    padding-bottom: $sp-small;
  }
}

/*---------Elemento de título (Formulario)----------*/

//- Elemento
.form__title {
  padding-bottom: $sp-medium;
  font-family: $f-default;
  @include font-rem(36px);
  text-align: center;
}

/*---------Elemento de título para secciones (Formulario)----------*/

//- Elemento
.form__title-section {
  width: 100%;
  font-family: $f-bold;
  @include font-rem(18px);

  &.form__box_under {
    padding-bottom: $sp-xsmall;
  }
}

//- Elemento
.form__headline-section {
  font-family: $f-bold;
  @include font-rem(20px);
}

/*---------Elementos de texto (Formulario)----------*/

//- Elemento
.form__txt {
  padding: 0;
  margin: 0;
}

//- Elemento
.form__txt-sm {
  display: block;
  @include font-rem(14px);
}

.form__txt-sm_quote {
  padding-left: 50px;
}

//- Elemento
.form__txt-style {
  display: block;
  font-style: normal;
  padding-left: 50px;
  padding-bottom: $sp-xsmall;
  @include font-rem(16px);
}

//- Elemento
.form__txt-xl {
  display: block;
  @include font-rem(18px);
  font-family: $f-bold;
  color: $c-default-1;
}

//- Elemento
.form__txt-strong {
  display: block;
  font-family: $f-bold;
}

//- Elemento
.form__txt-ico {
  padding-left: $sp-xsmall;
  @include font-rem(16px);

  &:before {
    @include font-rem(8px);
    color: $c-warning;
    vertical-align: super;
  }
}

//- Elemento
.form__txt-inline {
  display: inline-block;
  font-family: $f-default;
  padding: 0;
  margin: 0;
  @include font-rem(16px);

  .form__label-ico {
    display: inline;
    @include font-rem(16px);
  }
}

//- Elemento
.form__txt_light {
  font-family: $f-light;
}

/*---------Campos Obligatorios (Formulario)----------*/

//- Elemento
.form__required {
  @include flexbox;
  @include align-items(center);

  &:after {
    font-family: 'icomoon' !important;
    content: unicode($i-star-fill);
    @include font-rem(6px);
    padding-left: 2px;
    vertical-align: super;
  }
}

/*---------Mensajes de Error (Formulario)----------*/

//- Elemento
.form__msg {
  font-family: $f-light;
  @include font-rem(12px);
}

.form__msg_error {
  color: $c-warning;
  line-height: 1.2;
}

.form__msg_check {
  color: $c-brand;
}

.form__signal {
  position: relative;

  &:after {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    transform: rotate(-180deg);
    @include font-rem(24px);
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: .8;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spinner_small {
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    right: 10px;
  }

}

.form__signal_error {
  .form__ico {
    opacity: 0;
  }

  &:after {
    content: unicode($i-alert-circular-filling);
    color: $c-warning;
  }
}

.form__signal_check {
  .form__ico {
    opacity: 0;
  }

  &:after {
    content: unicode($i-check-circle);
    color: $c-brand;
  }
}

/*---------Label (Formulario)----------*/

//- Elemento
.form__label {
  display: block;
  padding-bottom: $sp-xsmall; //@include font-rem(14px);
}

.form__label-link {
  padding-left: 6px;
}

//- Elemento
.form__label_bold {
  font-family: $f-bold; //@include font-rem(16px);
}

//- Elemento
.form__label_center {
  text-align: center;
}


/**
 * @atom Input
 * @section Formulario
 * @markup
 *   <form class='form form_size'>
 *    <div class="form__row-none">
 *      <label class="form__label" for="title">Label general</label>
 *      <input class="form__input" type="text" placeholder="Placeholder en input general">
 *    </div>
 *   </form>
 */

//- Elemento
.form__input {
  display: block;
  width: 100%;
  min-height: 44px;
  padding: 10px 20px;
  line-height: 1.4;
  @include font-rem(14px);
  font-family: $f-regular;
  border-radius: 4px;
  background-color: $c-tag-5_l;

  &::placeholder {
    color: $c-default-3;
  }
}



/**
 * @atom Input con Label de registro obligatorio
 * @section Formulario
 * @markup
 *  <form class="form form_size form__row-none">
 *     <label class="form__label-ico i-star-fill">Código postal</label>
 *     <input class="form__input" placeholder="000000" type="text">
 *  </form>
 *
*/

//- Elemento
.form__label-ico {
  display: flex;
  align-items: center;

  &:before {
    order: 2;
    padding-right: 4px;
    //color: $c-warning;
    color: #00A9E0;
    @include font-rem(8px);
  }
}

/**
 * @atom Input con icono
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-none">
 *      <label class="form__label form__box-ico i-check-circle">Correo electrónico o teléfono</label>
 *      <input class="form__input" placeholder="martinana@gmail.com" type="email" name="email">
 *    </div>
 *  </form>
*/

//- Elemento
.form__box-ico {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    right: 10px;
    bottom: -30px;
    color: $c-default-1;
    @include font-rem(18px);
  }

  //- Elemento
  &.i-eye {
    &:before {
      right: -50px;
      @include font-rem(12px);
    }
  }

  //- Elemento
  &.i-check-circle {
    &:before {
      color: $c-brand-2;
    }
  }
}


/**
 * @atom Input text | Números
 * @section Formulario
 * @markup
 *  <div class="group-input">
 *    <button class="group-input__btn js-moreLessbtn" type="button" data-btn="-">-</button>
 *    <input class="group-input__num" id="addon" type="text" placeholder="1" value="1" disabled>
 *    <label class="group-input__label" for="addon">Unidades</label>
 *    <button class="group-input__btn js-moreLessbtn" type="button" data-btn="+" data-max="5">+</button>
 *  </div>
 */

//- Bloque
// **** Bloque .group-input__num ****
.group-input__num {
  max-width: 40px;
  padding: 6px 4px;
  @include font-rem(20px);
  background-color: $c-default-5;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-family: $f-light;
  vertical-align: middle;
}

//- Elemento
.group-input__label {
  display: none;
}

//- Elemento
.group-input__btn {
  color: $c-default-1;
  @include font-rem(18px);
  vertical-align: middle;
  background-color: transparent;
}



/**
 * @atom Input con icono - botón
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <label class='form__label'> Escribe tu contraseña </label>
 *    <div class="form__signal">
 *     <input class="form__input" placeholder="Escribe tu contraseña" name="password" type="password">
 *      <button class="form__ico i-eye" type=""></button>
 *    </div>
 *  </form>
*/

//- Elemento
.form__ico {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  cursor: pointer;
  background-color: transparent;

  &:before {
    color: $c-default-1;
    @include font-rem(20px);
    line-height: 1.5;
  }
}




//Quita y pone el icon check azul dentro del input
//- Javascript


//- Modificador
.form__relative {
  position: relative;
}




//TODO: Esperar confirmación de documentacion o eliminación
//- Javascript
/*
#clearCSS: Esta clase no tiene aplicación aparente en el proyecto
.form__js-input {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  opacity: 0;
} */


/**
 * @atom Input Textarea
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-none">
 *      <label class="form__label" for="message">Escribe tu mensaje</label>
 *      <textarea class="form__textarea" name="" cols="30" rows="5" placeholder="Escribe tu opinión sobre el producto"></textarea>
 *    </div>
 *  </form>
 */

//- Elemento
.form__textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  resize: none;
  font-family: $f-regular;
  @include font-rem(14px);
  border-radius: 4px;
  background-color: $c-tag-5_l;
}


//- Elemento
.form__captcha {
  display: block;
  margin: 30px auto 10px;
}



/**
 * @atom Input tipo submit | Button
 * @section Formulario
 * @markup
 *    <button class="form__btn btn" type="submit">Continuar</button>
 */

//- Elemento
.form__btn {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}




/*---------Checkbox----------*/

/**
 * @atom Input tipo Checkbox
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-none">
 *      <input class="form__check" type="checkbox" id="invoice1" name="invoice">
 *      <label class="form__label_check i-check" for="invoice1">Deseo recibir una factura por mi compra</label>
 *    </div>
 *  </form>
 *
*/

.form__check:checked + .more_opa5:before{
  opacity: 0.4 !important;
}
//- Elemento
.form__check {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked+.form__label_check {
    &:before {
      color: $c-neutro;
      border-color: $c-brand-2;
      background-color: $c-brand-2;
      animation: ripple 0.2s linear forwards;
    }
  }

  &:checked+.form__label__check2 {
    &:before {
    border-color: #00a9e000 !important;
    background-color: #00a9e059 !important;
    }
  }
}

.more-opacity{
  color: #86888c8c !important;
}

// Modificador de la
//- Modificador
.form__label_check {
  @include flexbox;
  @include align-items(center);
  cursor: pointer;

  &:before {
    display: block;
    text-align: center;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 20px;
    line-height: 1;
    color: transparent;
    @include font-rem(16px);
    border: 2px solid $c-default-3;
    background-color: $c-neutro;
    border-radius: 2px;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
  }

  //- Modificador
  .form__link {
    color: $c-brand-2;
    text-decoration: underline; //padding-left: 10px;
  }
}


/*
 * @atom Input tipo radio con icono
 * @section Formulario
 * @markup
 *  <div class="form-ico">
 *    <input class="form__radio" id="plan1" name="plan" value="on" type="radio" checked>
 *    <label class="form__radio_label" for="plan1">
 *      <span class="form-ico__label i-cell">Tengo mi propio celular</span>
 *    </label>
 *  </div>
*/
//- Bloque
.form-ico {
  position: relative;

  .form__radio_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:after {
      top: 50%;
      margin-top: -4px;
      margin-right: -1px;
    }

    &:before {
      top: 31%;
      margin-left: 0.05%;
    }
  }

  .form__radio {
    &:checked+.form__radio_label {
      .form-ico__label {
        &:before {
          /*color: $c-default-3;*/
          color: #00A9E0;
        }
      }
    }
  }
}

//- Bloque
.form-ico_neutro {

  .form__radio_label {
    font-family: $f-bold;

    &:before {
      background-color: transparent;
      border-color: $c-default;
    }

    &:after {
      background-color: $c-default;
    }

    .form-ico__label {

      &:before {
        color: $c-default;
        @include font-rem(60px);
      }
    }
  }

  .form__radio {
    &:checked+.form__radio_label {
      .form-ico__label {
        &:before {
          color: $c-default;
        }
      }
    }
  }
}

//- Elemento
.form-ico__label {
  display: flex;
  align-items: center;

  &:before {
    @include font-rem(50px);
    /*color: $c-brand-2;*/
    color: #D3D4D3;
    padding-right: $sp-xsmall;
  }
}

.icon__width:before{
  min-width: 50px !important;
}





/*---------Radiobutton Verde----------*/

/**
 * @atom Input Tipo Radio
 * @section Formulario
 * @modifiers
 *  .form__radio_label  Radio-button de color Azul
 *  .form__radio_label-brand Radio-button de color Verde
 * @markup
 *   <div class="form__row">
 *     <input class="form__radio" id="data1" name="data" value="on" type="radio">
 *     <label class="form__radio_label" for="data1">Ingresa o regístrate</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data2" name="data" value="on" type="radio">
 *     <label class="form__radio_label" for="data2">Comprar como invitado</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data3" name="data" value="on" type="radio">
 *     <label class="form__radio_label form__radio_label-brand" for="data3">Ingresa o regístrate</label>
 *   </div>
 *   <br>
 *   <div class="form__row">
 *     <input class="form__radio" id="data4" name="data" value="on" type="radio">
 *     <label class="form__radio_label form__radio_label-brand" for="data4">Comprar como invitado</label>
 *   </div>
 */

//- Elemento
.form__radio {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;

  &:checked+.form__radio_label {
    &:before {
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
      border: 2px solid #00A9E0;
    }

    &:after {
      width: 14px;
      height: 14px;
      transform: scale(1);
      animation: ripple 0.2s linear forwards;
    }
  }
}

//- Elemento
.form__radio_label {
  position: relative;
  left: 50px; //font-family: $f-bold;
  @include font-rem(16px);
  vertical-align: middle;
  cursor: pointer;

  &.light {
    font-family: $f-default;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -45px;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    //border: 2px solid $c-brand-2;
    border: 2px solid #D3D4D3;
    background-color: $c-neutro;
  }

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -40px;
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 0;
    transform: scale(0);
    border-radius: 50%;
    background-color: $c-brand-2;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
  }
}

//- Modificador
.pos-form__radio_label {
  @include font-rem(20px);
}

//- Modificador
//- Input radio verde
.form__radio_label-brand {
  &:before {
    content: "";
    border: 2px solid $c-default-2;
    background-color: $c-neutro;
  }

  &:after {
    background-color: $c-brand;
  }
}

//- Estructura
//- Bloque formulario radio especial
.form__radio_box {
  .form__link {
    &.link__brand {
      display: block;
    }
  }
}


/*--------Elemento Select----------*/

/**
 * @atom Input tipo Select
 * @section Formulario
 * @markup
 *   <form class='form form_size'>
 *     <div class="form__row-none">
 *       <label class="form__label-ico i-star-fill" for="ciudad">Estado</label>
 *       <div class="form__inner-select i-a-arrow-down">
 *         <select class="form__select" id="estado" name="estado" data-validate="city">
 *           <option value="">Selecciona</option>
 *           <option value="estado-1">estado 1</option>
 *           <option value="estado-2">estado 2</option>
 *         </select>
 *       </div><small class="js-validateMsg" data-name="estado"></small>
 *     </div>
 *   </form>
 */

/*-------- Elemento select (Formulario)----------*/

//- Elemento
.form__select {
  width: 100%;
  padding: 12px 20px;
  @include font-rem(14px);
  font-family: $f-regular;
  color: $c-default;
  background-color: $c-default-5;
}

//- Tomado de block/input-search.scss

/**
 * @atom Input search
 * @section Formulario
 * @markup
 *  <div class="input-search">
 *    <label class="input-search__label">Código postal</label>
 *    <input class="input-search__input" type="search" placeholder="01000100">
 *    <button class="input-search__btn" type="submit">Calcular</button>
 *  </div>
 *
 */




//- Estructura
.form__inner-select {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: $c-tag-5_l;

  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    @include font-rem(16px);
    color: $c-brand-2;
    transform: translateY(-50%);
  }
}

//- Elemento
.form__link {
  color: $c-brand-2;

  &:hover {
    color: $c-brand-2-hover;
  }
}

//- Componente
.form__tab {
  position: relative;
  display: block;

  // max-width: 450px;
  .form__cont {
    padding: $sp-small 0 0;
  }

  .form__legend {
    position: relative;
    display: block;
    width: 90%;
    padding: 20px 0;
    @include font-rem(16px);
    line-height: 1.2;
    background-color: $c-neutro;
    z-index: -1;
  }
}

//- Estructura
.form__panel {
  position: relative;
  top: 0;
  border-top: 1px solid $c-default-4;
}

//- Elemento
.form__tab-btn {
  //Button aspecto de tab con ico
  position: absolute;
  top: -60px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  z-index: 2;
  @include font-rem(0px);
  background-color: transparent;
  padding: $sp-small 0;

  &:before {
    order: 2;
    @include font-rem(12px);
    padding: 0 $sp-xsmall;
    z-index: 2;
    transition: all .2s linear;
  }

  &.form__tab-btn_close {
    &:before {
      transform: rotate(-180deg);
    }
  }
}

.iframe-content {
  height: 600px;
  overflow-y: scroll;

  img {
    width: 100%;
  }
}




/* class='form__row' (Espacio inferior de 40px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */


/*-----Estructura (Filas de Formulario)-----*/
//- Estructura

// Fila de campos de formulario espacio  inferior = 40px
.form__row {
  position: relative;
  padding-bottom: $sp-medium;
}

//- Modificador
.form__row_inline {
  @include flexbox;
}

/* class='form__row-xhigh' (Espacio superior e inferior de 40px)
 * @atom Espaciado de filas grande
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-xhigh ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */

// Fila de ***DOS*** campos de formulario espacio superior e inferior
//- Estructura
.form__row-xhigh {
  position: relative;
  padding: $sp-medium 0;
}


/* class='form__row-high' (Espacio superior e inferior de 20px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-high ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */

//- Estructura
// Fila de ***DOS*** campos de formulario espacio superior e inferior
.form__row-high {
  position: relative;
  padding: $sp-small 0;
}

/* class='form__row-xshigh' (Espacio superior e inferior de 10px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-xshigh ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */


//- Estructura
// Fila de ***DOS*** campos de formulario espacio superior e inferior
.form__row-xshigh {
  position: relative;
  padding: $sp-xsmall 0;
}

/* class='form__row-sm' (Espacio inferior de 10px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-sm ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */

//- Estructura
// Fila de campos de formulario espacio  inferior = 10px
.form__row-sm {
  position: relative;
  padding-bottom: $sp-xsmall;
}

/* class='form__row-gral' (Espacio inferior de 20px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-gral ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */



//- Estructura
// Fila de campos de formulario espacio  inferior = 20px
.form__row-gral {
  position: relative;
  padding-bottom: $sp-small;
}

.form__row_top {
  padding-top: 80px !important;
}


/* class='form__row_indent' (Espacio a la izquierda de 20px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row_indent ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */

//- Estructura
.form__row_indent {
  padding-left: 20px;
}

//- Estructura
.form__row_inner {
  max-width: 300px;
  margin: 0 auto;
}

//- Estructura
.form__row_spaceless {
  padding: 0;
}

//- Estructura
.form__row_gutter {
  margin: 0 -10px 0 0;

  .form__input,
  .form__btn {
    @include flex(1);
    margin: 0 10px 0 0;
    max-width: 280px;
  }
}


//- Estructura
// Fila de formulario cols = 50%
.form__row-grid {
  position: relative;
  display: flex;
  justify-content: space-between; //- Elemento

  .form__link,
  .form__alert {
    padding-top: 4px;
    width: 100%;
  }

  //- Elemento
  .form__link {
    text-align: right;
    @include font-rem(14px);
  }

  .form__row-list,
  .form__row-none {
    padding: $sp-small 0;
  }

  .form__label_check {
    &:before {
      margin-right: $sp-xsmall;
    }
  }

  .form__row_align {
    align-self: center;
  }

  &.form__row-grid_wrap {
    flex-wrap: wrap;
  }
}

//- Modificador
.form__row-grid_break {
  margin: 0 -10px 0 0;
  @include flex-wrap(wrap);
  .form__input {
    margin-bottom: $sp-small;
  }
}

//- Estructura
// Center align
.form__row-center {
  align-items: center;
}

//- Modificador
.form__row_center {
  margin: 0 auto;
  text-align: center;
}

//- Modificador
.form__row-ico {
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    right: $sp-xsmall;
    top: $sp-xsmall;
    @include font-rem(14px);
  }
}


/* class='form__row-inner' (Espacio a la izquierda de 50px y espacio inferior de 20px)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-inner ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */

//- Estructura
// Fila de campos de formulario con inner espacio  inferior
.form__row-inner {
  position: relative;
  margin-left: 50px;
  padding-bottom: $sp-small;
}

//- Estructura
.form__row-inner_high {
  position: relative;
  padding-top: $sp-xsmall;
}

//- Estructura
// Fila de campos de formulario con inner espacio  inferior
.form__row-innerside {
  position: relative;
  padding-top: 20px;
  margin-left: 50px;
}

/* class='form__row-none' (sin Espacio)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-none ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */


//- Estructura
// Fila de campos de formulario genera modificaciones a elementos
.form__row-none {
  .form__label-ico {
    padding-bottom: $sp-xsmall;
  }
}

/* class='form__row-under' (Espacio inferior de 40px y borde)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row-under ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */


//- Estructura
.form__row-under {
  border-bottom: 1px solid $c-default-3;
  margin-bottom: $sp-medium;
}


/* class='form__row_divisor' (Espacio inferior de 20px y borde)
 * @atom Espaciado de filas
 * @section Formulario
 * @markup
 *  <form class='form form_size'>
 *    <div class="form__row_divisor ">
 *      <label class="form__label" for="message">Nombre</label>
 *      <input class="form__input" placeholder="Escribe tu nombre"></input>
 *    </div>
 *  </form>
 */


//- Estructura
//- Pie de bloque con línea inferior
.form__row_divisor {
  border-bottom: 1px solid $c-default-3;
  padding-bottom: $sp-small;

  .btn-share {
    max-width: 280px;
  }
}

.pos-data__content {
  .form__row_divisor {
    padding-bottom: $sp-small;
  }
}

//- Estructura de lista
.form__row-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}

//- Elemento
.form__row-title {
  width: 100%;
  padding-bottom: $sp-xsmall;
}

//- Elemento
.form__row-item {
  flex: 1;

  .form__radio_label {
    left: 30px;

    &:before {
      left: -28px;
    }

    &:after {
      left: -23px;
    }
  }
}

.form__row_block {
  .form__txt-sm {
    padding: 0;
  }
}

.form__row_right {
  text-align: right;
}


//- Javascript
.js-btnOpen {
  &:before {
    transform: rotate(180deg);
  }
}

//código de verificación
.form-inline {
  @include flexbox;
  .form__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
      transform: translateY(0);
    }
  }
}
//end código de verificación


// $bp-small-m : 480px
@include media-query(small-m) {

  //- Bloque
  .form {

    // hacer planas de no colocar max-width en botones
    .radio-boll__label {
      width: 200px;
    }

    //- Elemento
    .btn-share {
      display: inline-block;
    }
  }
}

// $bp 768px
@include media-query(medium) {
  .form__group {
    &.rating {
      @include flexbox;
    }
  }

  .form {
    .form__btn {
      display: inline-block;
      //-margin-right: $sp-small;
    }

    .form__link {
      position: relative;
    }
  }

  .form__row-xhigh {
    &.form__row-grid {
      flex-direction: row;
    }
  }

  // .form__btn {
  //   margin: 0 auto 0 0;
  // }

  .form__section {
    .search__form {
      margin: 0 auto 0 0;
    }
  }

  //- Bloque
  .form-ico {
    width: calc(100% + 40px);
    margin-right: $sp-large;
  }

  //- Elemento
  .form__headline-section {
    @include font-rem(24px);
  }

  //- Estructura
  //- Pie de bloque con línea inferior
  .form__row_divisor {
    padding-bottom: $sp-medium;
  }

  .form__legend {
    @include font-rem(24px);
  }

  //- Componente
  .form__tab {
    .form__legend {
      width: 95%;
      @include font-rem(18px);
    }
  }

  .form__row-grid {
    &.form__row-grid_wrap {
      flex-wrap: no-wrap;
    }

    .form__grid {
      width: 50%;
    }
  }

  //- Elemento
  .form__row-title {
    padding-bottom: $sp-small;
  }

  .form__panel {
    .form__cont_close {
      display: block;
    }
  }
}

// caja de texto + boton
.input-horizontal {
  display: flex;
  width: auto;
  max-width: 380px;
  max-height: 35px;
  margin: 0 auto $sp-small 0;
  position: relative;

  .btn {
    margin-left: 20px;
    min-width: 126px;
    padding: 0;
  }
}

@include media-query(small-wide) {
  .form {
    .btn-share {
      min-width: 150px;
    }
  }
}

@include media-query(wide) {
  .form {
    .btn-share {
      margin-bottom: 0;
    }
  }

  .form-ico_neutro {
    .form__radio_label {
      @include font-rem(20px);
    }

    .form-ico__label {
      &:before {
        @include font-rem(80px);
      }
    }
  }

  .form__title {
    @include font-rem(48px);
  }

  .form__input {
    @include font-rem(16px);
  }

  .form__textarea {
    @include font-rem(16px);
  }

  .form__group {
    padding-bottom: 26px;
  }

  .form__row-inner_high {
    margin-left: $sp-medium;
  }
}

@media screen and (max-width: 374px) {
  // Modificador
  .form__row-gral_xs {
    padding-block-end: $sp-medium;
  }
}

/* Green Box - JB */
.label50{width: 50%;}
#sc2-c1, #greenBox_PortaForm1.form__row-sm{
    text-align: center;
    .form__label{
      text-align:left;
    }
    .tabs-box__form-btn{
      width: 50%;
      margin-top: 40px;
    }
    .form__input{
      text-align:left;
    }
}
#sc2-c2, #greenBox_PortaForm2.form__row-sm{
  .steps__item{
    text-align: left;
    max-width: 250px;
    .form-ico__label{
      font-family: "Telefonica-Bold";
      max-width:180px;
      line-height: 17px;
      color: #50535A;
      &::before{
        min-width: 30px !important;
        @media (max-width: 1025px) and (min-width: 768px){
          min-width: 50px !important;
          text-align: center;
        }
      }
    }
    .icon-Prepago_1{
      &::before{
        min-width: 50px !important;
      }
    }
    .form__radio_label{
      width: 180px;
      display: inline-block;
      &::before{
        left: -35px;
      }
      &::after{
        left: -30px;
      }
    }
  }
  #goToPortability.tabs-box__form-btn.btn.btn_green{
    width: 50%;
    margin:0 25%;
  }
}
