/*------------------------------------*\
  layout theme
\*------------------------------------*/
.search-site_open {
  overflow: hidden;
}

.theme_bg-color {
  background-color: $c-default-5;
}

.theme_bg {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.theme {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    transition: all .3s linear;
  }

  &.theme_overlay {
    &:after {
      z-index: 90;
      opacity: .7;
      pointer-events: none;
      background-color: $c-neutro;
    }
  }
}

.content {
  &.band-sticky {
    padding-top: 50px;
  }
  &.content_sticky-bar {
    padding-top: 80px;
  }
}

/*---Inner home----*/
.inner,
.inner_canvas-wide,
.layout_canvas,
.layout_wide {
  width: 100%;
  max-width: 1084px;
  margin: 0 auto;
}

.layout_wide2{
  max-width: 650px !important;
}

.inner_canvas {
  width: 90%;
  max-width: 1084px;
  margin: 0 auto;
}

.inner_line-bottom {
  @include border-bottom;
}

.inner_large {
  width: 94%;
  max-width: 1440px;
  margin: 0 auto;
}

.band {
  top: -50px;
  transition: top 0.5s cubic-bezier(0, 0, 0.22, 1.02);

  &.sticky {
    top: 0;
  }
}

.band_brand-2 {
  position: relative;
  background-color: $c-brand-2;
}

.band_brand-1 {
  position: relative;
  background-color: $c-brand;
}

.band_grey {
  background-color: $c-default-5;
}

.band_warm {
  background-color: $c-tag-5_l;
}

.band_shadow {
  background-color: $c-neutro;
  margin-bottom: 16px;
  box-shadow: 0 10px 14px -10px rgba(0, 0, 0, 0.19);
}

/*---Band Inner (contenedor para componentes)----*/
.band_inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  //-min-width: 100vw;
}
.band_border-top{
  /*box-shadow:0px 8px 10px -10px rgba(0, 0, 0, 0.5);*/
  z-index:0 !important;
  -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
}
/*------------------------------------*\
  layout class
\*------------------------------------*/


//-Estructura
.layout__header {
  padding: $sp-small-medium 0;

  .headline {
    text-align: center;
  }
}

//-Estructura
.layout__foot {
  padding: $sp-small 0;
  .title-foot {
    @include font-rem(18px);
    padding-bottom: $sp-xsmall;
  }
}

//-Estructura
.layout__section,
.layout__duo-box {
  padding-bottom: $sp-small-medium;
}

//-Modificador
.layout_section-headspace {
  padding-top: $sp-small-medium;
}

.layout_border-top {
  border-top: 12px solid $c-default-5;
}

/*---Layout Inner (Principal Transversal)----*/
.layout_bg-col {
  background-color: $c-default-5;
}

/*---Layout Inner (Principal Transversal)----*/
.layout_inner {
  width: 88%;
  max-width: 1280px;
  margin: 0 auto;
}

/*---Layout Box (Principal Transversal)----*/
.layout_box {
  width: 100%;
  background-color: $c-neutro;
}

/*---Layout Panels (Principal Transversal)----*/
.layout_panels {
  width: 100%;
  padding-bottom: $sp-medium;
}

/*---Layout-col (Estructura de layout [tres Columnas Iguales])----*/
.layout__overflow {
  margin: 0 -10px;
}

//- Elemento
.layout__txt {
  display: inline-block;
  padding-bottom: 8px;
}
.layout__step2{
  color:#954B97;
}

/*------------------------------------*\
  layout Grid theme
\*------------------------------------*/

/*---Layout Grid de 2 columnas desiguales + aside (Principal Transversal)----*/
.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: $sp-small;
  grid-template-areas: "content-s""content-l""aside";
  width: 100%;
}

/*---Layout 2 columna pequeña----*/
.layout-grid__col-s {
  grid-area: content-s;
  display: block;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;

  .panel {
    margin-bottom: $sp-small;
  }
}

/*---Layout 2 columna grande----*/
.layout-grid__col-l {
  grid-area: content-l;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  display: block;
  margin: 0 auto;

  .panel {
    margin-bottom: $sp-small;
  }
}

/*---Layout Aside----*/
.layout-grid__aside {
  grid-area: aside;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  display: block;
  margin: 0 -10px 0 0;

  .panel {
    margin-bottom: $sp-small;
  }
}

/*------------------------------------*\
  layout Flex theme
\*------------------------------------*/

//- Estructura genérica para grids en flexbox
.layout-flex {
  @include flexbox;
  @include justify-content(space-between);
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.layout-flex__special {
  @include flexbox;
  @include justify-content(flex-start);
  @include align-content(center);
  @include flex-wrap(wrap);

  .link__brand_small {
    display: block;
    padding-top: 6px;
    padding-right: 10px;
  }

  .layout-flex__row {
    .link__brand_small {
      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 100%;
        max-height: 20px;
        margin-left: $sp-xsmall;
        background-color: $c-default-3;
      }
    }

    &:first-child {
      @include flex(auto 0);
      padding-right: $sp-xsmall;
    }
  }
}

.layout-flex__head {

  .title,
  .subtitle {
    display: block;
  }

  .title {
    @include font-rem(30px);
  }
}

.new__subtitle5{
  padding-top: 20px !important;
  font-weight: bolder !important;
}


//- Modificador
.layout-flex_wrap {
  @include flex-wrap(wrap);
}

//- Estructura
.layout-flex_sticky {
  .layout-flex__item_xs {
    position: sticky;
    top: 0;

    @include align-self(flex-start);
  }
}

//- Bloque
.layout-flex__item {
  @include flex(1 1 100%);
}

//- Bloque
.layout-flex__item_sm {
  @include flex(0 0 40%);
}

//- Bloque
.layout-flex__item_xs {
  @include flex(0 0 0);
}

//- Bloque
.layout-flex__item-small,
.layout-flex__item-large {
  @media screen and (min-width: 768px) and (max-width: 1024px) {width: 100%}
}


@media (max-width: 768px) {
  .layout-flex__item-small2{
    display: contents !important;
  }

  .module__slot3{
    margin: 0 12vw !important;
    width: 100% !important;
  }
}

.ie11 {
  .layout-flex__item-small {
    @media screen and (min-width: 768px) and (max-width: 1024px) {width: auto !important}
  }
}

.layout-flex__item-small {
  .main-slider {
    display: none;
    padding-bottom: $sp-small-medium;
  }
}

.layout-flex__item-large {
  .grid-box__txt_highlight {
    display: block;
    padding-bottom: $sp-small;
  }
}

//- Estructura
.layout-flex__row {
  @include flex(auto);

  padding: 5px 0;
}

.layout-flex__inline {
  @include flex-wrap(wrap);
  @include align-items(center);
  min-width: 100px;
}


/*------------------------------------*\
  layout Form theme
\*------------------------------------*/
// .layout-flex__aside {
  .layout-form {
    display: block;
    border: 1px solid $c-default-3;
    padding: $sp-xsmall;
    margin: 0 auto;
    // max-width: 340px;

  .btn-dropdown {
    font-family: $f-default;
    color: $c-default;
    padding-left: 0;
  }
}

//- Estructura
.layout-form__row {
  display: block;
  padding: 5px 0;
}

.layout-form__btn {
  display: block;
  min-width: 260px;
  max-width: 280px;
  margin: 0 auto;
}

.ie11 .layout-form__btn {
  min-width: 95%;
}

.layout-form__link {
  width: 280px;
  margin: 0 auto;

  //- Javascript
  &.js-planes {
    display: none;
  }
}

.layout-form__foot {
  padding: 0 0 $sp-small;

}

.catalog-product-view .layout_inner{
  @media (max-width:767.9px){
    margin-top:40px;
  }
}

// Header
.wrap-header {
  position: relative;
  z-index: 4;
  @include box_shadow(7);
}
//end Header


//- bp Max 768px
@include media-query(max-medium) {
  .layout-flex__item-large {
    @include flexbox;
    @include flex-direction(column);
  }

}


@media screen and (min-width: 692px) {

  .layout_inner-desktop,
  .layout_panels {
    width: 88%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .layout_inner {
    width: 66%;
  }
}

//- bp 768px
@include media-query(medium) {

  //-Estructura
  .layout__section {
    padding-bottom: $sp-large;
  }

  .layout_wide {
    width: 90%
  }

  //-Estructura
  .layout__duo-box {
    @include flexbox;

    .slider-single {
      width: 70%;

      @include align-self(center);
    }

    .layout__header {
      padding: 0;
    }

    .headline {
      text-align: left;
      padding-right: $sp-xsmall;

      @include font-rem(65px);
    }

    //-Estructura
    .layout__section {
      padding: 0;
    }
  }

  //-Estructura
  .layout__header {
    padding-bottom: $sp-large;
    text-align: center;
  }




  .layout_section,
  .layout {
    padding-top: 50px;
  }

  .catalog-product-view .layout__padding{
    padding:20px 0 40px !important;
  }

  .layout_border-top {
    border-top: none;
    padding-top: 0;
  }

  .layout_box {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid $c-default-3;
  }

  .theme_bg {
    background-size: 150%;
  }

  .layout_panels {
    width: 100%;
    padding: $sp-wide 0 $sp-large;
  }


  /*---Layout 2 cols y Aside----*/
  .layout-grid {
    grid-template-areas: "content-s aside""content-l aside";
    -ms-grid-columns: [content-s] 2.5fr [aside] 2fr;
    grid-template-columns: [content-s] 2.5fr [aside] 2fr;
  }

  .layout-grid__aside {
    max-width: none;
    min-width: auto;
  }

  .layout_inner {
    width: 88%;
  }


  .layout-flex__item_xs {
    @include flex(0 0 40%);
  }

  .layout-form {
    padding: $sp-small $sp-small-medium;
    max-width: 340px;
    .btn-dropdown {
      //width: 50%;
      margin-bottom: $sp-xsmall;
    }
  }

  //- Bloque
  .layout-flex__aside {
    @include flex(1);
    margin-bottom: $sp-small-medium;
  }

  //- Bloque
  .layout-flex__item-large {
    @include flex(1);
    width: auto;
  }
}

//- End 768px

//- BP-small-wide : 980px
@include media-query(small-wide) {
  .layout-col__box {
    max-width: 360px;
    margin: 0 auto;
  }

  .layout-flex__item_xs {
    @include flex(0 0 30%);
  }
}


//- bp 1024px
@include media-query(wide) {
  .layout__duo-box {
    .headline {
      @include font-rem(70px);
    }
  }

  /*---Layout 2 cols y Aside----*/
  .layout-grid {
    grid-template-areas: 'content-s content-l aside';
    -ms-grid-columns: [content-s] 2fr [content-s] 3fr [aside] 1.6fr;
    grid-template-columns: [content-s] 2fr [content-s] 3fr [aside] 1.6fr;
  }

  /*---Layout 2 columna grande----*/
  .layout-grid__col-l {
    max-width: none;
    min-width: 300px;
  }

  .inner_canvas-wide,
  .inner_canvas,
  .layout_canvas {
    width: 75%;
  }

  //- Modificador
  .layout-flex_wrap {
    @include flex-wrap(nowrap);
  }


  //- Bloque
  .layout-flex__item-small {
    @include flex(1);

    .main-slider {
      padding-bottom: 0;
    }
  }


  //- Bloque
  .layout-flex__item-large {
    // @include flex(1);
    margin: 0 0 0 auto;
    padding: 0 $sp-xsmall;

    .grid-box__txt_highlight {
      padding-bottom: 0;
    }
  }

  //- Bloque
  .layout-flex__aside {
    @include flex(1);
    position: sticky;
    height: auto;
    @include align-self(self-start);
    top: 0;
  }


  .band_border-top {
    background-color: $c-neutro;
    border-top: 1px solid $c-default-4;
  }

}

//- End bp: 1024px

//- bp 1280px
@include media-query(huge) {
  .layout__duo-box {
    .headline {
      @include font-rem(90px);
    }
  }

  .theme_bg {
    background-position: top center;
    background-size: contain;
  }
}
