/*------------------------------------*\
	Transversal Elements
    #Styles for multimedia content
    (images, audio and video)
\*------------------------------------*/
// .media-img {
//   width: 100%;
//   vertical-align: bottom;
// }
// .preload {
//   position: relative;
//   width: 160px;
//   height: 48px;
//   margin: 0 auto;
// }

// .preload__spin {
//   position: absolute;
//   bottom: 0;
//   width: 14px;
//   height: 14px;
//   opacity: 0.5;
//   border-radius: 25px;
//   background: $c-brand;
//   transform: translateY(0);
//   -webkit-transform: translatey(0);
//   -webkit-animation: preloader 2s 1s infinite ease-in-out;
//   -moz-animation: preloader 2s 1s infinite ease-in-out;
//   -ms-animation: preloader 2s 1s infinite ease-in-out;
//   -animation: preloader 2s 1s infinite ease-in-out;
//   animation: preloader 2s 1s infinite ease-in-out;
// }

// .preload__spin_1 {
//   left: 0;
//   -webkit-animation-delay: .4s;
//   -moz-animation-delay: .4s;
//   -ms-animation-delay: .4s;
//   animation-delay: .4s;
// }

// .preload__spin_2 {
//   left: 40px;
//   -webkit-animation-delay: .6s;
//   -moz-animation-delay: .6s;
//   -ms-animation-delay: .6s;
//   animation-delay: .6s;
// }

// .preload__spin_3 {
//   left: 80px;
//   -webkit-animation-delay: .8s;
//   -moz-animation-delay: .8s;
//   -ms-animation-delay: .8s;
//   animation-delay: .8s;
// }

// .preload__spin_4 {
//   left: 120px;
//   -webkit-animation-delay: 1s;
//   -moz-animation-delay: 1s;
//   -ms-animation-delay: 1s;
//   animation-delay: 1s;
// }

// @-webkit-keyframes preloader {
//   0% {
//     opacity: 0.3;
//     -webkit-transform: translateY(0);
//   }
//   50% {
//     opacity: 1;
//     -webkit-transform: translateY(-28px);
//     background: #FE7676;
//   }
//   75% {
//     opacity: 0.5;
//     -webkit-transform: translateY(0);
//   }
//   100% {
//     opacity: 0.3;
//     -webkit-transform: translateY(0);
//   }
// }

// @-moz-keyframes preloader {
//   0% {
//     opacity: 0.3;
//     -moz-transform: translateY(0);
//   }
//   50% {
//     opacity: 1;
//     -moz-transform: translateY(-28px);
//     background: #FE7676;
//   }
//   75% {
//     opacity: 0.5;
//     -moz-transform: translateY(0);
//   }
//   100% {
//     opacity: 0.3;
//     -moz-transform: translateY(0);
//   }
// }

// @-ms-keyframes preloader {
//   0% {
//     opacity: 0.3;
//     -ms-transform: translateY(0);
//   }
//   50% {
//     opacity: 1;
//     -ms-transform: translateY(-28px);
//     background: #FE7676;
//   }
//   75% {
//     opacity: 0.5;
//     -ms-transform: translateY(0);
//   }
//   100% {
//     opacity: 0.3;
//     -ms-transform: translateY(0);
//   }
// }

// @keyframes preloader {
//   0% {
//     opacity: 0.3;
//     transform: translateY(0);
//   }
//   50% {
//     opacity: 1;
//     transform: translateY(-28px);
//     background: #FE7676;
//   }
//   75% {
//     opacity: 0.5;
//     transform: translateY(0);
//   }
//   100% {
//     opacity: 0.3;
//     transform: translateY(0);
//   }
// }

// @include media-query(medium) {
//   .preload__spin {
//     width: 20px;
//     height: 20px;
//   }

// }
