/*------------------------------------*\
  layout Structure panels theme
\*------------------------------------*/

//- Bloque de panel
.panel {
  position: relative;
  background-color: $c-neutro;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.10);
}

//mod
.panel_bg {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: transparent;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: url(../img/bg-m.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: $c-neutro;
    z-index: -1;
  }
}

//- Estructura
.panel__top {
  padding: $sp-medium 0 $sp-small;
}

//- Estructura
.panel__head {
  padding: $sp-medium $sp-small $sp-small;
}

//- Estructura
//Estructura a dos columnas
.panel__subhead {
  padding-bottom: $sp-small;
}

//- Estructura
.panel__inner {
  padding: $sp-small;
}

//- Estructura
.panel__inner_m {
  padding: $sp-small $sp-small $sp-medium $sp-small;
}

//- Estructura
.panel__inner_s {
  padding: $sp-xsmall;
}

//- Estructura
.panel__inner_top {
  padding: $sp-small $sp-small 0;
  .panel__headline {
    margin-bottom: $sp-xsmall;
  }
}

//- Estructura
.panel__center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-circle {
    margin-left: $sp-xsmall;
  }
}

//- Estructura
.panel__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//- Estructura
.panel__row {
  .panel__txt {
    text-align: center;
  }
}

//- Bloque
// Edición de la tabla para panels unicamente
.panel__table {
  .table-data__cell {
    &:first-child {
      text-align: left;
      padding-left: $sp-small;
      &:after {
        display: none;
      }
    }
  }
}

//- Bloque
.panel__odd {
  display: block;
  padding: $sp-small;
  &:nth-child(odd) {
    background-color: $c-default-4;
  }
  .panel__txt {
    line-height: 1.6;
    padding-bottom: $sp-small;
  }
}

//- Bloque
.panel__ico {
  display: block;
  padding: $sp-medium 0 $sp-medium 15%;
  background-color: $c-default-4;
  .panel__bold {
    display: flex;
    justify-content: left;
    align-items: center;
    &:before {
      display: block;
      @include font-rem(26px);
      color: $c-brand-2;
      padding-right: $sp-xsmall;
    }
  }
  &:hover {
    border: 1px solid $c-brand-2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.05);
  }
}

//- Bloque
.panel__brand {
  padding: $sp-medium;
  text-align: center;
  background-color: $c-brand-2;
  color: $c-neutro;
  .panel__bold {
    display: inline-block;
    padding: 0 $sp-xsmall;
  }
  .panel__txt {
    padding-bottom: $sp-xsmall;
  }
  .panel__link {
    color: $c-neutro;
    font-family: $f-bold;
  }
}

//- Elemento
.panel__avatar {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  width: 110px;
  height: 110px;
}

//- Elemento
.panel__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//- Elemento
.panel__title {
  font-family: $f-bold;
  @include font-rem(20px);
}

//- Elemento
.panel__headline {
  display: block;
  font-family: $f-bold;
  @include font-rem(18px);
  border-bottom: 1px solid $c-default-3;
  padding-bottom: $sp-small;
  margin-bottom: $sp-medium;
}

//- Elemento
.panel__txt {
  font-family: $f-regular;
  @include font-rem(16px);
  font-style: normal;
}

//- Elemento
.panel__bold {
  font-family: $f-bold;
}

//- Elemento
.panel__small {
  font-family: $f-light;
  @include font-rem(12px);
}

//- Elemento
.panel__btn-ico {
  background-color: transparent;
  @include font-rem(0px);
  &:before {
    display: block;
    @include font-rem(24px);
    color: $c-default-3;
    transform: rotate(90deg);
  }
}

//- Bloque
.panel__footer {
  .pager {
    border-top: none;
  }
  .panel__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: $sp-small 0 $sp-xsmall;
  }
}

.panel__nav {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

//- Manipulación del banner en Panel únicamente
@media only screen and (max-width: 767px) {
  //- Bloque
  // Edición de la Banner Band únicamente para panels
  .panel__ban {
    &.ban-band {
    margin: $sp-small auto;
    }
    &.ban-band {
      min-width: 320px;
      max-width: 360px;
      width: 100%;
    }
    .ban-band__info {
      justify-content: flex-end;
      padding-bottom: $sp-small;
    }
    .ban-band__def {
      @include font-rem(40px);
      max-width: 75%;
      line-height: 1.2;
      padding: 0 0 $sp-xsmall $sp-xsmall;
    }
    .ban-band__txt {
      @include font-rem(28px);
      line-height: 1.2;
      max-width: 75%;
    }
  }
}

//- Manipulación de la tabla en Panel únicamente
@media only screen and (max-width: 1023px) {
  .panel__table {
    .table-data__head {
      display: none;
    }
    .table-data__row {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
    }
    .table-data__cell {
      padding: 8px 4px;
      width: 100%;
      &:before {
        content: attr(data-tableHead);
        display: block;
        font-family: $f-default;
        @include font-rem(11px);
        color: $c-default-7;
      }
      &:first-child {
        //   text-align: left;
        padding-left: $sp-xsmall;
        &:before {
          padding-left: 0;
        }
      }
    }
  }
}

//- bp-medium = 768px;
@include media-query(medium) {
  .panel {
    width: 90%;
    max-width: 818px;
    margin: 0 auto;
  }
  .panel__inner {
    padding: $sp-medium $sp-wide;
  }
  .panel__inner_m {
    padding: $sp-small $sp-small $sp-medium;
  } //Estructura a dos columnas
  .panel__subhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search__form {
      margin: 0;
    }
  }
  .panel__title {
    @include font-rem(24px);
  } //- Bloque
  // Edición de la Banner Band únicamente para panels
  .panel__ban {
    &.ban-band {
      margin: $sp-medium auto;
    }
    .ban-band__info {
      justify-content: center;
      align-items: flex-end;
    }
    .ban-band__def {
      @include font-rem(30px);
      max-width: 75%;
      line-height: 1.1;
      padding: 0 $sp-small $sp-xsmall 0;
    }
    .ban-band__txt {
      @include font-rem(24px);
      line-height: 1.1;
      max-width: 65%;
      text-align: right;
      padding-right: $sp-small;
    }
  }
}

//- bp- medium = 1024
@include media-query(wide) {
  // Edición de la tabla para panels únicamente
  .panel__table {
    .table-data__head-item {
      &:first-child {
        text-align: left;
      }
    }
  } //- Bloque
  // Edición de la Banner Band únicamente para panels
  .panel__ban {
    .ban-band__def {
      @include font-rem(40px);
      max-width: 85%;
      line-height: 1.2;
    }
    .ban-band__txt {
      @include font-rem(28px);
      line-height: 1.2;
      max-width: 75%;
    }
  }
}
