/*------------------------------------*\
  Section theme
  Se usa sólo para espaciados a bloques
  o elementos
\*------------------------------------*/
//- Layout
.section-head {
  padding-top: $sp-medium;
}

//- Layout
.section {
  .section__head {
    text-align: center;
    padding-top: $sp-medium;
  }
  .section__subhead {
    text-align: center;
    padding-bottom: $sp-small-medium;
  }
  .tab {
    padding-bottom: $sp-medium;
  }

  .table {
    margin-bottom: $sp-large;
  }

  .data_canvas {
    padding: $sp-large 0;
  }
  .grid__slot_background {
    margin-bottom: $sp-large;
  }
}



