/*------------------------------------*\
    #Titles
\*------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/**
 * @atom Titulo (Main)
 * @section Títulos
 * @markup
 *   <h2 class="title__main">Título con línea inferior</h2>
 */

//title page
.title__main {
  font-family: $f-bold;
  @include font-rem(18px);
  border-bottom: 1px solid $c-default-4;
  padding-bottom: $sp-xsmall;
  margin-bottom: $sp-small;
}

/**
 * @atom Título y subtítulo Principal
 * @section Títulos
 * @markup
 *   <h1 class="title">Titulo Principal</h1>
 *   <h2 class="subtitle_sm">Subtítulo Pequeños</h2>
 */
//title page form slot
.title {
  font-family: $f-default;
  @include font-rem(32px);
}

/**
 * @atom Título General
 * @section Títulos
 * @markup
 *   <h2 class="title__gral">Títulos Generales</h2>
 */

.title__gral {
  font-family: $f-bold;
  @include font-rem(18px);
}

/**
 * @atom Título General Light
 * @section Títulos
 * @markup
 *   <h2 class="title__light">Títulos Generales</h2>
 */

.title__light {
  font-family: $f-light;
  @include font-rem(32px);
  line-height: 1.2;
}

/**
 * @atom Subtítulo General
 * @section Títulos
 * @markup
 *  <p class="subtitle_gral">Subtítulos Generales</p>
 */

.subtitle_gral {
  font-family: $f-bold;
  @include font-rem(14px);
  text-transform: uppercase;
}

/**
 * @atom Subítulo
 * @section Títulos
 * @markup
 *   <p class="subtitle">Subtítulos</p>
 */

.subtitle {
  font-family: $f-default;
}

/**
 * @atom Subítulo pequeño (small)
 * @section Títulos
 * @markup
 *   <p class="subtitle_sm">Subtítulos Sin bold</p>
 */

.subtitle_sm {
  font-family: $f-regular;
  @include font-rem(14px);
  text-transform: uppercase;
}

// Title section
.section__head {
  @include font-rem(30px);
}

.section__subhead {
  margin: 0;
}

// Titulos de sección con línea inferior
.title_under {
  border-bottom: 1px solid $c-default-3;
  padding-bottom: $sp-xsmall;
}

/**
 * @atom Título Cabecera (Head)
 * @section Títulos
 * @markup
 *   <h1 class="title_head">Título Cabecera</h1>
 */

.title_head {
  display: block;
  @include font-rem(36px);
}

/**
 * @atom Título Subrayado (Underline)
 * @section Títulos
 * @markup
 *   <h1 class="title_underline">Título Principal con línea inferior</h1>
 */

.title_underline {
  display: block;
  @include font-rem(36px);
  padding-bottom: $sp-xsmall;
  border-bottom: 1px solid $c-default-6;
  text-align: center;
}

/**
 * Sólo para títulos de sección <section> <h1>
 * @atom Título (Headline)
 * @section Títulos
 * @markup
 *   <h1 class="title_headline">Título  de Sección Principal con línea inferior</h1>
 */

//- Elemento & Bloque
.title_headline {
  display: block;
  @include font-rem(32px);
  padding-bottom: $sp-small;
  border-bottom: 1px solid $c-default-6;
  text-align: center;
  margin: $sp-small 0;
}

/**
 * @atom Título de color (Brand)
 * @section Títulos
 * @markup
 *   <h1 class="title_brand">Título  de Color Movistar</h1>
 */

//- Elemento & Bloque
.title_brand {
  font-family: $f-bold;
  @include font-rem(24px);
  color: $c-brand-2;
}

// Titulo de sección
.title_section {
  font-family: $f-default;
  @include font-rem(64px);
}

.subtitle_section {
  font-family: $f-bold;
}

.headline {
  line-height: 1;
  font-family: $f-light;
  @include font-rem(46px);
}


//- elemento
.title-foot {
  @include font-rem(14px);
  font-family: $f-bold;
}

// $bp-medium: 768px
@include media-query(medium) {
  .title {
    @include font-rem(48px);
  }
  .title__main {
    @include font-rem(24px);
  } //- Elemento & Bloque
  .title_headline {
    @include font-rem(36px);
    margin: $sp-medium 0;
  }
}

// $bp-wide: 1024px
@include media-query(wide) {
  .title {
    @include font-rem(64px);
  }
  .section__head {
    @include font-rem(40px);
  }
  .headline {
    @include font-rem(90px);
    line-height: 1;
  }
}
