/*------------------------------------*\
    #Styles for text elements
\*------------------------------------*/

/**
 * Bloque de párrafo con características generales.
 *
 * @atom Párrafo
 * @section Tipografía
 * @markup
 *  <div class="txt">
 *    @{lipsum:1:paragraphs}
 *  </div>
 */

body {
  line-height: 1.4;
  color: $c-default;
  @include font-rem(16px);
  font-family: $f-default;
}

p {
  margin: 0;
  padding: 0;
}

//-Elemento
.hidden {
  display: none;
}

/**
 * Estilos básicos de texto con grosor. ( Ejemplo: font-family: $f-bold; )
 *
 * @atom Tipografía: Telefonica-Bold
 * @section Tipografía
 * @markup
 *  <span class="txt_bold">Texto en Bold</span>
 */

//-Elemento
.txt_bold {
  font-family: $f-bold;
}

/**
 * Estilos básicos de texto ( Ejemplo: font-family: $f-regular; )
 *
 * @atom Tipografía: Telefonica-Regular
 * @section Tipografía
 * @markup
 *  <span class="txt_brand">Texto en color</span><br>
 *  <span class="txt-small">texto pequeño</span>
 */



//-Elemento
.txt_brand {
  color: $c-brand;
}

//-Elemento
.txt_blue {
  display: block;
  color: $c-brand-2;
}


/**
 * Estilos básicos de texto ( Ejemplo: font-family: $f-light; )
 *
 * @atom Tipografía: Telefonica-ExtraLight
 * @section Tipografía
 * @markup
 *  <span class="txt_light">texto Extralight</span>
 */



//-Elemento
.txt_light {
  font-family: $f-light;
}

//-Elemento
.txt-hide {
  @include font-rem(0px);
}

/**
 * Estilos básicos de texto menor grosor. ( Ejemplo: font-family: $f-default; )
 *
 * @atom Tipografía: Telefonica-Light
 * @section Tipografía
 * @markup
 *  <span class="txt_through">Texto Tachado</span><br>
 */



//-Elemento
.txt_through {
  font-family: $f-light;
  text-decoration: line-through;
}

//-Elemento
.txt-through_red {
  display: inline;
  position: relative;
  font-family: $f-default;
  @include font-rem(18px);
  &:before {
    content: "";
    display: inline;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: $c-warning;
    @include translateY(-50%);
  }
}
.txt-through_red.underline-bold {
  &:before {
    height: 2px;
  }
}


//- Elemento
.txt-small {
  @include font-rem(14px);
}

//- Elemento
.txt-high {
  @include font-rem(36px);
  line-height: 1;
  font-family: $f-light;
}

//- Elemento
.txt-strong {
  font-family: $f-bold;
}


//- ELEMENTO
.txt-alert__left {
  padding-left: $sp-medium;
}

//- ELEMENTO
.txt-hand {
  font-family: $f-hand;
}

.cupon{
  border: 1px solid #e2066c;
  padding: 3px 10px;
  background-color: #ea0c54; color: #fff;
}

.input-search__input{
  text-transform: uppercase;
}

.imagen_promo_corcholata{
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  right: 2%;
  color: #fff;
}


.texto_promo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
.texto_promo_plan
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -60%);
    font-size: 18px;
}
.img_promo_plan {
  position: absolute;
  z-index: 999999;
  width: 140px;
  height: 140px;
  right: -40%;
  /* top: 50%; */
  color: #fff;
}
.body_promo_plan{
  text-align: center !important;
}

.texto-ie{
  //transform: translate(0%,170%);
  display: table-cell;
  vertical-align: middle
}

.img_promo{
  position: absolute;
  z-index: 999999;
  width: 100px;
  height: 100px;
  right: -10%;
  top: -18%;
  color: #fff;
  }

.imagen2_promo{
 position: absolute;
 z-index: 999999;
 width: 70px;
 height: auto;
 right: 2%;
 top: 0%;
 color: #fff;
}

.img-k{
  min-height: 100px;
}
.img2_promo{
  position: absolute;
  z-index: 999999;
  width: 140px;
  height: 140px;
  right: 2%;
  color: #fff;
}