<?php
$blockCustomer = $block->getLayout()->createBlock('Vass\ForgotPass\Block\Index');
$dataCustomer = $blockCustomer->getDataCustomer();
$link_base = $this->getBaseUrl();
$link_media = $this->getUrl('pub/media/wysiwyg/');
$link_media = $link_media."recortes/";
$pdfAviso = $this->getUrl('pub/media/archivos/').'avisoprivacidad.pdf';

foreach ($dataCustomer['customer'] as $clave => $valor) {
        $usuario[$clave] =  $valor;
}
foreach ($dataCustomer['shipping'] as $clave => $valor) {
        $shipping[$clave] =  $valor;
}
foreach ($dataCustomer['billing'] as $clave => $valor) {
        $billing[$clave] =  $valor;
}

?>
<div style="display: none;">
<?php 
echo "<pre>";
print_r($dataCustomer);
echo "</pre>";
?>
</div>
<section class="layout_section">
    <article class="board">
        <div id="js-sendCode">
            <header class="board__top-head board__top-pos card-top__ok">
                <div class="card-ico card-ico__ok">
                    <h1 class="card-ico__title i-check-ring">Recuperar contraseña</h1>
                    <p class="card-ico__txt">Te enviaremos un código de acceso temporal,<br>¿Dónde quieres recibirlo?</p>
                </div>
            </header>
            <div class="form-tabs">
                <form action="#" method="POST">
                    <div class="form-tabs__content js-formTabs_content" id="mail">
                        <div class="form__row-gral">
                            <label class="form__label" for="email">Correo electrónico</label>
                            <div class="form__block js-validateItem">
                                <input class="form__input input" placeholder="Escribe tu correo electrónico" name="email" id="emailrecuperar" data-validate="emailTel" type="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="form__row">
                        <button class="form__btn btn form-tabs__btn" type="button">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <article class="board">
        <div id="js-sendedCode">
            <header class="board__top-head board__top-pos card-top__ok">
                <div class="card-ico card-ico__ok">
                    <h1 class="card-ico__title i-check-ring">Recuperar contraseña</h1>
                </div>
            </header>
            <div class="sended-code">
                <form action="#" method="POST">
                    <div class="form__row">
                        <label class="form__label sended-code__label" id="js-sendedCodeMsg">Código enviado a jua*****@gmail.com</label>
                        <div class="sended-code__inputs">
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code1" autofocus>
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code2">
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code3">
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code4">
                              <span class="sended-code__divider">-</span>
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code5">
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code6">
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code7">
                            <input class="form__input sended-code__input" type="text" maxlength="1" name="code8">
                        </div>
                    </div>
                    <div class="form__row">
                        <button class="form__btn btn form-tabs__btn" type="button">Enviar</button>
                    </div>
                    <div class="form__row"><a class="sended-code__link" href="#">¿No has recibido el código?</a></div>
                    <div class="form__row">
                        <p class="sended-code__countdown">Obtén uno nuevo en 1:47</p>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<style type="text/css">
    .form__label{
        margin-bottom: 0;
    }
    .form__signal_error:after,
    .form__signal_check:after{
        font-family: 'MaterialIcons-Regular' !important;
    }
    .form__signal_check:after{
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
</style>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {

        function openFormPass(ev, tabName) {
          var i, tabContent, tabLinks;
          tabContent = document.getElementsByClassName('js-formTabs_content');

          for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
          }

          tabLinks = document.getElementsByClassName('js-formTabs_link');

          for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
          }

          document.getElementById(tabName).style.display = "block";
          ev.currentTarget.className += " active";
        }

        $(function () {
          document.getElementById('defaultOpen') && document.getElementById('defaultOpen').click();
        });

          openFormPass(event, 'mail');

        $( ".sended-code__input" ).keyup(function() {
          var goto = $(this).attr('name');
          if (goto != "code4") {
            $(this).next('input').focus();
          }else{
            $(this).next().next('input').focus();
          }
        });

        $( ".sended-code__input" ).keydown(function() {
          $(this).select();
        });

    });
</script>