<?php
// @codingStandardsIgnoreFile
/** @var \Magento\Sales\Block\Adminhtml\Order\View\History $block */
?>


<?php
/** Alternative Payment Validation */
$isAlternativePaymentValid = $this->helper('Entrepids\AlternativePayment\Helper\Data')
    ->orderIsValidForRelease($block->getOrder()->getId());

?>

<div id="order_history_block" class="edit-order-comments">
    <?php if ($block->canAddComment()):?>
        <div class="order-history-block" id="history_form">

            <div class="admin__field">
                <label for="history_status" class="admin__field-label"><?= /* @noEscape */ __('Status') ?></label>
                <div class="admin__field-control">                       
                    <?php
                    //@ToDo: Why is this logic stuff directly in template?
                    $statues = $block->getStatuses();//The default status
                    $method = $block->getOrder()->getPayment()->getMethodInstance()->getTitle();//The used payment method
                    $allowedStatusOrder = $block->getOrder()->getEtpRequiredStatus();

                    $allowedStatusOrder = empty($allowedStatusOrder) ? [] : explode(',', $allowedStatusOrder);
                    $allowedStatusOrder[] = $block->getOrder()->getStatus();
                    $statues_allowed = array(ClassyLlama\AvaTax\Model\Queue::QUEUE_STATUS_PENDING, ClassyLlama\AvaTax\Model\Queue::QUEUE_STATUS_PROCESSING); //status for adding processing statues in case is not
                    //array('Bank Transfer Payment','Pay Later','Place your order now and Pay Later','No Payment Information Required','Check / Money order / Cash','Check \/ Money order \/ Cash');//The processing method will be able for this methods

                    //Why is this stuff directly in template?
                    $methods_for_processing = [
                        'Bank Transfer Payment',
                        'Pay Later',
                        'Place your order now and Pay Later',
                        'No Payment Information Required',
                        'Check / Money order / Cash',
                        'Check \/ Money order \/ Cash',
                        'Check',
                        'Money order \/ Cash',
                        'Money order / Cash',
                        'Cash / Money order',
                        'Cash / Money Order',
                        'Cash \/ Money Order',
                        'Cash \/ Money order',
                        'Wire Transfer',
                        'Cash',
                        'Money order',
						'Pay Trace'
                    ];
                    /** Validations for Alternative Payment */
                    if($this->helper('Entrepids\AlternativePayment\Helper\Data')->orderIsValidForRelease($block->getOrder()->getId()))
                        $methods_for_processing[] = 'Alternative Payment';

                    //If the current statue is in statues allowed and the order was paid with the available methods, we add the processing statue
                    if(in_array($block->getOrder()->getStatus(), $statues_allowed) && in_array($method, $methods_for_processing) && !isset($statues[ClassyLlama\AvaTax\Model\Queue::QUEUE_STATUS_PROCESSING])){
                        $statues[ClassyLlama\AvaTax\Model\Queue::QUEUE_STATUS_PROCESSING] = $block->getOrder()->getConfig()->getStatusLabel(ClassyLlama\AvaTax\Model\Queue::QUEUE_STATUS_PROCESSING);
                    }
                    ?>
                    <select name="history[status]" id="history_status" class="admin__control-select">                        
                        <?php foreach ($statues as $_code => $_label): ?>
                            <?php if(in_array($_code, $allowedStatusOrder) || count($allowedStatusOrder) == 1 ): ?>
                                <?php $_label = $_label === 'Payment Confirmation' ? 'Release to SAP' : $_label; /* ROTO-181: Label modification */?>
                                <option value="<?= $block->escapeHtml($_code) ?>"<?php if ($_code == $block->getOrder()->getStatus()): ?> selected="selected"<?php endif; ?>><?= $block->escapeHtml($_label) ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

            <div class="admin__field">
                <label for="history_comment" class="admin__field-label">
                    <?= /* @noEscape */ __('Comment') ?>
                </label>
                <div class="admin__field-control">
                    <textarea name="history[comment]"
                              rows="3"
                              cols="5"
                              id="history_comment"
                              class="admin__control-textarea"></textarea>
                </div>
            </div>

            <div class="admin__field">
                <div class="order-history-comments-options">
                    <div class="admin__field admin__field-option">
                        <?php if ($block->canSendCommentEmail()): ?>
                            <input name="history[is_customer_notified]"
                                   type="checkbox"
                                   id="history_notify"
                                   class="admin__control-checkbox"
                                   value="1" />
                            <label class="admin__field-label" for="history_notify">
                                <?= /* @noEscape */ __('Notify Customer by Email') ?>
                            </label>
                        <?php endif; ?>
                    </div>

                    <div class="admin__field admin__field-option">
                        <input name="history[is_visible_on_front]"
                               type="checkbox"
                               id="history_visible"
                               class="admin__control-checkbox"
                               value="1" />
                        <label class="admin__field-label" for="history_visible">
                            <?= /* @noEscape */ __('Visible on Storefront') ?>
                        </label>
                    </div>
                </div>

                <div class="order-history-comments-actions">
                    <?= $block->getChildHtml('submit_button') ?>
                </div>
            </div>
        </div>
    <?php endif;?>

    <ul class="note-list">
    <?php foreach ($block->getOrder()->getStatusHistoryCollection(true) as $_item): ?>
        <li class="note-list-item">
            <span class="note-list-date"><?= /* @noEscape */ $block->formatDate($_item->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></span>
            <span class="note-list-time"><?= /* @noEscape */ $block->formatTime($_item->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></span>
            <span class="note-list-status"><?= $block->escapeHtml($_item->getStatusLabel()) ?></span>
            <span class="note-list-customer">
                <?= /* @noEscape */ __('Customer') ?>
                <?php if ($block->isCustomerNotificationNotApplicable($_item)): ?>
                    <span class="note-list-customer-notapplicable"><?= /* @noEscape */ __('Notification Not Applicable') ?></span>
                <?php elseif ($_item->getIsCustomerNotified()): ?>
                    <span class="note-list-customer-notified"><?= /* @noEscape */ __('Notified') ?></span>
                <?php else: ?>
                    <span class="note-list-customer-not-notified"><?= /* @noEscape */ __('Not Notified') ?></span>
                <?php endif; ?>
            </span>
            <?php if ($_item->getComment()): ?>
                <div class="note-list-comment"><?= $block->escapeHtml($_item->getComment(), ['b', 'br', 'strong', 'i', 'u', 'a']) ?></div>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
    </ul>
    <script>
        require(['prototype'], function(){
            if($('order_status'))$('order_status').update('<?= $block->escapeJs($block->escapeHtml($block->getOrder()->getStatusLabel())) ?>');

    });
    </script>
</div>
