<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<?php $helper = $this->helper('Vass\ForgotPass\Helper\Data'); ?>
<section class="layout_section">
    <article class="board">
        <div id="js-sendCode">
            <header class="board__top-head board__top-pos card-top__ok">
                <div class="card-ico card-ico__ok">
                    <h1 class="card-ico__title i-check-ring">Recuperar contraseña</h1>
                    <p class="card-ico__txt">
                        Te enviaremos un mail con las instrucciones<br>
                        para que puedas reestablecerla.
                    </p>
                </div>
            </header>
            <div class="form-tabs">
                <form class="form password forget"
                  action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
                  method="post"
                  id="form-validate"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                    <div class="field note forgotpass">Correo electrónico</div>
                    <div class="field email required">
                        <div class="control">
                            <input type="email" name="email" alt="email" id="email_address" class="input-text" placeholder="Escribe tu correo electrónico" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <?php if ($helper->getConfig('recaptcha/settings/enabled')) : ?>
                        <div class="g-recaptcha" data-sitekey=<?php echo $helper->getConfig('recaptcha/settings/site_key'); ?> data-callback="verifyClient"></div>
                        <input id="g-recaptcha-response" type="hidden">
                    <?php endif; ?>
                    <?= $block->getChildHtml('form_additional_info') ?>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit primary"><span><?= $block->escapeHtml(__('Reset My Password')) ?></span></button>
                    </div>
                    <div class="secondary">
                        <a class="action back" href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
                    </div>
                </div>
            </form>

            </div>
        </div>
        <br><br>
    </article>
</section>
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
<style type="text/css">
    .form__label{
        margin-bottom: 0;
    }
    .form__signal_error:after,
    .form__signal_check:after{
        font-family: 'MaterialIcons-Regular' !important;
    }
    .form__signal_check:after{
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    @media only screen and (max-width: 767px) {
        .page-main {
            padding-left: 0px;
            padding-right: 0px ; 
        }
        .txt-end{
            width: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            font-size: 20px;
        }
    }
    @media only screen and (min-width: 768px) {
        .page-main {
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%;
        }
    }
</style>
<script src="https://www.google.com/recaptcha/api.js?hl=es-419" async defer></script>
<script type="text/javascript">
    var verifyClient = function(token) {
        console.log(token);
        document.getElementById("g-recaptcha-response").value = token;
    }

    require([
        'jquery'
    ], function ($) {
        /**
         * Valida el campo de requerido
         */
        function validaRequerido(tipo, input) {
            var resultado = true;
            if (input.val().length <= 0 && tipo != "checkbox") {
                resultado = false;
            }
            if (input.prop('checked') == false && tipo == "checkbox") {
                resultado = false;
            }
            return resultado;
        }

        $('#form-validate').submit(function (e) {
            var next = true;
            e.preventDefault();
            $(("form#form-validate :input[type!=hidden][type!=button][type!=submit]")).each(function () {
                var input = $(this); // This is the jquery object of the input, do what you will
                var name = input.attr('name');
                var dataValidate = input.attr('data-validate');
                var tipo = input.attr('type');
                if (!validaRequerido(tipo, input)) {
                    next = false;
                } 

            });
            if(!next)
                return false;
            $('#form-validate').unbind('submit');
            $('#form-validate').submit();

        });

    });
</script>
