<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');

if(!$customerSession->isLoggedIn()) {
    $redirect = $objectManager->get('\Magento\Framework\App\Response\Http');

    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

    $redirect->setRedirect($url);
}
?>
<?php
    $objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManagerlogin->get('Magento\Customer\Model\Session');
    $baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
?>
<div class="block block-customer-login data__even">
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login form__inner"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">

                <div class="field email required form__row-gral">
                  <label class="form__label-light js-formCheck">Correo electrónico o teléfono *</label>
                  <input class="form__input" placeholder="magento@vass.com.mx" name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" id="email" type="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                  <div class="form__row-grid"><small class="js-validateMsg form__msg_check" data-name="email"></small><a class="form__link link_under" href="<?= $baseurl."customer/account/create/" ?>" alt="Abrir una nueva cuenta">¿Abrir una nueva cuenta?</a></div>
                </div>

                <div class="field password required form__row-gral">
                    <label class="form__label-light" for="passShow"><?= $block->escapeHtml(__('Password'))."*" ?></label>
                    <div class="form__relative">
                        <input class="form__input error input-text" placeholder="Escribe tu contraseña" type="password" name="login[password]" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}" aria-invalid="true">
                        <button class="form__ico form__js-ico i-eye" type="button"></button>
                    </div>
                    <div class="form__row-grid">
                        <small class="js-validateMsg form__msg_error" data-name="contraseña">Introduce una contraseña valida.</small>
                        <a class="form__link link_under" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>" alt="olvidaste tu contraseña">
                            <?= $block->escapeHtml(__('Forgot Your Password?')) ?>
                        </a>
                    </div>
                </div>

                
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar left-login">
                    <div class="primary">
                        <?php
                            echo "<a class=\"panel__link link__brand\" href=\"".$baseurl."customer/account/create/\">".$block->escapeHtml(__('Create an Account'))."</a>";
                        ?>
                    </div>
                    <div class="secondary">
                        <button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
