<script>
    require([
        'jquery',
        'prototype',
    ], function(jQuery){
        function function_name() {
            params = {};
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                loaderArea: true,
                asynchronous: true,
                parameters: params,
                onSuccess: function(transport) {
                    var result = jQuery('.result-test-services');
                        result.fadeIn("slow", function(){
                            jQuery('#btnid').attr("disabled","disabled");
                        });
                    var response = JSON.parse(transport.responseText);
                    var validaToken = response.error;
                    if(validaToken){
                        result.html("<b>Validando Token </b><br><span style='color: #ffc800'>EndPoint</span> : " + response.TokenData.data.end_point + "<br><span style='color: #ffc800'>client_id</span> : " + response.TokenData.data.client_id + "<br><span style='color: #ffc800'>cliente_secret</span> : " + response.TokenData.data.client_secret + " <br><span style='color: #ffc800'>grant_type</span> : " + response.TokenData.data.grant_type + "<br><span style='color: #ffc800'>scope</span> : " + response.TokenData.data.scope + "<br><span style='color: #ffc800'>Token</span> : " + response.TokenData.token);
                        if(!response.TokenData.token){
                            result.append('<div style="color: red; font-weight: bold;">ERROR el token es invalido</div>')
                        }else{
                            jQuery('.btn-test-reservadn').fadeIn();
                        }
                    }

                }
            });
        }

        function function_reserva() {
            params = {'dn':'55'};
            new Ajax.Request('<?php echo $block->getAjaxUrlDn() ?>', {
                loaderArea: true,
                asynchronous: true,
                parameters: params,
                onSuccess: function(transport) {
                    var response = JSON.parse(transport.responseText);
                    var validaResult = response.status;
                    var div = jQuery('.btn-reservadn-result');
                    console.log(response);
                    if(validaResult==200){
                        div.fadeIn("slow", function(){
                            div.html("<span>Exito se genero un DN para NIR 55 : </span> <strong>" + response.result.resources[0].value + "</strong>");
                            jQuery('.btn-test-insertdb').fadeIn("slow", function(){
                                jQuery('#dn_reserver').val(response.result.resources[0].value);
                                jQuery('#dn_id').val(response.result.resources[0].id);
                                jQuery('#btndn').attr("disabled","disabled");
                            });
                        });
                    }else{
                        div.fadeIn("slow");
                        div.html("<span style='color: red;'>ERROR al generar DN</span>");
                    }
                }
            });
        }

        function function_insertdbdn() {
            var dn = jQuery('#dn_reserver').val();
            var dn_id = jQuery('#dn_id').val();
            params = {'dn':dn,'dn_id':dn_id};
            new Ajax.Request('<?php echo $block->getAjaxUrlDb() ?>', {
                loaderArea: true,
                asynchronous: true,
                parameters: params,
                onSuccess: function(transport){
                    var response = JSON.parse(transport.responseText);
                    jQuery('#btndb').attr("disabled","disabled");
                    jQuery('.res-db').html("Se inserto el registro en la Base de Datos");
                    console.log(response);
                }
            });
        }

        function function_liberardn() {
            var dn = jQuery('#dn_reserver').val();
            var dn_id = jQuery('#dn_id').val();
            params = {'dn':dn,'dn_id':dn_id};
            new Ajax.Request('<?php echo $block->getAjaxUrlLiberar() ?>', {
                loaderArea: true,
                asynchronous: true,
                parameters: params,
                onSuccess: function(transport){
                    var response = JSON.parse(transport.responseText);
                    if(response.result){
                        jQuery('#btnliberar').attr("disabled","disabled");
                        jQuery('.result-liberacion-dn').fadeIn("slow");
                        jQuery('.result-liberacion-dn').html("El DN " + dn + " ha sido liberado");
                    }
                }
            });
        }

        jQuery('#btnid').click(function(){
            function_name();
        });

        jQuery('#btndn').click(function(){
            function_reserva();
        });

        jQuery('#btndb').click(function(){
            function_insertdbdn();
        });

        jQuery('#btnliberar').click(function(){
            function_liberardn();
        });        
    });
</script>
<div class="test-servides" style="border: 1px solid #efefef; padding: 20px;">
        <?php echo $block->getButtonHtml() ?>
    <div class="result-test-services" style="overflow: scroll; max-width: 450px; display: none; border: 1px solid #efefef;margin: 10px 0 0 0;padding: 10px;background-color: #000;color: #17e84e;">
    </div>
    <div class="btn-test-reservadn" style="display: none; margin: 10px 0 0 0;">
        <?php echo $block->getButtonHtmlDn() ?>
    </div>
    <div class="btn-reservadn-result" style="overflow: scroll; max-width: 450px; display: none; border: 1px solid #efefef;margin: 10px 0 0 0;padding: 10px;background-color: #000;color: #17e84e;">
    </div>
    <div class="btn-test-insertdb" style="display: none; margin: 10px 0 0 0;">
        <input type="hidden" name="dn_reserver" id="dn_reserver" />
        <input type="hidden" name="dn_id" id="dn_id" />
        <?php echo $block->getButtonHtmlDb() ?>
        <div class="res-db"></div>
        <div class="btn-test-liberardn" style="margin: 10px 0 0 0;">
            <?php echo $block->getButtonHtmlLiberar() ?>
        </div>
        <div class="result-liberacion-dn" style="display: none; border: 1px solid #f0ff9d;margin: 10px 0 0 0;padding: 10px;background-color: #585858;color: #efff00;">
        </div>        
    </div>
</div>
