<?php
$blockM = $block->getLayout()->createBlock('Vass\PosVitrinaTerminalPre\Block\Index');
$link_base = $this->getBaseUrl();
?>
<div class="layout">
    <!-- PREPAGO: PREPAGO-22 Se inicia con la class vsm-form-->
    <form class="form-gral vsm-form" id="elige" action="<?= $link_base ?>pos-vitrina-terminal-02-pre">
        <fieldset class="layout_inner steps vsm-form__fieldset">
            <legend class="steps__legend">
                <!-- PREPAGO: PREPAGO-22 Header con título-->
                <span class="steps__head">
                    <small class="head__title">¿Ya tienes un celular?</small>
                </span>
            </legend>
            <div class="spinner" id="spinner_inicial"><span></span><span></span><span></span><span></span></div>
            <div class="steps__selected vsm-steps__selected" id="pos_vitrina_toggle" style="display: none">
                <ul class="steps__list form-ico_tabs">
                    <!-- Hotfix: INTPOSP-450 #INICIO Se cambia la clase de los iconos> -->
                        <li class="steps__item">
                            <div class="form-ico">
                                <input class="form__radio" id="plan1" name="plan" value="on" type="radio">
                                <label class="form__radio_label" for="plan1"><span class="form-ico__label icon-minutos_movistar">Sin smartphone</span></label>
                            </div>
                        </li>
                        <li class="steps__item">
                            <div class="form-ico">
                                <input class="form__radio" id="plan2" name="plan" type="radio">
                                <label class="form__radio_label" for="plan2"><span class="form-ico__label icon-minuto_adicional">Con smartphone nuevo</span></label>
                            </div>
                        </li>
                    <!-- Hotfix: INTPOSP-450 #INICIO Se cambia la clase de los iconos> -->
                </ul>
            </div>


            <div class="steps__cont">
                <button class="js-hideBtnPlan steps__btn btn" type="submit" style="display: none">Continuar</button>
            </div>
        </fieldset>
    </form>
</div>