<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}

{{block class='Magento\\Framework\\View\\Element\\Template'
area='frontend' template='Telefonica_MercadoPago::order_new.phtml' order=$order}}

<table border="0" cellpadding="0" cellspacing="0" width="600px" align="center" style="background-color:#fff;">
 <tbody>
    <tr>
       <td width="40px" style="text-align:center;"></td>
       <td width="520px" style="text-align:center;">
          <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
             <tbody>
                <tr>
                   <td width="60%">
                      <p></p>
                      <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">&nbsp;<br /><span style="font-weight: bold;"y>DETALLES DE TU COMPRA</span></p>
                   </td>
                   <td width="40%">

                   </td>
                </tr>
                <tr>
                   <td colspan="2"><hr style="color:#666;" /></td>
                </tr>
                <tr>
                   <td width="50%">
                      <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong>{{trans "DATOS PERSONALES"}}</strong></p>
                      <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">{{var formattedBillingAddress|raw}}</p>
                   </td>
                   <td width="50%">
                    {{depend order.getIsNotVirtual()}}
                          <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong>{{trans "DATOS DE ENVÍO"}}</strong></p>
                          <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;">{{var formattedShippingAddress|raw}}</p>
                    {{/depend}}
                   </td>
                </tr>
                <tr><td colspan="2"><hr style="color:#666;" /></td></tr>

                {{depend order.isOrderComplete()}}
                    <tr>
                       <td width="100%">
                           <p style="font-size:.8em;text-align:left;color:#666;font-family:Arial, Helvetica, sans-serif;"><strong>{{trans "MÉTODO DE PAGO"}}</strong>
                                <br/><span>Forma de pago: {{var mpCardType|raw}}</span>
                                <br/><span>Tarjeta: {{var mpCard|raw}} {{var mpCardBrand|raw}} </span>
                                {{var msiMercadopago|raw}}
                                <br/><span>{{var payment_html|raw}}</span>
                                <span>Número de Referencia : {{var mpReference|raw}}</span>
                                
                           </p>
                       </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr style="color:#666;" /></td>
                    </tr>
                {{/depend}}

             </tbody>
          </table>

           {{if order.isOrderComplete() }}
                {{layout handle="sales_email_order_items" order=$order area="frontend"}}

                  <table border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
                     <tbody>
                        <tr>
                           <td width="50%">
                              <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;">&nbsp</p>
                              <a href="{{var followUrlOrder|raw}}" target="_blank"><img src="{{view url='images/email/BtnSeguimiento.png'}}" /></a>

                           </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                     </tbody>
                  </table>

                  {{depend order.isPospago()}}

                      <table  border="0"  cellpadding="0" cellspacing="0" width="520px" align="center">
                         <tbody>
                            <tr>
                               <td colspan="2">&nbsp;
                               </td>
                            </tr>
                            <tr>
                               <td width="50%" style="text-align:left;">
                                  <a href="#" target="_blank"><img src="{{view url='images/email/ContratoDigital.png'}}" /></a><br />
                                  <p style="text-align:left;font-size:.8em;color:#666;font-family:Arial, Helvetica, sans-serif;font-weight: bold;">{{var displayImgContrato|raw}}</p>
                               </td>
                               <td width="50%">
                                 <p style="text-align:center;font-size:.75em;color:#666;font-family:Arial, Helvetica, sans-serif;"></p>

                               </td>
                            </tr>
                            <tr>
                               <td colspan="2">&nbsp;
                               </td>
                            </tr>
                         </tbody>
                      </table>
                  {{/depend}}
           {{/if}}
       </td>
       <td width="40" style="text-align:center;"></td>
    </tr>
 </tbody>
</table>

{{template config_path="design/email/footer_template"}}
