<?php 
    $blockM = $block->getLayout()->createBlock('Vass\Recarga\Block\Index');
    $cel = $block->escapeHTML((int)$blockM->getId('numero_telefono'));
    if (empty($cel)) {
        $cel = "";
    }
    $link_media = $this->getUrl('pub/media/wysiwyg/');
    $link_media = $link_media."recortes/";
    $link_base = $this->getBaseUrl();

    $objectManager = \Magento\Framework\App\objectManager::getInstance();

    $appsaacEndpoint = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/appsaac/appsaac_endpoint');
    $appsaacRpiEndpoint = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/appsaac/appsaacRpi_endpoint');
    $url_aviso = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/appsaac/url_aviso');
    $url_terminos = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/appsaac/url_terminos');

    $tokenEndpoint =  $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/token/token_endpoint');

    $grant_type = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/token/token_grant_type');
    $client_id = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/token/token_client_id');
    $username = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/token/token_username');
    $password = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/token/token_password');
    $scope = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/token/token_scope');

    $tokenData = "grant_type=".$grant_type."&client_id=".$client_id."&username=".$username."&password=".$password."&scope=".$scope."";
    $tokenEndpointRpi =  $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/tokenRpi/tokenRpi_endpoint');
    $grant_type_rpi = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/tokenRpi/tokenRpi_grant_type');
    $client_id_rpi = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/tokenRpi/tokenRpi_client_id');
    $client_secret_rpi = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/tokenRpi/tokenRpi_client_secret');
    $tokenRpi_scope = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('recargas/tokenRpi/tokenRpi_scope');
    $tokenRpiData = "grant_type=".$grant_type_rpi."&client_id=".$client_id_rpi."&client_secret=".$client_secret_rpi."&scope=".$tokenRpi_scope."";

    $fecha = date('Y-m-d H:i:s');
    
?>
<div class="loading-spiner tuning">
    <div class="spinner" style="display: none;">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <p class="loading-spinner__txt">Estamos preparando la mejor oferta para tí</p>
</div>
<section class="layout_inner">
    <h1 class="title_headline">Recarga en línea Movistar</h1>
    <div class="step-box">
        <form class="validate step-box__wrap form js-StepBoxSlide" method="POST">
            <!-- Panel 1-->
            <div class="step-box__item js-stepBox" id="panelOne">
                <fieldset class="step-box__inner">
                    <legend class="step-box__legend">
                        <span class="step-box__title-high">1</span>
                        <span class="step-box__title title_brand">Ingresa el número</span>
                    </legend>
                    <div class="form__row">
                        <p class="step-box__txt">
                            Escribe el número Movistar al que le quieres hacer una recarga
                        </p>
                        <label class="form__label" for="codeMov">Número Movistar</label>
                        <div class="form__signal js-validateItem">
                            <!-- JS oculta el Spinner Class= "js-SpinnerTime"-->
                            <!-- <span class="spinner spinner_small js-SpinnerTime"></span> -->
                            <input class="form__input" placeholder="ej: 5555555555" name="codeMov" id="codeMov" data-validate="phone" type="text" value="<?php echo $block->escapeHTML($cel); ?>" maxlength="10">
                        </div>
                        <small class="js-validateMsg" ></small>
                    </div>
                    <div class="form__row step-box_center">
                        <button class="form__link step-box_show js-editStep" type="button" id="editPhone">
                            Editar Número
                        </button>
                        <p class="txt_brand steps-box__blink">
                            <!-- Tienes un paquete vigente hasta el 20 de septiembre de 2018 -->
                        </p>
                        <button class="form__btn btn js-btnNextStepForm one" type="button">Continuar</button>
                    </div>
                    
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner-form-recargas')->toHtml();?>

                </fieldset>
            </div>
            <!-- Panel 2-->
            <div class="step-box__item step-box__item_disable js-stepBox" id="panelTwo">
                <fieldset class="step-box__inner">
                    <legend class="step-box__legend">
                        <span class="step-box__title-high">2</span>
                        <span class="step-box__title title_brand" id="etapa-dos">Selecciona</span>
                    </legend>
                    <div class="form__row-gral">
                        <p class="step-box__txt">
                            
                        </p>
                        <!-- Radio Box-->
                        <ul class="radio-box js-radioPack" id="paq_recargas">
                            <!-- Llenado dinámico -->
                        </ul>
                        <small class="js-validateMsg" data-name="packs"></small>
                    </div>
                    <!-- .form__row-gral.step-box_center
                button.form__btn.btn.js-btnNextStepForm(type='button') Continuar
                
                -->
                </fieldset>
            </div>
            <!-- Panel 3-->
            <div class="step-box__item step-box__item_disable js-stepBox" id="panelThree">
                <fieldset class="step-box__inner">
                    <legend class="step-box__legend">
                        <span class="step-box__title-high">3</span>
                        <span class="step-box__title title_brand">Ingresa los datos de tu tarjeta de crédito o débito</span>
                    </legend>
                    <div class="form__row-gral step-box_center">
                    </div>
                    <div class="form__row-gral">
                        <label class="form__label" for="UserCredit">
                            Nombre y Apellidos (Como aparecen en la tarjeta)
                        </label>
                        <div class="form__signal js-validateItem">
                            <input class="form__input input" placeholder="Nombre y Apellidos" name="UserCredit" id="UserCredit" data-validate="name" type="text">
                        </div>
                        <small class="js-validateMsg" data-name="UserCredit"></small>
                    </div>
                    <div class="form__row-gral">
                        <label class="form__label" for="NumCredit">Número de tarjeta</label>
                        <div class="form__signal js-validateItem">
                            <input class="form__input input" placeholder="Número de tarjeta" name="NumCredit" id="NumCredit" data-validate="card" type="text" maxlength="16">
                        </div>
                        <small class="js-validateMsg" data-name="NumCredit"></small>
                    </div>
                    <div class="form__row-gral-sm">
                        <div class="form__grid">
                            <div class="form__grid__item">
                                <label class="form__label">Expiración</label>
                                <input class="form__input" id="expiration" placeholder="MM/AA" type="text" name="expiration" data-validate="number" maxlength="5"><small class="js-validateMsg" data-name="expiration"></small>
                            </div>
                            <div class="form__grid__item">
                                <label class="form__label">CVV</label>
                                <input class="form__input" id="ccv" placeholder="980" type="password" name="ccv" data-validate="CCV" maxlength="3"><small class="js-validateMsg" data-name="ccv"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form__row-sm">
                        <!-- Zona de Captcha -->
                    </div>
                    <div class="form__row-sm">
                        <input class="form__check" type="checkbox" id="invoice" name="invoice" data-validate="checkPrivacy" checked>
                        <label class="form__label_check i-check" for="invoice">
                            Acepto
                            <a href="<?= $url_aviso ?>" target="_blank" title="Aviso de Privacidad">
                                &nbsp;Aviso de Privacidad
                            </a>
                        </label>
                        <small class="js-validateMsg" data-name="invoice"></small>
                    </div>
                    <div class="form__row-gral">
                        <input class="form__check" type="checkbox" id="terms" name="terms" data-validate="checkTerms">
                        <label class="form__label_check i-check" for="terms">
                            Acepto
                            <a href="<?= $url_terminos ?>" target="_blank" title="Aviso de Privacidad">
                                &nbsp;Términos y Condiciones
                            </a>
                        </label>
                        <small class="js-validateMsg" data-name="terms"></small>
                    </div>
                    <div class="form__row-gral step-box_center">
                        <button class="form__btn btn js-btnNextStepForm end" title="Recarga" type="submit">Recargar</button>
                    </div>
                </fieldset>
                <!-- end-->
            </div>
        </form>
    </div>
</section>
<div class="layout_inner">
    <article class="prefoot">
        <h3 class="prefoot__title">Términos y Condiciones</h3>
        <p>
            <?php
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('recharge-public')->toHtml();
            ?>
        </p>
    </article>
</div>
<div class="modal js-modalRecargPublic">
    <div class="modal__box">
        <button class="modal__close js-modal__close_confirmDatos i-x">Cerrar</button>
        <h3 class="title_headline"> Confirma tus datos</h3>
        <p class="modal__txt_uppercase">Tu número</p>
        <p class="modal__txt_high" id="dnuser"></p>
        <div class="modal__sheet radio-box__label" id="rechargechosen">
            
        </div>
        <div class="modal__box_inner">
            <h4 class="modal__txt_uppercase">Medio de pago</h4>
            <p class="modal__i i-cards" id="medioPago"></p>
            <p class="modal__txt" id="txt_expiracion">
                
            </p>
            <a class="modal__link link__brand js-modaEditMediosPago" href="#" title="Editar medio de pago">
                Editar medios de pago
            </a>
        </div>
        <div class="modal__inner">
            <div class="modal__row">
                <p class="modal__txt_bold">Total a pagar:</p>
                <p class="modal__txt_brand" id="montoRecarga"></p>
            </div>
            <a class="modal__btn btn" href="#" id="recarga" title="Comprar Recargar">Recargar</a>
            <div id="load_recarga_comprar" align="center" style="display: none">
                <img src="<?= $block->getViewFileUrl('images/loader-1.gif')?>" alt="Cargando..." height="42" width="42" />
            </div>
        </div>
    </div>
</div>
<div class="modal modal_grand js-modalGrandRecargPublic">
    <div class="modal__box">
        <p class="modal__txt_bold">¿Estás seguro que deseas abandonar tu compra?</p>
        <button class="modal__btn btn js-abandCompra_btnContinuar" type="button">Continuar</button>
        <a class="modal__link link__brand js-abandCompra_BtnAband" href="#" title="Abandonar compra">
            Abandonar compra
        </a>
    </div>
</div>

<form  name="formularioRecarga" id="formEnd" method="POST" action="<?php echo $block->escapeUrl($link_base . 'estatus-recarga'); ?>">
    <!-- Auxiliares -->
    <input type="hidden" name="offeringID" id="offeringID" value="">
    <input type="hidden" name="type" id="type" value="">
    <input type="hidden" name="codeproduct" id="codeproduct" value="">
    <input type="hidden" name="statusbolton" id="statusbolton" value="">
    <input type="hidden" name="dnfinal" id="dnfinal" value="">
    <input type="hidden" name="servicios" id="servicios" value="">
    <input type="hidden" name="paquete" id="paquete" value="">
    <input type="hidden" name="montofinal" id="montofinal" value="">
    <input type="hidden" name="codrecarga" id="codrecarga" value="">
    <input type="hidden" name="dnow" id="dnow" value="<?= date('m/y')?>">
</form>

<div class="alert alert_danger" style="z-index: 1001;">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning" style="z-index: 1001;">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success" style="z-index: 1001;">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery'
    ], function (
        $
    ) {

        $(document).ready(function(){
            $("#panelTwo").click(function() {

                $('html, body').animate({
                    scrollTop: $("#panelThree").offset().top
                });
            });

            // Lógica form pasos recarga-publica
            var $arraySocial = [];

            function disableInput() {
                $("input[disabled]").prop("disabled", false);
                $(".step-box__item_disable input").prop("disabled", true);
                $(".js-disableInputs input").prop("disabled", true);
            }

            function setStepHistory(step) {
                var stateObj = {
                    step: step
                };
            }

            function editStep(indexStepBox) {
                if(indexStepBox == 3){
                    $($('.js-stepBox')[indexStepBox]).removeClass('js-disableInputs');
                    $('#panelThree').removeClass('step-box__item_check step-box__item_disable');
                    $("#panelThree input[disabled]").prop("disabled", false);
                    $('.js-btnNextStepForm.end').css('display','block');
                    $("#panelOne").addClass('step-box__item_disable');
                    $("#panelTwo").addClass('step-box__item_disable');
                }else{
                    $($('.js-stepBox')[indexStepBox]).removeClass('js-disableInputs');
                    if(indexStepBox == 0){
                        $('.js-stepBox').removeClass('step-box__item_check');
                        $('#paq_recargas').html("");
                        $("#panelOne input[disabled]").prop("disabled", false);
                        $("#panelOne").removeClass('step-box__item_disable');
                        $("#panelTwo").addClass('step-box__item_disable');
                        $("#panelThree").addClass('step-box__item_disable');
                    }
                    if (indexStepBox == 4) {
                        $('.js-stepBox').removeClass('step-box__item_check');
                        $('#paq_recargas').html("");
                        $("#panelOne input[disabled]").prop("disabled", false);
                        $("#panelOne").removeClass('step-box__item_disable');
                        $("#panelTwo").addClass('step-box__item_disable');
                        $("#panelThree").addClass('step-box__item_disable');
                        $("#UserCredit, #NumCredit, #expiration, #ccv").val('');
                        $("#invoice, #terms").prop('checked',false);
                    }
                }
                
            }

            function setHeightForm(index) {
                var el = $('.js-stepBox .step-box__inner')[index];
                var height = $(el).height();
                $('.js-StepBoxSlide').height('unset');
            }

            function setWidhtFormSteps() {
                $('.step-box__wrap').width("".concat($('.js-stepBox').length, "00%"));
            }

            function nextStepForm(event,section) {
                event.preventDefault();
                if(section != 2){
                    if (section == 1) {
                        $('#dnuser').html($('#codeMov').val());
                    }
                    if(section == 3){
                        //Validar inputs:
                        var faltantes = "";
                        var UserCredit = $('#UserCredit').val();
                        if (UserCredit == "") {
                            faltantes += "=> Nombre de tarjetahabiente ";
                        }
                        var NumCredit = $('#NumCredit').val();
                        var sizeNumCredit = NumCredit.length;
                        if (NumCredit.length < 15) {
                            faltantes += "=> Los datos de la tarjeta que ingresaste son incorrectos. Por favor, verifícalos e inténtalo de nuevo.";
                        }
                        var expiration = $('#expiration').val();
                        var patt = new RegExp(/^\d{1,2}\/\d{1,2}$/);
                        var vigencia = true;
                        if (!patt.test(expiration)) {
                            faltantes += "=> Fecha de Vencimiento ";
                        }else{
                            //Valida vigencia
                            anio = expiration.split("/");
                            anioNow = $('#dnow').val();
                            anioNow = anioNow.split("/");
                            if (anio[1] > anioNow[1]) {
                                mes = anio[0];
                                mesNow = anioNow[0];
                                if (mes < 13 && mes > 0) {
                                    vigencia = true;
                                }else{
                                    vigencia = false;
                                    faltantes += "Formato de Vigencia inválido. Favor de verificarlo.";
                                }
                            }else{
                                mes = anio[0];
                                mesNow = anioNow[0];
                                if (mes < 13 && mes > 0) {
                                    if (anio[1] == anioNow[1]) {
                                        if (mes >= mesNow) {
                                            vigencia = true;
                                        }else{
                                            vigencia = false;
                                            faltantes += "La tarjeta que ingresaste ya expiró. Por favor, inténtalo nuevamente con otra tarjeta.";
                                        }
                                    }else{
                                        vigencia = false;
                                        faltantes += "Formato de Vigencia inválido. Favor de verificarlo.";
                                    } 
                                }else{
                                    vigencia = false;
                                    faltantes += "La vigencia que ingresaste es inválida.";
                                }
                                
                            }
                            
                        }


                        var ccv = $('#ccv').val();
                        if (ccv == "") {
                            faltantes += "=> Código de verificación de la tarjeta ";
                        }else{
                            if (sizeNumCredit == 15) {
                                if (ccv.length != 4) {
                                    ccv = "";
                                    faltantes += "=> Código de verificación de la tarjeta esperaba 4 dígitos ";
                                }
                            }else{
                                if (ccv.length != 3) {
                                    ccv = "";
                                    faltantes += "=> Código de verificación de la tarjeta esperaba 3 dígitos ";
                                }
                            }
                        }
                        var invoice = $('#invoice').is(':checked');
                        if (invoice == false) {
                            faltantes += "=> Aceptar Aviso de Privacidad ";
                        }
                        var terms = $('#terms').is(':checked');
                        if (terms == false) {
                            faltantes += "=> Aceptar terminos y condiciones ";
                        }

                        if (UserCredit == '' || NumCredit.length < 15 || patt.test(expiration) == false || ccv == '' || invoice == false || terms == false || vigencia == false) {
                            var $txt_alert = "Favor de llenar los campos obligatorios " + faltantes + " del formulario";
                            $('.alert.alert_warning').html($txt_alert);
                            $('.alert.alert_warning').removeClass("bounceOut");
                            $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function(){
                                $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                            });
                            dataLayer.push({
                                'event' : 'evRecargaCheckoutP3', //Static data
                                'bool' : 'Error', //Dynamic data
                                'typePlan': ''+tipoPlan+'',
                                'extInf' : ''+faltantes+''
                            });
                            return false
                        } 

                        var expirationCC = $('#expiration').val();
                        $('#txt_expiracion').html("Expiración "+expirationCC);
                        var strCC = $('#NumCredit').val(); 
                        var methodCC = strCC.substring(16,12);
                        $('#medioPago').html("**** **** **** "+methodCC);
                        dataLayer.push({
                            'event' : 'evRecargaCheckoutP3', //Static data
                            'typePlan': ''+tipoPlan+'',
                            'bool' : 'Exitoso' //Dynamic data
                        });
                    }
                    $('.js-SpinnerTime').hide();
                    var steps = $('.js-stepBox');

                    if (!steps[0]) return undefined;

                    for (var i = 0; i < steps.length; i++) {
                      if (!$(steps[i]).hasClass('step-box__item_check') && i < steps.length) {
                        $(steps[i + 1]).removeClass('step-box__item_disable');
                        $(steps[i + 1]).removeClass('step-box__item_check');
                        $(steps[i + 1]).removeClass('js-disableInputs');
                        $(steps[i]).addClass('step-box__item_check');
                        $(steps[i]).addClass('js-disableInputs');
                        setStepHistory(i + 1);

                        if (i < 3) {
                          if (window.innerWidth < 800) {
                            var left = "-".concat(i + 1, "00%");
                            $('.step-box__wrap').css("left", left);
                            setTimeout(function () {
                              setHeightForm(i + 1);
                            }, 100);
                          }
                        }

                        if (i == 2) {
                          $('.js-modalRecargPublic').addClass('modal__view');
                        }
                        disableInput(section);
                        break;
                      }
                    }
                }
            }

            $('#recarga').on('click', function (event) {
                $("#load_recarga_comprar").css("display", "block");
                $("#recarga").css("display", "none");
            });



            $('.js-StepBoxSlide .js-btnNextStepForm.one').on('click', function (event) {
                event.preventDefault();
                $('.js-SpinnerTime').hide();
                var steps = $('.js-stepBox');

                var alertRecarga = false;
                var txtAlertRecarga = "";
                var typeAlert = "warning";
                var inputPhone = $('[data-validate="phone"]');
                var urlValidatePhone = window.location.protocol+'//'+window.location.host;
                var p = $(inputPhone).val();
                if(p.length < 10){
                   alertRecarga = true;
                   txtAlertRecarga = "El número ingresado no tiene un formato válido favor de verificarlo";
                    $('.alert.alert_warning').html(txtAlertRecarga);
                    $('.alert.alert_warning').removeClass("bounceOut");
                    $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function(){
                        $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                    });
                   return; 
                }
                $.ajax({
                    type: 'POST',
                    url: urlValidatePhone + "/recarga-oferta",
                    dataType: "json",
                    data: { 'phone' : p },
                    beforeSend: function() {
                        $('.loading-spiner.tuning').css('display','block');
                        $('.loading-spiner.tuning').children().css('display','block');
                    },
                    success: function(data){

                        //console.log(data);

                        var resultValidatePhone = data;
                        try {
                            $('#offeringID').val(resultValidatePhone.offeringID);
                            tipoPlan =  $('#offeringID').val();
                            dataLayer.push({
                                'event' : 'evRecargaCheckoutP1', //Static data
                                'bool' : 'Exito', //Dynamic data
                                'typePlan': ''+tipoPlan+'',
                                'extInf' : resultValidatePhone.vigenciaFecha //Pintar vigencia
                            });
                            $('#type').val(resultValidatePhone.type);
                            $('#statusbolton').val(resultValidatePhone.statusBolton);
                            var statusbolton = resultValidatePhone.statusBolton;
                            var typeDn = resultValidatePhone.type;
                            var statusDn = resultValidatePhone.statusBolton;
                            var htmlprint = "";
                            var tipoRec = "el monto";
                            if(typeof resultValidatePhone.offer.user === 'undefined'){

                                ajaxtrackingrecarga(p,"Valida existencia DN","typeDN: "+typeDn+" Estatus: "+statusDn+" offeringID:"+resultValidatePhone.offeringID);



                                if(typeof resultValidatePhone.offer[0] === "undefined"){

                                    window.beneficioMix = false;
                                    $.each(resultValidatePhone.offer, function(i, item) {



                                        var pricePrint = parseInt(item.price);
                                        var valuejson = $.parseJSON( item.json );
                                        var promoextra = item.promocion;
                                        var promoNativa = null;

                                        if(typeof valuejson.benefitsBase === 'undefined'){

                                            var dataMB = 0;
                                            var valid = 0;
                                            var validText = "días";
                                            var beneficios = false;
                                            var sms = false;
                                            var voice = false;
                                            var ffn = false;
                                            var idRP = valuejson.id;

                                        } else {

                                            window.beneficioMix = true;

                                            var estatusBeneficios  = valuejson.recordStatus;

                                            if(typeof valuejson.id === 'undefined'){
                                                var idRP = 0;
                                            }else{
                                                var idRP = valuejson.id;
                                            }
                                            if(typeof valuejson.benefitsBase.data === 'undefined'){
                                                var dataMB = 0;
                                            }else{
                                                var dataMB = valuejson.benefitsBase.data[0].amount;
                                                var tipoData = valuejson.benefitsBase.data[0].units;
                                            }


                                            if(typeof valuejson.benefitsBase.validFor === 'undefined'){
                                                var valid = 0;
                                                var validText = "días";
                                            }else{
                                                var valid = parseInt(valuejson.benefitsBase.validFor[0].amount);
                                                var validText = valuejson.benefitsBase.validFor[0].units;
                                                if (validText == "d") {validText = "días";}else{validText = "Meses";}
                                            }


                                            if(typeof valuejson.benefitsBase.sms === 'undefined'){

                                            }else{
                                                var sms = true;
                                            }


                                            if(typeof valuejson.benefitsBase.voice === 'undefined'){

                                            }else{
                                                var voice = true;
                                            }

                                            if(typeof valuejson.benefitsBase.ffn === 'undefined'){

                                            }else{
                                                var ffn = true;
                                                var numFfn = valuejson.benefitsBase.ffn[0].amount;
                                            }

                                            var $addSocial = "";
                                            $arraySocial[idRP] = "";

                                            $addSocial = '<span class="radio-box__row">';

                                            if (sms == true) {
                                                $addSocial += '<span class="radio-box__i i-chat">SMS</span>';
                                                $arraySocial[idRP] += "sms,";
                                            }
                                            if (voice == true) {
                                                $addSocial += '<span class="radio-box__i i-phone">Voice</span><small class="radio-box__txt-small">Ilimitado</small>';
                                                $arraySocial[idRP] += "voice,";
                                            }

                                            $addSocial += '</span>';


                                            if(typeof valuejson.benefitsBase.social === 'undefined'){
                                                var social = "";
                                            }else{
                                                var social = "";
                                                $.each(valuejson.benefitsBase.social, function(s, sitem) {
                                                    var txtscant  = sitem.units;
                                                    var txtSocial = "";
                                                    var scant = parseInt(sitem.amount);

                                                        if (scant == -1) {
                                                            txtSocial = "Ilimitado";
                                                        }else{
                                                            txtSocial = scant+' '+txtscant;

                                                        }

                                                    $addSocial += '<span class="radio-box__row">';

                                                    $.each(sitem.productIds, function( index, value ) {
                                                        $arraySocial[idRP] += value+","; 
                                                        if (value == 4) {
                                                            $addSocial += '<span class="radio-box__i mi-whatsapp">Whatsapp</span>';
                                                            beneficios = true;
                                                            tipoRec = "un paquete";
                                                        }
                                                        if (value == 5) {
                                                            $addSocial += '<span class="radio-box__i mi-facebook-comic">Facebook</span>';
                                                            beneficios = true;
                                                            tipoRec = "un paquete";
                                                        }
                                                        if (value == 6) {
                                                            $addSocial += '<span class="radio-box__i mi-twitter-comic">Twitter</span>';
                                                            beneficios = true;
                                                            tipoRec = "un paquete";
                                                        }
                                                        if (value == 7) {
                                                            $addSocial += '<span class="radio-box__i mi-snapchat">Snapchat</span>';
                                                            beneficios = true;
                                                            tipoRec = "un paquete";
                                                        }
                                                        if (value == 8) {
                                                            $addSocial += '<span class="radio-box__i mi-instagram">Instagram</span>';
                                                            beneficios = true;
                                                            tipoRec = "un paquete";
                                                        }
                                                    });

                                                    $addSocial += '<small class="radio-box__txt-small">'+txtSocial+'</small></span>';

                                                    <!-- SMS Y VOICE-->
                                                    //var fcant = '<small class="radio-box__txt-small">'+txtSocial+'</small>';



                                                    social += $addSocial;
                                                    //social += fcant;

                                                    $addSocial = "";
                                                });
                                                if(typeof valuejson.benefitsBase.topupBalance === 'undefined'){
                                                    promoNativa = null;
                                                }else{
                                                    promoNativaAmount = valuejson.benefitsBase.topupBalance[0].amount;
                                                    promoNativaUnits = valuejson.benefitsBase.topupBalance[0].units;
                                                    if (promoNativaUnits == "MXN") {
                                                        promoNativaUnits = "a tu saldo";
                                                        promoNativaAmount = "$"+promoNativaAmount;
                                                    }else{
                                                        promoNativaUnits = "MB adicionales";
                                                    }
                                                    promoNativa = "+"+promoNativaAmount+" "+promoNativaUnits;

                                                }
                                            }
                                        }

                                        htmlprint += '<li class="radio-box__item">';


                                       // if(idRP !== undefined) {

                                            htmlprint += '  <input class="radio-box__input" id="pack_' + idRP + '" type="radio" name="packs" value="' + idRP + '" data-validate="recarga" data-price="' + pricePrint + '">';

                                            if (typeDn != 3 && (statusDn == 0 || statusbolton == 1) && (dataMB != 0 || beneficios == true) && estatusBeneficios == 1) {


                                                htmlprint += '  <label class="radio-box__label" for="pack_' + idRP + '">';
                                                htmlprint += '    <span class="radio-box__sheet">';
                                                htmlprint += '      <span class="radio-box__row">';

                                                if(dataMB > 0){
                                                    htmlprint += '        <span class="radio-box__txt-high">' + dataMB + ' ' +tipoData+'</span>';
                                                }


                                                if (promoextra != null) {
                                                    htmlprint += '        <small class="radio-box__txt-color">' + promoextra + '</small>';
                                                }
                                                if (promoNativa != null && promoextra == null) {
                                                    htmlprint += '        <small class="radio-box__txt-color">' + promoNativa + '</small>';
                                                }
                                                if (valid == 1) {
                                                    validText = "día";
                                                }
                                                htmlprint += '          <span class="radio-box__txt vigencia">' + valid + ' ' + validText + '</span>';
                                                htmlprint += '        </span>';
                                                htmlprint += '        <span class="radio-box__row">';
                                                htmlprint += '          <small class="radio-box__txt-small">';
                                                if (social != null && social != "") {
                                                    htmlprint += social;
                                                }
                                                if(ffn == true){
                                                    htmlprint += '        <span class="radio-box__row">'+numFfn+' números frecuentes</span>';
                                                }

                                                htmlprint += '          </small>';
                                                htmlprint += '        </span>';
                                                htmlprint += '      </span>';
                                                htmlprint += '      <span class="radio-box__sheet-end"> ';
                                                htmlprint += '       <span class="radio-box__txt-price" data-price="' + pricePrint + '">$' + pricePrint + '</span>';
                                            } else {

                                                if(estatusBeneficios == 0){

                                                }else{
                                                    htmlprint += '  <label class="radio-box__label not-before" for="pack_' + idRP + '">';
                                                    htmlprint += '      <span class="radio-box__sheet-end" style="margin: 0 auto;"> ';
                                                    htmlprint += '       <span class="radio-box__txt-price" data-price="' + pricePrint + '">$' + pricePrint + '</span>';
                                                }

                                            }




                                            htmlprint += '      </span>';
                                            htmlprint += '  </label>';
                                        //}

                                            htmlprint += '</li>';

                                    });
                                }else{

                                    $.each(resultValidatePhone.offer, function(ione, itemone) {

                                        $.each(itemone.subCategories, function(i, item) {
                                            $.each(item.products, function(idos, itemdos) {
                                                var idRP = itemdos.code;
                                                var name = itemdos.name;
                                                var descriptionShort = itemdos.descriptionShort;
                                                var pricePrint = parseInt(itemdos.price.amount);
                                                var validForD = parseInt(itemdos.validFor.amount);
                                                if (validForD > 1) {
                                                    var validForU =  "días";
                                                }else{
                                                    var validForU =  "día";
                                                }
                                                
                                                var promoextra = null;
                                                var promoNativa = null;
                                                htmlprint += '<li class="radio-box__item">';
                                                htmlprint += '  <input class="radio-box__input" id="pack_'+idRP+'" type="radio" name="packs" value="'+idRP+'" data-validate="recarga" data-price="'+pricePrint+'">';
                                                htmlprint += '  <label class="radio-box__label" for="pack_'+idRP+'">';
                                                htmlprint += '    <span class="radio-box__sheet">';
                                                htmlprint += '      <span class="radio-box__row">';
                                                htmlprint += '        <span class="radio-box__txt-high">'+descriptionShort+'</span>';
                                                if (promoextra != null) {
                                                    htmlprint += '        <small class="radio-box__txt-color">'+promoextra+'</small>';
                                                }
                                                if(promoNativa != null && promoextra == null){
                                                    htmlprint += '        <small class="radio-box__txt-color">'+promoNativa+'</small>';
                                                }
                                                htmlprint += '          <span class="radio-box__txt vigencia">'+validForD+' '+validForU+'</span>';
                                                htmlprint += '        </span>';
                                                htmlprint += '        <span class="radio-box__row">';
                                                htmlprint += '          <small class="radio-box__txt-small">';
                                                    var n = name.indexOf("Internet");
                                                    if ( n > -1) {name = "Navegación Libre";}
                                                    var x = name.indexOf("YouTube");
                                                    if ( x > -1) {name = "Para videos: "+name;}
                                                    var y = name.indexOf("Adicional");
                                                    if ( y > -1) {name = "Navegacion Adicional";}
                                                htmlprint += '              '+name+'';
                                                htmlprint += '          </small>';
                                                htmlprint += '        </span>';
                                                htmlprint += '      </span>';
                                                htmlprint += '      <span class="radio-box__sheet-end"> ';
                                                htmlprint += '       <span class="radio-box__txt-price" data-price="'+pricePrint+'">$'+pricePrint+'</span>';
                                                htmlprint += '      </span>';
                                                htmlprint += '  </label>';
                                                htmlprint += '</li>';
                                            });
                                        });
                                    });
                                }

                                $('#etapa-dos').html('Selecciona '+tipoRec);
                                $('#paq_recargas').html(htmlprint);
                                $(function() {
                                  $("#paq_recargas li").sort(sort_li).appendTo('#paq_recargas');
                                  function sort_li(a, b) {
                                    return ($(b).children('input').data('price')) > ($(a).children('input').data('price')) ? 1 : -1;
                                  }
                                });
                            }else{
                                if(resultValidatePhone.offer.user == "Plan Pospago"){
                                    alertRecarga = true;
                                    typeAlert = "danger";
                                    txtAlertRecarga = "El DN proporcionado pertenece a un PLAN POSPAGO no es posible realizar recargas";
                                    ajaxtrackingrecarga(p,"Valida existencia DN","El DN proporcionado pertenece a un PLAN POSPAGO");
                                }else if(resultValidatePhone.offer.user == "Usuario desactivado"){
                                    alertRecarga = true;
                                    typeAlert = "danger";
                                    txtAlertRecarga = "¡Lo sentimos! Esta línea no está activa actualmente. Acude a tu Centro de Atención y Ventas más cercano y con gusto te atenderemos.";
                                    ajaxtrackingrecarga(p,"Valida existencia DN","Usuario desactivado");
                                }else if(resultValidatePhone.offer.user == "DN no identificado"){
                                    alertRecarga = true;
                                    typeAlert = "danger";
                                    txtAlertRecarga = "¡Lo sentimos! Tu número no es Movistar. Te invitamos a cambiarte con nosotros, hazlo <a href='https://www.movistar.com.mx/portabilidad' title='Portabilidad' target='_blank'>&nbsp;aquí&nbsp;</a> en sólo 24 horas y sin ningún costo.";
                                    ajaxtrackingrecarga(p,"Valida existencia DN","DN no pertenece a Telefónica");
                                }else{
                                    alertRecarga = true;
                                    typeAlert = "danger";
                                    txtAlertRecarga = "¡Lo sentimos! Surgió un problema con la comunicación al servidor, favor de intentarlo mas tarde.";
                                    ajaxtrackingrecarga(p,"Valida existencia DN","DN no pertenece a Telefónica");
                                }
                            }

                        } catch (e) {
                            //console.log(e);
                        }
                    },
                    complete: function(){
                        $('.loading-spiner.tuning').css('display','none');
                        $('.loading-spiner.tuning').children().css('display','none');
                        if (alertRecarga == true) {
                            if (typeAlert == "danger") {
                                $('.alert.alert_danger').html(txtAlertRecarga);
                                $('.alert.alert_danger').removeClass("bounceOut");
                                $('.alert.alert_danger').addClass('bounceIn animated').delay(5000).queue(function(){
                                    $('.alert.alert_danger').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                });
                            }
                            if (typeAlert == "success") {
                                $('.alert.alert_warning').html(txtAlertRecarga);
                                $('.alert.alert_warning').removeClass("bounceOut");
                                $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function(){
                                    $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                });
                            }
                        }
                    },
                    error:function (xhr, status, err){
                        dataLayer.push({
                            'event' : 'evRecargaCheckoutP1', //Static data
                            'bool' : 'Error', //Dynamic data
                            'typePlan': ''+tipoPlan+'',
                            'extInf' : 'Sin vigencia' //Pintar vigencia
                        });

                        $('.alert.alert_warning').html("¡Lo sentimos! Tu número no es Movistar. Te invitamos a cambiarte con nosotros, hazlo <a href='https://www.movistar.com.mx/portabilidad' title='Portabilidad' target='_blank'>&nbsp;aquí&nbsp;</a> en sólo 24 horas y sin ningún costo.");
                        $('.alert.alert_warning').removeClass("bounceOut");
                        $('.alert.alert_warning').addClass('bounceIn animated').delay(8000).queue(function(){
                            $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                        });
                        $('#editPhone').trigger('click');
                    }
                });

               nextStepForm(event,1);

            });

            $(document).on("click", ".js-radioPack input[type=radio]", function() {
                $('#panelTwo').addClass('step-box__item_check');
                $('#panelThree').removeClass('step-box__item_disable');
                $("#panelThree input[disabled]").prop("disabled", false);
                $('#rechargechosen').html("");
                $('#codeproduct').val($(this).val());
                $('#servicios').val($arraySocial[$(this).val()]); 

                $(this).parent().find('.radio-box__sheet').clone().appendTo('#rechargechosen');
                $(this).parent().find('.radio-box__sheet-end').clone().appendTo('#rechargechosen');
                var montoRecarga = $(this).data('price');
                var vigenciaPush = $(this).next().find('.vigencia').html();
                $('#montoRecarga').html("$"+montoRecarga);
                dataLayer.push({
                    'event' : 'evRecargaCheckoutP2', //Static data
                    'bool' : 'Exitoso', //Dynamic data
                    'typePlan': ''+tipoPlan+'',
                    'extInf' : ''+vigenciaPush+' - $'+montoRecarga
                });
                if (vigenciaPush == undefined) {vigenciaPush =  "Saldo";}
                var dn = $('#codeMov').val();
                ajaxtrackingrecarga(dn,"Elige monto de Recarga","Vigencia Recarga: "+vigenciaPush+" Monto: "+montoRecarga);
                setStepHistory(2);
                if (window.innerWidth < 800) {
                    var left = "-".concat(2, "00%");
                    $('.step-box__wrap').css("left", left);
                    setTimeout(function () {
                          setHeightForm(3);
                    }, 100);
                }     
            });
            $(document).on("click", ".js-btnNextStepForm.end", function() {    
                nextStepForm(event,3);        
            });   

            $(function () {
                //setStepHistory(0);
                disableInput();
                $('.js-modaEditMediosPago').on('click', function (e) {
                    e.preventDefault();
                    $('.js-modalRecargPublic').removeClass('modal__view');
                    editStep(3);
                });
                $('.js-modal__close_confirmDatos').on('click', function () {
                    $('.js-modalRecargPublic').removeClass('modal__view');
                    $('.js-modalGrandRecargPublic').addClass('modal__view');
                });
                $('.js-abandCompra_btnContinuar').on('click', function () {
                    $('.js-modalRecargPublic').addClass('modal__view');
                    $('.js-modalGrandRecargPublic').removeClass('modal__view');
                });
                $('.js-abandCompra_BtnAband').on('click', function (e) {
                    e.preventDefault();
                    $('.js-modalGrandRecargPublic').removeClass('modal__view');
                    editStep(4);
                });
                $('.js-editStep').on('click', function () {
                    //console.log("Editar Número");
                    var stepBox = $(this).parents().find('.js-stepBox');
                    editStep(stepBox.index());
                });

                window.onresize = function () {
                    if (window.innerWidth < 800) {
                        $('.step-box__wrap').width("".concat($('.js-stepBox').length, "00%"));
                    } else {
                        $('.step-box__wrap').width("100%");
                        $('.js-StepBoxSlide').height('unset');
                    }
                };

                if (window.innerWidth < 800) {
                    setTimeout(function () {
                        setWidhtFormSteps();
                        setHeightForm(0);
                    }, 200);
                }
            });

            $('#codeMov, #NumCredit, #ccv').on('input', function (e) {
                if (!/^[ 0-9áéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ 0-9áéíóúüñ]+/ig, "");
                }
            });

            $('#NumCredit').blur(function(){
                if ($(this).val().length == 16) {
                    $('#ccv').prop('maxLength', 3);
                }else{
                    $('#ccv').prop('maxLength', 4);
                }
            });

            $("#codeMov").on('keydown', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });

            $('#UserCredit').on('input', function (e) {
                if (!/^[ a-záéíóúüñ]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ a-záéíóúüñ]+/ig, "");
                }
            });

            $('#expiration').on('input', function (e) {
                if (!/^[ 0-9\/]*$/i.test(this.value)) {
                    this.value = this.value.replace(/[^ 0-9\/]+/ig, "");
                }
            });

            var flag1 = true;

            $(document).on('keyup','[id=expiration]',function(e){
                if($(this).val().length == 2 && flag1) {
                    $(this).val($(this).val()+"/");
                    flag1 = false;
                }
                if ($(this).val().length < 2 && !flag1) {
                    flag1 = true;
                }
            });
            $(document).on('keydown','[id=expiration]',function(e){
                if($(this).val().length == 2 && flag1) {
                    $(this).val($(this).val()+"/");
                    flag1 = false;
                }
                if ($(this).val().length < 2 && !flag1) {
                    flag1 = true;
                }
            });

            var tokenusuario;
            $.ajax({
                    type: 'POST',
                    url: "<?php echo $block->escapeUrl($tokenEndpoint); ?>",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded",
                    data:  '<?= $tokenData ?>' ,
                    success: function(data){
                        tokenusuario = data.access_token;
                    },
                    complete: function(){

                    },
                    error:function (xhr, status, err){

                    }
            });

            $(document).on("click", "#recarga:not(.disable)", function() {
                event.preventDefault();
                $(this).addClass("disable");
                var alertRecarga = false;
                var txtAlertRecarga = "";
                var typeAlert = "warning";
                var inputPhone = $('[data-validate="phone"]').val();
                var UserCredit = $('#UserCredit').val();
                var NumCredit = $('#NumCredit').val();
                var expiration = $('#expiration').val();
                    expiration = expiration.split("\/");
                    mex = expiration[0];
                    aex = "20"+expiration[1];
                var ccv = $('#ccv').val();
                var priceRecarga = $('#rechargechosen').find('.radio-box__txt-price').data('price');
                var typedn = $('#type').val();
                var offeringIDDn = $('#offeringID').val();
                var codeproductDn =  $('#codeproduct').val();
                var order = [];



                var offer = {
                    'userId':''+inputPhone+'',
                    'totalAmount':priceRecarga,
                    'openAmount':priceRecarga,
                    'productId':'2',
                    'offeringId':''+offeringIDDn+'',
                    'paymentDomicilied':false,
                    'channelId':1,
                    'email':'recargaonlinemovi@gmail.com',
                    'segment':''+typedn+'',
                    'currency':'MXN',
                    'paymentMethod' : {
                        'cardHolderName':''+UserCredit+'',
                        'id':''+NumCredit+'',
                        'expirationMonth':''+mex+'',
                        'expirationYear':''+aex+'',
                        'saveMethod':false,
                        'type':'creditCard',
                        'cvv':''+ccv+''
                    }
                };

                order.push({offer});

                var jsondataOrder = JSON.stringify(order[0].offer);
                var urlAppSaacOrder ='<?php echo $block->escapeUrl($appsaacEndpoint . "/orders"); ?>';
                
                if($(this).hasClass('disabled')){
                     
                }else{
                    $('#recarga').css('opacity','0.5').addClass('disabled');
                    $.ajax({
                        type: 'POST',
                        url: urlAppSaacOrder,
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",   
                        data: jsondataOrder,
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader('Authorization','Bearer ' + tokenusuario ); 
                            xhr.setRequestHeader('Accept','application/json;charset=UTF-8');
                        },
                        success: function(data){
                            var vigenciaEnd = $('#rechargechosen').find('.vigencia').html();
                            var montoEnd = $('#rechargechosen').find('.radio-box__txt-price').data('price');
                            dataLayer.push({
                                'event' : 'evRecargaCheckoutP4', //Static data
                                'bool' : 'Exitoso', //Dynamic data
                                'typePlan': ''+tipoPlan+'',
                                'extInf' : ''+vigenciaEnd+' - $'+montoEnd
                            });
                            var resultRecharge = data;
                            try {
                                txtreferenceCode = data.referenceCode;
                                txtStatus = data.status;
                                txtDate = data.statusDate;
                                if (txtStatus == "charged") {
                                    ajaxtrackingrecarga(inputPhone,"Recarga Exitosa","Monto: "+priceRecarga+" folio: "+data.referenceCode);
                                    txtAlertRecarga = "El cargo ha sido aplicado al DN "+inputPhone+" con el folio: "+data.referenceCode;
                                    $('#dnfinal').val(inputPhone);
                                    $('#paquete').val("Recarga");
                                    $('#montofinal').val(montoEnd);
                                    $('#codrecarga').val(data.referenceCode);
                                    typeAlert = "success";
                                    dataLayer.push({
                                        'event' : 'evRecargaCheckoutP5', //Static data
                                        'bool' : 'Exitoso', //Dynamic data
                                        'extInf' : ''+vigenciaEnd+' - $'+montoEnd,
                                        'typePlan': ''+tipoPlan+'',
                                        'orderID': data.referenceCode,
                                        'fecha':'<?= $fecha ?>'
                                    });
                                }
                                if (txtStatus == "authorized") {
                                    txtAlertRecarga = "El usuario ha autorizado el pago";
                                    typeAlert = "success";
                                    ajaxtrackingrecarga(inputPhone,"Recarga autorizada","Monto: "+priceRecarga);
                                }
                                if (txtStatus == "processing") {
                                    txtAlertRecarga = "El cargo está en proceso";
                                    typeAlert = "success";
                                    ajaxtrackingrecarga(inputPhone,"Recarga en proceso","Monto: "+priceRecarga);
                                }
                                if (txtStatus == "denied") {
                                    txtAlertRecarga = "La operación ha sido negada por el servidor de pagos, debido a un problema con el medio de pago del usuario (saldo insuficiente, tarjeta expirada, etc.)";
                                    $('#recarga').css('opacity','1').removeClass('disabled');
                                    ajaxtrackingrecarga(inputPhone,"Recarga Denegada","Monto: "+priceRecarga);
                                }
                                if (txtStatus == "failed") {
                                    txtAlertRecarga = "La operación no pudo ser completadad debido a un error en el servidor";
                                    $('#recarga').css('opacity','1').removeClass('disabled');
                                    ajaxtrackingrecarga(inputPhone,"Recarga error de Servidor","Monto: "+priceRecarga);
                                }
                                if (txtStatus == "unAuthorized") {
                                    txtAlertRecarga = "El pago no fue autorizado por el usuario";
                                    $('#recarga').css('opacity','1').removeClass('disabled');
                                    ajaxtrackingrecarga(inputPhone,"Recarga NO autorizada","Monto: "+priceRecarga);
                                }
                                if (txtStatus == "pendingAuthorization") {
                                    txtAlertRecarga = "La autorización del usuario esta pendiente";
                                    $('#recarga').css('opacity','1').removeClass('disabled');
                                    ajaxtrackingrecarga(inputPhone,"Recarga pendiente de autorización","Monto: "+priceRecarga);
                                }

                                $("#load_recarga_comprar").css("display", "none");
                                $("#recarga").css("display", "block");

                                $('.alert.alert_success').html(txtAlertRecarga);
                                $('.alert.alert_success').removeClass("bounceOut");
                                $('.alert.alert_success').addClass('bounceIn animated').delay(5000).queue(function(){
                                    $('.alert.alert_success').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                    $('#formEnd').submit();
                                });
                            } catch (e) {
                                $("#load_recarga_comprar").css("display", "none");
                                $("#recarga").css("display", "block");
                            }
                        },
                        complete: function(){
                            $('.loading-spiner.tuning').css('display','none');
                            $('.loading-spiner.tuning').children().css('display','none');
                            if (alertRecarga == true) {
                                if (typeAlert == "danger") {
                                    $('.alert.alert_danger').html(txtAlertRecarga);
                                    $('.alert.alert_danger').removeClass("bounceOut");
                                    $('.alert.alert_danger').addClass('bounceIn animated').delay(5000).queue(function(){
                                        $('.alert.alert_danger').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                    });
                                }
                                if (typeAlert == "success") {
                                    $('.alert.alert_warning').html(txtAlertRecarga);
                                    $('.alert.alert_warning').removeClass("bounceOut");
                                    $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function(){
                                        $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                                    });
                                }
                            }

                            $("#load_recarga_comprar").css("display", "none");
                            $("#recarga").css("display", "block");
                        },
                        error:function (xhr, status, err){
                            var vigenciaEnd = $('#rechargechosen').find('.vigencia').html();
                            var montoEnd = $('#rechargechosen').find('.radio-box__txt-price').data('price');
                            if(xhr.status == 500){
                                txtAlertRecarga = "Falla en la consulta";
                                $('#recarga').css('opacity','1').removeClass('disabled');
                                $('#recarga').css('opacity','1').removeClass('disable')
                                ajaxtrackingrecarga(inputPhone,"Falla en solicitud Pago","Monto: "+priceRecarga);
                                dataLayer.push({
                                    'event' : 'evRecargaCheckoutP4', //Static data
                                    'bool' : 'Error', //Dynamic data
                                    'typePlan': ''+tipoPlan+'',
                                    'extInf' : ''+vigenciaEnd+' - $'+montoEnd+ ' Falla en solicitud Pago'
                                });
                            }
                            if(xhr.status == 422){
                                txtAlertRecarga = xhr.responseJSON.userMessage;
                                $('#recarga').css('opacity','1').removeClass('disabled');
                                $('#recarga').css('opacity','1').removeClass('disable')
                                ajaxtrackingrecarga(inputPhone,"Falla en solicitud Pago","Monto: "+priceRecarga+" Mensaje: "+xhr.responseJSON.userMessage);
                                dataLayer.push({
                                    'event' : 'evRecargaCheckoutP4', //Static data
                                    'bool' : 'Error', //Dynamic data
                                    'typePlan': ''+tipoPlan+'',
                                    'extInf' : ''+vigenciaEnd+' - $'+montoEnd+ ' Falla en solicitud Pago Mensaje: '+xhr.responseJSON.userMessage
                                });
                            }
                            if(xhr.status == 403){
                                txtAlertRecarga = xhr.responseJSON.message;
                                $('#recarga').css('opacity','1').removeClass('disabled');
                                $('#recarga').css('opacity','1').removeClass('disable')
                                ajaxtrackingrecarga(inputPhone,"Falla en solicitud Pago","Monto: "+priceRecarga+" Mensaje: "+xhr.responseJSON.message);
                                dataLayer.push({
                                    'event' : 'evRecargaCheckoutP4', //Static data
                                    'bool' : 'Error', //Dynamic data
                                    'typePlan': ''+tipoPlan+'',
                                    'extInf' : ''+vigenciaEnd+' - $'+montoEnd+ ' Falla en solicitud Pago Mensaje: '+xhr.responseJSON.message
                                });
                            }
                            if(xhr.status == 401){
                                txtAlertRecarga = "Unauthorized";
                                $('#recarga').css('opacity','1').removeClass('disabled');
                                $('#recarga').css('opacity','1').removeClass('disable')
                                ajaxtrackingrecarga(inputPhone,"Falla en solicitud Pago","Monto: "+priceRecarga+" Unauthorized");
                                dataLayer.push({
                                    'event' : 'evRecargaCheckoutP4', //Static data
                                    'bool' : 'Error', //Dynamic data
                                    'typePlan': ''+tipoPlan+'',
                                    'extInf' : ''+vigenciaEnd+' - $'+montoEnd+ ' Falla en solicitud Pago Mensaje: Unauthorized'
                                });
                            }
                            if(xhr.status == 404){
                                txtAlertRecarga = "Not Found";
                                $('#recarga').css('opacity','1').removeClass('disabled');
                                $('#recarga').css('opacity','1').removeClass('disable')
                                ajaxtrackingrecarga(inputPhone,"Falla en solicitud Pago","Monto: "+priceRecarga+" Not Found");
                                dataLayer.push({
                                    'event' : 'evRecargaCheckoutP4', //Static data
                                    'bool' : 'Error', //Dynamic data
                                    'typePlan': ''+tipoPlan+'',
                                    'extInf' : ''+vigenciaEnd+' - $'+montoEnd+ ' Falla en solicitud Pago Mensaje: Not Found'
                                });
                            }
                            if(xhr.status == 400){
                                txtAlertRecarga = xhr.responseJSON.userMessage;
                                $('#recarga').css('opacity','1').removeClass('disabled');
                                $('#recarga').css('opacity','1').removeClass('disable')
                                ajaxtrackingrecarga(inputPhone,"Falla en solicitud Pago","Monto: "+priceRecarga+" Mensaje: "+xhr.responseJSON.userMessage);
                                dataLayer.push({
                                    'event' : 'evRecargaCheckoutP4', //Static data
                                    'bool' : 'Error', //Dynamic data
                                    'typePlan': ''+tipoPlan+'',
                                    'extInf' : ''+vigenciaEnd+' - $'+montoEnd+ ' Falla en solicitud Pago Mensaje: '+xhr.responseJSON.userMessage
                                });
                            }

                            $("#load_recarga_comprar").css("display", "none");
                            $("#recarga").css("display", "block");
                            $('.alert.alert_warning').html(txtAlertRecarga);
                            $('.alert.alert_warning').removeClass("bounceOut");
                            $('.alert.alert_warning').addClass('bounceIn animated').delay(5000).queue(function(){
                                $('.alert.alert_warning').removeClass('bounceIn').addClass('bounceOut animated').dequeue();
                            });
                        }
                    });
                }
                
            });

            function ajaxtrackingrecarga(dn,action,result){
                if (dn != "" && dn != null && dn != " "){
                    var urlTracking = window.location.protocol + '//' + window.location.host;
                    jQuery.ajax({
                        type: 'POST',
                        url: urlTracking + "/recarga-en-linea/",
                        dataType: "html",
                        data: {
                            'phone': dn,
                            'action': action,
                            'result': result
                        },
                        success: function(data) {
                            try {
                               // console.log("Saved");
                            } catch (e) {
                               // console.log("Error");
                            }
                        },
                        complete: function() {},
                        error: function(xhr, status, err) {
                           // console.log("status=" + xhr.responseText + ", error=" + err);
                        }
                    });

                }
            }

        });
    });
</script>