<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<script>
    var require = {
        "baseUrl": "<?= /* @escapeNotVerified */ $block->getViewFileUrl('/') ?>"
    };
</script>
<?php
$customerSessionRenovaciones = $block->getRenovacionesSession();
$cgCategories = $block->getCategories();
?>
<script type="text/javascript">        
        <?php if ($customerSessionRenovaciones->canShowRenewal()) : ?>            
            var userID = '';//no se puede guardar el dn, por lo que el user Id se queda vacio
            var typeLog = 'DN';
            var typeUsr = 'Registrado';
        <?php elseif ($block->isLoggedInMagento()) : ?>            
            var userID = '<?php echo $block->getCustomerId(); ?>';
            var typeLog = 'Correo electrónico';
            var typeUsr = 'Registrado';
        <?php else : ?>            
            var userID = '';
            var typeLog = 'Invitado';
            var typeUsr = 'Invitado';
        <?php endif; ?>                       
            
        try {
            <?php
            // cgCategoria desde el admin
            echo $cgCategories;
            ?>
        }catch(err) {
            console.log('Error GTM: ' + err.message);
        }
        var cgCategoria = cgCategoria || 'Tienda Virtual';
        
        dataLayer = [{
            'cgCategoria': cgCategoria,
            'typeUsr': typeUsr,
            'typeLog': typeLog,
            'userID': userID
        }];
    
        // <!-- Google Tag Manager -->
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '<?php echo $block->getGtmCode(); ?>');
        // <!-- End Google Tag Manager -->
</script>
<script type="application/javascript" charset="UTF-8" src="https://cdn.agentbot.net/core/cbfae469b63d0af6e248b8f15f27cc80.js" async></script>
<!-- begin olark code -->

<script type="application/javascript">
    var func = function () {
        if (window.jQuery) {
            clearInterval(timer);
        }
    }
    var timer = setInterval(func, 1000);
</script>
