<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$redirect = $objectManager->get('\Magento\Framework\App\Response\RedirectInterface');
$referralUrl = $redirect->getRefererUrl(); 
$params =$this->getRequest()->getParams();
$parameterExtra="";
if(strpos($referralUrl,'terminales.html')!==false || (isset($params['renovaciones']) && $params['renovaciones']==1)){
    $parameterExtra="&renovaciones=1";
}
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?= /* @escapeNotVerified */ __('Sort By') ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
        <option value="<?= /* @escapeNotVerified */ $_key.$parameterExtra ?>" label="<?= $block->escapeHtml(__($_order)) ?>"
                <?php if ($block->isOrderCurrent($_key)): ?>
                    selected="selected"
                <?php endif; ?>
                >
                <?= $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select>
    <?php if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <span><?= /* @escapeNotVerified */ __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <span><?= /* @escapeNotVerified */ __('Set Descending Direction') ?></span>
        </a>
    <?php endif; ?>
</div>
<script>

    require([
        'jquery'
    ], function ($) {

        $(document).ready(function () {
            $( ".sorter-options" ).each(function( index ) {
              if($(this).attr('id')){
              }else{
                if(index == 0){
                    $(this).attr('id','sorter');
                }else{
                     $(this).attr('id','sorter-two');
                }
                
              }
            });
        });

    });
</script>