<?php
/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
<div class="iwd_empty_cart_wrapper iwd_main_wrapper">
    <div class="iwd_opc_alternative_wrapper" style="border: 1px solid #ececec; width: 50%; margin: 0 auto; margin-top: 10%; text-align: center; padding: 20px;">
        <div class="iwd_opc_column iwd_opc_empty_cart_column">
            <div class="iwd_opc_alternative_column">
                <div class="iwd_opc_universal_wrapper iwd_opc_column_name">
                    <?php echo __('El carro está vacio'); ?>
                </div>
                <div class="iwd_opc_column_content">
                    <div class="iwd_opc_universal_wrapper iwd_opc_empty_cart_info">
                        <?php echo $block->escapeHtml(
                            __('Agrega algo a tu carrito de compras para comenzar.')
                        ); ?>
                    </div>
                    <div class="iwd_opc_universal_wrapper">
                        <a class="iwd_opc_button active"
                           href="<?php echo $block->getUrl(); ?>"
                           title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
                            <?php echo $block->escapeHtml(__('Continue Shopping')); ?>
                        </a>
                    </div>
                    <?php if ($block->getQuote()->getCustomer()->getId()) { ?>
                        <div class="iwd_opc_universal_wrapper">
                            <a class="iwd_opc_button"
                               href="<?php echo $block->getUrl('customer/account'); ?>"
                               title="<?php echo $block->escapeHtml(__('My Account')); ?>">
                                <?php echo $block->escapeHtml(__('My Account')); ?>
                            </a>
                        </div>
                    <?php } else { ?>
                        <div class="iwd_opc_universal_wrapper">
                            <a class="iwd_opc_button"
                               href="<?php echo $block->getUrl('customer/account/login'); ?>"
                               title="<?php echo $block->escapeHtml(__('Log In')); ?>">
                                <?php echo $block->escapeHtml(__('Log In')); ?>
                            </a>
                        </div>
                    <?php } ?>
                    <div class="iwd_opc_universal_wrapper iwd_empty_cart_powered_by">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
<style type="text/css">
    .page-title-wrapper {
        display: none;
    }
</style>