<!--@subject {{trans "Ejecucion de actualizacion de feeds - "}} {{var data.status }} @-->
<!--@vars {
"var data.status":"Status"
"var data.exicution_msg":"Exicution Message"
"var data.errors_msg":"Errors"
} @-->
 
{{template config_path="design/email/header_template"}} 
<table>
    <tr class="email-summary">
        <td>
            <p>{{trans "Se ha ejecutado la actualización de feeds de productos con resultado: "}} {{var data.status}}</p>
            <p>{{trans "Detalles de la ejecución: "}} {{var data.exicution_msg}}</p>
            <p>{{trans "Errores: "}} {{var data.errors_msg}}</p>
        </td>
    </tr>
   
</table>
 
{{template config_path="design/email/footer_template"}} <!--footer of template-->
