<?php
$blockM = $block->getLayout()->createBlock('Vass\PosVitrinaTerminal\Block\Index');
$link_base = $this->getBaseUrl();
$cel = $blockM->getId('cel');
if(empty($cel)){
    $accion = "No";
}else
{
    $accion = "Yes";
}
?>
<div class="layout">
    <form class="form-gral" id="elige" action="<?= $link_base ?>plan-sin-equipo">
        <fieldset class="layout_inner steps">
            <legend class="steps__legend"><span class="steps__head"><small class="head__title">Tú eliges cómo quieres tu Plan</small></span></legend>

            <div id="load_selected_vitrina" align="center">
                <img src="<?= $block->getViewFileUrl('images/loader-1.gif')?>" alt="Cargando..." height="42" width="42" />
            </div>            
            
            <div class="steps__selected" id="plan_selected_vitrina" style="display: none">
                <ul class="steps__list form-ico_tabs">
                    <!-- Hotfix: INTPOSP-450 #INICIO Se cambia la clase de los iconos> -->
                    <?php if(empty($cel)){ ?>
                        <li class="steps__item">
                            <div class="form-ico">
                                <input class="form__radio" id="plan1" name="plan" value="on" type="radio" checked>
                                <label class="form__radio_label" for="plan1"><span class="form-ico__label icon-minutos_movistar">Sin smartphone</span></label>
                            </div>
                        </li>
                        <li class="steps__item">
                            <div class="form-ico">
                                <input class="form__radio" id="plan2" name="plan" type="radio">
                                <label class="form__radio_label" for="plan2"><span class="form-ico__label icon-minuto_adicional">Con smartphone nuevo</span></label>
                            </div>
                        </li>
                    <?php }else { ?>
                        <li class="steps__item">
                            <div class="form-ico">
                                <input class="form__radio" id="plan11" name="plan" value="on" type="radio">
                                <label class="form__radio_label" for="plan1"><span class="form-ico__label icon-minutos_movistar">Sin smartphone</span></label>
                            </div>
                        </li>
                        <li class="steps__item">
                            <div class="form-ico">
                                <input class="form__radio" id="plan22" name="plan" type="radio" checked>
                                <label class="form__radio_label" for="plan2"><span class="form-ico__label icon-minuto_adicional">Con smartphone nuevo</span></label>
                            </div>
                        </li>
                    <?php } ?>
                    <!-- Hotfix: INTPOSP-450 #INICIO Se cambia la clase de los iconos> -->
                </ul>
            </div>


            <div class="steps__cont">
                <button id="gtm-plans-continue-button" class="js-hideBtnPlan steps__btn btn btn-continue" type="submit">Continuar</button>
            </div>
        </fieldset>
    </form>
</div>

<script>
    require([
        'jquery',
        'matchMedia',
        'mage/tabs',
        'slick',
        'asrange',
        'validateJQ',
        'addMethods',
        'modernizr',
        'flatpickr',
        'confirmDatePlugin',
        'flatpickres',
        'sly',
        'croppie',
        'autocomplete',
        'domReady!',
    ], function ($) {
        jQuery('.btn-continue').on('click', function () {
            window.location.href = ('/plan-sin-equipo').replace("//plan", "/plan");
        })

        if($('form#elige').data('action') == "Yes"){
            $(".js-slideHome3").slick({ //Slider lista de productos
                slidesToShow: 3,
                //centerMode: true,
                prevArrow: $(".prev"),
                nextArrow: $(".next"),
                responsive: [{
                    breakpoint: 540,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                },
                    {
                        breakpoint: 785,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                        }
                    },
                ]
            });

            //DropDown carrusel terminales
            function dropdownCarruselTerminalesPhtml (elem) {
                const el = $(elem)
                const carrusel = $('.js-sliderCont')
                const slider = $('.js-slideHome3')
                if (carrusel.is(":hidden")) {
                    carrusel.slideDown()
                    $('.js-sliderCont .steps__row .spinner').show()
                    slider.hide()
                    slider.slick('slickGoTo', 0)
                    slider.removeClass("js-sliderContOpacity")
                    slider.show()
                    setTimeout(function(){
                        $('.js-sliderCont .steps__row .spinner').hide()
                        slider.addClass("js-sliderContOpacity")
                        slider.resize()
                    }, 700);
                    return undefined
                } else {
                    return carrusel.slideUp()
                }
            }

            $('.js-hideBtnPlan.steps__btn.btn').hide();
            dropdownCarruselTerminalesPhtml('input[name=plan]');

        } 

    });
</script>



            <!-- {{widget type="Magento\Catalog\Block\Product\Widget\NewWidget" display_type="all_products" products_count="5" template="product/widget/new/content/new_grid.phtml"}} -->

            <?php //echo $this->getLayout()->createBlock("Magento\Catalog\Block\Product\Widget\NewWidget")->setDisplayType("all_products")->setProductsCount("5")->setTemplate("product/widget/new/content/new_grid.phtml")->toHtml(); ?>
