<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <center><h2>{{trans "~: Test Email's Details :~"}}</h2></center>
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">

                        <tr>
                            <td><b>{{trans "Product Name :"}}</b></td>
                            <td>{{var productname}}.</td>
                        </tr>
                        <tr>
                            <td><b>{{trans "Name :"}}</b></td>
                            <td>{{var name}}.</td>
                        </tr>
                       <tr>
                            <td><b>{{trans "Email :"}}</b></td>
                            <td>{{var email}}.</td>
                        </tr>
                        <tr >
                            <td><b>{{trans "Mobile Number :"}}</b></td>
                            <td>{{var phone}}.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</div>