<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>
<div class="grid__blocks">
    <?php if($block->showPlanMes()): ?>
    <div class="grid__price"><small class="grid__label_brand2">Plan / mes*</small>
        <div class="grid__value"><span class="price-container <?= /* @escapeNotVerified */ $block->getAdjustmentCssClasses() ?>"
<?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
                                       <?php if ($block->getDisplayLabel()): ?>
                    <span class="price-label"><?= /* @escapeNotVerified */ $block->getDisplayLabel() ?></span>
                                           <?php endif; ?>
                <span class="grid__value-price" <?php if ($block->getPriceId()): ?> id="<?= /* @escapeNotVerified */ $block->getPriceId() ?>-month"<?php endif; ?>
                <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
                                                          data-price-amount="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>"
                                                          data-price-type="<?= /* @escapeNotVerified */ $block->getPriceType() ?>"
                                                          class="price-wrapper <?= /* @escapeNotVerified */ $block->getPriceWrapperCss() ?>">
<?= $block->formatCurrency($block->getDisplayValue(), (bool) $block->getIncludeContainer()) ?>
                <!-- Hotfix: INTPOSP-448 se agrega el texto /mes* como está en la maqueta <?= __FILE__ ?> -->
                <span class="grid__value-disclaimer">/mes*</span>
                </span>
                <!-- Hotfix: INTPOSP-448 se agrega el texto Llévatelo con un plan como está en la maqueta-->
                <span class="list-thumb__txt">Llévatelo con un plan</span>
<?php if ($block->hasAdjustmentsHtml()): ?>
	<?= $block->getAdjustmentsHtml() ?>
<?php endif; ?>
<?php if ($block->getSchema()): ?>
	<meta itemprop="price" content="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>" />
    <meta itemprop="priceCurrency" content="<?= /* @escapeNotVerified */ $block->getDisplayCurrencyCode() ?>" />
<?php endif; ?>
            </span></div>
    </div>
    <?php endif; ?>
    <?php if($block->showPrecioEquipo()): ?>
    <!-- Hotfix: INTPOSP-448 se le agrega la clase: "grid__price_hide" para identificar el segundo item de grid price-->
    <div class="grid__price grid__price_hide"><small class="grid__label_brand">Precio del equipo</small>
        <div class="grid__value">
          <span class="price-container <?= /* @escapeNotVerified */ $block->getAdjustmentCssClasses() ?>"
<?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
            <?php if ($block->getDisplayLabel()): ?>
              <span class="price-label">
            <?= /* @escapeNotVerified */ $block->getDisplayLabel() ?>
              </span>
            <?php endif; ?>
              <span <?php if ($block->getPriceId()): ?> id="<?= /* @escapeNotVerified */ $block->getPriceId() ?>-full"<?php endif; ?>
                <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
                                                          data-price-amount="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>"
                                                          data-price-type="<?= /* @escapeNotVerified */ $block->getPriceType() ?>"
                                                          class="price-wrapper <?= /* @escapeNotVerified */ $block->getPriceWrapperCss() ?>">
                <?php                  
                  $precioPrepago = $block->getDisplayValuePrepago();
                  //echo $precioPrepago;
                ?>
                <?= /* @escapeNotVerified */ $block->formatCurrency($precioPrepago, (bool) $block->getIncludeContainer()) ?>
              
              </span>
            <?php if ($block->hasAdjustmentsHtml()): ?>
              <?= $block->getAdjustmentsHtml() ?>
            <?php endif; ?>
            <?php if ($block->getSchema()): ?>
              <meta itemprop="price" content="<?= /* @escapeNotVerified */ $block->getDisplayValue() ?>" />
              <meta itemprop="priceCurrency" content="<?= /* @escapeNotVerified */ $block->getDisplayCurrencyCode() ?>" />
            <?php endif; ?>
          </span>
        </div>
    </div>
    <?php endif; ?>
</div>

