<div class="checkout-success">
    <main class="content success-problem">
        <section class="layout_section">
            <article class="board board5">
                <header class="board__top-head card-top__warning">                  
                    <div class="card-ico card-ico__warning">
                        <h1 class="card-ico__title i-x-ring"><?= __('Tu renovación no pudo ser procesada'); ?></h1>
                        <p class="card-ico__txt real__white">
                        <?php if ($error = $block->getErrorMessage()) : ?><?= /* @escapeNotVerified */ $error ?><?php endif; ?>
                        </p>
                    </div>
                </header>
                <div class="board__inner board__inner5">
                    <section class="board__cont border-cont5">
                        <div class="board-list border-list5">
                            <?php if ($block->getRealOrderId()) : ?><p class="title__gral"><?= /* @escapeNotVerified */ __('Orden No.') . $block->getRealOrderId() ?></p><?php endif; ?>
                        </div>          
                        <div class="board__side all__width6">
                            <h3 class="board__txt subtitle_gral border-text5"><?= __('¿Necesitas ayuda?'); ?></h3>
                            <p class="board__txt dif-font"><?= __('Para cualquier duda o reclamo por favor escribe un correo a') ?><a class="board__link link__brand" href="mailto:soporte.comprasonline.mx@telefonica.com" title="Escribir al correo">soporte.comprasonline.mx@telefonica.com</a></p>
                        </div>
                    </section>
                    <footer class="board__foot">
                        <a class="board__btn btn" href="<?="/";//$block->getBaseUrl()?>" title="Volver a intentar"><?= __('Volver a intentar'); ?></a>
                    </footer>
                </div>
            </article>
        </section>
    </main>
</div>
<?php
$dataProducts = $block->getDetalleItems($block->getOrderId());
$subTotal=0;
for($i=0;$i<count($dataProducts);$i++){                                    
$subTotal += (float) $dataProducts[$i]['precio'];
}
?>
<script>
    require([
        'jquery'
    ], function ($) {

        $(window).load(function() {                
            dataLayer.push({
              'event': 'Purchase',
              'tipoFlujo':'Renovación',
              'planSelect' : 'Plan con equipo',
              'modTrans' : 'Renovación',
              'ecommerce': {
                'purchase': {
                  'actionField': {
                    'id': '<?php echo $block->getRealOrderId() ; ?>',        // Order ID. Required
                    'bool': false,
                    'affiliation' : 'online',
                    'revenue': '<?= $block->formatNumberGTM($subTotal); ?>',   // Total transaction value (incl. tax and shipping)
                    'tax' : '',
                    'shipping': '0.0',
                    'coupon' : 'N/A',
                  },
                  'products': [
                    <?php for($i=0;$i<count($dataProducts);$i++) { ?>
                    {          // List of products
                        'name': '<?=$dataProducts[$i]['name']?>',  // Name or ID is required.
                        'id': '<?=$dataProducts[$i]['name']?>',
                        'price': '<?=$block->formatNumberGTM($dataProducts[$i]['price'])?>',
                        'brand' : '<?=$dataProducts[$i]['marca']?>',                   //Marca
                        'category': 'Celular',          //Categoría
                        'variant' : 'N/A',              //Variantes (color, memoria, etc)
                        'quantity': 1,                  //Cantidad
                        'dimension28':'Tienda Movistar',    //
                        'dimension29':'<?= $dataProducts[$i]['color'] ?>',
                        'dimension30':'<?= $dataProducts[$i]['capacidad'] ?>',
                        'dimension47':'Renovación'
                   },
                    <?php } ?>
                  ]
                }
              }
            });
            
            dataLayer.push({
               'event' : 'evBoton', //Static data
               'nameSection' : 'Checkout', //Dynamic data
               'btnSelect' : 'Pagar', //Dynamic data
               'orderID' : '<?php echo $block->getRealOrderId(); ?>'
            });                        

            //Measurement Protocol
            function getCookie() {
                var name = "_ga=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length + 6, c.length);
                    }
                }
                return "";
            }
            var sessionGTM = getCookie();

        });
    });
</script>