<?php 
$pdfAviso = '';
$dataCustomer = array();
$quote_has_attacker = true;
$link_media = '';
$grandTotal = 0;
?>
<input type="hidden" name="localStorageRFC" id="localStorageRFC" value="0" >
<input type="hidden" name="localStorageRFC" id="localStorageRFCNEW" >
<div class="layout_section">
    <div class="layout_inner-d">
        <header class="data__header-full">
            <h1 class="title_head">Checkout</h1>
        </header>
        <form  id="msmx-pospago" class="data-step js-formDataStep" action="#" method="post">
            <input type="hidden" name="session_flujo" value="<?= ''; //$blockTerminales->getSessionFlujo()?>" />
            <div class="pos-data__content">
                <fieldset class="step__set i-check step__set_active js-step">
                    <legend class="step__legend"><span class="step__grid"><span class="step__value">1</span><span class="step__title">Tus datos</span></span></legend>
                    <div class="step__lead success_show" id="datos-load">
                        <p class="step__txt" id="div-nombre-dir"></p>
                        <p class="step__txt" id="div-direccion1-dir"></p>
                        <p class="step__txt" id="div-direccion2-dir"></p>
                    </div>
                    <button class="link success_show js-stepReset" type="button" id="changeone">Cambiar</button>
                    <div class="step__content js-stepAccordion">
                        <div class="form__row-high">
                            <div class="form__row-gral">
                                <input class="form__check" type="checkbox" id="checkPrivacyOne" name="avisoPrivacidad" data-validate="checkPrivacyOne">
                                <label class="form__label_check i-check" for="checkPrivacyOne">Acepto <a href="<?= $pdfAviso ?>" target="_blank" title="Ir a aviso de privacidad" class="form__label-link link link__brand"> aviso de privacidad</a></label><small class="js-validateMsg" data-name="avisoPrivacidad"></small>
                            </div>
                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="valid-email">Correo electrónico</label>
                                <input class="form__input" placeholder="Escribe tu correo electronico" type="email" id="valid-email" name="email" value="">
                                <small class="js-validateMsg" data-name="email"></small>
                            </div>
                            <div class="usuario-existente" style="display: none;">
                                
                                <div class="form__row form__row-grid">
                                    <a class="link__brand link__brand_big" href="/customer/account/forgotpassword">No recuerdo mi contraseña</a>
                                    <a class="link__brand link__brand_big" href="/pos-login/index">Login</a>
                                </div>
                            </div>                            
                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="valid-nombre">Nombre</label>
                                <input class="form__input reqCalle" placeholder="Escribe tu nombre" type="text" name="name" id="valid-nombre" data-validate="name" value="" maxlength="53">
                                <small class="js-validateMsg" data-name="name"></small>
                                <div class="form__grid">
                                    <div class="form__grid__item">
                                        <label class="form__label-ico i-star-fill" for="valid-appelido-p" >Apellido paterno</label>
                                        <input class="form__input" placeholder="Escribe tu apellido" type="text" name="lastName" id="valid-appelido-p" data-validate="lastName" value="" maxlength="35">
                                        <small class="js-validateMsg" data-name="lastName"></small>
                                    </div>
                                    <div class="form__grid__item">
                                        <label class="form__label-ico i-star-fill" for="valid-appelido-m">Apellido materno</label>
                                        <input class="form__input" placeholder="Escribe tu apellido" type="text" name="lastName2" id="valid-appelido-m" data-validate="lastName" value="" maxlength="35">
                                        <small class="js-validateMsg" data-name="lastName2"></small>
                                    </div>
                                </div>
                                <div class="form__grid">
                                    <div class="form__grid__item">
                                        <label class="form__label-ico i-star-fill" for="telefono-contacto">Teléfono de contacto</label>
                                        <input class="form__input" placeholder="2221234567" type="text" name="phone" id="telefono-contacto" data-validate="phone" value=""  maxlength="10">
                                        <small class="js-validateMsg" data-name="phone"></small>
                                    </div>
                                    <div class="form__grid__item">
                                        <label class="form__label-ico i-star-fill" for="valida-rfc">RFC con homoclave</label>
                                        <input class="form__input" placeholder="RFC" type="text" name="RFC" id="valida-rfc" data-validate="RFC" value="" maxlength="13" minlength="13">
                                        <small class="js-validateMsg" data-name="RFC"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="codigo-postal-valida">Código postal</label>
                                <input class="form__input" placeholder="00000" type="text" name="postalCode" id="codigo-postal-valida" data-validate="postalCode" value="<?php if ($quote_has_attacker) : echo ''; endif; ?>"<?php if ($quote_has_attacker) : ?> readonly<?php endif; ?> />
                                <small class="js-validateMsg" data-name="postalCode"></small>
                            </div>
                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="calle-domicilio">Domicilio</label>
                                <input class="form__input reqCalle" id="calle-domicilio" placeholder="Escribe tu domicilio" type="text" name="calle" data-validate="street" value="">
                                <small class="js-validateMsg" data-name="calle"></small>
                                <div class="form__grid">
                                    <div class="form__grid__item">
                                        <label class="form__label-ico i-star-fill" for="numero-domicilio">Número</label>
                                        <input type="text" maxlength="10" class="form__input" placeholder="Número" type="text" name="calleNumero" id="numero-domicilio" data-validate="streetNumber" value="">
                                        <small class="js-validateMsg" data-name="calleNumero"></small>
                                    </div>
                                    <div class="form__grid__item">
                                        <label class="form__label-ico i-star-fill" for="colonia">Colonia</label>
                                        <div class="form__inner-select i-a-arrow-down">
                                            <select class="form__select" id="colonia" name="calleColonia" data-validate="colonia">
                                                <option value="">Selecciona</option>
                                            </select>
                                        </div><small class="js-validateMsg" data-name="calleColonia"></small>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="valida-estado">Estado</label>
                                <input class="form__input" placeholder="Estado" type="text" name="estado" id="valida-estado" data-validate="estado" value="" readonly>
                                <input class="form__input" placeholder="IdEstado" type="hidden" name="idestado" id="id-valida-estado" data-validate="idestado" readonly>
                                <small class="js-validateMsg" data-name="estado"></small>
                            </div>
                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="ciudad-valida">Delegación o Municipio</label>
                                <input class="form__input" placeholder="Ciudad" type="text" name="ciudad" id="ciudad-valida" data-validate="city" value="" readonly>
                                <small class="js-validateMsg" data-name="ciudad"></small>
                            </div>
                            <div class="form__row-gral">
                                <input class="form__check" type="checkbox" id="dataToBill" name="dataToBill">
                                <label class="form__label_check i-check" for="dataToBill">Quiero utilizar estos datos para facturar</label>
                            </div>
                            <div class="form__row-high">
                                <p class="form__title-section">Identificación</p>
                            </div>


                            <div class="form__row-gral form__row-none">
                                <label class="form__label-ico i-star-fill" for="INE-IFE">INE / IFE</label>
                                <input class="form__input" placeholder="Número" type="text" name="INE-IFE" id="INE-IFE" data-validate="value"><small class="js-validateMsg" data-name="INE-IFE" ></small>
                            </div>
                            <div class="form__row-gral form__row_divisor form__row_right">
                                <button class="link link__brand link-help i-question-ball dropDownButton" type="button">Dónde encontrar tu número</button>
                                <div class="form__cont form__cont_close js-formCont">
                                    <div class="form__grid">
                                        <div class="form__grid__item"><img class="form__img" src="<?= $link_media . 'pos-form-ine.png' ?>" alt="ejemplo de INE"></div>
                                        <div class="form__grid__item"><img class="form__img" src="<?= $link_media . 'pos-form-ife.png' ?>" alt="ejemplo de IFE"></div>
                                    </div>
                                </div>
                            </div>




                            <div class="form__row-high form__row_block">
                                <p class="form__txt-sm">Tu número telefónico será asignado de acuerdo a tu domicilio de facturación</p>
                            </div>
                        </div>
                        <div class="form__row">
                            <!--a.form__btn.btn(href="car-datos-de-facturacion.html") Continuar-->
                            <button class="form__btn btn js-AccordionBtn pasoTest validaCambiopaso" title="continuar-paso1" type="button" data-validate="active">Continuar</button>
                        </div>
                    </div>
                </fieldset>
                <?php if( false ) : ?>
                <fieldset class="step__set i-check js-step">
                    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title">Consulta de crédito</span></span></legend>
                    <div class="step__lead success_show">
                        <p class="step__txt">Hemos consultado tu score crediticio</p>
                    </div>
                    <button class="link success_show js-stepReset" type="button">Cambiar</button>
                    <div class="step__content js-stepAccordion">
                        <div class="form__row">
                            <div class="form__row-high">
                                <p class="form__title-section">Necesitamos tu información de crédito para mejorar tus términos de pago</p>
                            </div>
                            <div class="form__row-gral">
                                <label class="form__label" for="rfc-traspaso">RFC</label>
                                <input class="form__input" placeholder="CELE 12345678 T90" type="text" id="rfc-traspaso" name="RFC" value="<?= $dataCustomer['customer']['rfc'] ?>" data-validate="RFC" maxlength="13" readonly>
                                <small class="js-validateMsg" data-name="RFC"></small>
                            </div>
                            <!--Credito vigente-->

                            <!-- Hotfix: INTPOSP-452 inicio de donde se cambia la estructura para lograr que el input de TC quede debajo -->
                            <div class="form__row-gral">
                                <label class="form__label-ico i-star-fill">¿Tienes tarjeta de crédito vigente?</label>
                                <div class="form__grid form__grid_align-center">
                                    <div class="form__grid__item form__grid">
                                        <div class="form__grid__item">
                                            <input class="form__radio" type="radio" id="checkout-step2-radio-01" name="checkout-step2-radio1" data-validate="radio" value="1" checked>
                                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-01">Si</label>
                                        </div>
                                        <div class="form__grid__item">
                                            <input class="form__radio" type="radio" id="checkout-step2-radio-02" name="checkout-step2-radio1" data-validate="radio" value="0">
                                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-02">No</label>
                                        </div>
                                    </div>
                                    <small class="js-validateMsg" data-name="checkout-step2-radio1"></small>
                                </div>
                            </div>
                            
                            <!-- HOTFIX-ETEMM-252 -->
                            <div class="form__row-gral">
                                <p class="form__title-section form__title_alert i-alert-triangular">La tarjeta que ingreses deberá ser la misma con la que realices el pago</p>
                            </div>

                            <!-- Hotfix: INTPOSP-452 Fin de bloque cambiado por estructura -->
                            <!-- Hotfix: INTPOSP-452 Inicio Bloque movilizado (Se quitan class="form__grid__item form__grid")-->
                            <div class="form__row-gral">
                                <label class="form__label" for="cod">Últimos 4 dígitos de tu tarjeta</label>
                                <div class="form__relative">
                                    <input class="form__input" type="text" placeholder="1234" name="cod" data-validate="digit4" id="cod" maxlength="4">
                                    <small class="js-validateMsg" data-name="cod"></small>
                                </div>
                            </div>
                            <!-- Hotfix: INTPOSP-452 Fin Bloque movilizado-->
                            <div class="form__row-gral form__row-none data01-valida">
                                <label class="form__label-ico i-star-fill" for="checkout-step2-select-01">Institución</label>
                                <div class="form__inner-select i-a-arrow-down">
                                    <select class="form__select" id="checkout-step2-select-01" name="checkout-step2-select" data-validate="value">
                                        <option value="">Selecciona</option>
                                        <option value="138">ABC CAPITAL</option>
                                        <option value="614">ACCIVAL</option>
                                        <option value="133">ACTINVER</option>
                                        <option value="062">AFIRME</option>
                                        <option value="638">AKALA</option>
                                        <option value="103">AMERICAN EXPRESS</option>
                                        <option value="652">ASEA</option>
                                        <option value="128">AUTOFIN</option>
                                        <option value="127">AZTECA</option>
                                        <option value="030">BAJIO</option>
                                        <option value="145">BBASE</option>
                                        <option value="106">BAMSA</option>
                                        <option value="002">BANAMEX</option>
                                        <option value="006">BANCOMEXT</option>
                                        <option value="137">BANCOPPEL</option>
                                        <option value="131">BANCO FAMSA</option>
                                        <option value="019">BANJERCITO</option>
                                        <option value="009">BANOBRAS</option>
                                        <option value="072">BANORTE</option>
                                        <option value="058">BANREGIO</option>
                                        <option value="166">BANSEFI</option>
                                        <option value="060">BANSI</option>
                                        <option value="129">BARCLAYS</option>
                                        <option value="012">BBVA BANCOMER</option>
                                        <option value="112">BMONEX</option>
                                        <option value="132">BMULTIVA</option>
                                        <option value="632">BULLTICK CB</option>
                                        <option value="610">B&B</option>
                                        <option value="130">COMPARTAMOS</option>
                                        <option value="140">CONSUBANCO</option>
                                        <option value="626">CBDEUTSCHE</option>
                                        <option value="621">CB ACTINVER</option>
                                        <option value="630">CB INTERCAM</option>
                                        <option value="640">CB JPMORGAN</option>
                                        <option value="143">CIBANCO</option>
                                        <option value="631">CI BOLSA</option>
                                        <option value="901">CLS</option>
                                        <option value="126">CREDIT SUISSE</option>
                                        <option value="124">DEUTSCHE</option>
                                        <option value="606">ESTRUCTURADORES</option>
                                        <option value="648">EVERCORE</option>
                                        <option value="616">FINAMEX</option>
                                        <option value="634">FINCOMUN</option>
                                        <option value="601">GBM</option>
                                        <option value="636">HDI SEGUROS</option>
                                        <option value="168">HIPOTECARIA FEDERAL</option>
                                        <option value="021">HSBC</option>
                                        <option value="036">INBURSA</option>
                                        <option value="902">INDEVAL</option>
                                        <option value="116">ING</option>
                                        <option value="037">INTERACCIONES</option>
                                        <option value="136">INTERBANCO</option>
                                        <option value="059">INVEX</option>
                                        <option value="032">IXE</option>
                                        <option value="110">JP MORGAN</option>
                                        <option value="653">KUSPIT</option>
                                        <option value="670">LIBERTAD</option>
                                        <option value="619">MAPFRE</option>
                                        <option value="602">MASARI</option>
                                        <option value="615">MERRILL LYNCH</option>
                                        <option value="042">MIFEL</option>
                                        <option value="600">MONEXCB</option>
                                        <option value="135">NAFIN</option>
                                        <option value="622">OACTIN</option>
                                        <option value="659">OPCIONES EMPRESARIALES DEL NOROESTE</option>
                                        <option value="637">ORDER</option>
                                        <option value="620">PROFUTURO</option>
                                        <option value="642">REFORMA</option>
                                        <option value="014">SANTANDER</option>
                                        <option value="044">SCOTIABANK</option>
                                        <option value="651">SEGMTY</option>
                                        <option value="623">SKANDIA</option>
                                        <option value="649">SKANDIA</option>
                                        <option value="629">SU CASITA</option>
                                        <option value="655">SOFIEXPRESS</option>
                                        <option value="633">STERLING</option>
                                        <option value="646">STP</option>
                                        <option value="647">TELECOMM</option>
                                        <option value="607">TIBER</option>
                                        <option value="102">THE ROYAL BANK</option>
                                        <option value="108">TOKYO</option>
                                        <option value="139">UBS BANK</option>
                                        <option value="656">UNAGRA</option>
                                        <option value="618">UNICA</option>
                                        <option value="617">VALMEX</option>
                                        <option value="605">VALUE</option>
                                        <option value="608">VECTOR</option>
                                        <option value="113">VE POR MAS </option>
                                        <option value="141">VOLKSWAGEN</option>
                                        <option value="134">WAL-MART</option>
                                        <option value="627">ZURICH</option>
                                        <option value="628">ZURICHVI</option>

                                    </select>
                                </div><small class="js-validateMsg" data-name="checkout-step2-select"></small>
                            </div>
                            <input type="hidden" id="selectedBank" name="selectedBank" value="">
                            <!--Credito automotriz-->
                            <div class="form__row-gral">
                                <label class="form__label-ico">¿Tienes algún crédito automotriz en los últimos 24 meses?</label>
                                <div class="form__grid form__grid_align-center">
                                    <div class="form__grid__item form__grid">
                                        <div class="form__grid__item">
                                            <input class="form__radio" type="radio" id="checkout-step2-radio-03" name="checkout-step2-radio2" data-validate="radio" value="1" checked>
                                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-03">Si</label>
                                        </div>
                                        <div class="form__grid__item">
                                            <input class="form__radio" type="radio" id="checkout-step2-radio-04" name="checkout-step2-radio2" data-validate="radio" value="0">
                                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-04">No</label>
                                        </div>
                                    </div><small class="js-validateMsg" data-name="checkout-step2-radio2"></small>
                                </div>
                            </div>
                            <div class="form__row-gral form__row-none data02-valida">
                                <label class="form__label-ico" for="checkout-step2-select-02">Institución</label>
                                <div class="form__inner-select i-a-arrow-down">
                                    <select class="form__select" id="checkout-step2-select-02" name="checkout-step2-select02" data-validate="value">
                                    </select>
                                </div><small class="js-validateMsg" data-name="checkout-step2-select"></small>
                            </div>
                            <!--Credito hipotecario-->
                            <div class="form__row-gral">
                                <label class="form__label-ico">¿Tienes algún crédito hipotecario en los últimos 6 años?</label>
                                <div class="form__grid form__grid_align-center">
                                    <div class="form__grid__item form__grid">
                                        <div class="form__grid__item">
                                            <input class="form__radio" type="radio" id="checkout-step2-radio-05" name="checkout-step2-radio3" data-validate="radio" value="1" checked>
                                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-05">Si</label>
                                        </div>
                                        <div class="form__grid__item">
                                            <input class="form__radio" type="radio" id="checkout-step2-radio-06" name="checkout-step2-radio3" data-validate="radio" value="0">
                                            <label class="form__radio_label pos-form__radio_label" for="checkout-step2-radio-06">No</label>
                                        </div>
                                    </div><small class="js-validateMsg" data-name="checkout-step2-radio3"></small>
                                </div>
                            </div>
                            <div class="form__row-gral form__row-none data03-valida">
                                <label class="form__label-ico" for="checkout-step2-select-03">Institución</label>
                                <div class="form__inner-select i-a-arrow-down">
                                    <select class="form__select" id="checkout-step2-select-03" name="checkout-step2-select03" data-validate="value">
                                    </select>
                                </div><small class="js-validateMsg" data-name="checkout-step2-select03"></small>
                            </div>
                            <div class="form__row-gral form__row_divisor form__row_block">
                                <p class="form__txt-sm">*Considera créditos que tengas actualmente o que hayas pagado en su totalidad</p>
                            </div>
                            <!--Checkbox-->
                            <div class="form__row-high">
                                <input class="form__check" type="checkbox" id="checkPrivacy" name="avisoPrivacidad1" data-validate="checkPrivacy">
                                <label class="form__label_check i-check" for="checkPrivacy">
                                    Acepto<a href="<?= $pdfAviso ?>"  target="_blank" title="Ir a aviso de privacidad" class="form__label-link link link__brand"> aviso de privacidad</a></label><small class="js-validateMsg" data-name="avisoPrivacidad1"></small>
                            </div>
                            <div class="form__row-gral">
                                <input class="form__check" type="checkbox" id="checkout-step2" name="checkout-step2" data-validate="value">
                                <label class="form__label_check i-check" for="checkout-step2">Autorizo a Telefónica Movistar a consultar mi buró de crédito (necesario para continuar)</label><small class="js-validateMsg" data-name="checkout-step2"></small>
                            </div>
                            <div class="form__row-high">
                                <button class="form__btn btn js-AccordionBtn pasoTest" data-validate="active" type="button" title="continuar-paso2">Continuar</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <?php  endif; ?>
                <!--Opciones de envio-->
                <fieldset class="step__set i-check js-step">
                    <legend class="step__legend"><span class="step__grid"><span class="step__value">2</span><span class="step__title">Opciones de envío</span></span></legend>
                    <div class="step__lead success_show">
                        <p class="step__txt" id="viewDelivery"></p>
                    </div>
                    <button class="link success_show js-stepReset" type="button">Cambiar</button>
                    <div class="step__content js-stepAccordion">
                    </div>
                </fieldset>
                    <fieldset class="step__set i-check js-step">
                    <legend class="step__legend"><span class="step__grid"><span class="step__value">4</span><span class="step__title">Contrato</span></span></legend>
                    <div class="step__lead success_show">
                        <p class="step__txt">Ya aceptaste el contrato.</p>
                    </div>
                    <button class="link success_show js-stepReset" type="button">Cambiar</button>

                    <div class="step__content js-stepAccordion">
                    </div>
                </fieldset>
            </div>
            <div class="data-aside js-asideFixed data-aside__sticky">
                <button class="data-aside__btn i-arrow-down js-btnAsideFixed" type="button">
                    <span class="data-aside__box i-arrow-up">
                        <span class="btn-circle i-shopping-car">
                            Carrito de compra
                            <small class="btn-circle-small">1</small>
                        </span>
                        Ir a pagar
                    </span>
                    <span class="data__total">
                        <span class="js-value" id="grandTotalMobile" data-price="<?= $grandTotal ?>">
                            $ <?= 0; ?><sup>*</sup>
                        </span>
                        <span class="js-valueFinal" id="grandTotalMobileEnd" data-price="<?= $grandTotal ?>">
                            $ <?= 0; ?>
                        </span>
                    </span>
                    <span class="data-aside__txt-high">Total</span>
                </button>

                
            </div>
            <div id="drawContractGlobal" style="display:none;"></div>
            
        <div class="data__info">
            <img class="data__info-img" src="<?= $link_media . 'logos-compra_segura.png' ?>" alt="">
        </div>
    </div>
</div>
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
