<?php
$pdfAviso = '';
$dataCustomer = array();
$quote_has_attacker = true;
$link_media = '';
$grandTotal = 0;
?>
<input type="hidden" name="localStorageRFC" id="localStorageRFC" value="0" >
<input type="hidden" name="localStorageRFC" id="localStorageRFCNEW" >
<div class="layout_section">
    <div class="layout_inner-d">
        <header class="data__header-full">
            <h1 class="title_head">Checkout</h1>
        </header>
        <form  id="msmx-pospago" class="data-step js-formDataStep" action="#" method="post">
            <input type="hidden" name="session_flujo" value="<?= ''; //$blockTerminales->getSessionFlujo()   ?>" />
            <div class="pos-data__content">
                <?= $this->getChildHtml('renewals_checkout_customer_info'); ?>

                <?= $this->getChildHtml('renewals_checkout_shipping_info'); ?>

                <?= $this->getChildHtml('renewals_checkout_contract'); ?>

                <?= $this->getChildHtml('renewals_checkout_payment_info'); ?>

            </div>

            <?= $this->getChildHtml('renewals_checkout_resume'); ?>
        </form> 
        <form id="msmx-pospago-checkout-data" method="POST" action="<?= $block->getUrl('renovaciones/contrato/ver'); ?>" style="display: none;" target="_blank"></form>
    </div>
</div>
<div class="alert alert_danger">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_warning">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>
</br>
<div class="alert alert_success">
    <p class="alert__txt"></p>
    <div class="alert__actions">
        <button class="i-x close" type="button"></button>
    </div>
</div>