<?php
$data = $block->getDataItems();
$terminal = $data['terminal']['name'];
$cargoMensualTerminal = round(($data['terminal']['price'] / 24), 2);
$pagarHoy = 0;

$priceTerminal = round($data['terminal']['price'], 2);
$priceTerminalVisual = round($data['terminal']['price'], 2);

$plan = $data['plan']['name'];
$pricePlan = round($data['plan']['price'], 2);


$blim = false;
$priceBlim = 0;
$spotify = false;
$priceSpotify = 0;
$proteccion = false;
$priceProteccion = 0;
$hotspot = false;
$priceHotspot = 0;
$SmartWatch = false;
$mesesSinIntereses = false;
$impuestos = 0;
if (!empty($data['servicios'])) {
    foreach ($data['servicios'] as $_s) {
        switch (strtolower($_s['name'])) {
            case 'blim':
                $blim = $_s['name'];
                $priceBlim = $_s['price'];
                break;
            case 'spotify':
                $spotify = $_s['name'];
                $priceSpotify = $_s['price'];
                break;
            case 'protección de equipo':
                $proteccion = $_s['name'];
                $priceProteccion = $_s['price'];
                break;
            case 'hotspot':
                $hotspot = $_s['name'];
                $priceHotspot = $_s['price'];
                break;
        }
    }
}
$totalMensualidad = round($cargoMensualTerminal + $pricePlan + $priceBlim + $priceSpotify + $priceProteccion + $priceHotspot, 2);
$grandTotal = $pagarHoy;
$minimumCostMsi = 10000;
?>
<div class="data-aside js-asideFixed data-aside__sticky">
    <div class="data-aside__wrap">
        <div class="data-aside__content top">
            <div class="data__header">
                <h2 class="data__title"><?= __('Resumen de tu compra'); ?></h2>
                <span class="steps__head">
                    <small class="head__title head__title__summary steps__title4"><?= sprintf(__('Tu número a renovar: %s'), $block->getDN()); ?></small>
                </span>

                <input class="form__input" placeholder="telefono_reno_order" type="hidden" name="telefono_reno_order" id="telefono_reno_order" data-validate="telefono_reno_order" value="<?php echo htmlspecialchars($block->getDN());?>">

            </div>
            <table class="aside-table__table">
                <thead>
                    <tr class="aside-table__heading">
                        <th><?= __('Equipo'); ?></th>
                        <th class="aside-table__cell"><?= __('Cargo mensual'); ?></th>
                        <th class="aside-table__cell"><?= __('Pagar hoy'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN: Contiene Terminal -->
                    <?php if ($terminal) { ?>
                        <tr class="aside-table__row">
                            <!--<td class="aside-table__cell aside-table__cell_big"></td>-->
                        </tr>
                        <tr class="aside-table__row aside-table__row_bg">
                            <td class="aside-table__cell aside-table__cell_big"><?= $terminal ?></td>
                            <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                <span class="js-value" id="cmTerminal" data-price="0">
                                    <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($cargoMensualTerminal, true, false); ?><sup>*</sup>
                                </span>
                                <span class="js-valueFinal">
                                    <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoy, true, false); ?>
                                </span>
                                <input type="hidden" name="monthlyPaymentTerminal" id="monthlyPaymentTerminal" value="<?= $cargoMensualTerminal; ?>" >
                            </td>
                            <td class="aside-table__cell aside-table__cell_big aside-table__txt">
                                <span class="js-value"id="priceTerminal" data-price="<?= $pagarHoy ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoy, true, false); ?></span>
                                <span class="js-valueFinal"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoy, true, false); ?></span>
                                <input type="hidden" name="paymentTodayFinal" id="paymentTodayFinal" value="<?php echo $pagarHoy; ?>" >
                            </td>
                        </tr>
                    <?php } ?>
                    <!-- END: TErminal-->
                    <?php if ($plan != "") { ?>
                        <tr class="aside-table__row">
                            <td class="aside-table__cell aside-table__label" colspan="3" style="font-size: 1.43rem">Plan</td>
                        </tr>
                        <tr class="aside-table__row aside-table__row_bg aside-table__row_border">
                            <td class="aside-table__cell"><?= $plan ?></td>
                            <td class="aside-table__cell aside-table__txt" id="mplan" data-price="<?= $pricePlan ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pricePlan, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hplan" data-price="0"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($pagarHoy, true, false); ?></td>
                        </tr>
                    <?php } ?>
                    <tr class="aside-table__row aside-table__row_bg">
                        <td class="aside-table__cell aside-table__label_small" colspan="3"><b>Servicios Adicionales</b></td>
                    </tr>
                    <?php if ($blim) { ?>
                        <tr class="aside-table__row aside-table__row_detail aside-table__row_bg">
                            <td class="aside-table__cell">Blim</td>
                            <td class="aside-table__cell aside-table__txt" id="mblim" data-price="<?= $priceBlim ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceBlim, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hblim" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <?php if ($blim) { ?>
                        <tr class="aside-table__row aside-table__row_detail aside-table__row_bg" style="display:none;">
                            <td class="aside-table__cell">Blim</td>
                            <td class="aside-table__cell aside-table__txt" id="mblim" data-price="0"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hblim" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <?php if ($spotify) { ?>
                        <!-- BEGIN: Servicios Opcionales -->
                        <tr class="aside-table__row aside-table__row_detail aside-table__row_bg">
                            <td class="aside-table__cell">Spotify</td>
                            <td class="aside-table__cell aside-table__txt" id="mspotify" data-price="<?= $priceSpotify ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceSpotify, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hspotfy" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <?php if ($spotify) { ?>
                        <!-- BEGIN: Servicios Opcionales -->
                        <tr class="aside-table__row aside-table__row_detail aside-table__row_bg" style="display:none;">
                            <td class="aside-table__cell">Spotify</td>
                            <td class="aside-table__cell aside-table__txt" id="mspotify" data-price="0"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hspotfy" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <?php if ($proteccion) { ?>
                        <tr class="aside-table__row aside-table__row_detail aside-table__row_bg">
                            <td class="aside-table__cell">Protección de equipo</td>
                            <td class="aside-table__cell aside-table__txt" id="mproteccion" data-price="<?= $priceProteccion ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceProteccion, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hproteccion" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <?php if ($proteccion) { ?>
                        <!--<tr class="aside-table__row aside-table__row_end aside-table__row_detail aside-table__row_bg" style="display:none;">
                            <td class="aside-table__cell">Protección de equipo</td>
                            <td class="aside-table__cell aside-table__txt" id="mproteccion" data-price="0"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hproteccion" data-price="0">_ _ _</td>
                        </tr>-->
                    <?php } ?>
                    <?php if ($hotspot) { ?>
                        <tr class="aside-table__row aside-table__row_end aside-table__row_detail aside-table__row_bg">
                            <td class="aside-table__cell">Hotspot</td>
                            <td class="aside-table__cell aside-table__txt" id="mhotspot" data-price="<?= $priceHotspot ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($priceHotspot, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hhotspot" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <?php if ($hotspot) { ?>
                        <tr class="aside-table__row aside-table__row_end aside-table__row_detail aside-table__row_bg" style="display:none;">
                            <td class="aside-table__cell">Hotspot</td>
                            <td class="aside-table__cell aside-table__txt" id="mhotspot" data-price="0"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0, true, false); ?></td>
                            <td class="aside-table__cell aside-table__txt" id="hhotspot" data-price="0">_ _ _</td>
                        </tr>
                    <?php } ?>
                    <!-- END: Servicios Opcionales-->
                    <!-- PROMOCION SMARTWATCH -->
                    <?php if ($SmartWatch): ?>
                        <tr class="aside-table__row aside-table__row_first">
                            <td class="aside-table__cell">SmartWatch</td>
                            <td class="aside-table__cell">&nbsp;</td>
                            <td class="aside-table__cell aside-table__txt">GRATIS</td>
                        </tr>
                    <?php endif; ?>
                    <!-- END: SMARTWATCH-->                            
                    <tr class="aside-table__row aside-table__row_first">
                        <td class="aside-table__cell">Envío</td>
                        <td class="aside-table__cell">&nbsp;</td>
                        <td class="aside-table__cell aside-table__txt">GRATIS</td>
                    </tr>
                    <tr class="aside-table__row" style="display: none;">
                        <td class="aside-table__cell">Impuestos</td>
                        <td class="aside-table__cell">&nbsp;</td>
                        <td class="aside-table__cell aside-table__txt">
                            <span class="js-value"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($impuestos, true, false); ?><sup>*</sup></span>
                            <span class="js-valueFinal"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($impuestos, true, false); ?></span>
                        </td>
                    </tr>
                    <tr class="aside-table__row">
                        <td class="aside-table__cell" colspan="2">Depósito en garantía</td>
                        <td class="aside-table__cell aside-table__txt" id="depositoGarantia" data-price="">_ _ _</td>
                    </tr>
                </tbody>
            </table>
            <dl class="data__list data__sub-summary">
                <dt class="data__term">Tu mensualidad</dt>
                <dd class="data__total">
                    <span class="js-value" id="mGlobal" data-price="<?= $totalMensualidad; ?>">
                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(round($totalMensualidad, 2), true, false); ?><sup>*</sup>
                    </span>
                    <span class="js-valueFinal">
                        <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(round($totalMensualidad, 2), true, false); ?>
                    </span>
                </dd>
                <input type="hidden" name="monthlyPayment" id="monthlyPayment" value="<?= $totalMensualidad; ?>" >
            </dl>
            <dl class="data__list data__summary">
                <dt class="data__term">Total a pagar hoy</dt>
                <dd class="data__total">
                    <span class="js-value" id="grandTotal" data-price="<?= $grandTotal ?>"><b><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal, true, false); ?></b></span>
                    <span class="js-valueFinal" data-price="<?= $grandTotal ?>"><?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($grandTotal, true, false); ?></span>
                </dd>
            </dl>
            <div class="data-aside__row data-aside__foot js-processOrder">
                <button class="form__btn btn" type="button"  id="continuar-checkout-out">
                    PAGAR
                </button>
            </div>
        </div>
        <div class="data-aside__toast">
            <!--Agregar la clase para la interacción: button.js-btnDataClose.data-aside__close.btn-close.i-x(type='button') Salir-->
            <button class="js-btnDataClose data-aside__close btn-close i-x" type="button">Salir</button>
            <p class="data-aside__txt-ico i-cell-money">Los precios de tu carrito se han actualizado</p>
        </div>
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $content = $objectManager->create('\Magento\Cms\Model\BlockFactory')->create();
        $content->load('term.cond.checkout', 'identifier'); // Load static block
        $array['linktyc'] = $block->getTerminos(); //Set variables
        $filter = $objectManager->create('\Magento\Email\Model\Template\Filter');
        $filter->setVariables($array);
        $html = $filter->filter($content->getContent());
        echo $html;
        //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('term.cond.checkout')->toHtml();
        ?>
    </div>
</div>